:root {
    --md-sys-color-background: light-dark(#f8f5ff, #000000);
    --md-sys-color-error: light-dark(#b31b25, #ff716c);
    --md-sys-color-error-container: light-dark(#fb5151, #9f0519);
    --md-sys-color-error-dim: light-dark(#9f0519, #d7383b);
    --md-sys-color-error-palette-key-color: light-dark(#db3a3d, #db3a3d);
    --md-sys-color-inverse-on-surface: light-dark(#959ac6, #4d527a);
    --md-sys-color-inverse-primary: light-dark(#5a8cff, #0057d2);
    --md-sys-color-inverse-surface: light-dark(#05092f, #fbf8ff);
    --md-sys-color-neutral-palette-key-color: light-dark(#6f749e, #6f749e);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#6c73ad, #6c73ad);
    --md-sys-color-on-background: light-dark(#262c51, #e2e3ff);
    --md-sys-color-on-error: light-dark(#ffefee, #490006);
    --md-sys-color-on-error-container: light-dark(#570008, #ffa8a3);
    --md-sys-color-on-primary: light-dark(#f1f2ff, #002a6e);
    --md-sys-color-on-primary-container: light-dark(#001f56, #001f56);
    --md-sys-color-on-primary-fixed: light-dark(#000000, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#002869, #002869);
    --md-sys-color-on-secondary: light-dark(#f3f1ff, #000f6d);
    --md-sys-color-on-secondary-container: light-dark(#2d3ca2, #c8cdff);
    --md-sys-color-on-secondary-fixed: light-dark(#14258f, #14258f);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#3746ac, #3746ac);
    --md-sys-color-on-surface: light-dark(#262c51, #e2e3ff);
    --md-sys-color-on-surface-variant: light-dark(#545981, #a3a8d5);
    --md-sys-color-on-tertiary: light-dark(#ffeef9, #702073);
    --md-sys-color-on-tertiary-container: light-dark(#651469, #651469);
    --md-sys-color-on-tertiary-fixed: light-dark(#47004c, #47004c);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#702072, #702072);
    --md-sys-color-outline: light-dark(#6f749e, #6e739d);
    --md-sys-color-outline-variant: light-dark(#a5aad7, #40456c);
    --md-sys-color-primary: light-dark(#0053cb, #8cacff);
    --md-sys-color-primary-container: light-dark(#769dff, #769dff);
    --md-sys-color-primary-dim: light-dark(#0048b2, #026bfe);
    --md-sys-color-primary-fixed: light-dark(#769dff, #769dff);
    --md-sys-color-primary-fixed-dim: light-dark(#5f8fff, #5f8fff);
    --md-sys-color-primary-palette-key-color: light-dark(#036bfe, #036bfe);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#4351b7, #8796ff);
    --md-sys-color-secondary-container: light-dark(#caceff, #2c3ba1);
    --md-sys-color-secondary-dim: light-dark(#3645ab, #8796ff);
    --md-sys-color-secondary-fixed: light-dark(#caceff, #caceff);
    --md-sys-color-secondary-fixed-dim: light-dark(#b8c0ff, #b8c0ff);
    --md-sys-color-secondary-palette-key-color: light-dark(#606ed5, #606ed5);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f8f5ff, #000000);
    --md-sys-color-surface-bright: light-dark(#f8f5ff, #1e2660);
    --md-sys-color-surface-container: light-dark(#e6e6ff, #0e1442);
    --md-sys-color-surface-container-high: light-dark(#dfe0ff, #131a4c);
    --md-sys-color-surface-container-highest: light-dark(#d8daff, #192056);
    --md-sys-color-surface-container-low: light-dark(#f0efff, #080e38);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#cdd1ff, #05092f);
    --md-sys-color-surface-tint: light-dark(#0053cb, #8cacff);
    --md-sys-color-surface-variant: light-dark(#d8daff, #192056);
    --md-sys-color-tertiary: light-dark(#8c3a8d, #ffb3f9);
    --md-sys-color-tertiary-container: light-dark(#fc9df7, #fc9df7);
    --md-sys-color-tertiary-dim: light-dark(#7e2e80, #fc9df7);
    --md-sys-color-tertiary-fixed: light-dark(#fc9df7, #fc9df7);
    --md-sys-color-tertiary-fixed-dim: light-dark(#ec90e9, #ec90e9);
    --md-sys-color-tertiary-palette-key-color: light-dark(#ac57ab, #ac57ab);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#f8f5ff, #000000);
        --md-sys-color-error: light-dark(#b31b25, #ff716c);
        --md-sys-color-error-container: light-dark(#fb5151, #9f0519);
        --md-sys-color-error-dim: light-dark(#c0262d, #d7383b);
        --md-sys-color-error-palette-key-color: light-dark(#db3a3d, #db3a3d);
        --md-sys-color-inverse-on-surface: light-dark(#959ac6, #4d527a);
        --md-sys-color-inverse-primary: light-dark(#5a8cff, #0057d2);
        --md-sys-color-inverse-surface: light-dark(#05092f, #fbf8ff);
        --md-sys-color-neutral-palette-key-color: light-dark(#6f749e, #6f749e);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#6c73ad, #6c73ad);
        --md-sys-color-on-background: light-dark(#262c51, #e2e3ff);
        --md-sys-color-on-error: light-dark(#ffefee, #490006);
        --md-sys-color-on-error-container: light-dark(#570008, #ffa8a3);
        --md-sys-color-on-primary: light-dark(#f1f2ff, #001d50);
        --md-sys-color-on-primary-container: light-dark(#001f56, #001f56);
        --md-sys-color-on-primary-fixed: light-dark(#000000, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#002869, #002869);
        --md-sys-color-on-secondary: light-dark(#f3f1ff, #000f6d);
        --md-sys-color-on-secondary-container: light-dark(#2d3ca2, #c8cdff);
        --md-sys-color-on-secondary-fixed: light-dark(#14258f, #14258f);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#3746ac, #3746ac);
        --md-sys-color-on-surface: light-dark(#262c51, #e2e3ff);
        --md-sys-color-on-surface-variant: light-dark(#545981, #a3a8d5);
        --md-sys-color-on-tertiary: light-dark(#ffeef9, #3f0043);
        --md-sys-color-on-tertiary-container: light-dark(#651469, #651469);
        --md-sys-color-on-tertiary-fixed: light-dark(#47004c, #47004c);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#702072, #702072);
        --md-sys-color-outline: light-dark(#6f749e, #6e739d);
        --md-sys-color-outline-variant: light-dark(#a5aad7, #40456c);
        --md-sys-color-primary: light-dark(#0053cb, #729aff);
        --md-sys-color-primary-container: light-dark(#769dff, #769dff);
        --md-sys-color-primary-dim: light-dark(#005cdd, #026bfe);
        --md-sys-color-primary-fixed: light-dark(#769dff, #769dff);
        --md-sys-color-primary-fixed-dim: light-dark(#5f8fff, #5f8fff);
        --md-sys-color-primary-palette-key-color: light-dark(#036bfe, #036bfe);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#4351b7, #8796ff);
        --md-sys-color-secondary-container: light-dark(#caceff, #2c3ba1);
        --md-sys-color-secondary-dim: light-dark(#4c5bc1, #5d6bd3);
        --md-sys-color-secondary-fixed: light-dark(#caceff, #caceff);
        --md-sys-color-secondary-fixed-dim: light-dark(#b8c0ff, #b8c0ff);
        --md-sys-color-secondary-palette-key-color: light-dark(#606ed5, #606ed5);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f8f5ff, #000000);
        --md-sys-color-surface-bright: light-dark(#f8f5ff, #1e2660);
        --md-sys-color-surface-container: light-dark(#e6e6ff, #0e1442);
        --md-sys-color-surface-container-high: light-dark(#dfe0ff, #131a4c);
        --md-sys-color-surface-container-highest: light-dark(#d8daff, #192056);
        --md-sys-color-surface-container-low: light-dark(#f0efff, #080e38);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#cdd1ff, #05092f);
        --md-sys-color-surface-tint: light-dark(#0053cb, #729aff);
        --md-sys-color-surface-variant: light-dark(#d8daff, #192056);
        --md-sys-color-tertiary: light-dark(#8c3a8d, #d77dd5);
        --md-sys-color-tertiary-container: light-dark(#fc9df7, #fc9df7);
        --md-sys-color-tertiary-dim: light-dark(#964497, #a954a8);
        --md-sys-color-tertiary-fixed: light-dark(#fc9df7, #fc9df7);
        --md-sys-color-tertiary-fixed-dim: light-dark(#ec90e9, #ec90e9);
        --md-sys-color-tertiary-palette-key-color: light-dark(#ac57ab, #ac57ab);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#f8f5ff, #000000);
        --md-sys-color-error: light-dark(#480005, #ffdedb);
        --md-sys-color-error-container: light-dark(#a0071a, #ff7c76);
        --md-sys-color-error-dim: light-dark(#350003, #ffc7c3);
        --md-sys-color-error-palette-key-color: light-dark(#db3a3d, #db3a3d);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#afc3ff, #003382);
        --md-sys-color-inverse-surface: light-dark(#05092f, #fbf8ff);
        --md-sys-color-neutral-palette-key-color: light-dark(#6f749e, #6f749e);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#6c73ad, #6c73ad);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffc7c3, #60000a);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#c6d4ff, #002869);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary: light-dark(#cdd2ff, #061a87);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #00043a);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#171c41, #e2e3ff);
        --md-sys-color-on-tertiary: light-dark(#ffc1f8, #520057);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #0b000c);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-outline: light-dark(#373c63, #b1b6e4);
        --md-sys-color-outline-variant: light-dark(#474c73, #9ca1ce);
        --md-sys-color-primary: light-dark(#001c4f, #dee5ff);
        --md-sys-color-primary-container: light-dark(#0048b0, #7ca1ff);
        --md-sys-color-primary-dim: light-dark(#00133a, #c6d4ff);
        --md-sys-color-primary-fixed: light-dark(#0048b0, #7ca1ff);
        --md-sys-color-primary-fixed-dim: light-dark(#003d98, #6592ff);
        --md-sys-color-primary-palette-key-color: light-dark(#036bfe, #036bfe);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#000f6b, #e2e3ff);
        --md-sys-color-secondary-container: light-dark(#3544aa, #8f9cff);
        --md-sys-color-secondary-dim: light-dark(#000850, #ced2ff);
        --md-sys-color-secondary-fixed: light-dark(#3544aa, #caceff);
        --md-sys-color-secondary-fixed-dim: light-dark(#28379e, #b8c0ff);
        --md-sys-color-secondary-palette-key-color: light-dark(#606ed5, #606ed5);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f8f5ff, #000000);
        --md-sys-color-surface-bright: light-dark(#f8f5ff, #1e2660);
        --md-sys-color-surface-container: light-dark(#e6e6ff, #0e1442);
        --md-sys-color-surface-container-high: light-dark(#dfe0ff, #131a4c);
        --md-sys-color-surface-container-highest: light-dark(#d8daff, #192056);
        --md-sys-color-surface-container-low: light-dark(#f0efff, #080e38);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#cdd1ff, #05092f);
        --md-sys-color-surface-tint: light-dark(#001c4f, #dee5ff);
        --md-sys-color-surface-variant: light-dark(#d8daff, #192056);
        --md-sys-color-tertiary: light-dark(#3e0041, #ffdbf8);
        --md-sys-color-tertiary-container: light-dark(#7d2d7f, #fc9df7);
        --md-sys-color-tertiary-dim: light-dark(#2d0030, #ffc1f8);
        --md-sys-color-tertiary-fixed: light-dark(#7d2d7f, #fc9df7);
        --md-sys-color-tertiary-fixed-dim: light-dark(#6f1f72, #ec90e9);
        --md-sys-color-tertiary-palette-key-color: light-dark(#ac57ab, #ac57ab);
    }

}
