:root {
    --md-sys-color-background: light-dark(#fff4f3, #240306);
    --md-sys-color-error: light-dark(#b41340, #ff6e84);
    --md-sys-color-error-container: light-dark(#f74b6d, #a70138);
    --md-sys-color-error-dim: light-dark(#a20036, #d73357);
    --md-sys-color-error-palette-key-color: light-dark(#db365a, #db365a);
    --md-sys-color-inverse-on-surface: light-dark(#cd8c8e, #7b4648);
    --md-sys-color-inverse-primary: light-dark(#fb6043, #b22d14);
    --md-sys-color-inverse-surface: light-dark(#240306, #fff8f7);
    --md-sys-color-neutral-palette-key-color: light-dark(#a26769, #a26769);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#ad6165, #ad6165);
    --md-sys-color-on-background: light-dark(#4d2124, #ffdede);
    --md-sys-color-on-error: light-dark(#ffefef, #490013);
    --md-sys-color-on-error-container: light-dark(#510017, #ffb2b9);
    --md-sys-color-on-primary: light-dark(#ffefec, #610a00);
    --md-sys-color-on-primary-container: light-dark(#4c0600, #4c0600);
    --md-sys-color-on-primary-fixed: light-dark(#000000, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#5d0900, #5d0900);
    --md-sys-color-on-secondary: light-dark(#ffefef, #4e0010);
    --md-sys-color-on-secondary-container: light-dark(#85222f, #ffc1c2);
    --md-sys-color-on-secondary-fixed: light-dark(#6a0d1d, #6a0d1d);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#912c37, #912c37);
    --md-sys-color-on-surface: light-dark(#4d2124, #ffdede);
    --md-sys-color-on-surface-variant: light-dark(#834c4e, #dd9a9b);
    --md-sys-color-on-tertiary: light-dark(#feeeff, #5a197b);
    --md-sys-color-on-tertiary-container: light-dark(#4f0970, #4f0970);
    --md-sys-color-on-tertiary-fixed: light-dark(#2b0041, #2b0041);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#58177a, #58177a);
    --md-sys-color-outline: light-dark(#a26769, #a06567);
    --md-sys-color-outline-variant: light-dark(#df9c9d, #6c393c);
    --md-sys-color-primary: light-dark(#ad2911, #ff8f78);
    --md-sys-color-primary-container: light-dark(#ff775c, #ff775c);
    --md-sys-color-primary-dim: light-dark(#9c1c05, #ff7257);
    --md-sys-color-primary-fixed: light-dark(#ff775c, #ff775c);
    --md-sys-color-primary-fixed-dim: light-dark(#fb6043, #fb6043);
    --md-sys-color-primary-palette-key-color: light-dark(#d4452a, #d4452a);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#a03741, #f87982);
    --md-sys-color-secondary-container: light-dark(#ffc3c4, #84222e);
    --md-sys-color-secondary-dim: light-dark(#902b36, #f5777f);
    --md-sys-color-secondary-fixed: light-dark(#ffc3c4, #ffc3c4);
    --md-sys-color-secondary-fixed-dim: light-dark(#ffafb1, #ffafb1);
    --md-sys-color-secondary-palette-key-color: light-dark(#c4525b, #c4525b);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff4f3, #240306);
    --md-sys-color-surface-bright: light-dark(#fff4f3, #52171d);
    --md-sys-color-surface-container: light-dark(#ffe1e1, #36090e);
    --md-sys-color-surface-container-high: light-dark(#ffdada, #3f0d13);
    --md-sys-color-surface-container-highest: light-dark(#ffd2d2, #491218);
    --md-sys-color-surface-container-low: light-dark(#ffedec, #2c0509);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#ffc6c7, #240306);
    --md-sys-color-surface-tint: light-dark(#ad2911, #ff8f78);
    --md-sys-color-surface-variant: light-dark(#ffd2d2, #491218);
    --md-sys-color-tertiary: light-dark(#7e3f9f, #e3a8ff);
    --md-sys-color-tertiary-container: light-dark(#da95fc, #da95fc);
    --md-sys-color-tertiary-dim: light-dark(#713292, #da95fc);
    --md-sys-color-tertiary-fixed: light-dark(#da95fc, #da95fc);
    --md-sys-color-tertiary-fixed-dim: light-dark(#cc88ee, #cc88ee);
    --md-sys-color-tertiary-palette-key-color: light-dark(#9c5cbe, #9c5cbe);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff4f3, #240306);
        --md-sys-color-error: light-dark(#b41340, #ff6e84);
        --md-sys-color-error-container: light-dark(#f74b6d, #a70138);
        --md-sys-color-error-dim: light-dark(#c12048, #d73357);
        --md-sys-color-error-palette-key-color: light-dark(#db365a, #db365a);
        --md-sys-color-inverse-on-surface: light-dark(#cd8c8e, #7b4648);
        --md-sys-color-inverse-primary: light-dark(#f75e40, #b22d14);
        --md-sys-color-inverse-surface: light-dark(#240306, #fff8f7);
        --md-sys-color-neutral-palette-key-color: light-dark(#a26769, #a26769);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#ad6165, #ad6165);
        --md-sys-color-on-background: light-dark(#4d2124, #ffdede);
        --md-sys-color-on-error: light-dark(#ffefef, #490013);
        --md-sys-color-on-error-container: light-dark(#510017, #ffb2b9);
        --md-sys-color-on-primary: light-dark(#ffefec, #470500);
        --md-sys-color-on-primary-container: light-dark(#4c0600, #4c0600);
        --md-sys-color-on-primary-fixed: light-dark(#000000, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#5d0900, #5d0900);
        --md-sys-color-on-secondary: light-dark(#ffefef, #49000e);
        --md-sys-color-on-secondary-container: light-dark(#85222f, #ffc1c2);
        --md-sys-color-on-secondary-fixed: light-dark(#6a0d1d, #6a0d1d);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#912c37, #912c37);
        --md-sys-color-on-surface: light-dark(#4d2124, #ffdede);
        --md-sys-color-on-surface-variant: light-dark(#834c4e, #dd9a9b);
        --md-sys-color-on-tertiary: light-dark(#feeeff, #380053);
        --md-sys-color-on-tertiary-container: light-dark(#4f0970, #4f0970);
        --md-sys-color-on-tertiary-fixed: light-dark(#2b0041, #2b0041);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#58177a, #58177a);
        --md-sys-color-outline: light-dark(#a26769, #a06567);
        --md-sys-color-outline-variant: light-dark(#df9c9d, #6c393c);
        --md-sys-color-primary: light-dark(#ad2911, #ff7257);
        --md-sys-color-primary-container: light-dark(#ff775c, #ff775c);
        --md-sys-color-primary-dim: light-dark(#ba3219, #d14228);
        --md-sys-color-primary-fixed: light-dark(#ff775c, #ff775c);
        --md-sys-color-primary-fixed-dim: light-dark(#fb6043, #fb6043);
        --md-sys-color-primary-palette-key-color: light-dark(#d4452a, #d4452a);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#a03741, #f5777f);
        --md-sys-color-secondary-container: light-dark(#ffc3c4, #84222e);
        --md-sys-color-secondary-dim: light-dark(#ac3f49, #c14f58);
        --md-sys-color-secondary-fixed: light-dark(#ffc3c4, #ffc3c4);
        --md-sys-color-secondary-fixed-dim: light-dark(#ffafb1, #ffafb1);
        --md-sys-color-secondary-palette-key-color: light-dark(#c4525b, #c4525b);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff4f3, #240306);
        --md-sys-color-surface-bright: light-dark(#fff4f3, #52171d);
        --md-sys-color-surface-container: light-dark(#ffe1e1, #36090e);
        --md-sys-color-surface-container-high: light-dark(#ffdada, #3f0d13);
        --md-sys-color-surface-container-highest: light-dark(#ffd2d2, #491218);
        --md-sys-color-surface-container-low: light-dark(#ffedec, #2c0509);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#ffc6c7, #240306);
        --md-sys-color-surface-tint: light-dark(#ad2911, #ff7257);
        --md-sys-color-surface-variant: light-dark(#ffd2d2, #491218);
        --md-sys-color-tertiary: light-dark(#7e3f9f, #c683e8);
        --md-sys-color-tertiary-container: light-dark(#da95fc, #da95fc);
        --md-sys-color-tertiary-dim: light-dark(#8849a9, #9a59bb);
        --md-sys-color-tertiary-fixed: light-dark(#da95fc, #da95fc);
        --md-sys-color-tertiary-fixed-dim: light-dark(#cc88ee, #cc88ee);
        --md-sys-color-tertiary-palette-key-color: light-dark(#9c5cbe, #9c5cbe);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff4f3, #240306);
        --md-sys-color-error: light-dark(#470013, #ffdddf);
        --md-sys-color-error-container: light-dark(#a00035, #ff798c);
        --md-sys-color-error-dim: light-dark(#34000c, #ffc7cb);
        --md-sys-color-error-palette-key-color: light-dark(#db365a, #db365a);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#ffb2a2, #730e00);
        --md-sys-color-inverse-surface: light-dark(#240306, #fff8f7);
        --md-sys-color-neutral-palette-key-color: light-dark(#a26769, #a26769);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#ad6165, #ad6165);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffc6cb, #5f001c);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#ffc8bd, #5d0900);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary: light-dark(#ffc7c8, #5e0216);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #250004);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#3a1215, #ffdede);
        --md-sys-color-on-tertiary: light-dark(#efc6ff, #49006b);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-outline: light-dark(#623134, #eca7a9);
        --md-sys-color-outline-variant: light-dark(#744042, #d49294);
        --md-sys-color-primary: light-dark(#450500, #ffded8);
        --md-sys-color-primary-container: light-dark(#9b1b04, #ff7d63);
        --md-sys-color-primary-dim: light-dark(#330300, #ffc8bd);
        --md-sys-color-primary-fixed: light-dark(#9b1b04, #ff7d63);
        --md-sys-color-primary-fixed-dim: light-dark(#871300, #ff6345);
        --md-sys-color-primary-palette-key-color: light-dark(#d4452a, #d4452a);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#48000e, #ffdede);
        --md-sys-color-secondary-container: light-dark(#8f2a35, #fc7c85);
        --md-sys-color-secondary-dim: light-dark(#350008, #ffc7c8);
        --md-sys-color-secondary-fixed: light-dark(#8f2a35, #ffc3c4);
        --md-sys-color-secondary-fixed-dim: light-dark(#7f1e2b, #ffafb1);
        --md-sys-color-secondary-palette-key-color: light-dark(#c4525b, #c4525b);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff4f3, #240306);
        --md-sys-color-surface-bright: light-dark(#fff4f3, #52171d);
        --md-sys-color-surface-container: light-dark(#ffe1e1, #36090e);
        --md-sys-color-surface-container-high: light-dark(#ffdada, #3f0d13);
        --md-sys-color-surface-container-highest: light-dark(#ffd2d2, #491218);
        --md-sys-color-surface-container-low: light-dark(#ffedec, #2c0509);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#ffc6c7, #240306);
        --md-sys-color-surface-tint: light-dark(#450500, #ffded8);
        --md-sys-color-surface-variant: light-dark(#ffd2d2, #491218);
        --md-sys-color-tertiary: light-dark(#370051, #f7ddff);
        --md-sys-color-tertiary-container: light-dark(#703191, #da95fc);
        --md-sys-color-tertiary-dim: light-dark(#27003c, #efc7ff);
        --md-sys-color-tertiary-fixed: light-dark(#703191, #da95fc);
        --md-sys-color-tertiary-fixed-dim: light-dark(#632484, #cc88ee);
        --md-sys-color-tertiary-palette-key-color: light-dark(#9c5cbe, #9c5cbe);
    }

}
