:root {
    --md-sys-color-background: light-dark(#fdf3ff, #170529);
    --md-sys-color-error: light-dark(#b41340, #ff6e84);
    --md-sys-color-error-container: light-dark(#f74b6d, #a70138);
    --md-sys-color-error-dim: light-dark(#a20036, #d73357);
    --md-sys-color-error-palette-key-color: light-dark(#db365a, #db365a);
    --md-sys-color-inverse-on-surface: light-dark(#ab94c1, #614d75);
    --md-sys-color-inverse-primary: light-dark(#a078ff, #6f39db);
    --md-sys-color-inverse-surface: light-dark(#170529, #fff7fe);
    --md-sys-color-neutral-palette-key-color: light-dark(#846e99, #846e99);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#886ba5, #886ba5);
    --md-sys-color-on-background: light-dark(#39264c, #f2dfff);
    --md-sys-color-on-error: light-dark(#ffefef, #490013);
    --md-sys-color-on-error-container: light-dark(#510017, #ffb2b9);
    --md-sys-color-on-primary: light-dark(#f8f0ff, #3a008c);
    --md-sys-color-on-primary-container: light-dark(#2c006e, #2c006e);
    --md-sys-color-on-primary-fixed: light-dark(#000000, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#370086, #370086);
    --md-sys-color-on-secondary: light-dark(#fbefff, #3d006d);
    --md-sys-color-on-secondary-container: light-dark(#5f2c92, #e3c4ff);
    --md-sys-color-on-secondary-fixed: light-dark(#4b137d, #4b137d);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#69379c, #69379c);
    --md-sys-color-on-surface: light-dark(#39264c, #f2dfff);
    --md-sys-color-on-surface-variant: light-dark(#68537c, #baa2cf);
    --md-sys-color-on-tertiary: light-dark(#ffeff1, #6a0934);
    --md-sys-color-on-tertiary-container: light-dark(#640430, #590029);
    --md-sys-color-on-tertiary-fixed: light-dark(#380017, #380017);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#701039, #701039);
    --md-sys-color-outline: light-dark(#846e99, #836d97);
    --md-sys-color-outline-variant: light-dark(#bca4d1, #534067);
    --md-sys-color-primary: light-dark(#6b34d7, #ba9eff);
    --md-sys-color-primary-container: light-dark(#ae8dff, #ae8dff);
    --md-sys-color-primary-dim: light-dark(#5f23cb, #8553f2);
    --md-sys-color-primary-fixed: light-dark(#ae8dff, #ae8dff);
    --md-sys-color-primary-fixed-dim: light-dark(#a37cff, #a37cff);
    --md-sys-color-primary-palette-key-color: light-dark(#8856f5, #8856f5);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#7543a8, #c38ef9);
    --md-sys-color-secondary-container: light-dark(#e4c6ff, #5f2c91);
    --md-sys-color-secondary-dim: light-dark(#68369b, #bb86f1);
    --md-sys-color-secondary-fixed: light-dark(#e4c6ff, #e4c6ff);
    --md-sys-color-secondary-fixed-dim: light-dark(#dab4ff, #dab4ff);
    --md-sys-color-secondary-palette-key-color: light-dark(#925fc6, #925fc6);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fdf3ff, #170529);
    --md-sys-color-surface-bright: light-dark(#fdf3ff, #3a1e57);
    --md-sys-color-surface-container: light-dark(#f4e2ff, #240e3b);
    --md-sys-color-surface-container-high: light-dark(#f0dbff, #2b1344);
    --md-sys-color-surface-container-highest: light-dark(#ecd4ff, #33184d);
    --md-sys-color-surface-container-low: light-dark(#f9ecff, #1d0832);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#e6c9ff, #170529);
    --md-sys-color-surface-tint: light-dark(#6b34d7, #ba9eff);
    --md-sys-color-surface-variant: light-dark(#ecd4ff, #33184d);
    --md-sys-color-tertiary: light-dark(#9d365b, #ff97b5);
    --md-sys-color-tertiary-container: light-dark(#ff8eb0, #fd81a7);
    --md-sys-color-tertiary-dim: light-dark(#8e294f, #fd81a7);
    --md-sys-color-tertiary-fixed: light-dark(#ff8eb0, #ff8eb0);
    --md-sys-color-tertiary-fixed-dim: light-dark(#f67ca2, #f67ca2);
    --md-sys-color-tertiary-palette-key-color: light-dark(#c05176, #c05176);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fdf3ff, #170529);
        --md-sys-color-error: light-dark(#b41340, #ff6e84);
        --md-sys-color-error-container: light-dark(#f74b6d, #a70138);
        --md-sys-color-error-dim: light-dark(#c12048, #d73357);
        --md-sys-color-error-palette-key-color: light-dark(#db365a, #db365a);
        --md-sys-color-inverse-on-surface: light-dark(#ab94c1, #614d75);
        --md-sys-color-inverse-primary: light-dark(#a078ff, #6f39db);
        --md-sys-color-inverse-surface: light-dark(#170529, #fff7fe);
        --md-sys-color-neutral-palette-key-color: light-dark(#846e99, #846e99);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#886ba5, #886ba5);
        --md-sys-color-on-background: light-dark(#39264c, #f2dfff);
        --md-sys-color-on-error: light-dark(#ffefef, #490013);
        --md-sys-color-on-error-container: light-dark(#510017, #ffb2b9);
        --md-sys-color-on-primary: light-dark(#f8f0ff, #290067);
        --md-sys-color-on-primary-container: light-dark(#2c006e, #2c006e);
        --md-sys-color-on-primary-fixed: light-dark(#000000, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#370086, #370086);
        --md-sys-color-on-secondary: light-dark(#fbefff, #32005c);
        --md-sys-color-on-secondary-container: light-dark(#5f2c92, #e3c4ff);
        --md-sys-color-on-secondary-fixed: light-dark(#4b137d, #4b137d);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#69379c, #69379c);
        --md-sys-color-on-surface: light-dark(#39264c, #f2dfff);
        --md-sys-color-on-surface-variant: light-dark(#68537c, #baa2cf);
        --md-sys-color-on-tertiary: light-dark(#ffeff1, #470020);
        --md-sys-color-on-tertiary-container: light-dark(#640430, #590029);
        --md-sys-color-on-tertiary-fixed: light-dark(#380017, #380017);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#701039, #701039);
        --md-sys-color-outline: light-dark(#846e99, #836d97);
        --md-sys-color-outline-variant: light-dark(#bca4d1, #534067);
        --md-sys-color-primary: light-dark(#6b34d7, #ac8aff);
        --md-sys-color-primary-container: light-dark(#ae8dff, #ae8dff);
        --md-sys-color-primary-dim: light-dark(#7440e1, #8553f2);
        --md-sys-color-primary-fixed: light-dark(#ae8dff, #ae8dff);
        --md-sys-color-primary-fixed-dim: light-dark(#a37cff, #a37cff);
        --md-sys-color-primary-palette-key-color: light-dark(#8856f5, #8856f5);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#7543a8, #bb86f1);
        --md-sys-color-secondary-container: light-dark(#e4c6ff, #5f2c91);
        --md-sys-color-secondary-dim: light-dark(#7e4cb1, #8f5dc3);
        --md-sys-color-secondary-fixed: light-dark(#e4c6ff, #e4c6ff);
        --md-sys-color-secondary-fixed-dim: light-dark(#dab4ff, #dab4ff);
        --md-sys-color-secondary-palette-key-color: light-dark(#925fc6, #925fc6);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fdf3ff, #170529);
        --md-sys-color-surface-bright: light-dark(#fdf3ff, #3a1e57);
        --md-sys-color-surface-container: light-dark(#f4e2ff, #240e3b);
        --md-sys-color-surface-container-high: light-dark(#f0dbff, #2b1344);
        --md-sys-color-surface-container-highest: light-dark(#ecd4ff, #33184d);
        --md-sys-color-surface-container-low: light-dark(#f9ecff, #1d0832);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#e6c9ff, #170529);
        --md-sys-color-surface-tint: light-dark(#6b34d7, #ac8aff);
        --md-sys-color-surface-variant: light-dark(#ecd4ff, #33184d);
        --md-sys-color-tertiary: light-dark(#9d365b, #f0779d);
        --md-sys-color-tertiary-container: light-dark(#ff8eb0, #fd81a7);
        --md-sys-color-tertiary-dim: light-dark(#a93e64, #bd4e74);
        --md-sys-color-tertiary-fixed: light-dark(#ff8eb0, #ff8eb0);
        --md-sys-color-tertiary-fixed-dim: light-dark(#f67ca2, #f67ca2);
        --md-sys-color-tertiary-palette-key-color: light-dark(#c05176, #c05176);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fdf3ff, #170529);
        --md-sys-color-error: light-dark(#470013, #ffdddf);
        --md-sys-color-error-container: light-dark(#a00035, #ff798c);
        --md-sys-color-error-dim: light-dark(#34000c, #ffc7cb);
        --md-sys-color-error-palette-key-color: light-dark(#db365a, #db365a);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#cfbaff, #4500a4);
        --md-sys-color-inverse-surface: light-dark(#170529, #fff7fe);
        --md-sys-color-neutral-palette-key-color: light-dark(#846e99, #846e99);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#886ba5, #886ba5);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffc6cb, #5f001c);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#ddcdff, #370085);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary: light-dark(#e6caff, #420474);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #180030);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#29173c, #f2dfff);
        --md-sys-color-on-tertiary: light-dark(#ffc5d3, #5d002b);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-outline: light-dark(#4a375e, #c8afde);
        --md-sys-color-outline-variant: light-dark(#5a466e, #b29ac8);
        --md-sys-color-primary: light-dark(#280065, #ece0ff);
        --md-sys-color-primary-container: light-dark(#5e21ca, #b191ff);
        --md-sys-color-primary-dim: light-dark(#1c004c, #ddcdff);
        --md-sys-color-primary-fixed: light-dark(#5e21ca, #b191ff);
        --md-sys-color-primary-fixed-dim: light-dark(#5203bf, #a580ff);
        --md-sys-color-primary-palette-key-color: light-dark(#8856f5, #8856f5);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#31005a, #f2dfff);
        --md-sys-color-secondary-container: light-dark(#67359a, #c18cf7);
        --md-sys-color-secondary-dim: light-dark(#230043, #e6caff);
        --md-sys-color-secondary-fixed: light-dark(#67359a, #e4c6ff);
        --md-sys-color-secondary-fixed-dim: light-dark(#5b278d, #dab4ff);
        --md-sys-color-secondary-palette-key-color: light-dark(#925fc6, #925fc6);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fdf3ff, #170529);
        --md-sys-color-surface-bright: light-dark(#fdf3ff, #3a1e57);
        --md-sys-color-surface-container: light-dark(#f4e2ff, #240e3b);
        --md-sys-color-surface-container-high: light-dark(#f0dbff, #2b1344);
        --md-sys-color-surface-container-highest: light-dark(#ecd4ff, #33184d);
        --md-sys-color-surface-container-low: light-dark(#f9ecff, #1d0832);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#e6c9ff, #170529);
        --md-sys-color-surface-tint: light-dark(#280065, #ece0ff);
        --md-sys-color-surface-variant: light-dark(#ecd4ff, #33184d);
        --md-sys-color-tertiary: light-dark(#46001f, #ffdde4);
        --md-sys-color-tertiary-container: light-dark(#8d284e, #fd81a7);
        --md-sys-color-tertiary-dim: light-dark(#330015, #ffc6d3);
        --md-sys-color-tertiary-fixed: light-dark(#8d284e, #ff8eb0);
        --md-sys-color-tertiary-fixed-dim: light-dark(#7d1c42, #f67ca2);
        --md-sys-color-tertiary-palette-key-color: light-dark(#c05176, #c05176);
    }

}
