:root {
    --md-sys-color-background: light-dark(#fef7ff, #15121c);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-dim: light-dark(#a80710, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f6eefd, #322f3a);
    --md-sys-color-inverse-primary: light-dark(#d0bcff, #7213ff);
    --md-sys-color-inverse-surface: light-dark(#322f3a, #e7e0ee);
    --md-sys-color-neutral-palette-key-color: light-dark(#7a7582, #7a7582);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a7484, #7a7484);
    --md-sys-color-on-background: light-dark(#1d1a24, #e7e0ee);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #3c0091);
    --md-sys-color-on-primary-container: light-dark(#5600c9, #e9ddff);
    --md-sys-color-on-primary-fixed: light-dark(#23005c, #23005c);
    --md-sys-color-on-primary-fixed-variant: light-dark(#5600c9, #5600c9);
    --md-sys-color-on-secondary: light-dark(#ffffff, #3b2947);
    --md-sys-color-on-secondary-container: light-dark(#533f5f, #f3daff);
    --md-sys-color-on-secondary-fixed: light-dark(#251431, #251431);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#533f5f, #533f5f);
    --md-sys-color-on-surface: light-dark(#1d1a24, #e7e0ee);
    --md-sys-color-on-surface-variant: light-dark(#494453, #cbc3d5);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #472349);
    --md-sys-color-on-tertiary-container: light-dark(#603960, #ffd6fa);
    --md-sys-color-on-tertiary-fixed: light-dark(#2f0d32, #2f0d32);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#603960, #603960);
    --md-sys-color-outline: light-dark(#7a7484, #958e9e);
    --md-sys-color-outline-variant: light-dark(#cbc3d5, #494453);
    --md-sys-color-primary: light-dark(#7213ff, #d0bcff);
    --md-sys-color-primary-container: light-dark(#e9ddff, #5600c9);
    --md-sys-color-primary-dim: light-dark(#6400e7, #a179ff);
    --md-sys-color-primary-fixed: light-dark(#e9ddff, #e9ddff);
    --md-sys-color-primary-fixed-dim: light-dark(#d0bcff, #d0bcff);
    --md-sys-color-primary-palette-key-color: light-dark(#6f00ff, #6f00ff);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#6b5778, #d7bde4);
    --md-sys-color-secondary-container: light-dark(#f3daff, #533f5f);
    --md-sys-color-secondary-dim: light-dark(#5f4b6b, #f1d6fe);
    --md-sys-color-secondary-fixed: light-dark(#f3daff, #f3daff);
    --md-sys-color-secondary-fixed-dim: light-dark(#d7bde4, #d7bde4);
    --md-sys-color-secondary-palette-key-color: light-dark(#856f91, #856f91);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fef7ff, #15121c);
    --md-sys-color-surface-bright: light-dark(#fef7ff, #3b3743);
    --md-sys-color-surface-container: light-dark(#f3ebfa, #211e28);
    --md-sys-color-surface-container-high: light-dark(#ede5f4, #2c2833);
    --md-sys-color-surface-container-highest: light-dark(#e7e0ee, #37333e);
    --md-sys-color-surface-container-low: light-dark(#f8f1ff, #1d1a24);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #100d16);
    --md-sys-color-surface-dim: light-dark(#dfd7e6, #15121c);
    --md-sys-color-surface-tint: light-dark(#7213ff, #d0bcff);
    --md-sys-color-surface-variant: light-dark(#e8dff2, #494453);
    --md-sys-color-tertiary: light-dark(#7a5079, #e9b6e6);
    --md-sys-color-tertiary-container: light-dark(#ffd6fa, #603960);
    --md-sys-color-tertiary-dim: light-dark(#6c446d, #f8c4f4);
    --md-sys-color-tertiary-fixed: light-dark(#ffd6fa, #ffd6fa);
    --md-sys-color-tertiary-fixed-dim: light-dark(#e9b6e6, #e9b6e6);
    --md-sys-color-tertiary-palette-key-color: light-dark(#946893, #946893);
}
:root[low-contrast] {
    --md-sys-color-background: light-dark(#fef7ff, #15121c);
    --md-sys-color-error: light-dark(#da342e, #ff5449);
    --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
    --md-sys-color-error-dim: light-dark(#c82623, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#9c96a3, #67626f);
    --md-sys-color-inverse-primary: light-dark(#8b56ff, #9160ff);
    --md-sys-color-inverse-surface: light-dark(#322f3a, #e7e0ee);
    --md-sys-color-neutral-palette-key-color: light-dark(#7a7582, #7a7582);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a7484, #7a7484);
    --md-sys-color-on-background: light-dark(#948e9b, #65606d);
    --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
    --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
    --md-sys-color-on-primary: light-dark(#fffbff, #340080);
    --md-sys-color-on-primary-container: light-dark(#8b56ff, #9566ff);
    --md-sys-color-on-primary-fixed: light-dark(#5d00d7, #ceb9ff);
    --md-sys-color-on-primary-fixed-variant: light-dark(#792fff, #ae8cff);
    --md-sys-color-on-secondary: light-dark(#fffbff, #342240);
    --md-sys-color-on-secondary-container: light-dark(#887294, #937c9f);
    --md-sys-color-on-secondary-fixed: light-dark(#594565, #d5bbe1);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#745e80, #b097bc);
    --md-sys-color-on-surface: light-dark(#625d69, #a7a0ae);
    --md-sys-color-on-surface-variant: light-dark(#7e7888, #878091);
    --md-sys-color-on-tertiary: light-dark(#fffbff, #3f1c41);
    --md-sys-color-on-tertiary-container: light-dark(#976b96, #a275a1);
    --md-sys-color-on-tertiary-fixed: light-dark(#663e66, #e6b4e3);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#825882, #c091be);
    --md-sys-color-outline: light-dark(#b6afc0, #575261);
    --md-sys-color-outline-variant: light-dark(#ded6e8, #3c3846);
    --md-sys-color-primary: light-dark(#864dff, #a078ff);
    --md-sys-color-primary-container: light-dark(#e1d2ff, #4700a9);
    --md-sys-color-primary-dim: light-dark(#7b33ff, #a179ff);
    --md-sys-color-primary-fixed: light-dark(#e1d2ff, #6300e4);
    --md-sys-color-primary-fixed-dim: light-dark(#c8b1ff, #4700a9);
    --md-sys-color-primary-palette-key-color: light-dark(#6f00ff, #6f00ff);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#836c8f, #a088ac);
    --md-sys-color-secondary-container: light-dark(#ead0f7, #463351);
    --md-sys-color-secondary-dim: light-dark(#756082, #a089ad);
    --md-sys-color-secondary-fixed: light-dark(#ead0f7, #5e496a);
    --md-sys-color-secondary-fixed-dim: light-dark(#ceb4da, #463351);
    --md-sys-color-secondary-palette-key-color: light-dark(#856f91, #856f91);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fef7ff, #15121c);
    --md-sys-color-surface-bright: light-dark(#fef7ff, #3b3743);
    --md-sys-color-surface-container: light-dark(#f3ebfa, #211e28);
    --md-sys-color-surface-container-high: light-dark(#ede5f4, #2c2833);
    --md-sys-color-surface-container-highest: light-dark(#e7e0ee, #37333e);
    --md-sys-color-surface-container-low: light-dark(#f8f1ff, #1d1a24);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #100d16);
    --md-sys-color-surface-dim: light-dark(#dfd7e6, #15121c);
    --md-sys-color-surface-tint: light-dark(#7213ff, #d0bcff);
    --md-sys-color-surface-variant: light-dark(#e8dff2, #494453);
    --md-sys-color-tertiary: light-dark(#916691, #b082ae);
    --md-sys-color-tertiary-container: light-dark(#fdc9f9, #522c53);
    --md-sys-color-tertiary-dim: light-dark(#845a83, #b082ae);
    --md-sys-color-tertiary-fixed: light-dark(#fdc9f9, #6b436b);
    --md-sys-color-tertiary-fixed-dim: light-dark(#dfaddc, #522c53);
    --md-sys-color-tertiary-palette-key-color: light-dark(#946893, #946893);
}
:root[high-contrast] {
    --md-sys-color-background: light-dark(#fef7ff, #15121c);
    --md-sys-color-error: light-dark(#600004, #ffece9);
    --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
    --md-sys-color-error-dim: light-dark(#480002, #ffedea);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
    --md-sys-color-inverse-primary: light-dark(#d0bcff, #5800cc);
    --md-sys-color-inverse-surface: light-dark(#322f3a, #e7e0ee);
    --md-sys-color-neutral-palette-key-color: light-dark(#7a7582, #7a7582);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a7484, #7a7484);
    --md-sys-color-on-background: light-dark(#1d1a24, #e7e0ee);
    --md-sys-color-on-error: light-dark(#ffffff, #000000);
    --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
    --md-sys-color-on-primary: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-container: light-dark(#ffffff, #100032);
    --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #170041);
    --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-container: light-dark(#ffffff, #140420);
    --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #1a0926);
    --md-sys-color-on-surface: light-dark(#000000, #ffffff);
    --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-container: light-dark(#ffffff, #1b001f);
    --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #230227);
    --md-sys-color-outline: light-dark(#2e2a37, #f5edff);
    --md-sys-color-outline-variant: light-dark(#4c4755, #c7bfd1);
    --md-sys-color-primary: light-dark(#370086, #f5edff);
    --md-sys-color-primary-container: light-dark(#5900d0, #cdb7ff);
    --md-sys-color-primary-dim: light-dark(#280065, #f6edff);
    --md-sys-color-primary-fixed: light-dark(#5900d0, #e9ddff);
    --md-sys-color-primary-fixed-dim: light-dark(#3f0096, #d0bcff);
    --md-sys-color-primary-palette-key-color: light-dark(#6f00ff, #6f00ff);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#372543, #fbebff);
    --md-sys-color-secondary-container: light-dark(#554261, #d3bae0);
    --md-sys-color-secondary-dim: light-dark(#2a1835, #fbecff);
    --md-sys-color-secondary-fixed: light-dark(#554261, #f3daff);
    --md-sys-color-secondary-fixed-dim: light-dark(#3e2b4a, #d7bde4);
    --md-sys-color-secondary-palette-key-color: light-dark(#856f91, #856f91);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fef7ff, #15121c);
    --md-sys-color-surface-bright: light-dark(#fef7ff, #534e5a);
    --md-sys-color-surface-container: light-dark(#e7e0ee, #322f3a);
    --md-sys-color-surface-container-high: light-dark(#d9d2e0, #3e3a45);
    --md-sys-color-surface-container-highest: light-dark(#cbc4d2, #494551);
    --md-sys-color-surface-container-low: light-dark(#f6eefd, #211e28);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#bdb6c4, #15121c);
    --md-sys-color-surface-tint: light-dark(#7213ff, #d0bcff);
    --md-sys-color-surface-variant: light-dark(#e8dff2, #494453);
    --md-sys-color-tertiary: light-dark(#421e44, #ffeafa);
    --md-sys-color-tertiary-container: light-dark(#623b63, #e5b3e2);
    --md-sys-color-tertiary-dim: light-dark(#341136, #ffebfa);
    --md-sys-color-tertiary-fixed: light-dark(#623b63, #ffd6fa);
    --md-sys-color-tertiary-fixed-dim: light-dark(#4a254b, #e9b6e6);
    --md-sys-color-tertiary-palette-key-color: light-dark(#946893, #946893);
}
