:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #080204;
    --md-ref-palette-primary-2: #0e0507;
    --md-ref-palette-primary-3: #12080b;
    --md-ref-palette-primary-4: #150b0e;
    --md-ref-palette-primary-5: #180e11;
    --md-ref-palette-primary-10: #24191c;
    --md-ref-palette-primary-20: #3a2d30;
    --md-ref-palette-primary-30: #514347;
    --md-ref-palette-primary-40: #6a5b5e;
    --md-ref-palette-primary-50: #837377;
    --md-ref-palette-primary-60: #9e8c90;
    --md-ref-palette-primary-70: #b9a7aa;
    --md-ref-palette-primary-80: #d5c2c6;
    --md-ref-palette-primary-90: #f2dde1;
    --md-ref-palette-primary-95: #ffecef;
    --md-ref-palette-primary-96: #fff0f2;
    --md-ref-palette-primary-97: #fff4f5;
    --md-ref-palette-primary-98: #fff8f8;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #060304;
    --md-ref-palette-secondary-2: #0b0607;
    --md-ref-palette-secondary-3: #0f0a0b;
    --md-ref-palette-secondary-4: #120d0e;
    --md-ref-palette-secondary-5: #151011;
    --md-ref-palette-secondary-10: #201a1b;
    --md-ref-palette-secondary-20: #352f30;
    --md-ref-palette-secondary-30: #4c4546;
    --md-ref-palette-secondary-40: #645c5e;
    --md-ref-palette-secondary-50: #7e7576;
    --md-ref-palette-secondary-60: #988e90;
    --md-ref-palette-secondary-70: #b3a9aa;
    --md-ref-palette-secondary-80: #cfc4c5;
    --md-ref-palette-secondary-90: #ebe0e1;
    --md-ref-palette-secondary-95: #faeeef;
    --md-ref-palette-secondary-96: #fdf1f2;
    --md-ref-palette-secondary-97: #fff4f5;
    --md-ref-palette-secondary-98: #fff8f8;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0b000e;
    --md-ref-palette-tertiary-2: #110213;
    --md-ref-palette-tertiary-3: #150518;
    --md-ref-palette-tertiary-4: #19071b;
    --md-ref-palette-tertiary-5: #1c0a1e;
    --md-ref-palette-tertiary-10: #281529;
    --md-ref-palette-tertiary-20: #3e293f;
    --md-ref-palette-tertiary-30: #563f56;
    --md-ref-palette-tertiary-40: #6f576e;
    --md-ref-palette-tertiary-50: #896f88;
    --md-ref-palette-tertiary-60: #a488a2;
    --md-ref-palette-tertiary-70: #bfa2bd;
    --md-ref-palette-tertiary-80: #dcbdd9;
    --md-ref-palette-tertiary-90: #f9d9f6;
    --md-ref-palette-tertiary-95: #ffebfb;
    --md-ref-palette-tertiary-96: #ffeffb;
    --md-ref-palette-tertiary-97: #fff3fa;
    --md-ref-palette-tertiary-98: #fff7fa;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100002;
    --md-ref-palette-error-2: #1a0003;
    --md-ref-palette-error-3: #210005;
    --md-ref-palette-error-4: #270007;
    --md-ref-palette-error-5: #2c0008;
    --md-ref-palette-error-10: #400010;
    --md-ref-palette-error-20: #610f22;
    --md-ref-palette-error-30: #7f2737;
    --md-ref-palette-error-40: #9d3e4d;
    --md-ref-palette-error-50: #bd5665;
    --md-ref-palette-error-60: #dc6f7e;
    --md-ref-palette-error-70: #fc8997;
    --md-ref-palette-error-80: #ffb2b9;
    --md-ref-palette-error-90: #ffdadc;
    --md-ref-palette-error-95: #ffeced;
    --md-ref-palette-error-96: #fff0f0;
    --md-ref-palette-error-97: #fff4f4;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040304;
    --md-ref-palette-neutral-2: #080707;
    --md-ref-palette-neutral-3: #0c0b0b;
    --md-ref-palette-neutral-4: #100e0e;
    --md-ref-palette-neutral-5: #121011;
    --md-ref-palette-neutral-10: #1d1b1b;
    --md-ref-palette-neutral-20: #323030;
    --md-ref-palette-neutral-30: #494646;
    --md-ref-palette-neutral-40: #615d5e;
    --md-ref-palette-neutral-50: #7a7676;
    --md-ref-palette-neutral-60: #949090;
    --md-ref-palette-neutral-70: #afaaaa;
    --md-ref-palette-neutral-80: #cbc5c5;
    --md-ref-palette-neutral-90: #e7e1e1;
    --md-ref-palette-neutral-95: #f6efef;
    --md-ref-palette-neutral-96: #f9f2f2;
    --md-ref-palette-neutral-97: #fcf5f5;
    --md-ref-palette-neutral-98: #fff8f8;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #050304;
    --md-ref-palette-neutral-variant-2: #0a0707;
    --md-ref-palette-neutral-variant-3: #0e0a0b;
    --md-ref-palette-neutral-variant-4: #110d0e;
    --md-ref-palette-neutral-variant-5: #141011;
    --md-ref-palette-neutral-variant-10: #1f1a1b;
    --md-ref-palette-neutral-variant-20: #342f30;
    --md-ref-palette-neutral-variant-30: #4b4546;
    --md-ref-palette-neutral-variant-40: #635d5e;
    --md-ref-palette-neutral-variant-50: #7c7576;
    --md-ref-palette-neutral-variant-60: #978f90;
    --md-ref-palette-neutral-variant-70: #b2a9aa;
    --md-ref-palette-neutral-variant-80: #cdc4c5;
    --md-ref-palette-neutral-variant-90: #eae0e1;
    --md-ref-palette-neutral-variant-95: #f9eeef;
    --md-ref-palette-neutral-variant-96: #fbf1f2;
    --md-ref-palette-neutral-variant-97: #fef4f5;
    --md-ref-palette-neutral-variant-98: #fff8f8;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
