:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000501;
    --md-ref-palette-primary-2: #020903;
    --md-ref-palette-primary-3: #040d05;
    --md-ref-palette-primary-4: #061107;
    --md-ref-palette-primary-5: #09130a;
    --md-ref-palette-primary-6: #0b160c;
    --md-ref-palette-primary-7: #0d180e;
    --md-ref-palette-primary-8: #0f1a10;
    --md-ref-palette-primary-9: #111c12;
    --md-ref-palette-primary-10: #131e14;
    --md-ref-palette-primary-11: #152016;
    --md-ref-palette-primary-12: #172218;
    --md-ref-palette-primary-13: #192419;
    --md-ref-palette-primary-14: #1b261b;
    --md-ref-palette-primary-15: #1d291d;
    --md-ref-palette-primary-16: #1f2b1f;
    --md-ref-palette-primary-17: #212d21;
    --md-ref-palette-primary-18: #232f24;
    --md-ref-palette-primary-19: #263126;
    --md-ref-palette-primary-20: #283328;
    --md-ref-palette-primary-21: #2a352a;
    --md-ref-palette-primary-22: #2c382c;
    --md-ref-palette-primary-23: #2e3a2e;
    --md-ref-palette-primary-24: #303c30;
    --md-ref-palette-primary-25: #333e32;
    --md-ref-palette-primary-26: #354134;
    --md-ref-palette-primary-27: #374337;
    --md-ref-palette-primary-28: #394539;
    --md-ref-palette-primary-29: #3c483b;
    --md-ref-palette-primary-30: #3e4a3d;
    --md-ref-palette-primary-31: #404c3f;
    --md-ref-palette-primary-32: #424f42;
    --md-ref-palette-primary-33: #455144;
    --md-ref-palette-primary-34: #475346;
    --md-ref-palette-primary-35: #495649;
    --md-ref-palette-primary-36: #4c584b;
    --md-ref-palette-primary-37: #4e5a4d;
    --md-ref-palette-primary-38: #505d4f;
    --md-ref-palette-primary-39: #535f52;
    --md-ref-palette-primary-40: #556254;
    --md-ref-palette-primary-41: #586456;
    --md-ref-palette-primary-42: #5a6759;
    --md-ref-palette-primary-43: #5c695b;
    --md-ref-palette-primary-44: #5f6b5e;
    --md-ref-palette-primary-45: #616e60;
    --md-ref-palette-primary-46: #647062;
    --md-ref-palette-primary-47: #667365;
    --md-ref-palette-primary-48: #697567;
    --md-ref-palette-primary-49: #6b786a;
    --md-ref-palette-primary-50: #6e7a6c;
    --md-ref-palette-primary-51: #707d6f;
    --md-ref-palette-primary-52: #738071;
    --md-ref-palette-primary-53: #758274;
    --md-ref-palette-primary-54: #788576;
    --md-ref-palette-primary-55: #7a8778;
    --md-ref-palette-primary-56: #7d8a7b;
    --md-ref-palette-primary-57: #7f8c7e;
    --md-ref-palette-primary-58: #828f80;
    --md-ref-palette-primary-59: #859283;
    --md-ref-palette-primary-60: #879485;
    --md-ref-palette-primary-61: #8a9788;
    --md-ref-palette-primary-62: #8c9a8a;
    --md-ref-palette-primary-63: #8f9c8d;
    --md-ref-palette-primary-64: #929f8f;
    --md-ref-palette-primary-65: #94a192;
    --md-ref-palette-primary-66: #97a495;
    --md-ref-palette-primary-67: #9aa797;
    --md-ref-palette-primary-68: #9ca99a;
    --md-ref-palette-primary-69: #9fac9c;
    --md-ref-palette-primary-70: #a2af9f;
    --md-ref-palette-primary-71: #a4b2a2;
    --md-ref-palette-primary-72: #a7b4a4;
    --md-ref-palette-primary-73: #aab7a7;
    --md-ref-palette-primary-74: #acbaaa;
    --md-ref-palette-primary-75: #afbcac;
    --md-ref-palette-primary-76: #b2bfaf;
    --md-ref-palette-primary-77: #b5c2b2;
    --md-ref-palette-primary-78: #b7c5b4;
    --md-ref-palette-primary-79: #bac7b7;
    --md-ref-palette-primary-80: #bdcaba;
    --md-ref-palette-primary-81: #c0cdbc;
    --md-ref-palette-primary-82: #c2d0bf;
    --md-ref-palette-primary-83: #c5d3c2;
    --md-ref-palette-primary-84: #c8d5c5;
    --md-ref-palette-primary-85: #cbd8c7;
    --md-ref-palette-primary-86: #cedbca;
    --md-ref-palette-primary-87: #d0decd;
    --md-ref-palette-primary-88: #d3e1d0;
    --md-ref-palette-primary-89: #d6e3d2;
    --md-ref-palette-primary-90: #d9e6d5;
    --md-ref-palette-primary-91: #dce9d8;
    --md-ref-palette-primary-92: #deecdb;
    --md-ref-palette-primary-93: #e1efdd;
    --md-ref-palette-primary-94: #e4f2e0;
    --md-ref-palette-primary-95: #e7f5e3;
    --md-ref-palette-primary-96: #eaf8e6;
    --md-ref-palette-primary-97: #edfae9;
    --md-ref-palette-primary-98: #f0fdeb;
    --md-ref-palette-primary-99: #f6fff1;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #010502;
    --md-ref-palette-secondary-2: #040904;
    --md-ref-palette-secondary-3: #070d07;
    --md-ref-palette-secondary-4: #091009;
    --md-ref-palette-secondary-5: #0c130c;
    --md-ref-palette-secondary-6: #0e150e;
    --md-ref-palette-secondary-7: #111711;
    --md-ref-palette-secondary-8: #131913;
    --md-ref-palette-secondary-9: #151b14;
    --md-ref-palette-secondary-10: #171d16;
    --md-ref-palette-secondary-11: #191f18;
    --md-ref-palette-secondary-12: #1b211a;
    --md-ref-palette-secondary-13: #1d231c;
    --md-ref-palette-secondary-14: #1f251e;
    --md-ref-palette-secondary-15: #212720;
    --md-ref-palette-secondary-16: #232a22;
    --md-ref-palette-secondary-17: #252c24;
    --md-ref-palette-secondary-18: #272e26;
    --md-ref-palette-secondary-19: #293029;
    --md-ref-palette-secondary-20: #2b322b;
    --md-ref-palette-secondary-21: #2d342d;
    --md-ref-palette-secondary-22: #30372f;
    --md-ref-palette-secondary-23: #323931;
    --md-ref-palette-secondary-24: #343b33;
    --md-ref-palette-secondary-25: #363d35;
    --md-ref-palette-secondary-26: #384038;
    --md-ref-palette-secondary-27: #3b423a;
    --md-ref-palette-secondary-28: #3d443c;
    --md-ref-palette-secondary-29: #3f463e;
    --md-ref-palette-secondary-30: #424940;
    --md-ref-palette-secondary-31: #444b43;
    --md-ref-palette-secondary-32: #464d45;
    --md-ref-palette-secondary-33: #495047;
    --md-ref-palette-secondary-34: #4b524a;
    --md-ref-palette-secondary-35: #4d544c;
    --md-ref-palette-secondary-36: #50574e;
    --md-ref-palette-secondary-37: #525950;
    --md-ref-palette-secondary-38: #545b53;
    --md-ref-palette-secondary-39: #575e55;
    --md-ref-palette-secondary-40: #596058;
    --md-ref-palette-secondary-41: #5c635a;
    --md-ref-palette-secondary-42: #5e655c;
    --md-ref-palette-secondary-43: #60685f;
    --md-ref-palette-secondary-44: #636a61;
    --md-ref-palette-secondary-45: #656d63;
    --md-ref-palette-secondary-46: #686f66;
    --md-ref-palette-secondary-47: #6a7268;
    --md-ref-palette-secondary-48: #6d746b;
    --md-ref-palette-secondary-49: #6f776d;
    --md-ref-palette-secondary-50: #727970;
    --md-ref-palette-secondary-51: #747c72;
    --md-ref-palette-secondary-52: #777e75;
    --md-ref-palette-secondary-53: #798177;
    --md-ref-palette-secondary-54: #7c837a;
    --md-ref-palette-secondary-55: #7f867c;
    --md-ref-palette-secondary-56: #81887f;
    --md-ref-palette-secondary-57: #848b81;
    --md-ref-palette-secondary-58: #868e84;
    --md-ref-palette-secondary-59: #899086;
    --md-ref-palette-secondary-60: #8b9389;
    --md-ref-palette-secondary-61: #8e958b;
    --md-ref-palette-secondary-62: #91988e;
    --md-ref-palette-secondary-63: #939b91;
    --md-ref-palette-secondary-64: #969d93;
    --md-ref-palette-secondary-65: #99a096;
    --md-ref-palette-secondary-66: #9ba398;
    --md-ref-palette-secondary-67: #9ea59b;
    --md-ref-palette-secondary-68: #a1a89e;
    --md-ref-palette-secondary-69: #a3aba0;
    --md-ref-palette-secondary-70: #a6ada3;
    --md-ref-palette-secondary-71: #a9b0a6;
    --md-ref-palette-secondary-72: #abb3a8;
    --md-ref-palette-secondary-73: #aeb5ab;
    --md-ref-palette-secondary-74: #b1b8ae;
    --md-ref-palette-secondary-75: #b4bbb0;
    --md-ref-palette-secondary-76: #b6beb3;
    --md-ref-palette-secondary-77: #b9c0b6;
    --md-ref-palette-secondary-78: #bcc3b8;
    --md-ref-palette-secondary-79: #bfc6bb;
    --md-ref-palette-secondary-80: #c1c9be;
    --md-ref-palette-secondary-81: #c4cbc0;
    --md-ref-palette-secondary-82: #c7cec3;
    --md-ref-palette-secondary-83: #cad1c6;
    --md-ref-palette-secondary-84: #cdd4c9;
    --md-ref-palette-secondary-85: #cfd7cb;
    --md-ref-palette-secondary-86: #d2d9ce;
    --md-ref-palette-secondary-87: #d5dcd1;
    --md-ref-palette-secondary-88: #d8dfd4;
    --md-ref-palette-secondary-89: #dbe2d7;
    --md-ref-palette-secondary-90: #dde5d9;
    --md-ref-palette-secondary-91: #e0e7dc;
    --md-ref-palette-secondary-92: #e3eadf;
    --md-ref-palette-secondary-93: #e6ede2;
    --md-ref-palette-secondary-94: #e9f0e5;
    --md-ref-palette-secondary-95: #ecf3e7;
    --md-ref-palette-secondary-96: #eff6ea;
    --md-ref-palette-secondary-97: #f2f9ed;
    --md-ref-palette-secondary-98: #f4fcf0;
    --md-ref-palette-secondary-99: #f7fef3;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000501;
    --md-ref-palette-tertiary-2: #000a02;
    --md-ref-palette-tertiary-3: #020e03;
    --md-ref-palette-tertiary-4: #031105;
    --md-ref-palette-tertiary-5: #051407;
    --md-ref-palette-tertiary-6: #071709;
    --md-ref-palette-tertiary-7: #09190b;
    --md-ref-palette-tertiary-8: #0b1b0d;
    --md-ref-palette-tertiary-9: #0d1d0f;
    --md-ref-palette-tertiary-10: #0f1f11;
    --md-ref-palette-tertiary-11: #112113;
    --md-ref-palette-tertiary-12: #132315;
    --md-ref-palette-tertiary-13: #152517;
    --md-ref-palette-tertiary-14: #172718;
    --md-ref-palette-tertiary-15: #192a1a;
    --md-ref-palette-tertiary-16: #1b2c1c;
    --md-ref-palette-tertiary-17: #1d2e1e;
    --md-ref-palette-tertiary-18: #203020;
    --md-ref-palette-tertiary-19: #223223;
    --md-ref-palette-tertiary-20: #243425;
    --md-ref-palette-tertiary-21: #263727;
    --md-ref-palette-tertiary-22: #283929;
    --md-ref-palette-tertiary-23: #2a3b2b;
    --md-ref-palette-tertiary-24: #2c3d2d;
    --md-ref-palette-tertiary-25: #2f402f;
    --md-ref-palette-tertiary-26: #314231;
    --md-ref-palette-tertiary-27: #334433;
    --md-ref-palette-tertiary-28: #354636;
    --md-ref-palette-tertiary-29: #384938;
    --md-ref-palette-tertiary-30: #3a4b3a;
    --md-ref-palette-tertiary-31: #3c4d3c;
    --md-ref-palette-tertiary-32: #3e503e;
    --md-ref-palette-tertiary-33: #415241;
    --md-ref-palette-tertiary-34: #435443;
    --md-ref-palette-tertiary-35: #455745;
    --md-ref-palette-tertiary-36: #485947;
    --md-ref-palette-tertiary-37: #4a5c4a;
    --md-ref-palette-tertiary-38: #4c5e4c;
    --md-ref-palette-tertiary-39: #4f614e;
    --md-ref-palette-tertiary-40: #516351;
    --md-ref-palette-tertiary-41: #536553;
    --md-ref-palette-tertiary-42: #566855;
    --md-ref-palette-tertiary-43: #586a58;
    --md-ref-palette-tertiary-44: #5b6d5a;
    --md-ref-palette-tertiary-45: #5d6f5c;
    --md-ref-palette-tertiary-46: #60725f;
    --md-ref-palette-tertiary-47: #627461;
    --md-ref-palette-tertiary-48: #647764;
    --md-ref-palette-tertiary-49: #677966;
    --md-ref-palette-tertiary-50: #697c68;
    --md-ref-palette-tertiary-51: #6c7e6b;
    --md-ref-palette-tertiary-52: #6e816d;
    --md-ref-palette-tertiary-53: #718470;
    --md-ref-palette-tertiary-54: #738672;
    --md-ref-palette-tertiary-55: #768975;
    --md-ref-palette-tertiary-56: #788b77;
    --md-ref-palette-tertiary-57: #7b8e7a;
    --md-ref-palette-tertiary-58: #7e907c;
    --md-ref-palette-tertiary-59: #80937f;
    --md-ref-palette-tertiary-60: #839681;
    --md-ref-palette-tertiary-61: #859884;
    --md-ref-palette-tertiary-62: #889b86;
    --md-ref-palette-tertiary-63: #8b9e89;
    --md-ref-palette-tertiary-64: #8da08b;
    --md-ref-palette-tertiary-65: #90a38e;
    --md-ref-palette-tertiary-66: #92a691;
    --md-ref-palette-tertiary-67: #95a893;
    --md-ref-palette-tertiary-68: #98ab96;
    --md-ref-palette-tertiary-69: #9aae98;
    --md-ref-palette-tertiary-70: #9db09b;
    --md-ref-palette-tertiary-71: #a0b39e;
    --md-ref-palette-tertiary-72: #a2b6a0;
    --md-ref-palette-tertiary-73: #a5b9a3;
    --md-ref-palette-tertiary-74: #a8bba5;
    --md-ref-palette-tertiary-75: #aabea8;
    --md-ref-palette-tertiary-76: #adc1ab;
    --md-ref-palette-tertiary-77: #b0c4ad;
    --md-ref-palette-tertiary-78: #b3c6b0;
    --md-ref-palette-tertiary-79: #b5c9b3;
    --md-ref-palette-tertiary-80: #b8ccb5;
    --md-ref-palette-tertiary-81: #bbcfb8;
    --md-ref-palette-tertiary-82: #bed1bb;
    --md-ref-palette-tertiary-83: #c0d4be;
    --md-ref-palette-tertiary-84: #c3d7c0;
    --md-ref-palette-tertiary-85: #c6dac3;
    --md-ref-palette-tertiary-86: #c9ddc6;
    --md-ref-palette-tertiary-87: #cbe0c8;
    --md-ref-palette-tertiary-88: #cee2cb;
    --md-ref-palette-tertiary-89: #d1e5ce;
    --md-ref-palette-tertiary-90: #d4e8d1;
    --md-ref-palette-tertiary-91: #d7ebd3;
    --md-ref-palette-tertiary-92: #daeed6;
    --md-ref-palette-tertiary-93: #dcf1d9;
    --md-ref-palette-tertiary-94: #dff4dc;
    --md-ref-palette-tertiary-95: #e2f6df;
    --md-ref-palette-tertiary-96: #e5f9e1;
    --md-ref-palette-tertiary-97: #e8fce4;
    --md-ref-palette-tertiary-98: #ebffe7;
    --md-ref-palette-tertiary-99: #f6fff1;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030403;
    --md-ref-palette-neutral-2: #070806;
    --md-ref-palette-neutral-3: #0a0b0a;
    --md-ref-palette-neutral-4: #0d0e0d;
    --md-ref-palette-neutral-5: #101110;
    --md-ref-palette-neutral-6: #131412;
    --md-ref-palette-neutral-7: #151614;
    --md-ref-palette-neutral-8: #171816;
    --md-ref-palette-neutral-9: #191a18;
    --md-ref-palette-neutral-10: #1b1c1a;
    --md-ref-palette-neutral-11: #1d1e1c;
    --md-ref-palette-neutral-12: #1f201e;
    --md-ref-palette-neutral-13: #212220;
    --md-ref-palette-neutral-14: #232422;
    --md-ref-palette-neutral-15: #252624;
    --md-ref-palette-neutral-16: #272826;
    --md-ref-palette-neutral-17: #292a28;
    --md-ref-palette-neutral-18: #2c2c2b;
    --md-ref-palette-neutral-19: #2e2e2d;
    --md-ref-palette-neutral-20: #30312f;
    --md-ref-palette-neutral-21: #323331;
    --md-ref-palette-neutral-22: #343533;
    --md-ref-palette-neutral-23: #373735;
    --md-ref-palette-neutral-24: #393937;
    --md-ref-palette-neutral-25: #3b3c3a;
    --md-ref-palette-neutral-26: #3d3e3c;
    --md-ref-palette-neutral-27: #40403e;
    --md-ref-palette-neutral-28: #424240;
    --md-ref-palette-neutral-29: #444543;
    --md-ref-palette-neutral-30: #464745;
    --md-ref-palette-neutral-31: #494947;
    --md-ref-palette-neutral-32: #4b4b49;
    --md-ref-palette-neutral-33: #4d4e4c;
    --md-ref-palette-neutral-34: #50504e;
    --md-ref-palette-neutral-35: #525250;
    --md-ref-palette-neutral-36: #555553;
    --md-ref-palette-neutral-37: #575755;
    --md-ref-palette-neutral-38: #595a57;
    --md-ref-palette-neutral-39: #5c5c5a;
    --md-ref-palette-neutral-40: #5e5e5c;
    --md-ref-palette-neutral-41: #61615f;
    --md-ref-palette-neutral-42: #636361;
    --md-ref-palette-neutral-43: #666663;
    --md-ref-palette-neutral-44: #686866;
    --md-ref-palette-neutral-45: #6b6b68;
    --md-ref-palette-neutral-46: #6d6d6b;
    --md-ref-palette-neutral-47: #70706d;
    --md-ref-palette-neutral-48: #727270;
    --md-ref-palette-neutral-49: #757572;
    --md-ref-palette-neutral-50: #777775;
    --md-ref-palette-neutral-51: #7a7a77;
    --md-ref-palette-neutral-52: #7c7c7a;
    --md-ref-palette-neutral-53: #7f7f7c;
    --md-ref-palette-neutral-54: #81817f;
    --md-ref-palette-neutral-55: #848481;
    --md-ref-palette-neutral-56: #878684;
    --md-ref-palette-neutral-57: #898986;
    --md-ref-palette-neutral-58: #8c8b89;
    --md-ref-palette-neutral-59: #8e8e8c;
    --md-ref-palette-neutral-60: #91918e;
    --md-ref-palette-neutral-61: #949391;
    --md-ref-palette-neutral-62: #969693;
    --md-ref-palette-neutral-63: #999896;
    --md-ref-palette-neutral-64: #9c9b99;
    --md-ref-palette-neutral-65: #9e9e9b;
    --md-ref-palette-neutral-66: #a1a09e;
    --md-ref-palette-neutral-67: #a4a3a0;
    --md-ref-palette-neutral-68: #a6a6a3;
    --md-ref-palette-neutral-69: #a9a8a6;
    --md-ref-palette-neutral-70: #acaba8;
    --md-ref-palette-neutral-71: #afaeab;
    --md-ref-palette-neutral-72: #b1b0ae;
    --md-ref-palette-neutral-73: #b4b3b0;
    --md-ref-palette-neutral-74: #b7b6b3;
    --md-ref-palette-neutral-75: #bab9b6;
    --md-ref-palette-neutral-76: #bcbbb9;
    --md-ref-palette-neutral-77: #bfbebb;
    --md-ref-palette-neutral-78: #c2c1be;
    --md-ref-palette-neutral-79: #c5c4c1;
    --md-ref-palette-neutral-80: #c7c6c3;
    --md-ref-palette-neutral-81: #cac9c6;
    --md-ref-palette-neutral-82: #cdccc9;
    --md-ref-palette-neutral-83: #d0cfcc;
    --md-ref-palette-neutral-84: #d3d1ce;
    --md-ref-palette-neutral-85: #d6d4d1;
    --md-ref-palette-neutral-86: #d8d7d4;
    --md-ref-palette-neutral-87: #dbdad7;
    --md-ref-palette-neutral-88: #deddda;
    --md-ref-palette-neutral-89: #e1dfdc;
    --md-ref-palette-neutral-90: #e4e2df;
    --md-ref-palette-neutral-91: #e7e5e2;
    --md-ref-palette-neutral-92: #eae8e5;
    --md-ref-palette-neutral-93: #ecebe8;
    --md-ref-palette-neutral-94: #efeeea;
    --md-ref-palette-neutral-95: #f2f0ed;
    --md-ref-palette-neutral-96: #f5f3f0;
    --md-ref-palette-neutral-97: #f8f6f3;
    --md-ref-palette-neutral-98: #fbf9f6;
    --md-ref-palette-neutral-99: #fefcf9;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030403;
    --md-ref-palette-neutral-variant-2: #070806;
    --md-ref-palette-neutral-variant-3: #0a0b0a;
    --md-ref-palette-neutral-variant-4: #0d0e0d;
    --md-ref-palette-neutral-variant-5: #101110;
    --md-ref-palette-neutral-variant-6: #131412;
    --md-ref-palette-neutral-variant-7: #151614;
    --md-ref-palette-neutral-variant-8: #171816;
    --md-ref-palette-neutral-variant-9: #191a18;
    --md-ref-palette-neutral-variant-10: #1b1c1a;
    --md-ref-palette-neutral-variant-11: #1d1e1c;
    --md-ref-palette-neutral-variant-12: #1f201e;
    --md-ref-palette-neutral-variant-13: #212220;
    --md-ref-palette-neutral-variant-14: #232422;
    --md-ref-palette-neutral-variant-15: #252624;
    --md-ref-palette-neutral-variant-16: #272826;
    --md-ref-palette-neutral-variant-17: #292a28;
    --md-ref-palette-neutral-variant-18: #2c2c2b;
    --md-ref-palette-neutral-variant-19: #2e2e2d;
    --md-ref-palette-neutral-variant-20: #30312f;
    --md-ref-palette-neutral-variant-21: #323331;
    --md-ref-palette-neutral-variant-22: #343533;
    --md-ref-palette-neutral-variant-23: #373735;
    --md-ref-palette-neutral-variant-24: #393937;
    --md-ref-palette-neutral-variant-25: #3b3c3a;
    --md-ref-palette-neutral-variant-26: #3d3e3c;
    --md-ref-palette-neutral-variant-27: #40403e;
    --md-ref-palette-neutral-variant-28: #424240;
    --md-ref-palette-neutral-variant-29: #444543;
    --md-ref-palette-neutral-variant-30: #464745;
    --md-ref-palette-neutral-variant-31: #494947;
    --md-ref-palette-neutral-variant-32: #4b4b49;
    --md-ref-palette-neutral-variant-33: #4d4e4c;
    --md-ref-palette-neutral-variant-34: #50504e;
    --md-ref-palette-neutral-variant-35: #525250;
    --md-ref-palette-neutral-variant-36: #555553;
    --md-ref-palette-neutral-variant-37: #575755;
    --md-ref-palette-neutral-variant-38: #595a57;
    --md-ref-palette-neutral-variant-39: #5c5c5a;
    --md-ref-palette-neutral-variant-40: #5e5e5c;
    --md-ref-palette-neutral-variant-41: #61615f;
    --md-ref-palette-neutral-variant-42: #636361;
    --md-ref-palette-neutral-variant-43: #666663;
    --md-ref-palette-neutral-variant-44: #686866;
    --md-ref-palette-neutral-variant-45: #6b6b68;
    --md-ref-palette-neutral-variant-46: #6d6d6b;
    --md-ref-palette-neutral-variant-47: #70706d;
    --md-ref-palette-neutral-variant-48: #727270;
    --md-ref-palette-neutral-variant-49: #757572;
    --md-ref-palette-neutral-variant-50: #777775;
    --md-ref-palette-neutral-variant-51: #7a7a77;
    --md-ref-palette-neutral-variant-52: #7c7c7a;
    --md-ref-palette-neutral-variant-53: #7f7f7c;
    --md-ref-palette-neutral-variant-54: #81817f;
    --md-ref-palette-neutral-variant-55: #848481;
    --md-ref-palette-neutral-variant-56: #878684;
    --md-ref-palette-neutral-variant-57: #898986;
    --md-ref-palette-neutral-variant-58: #8c8b89;
    --md-ref-palette-neutral-variant-59: #8e8e8c;
    --md-ref-palette-neutral-variant-60: #91918e;
    --md-ref-palette-neutral-variant-61: #949391;
    --md-ref-palette-neutral-variant-62: #969693;
    --md-ref-palette-neutral-variant-63: #999896;
    --md-ref-palette-neutral-variant-64: #9c9b99;
    --md-ref-palette-neutral-variant-65: #9e9e9b;
    --md-ref-palette-neutral-variant-66: #a1a09e;
    --md-ref-palette-neutral-variant-67: #a4a3a0;
    --md-ref-palette-neutral-variant-68: #a6a6a3;
    --md-ref-palette-neutral-variant-69: #a9a8a6;
    --md-ref-palette-neutral-variant-70: #acaba8;
    --md-ref-palette-neutral-variant-71: #afaeab;
    --md-ref-palette-neutral-variant-72: #b1b0ae;
    --md-ref-palette-neutral-variant-73: #b4b3b0;
    --md-ref-palette-neutral-variant-74: #b7b6b3;
    --md-ref-palette-neutral-variant-75: #bab9b6;
    --md-ref-palette-neutral-variant-76: #bcbbb9;
    --md-ref-palette-neutral-variant-77: #bfbebb;
    --md-ref-palette-neutral-variant-78: #c2c1be;
    --md-ref-palette-neutral-variant-79: #c5c4c1;
    --md-ref-palette-neutral-variant-80: #c7c6c3;
    --md-ref-palette-neutral-variant-81: #cac9c6;
    --md-ref-palette-neutral-variant-82: #cdccc9;
    --md-ref-palette-neutral-variant-83: #d0cfcc;
    --md-ref-palette-neutral-variant-84: #d3d1ce;
    --md-ref-palette-neutral-variant-85: #d6d4d1;
    --md-ref-palette-neutral-variant-86: #d8d7d4;
    --md-ref-palette-neutral-variant-87: #dbdad7;
    --md-ref-palette-neutral-variant-88: #deddda;
    --md-ref-palette-neutral-variant-89: #e1dfdc;
    --md-ref-palette-neutral-variant-90: #e4e2df;
    --md-ref-palette-neutral-variant-91: #e7e5e2;
    --md-ref-palette-neutral-variant-92: #eae8e5;
    --md-ref-palette-neutral-variant-93: #ecebe8;
    --md-ref-palette-neutral-variant-94: #efeeea;
    --md-ref-palette-neutral-variant-95: #f2f0ed;
    --md-ref-palette-neutral-variant-96: #f5f3f0;
    --md-ref-palette-neutral-variant-97: #f8f6f3;
    --md-ref-palette-neutral-variant-98: #fbf9f6;
    --md-ref-palette-neutral-variant-99: #fefcf9;
    --md-ref-palette-neutral-variant-100: #ffffff;
}