:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000501;
    --md-ref-palette-primary-2: #020903;
    --md-ref-palette-primary-3: #040d05;
    --md-ref-palette-primary-4: #061107;
    --md-ref-palette-primary-5: #09130a;
    --md-ref-palette-primary-10: #131e14;
    --md-ref-palette-primary-20: #283328;
    --md-ref-palette-primary-30: #3e4a3d;
    --md-ref-palette-primary-40: #556254;
    --md-ref-palette-primary-50: #6e7a6c;
    --md-ref-palette-primary-60: #879485;
    --md-ref-palette-primary-70: #a2af9f;
    --md-ref-palette-primary-80: #bdcaba;
    --md-ref-palette-primary-90: #d9e6d5;
    --md-ref-palette-primary-95: #e7f5e3;
    --md-ref-palette-primary-96: #eaf8e6;
    --md-ref-palette-primary-97: #edfae9;
    --md-ref-palette-primary-98: #f0fdeb;
    --md-ref-palette-primary-99: #f6fff1;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #010502;
    --md-ref-palette-secondary-2: #040904;
    --md-ref-palette-secondary-3: #070d07;
    --md-ref-palette-secondary-4: #091009;
    --md-ref-palette-secondary-5: #0c130c;
    --md-ref-palette-secondary-10: #171d16;
    --md-ref-palette-secondary-20: #2b322b;
    --md-ref-palette-secondary-30: #424940;
    --md-ref-palette-secondary-40: #596058;
    --md-ref-palette-secondary-50: #727970;
    --md-ref-palette-secondary-60: #8b9389;
    --md-ref-palette-secondary-70: #a6ada3;
    --md-ref-palette-secondary-80: #c1c9be;
    --md-ref-palette-secondary-90: #dde5d9;
    --md-ref-palette-secondary-95: #ecf3e7;
    --md-ref-palette-secondary-96: #eff6ea;
    --md-ref-palette-secondary-97: #f2f9ed;
    --md-ref-palette-secondary-98: #f4fcf0;
    --md-ref-palette-secondary-99: #f7fef3;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000501;
    --md-ref-palette-tertiary-2: #000a02;
    --md-ref-palette-tertiary-3: #020e03;
    --md-ref-palette-tertiary-4: #031105;
    --md-ref-palette-tertiary-5: #051407;
    --md-ref-palette-tertiary-10: #0f1f11;
    --md-ref-palette-tertiary-20: #243425;
    --md-ref-palette-tertiary-30: #3a4b3a;
    --md-ref-palette-tertiary-40: #516351;
    --md-ref-palette-tertiary-50: #697c68;
    --md-ref-palette-tertiary-60: #839681;
    --md-ref-palette-tertiary-70: #9db09b;
    --md-ref-palette-tertiary-80: #b8ccb5;
    --md-ref-palette-tertiary-90: #d4e8d1;
    --md-ref-palette-tertiary-95: #e2f6df;
    --md-ref-palette-tertiary-96: #e5f9e1;
    --md-ref-palette-tertiary-97: #e8fce4;
    --md-ref-palette-tertiary-98: #ebffe7;
    --md-ref-palette-tertiary-99: #f6fff1;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030403;
    --md-ref-palette-neutral-2: #070806;
    --md-ref-palette-neutral-3: #0a0b0a;
    --md-ref-palette-neutral-4: #0d0e0d;
    --md-ref-palette-neutral-5: #101110;
    --md-ref-palette-neutral-10: #1b1c1a;
    --md-ref-palette-neutral-20: #30312f;
    --md-ref-palette-neutral-30: #464745;
    --md-ref-palette-neutral-40: #5e5e5c;
    --md-ref-palette-neutral-50: #777775;
    --md-ref-palette-neutral-60: #91918e;
    --md-ref-palette-neutral-70: #acaba8;
    --md-ref-palette-neutral-80: #c7c6c3;
    --md-ref-palette-neutral-90: #e4e2df;
    --md-ref-palette-neutral-95: #f2f0ed;
    --md-ref-palette-neutral-96: #f5f3f0;
    --md-ref-palette-neutral-97: #f8f6f3;
    --md-ref-palette-neutral-98: #fbf9f6;
    --md-ref-palette-neutral-99: #fefcf9;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030403;
    --md-ref-palette-neutral-variant-2: #070806;
    --md-ref-palette-neutral-variant-3: #0a0b0a;
    --md-ref-palette-neutral-variant-4: #0d0e0d;
    --md-ref-palette-neutral-variant-5: #101110;
    --md-ref-palette-neutral-variant-10: #1b1c1a;
    --md-ref-palette-neutral-variant-20: #30312f;
    --md-ref-palette-neutral-variant-30: #464745;
    --md-ref-palette-neutral-variant-40: #5e5e5c;
    --md-ref-palette-neutral-variant-50: #777775;
    --md-ref-palette-neutral-variant-60: #91918e;
    --md-ref-palette-neutral-variant-70: #acaba8;
    --md-ref-palette-neutral-variant-80: #c7c6c3;
    --md-ref-palette-neutral-variant-90: #e4e2df;
    --md-ref-palette-neutral-variant-95: #f2f0ed;
    --md-ref-palette-neutral-variant-96: #f5f3f0;
    --md-ref-palette-neutral-variant-97: #f8f6f3;
    --md-ref-palette-neutral-variant-98: #fbf9f6;
    --md-ref-palette-neutral-variant-99: #fefcf9;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
