:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000503;
    --md-ref-palette-primary-2: #020907;
    --md-ref-palette-primary-3: #050d0b;
    --md-ref-palette-primary-4: #07100e;
    --md-ref-palette-primary-5: #0a1310;
    --md-ref-palette-primary-6: #0c1513;
    --md-ref-palette-primary-7: #0e1715;
    --md-ref-palette-primary-8: #101917;
    --md-ref-palette-primary-9: #121b19;
    --md-ref-palette-primary-10: #141d1b;
    --md-ref-palette-primary-11: #161f1d;
    --md-ref-palette-primary-12: #18211f;
    --md-ref-palette-primary-13: #1a2321;
    --md-ref-palette-primary-14: #1c2623;
    --md-ref-palette-primary-15: #1e2825;
    --md-ref-palette-primary-16: #202a27;
    --md-ref-palette-primary-17: #232c29;
    --md-ref-palette-primary-18: #252e2b;
    --md-ref-palette-primary-19: #27302d;
    --md-ref-palette-primary-20: #293230;
    --md-ref-palette-primary-21: #2b3532;
    --md-ref-palette-primary-22: #2d3734;
    --md-ref-palette-primary-23: #2f3936;
    --md-ref-palette-primary-24: #323b38;
    --md-ref-palette-primary-25: #343d3a;
    --md-ref-palette-primary-26: #36403d;
    --md-ref-palette-primary-27: #38423f;
    --md-ref-palette-primary-28: #3b4441;
    --md-ref-palette-primary-29: #3d4643;
    --md-ref-palette-primary-30: #3f4946;
    --md-ref-palette-primary-31: #414b48;
    --md-ref-palette-primary-32: #444d4a;
    --md-ref-palette-primary-33: #46504d;
    --md-ref-palette-primary-34: #48524f;
    --md-ref-palette-primary-35: #4b5451;
    --md-ref-palette-primary-36: #4d5754;
    --md-ref-palette-primary-37: #4f5956;
    --md-ref-palette-primary-38: #525c58;
    --md-ref-palette-primary-39: #545e5b;
    --md-ref-palette-primary-40: #57605d;
    --md-ref-palette-primary-41: #596360;
    --md-ref-palette-primary-42: #5b6562;
    --md-ref-palette-primary-43: #5e6864;
    --md-ref-palette-primary-44: #606a67;
    --md-ref-palette-primary-45: #636d69;
    --md-ref-palette-primary-46: #656f6c;
    --md-ref-palette-primary-47: #68726e;
    --md-ref-palette-primary-48: #6a7471;
    --md-ref-palette-primary-49: #6d7773;
    --md-ref-palette-primary-50: #6f7976;
    --md-ref-palette-primary-51: #727c78;
    --md-ref-palette-primary-52: #747e7b;
    --md-ref-palette-primary-53: #77817d;
    --md-ref-palette-primary-54: #798380;
    --md-ref-palette-primary-55: #7c8682;
    --md-ref-palette-primary-56: #7e8985;
    --md-ref-palette-primary-57: #818b87;
    --md-ref-palette-primary-58: #848e8a;
    --md-ref-palette-primary-59: #86908d;
    --md-ref-palette-primary-60: #89938f;
    --md-ref-palette-primary-61: #8b9692;
    --md-ref-palette-primary-62: #8e9894;
    --md-ref-palette-primary-63: #919b97;
    --md-ref-palette-primary-64: #939d9a;
    --md-ref-palette-primary-65: #96a09c;
    --md-ref-palette-primary-66: #99a39f;
    --md-ref-palette-primary-67: #9ba5a1;
    --md-ref-palette-primary-68: #9ea8a4;
    --md-ref-palette-primary-69: #a1aba7;
    --md-ref-palette-primary-70: #a3ada9;
    --md-ref-palette-primary-71: #a6b0ac;
    --md-ref-palette-primary-72: #a9b3af;
    --md-ref-palette-primary-73: #abb6b1;
    --md-ref-palette-primary-74: #aeb8b4;
    --md-ref-palette-primary-75: #b1bbb7;
    --md-ref-palette-primary-76: #b3beba;
    --md-ref-palette-primary-77: #b6c0bc;
    --md-ref-palette-primary-78: #b9c3bf;
    --md-ref-palette-primary-79: #bcc6c2;
    --md-ref-palette-primary-80: #bec9c5;
    --md-ref-palette-primary-81: #c1ccc7;
    --md-ref-palette-primary-82: #c4ceca;
    --md-ref-palette-primary-83: #c7d1cd;
    --md-ref-palette-primary-84: #cad4d0;
    --md-ref-palette-primary-85: #ccd7d2;
    --md-ref-palette-primary-86: #cfd9d5;
    --md-ref-palette-primary-87: #d2dcd8;
    --md-ref-palette-primary-88: #d5dfdb;
    --md-ref-palette-primary-89: #d8e2de;
    --md-ref-palette-primary-90: #dbe5e0;
    --md-ref-palette-primary-91: #dde8e3;
    --md-ref-palette-primary-92: #e0eae6;
    --md-ref-palette-primary-93: #e3ede9;
    --md-ref-palette-primary-94: #e6f0ec;
    --md-ref-palette-primary-95: #e9f3ef;
    --md-ref-palette-primary-96: #ecf6f1;
    --md-ref-palette-primary-97: #eff9f4;
    --md-ref-palette-primary-98: #f1fcf7;
    --md-ref-palette-primary-99: #f4fffa;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #020404;
    --md-ref-palette-secondary-2: #050807;
    --md-ref-palette-secondary-3: #080c0b;
    --md-ref-palette-secondary-4: #0b0f0e;
    --md-ref-palette-secondary-5: #0e1211;
    --md-ref-palette-secondary-6: #101413;
    --md-ref-palette-secondary-7: #131615;
    --md-ref-palette-secondary-8: #151817;
    --md-ref-palette-secondary-9: #171a19;
    --md-ref-palette-secondary-10: #191c1b;
    --md-ref-palette-secondary-11: #1b1e1d;
    --md-ref-palette-secondary-12: #1d201f;
    --md-ref-palette-secondary-13: #1f2221;
    --md-ref-palette-secondary-14: #212423;
    --md-ref-palette-secondary-15: #232725;
    --md-ref-palette-secondary-16: #252927;
    --md-ref-palette-secondary-17: #272b29;
    --md-ref-palette-secondary-18: #292d2b;
    --md-ref-palette-secondary-19: #2b2f2e;
    --md-ref-palette-secondary-20: #2e3130;
    --md-ref-palette-secondary-21: #303332;
    --md-ref-palette-secondary-22: #323634;
    --md-ref-palette-secondary-23: #343836;
    --md-ref-palette-secondary-24: #363a38;
    --md-ref-palette-secondary-25: #393c3b;
    --md-ref-palette-secondary-26: #3b3e3d;
    --md-ref-palette-secondary-27: #3d413f;
    --md-ref-palette-secondary-28: #3f4341;
    --md-ref-palette-secondary-29: #424544;
    --md-ref-palette-secondary-30: #444746;
    --md-ref-palette-secondary-31: #464a48;
    --md-ref-palette-secondary-32: #494c4b;
    --md-ref-palette-secondary-33: #4b4e4d;
    --md-ref-palette-secondary-34: #4d514f;
    --md-ref-palette-secondary-35: #505352;
    --md-ref-palette-secondary-36: #525654;
    --md-ref-palette-secondary-37: #545856;
    --md-ref-palette-secondary-38: #575a59;
    --md-ref-palette-secondary-39: #595d5b;
    --md-ref-palette-secondary-40: #5c5f5d;
    --md-ref-palette-secondary-41: #5e6260;
    --md-ref-palette-secondary-42: #606462;
    --md-ref-palette-secondary-43: #636665;
    --md-ref-palette-secondary-44: #656967;
    --md-ref-palette-secondary-45: #686b6a;
    --md-ref-palette-secondary-46: #6a6e6c;
    --md-ref-palette-secondary-47: #6d706e;
    --md-ref-palette-secondary-48: #6f7371;
    --md-ref-palette-secondary-49: #727573;
    --md-ref-palette-secondary-50: #747876;
    --md-ref-palette-secondary-51: #777a78;
    --md-ref-palette-secondary-52: #797d7b;
    --md-ref-palette-secondary-53: #7c7f7d;
    --md-ref-palette-secondary-54: #7f8280;
    --md-ref-palette-secondary-55: #818483;
    --md-ref-palette-secondary-56: #848785;
    --md-ref-palette-secondary-57: #868a88;
    --md-ref-palette-secondary-58: #898c8a;
    --md-ref-palette-secondary-59: #8c8f8d;
    --md-ref-palette-secondary-60: #8e918f;
    --md-ref-palette-secondary-61: #919492;
    --md-ref-palette-secondary-62: #939795;
    --md-ref-palette-secondary-63: #969997;
    --md-ref-palette-secondary-64: #999c9a;
    --md-ref-palette-secondary-65: #9b9f9c;
    --md-ref-palette-secondary-66: #9ea19f;
    --md-ref-palette-secondary-67: #a1a4a2;
    --md-ref-palette-secondary-68: #a3a6a4;
    --md-ref-palette-secondary-69: #a6a9a7;
    --md-ref-palette-secondary-70: #a9acaa;
    --md-ref-palette-secondary-71: #acafac;
    --md-ref-palette-secondary-72: #aeb1af;
    --md-ref-palette-secondary-73: #b1b4b2;
    --md-ref-palette-secondary-74: #b4b7b4;
    --md-ref-palette-secondary-75: #b6b9b7;
    --md-ref-palette-secondary-76: #b9bcba;
    --md-ref-palette-secondary-77: #bcbfbd;
    --md-ref-palette-secondary-78: #bfc2bf;
    --md-ref-palette-secondary-79: #c1c4c2;
    --md-ref-palette-secondary-80: #c4c7c5;
    --md-ref-palette-secondary-81: #c7cac8;
    --md-ref-palette-secondary-82: #cacdca;
    --md-ref-palette-secondary-83: #cdcfcd;
    --md-ref-palette-secondary-84: #cfd2d0;
    --md-ref-palette-secondary-85: #d2d5d3;
    --md-ref-palette-secondary-86: #d5d8d5;
    --md-ref-palette-secondary-87: #d8dbd8;
    --md-ref-palette-secondary-88: #dbdddb;
    --md-ref-palette-secondary-89: #dee0de;
    --md-ref-palette-secondary-90: #e0e3e1;
    --md-ref-palette-secondary-91: #e3e6e3;
    --md-ref-palette-secondary-92: #e6e9e6;
    --md-ref-palette-secondary-93: #e9ece9;
    --md-ref-palette-secondary-94: #eceeec;
    --md-ref-palette-secondary-95: #eff1ef;
    --md-ref-palette-secondary-96: #f2f4f2;
    --md-ref-palette-secondary-97: #f5f7f4;
    --md-ref-palette-secondary-98: #f8faf7;
    --md-ref-palette-secondary-99: #fafdfa;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000500;
    --md-ref-palette-tertiary-2: #000a00;
    --md-ref-palette-tertiary-3: #020e01;
    --md-ref-palette-tertiary-4: #031202;
    --md-ref-palette-tertiary-5: #051403;
    --md-ref-palette-tertiary-6: #071704;
    --md-ref-palette-tertiary-7: #091905;
    --md-ref-palette-tertiary-8: #0b1b07;
    --md-ref-palette-tertiary-9: #0d1d08;
    --md-ref-palette-tertiary-10: #0f1f0a;
    --md-ref-palette-tertiary-11: #11220c;
    --md-ref-palette-tertiary-12: #13240e;
    --md-ref-palette-tertiary-13: #152610;
    --md-ref-palette-tertiary-14: #172812;
    --md-ref-palette-tertiary-15: #192a14;
    --md-ref-palette-tertiary-16: #1b2c15;
    --md-ref-palette-tertiary-17: #1d2e17;
    --md-ref-palette-tertiary-18: #1f3019;
    --md-ref-palette-tertiary-19: #21331b;
    --md-ref-palette-tertiary-20: #23351d;
    --md-ref-palette-tertiary-21: #26371f;
    --md-ref-palette-tertiary-22: #283921;
    --md-ref-palette-tertiary-23: #2a3c23;
    --md-ref-palette-tertiary-24: #2c3e26;
    --md-ref-palette-tertiary-25: #2e4028;
    --md-ref-palette-tertiary-26: #30422a;
    --md-ref-palette-tertiary-27: #33452c;
    --md-ref-palette-tertiary-28: #35472e;
    --md-ref-palette-tertiary-29: #374930;
    --md-ref-palette-tertiary-30: #394c32;
    --md-ref-palette-tertiary-31: #3c4e34;
    --md-ref-palette-tertiary-32: #3e5037;
    --md-ref-palette-tertiary-33: #405339;
    --md-ref-palette-tertiary-34: #42553b;
    --md-ref-palette-tertiary-35: #45583d;
    --md-ref-palette-tertiary-36: #475a3f;
    --md-ref-palette-tertiary-37: #495c42;
    --md-ref-palette-tertiary-38: #4c5f44;
    --md-ref-palette-tertiary-39: #4e6146;
    --md-ref-palette-tertiary-40: #516448;
    --md-ref-palette-tertiary-41: #53664b;
    --md-ref-palette-tertiary-42: #55694d;
    --md-ref-palette-tertiary-43: #586b4f;
    --md-ref-palette-tertiary-44: #5a6e52;
    --md-ref-palette-tertiary-45: #5d7054;
    --md-ref-palette-tertiary-46: #5f7356;
    --md-ref-palette-tertiary-47: #617559;
    --md-ref-palette-tertiary-48: #64785b;
    --md-ref-palette-tertiary-49: #667a5d;
    --md-ref-palette-tertiary-50: #697d60;
    --md-ref-palette-tertiary-51: #6b7f62;
    --md-ref-palette-tertiary-52: #6e8265;
    --md-ref-palette-tertiary-53: #708467;
    --md-ref-palette-tertiary-54: #738769;
    --md-ref-palette-tertiary-55: #758a6c;
    --md-ref-palette-tertiary-56: #788c6e;
    --md-ref-palette-tertiary-57: #7a8f71;
    --md-ref-palette-tertiary-58: #7d9173;
    --md-ref-palette-tertiary-59: #809476;
    --md-ref-palette-tertiary-60: #829778;
    --md-ref-palette-tertiary-61: #85997b;
    --md-ref-palette-tertiary-62: #879c7d;
    --md-ref-palette-tertiary-63: #8a9f80;
    --md-ref-palette-tertiary-64: #8da182;
    --md-ref-palette-tertiary-65: #8fa485;
    --md-ref-palette-tertiary-66: #92a787;
    --md-ref-palette-tertiary-67: #94a98a;
    --md-ref-palette-tertiary-68: #97ac8c;
    --md-ref-palette-tertiary-69: #9aaf8f;
    --md-ref-palette-tertiary-70: #9cb191;
    --md-ref-palette-tertiary-71: #9fb494;
    --md-ref-palette-tertiary-72: #a2b797;
    --md-ref-palette-tertiary-73: #a4ba99;
    --md-ref-palette-tertiary-74: #a7bc9c;
    --md-ref-palette-tertiary-75: #aabf9e;
    --md-ref-palette-tertiary-76: #acc2a1;
    --md-ref-palette-tertiary-77: #afc5a4;
    --md-ref-palette-tertiary-78: #b2c7a6;
    --md-ref-palette-tertiary-79: #b5caa9;
    --md-ref-palette-tertiary-80: #b7cdac;
    --md-ref-palette-tertiary-81: #bad0ae;
    --md-ref-palette-tertiary-82: #bdd2b1;
    --md-ref-palette-tertiary-83: #c0d5b4;
    --md-ref-palette-tertiary-84: #c2d8b6;
    --md-ref-palette-tertiary-85: #c5dbb9;
    --md-ref-palette-tertiary-86: #c8debc;
    --md-ref-palette-tertiary-87: #cbe1be;
    --md-ref-palette-tertiary-88: #cee3c1;
    --md-ref-palette-tertiary-89: #d0e6c4;
    --md-ref-palette-tertiary-90: #d3e9c6;
    --md-ref-palette-tertiary-91: #d6ecc9;
    --md-ref-palette-tertiary-92: #d9efcc;
    --md-ref-palette-tertiary-93: #dcf2cf;
    --md-ref-palette-tertiary-94: #def5d1;
    --md-ref-palette-tertiary-95: #e1f7d4;
    --md-ref-palette-tertiary-96: #e4fad7;
    --md-ref-palette-tertiary-97: #e7fdda;
    --md-ref-palette-tertiary-98: #edffe1;
    --md-ref-palette-tertiary-99: #f7ffee;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0001;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #270002;
    --md-ref-palette-error-5: #2d0002;
    --md-ref-palette-error-6: #310003;
    --md-ref-palette-error-7: #350003;
    --md-ref-palette-error-8: #390003;
    --md-ref-palette-error-9: #3d0004;
    --md-ref-palette-error-10: #410004;
    --md-ref-palette-error-11: #450005;
    --md-ref-palette-error-12: #480006;
    --md-ref-palette-error-13: #4b0207;
    --md-ref-palette-error-14: #4e0309;
    --md-ref-palette-error-15: #51050a;
    --md-ref-palette-error-16: #54080c;
    --md-ref-palette-error-17: #580a0e;
    --md-ref-palette-error-18: #5b0d10;
    --md-ref-palette-error-19: #5e0f12;
    --md-ref-palette-error-20: #611214;
    --md-ref-palette-error-21: #641416;
    --md-ref-palette-error-22: #671617;
    --md-ref-palette-error-23: #6a1919;
    --md-ref-palette-error-24: #6d1b1b;
    --md-ref-palette-error-25: #701d1d;
    --md-ref-palette-error-26: #731f1f;
    --md-ref-palette-error-27: #762221;
    --md-ref-palette-error-28: #792423;
    --md-ref-palette-error-29: #7c2625;
    --md-ref-palette-error-30: #7f2927;
    --md-ref-palette-error-31: #822b2a;
    --md-ref-palette-error-32: #852d2c;
    --md-ref-palette-error-33: #892f2e;
    --md-ref-palette-error-34: #8c3230;
    --md-ref-palette-error-35: #8f3432;
    --md-ref-palette-error-36: #923634;
    --md-ref-palette-error-37: #953936;
    --md-ref-palette-error-38: #983b38;
    --md-ref-palette-error-39: #9b3d3b;
    --md-ref-palette-error-40: #9e403d;
    --md-ref-palette-error-41: #a1423f;
    --md-ref-palette-error-42: #a54441;
    --md-ref-palette-error-43: #a84743;
    --md-ref-palette-error-44: #ab4946;
    --md-ref-palette-error-45: #ae4b48;
    --md-ref-palette-error-46: #b14e4a;
    --md-ref-palette-error-47: #b4504c;
    --md-ref-palette-error-48: #b7534f;
    --md-ref-palette-error-49: #bb5551;
    --md-ref-palette-error-50: #be5753;
    --md-ref-palette-error-51: #c15a56;
    --md-ref-palette-error-52: #c45c58;
    --md-ref-palette-error-53: #c75f5a;
    --md-ref-palette-error-54: #ca615d;
    --md-ref-palette-error-55: #ce645f;
    --md-ref-palette-error-56: #d16661;
    --md-ref-palette-error-57: #d46964;
    --md-ref-palette-error-58: #d76b66;
    --md-ref-palette-error-59: #da6e68;
    --md-ref-palette-error-60: #de706b;
    --md-ref-palette-error-61: #e1736d;
    --md-ref-palette-error-62: #e47570;
    --md-ref-palette-error-63: #e77872;
    --md-ref-palette-error-64: #eb7a75;
    --md-ref-palette-error-65: #ee7d77;
    --md-ref-palette-error-66: #f17f79;
    --md-ref-palette-error-67: #f4827c;
    --md-ref-palette-error-68: #f7847e;
    --md-ref-palette-error-69: #fb8781;
    --md-ref-palette-error-70: #fe8983;
    --md-ref-palette-error-71: #ff8d87;
    --md-ref-palette-error-72: #ff928c;
    --md-ref-palette-error-73: #ff9690;
    --md-ref-palette-error-74: #ff9b94;
    --md-ref-palette-error-75: #ff9f99;
    --md-ref-palette-error-76: #ffa39d;
    --md-ref-palette-error-77: #ffa7a1;
    --md-ref-palette-error-78: #ffaba6;
    --md-ref-palette-error-79: #ffafaa;
    --md-ref-palette-error-80: #ffb3ae;
    --md-ref-palette-error-81: #ffb7b2;
    --md-ref-palette-error-82: #ffbbb6;
    --md-ref-palette-error-83: #ffbfbb;
    --md-ref-palette-error-84: #ffc3bf;
    --md-ref-palette-error-85: #ffc7c3;
    --md-ref-palette-error-86: #ffcbc7;
    --md-ref-palette-error-87: #ffcfcb;
    --md-ref-palette-error-88: #ffd2cf;
    --md-ref-palette-error-89: #ffd6d3;
    --md-ref-palette-error-90: #ffdad7;
    --md-ref-palette-error-91: #ffdedb;
    --md-ref-palette-error-92: #ffe1df;
    --md-ref-palette-error-93: #ffe5e3;
    --md-ref-palette-error-94: #ffe9e7;
    --md-ref-palette-error-95: #ffedeb;
    --md-ref-palette-error-96: #fff0ef;
    --md-ref-palette-error-97: #fff4f3;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030404;
    --md-ref-palette-neutral-2: #070707;
    --md-ref-palette-neutral-3: #0a0b0b;
    --md-ref-palette-neutral-4: #0e0e0e;
    --md-ref-palette-neutral-5: #101111;
    --md-ref-palette-neutral-6: #131313;
    --md-ref-palette-neutral-7: #151615;
    --md-ref-palette-neutral-8: #171817;
    --md-ref-palette-neutral-9: #191a19;
    --md-ref-palette-neutral-10: #1b1c1b;
    --md-ref-palette-neutral-11: #1d1e1d;
    --md-ref-palette-neutral-12: #1f201f;
    --md-ref-palette-neutral-13: #212221;
    --md-ref-palette-neutral-14: #232423;
    --md-ref-palette-neutral-15: #252625;
    --md-ref-palette-neutral-16: #272827;
    --md-ref-palette-neutral-17: #2a2a29;
    --md-ref-palette-neutral-18: #2c2c2c;
    --md-ref-palette-neutral-19: #2e2e2e;
    --md-ref-palette-neutral-20: #303030;
    --md-ref-palette-neutral-21: #323332;
    --md-ref-palette-neutral-22: #343534;
    --md-ref-palette-neutral-23: #373736;
    --md-ref-palette-neutral-24: #393939;
    --md-ref-palette-neutral-25: #3b3b3b;
    --md-ref-palette-neutral-26: #3d3e3d;
    --md-ref-palette-neutral-27: #40403f;
    --md-ref-palette-neutral-28: #424242;
    --md-ref-palette-neutral-29: #444444;
    --md-ref-palette-neutral-30: #474746;
    --md-ref-palette-neutral-31: #494948;
    --md-ref-palette-neutral-32: #4b4b4b;
    --md-ref-palette-neutral-33: #4e4e4d;
    --md-ref-palette-neutral-34: #50504f;
    --md-ref-palette-neutral-35: #525252;
    --md-ref-palette-neutral-36: #555554;
    --md-ref-palette-neutral-37: #575756;
    --md-ref-palette-neutral-38: #5a5959;
    --md-ref-palette-neutral-39: #5c5c5b;
    --md-ref-palette-neutral-40: #5e5e5d;
    --md-ref-palette-neutral-41: #616160;
    --md-ref-palette-neutral-42: #636362;
    --md-ref-palette-neutral-43: #666665;
    --md-ref-palette-neutral-44: #686867;
    --md-ref-palette-neutral-45: #6b6a6a;
    --md-ref-palette-neutral-46: #6d6d6c;
    --md-ref-palette-neutral-47: #706f6f;
    --md-ref-palette-neutral-48: #727271;
    --md-ref-palette-neutral-49: #757474;
    --md-ref-palette-neutral-50: #777776;
    --md-ref-palette-neutral-51: #7a7979;
    --md-ref-palette-neutral-52: #7c7c7b;
    --md-ref-palette-neutral-53: #7f7e7e;
    --md-ref-palette-neutral-54: #828180;
    --md-ref-palette-neutral-55: #848483;
    --md-ref-palette-neutral-56: #878685;
    --md-ref-palette-neutral-57: #898988;
    --md-ref-palette-neutral-58: #8c8b8a;
    --md-ref-palette-neutral-59: #8f8e8d;
    --md-ref-palette-neutral-60: #91908f;
    --md-ref-palette-neutral-61: #949392;
    --md-ref-palette-neutral-62: #979695;
    --md-ref-palette-neutral-63: #999897;
    --md-ref-palette-neutral-64: #9c9b9a;
    --md-ref-palette-neutral-65: #9f9e9d;
    --md-ref-palette-neutral-66: #a1a09f;
    --md-ref-palette-neutral-67: #a4a3a2;
    --md-ref-palette-neutral-68: #a7a6a4;
    --md-ref-palette-neutral-69: #a9a8a7;
    --md-ref-palette-neutral-70: #acabaa;
    --md-ref-palette-neutral-71: #afaeac;
    --md-ref-palette-neutral-72: #b1b0af;
    --md-ref-palette-neutral-73: #b4b3b2;
    --md-ref-palette-neutral-74: #b7b6b5;
    --md-ref-palette-neutral-75: #bab8b7;
    --md-ref-palette-neutral-76: #bcbbba;
    --md-ref-palette-neutral-77: #bfbebd;
    --md-ref-palette-neutral-78: #c2c1bf;
    --md-ref-palette-neutral-79: #c5c3c2;
    --md-ref-palette-neutral-80: #c8c6c5;
    --md-ref-palette-neutral-81: #cac9c8;
    --md-ref-palette-neutral-82: #cdccca;
    --md-ref-palette-neutral-83: #d0cecd;
    --md-ref-palette-neutral-84: #d3d1d0;
    --md-ref-palette-neutral-85: #d6d4d3;
    --md-ref-palette-neutral-86: #d9d7d6;
    --md-ref-palette-neutral-87: #dbdad8;
    --md-ref-palette-neutral-88: #dedcdb;
    --md-ref-palette-neutral-89: #e1dfde;
    --md-ref-palette-neutral-90: #e4e2e1;
    --md-ref-palette-neutral-91: #e7e5e4;
    --md-ref-palette-neutral-92: #eae8e6;
    --md-ref-palette-neutral-93: #edebe9;
    --md-ref-palette-neutral-94: #efedec;
    --md-ref-palette-neutral-95: #f2f0ef;
    --md-ref-palette-neutral-96: #f5f3f2;
    --md-ref-palette-neutral-97: #f8f6f5;
    --md-ref-palette-neutral-98: #fbf9f7;
    --md-ref-palette-neutral-99: #fefcfa;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030404;
    --md-ref-palette-neutral-variant-2: #060807;
    --md-ref-palette-neutral-variant-3: #090c0b;
    --md-ref-palette-neutral-variant-4: #0c0f0e;
    --md-ref-palette-neutral-variant-5: #0f1111;
    --md-ref-palette-neutral-variant-6: #111413;
    --md-ref-palette-neutral-variant-7: #141615;
    --md-ref-palette-neutral-variant-8: #161817;
    --md-ref-palette-neutral-variant-9: #181a19;
    --md-ref-palette-neutral-variant-10: #1a1c1b;
    --md-ref-palette-neutral-variant-11: #1c1e1d;
    --md-ref-palette-neutral-variant-12: #1e201f;
    --md-ref-palette-neutral-variant-13: #202221;
    --md-ref-palette-neutral-variant-14: #222423;
    --md-ref-palette-neutral-variant-15: #242625;
    --md-ref-palette-neutral-variant-16: #262827;
    --md-ref-palette-neutral-variant-17: #282a29;
    --md-ref-palette-neutral-variant-18: #2a2d2c;
    --md-ref-palette-neutral-variant-19: #2c2f2e;
    --md-ref-palette-neutral-variant-20: #2e3130;
    --md-ref-palette-neutral-variant-21: #313332;
    --md-ref-palette-neutral-variant-22: #333534;
    --md-ref-palette-neutral-variant-23: #353736;
    --md-ref-palette-neutral-variant-24: #373a38;
    --md-ref-palette-neutral-variant-25: #393c3b;
    --md-ref-palette-neutral-variant-26: #3c3e3d;
    --md-ref-palette-neutral-variant-27: #3e403f;
    --md-ref-palette-neutral-variant-28: #404341;
    --md-ref-palette-neutral-variant-29: #434544;
    --md-ref-palette-neutral-variant-30: #454746;
    --md-ref-palette-neutral-variant-31: #474a48;
    --md-ref-palette-neutral-variant-32: #4a4c4b;
    --md-ref-palette-neutral-variant-33: #4c4e4d;
    --md-ref-palette-neutral-variant-34: #4e514f;
    --md-ref-palette-neutral-variant-35: #515352;
    --md-ref-palette-neutral-variant-36: #535554;
    --md-ref-palette-neutral-variant-37: #555856;
    --md-ref-palette-neutral-variant-38: #585a59;
    --md-ref-palette-neutral-variant-39: #5a5c5b;
    --md-ref-palette-neutral-variant-40: #5d5f5d;
    --md-ref-palette-neutral-variant-41: #5f6160;
    --md-ref-palette-neutral-variant-42: #626462;
    --md-ref-palette-neutral-variant-43: #646665;
    --md-ref-palette-neutral-variant-44: #666967;
    --md-ref-palette-neutral-variant-45: #696b6a;
    --md-ref-palette-neutral-variant-46: #6b6d6c;
    --md-ref-palette-neutral-variant-47: #6e706e;
    --md-ref-palette-neutral-variant-48: #707271;
    --md-ref-palette-neutral-variant-49: #737573;
    --md-ref-palette-neutral-variant-50: #757776;
    --md-ref-palette-neutral-variant-51: #787a78;
    --md-ref-palette-neutral-variant-52: #7b7c7b;
    --md-ref-palette-neutral-variant-53: #7d7f7d;
    --md-ref-palette-neutral-variant-54: #808280;
    --md-ref-palette-neutral-variant-55: #828483;
    --md-ref-palette-neutral-variant-56: #858785;
    --md-ref-palette-neutral-variant-57: #878988;
    --md-ref-palette-neutral-variant-58: #8a8c8a;
    --md-ref-palette-neutral-variant-59: #8d8e8d;
    --md-ref-palette-neutral-variant-60: #8f918f;
    --md-ref-palette-neutral-variant-61: #929492;
    --md-ref-palette-neutral-variant-62: #959695;
    --md-ref-palette-neutral-variant-63: #979997;
    --md-ref-palette-neutral-variant-64: #9a9c9a;
    --md-ref-palette-neutral-variant-65: #9d9e9c;
    --md-ref-palette-neutral-variant-66: #9fa19f;
    --md-ref-palette-neutral-variant-67: #a2a3a2;
    --md-ref-palette-neutral-variant-68: #a5a6a4;
    --md-ref-palette-neutral-variant-69: #a7a9a7;
    --md-ref-palette-neutral-variant-70: #aaabaa;
    --md-ref-palette-neutral-variant-71: #adaeac;
    --md-ref-palette-neutral-variant-72: #afb1af;
    --md-ref-palette-neutral-variant-73: #b2b4b2;
    --md-ref-palette-neutral-variant-74: #b5b6b4;
    --md-ref-palette-neutral-variant-75: #b8b9b7;
    --md-ref-palette-neutral-variant-76: #babcba;
    --md-ref-palette-neutral-variant-77: #bdbebd;
    --md-ref-palette-neutral-variant-78: #c0c1bf;
    --md-ref-palette-neutral-variant-79: #c3c4c2;
    --md-ref-palette-neutral-variant-80: #c6c7c5;
    --md-ref-palette-neutral-variant-81: #c8c9c8;
    --md-ref-palette-neutral-variant-82: #cbccca;
    --md-ref-palette-neutral-variant-83: #cecfcd;
    --md-ref-palette-neutral-variant-84: #d1d2d0;
    --md-ref-palette-neutral-variant-85: #d4d5d3;
    --md-ref-palette-neutral-variant-86: #d6d7d5;
    --md-ref-palette-neutral-variant-87: #d9dad8;
    --md-ref-palette-neutral-variant-88: #dcdddb;
    --md-ref-palette-neutral-variant-89: #dfe0de;
    --md-ref-palette-neutral-variant-90: #e2e3e1;
    --md-ref-palette-neutral-variant-91: #e5e6e3;
    --md-ref-palette-neutral-variant-92: #e7e8e6;
    --md-ref-palette-neutral-variant-93: #eaebe9;
    --md-ref-palette-neutral-variant-94: #edeeec;
    --md-ref-palette-neutral-variant-95: #f0f1ef;
    --md-ref-palette-neutral-variant-96: #f3f4f2;
    --md-ref-palette-neutral-variant-97: #f6f7f5;
    --md-ref-palette-neutral-variant-98: #f9faf7;
    --md-ref-palette-neutral-variant-99: #fcfcfa;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
