:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000506;
    --md-ref-palette-primary-2: #00090b;
    --md-ref-palette-primary-3: #000d10;
    --md-ref-palette-primary-4: #021013;
    --md-ref-palette-primary-5: #041316;
    --md-ref-palette-primary-6: #061618;
    --md-ref-palette-primary-7: #08181b;
    --md-ref-palette-primary-8: #0a1a1d;
    --md-ref-palette-primary-9: #0c1c1f;
    --md-ref-palette-primary-10: #0e1e21;
    --md-ref-palette-primary-11: #102023;
    --md-ref-palette-primary-12: #122225;
    --md-ref-palette-primary-13: #142427;
    --md-ref-palette-primary-14: #162629;
    --md-ref-palette-primary-15: #18282b;
    --md-ref-palette-primary-16: #1b2a2d;
    --md-ref-palette-primary-17: #1d2c2f;
    --md-ref-palette-primary-18: #1f2f32;
    --md-ref-palette-primary-19: #213134;
    --md-ref-palette-primary-20: #233336;
    --md-ref-palette-primary-21: #253538;
    --md-ref-palette-primary-22: #28373a;
    --md-ref-palette-primary-23: #2a3a3d;
    --md-ref-palette-primary-24: #2c3c3f;
    --md-ref-palette-primary-25: #2e3e41;
    --md-ref-palette-primary-26: #304043;
    --md-ref-palette-primary-27: #334346;
    --md-ref-palette-primary-28: #354548;
    --md-ref-palette-primary-29: #37474a;
    --md-ref-palette-primary-30: #39494d;
    --md-ref-palette-primary-31: #3c4c4f;
    --md-ref-palette-primary-32: #3e4e51;
    --md-ref-palette-primary-33: #405054;
    --md-ref-palette-primary-34: #435356;
    --md-ref-palette-primary-35: #455558;
    --md-ref-palette-primary-36: #47585b;
    --md-ref-palette-primary-37: #4a5a5d;
    --md-ref-palette-primary-38: #4c5c5f;
    --md-ref-palette-primary-39: #4e5f62;
    --md-ref-palette-primary-40: #516164;
    --md-ref-palette-primary-41: #536467;
    --md-ref-palette-primary-42: #566669;
    --md-ref-palette-primary-43: #58696c;
    --md-ref-palette-primary-44: #5b6b6e;
    --md-ref-palette-primary-45: #5d6d71;
    --md-ref-palette-primary-46: #5f7073;
    --md-ref-palette-primary-47: #627276;
    --md-ref-palette-primary-48: #647578;
    --md-ref-palette-primary-49: #67777b;
    --md-ref-palette-primary-50: #697a7d;
    --md-ref-palette-primary-51: #6c7c80;
    --md-ref-palette-primary-52: #6e7f82;
    --md-ref-palette-primary-53: #718285;
    --md-ref-palette-primary-54: #738487;
    --md-ref-palette-primary-55: #76878a;
    --md-ref-palette-primary-56: #78898d;
    --md-ref-palette-primary-57: #7b8c8f;
    --md-ref-palette-primary-58: #7e8e92;
    --md-ref-palette-primary-59: #809194;
    --md-ref-palette-primary-60: #839497;
    --md-ref-palette-primary-61: #85969a;
    --md-ref-palette-primary-62: #88999c;
    --md-ref-palette-primary-63: #8b9c9f;
    --md-ref-palette-primary-64: #8d9ea2;
    --md-ref-palette-primary-65: #90a1a4;
    --md-ref-palette-primary-66: #92a4a7;
    --md-ref-palette-primary-67: #95a6aa;
    --md-ref-palette-primary-68: #98a9ac;
    --md-ref-palette-primary-69: #9aacaf;
    --md-ref-palette-primary-70: #9daeb2;
    --md-ref-palette-primary-71: #a0b1b4;
    --md-ref-palette-primary-72: #a2b4b7;
    --md-ref-palette-primary-73: #a5b6ba;
    --md-ref-palette-primary-74: #a8b9bd;
    --md-ref-palette-primary-75: #abbcbf;
    --md-ref-palette-primary-76: #adbfc2;
    --md-ref-palette-primary-77: #b0c1c5;
    --md-ref-palette-primary-78: #b3c4c8;
    --md-ref-palette-primary-79: #b5c7ca;
    --md-ref-palette-primary-80: #b8cacd;
    --md-ref-palette-primary-81: #bbccd0;
    --md-ref-palette-primary-82: #becfd3;
    --md-ref-palette-primary-83: #c0d2d5;
    --md-ref-palette-primary-84: #c3d5d8;
    --md-ref-palette-primary-85: #c6d8db;
    --md-ref-palette-primary-86: #c9dade;
    --md-ref-palette-primary-87: #ccdde1;
    --md-ref-palette-primary-88: #cee0e4;
    --md-ref-palette-primary-89: #d1e3e6;
    --md-ref-palette-primary-90: #d4e6e9;
    --md-ref-palette-primary-91: #d7e8ec;
    --md-ref-palette-primary-92: #daebef;
    --md-ref-palette-primary-93: #ddeef2;
    --md-ref-palette-primary-94: #dff1f5;
    --md-ref-palette-primary-95: #e2f4f7;
    --md-ref-palette-primary-96: #e5f7fa;
    --md-ref-palette-primary-97: #e8fafd;
    --md-ref-palette-primary-98: #edfcff;
    --md-ref-palette-primary-99: #f6fdff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000406;
    --md-ref-palette-secondary-2: #02090a;
    --md-ref-palette-secondary-3: #050c0e;
    --md-ref-palette-secondary-4: #071011;
    --md-ref-palette-secondary-5: #091214;
    --md-ref-palette-secondary-6: #0c1516;
    --md-ref-palette-secondary-7: #0e1719;
    --md-ref-palette-secondary-8: #10191b;
    --md-ref-palette-secondary-9: #121b1d;
    --md-ref-palette-secondary-10: #141d1f;
    --md-ref-palette-secondary-11: #161f21;
    --md-ref-palette-secondary-12: #182123;
    --md-ref-palette-secondary-13: #1a2325;
    --md-ref-palette-secondary-14: #1c2527;
    --md-ref-palette-secondary-15: #1e2729;
    --md-ref-palette-secondary-16: #20292b;
    --md-ref-palette-secondary-17: #232b2d;
    --md-ref-palette-secondary-18: #252e2f;
    --md-ref-palette-secondary-19: #273032;
    --md-ref-palette-secondary-20: #293234;
    --md-ref-palette-secondary-21: #2b3436;
    --md-ref-palette-secondary-22: #2d3638;
    --md-ref-palette-secondary-23: #2f393a;
    --md-ref-palette-secondary-24: #323b3d;
    --md-ref-palette-secondary-25: #343d3f;
    --md-ref-palette-secondary-26: #363f41;
    --md-ref-palette-secondary-27: #384143;
    --md-ref-palette-secondary-28: #3b4446;
    --md-ref-palette-secondary-29: #3d4648;
    --md-ref-palette-secondary-30: #3f484a;
    --md-ref-palette-secondary-31: #414b4c;
    --md-ref-palette-secondary-32: #444d4f;
    --md-ref-palette-secondary-33: #464f51;
    --md-ref-palette-secondary-34: #485253;
    --md-ref-palette-secondary-35: #4b5456;
    --md-ref-palette-secondary-36: #4d5658;
    --md-ref-palette-secondary-37: #4f595b;
    --md-ref-palette-secondary-38: #525b5d;
    --md-ref-palette-secondary-39: #545e5f;
    --md-ref-palette-secondary-40: #576062;
    --md-ref-palette-secondary-41: #596264;
    --md-ref-palette-secondary-42: #5b6567;
    --md-ref-palette-secondary-43: #5e6769;
    --md-ref-palette-secondary-44: #606a6c;
    --md-ref-palette-secondary-45: #636c6e;
    --md-ref-palette-secondary-46: #656f71;
    --md-ref-palette-secondary-47: #687173;
    --md-ref-palette-secondary-48: #6a7476;
    --md-ref-palette-secondary-49: #6d7678;
    --md-ref-palette-secondary-50: #6f797b;
    --md-ref-palette-secondary-51: #727b7d;
    --md-ref-palette-secondary-52: #747e80;
    --md-ref-palette-secondary-53: #778082;
    --md-ref-palette-secondary-54: #798385;
    --md-ref-palette-secondary-55: #7c8587;
    --md-ref-palette-secondary-56: #7e888a;
    --md-ref-palette-secondary-57: #818b8c;
    --md-ref-palette-secondary-58: #848d8f;
    --md-ref-palette-secondary-59: #869092;
    --md-ref-palette-secondary-60: #899294;
    --md-ref-palette-secondary-61: #8b9597;
    --md-ref-palette-secondary-62: #8e989a;
    --md-ref-palette-secondary-63: #919a9c;
    --md-ref-palette-secondary-64: #939d9f;
    --md-ref-palette-secondary-65: #96a0a1;
    --md-ref-palette-secondary-66: #99a2a4;
    --md-ref-palette-secondary-67: #9ba5a7;
    --md-ref-palette-secondary-68: #9ea8a9;
    --md-ref-palette-secondary-69: #a1aaac;
    --md-ref-palette-secondary-70: #a3adaf;
    --md-ref-palette-secondary-71: #a6b0b2;
    --md-ref-palette-secondary-72: #a9b2b4;
    --md-ref-palette-secondary-73: #abb5b7;
    --md-ref-palette-secondary-74: #aeb8ba;
    --md-ref-palette-secondary-75: #b1babc;
    --md-ref-palette-secondary-76: #b4bdbf;
    --md-ref-palette-secondary-77: #b6c0c2;
    --md-ref-palette-secondary-78: #b9c3c5;
    --md-ref-palette-secondary-79: #bcc5c7;
    --md-ref-palette-secondary-80: #bfc8ca;
    --md-ref-palette-secondary-81: #c1cbcd;
    --md-ref-palette-secondary-82: #c4ced0;
    --md-ref-palette-secondary-83: #c7d0d2;
    --md-ref-palette-secondary-84: #cad3d5;
    --md-ref-palette-secondary-85: #cdd6d8;
    --md-ref-palette-secondary-86: #cfd9db;
    --md-ref-palette-secondary-87: #d2dcde;
    --md-ref-palette-secondary-88: #d5dfe0;
    --md-ref-palette-secondary-89: #d8e1e3;
    --md-ref-palette-secondary-90: #dbe4e6;
    --md-ref-palette-secondary-91: #dde7e9;
    --md-ref-palette-secondary-92: #e0eaec;
    --md-ref-palette-secondary-93: #e3edef;
    --md-ref-palette-secondary-94: #e6f0f2;
    --md-ref-palette-secondary-95: #e9f2f4;
    --md-ref-palette-secondary-96: #ecf5f7;
    --md-ref-palette-secondary-97: #eff8fa;
    --md-ref-palette-secondary-98: #f2fbfd;
    --md-ref-palette-secondary-99: #f6fdff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000506;
    --md-ref-palette-tertiary-2: #00090b;
    --md-ref-palette-tertiary-3: #000d10;
    --md-ref-palette-tertiary-4: #001114;
    --md-ref-palette-tertiary-5: #001417;
    --md-ref-palette-tertiary-6: #00161a;
    --md-ref-palette-tertiary-7: #00191d;
    --md-ref-palette-tertiary-8: #021b1f;
    --md-ref-palette-tertiary-9: #031d21;
    --md-ref-palette-tertiary-10: #051f23;
    --md-ref-palette-tertiary-11: #072125;
    --md-ref-palette-tertiary-12: #092327;
    --md-ref-palette-tertiary-13: #0c2529;
    --md-ref-palette-tertiary-14: #0e272b;
    --md-ref-palette-tertiary-15: #10292d;
    --md-ref-palette-tertiary-16: #132b2f;
    --md-ref-palette-tertiary-17: #152d32;
    --md-ref-palette-tertiary-18: #173034;
    --md-ref-palette-tertiary-19: #1a3236;
    --md-ref-palette-tertiary-20: #1c3438;
    --md-ref-palette-tertiary-21: #1e363a;
    --md-ref-palette-tertiary-22: #20383d;
    --md-ref-palette-tertiary-23: #233b3f;
    --md-ref-palette-tertiary-24: #253d41;
    --md-ref-palette-tertiary-25: #273f43;
    --md-ref-palette-tertiary-26: #2a4146;
    --md-ref-palette-tertiary-27: #2c4448;
    --md-ref-palette-tertiary-28: #2e464a;
    --md-ref-palette-tertiary-29: #30484d;
    --md-ref-palette-tertiary-30: #334b4f;
    --md-ref-palette-tertiary-31: #354d51;
    --md-ref-palette-tertiary-32: #374f54;
    --md-ref-palette-tertiary-33: #3a5256;
    --md-ref-palette-tertiary-34: #3c5458;
    --md-ref-palette-tertiary-35: #3e565b;
    --md-ref-palette-tertiary-36: #41595d;
    --md-ref-palette-tertiary-37: #435b60;
    --md-ref-palette-tertiary-38: #455e62;
    --md-ref-palette-tertiary-39: #486065;
    --md-ref-palette-tertiary-40: #4a6267;
    --md-ref-palette-tertiary-41: #4d6569;
    --md-ref-palette-tertiary-42: #4f676c;
    --md-ref-palette-tertiary-43: #516a6e;
    --md-ref-palette-tertiary-44: #546c71;
    --md-ref-palette-tertiary-45: #566f73;
    --md-ref-palette-tertiary-46: #597176;
    --md-ref-palette-tertiary-47: #5b7478;
    --md-ref-palette-tertiary-48: #5e767b;
    --md-ref-palette-tertiary-49: #60797d;
    --md-ref-palette-tertiary-50: #637b80;
    --md-ref-palette-tertiary-51: #657e83;
    --md-ref-palette-tertiary-52: #688085;
    --md-ref-palette-tertiary-53: #6a8388;
    --md-ref-palette-tertiary-54: #6d858a;
    --md-ref-palette-tertiary-55: #6f888d;
    --md-ref-palette-tertiary-56: #728b8f;
    --md-ref-palette-tertiary-57: #748d92;
    --md-ref-palette-tertiary-58: #779095;
    --md-ref-palette-tertiary-59: #799297;
    --md-ref-palette-tertiary-60: #7c959a;
    --md-ref-palette-tertiary-61: #7f989d;
    --md-ref-palette-tertiary-62: #819a9f;
    --md-ref-palette-tertiary-63: #849da2;
    --md-ref-palette-tertiary-64: #86a0a4;
    --md-ref-palette-tertiary-65: #89a2a7;
    --md-ref-palette-tertiary-66: #8ca5aa;
    --md-ref-palette-tertiary-67: #8ea8ad;
    --md-ref-palette-tertiary-68: #91aaaf;
    --md-ref-palette-tertiary-69: #94adb2;
    --md-ref-palette-tertiary-70: #96b0b5;
    --md-ref-palette-tertiary-71: #99b2b7;
    --md-ref-palette-tertiary-72: #9cb5ba;
    --md-ref-palette-tertiary-73: #9eb8bd;
    --md-ref-palette-tertiary-74: #a1bbc0;
    --md-ref-palette-tertiary-75: #a4bdc2;
    --md-ref-palette-tertiary-76: #a6c0c5;
    --md-ref-palette-tertiary-77: #a9c3c8;
    --md-ref-palette-tertiary-78: #acc6cb;
    --md-ref-palette-tertiary-79: #aec8cd;
    --md-ref-palette-tertiary-80: #b1cbd0;
    --md-ref-palette-tertiary-81: #b4ced3;
    --md-ref-palette-tertiary-82: #b7d1d6;
    --md-ref-palette-tertiary-83: #b9d3d9;
    --md-ref-palette-tertiary-84: #bcd6db;
    --md-ref-palette-tertiary-85: #bfd9de;
    --md-ref-palette-tertiary-86: #c2dce1;
    --md-ref-palette-tertiary-87: #c5dfe4;
    --md-ref-palette-tertiary-88: #c7e2e7;
    --md-ref-palette-tertiary-89: #cae4ea;
    --md-ref-palette-tertiary-90: #cde7ec;
    --md-ref-palette-tertiary-91: #d0eaef;
    --md-ref-palette-tertiary-92: #d3edf2;
    --md-ref-palette-tertiary-93: #d5f0f5;
    --md-ref-palette-tertiary-94: #d8f3f8;
    --md-ref-palette-tertiary-95: #dbf5fb;
    --md-ref-palette-tertiary-96: #def8fe;
    --md-ref-palette-tertiary-97: #e4fbff;
    --md-ref-palette-tertiary-98: #edfcff;
    --md-ref-palette-tertiary-99: #f6fdff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030404;
    --md-ref-palette-neutral-2: #060808;
    --md-ref-palette-neutral-3: #0a0b0b;
    --md-ref-palette-neutral-4: #0d0e0f;
    --md-ref-palette-neutral-5: #101111;
    --md-ref-palette-neutral-6: #121414;
    --md-ref-palette-neutral-7: #151616;
    --md-ref-palette-neutral-8: #171818;
    --md-ref-palette-neutral-9: #191a1a;
    --md-ref-palette-neutral-10: #1b1c1c;
    --md-ref-palette-neutral-11: #1d1e1e;
    --md-ref-palette-neutral-12: #1f2020;
    --md-ref-palette-neutral-13: #212222;
    --md-ref-palette-neutral-14: #232424;
    --md-ref-palette-neutral-15: #252626;
    --md-ref-palette-neutral-16: #272828;
    --md-ref-palette-neutral-17: #292a2a;
    --md-ref-palette-neutral-18: #2b2c2c;
    --md-ref-palette-neutral-19: #2d2e2f;
    --md-ref-palette-neutral-20: #2f3031;
    --md-ref-palette-neutral-21: #323333;
    --md-ref-palette-neutral-22: #343535;
    --md-ref-palette-neutral-23: #363737;
    --md-ref-palette-neutral-24: #383939;
    --md-ref-palette-neutral-25: #3b3b3c;
    --md-ref-palette-neutral-26: #3d3e3e;
    --md-ref-palette-neutral-27: #3f4040;
    --md-ref-palette-neutral-28: #414242;
    --md-ref-palette-neutral-29: #444445;
    --md-ref-palette-neutral-30: #464747;
    --md-ref-palette-neutral-31: #484949;
    --md-ref-palette-neutral-32: #4b4b4c;
    --md-ref-palette-neutral-33: #4d4e4e;
    --md-ref-palette-neutral-34: #4f5050;
    --md-ref-palette-neutral-35: #525253;
    --md-ref-palette-neutral-36: #545555;
    --md-ref-palette-neutral-37: #575757;
    --md-ref-palette-neutral-38: #595a5a;
    --md-ref-palette-neutral-39: #5b5c5c;
    --md-ref-palette-neutral-40: #5e5e5e;
    --md-ref-palette-neutral-41: #606161;
    --md-ref-palette-neutral-42: #636363;
    --md-ref-palette-neutral-43: #656666;
    --md-ref-palette-neutral-44: #686868;
    --md-ref-palette-neutral-45: #6a6b6b;
    --md-ref-palette-neutral-46: #6d6d6d;
    --md-ref-palette-neutral-47: #6f6f70;
    --md-ref-palette-neutral-48: #727272;
    --md-ref-palette-neutral-49: #747475;
    --md-ref-palette-neutral-50: #777777;
    --md-ref-palette-neutral-51: #79797a;
    --md-ref-palette-neutral-52: #7c7c7c;
    --md-ref-palette-neutral-53: #7e7f7f;
    --md-ref-palette-neutral-54: #818181;
    --md-ref-palette-neutral-55: #848484;
    --md-ref-palette-neutral-56: #868686;
    --md-ref-palette-neutral-57: #898989;
    --md-ref-palette-neutral-58: #8b8b8b;
    --md-ref-palette-neutral-59: #8e8e8e;
    --md-ref-palette-neutral-60: #919191;
    --md-ref-palette-neutral-61: #939393;
    --md-ref-palette-neutral-62: #969696;
    --md-ref-palette-neutral-63: #999898;
    --md-ref-palette-neutral-64: #9b9b9b;
    --md-ref-palette-neutral-65: #9e9e9e;
    --md-ref-palette-neutral-66: #a1a0a0;
    --md-ref-palette-neutral-67: #a3a3a3;
    --md-ref-palette-neutral-68: #a6a6a6;
    --md-ref-palette-neutral-69: #a9a8a8;
    --md-ref-palette-neutral-70: #ababab;
    --md-ref-palette-neutral-71: #aeaeae;
    --md-ref-palette-neutral-72: #b1b0b0;
    --md-ref-palette-neutral-73: #b4b3b3;
    --md-ref-palette-neutral-74: #b6b6b6;
    --md-ref-palette-neutral-75: #b9b8b8;
    --md-ref-palette-neutral-76: #bcbbbb;
    --md-ref-palette-neutral-77: #bfbebe;
    --md-ref-palette-neutral-78: #c1c1c1;
    --md-ref-palette-neutral-79: #c4c3c3;
    --md-ref-palette-neutral-80: #c7c6c6;
    --md-ref-palette-neutral-81: #cac9c9;
    --md-ref-palette-neutral-82: #cdcccc;
    --md-ref-palette-neutral-83: #cfcece;
    --md-ref-palette-neutral-84: #d2d1d1;
    --md-ref-palette-neutral-85: #d5d4d4;
    --md-ref-palette-neutral-86: #d8d7d7;
    --md-ref-palette-neutral-87: #dbdada;
    --md-ref-palette-neutral-88: #dddcdc;
    --md-ref-palette-neutral-89: #e0dfdf;
    --md-ref-palette-neutral-90: #e3e2e2;
    --md-ref-palette-neutral-91: #e6e5e5;
    --md-ref-palette-neutral-92: #e9e8e8;
    --md-ref-palette-neutral-93: #ecebea;
    --md-ref-palette-neutral-94: #efeded;
    --md-ref-palette-neutral-95: #f2f0f0;
    --md-ref-palette-neutral-96: #f5f3f3;
    --md-ref-palette-neutral-97: #f7f6f6;
    --md-ref-palette-neutral-98: #faf9f9;
    --md-ref-palette-neutral-99: #fdfcfc;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030404;
    --md-ref-palette-neutral-variant-2: #060808;
    --md-ref-palette-neutral-variant-3: #0a0b0b;
    --md-ref-palette-neutral-variant-4: #0d0e0f;
    --md-ref-palette-neutral-variant-5: #101111;
    --md-ref-palette-neutral-variant-6: #121414;
    --md-ref-palette-neutral-variant-7: #151616;
    --md-ref-palette-neutral-variant-8: #171818;
    --md-ref-palette-neutral-variant-9: #191a1a;
    --md-ref-palette-neutral-variant-10: #1b1c1c;
    --md-ref-palette-neutral-variant-11: #1d1e1e;
    --md-ref-palette-neutral-variant-12: #1f2020;
    --md-ref-palette-neutral-variant-13: #212222;
    --md-ref-palette-neutral-variant-14: #232424;
    --md-ref-palette-neutral-variant-15: #252626;
    --md-ref-palette-neutral-variant-16: #272828;
    --md-ref-palette-neutral-variant-17: #292a2a;
    --md-ref-palette-neutral-variant-18: #2b2c2c;
    --md-ref-palette-neutral-variant-19: #2d2e2f;
    --md-ref-palette-neutral-variant-20: #2f3031;
    --md-ref-palette-neutral-variant-21: #323333;
    --md-ref-palette-neutral-variant-22: #343535;
    --md-ref-palette-neutral-variant-23: #363737;
    --md-ref-palette-neutral-variant-24: #383939;
    --md-ref-palette-neutral-variant-25: #3b3b3c;
    --md-ref-palette-neutral-variant-26: #3d3e3e;
    --md-ref-palette-neutral-variant-27: #3f4040;
    --md-ref-palette-neutral-variant-28: #414242;
    --md-ref-palette-neutral-variant-29: #444445;
    --md-ref-palette-neutral-variant-30: #464747;
    --md-ref-palette-neutral-variant-31: #484949;
    --md-ref-palette-neutral-variant-32: #4b4b4c;
    --md-ref-palette-neutral-variant-33: #4d4e4e;
    --md-ref-palette-neutral-variant-34: #4f5050;
    --md-ref-palette-neutral-variant-35: #525253;
    --md-ref-palette-neutral-variant-36: #545555;
    --md-ref-palette-neutral-variant-37: #575757;
    --md-ref-palette-neutral-variant-38: #595a5a;
    --md-ref-palette-neutral-variant-39: #5b5c5c;
    --md-ref-palette-neutral-variant-40: #5e5e5e;
    --md-ref-palette-neutral-variant-41: #606161;
    --md-ref-palette-neutral-variant-42: #636363;
    --md-ref-palette-neutral-variant-43: #656666;
    --md-ref-palette-neutral-variant-44: #686868;
    --md-ref-palette-neutral-variant-45: #6a6b6b;
    --md-ref-palette-neutral-variant-46: #6d6d6d;
    --md-ref-palette-neutral-variant-47: #6f6f70;
    --md-ref-palette-neutral-variant-48: #727272;
    --md-ref-palette-neutral-variant-49: #747475;
    --md-ref-palette-neutral-variant-50: #777777;
    --md-ref-palette-neutral-variant-51: #79797a;
    --md-ref-palette-neutral-variant-52: #7c7c7c;
    --md-ref-palette-neutral-variant-53: #7e7f7f;
    --md-ref-palette-neutral-variant-54: #818181;
    --md-ref-palette-neutral-variant-55: #848484;
    --md-ref-palette-neutral-variant-56: #868686;
    --md-ref-palette-neutral-variant-57: #898989;
    --md-ref-palette-neutral-variant-58: #8b8b8b;
    --md-ref-palette-neutral-variant-59: #8e8e8e;
    --md-ref-palette-neutral-variant-60: #919191;
    --md-ref-palette-neutral-variant-61: #939393;
    --md-ref-palette-neutral-variant-62: #969696;
    --md-ref-palette-neutral-variant-63: #999898;
    --md-ref-palette-neutral-variant-64: #9b9b9b;
    --md-ref-palette-neutral-variant-65: #9e9e9e;
    --md-ref-palette-neutral-variant-66: #a1a0a0;
    --md-ref-palette-neutral-variant-67: #a3a3a3;
    --md-ref-palette-neutral-variant-68: #a6a6a6;
    --md-ref-palette-neutral-variant-69: #a9a8a8;
    --md-ref-palette-neutral-variant-70: #ababab;
    --md-ref-palette-neutral-variant-71: #aeaeae;
    --md-ref-palette-neutral-variant-72: #b1b0b0;
    --md-ref-palette-neutral-variant-73: #b4b3b3;
    --md-ref-palette-neutral-variant-74: #b6b6b6;
    --md-ref-palette-neutral-variant-75: #b9b8b8;
    --md-ref-palette-neutral-variant-76: #bcbbbb;
    --md-ref-palette-neutral-variant-77: #bfbebe;
    --md-ref-palette-neutral-variant-78: #c1c1c1;
    --md-ref-palette-neutral-variant-79: #c4c3c3;
    --md-ref-palette-neutral-variant-80: #c7c6c6;
    --md-ref-palette-neutral-variant-81: #cac9c9;
    --md-ref-palette-neutral-variant-82: #cdcccc;
    --md-ref-palette-neutral-variant-83: #cfcece;
    --md-ref-palette-neutral-variant-84: #d2d1d1;
    --md-ref-palette-neutral-variant-85: #d5d4d4;
    --md-ref-palette-neutral-variant-86: #d8d7d7;
    --md-ref-palette-neutral-variant-87: #dbdada;
    --md-ref-palette-neutral-variant-88: #dddcdc;
    --md-ref-palette-neutral-variant-89: #e0dfdf;
    --md-ref-palette-neutral-variant-90: #e3e2e2;
    --md-ref-palette-neutral-variant-91: #e6e5e5;
    --md-ref-palette-neutral-variant-92: #e9e8e8;
    --md-ref-palette-neutral-variant-93: #ecebea;
    --md-ref-palette-neutral-variant-94: #efeded;
    --md-ref-palette-neutral-variant-95: #f2f0f0;
    --md-ref-palette-neutral-variant-96: #f5f3f3;
    --md-ref-palette-neutral-variant-97: #f7f6f6;
    --md-ref-palette-neutral-variant-98: #faf9f9;
    --md-ref-palette-neutral-variant-99: #fdfcfc;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
