:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #080202;
    --md-ref-palette-primary-2: #0e0504;
    --md-ref-palette-primary-3: #130807;
    --md-ref-palette-primary-4: #160b09;
    --md-ref-palette-primary-5: #190e0c;
    --md-ref-palette-primary-6: #1c110e;
    --md-ref-palette-primary-7: #1e1310;
    --md-ref-palette-primary-8: #211512;
    --md-ref-palette-primary-9: #231714;
    --md-ref-palette-primary-10: #251916;
    --md-ref-palette-primary-11: #271b18;
    --md-ref-palette-primary-12: #291d1a;
    --md-ref-palette-primary-13: #2b1f1c;
    --md-ref-palette-primary-14: #2e211e;
    --md-ref-palette-primary-15: #302320;
    --md-ref-palette-primary-16: #322522;
    --md-ref-palette-primary-17: #342724;
    --md-ref-palette-primary-18: #372926;
    --md-ref-palette-primary-19: #392b28;
    --md-ref-palette-primary-20: #3b2d2a;
    --md-ref-palette-primary-21: #3d2f2c;
    --md-ref-palette-primary-22: #40312f;
    --md-ref-palette-primary-23: #423431;
    --md-ref-palette-primary-24: #443633;
    --md-ref-palette-primary-25: #473835;
    --md-ref-palette-primary-26: #493a37;
    --md-ref-palette-primary-27: #4c3c39;
    --md-ref-palette-primary-28: #4e3f3c;
    --md-ref-palette-primary-29: #50413e;
    --md-ref-palette-primary-30: #534340;
    --md-ref-palette-primary-31: #554542;
    --md-ref-palette-primary-32: #584845;
    --md-ref-palette-primary-33: #5a4a47;
    --md-ref-palette-primary-34: #5d4c49;
    --md-ref-palette-primary-35: #5f4f4b;
    --md-ref-palette-primary-36: #61514e;
    --md-ref-palette-primary-37: #645350;
    --md-ref-palette-primary-38: #665652;
    --md-ref-palette-primary-39: #695855;
    --md-ref-palette-primary-40: #6c5b57;
    --md-ref-palette-primary-41: #6e5d59;
    --md-ref-palette-primary-42: #715f5c;
    --md-ref-palette-primary-43: #73625e;
    --md-ref-palette-primary-44: #766461;
    --md-ref-palette-primary-45: #786763;
    --md-ref-palette-primary-46: #7b6965;
    --md-ref-palette-primary-47: #7d6c68;
    --md-ref-palette-primary-48: #806e6a;
    --md-ref-palette-primary-49: #83706d;
    --md-ref-palette-primary-50: #85736f;
    --md-ref-palette-primary-51: #887572;
    --md-ref-palette-primary-52: #8b7874;
    --md-ref-palette-primary-53: #8d7a77;
    --md-ref-palette-primary-54: #907d79;
    --md-ref-palette-primary-55: #93807c;
    --md-ref-palette-primary-56: #95827e;
    --md-ref-palette-primary-57: #988581;
    --md-ref-palette-primary-58: #9b8783;
    --md-ref-palette-primary-59: #9d8a86;
    --md-ref-palette-primary-60: #a08c88;
    --md-ref-palette-primary-61: #a38f8b;
    --md-ref-palette-primary-62: #a5928e;
    --md-ref-palette-primary-63: #a89490;
    --md-ref-palette-primary-64: #ab9793;
    --md-ref-palette-primary-65: #ae9995;
    --md-ref-palette-primary-66: #b09c98;
    --md-ref-palette-primary-67: #b39f9b;
    --md-ref-palette-primary-68: #b6a19d;
    --md-ref-palette-primary-69: #b9a4a0;
    --md-ref-palette-primary-70: #bca7a2;
    --md-ref-palette-primary-71: #bea9a5;
    --md-ref-palette-primary-72: #c1aca8;
    --md-ref-palette-primary-73: #c4afaa;
    --md-ref-palette-primary-74: #c7b1ad;
    --md-ref-palette-primary-75: #cab4b0;
    --md-ref-palette-primary-76: #ccb7b2;
    --md-ref-palette-primary-77: #cfb9b5;
    --md-ref-palette-primary-78: #d2bcb8;
    --md-ref-palette-primary-79: #d5bfbb;
    --md-ref-palette-primary-80: #d8c2bd;
    --md-ref-palette-primary-81: #dbc4c0;
    --md-ref-palette-primary-82: #dec7c3;
    --md-ref-palette-primary-83: #e0cac5;
    --md-ref-palette-primary-84: #e3cdc8;
    --md-ref-palette-primary-85: #e6cfcb;
    --md-ref-palette-primary-86: #e9d2ce;
    --md-ref-palette-primary-87: #ecd5d0;
    --md-ref-palette-primary-88: #efd8d3;
    --md-ref-palette-primary-89: #f2dbd6;
    --md-ref-palette-primary-90: #f5ddd9;
    --md-ref-palette-primary-91: #f8e0dc;
    --md-ref-palette-primary-92: #fbe3de;
    --md-ref-palette-primary-93: #fee6e1;
    --md-ref-palette-primary-94: #ffe9e5;
    --md-ref-palette-primary-95: #ffede9;
    --md-ref-palette-primary-96: #fff0ee;
    --md-ref-palette-primary-97: #fff4f2;
    --md-ref-palette-primary-98: #fff8f6;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #060303;
    --md-ref-palette-secondary-2: #0b0606;
    --md-ref-palette-secondary-3: #0f0a09;
    --md-ref-palette-secondary-4: #120d0c;
    --md-ref-palette-secondary-5: #15100e;
    --md-ref-palette-secondary-6: #181211;
    --md-ref-palette-secondary-7: #1a1413;
    --md-ref-palette-secondary-8: #1c1615;
    --md-ref-palette-secondary-9: #1e1817;
    --md-ref-palette-secondary-10: #201a19;
    --md-ref-palette-secondary-11: #231c1b;
    --md-ref-palette-secondary-12: #251e1d;
    --md-ref-palette-secondary-13: #27201f;
    --md-ref-palette-secondary-14: #292221;
    --md-ref-palette-secondary-15: #2b2423;
    --md-ref-palette-secondary-16: #2d2625;
    --md-ref-palette-secondary-17: #2f2827;
    --md-ref-palette-secondary-18: #322a29;
    --md-ref-palette-secondary-19: #342d2b;
    --md-ref-palette-secondary-20: #362f2d;
    --md-ref-palette-secondary-21: #38312f;
    --md-ref-palette-secondary-22: #3b3332;
    --md-ref-palette-secondary-23: #3d3534;
    --md-ref-palette-secondary-24: #3f3736;
    --md-ref-palette-secondary-25: #413a38;
    --md-ref-palette-secondary-26: #443c3a;
    --md-ref-palette-secondary-27: #463e3d;
    --md-ref-palette-secondary-28: #48403f;
    --md-ref-palette-secondary-29: #4b4341;
    --md-ref-palette-secondary-30: #4d4543;
    --md-ref-palette-secondary-31: #4f4746;
    --md-ref-palette-secondary-32: #524a48;
    --md-ref-palette-secondary-33: #544c4a;
    --md-ref-palette-secondary-34: #574e4c;
    --md-ref-palette-secondary-35: #59504f;
    --md-ref-palette-secondary-36: #5c5351;
    --md-ref-palette-secondary-37: #5e5553;
    --md-ref-palette-secondary-38: #605856;
    --md-ref-palette-secondary-39: #635a58;
    --md-ref-palette-secondary-40: #655c5b;
    --md-ref-palette-secondary-41: #685f5d;
    --md-ref-palette-secondary-42: #6a615f;
    --md-ref-palette-secondary-43: #6d6462;
    --md-ref-palette-secondary-44: #6f6664;
    --md-ref-palette-secondary-45: #726867;
    --md-ref-palette-secondary-46: #756b69;
    --md-ref-palette-secondary-47: #776d6b;
    --md-ref-palette-secondary-48: #7a706e;
    --md-ref-palette-secondary-49: #7c7270;
    --md-ref-palette-secondary-50: #7f7573;
    --md-ref-palette-secondary-51: #817775;
    --md-ref-palette-secondary-52: #847a78;
    --md-ref-palette-secondary-53: #877c7a;
    --md-ref-palette-secondary-54: #897f7d;
    --md-ref-palette-secondary-55: #8c817f;
    --md-ref-palette-secondary-56: #8e8482;
    --md-ref-palette-secondary-57: #918785;
    --md-ref-palette-secondary-58: #948987;
    --md-ref-palette-secondary-59: #968c8a;
    --md-ref-palette-secondary-60: #998e8c;
    --md-ref-palette-secondary-61: #9c918f;
    --md-ref-palette-secondary-62: #9e9491;
    --md-ref-palette-secondary-63: #a19694;
    --md-ref-palette-secondary-64: #a49997;
    --md-ref-palette-secondary-65: #a79b99;
    --md-ref-palette-secondary-66: #a99e9c;
    --md-ref-palette-secondary-67: #aca19e;
    --md-ref-palette-secondary-68: #afa3a1;
    --md-ref-palette-secondary-69: #b1a6a4;
    --md-ref-palette-secondary-70: #b4a9a6;
    --md-ref-palette-secondary-71: #b7aba9;
    --md-ref-palette-secondary-72: #baaeac;
    --md-ref-palette-secondary-73: #bcb1ae;
    --md-ref-palette-secondary-74: #bfb3b1;
    --md-ref-palette-secondary-75: #c2b6b4;
    --md-ref-palette-secondary-76: #c5b9b7;
    --md-ref-palette-secondary-77: #c8bcb9;
    --md-ref-palette-secondary-78: #cabebc;
    --md-ref-palette-secondary-79: #cdc1bf;
    --md-ref-palette-secondary-80: #d0c4c1;
    --md-ref-palette-secondary-81: #d3c7c4;
    --md-ref-palette-secondary-82: #d6c9c7;
    --md-ref-palette-secondary-83: #d9ccca;
    --md-ref-palette-secondary-84: #dbcfcc;
    --md-ref-palette-secondary-85: #ded2cf;
    --md-ref-palette-secondary-86: #e1d4d2;
    --md-ref-palette-secondary-87: #e4d7d5;
    --md-ref-palette-secondary-88: #e7dad7;
    --md-ref-palette-secondary-89: #eaddda;
    --md-ref-palette-secondary-90: #ede0dd;
    --md-ref-palette-secondary-91: #f0e2e0;
    --md-ref-palette-secondary-92: #f3e5e3;
    --md-ref-palette-secondary-93: #f5e8e6;
    --md-ref-palette-secondary-94: #f8ebe8;
    --md-ref-palette-secondary-95: #fbeeeb;
    --md-ref-palette-secondary-96: #fef1ee;
    --md-ref-palette-secondary-97: #fff4f2;
    --md-ref-palette-secondary-98: #fff8f6;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0f0005;
    --md-ref-palette-tertiary-2: #150209;
    --md-ref-palette-tertiary-3: #1a040c;
    --md-ref-palette-tertiary-4: #1e0610;
    --md-ref-palette-tertiary-5: #210812;
    --md-ref-palette-tertiary-6: #240b15;
    --md-ref-palette-tertiary-7: #270d17;
    --md-ref-palette-tertiary-8: #290f19;
    --md-ref-palette-tertiary-9: #2b111b;
    --md-ref-palette-tertiary-10: #2e131d;
    --md-ref-palette-tertiary-11: #30151f;
    --md-ref-palette-tertiary-12: #321721;
    --md-ref-palette-tertiary-13: #351923;
    --md-ref-palette-tertiary-14: #371b25;
    --md-ref-palette-tertiary-15: #3a1d27;
    --md-ref-palette-tertiary-16: #3c1f2a;
    --md-ref-palette-tertiary-17: #3e212c;
    --md-ref-palette-tertiary-18: #41232e;
    --md-ref-palette-tertiary-19: #432530;
    --md-ref-palette-tertiary-20: #462732;
    --md-ref-palette-tertiary-21: #482934;
    --md-ref-palette-tertiary-22: #4b2c36;
    --md-ref-palette-tertiary-23: #4d2e39;
    --md-ref-palette-tertiary-24: #50303b;
    --md-ref-palette-tertiary-25: #52323d;
    --md-ref-palette-tertiary-26: #54343f;
    --md-ref-palette-tertiary-27: #573642;
    --md-ref-palette-tertiary-28: #5a3944;
    --md-ref-palette-tertiary-29: #5c3b46;
    --md-ref-palette-tertiary-30: #5f3d48;
    --md-ref-palette-tertiary-31: #613f4b;
    --md-ref-palette-tertiary-32: #64424d;
    --md-ref-palette-tertiary-33: #66444f;
    --md-ref-palette-tertiary-34: #694652;
    --md-ref-palette-tertiary-35: #6b4954;
    --md-ref-palette-tertiary-36: #6e4b56;
    --md-ref-palette-tertiary-37: #714d59;
    --md-ref-palette-tertiary-38: #73505b;
    --md-ref-palette-tertiary-39: #76525e;
    --md-ref-palette-tertiary-40: #795460;
    --md-ref-palette-tertiary-41: #7b5762;
    --md-ref-palette-tertiary-42: #7e5965;
    --md-ref-palette-tertiary-43: #805b67;
    --md-ref-palette-tertiary-44: #835e6a;
    --md-ref-palette-tertiary-45: #86606c;
    --md-ref-palette-tertiary-46: #89636f;
    --md-ref-palette-tertiary-47: #8b6571;
    --md-ref-palette-tertiary-48: #8e6774;
    --md-ref-palette-tertiary-49: #916a76;
    --md-ref-palette-tertiary-50: #936c79;
    --md-ref-palette-tertiary-51: #966f7b;
    --md-ref-palette-tertiary-52: #99717e;
    --md-ref-palette-tertiary-53: #9c7480;
    --md-ref-palette-tertiary-54: #9e7683;
    --md-ref-palette-tertiary-55: #a17985;
    --md-ref-palette-tertiary-56: #a47b88;
    --md-ref-palette-tertiary-57: #a77e8b;
    --md-ref-palette-tertiary-58: #a9808d;
    --md-ref-palette-tertiary-59: #ac8390;
    --md-ref-palette-tertiary-60: #af8692;
    --md-ref-palette-tertiary-61: #b28895;
    --md-ref-palette-tertiary-62: #b58b98;
    --md-ref-palette-tertiary-63: #b78d9a;
    --md-ref-palette-tertiary-64: #ba909d;
    --md-ref-palette-tertiary-65: #bd929f;
    --md-ref-palette-tertiary-66: #c095a2;
    --md-ref-palette-tertiary-67: #c398a5;
    --md-ref-palette-tertiary-68: #c69aa7;
    --md-ref-palette-tertiary-69: #c89daa;
    --md-ref-palette-tertiary-70: #cba0ad;
    --md-ref-palette-tertiary-71: #cea2af;
    --md-ref-palette-tertiary-72: #d1a5b2;
    --md-ref-palette-tertiary-73: #d4a8b5;
    --md-ref-palette-tertiary-74: #d7aab8;
    --md-ref-palette-tertiary-75: #daadba;
    --md-ref-palette-tertiary-76: #ddb0bd;
    --md-ref-palette-tertiary-77: #e0b2c0;
    --md-ref-palette-tertiary-78: #e3b5c3;
    --md-ref-palette-tertiary-79: #e6b8c5;
    --md-ref-palette-tertiary-80: #e8bac8;
    --md-ref-palette-tertiary-81: #ebbdcb;
    --md-ref-palette-tertiary-82: #eec0ce;
    --md-ref-palette-tertiary-83: #f1c3d0;
    --md-ref-palette-tertiary-84: #f4c5d3;
    --md-ref-palette-tertiary-85: #f7c8d6;
    --md-ref-palette-tertiary-86: #facbd9;
    --md-ref-palette-tertiary-87: #fdcedc;
    --md-ref-palette-tertiary-88: #ffd1de;
    --md-ref-palette-tertiary-89: #ffd5e1;
    --md-ref-palette-tertiary-90: #ffd9e3;
    --md-ref-palette-tertiary-91: #ffdde6;
    --md-ref-palette-tertiary-92: #ffe1e8;
    --md-ref-palette-tertiary-93: #ffe4eb;
    --md-ref-palette-tertiary-94: #ffe8ed;
    --md-ref-palette-tertiary-95: #ffecf0;
    --md-ref-palette-tertiary-96: #fff0f3;
    --md-ref-palette-tertiary-97: #fff4f5;
    --md-ref-palette-tertiary-98: #fff8f8;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100002;
    --md-ref-palette-error-2: #1a0003;
    --md-ref-palette-error-3: #210005;
    --md-ref-palette-error-4: #270007;
    --md-ref-palette-error-5: #2c0008;
    --md-ref-palette-error-6: #31000a;
    --md-ref-palette-error-7: #35000c;
    --md-ref-palette-error-8: #39000d;
    --md-ref-palette-error-9: #3c000f;
    --md-ref-palette-error-10: #400010;
    --md-ref-palette-error-11: #440011;
    --md-ref-palette-error-12: #480013;
    --md-ref-palette-error-13: #4b0014;
    --md-ref-palette-error-14: #4f0116;
    --md-ref-palette-error-15: #520318;
    --md-ref-palette-error-16: #55051a;
    --md-ref-palette-error-17: #58071c;
    --md-ref-palette-error-18: #5b0a1e;
    --md-ref-palette-error-19: #5e0d20;
    --md-ref-palette-error-20: #610f22;
    --md-ref-palette-error-21: #641224;
    --md-ref-palette-error-22: #671426;
    --md-ref-palette-error-23: #6a1728;
    --md-ref-palette-error-24: #6d192a;
    --md-ref-palette-error-25: #701b2c;
    --md-ref-palette-error-26: #731e2e;
    --md-ref-palette-error-27: #762031;
    --md-ref-palette-error-28: #792233;
    --md-ref-palette-error-29: #7c2535;
    --md-ref-palette-error-30: #7f2737;
    --md-ref-palette-error-31: #822939;
    --md-ref-palette-error-32: #852c3b;
    --md-ref-palette-error-33: #882e3e;
    --md-ref-palette-error-34: #8b3040;
    --md-ref-palette-error-35: #8e3342;
    --md-ref-palette-error-36: #913544;
    --md-ref-palette-error-37: #943747;
    --md-ref-palette-error-38: #973a49;
    --md-ref-palette-error-39: #9a3c4b;
    --md-ref-palette-error-40: #9d3e4d;
    --md-ref-palette-error-41: #a14150;
    --md-ref-palette-error-42: #a44352;
    --md-ref-palette-error-43: #a74654;
    --md-ref-palette-error-44: #aa4857;
    --md-ref-palette-error-45: #ad4a59;
    --md-ref-palette-error-46: #b04d5b;
    --md-ref-palette-error-47: #b34f5e;
    --md-ref-palette-error-48: #b65260;
    --md-ref-palette-error-49: #b95463;
    --md-ref-palette-error-50: #bd5665;
    --md-ref-palette-error-51: #c05967;
    --md-ref-palette-error-52: #c35b6a;
    --md-ref-palette-error-53: #c65e6c;
    --md-ref-palette-error-54: #c9606f;
    --md-ref-palette-error-55: #cc6371;
    --md-ref-palette-error-56: #cf6574;
    --md-ref-palette-error-57: #d36876;
    --md-ref-palette-error-58: #d66a79;
    --md-ref-palette-error-59: #d96d7b;
    --md-ref-palette-error-60: #dc6f7e;
    --md-ref-palette-error-61: #df7280;
    --md-ref-palette-error-62: #e27483;
    --md-ref-palette-error-63: #e67785;
    --md-ref-palette-error-64: #e97988;
    --md-ref-palette-error-65: #ec7c8a;
    --md-ref-palette-error-66: #ef7e8d;
    --md-ref-palette-error-67: #f2818f;
    --md-ref-palette-error-68: #f68492;
    --md-ref-palette-error-69: #f98694;
    --md-ref-palette-error-70: #fc8997;
    --md-ref-palette-error-71: #ff8b9a;
    --md-ref-palette-error-72: #ff909d;
    --md-ref-palette-error-73: #ff94a1;
    --md-ref-palette-error-74: #ff99a4;
    --md-ref-palette-error-75: #ff9da8;
    --md-ref-palette-error-76: #ffa2ab;
    --md-ref-palette-error-77: #ffa6af;
    --md-ref-palette-error-78: #ffaab2;
    --md-ref-palette-error-79: #ffaeb6;
    --md-ref-palette-error-80: #ffb2b9;
    --md-ref-palette-error-81: #ffb6bd;
    --md-ref-palette-error-82: #ffbac0;
    --md-ref-palette-error-83: #ffbec4;
    --md-ref-palette-error-84: #ffc2c7;
    --md-ref-palette-error-85: #ffc6cb;
    --md-ref-palette-error-86: #ffcace;
    --md-ref-palette-error-87: #ffced2;
    --md-ref-palette-error-88: #ffd2d5;
    --md-ref-palette-error-89: #ffd6d8;
    --md-ref-palette-error-90: #ffdadc;
    --md-ref-palette-error-91: #ffdddf;
    --md-ref-palette-error-92: #ffe1e3;
    --md-ref-palette-error-93: #ffe5e6;
    --md-ref-palette-error-94: #ffe9e9;
    --md-ref-palette-error-95: #ffeced;
    --md-ref-palette-error-96: #fff0f0;
    --md-ref-palette-error-97: #fff4f4;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040303;
    --md-ref-palette-neutral-2: #090707;
    --md-ref-palette-neutral-3: #0d0b0a;
    --md-ref-palette-neutral-4: #100e0d;
    --md-ref-palette-neutral-5: #131010;
    --md-ref-palette-neutral-6: #151312;
    --md-ref-palette-neutral-7: #171515;
    --md-ref-palette-neutral-8: #191717;
    --md-ref-palette-neutral-9: #1b1919;
    --md-ref-palette-neutral-10: #1d1b1a;
    --md-ref-palette-neutral-11: #201d1c;
    --md-ref-palette-neutral-12: #221f1e;
    --md-ref-palette-neutral-13: #242120;
    --md-ref-palette-neutral-14: #262323;
    --md-ref-palette-neutral-15: #282525;
    --md-ref-palette-neutral-16: #2a2727;
    --md-ref-palette-neutral-17: #2c2929;
    --md-ref-palette-neutral-18: #2e2b2b;
    --md-ref-palette-neutral-19: #312e2d;
    --md-ref-palette-neutral-20: #33302f;
    --md-ref-palette-neutral-21: #353231;
    --md-ref-palette-neutral-22: #373433;
    --md-ref-palette-neutral-23: #393636;
    --md-ref-palette-neutral-24: #3c3838;
    --md-ref-palette-neutral-25: #3e3b3a;
    --md-ref-palette-neutral-26: #403d3c;
    --md-ref-palette-neutral-27: #433f3e;
    --md-ref-palette-neutral-28: #454141;
    --md-ref-palette-neutral-29: #474443;
    --md-ref-palette-neutral-30: #494645;
    --md-ref-palette-neutral-31: #4c4848;
    --md-ref-palette-neutral-32: #4e4b4a;
    --md-ref-palette-neutral-33: #514d4c;
    --md-ref-palette-neutral-34: #534f4e;
    --md-ref-palette-neutral-35: #555251;
    --md-ref-palette-neutral-36: #585453;
    --md-ref-palette-neutral-37: #5a5655;
    --md-ref-palette-neutral-38: #5d5958;
    --md-ref-palette-neutral-39: #5f5b5a;
    --md-ref-palette-neutral-40: #615d5d;
    --md-ref-palette-neutral-41: #64605f;
    --md-ref-palette-neutral-42: #666261;
    --md-ref-palette-neutral-43: #696564;
    --md-ref-palette-neutral-44: #6b6766;
    --md-ref-palette-neutral-45: #6e6a69;
    --md-ref-palette-neutral-46: #706c6b;
    --md-ref-palette-neutral-47: #736e6e;
    --md-ref-palette-neutral-48: #757170;
    --md-ref-palette-neutral-49: #787373;
    --md-ref-palette-neutral-50: #7b7675;
    --md-ref-palette-neutral-51: #7d7878;
    --md-ref-palette-neutral-52: #807b7a;
    --md-ref-palette-neutral-53: #827e7d;
    --md-ref-palette-neutral-54: #85807f;
    --md-ref-palette-neutral-55: #888382;
    --md-ref-palette-neutral-56: #8a8584;
    --md-ref-palette-neutral-57: #8d8887;
    --md-ref-palette-neutral-58: #8f8a89;
    --md-ref-palette-neutral-59: #928d8c;
    --md-ref-palette-neutral-60: #95908f;
    --md-ref-palette-neutral-61: #979291;
    --md-ref-palette-neutral-62: #9a9594;
    --md-ref-palette-neutral-63: #9d9796;
    --md-ref-palette-neutral-64: #9f9a99;
    --md-ref-palette-neutral-65: #a29d9c;
    --md-ref-palette-neutral-66: #a59f9e;
    --md-ref-palette-neutral-67: #a7a2a1;
    --md-ref-palette-neutral-68: #aaa5a3;
    --md-ref-palette-neutral-69: #ada7a6;
    --md-ref-palette-neutral-70: #b0aaa9;
    --md-ref-palette-neutral-71: #b2adab;
    --md-ref-palette-neutral-72: #b5afae;
    --md-ref-palette-neutral-73: #b8b2b1;
    --md-ref-palette-neutral-74: #bbb5b4;
    --md-ref-palette-neutral-75: #bdb7b6;
    --md-ref-palette-neutral-76: #c0bab9;
    --md-ref-palette-neutral-77: #c3bdbc;
    --md-ref-palette-neutral-78: #c6c0be;
    --md-ref-palette-neutral-79: #c9c2c1;
    --md-ref-palette-neutral-80: #cbc5c4;
    --md-ref-palette-neutral-81: #cec8c7;
    --md-ref-palette-neutral-82: #d1cbc9;
    --md-ref-palette-neutral-83: #d4cdcc;
    --md-ref-palette-neutral-84: #d7d0cf;
    --md-ref-palette-neutral-85: #d9d3d2;
    --md-ref-palette-neutral-86: #dcd6d4;
    --md-ref-palette-neutral-87: #dfd9d7;
    --md-ref-palette-neutral-88: #e2dbda;
    --md-ref-palette-neutral-89: #e5dedd;
    --md-ref-palette-neutral-90: #e8e1e0;
    --md-ref-palette-neutral-91: #ebe4e2;
    --md-ref-palette-neutral-92: #eee7e5;
    --md-ref-palette-neutral-93: #f0e9e8;
    --md-ref-palette-neutral-94: #f3eceb;
    --md-ref-palette-neutral-95: #f6efee;
    --md-ref-palette-neutral-96: #f9f2f1;
    --md-ref-palette-neutral-97: #fcf5f3;
    --md-ref-palette-neutral-98: #fff8f6;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #050303;
    --md-ref-palette-neutral-variant-2: #0a0706;
    --md-ref-palette-neutral-variant-3: #0e0a09;
    --md-ref-palette-neutral-variant-4: #120d0c;
    --md-ref-palette-neutral-variant-5: #14100f;
    --md-ref-palette-neutral-variant-6: #171211;
    --md-ref-palette-neutral-variant-7: #191414;
    --md-ref-palette-neutral-variant-8: #1b1716;
    --md-ref-palette-neutral-variant-9: #1d1817;
    --md-ref-palette-neutral-variant-10: #1f1a19;
    --md-ref-palette-neutral-variant-11: #211c1b;
    --md-ref-palette-neutral-variant-12: #241e1d;
    --md-ref-palette-neutral-variant-13: #26201f;
    --md-ref-palette-neutral-variant-14: #282221;
    --md-ref-palette-neutral-variant-15: #2a2523;
    --md-ref-palette-neutral-variant-16: #2c2726;
    --md-ref-palette-neutral-variant-17: #2e2928;
    --md-ref-palette-neutral-variant-18: #302b2a;
    --md-ref-palette-neutral-variant-19: #332d2c;
    --md-ref-palette-neutral-variant-20: #352f2e;
    --md-ref-palette-neutral-variant-21: #373130;
    --md-ref-palette-neutral-variant-22: #393332;
    --md-ref-palette-neutral-variant-23: #3c3634;
    --md-ref-palette-neutral-variant-24: #3e3837;
    --md-ref-palette-neutral-variant-25: #403a39;
    --md-ref-palette-neutral-variant-26: #423c3b;
    --md-ref-palette-neutral-variant-27: #453e3d;
    --md-ref-palette-neutral-variant-28: #47413f;
    --md-ref-palette-neutral-variant-29: #494342;
    --md-ref-palette-neutral-variant-30: #4c4544;
    --md-ref-palette-neutral-variant-31: #4e4846;
    --md-ref-palette-neutral-variant-32: #514a49;
    --md-ref-palette-neutral-variant-33: #534c4b;
    --md-ref-palette-neutral-variant-34: #554f4d;
    --md-ref-palette-neutral-variant-35: #585150;
    --md-ref-palette-neutral-variant-36: #5a5352;
    --md-ref-palette-neutral-variant-37: #5d5654;
    --md-ref-palette-neutral-variant-38: #5f5857;
    --md-ref-palette-neutral-variant-39: #625a59;
    --md-ref-palette-neutral-variant-40: #645d5b;
    --md-ref-palette-neutral-variant-41: #665f5e;
    --md-ref-palette-neutral-variant-42: #696260;
    --md-ref-palette-neutral-variant-43: #6b6463;
    --md-ref-palette-neutral-variant-44: #6e6665;
    --md-ref-palette-neutral-variant-45: #716967;
    --md-ref-palette-neutral-variant-46: #736b6a;
    --md-ref-palette-neutral-variant-47: #766e6c;
    --md-ref-palette-neutral-variant-48: #78706f;
    --md-ref-palette-neutral-variant-49: #7b7371;
    --md-ref-palette-neutral-variant-50: #7d7574;
    --md-ref-palette-neutral-variant-51: #807876;
    --md-ref-palette-neutral-variant-52: #827a79;
    --md-ref-palette-neutral-variant-53: #857d7b;
    --md-ref-palette-neutral-variant-54: #887f7e;
    --md-ref-palette-neutral-variant-55: #8a8280;
    --md-ref-palette-neutral-variant-56: #8d8483;
    --md-ref-palette-neutral-variant-57: #908785;
    --md-ref-palette-neutral-variant-58: #928a88;
    --md-ref-palette-neutral-variant-59: #958c8a;
    --md-ref-palette-neutral-variant-60: #978f8d;
    --md-ref-palette-neutral-variant-61: #9a9190;
    --md-ref-palette-neutral-variant-62: #9d9492;
    --md-ref-palette-neutral-variant-63: #a09795;
    --md-ref-palette-neutral-variant-64: #a29997;
    --md-ref-palette-neutral-variant-65: #a59c9a;
    --md-ref-palette-neutral-variant-66: #a89e9d;
    --md-ref-palette-neutral-variant-67: #aaa19f;
    --md-ref-palette-neutral-variant-68: #ada4a2;
    --md-ref-palette-neutral-variant-69: #b0a6a5;
    --md-ref-palette-neutral-variant-70: #b3a9a7;
    --md-ref-palette-neutral-variant-71: #b5acaa;
    --md-ref-palette-neutral-variant-72: #b8aead;
    --md-ref-palette-neutral-variant-73: #bbb1af;
    --md-ref-palette-neutral-variant-74: #beb4b2;
    --md-ref-palette-neutral-variant-75: #c0b7b5;
    --md-ref-palette-neutral-variant-76: #c3b9b7;
    --md-ref-palette-neutral-variant-77: #c6bcba;
    --md-ref-palette-neutral-variant-78: #c9bfbd;
    --md-ref-palette-neutral-variant-79: #ccc2c0;
    --md-ref-palette-neutral-variant-80: #cec4c2;
    --md-ref-palette-neutral-variant-81: #d1c7c5;
    --md-ref-palette-neutral-variant-82: #d4cac8;
    --md-ref-palette-neutral-variant-83: #d7cdcb;
    --md-ref-palette-neutral-variant-84: #dacfcd;
    --md-ref-palette-neutral-variant-85: #ddd2d0;
    --md-ref-palette-neutral-variant-86: #dfd5d3;
    --md-ref-palette-neutral-variant-87: #e2d8d6;
    --md-ref-palette-neutral-variant-88: #e5dad8;
    --md-ref-palette-neutral-variant-89: #e8dddb;
    --md-ref-palette-neutral-variant-90: #ebe0de;
    --md-ref-palette-neutral-variant-91: #eee3e1;
    --md-ref-palette-neutral-variant-92: #f1e6e4;
    --md-ref-palette-neutral-variant-93: #f4e9e6;
    --md-ref-palette-neutral-variant-94: #f7ebe9;
    --md-ref-palette-neutral-variant-95: #f9eeec;
    --md-ref-palette-neutral-variant-96: #fcf1ef;
    --md-ref-palette-neutral-variant-97: #fff4f2;
    --md-ref-palette-neutral-variant-98: #fff8f6;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
