:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060306;
    --md-ref-palette-primary-2: #0b060b;
    --md-ref-palette-primary-3: #0f090f;
    --md-ref-palette-primary-4: #130c12;
    --md-ref-palette-primary-5: #160f15;
    --md-ref-palette-primary-6: #181118;
    --md-ref-palette-primary-7: #1a131a;
    --md-ref-palette-primary-8: #1d151c;
    --md-ref-palette-primary-9: #1f171e;
    --md-ref-palette-primary-10: #211920;
    --md-ref-palette-primary-11: #231b22;
    --md-ref-palette-primary-12: #251d24;
    --md-ref-palette-primary-13: #271f26;
    --md-ref-palette-primary-14: #292128;
    --md-ref-palette-primary-15: #2b232a;
    --md-ref-palette-primary-16: #2d252c;
    --md-ref-palette-primary-17: #30272f;
    --md-ref-palette-primary-18: #322a31;
    --md-ref-palette-primary-19: #342c33;
    --md-ref-palette-primary-20: #362e35;
    --md-ref-palette-primary-21: #383037;
    --md-ref-palette-primary-22: #3b3239;
    --md-ref-palette-primary-23: #3d343c;
    --md-ref-palette-primary-24: #3f373e;
    --md-ref-palette-primary-25: #423940;
    --md-ref-palette-primary-26: #443b42;
    --md-ref-palette-primary-27: #463d45;
    --md-ref-palette-primary-28: #493f47;
    --md-ref-palette-primary-29: #4b4249;
    --md-ref-palette-primary-30: #4d444c;
    --md-ref-palette-primary-31: #50464e;
    --md-ref-palette-primary-32: #524950;
    --md-ref-palette-primary-33: #544b53;
    --md-ref-palette-primary-34: #574d55;
    --md-ref-palette-primary-35: #595057;
    --md-ref-palette-primary-36: #5c525a;
    --md-ref-palette-primary-37: #5e545c;
    --md-ref-palette-primary-38: #61575f;
    --md-ref-palette-primary-39: #635961;
    --md-ref-palette-primary-40: #665b63;
    --md-ref-palette-primary-41: #685e66;
    --md-ref-palette-primary-42: #6b6068;
    --md-ref-palette-primary-43: #6d636b;
    --md-ref-palette-primary-44: #70656d;
    --md-ref-palette-primary-45: #726770;
    --md-ref-palette-primary-46: #756a72;
    --md-ref-palette-primary-47: #776c75;
    --md-ref-palette-primary-48: #7a6f77;
    --md-ref-palette-primary-49: #7c717a;
    --md-ref-palette-primary-50: #7f747c;
    --md-ref-palette-primary-51: #81767f;
    --md-ref-palette-primary-52: #847981;
    --md-ref-palette-primary-53: #877b84;
    --md-ref-palette-primary-54: #897e86;
    --md-ref-palette-primary-55: #8c8089;
    --md-ref-palette-primary-56: #8f838c;
    --md-ref-palette-primary-57: #91868e;
    --md-ref-palette-primary-58: #948891;
    --md-ref-palette-primary-59: #968b93;
    --md-ref-palette-primary-60: #998d96;
    --md-ref-palette-primary-61: #9c9099;
    --md-ref-palette-primary-62: #9f929b;
    --md-ref-palette-primary-63: #a1959e;
    --md-ref-palette-primary-64: #a498a1;
    --md-ref-palette-primary-65: #a79aa3;
    --md-ref-palette-primary-66: #a99da6;
    --md-ref-palette-primary-67: #aca0a9;
    --md-ref-palette-primary-68: #afa2ab;
    --md-ref-palette-primary-69: #b2a5ae;
    --md-ref-palette-primary-70: #b4a8b1;
    --md-ref-palette-primary-71: #b7aab3;
    --md-ref-palette-primary-72: #baadb6;
    --md-ref-palette-primary-73: #bdb0b9;
    --md-ref-palette-primary-74: #bfb2bb;
    --md-ref-palette-primary-75: #c2b5be;
    --md-ref-palette-primary-76: #c5b8c1;
    --md-ref-palette-primary-77: #c8bac4;
    --md-ref-palette-primary-78: #cbbdc6;
    --md-ref-palette-primary-79: #cdc0c9;
    --md-ref-palette-primary-80: #d0c3cc;
    --md-ref-palette-primary-81: #d3c5cf;
    --md-ref-palette-primary-82: #d6c8d2;
    --md-ref-palette-primary-83: #d9cbd4;
    --md-ref-palette-primary-84: #dcced7;
    --md-ref-palette-primary-85: #ded0da;
    --md-ref-palette-primary-86: #e1d3dd;
    --md-ref-palette-primary-87: #e4d6e0;
    --md-ref-palette-primary-88: #e7d9e2;
    --md-ref-palette-primary-89: #eadce5;
    --md-ref-palette-primary-90: #eddee8;
    --md-ref-palette-primary-91: #f0e1eb;
    --md-ref-palette-primary-92: #f3e4ee;
    --md-ref-palette-primary-93: #f6e7f1;
    --md-ref-palette-primary-94: #f8eaf3;
    --md-ref-palette-primary-95: #fbedf6;
    --md-ref-palette-primary-96: #feeff9;
    --md-ref-palette-primary-97: #fff3fa;
    --md-ref-palette-primary-98: #fff7fa;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #050305;
    --md-ref-palette-secondary-2: #090709;
    --md-ref-palette-secondary-3: #0d0a0d;
    --md-ref-palette-secondary-4: #100d10;
    --md-ref-palette-secondary-5: #131013;
    --md-ref-palette-secondary-6: #161215;
    --md-ref-palette-secondary-7: #181417;
    --md-ref-palette-secondary-8: #1a1719;
    --md-ref-palette-secondary-9: #1c181b;
    --md-ref-palette-secondary-10: #1e1a1d;
    --md-ref-palette-secondary-11: #201c1f;
    --md-ref-palette-secondary-12: #221e21;
    --md-ref-palette-secondary-13: #242023;
    --md-ref-palette-secondary-14: #272226;
    --md-ref-palette-secondary-15: #292528;
    --md-ref-palette-secondary-16: #2b272a;
    --md-ref-palette-secondary-17: #2d292c;
    --md-ref-palette-secondary-18: #2f2b2e;
    --md-ref-palette-secondary-19: #312d30;
    --md-ref-palette-secondary-20: #332f32;
    --md-ref-palette-secondary-21: #363134;
    --md-ref-palette-secondary-22: #383337;
    --md-ref-palette-secondary-23: #3a3639;
    --md-ref-palette-secondary-24: #3c383b;
    --md-ref-palette-secondary-25: #3f3a3d;
    --md-ref-palette-secondary-26: #413c40;
    --md-ref-palette-secondary-27: #433e42;
    --md-ref-palette-secondary-28: #464144;
    --md-ref-palette-secondary-29: #484346;
    --md-ref-palette-secondary-30: #4a4549;
    --md-ref-palette-secondary-31: #4d484b;
    --md-ref-palette-secondary-32: #4f4a4d;
    --md-ref-palette-secondary-33: #514c50;
    --md-ref-palette-secondary-34: #544f52;
    --md-ref-palette-secondary-35: #565154;
    --md-ref-palette-secondary-36: #595357;
    --md-ref-palette-secondary-37: #5b5659;
    --md-ref-palette-secondary-38: #5d585b;
    --md-ref-palette-secondary-39: #605a5e;
    --md-ref-palette-secondary-40: #625d60;
    --md-ref-palette-secondary-41: #655f63;
    --md-ref-palette-secondary-42: #676265;
    --md-ref-palette-secondary-43: #6a6468;
    --md-ref-palette-secondary-44: #6c666a;
    --md-ref-palette-secondary-45: #6f696c;
    --md-ref-palette-secondary-46: #716b6f;
    --md-ref-palette-secondary-47: #746e71;
    --md-ref-palette-secondary-48: #767074;
    --md-ref-palette-secondary-49: #797376;
    --md-ref-palette-secondary-50: #7c7579;
    --md-ref-palette-secondary-51: #7e787b;
    --md-ref-palette-secondary-52: #817a7e;
    --md-ref-palette-secondary-53: #837d81;
    --md-ref-palette-secondary-54: #867f83;
    --md-ref-palette-secondary-55: #888286;
    --md-ref-palette-secondary-56: #8b8488;
    --md-ref-palette-secondary-57: #8e878b;
    --md-ref-palette-secondary-58: #908a8d;
    --md-ref-palette-secondary-59: #938c90;
    --md-ref-palette-secondary-60: #968f93;
    --md-ref-palette-secondary-61: #989195;
    --md-ref-palette-secondary-62: #9b9498;
    --md-ref-palette-secondary-63: #9e979a;
    --md-ref-palette-secondary-64: #a0999d;
    --md-ref-palette-secondary-65: #a39ca0;
    --md-ref-palette-secondary-66: #a69fa2;
    --md-ref-palette-secondary-67: #a8a1a5;
    --md-ref-palette-secondary-68: #aba4a8;
    --md-ref-palette-secondary-69: #aea6aa;
    --md-ref-palette-secondary-70: #b1a9ad;
    --md-ref-palette-secondary-71: #b3acb0;
    --md-ref-palette-secondary-72: #b6afb2;
    --md-ref-palette-secondary-73: #b9b1b5;
    --md-ref-palette-secondary-74: #bcb4b8;
    --md-ref-palette-secondary-75: #beb7bb;
    --md-ref-palette-secondary-76: #c1b9bd;
    --md-ref-palette-secondary-77: #c4bcc0;
    --md-ref-palette-secondary-78: #c7bfc3;
    --md-ref-palette-secondary-79: #cac2c5;
    --md-ref-palette-secondary-80: #ccc4c8;
    --md-ref-palette-secondary-81: #cfc7cb;
    --md-ref-palette-secondary-82: #d2cace;
    --md-ref-palette-secondary-83: #d5cdd1;
    --md-ref-palette-secondary-84: #d8cfd3;
    --md-ref-palette-secondary-85: #dbd2d6;
    --md-ref-palette-secondary-86: #ddd5d9;
    --md-ref-palette-secondary-87: #e0d8dc;
    --md-ref-palette-secondary-88: #e3dbdf;
    --md-ref-palette-secondary-89: #e6dde1;
    --md-ref-palette-secondary-90: #e9e0e4;
    --md-ref-palette-secondary-91: #ece3e7;
    --md-ref-palette-secondary-92: #efe6ea;
    --md-ref-palette-secondary-93: #f2e9ed;
    --md-ref-palette-secondary-94: #f4ebf0;
    --md-ref-palette-secondary-95: #f7eef2;
    --md-ref-palette-secondary-96: #faf1f5;
    --md-ref-palette-secondary-97: #fdf4f8;
    --md-ref-palette-secondary-98: #fff7fa;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #080112;
    --md-ref-palette-tertiary-2: #0e0317;
    --md-ref-palette-tertiary-3: #12061b;
    --md-ref-palette-tertiary-4: #15081f;
    --md-ref-palette-tertiary-5: #180b22;
    --md-ref-palette-tertiary-6: #1b0e24;
    --md-ref-palette-tertiary-7: #1d1026;
    --md-ref-palette-tertiary-8: #1f1229;
    --md-ref-palette-tertiary-9: #22142b;
    --md-ref-palette-tertiary-10: #24162d;
    --md-ref-palette-tertiary-11: #26182f;
    --md-ref-palette-tertiary-12: #281a31;
    --md-ref-palette-tertiary-13: #2a1c33;
    --md-ref-palette-tertiary-14: #2c1e35;
    --md-ref-palette-tertiary-15: #2e2038;
    --md-ref-palette-tertiary-16: #31223a;
    --md-ref-palette-tertiary-17: #33243c;
    --md-ref-palette-tertiary-18: #35263e;
    --md-ref-palette-tertiary-19: #372941;
    --md-ref-palette-tertiary-20: #392b43;
    --md-ref-palette-tertiary-21: #3c2d45;
    --md-ref-palette-tertiary-22: #3e2f47;
    --md-ref-palette-tertiary-23: #40314a;
    --md-ref-palette-tertiary-24: #43334c;
    --md-ref-palette-tertiary-25: #45364e;
    --md-ref-palette-tertiary-26: #473851;
    --md-ref-palette-tertiary-27: #4a3a53;
    --md-ref-palette-tertiary-28: #4c3c55;
    --md-ref-palette-tertiary-29: #4e3f58;
    --md-ref-palette-tertiary-30: #51415a;
    --md-ref-palette-tertiary-31: #53435d;
    --md-ref-palette-tertiary-32: #56455f;
    --md-ref-palette-tertiary-33: #584861;
    --md-ref-palette-tertiary-34: #5a4a64;
    --md-ref-palette-tertiary-35: #5d4c66;
    --md-ref-palette-tertiary-36: #5f4f69;
    --md-ref-palette-tertiary-37: #62516b;
    --md-ref-palette-tertiary-38: #64536e;
    --md-ref-palette-tertiary-39: #675670;
    --md-ref-palette-tertiary-40: #695873;
    --md-ref-palette-tertiary-41: #6c5b75;
    --md-ref-palette-tertiary-42: #6e5d78;
    --md-ref-palette-tertiary-43: #715f7a;
    --md-ref-palette-tertiary-44: #73627d;
    --md-ref-palette-tertiary-45: #76647f;
    --md-ref-palette-tertiary-46: #786782;
    --md-ref-palette-tertiary-47: #7b6985;
    --md-ref-palette-tertiary-48: #7e6c87;
    --md-ref-palette-tertiary-49: #806e8a;
    --md-ref-palette-tertiary-50: #83718c;
    --md-ref-palette-tertiary-51: #85738f;
    --md-ref-palette-tertiary-52: #887692;
    --md-ref-palette-tertiary-53: #8b7894;
    --md-ref-palette-tertiary-54: #8d7b97;
    --md-ref-palette-tertiary-55: #907d9a;
    --md-ref-palette-tertiary-56: #93809c;
    --md-ref-palette-tertiary-57: #95829f;
    --md-ref-palette-tertiary-58: #9885a2;
    --md-ref-palette-tertiary-59: #9b87a4;
    --md-ref-palette-tertiary-60: #9d8aa7;
    --md-ref-palette-tertiary-61: #a08caa;
    --md-ref-palette-tertiary-62: #a38fac;
    --md-ref-palette-tertiary-63: #a592af;
    --md-ref-palette-tertiary-64: #a894b2;
    --md-ref-palette-tertiary-65: #ab97b4;
    --md-ref-palette-tertiary-66: #ae9ab7;
    --md-ref-palette-tertiary-67: #b09cba;
    --md-ref-palette-tertiary-68: #b39fbd;
    --md-ref-palette-tertiary-69: #b6a1bf;
    --md-ref-palette-tertiary-70: #b9a4c2;
    --md-ref-palette-tertiary-71: #bba7c5;
    --md-ref-palette-tertiary-72: #bea9c8;
    --md-ref-palette-tertiary-73: #c1acca;
    --md-ref-palette-tertiary-74: #c4afcd;
    --md-ref-palette-tertiary-75: #c6b2d0;
    --md-ref-palette-tertiary-76: #c9b4d3;
    --md-ref-palette-tertiary-77: #ccb7d6;
    --md-ref-palette-tertiary-78: #cfbad9;
    --md-ref-palette-tertiary-79: #d2bcdb;
    --md-ref-palette-tertiary-80: #d5bfde;
    --md-ref-palette-tertiary-81: #d7c2e1;
    --md-ref-palette-tertiary-82: #dac5e4;
    --md-ref-palette-tertiary-83: #ddc7e7;
    --md-ref-palette-tertiary-84: #e0caea;
    --md-ref-palette-tertiary-85: #e3cdec;
    --md-ref-palette-tertiary-86: #e6d0ef;
    --md-ref-palette-tertiary-87: #e9d2f2;
    --md-ref-palette-tertiary-88: #ecd5f5;
    --md-ref-palette-tertiary-89: #eed8f8;
    --md-ref-palette-tertiary-90: #f1dbfb;
    --md-ref-palette-tertiary-91: #f4defe;
    --md-ref-palette-tertiary-92: #f6e1ff;
    --md-ref-palette-tertiary-93: #f8e5ff;
    --md-ref-palette-tertiary-94: #fae8ff;
    --md-ref-palette-tertiary-95: #fbecff;
    --md-ref-palette-tertiary-96: #fdefff;
    --md-ref-palette-tertiary-97: #fff3ff;
    --md-ref-palette-tertiary-98: #fff7fd;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100002;
    --md-ref-palette-error-2: #1a0003;
    --md-ref-palette-error-3: #210005;
    --md-ref-palette-error-4: #270007;
    --md-ref-palette-error-5: #2c0008;
    --md-ref-palette-error-6: #31000a;
    --md-ref-palette-error-7: #35000c;
    --md-ref-palette-error-8: #39000d;
    --md-ref-palette-error-9: #3c000f;
    --md-ref-palette-error-10: #400010;
    --md-ref-palette-error-11: #440011;
    --md-ref-palette-error-12: #480013;
    --md-ref-palette-error-13: #4b0014;
    --md-ref-palette-error-14: #4f0116;
    --md-ref-palette-error-15: #520318;
    --md-ref-palette-error-16: #55051a;
    --md-ref-palette-error-17: #58071c;
    --md-ref-palette-error-18: #5b0a1e;
    --md-ref-palette-error-19: #5e0d20;
    --md-ref-palette-error-20: #610f22;
    --md-ref-palette-error-21: #641224;
    --md-ref-palette-error-22: #671426;
    --md-ref-palette-error-23: #6a1728;
    --md-ref-palette-error-24: #6d192a;
    --md-ref-palette-error-25: #701b2c;
    --md-ref-palette-error-26: #731e2e;
    --md-ref-palette-error-27: #762031;
    --md-ref-palette-error-28: #792233;
    --md-ref-palette-error-29: #7c2535;
    --md-ref-palette-error-30: #7f2737;
    --md-ref-palette-error-31: #822939;
    --md-ref-palette-error-32: #852c3b;
    --md-ref-palette-error-33: #882e3e;
    --md-ref-palette-error-34: #8b3040;
    --md-ref-palette-error-35: #8e3342;
    --md-ref-palette-error-36: #913544;
    --md-ref-palette-error-37: #943747;
    --md-ref-palette-error-38: #973a49;
    --md-ref-palette-error-39: #9a3c4b;
    --md-ref-palette-error-40: #9d3e4d;
    --md-ref-palette-error-41: #a14150;
    --md-ref-palette-error-42: #a44352;
    --md-ref-palette-error-43: #a74654;
    --md-ref-palette-error-44: #aa4857;
    --md-ref-palette-error-45: #ad4a59;
    --md-ref-palette-error-46: #b04d5b;
    --md-ref-palette-error-47: #b34f5e;
    --md-ref-palette-error-48: #b65260;
    --md-ref-palette-error-49: #b95463;
    --md-ref-palette-error-50: #bd5665;
    --md-ref-palette-error-51: #c05967;
    --md-ref-palette-error-52: #c35b6a;
    --md-ref-palette-error-53: #c65e6c;
    --md-ref-palette-error-54: #c9606f;
    --md-ref-palette-error-55: #cc6371;
    --md-ref-palette-error-56: #cf6574;
    --md-ref-palette-error-57: #d36876;
    --md-ref-palette-error-58: #d66a79;
    --md-ref-palette-error-59: #d96d7b;
    --md-ref-palette-error-60: #dc6f7e;
    --md-ref-palette-error-61: #df7280;
    --md-ref-palette-error-62: #e27483;
    --md-ref-palette-error-63: #e67785;
    --md-ref-palette-error-64: #e97988;
    --md-ref-palette-error-65: #ec7c8a;
    --md-ref-palette-error-66: #ef7e8d;
    --md-ref-palette-error-67: #f2818f;
    --md-ref-palette-error-68: #f68492;
    --md-ref-palette-error-69: #f98694;
    --md-ref-palette-error-70: #fc8997;
    --md-ref-palette-error-71: #ff8b9a;
    --md-ref-palette-error-72: #ff909d;
    --md-ref-palette-error-73: #ff94a1;
    --md-ref-palette-error-74: #ff99a4;
    --md-ref-palette-error-75: #ff9da8;
    --md-ref-palette-error-76: #ffa2ab;
    --md-ref-palette-error-77: #ffa6af;
    --md-ref-palette-error-78: #ffaab2;
    --md-ref-palette-error-79: #ffaeb6;
    --md-ref-palette-error-80: #ffb2b9;
    --md-ref-palette-error-81: #ffb6bd;
    --md-ref-palette-error-82: #ffbac0;
    --md-ref-palette-error-83: #ffbec4;
    --md-ref-palette-error-84: #ffc2c7;
    --md-ref-palette-error-85: #ffc6cb;
    --md-ref-palette-error-86: #ffcace;
    --md-ref-palette-error-87: #ffced2;
    --md-ref-palette-error-88: #ffd2d5;
    --md-ref-palette-error-89: #ffd6d8;
    --md-ref-palette-error-90: #ffdadc;
    --md-ref-palette-error-91: #ffdddf;
    --md-ref-palette-error-92: #ffe1e3;
    --md-ref-palette-error-93: #ffe5e6;
    --md-ref-palette-error-94: #ffe9e9;
    --md-ref-palette-error-95: #ffeced;
    --md-ref-palette-error-96: #fff0f0;
    --md-ref-palette-error-97: #fff4f4;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040304;
    --md-ref-palette-neutral-2: #080708;
    --md-ref-palette-neutral-3: #0c0b0b;
    --md-ref-palette-neutral-4: #0f0e0f;
    --md-ref-palette-neutral-5: #121011;
    --md-ref-palette-neutral-6: #141314;
    --md-ref-palette-neutral-7: #171516;
    --md-ref-palette-neutral-8: #191718;
    --md-ref-palette-neutral-9: #1b191a;
    --md-ref-palette-neutral-10: #1d1b1c;
    --md-ref-palette-neutral-11: #1f1d1e;
    --md-ref-palette-neutral-12: #211f20;
    --md-ref-palette-neutral-13: #232122;
    --md-ref-palette-neutral-14: #252324;
    --md-ref-palette-neutral-15: #272526;
    --md-ref-palette-neutral-16: #292728;
    --md-ref-palette-neutral-17: #2b292a;
    --md-ref-palette-neutral-18: #2d2c2c;
    --md-ref-palette-neutral-19: #302e2e;
    --md-ref-palette-neutral-20: #323031;
    --md-ref-palette-neutral-21: #343233;
    --md-ref-palette-neutral-22: #363435;
    --md-ref-palette-neutral-23: #393637;
    --md-ref-palette-neutral-24: #3b3939;
    --md-ref-palette-neutral-25: #3d3b3c;
    --md-ref-palette-neutral-26: #3f3d3e;
    --md-ref-palette-neutral-27: #423f40;
    --md-ref-palette-neutral-28: #444142;
    --md-ref-palette-neutral-29: #464445;
    --md-ref-palette-neutral-30: #494647;
    --md-ref-palette-neutral-31: #4b4849;
    --md-ref-palette-neutral-32: #4d4b4b;
    --md-ref-palette-neutral-33: #504d4e;
    --md-ref-palette-neutral-34: #524f50;
    --md-ref-palette-neutral-35: #545252;
    --md-ref-palette-neutral-36: #575455;
    --md-ref-palette-neutral-37: #595657;
    --md-ref-palette-neutral-38: #5c595a;
    --md-ref-palette-neutral-39: #5e5b5c;
    --md-ref-palette-neutral-40: #615e5e;
    --md-ref-palette-neutral-41: #636061;
    --md-ref-palette-neutral-42: #656263;
    --md-ref-palette-neutral-43: #686566;
    --md-ref-palette-neutral-44: #6a6768;
    --md-ref-palette-neutral-45: #6d6a6b;
    --md-ref-palette-neutral-46: #6f6c6d;
    --md-ref-palette-neutral-47: #726f6f;
    --md-ref-palette-neutral-48: #747172;
    --md-ref-palette-neutral-49: #777474;
    --md-ref-palette-neutral-50: #7a7677;
    --md-ref-palette-neutral-51: #7c7979;
    --md-ref-palette-neutral-52: #7f7b7c;
    --md-ref-palette-neutral-53: #817e7f;
    --md-ref-palette-neutral-54: #848081;
    --md-ref-palette-neutral-55: #868384;
    --md-ref-palette-neutral-56: #898586;
    --md-ref-palette-neutral-57: #8c8889;
    --md-ref-palette-neutral-58: #8e8a8b;
    --md-ref-palette-neutral-59: #918d8e;
    --md-ref-palette-neutral-60: #949090;
    --md-ref-palette-neutral-61: #969293;
    --md-ref-palette-neutral-62: #999596;
    --md-ref-palette-neutral-63: #9c9798;
    --md-ref-palette-neutral-64: #9e9a9b;
    --md-ref-palette-neutral-65: #a19d9e;
    --md-ref-palette-neutral-66: #a49fa0;
    --md-ref-palette-neutral-67: #a6a2a3;
    --md-ref-palette-neutral-68: #a9a5a6;
    --md-ref-palette-neutral-69: #aca7a8;
    --md-ref-palette-neutral-70: #aeaaab;
    --md-ref-palette-neutral-71: #b1adae;
    --md-ref-palette-neutral-72: #b4afb0;
    --md-ref-palette-neutral-73: #b7b2b3;
    --md-ref-palette-neutral-74: #b9b5b6;
    --md-ref-palette-neutral-75: #bcb8b8;
    --md-ref-palette-neutral-76: #bfbabb;
    --md-ref-palette-neutral-77: #c2bdbe;
    --md-ref-palette-neutral-78: #c5c0c1;
    --md-ref-palette-neutral-79: #c7c2c3;
    --md-ref-palette-neutral-80: #cac5c6;
    --md-ref-palette-neutral-81: #cdc8c9;
    --md-ref-palette-neutral-82: #d0cbcc;
    --md-ref-palette-neutral-83: #d3cece;
    --md-ref-palette-neutral-84: #d5d0d1;
    --md-ref-palette-neutral-85: #d8d3d4;
    --md-ref-palette-neutral-86: #dbd6d7;
    --md-ref-palette-neutral-87: #ded9d9;
    --md-ref-palette-neutral-88: #e1dbdc;
    --md-ref-palette-neutral-89: #e4dedf;
    --md-ref-palette-neutral-90: #e7e1e2;
    --md-ref-palette-neutral-91: #e9e4e5;
    --md-ref-palette-neutral-92: #ece7e8;
    --md-ref-palette-neutral-93: #efeaea;
    --md-ref-palette-neutral-94: #f2eced;
    --md-ref-palette-neutral-95: #f5eff0;
    --md-ref-palette-neutral-96: #f8f2f3;
    --md-ref-palette-neutral-97: #fbf5f6;
    --md-ref-palette-neutral-98: #fef8f9;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #050304;
    --md-ref-palette-neutral-variant-2: #090708;
    --md-ref-palette-neutral-variant-3: #0d0a0c;
    --md-ref-palette-neutral-variant-4: #100d0f;
    --md-ref-palette-neutral-variant-5: #131012;
    --md-ref-palette-neutral-variant-6: #151315;
    --md-ref-palette-neutral-variant-7: #181517;
    --md-ref-palette-neutral-variant-8: #1a1719;
    --md-ref-palette-neutral-variant-9: #1c191b;
    --md-ref-palette-neutral-variant-10: #1e1b1d;
    --md-ref-palette-neutral-variant-11: #201d1f;
    --md-ref-palette-neutral-variant-12: #221f21;
    --md-ref-palette-neutral-variant-13: #242123;
    --md-ref-palette-neutral-variant-14: #262325;
    --md-ref-palette-neutral-variant-15: #282527;
    --md-ref-palette-neutral-variant-16: #2a2729;
    --md-ref-palette-neutral-variant-17: #2c292b;
    --md-ref-palette-neutral-variant-18: #2f2b2d;
    --md-ref-palette-neutral-variant-19: #312d30;
    --md-ref-palette-neutral-variant-20: #332f32;
    --md-ref-palette-neutral-variant-21: #353234;
    --md-ref-palette-neutral-variant-22: #373436;
    --md-ref-palette-neutral-variant-23: #3a3638;
    --md-ref-palette-neutral-variant-24: #3c383a;
    --md-ref-palette-neutral-variant-25: #3e3a3d;
    --md-ref-palette-neutral-variant-26: #403d3f;
    --md-ref-palette-neutral-variant-27: #433f41;
    --md-ref-palette-neutral-variant-28: #454143;
    --md-ref-palette-neutral-variant-29: #474346;
    --md-ref-palette-neutral-variant-30: #4a4648;
    --md-ref-palette-neutral-variant-31: #4c484a;
    --md-ref-palette-neutral-variant-32: #4e4a4d;
    --md-ref-palette-neutral-variant-33: #514c4f;
    --md-ref-palette-neutral-variant-34: #534f51;
    --md-ref-palette-neutral-variant-35: #565154;
    --md-ref-palette-neutral-variant-36: #585456;
    --md-ref-palette-neutral-variant-37: #5a5658;
    --md-ref-palette-neutral-variant-38: #5d585b;
    --md-ref-palette-neutral-variant-39: #5f5b5d;
    --md-ref-palette-neutral-variant-40: #625d60;
    --md-ref-palette-neutral-variant-41: #645f62;
    --md-ref-palette-neutral-variant-42: #676264;
    --md-ref-palette-neutral-variant-43: #696467;
    --md-ref-palette-neutral-variant-44: #6c6769;
    --md-ref-palette-neutral-variant-45: #6e696c;
    --md-ref-palette-neutral-variant-46: #716c6e;
    --md-ref-palette-neutral-variant-47: #736e71;
    --md-ref-palette-neutral-variant-48: #767173;
    --md-ref-palette-neutral-variant-49: #787376;
    --md-ref-palette-neutral-variant-50: #7b7678;
    --md-ref-palette-neutral-variant-51: #7d787b;
    --md-ref-palette-neutral-variant-52: #807b7d;
    --md-ref-palette-neutral-variant-53: #837d80;
    --md-ref-palette-neutral-variant-54: #858082;
    --md-ref-palette-neutral-variant-55: #888285;
    --md-ref-palette-neutral-variant-56: #8a8587;
    --md-ref-palette-neutral-variant-57: #8d878a;
    --md-ref-palette-neutral-variant-58: #908a8d;
    --md-ref-palette-neutral-variant-59: #928d8f;
    --md-ref-palette-neutral-variant-60: #958f92;
    --md-ref-palette-neutral-variant-61: #989294;
    --md-ref-palette-neutral-variant-62: #9a9497;
    --md-ref-palette-neutral-variant-63: #9d979a;
    --md-ref-palette-neutral-variant-64: #a09a9c;
    --md-ref-palette-neutral-variant-65: #a29c9f;
    --md-ref-palette-neutral-variant-66: #a59fa2;
    --md-ref-palette-neutral-variant-67: #a8a1a4;
    --md-ref-palette-neutral-variant-68: #aaa4a7;
    --md-ref-palette-neutral-variant-69: #ada7aa;
    --md-ref-palette-neutral-variant-70: #b0a9ac;
    --md-ref-palette-neutral-variant-71: #b3acaf;
    --md-ref-palette-neutral-variant-72: #b5afb2;
    --md-ref-palette-neutral-variant-73: #b8b2b4;
    --md-ref-palette-neutral-variant-74: #bbb4b7;
    --md-ref-palette-neutral-variant-75: #beb7ba;
    --md-ref-palette-neutral-variant-76: #c0babc;
    --md-ref-palette-neutral-variant-77: #c3bcbf;
    --md-ref-palette-neutral-variant-78: #c6bfc2;
    --md-ref-palette-neutral-variant-79: #c9c2c5;
    --md-ref-palette-neutral-variant-80: #ccc5c7;
    --md-ref-palette-neutral-variant-81: #cec7ca;
    --md-ref-palette-neutral-variant-82: #d1cacd;
    --md-ref-palette-neutral-variant-83: #d4cdd0;
    --md-ref-palette-neutral-variant-84: #d7d0d2;
    --md-ref-palette-neutral-variant-85: #dad2d5;
    --md-ref-palette-neutral-variant-86: #ddd5d8;
    --md-ref-palette-neutral-variant-87: #dfd8db;
    --md-ref-palette-neutral-variant-88: #e2dbde;
    --md-ref-palette-neutral-variant-89: #e5dee0;
    --md-ref-palette-neutral-variant-90: #e8e1e3;
    --md-ref-palette-neutral-variant-91: #ebe3e6;
    --md-ref-palette-neutral-variant-92: #eee6e9;
    --md-ref-palette-neutral-variant-93: #f1e9ec;
    --md-ref-palette-neutral-variant-94: #f4ecef;
    --md-ref-palette-neutral-variant-95: #f7eff2;
    --md-ref-palette-neutral-variant-96: #f9f2f4;
    --md-ref-palette-neutral-variant-97: #fcf4f7;
    --md-ref-palette-neutral-variant-98: #fff7fa;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
