:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060306;
    --md-ref-palette-primary-2: #0b060b;
    --md-ref-palette-primary-3: #0f090f;
    --md-ref-palette-primary-4: #130c12;
    --md-ref-palette-primary-5: #160f15;
    --md-ref-palette-primary-10: #211920;
    --md-ref-palette-primary-20: #362e35;
    --md-ref-palette-primary-30: #4d444c;
    --md-ref-palette-primary-40: #665b63;
    --md-ref-palette-primary-50: #7f747c;
    --md-ref-palette-primary-60: #998d96;
    --md-ref-palette-primary-70: #b4a8b1;
    --md-ref-palette-primary-80: #d0c3cc;
    --md-ref-palette-primary-90: #eddee8;
    --md-ref-palette-primary-95: #fbedf6;
    --md-ref-palette-primary-96: #feeff9;
    --md-ref-palette-primary-97: #fff3fa;
    --md-ref-palette-primary-98: #fff7fa;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #050305;
    --md-ref-palette-secondary-2: #090709;
    --md-ref-palette-secondary-3: #0d0a0d;
    --md-ref-palette-secondary-4: #100d10;
    --md-ref-palette-secondary-5: #131013;
    --md-ref-palette-secondary-10: #1e1a1d;
    --md-ref-palette-secondary-20: #332f32;
    --md-ref-palette-secondary-30: #4a4549;
    --md-ref-palette-secondary-40: #625d60;
    --md-ref-palette-secondary-50: #7c7579;
    --md-ref-palette-secondary-60: #968f93;
    --md-ref-palette-secondary-70: #b1a9ad;
    --md-ref-palette-secondary-80: #ccc4c8;
    --md-ref-palette-secondary-90: #e9e0e4;
    --md-ref-palette-secondary-95: #f7eef2;
    --md-ref-palette-secondary-96: #faf1f5;
    --md-ref-palette-secondary-97: #fdf4f8;
    --md-ref-palette-secondary-98: #fff7fa;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #080112;
    --md-ref-palette-tertiary-2: #0e0317;
    --md-ref-palette-tertiary-3: #12061b;
    --md-ref-palette-tertiary-4: #15081f;
    --md-ref-palette-tertiary-5: #180b22;
    --md-ref-palette-tertiary-10: #24162d;
    --md-ref-palette-tertiary-20: #392b43;
    --md-ref-palette-tertiary-30: #51415a;
    --md-ref-palette-tertiary-40: #695873;
    --md-ref-palette-tertiary-50: #83718c;
    --md-ref-palette-tertiary-60: #9d8aa7;
    --md-ref-palette-tertiary-70: #b9a4c2;
    --md-ref-palette-tertiary-80: #d5bfde;
    --md-ref-palette-tertiary-90: #f1dbfb;
    --md-ref-palette-tertiary-95: #fbecff;
    --md-ref-palette-tertiary-96: #fdefff;
    --md-ref-palette-tertiary-97: #fff3ff;
    --md-ref-palette-tertiary-98: #fff7fd;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100002;
    --md-ref-palette-error-2: #1a0003;
    --md-ref-palette-error-3: #210005;
    --md-ref-palette-error-4: #270007;
    --md-ref-palette-error-5: #2c0008;
    --md-ref-palette-error-10: #400010;
    --md-ref-palette-error-20: #610f22;
    --md-ref-palette-error-30: #7f2737;
    --md-ref-palette-error-40: #9d3e4d;
    --md-ref-palette-error-50: #bd5665;
    --md-ref-palette-error-60: #dc6f7e;
    --md-ref-palette-error-70: #fc8997;
    --md-ref-palette-error-80: #ffb2b9;
    --md-ref-palette-error-90: #ffdadc;
    --md-ref-palette-error-95: #ffeced;
    --md-ref-palette-error-96: #fff0f0;
    --md-ref-palette-error-97: #fff4f4;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040304;
    --md-ref-palette-neutral-2: #080708;
    --md-ref-palette-neutral-3: #0c0b0b;
    --md-ref-palette-neutral-4: #0f0e0f;
    --md-ref-palette-neutral-5: #121011;
    --md-ref-palette-neutral-10: #1d1b1c;
    --md-ref-palette-neutral-20: #323031;
    --md-ref-palette-neutral-30: #494647;
    --md-ref-palette-neutral-40: #615e5e;
    --md-ref-palette-neutral-50: #7a7677;
    --md-ref-palette-neutral-60: #949090;
    --md-ref-palette-neutral-70: #aeaaab;
    --md-ref-palette-neutral-80: #cac5c6;
    --md-ref-palette-neutral-90: #e7e1e2;
    --md-ref-palette-neutral-95: #f5eff0;
    --md-ref-palette-neutral-96: #f8f2f3;
    --md-ref-palette-neutral-97: #fbf5f6;
    --md-ref-palette-neutral-98: #fef8f9;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #050304;
    --md-ref-palette-neutral-variant-2: #090708;
    --md-ref-palette-neutral-variant-3: #0d0a0c;
    --md-ref-palette-neutral-variant-4: #100d0f;
    --md-ref-palette-neutral-variant-5: #131012;
    --md-ref-palette-neutral-variant-10: #1e1b1d;
    --md-ref-palette-neutral-variant-20: #332f32;
    --md-ref-palette-neutral-variant-30: #4a4648;
    --md-ref-palette-neutral-variant-40: #625d60;
    --md-ref-palette-neutral-variant-50: #7b7678;
    --md-ref-palette-neutral-variant-60: #958f92;
    --md-ref-palette-neutral-variant-70: #b0a9ac;
    --md-ref-palette-neutral-variant-80: #ccc5c7;
    --md-ref-palette-neutral-variant-90: #e8e1e3;
    --md-ref-palette-neutral-variant-95: #f7eff2;
    --md-ref-palette-neutral-variant-96: #f9f2f4;
    --md-ref-palette-neutral-variant-97: #fcf4f7;
    --md-ref-palette-neutral-variant-98: #fff7fa;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
