:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #080204;
    --md-ref-palette-primary-2: #0e0507;
    --md-ref-palette-primary-3: #12080b;
    --md-ref-palette-primary-4: #150b0e;
    --md-ref-palette-primary-5: #180e11;
    --md-ref-palette-primary-6: #1b1113;
    --md-ref-palette-primary-7: #1d1316;
    --md-ref-palette-primary-8: #1f1518;
    --md-ref-palette-primary-9: #21171a;
    --md-ref-palette-primary-10: #24191c;
    --md-ref-palette-primary-11: #261b1e;
    --md-ref-palette-primary-12: #281d20;
    --md-ref-palette-primary-13: #2a1f22;
    --md-ref-palette-primary-14: #2c2124;
    --md-ref-palette-primary-15: #2e2326;
    --md-ref-palette-primary-16: #312528;
    --md-ref-palette-primary-17: #33272a;
    --md-ref-palette-primary-18: #35292c;
    --md-ref-palette-primary-19: #372b2e;
    --md-ref-palette-primary-20: #3a2d30;
    --md-ref-palette-primary-21: #3c2f32;
    --md-ref-palette-primary-22: #3e3135;
    --md-ref-palette-primary-23: #413437;
    --md-ref-palette-primary-24: #433639;
    --md-ref-palette-primary-25: #45383b;
    --md-ref-palette-primary-26: #483a3d;
    --md-ref-palette-primary-27: #4a3c40;
    --md-ref-palette-primary-28: #4c3f42;
    --md-ref-palette-primary-29: #4f4144;
    --md-ref-palette-primary-30: #514347;
    --md-ref-palette-primary-31: #534549;
    --md-ref-palette-primary-32: #56484b;
    --md-ref-palette-primary-33: #584a4d;
    --md-ref-palette-primary-34: #5b4c50;
    --md-ref-palette-primary-35: #5d4f52;
    --md-ref-palette-primary-36: #605154;
    --md-ref-palette-primary-37: #625357;
    --md-ref-palette-primary-38: #655659;
    --md-ref-palette-primary-39: #67585c;
    --md-ref-palette-primary-40: #6a5b5e;
    --md-ref-palette-primary-41: #6c5d60;
    --md-ref-palette-primary-42: #6f5f63;
    --md-ref-palette-primary-43: #716265;
    --md-ref-palette-primary-44: #746468;
    --md-ref-palette-primary-45: #76676a;
    --md-ref-palette-primary-46: #79696d;
    --md-ref-palette-primary-47: #7c6c6f;
    --md-ref-palette-primary-48: #7e6e72;
    --md-ref-palette-primary-49: #817074;
    --md-ref-palette-primary-50: #837377;
    --md-ref-palette-primary-51: #867579;
    --md-ref-palette-primary-52: #89787c;
    --md-ref-palette-primary-53: #8b7a7e;
    --md-ref-palette-primary-54: #8e7d81;
    --md-ref-palette-primary-55: #908083;
    --md-ref-palette-primary-56: #938286;
    --md-ref-palette-primary-57: #968588;
    --md-ref-palette-primary-58: #98878b;
    --md-ref-palette-primary-59: #9b8a8d;
    --md-ref-palette-primary-60: #9e8c90;
    --md-ref-palette-primary-61: #a18f93;
    --md-ref-palette-primary-62: #a39295;
    --md-ref-palette-primary-63: #a69498;
    --md-ref-palette-primary-64: #a9979b;
    --md-ref-palette-primary-65: #ab999d;
    --md-ref-palette-primary-66: #ae9ca0;
    --md-ref-palette-primary-67: #b19fa2;
    --md-ref-palette-primary-68: #b4a1a5;
    --md-ref-palette-primary-69: #b6a4a8;
    --md-ref-palette-primary-70: #b9a7aa;
    --md-ref-palette-primary-71: #bca9ad;
    --md-ref-palette-primary-72: #bfacb0;
    --md-ref-palette-primary-73: #c2afb2;
    --md-ref-palette-primary-74: #c4b1b5;
    --md-ref-palette-primary-75: #c7b4b8;
    --md-ref-palette-primary-76: #cab7bb;
    --md-ref-palette-primary-77: #cdb9bd;
    --md-ref-palette-primary-78: #d0bcc0;
    --md-ref-palette-primary-79: #d3bfc3;
    --md-ref-palette-primary-80: #d5c2c6;
    --md-ref-palette-primary-81: #d8c4c8;
    --md-ref-palette-primary-82: #dbc7cb;
    --md-ref-palette-primary-83: #decace;
    --md-ref-palette-primary-84: #e1cdd1;
    --md-ref-palette-primary-85: #e4cfd3;
    --md-ref-palette-primary-86: #e7d2d6;
    --md-ref-palette-primary-87: #ead5d9;
    --md-ref-palette-primary-88: #ecd8dc;
    --md-ref-palette-primary-89: #efdbdf;
    --md-ref-palette-primary-90: #f2dde1;
    --md-ref-palette-primary-91: #f5e0e4;
    --md-ref-palette-primary-92: #f8e3e7;
    --md-ref-palette-primary-93: #fbe6ea;
    --md-ref-palette-primary-94: #fee9ed;
    --md-ref-palette-primary-95: #ffecef;
    --md-ref-palette-primary-96: #fff0f2;
    --md-ref-palette-primary-97: #fff4f5;
    --md-ref-palette-primary-98: #fff8f8;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #060304;
    --md-ref-palette-secondary-2: #0b0607;
    --md-ref-palette-secondary-3: #0f0a0b;
    --md-ref-palette-secondary-4: #120d0e;
    --md-ref-palette-secondary-5: #151011;
    --md-ref-palette-secondary-6: #171213;
    --md-ref-palette-secondary-7: #1a1415;
    --md-ref-palette-secondary-8: #1c1617;
    --md-ref-palette-secondary-9: #1e1819;
    --md-ref-palette-secondary-10: #201a1b;
    --md-ref-palette-secondary-11: #221c1d;
    --md-ref-palette-secondary-12: #241e1f;
    --md-ref-palette-secondary-13: #262021;
    --md-ref-palette-secondary-14: #282223;
    --md-ref-palette-secondary-15: #2a2426;
    --md-ref-palette-secondary-16: #2c2628;
    --md-ref-palette-secondary-17: #2f282a;
    --md-ref-palette-secondary-18: #312a2c;
    --md-ref-palette-secondary-19: #332d2e;
    --md-ref-palette-secondary-20: #352f30;
    --md-ref-palette-secondary-21: #373132;
    --md-ref-palette-secondary-22: #3a3334;
    --md-ref-palette-secondary-23: #3c3537;
    --md-ref-palette-secondary-24: #3e3739;
    --md-ref-palette-secondary-25: #413a3b;
    --md-ref-palette-secondary-26: #433c3d;
    --md-ref-palette-secondary-27: #453e3f;
    --md-ref-palette-secondary-28: #484042;
    --md-ref-palette-secondary-29: #4a4344;
    --md-ref-palette-secondary-30: #4c4546;
    --md-ref-palette-secondary-31: #4f4749;
    --md-ref-palette-secondary-32: #51494b;
    --md-ref-palette-secondary-33: #534c4d;
    --md-ref-palette-secondary-34: #564e50;
    --md-ref-palette-secondary-35: #585052;
    --md-ref-palette-secondary-36: #5b5354;
    --md-ref-palette-secondary-37: #5d5557;
    --md-ref-palette-secondary-38: #605859;
    --md-ref-palette-secondary-39: #625a5b;
    --md-ref-palette-secondary-40: #645c5e;
    --md-ref-palette-secondary-41: #675f60;
    --md-ref-palette-secondary-42: #696163;
    --md-ref-palette-secondary-43: #6c6465;
    --md-ref-palette-secondary-44: #6e6667;
    --md-ref-palette-secondary-45: #71686a;
    --md-ref-palette-secondary-46: #736b6c;
    --md-ref-palette-secondary-47: #766d6f;
    --md-ref-palette-secondary-48: #797071;
    --md-ref-palette-secondary-49: #7b7274;
    --md-ref-palette-secondary-50: #7e7576;
    --md-ref-palette-secondary-51: #807779;
    --md-ref-palette-secondary-52: #837a7b;
    --md-ref-palette-secondary-53: #867c7e;
    --md-ref-palette-secondary-54: #887f80;
    --md-ref-palette-secondary-55: #8b8183;
    --md-ref-palette-secondary-56: #8d8485;
    --md-ref-palette-secondary-57: #908788;
    --md-ref-palette-secondary-58: #93898b;
    --md-ref-palette-secondary-59: #958c8d;
    --md-ref-palette-secondary-60: #988e90;
    --md-ref-palette-secondary-61: #9b9192;
    --md-ref-palette-secondary-62: #9d9495;
    --md-ref-palette-secondary-63: #a09698;
    --md-ref-palette-secondary-64: #a3999a;
    --md-ref-palette-secondary-65: #a59b9d;
    --md-ref-palette-secondary-66: #a89e9f;
    --md-ref-palette-secondary-67: #aba1a2;
    --md-ref-palette-secondary-68: #aea3a5;
    --md-ref-palette-secondary-69: #b0a6a7;
    --md-ref-palette-secondary-70: #b3a9aa;
    --md-ref-palette-secondary-71: #b6abad;
    --md-ref-palette-secondary-72: #b9aeaf;
    --md-ref-palette-secondary-73: #bbb1b2;
    --md-ref-palette-secondary-74: #beb3b5;
    --md-ref-palette-secondary-75: #c1b6b8;
    --md-ref-palette-secondary-76: #c4b9ba;
    --md-ref-palette-secondary-77: #c6bcbd;
    --md-ref-palette-secondary-78: #c9bec0;
    --md-ref-palette-secondary-79: #ccc1c2;
    --md-ref-palette-secondary-80: #cfc4c5;
    --md-ref-palette-secondary-81: #d2c7c8;
    --md-ref-palette-secondary-82: #d5c9cb;
    --md-ref-palette-secondary-83: #d7ccce;
    --md-ref-palette-secondary-84: #dacfd0;
    --md-ref-palette-secondary-85: #ddd2d3;
    --md-ref-palette-secondary-86: #e0d4d6;
    --md-ref-palette-secondary-87: #e3d7d9;
    --md-ref-palette-secondary-88: #e6dadb;
    --md-ref-palette-secondary-89: #e9ddde;
    --md-ref-palette-secondary-90: #ebe0e1;
    --md-ref-palette-secondary-91: #eee2e4;
    --md-ref-palette-secondary-92: #f1e5e7;
    --md-ref-palette-secondary-93: #f4e8ea;
    --md-ref-palette-secondary-94: #f7ebec;
    --md-ref-palette-secondary-95: #faeeef;
    --md-ref-palette-secondary-96: #fdf1f2;
    --md-ref-palette-secondary-97: #fff4f5;
    --md-ref-palette-secondary-98: #fff8f8;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0b000e;
    --md-ref-palette-tertiary-2: #110213;
    --md-ref-palette-tertiary-3: #150518;
    --md-ref-palette-tertiary-4: #19071b;
    --md-ref-palette-tertiary-5: #1c0a1e;
    --md-ref-palette-tertiary-6: #1f0c20;
    --md-ref-palette-tertiary-7: #210f23;
    --md-ref-palette-tertiary-8: #231125;
    --md-ref-palette-tertiary-9: #251327;
    --md-ref-palette-tertiary-10: #281529;
    --md-ref-palette-tertiary-11: #2a172b;
    --md-ref-palette-tertiary-12: #2c192d;
    --md-ref-palette-tertiary-13: #2e1b2f;
    --md-ref-palette-tertiary-14: #301d32;
    --md-ref-palette-tertiary-15: #331f34;
    --md-ref-palette-tertiary-16: #352136;
    --md-ref-palette-tertiary-17: #372338;
    --md-ref-palette-tertiary-18: #39253a;
    --md-ref-palette-tertiary-19: #3c273d;
    --md-ref-palette-tertiary-20: #3e293f;
    --md-ref-palette-tertiary-21: #402b41;
    --md-ref-palette-tertiary-22: #432e43;
    --md-ref-palette-tertiary-23: #453046;
    --md-ref-palette-tertiary-24: #473248;
    --md-ref-palette-tertiary-25: #4a344a;
    --md-ref-palette-tertiary-26: #4c364d;
    --md-ref-palette-tertiary-27: #4f394f;
    --md-ref-palette-tertiary-28: #513b51;
    --md-ref-palette-tertiary-29: #533d54;
    --md-ref-palette-tertiary-30: #563f56;
    --md-ref-palette-tertiary-31: #584258;
    --md-ref-palette-tertiary-32: #5b445b;
    --md-ref-palette-tertiary-33: #5d465d;
    --md-ref-palette-tertiary-34: #604960;
    --md-ref-palette-tertiary-35: #624b62;
    --md-ref-palette-tertiary-36: #654d65;
    --md-ref-palette-tertiary-37: #675067;
    --md-ref-palette-tertiary-38: #6a5269;
    --md-ref-palette-tertiary-39: #6c546c;
    --md-ref-palette-tertiary-40: #6f576e;
    --md-ref-palette-tertiary-41: #715971;
    --md-ref-palette-tertiary-42: #745b73;
    --md-ref-palette-tertiary-43: #765e76;
    --md-ref-palette-tertiary-44: #796078;
    --md-ref-palette-tertiary-45: #7c637b;
    --md-ref-palette-tertiary-46: #7e657e;
    --md-ref-palette-tertiary-47: #816880;
    --md-ref-palette-tertiary-48: #836a83;
    --md-ref-palette-tertiary-49: #866c85;
    --md-ref-palette-tertiary-50: #896f88;
    --md-ref-palette-tertiary-51: #8b718a;
    --md-ref-palette-tertiary-52: #8e748d;
    --md-ref-palette-tertiary-53: #917690;
    --md-ref-palette-tertiary-54: #937992;
    --md-ref-palette-tertiary-55: #967b95;
    --md-ref-palette-tertiary-56: #997e98;
    --md-ref-palette-tertiary-57: #9b819a;
    --md-ref-palette-tertiary-58: #9e839d;
    --md-ref-palette-tertiary-59: #a1869f;
    --md-ref-palette-tertiary-60: #a488a2;
    --md-ref-palette-tertiary-61: #a68ba5;
    --md-ref-palette-tertiary-62: #a98da8;
    --md-ref-palette-tertiary-63: #ac90aa;
    --md-ref-palette-tertiary-64: #ae93ad;
    --md-ref-palette-tertiary-65: #b195b0;
    --md-ref-palette-tertiary-66: #b498b2;
    --md-ref-palette-tertiary-67: #b79ab5;
    --md-ref-palette-tertiary-68: #ba9db8;
    --md-ref-palette-tertiary-69: #bca0bb;
    --md-ref-palette-tertiary-70: #bfa2bd;
    --md-ref-palette-tertiary-71: #c2a5c0;
    --md-ref-palette-tertiary-72: #c5a8c3;
    --md-ref-palette-tertiary-73: #c8aac6;
    --md-ref-palette-tertiary-74: #caadc8;
    --md-ref-palette-tertiary-75: #cdb0cb;
    --md-ref-palette-tertiary-76: #d0b2ce;
    --md-ref-palette-tertiary-77: #d3b5d1;
    --md-ref-palette-tertiary-78: #d6b8d3;
    --md-ref-palette-tertiary-79: #d9bbd6;
    --md-ref-palette-tertiary-80: #dcbdd9;
    --md-ref-palette-tertiary-81: #dec0dc;
    --md-ref-palette-tertiary-82: #e1c3df;
    --md-ref-palette-tertiary-83: #e4c6e2;
    --md-ref-palette-tertiary-84: #e7c8e4;
    --md-ref-palette-tertiary-85: #eacbe7;
    --md-ref-palette-tertiary-86: #edceea;
    --md-ref-palette-tertiary-87: #f0d1ed;
    --md-ref-palette-tertiary-88: #f3d3f0;
    --md-ref-palette-tertiary-89: #f6d6f3;
    --md-ref-palette-tertiary-90: #f9d9f6;
    --md-ref-palette-tertiary-91: #fcdcf9;
    --md-ref-palette-tertiary-92: #ffdffb;
    --md-ref-palette-tertiary-93: #ffe3fc;
    --md-ref-palette-tertiary-94: #ffe7fb;
    --md-ref-palette-tertiary-95: #ffebfb;
    --md-ref-palette-tertiary-96: #ffeffb;
    --md-ref-palette-tertiary-97: #fff3fa;
    --md-ref-palette-tertiary-98: #fff7fa;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100002;
    --md-ref-palette-error-2: #1a0003;
    --md-ref-palette-error-3: #210005;
    --md-ref-palette-error-4: #270007;
    --md-ref-palette-error-5: #2c0008;
    --md-ref-palette-error-6: #31000a;
    --md-ref-palette-error-7: #35000c;
    --md-ref-palette-error-8: #39000d;
    --md-ref-palette-error-9: #3c000f;
    --md-ref-palette-error-10: #400010;
    --md-ref-palette-error-11: #440011;
    --md-ref-palette-error-12: #480013;
    --md-ref-palette-error-13: #4b0014;
    --md-ref-palette-error-14: #4f0116;
    --md-ref-palette-error-15: #520318;
    --md-ref-palette-error-16: #55051a;
    --md-ref-palette-error-17: #58071c;
    --md-ref-palette-error-18: #5b0a1e;
    --md-ref-palette-error-19: #5e0d20;
    --md-ref-palette-error-20: #610f22;
    --md-ref-palette-error-21: #641224;
    --md-ref-palette-error-22: #671426;
    --md-ref-palette-error-23: #6a1728;
    --md-ref-palette-error-24: #6d192a;
    --md-ref-palette-error-25: #701b2c;
    --md-ref-palette-error-26: #731e2e;
    --md-ref-palette-error-27: #762031;
    --md-ref-palette-error-28: #792233;
    --md-ref-palette-error-29: #7c2535;
    --md-ref-palette-error-30: #7f2737;
    --md-ref-palette-error-31: #822939;
    --md-ref-palette-error-32: #852c3b;
    --md-ref-palette-error-33: #882e3e;
    --md-ref-palette-error-34: #8b3040;
    --md-ref-palette-error-35: #8e3342;
    --md-ref-palette-error-36: #913544;
    --md-ref-palette-error-37: #943747;
    --md-ref-palette-error-38: #973a49;
    --md-ref-palette-error-39: #9a3c4b;
    --md-ref-palette-error-40: #9d3e4d;
    --md-ref-palette-error-41: #a14150;
    --md-ref-palette-error-42: #a44352;
    --md-ref-palette-error-43: #a74654;
    --md-ref-palette-error-44: #aa4857;
    --md-ref-palette-error-45: #ad4a59;
    --md-ref-palette-error-46: #b04d5b;
    --md-ref-palette-error-47: #b34f5e;
    --md-ref-palette-error-48: #b65260;
    --md-ref-palette-error-49: #b95463;
    --md-ref-palette-error-50: #bd5665;
    --md-ref-palette-error-51: #c05967;
    --md-ref-palette-error-52: #c35b6a;
    --md-ref-palette-error-53: #c65e6c;
    --md-ref-palette-error-54: #c9606f;
    --md-ref-palette-error-55: #cc6371;
    --md-ref-palette-error-56: #cf6574;
    --md-ref-palette-error-57: #d36876;
    --md-ref-palette-error-58: #d66a79;
    --md-ref-palette-error-59: #d96d7b;
    --md-ref-palette-error-60: #dc6f7e;
    --md-ref-palette-error-61: #df7280;
    --md-ref-palette-error-62: #e27483;
    --md-ref-palette-error-63: #e67785;
    --md-ref-palette-error-64: #e97988;
    --md-ref-palette-error-65: #ec7c8a;
    --md-ref-palette-error-66: #ef7e8d;
    --md-ref-palette-error-67: #f2818f;
    --md-ref-palette-error-68: #f68492;
    --md-ref-palette-error-69: #f98694;
    --md-ref-palette-error-70: #fc8997;
    --md-ref-palette-error-71: #ff8b9a;
    --md-ref-palette-error-72: #ff909d;
    --md-ref-palette-error-73: #ff94a1;
    --md-ref-palette-error-74: #ff99a4;
    --md-ref-palette-error-75: #ff9da8;
    --md-ref-palette-error-76: #ffa2ab;
    --md-ref-palette-error-77: #ffa6af;
    --md-ref-palette-error-78: #ffaab2;
    --md-ref-palette-error-79: #ffaeb6;
    --md-ref-palette-error-80: #ffb2b9;
    --md-ref-palette-error-81: #ffb6bd;
    --md-ref-palette-error-82: #ffbac0;
    --md-ref-palette-error-83: #ffbec4;
    --md-ref-palette-error-84: #ffc2c7;
    --md-ref-palette-error-85: #ffc6cb;
    --md-ref-palette-error-86: #ffcace;
    --md-ref-palette-error-87: #ffced2;
    --md-ref-palette-error-88: #ffd2d5;
    --md-ref-palette-error-89: #ffd6d8;
    --md-ref-palette-error-90: #ffdadc;
    --md-ref-palette-error-91: #ffdddf;
    --md-ref-palette-error-92: #ffe1e3;
    --md-ref-palette-error-93: #ffe5e6;
    --md-ref-palette-error-94: #ffe9e9;
    --md-ref-palette-error-95: #ffeced;
    --md-ref-palette-error-96: #fff0f0;
    --md-ref-palette-error-97: #fff4f4;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040304;
    --md-ref-palette-neutral-2: #080707;
    --md-ref-palette-neutral-3: #0c0b0b;
    --md-ref-palette-neutral-4: #100e0e;
    --md-ref-palette-neutral-5: #121011;
    --md-ref-palette-neutral-6: #151313;
    --md-ref-palette-neutral-7: #171515;
    --md-ref-palette-neutral-8: #191717;
    --md-ref-palette-neutral-9: #1b1919;
    --md-ref-palette-neutral-10: #1d1b1b;
    --md-ref-palette-neutral-11: #1f1d1d;
    --md-ref-palette-neutral-12: #211f1f;
    --md-ref-palette-neutral-13: #232121;
    --md-ref-palette-neutral-14: #262323;
    --md-ref-palette-neutral-15: #282525;
    --md-ref-palette-neutral-16: #2a2727;
    --md-ref-palette-neutral-17: #2c292a;
    --md-ref-palette-neutral-18: #2e2b2c;
    --md-ref-palette-neutral-19: #302e2e;
    --md-ref-palette-neutral-20: #323030;
    --md-ref-palette-neutral-21: #353232;
    --md-ref-palette-neutral-22: #373434;
    --md-ref-palette-neutral-23: #393636;
    --md-ref-palette-neutral-24: #3b3839;
    --md-ref-palette-neutral-25: #3e3b3b;
    --md-ref-palette-neutral-26: #403d3d;
    --md-ref-palette-neutral-27: #423f3f;
    --md-ref-palette-neutral-28: #454142;
    --md-ref-palette-neutral-29: #474444;
    --md-ref-palette-neutral-30: #494646;
    --md-ref-palette-neutral-31: #4c4848;
    --md-ref-palette-neutral-32: #4e4b4b;
    --md-ref-palette-neutral-33: #504d4d;
    --md-ref-palette-neutral-34: #534f4f;
    --md-ref-palette-neutral-35: #555252;
    --md-ref-palette-neutral-36: #575454;
    --md-ref-palette-neutral-37: #5a5656;
    --md-ref-palette-neutral-38: #5c5959;
    --md-ref-palette-neutral-39: #5f5b5b;
    --md-ref-palette-neutral-40: #615d5e;
    --md-ref-palette-neutral-41: #646060;
    --md-ref-palette-neutral-42: #666262;
    --md-ref-palette-neutral-43: #696565;
    --md-ref-palette-neutral-44: #6b6767;
    --md-ref-palette-neutral-45: #6e6a6a;
    --md-ref-palette-neutral-46: #706c6c;
    --md-ref-palette-neutral-47: #736e6f;
    --md-ref-palette-neutral-48: #757171;
    --md-ref-palette-neutral-49: #787374;
    --md-ref-palette-neutral-50: #7a7676;
    --md-ref-palette-neutral-51: #7d7879;
    --md-ref-palette-neutral-52: #7f7b7b;
    --md-ref-palette-neutral-53: #827e7e;
    --md-ref-palette-neutral-54: #858080;
    --md-ref-palette-neutral-55: #878383;
    --md-ref-palette-neutral-56: #8a8585;
    --md-ref-palette-neutral-57: #8c8888;
    --md-ref-palette-neutral-58: #8f8a8a;
    --md-ref-palette-neutral-59: #928d8d;
    --md-ref-palette-neutral-60: #949090;
    --md-ref-palette-neutral-61: #979292;
    --md-ref-palette-neutral-62: #9a9595;
    --md-ref-palette-neutral-63: #9c9797;
    --md-ref-palette-neutral-64: #9f9a9a;
    --md-ref-palette-neutral-65: #a29d9d;
    --md-ref-palette-neutral-66: #a49f9f;
    --md-ref-palette-neutral-67: #a7a2a2;
    --md-ref-palette-neutral-68: #aaa5a5;
    --md-ref-palette-neutral-69: #aca7a7;
    --md-ref-palette-neutral-70: #afaaaa;
    --md-ref-palette-neutral-71: #b2adad;
    --md-ref-palette-neutral-72: #b5afaf;
    --md-ref-palette-neutral-73: #b7b2b2;
    --md-ref-palette-neutral-74: #bab5b5;
    --md-ref-palette-neutral-75: #bdb7b7;
    --md-ref-palette-neutral-76: #c0baba;
    --md-ref-palette-neutral-77: #c3bdbd;
    --md-ref-palette-neutral-78: #c5c0c0;
    --md-ref-palette-neutral-79: #c8c2c2;
    --md-ref-palette-neutral-80: #cbc5c5;
    --md-ref-palette-neutral-81: #cec8c8;
    --md-ref-palette-neutral-82: #d1cbcb;
    --md-ref-palette-neutral-83: #d3cdcd;
    --md-ref-palette-neutral-84: #d6d0d0;
    --md-ref-palette-neutral-85: #d9d3d3;
    --md-ref-palette-neutral-86: #dcd6d6;
    --md-ref-palette-neutral-87: #dfd9d8;
    --md-ref-palette-neutral-88: #e2dbdb;
    --md-ref-palette-neutral-89: #e4dede;
    --md-ref-palette-neutral-90: #e7e1e1;
    --md-ref-palette-neutral-91: #eae4e4;
    --md-ref-palette-neutral-92: #ede7e7;
    --md-ref-palette-neutral-93: #f0e9e9;
    --md-ref-palette-neutral-94: #f3ecec;
    --md-ref-palette-neutral-95: #f6efef;
    --md-ref-palette-neutral-96: #f9f2f2;
    --md-ref-palette-neutral-97: #fcf5f5;
    --md-ref-palette-neutral-98: #fff8f8;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #050304;
    --md-ref-palette-neutral-variant-2: #0a0707;
    --md-ref-palette-neutral-variant-3: #0e0a0b;
    --md-ref-palette-neutral-variant-4: #110d0e;
    --md-ref-palette-neutral-variant-5: #141011;
    --md-ref-palette-neutral-variant-6: #161213;
    --md-ref-palette-neutral-variant-7: #191415;
    --md-ref-palette-neutral-variant-8: #1b1717;
    --md-ref-palette-neutral-variant-9: #1d1819;
    --md-ref-palette-neutral-variant-10: #1f1a1b;
    --md-ref-palette-neutral-variant-11: #211c1d;
    --md-ref-palette-neutral-variant-12: #231e1f;
    --md-ref-palette-neutral-variant-13: #252021;
    --md-ref-palette-neutral-variant-14: #272223;
    --md-ref-palette-neutral-variant-15: #292525;
    --md-ref-palette-neutral-variant-16: #2b2728;
    --md-ref-palette-neutral-variant-17: #2e292a;
    --md-ref-palette-neutral-variant-18: #302b2c;
    --md-ref-palette-neutral-variant-19: #322d2e;
    --md-ref-palette-neutral-variant-20: #342f30;
    --md-ref-palette-neutral-variant-21: #363132;
    --md-ref-palette-neutral-variant-22: #393334;
    --md-ref-palette-neutral-variant-23: #3b3637;
    --md-ref-palette-neutral-variant-24: #3d3839;
    --md-ref-palette-neutral-variant-25: #403a3b;
    --md-ref-palette-neutral-variant-26: #423c3d;
    --md-ref-palette-neutral-variant-27: #443e3f;
    --md-ref-palette-neutral-variant-28: #464142;
    --md-ref-palette-neutral-variant-29: #494344;
    --md-ref-palette-neutral-variant-30: #4b4546;
    --md-ref-palette-neutral-variant-31: #4d4849;
    --md-ref-palette-neutral-variant-32: #504a4b;
    --md-ref-palette-neutral-variant-33: #524c4d;
    --md-ref-palette-neutral-variant-34: #554f4f;
    --md-ref-palette-neutral-variant-35: #575152;
    --md-ref-palette-neutral-variant-36: #595354;
    --md-ref-palette-neutral-variant-37: #5c5657;
    --md-ref-palette-neutral-variant-38: #5e5859;
    --md-ref-palette-neutral-variant-39: #615a5b;
    --md-ref-palette-neutral-variant-40: #635d5e;
    --md-ref-palette-neutral-variant-41: #665f60;
    --md-ref-palette-neutral-variant-42: #686263;
    --md-ref-palette-neutral-variant-43: #6b6465;
    --md-ref-palette-neutral-variant-44: #6d6667;
    --md-ref-palette-neutral-variant-45: #70696a;
    --md-ref-palette-neutral-variant-46: #726b6c;
    --md-ref-palette-neutral-variant-47: #756e6f;
    --md-ref-palette-neutral-variant-48: #777071;
    --md-ref-palette-neutral-variant-49: #7a7374;
    --md-ref-palette-neutral-variant-50: #7c7576;
    --md-ref-palette-neutral-variant-51: #7f7879;
    --md-ref-palette-neutral-variant-52: #827a7b;
    --md-ref-palette-neutral-variant-53: #847d7e;
    --md-ref-palette-neutral-variant-54: #877f80;
    --md-ref-palette-neutral-variant-55: #898283;
    --md-ref-palette-neutral-variant-56: #8c8485;
    --md-ref-palette-neutral-variant-57: #8f8788;
    --md-ref-palette-neutral-variant-58: #918a8b;
    --md-ref-palette-neutral-variant-59: #948c8d;
    --md-ref-palette-neutral-variant-60: #978f90;
    --md-ref-palette-neutral-variant-61: #999192;
    --md-ref-palette-neutral-variant-62: #9c9495;
    --md-ref-palette-neutral-variant-63: #9f9798;
    --md-ref-palette-neutral-variant-64: #a1999a;
    --md-ref-palette-neutral-variant-65: #a49c9d;
    --md-ref-palette-neutral-variant-66: #a79e9f;
    --md-ref-palette-neutral-variant-67: #a9a1a2;
    --md-ref-palette-neutral-variant-68: #aca4a5;
    --md-ref-palette-neutral-variant-69: #afa6a7;
    --md-ref-palette-neutral-variant-70: #b2a9aa;
    --md-ref-palette-neutral-variant-71: #b4acad;
    --md-ref-palette-neutral-variant-72: #b7aeaf;
    --md-ref-palette-neutral-variant-73: #bab1b2;
    --md-ref-palette-neutral-variant-74: #bdb4b5;
    --md-ref-palette-neutral-variant-75: #bfb7b8;
    --md-ref-palette-neutral-variant-76: #c2b9ba;
    --md-ref-palette-neutral-variant-77: #c5bcbd;
    --md-ref-palette-neutral-variant-78: #c8bfc0;
    --md-ref-palette-neutral-variant-79: #cbc2c2;
    --md-ref-palette-neutral-variant-80: #cdc4c5;
    --md-ref-palette-neutral-variant-81: #d0c7c8;
    --md-ref-palette-neutral-variant-82: #d3cacb;
    --md-ref-palette-neutral-variant-83: #d6cdcd;
    --md-ref-palette-neutral-variant-84: #d9cfd0;
    --md-ref-palette-neutral-variant-85: #dcd2d3;
    --md-ref-palette-neutral-variant-86: #ded5d6;
    --md-ref-palette-neutral-variant-87: #e1d8d9;
    --md-ref-palette-neutral-variant-88: #e4dadb;
    --md-ref-palette-neutral-variant-89: #e7ddde;
    --md-ref-palette-neutral-variant-90: #eae0e1;
    --md-ref-palette-neutral-variant-91: #ede3e4;
    --md-ref-palette-neutral-variant-92: #f0e6e7;
    --md-ref-palette-neutral-variant-93: #f3e9e9;
    --md-ref-palette-neutral-variant-94: #f6ebec;
    --md-ref-palette-neutral-variant-95: #f9eeef;
    --md-ref-palette-neutral-variant-96: #fbf1f2;
    --md-ref-palette-neutral-variant-97: #fef4f5;
    --md-ref-palette-neutral-variant-98: #fff8f8;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
