:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060300;
    --md-ref-palette-primary-2: #0b0700;
    --md-ref-palette-primary-3: #100a01;
    --md-ref-palette-primary-4: #130d02;
    --md-ref-palette-primary-5: #161003;
    --md-ref-palette-primary-6: #191304;
    --md-ref-palette-primary-7: #1b1505;
    --md-ref-palette-primary-8: #1d1706;
    --md-ref-palette-primary-9: #1f1908;
    --md-ref-palette-primary-10: #211b0a;
    --md-ref-palette-primary-11: #231d0b;
    --md-ref-palette-primary-12: #261f0d;
    --md-ref-palette-primary-13: #28210f;
    --md-ref-palette-primary-14: #2a2311;
    --md-ref-palette-primary-15: #2c2513;
    --md-ref-palette-primary-16: #2e2715;
    --md-ref-palette-primary-17: #302917;
    --md-ref-palette-primary-18: #332b19;
    --md-ref-palette-primary-19: #352d1b;
    --md-ref-palette-primary-20: #37301d;
    --md-ref-palette-primary-21: #39321f;
    --md-ref-palette-primary-22: #3c3421;
    --md-ref-palette-primary-23: #3e3623;
    --md-ref-palette-primary-24: #403825;
    --md-ref-palette-primary-25: #433b27;
    --md-ref-palette-primary-26: #453d29;
    --md-ref-palette-primary-27: #473f2b;
    --md-ref-palette-primary-28: #4a412d;
    --md-ref-palette-primary-29: #4c442f;
    --md-ref-palette-primary-30: #4f4631;
    --md-ref-palette-primary-31: #514834;
    --md-ref-palette-primary-32: #534b36;
    --md-ref-palette-primary-33: #564d38;
    --md-ref-palette-primary-34: #584f3a;
    --md-ref-palette-primary-35: #5b523c;
    --md-ref-palette-primary-36: #5d543e;
    --md-ref-palette-primary-37: #605641;
    --md-ref-palette-primary-38: #625943;
    --md-ref-palette-primary-39: #645b45;
    --md-ref-palette-primary-40: #675d47;
    --md-ref-palette-primary-41: #69604a;
    --md-ref-palette-primary-42: #6c624c;
    --md-ref-palette-primary-43: #6f654e;
    --md-ref-palette-primary-44: #716751;
    --md-ref-palette-primary-45: #746a53;
    --md-ref-palette-primary-46: #766c55;
    --md-ref-palette-primary-47: #796f58;
    --md-ref-palette-primary-48: #7b715a;
    --md-ref-palette-primary-49: #7e745c;
    --md-ref-palette-primary-50: #80765f;
    --md-ref-palette-primary-51: #837961;
    --md-ref-palette-primary-52: #867b64;
    --md-ref-palette-primary-53: #887e66;
    --md-ref-palette-primary-54: #8b8068;
    --md-ref-palette-primary-55: #8e836b;
    --md-ref-palette-primary-56: #90856d;
    --md-ref-palette-primary-57: #938870;
    --md-ref-palette-primary-58: #968a72;
    --md-ref-palette-primary-59: #988d75;
    --md-ref-palette-primary-60: #9b9077;
    --md-ref-palette-primary-61: #9e927a;
    --md-ref-palette-primary-62: #a0957c;
    --md-ref-palette-primary-63: #a3977e;
    --md-ref-palette-primary-64: #a69a81;
    --md-ref-palette-primary-65: #a89d84;
    --md-ref-palette-primary-66: #ab9f86;
    --md-ref-palette-primary-67: #aea289;
    --md-ref-palette-primary-68: #b1a58b;
    --md-ref-palette-primary-69: #b3a78e;
    --md-ref-palette-primary-70: #b6aa90;
    --md-ref-palette-primary-71: #b9ad93;
    --md-ref-palette-primary-72: #bcaf95;
    --md-ref-palette-primary-73: #bfb298;
    --md-ref-palette-primary-74: #c1b59b;
    --md-ref-palette-primary-75: #c4b89d;
    --md-ref-palette-primary-76: #c7baa0;
    --md-ref-palette-primary-77: #cabda2;
    --md-ref-palette-primary-78: #cdc0a5;
    --md-ref-palette-primary-79: #cfc2a8;
    --md-ref-palette-primary-80: #d2c5aa;
    --md-ref-palette-primary-81: #d5c8ad;
    --md-ref-palette-primary-82: #d8cbb0;
    --md-ref-palette-primary-83: #dbceb2;
    --md-ref-palette-primary-84: #ded0b5;
    --md-ref-palette-primary-85: #e1d3b8;
    --md-ref-palette-primary-86: #e3d6ba;
    --md-ref-palette-primary-87: #e6d9bd;
    --md-ref-palette-primary-88: #e9dbc0;
    --md-ref-palette-primary-89: #ecdec2;
    --md-ref-palette-primary-90: #efe1c5;
    --md-ref-palette-primary-91: #f2e4c8;
    --md-ref-palette-primary-92: #f5e7cb;
    --md-ref-palette-primary-93: #f8eacd;
    --md-ref-palette-primary-94: #fbecd0;
    --md-ref-palette-primary-95: #feefd3;
    --md-ref-palette-primary-96: #fff2da;
    --md-ref-palette-primary-97: #fff5e6;
    --md-ref-palette-primary-98: #fff8f1;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #050300;
    --md-ref-palette-secondary-2: #0a0701;
    --md-ref-palette-secondary-3: #0e0b03;
    --md-ref-palette-secondary-4: #120e05;
    --md-ref-palette-secondary-5: #151006;
    --md-ref-palette-secondary-6: #171308;
    --md-ref-palette-secondary-7: #19150a;
    --md-ref-palette-secondary-8: #1c170c;
    --md-ref-palette-secondary-9: #1e190e;
    --md-ref-palette-secondary-10: #201b10;
    --md-ref-palette-secondary-11: #221d12;
    --md-ref-palette-secondary-12: #241f14;
    --md-ref-palette-secondary-13: #262116;
    --md-ref-palette-secondary-14: #282318;
    --md-ref-palette-secondary-15: #2a251a;
    --md-ref-palette-secondary-16: #2c271c;
    --md-ref-palette-secondary-17: #2f291d;
    --md-ref-palette-secondary-18: #312c20;
    --md-ref-palette-secondary-19: #332e22;
    --md-ref-palette-secondary-20: #353024;
    --md-ref-palette-secondary-21: #373226;
    --md-ref-palette-secondary-22: #3a3428;
    --md-ref-palette-secondary-23: #3c362a;
    --md-ref-palette-secondary-24: #3e392c;
    --md-ref-palette-secondary-25: #413b2e;
    --md-ref-palette-secondary-26: #433d30;
    --md-ref-palette-secondary-27: #453f32;
    --md-ref-palette-secondary-28: #484234;
    --md-ref-palette-secondary-29: #4a4437;
    --md-ref-palette-secondary-30: #4c4639;
    --md-ref-palette-secondary-31: #4f483b;
    --md-ref-palette-secondary-32: #514b3d;
    --md-ref-palette-secondary-33: #534d3f;
    --md-ref-palette-secondary-34: #564f42;
    --md-ref-palette-secondary-35: #585244;
    --md-ref-palette-secondary-36: #5b5446;
    --md-ref-palette-secondary-37: #5d5648;
    --md-ref-palette-secondary-38: #60594b;
    --md-ref-palette-secondary-39: #625b4d;
    --md-ref-palette-secondary-40: #645e4f;
    --md-ref-palette-secondary-41: #676052;
    --md-ref-palette-secondary-42: #696254;
    --md-ref-palette-secondary-43: #6c6556;
    --md-ref-palette-secondary-44: #6f6759;
    --md-ref-palette-secondary-45: #716a5b;
    --md-ref-palette-secondary-46: #746c5d;
    --md-ref-palette-secondary-47: #766f60;
    --md-ref-palette-secondary-48: #797162;
    --md-ref-palette-secondary-49: #7b7465;
    --md-ref-palette-secondary-50: #7e7667;
    --md-ref-palette-secondary-51: #807969;
    --md-ref-palette-secondary-52: #837b6c;
    --md-ref-palette-secondary-53: #867e6e;
    --md-ref-palette-secondary-54: #888071;
    --md-ref-palette-secondary-55: #8b8373;
    --md-ref-palette-secondary-56: #8d8576;
    --md-ref-palette-secondary-57: #908878;
    --md-ref-palette-secondary-58: #938b7b;
    --md-ref-palette-secondary-59: #958d7d;
    --md-ref-palette-secondary-60: #989080;
    --md-ref-palette-secondary-61: #9b9282;
    --md-ref-palette-secondary-62: #9d9585;
    --md-ref-palette-secondary-63: #a09887;
    --md-ref-palette-secondary-64: #a39a8a;
    --md-ref-palette-secondary-65: #a69d8d;
    --md-ref-palette-secondary-66: #a8a08f;
    --md-ref-palette-secondary-67: #aba292;
    --md-ref-palette-secondary-68: #aea594;
    --md-ref-palette-secondary-69: #b0a897;
    --md-ref-palette-secondary-70: #b3aa99;
    --md-ref-palette-secondary-71: #b6ad9c;
    --md-ref-palette-secondary-72: #b9b09f;
    --md-ref-palette-secondary-73: #bbb2a1;
    --md-ref-palette-secondary-74: #beb5a4;
    --md-ref-palette-secondary-75: #c1b8a7;
    --md-ref-palette-secondary-76: #c4baa9;
    --md-ref-palette-secondary-77: #c7bdac;
    --md-ref-palette-secondary-78: #c9c0af;
    --md-ref-palette-secondary-79: #ccc3b1;
    --md-ref-palette-secondary-80: #cfc5b4;
    --md-ref-palette-secondary-81: #d2c8b7;
    --md-ref-palette-secondary-82: #d5cbb9;
    --md-ref-palette-secondary-83: #d8cebc;
    --md-ref-palette-secondary-84: #dad0bf;
    --md-ref-palette-secondary-85: #ddd3c1;
    --md-ref-palette-secondary-86: #e0d6c4;
    --md-ref-palette-secondary-87: #e3d9c7;
    --md-ref-palette-secondary-88: #e6dcca;
    --md-ref-palette-secondary-89: #e9decc;
    --md-ref-palette-secondary-90: #ece1cf;
    --md-ref-palette-secondary-91: #efe4d2;
    --md-ref-palette-secondary-92: #f1e7d5;
    --md-ref-palette-secondary-93: #f4ead7;
    --md-ref-palette-secondary-94: #f7edda;
    --md-ref-palette-secondary-95: #faf0dd;
    --md-ref-palette-secondary-96: #fdf2e0;
    --md-ref-palette-secondary-97: #fff5e6;
    --md-ref-palette-secondary-98: #fff8f1;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #060300;
    --md-ref-palette-tertiary-2: #0b0700;
    --md-ref-palette-tertiary-3: #100a00;
    --md-ref-palette-tertiary-4: #140d00;
    --md-ref-palette-tertiary-5: #171000;
    --md-ref-palette-tertiary-6: #1a1200;
    --md-ref-palette-tertiary-7: #1c1501;
    --md-ref-palette-tertiary-8: #1f1702;
    --md-ref-palette-tertiary-9: #211903;
    --md-ref-palette-tertiary-10: #231b04;
    --md-ref-palette-tertiary-11: #251d05;
    --md-ref-palette-tertiary-12: #271f06;
    --md-ref-palette-tertiary-13: #292108;
    --md-ref-palette-tertiary-14: #2c230a;
    --md-ref-palette-tertiary-15: #2e250c;
    --md-ref-palette-tertiary-16: #30270e;
    --md-ref-palette-tertiary-17: #322910;
    --md-ref-palette-tertiary-18: #352b12;
    --md-ref-palette-tertiary-19: #372d13;
    --md-ref-palette-tertiary-20: #392f15;
    --md-ref-palette-tertiary-21: #3b3217;
    --md-ref-palette-tertiary-22: #3e3419;
    --md-ref-palette-tertiary-23: #40361b;
    --md-ref-palette-tertiary-24: #42381d;
    --md-ref-palette-tertiary-25: #453a1f;
    --md-ref-palette-tertiary-26: #473d21;
    --md-ref-palette-tertiary-27: #493f23;
    --md-ref-palette-tertiary-28: #4c4126;
    --md-ref-palette-tertiary-29: #4e4328;
    --md-ref-palette-tertiary-30: #51462a;
    --md-ref-palette-tertiary-31: #53482c;
    --md-ref-palette-tertiary-32: #564a2e;
    --md-ref-palette-tertiary-33: #584d30;
    --md-ref-palette-tertiary-34: #5a4f32;
    --md-ref-palette-tertiary-35: #5d5134;
    --md-ref-palette-tertiary-36: #5f5437;
    --md-ref-palette-tertiary-37: #625639;
    --md-ref-palette-tertiary-38: #64583b;
    --md-ref-palette-tertiary-39: #675b3d;
    --md-ref-palette-tertiary-40: #695d3f;
    --md-ref-palette-tertiary-41: #6c6042;
    --md-ref-palette-tertiary-42: #6e6244;
    --md-ref-palette-tertiary-43: #716446;
    --md-ref-palette-tertiary-44: #746748;
    --md-ref-palette-tertiary-45: #76694b;
    --md-ref-palette-tertiary-46: #796c4d;
    --md-ref-palette-tertiary-47: #7b6e4f;
    --md-ref-palette-tertiary-48: #7e7151;
    --md-ref-palette-tertiary-49: #807354;
    --md-ref-palette-tertiary-50: #837656;
    --md-ref-palette-tertiary-51: #867858;
    --md-ref-palette-tertiary-52: #887b5b;
    --md-ref-palette-tertiary-53: #8b7d5d;
    --md-ref-palette-tertiary-54: #8e8060;
    --md-ref-palette-tertiary-55: #908262;
    --md-ref-palette-tertiary-56: #938564;
    --md-ref-palette-tertiary-57: #968867;
    --md-ref-palette-tertiary-58: #988a69;
    --md-ref-palette-tertiary-59: #9b8d6c;
    --md-ref-palette-tertiary-60: #9e8f6e;
    --md-ref-palette-tertiary-61: #a09270;
    --md-ref-palette-tertiary-62: #a39573;
    --md-ref-palette-tertiary-63: #a69775;
    --md-ref-palette-tertiary-64: #a99a78;
    --md-ref-palette-tertiary-65: #ab9c7a;
    --md-ref-palette-tertiary-66: #ae9f7d;
    --md-ref-palette-tertiary-67: #b1a27f;
    --md-ref-palette-tertiary-68: #b4a482;
    --md-ref-palette-tertiary-69: #b6a784;
    --md-ref-palette-tertiary-70: #b9aa87;
    --md-ref-palette-tertiary-71: #bcac89;
    --md-ref-palette-tertiary-72: #bfaf8c;
    --md-ref-palette-tertiary-73: #c2b28e;
    --md-ref-palette-tertiary-74: #c4b591;
    --md-ref-palette-tertiary-75: #c7b794;
    --md-ref-palette-tertiary-76: #caba96;
    --md-ref-palette-tertiary-77: #cdbd99;
    --md-ref-palette-tertiary-78: #d0bf9b;
    --md-ref-palette-tertiary-79: #d3c29e;
    --md-ref-palette-tertiary-80: #d5c5a0;
    --md-ref-palette-tertiary-81: #d8c8a3;
    --md-ref-palette-tertiary-82: #dbcba6;
    --md-ref-palette-tertiary-83: #decda8;
    --md-ref-palette-tertiary-84: #e1d0ab;
    --md-ref-palette-tertiary-85: #e4d3ae;
    --md-ref-palette-tertiary-86: #e7d6b0;
    --md-ref-palette-tertiary-87: #ead8b3;
    --md-ref-palette-tertiary-88: #ecdbb6;
    --md-ref-palette-tertiary-89: #efdeb8;
    --md-ref-palette-tertiary-90: #f2e1bb;
    --md-ref-palette-tertiary-91: #f5e4be;
    --md-ref-palette-tertiary-92: #f8e7c0;
    --md-ref-palette-tertiary-93: #fbe9c3;
    --md-ref-palette-tertiary-94: #feecc6;
    --md-ref-palette-tertiary-95: #ffefcf;
    --md-ref-palette-tertiary-96: #fff2da;
    --md-ref-palette-tertiary-97: #fff5e6;
    --md-ref-palette-tertiary-98: #fff8f1;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040403;
    --md-ref-palette-neutral-2: #080706;
    --md-ref-palette-neutral-3: #0c0b09;
    --md-ref-palette-neutral-4: #0f0e0c;
    --md-ref-palette-neutral-5: #12110e;
    --md-ref-palette-neutral-6: #151311;
    --md-ref-palette-neutral-7: #171513;
    --md-ref-palette-neutral-8: #191715;
    --md-ref-palette-neutral-9: #1b1917;
    --md-ref-palette-neutral-10: #1d1b19;
    --md-ref-palette-neutral-11: #1f1d1b;
    --md-ref-palette-neutral-12: #211f1d;
    --md-ref-palette-neutral-13: #23211f;
    --md-ref-palette-neutral-14: #252321;
    --md-ref-palette-neutral-15: #272523;
    --md-ref-palette-neutral-16: #292825;
    --md-ref-palette-neutral-17: #2c2a27;
    --md-ref-palette-neutral-18: #2e2c29;
    --md-ref-palette-neutral-19: #302e2b;
    --md-ref-palette-neutral-20: #32302d;
    --md-ref-palette-neutral-21: #34322f;
    --md-ref-palette-neutral-22: #363431;
    --md-ref-palette-neutral-23: #393734;
    --md-ref-palette-neutral-24: #3b3936;
    --md-ref-palette-neutral-25: #3d3b38;
    --md-ref-palette-neutral-26: #403d3a;
    --md-ref-palette-neutral-27: #42403c;
    --md-ref-palette-neutral-28: #44423f;
    --md-ref-palette-neutral-29: #464441;
    --md-ref-palette-neutral-30: #494643;
    --md-ref-palette-neutral-31: #4b4945;
    --md-ref-palette-neutral-32: #4d4b48;
    --md-ref-palette-neutral-33: #504d4a;
    --md-ref-palette-neutral-34: #52504c;
    --md-ref-palette-neutral-35: #55524f;
    --md-ref-palette-neutral-36: #575451;
    --md-ref-palette-neutral-37: #595753;
    --md-ref-palette-neutral-38: #5c5956;
    --md-ref-palette-neutral-39: #5e5b58;
    --md-ref-palette-neutral-40: #615e5a;
    --md-ref-palette-neutral-41: #63605d;
    --md-ref-palette-neutral-42: #66635f;
    --md-ref-palette-neutral-43: #686562;
    --md-ref-palette-neutral-44: #6b6864;
    --md-ref-palette-neutral-45: #6d6a67;
    --md-ref-palette-neutral-46: #706c69;
    --md-ref-palette-neutral-47: #726f6b;
    --md-ref-palette-neutral-48: #75716e;
    --md-ref-palette-neutral-49: #777470;
    --md-ref-palette-neutral-50: #7a7673;
    --md-ref-palette-neutral-51: #7c7975;
    --md-ref-palette-neutral-52: #7f7b78;
    --md-ref-palette-neutral-53: #827e7a;
    --md-ref-palette-neutral-54: #84817d;
    --md-ref-palette-neutral-55: #87837f;
    --md-ref-palette-neutral-56: #898682;
    --md-ref-palette-neutral-57: #8c8884;
    --md-ref-palette-neutral-58: #8f8b87;
    --md-ref-palette-neutral-59: #918d8a;
    --md-ref-palette-neutral-60: #94908c;
    --md-ref-palette-neutral-61: #96938f;
    --md-ref-palette-neutral-62: #999591;
    --md-ref-palette-neutral-63: #9c9894;
    --md-ref-palette-neutral-64: #9e9a97;
    --md-ref-palette-neutral-65: #a19d99;
    --md-ref-palette-neutral-66: #a4a09c;
    --md-ref-palette-neutral-67: #a7a29e;
    --md-ref-palette-neutral-68: #a9a5a1;
    --md-ref-palette-neutral-69: #aca8a4;
    --md-ref-palette-neutral-70: #afaaa6;
    --md-ref-palette-neutral-71: #b1ada9;
    --md-ref-palette-neutral-72: #b4b0ac;
    --md-ref-palette-neutral-73: #b7b2ae;
    --md-ref-palette-neutral-74: #bab5b1;
    --md-ref-palette-neutral-75: #bcb8b4;
    --md-ref-palette-neutral-76: #bfbbb6;
    --md-ref-palette-neutral-77: #c2bdb9;
    --md-ref-palette-neutral-78: #c5c0bc;
    --md-ref-palette-neutral-79: #c8c3bf;
    --md-ref-palette-neutral-80: #cac6c1;
    --md-ref-palette-neutral-81: #cdc8c4;
    --md-ref-palette-neutral-82: #d0cbc7;
    --md-ref-palette-neutral-83: #d3ceca;
    --md-ref-palette-neutral-84: #d6d1cc;
    --md-ref-palette-neutral-85: #d9d3cf;
    --md-ref-palette-neutral-86: #dbd6d2;
    --md-ref-palette-neutral-87: #ded9d5;
    --md-ref-palette-neutral-88: #e1dcd7;
    --md-ref-palette-neutral-89: #e4dfda;
    --md-ref-palette-neutral-90: #e7e2dd;
    --md-ref-palette-neutral-91: #eae4e0;
    --md-ref-palette-neutral-92: #ede7e3;
    --md-ref-palette-neutral-93: #efeae5;
    --md-ref-palette-neutral-94: #f2ede8;
    --md-ref-palette-neutral-95: #f5f0eb;
    --md-ref-palette-neutral-96: #f8f3ee;
    --md-ref-palette-neutral-97: #fbf5f1;
    --md-ref-palette-neutral-98: #fef8f4;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #040403;
    --md-ref-palette-neutral-variant-2: #080706;
    --md-ref-palette-neutral-variant-3: #0c0b09;
    --md-ref-palette-neutral-variant-4: #0f0e0c;
    --md-ref-palette-neutral-variant-5: #12110e;
    --md-ref-palette-neutral-variant-6: #151311;
    --md-ref-palette-neutral-variant-7: #171513;
    --md-ref-palette-neutral-variant-8: #191715;
    --md-ref-palette-neutral-variant-9: #1b1917;
    --md-ref-palette-neutral-variant-10: #1d1b19;
    --md-ref-palette-neutral-variant-11: #1f1d1b;
    --md-ref-palette-neutral-variant-12: #211f1d;
    --md-ref-palette-neutral-variant-13: #23211f;
    --md-ref-palette-neutral-variant-14: #252321;
    --md-ref-palette-neutral-variant-15: #272523;
    --md-ref-palette-neutral-variant-16: #292825;
    --md-ref-palette-neutral-variant-17: #2c2a27;
    --md-ref-palette-neutral-variant-18: #2e2c29;
    --md-ref-palette-neutral-variant-19: #302e2b;
    --md-ref-palette-neutral-variant-20: #32302d;
    --md-ref-palette-neutral-variant-21: #34322f;
    --md-ref-palette-neutral-variant-22: #363431;
    --md-ref-palette-neutral-variant-23: #393734;
    --md-ref-palette-neutral-variant-24: #3b3936;
    --md-ref-palette-neutral-variant-25: #3d3b38;
    --md-ref-palette-neutral-variant-26: #403d3a;
    --md-ref-palette-neutral-variant-27: #42403c;
    --md-ref-palette-neutral-variant-28: #44423f;
    --md-ref-palette-neutral-variant-29: #464441;
    --md-ref-palette-neutral-variant-30: #494643;
    --md-ref-palette-neutral-variant-31: #4b4945;
    --md-ref-palette-neutral-variant-32: #4d4b48;
    --md-ref-palette-neutral-variant-33: #504d4a;
    --md-ref-palette-neutral-variant-34: #52504c;
    --md-ref-palette-neutral-variant-35: #55524f;
    --md-ref-palette-neutral-variant-36: #575451;
    --md-ref-palette-neutral-variant-37: #595753;
    --md-ref-palette-neutral-variant-38: #5c5956;
    --md-ref-palette-neutral-variant-39: #5e5b58;
    --md-ref-palette-neutral-variant-40: #615e5a;
    --md-ref-palette-neutral-variant-41: #63605d;
    --md-ref-palette-neutral-variant-42: #66635f;
    --md-ref-palette-neutral-variant-43: #686562;
    --md-ref-palette-neutral-variant-44: #6b6864;
    --md-ref-palette-neutral-variant-45: #6d6a67;
    --md-ref-palette-neutral-variant-46: #706c69;
    --md-ref-palette-neutral-variant-47: #726f6b;
    --md-ref-palette-neutral-variant-48: #75716e;
    --md-ref-palette-neutral-variant-49: #777470;
    --md-ref-palette-neutral-variant-50: #7a7673;
    --md-ref-palette-neutral-variant-51: #7c7975;
    --md-ref-palette-neutral-variant-52: #7f7b78;
    --md-ref-palette-neutral-variant-53: #827e7a;
    --md-ref-palette-neutral-variant-54: #84817d;
    --md-ref-palette-neutral-variant-55: #87837f;
    --md-ref-palette-neutral-variant-56: #898682;
    --md-ref-palette-neutral-variant-57: #8c8884;
    --md-ref-palette-neutral-variant-58: #8f8b87;
    --md-ref-palette-neutral-variant-59: #918d8a;
    --md-ref-palette-neutral-variant-60: #94908c;
    --md-ref-palette-neutral-variant-61: #96938f;
    --md-ref-palette-neutral-variant-62: #999591;
    --md-ref-palette-neutral-variant-63: #9c9894;
    --md-ref-palette-neutral-variant-64: #9e9a97;
    --md-ref-palette-neutral-variant-65: #a19d99;
    --md-ref-palette-neutral-variant-66: #a4a09c;
    --md-ref-palette-neutral-variant-67: #a7a29e;
    --md-ref-palette-neutral-variant-68: #a9a5a1;
    --md-ref-palette-neutral-variant-69: #aca8a4;
    --md-ref-palette-neutral-variant-70: #afaaa6;
    --md-ref-palette-neutral-variant-71: #b1ada9;
    --md-ref-palette-neutral-variant-72: #b4b0ac;
    --md-ref-palette-neutral-variant-73: #b7b2ae;
    --md-ref-palette-neutral-variant-74: #bab5b1;
    --md-ref-palette-neutral-variant-75: #bcb8b4;
    --md-ref-palette-neutral-variant-76: #bfbbb6;
    --md-ref-palette-neutral-variant-77: #c2bdb9;
    --md-ref-palette-neutral-variant-78: #c5c0bc;
    --md-ref-palette-neutral-variant-79: #c8c3bf;
    --md-ref-palette-neutral-variant-80: #cac6c1;
    --md-ref-palette-neutral-variant-81: #cdc8c4;
    --md-ref-palette-neutral-variant-82: #d0cbc7;
    --md-ref-palette-neutral-variant-83: #d3ceca;
    --md-ref-palette-neutral-variant-84: #d6d1cc;
    --md-ref-palette-neutral-variant-85: #d9d3cf;
    --md-ref-palette-neutral-variant-86: #dbd6d2;
    --md-ref-palette-neutral-variant-87: #ded9d5;
    --md-ref-palette-neutral-variant-88: #e1dcd7;
    --md-ref-palette-neutral-variant-89: #e4dfda;
    --md-ref-palette-neutral-variant-90: #e7e2dd;
    --md-ref-palette-neutral-variant-91: #eae4e0;
    --md-ref-palette-neutral-variant-92: #ede7e3;
    --md-ref-palette-neutral-variant-93: #efeae5;
    --md-ref-palette-neutral-variant-94: #f2ede8;
    --md-ref-palette-neutral-variant-95: #f5f0eb;
    --md-ref-palette-neutral-variant-96: #f8f3ee;
    --md-ref-palette-neutral-variant-97: #fbf5f1;
    --md-ref-palette-neutral-variant-98: #fef8f4;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
