:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #0f0004;
    --md-ref-palette-primary-2: #190008;
    --md-ref-palette-primary-3: #20000c;
    --md-ref-palette-primary-4: #26000f;
    --md-ref-palette-primary-5: #2b0012;
    --md-ref-palette-primary-6: #2f0015;
    --md-ref-palette-primary-7: #330017;
    --md-ref-palette-primary-8: #370019;
    --md-ref-palette-primary-9: #39021b;
    --md-ref-palette-primary-10: #3c031d;
    --md-ref-palette-primary-11: #3f051f;
    --md-ref-palette-primary-12: #420721;
    --md-ref-palette-primary-13: #440923;
    --md-ref-palette-primary-14: #470c25;
    --md-ref-palette-primary-15: #4a0e27;
    --md-ref-palette-primary-16: #4c102a;
    --md-ref-palette-primary-17: #4f132c;
    --md-ref-palette-primary-18: #52152e;
    --md-ref-palette-primary-19: #551730;
    --md-ref-palette-primary-20: #571932;
    --md-ref-palette-primary-21: #5a1c34;
    --md-ref-palette-primary-22: #5d1e37;
    --md-ref-palette-primary-23: #602039;
    --md-ref-palette-primary-24: #62223b;
    --md-ref-palette-primary-25: #65253d;
    --md-ref-palette-primary-26: #682740;
    --md-ref-palette-primary-27: #6b2942;
    --md-ref-palette-primary-28: #6e2b44;
    --md-ref-palette-primary-29: #702e46;
    --md-ref-palette-primary-30: #733049;
    --md-ref-palette-primary-31: #76324b;
    --md-ref-palette-primary-32: #79344d;
    --md-ref-palette-primary-33: #7c3750;
    --md-ref-palette-primary-34: #7f3952;
    --md-ref-palette-primary-35: #813b54;
    --md-ref-palette-primary-36: #843e57;
    --md-ref-palette-primary-37: #874059;
    --md-ref-palette-primary-38: #8a425c;
    --md-ref-palette-primary-39: #8d455e;
    --md-ref-palette-primary-40: #904760;
    --md-ref-palette-primary-41: #934963;
    --md-ref-palette-primary-42: #964c65;
    --md-ref-palette-primary-43: #984e68;
    --md-ref-palette-primary-44: #9b506a;
    --md-ref-palette-primary-45: #9e536d;
    --md-ref-palette-primary-46: #a1556f;
    --md-ref-palette-primary-47: #a45872;
    --md-ref-palette-primary-48: #a75a74;
    --md-ref-palette-primary-49: #aa5c77;
    --md-ref-palette-primary-50: #ad5f79;
    --md-ref-palette-primary-51: #b0617c;
    --md-ref-palette-primary-52: #b3647e;
    --md-ref-palette-primary-53: #b66681;
    --md-ref-palette-primary-54: #b96983;
    --md-ref-palette-primary-55: #bc6b86;
    --md-ref-palette-primary-56: #bf6e88;
    --md-ref-palette-primary-57: #c2708b;
    --md-ref-palette-primary-58: #c5738e;
    --md-ref-palette-primary-59: #c87590;
    --md-ref-palette-primary-60: #cb7893;
    --md-ref-palette-primary-61: #ce7a95;
    --md-ref-palette-primary-62: #d17d98;
    --md-ref-palette-primary-63: #d47f9b;
    --md-ref-palette-primary-64: #d7829d;
    --md-ref-palette-primary-65: #da84a0;
    --md-ref-palette-primary-66: #dd87a3;
    --md-ref-palette-primary-67: #e08aa5;
    --md-ref-palette-primary-68: #e38ca8;
    --md-ref-palette-primary-69: #e68fab;
    --md-ref-palette-primary-70: #e991ad;
    --md-ref-palette-primary-71: #ec94b0;
    --md-ref-palette-primary-72: #ef97b3;
    --md-ref-palette-primary-73: #f299b5;
    --md-ref-palette-primary-74: #f59cb8;
    --md-ref-palette-primary-75: #f89fbb;
    --md-ref-palette-primary-76: #fca1be;
    --md-ref-palette-primary-77: #ffa4c0;
    --md-ref-palette-primary-78: #ffa8c3;
    --md-ref-palette-primary-79: #ffacc5;
    --md-ref-palette-primary-80: #ffb1c8;
    --md-ref-palette-primary-81: #ffb5cb;
    --md-ref-palette-primary-82: #ffb9cd;
    --md-ref-palette-primary-83: #ffbdd0;
    --md-ref-palette-primary-84: #ffc1d2;
    --md-ref-palette-primary-85: #ffc5d5;
    --md-ref-palette-primary-86: #ffc9d8;
    --md-ref-palette-primary-87: #ffcdda;
    --md-ref-palette-primary-88: #ffd1dd;
    --md-ref-palette-primary-89: #ffd5df;
    --md-ref-palette-primary-90: #ffd9e2;
    --md-ref-palette-primary-91: #ffdde5;
    --md-ref-palette-primary-92: #ffe1e7;
    --md-ref-palette-primary-93: #ffe4ea;
    --md-ref-palette-primary-94: #ffe8ed;
    --md-ref-palette-primary-95: #ffecf0;
    --md-ref-palette-primary-96: #fff0f2;
    --md-ref-palette-primary-97: #fff4f5;
    --md-ref-palette-primary-98: #fff8f8;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #0f0004;
    --md-ref-palette-secondary-2: #150208;
    --md-ref-palette-secondary-3: #1a040c;
    --md-ref-palette-secondary-4: #1e060f;
    --md-ref-palette-secondary-5: #210812;
    --md-ref-palette-secondary-6: #240b14;
    --md-ref-palette-secondary-7: #270d16;
    --md-ref-palette-secondary-8: #290f18;
    --md-ref-palette-secondary-9: #2c111a;
    --md-ref-palette-secondary-10: #2e131c;
    --md-ref-palette-secondary-11: #30151e;
    --md-ref-palette-secondary-12: #331720;
    --md-ref-palette-secondary-13: #351922;
    --md-ref-palette-secondary-14: #371b24;
    --md-ref-palette-secondary-15: #3a1d26;
    --md-ref-palette-secondary-16: #3c1f29;
    --md-ref-palette-secondary-17: #3f212b;
    --md-ref-palette-secondary-18: #41232d;
    --md-ref-palette-secondary-19: #43252f;
    --md-ref-palette-secondary-20: #462731;
    --md-ref-palette-secondary-21: #482933;
    --md-ref-palette-secondary-22: #4b2c35;
    --md-ref-palette-secondary-23: #4d2e38;
    --md-ref-palette-secondary-24: #50303a;
    --md-ref-palette-secondary-25: #52323c;
    --md-ref-palette-secondary-26: #55343e;
    --md-ref-palette-secondary-27: #573641;
    --md-ref-palette-secondary-28: #5a3943;
    --md-ref-palette-secondary-29: #5c3b45;
    --md-ref-palette-secondary-30: #5f3d47;
    --md-ref-palette-secondary-31: #613f4a;
    --md-ref-palette-secondary-32: #64424c;
    --md-ref-palette-secondary-33: #67444e;
    --md-ref-palette-secondary-34: #694651;
    --md-ref-palette-secondary-35: #6c4953;
    --md-ref-palette-secondary-36: #6e4b55;
    --md-ref-palette-secondary-37: #714d58;
    --md-ref-palette-secondary-38: #744f5a;
    --md-ref-palette-secondary-39: #76525d;
    --md-ref-palette-secondary-40: #79545f;
    --md-ref-palette-secondary-41: #7c5761;
    --md-ref-palette-secondary-42: #7e5964;
    --md-ref-palette-secondary-43: #815b66;
    --md-ref-palette-secondary-44: #845e69;
    --md-ref-palette-secondary-45: #86606b;
    --md-ref-palette-secondary-46: #89636e;
    --md-ref-palette-secondary-47: #8c6570;
    --md-ref-palette-secondary-48: #8e6773;
    --md-ref-palette-secondary-49: #916a75;
    --md-ref-palette-secondary-50: #946c78;
    --md-ref-palette-secondary-51: #966f7a;
    --md-ref-palette-secondary-52: #99717d;
    --md-ref-palette-secondary-53: #9c747f;
    --md-ref-palette-secondary-54: #9f7682;
    --md-ref-palette-secondary-55: #a17984;
    --md-ref-palette-secondary-56: #a47b87;
    --md-ref-palette-secondary-57: #a77e89;
    --md-ref-palette-secondary-58: #aa808c;
    --md-ref-palette-secondary-59: #ad838f;
    --md-ref-palette-secondary-60: #af8691;
    --md-ref-palette-secondary-61: #b28894;
    --md-ref-palette-secondary-62: #b58b96;
    --md-ref-palette-secondary-63: #b88d99;
    --md-ref-palette-secondary-64: #bb909c;
    --md-ref-palette-secondary-65: #be929e;
    --md-ref-palette-secondary-66: #c095a1;
    --md-ref-palette-secondary-67: #c398a3;
    --md-ref-palette-secondary-68: #c69aa6;
    --md-ref-palette-secondary-69: #c99da9;
    --md-ref-palette-secondary-70: #cca0ac;
    --md-ref-palette-secondary-71: #cfa2ae;
    --md-ref-palette-secondary-72: #d2a5b1;
    --md-ref-palette-secondary-73: #d4a7b4;
    --md-ref-palette-secondary-74: #d7aab6;
    --md-ref-palette-secondary-75: #daadb9;
    --md-ref-palette-secondary-76: #ddb0bc;
    --md-ref-palette-secondary-77: #e0b2be;
    --md-ref-palette-secondary-78: #e3b5c1;
    --md-ref-palette-secondary-79: #e6b8c4;
    --md-ref-palette-secondary-80: #e9bac7;
    --md-ref-palette-secondary-81: #ecbdc9;
    --md-ref-palette-secondary-82: #efc0cc;
    --md-ref-palette-secondary-83: #f2c3cf;
    --md-ref-palette-secondary-84: #f5c5d2;
    --md-ref-palette-secondary-85: #f8c8d5;
    --md-ref-palette-secondary-86: #fbcbd7;
    --md-ref-palette-secondary-87: #feceda;
    --md-ref-palette-secondary-88: #ffd1dd;
    --md-ref-palette-secondary-89: #ffd5df;
    --md-ref-palette-secondary-90: #ffd9e2;
    --md-ref-palette-secondary-91: #ffdde5;
    --md-ref-palette-secondary-92: #ffe1e7;
    --md-ref-palette-secondary-93: #ffe4ea;
    --md-ref-palette-secondary-94: #ffe8ed;
    --md-ref-palette-secondary-95: #ffecf0;
    --md-ref-palette-secondary-96: #fff0f2;
    --md-ref-palette-secondary-97: #fff4f5;
    --md-ref-palette-secondary-98: #fff8f8;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000501;
    --md-ref-palette-tertiary-2: #000a01;
    --md-ref-palette-tertiary-3: #000f02;
    --md-ref-palette-tertiary-4: #001202;
    --md-ref-palette-tertiary-5: #001503;
    --md-ref-palette-tertiary-6: #001804;
    --md-ref-palette-tertiary-7: #001b04;
    --md-ref-palette-tertiary-8: #001d05;
    --md-ref-palette-tertiary-9: #001f05;
    --md-ref-palette-tertiary-10: #002106;
    --md-ref-palette-tertiary-11: #002407;
    --md-ref-palette-tertiary-12: #002607;
    --md-ref-palette-tertiary-13: #002808;
    --md-ref-palette-tertiary-14: #002b09;
    --md-ref-palette-tertiary-15: #002d0a;
    --md-ref-palette-tertiary-16: #00300b;
    --md-ref-palette-tertiary-17: #00320c;
    --md-ref-palette-tertiary-18: #00340d;
    --md-ref-palette-tertiary-19: #00370e;
    --md-ref-palette-tertiary-20: #00390f;
    --md-ref-palette-tertiary-21: #003c10;
    --md-ref-palette-tertiary-22: #013e11;
    --md-ref-palette-tertiary-23: #044114;
    --md-ref-palette-tertiary-24: #074316;
    --md-ref-palette-tertiary-25: #0a4518;
    --md-ref-palette-tertiary-26: #0e481a;
    --md-ref-palette-tertiary-27: #114a1c;
    --md-ref-palette-tertiary-28: #144c1e;
    --md-ref-palette-tertiary-29: #174f20;
    --md-ref-palette-tertiary-30: #195122;
    --md-ref-palette-tertiary-31: #1c5424;
    --md-ref-palette-tertiary-32: #1f5626;
    --md-ref-palette-tertiary-33: #215828;
    --md-ref-palette-tertiary-34: #245b2b;
    --md-ref-palette-tertiary-35: #265d2d;
    --md-ref-palette-tertiary-36: #29602f;
    --md-ref-palette-tertiary-37: #2b6231;
    --md-ref-palette-tertiary-38: #2e6533;
    --md-ref-palette-tertiary-39: #306735;
    --md-ref-palette-tertiary-40: #336a38;
    --md-ref-palette-tertiary-41: #356c3a;
    --md-ref-palette-tertiary-42: #386f3c;
    --md-ref-palette-tertiary-43: #3a713e;
    --md-ref-palette-tertiary-44: #3d7441;
    --md-ref-palette-tertiary-45: #3f7643;
    --md-ref-palette-tertiary-46: #427945;
    --md-ref-palette-tertiary-47: #447c47;
    --md-ref-palette-tertiary-48: #477e4a;
    --md-ref-palette-tertiary-49: #49814c;
    --md-ref-palette-tertiary-50: #4c834e;
    --md-ref-palette-tertiary-51: #4e8651;
    --md-ref-palette-tertiary-52: #518953;
    --md-ref-palette-tertiary-53: #538b55;
    --md-ref-palette-tertiary-54: #568e58;
    --md-ref-palette-tertiary-55: #58915a;
    --md-ref-palette-tertiary-56: #5b935c;
    --md-ref-palette-tertiary-57: #5d965f;
    --md-ref-palette-tertiary-58: #609961;
    --md-ref-palette-tertiary-59: #629b63;
    --md-ref-palette-tertiary-60: #659e66;
    --md-ref-palette-tertiary-61: #67a168;
    --md-ref-palette-tertiary-62: #6aa36b;
    --md-ref-palette-tertiary-63: #6da66d;
    --md-ref-palette-tertiary-64: #6fa970;
    --md-ref-palette-tertiary-65: #72ab72;
    --md-ref-palette-tertiary-66: #74ae75;
    --md-ref-palette-tertiary-67: #77b177;
    --md-ref-palette-tertiary-68: #79b479;
    --md-ref-palette-tertiary-69: #7cb67c;
    --md-ref-palette-tertiary-70: #7fb97e;
    --md-ref-palette-tertiary-71: #81bc81;
    --md-ref-palette-tertiary-72: #84bf83;
    --md-ref-palette-tertiary-73: #87c186;
    --md-ref-palette-tertiary-74: #89c489;
    --md-ref-palette-tertiary-75: #8cc78b;
    --md-ref-palette-tertiary-76: #8fca8e;
    --md-ref-palette-tertiary-77: #91cd90;
    --md-ref-palette-tertiary-78: #94cf93;
    --md-ref-palette-tertiary-79: #97d295;
    --md-ref-palette-tertiary-80: #99d598;
    --md-ref-palette-tertiary-81: #9cd89a;
    --md-ref-palette-tertiary-82: #9fdb9d;
    --md-ref-palette-tertiary-83: #a1dea0;
    --md-ref-palette-tertiary-84: #a4e0a2;
    --md-ref-palette-tertiary-85: #a7e3a5;
    --md-ref-palette-tertiary-86: #a9e6a7;
    --md-ref-palette-tertiary-87: #ace9aa;
    --md-ref-palette-tertiary-88: #afecad;
    --md-ref-palette-tertiary-89: #b2efaf;
    --md-ref-palette-tertiary-90: #b4f2b2;
    --md-ref-palette-tertiary-91: #b7f5b5;
    --md-ref-palette-tertiary-92: #baf8b7;
    --md-ref-palette-tertiary-93: #bdfaba;
    --md-ref-palette-tertiary-94: #bffdbd;
    --md-ref-palette-tertiary-95: #c7ffc3;
    --md-ref-palette-tertiary-96: #d4ffcf;
    --md-ref-palette-tertiary-97: #e0ffdb;
    --md-ref-palette-tertiary-98: #ebffe6;
    --md-ref-palette-tertiary-99: #f6fff0;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #060304;
    --md-ref-palette-neutral-2: #0b0607;
    --md-ref-palette-neutral-3: #0f090b;
    --md-ref-palette-neutral-4: #130d0e;
    --md-ref-palette-neutral-5: #160f11;
    --md-ref-palette-neutral-6: #181213;
    --md-ref-palette-neutral-7: #1a1416;
    --md-ref-palette-neutral-8: #1d1618;
    --md-ref-palette-neutral-9: #1f1819;
    --md-ref-palette-neutral-10: #211a1b;
    --md-ref-palette-neutral-11: #231c1d;
    --md-ref-palette-neutral-12: #251e1f;
    --md-ref-palette-neutral-13: #272022;
    --md-ref-palette-neutral-14: #292224;
    --md-ref-palette-neutral-15: #2b2426;
    --md-ref-palette-neutral-16: #2d2628;
    --md-ref-palette-neutral-17: #30282a;
    --md-ref-palette-neutral-18: #322a2c;
    --md-ref-palette-neutral-19: #342c2e;
    --md-ref-palette-neutral-20: #362e30;
    --md-ref-palette-neutral-21: #393132;
    --md-ref-palette-neutral-22: #3b3335;
    --md-ref-palette-neutral-23: #3d3537;
    --md-ref-palette-neutral-24: #3f3739;
    --md-ref-palette-neutral-25: #42393b;
    --md-ref-palette-neutral-26: #443b3d;
    --md-ref-palette-neutral-27: #463e40;
    --md-ref-palette-neutral-28: #494042;
    --md-ref-palette-neutral-29: #4b4244;
    --md-ref-palette-neutral-30: #4d4546;
    --md-ref-palette-neutral-31: #504749;
    --md-ref-palette-neutral-32: #52494b;
    --md-ref-palette-neutral-33: #554b4d;
    --md-ref-palette-neutral-34: #574e50;
    --md-ref-palette-neutral-35: #595052;
    --md-ref-palette-neutral-36: #5c5254;
    --md-ref-palette-neutral-37: #5e5557;
    --md-ref-palette-neutral-38: #615759;
    --md-ref-palette-neutral-39: #635a5b;
    --md-ref-palette-neutral-40: #665c5e;
    --md-ref-palette-neutral-41: #685e60;
    --md-ref-palette-neutral-42: #6b6163;
    --md-ref-palette-neutral-43: #6d6365;
    --md-ref-palette-neutral-44: #706668;
    --md-ref-palette-neutral-45: #72686a;
    --md-ref-palette-neutral-46: #756a6c;
    --md-ref-palette-neutral-47: #776d6f;
    --md-ref-palette-neutral-48: #7a6f71;
    --md-ref-palette-neutral-49: #7c7274;
    --md-ref-palette-neutral-50: #7f7476;
    --md-ref-palette-neutral-51: #827779;
    --md-ref-palette-neutral-52: #84797b;
    --md-ref-palette-neutral-53: #877c7e;
    --md-ref-palette-neutral-54: #897e80;
    --md-ref-palette-neutral-55: #8c8183;
    --md-ref-palette-neutral-56: #8f8486;
    --md-ref-palette-neutral-57: #918688;
    --md-ref-palette-neutral-58: #94898b;
    --md-ref-palette-neutral-59: #978b8d;
    --md-ref-palette-neutral-60: #998e90;
    --md-ref-palette-neutral-61: #9c9092;
    --md-ref-palette-neutral-62: #9f9395;
    --md-ref-palette-neutral-63: #a19698;
    --md-ref-palette-neutral-64: #a4989a;
    --md-ref-palette-neutral-65: #a79b9d;
    --md-ref-palette-neutral-66: #aa9ea0;
    --md-ref-palette-neutral-67: #aca0a2;
    --md-ref-palette-neutral-68: #afa3a5;
    --md-ref-palette-neutral-69: #b2a6a8;
    --md-ref-palette-neutral-70: #b5a8aa;
    --md-ref-palette-neutral-71: #b7abad;
    --md-ref-palette-neutral-72: #baaeb0;
    --md-ref-palette-neutral-73: #bdb0b2;
    --md-ref-palette-neutral-74: #c0b3b5;
    --md-ref-palette-neutral-75: #c2b6b8;
    --md-ref-palette-neutral-76: #c5b8ba;
    --md-ref-palette-neutral-77: #c8bbbd;
    --md-ref-palette-neutral-78: #cbbec0;
    --md-ref-palette-neutral-79: #cec1c3;
    --md-ref-palette-neutral-80: #d0c3c5;
    --md-ref-palette-neutral-81: #d3c6c8;
    --md-ref-palette-neutral-82: #d6c9cb;
    --md-ref-palette-neutral-83: #d9ccce;
    --md-ref-palette-neutral-84: #dcced0;
    --md-ref-palette-neutral-85: #dfd1d3;
    --md-ref-palette-neutral-86: #e2d4d6;
    --md-ref-palette-neutral-87: #e4d7d9;
    --md-ref-palette-neutral-88: #e7d9dc;
    --md-ref-palette-neutral-89: #eadcde;
    --md-ref-palette-neutral-90: #eddfe1;
    --md-ref-palette-neutral-91: #f0e2e4;
    --md-ref-palette-neutral-92: #f3e5e7;
    --md-ref-palette-neutral-93: #f6e8ea;
    --md-ref-palette-neutral-94: #f9eaed;
    --md-ref-palette-neutral-95: #fcedef;
    --md-ref-palette-neutral-96: #fff0f2;
    --md-ref-palette-neutral-97: #fff4f5;
    --md-ref-palette-neutral-98: #fff8f8;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #080204;
    --md-ref-palette-neutral-variant-2: #0e0508;
    --md-ref-palette-neutral-variant-3: #13080b;
    --md-ref-palette-neutral-variant-4: #160b0e;
    --md-ref-palette-neutral-variant-5: #190e11;
    --md-ref-palette-neutral-variant-6: #1c1014;
    --md-ref-palette-neutral-variant-7: #1e1216;
    --md-ref-palette-neutral-variant-8: #201418;
    --md-ref-palette-neutral-variant-9: #22161a;
    --md-ref-palette-neutral-variant-10: #25181c;
    --md-ref-palette-neutral-variant-11: #271a1e;
    --md-ref-palette-neutral-variant-12: #291c20;
    --md-ref-palette-neutral-variant-13: #2b1e22;
    --md-ref-palette-neutral-variant-14: #2d2024;
    --md-ref-palette-neutral-variant-15: #2f2226;
    --md-ref-palette-neutral-variant-16: #322428;
    --md-ref-palette-neutral-variant-17: #34262a;
    --md-ref-palette-neutral-variant-18: #36282c;
    --md-ref-palette-neutral-variant-19: #382b2e;
    --md-ref-palette-neutral-variant-20: #3b2d30;
    --md-ref-palette-neutral-variant-21: #3d2f33;
    --md-ref-palette-neutral-variant-22: #3f3135;
    --md-ref-palette-neutral-variant-23: #423337;
    --md-ref-palette-neutral-variant-24: #443539;
    --md-ref-palette-neutral-variant-25: #46383b;
    --md-ref-palette-neutral-variant-26: #493a3e;
    --md-ref-palette-neutral-variant-27: #4b3c40;
    --md-ref-palette-neutral-variant-28: #4d3e42;
    --md-ref-palette-neutral-variant-29: #504044;
    --md-ref-palette-neutral-variant-30: #524347;
    --md-ref-palette-neutral-variant-31: #554549;
    --md-ref-palette-neutral-variant-32: #57474b;
    --md-ref-palette-neutral-variant-33: #5a4a4e;
    --md-ref-palette-neutral-variant-34: #5c4c50;
    --md-ref-palette-neutral-variant-35: #5e4e52;
    --md-ref-palette-neutral-variant-36: #615155;
    --md-ref-palette-neutral-variant-37: #635357;
    --md-ref-palette-neutral-variant-38: #665559;
    --md-ref-palette-neutral-variant-39: #68585c;
    --md-ref-palette-neutral-variant-40: #6b5a5e;
    --md-ref-palette-neutral-variant-41: #6d5c61;
    --md-ref-palette-neutral-variant-42: #705f63;
    --md-ref-palette-neutral-variant-43: #736165;
    --md-ref-palette-neutral-variant-44: #756468;
    --md-ref-palette-neutral-variant-45: #78666a;
    --md-ref-palette-neutral-variant-46: #7a696d;
    --md-ref-palette-neutral-variant-47: #7d6b6f;
    --md-ref-palette-neutral-variant-48: #7f6d72;
    --md-ref-palette-neutral-variant-49: #827074;
    --md-ref-palette-neutral-variant-50: #857277;
    --md-ref-palette-neutral-variant-51: #877579;
    --md-ref-palette-neutral-variant-52: #8a777c;
    --md-ref-palette-neutral-variant-53: #8d7a7e;
    --md-ref-palette-neutral-variant-54: #8f7c81;
    --md-ref-palette-neutral-variant-55: #927f83;
    --md-ref-palette-neutral-variant-56: #958286;
    --md-ref-palette-neutral-variant-57: #978488;
    --md-ref-palette-neutral-variant-58: #9a878b;
    --md-ref-palette-neutral-variant-59: #9d898e;
    --md-ref-palette-neutral-variant-60: #9f8c90;
    --md-ref-palette-neutral-variant-61: #a28e93;
    --md-ref-palette-neutral-variant-62: #a59195;
    --md-ref-palette-neutral-variant-63: #a79498;
    --md-ref-palette-neutral-variant-64: #aa969b;
    --md-ref-palette-neutral-variant-65: #ad999d;
    --md-ref-palette-neutral-variant-66: #b09ba0;
    --md-ref-palette-neutral-variant-67: #b29ea3;
    --md-ref-palette-neutral-variant-68: #b5a1a5;
    --md-ref-palette-neutral-variant-69: #b8a3a8;
    --md-ref-palette-neutral-variant-70: #bba6ab;
    --md-ref-palette-neutral-variant-71: #bea9ad;
    --md-ref-palette-neutral-variant-72: #c0abb0;
    --md-ref-palette-neutral-variant-73: #c3aeb3;
    --md-ref-palette-neutral-variant-74: #c6b1b5;
    --md-ref-palette-neutral-variant-75: #c9b3b8;
    --md-ref-palette-neutral-variant-76: #ccb6bb;
    --md-ref-palette-neutral-variant-77: #ceb9bd;
    --md-ref-palette-neutral-variant-78: #d1bcc0;
    --md-ref-palette-neutral-variant-79: #d4bec3;
    --md-ref-palette-neutral-variant-80: #d7c1c6;
    --md-ref-palette-neutral-variant-81: #dac4c8;
    --md-ref-palette-neutral-variant-82: #ddc7cb;
    --md-ref-palette-neutral-variant-83: #e0c9ce;
    --md-ref-palette-neutral-variant-84: #e2ccd1;
    --md-ref-palette-neutral-variant-85: #e5cfd4;
    --md-ref-palette-neutral-variant-86: #e8d2d6;
    --md-ref-palette-neutral-variant-87: #ebd4d9;
    --md-ref-palette-neutral-variant-88: #eed7dc;
    --md-ref-palette-neutral-variant-89: #f1dadf;
    --md-ref-palette-neutral-variant-90: #f4dde2;
    --md-ref-palette-neutral-variant-91: #f7e0e4;
    --md-ref-palette-neutral-variant-92: #fae2e7;
    --md-ref-palette-neutral-variant-93: #fde5ea;
    --md-ref-palette-neutral-variant-94: #ffe8ed;
    --md-ref-palette-neutral-variant-95: #ffecf0;
    --md-ref-palette-neutral-variant-96: #fff0f2;
    --md-ref-palette-neutral-variant-97: #fff4f5;
    --md-ref-palette-neutral-variant-98: #fff8f8;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
