:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #030400;
    --md-ref-palette-primary-2: #060800;
    --md-ref-palette-primary-3: #090c00;
    --md-ref-palette-primary-4: #0c1000;
    --md-ref-palette-primary-5: #0f1300;
    --md-ref-palette-primary-6: #111500;
    --md-ref-palette-primary-7: #131800;
    --md-ref-palette-primary-8: #151a00;
    --md-ref-palette-primary-9: #171c00;
    --md-ref-palette-primary-10: #191e00;
    --md-ref-palette-primary-11: #1b2000;
    --md-ref-palette-primary-12: #1c2200;
    --md-ref-palette-primary-13: #1e2400;
    --md-ref-palette-primary-14: #202700;
    --md-ref-palette-primary-15: #222900;
    --md-ref-palette-primary-16: #242b00;
    --md-ref-palette-primary-17: #262d00;
    --md-ref-palette-primary-18: #282f00;
    --md-ref-palette-primary-19: #2a3200;
    --md-ref-palette-primary-20: #2c3400;
    --md-ref-palette-primary-21: #2e3600;
    --md-ref-palette-primary-22: #303900;
    --md-ref-palette-primary-23: #323b00;
    --md-ref-palette-primary-24: #343d00;
    --md-ref-palette-primary-25: #364000;
    --md-ref-palette-primary-26: #384200;
    --md-ref-palette-primary-27: #3b4400;
    --md-ref-palette-primary-28: #3d4700;
    --md-ref-palette-primary-29: #3f4900;
    --md-ref-palette-primary-30: #414c00;
    --md-ref-palette-primary-31: #434e00;
    --md-ref-palette-primary-32: #455001;
    --md-ref-palette-primary-33: #485303;
    --md-ref-palette-primary-34: #4a5506;
    --md-ref-palette-primary-35: #4c5808;
    --md-ref-palette-primary-36: #4f5a0b;
    --md-ref-palette-primary-37: #515d0e;
    --md-ref-palette-primary-38: #535f11;
    --md-ref-palette-primary-39: #566213;
    --md-ref-palette-primary-40: #586416;
    --md-ref-palette-primary-41: #5a6718;
    --md-ref-palette-primary-42: #5d691b;
    --md-ref-palette-primary-43: #5f6c1d;
    --md-ref-palette-primary-44: #626e20;
    --md-ref-palette-primary-45: #647122;
    --md-ref-palette-primary-46: #677324;
    --md-ref-palette-primary-47: #697627;
    --md-ref-palette-primary-48: #6c7829;
    --md-ref-palette-primary-49: #6e7b2b;
    --md-ref-palette-primary-50: #717d2e;
    --md-ref-palette-primary-51: #738030;
    --md-ref-palette-primary-52: #768232;
    --md-ref-palette-primary-53: #788535;
    --md-ref-palette-primary-54: #7b8837;
    --md-ref-palette-primary-55: #7d8a39;
    --md-ref-palette-primary-56: #808d3b;
    --md-ref-palette-primary-57: #82903e;
    --md-ref-palette-primary-58: #859240;
    --md-ref-palette-primary-59: #879542;
    --md-ref-palette-primary-60: #8a9745;
    --md-ref-palette-primary-61: #8d9a47;
    --md-ref-palette-primary-62: #8f9d49;
    --md-ref-palette-primary-63: #92a04c;
    --md-ref-palette-primary-64: #94a24e;
    --md-ref-palette-primary-65: #97a550;
    --md-ref-palette-primary-66: #9aa853;
    --md-ref-palette-primary-67: #9caa55;
    --md-ref-palette-primary-68: #9fad58;
    --md-ref-palette-primary-69: #a2b05a;
    --md-ref-palette-primary-70: #a4b25c;
    --md-ref-palette-primary-71: #a7b55f;
    --md-ref-palette-primary-72: #aab861;
    --md-ref-palette-primary-73: #adbb64;
    --md-ref-palette-primary-74: #afbd66;
    --md-ref-palette-primary-75: #b2c068;
    --md-ref-palette-primary-76: #b5c36b;
    --md-ref-palette-primary-77: #b7c66d;
    --md-ref-palette-primary-78: #bac970;
    --md-ref-palette-primary-79: #bdcb72;
    --md-ref-palette-primary-80: #c0ce75;
    --md-ref-palette-primary-81: #c2d177;
    --md-ref-palette-primary-82: #c5d47a;
    --md-ref-palette-primary-83: #c8d77c;
    --md-ref-palette-primary-84: #cbd97f;
    --md-ref-palette-primary-85: #cedc81;
    --md-ref-palette-primary-86: #d0df84;
    --md-ref-palette-primary-87: #d3e286;
    --md-ref-palette-primary-88: #d6e589;
    --md-ref-palette-primary-89: #d9e88b;
    --md-ref-palette-primary-90: #dceb8e;
    --md-ref-palette-primary-91: #dfed90;
    --md-ref-palette-primary-92: #e1f093;
    --md-ref-palette-primary-93: #e4f395;
    --md-ref-palette-primary-94: #e7f698;
    --md-ref-palette-primary-95: #eaf99a;
    --md-ref-palette-primary-96: #edfc9d;
    --md-ref-palette-primary-97: #f0ffa0;
    --md-ref-palette-primary-98: #f6ffc0;
    --md-ref-palette-primary-99: #fbffe0;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #030400;
    --md-ref-palette-secondary-2: #060800;
    --md-ref-palette-secondary-3: #090c00;
    --md-ref-palette-secondary-4: #0c1000;
    --md-ref-palette-secondary-5: #0f1300;
    --md-ref-palette-secondary-6: #111500;
    --md-ref-palette-secondary-7: #131801;
    --md-ref-palette-secondary-8: #151a01;
    --md-ref-palette-secondary-9: #171c02;
    --md-ref-palette-secondary-10: #191e03;
    --md-ref-palette-secondary-11: #1b2004;
    --md-ref-palette-secondary-12: #1d2206;
    --md-ref-palette-secondary-13: #1f2407;
    --md-ref-palette-secondary-14: #212609;
    --md-ref-palette-secondary-15: #23280b;
    --md-ref-palette-secondary-16: #252a0d;
    --md-ref-palette-secondary-17: #282c0f;
    --md-ref-palette-secondary-18: #2a2f11;
    --md-ref-palette-secondary-19: #2c3112;
    --md-ref-palette-secondary-20: #2e3314;
    --md-ref-palette-secondary-21: #303516;
    --md-ref-palette-secondary-22: #323718;
    --md-ref-palette-secondary-23: #343a1a;
    --md-ref-palette-secondary-24: #373c1c;
    --md-ref-palette-secondary-25: #393e1e;
    --md-ref-palette-secondary-26: #3b4021;
    --md-ref-palette-secondary-27: #3d4323;
    --md-ref-palette-secondary-28: #404525;
    --md-ref-palette-secondary-29: #424727;
    --md-ref-palette-secondary-30: #444a29;
    --md-ref-palette-secondary-31: #474c2b;
    --md-ref-palette-secondary-32: #494e2d;
    --md-ref-palette-secondary-33: #4b512f;
    --md-ref-palette-secondary-34: #4e5331;
    --md-ref-palette-secondary-35: #505533;
    --md-ref-palette-secondary-36: #525836;
    --md-ref-palette-secondary-37: #555a38;
    --md-ref-palette-secondary-38: #575d3a;
    --md-ref-palette-secondary-39: #5a5f3c;
    --md-ref-palette-secondary-40: #5c613e;
    --md-ref-palette-secondary-41: #5e6441;
    --md-ref-palette-secondary-42: #616643;
    --md-ref-palette-secondary-43: #636945;
    --md-ref-palette-secondary-44: #666b47;
    --md-ref-palette-secondary-45: #686e4a;
    --md-ref-palette-secondary-46: #6b704c;
    --md-ref-palette-secondary-47: #6d734e;
    --md-ref-palette-secondary-48: #707551;
    --md-ref-palette-secondary-49: #727853;
    --md-ref-palette-secondary-50: #757a55;
    --md-ref-palette-secondary-51: #777d58;
    --md-ref-palette-secondary-52: #7a7f5a;
    --md-ref-palette-secondary-53: #7c825c;
    --md-ref-palette-secondary-54: #7f855f;
    --md-ref-palette-secondary-55: #828761;
    --md-ref-palette-secondary-56: #848a63;
    --md-ref-palette-secondary-57: #878c66;
    --md-ref-palette-secondary-58: #898f68;
    --md-ref-palette-secondary-59: #8c926b;
    --md-ref-palette-secondary-60: #8f946d;
    --md-ref-palette-secondary-61: #919770;
    --md-ref-palette-secondary-62: #949972;
    --md-ref-palette-secondary-63: #969c74;
    --md-ref-palette-secondary-64: #999f77;
    --md-ref-palette-secondary-65: #9ca179;
    --md-ref-palette-secondary-66: #9ea47c;
    --md-ref-palette-secondary-67: #a1a77e;
    --md-ref-palette-secondary-68: #a4a981;
    --md-ref-palette-secondary-69: #a6ac83;
    --md-ref-palette-secondary-70: #a9af86;
    --md-ref-palette-secondary-71: #acb288;
    --md-ref-palette-secondary-72: #afb48b;
    --md-ref-palette-secondary-73: #b1b78d;
    --md-ref-palette-secondary-74: #b4ba90;
    --md-ref-palette-secondary-75: #b7bc93;
    --md-ref-palette-secondary-76: #babf95;
    --md-ref-palette-secondary-77: #bcc298;
    --md-ref-palette-secondary-78: #bfc59a;
    --md-ref-palette-secondary-79: #c2c79d;
    --md-ref-palette-secondary-80: #c5caa0;
    --md-ref-palette-secondary-81: #c7cda2;
    --md-ref-palette-secondary-82: #cad0a5;
    --md-ref-palette-secondary-83: #cdd3a7;
    --md-ref-palette-secondary-84: #d0d5aa;
    --md-ref-palette-secondary-85: #d3d8ad;
    --md-ref-palette-secondary-86: #d5dbaf;
    --md-ref-palette-secondary-87: #d8deb2;
    --md-ref-palette-secondary-88: #dbe1b5;
    --md-ref-palette-secondary-89: #dee3b7;
    --md-ref-palette-secondary-90: #e1e6ba;
    --md-ref-palette-secondary-91: #e4e9bd;
    --md-ref-palette-secondary-92: #e7ecbf;
    --md-ref-palette-secondary-93: #e9efc2;
    --md-ref-palette-secondary-94: #ecf2c5;
    --md-ref-palette-secondary-95: #eff5c7;
    --md-ref-palette-secondary-96: #f2f8ca;
    --md-ref-palette-secondary-97: #f5facd;
    --md-ref-palette-secondary-98: #f8fdd0;
    --md-ref-palette-secondary-99: #fcfee8;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0a0012;
    --md-ref-palette-tertiary-2: #13001d;
    --md-ref-palette-tertiary-3: #190025;
    --md-ref-palette-tertiary-4: #1d002b;
    --md-ref-palette-tertiary-5: #220031;
    --md-ref-palette-tertiary-6: #250036;
    --md-ref-palette-tertiary-7: #29003a;
    --md-ref-palette-tertiary-8: #2b013d;
    --md-ref-palette-tertiary-9: #2e033f;
    --md-ref-palette-tertiary-10: #300541;
    --md-ref-palette-tertiary-11: #320843;
    --md-ref-palette-tertiary-12: #340b45;
    --md-ref-palette-tertiary-13: #370d48;
    --md-ref-palette-tertiary-14: #39104a;
    --md-ref-palette-tertiary-15: #3b124c;
    --md-ref-palette-tertiary-16: #3e154e;
    --md-ref-palette-tertiary-17: #401751;
    --md-ref-palette-tertiary-18: #421a53;
    --md-ref-palette-tertiary-19: #451c55;
    --md-ref-palette-tertiary-20: #471e58;
    --md-ref-palette-tertiary-21: #4a215a;
    --md-ref-palette-tertiary-22: #4c235c;
    --md-ref-palette-tertiary-23: #4e255f;
    --md-ref-palette-tertiary-24: #512861;
    --md-ref-palette-tertiary-25: #532a64;
    --md-ref-palette-tertiary-26: #562c66;
    --md-ref-palette-tertiary-27: #582f68;
    --md-ref-palette-tertiary-28: #5b316b;
    --md-ref-palette-tertiary-29: #5d336d;
    --md-ref-palette-tertiary-30: #603670;
    --md-ref-palette-tertiary-31: #623872;
    --md-ref-palette-tertiary-32: #653a75;
    --md-ref-palette-tertiary-33: #673d77;
    --md-ref-palette-tertiary-34: #6a3f7a;
    --md-ref-palette-tertiary-35: #6c417c;
    --md-ref-palette-tertiary-36: #6f447f;
    --md-ref-palette-tertiary-37: #724682;
    --md-ref-palette-tertiary-38: #744884;
    --md-ref-palette-tertiary-39: #774b87;
    --md-ref-palette-tertiary-40: #794d89;
    --md-ref-palette-tertiary-41: #7c508c;
    --md-ref-palette-tertiary-42: #7f528f;
    --md-ref-palette-tertiary-43: #815591;
    --md-ref-palette-tertiary-44: #845794;
    --md-ref-palette-tertiary-45: #865996;
    --md-ref-palette-tertiary-46: #895c99;
    --md-ref-palette-tertiary-47: #8c5e9c;
    --md-ref-palette-tertiary-48: #8e619e;
    --md-ref-palette-tertiary-49: #9163a1;
    --md-ref-palette-tertiary-50: #9466a4;
    --md-ref-palette-tertiary-51: #9768a7;
    --md-ref-palette-tertiary-52: #996ba9;
    --md-ref-palette-tertiary-53: #9c6dac;
    --md-ref-palette-tertiary-54: #9f70af;
    --md-ref-palette-tertiary-55: #a172b1;
    --md-ref-palette-tertiary-56: #a475b4;
    --md-ref-palette-tertiary-57: #a777b7;
    --md-ref-palette-tertiary-58: #aa7aba;
    --md-ref-palette-tertiary-59: #ac7dbc;
    --md-ref-palette-tertiary-60: #af7fbf;
    --md-ref-palette-tertiary-61: #b282c2;
    --md-ref-palette-tertiary-62: #b584c5;
    --md-ref-palette-tertiary-63: #b887c8;
    --md-ref-palette-tertiary-64: #ba89ca;
    --md-ref-palette-tertiary-65: #bd8ccd;
    --md-ref-palette-tertiary-66: #c08fd0;
    --md-ref-palette-tertiary-67: #c391d3;
    --md-ref-palette-tertiary-68: #c694d6;
    --md-ref-palette-tertiary-69: #c997d8;
    --md-ref-palette-tertiary-70: #cb99db;
    --md-ref-palette-tertiary-71: #ce9cde;
    --md-ref-palette-tertiary-72: #d19fe1;
    --md-ref-palette-tertiary-73: #d4a1e4;
    --md-ref-palette-tertiary-74: #d7a4e7;
    --md-ref-palette-tertiary-75: #daa7ea;
    --md-ref-palette-tertiary-76: #dda9ed;
    --md-ref-palette-tertiary-77: #e0acef;
    --md-ref-palette-tertiary-78: #e3aff2;
    --md-ref-palette-tertiary-79: #e5b1f5;
    --md-ref-palette-tertiary-80: #e8b4f8;
    --md-ref-palette-tertiary-81: #ebb7fb;
    --md-ref-palette-tertiary-82: #eebafe;
    --md-ref-palette-tertiary-83: #f0bdff;
    --md-ref-palette-tertiary-84: #f1c1ff;
    --md-ref-palette-tertiary-85: #f2c5ff;
    --md-ref-palette-tertiary-86: #f4c9ff;
    --md-ref-palette-tertiary-87: #f5ccff;
    --md-ref-palette-tertiary-88: #f6d0ff;
    --md-ref-palette-tertiary-89: #f7d4ff;
    --md-ref-palette-tertiary-90: #f8d8ff;
    --md-ref-palette-tertiary-91: #fadcff;
    --md-ref-palette-tertiary-92: #fbdfff;
    --md-ref-palette-tertiary-93: #fce3ff;
    --md-ref-palette-tertiary-94: #fde7ff;
    --md-ref-palette-tertiary-95: #feebff;
    --md-ref-palette-tertiary-96: #ffefff;
    --md-ref-palette-tertiary-97: #fff3fd;
    --md-ref-palette-tertiary-98: #fff7fb;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030402;
    --md-ref-palette-neutral-2: #070804;
    --md-ref-palette-neutral-3: #0b0b06;
    --md-ref-palette-neutral-4: #0e0f09;
    --md-ref-palette-neutral-5: #11110c;
    --md-ref-palette-neutral-6: #13140e;
    --md-ref-palette-neutral-7: #151610;
    --md-ref-palette-neutral-8: #171812;
    --md-ref-palette-neutral-9: #191a14;
    --md-ref-palette-neutral-10: #1b1c16;
    --md-ref-palette-neutral-11: #1d1e18;
    --md-ref-palette-neutral-12: #1f201a;
    --md-ref-palette-neutral-13: #21221c;
    --md-ref-palette-neutral-14: #24241e;
    --md-ref-palette-neutral-15: #262620;
    --md-ref-palette-neutral-16: #282822;
    --md-ref-palette-neutral-17: #2a2a24;
    --md-ref-palette-neutral-18: #2c2d26;
    --md-ref-palette-neutral-19: #2e2f28;
    --md-ref-palette-neutral-20: #30312a;
    --md-ref-palette-neutral-21: #33332c;
    --md-ref-palette-neutral-22: #35352e;
    --md-ref-palette-neutral-23: #373730;
    --md-ref-palette-neutral-24: #393a33;
    --md-ref-palette-neutral-25: #3c3c35;
    --md-ref-palette-neutral-26: #3e3e37;
    --md-ref-palette-neutral-27: #404039;
    --md-ref-palette-neutral-28: #42433b;
    --md-ref-palette-neutral-29: #45453d;
    --md-ref-palette-neutral-30: #474740;
    --md-ref-palette-neutral-31: #494942;
    --md-ref-palette-neutral-32: #4c4c44;
    --md-ref-palette-neutral-33: #4e4e47;
    --md-ref-palette-neutral-34: #505049;
    --md-ref-palette-neutral-35: #53534b;
    --md-ref-palette-neutral-36: #55554d;
    --md-ref-palette-neutral-37: #585850;
    --md-ref-palette-neutral-38: #5a5a52;
    --md-ref-palette-neutral-39: #5c5c54;
    --md-ref-palette-neutral-40: #5f5f57;
    --md-ref-palette-neutral-41: #616159;
    --md-ref-palette-neutral-42: #64645b;
    --md-ref-palette-neutral-43: #66665e;
    --md-ref-palette-neutral-44: #696960;
    --md-ref-palette-neutral-45: #6b6b63;
    --md-ref-palette-neutral-46: #6e6d65;
    --md-ref-palette-neutral-47: #707068;
    --md-ref-palette-neutral-48: #73726a;
    --md-ref-palette-neutral-49: #75756c;
    --md-ref-palette-neutral-50: #78776f;
    --md-ref-palette-neutral-51: #7a7a71;
    --md-ref-palette-neutral-52: #7d7c74;
    --md-ref-palette-neutral-53: #7f7f76;
    --md-ref-palette-neutral-54: #828279;
    --md-ref-palette-neutral-55: #85847b;
    --md-ref-palette-neutral-56: #87877e;
    --md-ref-palette-neutral-57: #8a8980;
    --md-ref-palette-neutral-58: #8c8c83;
    --md-ref-palette-neutral-59: #8f8e85;
    --md-ref-palette-neutral-60: #929188;
    --md-ref-palette-neutral-61: #94948b;
    --md-ref-palette-neutral-62: #97968d;
    --md-ref-palette-neutral-63: #9a9990;
    --md-ref-palette-neutral-64: #9c9c92;
    --md-ref-palette-neutral-65: #9f9e95;
    --md-ref-palette-neutral-66: #a2a198;
    --md-ref-palette-neutral-67: #a4a39a;
    --md-ref-palette-neutral-68: #a7a69d;
    --md-ref-palette-neutral-69: #aaa99f;
    --md-ref-palette-neutral-70: #adaba2;
    --md-ref-palette-neutral-71: #afaea5;
    --md-ref-palette-neutral-72: #b2b1a7;
    --md-ref-palette-neutral-73: #b5b4aa;
    --md-ref-palette-neutral-74: #b7b6ad;
    --md-ref-palette-neutral-75: #bab9af;
    --md-ref-palette-neutral-76: #bdbcb2;
    --md-ref-palette-neutral-77: #c0beb5;
    --md-ref-palette-neutral-78: #c3c1b7;
    --md-ref-palette-neutral-79: #c5c4ba;
    --md-ref-palette-neutral-80: #c8c7bd;
    --md-ref-palette-neutral-81: #cbc9c0;
    --md-ref-palette-neutral-82: #ceccc2;
    --md-ref-palette-neutral-83: #d1cfc5;
    --md-ref-palette-neutral-84: #d3d2c8;
    --md-ref-palette-neutral-85: #d6d5ca;
    --md-ref-palette-neutral-86: #d9d7cd;
    --md-ref-palette-neutral-87: #dcdad0;
    --md-ref-palette-neutral-88: #dfddd3;
    --md-ref-palette-neutral-89: #e2e0d6;
    --md-ref-palette-neutral-90: #e4e3d8;
    --md-ref-palette-neutral-91: #e7e6db;
    --md-ref-palette-neutral-92: #eae8de;
    --md-ref-palette-neutral-93: #edebe1;
    --md-ref-palette-neutral-94: #f0eee4;
    --md-ref-palette-neutral-95: #f3f1e6;
    --md-ref-palette-neutral-96: #f6f4e9;
    --md-ref-palette-neutral-97: #f9f7ec;
    --md-ref-palette-neutral-98: #fcfaef;
    --md-ref-palette-neutral-99: #fefdf7;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030400;
    --md-ref-palette-neutral-variant-2: #070802;
    --md-ref-palette-neutral-variant-3: #0a0c03;
    --md-ref-palette-neutral-variant-4: #0d0f05;
    --md-ref-palette-neutral-variant-5: #101207;
    --md-ref-palette-neutral-variant-6: #131409;
    --md-ref-palette-neutral-variant-7: #15170b;
    --md-ref-palette-neutral-variant-8: #17190d;
    --md-ref-palette-neutral-variant-9: #191b0f;
    --md-ref-palette-neutral-variant-10: #1b1d11;
    --md-ref-palette-neutral-variant-11: #1d1f13;
    --md-ref-palette-neutral-variant-12: #1f2115;
    --md-ref-palette-neutral-variant-13: #212317;
    --md-ref-palette-neutral-variant-14: #232519;
    --md-ref-palette-neutral-variant-15: #25271b;
    --md-ref-palette-neutral-variant-16: #27291c;
    --md-ref-palette-neutral-variant-17: #292b1e;
    --md-ref-palette-neutral-variant-18: #2b2d21;
    --md-ref-palette-neutral-variant-19: #2e2f23;
    --md-ref-palette-neutral-variant-20: #303125;
    --md-ref-palette-neutral-variant-21: #323427;
    --md-ref-palette-neutral-variant-22: #343629;
    --md-ref-palette-neutral-variant-23: #36382b;
    --md-ref-palette-neutral-variant-24: #393a2d;
    --md-ref-palette-neutral-variant-25: #3b3d2f;
    --md-ref-palette-neutral-variant-26: #3d3f31;
    --md-ref-palette-neutral-variant-27: #3f4133;
    --md-ref-palette-neutral-variant-28: #424336;
    --md-ref-palette-neutral-variant-29: #444638;
    --md-ref-palette-neutral-variant-30: #46483a;
    --md-ref-palette-neutral-variant-31: #494a3c;
    --md-ref-palette-neutral-variant-32: #4b4d3e;
    --md-ref-palette-neutral-variant-33: #4d4f41;
    --md-ref-palette-neutral-variant-34: #505143;
    --md-ref-palette-neutral-variant-35: #525445;
    --md-ref-palette-neutral-variant-36: #545647;
    --md-ref-palette-neutral-variant-37: #57584a;
    --md-ref-palette-neutral-variant-38: #595b4c;
    --md-ref-palette-neutral-variant-39: #5c5d4e;
    --md-ref-palette-neutral-variant-40: #5e6051;
    --md-ref-palette-neutral-variant-41: #616253;
    --md-ref-palette-neutral-variant-42: #636455;
    --md-ref-palette-neutral-variant-43: #656758;
    --md-ref-palette-neutral-variant-44: #68695a;
    --md-ref-palette-neutral-variant-45: #6a6c5c;
    --md-ref-palette-neutral-variant-46: #6d6e5f;
    --md-ref-palette-neutral-variant-47: #6f7161;
    --md-ref-palette-neutral-variant-48: #727364;
    --md-ref-palette-neutral-variant-49: #747666;
    --md-ref-palette-neutral-variant-50: #777868;
    --md-ref-palette-neutral-variant-51: #7a7b6b;
    --md-ref-palette-neutral-variant-52: #7c7d6d;
    --md-ref-palette-neutral-variant-53: #7f8070;
    --md-ref-palette-neutral-variant-54: #818272;
    --md-ref-palette-neutral-variant-55: #848575;
    --md-ref-palette-neutral-variant-56: #868877;
    --md-ref-palette-neutral-variant-57: #898a7a;
    --md-ref-palette-neutral-variant-58: #8c8d7c;
    --md-ref-palette-neutral-variant-59: #8e8f7f;
    --md-ref-palette-neutral-variant-60: #919281;
    --md-ref-palette-neutral-variant-61: #949584;
    --md-ref-palette-neutral-variant-62: #969786;
    --md-ref-palette-neutral-variant-63: #999a89;
    --md-ref-palette-neutral-variant-64: #9c9c8b;
    --md-ref-palette-neutral-variant-65: #9e9f8e;
    --md-ref-palette-neutral-variant-66: #a1a290;
    --md-ref-palette-neutral-variant-67: #a4a493;
    --md-ref-palette-neutral-variant-68: #a6a796;
    --md-ref-palette-neutral-variant-69: #a9aa98;
    --md-ref-palette-neutral-variant-70: #acac9b;
    --md-ref-palette-neutral-variant-71: #aeaf9d;
    --md-ref-palette-neutral-variant-72: #b1b2a0;
    --md-ref-palette-neutral-variant-73: #b4b5a3;
    --md-ref-palette-neutral-variant-74: #b7b7a5;
    --md-ref-palette-neutral-variant-75: #b9baa8;
    --md-ref-palette-neutral-variant-76: #bcbdab;
    --md-ref-palette-neutral-variant-77: #bfbfad;
    --md-ref-palette-neutral-variant-78: #c2c2b0;
    --md-ref-palette-neutral-variant-79: #c4c5b3;
    --md-ref-palette-neutral-variant-80: #c7c8b5;
    --md-ref-palette-neutral-variant-81: #cacab8;
    --md-ref-palette-neutral-variant-82: #cdcdbb;
    --md-ref-palette-neutral-variant-83: #d0d0bd;
    --md-ref-palette-neutral-variant-84: #d2d3c0;
    --md-ref-palette-neutral-variant-85: #d5d6c3;
    --md-ref-palette-neutral-variant-86: #d8d8c6;
    --md-ref-palette-neutral-variant-87: #dbdbc8;
    --md-ref-palette-neutral-variant-88: #dedecb;
    --md-ref-palette-neutral-variant-89: #e1e1ce;
    --md-ref-palette-neutral-variant-90: #e4e4d1;
    --md-ref-palette-neutral-variant-91: #e6e7d3;
    --md-ref-palette-neutral-variant-92: #e9e9d6;
    --md-ref-palette-neutral-variant-93: #ececd9;
    --md-ref-palette-neutral-variant-94: #efefdc;
    --md-ref-palette-neutral-variant-95: #f2f2de;
    --md-ref-palette-neutral-variant-96: #f5f5e1;
    --md-ref-palette-neutral-variant-97: #f8f8e4;
    --md-ref-palette-neutral-variant-98: #fbfbe7;
    --md-ref-palette-neutral-variant-99: #fdfdf3;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
