:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #030400;
    --md-ref-palette-primary-2: #060800;
    --md-ref-palette-primary-3: #090c00;
    --md-ref-palette-primary-4: #0c1000;
    --md-ref-palette-primary-5: #0f1300;
    --md-ref-palette-primary-6: #111500;
    --md-ref-palette-primary-7: #131800;
    --md-ref-palette-primary-8: #151a00;
    --md-ref-palette-primary-9: #171c00;
    --md-ref-palette-primary-10: #181e00;
    --md-ref-palette-primary-11: #1a2000;
    --md-ref-palette-primary-12: #1c2200;
    --md-ref-palette-primary-13: #1e2400;
    --md-ref-palette-primary-14: #202700;
    --md-ref-palette-primary-15: #222900;
    --md-ref-palette-primary-16: #242b00;
    --md-ref-palette-primary-17: #262d00;
    --md-ref-palette-primary-18: #282f00;
    --md-ref-palette-primary-19: #2a3200;
    --md-ref-palette-primary-20: #2c3400;
    --md-ref-palette-primary-21: #2e3600;
    --md-ref-palette-primary-22: #303900;
    --md-ref-palette-primary-23: #323b00;
    --md-ref-palette-primary-24: #343d00;
    --md-ref-palette-primary-25: #364000;
    --md-ref-palette-primary-26: #384200;
    --md-ref-palette-primary-27: #3a4400;
    --md-ref-palette-primary-28: #3c4700;
    --md-ref-palette-primary-29: #3e4900;
    --md-ref-palette-primary-30: #414c00;
    --md-ref-palette-primary-31: #434e00;
    --md-ref-palette-primary-32: #455100;
    --md-ref-palette-primary-33: #475300;
    --md-ref-palette-primary-34: #495600;
    --md-ref-palette-primary-35: #4b5800;
    --md-ref-palette-primary-36: #4e5b00;
    --md-ref-palette-primary-37: #505d00;
    --md-ref-palette-primary-38: #526000;
    --md-ref-palette-primary-39: #546200;
    --md-ref-palette-primary-40: #566500;
    --md-ref-palette-primary-41: #596700;
    --md-ref-palette-primary-42: #5b6a00;
    --md-ref-palette-primary-43: #5d6c00;
    --md-ref-palette-primary-44: #5f6f00;
    --md-ref-palette-primary-45: #627200;
    --md-ref-palette-primary-46: #647400;
    --md-ref-palette-primary-47: #667700;
    --md-ref-palette-primary-48: #697a00;
    --md-ref-palette-primary-49: #6b7c00;
    --md-ref-palette-primary-50: #6d7f00;
    --md-ref-palette-primary-51: #708200;
    --md-ref-palette-primary-52: #728400;
    --md-ref-palette-primary-53: #748700;
    --md-ref-palette-primary-54: #778a00;
    --md-ref-palette-primary-55: #798c00;
    --md-ref-palette-primary-56: #7b8f00;
    --md-ref-palette-primary-57: #7e9200;
    --md-ref-palette-primary-58: #809500;
    --md-ref-palette-primary-59: #839700;
    --md-ref-palette-primary-60: #859a00;
    --md-ref-palette-primary-61: #889d05;
    --md-ref-palette-primary-62: #8a9f0b;
    --md-ref-palette-primary-63: #8da210;
    --md-ref-palette-primary-64: #8fa514;
    --md-ref-palette-primary-65: #92a818;
    --md-ref-palette-primary-66: #95aa1c;
    --md-ref-palette-primary-67: #97ad1f;
    --md-ref-palette-primary-68: #9ab022;
    --md-ref-palette-primary-69: #9db325;
    --md-ref-palette-primary-70: #9fb528;
    --md-ref-palette-primary-71: #a2b82b;
    --md-ref-palette-primary-72: #a5bb2e;
    --md-ref-palette-primary-73: #a7be31;
    --md-ref-palette-primary-74: #aac134;
    --md-ref-palette-primary-75: #adc336;
    --md-ref-palette-primary-76: #afc639;
    --md-ref-palette-primary-77: #b2c93c;
    --md-ref-palette-primary-78: #b5cc3e;
    --md-ref-palette-primary-79: #b7cf41;
    --md-ref-palette-primary-80: #bad144;
    --md-ref-palette-primary-81: #bdd446;
    --md-ref-palette-primary-82: #c0d749;
    --md-ref-palette-primary-83: #c2da4b;
    --md-ref-palette-primary-84: #c5dd4e;
    --md-ref-palette-primary-85: #c8e050;
    --md-ref-palette-primary-86: #cbe353;
    --md-ref-palette-primary-87: #cde556;
    --md-ref-palette-primary-88: #d0e858;
    --md-ref-palette-primary-89: #d3eb5b;
    --md-ref-palette-primary-90: #d6ee5d;
    --md-ref-palette-primary-91: #d9f160;
    --md-ref-palette-primary-92: #dcf462;
    --md-ref-palette-primary-93: #def765;
    --md-ref-palette-primary-94: #e1fa67;
    --md-ref-palette-primary-95: #e4fd6a;
    --md-ref-palette-primary-96: #e8ff77;
    --md-ref-palette-primary-97: #efffa0;
    --md-ref-palette-primary-98: #f6ffc1;
    --md-ref-palette-primary-99: #fbffe0;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #030400;
    --md-ref-palette-secondary-2: #060800;
    --md-ref-palette-secondary-3: #090c00;
    --md-ref-palette-secondary-4: #0c1000;
    --md-ref-palette-secondary-5: #0f1300;
    --md-ref-palette-secondary-6: #111500;
    --md-ref-palette-secondary-7: #131800;
    --md-ref-palette-secondary-8: #151a00;
    --md-ref-palette-secondary-9: #171c00;
    --md-ref-palette-secondary-10: #181e00;
    --md-ref-palette-secondary-11: #1a2000;
    --md-ref-palette-secondary-12: #1c2200;
    --md-ref-palette-secondary-13: #1e2400;
    --md-ref-palette-secondary-14: #202700;
    --md-ref-palette-secondary-15: #222900;
    --md-ref-palette-secondary-16: #242b00;
    --md-ref-palette-secondary-17: #262d00;
    --md-ref-palette-secondary-18: #282f00;
    --md-ref-palette-secondary-19: #2a3201;
    --md-ref-palette-secondary-20: #2c3403;
    --md-ref-palette-secondary-21: #2e3604;
    --md-ref-palette-secondary-22: #303806;
    --md-ref-palette-secondary-23: #333b08;
    --md-ref-palette-secondary-24: #353d0a;
    --md-ref-palette-secondary-25: #373f0d;
    --md-ref-palette-secondary-26: #39410f;
    --md-ref-palette-secondary-27: #3b4411;
    --md-ref-palette-secondary-28: #3e4613;
    --md-ref-palette-secondary-29: #404815;
    --md-ref-palette-secondary-30: #424b18;
    --md-ref-palette-secondary-31: #454d1a;
    --md-ref-palette-secondary-32: #47501c;
    --md-ref-palette-secondary-33: #49521e;
    --md-ref-palette-secondary-34: #4c5420;
    --md-ref-palette-secondary-35: #4e5722;
    --md-ref-palette-secondary-36: #505924;
    --md-ref-palette-secondary-37: #535c27;
    --md-ref-palette-secondary-38: #555e29;
    --md-ref-palette-secondary-39: #57602b;
    --md-ref-palette-secondary-40: #5a632d;
    --md-ref-palette-secondary-41: #5c652f;
    --md-ref-palette-secondary-42: #5f6831;
    --md-ref-palette-secondary-43: #616a34;
    --md-ref-palette-secondary-44: #636d36;
    --md-ref-palette-secondary-45: #666f38;
    --md-ref-palette-secondary-46: #68723a;
    --md-ref-palette-secondary-47: #6b743c;
    --md-ref-palette-secondary-48: #6d773f;
    --md-ref-palette-secondary-49: #707941;
    --md-ref-palette-secondary-50: #727c43;
    --md-ref-palette-secondary-51: #757f46;
    --md-ref-palette-secondary-52: #778148;
    --md-ref-palette-secondary-53: #7a844a;
    --md-ref-palette-secondary-54: #7d864c;
    --md-ref-palette-secondary-55: #7f894f;
    --md-ref-palette-secondary-56: #828b51;
    --md-ref-palette-secondary-57: #848e53;
    --md-ref-palette-secondary-58: #879156;
    --md-ref-palette-secondary-59: #899358;
    --md-ref-palette-secondary-60: #8c965a;
    --md-ref-palette-secondary-61: #8f995d;
    --md-ref-palette-secondary-62: #919b5f;
    --md-ref-palette-secondary-63: #949e62;
    --md-ref-palette-secondary-64: #97a164;
    --md-ref-palette-secondary-65: #99a366;
    --md-ref-palette-secondary-66: #9ca669;
    --md-ref-palette-secondary-67: #9fa96b;
    --md-ref-palette-secondary-68: #a1ab6e;
    --md-ref-palette-secondary-69: #a4ae70;
    --md-ref-palette-secondary-70: #a7b172;
    --md-ref-palette-secondary-71: #a9b475;
    --md-ref-palette-secondary-72: #acb677;
    --md-ref-palette-secondary-73: #afb97a;
    --md-ref-palette-secondary-74: #b1bc7c;
    --md-ref-palette-secondary-75: #b4be7f;
    --md-ref-palette-secondary-76: #b7c181;
    --md-ref-palette-secondary-77: #bac484;
    --md-ref-palette-secondary-78: #bcc786;
    --md-ref-palette-secondary-79: #bfca89;
    --md-ref-palette-secondary-80: #c2cc8b;
    --md-ref-palette-secondary-81: #c5cf8e;
    --md-ref-palette-secondary-82: #c7d290;
    --md-ref-palette-secondary-83: #cad593;
    --md-ref-palette-secondary-84: #cdd896;
    --md-ref-palette-secondary-85: #d0da98;
    --md-ref-palette-secondary-86: #d3dd9b;
    --md-ref-palette-secondary-87: #d5e09d;
    --md-ref-palette-secondary-88: #d8e3a0;
    --md-ref-palette-secondary-89: #dbe6a2;
    --md-ref-palette-secondary-90: #dee9a5;
    --md-ref-palette-secondary-91: #e1eba8;
    --md-ref-palette-secondary-92: #e4eeaa;
    --md-ref-palette-secondary-93: #e7f1ad;
    --md-ref-palette-secondary-94: #e9f4b0;
    --md-ref-palette-secondary-95: #ecf7b2;
    --md-ref-palette-secondary-96: #effab5;
    --md-ref-palette-secondary-97: #f2fdb7;
    --md-ref-palette-secondary-98: #f6ffc1;
    --md-ref-palette-secondary-99: #fbffe0;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0b0011;
    --md-ref-palette-tertiary-2: #13001c;
    --md-ref-palette-tertiary-3: #190024;
    --md-ref-palette-tertiary-4: #1e002a;
    --md-ref-palette-tertiary-5: #220030;
    --md-ref-palette-tertiary-6: #260034;
    --md-ref-palette-tertiary-7: #290039;
    --md-ref-palette-tertiary-8: #2d003d;
    --md-ref-palette-tertiary-9: #300041;
    --md-ref-palette-tertiary-10: #330045;
    --md-ref-palette-tertiary-11: #360049;
    --md-ref-palette-tertiary-12: #39004d;
    --md-ref-palette-tertiary-13: #3c0051;
    --md-ref-palette-tertiary-14: #3f0055;
    --md-ref-palette-tertiary-15: #430059;
    --md-ref-palette-tertiary-16: #46005d;
    --md-ref-palette-tertiary-17: #490062;
    --md-ref-palette-tertiary-18: #4d0066;
    --md-ref-palette-tertiary-19: #50006a;
    --md-ref-palette-tertiary-20: #53006f;
    --md-ref-palette-tertiary-21: #570073;
    --md-ref-palette-tertiary-22: #590575;
    --md-ref-palette-tertiary-23: #5c0977;
    --md-ref-palette-tertiary-24: #5e0e7a;
    --md-ref-palette-tertiary-25: #61127c;
    --md-ref-palette-tertiary-26: #63157f;
    --md-ref-palette-tertiary-27: #661981;
    --md-ref-palette-tertiary-28: #681c84;
    --md-ref-palette-tertiary-29: #6b1f86;
    --md-ref-palette-tertiary-30: #6e2289;
    --md-ref-palette-tertiary-31: #70258b;
    --md-ref-palette-tertiary-32: #73288e;
    --md-ref-palette-tertiary-33: #762a90;
    --md-ref-palette-tertiary-34: #782d93;
    --md-ref-palette-tertiary-35: #7b3096;
    --md-ref-palette-tertiary-36: #7e3398;
    --md-ref-palette-tertiary-37: #80359b;
    --md-ref-palette-tertiary-38: #83389e;
    --md-ref-palette-tertiary-39: #863ba0;
    --md-ref-palette-tertiary-40: #883da3;
    --md-ref-palette-tertiary-41: #8b40a6;
    --md-ref-palette-tertiary-42: #8e42a8;
    --md-ref-palette-tertiary-43: #9045ab;
    --md-ref-palette-tertiary-44: #9348ae;
    --md-ref-palette-tertiary-45: #964ab0;
    --md-ref-palette-tertiary-46: #994db3;
    --md-ref-palette-tertiary-47: #9b4fb6;
    --md-ref-palette-tertiary-48: #9e52b9;
    --md-ref-palette-tertiary-49: #a154bb;
    --md-ref-palette-tertiary-50: #a457be;
    --md-ref-palette-tertiary-51: #a75ac1;
    --md-ref-palette-tertiary-52: #a95cc4;
    --md-ref-palette-tertiary-53: #ac5fc6;
    --md-ref-palette-tertiary-54: #af61c9;
    --md-ref-palette-tertiary-55: #b264cc;
    --md-ref-palette-tertiary-56: #b567cf;
    --md-ref-palette-tertiary-57: #b869d2;
    --md-ref-palette-tertiary-58: #ba6cd4;
    --md-ref-palette-tertiary-59: #bd6ed7;
    --md-ref-palette-tertiary-60: #c071da;
    --md-ref-palette-tertiary-61: #c374dd;
    --md-ref-palette-tertiary-62: #c676e0;
    --md-ref-palette-tertiary-63: #c979e3;
    --md-ref-palette-tertiary-64: #cc7ce6;
    --md-ref-palette-tertiary-65: #cf7ee8;
    --md-ref-palette-tertiary-66: #d181eb;
    --md-ref-palette-tertiary-67: #d484ee;
    --md-ref-palette-tertiary-68: #d786f1;
    --md-ref-palette-tertiary-69: #da89f4;
    --md-ref-palette-tertiary-70: #dd8cf7;
    --md-ref-palette-tertiary-71: #e08efa;
    --md-ref-palette-tertiary-72: #e391fd;
    --md-ref-palette-tertiary-73: #e694ff;
    --md-ref-palette-tertiary-74: #e798ff;
    --md-ref-palette-tertiary-75: #e89cff;
    --md-ref-palette-tertiary-76: #e9a0ff;
    --md-ref-palette-tertiary-77: #eba4ff;
    --md-ref-palette-tertiary-78: #eca8ff;
    --md-ref-palette-tertiary-79: #edacff;
    --md-ref-palette-tertiary-80: #eeb0ff;
    --md-ref-palette-tertiary-81: #f0b4ff;
    --md-ref-palette-tertiary-82: #f1b8ff;
    --md-ref-palette-tertiary-83: #f2bcff;
    --md-ref-palette-tertiary-84: #f3c0ff;
    --md-ref-palette-tertiary-85: #f4c4ff;
    --md-ref-palette-tertiary-86: #f5c8ff;
    --md-ref-palette-tertiary-87: #f6ccff;
    --md-ref-palette-tertiary-88: #f8d0ff;
    --md-ref-palette-tertiary-89: #f9d4ff;
    --md-ref-palette-tertiary-90: #fad7ff;
    --md-ref-palette-tertiary-91: #fbdbff;
    --md-ref-palette-tertiary-92: #fcdfff;
    --md-ref-palette-tertiary-93: #fde3ff;
    --md-ref-palette-tertiary-94: #fee7ff;
    --md-ref-palette-tertiary-95: #ffebff;
    --md-ref-palette-tertiary-96: #ffeffe;
    --md-ref-palette-tertiary-97: #fff3fc;
    --md-ref-palette-tertiary-98: #fff7fb;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030401;
    --md-ref-palette-neutral-2: #070803;
    --md-ref-palette-neutral-3: #0a0c05;
    --md-ref-palette-neutral-4: #0e0f07;
    --md-ref-palette-neutral-5: #101209;
    --md-ref-palette-neutral-6: #13140b;
    --md-ref-palette-neutral-7: #15160d;
    --md-ref-palette-neutral-8: #17180f;
    --md-ref-palette-neutral-9: #191a11;
    --md-ref-palette-neutral-10: #1b1c13;
    --md-ref-palette-neutral-11: #1d1e15;
    --md-ref-palette-neutral-12: #1f2017;
    --md-ref-palette-neutral-13: #212219;
    --md-ref-palette-neutral-14: #23251b;
    --md-ref-palette-neutral-15: #25271d;
    --md-ref-palette-neutral-16: #27291f;
    --md-ref-palette-neutral-17: #292b21;
    --md-ref-palette-neutral-18: #2c2d23;
    --md-ref-palette-neutral-19: #2e2f25;
    --md-ref-palette-neutral-20: #303127;
    --md-ref-palette-neutral-21: #323329;
    --md-ref-palette-neutral-22: #34362b;
    --md-ref-palette-neutral-23: #37382d;
    --md-ref-palette-neutral-24: #393a2f;
    --md-ref-palette-neutral-25: #3b3c31;
    --md-ref-palette-neutral-26: #3d3f33;
    --md-ref-palette-neutral-27: #404136;
    --md-ref-palette-neutral-28: #424338;
    --md-ref-palette-neutral-29: #44453a;
    --md-ref-palette-neutral-30: #47483c;
    --md-ref-palette-neutral-31: #494a3e;
    --md-ref-palette-neutral-32: #4b4c41;
    --md-ref-palette-neutral-33: #4e4f43;
    --md-ref-palette-neutral-34: #505145;
    --md-ref-palette-neutral-35: #525348;
    --md-ref-palette-neutral-36: #55564a;
    --md-ref-palette-neutral-37: #57584c;
    --md-ref-palette-neutral-38: #595a4e;
    --md-ref-palette-neutral-39: #5c5d51;
    --md-ref-palette-neutral-40: #5e5f53;
    --md-ref-palette-neutral-41: #616255;
    --md-ref-palette-neutral-42: #636458;
    --md-ref-palette-neutral-43: #66675a;
    --md-ref-palette-neutral-44: #68695d;
    --md-ref-palette-neutral-45: #6b6b5f;
    --md-ref-palette-neutral-46: #6d6e61;
    --md-ref-palette-neutral-47: #707064;
    --md-ref-palette-neutral-48: #727366;
    --md-ref-palette-neutral-49: #757569;
    --md-ref-palette-neutral-50: #77786b;
    --md-ref-palette-neutral-51: #7a7a6d;
    --md-ref-palette-neutral-52: #7c7d70;
    --md-ref-palette-neutral-53: #7f8072;
    --md-ref-palette-neutral-54: #828275;
    --md-ref-palette-neutral-55: #848577;
    --md-ref-palette-neutral-56: #87877a;
    --md-ref-palette-neutral-57: #898a7c;
    --md-ref-palette-neutral-58: #8c8c7f;
    --md-ref-palette-neutral-59: #8f8f81;
    --md-ref-palette-neutral-60: #919284;
    --md-ref-palette-neutral-61: #949486;
    --md-ref-palette-neutral-62: #969789;
    --md-ref-palette-neutral-63: #99998c;
    --md-ref-palette-neutral-64: #9c9c8e;
    --md-ref-palette-neutral-65: #9e9f91;
    --md-ref-palette-neutral-66: #a1a193;
    --md-ref-palette-neutral-67: #a4a496;
    --md-ref-palette-neutral-68: #a7a799;
    --md-ref-palette-neutral-69: #a9a99b;
    --md-ref-palette-neutral-70: #acac9e;
    --md-ref-palette-neutral-71: #afafa0;
    --md-ref-palette-neutral-72: #b1b1a3;
    --md-ref-palette-neutral-73: #b4b4a6;
    --md-ref-palette-neutral-74: #b7b7a8;
    --md-ref-palette-neutral-75: #babaab;
    --md-ref-palette-neutral-76: #bcbcae;
    --md-ref-palette-neutral-77: #bfbfb0;
    --md-ref-palette-neutral-78: #c2c2b3;
    --md-ref-palette-neutral-79: #c5c5b6;
    --md-ref-palette-neutral-80: #c8c7b8;
    --md-ref-palette-neutral-81: #cacabb;
    --md-ref-palette-neutral-82: #cdcdbe;
    --md-ref-palette-neutral-83: #d0d0c1;
    --md-ref-palette-neutral-84: #d3d2c3;
    --md-ref-palette-neutral-85: #d6d5c6;
    --md-ref-palette-neutral-86: #d8d8c9;
    --md-ref-palette-neutral-87: #dbdbcb;
    --md-ref-palette-neutral-88: #dedece;
    --md-ref-palette-neutral-89: #e1e0d1;
    --md-ref-palette-neutral-90: #e4e3d4;
    --md-ref-palette-neutral-91: #e7e6d7;
    --md-ref-palette-neutral-92: #eae9d9;
    --md-ref-palette-neutral-93: #ececdc;
    --md-ref-palette-neutral-94: #efefdf;
    --md-ref-palette-neutral-95: #f2f2e2;
    --md-ref-palette-neutral-96: #f5f4e4;
    --md-ref-palette-neutral-97: #f8f7e7;
    --md-ref-palette-neutral-98: #fbfaea;
    --md-ref-palette-neutral-99: #fdfdf5;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030400;
    --md-ref-palette-neutral-variant-2: #060801;
    --md-ref-palette-neutral-variant-3: #0a0c02;
    --md-ref-palette-neutral-variant-4: #0d0f03;
    --md-ref-palette-neutral-variant-5: #101205;
    --md-ref-palette-neutral-variant-6: #121507;
    --md-ref-palette-neutral-variant-7: #141708;
    --md-ref-palette-neutral-variant-8: #16190a;
    --md-ref-palette-neutral-variant-9: #181b0c;
    --md-ref-palette-neutral-variant-10: #1a1d0e;
    --md-ref-palette-neutral-variant-11: #1c1f10;
    --md-ref-palette-neutral-variant-12: #1e2112;
    --md-ref-palette-neutral-variant-13: #202313;
    --md-ref-palette-neutral-variant-14: #232515;
    --md-ref-palette-neutral-variant-15: #252717;
    --md-ref-palette-neutral-variant-16: #272919;
    --md-ref-palette-neutral-variant-17: #292b1b;
    --md-ref-palette-neutral-variant-18: #2b2e1d;
    --md-ref-palette-neutral-variant-19: #2d301f;
    --md-ref-palette-neutral-variant-20: #2f3221;
    --md-ref-palette-neutral-variant-21: #313423;
    --md-ref-palette-neutral-variant-22: #343625;
    --md-ref-palette-neutral-variant-23: #363827;
    --md-ref-palette-neutral-variant-24: #383b29;
    --md-ref-palette-neutral-variant-25: #3a3d2c;
    --md-ref-palette-neutral-variant-26: #3d3f2e;
    --md-ref-palette-neutral-variant-27: #3f4130;
    --md-ref-palette-neutral-variant-28: #414432;
    --md-ref-palette-neutral-variant-29: #434634;
    --md-ref-palette-neutral-variant-30: #464836;
    --md-ref-palette-neutral-variant-31: #484b38;
    --md-ref-palette-neutral-variant-32: #4a4d3b;
    --md-ref-palette-neutral-variant-33: #4d4f3d;
    --md-ref-palette-neutral-variant-34: #4f523f;
    --md-ref-palette-neutral-variant-35: #515441;
    --md-ref-palette-neutral-variant-36: #545644;
    --md-ref-palette-neutral-variant-37: #565946;
    --md-ref-palette-neutral-variant-38: #595b48;
    --md-ref-palette-neutral-variant-39: #5b5e4a;
    --md-ref-palette-neutral-variant-40: #5e604d;
    --md-ref-palette-neutral-variant-41: #60624f;
    --md-ref-palette-neutral-variant-42: #626551;
    --md-ref-palette-neutral-variant-43: #656754;
    --md-ref-palette-neutral-variant-44: #676a56;
    --md-ref-palette-neutral-variant-45: #6a6c58;
    --md-ref-palette-neutral-variant-46: #6c6f5b;
    --md-ref-palette-neutral-variant-47: #6f715d;
    --md-ref-palette-neutral-variant-48: #717460;
    --md-ref-palette-neutral-variant-49: #747662;
    --md-ref-palette-neutral-variant-50: #767964;
    --md-ref-palette-neutral-variant-51: #797b67;
    --md-ref-palette-neutral-variant-52: #7c7e69;
    --md-ref-palette-neutral-variant-53: #7e806c;
    --md-ref-palette-neutral-variant-54: #81836e;
    --md-ref-palette-neutral-variant-55: #838570;
    --md-ref-palette-neutral-variant-56: #868873;
    --md-ref-palette-neutral-variant-57: #888b75;
    --md-ref-palette-neutral-variant-58: #8b8d78;
    --md-ref-palette-neutral-variant-59: #8e907a;
    --md-ref-palette-neutral-variant-60: #90927d;
    --md-ref-palette-neutral-variant-61: #93957f;
    --md-ref-palette-neutral-variant-62: #969882;
    --md-ref-palette-neutral-variant-63: #989a84;
    --md-ref-palette-neutral-variant-64: #9b9d87;
    --md-ref-palette-neutral-variant-65: #9ea08a;
    --md-ref-palette-neutral-variant-66: #a0a28c;
    --md-ref-palette-neutral-variant-67: #a3a58f;
    --md-ref-palette-neutral-variant-68: #a6a891;
    --md-ref-palette-neutral-variant-69: #a8aa94;
    --md-ref-palette-neutral-variant-70: #abad96;
    --md-ref-palette-neutral-variant-71: #aeb099;
    --md-ref-palette-neutral-variant-72: #b0b29c;
    --md-ref-palette-neutral-variant-73: #b3b59e;
    --md-ref-palette-neutral-variant-74: #b6b8a1;
    --md-ref-palette-neutral-variant-75: #b9bba3;
    --md-ref-palette-neutral-variant-76: #bbbda6;
    --md-ref-palette-neutral-variant-77: #bec0a9;
    --md-ref-palette-neutral-variant-78: #c1c3ab;
    --md-ref-palette-neutral-variant-79: #c4c6ae;
    --md-ref-palette-neutral-variant-80: #c7c8b1;
    --md-ref-palette-neutral-variant-81: #c9cbb3;
    --md-ref-palette-neutral-variant-82: #ccceb6;
    --md-ref-palette-neutral-variant-83: #cfd1b9;
    --md-ref-palette-neutral-variant-84: #d2d3bb;
    --md-ref-palette-neutral-variant-85: #d5d6be;
    --md-ref-palette-neutral-variant-86: #d7d9c1;
    --md-ref-palette-neutral-variant-87: #dadcc4;
    --md-ref-palette-neutral-variant-88: #dddfc6;
    --md-ref-palette-neutral-variant-89: #e0e1c9;
    --md-ref-palette-neutral-variant-90: #e3e4cc;
    --md-ref-palette-neutral-variant-91: #e6e7cf;
    --md-ref-palette-neutral-variant-92: #e9ead1;
    --md-ref-palette-neutral-variant-93: #ebedd4;
    --md-ref-palette-neutral-variant-94: #eef0d7;
    --md-ref-palette-neutral-variant-95: #f1f3da;
    --md-ref-palette-neutral-variant-96: #f4f5dc;
    --md-ref-palette-neutral-variant-97: #f7f8df;
    --md-ref-palette-neutral-variant-98: #fafbe2;
    --md-ref-palette-neutral-variant-99: #fdfdf1;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
