:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000501;
    --md-ref-palette-primary-2: #000a02;
    --md-ref-palette-primary-3: #000e02;
    --md-ref-palette-primary-4: #001203;
    --md-ref-palette-primary-5: #001504;
    --md-ref-palette-primary-6: #001805;
    --md-ref-palette-primary-7: #001b06;
    --md-ref-palette-primary-8: #001d06;
    --md-ref-palette-primary-9: #001f07;
    --md-ref-palette-primary-10: #002108;
    --md-ref-palette-primary-11: #002409;
    --md-ref-palette-primary-12: #00260a;
    --md-ref-palette-primary-13: #00280b;
    --md-ref-palette-primary-14: #002b0c;
    --md-ref-palette-primary-15: #002d0d;
    --md-ref-palette-primary-16: #002f0f;
    --md-ref-palette-primary-17: #003210;
    --md-ref-palette-primary-18: #003411;
    --md-ref-palette-primary-19: #003712;
    --md-ref-palette-primary-20: #003913;
    --md-ref-palette-primary-21: #033b15;
    --md-ref-palette-primary-22: #063e17;
    --md-ref-palette-primary-23: #094019;
    --md-ref-palette-primary-24: #0c421b;
    --md-ref-palette-primary-25: #0f451d;
    --md-ref-palette-primary-26: #12471f;
    --md-ref-palette-primary-27: #154921;
    --md-ref-palette-primary-28: #184c24;
    --md-ref-palette-primary-29: #1a4e26;
    --md-ref-palette-primary-30: #1d5128;
    --md-ref-palette-primary-31: #20532a;
    --md-ref-palette-primary-32: #22552c;
    --md-ref-palette-primary-33: #25582e;
    --md-ref-palette-primary-34: #275a30;
    --md-ref-palette-primary-35: #2a5d32;
    --md-ref-palette-primary-36: #2c5f35;
    --md-ref-palette-primary-37: #2f6237;
    --md-ref-palette-primary-38: #316439;
    --md-ref-palette-primary-39: #33673b;
    --md-ref-palette-primary-40: #36693d;
    --md-ref-palette-primary-41: #386c40;
    --md-ref-palette-primary-42: #3b6e42;
    --md-ref-palette-primary-43: #3d7144;
    --md-ref-palette-primary-44: #407346;
    --md-ref-palette-primary-45: #427649;
    --md-ref-palette-primary-46: #45784b;
    --md-ref-palette-primary-47: #477b4d;
    --md-ref-palette-primary-48: #4a7d50;
    --md-ref-palette-primary-49: #4c8052;
    --md-ref-palette-primary-50: #4f8354;
    --md-ref-palette-primary-51: #518557;
    --md-ref-palette-primary-52: #548859;
    --md-ref-palette-primary-53: #568a5b;
    --md-ref-palette-primary-54: #598d5e;
    --md-ref-palette-primary-55: #5b9060;
    --md-ref-palette-primary-56: #5e9262;
    --md-ref-palette-primary-57: #609565;
    --md-ref-palette-primary-58: #639867;
    --md-ref-palette-primary-59: #659a6a;
    --md-ref-palette-primary-60: #689d6c;
    --md-ref-palette-primary-61: #6aa06f;
    --md-ref-palette-primary-62: #6da271;
    --md-ref-palette-primary-63: #6fa573;
    --md-ref-palette-primary-64: #72a876;
    --md-ref-palette-primary-65: #75aa78;
    --md-ref-palette-primary-66: #77ad7b;
    --md-ref-palette-primary-67: #7ab07d;
    --md-ref-palette-primary-68: #7cb380;
    --md-ref-palette-primary-69: #7fb582;
    --md-ref-palette-primary-70: #82b885;
    --md-ref-palette-primary-71: #84bb87;
    --md-ref-palette-primary-72: #87be8a;
    --md-ref-palette-primary-73: #89c08d;
    --md-ref-palette-primary-74: #8cc38f;
    --md-ref-palette-primary-75: #8fc692;
    --md-ref-palette-primary-76: #91c994;
    --md-ref-palette-primary-77: #94cc97;
    --md-ref-palette-primary-78: #97ce99;
    --md-ref-palette-primary-79: #99d19c;
    --md-ref-palette-primary-80: #9cd49f;
    --md-ref-palette-primary-81: #9fd7a1;
    --md-ref-palette-primary-82: #a2daa4;
    --md-ref-palette-primary-83: #a4dda6;
    --md-ref-palette-primary-84: #a7dfa9;
    --md-ref-palette-primary-85: #aae2ac;
    --md-ref-palette-primary-86: #ace5ae;
    --md-ref-palette-primary-87: #afe8b1;
    --md-ref-palette-primary-88: #b2ebb4;
    --md-ref-palette-primary-89: #b5eeb6;
    --md-ref-palette-primary-90: #b7f1b9;
    --md-ref-palette-primary-91: #baf4bc;
    --md-ref-palette-primary-92: #bdf6be;
    --md-ref-palette-primary-93: #c0f9c1;
    --md-ref-palette-primary-94: #c2fcc4;
    --md-ref-palette-primary-95: #c6ffc7;
    --md-ref-palette-primary-96: #d3ffd2;
    --md-ref-palette-primary-97: #dfffdd;
    --md-ref-palette-primary-98: #ebffe7;
    --md-ref-palette-primary-99: #f6fff1;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000501;
    --md-ref-palette-secondary-2: #000a02;
    --md-ref-palette-secondary-3: #000e03;
    --md-ref-palette-secondary-4: #021204;
    --md-ref-palette-secondary-5: #031506;
    --md-ref-palette-secondary-6: #051708;
    --md-ref-palette-secondary-7: #07190a;
    --md-ref-palette-secondary-8: #091b0c;
    --md-ref-palette-secondary-9: #0b1d0d;
    --md-ref-palette-secondary-10: #0d200f;
    --md-ref-palette-secondary-11: #0f2211;
    --md-ref-palette-secondary-12: #112413;
    --md-ref-palette-secondary-13: #132615;
    --md-ref-palette-secondary-14: #152817;
    --md-ref-palette-secondary-15: #172a19;
    --md-ref-palette-secondary-16: #192c1b;
    --md-ref-palette-secondary-17: #1b2e1d;
    --md-ref-palette-secondary-18: #1d301f;
    --md-ref-palette-secondary-19: #1f3321;
    --md-ref-palette-secondary-20: #223523;
    --md-ref-palette-secondary-21: #243725;
    --md-ref-palette-secondary-22: #263927;
    --md-ref-palette-secondary-23: #283c29;
    --md-ref-palette-secondary-24: #2a3e2b;
    --md-ref-palette-secondary-25: #2c402d;
    --md-ref-palette-secondary-26: #2f422f;
    --md-ref-palette-secondary-27: #314532;
    --md-ref-palette-secondary-28: #334734;
    --md-ref-palette-secondary-29: #354936;
    --md-ref-palette-secondary-30: #384c38;
    --md-ref-palette-secondary-31: #3a4e3a;
    --md-ref-palette-secondary-32: #3c503d;
    --md-ref-palette-secondary-33: #3e533f;
    --md-ref-palette-secondary-34: #415541;
    --md-ref-palette-secondary-35: #435743;
    --md-ref-palette-secondary-36: #455a46;
    --md-ref-palette-secondary-37: #485c48;
    --md-ref-palette-secondary-38: #4a5f4a;
    --md-ref-palette-secondary-39: #4c614c;
    --md-ref-palette-secondary-40: #4f644f;
    --md-ref-palette-secondary-41: #516651;
    --md-ref-palette-secondary-42: #546953;
    --md-ref-palette-secondary-43: #566b56;
    --md-ref-palette-secondary-44: #586d58;
    --md-ref-palette-secondary-45: #5b705a;
    --md-ref-palette-secondary-46: #5d725d;
    --md-ref-palette-secondary-47: #60755f;
    --md-ref-palette-secondary-48: #627862;
    --md-ref-palette-secondary-49: #657a64;
    --md-ref-palette-secondary-50: #677d66;
    --md-ref-palette-secondary-51: #6a7f69;
    --md-ref-palette-secondary-52: #6c826b;
    --md-ref-palette-secondary-53: #6f846e;
    --md-ref-palette-secondary-54: #718770;
    --md-ref-palette-secondary-55: #748973;
    --md-ref-palette-secondary-56: #768c75;
    --md-ref-palette-secondary-57: #798f78;
    --md-ref-palette-secondary-58: #7b917a;
    --md-ref-palette-secondary-59: #7e947d;
    --md-ref-palette-secondary-60: #80977f;
    --md-ref-palette-secondary-61: #839982;
    --md-ref-palette-secondary-62: #869c84;
    --md-ref-palette-secondary-63: #889e87;
    --md-ref-palette-secondary-64: #8ba189;
    --md-ref-palette-secondary-65: #8da48c;
    --md-ref-palette-secondary-66: #90a68e;
    --md-ref-palette-secondary-67: #93a991;
    --md-ref-palette-secondary-68: #95ac94;
    --md-ref-palette-secondary-69: #98af96;
    --md-ref-palette-secondary-70: #9bb199;
    --md-ref-palette-secondary-71: #9db49b;
    --md-ref-palette-secondary-72: #a0b79e;
    --md-ref-palette-secondary-73: #a3b9a1;
    --md-ref-palette-secondary-74: #a5bca3;
    --md-ref-palette-secondary-75: #a8bfa6;
    --md-ref-palette-secondary-76: #abc2a8;
    --md-ref-palette-secondary-77: #adc4ab;
    --md-ref-palette-secondary-78: #b0c7ae;
    --md-ref-palette-secondary-79: #b3cab0;
    --md-ref-palette-secondary-80: #b6cdb3;
    --md-ref-palette-secondary-81: #b8d0b6;
    --md-ref-palette-secondary-82: #bbd2b8;
    --md-ref-palette-secondary-83: #bed5bb;
    --md-ref-palette-secondary-84: #c1d8be;
    --md-ref-palette-secondary-85: #c3dbc1;
    --md-ref-palette-secondary-86: #c6dec3;
    --md-ref-palette-secondary-87: #c9e0c6;
    --md-ref-palette-secondary-88: #cce3c9;
    --md-ref-palette-secondary-89: #cee6cc;
    --md-ref-palette-secondary-90: #d1e9ce;
    --md-ref-palette-secondary-91: #d4ecd1;
    --md-ref-palette-secondary-92: #d7efd4;
    --md-ref-palette-secondary-93: #daf2d7;
    --md-ref-palette-secondary-94: #ddf4d9;
    --md-ref-palette-secondary-95: #dff7dc;
    --md-ref-palette-secondary-96: #e2fadf;
    --md-ref-palette-secondary-97: #e5fde2;
    --md-ref-palette-secondary-98: #ebffe7;
    --md-ref-palette-secondary-99: #f6fff1;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0f0004;
    --md-ref-palette-tertiary-2: #190007;
    --md-ref-palette-tertiary-3: #20000b;
    --md-ref-palette-tertiary-4: #26000e;
    --md-ref-palette-tertiary-5: #2b0011;
    --md-ref-palette-tertiary-6: #2f0013;
    --md-ref-palette-tertiary-7: #320215;
    --md-ref-palette-tertiary-8: #350317;
    --md-ref-palette-tertiary-9: #380519;
    --md-ref-palette-tertiary-10: #3a061b;
    --md-ref-palette-tertiary-11: #3d081d;
    --md-ref-palette-tertiary-12: #400b1f;
    --md-ref-palette-tertiary-13: #420d21;
    --md-ref-palette-tertiary-14: #450f23;
    --md-ref-palette-tertiary-15: #481126;
    --md-ref-palette-tertiary-16: #4a1328;
    --md-ref-palette-tertiary-17: #4d162a;
    --md-ref-palette-tertiary-18: #50182c;
    --md-ref-palette-tertiary-19: #521a2e;
    --md-ref-palette-tertiary-20: #551c30;
    --md-ref-palette-tertiary-21: #581e32;
    --md-ref-palette-tertiary-22: #5b2034;
    --md-ref-palette-tertiary-23: #5d2337;
    --md-ref-palette-tertiary-24: #602539;
    --md-ref-palette-tertiary-25: #63273b;
    --md-ref-palette-tertiary-26: #66293d;
    --md-ref-palette-tertiary-27: #682c40;
    --md-ref-palette-tertiary-28: #6b2e42;
    --md-ref-palette-tertiary-29: #6e3044;
    --md-ref-palette-tertiary-30: #713246;
    --md-ref-palette-tertiary-31: #733449;
    --md-ref-palette-tertiary-32: #76374b;
    --md-ref-palette-tertiary-33: #79394d;
    --md-ref-palette-tertiary-34: #7c3b50;
    --md-ref-palette-tertiary-35: #7f3e52;
    --md-ref-palette-tertiary-36: #824054;
    --md-ref-palette-tertiary-37: #844257;
    --md-ref-palette-tertiary-38: #874559;
    --md-ref-palette-tertiary-39: #8a475c;
    --md-ref-palette-tertiary-40: #8d495e;
    --md-ref-palette-tertiary-41: #904c60;
    --md-ref-palette-tertiary-42: #934e63;
    --md-ref-palette-tertiary-43: #955065;
    --md-ref-palette-tertiary-44: #985368;
    --md-ref-palette-tertiary-45: #9b556a;
    --md-ref-palette-tertiary-46: #9e576d;
    --md-ref-palette-tertiary-47: #a15a6f;
    --md-ref-palette-tertiary-48: #a45c72;
    --md-ref-palette-tertiary-49: #a75f74;
    --md-ref-palette-tertiary-50: #aa6177;
    --md-ref-palette-tertiary-51: #ad6479;
    --md-ref-palette-tertiary-52: #b0667c;
    --md-ref-palette-tertiary-53: #b3697e;
    --md-ref-palette-tertiary-54: #b56b81;
    --md-ref-palette-tertiary-55: #b86e83;
    --md-ref-palette-tertiary-56: #bb7086;
    --md-ref-palette-tertiary-57: #be7288;
    --md-ref-palette-tertiary-58: #c1758b;
    --md-ref-palette-tertiary-59: #c4788d;
    --md-ref-palette-tertiary-60: #c77a90;
    --md-ref-palette-tertiary-61: #ca7d93;
    --md-ref-palette-tertiary-62: #cd7f95;
    --md-ref-palette-tertiary-63: #d08298;
    --md-ref-palette-tertiary-64: #d3849a;
    --md-ref-palette-tertiary-65: #d6879d;
    --md-ref-palette-tertiary-66: #d989a0;
    --md-ref-palette-tertiary-67: #dc8ca2;
    --md-ref-palette-tertiary-68: #df8fa5;
    --md-ref-palette-tertiary-69: #e291a8;
    --md-ref-palette-tertiary-70: #e594aa;
    --md-ref-palette-tertiary-71: #e896ad;
    --md-ref-palette-tertiary-72: #eb99b0;
    --md-ref-palette-tertiary-73: #ef9cb2;
    --md-ref-palette-tertiary-74: #f29eb5;
    --md-ref-palette-tertiary-75: #f5a1b8;
    --md-ref-palette-tertiary-76: #f8a4bb;
    --md-ref-palette-tertiary-77: #fba6bd;
    --md-ref-palette-tertiary-78: #fea9c0;
    --md-ref-palette-tertiary-79: #ffadc3;
    --md-ref-palette-tertiary-80: #ffb1c6;
    --md-ref-palette-tertiary-81: #ffb5c8;
    --md-ref-palette-tertiary-82: #ffb9cb;
    --md-ref-palette-tertiary-83: #ffbdce;
    --md-ref-palette-tertiary-84: #ffc1d0;
    --md-ref-palette-tertiary-85: #ffc5d3;
    --md-ref-palette-tertiary-86: #ffc9d6;
    --md-ref-palette-tertiary-87: #ffcdd9;
    --md-ref-palette-tertiary-88: #ffd1dc;
    --md-ref-palette-tertiary-89: #ffd5de;
    --md-ref-palette-tertiary-90: #ffd9e1;
    --md-ref-palette-tertiary-91: #ffdde4;
    --md-ref-palette-tertiary-92: #ffe1e7;
    --md-ref-palette-tertiary-93: #ffe5e9;
    --md-ref-palette-tertiary-94: #ffe8ec;
    --md-ref-palette-tertiary-95: #ffecef;
    --md-ref-palette-tertiary-96: #fff0f2;
    --md-ref-palette-tertiary-97: #fff4f5;
    --md-ref-palette-tertiary-98: #fff8f8;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030403;
    --md-ref-palette-neutral-2: #060805;
    --md-ref-palette-neutral-3: #090c09;
    --md-ref-palette-neutral-4: #0c0f0c;
    --md-ref-palette-neutral-5: #0f120e;
    --md-ref-palette-neutral-6: #111411;
    --md-ref-palette-neutral-7: #131613;
    --md-ref-palette-neutral-8: #151815;
    --md-ref-palette-neutral-9: #171a17;
    --md-ref-palette-neutral-10: #191c19;
    --md-ref-palette-neutral-11: #1b1e1b;
    --md-ref-palette-neutral-12: #1d201d;
    --md-ref-palette-neutral-13: #1f221f;
    --md-ref-palette-neutral-14: #212521;
    --md-ref-palette-neutral-15: #232723;
    --md-ref-palette-neutral-16: #262925;
    --md-ref-palette-neutral-17: #282b27;
    --md-ref-palette-neutral-18: #2a2d29;
    --md-ref-palette-neutral-19: #2c2f2b;
    --md-ref-palette-neutral-20: #2e312d;
    --md-ref-palette-neutral-21: #30332f;
    --md-ref-palette-neutral-22: #323631;
    --md-ref-palette-neutral-23: #353834;
    --md-ref-palette-neutral-24: #373a36;
    --md-ref-palette-neutral-25: #393c38;
    --md-ref-palette-neutral-26: #3b3e3a;
    --md-ref-palette-neutral-27: #3e413c;
    --md-ref-palette-neutral-28: #40433f;
    --md-ref-palette-neutral-29: #424541;
    --md-ref-palette-neutral-30: #454843;
    --md-ref-palette-neutral-31: #474a45;
    --md-ref-palette-neutral-32: #494c48;
    --md-ref-palette-neutral-33: #4c4f4a;
    --md-ref-palette-neutral-34: #4e514c;
    --md-ref-palette-neutral-35: #50534f;
    --md-ref-palette-neutral-36: #535651;
    --md-ref-palette-neutral-37: #555853;
    --md-ref-palette-neutral-38: #575a56;
    --md-ref-palette-neutral-39: #5a5d58;
    --md-ref-palette-neutral-40: #5c5f5a;
    --md-ref-palette-neutral-41: #5f625d;
    --md-ref-palette-neutral-42: #61645f;
    --md-ref-palette-neutral-43: #646662;
    --md-ref-palette-neutral-44: #666964;
    --md-ref-palette-neutral-45: #696b66;
    --md-ref-palette-neutral-46: #6b6e69;
    --md-ref-palette-neutral-47: #6e706b;
    --md-ref-palette-neutral-48: #70736e;
    --md-ref-palette-neutral-49: #737570;
    --md-ref-palette-neutral-50: #757873;
    --md-ref-palette-neutral-51: #787a75;
    --md-ref-palette-neutral-52: #7a7d78;
    --md-ref-palette-neutral-53: #7d7f7a;
    --md-ref-palette-neutral-54: #7f827d;
    --md-ref-palette-neutral-55: #82857f;
    --md-ref-palette-neutral-56: #848782;
    --md-ref-palette-neutral-57: #878a84;
    --md-ref-palette-neutral-58: #8a8c87;
    --md-ref-palette-neutral-59: #8c8f89;
    --md-ref-palette-neutral-60: #8f918c;
    --md-ref-palette-neutral-61: #91948f;
    --md-ref-palette-neutral-62: #949791;
    --md-ref-palette-neutral-63: #979994;
    --md-ref-palette-neutral-64: #999c96;
    --md-ref-palette-neutral-65: #9c9f99;
    --md-ref-palette-neutral-66: #9fa19c;
    --md-ref-palette-neutral-67: #a1a49e;
    --md-ref-palette-neutral-68: #a4a7a1;
    --md-ref-palette-neutral-69: #a7a9a4;
    --md-ref-palette-neutral-70: #aaaca6;
    --md-ref-palette-neutral-71: #acafa9;
    --md-ref-palette-neutral-72: #afb1ac;
    --md-ref-palette-neutral-73: #b2b4ae;
    --md-ref-palette-neutral-74: #b4b7b1;
    --md-ref-palette-neutral-75: #b7bab4;
    --md-ref-palette-neutral-76: #babcb6;
    --md-ref-palette-neutral-77: #bdbfb9;
    --md-ref-palette-neutral-78: #bfc2bc;
    --md-ref-palette-neutral-79: #c2c4be;
    --md-ref-palette-neutral-80: #c5c7c1;
    --md-ref-palette-neutral-81: #c8cac4;
    --md-ref-palette-neutral-82: #cbcdc7;
    --md-ref-palette-neutral-83: #cdd0c9;
    --md-ref-palette-neutral-84: #d0d2cc;
    --md-ref-palette-neutral-85: #d3d5cf;
    --md-ref-palette-neutral-86: #d6d8d2;
    --md-ref-palette-neutral-87: #d9dbd4;
    --md-ref-palette-neutral-88: #dcded7;
    --md-ref-palette-neutral-89: #dee0da;
    --md-ref-palette-neutral-90: #e1e3dd;
    --md-ref-palette-neutral-91: #e4e6e0;
    --md-ref-palette-neutral-92: #e7e9e2;
    --md-ref-palette-neutral-93: #eaece5;
    --md-ref-palette-neutral-94: #edefe8;
    --md-ref-palette-neutral-95: #f0f1eb;
    --md-ref-palette-neutral-96: #f3f4ee;
    --md-ref-palette-neutral-97: #f5f7f1;
    --md-ref-palette-neutral-98: #f8faf3;
    --md-ref-palette-neutral-99: #fbfdf6;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #010502;
    --md-ref-palette-neutral-variant-2: #040904;
    --md-ref-palette-neutral-variant-3: #060d07;
    --md-ref-palette-neutral-variant-4: #091009;
    --md-ref-palette-neutral-variant-5: #0c130c;
    --md-ref-palette-neutral-variant-6: #0e150e;
    --md-ref-palette-neutral-variant-7: #101710;
    --md-ref-palette-neutral-variant-8: #121912;
    --md-ref-palette-neutral-variant-9: #141b14;
    --md-ref-palette-neutral-variant-10: #161d16;
    --md-ref-palette-neutral-variant-11: #181f18;
    --md-ref-palette-neutral-variant-12: #1a211a;
    --md-ref-palette-neutral-variant-13: #1c231c;
    --md-ref-palette-neutral-variant-14: #1e261e;
    --md-ref-palette-neutral-variant-15: #202820;
    --md-ref-palette-neutral-variant-16: #222a22;
    --md-ref-palette-neutral-variant-17: #242c24;
    --md-ref-palette-neutral-variant-18: #272e26;
    --md-ref-palette-neutral-variant-19: #293028;
    --md-ref-palette-neutral-variant-20: #2b322a;
    --md-ref-palette-neutral-variant-21: #2d352c;
    --md-ref-palette-neutral-variant-22: #2f372e;
    --md-ref-palette-neutral-variant-23: #313931;
    --md-ref-palette-neutral-variant-24: #343b33;
    --md-ref-palette-neutral-variant-25: #363d35;
    --md-ref-palette-neutral-variant-26: #384037;
    --md-ref-palette-neutral-variant-27: #3a4239;
    --md-ref-palette-neutral-variant-28: #3d443c;
    --md-ref-palette-neutral-variant-29: #3f463e;
    --md-ref-palette-neutral-variant-30: #414940;
    --md-ref-palette-neutral-variant-31: #434b42;
    --md-ref-palette-neutral-variant-32: #464d45;
    --md-ref-palette-neutral-variant-33: #485047;
    --md-ref-palette-neutral-variant-34: #4a5249;
    --md-ref-palette-neutral-variant-35: #4d554b;
    --md-ref-palette-neutral-variant-36: #4f574e;
    --md-ref-palette-neutral-variant-37: #515950;
    --md-ref-palette-neutral-variant-38: #545c52;
    --md-ref-palette-neutral-variant-39: #565e55;
    --md-ref-palette-neutral-variant-40: #596057;
    --md-ref-palette-neutral-variant-41: #5b6359;
    --md-ref-palette-neutral-variant-42: #5d655c;
    --md-ref-palette-neutral-variant-43: #60685e;
    --md-ref-palette-neutral-variant-44: #626a61;
    --md-ref-palette-neutral-variant-45: #656d63;
    --md-ref-palette-neutral-variant-46: #676f65;
    --md-ref-palette-neutral-variant-47: #6a7268;
    --md-ref-palette-neutral-variant-48: #6c746a;
    --md-ref-palette-neutral-variant-49: #6f776d;
    --md-ref-palette-neutral-variant-50: #71796f;
    --md-ref-palette-neutral-variant-51: #747c72;
    --md-ref-palette-neutral-variant-52: #767e74;
    --md-ref-palette-neutral-variant-53: #798177;
    --md-ref-palette-neutral-variant-54: #7b8379;
    --md-ref-palette-neutral-variant-55: #7e867c;
    --md-ref-palette-neutral-variant-56: #81897e;
    --md-ref-palette-neutral-variant-57: #838b81;
    --md-ref-palette-neutral-variant-58: #868e83;
    --md-ref-palette-neutral-variant-59: #889086;
    --md-ref-palette-neutral-variant-60: #8b9388;
    --md-ref-palette-neutral-variant-61: #8e968b;
    --md-ref-palette-neutral-variant-62: #90988e;
    --md-ref-palette-neutral-variant-63: #939b90;
    --md-ref-palette-neutral-variant-64: #959d93;
    --md-ref-palette-neutral-variant-65: #98a095;
    --md-ref-palette-neutral-variant-66: #9ba398;
    --md-ref-palette-neutral-variant-67: #9da59b;
    --md-ref-palette-neutral-variant-68: #a0a89d;
    --md-ref-palette-neutral-variant-69: #a3aba0;
    --md-ref-palette-neutral-variant-70: #a5ada2;
    --md-ref-palette-neutral-variant-71: #a8b0a5;
    --md-ref-palette-neutral-variant-72: #abb3a8;
    --md-ref-palette-neutral-variant-73: #aeb6aa;
    --md-ref-palette-neutral-variant-74: #b0b8ad;
    --md-ref-palette-neutral-variant-75: #b3bbb0;
    --md-ref-palette-neutral-variant-76: #b6beb2;
    --md-ref-palette-neutral-variant-77: #b9c1b5;
    --md-ref-palette-neutral-variant-78: #bbc3b8;
    --md-ref-palette-neutral-variant-79: #bec6ba;
    --md-ref-palette-neutral-variant-80: #c1c9bd;
    --md-ref-palette-neutral-variant-81: #c4ccc0;
    --md-ref-palette-neutral-variant-82: #c6cec3;
    --md-ref-palette-neutral-variant-83: #c9d1c5;
    --md-ref-palette-neutral-variant-84: #ccd4c8;
    --md-ref-palette-neutral-variant-85: #cfd7cb;
    --md-ref-palette-neutral-variant-86: #d2dace;
    --md-ref-palette-neutral-variant-87: #d4dcd0;
    --md-ref-palette-neutral-variant-88: #d7dfd3;
    --md-ref-palette-neutral-variant-89: #dae2d6;
    --md-ref-palette-neutral-variant-90: #dde5d9;
    --md-ref-palette-neutral-variant-91: #e0e8dc;
    --md-ref-palette-neutral-variant-92: #e3ebde;
    --md-ref-palette-neutral-variant-93: #e5ede1;
    --md-ref-palette-neutral-variant-94: #e8f0e4;
    --md-ref-palette-neutral-variant-95: #ebf3e7;
    --md-ref-palette-neutral-variant-96: #eef6ea;
    --md-ref-palette-neutral-variant-97: #f1f9ec;
    --md-ref-palette-neutral-variant-98: #f4fcef;
    --md-ref-palette-neutral-variant-99: #f7fff2;
    --md-ref-palette-neutral-variant-100: #ffffff;
}