:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000501;
    --md-ref-palette-primary-2: #000a02;
    --md-ref-palette-primary-3: #000e02;
    --md-ref-palette-primary-4: #001203;
    --md-ref-palette-primary-5: #001504;
    --md-ref-palette-primary-10: #002108;
    --md-ref-palette-primary-20: #0f3819;
    --md-ref-palette-primary-30: #274f2e;
    --md-ref-palette-primary-40: #3f6743;
    --md-ref-palette-primary-50: #57815b;
    --md-ref-palette-primary-60: #709b73;
    --md-ref-palette-primary-70: #8ab68c;
    --md-ref-palette-primary-80: #a5d2a6;
    --md-ref-palette-primary-90: #c0eec0;
    --md-ref-palette-primary-95: #cefdce;
    --md-ref-palette-primary-96: #d3ffd2;
    --md-ref-palette-primary-97: #dfffdd;
    --md-ref-palette-primary-98: #ebffe7;
    --md-ref-palette-primary-99: #f6fff1;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000501;
    --md-ref-palette-secondary-2: #010a02;
    --md-ref-palette-secondary-3: #020e04;
    --md-ref-palette-secondary-4: #041106;
    --md-ref-palette-secondary-5: #061408;
    --md-ref-palette-secondary-10: #101f12;
    --md-ref-palette-secondary-20: #253425;
    --md-ref-palette-secondary-30: #3b4b3b;
    --md-ref-palette-secondary-40: #526351;
    --md-ref-palette-secondary-50: #6a7c69;
    --md-ref-palette-secondary-60: #849582;
    --md-ref-palette-secondary-70: #9eb09c;
    --md-ref-palette-secondary-80: #b9ccb6;
    --md-ref-palette-secondary-90: #d5e8d2;
    --md-ref-palette-secondary-95: #e3f6e0;
    --md-ref-palette-secondary-96: #e6f9e2;
    --md-ref-palette-secondary-97: #e9fce5;
    --md-ref-palette-secondary-98: #ecffe8;
    --md-ref-palette-secondary-99: #f6fff1;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0f0004;
    --md-ref-palette-tertiary-2: #190007;
    --md-ref-palette-tertiary-3: #20000b;
    --md-ref-palette-tertiary-4: #25010e;
    --md-ref-palette-tertiary-5: #280211;
    --md-ref-palette-tertiary-10: #360c1c;
    --md-ref-palette-tertiary-20: #502130;
    --md-ref-palette-tertiary-30: #6b3647;
    --md-ref-palette-tertiary-40: #864d5e;
    --md-ref-palette-tertiary-50: #a26577;
    --md-ref-palette-tertiary-60: #bf7e90;
    --md-ref-palette-tertiary-70: #dd98ab;
    --md-ref-palette-tertiary-80: #fbb3c6;
    --md-ref-palette-tertiary-90: #ffd9e1;
    --md-ref-palette-tertiary-95: #ffecef;
    --md-ref-palette-tertiary-96: #fff0f2;
    --md-ref-palette-tertiary-97: #fff4f5;
    --md-ref-palette-tertiary-98: #fff8f8;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030403;
    --md-ref-palette-neutral-2: #060806;
    --md-ref-palette-neutral-3: #090c09;
    --md-ref-palette-neutral-4: #0c0f0c;
    --md-ref-palette-neutral-5: #0f120f;
    --md-ref-palette-neutral-10: #1a1c19;
    --md-ref-palette-neutral-20: #2f312e;
    --md-ref-palette-neutral-30: #454744;
    --md-ref-palette-neutral-40: #5d5f5b;
    --md-ref-palette-neutral-50: #767873;
    --md-ref-palette-neutral-60: #90918d;
    --md-ref-palette-neutral-70: #aaaca7;
    --md-ref-palette-neutral-80: #c6c7c2;
    --md-ref-palette-neutral-90: #e2e3de;
    --md-ref-palette-neutral-95: #f0f1ec;
    --md-ref-palette-neutral-96: #f3f4ef;
    --md-ref-palette-neutral-97: #f6f7f1;
    --md-ref-palette-neutral-98: #f9faf4;
    --md-ref-palette-neutral-99: #fcfdf7;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #020402;
    --md-ref-palette-neutral-variant-2: #040904;
    --md-ref-palette-neutral-variant-3: #070c07;
    --md-ref-palette-neutral-variant-4: #09100a;
    --md-ref-palette-neutral-variant-5: #0c120c;
    --md-ref-palette-neutral-variant-10: #171d17;
    --md-ref-palette-neutral-variant-20: #2b322b;
    --md-ref-palette-neutral-variant-30: #424941;
    --md-ref-palette-neutral-variant-40: #596058;
    --md-ref-palette-neutral-variant-50: #727970;
    --md-ref-palette-neutral-variant-60: #8c9389;
    --md-ref-palette-neutral-variant-70: #a6ada3;
    --md-ref-palette-neutral-variant-80: #c2c9be;
    --md-ref-palette-neutral-variant-90: #dee5da;
    --md-ref-palette-neutral-variant-95: #ecf3e8;
    --md-ref-palette-neutral-variant-96: #eff6ea;
    --md-ref-palette-neutral-variant-97: #f2f9ed;
    --md-ref-palette-neutral-variant-98: #f5fbf0;
    --md-ref-palette-neutral-variant-99: #f8fef3;
    --md-ref-palette-neutral-variant-100: #ffffff;
}