:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000501;
    --md-ref-palette-primary-2: #000a02;
    --md-ref-palette-primary-3: #000e02;
    --md-ref-palette-primary-4: #001203;
    --md-ref-palette-primary-5: #001504;
    --md-ref-palette-primary-6: #001805;
    --md-ref-palette-primary-7: #001b05;
    --md-ref-palette-primary-8: #001d06;
    --md-ref-palette-primary-9: #001f07;
    --md-ref-palette-primary-10: #002108;
    --md-ref-palette-primary-11: #002409;
    --md-ref-palette-primary-12: #00260a;
    --md-ref-palette-primary-13: #00280b;
    --md-ref-palette-primary-14: #002b0c;
    --md-ref-palette-primary-15: #002d0d;
    --md-ref-palette-primary-16: #002f0e;
    --md-ref-palette-primary-17: #00320f;
    --md-ref-palette-primary-18: #003411;
    --md-ref-palette-primary-19: #003712;
    --md-ref-palette-primary-20: #003913;
    --md-ref-palette-primary-21: #003c14;
    --md-ref-palette-primary-22: #003e15;
    --md-ref-palette-primary-23: #004116;
    --md-ref-palette-primary-24: #004317;
    --md-ref-palette-primary-25: #004619;
    --md-ref-palette-primary-26: #00481a;
    --md-ref-palette-primary-27: #004b1b;
    --md-ref-palette-primary-28: #004d1c;
    --md-ref-palette-primary-29: #00501d;
    --md-ref-palette-primary-30: #00531f;
    --md-ref-palette-primary-31: #005520;
    --md-ref-palette-primary-32: #005821;
    --md-ref-palette-primary-33: #005b22;
    --md-ref-palette-primary-34: #005d24;
    --md-ref-palette-primary-35: #006025;
    --md-ref-palette-primary-36: #006326;
    --md-ref-palette-primary-37: #006527;
    --md-ref-palette-primary-38: #006829;
    --md-ref-palette-primary-39: #006b2a;
    --md-ref-palette-primary-40: #006e2b;
    --md-ref-palette-primary-41: #00702c;
    --md-ref-palette-primary-42: #00732e;
    --md-ref-palette-primary-43: #00762f;
    --md-ref-palette-primary-44: #007930;
    --md-ref-palette-primary-45: #007c32;
    --md-ref-palette-primary-46: #007e33;
    --md-ref-palette-primary-47: #008134;
    --md-ref-palette-primary-48: #008436;
    --md-ref-palette-primary-49: #008737;
    --md-ref-palette-primary-50: #078a39;
    --md-ref-palette-primary-51: #0e8c3b;
    --md-ref-palette-primary-52: #148f3e;
    --md-ref-palette-primary-53: #199240;
    --md-ref-palette-primary-54: #1e9442;
    --md-ref-palette-primary-55: #229745;
    --md-ref-palette-primary-56: #269a47;
    --md-ref-palette-primary-57: #2a9d49;
    --md-ref-palette-primary-58: #2d9f4c;
    --md-ref-palette-primary-59: #31a24e;
    --md-ref-palette-primary-60: #34a550;
    --md-ref-palette-primary-61: #37a753;
    --md-ref-palette-primary-62: #3aaa55;
    --md-ref-palette-primary-63: #3ead57;
    --md-ref-palette-primary-64: #41b05a;
    --md-ref-palette-primary-65: #44b35c;
    --md-ref-palette-primary-66: #47b55f;
    --md-ref-palette-primary-67: #4ab861;
    --md-ref-palette-primary-68: #4dbb63;
    --md-ref-palette-primary-69: #50be66;
    --md-ref-palette-primary-70: #53c168;
    --md-ref-palette-primary-71: #55c36b;
    --md-ref-palette-primary-72: #58c66d;
    --md-ref-palette-primary-73: #5bc970;
    --md-ref-palette-primary-74: #5ecc72;
    --md-ref-palette-primary-75: #61cf75;
    --md-ref-palette-primary-76: #64d277;
    --md-ref-palette-primary-77: #67d47a;
    --md-ref-palette-primary-78: #69d77c;
    --md-ref-palette-primary-79: #6cda7e;
    --md-ref-palette-primary-80: #6fdd81;
    --md-ref-palette-primary-81: #72e084;
    --md-ref-palette-primary-82: #75e386;
    --md-ref-palette-primary-83: #77e689;
    --md-ref-palette-primary-84: #7ae98b;
    --md-ref-palette-primary-85: #7deb8e;
    --md-ref-palette-primary-86: #80ee90;
    --md-ref-palette-primary-87: #83f193;
    --md-ref-palette-primary-88: #86f495;
    --md-ref-palette-primary-89: #88f798;
    --md-ref-palette-primary-90: #8bfa9b;
    --md-ref-palette-primary-91: #8efd9d;
    --md-ref-palette-primary-92: #97ffa3;
    --md-ref-palette-primary-93: #a8ffb0;
    --md-ref-palette-primary-94: #b8ffbb;
    --md-ref-palette-primary-95: #c6ffc7;
    --md-ref-palette-primary-96: #d3ffd2;
    --md-ref-palette-primary-97: #dfffdc;
    --md-ref-palette-primary-98: #ebffe7;
    --md-ref-palette-primary-99: #f6fff1;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000501;
    --md-ref-palette-secondary-2: #000a02;
    --md-ref-palette-secondary-3: #000e02;
    --md-ref-palette-secondary-4: #001203;
    --md-ref-palette-secondary-5: #001504;
    --md-ref-palette-secondary-6: #001805;
    --md-ref-palette-secondary-7: #001b05;
    --md-ref-palette-secondary-8: #001d06;
    --md-ref-palette-secondary-9: #001f07;
    --md-ref-palette-secondary-10: #002108;
    --md-ref-palette-secondary-11: #002409;
    --md-ref-palette-secondary-12: #00260a;
    --md-ref-palette-secondary-13: #00280b;
    --md-ref-palette-secondary-14: #022a0d;
    --md-ref-palette-secondary-15: #042d0f;
    --md-ref-palette-secondary-16: #062f11;
    --md-ref-palette-secondary-17: #083113;
    --md-ref-palette-secondary-18: #0b3315;
    --md-ref-palette-secondary-19: #0e3617;
    --md-ref-palette-secondary-20: #103819;
    --md-ref-palette-secondary-21: #133a1b;
    --md-ref-palette-secondary-22: #153c1d;
    --md-ref-palette-secondary-23: #183f1f;
    --md-ref-palette-secondary-24: #1a4121;
    --md-ref-palette-secondary-25: #1c4323;
    --md-ref-palette-secondary-26: #1f4625;
    --md-ref-palette-secondary-27: #214827;
    --md-ref-palette-secondary-28: #234a29;
    --md-ref-palette-secondary-29: #264d2b;
    --md-ref-palette-secondary-30: #284f2d;
    --md-ref-palette-secondary-31: #2a512f;
    --md-ref-palette-secondary-32: #2d5432;
    --md-ref-palette-secondary-33: #2f5634;
    --md-ref-palette-secondary-34: #315936;
    --md-ref-palette-secondary-35: #345b38;
    --md-ref-palette-secondary-36: #365d3a;
    --md-ref-palette-secondary-37: #38603d;
    --md-ref-palette-secondary-38: #3b623f;
    --md-ref-palette-secondary-39: #3d6541;
    --md-ref-palette-secondary-40: #406743;
    --md-ref-palette-secondary-41: #426a46;
    --md-ref-palette-secondary-42: #446c48;
    --md-ref-palette-secondary-43: #476f4a;
    --md-ref-palette-secondary-44: #49714c;
    --md-ref-palette-secondary-45: #4c744f;
    --md-ref-palette-secondary-46: #4e7651;
    --md-ref-palette-secondary-47: #507953;
    --md-ref-palette-secondary-48: #537c56;
    --md-ref-palette-secondary-49: #557e58;
    --md-ref-palette-secondary-50: #58815a;
    --md-ref-palette-secondary-51: #5a835d;
    --md-ref-palette-secondary-52: #5d865f;
    --md-ref-palette-secondary-53: #5f8862;
    --md-ref-palette-secondary-54: #628b64;
    --md-ref-palette-secondary-55: #648e66;
    --md-ref-palette-secondary-56: #679069;
    --md-ref-palette-secondary-57: #69936b;
    --md-ref-palette-secondary-58: #6c966e;
    --md-ref-palette-secondary-59: #6e9870;
    --md-ref-palette-secondary-60: #719b73;
    --md-ref-palette-secondary-61: #739e75;
    --md-ref-palette-secondary-62: #76a077;
    --md-ref-palette-secondary-63: #79a37a;
    --md-ref-palette-secondary-64: #7ba67c;
    --md-ref-palette-secondary-65: #7ea87f;
    --md-ref-palette-secondary-66: #80ab81;
    --md-ref-palette-secondary-67: #83ae84;
    --md-ref-palette-secondary-68: #86b087;
    --md-ref-palette-secondary-69: #88b389;
    --md-ref-palette-secondary-70: #8bb68c;
    --md-ref-palette-secondary-71: #8db98e;
    --md-ref-palette-secondary-72: #90bb91;
    --md-ref-palette-secondary-73: #93be93;
    --md-ref-palette-secondary-74: #95c196;
    --md-ref-palette-secondary-75: #98c498;
    --md-ref-palette-secondary-76: #9bc69b;
    --md-ref-palette-secondary-77: #9dc99e;
    --md-ref-palette-secondary-78: #a0cca0;
    --md-ref-palette-secondary-79: #a3cfa3;
    --md-ref-palette-secondary-80: #a5d2a6;
    --md-ref-palette-secondary-81: #a8d4a8;
    --md-ref-palette-secondary-82: #abd7ab;
    --md-ref-palette-secondary-83: #aedaad;
    --md-ref-palette-secondary-84: #b0ddb0;
    --md-ref-palette-secondary-85: #b3e0b3;
    --md-ref-palette-secondary-86: #b6e3b5;
    --md-ref-palette-secondary-87: #b8e5b8;
    --md-ref-palette-secondary-88: #bbe8bb;
    --md-ref-palette-secondary-89: #beebbd;
    --md-ref-palette-secondary-90: #c1eec0;
    --md-ref-palette-secondary-91: #c4f1c3;
    --md-ref-palette-secondary-92: #c6f4c6;
    --md-ref-palette-secondary-93: #c9f7c8;
    --md-ref-palette-secondary-94: #ccfacb;
    --md-ref-palette-secondary-95: #cffdce;
    --md-ref-palette-secondary-96: #d3ffd2;
    --md-ref-palette-secondary-97: #dfffdc;
    --md-ref-palette-secondary-98: #ebffe7;
    --md-ref-palette-secondary-99: #f6fff1;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0b0200;
    --md-ref-palette-tertiary-2: #130400;
    --md-ref-palette-tertiary-3: #1a0500;
    --md-ref-palette-tertiary-4: #1f0700;
    --md-ref-palette-tertiary-5: #230900;
    --md-ref-palette-tertiary-6: #270b00;
    --md-ref-palette-tertiary-7: #2a0d00;
    --md-ref-palette-tertiary-8: #2e0e00;
    --md-ref-palette-tertiary-9: #311000;
    --md-ref-palette-tertiary-10: #341100;
    --md-ref-palette-tertiary-11: #371300;
    --md-ref-palette-tertiary-12: #3a1400;
    --md-ref-palette-tertiary-13: #3d1600;
    --md-ref-palette-tertiary-14: #401801;
    --md-ref-palette-tertiary-15: #431a02;
    --md-ref-palette-tertiary-16: #451c03;
    --md-ref-palette-tertiary-17: #481e04;
    --md-ref-palette-tertiary-18: #4b2006;
    --md-ref-palette-tertiary-19: #4d2207;
    --md-ref-palette-tertiary-20: #502409;
    --md-ref-palette-tertiary-21: #53260b;
    --md-ref-palette-tertiary-22: #56280d;
    --md-ref-palette-tertiary-23: #582a0f;
    --md-ref-palette-tertiary-24: #5b2c11;
    --md-ref-palette-tertiary-25: #5e2f13;
    --md-ref-palette-tertiary-26: #603115;
    --md-ref-palette-tertiary-27: #633317;
    --md-ref-palette-tertiary-28: #66351a;
    --md-ref-palette-tertiary-29: #69371c;
    --md-ref-palette-tertiary-30: #6c3a1e;
    --md-ref-palette-tertiary-31: #6e3c20;
    --md-ref-palette-tertiary-32: #713e22;
    --md-ref-palette-tertiary-33: #744024;
    --md-ref-palette-tertiary-34: #774326;
    --md-ref-palette-tertiary-35: #7a4528;
    --md-ref-palette-tertiary-36: #7c472a;
    --md-ref-palette-tertiary-37: #7f492c;
    --md-ref-palette-tertiary-38: #824c2e;
    --md-ref-palette-tertiary-39: #854e30;
    --md-ref-palette-tertiary-40: #885033;
    --md-ref-palette-tertiary-41: #8b5335;
    --md-ref-palette-tertiary-42: #8d5537;
    --md-ref-palette-tertiary-43: #905839;
    --md-ref-palette-tertiary-44: #935a3b;
    --md-ref-palette-tertiary-45: #965c3d;
    --md-ref-palette-tertiary-46: #995f40;
    --md-ref-palette-tertiary-47: #9c6142;
    --md-ref-palette-tertiary-48: #9f6444;
    --md-ref-palette-tertiary-49: #a26646;
    --md-ref-palette-tertiary-50: #a56849;
    --md-ref-palette-tertiary-51: #a86b4b;
    --md-ref-palette-tertiary-52: #aa6d4d;
    --md-ref-palette-tertiary-53: #ad704f;
    --md-ref-palette-tertiary-54: #b07252;
    --md-ref-palette-tertiary-55: #b37554;
    --md-ref-palette-tertiary-56: #b67756;
    --md-ref-palette-tertiary-57: #b97a59;
    --md-ref-palette-tertiary-58: #bc7c5b;
    --md-ref-palette-tertiary-59: #bf7f5d;
    --md-ref-palette-tertiary-60: #c28160;
    --md-ref-palette-tertiary-61: #c58462;
    --md-ref-palette-tertiary-62: #c88665;
    --md-ref-palette-tertiary-63: #cb8967;
    --md-ref-palette-tertiary-64: #ce8c69;
    --md-ref-palette-tertiary-65: #d18e6c;
    --md-ref-palette-tertiary-66: #d4916e;
    --md-ref-palette-tertiary-67: #d79371;
    --md-ref-palette-tertiary-68: #da9673;
    --md-ref-palette-tertiary-69: #dd9975;
    --md-ref-palette-tertiary-70: #e09b78;
    --md-ref-palette-tertiary-71: #e39e7a;
    --md-ref-palette-tertiary-72: #e6a17d;
    --md-ref-palette-tertiary-73: #e9a37f;
    --md-ref-palette-tertiary-74: #eca682;
    --md-ref-palette-tertiary-75: #efa884;
    --md-ref-palette-tertiary-76: #f3ab87;
    --md-ref-palette-tertiary-77: #f6ae89;
    --md-ref-palette-tertiary-78: #f9b08c;
    --md-ref-palette-tertiary-79: #fcb38e;
    --md-ref-palette-tertiary-80: #ffb691;
    --md-ref-palette-tertiary-81: #ffba97;
    --md-ref-palette-tertiary-82: #ffbd9d;
    --md-ref-palette-tertiary-83: #ffc1a3;
    --md-ref-palette-tertiary-84: #ffc5a9;
    --md-ref-palette-tertiary-85: #ffc9ae;
    --md-ref-palette-tertiary-86: #ffccb4;
    --md-ref-palette-tertiary-87: #ffd0ba;
    --md-ref-palette-tertiary-88: #ffd4c0;
    --md-ref-palette-tertiary-89: #ffd8c5;
    --md-ref-palette-tertiary-90: #ffdbcb;
    --md-ref-palette-tertiary-91: #ffdfd0;
    --md-ref-palette-tertiary-92: #ffe2d6;
    --md-ref-palette-tertiary-93: #ffe6db;
    --md-ref-palette-tertiary-94: #ffeae0;
    --md-ref-palette-tertiary-95: #ffede6;
    --md-ref-palette-tertiary-96: #fff1eb;
    --md-ref-palette-tertiary-97: #fff4f0;
    --md-ref-palette-tertiary-98: #fff8f6;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #020402;
    --md-ref-palette-neutral-2: #040904;
    --md-ref-palette-neutral-3: #070c07;
    --md-ref-palette-neutral-4: #0a100a;
    --md-ref-palette-neutral-5: #0c120c;
    --md-ref-palette-neutral-6: #0f150f;
    --md-ref-palette-neutral-7: #111711;
    --md-ref-palette-neutral-8: #131913;
    --md-ref-palette-neutral-9: #151b15;
    --md-ref-palette-neutral-10: #171d17;
    --md-ref-palette-neutral-11: #191f19;
    --md-ref-palette-neutral-12: #1b211b;
    --md-ref-palette-neutral-13: #1d231d;
    --md-ref-palette-neutral-14: #1f251f;
    --md-ref-palette-neutral-15: #212721;
    --md-ref-palette-neutral-16: #232923;
    --md-ref-palette-neutral-17: #252c25;
    --md-ref-palette-neutral-18: #272e27;
    --md-ref-palette-neutral-19: #2a3029;
    --md-ref-palette-neutral-20: #2c322b;
    --md-ref-palette-neutral-21: #2e342d;
    --md-ref-palette-neutral-22: #30362f;
    --md-ref-palette-neutral-23: #323931;
    --md-ref-palette-neutral-24: #343b34;
    --md-ref-palette-neutral-25: #373d36;
    --md-ref-palette-neutral-26: #393f38;
    --md-ref-palette-neutral-27: #3b423a;
    --md-ref-palette-neutral-28: #3d443c;
    --md-ref-palette-neutral-29: #40463f;
    --md-ref-palette-neutral-30: #424841;
    --md-ref-palette-neutral-31: #444b43;
    --md-ref-palette-neutral-32: #474d45;
    --md-ref-palette-neutral-33: #494f48;
    --md-ref-palette-neutral-34: #4b524a;
    --md-ref-palette-neutral-35: #4e544c;
    --md-ref-palette-neutral-36: #50574e;
    --md-ref-palette-neutral-37: #525951;
    --md-ref-palette-neutral-38: #555b53;
    --md-ref-palette-neutral-39: #575e56;
    --md-ref-palette-neutral-40: #5a6058;
    --md-ref-palette-neutral-41: #5c635a;
    --md-ref-palette-neutral-42: #5e655d;
    --md-ref-palette-neutral-43: #61675f;
    --md-ref-palette-neutral-44: #636a61;
    --md-ref-palette-neutral-45: #666c64;
    --md-ref-palette-neutral-46: #686f66;
    --md-ref-palette-neutral-47: #6b7169;
    --md-ref-palette-neutral-48: #6d746b;
    --md-ref-palette-neutral-49: #70766e;
    --md-ref-palette-neutral-50: #727970;
    --md-ref-palette-neutral-51: #757b73;
    --md-ref-palette-neutral-52: #777e75;
    --md-ref-palette-neutral-53: #7a8178;
    --md-ref-palette-neutral-54: #7c837a;
    --md-ref-palette-neutral-55: #7f867d;
    --md-ref-palette-neutral-56: #82887f;
    --md-ref-palette-neutral-57: #848b82;
    --md-ref-palette-neutral-58: #878d84;
    --md-ref-palette-neutral-59: #899087;
    --md-ref-palette-neutral-60: #8c9389;
    --md-ref-palette-neutral-61: #8f958c;
    --md-ref-palette-neutral-62: #91988e;
    --md-ref-palette-neutral-63: #949a91;
    --md-ref-palette-neutral-64: #979d94;
    --md-ref-palette-neutral-65: #99a096;
    --md-ref-palette-neutral-66: #9ca299;
    --md-ref-palette-neutral-67: #9ea59b;
    --md-ref-palette-neutral-68: #a1a89e;
    --md-ref-palette-neutral-69: #a4aaa1;
    --md-ref-palette-neutral-70: #a7ada3;
    --md-ref-palette-neutral-71: #a9b0a6;
    --md-ref-palette-neutral-72: #acb3a9;
    --md-ref-palette-neutral-73: #afb5ab;
    --md-ref-palette-neutral-74: #b1b8ae;
    --md-ref-palette-neutral-75: #b4bbb1;
    --md-ref-palette-neutral-76: #b7bdb3;
    --md-ref-palette-neutral-77: #bac0b6;
    --md-ref-palette-neutral-78: #bcc3b9;
    --md-ref-palette-neutral-79: #bfc6bb;
    --md-ref-palette-neutral-80: #c2c8be;
    --md-ref-palette-neutral-81: #c5cbc1;
    --md-ref-palette-neutral-82: #c7cec4;
    --md-ref-palette-neutral-83: #cad1c6;
    --md-ref-palette-neutral-84: #cdd4c9;
    --md-ref-palette-neutral-85: #d0d6cc;
    --md-ref-palette-neutral-86: #d3d9cf;
    --md-ref-palette-neutral-87: #d6dcd1;
    --md-ref-palette-neutral-88: #d8dfd4;
    --md-ref-palette-neutral-89: #dbe2d7;
    --md-ref-palette-neutral-90: #dee4da;
    --md-ref-palette-neutral-91: #e1e7dd;
    --md-ref-palette-neutral-92: #e4eadf;
    --md-ref-palette-neutral-93: #e7ede2;
    --md-ref-palette-neutral-94: #e9f0e5;
    --md-ref-palette-neutral-95: #ecf3e8;
    --md-ref-palette-neutral-96: #eff6eb;
    --md-ref-palette-neutral-97: #f2f8ed;
    --md-ref-palette-neutral-98: #f5fbf0;
    --md-ref-palette-neutral-99: #f8fef3;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #000501;
    --md-ref-palette-neutral-variant-2: #020903;
    --md-ref-palette-neutral-variant-3: #040d05;
    --md-ref-palette-neutral-variant-4: #071007;
    --md-ref-palette-neutral-variant-5: #09130a;
    --md-ref-palette-neutral-variant-6: #0c160c;
    --md-ref-palette-neutral-variant-7: #0e180e;
    --md-ref-palette-neutral-variant-8: #101a10;
    --md-ref-palette-neutral-variant-9: #121c12;
    --md-ref-palette-neutral-variant-10: #141e14;
    --md-ref-palette-neutral-variant-11: #162016;
    --md-ref-palette-neutral-variant-12: #182218;
    --md-ref-palette-neutral-variant-13: #1a241a;
    --md-ref-palette-neutral-variant-14: #1c261c;
    --md-ref-palette-neutral-variant-15: #1e281e;
    --md-ref-palette-neutral-variant-16: #202b20;
    --md-ref-palette-neutral-variant-17: #222d22;
    --md-ref-palette-neutral-variant-18: #242f24;
    --md-ref-palette-neutral-variant-19: #263126;
    --md-ref-palette-neutral-variant-20: #283328;
    --md-ref-palette-neutral-variant-21: #2a352a;
    --md-ref-palette-neutral-variant-22: #2d382c;
    --md-ref-palette-neutral-variant-23: #2f3a2e;
    --md-ref-palette-neutral-variant-24: #313c30;
    --md-ref-palette-neutral-variant-25: #333e33;
    --md-ref-palette-neutral-variant-26: #354135;
    --md-ref-palette-neutral-variant-27: #384337;
    --md-ref-palette-neutral-variant-28: #3a4539;
    --md-ref-palette-neutral-variant-29: #3c473b;
    --md-ref-palette-neutral-variant-30: #3e4a3e;
    --md-ref-palette-neutral-variant-31: #414c40;
    --md-ref-palette-neutral-variant-32: #434e42;
    --md-ref-palette-neutral-variant-33: #455144;
    --md-ref-palette-neutral-variant-34: #485347;
    --md-ref-palette-neutral-variant-35: #4a5549;
    --md-ref-palette-neutral-variant-36: #4c584b;
    --md-ref-palette-neutral-variant-37: #4f5a4d;
    --md-ref-palette-neutral-variant-38: #515d50;
    --md-ref-palette-neutral-variant-39: #535f52;
    --md-ref-palette-neutral-variant-40: #566154;
    --md-ref-palette-neutral-variant-41: #586457;
    --md-ref-palette-neutral-variant-42: #5b6659;
    --md-ref-palette-neutral-variant-43: #5d695c;
    --md-ref-palette-neutral-variant-44: #5f6b5e;
    --md-ref-palette-neutral-variant-45: #626e60;
    --md-ref-palette-neutral-variant-46: #647063;
    --md-ref-palette-neutral-variant-47: #677365;
    --md-ref-palette-neutral-variant-48: #697568;
    --md-ref-palette-neutral-variant-49: #6c786a;
    --md-ref-palette-neutral-variant-50: #6e7a6c;
    --md-ref-palette-neutral-variant-51: #717d6f;
    --md-ref-palette-neutral-variant-52: #737f71;
    --md-ref-palette-neutral-variant-53: #768274;
    --md-ref-palette-neutral-variant-54: #788476;
    --md-ref-palette-neutral-variant-55: #7b8779;
    --md-ref-palette-neutral-variant-56: #7d8a7b;
    --md-ref-palette-neutral-variant-57: #808c7e;
    --md-ref-palette-neutral-variant-58: #838f80;
    --md-ref-palette-neutral-variant-59: #859183;
    --md-ref-palette-neutral-variant-60: #889485;
    --md-ref-palette-neutral-variant-61: #8a9788;
    --md-ref-palette-neutral-variant-62: #8d998b;
    --md-ref-palette-neutral-variant-63: #909c8d;
    --md-ref-palette-neutral-variant-64: #929f90;
    --md-ref-palette-neutral-variant-65: #95a192;
    --md-ref-palette-neutral-variant-66: #98a495;
    --md-ref-palette-neutral-variant-67: #9aa798;
    --md-ref-palette-neutral-variant-68: #9da99a;
    --md-ref-palette-neutral-variant-69: #a0ac9d;
    --md-ref-palette-neutral-variant-70: #a2af9f;
    --md-ref-palette-neutral-variant-71: #a5b1a2;
    --md-ref-palette-neutral-variant-72: #a8b4a5;
    --md-ref-palette-neutral-variant-73: #aab7a7;
    --md-ref-palette-neutral-variant-74: #adbaaa;
    --md-ref-palette-neutral-variant-75: #b0bcad;
    --md-ref-palette-neutral-variant-76: #b2bfaf;
    --md-ref-palette-neutral-variant-77: #b5c2b2;
    --md-ref-palette-neutral-variant-78: #b8c4b5;
    --md-ref-palette-neutral-variant-79: #bbc7b7;
    --md-ref-palette-neutral-variant-80: #bdcaba;
    --md-ref-palette-neutral-variant-81: #c0cdbd;
    --md-ref-palette-neutral-variant-82: #c3d0c0;
    --md-ref-palette-neutral-variant-83: #c6d2c2;
    --md-ref-palette-neutral-variant-84: #c9d5c5;
    --md-ref-palette-neutral-variant-85: #cbd8c8;
    --md-ref-palette-neutral-variant-86: #cedbca;
    --md-ref-palette-neutral-variant-87: #d1decd;
    --md-ref-palette-neutral-variant-88: #d4e0d0;
    --md-ref-palette-neutral-variant-89: #d7e3d3;
    --md-ref-palette-neutral-variant-90: #d9e6d6;
    --md-ref-palette-neutral-variant-91: #dce9d8;
    --md-ref-palette-neutral-variant-92: #dfecdb;
    --md-ref-palette-neutral-variant-93: #e2efde;
    --md-ref-palette-neutral-variant-94: #e5f2e1;
    --md-ref-palette-neutral-variant-95: #e8f4e3;
    --md-ref-palette-neutral-variant-96: #ebf7e6;
    --md-ref-palette-neutral-variant-97: #edfae9;
    --md-ref-palette-neutral-variant-98: #f0fdec;
    --md-ref-palette-neutral-variant-99: #f6fff1;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
