:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000501;
    --md-ref-palette-primary-2: #000a02;
    --md-ref-palette-primary-3: #000e02;
    --md-ref-palette-primary-4: #001203;
    --md-ref-palette-primary-5: #001504;
    --md-ref-palette-primary-10: #002108;
    --md-ref-palette-primary-20: #003913;
    --md-ref-palette-primary-30: #1d5128;
    --md-ref-palette-primary-40: #36693d;
    --md-ref-palette-primary-50: #4f8354;
    --md-ref-palette-primary-60: #689d6c;
    --md-ref-palette-primary-70: #82b885;
    --md-ref-palette-primary-80: #9cd49f;
    --md-ref-palette-primary-90: #b7f1b9;
    --md-ref-palette-primary-95: #c6ffc7;
    --md-ref-palette-primary-96: #d3ffd2;
    --md-ref-palette-primary-97: #dfffdd;
    --md-ref-palette-primary-98: #ebffe7;
    --md-ref-palette-primary-99: #f6fff1;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000501;
    --md-ref-palette-secondary-2: #000a02;
    --md-ref-palette-secondary-3: #000e03;
    --md-ref-palette-secondary-4: #021204;
    --md-ref-palette-secondary-5: #031506;
    --md-ref-palette-secondary-10: #0d200f;
    --md-ref-palette-secondary-20: #223523;
    --md-ref-palette-secondary-30: #384c38;
    --md-ref-palette-secondary-40: #4f644f;
    --md-ref-palette-secondary-50: #677d66;
    --md-ref-palette-secondary-60: #80977f;
    --md-ref-palette-secondary-70: #9bb199;
    --md-ref-palette-secondary-80: #b6cdb3;
    --md-ref-palette-secondary-90: #d1e9ce;
    --md-ref-palette-secondary-95: #dff7dc;
    --md-ref-palette-secondary-96: #e2fadf;
    --md-ref-palette-secondary-97: #e5fde2;
    --md-ref-palette-secondary-98: #ebffe7;
    --md-ref-palette-secondary-99: #f6fff1;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0f0004;
    --md-ref-palette-tertiary-2: #190007;
    --md-ref-palette-tertiary-3: #20000b;
    --md-ref-palette-tertiary-4: #26000e;
    --md-ref-palette-tertiary-5: #2b0011;
    --md-ref-palette-tertiary-10: #3a061b;
    --md-ref-palette-tertiary-20: #551c30;
    --md-ref-palette-tertiary-30: #713246;
    --md-ref-palette-tertiary-40: #8d495e;
    --md-ref-palette-tertiary-50: #aa6177;
    --md-ref-palette-tertiary-60: #c77a90;
    --md-ref-palette-tertiary-70: #e594aa;
    --md-ref-palette-tertiary-80: #ffb1c6;
    --md-ref-palette-tertiary-90: #ffd9e1;
    --md-ref-palette-tertiary-95: #ffecef;
    --md-ref-palette-tertiary-96: #fff0f2;
    --md-ref-palette-tertiary-97: #fff4f5;
    --md-ref-palette-tertiary-98: #fff8f8;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030403;
    --md-ref-palette-neutral-2: #060805;
    --md-ref-palette-neutral-3: #090c09;
    --md-ref-palette-neutral-4: #0c0f0c;
    --md-ref-palette-neutral-5: #0f120e;
    --md-ref-palette-neutral-10: #191c19;
    --md-ref-palette-neutral-20: #2e312d;
    --md-ref-palette-neutral-30: #454843;
    --md-ref-palette-neutral-40: #5c5f5a;
    --md-ref-palette-neutral-50: #757873;
    --md-ref-palette-neutral-60: #8f918c;
    --md-ref-palette-neutral-70: #aaaca6;
    --md-ref-palette-neutral-80: #c5c7c1;
    --md-ref-palette-neutral-90: #e1e3dd;
    --md-ref-palette-neutral-95: #f0f1eb;
    --md-ref-palette-neutral-96: #f3f4ee;
    --md-ref-palette-neutral-97: #f5f7f1;
    --md-ref-palette-neutral-98: #f8faf3;
    --md-ref-palette-neutral-99: #fbfdf6;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #010502;
    --md-ref-palette-neutral-variant-2: #040904;
    --md-ref-palette-neutral-variant-3: #060d07;
    --md-ref-palette-neutral-variant-4: #091009;
    --md-ref-palette-neutral-variant-5: #0c130c;
    --md-ref-palette-neutral-variant-10: #161d16;
    --md-ref-palette-neutral-variant-20: #2b322a;
    --md-ref-palette-neutral-variant-30: #414940;
    --md-ref-palette-neutral-variant-40: #596057;
    --md-ref-palette-neutral-variant-50: #71796f;
    --md-ref-palette-neutral-variant-60: #8b9388;
    --md-ref-palette-neutral-variant-70: #a5ada2;
    --md-ref-palette-neutral-variant-80: #c1c9bd;
    --md-ref-palette-neutral-variant-90: #dde5d9;
    --md-ref-palette-neutral-variant-95: #ebf3e7;
    --md-ref-palette-neutral-variant-96: #eef6ea;
    --md-ref-palette-neutral-variant-97: #f1f9ec;
    --md-ref-palette-neutral-variant-98: #f4fcef;
    --md-ref-palette-neutral-variant-99: #f7fff2;
    --md-ref-palette-neutral-variant-100: #ffffff;
}