:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000503;
    --md-ref-palette-primary-2: #000a07;
    --md-ref-palette-primary-3: #000e0a;
    --md-ref-palette-primary-4: #00110d;
    --md-ref-palette-primary-5: #001410;
    --md-ref-palette-primary-10: #00201a;
    --md-ref-palette-primary-20: #00382f;
    --md-ref-palette-primary-30: #005144;
    --md-ref-palette-primary-40: #006b5b;
    --md-ref-palette-primary-50: #018673;
    --md-ref-palette-primary-60: #35a18d;
    --md-ref-palette-primary-70: #55bca7;
    --md-ref-palette-primary-80: #72d8c2;
    --md-ref-palette-primary-90: #8ff5de;
    --md-ref-palette-primary-95: #b6ffed;
    --md-ref-palette-primary-96: #c7fff0;
    --md-ref-palette-primary-97: #d7fff3;
    --md-ref-palette-primary-98: #e5fff7;
    --md-ref-palette-primary-99: #f3fffa;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000503;
    --md-ref-palette-secondary-2: #000a07;
    --md-ref-palette-secondary-3: #000e0a;
    --md-ref-palette-secondary-4: #00110d;
    --md-ref-palette-secondary-5: #001410;
    --md-ref-palette-secondary-10: #00201a;
    --md-ref-palette-secondary-20: #11362f;
    --md-ref-palette-secondary-30: #294d45;
    --md-ref-palette-secondary-40: #41655c;
    --md-ref-palette-secondary-50: #5a7e75;
    --md-ref-palette-secondary-60: #73988e;
    --md-ref-palette-secondary-70: #8db3a9;
    --md-ref-palette-secondary-80: #a8cfc4;
    --md-ref-palette-secondary-90: #c3ebdf;
    --md-ref-palette-secondary-95: #d2f9ee;
    --md-ref-palette-secondary-96: #d4fcf0;
    --md-ref-palette-secondary-97: #d7fff3;
    --md-ref-palette-secondary-98: #e5fff7;
    --md-ref-palette-secondary-99: #f3fffa;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0e0100;
    --md-ref-palette-tertiary-2: #170200;
    --md-ref-palette-tertiary-3: #1e0200;
    --md-ref-palette-tertiary-4: #240300;
    --md-ref-palette-tertiary-5: #290400;
    --md-ref-palette-tertiary-10: #3c0800;
    --md-ref-palette-tertiary-20: #5a1b0b;
    --md-ref-palette-tertiary-30: #77311f;
    --md-ref-palette-tertiary-40: #954833;
    --md-ref-palette-tertiary-50: #b45f49;
    --md-ref-palette-tertiary-60: #d37861;
    --md-ref-palette-tertiary-70: #f29279;
    --md-ref-palette-tertiary-80: #ffb4a1;
    --md-ref-palette-tertiary-90: #ffdbd2;
    --md-ref-palette-tertiary-95: #ffede9;
    --md-ref-palette-tertiary-96: #fff1ed;
    --md-ref-palette-tertiary-97: #fff4f2;
    --md-ref-palette-tertiary-98: #fff8f6;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #020404;
    --md-ref-palette-neutral-2: #040807;
    --md-ref-palette-neutral-3: #070c0b;
    --md-ref-palette-neutral-4: #0a0f0e;
    --md-ref-palette-neutral-5: #0d1210;
    --md-ref-palette-neutral-10: #171d1b;
    --md-ref-palette-neutral-20: #2c3130;
    --md-ref-palette-neutral-30: #434846;
    --md-ref-palette-neutral-40: #5a605d;
    --md-ref-palette-neutral-50: #737876;
    --md-ref-palette-neutral-60: #8d928f;
    --md-ref-palette-neutral-70: #a7acaa;
    --md-ref-palette-neutral-80: #c3c8c5;
    --md-ref-palette-neutral-90: #dfe4e1;
    --md-ref-palette-neutral-95: #edf2ef;
    --md-ref-palette-neutral-96: #f0f5f2;
    --md-ref-palette-neutral-97: #f3f8f4;
    --md-ref-palette-neutral-98: #f6faf7;
    --md-ref-palette-neutral-99: #f9fdfa;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #000503;
    --md-ref-palette-neutral-variant-2: #020907;
    --md-ref-palette-neutral-variant-3: #040d0a;
    --md-ref-palette-neutral-variant-4: #06100e;
    --md-ref-palette-neutral-variant-5: #081310;
    --md-ref-palette-neutral-variant-10: #131e1b;
    --md-ref-palette-neutral-variant-20: #273330;
    --md-ref-palette-neutral-variant-30: #3e4946;
    --md-ref-palette-neutral-variant-40: #55615d;
    --md-ref-palette-neutral-variant-50: #6d7a76;
    --md-ref-palette-neutral-variant-60: #87938f;
    --md-ref-palette-neutral-variant-70: #a1aea9;
    --md-ref-palette-neutral-variant-80: #bdc9c4;
    --md-ref-palette-neutral-variant-90: #d9e5e0;
    --md-ref-palette-neutral-variant-95: #e7f4ee;
    --md-ref-palette-neutral-variant-96: #eaf6f1;
    --md-ref-palette-neutral-variant-97: #edf9f4;
    --md-ref-palette-neutral-variant-98: #effcf7;
    --md-ref-palette-neutral-variant-99: #f3fffa;
    --md-ref-palette-neutral-variant-100: #ffffff;
}