:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000506;
    --md-ref-palette-primary-2: #00090b;
    --md-ref-palette-primary-3: #000d10;
    --md-ref-palette-primary-4: #001114;
    --md-ref-palette-primary-5: #001417;
    --md-ref-palette-primary-6: #00161a;
    --md-ref-palette-primary-7: #00191c;
    --md-ref-palette-primary-8: #001b1f;
    --md-ref-palette-primary-9: #001d21;
    --md-ref-palette-primary-10: #001f24;
    --md-ref-palette-primary-11: #002226;
    --md-ref-palette-primary-12: #002428;
    --md-ref-palette-primary-13: #00262b;
    --md-ref-palette-primary-14: #00282d;
    --md-ref-palette-primary-15: #002b30;
    --md-ref-palette-primary-16: #002d32;
    --md-ref-palette-primary-17: #002f35;
    --md-ref-palette-primary-18: #003237;
    --md-ref-palette-primary-19: #00343a;
    --md-ref-palette-primary-20: #00363c;
    --md-ref-palette-primary-21: #00393f;
    --md-ref-palette-primary-22: #003b42;
    --md-ref-palette-primary-23: #003d44;
    --md-ref-palette-primary-24: #004047;
    --md-ref-palette-primary-25: #00424a;
    --md-ref-palette-primary-26: #00454c;
    --md-ref-palette-primary-27: #00474f;
    --md-ref-palette-primary-28: #004a52;
    --md-ref-palette-primary-29: #004c54;
    --md-ref-palette-primary-30: #004f57;
    --md-ref-palette-primary-31: #01515a;
    --md-ref-palette-primary-32: #06545c;
    --md-ref-palette-primary-33: #0b565f;
    --md-ref-palette-primary-34: #105861;
    --md-ref-palette-primary-35: #145b64;
    --md-ref-palette-primary-36: #185d66;
    --md-ref-palette-primary-37: #1b6068;
    --md-ref-palette-primary-38: #1f626b;
    --md-ref-palette-primary-39: #22646d;
    --md-ref-palette-primary-40: #256770;
    --md-ref-palette-primary-41: #286972;
    --md-ref-palette-primary-42: #2b6c75;
    --md-ref-palette-primary-43: #2e6e77;
    --md-ref-palette-primary-44: #31717a;
    --md-ref-palette-primary-45: #34737c;
    --md-ref-palette-primary-46: #37767f;
    --md-ref-palette-primary-47: #397882;
    --md-ref-palette-primary-48: #3c7b84;
    --md-ref-palette-primary-49: #3f7e87;
    --md-ref-palette-primary-50: #428089;
    --md-ref-palette-primary-51: #44838c;
    --md-ref-palette-primary-52: #47858f;
    --md-ref-palette-primary-53: #4a8891;
    --md-ref-palette-primary-54: #4c8a94;
    --md-ref-palette-primary-55: #4f8d96;
    --md-ref-palette-primary-56: #529099;
    --md-ref-palette-primary-57: #55929c;
    --md-ref-palette-primary-58: #57959e;
    --md-ref-palette-primary-59: #5a97a1;
    --md-ref-palette-primary-60: #5d9aa4;
    --md-ref-palette-primary-61: #5f9da6;
    --md-ref-palette-primary-62: #629fa9;
    --md-ref-palette-primary-63: #65a2ac;
    --md-ref-palette-primary-64: #67a5ae;
    --md-ref-palette-primary-65: #6aa7b1;
    --md-ref-palette-primary-66: #6daab4;
    --md-ref-palette-primary-67: #6fadb7;
    --md-ref-palette-primary-68: #72b0b9;
    --md-ref-palette-primary-69: #75b2bc;
    --md-ref-palette-primary-70: #77b5bf;
    --md-ref-palette-primary-71: #7ab8c2;
    --md-ref-palette-primary-72: #7dbac4;
    --md-ref-palette-primary-73: #80bdc7;
    --md-ref-palette-primary-74: #82c0ca;
    --md-ref-palette-primary-75: #85c3cd;
    --md-ref-palette-primary-76: #88c5cf;
    --md-ref-palette-primary-77: #8ac8d2;
    --md-ref-palette-primary-78: #8dcbd5;
    --md-ref-palette-primary-79: #90ced8;
    --md-ref-palette-primary-80: #93d1db;
    --md-ref-palette-primary-81: #95d3dd;
    --md-ref-palette-primary-82: #98d6e0;
    --md-ref-palette-primary-83: #9bd9e3;
    --md-ref-palette-primary-84: #9edce6;
    --md-ref-palette-primary-85: #a0dfe9;
    --md-ref-palette-primary-86: #a3e2ec;
    --md-ref-palette-primary-87: #a6e4ef;
    --md-ref-palette-primary-88: #a9e7f1;
    --md-ref-palette-primary-89: #aceaf4;
    --md-ref-palette-primary-90: #aeedf7;
    --md-ref-palette-primary-91: #b1f0fa;
    --md-ref-palette-primary-92: #b4f3fd;
    --md-ref-palette-primary-93: #b9f5ff;
    --md-ref-palette-primary-94: #c4f7ff;
    --md-ref-palette-primary-95: #cff8ff;
    --md-ref-palette-primary-96: #d9f9ff;
    --md-ref-palette-primary-97: #e3fbff;
    --md-ref-palette-primary-98: #ecfcff;
    --md-ref-palette-primary-99: #f6feff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000506;
    --md-ref-palette-secondary-2: #00090b;
    --md-ref-palette-secondary-3: #000d10;
    --md-ref-palette-secondary-4: #001114;
    --md-ref-palette-secondary-5: #001417;
    --md-ref-palette-secondary-6: #01161a;
    --md-ref-palette-secondary-7: #02191c;
    --md-ref-palette-secondary-8: #041b1e;
    --md-ref-palette-secondary-9: #051d20;
    --md-ref-palette-secondary-10: #071f22;
    --md-ref-palette-secondary-11: #0a2124;
    --md-ref-palette-secondary-12: #0c2326;
    --md-ref-palette-secondary-13: #0e2528;
    --md-ref-palette-secondary-14: #10272a;
    --md-ref-palette-secondary-15: #13292c;
    --md-ref-palette-secondary-16: #152b2f;
    --md-ref-palette-secondary-17: #172d31;
    --md-ref-palette-secondary-18: #192f33;
    --md-ref-palette-secondary-19: #1c3235;
    --md-ref-palette-secondary-20: #1e3437;
    --md-ref-palette-secondary-21: #203639;
    --md-ref-palette-secondary-22: #22383c;
    --md-ref-palette-secondary-23: #253a3e;
    --md-ref-palette-secondary-24: #273d40;
    --md-ref-palette-secondary-25: #293f42;
    --md-ref-palette-secondary-26: #2b4145;
    --md-ref-palette-secondary-27: #2e4347;
    --md-ref-palette-secondary-28: #304649;
    --md-ref-palette-secondary-29: #32484c;
    --md-ref-palette-secondary-30: #344a4e;
    --md-ref-palette-secondary-31: #374d50;
    --md-ref-palette-secondary-32: #394f53;
    --md-ref-palette-secondary-33: #3b5155;
    --md-ref-palette-secondary-34: #3e5457;
    --md-ref-palette-secondary-35: #40565a;
    --md-ref-palette-secondary-36: #42585c;
    --md-ref-palette-secondary-37: #455b5f;
    --md-ref-palette-secondary-38: #475d61;
    --md-ref-palette-secondary-39: #496063;
    --md-ref-palette-secondary-40: #4c6266;
    --md-ref-palette-secondary-41: #4e6568;
    --md-ref-palette-secondary-42: #51676b;
    --md-ref-palette-secondary-43: #53696d;
    --md-ref-palette-secondary-44: #566c70;
    --md-ref-palette-secondary-45: #586e72;
    --md-ref-palette-secondary-46: #5a7175;
    --md-ref-palette-secondary-47: #5d7377;
    --md-ref-palette-secondary-48: #5f767a;
    --md-ref-palette-secondary-49: #62787c;
    --md-ref-palette-secondary-50: #647b7f;
    --md-ref-palette-secondary-51: #677e81;
    --md-ref-palette-secondary-52: #698084;
    --md-ref-palette-secondary-53: #6c8386;
    --md-ref-palette-secondary-54: #6e8589;
    --md-ref-palette-secondary-55: #71888c;
    --md-ref-palette-secondary-56: #738a8e;
    --md-ref-palette-secondary-57: #768d91;
    --md-ref-palette-secondary-58: #799093;
    --md-ref-palette-secondary-59: #7b9296;
    --md-ref-palette-secondary-60: #7e9599;
    --md-ref-palette-secondary-61: #80979b;
    --md-ref-palette-secondary-62: #839a9e;
    --md-ref-palette-secondary-63: #859da1;
    --md-ref-palette-secondary-64: #889fa3;
    --md-ref-palette-secondary-65: #8ba2a6;
    --md-ref-palette-secondary-66: #8da5a9;
    --md-ref-palette-secondary-67: #90a7ab;
    --md-ref-palette-secondary-68: #93aaae;
    --md-ref-palette-secondary-69: #95adb1;
    --md-ref-palette-secondary-70: #98afb3;
    --md-ref-palette-secondary-71: #9bb2b6;
    --md-ref-palette-secondary-72: #9db5b9;
    --md-ref-palette-secondary-73: #a0b8bc;
    --md-ref-palette-secondary-74: #a3babe;
    --md-ref-palette-secondary-75: #a5bdc1;
    --md-ref-palette-secondary-76: #a8c0c4;
    --md-ref-palette-secondary-77: #abc2c7;
    --md-ref-palette-secondary-78: #adc5c9;
    --md-ref-palette-secondary-79: #b0c8cc;
    --md-ref-palette-secondary-80: #b3cbcf;
    --md-ref-palette-secondary-81: #b6ced2;
    --md-ref-palette-secondary-82: #b8d0d4;
    --md-ref-palette-secondary-83: #bbd3d7;
    --md-ref-palette-secondary-84: #bed6da;
    --md-ref-palette-secondary-85: #c1d9dd;
    --md-ref-palette-secondary-86: #c3dce0;
    --md-ref-palette-secondary-87: #c6dee3;
    --md-ref-palette-secondary-88: #c9e1e5;
    --md-ref-palette-secondary-89: #cce4e8;
    --md-ref-palette-secondary-90: #cfe7eb;
    --md-ref-palette-secondary-91: #d1eaee;
    --md-ref-palette-secondary-92: #d4edf1;
    --md-ref-palette-secondary-93: #d7eff4;
    --md-ref-palette-secondary-94: #daf2f6;
    --md-ref-palette-secondary-95: #ddf5f9;
    --md-ref-palette-secondary-96: #e0f8fc;
    --md-ref-palette-secondary-97: #e3fbff;
    --md-ref-palette-secondary-98: #ecfcff;
    --md-ref-palette-secondary-99: #f6feff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0a0200;
    --md-ref-palette-tertiary-2: #130400;
    --md-ref-palette-tertiary-3: #190600;
    --md-ref-palette-tertiary-4: #1d0800;
    --md-ref-palette-tertiary-5: #220a00;
    --md-ref-palette-tertiary-6: #250c00;
    --md-ref-palette-tertiary-7: #290e00;
    --md-ref-palette-tertiary-8: #2c0f00;
    --md-ref-palette-tertiary-9: #2f1100;
    --md-ref-palette-tertiary-10: #321200;
    --md-ref-palette-tertiary-11: #351400;
    --md-ref-palette-tertiary-12: #381500;
    --md-ref-palette-tertiary-13: #3c1700;
    --md-ref-palette-tertiary-14: #3f1900;
    --md-ref-palette-tertiary-15: #411b01;
    --md-ref-palette-tertiary-16: #441d02;
    --md-ref-palette-tertiary-17: #471f03;
    --md-ref-palette-tertiary-18: #492105;
    --md-ref-palette-tertiary-19: #4c2306;
    --md-ref-palette-tertiary-20: #4f2508;
    --md-ref-palette-tertiary-21: #51270a;
    --md-ref-palette-tertiary-22: #54290c;
    --md-ref-palette-tertiary-23: #572b0e;
    --md-ref-palette-tertiary-24: #592e10;
    --md-ref-palette-tertiary-25: #5c3012;
    --md-ref-palette-tertiary-26: #5f3214;
    --md-ref-palette-tertiary-27: #623416;
    --md-ref-palette-tertiary-28: #643618;
    --md-ref-palette-tertiary-29: #67381a;
    --md-ref-palette-tertiary-30: #6a3b1c;
    --md-ref-palette-tertiary-31: #6d3d1e;
    --md-ref-palette-tertiary-32: #6f3f20;
    --md-ref-palette-tertiary-33: #724122;
    --md-ref-palette-tertiary-34: #754424;
    --md-ref-palette-tertiary-35: #784627;
    --md-ref-palette-tertiary-36: #7a4829;
    --md-ref-palette-tertiary-37: #7d4b2b;
    --md-ref-palette-tertiary-38: #804d2d;
    --md-ref-palette-tertiary-39: #834f2f;
    --md-ref-palette-tertiary-40: #865231;
    --md-ref-palette-tertiary-41: #895433;
    --md-ref-palette-tertiary-42: #8b5635;
    --md-ref-palette-tertiary-43: #8e5938;
    --md-ref-palette-tertiary-44: #915b3a;
    --md-ref-palette-tertiary-45: #945e3c;
    --md-ref-palette-tertiary-46: #97603e;
    --md-ref-palette-tertiary-47: #9a6240;
    --md-ref-palette-tertiary-48: #9d6543;
    --md-ref-palette-tertiary-49: #a06745;
    --md-ref-palette-tertiary-50: #a26a47;
    --md-ref-palette-tertiary-51: #a56c49;
    --md-ref-palette-tertiary-52: #a86f4c;
    --md-ref-palette-tertiary-53: #ab714e;
    --md-ref-palette-tertiary-54: #ae7450;
    --md-ref-palette-tertiary-55: #b17653;
    --md-ref-palette-tertiary-56: #b47955;
    --md-ref-palette-tertiary-57: #b77b57;
    --md-ref-palette-tertiary-58: #ba7e5a;
    --md-ref-palette-tertiary-59: #bd805c;
    --md-ref-palette-tertiary-60: #c0835e;
    --md-ref-palette-tertiary-61: #c38561;
    --md-ref-palette-tertiary-62: #c68863;
    --md-ref-palette-tertiary-63: #c98a65;
    --md-ref-palette-tertiary-64: #cc8d68;
    --md-ref-palette-tertiary-65: #cf906a;
    --md-ref-palette-tertiary-66: #d2926d;
    --md-ref-palette-tertiary-67: #d5956f;
    --md-ref-palette-tertiary-68: #d89771;
    --md-ref-palette-tertiary-69: #db9a74;
    --md-ref-palette-tertiary-70: #de9d76;
    --md-ref-palette-tertiary-71: #e19f79;
    --md-ref-palette-tertiary-72: #e4a27b;
    --md-ref-palette-tertiary-73: #e7a47e;
    --md-ref-palette-tertiary-74: #eaa780;
    --md-ref-palette-tertiary-75: #edaa83;
    --md-ref-palette-tertiary-76: #f0ac85;
    --md-ref-palette-tertiary-77: #f3af88;
    --md-ref-palette-tertiary-78: #f6b28a;
    --md-ref-palette-tertiary-79: #f9b58d;
    --md-ref-palette-tertiary-80: #fcb78f;
    --md-ref-palette-tertiary-81: #ffba92;
    --md-ref-palette-tertiary-82: #ffbe98;
    --md-ref-palette-tertiary-83: #ffc29f;
    --md-ref-palette-tertiary-84: #ffc5a5;
    --md-ref-palette-tertiary-85: #ffc9ab;
    --md-ref-palette-tertiary-86: #ffcdb1;
    --md-ref-palette-tertiary-87: #ffd0b7;
    --md-ref-palette-tertiary-88: #ffd4bd;
    --md-ref-palette-tertiary-89: #ffd8c3;
    --md-ref-palette-tertiary-90: #ffdbc9;
    --md-ref-palette-tertiary-91: #ffdfce;
    --md-ref-palette-tertiary-92: #ffe3d4;
    --md-ref-palette-tertiary-93: #ffe6da;
    --md-ref-palette-tertiary-94: #ffeadf;
    --md-ref-palette-tertiary-95: #ffede5;
    --md-ref-palette-tertiary-96: #fff1ea;
    --md-ref-palette-tertiary-97: #fff4f0;
    --md-ref-palette-tertiary-98: #fff8f5;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #020404;
    --md-ref-palette-neutral-2: #050808;
    --md-ref-palette-neutral-3: #080c0c;
    --md-ref-palette-neutral-4: #0c0f0f;
    --md-ref-palette-neutral-5: #0e1112;
    --md-ref-palette-neutral-6: #111414;
    --md-ref-palette-neutral-7: #131617;
    --md-ref-palette-neutral-8: #151819;
    --md-ref-palette-neutral-9: #171a1b;
    --md-ref-palette-neutral-10: #191c1d;
    --md-ref-palette-neutral-11: #1b1e1f;
    --md-ref-palette-neutral-12: #1d2021;
    --md-ref-palette-neutral-13: #1f2223;
    --md-ref-palette-neutral-14: #212425;
    --md-ref-palette-neutral-15: #232627;
    --md-ref-palette-neutral-16: #252829;
    --md-ref-palette-neutral-17: #272a2b;
    --md-ref-palette-neutral-18: #292d2d;
    --md-ref-palette-neutral-19: #2c2f2f;
    --md-ref-palette-neutral-20: #2e3131;
    --md-ref-palette-neutral-21: #303334;
    --md-ref-palette-neutral-22: #323536;
    --md-ref-palette-neutral-23: #343738;
    --md-ref-palette-neutral-24: #373a3a;
    --md-ref-palette-neutral-25: #393c3c;
    --md-ref-palette-neutral-26: #3b3e3f;
    --md-ref-palette-neutral-27: #3d4041;
    --md-ref-palette-neutral-28: #404343;
    --md-ref-palette-neutral-29: #424545;
    --md-ref-palette-neutral-30: #444748;
    --md-ref-palette-neutral-31: #474a4a;
    --md-ref-palette-neutral-32: #494c4c;
    --md-ref-palette-neutral-33: #4b4e4f;
    --md-ref-palette-neutral-34: #4e5151;
    --md-ref-palette-neutral-35: #505353;
    --md-ref-palette-neutral-36: #525556;
    --md-ref-palette-neutral-37: #555858;
    --md-ref-palette-neutral-38: #575a5b;
    --md-ref-palette-neutral-39: #595c5d;
    --md-ref-palette-neutral-40: #5c5f5f;
    --md-ref-palette-neutral-41: #5e6162;
    --md-ref-palette-neutral-42: #616464;
    --md-ref-palette-neutral-43: #636667;
    --md-ref-palette-neutral-44: #666969;
    --md-ref-palette-neutral-45: #686b6b;
    --md-ref-palette-neutral-46: #6b6d6e;
    --md-ref-palette-neutral-47: #6d7070;
    --md-ref-palette-neutral-48: #707273;
    --md-ref-palette-neutral-49: #727575;
    --md-ref-palette-neutral-50: #757778;
    --md-ref-palette-neutral-51: #777a7a;
    --md-ref-palette-neutral-52: #7a7d7d;
    --md-ref-palette-neutral-53: #7c7f7f;
    --md-ref-palette-neutral-54: #7f8282;
    --md-ref-palette-neutral-55: #818485;
    --md-ref-palette-neutral-56: #848787;
    --md-ref-palette-neutral-57: #87898a;
    --md-ref-palette-neutral-58: #898c8c;
    --md-ref-palette-neutral-59: #8c8e8f;
    --md-ref-palette-neutral-60: #8f9191;
    --md-ref-palette-neutral-61: #919494;
    --md-ref-palette-neutral-62: #949697;
    --md-ref-palette-neutral-63: #969999;
    --md-ref-palette-neutral-64: #999c9c;
    --md-ref-palette-neutral-65: #9c9e9f;
    --md-ref-palette-neutral-66: #9ea1a1;
    --md-ref-palette-neutral-67: #a1a3a4;
    --md-ref-palette-neutral-68: #a4a6a7;
    --md-ref-palette-neutral-69: #a6a9a9;
    --md-ref-palette-neutral-70: #a9acac;
    --md-ref-palette-neutral-71: #acaeaf;
    --md-ref-palette-neutral-72: #afb1b1;
    --md-ref-palette-neutral-73: #b1b4b4;
    --md-ref-palette-neutral-74: #b4b6b7;
    --md-ref-palette-neutral-75: #b7b9b9;
    --md-ref-palette-neutral-76: #babcbc;
    --md-ref-palette-neutral-77: #bcbebf;
    --md-ref-palette-neutral-78: #bfc1c2;
    --md-ref-palette-neutral-79: #c2c4c4;
    --md-ref-palette-neutral-80: #c5c7c7;
    --md-ref-palette-neutral-81: #c7caca;
    --md-ref-palette-neutral-82: #cacccd;
    --md-ref-palette-neutral-83: #cdcfcf;
    --md-ref-palette-neutral-84: #d0d2d2;
    --md-ref-palette-neutral-85: #d3d5d5;
    --md-ref-palette-neutral-86: #d6d7d8;
    --md-ref-palette-neutral-87: #d8dadb;
    --md-ref-palette-neutral-88: #dbdddd;
    --md-ref-palette-neutral-89: #dee0e0;
    --md-ref-palette-neutral-90: #e1e3e3;
    --md-ref-palette-neutral-91: #e4e6e6;
    --md-ref-palette-neutral-92: #e7e8e9;
    --md-ref-palette-neutral-93: #e9ebeb;
    --md-ref-palette-neutral-94: #eceeee;
    --md-ref-palette-neutral-95: #eff1f1;
    --md-ref-palette-neutral-96: #f2f4f4;
    --md-ref-palette-neutral-97: #f5f7f7;
    --md-ref-palette-neutral-98: #f8fafa;
    --md-ref-palette-neutral-99: #fbfcfd;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #000405;
    --md-ref-palette-neutral-variant-2: #02090a;
    --md-ref-palette-neutral-variant-3: #050c0e;
    --md-ref-palette-neutral-variant-4: #071011;
    --md-ref-palette-neutral-variant-5: #0a1214;
    --md-ref-palette-neutral-variant-6: #0c1516;
    --md-ref-palette-neutral-variant-7: #0e1718;
    --md-ref-palette-neutral-variant-8: #10191a;
    --md-ref-palette-neutral-variant-9: #121b1c;
    --md-ref-palette-neutral-variant-10: #141d1e;
    --md-ref-palette-neutral-variant-11: #161f20;
    --md-ref-palette-neutral-variant-12: #182122;
    --md-ref-palette-neutral-variant-13: #1a2325;
    --md-ref-palette-neutral-variant-14: #1d2527;
    --md-ref-palette-neutral-variant-15: #1f2729;
    --md-ref-palette-neutral-variant-16: #21292b;
    --md-ref-palette-neutral-variant-17: #232b2d;
    --md-ref-palette-neutral-variant-18: #252e2f;
    --md-ref-palette-neutral-variant-19: #273031;
    --md-ref-palette-neutral-variant-20: #293233;
    --md-ref-palette-neutral-variant-21: #2b3436;
    --md-ref-palette-neutral-variant-22: #2e3638;
    --md-ref-palette-neutral-variant-23: #30383a;
    --md-ref-palette-neutral-variant-24: #323b3c;
    --md-ref-palette-neutral-variant-25: #343d3e;
    --md-ref-palette-neutral-variant-26: #363f41;
    --md-ref-palette-neutral-variant-27: #394143;
    --md-ref-palette-neutral-variant-28: #3b4445;
    --md-ref-palette-neutral-variant-29: #3d4648;
    --md-ref-palette-neutral-variant-30: #3f484a;
    --md-ref-palette-neutral-variant-31: #424b4c;
    --md-ref-palette-neutral-variant-32: #444d4e;
    --md-ref-palette-neutral-variant-33: #464f51;
    --md-ref-palette-neutral-variant-34: #495253;
    --md-ref-palette-neutral-variant-35: #4b5456;
    --md-ref-palette-neutral-variant-36: #4d5658;
    --md-ref-palette-neutral-variant-37: #50595a;
    --md-ref-palette-neutral-variant-38: #525b5d;
    --md-ref-palette-neutral-variant-39: #555e5f;
    --md-ref-palette-neutral-variant-40: #576062;
    --md-ref-palette-neutral-variant-41: #596264;
    --md-ref-palette-neutral-variant-42: #5c6566;
    --md-ref-palette-neutral-variant-43: #5e6769;
    --md-ref-palette-neutral-variant-44: #616a6b;
    --md-ref-palette-neutral-variant-45: #636c6e;
    --md-ref-palette-neutral-variant-46: #666f70;
    --md-ref-palette-neutral-variant-47: #687173;
    --md-ref-palette-neutral-variant-48: #6b7475;
    --md-ref-palette-neutral-variant-49: #6d7678;
    --md-ref-palette-neutral-variant-50: #70797a;
    --md-ref-palette-neutral-variant-51: #727b7d;
    --md-ref-palette-neutral-variant-52: #757e7f;
    --md-ref-palette-neutral-variant-53: #778082;
    --md-ref-palette-neutral-variant-54: #7a8384;
    --md-ref-palette-neutral-variant-55: #7c8587;
    --md-ref-palette-neutral-variant-56: #7f888a;
    --md-ref-palette-neutral-variant-57: #818b8c;
    --md-ref-palette-neutral-variant-58: #848d8f;
    --md-ref-palette-neutral-variant-59: #879091;
    --md-ref-palette-neutral-variant-60: #899294;
    --md-ref-palette-neutral-variant-61: #8c9597;
    --md-ref-palette-neutral-variant-62: #8e9899;
    --md-ref-palette-neutral-variant-63: #919a9c;
    --md-ref-palette-neutral-variant-64: #949d9e;
    --md-ref-palette-neutral-variant-65: #969fa1;
    --md-ref-palette-neutral-variant-66: #99a2a4;
    --md-ref-palette-neutral-variant-67: #9ca5a6;
    --md-ref-palette-neutral-variant-68: #9ea7a9;
    --md-ref-palette-neutral-variant-69: #a1aaac;
    --md-ref-palette-neutral-variant-70: #a4adae;
    --md-ref-palette-neutral-variant-71: #a6b0b1;
    --md-ref-palette-neutral-variant-72: #a9b2b4;
    --md-ref-palette-neutral-variant-73: #acb5b7;
    --md-ref-palette-neutral-variant-74: #aeb8b9;
    --md-ref-palette-neutral-variant-75: #b1babc;
    --md-ref-palette-neutral-variant-76: #b4bdbf;
    --md-ref-palette-neutral-variant-77: #b7c0c1;
    --md-ref-palette-neutral-variant-78: #b9c3c4;
    --md-ref-palette-neutral-variant-79: #bcc5c7;
    --md-ref-palette-neutral-variant-80: #bfc8ca;
    --md-ref-palette-neutral-variant-81: #c2cbcc;
    --md-ref-palette-neutral-variant-82: #c4cecf;
    --md-ref-palette-neutral-variant-83: #c7d0d2;
    --md-ref-palette-neutral-variant-84: #cad3d5;
    --md-ref-palette-neutral-variant-85: #cdd6d8;
    --md-ref-palette-neutral-variant-86: #d0d9da;
    --md-ref-palette-neutral-variant-87: #d2dcdd;
    --md-ref-palette-neutral-variant-88: #d5dee0;
    --md-ref-palette-neutral-variant-89: #d8e1e3;
    --md-ref-palette-neutral-variant-90: #dbe4e6;
    --md-ref-palette-neutral-variant-91: #dee7e9;
    --md-ref-palette-neutral-variant-92: #e1eaeb;
    --md-ref-palette-neutral-variant-93: #e4edee;
    --md-ref-palette-neutral-variant-94: #e6f0f1;
    --md-ref-palette-neutral-variant-95: #e9f2f4;
    --md-ref-palette-neutral-variant-96: #ecf5f7;
    --md-ref-palette-neutral-variant-97: #eff8fa;
    --md-ref-palette-neutral-variant-98: #f2fbfd;
    --md-ref-palette-neutral-variant-99: #f6feff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}