:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000409;
    --md-ref-palette-primary-2: #000811;
    --md-ref-palette-primary-3: #000c16;
    --md-ref-palette-primary-4: #00101b;
    --md-ref-palette-primary-5: #00131f;
    --md-ref-palette-primary-6: #001522;
    --md-ref-palette-primary-7: #001826;
    --md-ref-palette-primary-8: #001a29;
    --md-ref-palette-primary-9: #001c2b;
    --md-ref-palette-primary-10: #001e2e;
    --md-ref-palette-primary-11: #002031;
    --md-ref-palette-primary-12: #002234;
    --md-ref-palette-primary-13: #002437;
    --md-ref-palette-primary-14: #00273a;
    --md-ref-palette-primary-15: #00293d;
    --md-ref-palette-primary-16: #002b40;
    --md-ref-palette-primary-17: #002d43;
    --md-ref-palette-primary-18: #002f46;
    --md-ref-palette-primary-19: #00324a;
    --md-ref-palette-primary-20: #00344d;
    --md-ref-palette-primary-21: #003650;
    --md-ref-palette-primary-22: #003953;
    --md-ref-palette-primary-23: #003b56;
    --md-ref-palette-primary-24: #003d5a;
    --md-ref-palette-primary-25: #00405d;
    --md-ref-palette-primary-26: #004260;
    --md-ref-palette-primary-27: #004463;
    --md-ref-palette-primary-28: #004767;
    --md-ref-palette-primary-29: #00496a;
    --md-ref-palette-primary-30: #004c6d;
    --md-ref-palette-primary-31: #004e71;
    --md-ref-palette-primary-32: #005174;
    --md-ref-palette-primary-33: #005377;
    --md-ref-palette-primary-34: #00567b;
    --md-ref-palette-primary-35: #00587e;
    --md-ref-palette-primary-36: #005b82;
    --md-ref-palette-primary-37: #005d85;
    --md-ref-palette-primary-38: #006089;
    --md-ref-palette-primary-39: #00628c;
    --md-ref-palette-primary-40: #006590;
    --md-ref-palette-primary-41: #006793;
    --md-ref-palette-primary-42: #006a97;
    --md-ref-palette-primary-43: #006c9a;
    --md-ref-palette-primary-44: #006f9e;
    --md-ref-palette-primary-45: #0072a2;
    --md-ref-palette-primary-46: #0074a5;
    --md-ref-palette-primary-47: #0077a9;
    --md-ref-palette-primary-48: #007aac;
    --md-ref-palette-primary-49: #007cb0;
    --md-ref-palette-primary-50: #007fb4;
    --md-ref-palette-primary-51: #0a81b7;
    --md-ref-palette-primary-52: #1284b9;
    --md-ref-palette-primary-53: #1987bc;
    --md-ref-palette-primary-54: #1e89bf;
    --md-ref-palette-primary-55: #238cc1;
    --md-ref-palette-primary-56: #288ec4;
    --md-ref-palette-primary-57: #2c91c7;
    --md-ref-palette-primary-58: #3094ca;
    --md-ref-palette-primary-59: #3496cd;
    --md-ref-palette-primary-60: #3899cf;
    --md-ref-palette-primary-61: #3b9cd2;
    --md-ref-palette-primary-62: #3f9ed5;
    --md-ref-palette-primary-63: #42a1d8;
    --md-ref-palette-primary-64: #46a4db;
    --md-ref-palette-primary-65: #49a6dd;
    --md-ref-palette-primary-66: #4ca9e0;
    --md-ref-palette-primary-67: #4face3;
    --md-ref-palette-primary-68: #53aee6;
    --md-ref-palette-primary-69: #56b1e9;
    --md-ref-palette-primary-70: #59b4ec;
    --md-ref-palette-primary-71: #5cb7ef;
    --md-ref-palette-primary-72: #5fb9f2;
    --md-ref-palette-primary-73: #62bcf4;
    --md-ref-palette-primary-74: #65bff7;
    --md-ref-palette-primary-75: #68c2fa;
    --md-ref-palette-primary-76: #6bc4fd;
    --md-ref-palette-primary-77: #70c7ff;
    --md-ref-palette-primary-78: #78c9ff;
    --md-ref-palette-primary-79: #80ccff;
    --md-ref-palette-primary-80: #87ceff;
    --md-ref-palette-primary-81: #8ed1ff;
    --md-ref-palette-primary-82: #95d3ff;
    --md-ref-palette-primary-83: #9cd6ff;
    --md-ref-palette-primary-84: #a3d8ff;
    --md-ref-palette-primary-85: #a9daff;
    --md-ref-palette-primary-86: #b0ddff;
    --md-ref-palette-primary-87: #b6dfff;
    --md-ref-palette-primary-88: #bce2ff;
    --md-ref-palette-primary-89: #c2e4ff;
    --md-ref-palette-primary-90: #c8e6ff;
    --md-ref-palette-primary-91: #cee9ff;
    --md-ref-palette-primary-92: #d4ebff;
    --md-ref-palette-primary-93: #daeeff;
    --md-ref-palette-primary-94: #dff0ff;
    --md-ref-palette-primary-95: #e5f2ff;
    --md-ref-palette-primary-96: #ebf5ff;
    --md-ref-palette-primary-97: #f0f7ff;
    --md-ref-palette-primary-98: #f6faff;
    --md-ref-palette-primary-99: #fbfcff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000409;
    --md-ref-palette-secondary-2: #000811;
    --md-ref-palette-secondary-3: #000c16;
    --md-ref-palette-secondary-4: #00101b;
    --md-ref-palette-secondary-5: #00131f;
    --md-ref-palette-secondary-6: #001522;
    --md-ref-palette-secondary-7: #001826;
    --md-ref-palette-secondary-8: #001a29;
    --md-ref-palette-secondary-9: #001c2b;
    --md-ref-palette-secondary-10: #001e2e;
    --md-ref-palette-secondary-11: #002031;
    --md-ref-palette-secondary-12: #002234;
    --md-ref-palette-secondary-13: #002437;
    --md-ref-palette-secondary-14: #02263a;
    --md-ref-palette-secondary-15: #04293c;
    --md-ref-palette-secondary-16: #072b3e;
    --md-ref-palette-secondary-17: #0a2d40;
    --md-ref-palette-secondary-18: #0d2f42;
    --md-ref-palette-secondary-19: #103145;
    --md-ref-palette-secondary-20: #123347;
    --md-ref-palette-secondary-21: #153649;
    --md-ref-palette-secondary-22: #18384c;
    --md-ref-palette-secondary-23: #1a3a4e;
    --md-ref-palette-secondary-24: #1d3c50;
    --md-ref-palette-secondary-25: #1f3f53;
    --md-ref-palette-secondary-26: #224155;
    --md-ref-palette-secondary-27: #244357;
    --md-ref-palette-secondary-28: #27455a;
    --md-ref-palette-secondary-29: #29485c;
    --md-ref-palette-secondary-30: #2b4a5f;
    --md-ref-palette-secondary-31: #2e4c61;
    --md-ref-palette-secondary-32: #304f63;
    --md-ref-palette-secondary-33: #335166;
    --md-ref-palette-secondary-34: #355368;
    --md-ref-palette-secondary-35: #37566b;
    --md-ref-palette-secondary-36: #3a586d;
    --md-ref-palette-secondary-37: #3c5b70;
    --md-ref-palette-secondary-38: #3f5d72;
    --md-ref-palette-secondary-39: #415f75;
    --md-ref-palette-secondary-40: #446277;
    --md-ref-palette-secondary-41: #46647a;
    --md-ref-palette-secondary-42: #49677c;
    --md-ref-palette-secondary-43: #4b697f;
    --md-ref-palette-secondary-44: #4d6c81;
    --md-ref-palette-secondary-45: #506e84;
    --md-ref-palette-secondary-46: #527187;
    --md-ref-palette-secondary-47: #557389;
    --md-ref-palette-secondary-48: #57768c;
    --md-ref-palette-secondary-49: #5a788e;
    --md-ref-palette-secondary-50: #5c7b91;
    --md-ref-palette-secondary-51: #5f7d94;
    --md-ref-palette-secondary-52: #618096;
    --md-ref-palette-secondary-53: #648299;
    --md-ref-palette-secondary-54: #67859c;
    --md-ref-palette-secondary-55: #69879e;
    --md-ref-palette-secondary-56: #6c8aa1;
    --md-ref-palette-secondary-57: #6e8da4;
    --md-ref-palette-secondary-58: #718fa6;
    --md-ref-palette-secondary-59: #7392a9;
    --md-ref-palette-secondary-60: #7694ac;
    --md-ref-palette-secondary-61: #7997ae;
    --md-ref-palette-secondary-62: #7b9ab1;
    --md-ref-palette-secondary-63: #7e9cb4;
    --md-ref-palette-secondary-64: #809fb6;
    --md-ref-palette-secondary-65: #83a2b9;
    --md-ref-palette-secondary-66: #86a4bc;
    --md-ref-palette-secondary-67: #88a7bf;
    --md-ref-palette-secondary-68: #8baac1;
    --md-ref-palette-secondary-69: #8eacc4;
    --md-ref-palette-secondary-70: #90afc7;
    --md-ref-palette-secondary-71: #93b2ca;
    --md-ref-palette-secondary-72: #96b4cd;
    --md-ref-palette-secondary-73: #98b7cf;
    --md-ref-palette-secondary-74: #9bbad2;
    --md-ref-palette-secondary-75: #9ebdd5;
    --md-ref-palette-secondary-76: #a0bfd8;
    --md-ref-palette-secondary-77: #a3c2db;
    --md-ref-palette-secondary-78: #a6c5dd;
    --md-ref-palette-secondary-79: #a8c8e0;
    --md-ref-palette-secondary-80: #abcae3;
    --md-ref-palette-secondary-81: #aecde6;
    --md-ref-palette-secondary-82: #b1d0e9;
    --md-ref-palette-secondary-83: #b3d3ec;
    --md-ref-palette-secondary-84: #b6d6ef;
    --md-ref-palette-secondary-85: #b9d8f2;
    --md-ref-palette-secondary-86: #bcdbf4;
    --md-ref-palette-secondary-87: #bfdef7;
    --md-ref-palette-secondary-88: #c1e1fa;
    --md-ref-palette-secondary-89: #c4e4fd;
    --md-ref-palette-secondary-90: #c8e6ff;
    --md-ref-palette-secondary-91: #cee9ff;
    --md-ref-palette-secondary-92: #d4ebff;
    --md-ref-palette-secondary-93: #daeeff;
    --md-ref-palette-secondary-94: #dff0ff;
    --md-ref-palette-secondary-95: #e5f2ff;
    --md-ref-palette-secondary-96: #ebf5ff;
    --md-ref-palette-secondary-97: #f0f7ff;
    --md-ref-palette-secondary-98: #f6faff;
    --md-ref-palette-secondary-99: #fbfcff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #080300;
    --md-ref-palette-tertiary-2: #100500;
    --md-ref-palette-tertiary-3: #150800;
    --md-ref-palette-tertiary-4: #1a0b00;
    --md-ref-palette-tertiary-5: #1d0d00;
    --md-ref-palette-tertiary-6: #210f00;
    --md-ref-palette-tertiary-7: #241100;
    --md-ref-palette-tertiary-8: #271300;
    --md-ref-palette-tertiary-9: #2a1500;
    --md-ref-palette-tertiary-10: #2c1600;
    --md-ref-palette-tertiary-11: #2f1800;
    --md-ref-palette-tertiary-12: #321a00;
    --md-ref-palette-tertiary-13: #351c00;
    --md-ref-palette-tertiary-14: #381d00;
    --md-ref-palette-tertiary-15: #3b1f00;
    --md-ref-palette-tertiary-16: #3e2100;
    --md-ref-palette-tertiary-17: #412300;
    --md-ref-palette-tertiary-18: #442500;
    --md-ref-palette-tertiary-19: #472700;
    --md-ref-palette-tertiary-20: #4a2800;
    --md-ref-palette-tertiary-21: #4d2a00;
    --md-ref-palette-tertiary-22: #502c00;
    --md-ref-palette-tertiary-23: #532e00;
    --md-ref-palette-tertiary-24: #563000;
    --md-ref-palette-tertiary-25: #593200;
    --md-ref-palette-tertiary-26: #5c3400;
    --md-ref-palette-tertiary-27: #5f3600;
    --md-ref-palette-tertiary-28: #633800;
    --md-ref-palette-tertiary-29: #663a00;
    --md-ref-palette-tertiary-30: #693c00;
    --md-ref-palette-tertiary-31: #6c3e00;
    --md-ref-palette-tertiary-32: #704000;
    --md-ref-palette-tertiary-33: #734200;
    --md-ref-palette-tertiary-34: #764400;
    --md-ref-palette-tertiary-35: #794600;
    --md-ref-palette-tertiary-36: #7d4800;
    --md-ref-palette-tertiary-37: #804a00;
    --md-ref-palette-tertiary-38: #834c00;
    --md-ref-palette-tertiary-39: #874e00;
    --md-ref-palette-tertiary-40: #8a5100;
    --md-ref-palette-tertiary-41: #8e5300;
    --md-ref-palette-tertiary-42: #915500;
    --md-ref-palette-tertiary-43: #955700;
    --md-ref-palette-tertiary-44: #985900;
    --md-ref-palette-tertiary-45: #9b5b00;
    --md-ref-palette-tertiary-46: #9f5d00;
    --md-ref-palette-tertiary-47: #a26000;
    --md-ref-palette-tertiary-48: #a66202;
    --md-ref-palette-tertiary-49: #a96406;
    --md-ref-palette-tertiary-50: #ac670a;
    --md-ref-palette-tertiary-51: #af690d;
    --md-ref-palette-tertiary-52: #b26c11;
    --md-ref-palette-tertiary-53: #b56e14;
    --md-ref-palette-tertiary-54: #b87117;
    --md-ref-palette-tertiary-55: #bb731a;
    --md-ref-palette-tertiary-56: #be761d;
    --md-ref-palette-tertiary-57: #c1781f;
    --md-ref-palette-tertiary-58: #c47b22;
    --md-ref-palette-tertiary-59: #c77d25;
    --md-ref-palette-tertiary-60: #ca8027;
    --md-ref-palette-tertiary-61: #cd822a;
    --md-ref-palette-tertiary-62: #d1852c;
    --md-ref-palette-tertiary-63: #d4872f;
    --md-ref-palette-tertiary-64: #d78a31;
    --md-ref-palette-tertiary-65: #da8d34;
    --md-ref-palette-tertiary-66: #dd8f36;
    --md-ref-palette-tertiary-67: #e09239;
    --md-ref-palette-tertiary-68: #e3943b;
    --md-ref-palette-tertiary-69: #e6973d;
    --md-ref-palette-tertiary-70: #ea9a40;
    --md-ref-palette-tertiary-71: #ed9c42;
    --md-ref-palette-tertiary-72: #f09f45;
    --md-ref-palette-tertiary-73: #f3a147;
    --md-ref-palette-tertiary-74: #f6a449;
    --md-ref-palette-tertiary-75: #f9a74c;
    --md-ref-palette-tertiary-76: #fda94e;
    --md-ref-palette-tertiary-77: #ffac52;
    --md-ref-palette-tertiary-78: #ffb05c;
    --md-ref-palette-tertiary-79: #ffb466;
    --md-ref-palette-tertiary-80: #ffb86f;
    --md-ref-palette-tertiary-81: #ffbc78;
    --md-ref-palette-tertiary-82: #ffbf80;
    --md-ref-palette-tertiary-83: #ffc388;
    --md-ref-palette-tertiary-84: #ffc790;
    --md-ref-palette-tertiary-85: #ffca98;
    --md-ref-palette-tertiary-86: #ffcea0;
    --md-ref-palette-tertiary-87: #ffd2a7;
    --md-ref-palette-tertiary-88: #ffd5af;
    --md-ref-palette-tertiary-89: #ffd9b6;
    --md-ref-palette-tertiary-90: #ffdcbd;
    --md-ref-palette-tertiary-91: #ffe0c5;
    --md-ref-palette-tertiary-92: #ffe3cc;
    --md-ref-palette-tertiary-93: #ffe7d3;
    --md-ref-palette-tertiary-94: #ffeada;
    --md-ref-palette-tertiary-95: #ffeee0;
    --md-ref-palette-tertiary-96: #fff1e7;
    --md-ref-palette-tertiary-97: #fff5ee;
    --md-ref-palette-tertiary-98: #fff8f5;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #020406;
    --md-ref-palette-neutral-2: #05080b;
    --md-ref-palette-neutral-3: #080b0f;
    --md-ref-palette-neutral-4: #0b0f12;
    --md-ref-palette-neutral-5: #0d1115;
    --md-ref-palette-neutral-6: #101417;
    --md-ref-palette-neutral-7: #121619;
    --md-ref-palette-neutral-8: #14181b;
    --md-ref-palette-neutral-9: #161a1d;
    --md-ref-palette-neutral-10: #181c20;
    --md-ref-palette-neutral-11: #1a1e22;
    --md-ref-palette-neutral-12: #1c2024;
    --md-ref-palette-neutral-13: #1e2226;
    --md-ref-palette-neutral-14: #202428;
    --md-ref-palette-neutral-15: #22262a;
    --md-ref-palette-neutral-16: #24282c;
    --md-ref-palette-neutral-17: #262a2e;
    --md-ref-palette-neutral-18: #282d30;
    --md-ref-palette-neutral-19: #2b2f32;
    --md-ref-palette-neutral-20: #2d3135;
    --md-ref-palette-neutral-21: #2f3337;
    --md-ref-palette-neutral-22: #313539;
    --md-ref-palette-neutral-23: #33373b;
    --md-ref-palette-neutral-24: #363a3d;
    --md-ref-palette-neutral-25: #383c40;
    --md-ref-palette-neutral-26: #3a3e42;
    --md-ref-palette-neutral-27: #3c4044;
    --md-ref-palette-neutral-28: #3f4346;
    --md-ref-palette-neutral-29: #414549;
    --md-ref-palette-neutral-30: #43474b;
    --md-ref-palette-neutral-31: #45494d;
    --md-ref-palette-neutral-32: #484c50;
    --md-ref-palette-neutral-33: #4a4e52;
    --md-ref-palette-neutral-34: #4c5054;
    --md-ref-palette-neutral-35: #4f5357;
    --md-ref-palette-neutral-36: #515559;
    --md-ref-palette-neutral-37: #54585c;
    --md-ref-palette-neutral-38: #565a5e;
    --md-ref-palette-neutral-39: #585c60;
    --md-ref-palette-neutral-40: #5b5f63;
    --md-ref-palette-neutral-41: #5d6165;
    --md-ref-palette-neutral-42: #606468;
    --md-ref-palette-neutral-43: #62666a;
    --md-ref-palette-neutral-44: #65686d;
    --md-ref-palette-neutral-45: #676b6f;
    --md-ref-palette-neutral-46: #6a6d72;
    --md-ref-palette-neutral-47: #6c7074;
    --md-ref-palette-neutral-48: #6f7277;
    --md-ref-palette-neutral-49: #717579;
    --md-ref-palette-neutral-50: #74777c;
    --md-ref-palette-neutral-51: #767a7e;
    --md-ref-palette-neutral-52: #797c81;
    --md-ref-palette-neutral-53: #7b7f83;
    --md-ref-palette-neutral-54: #7e8286;
    --md-ref-palette-neutral-55: #808488;
    --md-ref-palette-neutral-56: #83878b;
    --md-ref-palette-neutral-57: #85898e;
    --md-ref-palette-neutral-58: #888c90;
    --md-ref-palette-neutral-59: #8b8e93;
    --md-ref-palette-neutral-60: #8d9195;
    --md-ref-palette-neutral-61: #909498;
    --md-ref-palette-neutral-62: #93969b;
    --md-ref-palette-neutral-63: #95999d;
    --md-ref-palette-neutral-64: #989ba0;
    --md-ref-palette-neutral-65: #9b9ea3;
    --md-ref-palette-neutral-66: #9da1a5;
    --md-ref-palette-neutral-67: #a0a3a8;
    --md-ref-palette-neutral-68: #a3a6ab;
    --md-ref-palette-neutral-69: #a5a9ad;
    --md-ref-palette-neutral-70: #a8abb0;
    --md-ref-palette-neutral-71: #abaeb3;
    --md-ref-palette-neutral-72: #adb1b5;
    --md-ref-palette-neutral-73: #b0b4b8;
    --md-ref-palette-neutral-74: #b3b6bb;
    --md-ref-palette-neutral-75: #b6b9be;
    --md-ref-palette-neutral-76: #b8bcc0;
    --md-ref-palette-neutral-77: #bbbec3;
    --md-ref-palette-neutral-78: #bec1c6;
    --md-ref-palette-neutral-79: #c1c4c9;
    --md-ref-palette-neutral-80: #c3c7cb;
    --md-ref-palette-neutral-81: #c6c9ce;
    --md-ref-palette-neutral-82: #c9ccd1;
    --md-ref-palette-neutral-83: #cccfd4;
    --md-ref-palette-neutral-84: #cfd2d6;
    --md-ref-palette-neutral-85: #d1d5d9;
    --md-ref-palette-neutral-86: #d4d7dc;
    --md-ref-palette-neutral-87: #d7dadf;
    --md-ref-palette-neutral-88: #dadde2;
    --md-ref-palette-neutral-89: #dde0e5;
    --md-ref-palette-neutral-90: #e0e3e7;
    --md-ref-palette-neutral-91: #e2e5ea;
    --md-ref-palette-neutral-92: #e5e8ed;
    --md-ref-palette-neutral-93: #e8ebf0;
    --md-ref-palette-neutral-94: #ebeef3;
    --md-ref-palette-neutral-95: #eef1f6;
    --md-ref-palette-neutral-96: #f1f4f8;
    --md-ref-palette-neutral-97: #f4f7fb;
    --md-ref-palette-neutral-98: #f7f9fe;
    --md-ref-palette-neutral-99: #fbfcff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #000409;
    --md-ref-palette-neutral-variant-2: #02080e;
    --md-ref-palette-neutral-variant-3: #040c12;
    --md-ref-palette-neutral-variant-4: #070f15;
    --md-ref-palette-neutral-variant-5: #091218;
    --md-ref-palette-neutral-variant-6: #0c141b;
    --md-ref-palette-neutral-variant-7: #0e171d;
    --md-ref-palette-neutral-variant-8: #10191f;
    --md-ref-palette-neutral-variant-9: #121b21;
    --md-ref-palette-neutral-variant-10: #141d23;
    --md-ref-palette-neutral-variant-11: #161f25;
    --md-ref-palette-neutral-variant-12: #182127;
    --md-ref-palette-neutral-variant-13: #1a2329;
    --md-ref-palette-neutral-variant-14: #1c252b;
    --md-ref-palette-neutral-variant-15: #1e272d;
    --md-ref-palette-neutral-variant-16: #202930;
    --md-ref-palette-neutral-variant-17: #222b32;
    --md-ref-palette-neutral-variant-18: #252d34;
    --md-ref-palette-neutral-variant-19: #272f36;
    --md-ref-palette-neutral-variant-20: #293138;
    --md-ref-palette-neutral-variant-21: #2b343a;
    --md-ref-palette-neutral-variant-22: #2d363d;
    --md-ref-palette-neutral-variant-23: #2f383f;
    --md-ref-palette-neutral-variant-24: #323a41;
    --md-ref-palette-neutral-variant-25: #343c44;
    --md-ref-palette-neutral-variant-26: #363f46;
    --md-ref-palette-neutral-variant-27: #384148;
    --md-ref-palette-neutral-variant-28: #3b434a;
    --md-ref-palette-neutral-variant-29: #3d464d;
    --md-ref-palette-neutral-variant-30: #3f484f;
    --md-ref-palette-neutral-variant-31: #414a51;
    --md-ref-palette-neutral-variant-32: #444c54;
    --md-ref-palette-neutral-variant-33: #464f56;
    --md-ref-palette-neutral-variant-34: #485159;
    --md-ref-palette-neutral-variant-35: #4b535b;
    --md-ref-palette-neutral-variant-36: #4d565d;
    --md-ref-palette-neutral-variant-37: #4f5860;
    --md-ref-palette-neutral-variant-38: #525b62;
    --md-ref-palette-neutral-variant-39: #545d65;
    --md-ref-palette-neutral-variant-40: #575f67;
    --md-ref-palette-neutral-variant-41: #596269;
    --md-ref-palette-neutral-variant-42: #5c646c;
    --md-ref-palette-neutral-variant-43: #5e676e;
    --md-ref-palette-neutral-variant-44: #606971;
    --md-ref-palette-neutral-variant-45: #636c73;
    --md-ref-palette-neutral-variant-46: #656e76;
    --md-ref-palette-neutral-variant-47: #687178;
    --md-ref-palette-neutral-variant-48: #6a737b;
    --md-ref-palette-neutral-variant-49: #6d767e;
    --md-ref-palette-neutral-variant-50: #6f7880;
    --md-ref-palette-neutral-variant-51: #727b83;
    --md-ref-palette-neutral-variant-52: #747d85;
    --md-ref-palette-neutral-variant-53: #778088;
    --md-ref-palette-neutral-variant-54: #79828a;
    --md-ref-palette-neutral-variant-55: #7c858d;
    --md-ref-palette-neutral-variant-56: #7f8790;
    --md-ref-palette-neutral-variant-57: #818a92;
    --md-ref-palette-neutral-variant-58: #848d95;
    --md-ref-palette-neutral-variant-59: #868f97;
    --md-ref-palette-neutral-variant-60: #89929a;
    --md-ref-palette-neutral-variant-61: #8c949d;
    --md-ref-palette-neutral-variant-62: #8e979f;
    --md-ref-palette-neutral-variant-63: #919aa2;
    --md-ref-palette-neutral-variant-64: #939ca5;
    --md-ref-palette-neutral-variant-65: #969fa7;
    --md-ref-palette-neutral-variant-66: #99a2aa;
    --md-ref-palette-neutral-variant-67: #9ba4ad;
    --md-ref-palette-neutral-variant-68: #9ea7af;
    --md-ref-palette-neutral-variant-69: #a1aab2;
    --md-ref-palette-neutral-variant-70: #a3acb5;
    --md-ref-palette-neutral-variant-71: #a6afb7;
    --md-ref-palette-neutral-variant-72: #a9b2ba;
    --md-ref-palette-neutral-variant-73: #abb4bd;
    --md-ref-palette-neutral-variant-74: #aeb7c0;
    --md-ref-palette-neutral-variant-75: #b1bac2;
    --md-ref-palette-neutral-variant-76: #b4bdc5;
    --md-ref-palette-neutral-variant-77: #b6bfc8;
    --md-ref-palette-neutral-variant-78: #b9c2cb;
    --md-ref-palette-neutral-variant-79: #bcc5cd;
    --md-ref-palette-neutral-variant-80: #bfc8d0;
    --md-ref-palette-neutral-variant-81: #c1cad3;
    --md-ref-palette-neutral-variant-82: #c4cdd6;
    --md-ref-palette-neutral-variant-83: #c7d0d9;
    --md-ref-palette-neutral-variant-84: #cad3db;
    --md-ref-palette-neutral-variant-85: #cdd5de;
    --md-ref-palette-neutral-variant-86: #cfd8e1;
    --md-ref-palette-neutral-variant-87: #d2dbe4;
    --md-ref-palette-neutral-variant-88: #d5dee7;
    --md-ref-palette-neutral-variant-89: #d8e1ea;
    --md-ref-palette-neutral-variant-90: #dbe3ed;
    --md-ref-palette-neutral-variant-91: #dee6ef;
    --md-ref-palette-neutral-variant-92: #e0e9f2;
    --md-ref-palette-neutral-variant-93: #e3ecf5;
    --md-ref-palette-neutral-variant-94: #e6eff8;
    --md-ref-palette-neutral-variant-95: #e9f2fb;
    --md-ref-palette-neutral-variant-96: #ecf5fe;
    --md-ref-palette-neutral-variant-97: #f0f7ff;
    --md-ref-palette-neutral-variant-98: #f6faff;
    --md-ref-palette-neutral-variant-99: #fbfcff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}