:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000313;
    --md-ref-palette-primary-2: #01061c;
    --md-ref-palette-primary-3: #030a20;
    --md-ref-palette-primary-4: #050d23;
    --md-ref-palette-primary-5: #071026;
    --md-ref-palette-primary-6: #0a1229;
    --md-ref-palette-primary-7: #0c152b;
    --md-ref-palette-primary-8: #0e172d;
    --md-ref-palette-primary-9: #10192f;
    --md-ref-palette-primary-10: #121b31;
    --md-ref-palette-primary-11: #141d33;
    --md-ref-palette-primary-12: #171f35;
    --md-ref-palette-primary-13: #192138;
    --md-ref-palette-primary-14: #1b233a;
    --md-ref-palette-primary-15: #1d253c;
    --md-ref-palette-primary-16: #1f273e;
    --md-ref-palette-primary-17: #212940;
    --md-ref-palette-primary-18: #232b43;
    --md-ref-palette-primary-19: #252e45;
    --md-ref-palette-primary-20: #283047;
    --md-ref-palette-primary-21: #2a3249;
    --md-ref-palette-primary-22: #2c344c;
    --md-ref-palette-primary-23: #2e364e;
    --md-ref-palette-primary-24: #303850;
    --md-ref-palette-primary-25: #333b53;
    --md-ref-palette-primary-26: #353d55;
    --md-ref-palette-primary-27: #373f58;
    --md-ref-palette-primary-28: #39425a;
    --md-ref-palette-primary-29: #3c445c;
    --md-ref-palette-primary-30: #3e465f;
    --md-ref-palette-primary-31: #404861;
    --md-ref-palette-primary-32: #434b64;
    --md-ref-palette-primary-33: #454d66;
    --md-ref-palette-primary-34: #474f69;
    --md-ref-palette-primary-35: #4a526b;
    --md-ref-palette-primary-36: #4c546d;
    --md-ref-palette-primary-37: #4e5670;
    --md-ref-palette-primary-38: #515972;
    --md-ref-palette-primary-39: #535b75;
    --md-ref-palette-primary-40: #565e78;
    --md-ref-palette-primary-41: #58607a;
    --md-ref-palette-primary-42: #5a637d;
    --md-ref-palette-primary-43: #5d657f;
    --md-ref-palette-primary-44: #5f6782;
    --md-ref-palette-primary-45: #626a84;
    --md-ref-palette-primary-46: #646c87;
    --md-ref-palette-primary-47: #676f89;
    --md-ref-palette-primary-48: #69718c;
    --md-ref-palette-primary-49: #6c748f;
    --md-ref-palette-primary-50: #6e7691;
    --md-ref-palette-primary-51: #717994;
    --md-ref-palette-primary-52: #737b97;
    --md-ref-palette-primary-53: #767e99;
    --md-ref-palette-primary-54: #78809c;
    --md-ref-palette-primary-55: #7b839e;
    --md-ref-palette-primary-56: #7e86a1;
    --md-ref-palette-primary-57: #8088a4;
    --md-ref-palette-primary-58: #838ba7;
    --md-ref-palette-primary-59: #858da9;
    --md-ref-palette-primary-60: #8890ac;
    --md-ref-palette-primary-61: #8b93af;
    --md-ref-palette-primary-62: #8d95b1;
    --md-ref-palette-primary-63: #9098b4;
    --md-ref-palette-primary-64: #929ab7;
    --md-ref-palette-primary-65: #959dba;
    --md-ref-palette-primary-66: #98a0bc;
    --md-ref-palette-primary-67: #9aa2bf;
    --md-ref-palette-primary-68: #9da5c2;
    --md-ref-palette-primary-69: #a0a8c5;
    --md-ref-palette-primary-70: #a2aac7;
    --md-ref-palette-primary-71: #a5adca;
    --md-ref-palette-primary-72: #a8b0cd;
    --md-ref-palette-primary-73: #abb2d0;
    --md-ref-palette-primary-74: #adb5d3;
    --md-ref-palette-primary-75: #b0b8d5;
    --md-ref-palette-primary-76: #b3bbd8;
    --md-ref-palette-primary-77: #b5bddb;
    --md-ref-palette-primary-78: #b8c0de;
    --md-ref-palette-primary-79: #bbc3e1;
    --md-ref-palette-primary-80: #bec6e4;
    --md-ref-palette-primary-81: #c1c8e6;
    --md-ref-palette-primary-82: #c3cbe9;
    --md-ref-palette-primary-83: #c6ceec;
    --md-ref-palette-primary-84: #c9d1ef;
    --md-ref-palette-primary-85: #ccd3f2;
    --md-ref-palette-primary-86: #ced6f5;
    --md-ref-palette-primary-87: #d1d9f8;
    --md-ref-palette-primary-88: #d4dcfb;
    --md-ref-palette-primary-89: #d7dffd;
    --md-ref-palette-primary-90: #dae2ff;
    --md-ref-palette-primary-91: #dee4ff;
    --md-ref-palette-primary-92: #e2e7ff;
    --md-ref-palette-primary-93: #e6eaff;
    --md-ref-palette-primary-94: #eaedff;
    --md-ref-palette-primary-95: #eef0ff;
    --md-ref-palette-primary-96: #f2f3ff;
    --md-ref-palette-primary-97: #f6f6ff;
    --md-ref-palette-primary-98: #faf8ff;
    --md-ref-palette-primary-99: #fefbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #02030a;
    --md-ref-palette-secondary-2: #050710;
    --md-ref-palette-secondary-3: #080b14;
    --md-ref-palette-secondary-4: #0b0e17;
    --md-ref-palette-secondary-5: #0e111a;
    --md-ref-palette-secondary-6: #10131c;
    --md-ref-palette-secondary-7: #12151f;
    --md-ref-palette-secondary-8: #141721;
    --md-ref-palette-secondary-9: #161923;
    --md-ref-palette-secondary-10: #181b25;
    --md-ref-palette-secondary-11: #1a1d27;
    --md-ref-palette-secondary-12: #1c1f29;
    --md-ref-palette-secondary-13: #1e212b;
    --md-ref-palette-secondary-14: #20232d;
    --md-ref-palette-secondary-15: #23252f;
    --md-ref-palette-secondary-16: #252831;
    --md-ref-palette-secondary-17: #272a34;
    --md-ref-palette-secondary-18: #292c36;
    --md-ref-palette-secondary-19: #2b2e38;
    --md-ref-palette-secondary-20: #2d303a;
    --md-ref-palette-secondary-21: #2f323c;
    --md-ref-palette-secondary-22: #32343f;
    --md-ref-palette-secondary-23: #343741;
    --md-ref-palette-secondary-24: #363943;
    --md-ref-palette-secondary-25: #383b46;
    --md-ref-palette-secondary-26: #3b3d48;
    --md-ref-palette-secondary-27: #3d404a;
    --md-ref-palette-secondary-28: #3f424c;
    --md-ref-palette-secondary-29: #41444f;
    --md-ref-palette-secondary-30: #444651;
    --md-ref-palette-secondary-31: #464954;
    --md-ref-palette-secondary-32: #484b56;
    --md-ref-palette-secondary-33: #4b4d58;
    --md-ref-palette-secondary-34: #4d505b;
    --md-ref-palette-secondary-35: #4f525d;
    --md-ref-palette-secondary-36: #52545f;
    --md-ref-palette-secondary-37: #545762;
    --md-ref-palette-secondary-38: #575964;
    --md-ref-palette-secondary-39: #595b67;
    --md-ref-palette-secondary-40: #5b5e69;
    --md-ref-palette-secondary-41: #5e606c;
    --md-ref-palette-secondary-42: #60636e;
    --md-ref-palette-secondary-43: #636571;
    --md-ref-palette-secondary-44: #656873;
    --md-ref-palette-secondary-45: #686a76;
    --md-ref-palette-secondary-46: #6a6d78;
    --md-ref-palette-secondary-47: #6d6f7b;
    --md-ref-palette-secondary-48: #6f717d;
    --md-ref-palette-secondary-49: #727480;
    --md-ref-palette-secondary-50: #747682;
    --md-ref-palette-secondary-51: #777985;
    --md-ref-palette-secondary-52: #797c88;
    --md-ref-palette-secondary-53: #7c7e8a;
    --md-ref-palette-secondary-54: #7e818d;
    --md-ref-palette-secondary-55: #81838f;
    --md-ref-palette-secondary-56: #848692;
    --md-ref-palette-secondary-57: #868895;
    --md-ref-palette-secondary-58: #898b97;
    --md-ref-palette-secondary-59: #8b8d9a;
    --md-ref-palette-secondary-60: #8e909c;
    --md-ref-palette-secondary-61: #91939f;
    --md-ref-palette-secondary-62: #9395a2;
    --md-ref-palette-secondary-63: #9698a4;
    --md-ref-palette-secondary-64: #989ba7;
    --md-ref-palette-secondary-65: #9b9daa;
    --md-ref-palette-secondary-66: #9ea0ac;
    --md-ref-palette-secondary-67: #a1a2af;
    --md-ref-palette-secondary-68: #a3a5b2;
    --md-ref-palette-secondary-69: #a6a8b5;
    --md-ref-palette-secondary-70: #a9aab7;
    --md-ref-palette-secondary-71: #abadba;
    --md-ref-palette-secondary-72: #aeb0bd;
    --md-ref-palette-secondary-73: #b1b3c0;
    --md-ref-palette-secondary-74: #b3b5c2;
    --md-ref-palette-secondary-75: #b6b8c5;
    --md-ref-palette-secondary-76: #b9bbc8;
    --md-ref-palette-secondary-77: #bcbdcb;
    --md-ref-palette-secondary-78: #bfc0cd;
    --md-ref-palette-secondary-79: #c1c3d0;
    --md-ref-palette-secondary-80: #c4c6d3;
    --md-ref-palette-secondary-81: #c7c8d6;
    --md-ref-palette-secondary-82: #cacbd9;
    --md-ref-palette-secondary-83: #cccedb;
    --md-ref-palette-secondary-84: #cfd1de;
    --md-ref-palette-secondary-85: #d2d4e1;
    --md-ref-palette-secondary-86: #d5d6e4;
    --md-ref-palette-secondary-87: #d8d9e7;
    --md-ref-palette-secondary-88: #dbdcea;
    --md-ref-palette-secondary-89: #dddfec;
    --md-ref-palette-secondary-90: #e0e2ef;
    --md-ref-palette-secondary-91: #e3e4f2;
    --md-ref-palette-secondary-92: #e6e7f5;
    --md-ref-palette-secondary-93: #e9eaf8;
    --md-ref-palette-secondary-94: #ecedfb;
    --md-ref-palette-secondary-95: #eff0fe;
    --md-ref-palette-secondary-96: #f2f3ff;
    --md-ref-palette-secondary-97: #f6f6ff;
    --md-ref-palette-secondary-98: #faf8ff;
    --md-ref-palette-secondary-99: #fefbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #060300;
    --md-ref-palette-tertiary-2: #0d0600;
    --md-ref-palette-tertiary-3: #120a00;
    --md-ref-palette-tertiary-4: #160d00;
    --md-ref-palette-tertiary-5: #190f00;
    --md-ref-palette-tertiary-6: #1c1100;
    --md-ref-palette-tertiary-7: #1f1400;
    --md-ref-palette-tertiary-8: #211600;
    --md-ref-palette-tertiary-9: #241700;
    --md-ref-palette-tertiary-10: #261900;
    --md-ref-palette-tertiary-11: #291b00;
    --md-ref-palette-tertiary-12: #2b1d01;
    --md-ref-palette-tertiary-13: #2d1f02;
    --md-ref-palette-tertiary-14: #302103;
    --md-ref-palette-tertiary-15: #322304;
    --md-ref-palette-tertiary-16: #342506;
    --md-ref-palette-tertiary-17: #372807;
    --md-ref-palette-tertiary-18: #392a09;
    --md-ref-palette-tertiary-19: #3b2c0b;
    --md-ref-palette-tertiary-20: #3e2e0d;
    --md-ref-palette-tertiary-21: #40300f;
    --md-ref-palette-tertiary-22: #423211;
    --md-ref-palette-tertiary-23: #453413;
    --md-ref-palette-tertiary-24: #473715;
    --md-ref-palette-tertiary-25: #4a3917;
    --md-ref-palette-tertiary-26: #4c3b19;
    --md-ref-palette-tertiary-27: #4e3d1b;
    --md-ref-palette-tertiary-28: #51401d;
    --md-ref-palette-tertiary-29: #534220;
    --md-ref-palette-tertiary-30: #564422;
    --md-ref-palette-tertiary-31: #584624;
    --md-ref-palette-tertiary-32: #5b4926;
    --md-ref-palette-tertiary-33: #5d4b28;
    --md-ref-palette-tertiary-34: #604d2a;
    --md-ref-palette-tertiary-35: #62502c;
    --md-ref-palette-tertiary-36: #65522e;
    --md-ref-palette-tertiary-37: #685430;
    --md-ref-palette-tertiary-38: #6a5733;
    --md-ref-palette-tertiary-39: #6d5935;
    --md-ref-palette-tertiary-40: #6f5c37;
    --md-ref-palette-tertiary-41: #725e39;
    --md-ref-palette-tertiary-42: #74603b;
    --md-ref-palette-tertiary-43: #77633d;
    --md-ref-palette-tertiary-44: #7a6540;
    --md-ref-palette-tertiary-45: #7c6842;
    --md-ref-palette-tertiary-46: #7f6a44;
    --md-ref-palette-tertiary-47: #826d46;
    --md-ref-palette-tertiary-48: #846f49;
    --md-ref-palette-tertiary-49: #87724b;
    --md-ref-palette-tertiary-50: #89744d;
    --md-ref-palette-tertiary-51: #8c7750;
    --md-ref-palette-tertiary-52: #8f7952;
    --md-ref-palette-tertiary-53: #927c54;
    --md-ref-palette-tertiary-54: #947e56;
    --md-ref-palette-tertiary-55: #978159;
    --md-ref-palette-tertiary-56: #9a835b;
    --md-ref-palette-tertiary-57: #9c865e;
    --md-ref-palette-tertiary-58: #9f8860;
    --md-ref-palette-tertiary-59: #a28b62;
    --md-ref-palette-tertiary-60: #a58e65;
    --md-ref-palette-tertiary-61: #a79067;
    --md-ref-palette-tertiary-62: #aa9369;
    --md-ref-palette-tertiary-63: #ad956c;
    --md-ref-palette-tertiary-64: #b0986e;
    --md-ref-palette-tertiary-65: #b29b71;
    --md-ref-palette-tertiary-66: #b59d73;
    --md-ref-palette-tertiary-67: #b8a076;
    --md-ref-palette-tertiary-68: #bba378;
    --md-ref-palette-tertiary-69: #bea57b;
    --md-ref-palette-tertiary-70: #c1a87d;
    --md-ref-palette-tertiary-71: #c3ab80;
    --md-ref-palette-tertiary-72: #c6ad82;
    --md-ref-palette-tertiary-73: #c9b085;
    --md-ref-palette-tertiary-74: #ccb387;
    --md-ref-palette-tertiary-75: #cfb58a;
    --md-ref-palette-tertiary-76: #d2b88c;
    --md-ref-palette-tertiary-77: #d4bb8f;
    --md-ref-palette-tertiary-78: #d7be91;
    --md-ref-palette-tertiary-79: #dac094;
    --md-ref-palette-tertiary-80: #ddc396;
    --md-ref-palette-tertiary-81: #e0c699;
    --md-ref-palette-tertiary-82: #e3c99b;
    --md-ref-palette-tertiary-83: #e6cb9e;
    --md-ref-palette-tertiary-84: #e9cea1;
    --md-ref-palette-tertiary-85: #ecd1a3;
    --md-ref-palette-tertiary-86: #efd4a6;
    --md-ref-palette-tertiary-87: #f2d7a8;
    --md-ref-palette-tertiary-88: #f5d9ab;
    --md-ref-palette-tertiary-89: #f7dcae;
    --md-ref-palette-tertiary-90: #fadfb0;
    --md-ref-palette-tertiary-91: #fde2b3;
    --md-ref-palette-tertiary-92: #ffe5b9;
    --md-ref-palette-tertiary-93: #ffe8c3;
    --md-ref-palette-tertiary-94: #ffebcd;
    --md-ref-palette-tertiary-95: #ffefd6;
    --md-ref-palette-tertiary-96: #fff2e0;
    --md-ref-palette-tertiary-97: #fff5e9;
    --md-ref-palette-tertiary-98: #fff8f3;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030405;
    --md-ref-palette-neutral-2: #070709;
    --md-ref-palette-neutral-3: #0b0b0d;
    --md-ref-palette-neutral-4: #0e0e10;
    --md-ref-palette-neutral-5: #111113;
    --md-ref-palette-neutral-6: #131315;
    --md-ref-palette-neutral-7: #151517;
    --md-ref-palette-neutral-8: #171719;
    --md-ref-palette-neutral-9: #19191b;
    --md-ref-palette-neutral-10: #1b1b1d;
    --md-ref-palette-neutral-11: #1d1d1f;
    --md-ref-palette-neutral-12: #1f1f21;
    --md-ref-palette-neutral-13: #212123;
    --md-ref-palette-neutral-14: #242325;
    --md-ref-palette-neutral-15: #262627;
    --md-ref-palette-neutral-16: #28282a;
    --md-ref-palette-neutral-17: #2a2a2c;
    --md-ref-palette-neutral-18: #2c2c2e;
    --md-ref-palette-neutral-19: #2e2e30;
    --md-ref-palette-neutral-20: #303032;
    --md-ref-palette-neutral-21: #333234;
    --md-ref-palette-neutral-22: #353436;
    --md-ref-palette-neutral-23: #373739;
    --md-ref-palette-neutral-24: #39393b;
    --md-ref-palette-neutral-25: #3b3b3d;
    --md-ref-palette-neutral-26: #3e3d3f;
    --md-ref-palette-neutral-27: #404042;
    --md-ref-palette-neutral-28: #424244;
    --md-ref-palette-neutral-29: #454446;
    --md-ref-palette-neutral-30: #474648;
    --md-ref-palette-neutral-31: #49494b;
    --md-ref-palette-neutral-32: #4c4b4d;
    --md-ref-palette-neutral-33: #4e4d4f;
    --md-ref-palette-neutral-34: #505052;
    --md-ref-palette-neutral-35: #535254;
    --md-ref-palette-neutral-36: #555456;
    --md-ref-palette-neutral-37: #575759;
    --md-ref-palette-neutral-38: #5a595b;
    --md-ref-palette-neutral-39: #5c5b5e;
    --md-ref-palette-neutral-40: #5f5e60;
    --md-ref-palette-neutral-41: #616062;
    --md-ref-palette-neutral-42: #646365;
    --md-ref-palette-neutral-43: #666567;
    --md-ref-palette-neutral-44: #69686a;
    --md-ref-palette-neutral-45: #6b6a6c;
    --md-ref-palette-neutral-46: #6e6d6f;
    --md-ref-palette-neutral-47: #706f71;
    --md-ref-palette-neutral-48: #737174;
    --md-ref-palette-neutral-49: #757476;
    --md-ref-palette-neutral-50: #787679;
    --md-ref-palette-neutral-51: #7a797b;
    --md-ref-palette-neutral-52: #7d7c7e;
    --md-ref-palette-neutral-53: #7f7e80;
    --md-ref-palette-neutral-54: #828183;
    --md-ref-palette-neutral-55: #858385;
    --md-ref-palette-neutral-56: #878688;
    --md-ref-palette-neutral-57: #8a888b;
    --md-ref-palette-neutral-58: #8c8b8d;
    --md-ref-palette-neutral-59: #8f8d90;
    --md-ref-palette-neutral-60: #929092;
    --md-ref-palette-neutral-61: #949395;
    --md-ref-palette-neutral-62: #979598;
    --md-ref-palette-neutral-63: #9a989a;
    --md-ref-palette-neutral-64: #9c9b9d;
    --md-ref-palette-neutral-65: #9f9d9f;
    --md-ref-palette-neutral-66: #a2a0a2;
    --md-ref-palette-neutral-67: #a4a2a5;
    --md-ref-palette-neutral-68: #a7a5a7;
    --md-ref-palette-neutral-69: #aaa8aa;
    --md-ref-palette-neutral-70: #acaaad;
    --md-ref-palette-neutral-71: #afadaf;
    --md-ref-palette-neutral-72: #b2b0b2;
    --md-ref-palette-neutral-73: #b5b3b5;
    --md-ref-palette-neutral-74: #b7b5b8;
    --md-ref-palette-neutral-75: #bab8ba;
    --md-ref-palette-neutral-76: #bdbbbd;
    --md-ref-palette-neutral-77: #c0bdc0;
    --md-ref-palette-neutral-78: #c2c0c2;
    --md-ref-palette-neutral-79: #c5c3c5;
    --md-ref-palette-neutral-80: #c8c6c8;
    --md-ref-palette-neutral-81: #cbc8cb;
    --md-ref-palette-neutral-82: #cecbcd;
    --md-ref-palette-neutral-83: #d0ced0;
    --md-ref-palette-neutral-84: #d3d1d3;
    --md-ref-palette-neutral-85: #d6d4d6;
    --md-ref-palette-neutral-86: #d9d6d9;
    --md-ref-palette-neutral-87: #dcd9db;
    --md-ref-palette-neutral-88: #dfdcde;
    --md-ref-palette-neutral-89: #e2dfe1;
    --md-ref-palette-neutral-90: #e4e2e4;
    --md-ref-palette-neutral-91: #e7e4e7;
    --md-ref-palette-neutral-92: #eae7ea;
    --md-ref-palette-neutral-93: #edeaec;
    --md-ref-palette-neutral-94: #f0edef;
    --md-ref-palette-neutral-95: #f3f0f2;
    --md-ref-palette-neutral-96: #f6f3f5;
    --md-ref-palette-neutral-97: #f9f5f8;
    --md-ref-palette-neutral-98: #fcf8fb;
    --md-ref-palette-neutral-99: #fefbfe;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030407;
    --md-ref-palette-neutral-variant-2: #06070c;
    --md-ref-palette-neutral-variant-3: #090b10;
    --md-ref-palette-neutral-variant-4: #0c0e13;
    --md-ref-palette-neutral-variant-5: #0f1116;
    --md-ref-palette-neutral-variant-6: #121319;
    --md-ref-palette-neutral-variant-7: #14151b;
    --md-ref-palette-neutral-variant-8: #16171d;
    --md-ref-palette-neutral-variant-9: #18191f;
    --md-ref-palette-neutral-variant-10: #1a1b21;
    --md-ref-palette-neutral-variant-11: #1c1d23;
    --md-ref-palette-neutral-variant-12: #1e1f25;
    --md-ref-palette-neutral-variant-13: #202127;
    --md-ref-palette-neutral-variant-14: #222329;
    --md-ref-palette-neutral-variant-15: #24252b;
    --md-ref-palette-neutral-variant-16: #26282e;
    --md-ref-palette-neutral-variant-17: #282a30;
    --md-ref-palette-neutral-variant-18: #2a2c32;
    --md-ref-palette-neutral-variant-19: #2d2e34;
    --md-ref-palette-neutral-variant-20: #2f3036;
    --md-ref-palette-neutral-variant-21: #313238;
    --md-ref-palette-neutral-variant-22: #33343b;
    --md-ref-palette-neutral-variant-23: #35373d;
    --md-ref-palette-neutral-variant-24: #38393f;
    --md-ref-palette-neutral-variant-25: #3a3b41;
    --md-ref-palette-neutral-variant-26: #3c3d44;
    --md-ref-palette-neutral-variant-27: #3e4046;
    --md-ref-palette-neutral-variant-28: #414248;
    --md-ref-palette-neutral-variant-29: #43444b;
    --md-ref-palette-neutral-variant-30: #45464d;
    --md-ref-palette-neutral-variant-31: #48494f;
    --md-ref-palette-neutral-variant-32: #4a4b52;
    --md-ref-palette-neutral-variant-33: #4c4d54;
    --md-ref-palette-neutral-variant-34: #4f5056;
    --md-ref-palette-neutral-variant-35: #515259;
    --md-ref-palette-neutral-variant-36: #53545b;
    --md-ref-palette-neutral-variant-37: #56575d;
    --md-ref-palette-neutral-variant-38: #585960;
    --md-ref-palette-neutral-variant-39: #5b5b62;
    --md-ref-palette-neutral-variant-40: #5d5e65;
    --md-ref-palette-neutral-variant-41: #5f6067;
    --md-ref-palette-neutral-variant-42: #62636a;
    --md-ref-palette-neutral-variant-43: #64656c;
    --md-ref-palette-neutral-variant-44: #67686f;
    --md-ref-palette-neutral-variant-45: #696a71;
    --md-ref-palette-neutral-variant-46: #6c6d74;
    --md-ref-palette-neutral-variant-47: #6e6f76;
    --md-ref-palette-neutral-variant-48: #717279;
    --md-ref-palette-neutral-variant-49: #73747b;
    --md-ref-palette-neutral-variant-50: #76777e;
    --md-ref-palette-neutral-variant-51: #787980;
    --md-ref-palette-neutral-variant-52: #7b7c83;
    --md-ref-palette-neutral-variant-53: #7e7e85;
    --md-ref-palette-neutral-variant-54: #808188;
    --md-ref-palette-neutral-variant-55: #83838a;
    --md-ref-palette-neutral-variant-56: #85868d;
    --md-ref-palette-neutral-variant-57: #888890;
    --md-ref-palette-neutral-variant-58: #8b8b92;
    --md-ref-palette-neutral-variant-59: #8d8d95;
    --md-ref-palette-neutral-variant-60: #909097;
    --md-ref-palette-neutral-variant-61: #92939a;
    --md-ref-palette-neutral-variant-62: #95959d;
    --md-ref-palette-neutral-variant-63: #98989f;
    --md-ref-palette-neutral-variant-64: #9a9ba2;
    --md-ref-palette-neutral-variant-65: #9d9da5;
    --md-ref-palette-neutral-variant-66: #a0a0a7;
    --md-ref-palette-neutral-variant-67: #a2a2aa;
    --md-ref-palette-neutral-variant-68: #a5a5ad;
    --md-ref-palette-neutral-variant-69: #a8a8af;
    --md-ref-palette-neutral-variant-70: #abaab2;
    --md-ref-palette-neutral-variant-71: #adadb5;
    --md-ref-palette-neutral-variant-72: #b0b0b8;
    --md-ref-palette-neutral-variant-73: #b3b3ba;
    --md-ref-palette-neutral-variant-74: #b5b5bd;
    --md-ref-palette-neutral-variant-75: #b8b8c0;
    --md-ref-palette-neutral-variant-76: #bbbbc2;
    --md-ref-palette-neutral-variant-77: #bebdc5;
    --md-ref-palette-neutral-variant-78: #c0c0c8;
    --md-ref-palette-neutral-variant-79: #c3c3cb;
    --md-ref-palette-neutral-variant-80: #c6c6ce;
    --md-ref-palette-neutral-variant-81: #c9c8d0;
    --md-ref-palette-neutral-variant-82: #cccbd3;
    --md-ref-palette-neutral-variant-83: #ceced6;
    --md-ref-palette-neutral-variant-84: #d1d1d9;
    --md-ref-palette-neutral-variant-85: #d4d4dc;
    --md-ref-palette-neutral-variant-86: #d7d6de;
    --md-ref-palette-neutral-variant-87: #dad9e1;
    --md-ref-palette-neutral-variant-88: #dddce4;
    --md-ref-palette-neutral-variant-89: #dfdfe7;
    --md-ref-palette-neutral-variant-90: #e2e2ea;
    --md-ref-palette-neutral-variant-91: #e5e4ed;
    --md-ref-palette-neutral-variant-92: #e8e7ef;
    --md-ref-palette-neutral-variant-93: #ebeaf2;
    --md-ref-palette-neutral-variant-94: #eeedf5;
    --md-ref-palette-neutral-variant-95: #f1f0f8;
    --md-ref-palette-neutral-variant-96: #f4f3fb;
    --md-ref-palette-neutral-variant-97: #f6f6fe;
    --md-ref-palette-neutral-variant-98: #faf8ff;
    --md-ref-palette-neutral-variant-99: #fefbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
