:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #05001a;
    --md-ref-palette-primary-2: #0b0028;
    --md-ref-palette-primary-3: #0f022d;
    --md-ref-palette-primary-4: #120530;
    --md-ref-palette-primary-5: #150733;
    --md-ref-palette-primary-6: #170a35;
    --md-ref-palette-primary-7: #1a0d38;
    --md-ref-palette-primary-8: #1c0f3a;
    --md-ref-palette-primary-9: #1e113c;
    --md-ref-palette-primary-10: #20133e;
    --md-ref-palette-primary-11: #221640;
    --md-ref-palette-primary-12: #241842;
    --md-ref-palette-primary-13: #261a44;
    --md-ref-palette-primary-14: #281c46;
    --md-ref-palette-primary-15: #2a1e49;
    --md-ref-palette-primary-16: #2c204b;
    --md-ref-palette-primary-17: #2e234d;
    --md-ref-palette-primary-18: #31254f;
    --md-ref-palette-primary-19: #332752;
    --md-ref-palette-primary-20: #352954;
    --md-ref-palette-primary-21: #372b56;
    --md-ref-palette-primary-22: #3a2d59;
    --md-ref-palette-primary-23: #3c305b;
    --md-ref-palette-primary-24: #3e325e;
    --md-ref-palette-primary-25: #403460;
    --md-ref-palette-primary-26: #433662;
    --md-ref-palette-primary-27: #453965;
    --md-ref-palette-primary-28: #473b67;
    --md-ref-palette-primary-29: #4a3d6a;
    --md-ref-palette-primary-30: #4c406c;
    --md-ref-palette-primary-31: #4e426f;
    --md-ref-palette-primary-32: #514471;
    --md-ref-palette-primary-33: #534774;
    --md-ref-palette-primary-34: #554976;
    --md-ref-palette-primary-35: #584b79;
    --md-ref-palette-primary-36: #5a4e7b;
    --md-ref-palette-primary-37: #5d507e;
    --md-ref-palette-primary-38: #5f5280;
    --md-ref-palette-primary-39: #625583;
    --md-ref-palette-primary-40: #645785;
    --md-ref-palette-primary-41: #675a88;
    --md-ref-palette-primary-42: #695c8b;
    --md-ref-palette-primary-43: #6c5e8d;
    --md-ref-palette-primary-44: #6e6190;
    --md-ref-palette-primary-45: #716392;
    --md-ref-palette-primary-46: #736695;
    --md-ref-palette-primary-47: #766898;
    --md-ref-palette-primary-48: #786b9a;
    --md-ref-palette-primary-49: #7b6d9d;
    --md-ref-palette-primary-50: #7d70a0;
    --md-ref-palette-primary-51: #8072a2;
    --md-ref-palette-primary-52: #8275a5;
    --md-ref-palette-primary-53: #8577a8;
    --md-ref-palette-primary-54: #887aaa;
    --md-ref-palette-primary-55: #8a7cad;
    --md-ref-palette-primary-56: #8d7fb0;
    --md-ref-palette-primary-57: #9081b3;
    --md-ref-palette-primary-58: #9284b5;
    --md-ref-palette-primary-59: #9587b8;
    --md-ref-palette-primary-60: #9789bb;
    --md-ref-palette-primary-61: #9a8cbe;
    --md-ref-palette-primary-62: #9d8ec0;
    --md-ref-palette-primary-63: #9f91c3;
    --md-ref-palette-primary-64: #a294c6;
    --md-ref-palette-primary-65: #a596c9;
    --md-ref-palette-primary-66: #a899cc;
    --md-ref-palette-primary-67: #aa9bce;
    --md-ref-palette-primary-68: #ad9ed1;
    --md-ref-palette-primary-69: #b0a1d4;
    --md-ref-palette-primary-70: #b2a3d7;
    --md-ref-palette-primary-71: #b5a6da;
    --md-ref-palette-primary-72: #b8a9dc;
    --md-ref-palette-primary-73: #bbabdf;
    --md-ref-palette-primary-74: #beaee2;
    --md-ref-palette-primary-75: #c0b1e5;
    --md-ref-palette-primary-76: #c3b4e8;
    --md-ref-palette-primary-77: #c6b6eb;
    --md-ref-palette-primary-78: #c9b9ee;
    --md-ref-palette-primary-79: #cbbcf1;
    --md-ref-palette-primary-80: #cebef3;
    --md-ref-palette-primary-81: #d1c1f6;
    --md-ref-palette-primary-82: #d4c4f9;
    --md-ref-palette-primary-83: #d7c7fc;
    --md-ref-palette-primary-84: #dac9ff;
    --md-ref-palette-primary-85: #dccdff;
    --md-ref-palette-primary-86: #dfd0ff;
    --md-ref-palette-primary-87: #e1d3ff;
    --md-ref-palette-primary-88: #e4d7ff;
    --md-ref-palette-primary-89: #e6daff;
    --md-ref-palette-primary-90: #e9ddff;
    --md-ref-palette-primary-91: #ebe0ff;
    --md-ref-palette-primary-92: #eee4ff;
    --md-ref-palette-primary-93: #f1e7ff;
    --md-ref-palette-primary-94: #f3eaff;
    --md-ref-palette-primary-95: #f6edff;
    --md-ref-palette-primary-96: #f8f1ff;
    --md-ref-palette-primary-97: #fbf4ff;
    --md-ref-palette-primary-98: #fdf7ff;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #05020f;
    --md-ref-palette-secondary-2: #090514;
    --md-ref-palette-secondary-3: #0d0818;
    --md-ref-palette-secondary-4: #100b1c;
    --md-ref-palette-secondary-5: #130e1f;
    --md-ref-palette-secondary-6: #151121;
    --md-ref-palette-secondary-7: #181324;
    --md-ref-palette-secondary-8: #1a1526;
    --md-ref-palette-secondary-9: #1c1728;
    --md-ref-palette-secondary-10: #1e192a;
    --md-ref-palette-secondary-11: #201b2c;
    --md-ref-palette-secondary-12: #221d2e;
    --md-ref-palette-secondary-13: #241f30;
    --md-ref-palette-secondary-14: #262132;
    --md-ref-palette-secondary-15: #282335;
    --md-ref-palette-secondary-16: #2a2537;
    --md-ref-palette-secondary-17: #2c2739;
    --md-ref-palette-secondary-18: #2e293b;
    --md-ref-palette-secondary-19: #312b3d;
    --md-ref-palette-secondary-20: #332e40;
    --md-ref-palette-secondary-21: #353042;
    --md-ref-palette-secondary-22: #373244;
    --md-ref-palette-secondary-23: #3a3446;
    --md-ref-palette-secondary-24: #3c3649;
    --md-ref-palette-secondary-25: #3e394b;
    --md-ref-palette-secondary-26: #403b4d;
    --md-ref-palette-secondary-27: #433d50;
    --md-ref-palette-secondary-28: #453f52;
    --md-ref-palette-secondary-29: #474255;
    --md-ref-palette-secondary-30: #4a4457;
    --md-ref-palette-secondary-31: #4c4659;
    --md-ref-palette-secondary-32: #4e485c;
    --md-ref-palette-secondary-33: #514b5e;
    --md-ref-palette-secondary-34: #534d61;
    --md-ref-palette-secondary-35: #554f63;
    --md-ref-palette-secondary-36: #585265;
    --md-ref-palette-secondary-37: #5a5468;
    --md-ref-palette-secondary-38: #5d566a;
    --md-ref-palette-secondary-39: #5f596d;
    --md-ref-palette-secondary-40: #625b6f;
    --md-ref-palette-secondary-41: #645e72;
    --md-ref-palette-secondary-42: #676074;
    --md-ref-palette-secondary-43: #696277;
    --md-ref-palette-secondary-44: #6c6579;
    --md-ref-palette-secondary-45: #6e677c;
    --md-ref-palette-secondary-46: #716a7e;
    --md-ref-palette-secondary-47: #736c81;
    --md-ref-palette-secondary-48: #766f84;
    --md-ref-palette-secondary-49: #787186;
    --md-ref-palette-secondary-50: #7b7489;
    --md-ref-palette-secondary-51: #7d768b;
    --md-ref-palette-secondary-52: #80798e;
    --md-ref-palette-secondary-53: #827b91;
    --md-ref-palette-secondary-54: #857e93;
    --md-ref-palette-secondary-55: #888096;
    --md-ref-palette-secondary-56: #8a8398;
    --md-ref-palette-secondary-57: #8d859b;
    --md-ref-palette-secondary-58: #90889e;
    --md-ref-palette-secondary-59: #928ba0;
    --md-ref-palette-secondary-60: #958da3;
    --md-ref-palette-secondary-61: #9790a6;
    --md-ref-palette-secondary-62: #9a92a8;
    --md-ref-palette-secondary-63: #9d95ab;
    --md-ref-palette-secondary-64: #9f98ae;
    --md-ref-palette-secondary-65: #a29ab1;
    --md-ref-palette-secondary-66: #a59db3;
    --md-ref-palette-secondary-67: #a8a0b6;
    --md-ref-palette-secondary-68: #aaa2b9;
    --md-ref-palette-secondary-69: #ada5bb;
    --md-ref-palette-secondary-70: #b0a8be;
    --md-ref-palette-secondary-71: #b2aac1;
    --md-ref-palette-secondary-72: #b5adc4;
    --md-ref-palette-secondary-73: #b8b0c6;
    --md-ref-palette-secondary-74: #bbb2c9;
    --md-ref-palette-secondary-75: #beb5cc;
    --md-ref-palette-secondary-76: #c0b8cf;
    --md-ref-palette-secondary-77: #c3bad2;
    --md-ref-palette-secondary-78: #c6bdd4;
    --md-ref-palette-secondary-79: #c9c0d7;
    --md-ref-palette-secondary-80: #cbc3da;
    --md-ref-palette-secondary-81: #cec5dd;
    --md-ref-palette-secondary-82: #d1c8e0;
    --md-ref-palette-secondary-83: #d4cbe3;
    --md-ref-palette-secondary-84: #d7cee5;
    --md-ref-palette-secondary-85: #dad0e8;
    --md-ref-palette-secondary-86: #dcd3eb;
    --md-ref-palette-secondary-87: #dfd6ee;
    --md-ref-palette-secondary-88: #e2d9f1;
    --md-ref-palette-secondary-89: #e5dcf4;
    --md-ref-palette-secondary-90: #e8def7;
    --md-ref-palette-secondary-91: #ebe1f9;
    --md-ref-palette-secondary-92: #eee4fc;
    --md-ref-palette-secondary-93: #f1e7ff;
    --md-ref-palette-secondary-94: #f3eaff;
    --md-ref-palette-secondary-95: #f6edff;
    --md-ref-palette-secondary-96: #f8f1ff;
    --md-ref-palette-secondary-97: #fbf4ff;
    --md-ref-palette-secondary-98: #fdf7ff;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #050400;
    --md-ref-palette-tertiary-2: #0a0700;
    --md-ref-palette-tertiary-3: #0f0b00;
    --md-ref-palette-tertiary-4: #120e00;
    --md-ref-palette-tertiary-5: #151100;
    --md-ref-palette-tertiary-6: #181300;
    --md-ref-palette-tertiary-7: #1b1500;
    --md-ref-palette-tertiary-8: #1d1700;
    --md-ref-palette-tertiary-9: #1f1900;
    --md-ref-palette-tertiary-10: #221b00;
    --md-ref-palette-tertiary-11: #241d00;
    --md-ref-palette-tertiary-12: #261f00;
    --md-ref-palette-tertiary-13: #282100;
    --md-ref-palette-tertiary-14: #2b2300;
    --md-ref-palette-tertiary-15: #2d2500;
    --md-ref-palette-tertiary-16: #302700;
    --md-ref-palette-tertiary-17: #322a00;
    --md-ref-palette-tertiary-18: #342c00;
    --md-ref-palette-tertiary-19: #372e00;
    --md-ref-palette-tertiary-20: #393000;
    --md-ref-palette-tertiary-21: #3c3201;
    --md-ref-palette-tertiary-22: #3e3403;
    --md-ref-palette-tertiary-23: #403704;
    --md-ref-palette-tertiary-24: #433906;
    --md-ref-palette-tertiary-25: #453b08;
    --md-ref-palette-tertiary-26: #473d0b;
    --md-ref-palette-tertiary-27: #4a400d;
    --md-ref-palette-tertiary-28: #4c420f;
    --md-ref-palette-tertiary-29: #4f4411;
    --md-ref-palette-tertiary-30: #514614;
    --md-ref-palette-tertiary-31: #544916;
    --md-ref-palette-tertiary-32: #564b18;
    --md-ref-palette-tertiary-33: #584d1a;
    --md-ref-palette-tertiary-34: #5b501c;
    --md-ref-palette-tertiary-35: #5d521e;
    --md-ref-palette-tertiary-36: #605521;
    --md-ref-palette-tertiary-37: #625723;
    --md-ref-palette-tertiary-38: #655925;
    --md-ref-palette-tertiary-39: #675c27;
    --md-ref-palette-tertiary-40: #6a5e29;
    --md-ref-palette-tertiary-41: #6d612b;
    --md-ref-palette-tertiary-42: #6f632e;
    --md-ref-palette-tertiary-43: #726530;
    --md-ref-palette-tertiary-44: #746832;
    --md-ref-palette-tertiary-45: #776a34;
    --md-ref-palette-tertiary-46: #796d36;
    --md-ref-palette-tertiary-47: #7c6f39;
    --md-ref-palette-tertiary-48: #7f723b;
    --md-ref-palette-tertiary-49: #81743d;
    --md-ref-palette-tertiary-50: #84773f;
    --md-ref-palette-tertiary-51: #867942;
    --md-ref-palette-tertiary-52: #897c44;
    --md-ref-palette-tertiary-53: #8c7e46;
    --md-ref-palette-tertiary-54: #8e8148;
    --md-ref-palette-tertiary-55: #91844b;
    --md-ref-palette-tertiary-56: #94864d;
    --md-ref-palette-tertiary-57: #96894f;
    --md-ref-palette-tertiary-58: #998b52;
    --md-ref-palette-tertiary-59: #9c8e54;
    --md-ref-palette-tertiary-60: #9f9156;
    --md-ref-palette-tertiary-61: #a19359;
    --md-ref-palette-tertiary-62: #a4965b;
    --md-ref-palette-tertiary-63: #a7985d;
    --md-ref-palette-tertiary-64: #a99b60;
    --md-ref-palette-tertiary-65: #ac9e62;
    --md-ref-palette-tertiary-66: #afa064;
    --md-ref-palette-tertiary-67: #b2a367;
    --md-ref-palette-tertiary-68: #b5a669;
    --md-ref-palette-tertiary-69: #b7a86c;
    --md-ref-palette-tertiary-70: #baab6e;
    --md-ref-palette-tertiary-71: #bdae71;
    --md-ref-palette-tertiary-72: #c0b173;
    --md-ref-palette-tertiary-73: #c3b375;
    --md-ref-palette-tertiary-74: #c5b678;
    --md-ref-palette-tertiary-75: #c8b97a;
    --md-ref-palette-tertiary-76: #cbbb7d;
    --md-ref-palette-tertiary-77: #cebe7f;
    --md-ref-palette-tertiary-78: #d1c182;
    --md-ref-palette-tertiary-79: #d4c484;
    --md-ref-palette-tertiary-80: #d6c687;
    --md-ref-palette-tertiary-81: #d9c989;
    --md-ref-palette-tertiary-82: #dccc8c;
    --md-ref-palette-tertiary-83: #dfcf8e;
    --md-ref-palette-tertiary-84: #e2d291;
    --md-ref-palette-tertiary-85: #e5d493;
    --md-ref-palette-tertiary-86: #e8d796;
    --md-ref-palette-tertiary-87: #ebda99;
    --md-ref-palette-tertiary-88: #eedd9b;
    --md-ref-palette-tertiary-89: #f0e09e;
    --md-ref-palette-tertiary-90: #f3e2a0;
    --md-ref-palette-tertiary-91: #f6e5a3;
    --md-ref-palette-tertiary-92: #f9e8a6;
    --md-ref-palette-tertiary-93: #fceba8;
    --md-ref-palette-tertiary-94: #ffeeac;
    --md-ref-palette-tertiary-95: #fff1bd;
    --md-ref-palette-tertiary-96: #fff3ce;
    --md-ref-palette-tertiary-97: #fff6de;
    --md-ref-palette-tertiary-98: #fff9ed;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040305;
    --md-ref-palette-neutral-2: #08070a;
    --md-ref-palette-neutral-3: #0c0a0e;
    --md-ref-palette-neutral-4: #0f0e11;
    --md-ref-palette-neutral-5: #121013;
    --md-ref-palette-neutral-6: #141316;
    --md-ref-palette-neutral-7: #161518;
    --md-ref-palette-neutral-8: #18171a;
    --md-ref-palette-neutral-9: #1a191c;
    --md-ref-palette-neutral-10: #1c1b1e;
    --md-ref-palette-neutral-11: #1e1d20;
    --md-ref-palette-neutral-12: #201f22;
    --md-ref-palette-neutral-13: #232124;
    --md-ref-palette-neutral-14: #252326;
    --md-ref-palette-neutral-15: #272528;
    --md-ref-palette-neutral-16: #29272b;
    --md-ref-palette-neutral-17: #2b292d;
    --md-ref-palette-neutral-18: #2d2b2f;
    --md-ref-palette-neutral-19: #2f2d31;
    --md-ref-palette-neutral-20: #313033;
    --md-ref-palette-neutral-21: #343235;
    --md-ref-palette-neutral-22: #363438;
    --md-ref-palette-neutral-23: #38363a;
    --md-ref-palette-neutral-24: #3a383c;
    --md-ref-palette-neutral-25: #3d3b3e;
    --md-ref-palette-neutral-26: #3f3d40;
    --md-ref-palette-neutral-27: #413f43;
    --md-ref-palette-neutral-28: #434145;
    --md-ref-palette-neutral-29: #464447;
    --md-ref-palette-neutral-30: #48464a;
    --md-ref-palette-neutral-31: #4a484c;
    --md-ref-palette-neutral-32: #4d4a4e;
    --md-ref-palette-neutral-33: #4f4d51;
    --md-ref-palette-neutral-34: #524f53;
    --md-ref-palette-neutral-35: #545155;
    --md-ref-palette-neutral-36: #565458;
    --md-ref-palette-neutral-37: #59565a;
    --md-ref-palette-neutral-38: #5b595c;
    --md-ref-palette-neutral-39: #5e5b5f;
    --md-ref-palette-neutral-40: #605d61;
    --md-ref-palette-neutral-41: #636064;
    --md-ref-palette-neutral-42: #656266;
    --md-ref-palette-neutral-43: #676569;
    --md-ref-palette-neutral-44: #6a676b;
    --md-ref-palette-neutral-45: #6c6a6e;
    --md-ref-palette-neutral-46: #6f6c70;
    --md-ref-palette-neutral-47: #716e72;
    --md-ref-palette-neutral-48: #747175;
    --md-ref-palette-neutral-49: #777377;
    --md-ref-palette-neutral-50: #79767a;
    --md-ref-palette-neutral-51: #7c787d;
    --md-ref-palette-neutral-52: #7e7b7f;
    --md-ref-palette-neutral-53: #817e82;
    --md-ref-palette-neutral-54: #838084;
    --md-ref-palette-neutral-55: #868387;
    --md-ref-palette-neutral-56: #898589;
    --md-ref-palette-neutral-57: #8b888c;
    --md-ref-palette-neutral-58: #8e8a8e;
    --md-ref-palette-neutral-59: #908d91;
    --md-ref-palette-neutral-60: #938f94;
    --md-ref-palette-neutral-61: #969296;
    --md-ref-palette-neutral-62: #989599;
    --md-ref-palette-neutral-63: #9b979c;
    --md-ref-palette-neutral-64: #9e9a9e;
    --md-ref-palette-neutral-65: #a09da1;
    --md-ref-palette-neutral-66: #a39fa3;
    --md-ref-palette-neutral-67: #a6a2a6;
    --md-ref-palette-neutral-68: #a9a5a9;
    --md-ref-palette-neutral-69: #aba7ab;
    --md-ref-palette-neutral-70: #aeaaae;
    --md-ref-palette-neutral-71: #b1adb1;
    --md-ref-palette-neutral-72: #b3afb4;
    --md-ref-palette-neutral-73: #b6b2b6;
    --md-ref-palette-neutral-74: #b9b5b9;
    --md-ref-palette-neutral-75: #bcb7bc;
    --md-ref-palette-neutral-76: #bebabe;
    --md-ref-palette-neutral-77: #c1bdc1;
    --md-ref-palette-neutral-78: #c4c0c4;
    --md-ref-palette-neutral-79: #c7c2c7;
    --md-ref-palette-neutral-80: #cac5c9;
    --md-ref-palette-neutral-81: #ccc8cc;
    --md-ref-palette-neutral-82: #cfcbcf;
    --md-ref-palette-neutral-83: #d2cdd2;
    --md-ref-palette-neutral-84: #d5d0d5;
    --md-ref-palette-neutral-85: #d8d3d7;
    --md-ref-palette-neutral-86: #dbd6da;
    --md-ref-palette-neutral-87: #ddd8dd;
    --md-ref-palette-neutral-88: #e0dbe0;
    --md-ref-palette-neutral-89: #e3dee3;
    --md-ref-palette-neutral-90: #e6e1e5;
    --md-ref-palette-neutral-91: #e9e4e8;
    --md-ref-palette-neutral-92: #ece7eb;
    --md-ref-palette-neutral-93: #efe9ee;
    --md-ref-palette-neutral-94: #f2ecf1;
    --md-ref-palette-neutral-95: #f4eff4;
    --md-ref-palette-neutral-96: #f7f2f7;
    --md-ref-palette-neutral-97: #faf5f9;
    --md-ref-palette-neutral-98: #fdf8fc;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #040308;
    --md-ref-palette-neutral-variant-2: #08060d;
    --md-ref-palette-neutral-variant-3: #0c0a11;
    --md-ref-palette-neutral-variant-4: #0f0d14;
    --md-ref-palette-neutral-variant-5: #121017;
    --md-ref-palette-neutral-variant-6: #14121a;
    --md-ref-palette-neutral-variant-7: #17141c;
    --md-ref-palette-neutral-variant-8: #19161e;
    --md-ref-palette-neutral-variant-9: #1b1820;
    --md-ref-palette-neutral-variant-10: #1d1a22;
    --md-ref-palette-neutral-variant-11: #1f1c24;
    --md-ref-palette-neutral-variant-12: #211e26;
    --md-ref-palette-neutral-variant-13: #232028;
    --md-ref-palette-neutral-variant-14: #25222a;
    --md-ref-palette-neutral-variant-15: #27242c;
    --md-ref-palette-neutral-variant-16: #29272f;
    --md-ref-palette-neutral-variant-17: #2b2931;
    --md-ref-palette-neutral-variant-18: #2e2b33;
    --md-ref-palette-neutral-variant-19: #302d35;
    --md-ref-palette-neutral-variant-20: #322f37;
    --md-ref-palette-neutral-variant-21: #343139;
    --md-ref-palette-neutral-variant-22: #36333c;
    --md-ref-palette-neutral-variant-23: #39363e;
    --md-ref-palette-neutral-variant-24: #3b3840;
    --md-ref-palette-neutral-variant-25: #3d3a42;
    --md-ref-palette-neutral-variant-26: #3f3c45;
    --md-ref-palette-neutral-variant-27: #423e47;
    --md-ref-palette-neutral-variant-28: #444149;
    --md-ref-palette-neutral-variant-29: #46434c;
    --md-ref-palette-neutral-variant-30: #49454e;
    --md-ref-palette-neutral-variant-31: #4b4850;
    --md-ref-palette-neutral-variant-32: #4d4a53;
    --md-ref-palette-neutral-variant-33: #504c55;
    --md-ref-palette-neutral-variant-34: #524e57;
    --md-ref-palette-neutral-variant-35: #54515a;
    --md-ref-palette-neutral-variant-36: #57535c;
    --md-ref-palette-neutral-variant-37: #59565f;
    --md-ref-palette-neutral-variant-38: #5c5861;
    --md-ref-palette-neutral-variant-39: #5e5a63;
    --md-ref-palette-neutral-variant-40: #615d66;
    --md-ref-palette-neutral-variant-41: #635f68;
    --md-ref-palette-neutral-variant-42: #66626b;
    --md-ref-palette-neutral-variant-43: #68646d;
    --md-ref-palette-neutral-variant-44: #6a6670;
    --md-ref-palette-neutral-variant-45: #6d6972;
    --md-ref-palette-neutral-variant-46: #6f6b75;
    --md-ref-palette-neutral-variant-47: #726e77;
    --md-ref-palette-neutral-variant-48: #75707a;
    --md-ref-palette-neutral-variant-49: #77737c;
    --md-ref-palette-neutral-variant-50: #7a757f;
    --md-ref-palette-neutral-variant-51: #7c7881;
    --md-ref-palette-neutral-variant-52: #7f7a84;
    --md-ref-palette-neutral-variant-53: #817d87;
    --md-ref-palette-neutral-variant-54: #847f89;
    --md-ref-palette-neutral-variant-55: #87828c;
    --md-ref-palette-neutral-variant-56: #89848e;
    --md-ref-palette-neutral-variant-57: #8c8791;
    --md-ref-palette-neutral-variant-58: #8e8a94;
    --md-ref-palette-neutral-variant-59: #918c96;
    --md-ref-palette-neutral-variant-60: #948f99;
    --md-ref-palette-neutral-variant-61: #96919b;
    --md-ref-palette-neutral-variant-62: #99949e;
    --md-ref-palette-neutral-variant-63: #9c97a1;
    --md-ref-palette-neutral-variant-64: #9e99a3;
    --md-ref-palette-neutral-variant-65: #a19ca6;
    --md-ref-palette-neutral-variant-66: #a49ea9;
    --md-ref-palette-neutral-variant-67: #a6a1ab;
    --md-ref-palette-neutral-variant-68: #a9a4ae;
    --md-ref-palette-neutral-variant-69: #aca6b1;
    --md-ref-palette-neutral-variant-70: #afa9b3;
    --md-ref-palette-neutral-variant-71: #b1acb6;
    --md-ref-palette-neutral-variant-72: #b4aeb9;
    --md-ref-palette-neutral-variant-73: #b7b1bc;
    --md-ref-palette-neutral-variant-74: #bab4be;
    --md-ref-palette-neutral-variant-75: #bcb7c1;
    --md-ref-palette-neutral-variant-76: #bfb9c4;
    --md-ref-palette-neutral-variant-77: #c2bcc7;
    --md-ref-palette-neutral-variant-78: #c5bfc9;
    --md-ref-palette-neutral-variant-79: #c7c1cc;
    --md-ref-palette-neutral-variant-80: #cac4cf;
    --md-ref-palette-neutral-variant-81: #cdc7d2;
    --md-ref-palette-neutral-variant-82: #d0cad5;
    --md-ref-palette-neutral-variant-83: #d3cdd7;
    --md-ref-palette-neutral-variant-84: #d6cfda;
    --md-ref-palette-neutral-variant-85: #d8d2dd;
    --md-ref-palette-neutral-variant-86: #dbd5e0;
    --md-ref-palette-neutral-variant-87: #ded8e3;
    --md-ref-palette-neutral-variant-88: #e1dae5;
    --md-ref-palette-neutral-variant-89: #e4dde8;
    --md-ref-palette-neutral-variant-90: #e7e0eb;
    --md-ref-palette-neutral-variant-91: #eae3ee;
    --md-ref-palette-neutral-variant-92: #ece6f1;
    --md-ref-palette-neutral-variant-93: #efe9f4;
    --md-ref-palette-neutral-variant-94: #f2ebf7;
    --md-ref-palette-neutral-variant-95: #f5eef9;
    --md-ref-palette-neutral-variant-96: #f8f1fc;
    --md-ref-palette-neutral-variant-97: #fbf4ff;
    --md-ref-palette-neutral-variant-98: #fdf7ff;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}