:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #05001a;
    --md-ref-palette-primary-2: #0b0028;
    --md-ref-palette-primary-3: #0f0032;
    --md-ref-palette-primary-4: #13003a;
    --md-ref-palette-primary-5: #160041;
    --md-ref-palette-primary-10: #23005c;
    --md-ref-palette-primary-20: #3b098b;
    --md-ref-palette-primary-30: #522ca2;
    --md-ref-palette-primary-40: #6a47bb;
    --md-ref-palette-primary-50: #8462d6;
    --md-ref-palette-primary-60: #9e7cf3;
    --md-ref-palette-primary-70: #b89bff;
    --md-ref-palette-primary-80: #d0bcff;
    --md-ref-palette-primary-90: #e9ddff;
    --md-ref-palette-primary-95: #f6edff;
    --md-ref-palette-primary-96: #f8f1ff;
    --md-ref-palette-primary-97: #fbf4ff;
    --md-ref-palette-primary-98: #fef7ff;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #05001a;
    --md-ref-palette-secondary-2: #0b0028;
    --md-ref-palette-secondary-3: #0f022c;
    --md-ref-palette-secondary-4: #120530;
    --md-ref-palette-secondary-5: #150732;
    --md-ref-palette-secondary-10: #20133d;
    --md-ref-palette-secondary-20: #352954;
    --md-ref-palette-secondary-30: #4c406c;
    --md-ref-palette-secondary-40: #645785;
    --md-ref-palette-secondary-50: #7e709f;
    --md-ref-palette-secondary-60: #9889ba;
    --md-ref-palette-secondary-70: #b3a3d6;
    --md-ref-palette-secondary-80: #cfbef3;
    --md-ref-palette-secondary-90: #e9ddff;
    --md-ref-palette-secondary-95: #f6edff;
    --md-ref-palette-secondary-96: #f8f1ff;
    --md-ref-palette-secondary-97: #fbf4ff;
    --md-ref-palette-secondary-98: #fef7ff;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0c0200;
    --md-ref-palette-tertiary-2: #140300;
    --md-ref-palette-tertiary-3: #1b0500;
    --md-ref-palette-tertiary-4: #200600;
    --md-ref-palette-tertiary-5: #240800;
    --md-ref-palette-tertiary-10: #360f00;
    --md-ref-palette-tertiary-20: #581e00;
    --md-ref-palette-tertiary-30: #753312;
    --md-ref-palette-tertiary-40: #934a27;
    --md-ref-palette-tertiary-50: #b1623d;
    --md-ref-palette-tertiary-60: #d07b54;
    --md-ref-palette-tertiary-70: #ef946b;
    --md-ref-palette-tertiary-80: #ffb596;
    --md-ref-palette-tertiary-90: #ffdbcd;
    --md-ref-palette-tertiary-95: #ffede7;
    --md-ref-palette-tertiary-96: #fff1ec;
    --md-ref-palette-tertiary-97: #fff4f1;
    --md-ref-palette-tertiary-98: #fff8f6;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040308;
    --md-ref-palette-neutral-2: #08060d;
    --md-ref-palette-neutral-3: #0c0a11;
    --md-ref-palette-neutral-4: #0f0d14;
    --md-ref-palette-neutral-5: #121017;
    --md-ref-palette-neutral-10: #1d1a22;
    --md-ref-palette-neutral-20: #322f37;
    --md-ref-palette-neutral-30: #49454e;
    --md-ref-palette-neutral-40: #615d66;
    --md-ref-palette-neutral-50: #7a757f;
    --md-ref-palette-neutral-60: #948f98;
    --md-ref-palette-neutral-70: #afa9b3;
    --md-ref-palette-neutral-80: #cac4cf;
    --md-ref-palette-neutral-90: #e7e0eb;
    --md-ref-palette-neutral-95: #f5eef9;
    --md-ref-palette-neutral-96: #f8f1fc;
    --md-ref-palette-neutral-97: #fbf4ff;
    --md-ref-palette-neutral-98: #fef7ff;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #04030b;
    --md-ref-palette-neutral-variant-2: #090611;
    --md-ref-palette-neutral-variant-3: #0c0915;
    --md-ref-palette-neutral-variant-4: #100c18;
    --md-ref-palette-neutral-variant-5: #120f1b;
    --md-ref-palette-neutral-variant-10: #1d1a26;
    --md-ref-palette-neutral-variant-20: #332e3b;
    --md-ref-palette-neutral-variant-30: #494552;
    --md-ref-palette-neutral-variant-40: #615c6b;
    --md-ref-palette-neutral-variant-50: #7a7484;
    --md-ref-palette-neutral-variant-60: #948e9e;
    --md-ref-palette-neutral-variant-70: #afa8b9;
    --md-ref-palette-neutral-variant-80: #cbc3d4;
    --md-ref-palette-neutral-variant-90: #e7dff1;
    --md-ref-palette-neutral-variant-95: #f6edff;
    --md-ref-palette-neutral-variant-96: #f8f1ff;
    --md-ref-palette-neutral-variant-97: #fbf4ff;
    --md-ref-palette-neutral-variant-98: #fef7ff;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
