:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #050115;
    --md-ref-palette-primary-2: #0a041a;
    --md-ref-palette-primary-3: #0e071e;
    --md-ref-palette-primary-4: #110a22;
    --md-ref-palette-primary-5: #140c25;
    --md-ref-palette-primary-6: #160f27;
    --md-ref-palette-primary-7: #19112a;
    --md-ref-palette-primary-8: #1b132c;
    --md-ref-palette-primary-9: #1d152e;
    --md-ref-palette-primary-10: #1f1730;
    --md-ref-palette-primary-11: #211932;
    --md-ref-palette-primary-12: #231b34;
    --md-ref-palette-primary-13: #251d36;
    --md-ref-palette-primary-14: #272038;
    --md-ref-palette-primary-15: #29223b;
    --md-ref-palette-primary-16: #2b243d;
    --md-ref-palette-primary-17: #2e263f;
    --md-ref-palette-primary-18: #302841;
    --md-ref-palette-primary-19: #322a44;
    --md-ref-palette-primary-20: #342c46;
    --md-ref-palette-primary-21: #362e48;
    --md-ref-palette-primary-22: #39314b;
    --md-ref-palette-primary-23: #3b334d;
    --md-ref-palette-primary-24: #3d354f;
    --md-ref-palette-primary-25: #3f3752;
    --md-ref-palette-primary-26: #423954;
    --md-ref-palette-primary-27: #443c56;
    --md-ref-palette-primary-28: #463e59;
    --md-ref-palette-primary-29: #49405b;
    --md-ref-palette-primary-30: #4b425d;
    --md-ref-palette-primary-31: #4d4560;
    --md-ref-palette-primary-32: #504762;
    --md-ref-palette-primary-33: #524965;
    --md-ref-palette-primary-34: #544c67;
    --md-ref-palette-primary-35: #574e6a;
    --md-ref-palette-primary-36: #59506c;
    --md-ref-palette-primary-37: #5c536f;
    --md-ref-palette-primary-38: #5e5571;
    --md-ref-palette-primary-39: #615774;
    --md-ref-palette-primary-40: #635a76;
    --md-ref-palette-primary-41: #665c79;
    --md-ref-palette-primary-42: #685f7b;
    --md-ref-palette-primary-43: #6a617e;
    --md-ref-palette-primary-44: #6d6480;
    --md-ref-palette-primary-45: #6f6683;
    --md-ref-palette-primary-46: #726886;
    --md-ref-palette-primary-47: #756b88;
    --md-ref-palette-primary-48: #776d8b;
    --md-ref-palette-primary-49: #7a708d;
    --md-ref-palette-primary-50: #7c7290;
    --md-ref-palette-primary-51: #7f7593;
    --md-ref-palette-primary-52: #817795;
    --md-ref-palette-primary-53: #847a98;
    --md-ref-palette-primary-54: #877c9a;
    --md-ref-palette-primary-55: #897f9d;
    --md-ref-palette-primary-56: #8c81a0;
    --md-ref-palette-primary-57: #8e84a2;
    --md-ref-palette-primary-58: #9187a5;
    --md-ref-palette-primary-59: #9489a8;
    --md-ref-palette-primary-60: #968cab;
    --md-ref-palette-primary-61: #998ead;
    --md-ref-palette-primary-62: #9c91b0;
    --md-ref-palette-primary-63: #9e94b3;
    --md-ref-palette-primary-64: #a196b5;
    --md-ref-palette-primary-65: #a499b8;
    --md-ref-palette-primary-66: #a69bbb;
    --md-ref-palette-primary-67: #a99ebe;
    --md-ref-palette-primary-68: #aca1c0;
    --md-ref-palette-primary-69: #afa3c3;
    --md-ref-palette-primary-70: #b1a6c6;
    --md-ref-palette-primary-71: #b4a9c9;
    --md-ref-palette-primary-72: #b7abcc;
    --md-ref-palette-primary-73: #baaece;
    --md-ref-palette-primary-74: #bcb1d1;
    --md-ref-palette-primary-75: #bfb3d4;
    --md-ref-palette-primary-76: #c2b6d7;
    --md-ref-palette-primary-77: #c5b9da;
    --md-ref-palette-primary-78: #c7bcdc;
    --md-ref-palette-primary-79: #cabedf;
    --md-ref-palette-primary-80: #cdc1e2;
    --md-ref-palette-primary-81: #d0c4e5;
    --md-ref-palette-primary-82: #d3c7e8;
    --md-ref-palette-primary-83: #d6c9eb;
    --md-ref-palette-primary-84: #d8ccee;
    --md-ref-palette-primary-85: #dbcff0;
    --md-ref-palette-primary-86: #ded2f3;
    --md-ref-palette-primary-87: #e1d4f6;
    --md-ref-palette-primary-88: #e4d7f9;
    --md-ref-palette-primary-89: #e7dafc;
    --md-ref-palette-primary-90: #eaddff;
    --md-ref-palette-primary-91: #ece0ff;
    --md-ref-palette-primary-92: #efe3ff;
    --md-ref-palette-primary-93: #f1e7ff;
    --md-ref-palette-primary-94: #f4eaff;
    --md-ref-palette-primary-95: #f6edff;
    --md-ref-palette-primary-96: #f9f1ff;
    --md-ref-palette-primary-97: #fbf4ff;
    --md-ref-palette-primary-98: #fef7ff;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #04030a;
    --md-ref-palette-secondary-2: #09060f;
    --md-ref-palette-secondary-3: #0c0913;
    --md-ref-palette-secondary-4: #100d16;
    --md-ref-palette-secondary-5: #120f19;
    --md-ref-palette-secondary-6: #15121c;
    --md-ref-palette-secondary-7: #17141e;
    --md-ref-palette-secondary-8: #191620;
    --md-ref-palette-secondary-9: #1b1822;
    --md-ref-palette-secondary-10: #1d1a24;
    --md-ref-palette-secondary-11: #1f1c26;
    --md-ref-palette-secondary-12: #211e28;
    --md-ref-palette-secondary-13: #23202b;
    --md-ref-palette-secondary-14: #26222d;
    --md-ref-palette-secondary-15: #28242f;
    --md-ref-palette-secondary-16: #2a2631;
    --md-ref-palette-secondary-17: #2c2833;
    --md-ref-palette-secondary-18: #2e2a35;
    --md-ref-palette-secondary-19: #302c38;
    --md-ref-palette-secondary-20: #322f3a;
    --md-ref-palette-secondary-21: #35313c;
    --md-ref-palette-secondary-22: #37333e;
    --md-ref-palette-secondary-23: #393540;
    --md-ref-palette-secondary-24: #3b3743;
    --md-ref-palette-secondary-25: #3e3945;
    --md-ref-palette-secondary-26: #403c47;
    --md-ref-palette-secondary-27: #423e4a;
    --md-ref-palette-secondary-28: #45404c;
    --md-ref-palette-secondary-29: #47424e;
    --md-ref-palette-secondary-30: #494551;
    --md-ref-palette-secondary-31: #4c4753;
    --md-ref-palette-secondary-32: #4e4955;
    --md-ref-palette-secondary-33: #504c58;
    --md-ref-palette-secondary-34: #534e5a;
    --md-ref-palette-secondary-35: #55505d;
    --md-ref-palette-secondary-36: #57535f;
    --md-ref-palette-secondary-37: #5a5561;
    --md-ref-palette-secondary-38: #5c5764;
    --md-ref-palette-secondary-39: #5f5a66;
    --md-ref-palette-secondary-40: #615c69;
    --md-ref-palette-secondary-41: #645f6b;
    --md-ref-palette-secondary-42: #66616e;
    --md-ref-palette-secondary-43: #696370;
    --md-ref-palette-secondary-44: #6b6673;
    --md-ref-palette-secondary-45: #6e6875;
    --md-ref-palette-secondary-46: #706b78;
    --md-ref-palette-secondary-47: #736d7a;
    --md-ref-palette-secondary-48: #75707d;
    --md-ref-palette-secondary-49: #78727f;
    --md-ref-palette-secondary-50: #7a7582;
    --md-ref-palette-secondary-51: #7d7784;
    --md-ref-palette-secondary-52: #7f7a87;
    --md-ref-palette-secondary-53: #827c8a;
    --md-ref-palette-secondary-54: #857f8c;
    --md-ref-palette-secondary-55: #87818f;
    --md-ref-palette-secondary-56: #8a8491;
    --md-ref-palette-secondary-57: #8c8694;
    --md-ref-palette-secondary-58: #8f8997;
    --md-ref-palette-secondary-59: #928c99;
    --md-ref-palette-secondary-60: #948e9c;
    --md-ref-palette-secondary-61: #97919f;
    --md-ref-palette-secondary-62: #9a93a1;
    --md-ref-palette-secondary-63: #9c96a4;
    --md-ref-palette-secondary-64: #9f99a7;
    --md-ref-palette-secondary-65: #a29ba9;
    --md-ref-palette-secondary-66: #a49eac;
    --md-ref-palette-secondary-67: #a7a1af;
    --md-ref-palette-secondary-68: #aaa3b1;
    --md-ref-palette-secondary-69: #ada6b4;
    --md-ref-palette-secondary-70: #afa9b7;
    --md-ref-palette-secondary-71: #b2abb9;
    --md-ref-palette-secondary-72: #b5aebc;
    --md-ref-palette-secondary-73: #b7b1bf;
    --md-ref-palette-secondary-74: #bab3c2;
    --md-ref-palette-secondary-75: #bdb6c4;
    --md-ref-palette-secondary-76: #c0b9c7;
    --md-ref-palette-secondary-77: #c3bbca;
    --md-ref-palette-secondary-78: #c5becd;
    --md-ref-palette-secondary-79: #c8c1d0;
    --md-ref-palette-secondary-80: #cbc4d2;
    --md-ref-palette-secondary-81: #cec6d5;
    --md-ref-palette-secondary-82: #d1c9d8;
    --md-ref-palette-secondary-83: #d3ccdb;
    --md-ref-palette-secondary-84: #d6cfde;
    --md-ref-palette-secondary-85: #d9d1e0;
    --md-ref-palette-secondary-86: #dcd4e3;
    --md-ref-palette-secondary-87: #dfd7e6;
    --md-ref-palette-secondary-88: #e2dae9;
    --md-ref-palette-secondary-89: #e4ddec;
    --md-ref-palette-secondary-90: #e7e0ef;
    --md-ref-palette-secondary-91: #eae2f1;
    --md-ref-palette-secondary-92: #ede5f4;
    --md-ref-palette-secondary-93: #f0e8f7;
    --md-ref-palette-secondary-94: #f3ebfa;
    --md-ref-palette-secondary-95: #f6eefd;
    --md-ref-palette-secondary-96: #f9f1ff;
    --md-ref-palette-secondary-97: #fbf4ff;
    --md-ref-palette-secondary-98: #fef7ff;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #050400;
    --md-ref-palette-tertiary-2: #0a0700;
    --md-ref-palette-tertiary-3: #0e0b00;
    --md-ref-palette-tertiary-4: #110e00;
    --md-ref-palette-tertiary-5: #151100;
    --md-ref-palette-tertiary-6: #171300;
    --md-ref-palette-tertiary-7: #1a1600;
    --md-ref-palette-tertiary-8: #1c1800;
    --md-ref-palette-tertiary-9: #1e1a00;
    --md-ref-palette-tertiary-10: #201c00;
    --md-ref-palette-tertiary-11: #231e01;
    --md-ref-palette-tertiary-12: #252002;
    --md-ref-palette-tertiary-13: #272203;
    --md-ref-palette-tertiary-14: #292404;
    --md-ref-palette-tertiary-15: #2b2605;
    --md-ref-palette-tertiary-16: #2d2807;
    --md-ref-palette-tertiary-17: #302a09;
    --md-ref-palette-tertiary-18: #322c0b;
    --md-ref-palette-tertiary-19: #342e0d;
    --md-ref-palette-tertiary-20: #36310f;
    --md-ref-palette-tertiary-21: #393311;
    --md-ref-palette-tertiary-22: #3b3513;
    --md-ref-palette-tertiary-23: #3d3715;
    --md-ref-palette-tertiary-24: #3f3917;
    --md-ref-palette-tertiary-25: #423c19;
    --md-ref-palette-tertiary-26: #443e1b;
    --md-ref-palette-tertiary-27: #46401d;
    --md-ref-palette-tertiary-28: #49421f;
    --md-ref-palette-tertiary-29: #4b4521;
    --md-ref-palette-tertiary-30: #4d4723;
    --md-ref-palette-tertiary-31: #504925;
    --md-ref-palette-tertiary-32: #524c27;
    --md-ref-palette-tertiary-33: #554e29;
    --md-ref-palette-tertiary-34: #57502b;
    --md-ref-palette-tertiary-35: #5a532d;
    --md-ref-palette-tertiary-36: #5c5530;
    --md-ref-palette-tertiary-37: #5e5832;
    --md-ref-palette-tertiary-38: #615a34;
    --md-ref-palette-tertiary-39: #635c36;
    --md-ref-palette-tertiary-40: #665f38;
    --md-ref-palette-tertiary-41: #68613a;
    --md-ref-palette-tertiary-42: #6b643d;
    --md-ref-palette-tertiary-43: #6d663f;
    --md-ref-palette-tertiary-44: #706941;
    --md-ref-palette-tertiary-45: #736b43;
    --md-ref-palette-tertiary-46: #756e46;
    --md-ref-palette-tertiary-47: #787048;
    --md-ref-palette-tertiary-48: #7a724a;
    --md-ref-palette-tertiary-49: #7d754c;
    --md-ref-palette-tertiary-50: #7f784f;
    --md-ref-palette-tertiary-51: #827a51;
    --md-ref-palette-tertiary-52: #857d53;
    --md-ref-palette-tertiary-53: #877f56;
    --md-ref-palette-tertiary-54: #8a8258;
    --md-ref-palette-tertiary-55: #8c845a;
    --md-ref-palette-tertiary-56: #8f875d;
    --md-ref-palette-tertiary-57: #92895f;
    --md-ref-palette-tertiary-58: #948c61;
    --md-ref-palette-tertiary-59: #978f64;
    --md-ref-palette-tertiary-60: #9a9166;
    --md-ref-palette-tertiary-61: #9c9469;
    --md-ref-palette-tertiary-62: #9f966b;
    --md-ref-palette-tertiary-63: #a2996d;
    --md-ref-palette-tertiary-64: #a59c70;
    --md-ref-palette-tertiary-65: #a79e72;
    --md-ref-palette-tertiary-66: #aaa175;
    --md-ref-palette-tertiary-67: #ada477;
    --md-ref-palette-tertiary-68: #b0a67a;
    --md-ref-palette-tertiary-69: #b2a97c;
    --md-ref-palette-tertiary-70: #b5ac7f;
    --md-ref-palette-tertiary-71: #b8ae81;
    --md-ref-palette-tertiary-72: #bbb184;
    --md-ref-palette-tertiary-73: #bdb486;
    --md-ref-palette-tertiary-74: #c0b789;
    --md-ref-palette-tertiary-75: #c3b98b;
    --md-ref-palette-tertiary-76: #c6bc8e;
    --md-ref-palette-tertiary-77: #c9bf90;
    --md-ref-palette-tertiary-78: #cbc293;
    --md-ref-palette-tertiary-79: #cec495;
    --md-ref-palette-tertiary-80: #d1c798;
    --md-ref-palette-tertiary-81: #d4ca9b;
    --md-ref-palette-tertiary-82: #d7cd9d;
    --md-ref-palette-tertiary-83: #dacfa0;
    --md-ref-palette-tertiary-84: #dcd2a2;
    --md-ref-palette-tertiary-85: #dfd5a5;
    --md-ref-palette-tertiary-86: #e2d8a8;
    --md-ref-palette-tertiary-87: #e5dbaa;
    --md-ref-palette-tertiary-88: #e8ddad;
    --md-ref-palette-tertiary-89: #ebe0b0;
    --md-ref-palette-tertiary-90: #eee3b2;
    --md-ref-palette-tertiary-91: #f1e6b5;
    --md-ref-palette-tertiary-92: #f4e9b7;
    --md-ref-palette-tertiary-93: #f6ecba;
    --md-ref-palette-tertiary-94: #f9eebd;
    --md-ref-palette-tertiary-95: #fcf1c0;
    --md-ref-palette-tertiary-96: #fff4c4;
    --md-ref-palette-tertiary-97: #fff7d8;
    --md-ref-palette-tertiary-98: #fff9eb;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040305;
    --md-ref-palette-neutral-2: #080709;
    --md-ref-palette-neutral-3: #0c0b0d;
    --md-ref-palette-neutral-4: #0f0e10;
    --md-ref-palette-neutral-5: #121012;
    --md-ref-palette-neutral-6: #141315;
    --md-ref-palette-neutral-7: #161517;
    --md-ref-palette-neutral-8: #181719;
    --md-ref-palette-neutral-9: #1a191b;
    --md-ref-palette-neutral-10: #1c1b1d;
    --md-ref-palette-neutral-11: #1e1d1f;
    --md-ref-palette-neutral-12: #201f21;
    --md-ref-palette-neutral-13: #222123;
    --md-ref-palette-neutral-14: #252325;
    --md-ref-palette-neutral-15: #272527;
    --md-ref-palette-neutral-16: #292729;
    --md-ref-palette-neutral-17: #2b292c;
    --md-ref-palette-neutral-18: #2d2c2e;
    --md-ref-palette-neutral-19: #2f2e30;
    --md-ref-palette-neutral-20: #313032;
    --md-ref-palette-neutral-21: #343234;
    --md-ref-palette-neutral-22: #363436;
    --md-ref-palette-neutral-23: #383639;
    --md-ref-palette-neutral-24: #3a393b;
    --md-ref-palette-neutral-25: #3d3b3d;
    --md-ref-palette-neutral-26: #3f3d3f;
    --md-ref-palette-neutral-27: #413f41;
    --md-ref-palette-neutral-28: #434144;
    --md-ref-palette-neutral-29: #464446;
    --md-ref-palette-neutral-30: #484648;
    --md-ref-palette-neutral-31: #4a484b;
    --md-ref-palette-neutral-32: #4d4b4d;
    --md-ref-palette-neutral-33: #4f4d4f;
    --md-ref-palette-neutral-34: #514f52;
    --md-ref-palette-neutral-35: #545254;
    --md-ref-palette-neutral-36: #565456;
    --md-ref-palette-neutral-37: #595659;
    --md-ref-palette-neutral-38: #5b595b;
    --md-ref-palette-neutral-39: #5e5b5e;
    --md-ref-palette-neutral-40: #605e60;
    --md-ref-palette-neutral-41: #626062;
    --md-ref-palette-neutral-42: #656265;
    --md-ref-palette-neutral-43: #676567;
    --md-ref-palette-neutral-44: #6a676a;
    --md-ref-palette-neutral-45: #6c6a6c;
    --md-ref-palette-neutral-46: #6f6c6f;
    --md-ref-palette-neutral-47: #716f71;
    --md-ref-palette-neutral-48: #747174;
    --md-ref-palette-neutral-49: #767476;
    --md-ref-palette-neutral-50: #797679;
    --md-ref-palette-neutral-51: #7c797b;
    --md-ref-palette-neutral-52: #7e7b7e;
    --md-ref-palette-neutral-53: #817e80;
    --md-ref-palette-neutral-54: #838083;
    --md-ref-palette-neutral-55: #868385;
    --md-ref-palette-neutral-56: #888588;
    --md-ref-palette-neutral-57: #8b888a;
    --md-ref-palette-neutral-58: #8e8a8d;
    --md-ref-palette-neutral-59: #908d90;
    --md-ref-palette-neutral-60: #939092;
    --md-ref-palette-neutral-61: #969295;
    --md-ref-palette-neutral-62: #989597;
    --md-ref-palette-neutral-63: #9b979a;
    --md-ref-palette-neutral-64: #9e9a9d;
    --md-ref-palette-neutral-65: #a09d9f;
    --md-ref-palette-neutral-66: #a39fa2;
    --md-ref-palette-neutral-67: #a6a2a5;
    --md-ref-palette-neutral-68: #a8a5a7;
    --md-ref-palette-neutral-69: #aba7aa;
    --md-ref-palette-neutral-70: #aeaaad;
    --md-ref-palette-neutral-71: #b1adaf;
    --md-ref-palette-neutral-72: #b3afb2;
    --md-ref-palette-neutral-73: #b6b2b5;
    --md-ref-palette-neutral-74: #b9b5b7;
    --md-ref-palette-neutral-75: #bcb8ba;
    --md-ref-palette-neutral-76: #bebabd;
    --md-ref-palette-neutral-77: #c1bdc0;
    --md-ref-palette-neutral-78: #c4c0c2;
    --md-ref-palette-neutral-79: #c7c2c5;
    --md-ref-palette-neutral-80: #c9c5c8;
    --md-ref-palette-neutral-81: #ccc8cb;
    --md-ref-palette-neutral-82: #cfcbcd;
    --md-ref-palette-neutral-83: #d2ced0;
    --md-ref-palette-neutral-84: #d5d0d3;
    --md-ref-palette-neutral-85: #d8d3d6;
    --md-ref-palette-neutral-86: #dad6d8;
    --md-ref-palette-neutral-87: #ddd9db;
    --md-ref-palette-neutral-88: #e0dbde;
    --md-ref-palette-neutral-89: #e3dee1;
    --md-ref-palette-neutral-90: #e6e1e4;
    --md-ref-palette-neutral-91: #e9e4e7;
    --md-ref-palette-neutral-92: #ece7e9;
    --md-ref-palette-neutral-93: #efeaec;
    --md-ref-palette-neutral-94: #f1ecef;
    --md-ref-palette-neutral-95: #f4eff2;
    --md-ref-palette-neutral-96: #f7f2f5;
    --md-ref-palette-neutral-97: #faf5f8;
    --md-ref-palette-neutral-98: #fdf8fb;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #040307;
    --md-ref-palette-neutral-variant-2: #08070c;
    --md-ref-palette-neutral-variant-3: #0c0a10;
    --md-ref-palette-neutral-variant-4: #0f0d13;
    --md-ref-palette-neutral-variant-5: #121016;
    --md-ref-palette-neutral-variant-6: #141218;
    --md-ref-palette-neutral-variant-7: #17151b;
    --md-ref-palette-neutral-variant-8: #19171d;
    --md-ref-palette-neutral-variant-9: #1b191f;
    --md-ref-palette-neutral-variant-10: #1d1a21;
    --md-ref-palette-neutral-variant-11: #1f1c23;
    --md-ref-palette-neutral-variant-12: #211f25;
    --md-ref-palette-neutral-variant-13: #232127;
    --md-ref-palette-neutral-variant-14: #252329;
    --md-ref-palette-neutral-variant-15: #27252b;
    --md-ref-palette-neutral-variant-16: #29272d;
    --md-ref-palette-neutral-variant-17: #2b292f;
    --md-ref-palette-neutral-variant-18: #2e2b32;
    --md-ref-palette-neutral-variant-19: #302d34;
    --md-ref-palette-neutral-variant-20: #322f36;
    --md-ref-palette-neutral-variant-21: #343138;
    --md-ref-palette-neutral-variant-22: #36343a;
    --md-ref-palette-neutral-variant-23: #39363d;
    --md-ref-palette-neutral-variant-24: #3b383f;
    --md-ref-palette-neutral-variant-25: #3d3a41;
    --md-ref-palette-neutral-variant-26: #3f3c43;
    --md-ref-palette-neutral-variant-27: #423f46;
    --md-ref-palette-neutral-variant-28: #444148;
    --md-ref-palette-neutral-variant-29: #46434a;
    --md-ref-palette-neutral-variant-30: #49454d;
    --md-ref-palette-neutral-variant-31: #4b484f;
    --md-ref-palette-neutral-variant-32: #4d4a51;
    --md-ref-palette-neutral-variant-33: #504c54;
    --md-ref-palette-neutral-variant-34: #524f56;
    --md-ref-palette-neutral-variant-35: #545158;
    --md-ref-palette-neutral-variant-36: #57535b;
    --md-ref-palette-neutral-variant-37: #59565d;
    --md-ref-palette-neutral-variant-38: #5c5860;
    --md-ref-palette-neutral-variant-39: #5e5a62;
    --md-ref-palette-neutral-variant-40: #615d64;
    --md-ref-palette-neutral-variant-41: #635f67;
    --md-ref-palette-neutral-variant-42: #666269;
    --md-ref-palette-neutral-variant-43: #68646c;
    --md-ref-palette-neutral-variant-44: #6a676e;
    --md-ref-palette-neutral-variant-45: #6d6971;
    --md-ref-palette-neutral-variant-46: #6f6b73;
    --md-ref-palette-neutral-variant-47: #726e76;
    --md-ref-palette-neutral-variant-48: #757078;
    --md-ref-palette-neutral-variant-49: #77737b;
    --md-ref-palette-neutral-variant-50: #7a757d;
    --md-ref-palette-neutral-variant-51: #7c7880;
    --md-ref-palette-neutral-variant-52: #7f7a82;
    --md-ref-palette-neutral-variant-53: #817d85;
    --md-ref-palette-neutral-variant-54: #848087;
    --md-ref-palette-neutral-variant-55: #87828a;
    --md-ref-palette-neutral-variant-56: #89858d;
    --md-ref-palette-neutral-variant-57: #8c878f;
    --md-ref-palette-neutral-variant-58: #8e8a92;
    --md-ref-palette-neutral-variant-59: #918c94;
    --md-ref-palette-neutral-variant-60: #948f97;
    --md-ref-palette-neutral-variant-61: #96929a;
    --md-ref-palette-neutral-variant-62: #99949c;
    --md-ref-palette-neutral-variant-63: #9c979f;
    --md-ref-palette-neutral-variant-64: #9e99a2;
    --md-ref-palette-neutral-variant-65: #a19ca4;
    --md-ref-palette-neutral-variant-66: #a49fa7;
    --md-ref-palette-neutral-variant-67: #a6a1aa;
    --md-ref-palette-neutral-variant-68: #a9a4ac;
    --md-ref-palette-neutral-variant-69: #aca7af;
    --md-ref-palette-neutral-variant-70: #afa9b2;
    --md-ref-palette-neutral-variant-71: #b1acb4;
    --md-ref-palette-neutral-variant-72: #b4afb7;
    --md-ref-palette-neutral-variant-73: #b7b1ba;
    --md-ref-palette-neutral-variant-74: #bab4bd;
    --md-ref-palette-neutral-variant-75: #bcb7bf;
    --md-ref-palette-neutral-variant-76: #bfb9c2;
    --md-ref-palette-neutral-variant-77: #c2bcc5;
    --md-ref-palette-neutral-variant-78: #c5bfc8;
    --md-ref-palette-neutral-variant-79: #c7c2ca;
    --md-ref-palette-neutral-variant-80: #cac4cd;
    --md-ref-palette-neutral-variant-81: #cdc7d0;
    --md-ref-palette-neutral-variant-82: #d0cad3;
    --md-ref-palette-neutral-variant-83: #d3cdd5;
    --md-ref-palette-neutral-variant-84: #d6d0d8;
    --md-ref-palette-neutral-variant-85: #d8d2db;
    --md-ref-palette-neutral-variant-86: #dbd5de;
    --md-ref-palette-neutral-variant-87: #ded8e1;
    --md-ref-palette-neutral-variant-88: #e1dbe4;
    --md-ref-palette-neutral-variant-89: #e4dde6;
    --md-ref-palette-neutral-variant-90: #e7e0e9;
    --md-ref-palette-neutral-variant-91: #eae3ec;
    --md-ref-palette-neutral-variant-92: #ece6ef;
    --md-ref-palette-neutral-variant-93: #efe9f2;
    --md-ref-palette-neutral-variant-94: #f2ecf5;
    --md-ref-palette-neutral-variant-95: #f5eff8;
    --md-ref-palette-neutral-variant-96: #f8f1fa;
    --md-ref-palette-neutral-variant-97: #fbf4fd;
    --md-ref-palette-neutral-variant-98: #fef7ff;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
