:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #05001a;
    --md-ref-palette-primary-2: #0b0028;
    --md-ref-palette-primary-3: #0f0032;
    --md-ref-palette-primary-4: #13003a;
    --md-ref-palette-primary-5: #16023e;
    --md-ref-palette-primary-10: #210f48;
    --md-ref-palette-primary-20: #37265e;
    --md-ref-palette-primary-30: #4d3d76;
    --md-ref-palette-primary-40: #665590;
    --md-ref-palette-primary-50: #7f6daa;
    --md-ref-palette-primary-60: #9987c6;
    --md-ref-palette-primary-70: #b4a1e2;
    --md-ref-palette-primary-80: #d0bcff;
    --md-ref-palette-primary-90: #e9ddff;
    --md-ref-palette-primary-95: #f6edff;
    --md-ref-palette-primary-96: #f8f1ff;
    --md-ref-palette-primary-97: #fbf4ff;
    --md-ref-palette-primary-98: #fef7ff;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #050213;
    --md-ref-palette-secondary-2: #090418;
    --md-ref-palette-secondary-3: #0d071c;
    --md-ref-palette-secondary-4: #110a20;
    --md-ref-palette-secondary-5: #130d22;
    --md-ref-palette-secondary-10: #1e182e;
    --md-ref-palette-secondary-20: #332d44;
    --md-ref-palette-secondary-30: #4a435b;
    --md-ref-palette-secondary-40: #625a74;
    --md-ref-palette-secondary-50: #7b738d;
    --md-ref-palette-secondary-60: #968ca8;
    --md-ref-palette-secondary-70: #b1a7c3;
    --md-ref-palette-secondary-80: #ccc2df;
    --md-ref-palette-secondary-90: #e9defc;
    --md-ref-palette-secondary-95: #f6edff;
    --md-ref-palette-secondary-96: #f8f1ff;
    --md-ref-palette-secondary-97: #fbf4ff;
    --md-ref-palette-secondary-98: #fef7ff;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #050400;
    --md-ref-palette-tertiary-2: #090700;
    --md-ref-palette-tertiary-3: #0d0b00;
    --md-ref-palette-tertiary-4: #110e00;
    --md-ref-palette-tertiary-5: #141100;
    --md-ref-palette-tertiary-10: #201c00;
    --md-ref-palette-tertiary-20: #363100;
    --md-ref-palette-tertiary-30: #4f4800;
    --md-ref-palette-tertiary-40: #685f10;
    --md-ref-palette-tertiary-50: #827828;
    --md-ref-palette-tertiary-60: #9d9240;
    --md-ref-palette-tertiary-70: #b8ad57;
    --md-ref-palette-tertiary-80: #d4c86f;
    --md-ref-palette-tertiary-90: #f1e588;
    --md-ref-palette-tertiary-95: #fff39d;
    --md-ref-palette-tertiary-96: #fff5b7;
    --md-ref-palette-tertiary-97: #fff7d0;
    --md-ref-palette-tertiary-98: #fff9e8;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040306;
    --md-ref-palette-neutral-2: #08070a;
    --md-ref-palette-neutral-3: #0c0a0e;
    --md-ref-palette-neutral-4: #0f0e11;
    --md-ref-palette-neutral-5: #121014;
    --md-ref-palette-neutral-10: #1c1b1f;
    --md-ref-palette-neutral-20: #323034;
    --md-ref-palette-neutral-30: #48464a;
    --md-ref-palette-neutral-40: #605d62;
    --md-ref-palette-neutral-50: #79767b;
    --md-ref-palette-neutral-60: #938f95;
    --md-ref-palette-neutral-70: #aeaaaf;
    --md-ref-palette-neutral-80: #cac5cb;
    --md-ref-palette-neutral-90: #e6e1e7;
    --md-ref-palette-neutral-95: #f5eff5;
    --md-ref-palette-neutral-96: #f8f2f8;
    --md-ref-palette-neutral-97: #faf5fb;
    --md-ref-palette-neutral-98: #fdf8fd;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #040308;
    --md-ref-palette-neutral-variant-2: #08060e;
    --md-ref-palette-neutral-variant-3: #0c0a12;
    --md-ref-palette-neutral-variant-4: #0f0d15;
    --md-ref-palette-neutral-variant-5: #121018;
    --md-ref-palette-neutral-variant-10: #1d1a23;
    --md-ref-palette-neutral-variant-20: #322f38;
    --md-ref-palette-neutral-variant-30: #49454f;
    --md-ref-palette-neutral-variant-40: #615d67;
    --md-ref-palette-neutral-variant-50: #7a7580;
    --md-ref-palette-neutral-variant-60: #948f9a;
    --md-ref-palette-neutral-variant-70: #afa9b5;
    --md-ref-palette-neutral-variant-80: #cac4d0;
    --md-ref-palette-neutral-variant-90: #e7e0ec;
    --md-ref-palette-neutral-variant-95: #f5eefb;
    --md-ref-palette-neutral-variant-96: #f8f1fe;
    --md-ref-palette-neutral-variant-97: #fbf4ff;
    --md-ref-palette-neutral-variant-98: #fef7ff;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
