:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #05001a;
    --md-ref-palette-primary-2: #0b0028;
    --md-ref-palette-primary-3: #100031;
    --md-ref-palette-primary-4: #13003a;
    --md-ref-palette-primary-5: #170041;
    --md-ref-palette-primary-6: #190047;
    --md-ref-palette-primary-7: #1c004c;
    --md-ref-palette-primary-8: #1e0052;
    --md-ref-palette-primary-9: #210057;
    --md-ref-palette-primary-10: #23005c;
    --md-ref-palette-primary-11: #260061;
    --md-ref-palette-primary-12: #280066;
    --md-ref-palette-primary-13: #2a006b;
    --md-ref-palette-primary-14: #2d0070;
    --md-ref-palette-primary-15: #2f0076;
    --md-ref-palette-primary-16: #32007b;
    --md-ref-palette-primary-17: #340080;
    --md-ref-palette-primary-18: #370086;
    --md-ref-palette-primary-19: #39008b;
    --md-ref-palette-primary-20: #3c0091;
    --md-ref-palette-primary-21: #3e0096;
    --md-ref-palette-primary-22: #41009c;
    --md-ref-palette-primary-23: #43059f;
    --md-ref-palette-primary-24: #460ba1;
    --md-ref-palette-primary-25: #4811a3;
    --md-ref-palette-primary-26: #4a15a5;
    --md-ref-palette-primary-27: #4d1aa8;
    --md-ref-palette-primary-28: #4f1daa;
    --md-ref-palette-primary-29: #5121ac;
    --md-ref-palette-primary-30: #5424af;
    --md-ref-palette-primary-31: #5628b1;
    --md-ref-palette-primary-32: #582bb3;
    --md-ref-palette-primary-33: #5b2eb6;
    --md-ref-palette-primary-34: #5d31b8;
    --md-ref-palette-primary-35: #6034bb;
    --md-ref-palette-primary-36: #6237bd;
    --md-ref-palette-primary-37: #653ac0;
    --md-ref-palette-primary-38: #673cc3;
    --md-ref-palette-primary-39: #6a3fc5;
    --md-ref-palette-primary-40: #6c42c8;
    --md-ref-palette-primary-41: #6f45ca;
    --md-ref-palette-primary-42: #7148cd;
    --md-ref-palette-primary-43: #744ad0;
    --md-ref-palette-primary-44: #764dd2;
    --md-ref-palette-primary-45: #7950d5;
    --md-ref-palette-primary-46: #7b52d8;
    --md-ref-palette-primary-47: #7e55da;
    --md-ref-palette-primary-48: #8058dd;
    --md-ref-palette-primary-49: #835ae0;
    --md-ref-palette-primary-50: #865de3;
    --md-ref-palette-primary-51: #8860e5;
    --md-ref-palette-primary-52: #8b63e8;
    --md-ref-palette-primary-53: #8d65eb;
    --md-ref-palette-primary-54: #9068ee;
    --md-ref-palette-primary-55: #936bf1;
    --md-ref-palette-primary-56: #956df4;
    --md-ref-palette-primary-57: #9870f6;
    --md-ref-palette-primary-58: #9b73f9;
    --md-ref-palette-primary-59: #9d75fc;
    --md-ref-palette-primary-60: #a078ff;
    --md-ref-palette-primary-61: #a27cff;
    --md-ref-palette-primary-62: #a57fff;
    --md-ref-palette-primary-63: #a783ff;
    --md-ref-palette-primary-64: #aa86ff;
    --md-ref-palette-primary-65: #ac8aff;
    --md-ref-palette-primary-66: #ae8dff;
    --md-ref-palette-primary-67: #b191ff;
    --md-ref-palette-primary-68: #b394ff;
    --md-ref-palette-primary-69: #b697ff;
    --md-ref-palette-primary-70: #b89bff;
    --md-ref-palette-primary-71: #ba9eff;
    --md-ref-palette-primary-72: #bda1ff;
    --md-ref-palette-primary-73: #bfa5ff;
    --md-ref-palette-primary-74: #c2a8ff;
    --md-ref-palette-primary-75: #c4abff;
    --md-ref-palette-primary-76: #c7afff;
    --md-ref-palette-primary-77: #c9b2ff;
    --md-ref-palette-primary-78: #cbb5ff;
    --md-ref-palette-primary-79: #ceb9ff;
    --md-ref-palette-primary-80: #d0bcff;
    --md-ref-palette-primary-81: #d3bfff;
    --md-ref-palette-primary-82: #d5c3ff;
    --md-ref-palette-primary-83: #d8c6ff;
    --md-ref-palette-primary-84: #dac9ff;
    --md-ref-palette-primary-85: #ddcdff;
    --md-ref-palette-primary-86: #dfd0ff;
    --md-ref-palette-primary-87: #e2d3ff;
    --md-ref-palette-primary-88: #e4d6ff;
    --md-ref-palette-primary-89: #e7daff;
    --md-ref-palette-primary-90: #e9ddff;
    --md-ref-palette-primary-91: #ece0ff;
    --md-ref-palette-primary-92: #eee4ff;
    --md-ref-palette-primary-93: #f1e7ff;
    --md-ref-palette-primary-94: #f3eaff;
    --md-ref-palette-primary-95: #f6edff;
    --md-ref-palette-primary-96: #f8f1ff;
    --md-ref-palette-primary-97: #fbf4ff;
    --md-ref-palette-primary-98: #fef7ff;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #05001a;
    --md-ref-palette-secondary-2: #0b0028;
    --md-ref-palette-secondary-3: #100031;
    --md-ref-palette-secondary-4: #130236;
    --md-ref-palette-secondary-5: #160438;
    --md-ref-palette-secondary-6: #18073b;
    --md-ref-palette-secondary-7: #1b0a3d;
    --md-ref-palette-secondary-8: #1d0c3f;
    --md-ref-palette-secondary-9: #1f0f41;
    --md-ref-palette-secondary-10: #211143;
    --md-ref-palette-secondary-11: #231345;
    --md-ref-palette-secondary-12: #251647;
    --md-ref-palette-secondary-13: #27184a;
    --md-ref-palette-secondary-14: #291a4c;
    --md-ref-palette-secondary-15: #2b1c4e;
    --md-ref-palette-secondary-16: #2d1e50;
    --md-ref-palette-secondary-17: #302152;
    --md-ref-palette-secondary-18: #322355;
    --md-ref-palette-secondary-19: #342557;
    --md-ref-palette-secondary-20: #362759;
    --md-ref-palette-secondary-21: #382a5c;
    --md-ref-palette-secondary-22: #3b2c5e;
    --md-ref-palette-secondary-23: #3d2e60;
    --md-ref-palette-secondary-24: #3f3063;
    --md-ref-palette-secondary-25: #413365;
    --md-ref-palette-secondary-26: #443568;
    --md-ref-palette-secondary-27: #46376a;
    --md-ref-palette-secondary-28: #48396d;
    --md-ref-palette-secondary-29: #4b3c6f;
    --md-ref-palette-secondary-30: #4d3e71;
    --md-ref-palette-secondary-31: #4f4074;
    --md-ref-palette-secondary-32: #524376;
    --md-ref-palette-secondary-33: #544579;
    --md-ref-palette-secondary-34: #57477c;
    --md-ref-palette-secondary-35: #594a7e;
    --md-ref-palette-secondary-36: #5b4c81;
    --md-ref-palette-secondary-37: #5e4f83;
    --md-ref-palette-secondary-38: #605186;
    --md-ref-palette-secondary-39: #635388;
    --md-ref-palette-secondary-40: #65568b;
    --md-ref-palette-secondary-41: #68588e;
    --md-ref-palette-secondary-42: #6a5b90;
    --md-ref-palette-secondary-43: #6d5d93;
    --md-ref-palette-secondary-44: #6f5f95;
    --md-ref-palette-secondary-45: #726298;
    --md-ref-palette-secondary-46: #74649b;
    --md-ref-palette-secondary-47: #77679d;
    --md-ref-palette-secondary-48: #7969a0;
    --md-ref-palette-secondary-49: #7c6ca3;
    --md-ref-palette-secondary-50: #7f6ea5;
    --md-ref-palette-secondary-51: #8171a8;
    --md-ref-palette-secondary-52: #8473ab;
    --md-ref-palette-secondary-53: #8676ad;
    --md-ref-palette-secondary-54: #8978b0;
    --md-ref-palette-secondary-55: #8c7bb3;
    --md-ref-palette-secondary-56: #8e7db6;
    --md-ref-palette-secondary-57: #9180b8;
    --md-ref-palette-secondary-58: #9383bb;
    --md-ref-palette-secondary-59: #9685be;
    --md-ref-palette-secondary-60: #9988c1;
    --md-ref-palette-secondary-61: #9b8ac4;
    --md-ref-palette-secondary-62: #9e8dc6;
    --md-ref-palette-secondary-63: #a190c9;
    --md-ref-palette-secondary-64: #a392cc;
    --md-ref-palette-secondary-65: #a695cf;
    --md-ref-palette-secondary-66: #a997d2;
    --md-ref-palette-secondary-67: #ac9ad4;
    --md-ref-palette-secondary-68: #ae9dd7;
    --md-ref-palette-secondary-69: #b19fda;
    --md-ref-palette-secondary-70: #b4a2dd;
    --md-ref-palette-secondary-71: #b7a5e0;
    --md-ref-palette-secondary-72: #b9a7e3;
    --md-ref-palette-secondary-73: #bcaae5;
    --md-ref-palette-secondary-74: #bfade8;
    --md-ref-palette-secondary-75: #c2afeb;
    --md-ref-palette-secondary-76: #c4b2ee;
    --md-ref-palette-secondary-77: #c7b5f1;
    --md-ref-palette-secondary-78: #cab8f4;
    --md-ref-palette-secondary-79: #cdbaf7;
    --md-ref-palette-secondary-80: #d0bdfa;
    --md-ref-palette-secondary-81: #d3c0fd;
    --md-ref-palette-secondary-82: #d5c3ff;
    --md-ref-palette-secondary-83: #d8c6ff;
    --md-ref-palette-secondary-84: #dac9ff;
    --md-ref-palette-secondary-85: #ddcdff;
    --md-ref-palette-secondary-86: #dfd0ff;
    --md-ref-palette-secondary-87: #e2d3ff;
    --md-ref-palette-secondary-88: #e4d6ff;
    --md-ref-palette-secondary-89: #e7daff;
    --md-ref-palette-secondary-90: #e9ddff;
    --md-ref-palette-secondary-91: #ece0ff;
    --md-ref-palette-secondary-92: #eee4ff;
    --md-ref-palette-secondary-93: #f1e7ff;
    --md-ref-palette-secondary-94: #f3eaff;
    --md-ref-palette-secondary-95: #f6edff;
    --md-ref-palette-secondary-96: #f8f1ff;
    --md-ref-palette-secondary-97: #fbf4ff;
    --md-ref-palette-secondary-98: #fef7ff;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #060300;
    --md-ref-palette-tertiary-2: #0c0700;
    --md-ref-palette-tertiary-3: #110a00;
    --md-ref-palette-tertiary-4: #150d00;
    --md-ref-palette-tertiary-5: #180f00;
    --md-ref-palette-tertiary-6: #1c1200;
    --md-ref-palette-tertiary-7: #1e1400;
    --md-ref-palette-tertiary-8: #211600;
    --md-ref-palette-tertiary-9: #231800;
    --md-ref-palette-tertiary-10: #261a00;
    --md-ref-palette-tertiary-11: #281b00;
    --md-ref-palette-tertiary-12: #2b1d00;
    --md-ref-palette-tertiary-13: #2d1f00;
    --md-ref-palette-tertiary-14: #302100;
    --md-ref-palette-tertiary-15: #332300;
    --md-ref-palette-tertiary-16: #352500;
    --md-ref-palette-tertiary-17: #382700;
    --md-ref-palette-tertiary-18: #3a2900;
    --md-ref-palette-tertiary-19: #3d2b00;
    --md-ref-palette-tertiary-20: #402d00;
    --md-ref-palette-tertiary-21: #422f00;
    --md-ref-palette-tertiary-22: #453200;
    --md-ref-palette-tertiary-23: #483400;
    --md-ref-palette-tertiary-24: #4b3600;
    --md-ref-palette-tertiary-25: #4e3800;
    --md-ref-palette-tertiary-26: #503a00;
    --md-ref-palette-tertiary-27: #533c00;
    --md-ref-palette-tertiary-28: #563e00;
    --md-ref-palette-tertiary-29: #594000;
    --md-ref-palette-tertiary-30: #5c4300;
    --md-ref-palette-tertiary-31: #5f4500;
    --md-ref-palette-tertiary-32: #614700;
    --md-ref-palette-tertiary-33: #644900;
    --md-ref-palette-tertiary-34: #674c00;
    --md-ref-palette-tertiary-35: #6a4e00;
    --md-ref-palette-tertiary-36: #6d5000;
    --md-ref-palette-tertiary-37: #705200;
    --md-ref-palette-tertiary-38: #735500;
    --md-ref-palette-tertiary-39: #765700;
    --md-ref-palette-tertiary-40: #795900;
    --md-ref-palette-tertiary-41: #7c5b00;
    --md-ref-palette-tertiary-42: #7f5e00;
    --md-ref-palette-tertiary-43: #826000;
    --md-ref-palette-tertiary-44: #856200;
    --md-ref-palette-tertiary-45: #886500;
    --md-ref-palette-tertiary-46: #8c6700;
    --md-ref-palette-tertiary-47: #8f6a00;
    --md-ref-palette-tertiary-48: #926c00;
    --md-ref-palette-tertiary-49: #956e00;
    --md-ref-palette-tertiary-50: #987100;
    --md-ref-palette-tertiary-51: #9b7300;
    --md-ref-palette-tertiary-52: #9e7500;
    --md-ref-palette-tertiary-53: #a27800;
    --md-ref-palette-tertiary-54: #a57a00;
    --md-ref-palette-tertiary-55: #a87d00;
    --md-ref-palette-tertiary-56: #ab7f00;
    --md-ref-palette-tertiary-57: #ae8200;
    --md-ref-palette-tertiary-58: #b28400;
    --md-ref-palette-tertiary-59: #b58700;
    --md-ref-palette-tertiary-60: #b88900;
    --md-ref-palette-tertiary-61: #bb8c05;
    --md-ref-palette-tertiary-62: #be8e0a;
    --md-ref-palette-tertiary-63: #c1910f;
    --md-ref-palette-tertiary-64: #c49414;
    --md-ref-palette-tertiary-65: #c79617;
    --md-ref-palette-tertiary-66: #ca991b;
    --md-ref-palette-tertiary-67: #cd9b1e;
    --md-ref-palette-tertiary-68: #d09e21;
    --md-ref-palette-tertiary-69: #d3a124;
    --md-ref-palette-tertiary-70: #d6a327;
    --md-ref-palette-tertiary-71: #d9a62a;
    --md-ref-palette-tertiary-72: #dca92d;
    --md-ref-palette-tertiary-73: #dfab30;
    --md-ref-palette-tertiary-74: #e2ae32;
    --md-ref-palette-tertiary-75: #e5b135;
    --md-ref-palette-tertiary-76: #e8b438;
    --md-ref-palette-tertiary-77: #ebb63a;
    --md-ref-palette-tertiary-78: #eeb93d;
    --md-ref-palette-tertiary-79: #f1bc3f;
    --md-ref-palette-tertiary-80: #f4be42;
    --md-ref-palette-tertiary-81: #f7c145;
    --md-ref-palette-tertiary-82: #fac447;
    --md-ref-palette-tertiary-83: #fdc74a;
    --md-ref-palette-tertiary-84: #ffca53;
    --md-ref-palette-tertiary-85: #ffcd62;
    --md-ref-palette-tertiary-86: #ffd16f;
    --md-ref-palette-tertiary-87: #ffd47c;
    --md-ref-palette-tertiary-88: #ffd889;
    --md-ref-palette-tertiary-89: #ffdb94;
    --md-ref-palette-tertiary-90: #ffdfa0;
    --md-ref-palette-tertiary-91: #ffe2ab;
    --md-ref-palette-tertiary-92: #ffe5b6;
    --md-ref-palette-tertiary-93: #ffe8c0;
    --md-ref-palette-tertiary-94: #ffecca;
    --md-ref-palette-tertiary-95: #ffefd5;
    --md-ref-palette-tertiary-96: #fff2df;
    --md-ref-palette-tertiary-97: #fff5e8;
    --md-ref-palette-tertiary-98: #fff8f2;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040308;
    --md-ref-palette-neutral-2: #08060d;
    --md-ref-palette-neutral-3: #0c0a11;
    --md-ref-palette-neutral-4: #0f0d15;
    --md-ref-palette-neutral-5: #121017;
    --md-ref-palette-neutral-6: #15121a;
    --md-ref-palette-neutral-7: #17141c;
    --md-ref-palette-neutral-8: #19161e;
    --md-ref-palette-neutral-9: #1b1820;
    --md-ref-palette-neutral-10: #1d1a22;
    --md-ref-palette-neutral-11: #1f1c24;
    --md-ref-palette-neutral-12: #211e27;
    --md-ref-palette-neutral-13: #232029;
    --md-ref-palette-neutral-14: #25222b;
    --md-ref-palette-neutral-15: #27242d;
    --md-ref-palette-neutral-16: #29262f;
    --md-ref-palette-neutral-17: #2c2931;
    --md-ref-palette-neutral-18: #2e2b33;
    --md-ref-palette-neutral-19: #302d36;
    --md-ref-palette-neutral-20: #322f38;
    --md-ref-palette-neutral-21: #34313a;
    --md-ref-palette-neutral-22: #37333c;
    --md-ref-palette-neutral-23: #39353e;
    --md-ref-palette-neutral-24: #3b3841;
    --md-ref-palette-neutral-25: #3d3a43;
    --md-ref-palette-neutral-26: #403c45;
    --md-ref-palette-neutral-27: #423e47;
    --md-ref-palette-neutral-28: #44414a;
    --md-ref-palette-neutral-29: #46434c;
    --md-ref-palette-neutral-30: #49454e;
    --md-ref-palette-neutral-31: #4b4751;
    --md-ref-palette-neutral-32: #4d4a53;
    --md-ref-palette-neutral-33: #504c56;
    --md-ref-palette-neutral-34: #524e58;
    --md-ref-palette-neutral-35: #55515a;
    --md-ref-palette-neutral-36: #57535d;
    --md-ref-palette-neutral-37: #59555f;
    --md-ref-palette-neutral-38: #5c5862;
    --md-ref-palette-neutral-39: #5e5a64;
    --md-ref-palette-neutral-40: #615d66;
    --md-ref-palette-neutral-41: #635f69;
    --md-ref-palette-neutral-42: #66616b;
    --md-ref-palette-neutral-43: #68646e;
    --md-ref-palette-neutral-44: #6b6670;
    --md-ref-palette-neutral-45: #6d6973;
    --md-ref-palette-neutral-46: #706b75;
    --md-ref-palette-neutral-47: #726e78;
    --md-ref-palette-neutral-48: #75707a;
    --md-ref-palette-neutral-49: #77737d;
    --md-ref-palette-neutral-50: #7a757f;
    --md-ref-palette-neutral-51: #7c7882;
    --md-ref-palette-neutral-52: #7f7a85;
    --md-ref-palette-neutral-53: #827d87;
    --md-ref-palette-neutral-54: #847f8a;
    --md-ref-palette-neutral-55: #87828c;
    --md-ref-palette-neutral-56: #89848f;
    --md-ref-palette-neutral-57: #8c8791;
    --md-ref-palette-neutral-58: #8f8994;
    --md-ref-palette-neutral-59: #918c97;
    --md-ref-palette-neutral-60: #948f99;
    --md-ref-palette-neutral-61: #97919c;
    --md-ref-palette-neutral-62: #99949f;
    --md-ref-palette-neutral-63: #9c96a1;
    --md-ref-palette-neutral-64: #9f99a4;
    --md-ref-palette-neutral-65: #a19ca7;
    --md-ref-palette-neutral-66: #a49ea9;
    --md-ref-palette-neutral-67: #a7a1ac;
    --md-ref-palette-neutral-68: #a9a4af;
    --md-ref-palette-neutral-69: #aca6b1;
    --md-ref-palette-neutral-70: #afa9b4;
    --md-ref-palette-neutral-71: #b1acb7;
    --md-ref-palette-neutral-72: #b4aeba;
    --md-ref-palette-neutral-73: #b7b1bc;
    --md-ref-palette-neutral-74: #bab4bf;
    --md-ref-palette-neutral-75: #bcb6c2;
    --md-ref-palette-neutral-76: #bfb9c4;
    --md-ref-palette-neutral-77: #c2bcc7;
    --md-ref-palette-neutral-78: #c5bfca;
    --md-ref-palette-neutral-79: #c8c1cd;
    --md-ref-palette-neutral-80: #cac4d0;
    --md-ref-palette-neutral-81: #cdc7d2;
    --md-ref-palette-neutral-82: #d0cad5;
    --md-ref-palette-neutral-83: #d3ccd8;
    --md-ref-palette-neutral-84: #d6cfdb;
    --md-ref-palette-neutral-85: #d9d2de;
    --md-ref-palette-neutral-86: #dbd5e0;
    --md-ref-palette-neutral-87: #ded8e3;
    --md-ref-palette-neutral-88: #e1dae6;
    --md-ref-palette-neutral-89: #e4dde9;
    --md-ref-palette-neutral-90: #e7e0ec;
    --md-ref-palette-neutral-91: #eae3ef;
    --md-ref-palette-neutral-92: #ede6f1;
    --md-ref-palette-neutral-93: #f0e8f4;
    --md-ref-palette-neutral-94: #f2ebf7;
    --md-ref-palette-neutral-95: #f5eefa;
    --md-ref-palette-neutral-96: #f8f1fd;
    --md-ref-palette-neutral-97: #fbf4ff;
    --md-ref-palette-neutral-98: #fef7ff;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #05030c;
    --md-ref-palette-neutral-variant-2: #090611;
    --md-ref-palette-neutral-variant-3: #0d0915;
    --md-ref-palette-neutral-variant-4: #100c19;
    --md-ref-palette-neutral-variant-5: #130f1c;
    --md-ref-palette-neutral-variant-6: #15111e;
    --md-ref-palette-neutral-variant-7: #171420;
    --md-ref-palette-neutral-variant-8: #191622;
    --md-ref-palette-neutral-variant-9: #1b1725;
    --md-ref-palette-neutral-variant-10: #1d1927;
    --md-ref-palette-neutral-variant-11: #1f1b29;
    --md-ref-palette-neutral-variant-12: #221d2b;
    --md-ref-palette-neutral-variant-13: #24202d;
    --md-ref-palette-neutral-variant-14: #26222f;
    --md-ref-palette-neutral-variant-15: #282431;
    --md-ref-palette-neutral-variant-16: #2a2633;
    --md-ref-palette-neutral-variant-17: #2c2836;
    --md-ref-palette-neutral-variant-18: #2e2a38;
    --md-ref-palette-neutral-variant-19: #302c3a;
    --md-ref-palette-neutral-variant-20: #332e3c;
    --md-ref-palette-neutral-variant-21: #35303e;
    --md-ref-palette-neutral-variant-22: #373241;
    --md-ref-palette-neutral-variant-23: #393543;
    --md-ref-palette-neutral-variant-24: #3c3745;
    --md-ref-palette-neutral-variant-25: #3e3948;
    --md-ref-palette-neutral-variant-26: #403b4a;
    --md-ref-palette-neutral-variant-27: #423e4c;
    --md-ref-palette-neutral-variant-28: #45404e;
    --md-ref-palette-neutral-variant-29: #474251;
    --md-ref-palette-neutral-variant-30: #494453;
    --md-ref-palette-neutral-variant-31: #4c4756;
    --md-ref-palette-neutral-variant-32: #4e4958;
    --md-ref-palette-neutral-variant-33: #504b5a;
    --md-ref-palette-neutral-variant-34: #534e5d;
    --md-ref-palette-neutral-variant-35: #55505f;
    --md-ref-palette-neutral-variant-36: #585262;
    --md-ref-palette-neutral-variant-37: #5a5564;
    --md-ref-palette-neutral-variant-38: #5d5766;
    --md-ref-palette-neutral-variant-39: #5f5969;
    --md-ref-palette-neutral-variant-40: #615c6b;
    --md-ref-palette-neutral-variant-41: #645e6e;
    --md-ref-palette-neutral-variant-42: #666170;
    --md-ref-palette-neutral-variant-43: #696373;
    --md-ref-palette-neutral-variant-44: #6b6575;
    --md-ref-palette-neutral-variant-45: #6e6878;
    --md-ref-palette-neutral-variant-46: #706a7a;
    --md-ref-palette-neutral-variant-47: #736d7d;
    --md-ref-palette-neutral-variant-48: #756f80;
    --md-ref-palette-neutral-variant-49: #787282;
    --md-ref-palette-neutral-variant-50: #7a7485;
    --md-ref-palette-neutral-variant-51: #7d7787;
    --md-ref-palette-neutral-variant-52: #80798a;
    --md-ref-palette-neutral-variant-53: #827c8c;
    --md-ref-palette-neutral-variant-54: #857e8f;
    --md-ref-palette-neutral-variant-55: #878192;
    --md-ref-palette-neutral-variant-56: #8a8394;
    --md-ref-palette-neutral-variant-57: #8d8697;
    --md-ref-palette-neutral-variant-58: #8f899a;
    --md-ref-palette-neutral-variant-59: #928b9c;
    --md-ref-palette-neutral-variant-60: #958e9f;
    --md-ref-palette-neutral-variant-61: #9790a1;
    --md-ref-palette-neutral-variant-62: #9a93a4;
    --md-ref-palette-neutral-variant-63: #9d96a7;
    --md-ref-palette-neutral-variant-64: #9f98aa;
    --md-ref-palette-neutral-variant-65: #a29bac;
    --md-ref-palette-neutral-variant-66: #a59daf;
    --md-ref-palette-neutral-variant-67: #a7a0b2;
    --md-ref-palette-neutral-variant-68: #aaa3b4;
    --md-ref-palette-neutral-variant-69: #ada5b7;
    --md-ref-palette-neutral-variant-70: #afa8ba;
    --md-ref-palette-neutral-variant-71: #b2abbd;
    --md-ref-palette-neutral-variant-72: #b5adbf;
    --md-ref-palette-neutral-variant-73: #b8b0c2;
    --md-ref-palette-neutral-variant-74: #bab3c5;
    --md-ref-palette-neutral-variant-75: #bdb6c8;
    --md-ref-palette-neutral-variant-76: #c0b8ca;
    --md-ref-palette-neutral-variant-77: #c3bbcd;
    --md-ref-palette-neutral-variant-78: #c6bed0;
    --md-ref-palette-neutral-variant-79: #c8c0d3;
    --md-ref-palette-neutral-variant-80: #cbc3d5;
    --md-ref-palette-neutral-variant-81: #cec6d8;
    --md-ref-palette-neutral-variant-82: #d1c9db;
    --md-ref-palette-neutral-variant-83: #d4ccde;
    --md-ref-palette-neutral-variant-84: #d6cee1;
    --md-ref-palette-neutral-variant-85: #d9d1e4;
    --md-ref-palette-neutral-variant-86: #dcd4e6;
    --md-ref-palette-neutral-variant-87: #dfd7e9;
    --md-ref-palette-neutral-variant-88: #e2d9ec;
    --md-ref-palette-neutral-variant-89: #e5dcef;
    --md-ref-palette-neutral-variant-90: #e8dff2;
    --md-ref-palette-neutral-variant-91: #ebe2f5;
    --md-ref-palette-neutral-variant-92: #ede5f8;
    --md-ref-palette-neutral-variant-93: #f0e8fb;
    --md-ref-palette-neutral-variant-94: #f3eafd;
    --md-ref-palette-neutral-variant-95: #f6edff;
    --md-ref-palette-neutral-variant-96: #f8f1ff;
    --md-ref-palette-neutral-variant-97: #fbf4ff;
    --md-ref-palette-neutral-variant-98: #fef7ff;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
