:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #090200;
    --md-ref-palette-primary-2: #100500;
    --md-ref-palette-primary-3: #160700;
    --md-ref-palette-primary-4: #1b0a00;
    --md-ref-palette-primary-5: #1f0c00;
    --md-ref-palette-primary-6: #220e00;
    --md-ref-palette-primary-7: #251000;
    --md-ref-palette-primary-8: #281200;
    --md-ref-palette-primary-9: #2b1400;
    --md-ref-palette-primary-10: #2e1500;
    --md-ref-palette-primary-11: #311700;
    --md-ref-palette-primary-12: #341900;
    --md-ref-palette-primary-13: #371a00;
    --md-ref-palette-primary-14: #3a1c00;
    --md-ref-palette-primary-15: #3d1e00;
    --md-ref-palette-primary-16: #402000;
    --md-ref-palette-primary-17: #432200;
    --md-ref-palette-primary-18: #462300;
    --md-ref-palette-primary-19: #492500;
    --md-ref-palette-primary-20: #4c2700;
    --md-ref-palette-primary-21: #4f2900;
    --md-ref-palette-primary-22: #522b00;
    --md-ref-palette-primary-23: #562d00;
    --md-ref-palette-primary-24: #592e00;
    --md-ref-palette-primary-25: #5c3000;
    --md-ref-palette-primary-26: #5f3200;
    --md-ref-palette-primary-27: #623400;
    --md-ref-palette-primary-28: #663600;
    --md-ref-palette-primary-29: #693800;
    --md-ref-palette-primary-30: #6c3a00;
    --md-ref-palette-primary-31: #703c00;
    --md-ref-palette-primary-32: #733e00;
    --md-ref-palette-primary-33: #764000;
    --md-ref-palette-primary-34: #7a4200;
    --md-ref-palette-primary-35: #7d4400;
    --md-ref-palette-primary-36: #814600;
    --md-ref-palette-primary-37: #844800;
    --md-ref-palette-primary-38: #884a00;
    --md-ref-palette-primary-39: #8b4c00;
    --md-ref-palette-primary-40: #8f4e00;
    --md-ref-palette-primary-41: #925000;
    --md-ref-palette-primary-42: #965200;
    --md-ref-palette-primary-43: #995400;
    --md-ref-palette-primary-44: #9d5600;
    --md-ref-palette-primary-45: #a05800;
    --md-ref-palette-primary-46: #a45a00;
    --md-ref-palette-primary-47: #a75d00;
    --md-ref-palette-primary-48: #ab5f00;
    --md-ref-palette-primary-49: #af6100;
    --md-ref-palette-primary-50: #b26300;
    --md-ref-palette-primary-51: #b66500;
    --md-ref-palette-primary-52: #ba6700;
    --md-ref-palette-primary-53: #bd6900;
    --md-ref-palette-primary-54: #c16c00;
    --md-ref-palette-primary-55: #c56e00;
    --md-ref-palette-primary-56: #c87000;
    --md-ref-palette-primary-57: #cc7200;
    --md-ref-palette-primary-58: #d07400;
    --md-ref-palette-primary-59: #d47600;
    --md-ref-palette-primary-60: #d77900;
    --md-ref-palette-primary-61: #db7b04;
    --md-ref-palette-primary-62: #de7e09;
    --md-ref-palette-primary-63: #e1800e;
    --md-ref-palette-primary-64: #e58312;
    --md-ref-palette-primary-65: #e88516;
    --md-ref-palette-primary-66: #eb881a;
    --md-ref-palette-primary-67: #ee8a1d;
    --md-ref-palette-primary-68: #f28d20;
    --md-ref-palette-primary-69: #f59023;
    --md-ref-palette-primary-70: #f89226;
    --md-ref-palette-primary-71: #fb9529;
    --md-ref-palette-primary-72: #ff972b;
    --md-ref-palette-primary-73: #ff9c38;
    --md-ref-palette-primary-74: #ffa043;
    --md-ref-palette-primary-75: #ffa44e;
    --md-ref-palette-primary-76: #ffa857;
    --md-ref-palette-primary-77: #ffac60;
    --md-ref-palette-primary-78: #ffb069;
    --md-ref-palette-primary-79: #ffb471;
    --md-ref-palette-primary-80: #ffb779;
    --md-ref-palette-primary-81: #ffbb81;
    --md-ref-palette-primary-82: #ffbf89;
    --md-ref-palette-primary-83: #ffc390;
    --md-ref-palette-primary-84: #ffc698;
    --md-ref-palette-primary-85: #ffca9f;
    --md-ref-palette-primary-86: #ffcea6;
    --md-ref-palette-primary-87: #ffd1ad;
    --md-ref-palette-primary-88: #ffd5b4;
    --md-ref-palette-primary-89: #ffd8bb;
    --md-ref-palette-primary-90: #ffdcc1;
    --md-ref-palette-primary-91: #ffe0c8;
    --md-ref-palette-primary-92: #ffe3cf;
    --md-ref-palette-primary-93: #ffe7d5;
    --md-ref-palette-primary-94: #ffeadc;
    --md-ref-palette-primary-95: #ffeee2;
    --md-ref-palette-primary-96: #fff1e8;
    --md-ref-palette-primary-97: #fff4ef;
    --md-ref-palette-primary-98: #fff8f5;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #090200;
    --md-ref-palette-secondary-2: #100500;
    --md-ref-palette-secondary-3: #160700;
    --md-ref-palette-secondary-4: #1b0a00;
    --md-ref-palette-secondary-5: #1f0c00;
    --md-ref-palette-secondary-6: #220e00;
    --md-ref-palette-secondary-7: #251000;
    --md-ref-palette-secondary-8: #281200;
    --md-ref-palette-secondary-9: #2b1400;
    --md-ref-palette-secondary-10: #2e1500;
    --md-ref-palette-secondary-11: #311700;
    --md-ref-palette-secondary-12: #341900;
    --md-ref-palette-secondary-13: #371a00;
    --md-ref-palette-secondary-14: #3a1c00;
    --md-ref-palette-secondary-15: #3d1e00;
    --md-ref-palette-secondary-16: #402000;
    --md-ref-palette-secondary-17: #432200;
    --md-ref-palette-secondary-18: #462300;
    --md-ref-palette-secondary-19: #482501;
    --md-ref-palette-secondary-20: #4b2802;
    --md-ref-palette-secondary-21: #4e2a04;
    --md-ref-palette-secondary-22: #502c06;
    --md-ref-palette-secondary-23: #532e07;
    --md-ref-palette-secondary-24: #563009;
    --md-ref-palette-secondary-25: #58320c;
    --md-ref-palette-secondary-26: #5b340e;
    --md-ref-palette-secondary-27: #5e3710;
    --md-ref-palette-secondary-28: #603912;
    --md-ref-palette-secondary-29: #633b14;
    --md-ref-palette-secondary-30: #663d16;
    --md-ref-palette-secondary-31: #684018;
    --md-ref-palette-secondary-32: #6b421a;
    --md-ref-palette-secondary-33: #6e441d;
    --md-ref-palette-secondary-34: #71461f;
    --md-ref-palette-secondary-35: #734921;
    --md-ref-palette-secondary-36: #764b23;
    --md-ref-palette-secondary-37: #794d25;
    --md-ref-palette-secondary-38: #7c5027;
    --md-ref-palette-secondary-39: #7e5229;
    --md-ref-palette-secondary-40: #81542b;
    --md-ref-palette-secondary-41: #84572e;
    --md-ref-palette-secondary-42: #875930;
    --md-ref-palette-secondary-43: #895c32;
    --md-ref-palette-secondary-44: #8c5e34;
    --md-ref-palette-secondary-45: #8f6036;
    --md-ref-palette-secondary-46: #926338;
    --md-ref-palette-secondary-47: #95653b;
    --md-ref-palette-secondary-48: #98683d;
    --md-ref-palette-secondary-49: #9a6a3f;
    --md-ref-palette-secondary-50: #9d6d41;
    --md-ref-palette-secondary-51: #a06f44;
    --md-ref-palette-secondary-52: #a37146;
    --md-ref-palette-secondary-53: #a67448;
    --md-ref-palette-secondary-54: #a9764a;
    --md-ref-palette-secondary-55: #ac794d;
    --md-ref-palette-secondary-56: #af7c4f;
    --md-ref-palette-secondary-57: #b17e51;
    --md-ref-palette-secondary-58: #b48154;
    --md-ref-palette-secondary-59: #b78356;
    --md-ref-palette-secondary-60: #ba8658;
    --md-ref-palette-secondary-61: #bd885b;
    --md-ref-palette-secondary-62: #c08b5d;
    --md-ref-palette-secondary-63: #c38d5f;
    --md-ref-palette-secondary-64: #c69062;
    --md-ref-palette-secondary-65: #c99364;
    --md-ref-palette-secondary-66: #cc9566;
    --md-ref-palette-secondary-67: #cf9869;
    --md-ref-palette-secondary-68: #d29a6b;
    --md-ref-palette-secondary-69: #d59d6e;
    --md-ref-palette-secondary-70: #d8a070;
    --md-ref-palette-secondary-71: #dba272;
    --md-ref-palette-secondary-72: #dea575;
    --md-ref-palette-secondary-73: #e1a877;
    --md-ref-palette-secondary-74: #e4aa7a;
    --md-ref-palette-secondary-75: #e7ad7c;
    --md-ref-palette-secondary-76: #eab07f;
    --md-ref-palette-secondary-77: #edb281;
    --md-ref-palette-secondary-78: #f0b584;
    --md-ref-palette-secondary-79: #f3b886;
    --md-ref-palette-secondary-80: #f6ba89;
    --md-ref-palette-secondary-81: #f9bd8b;
    --md-ref-palette-secondary-82: #fcc08e;
    --md-ref-palette-secondary-83: #ffc390;
    --md-ref-palette-secondary-84: #ffc698;
    --md-ref-palette-secondary-85: #ffca9f;
    --md-ref-palette-secondary-86: #ffcea6;
    --md-ref-palette-secondary-87: #ffd1ad;
    --md-ref-palette-secondary-88: #ffd5b4;
    --md-ref-palette-secondary-89: #ffd8bb;
    --md-ref-palette-secondary-90: #ffdcc1;
    --md-ref-palette-secondary-91: #ffe0c8;
    --md-ref-palette-secondary-92: #ffe3cf;
    --md-ref-palette-secondary-93: #ffe7d5;
    --md-ref-palette-secondary-94: #ffeadc;
    --md-ref-palette-secondary-95: #ffeee2;
    --md-ref-palette-secondary-96: #fff1e8;
    --md-ref-palette-secondary-97: #fff4ef;
    --md-ref-palette-secondary-98: #fff8f5;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #00040a;
    --md-ref-palette-tertiary-2: #000812;
    --md-ref-palette-tertiary-3: #000c18;
    --md-ref-palette-tertiary-4: #000f1d;
    --md-ref-palette-tertiary-5: #001221;
    --md-ref-palette-tertiary-6: #001525;
    --md-ref-palette-tertiary-7: #001729;
    --md-ref-palette-tertiary-8: #00192c;
    --md-ref-palette-tertiary-9: #001b2f;
    --md-ref-palette-tertiary-10: #001d32;
    --md-ref-palette-tertiary-11: #001f35;
    --md-ref-palette-tertiary-12: #002238;
    --md-ref-palette-tertiary-13: #00243b;
    --md-ref-palette-tertiary-14: #00263e;
    --md-ref-palette-tertiary-15: #002842;
    --md-ref-palette-tertiary-16: #002a45;
    --md-ref-palette-tertiary-17: #002c48;
    --md-ref-palette-tertiary-18: #002f4b;
    --md-ref-palette-tertiary-19: #00314f;
    --md-ref-palette-tertiary-20: #003352;
    --md-ref-palette-tertiary-21: #003555;
    --md-ref-palette-tertiary-22: #003859;
    --md-ref-palette-tertiary-23: #003a5c;
    --md-ref-palette-tertiary-24: #003c60;
    --md-ref-palette-tertiary-25: #003f63;
    --md-ref-palette-tertiary-26: #004166;
    --md-ref-palette-tertiary-27: #00436a;
    --md-ref-palette-tertiary-28: #00466d;
    --md-ref-palette-tertiary-29: #004871;
    --md-ref-palette-tertiary-30: #004b74;
    --md-ref-palette-tertiary-31: #004d78;
    --md-ref-palette-tertiary-32: #004f7c;
    --md-ref-palette-tertiary-33: #00527f;
    --md-ref-palette-tertiary-34: #005483;
    --md-ref-palette-tertiary-35: #005786;
    --md-ref-palette-tertiary-36: #00598a;
    --md-ref-palette-tertiary-37: #005c8e;
    --md-ref-palette-tertiary-38: #005e91;
    --md-ref-palette-tertiary-39: #006195;
    --md-ref-palette-tertiary-40: #006399;
    --md-ref-palette-tertiary-41: #00669d;
    --md-ref-palette-tertiary-42: #0068a0;
    --md-ref-palette-tertiary-43: #006ba4;
    --md-ref-palette-tertiary-44: #006da8;
    --md-ref-palette-tertiary-45: #0070ac;
    --md-ref-palette-tertiary-46: #0073b0;
    --md-ref-palette-tertiary-47: #0075b3;
    --md-ref-palette-tertiary-48: #0078b7;
    --md-ref-palette-tertiary-49: #007abb;
    --md-ref-palette-tertiary-50: #007dbf;
    --md-ref-palette-tertiary-51: #0080c3;
    --md-ref-palette-tertiary-52: #0082c7;
    --md-ref-palette-tertiary-53: #0085cb;
    --md-ref-palette-tertiary-54: #0088cf;
    --md-ref-palette-tertiary-55: #008ad3;
    --md-ref-palette-tertiary-56: #008dd7;
    --md-ref-palette-tertiary-57: #0090db;
    --md-ref-palette-tertiary-58: #0092df;
    --md-ref-palette-tertiary-59: #0095e3;
    --md-ref-palette-tertiary-60: #0098e7;
    --md-ref-palette-tertiary-61: #0c9aea;
    --md-ref-palette-tertiary-62: #169dec;
    --md-ref-palette-tertiary-63: #1ea0ef;
    --md-ref-palette-tertiary-64: #24a2f2;
    --md-ref-palette-tertiary-65: #29a5f5;
    --md-ref-palette-tertiary-66: #2ea8f8;
    --md-ref-palette-tertiary-67: #33abfb;
    --md-ref-palette-tertiary-68: #37adfe;
    --md-ref-palette-tertiary-69: #40b0ff;
    --md-ref-palette-tertiary-70: #4bb3ff;
    --md-ref-palette-tertiary-71: #54b5ff;
    --md-ref-palette-tertiary-72: #5db8ff;
    --md-ref-palette-tertiary-73: #65baff;
    --md-ref-palette-tertiary-74: #6cbdff;
    --md-ref-palette-tertiary-75: #74bfff;
    --md-ref-palette-tertiary-76: #7bc2ff;
    --md-ref-palette-tertiary-77: #81c4ff;
    --md-ref-palette-tertiary-78: #88c7ff;
    --md-ref-palette-tertiary-79: #8ec9ff;
    --md-ref-palette-tertiary-80: #94ccff;
    --md-ref-palette-tertiary-81: #9aceff;
    --md-ref-palette-tertiary-82: #a0d1ff;
    --md-ref-palette-tertiary-83: #a6d3ff;
    --md-ref-palette-tertiary-84: #acd6ff;
    --md-ref-palette-tertiary-85: #b2d9ff;
    --md-ref-palette-tertiary-86: #b7dbff;
    --md-ref-palette-tertiary-87: #bddeff;
    --md-ref-palette-tertiary-88: #c2e0ff;
    --md-ref-palette-tertiary-89: #c8e3ff;
    --md-ref-palette-tertiary-90: #cde5ff;
    --md-ref-palette-tertiary-91: #d2e8ff;
    --md-ref-palette-tertiary-92: #d8eaff;
    --md-ref-palette-tertiary-93: #ddedff;
    --md-ref-palette-tertiary-94: #e2efff;
    --md-ref-palette-tertiary-95: #e7f2ff;
    --md-ref-palette-tertiary-96: #edf4ff;
    --md-ref-palette-tertiary-97: #f2f7ff;
    --md-ref-palette-tertiary-98: #f7f9ff;
    --md-ref-palette-tertiary-99: #fcfcff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #070301;
    --md-ref-palette-neutral-2: #0d0602;
    --md-ref-palette-neutral-3: #110904;
    --md-ref-palette-neutral-4: #140d06;
    --md-ref-palette-neutral-5: #170f09;
    --md-ref-palette-neutral-6: #1a120b;
    --md-ref-palette-neutral-7: #1c140d;
    --md-ref-palette-neutral-8: #1f160f;
    --md-ref-palette-neutral-9: #211811;
    --md-ref-palette-neutral-10: #231a12;
    --md-ref-palette-neutral-11: #251c14;
    --md-ref-palette-neutral-12: #271e16;
    --md-ref-palette-neutral-13: #292018;
    --md-ref-palette-neutral-14: #2b221a;
    --md-ref-palette-neutral-15: #2e241c;
    --md-ref-palette-neutral-16: #30261e;
    --md-ref-palette-neutral-17: #322820;
    --md-ref-palette-neutral-18: #342a22;
    --md-ref-palette-neutral-19: #372c24;
    --md-ref-palette-neutral-20: #392e26;
    --md-ref-palette-neutral-21: #3b3128;
    --md-ref-palette-neutral-22: #3d332a;
    --md-ref-palette-neutral-23: #40352d;
    --md-ref-palette-neutral-24: #42372f;
    --md-ref-palette-neutral-25: #443931;
    --md-ref-palette-neutral-26: #473c33;
    --md-ref-palette-neutral-27: #493e35;
    --md-ref-palette-neutral-28: #4b4037;
    --md-ref-palette-neutral-29: #4e423a;
    --md-ref-palette-neutral-30: #50453c;
    --md-ref-palette-neutral-31: #53473e;
    --md-ref-palette-neutral-32: #554940;
    --md-ref-palette-neutral-33: #574b42;
    --md-ref-palette-neutral-34: #5a4e45;
    --md-ref-palette-neutral-35: #5c5047;
    --md-ref-palette-neutral-36: #5f5249;
    --md-ref-palette-neutral-37: #61554c;
    --md-ref-palette-neutral-38: #64574e;
    --md-ref-palette-neutral-39: #665a50;
    --md-ref-palette-neutral-40: #695c52;
    --md-ref-palette-neutral-41: #6b5e55;
    --md-ref-palette-neutral-42: #6e6157;
    --md-ref-palette-neutral-43: #70635a;
    --md-ref-palette-neutral-44: #73665c;
    --md-ref-palette-neutral-45: #75685e;
    --md-ref-palette-neutral-46: #786b61;
    --md-ref-palette-neutral-47: #7b6d63;
    --md-ref-palette-neutral-48: #7d6f66;
    --md-ref-palette-neutral-49: #807268;
    --md-ref-palette-neutral-50: #82746a;
    --md-ref-palette-neutral-51: #85776d;
    --md-ref-palette-neutral-52: #88796f;
    --md-ref-palette-neutral-53: #8a7c72;
    --md-ref-palette-neutral-54: #8d7f74;
    --md-ref-palette-neutral-55: #908177;
    --md-ref-palette-neutral-56: #928479;
    --md-ref-palette-neutral-57: #95867c;
    --md-ref-palette-neutral-58: #98897e;
    --md-ref-palette-neutral-59: #9a8b81;
    --md-ref-palette-neutral-60: #9d8e83;
    --md-ref-palette-neutral-61: #a09086;
    --md-ref-palette-neutral-62: #a29388;
    --md-ref-palette-neutral-63: #a5968b;
    --md-ref-palette-neutral-64: #a8988d;
    --md-ref-palette-neutral-65: #ab9b90;
    --md-ref-palette-neutral-66: #ad9e93;
    --md-ref-palette-neutral-67: #b0a095;
    --md-ref-palette-neutral-68: #b3a398;
    --md-ref-palette-neutral-69: #b6a69a;
    --md-ref-palette-neutral-70: #b8a89d;
    --md-ref-palette-neutral-71: #bbaba0;
    --md-ref-palette-neutral-72: #beaea2;
    --md-ref-palette-neutral-73: #c1b0a5;
    --md-ref-palette-neutral-74: #c3b3a8;
    --md-ref-palette-neutral-75: #c6b6aa;
    --md-ref-palette-neutral-76: #c9b8ad;
    --md-ref-palette-neutral-77: #ccbbb0;
    --md-ref-palette-neutral-78: #cfbeb2;
    --md-ref-palette-neutral-79: #d2c1b5;
    --md-ref-palette-neutral-80: #d4c3b8;
    --md-ref-palette-neutral-81: #d7c6ba;
    --md-ref-palette-neutral-82: #dac9bd;
    --md-ref-palette-neutral-83: #ddccc0;
    --md-ref-palette-neutral-84: #e0cec2;
    --md-ref-palette-neutral-85: #e3d1c5;
    --md-ref-palette-neutral-86: #e6d4c8;
    --md-ref-palette-neutral-87: #e9d7cb;
    --md-ref-palette-neutral-88: #ebdacd;
    --md-ref-palette-neutral-89: #eedcd0;
    --md-ref-palette-neutral-90: #f1dfd3;
    --md-ref-palette-neutral-91: #f4e2d6;
    --md-ref-palette-neutral-92: #f7e5d9;
    --md-ref-palette-neutral-93: #fae8db;
    --md-ref-palette-neutral-94: #fdeade;
    --md-ref-palette-neutral-95: #ffeee2;
    --md-ref-palette-neutral-96: #fff1e8;
    --md-ref-palette-neutral-97: #fff4ef;
    --md-ref-palette-neutral-98: #fff8f5;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #090200;
    --md-ref-palette-neutral-variant-2: #0f0501;
    --md-ref-palette-neutral-variant-3: #140802;
    --md-ref-palette-neutral-variant-4: #170c03;
    --md-ref-palette-neutral-variant-5: #1a0e05;
    --md-ref-palette-neutral-variant-6: #1d1106;
    --md-ref-palette-neutral-variant-7: #201308;
    --md-ref-palette-neutral-variant-8: #221509;
    --md-ref-palette-neutral-variant-9: #24170b;
    --md-ref-palette-neutral-variant-10: #26190d;
    --md-ref-palette-neutral-variant-11: #281b0f;
    --md-ref-palette-neutral-variant-12: #2b1d11;
    --md-ref-palette-neutral-variant-13: #2d1f13;
    --md-ref-palette-neutral-variant-14: #2f2115;
    --md-ref-palette-neutral-variant-15: #312317;
    --md-ref-palette-neutral-variant-16: #342518;
    --md-ref-palette-neutral-variant-17: #36271a;
    --md-ref-palette-neutral-variant-18: #38291c;
    --md-ref-palette-neutral-variant-19: #3a2b1e;
    --md-ref-palette-neutral-variant-20: #3d2d20;
    --md-ref-palette-neutral-variant-21: #3f2f22;
    --md-ref-palette-neutral-variant-22: #423224;
    --md-ref-palette-neutral-variant-23: #443427;
    --md-ref-palette-neutral-variant-24: #463629;
    --md-ref-palette-neutral-variant-25: #49382b;
    --md-ref-palette-neutral-variant-26: #4b3a2d;
    --md-ref-palette-neutral-variant-27: #4d3d2f;
    --md-ref-palette-neutral-variant-28: #503f31;
    --md-ref-palette-neutral-variant-29: #524133;
    --md-ref-palette-neutral-variant-30: #554335;
    --md-ref-palette-neutral-variant-31: #574638;
    --md-ref-palette-neutral-variant-32: #5a483a;
    --md-ref-palette-neutral-variant-33: #5c4a3c;
    --md-ref-palette-neutral-variant-34: #5f4d3e;
    --md-ref-palette-neutral-variant-35: #614f40;
    --md-ref-palette-neutral-variant-36: #645143;
    --md-ref-palette-neutral-variant-37: #665445;
    --md-ref-palette-neutral-variant-38: #695647;
    --md-ref-palette-neutral-variant-39: #6b5849;
    --md-ref-palette-neutral-variant-40: #6e5b4c;
    --md-ref-palette-neutral-variant-41: #705d4e;
    --md-ref-palette-neutral-variant-42: #735f50;
    --md-ref-palette-neutral-variant-43: #766253;
    --md-ref-palette-neutral-variant-44: #786455;
    --md-ref-palette-neutral-variant-45: #7b6757;
    --md-ref-palette-neutral-variant-46: #7d695a;
    --md-ref-palette-neutral-variant-47: #806c5c;
    --md-ref-palette-neutral-variant-48: #836e5e;
    --md-ref-palette-neutral-variant-49: #857161;
    --md-ref-palette-neutral-variant-50: #887363;
    --md-ref-palette-neutral-variant-51: #8b7666;
    --md-ref-palette-neutral-variant-52: #8d7868;
    --md-ref-palette-neutral-variant-53: #907b6a;
    --md-ref-palette-neutral-variant-54: #937d6d;
    --md-ref-palette-neutral-variant-55: #95806f;
    --md-ref-palette-neutral-variant-56: #988272;
    --md-ref-palette-neutral-variant-57: #9b8574;
    --md-ref-palette-neutral-variant-58: #9d8777;
    --md-ref-palette-neutral-variant-59: #a08a79;
    --md-ref-palette-neutral-variant-60: #a38d7c;
    --md-ref-palette-neutral-variant-61: #a68f7e;
    --md-ref-palette-neutral-variant-62: #a89281;
    --md-ref-palette-neutral-variant-63: #ab9483;
    --md-ref-palette-neutral-variant-64: #ae9786;
    --md-ref-palette-neutral-variant-65: #b19a88;
    --md-ref-palette-neutral-variant-66: #b39c8b;
    --md-ref-palette-neutral-variant-67: #b69f8d;
    --md-ref-palette-neutral-variant-68: #b9a190;
    --md-ref-palette-neutral-variant-69: #bca493;
    --md-ref-palette-neutral-variant-70: #bfa795;
    --md-ref-palette-neutral-variant-71: #c1a998;
    --md-ref-palette-neutral-variant-72: #c4ac9a;
    --md-ref-palette-neutral-variant-73: #c7af9d;
    --md-ref-palette-neutral-variant-74: #cab2a0;
    --md-ref-palette-neutral-variant-75: #cdb4a2;
    --md-ref-palette-neutral-variant-76: #cfb7a5;
    --md-ref-palette-neutral-variant-77: #d2baa7;
    --md-ref-palette-neutral-variant-78: #d5bcaa;
    --md-ref-palette-neutral-variant-79: #d8bfad;
    --md-ref-palette-neutral-variant-80: #dbc2af;
    --md-ref-palette-neutral-variant-81: #dec5b2;
    --md-ref-palette-neutral-variant-82: #e1c7b5;
    --md-ref-palette-neutral-variant-83: #e4cab7;
    --md-ref-palette-neutral-variant-84: #e7cdba;
    --md-ref-palette-neutral-variant-85: #e9d0bd;
    --md-ref-palette-neutral-variant-86: #ecd2c0;
    --md-ref-palette-neutral-variant-87: #efd5c2;
    --md-ref-palette-neutral-variant-88: #f2d8c5;
    --md-ref-palette-neutral-variant-89: #f5dbc8;
    --md-ref-palette-neutral-variant-90: #f8deca;
    --md-ref-palette-neutral-variant-91: #fbe0cd;
    --md-ref-palette-neutral-variant-92: #fee3d0;
    --md-ref-palette-neutral-variant-93: #ffe7d5;
    --md-ref-palette-neutral-variant-94: #ffeadc;
    --md-ref-palette-neutral-variant-95: #ffeee2;
    --md-ref-palette-neutral-variant-96: #fff1e8;
    --md-ref-palette-neutral-variant-97: #fff4ef;
    --md-ref-palette-neutral-variant-98: #fff8f5;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
