:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060300;
    --md-ref-palette-primary-2: #0b0700;
    --md-ref-palette-primary-3: #100a00;
    --md-ref-palette-primary-4: #140d00;
    --md-ref-palette-primary-5: #171000;
    --md-ref-palette-primary-10: #241a00;
    --md-ref-palette-primary-20: #3b2f0d;
    --md-ref-palette-primary-30: #534521;
    --md-ref-palette-primary-40: #6c5d36;
    --md-ref-palette-primary-50: #86754d;
    --md-ref-palette-primary-60: #a18f64;
    --md-ref-palette-primary-70: #bca97c;
    --md-ref-palette-primary-80: #d9c596;
    --md-ref-palette-primary-90: #f6e1b0;
    --md-ref-palette-primary-95: #ffefce;
    --md-ref-palette-primary-96: #fff2da;
    --md-ref-palette-primary-97: #fff5e6;
    --md-ref-palette-primary-98: #fff8f1;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #060300;
    --md-ref-palette-secondary-2: #0b0701;
    --md-ref-palette-secondary-3: #0f0a02;
    --md-ref-palette-secondary-4: #120e03;
    --md-ref-palette-secondary-5: #151004;
    --md-ref-palette-secondary-10: #211b0d;
    --md-ref-palette-secondary-20: #363020;
    --md-ref-palette-secondary-30: #4d4635;
    --md-ref-palette-secondary-40: #665e4b;
    --md-ref-palette-secondary-50: #7f7663;
    --md-ref-palette-secondary-60: #9a907b;
    --md-ref-palette-secondary-70: #b5aa95;
    --md-ref-palette-secondary-80: #d1c5af;
    --md-ref-palette-secondary-90: #ede1ca;
    --md-ref-palette-secondary-95: #fcefd8;
    --md-ref-palette-secondary-96: #fff2da;
    --md-ref-palette-secondary-97: #fff5e6;
    --md-ref-palette-secondary-98: #fff8f1;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #010217;
    --md-ref-palette-tertiary-2: #04051c;
    --md-ref-palette-tertiary-3: #070820;
    --md-ref-palette-tertiary-4: #0a0c23;
    --md-ref-palette-tertiary-5: #0d0f26;
    --md-ref-palette-tertiary-10: #181931;
    --md-ref-palette-tertiary-20: #2d2e47;
    --md-ref-palette-tertiary-30: #43455f;
    --md-ref-palette-tertiary-40: #5b5c78;
    --md-ref-palette-tertiary-50: #747591;
    --md-ref-palette-tertiary-60: #8e8eac;
    --md-ref-palette-tertiary-70: #a8a9c8;
    --md-ref-palette-tertiary-80: #c4c4e4;
    --md-ref-palette-tertiary-90: #e0e0ff;
    --md-ref-palette-tertiary-95: #f1efff;
    --md-ref-palette-tertiary-96: #f5f2ff;
    --md-ref-palette-tertiary-97: #f8f5ff;
    --md-ref-palette-tertiary-98: #fbf8ff;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040402;
    --md-ref-palette-neutral-2: #080705;
    --md-ref-palette-neutral-3: #0c0b08;
    --md-ref-palette-neutral-4: #100e0b;
    --md-ref-palette-neutral-5: #12110e;
    --md-ref-palette-neutral-10: #1d1b18;
    --md-ref-palette-neutral-20: #32302c;
    --md-ref-palette-neutral-30: #494642;
    --md-ref-palette-neutral-40: #615e5a;
    --md-ref-palette-neutral-50: #7a7672;
    --md-ref-palette-neutral-60: #94908b;
    --md-ref-palette-neutral-70: #afaaa5;
    --md-ref-palette-neutral-80: #cbc6c0;
    --md-ref-palette-neutral-90: #e7e1dc;
    --md-ref-palette-neutral-95: #f6f0ea;
    --md-ref-palette-neutral-96: #f9f3ed;
    --md-ref-palette-neutral-97: #fcf5f0;
    --md-ref-palette-neutral-98: #fef8f2;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #050401;
    --md-ref-palette-neutral-variant-2: #0a0702;
    --md-ref-palette-neutral-variant-3: #0e0b04;
    --md-ref-palette-neutral-variant-4: #110e06;
    --md-ref-palette-neutral-variant-5: #141108;
    --md-ref-palette-neutral-variant-10: #1f1b12;
    --md-ref-palette-neutral-variant-20: #343026;
    --md-ref-palette-neutral-variant-30: #4b463b;
    --md-ref-palette-neutral-variant-40: #645e52;
    --md-ref-palette-neutral-variant-50: #7d766a;
    --md-ref-palette-neutral-variant-60: #979083;
    --md-ref-palette-neutral-variant-70: #b2aa9d;
    --md-ref-palette-neutral-variant-80: #cec5b7;
    --md-ref-palette-neutral-variant-90: #eae1d3;
    --md-ref-palette-neutral-variant-95: #f9f0e1;
    --md-ref-palette-neutral-variant-96: #fcf2e3;
    --md-ref-palette-neutral-variant-97: #fff5e6;
    --md-ref-palette-neutral-variant-98: #fff8f1;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
