:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060300;
    --md-ref-palette-primary-2: #0c0700;
    --md-ref-palette-primary-3: #100a00;
    --md-ref-palette-primary-4: #140d00;
    --md-ref-palette-primary-5: #171000;
    --md-ref-palette-primary-6: #1a1200;
    --md-ref-palette-primary-7: #1d1400;
    --md-ref-palette-primary-8: #201600;
    --md-ref-palette-primary-9: #221800;
    --md-ref-palette-primary-10: #241a00;
    --md-ref-palette-primary-11: #271c00;
    --md-ref-palette-primary-12: #291e00;
    --md-ref-palette-primary-13: #2c2000;
    --md-ref-palette-primary-14: #2e2200;
    --md-ref-palette-primary-15: #312400;
    --md-ref-palette-primary-16: #332600;
    --md-ref-palette-primary-17: #362800;
    --md-ref-palette-primary-18: #382a00;
    --md-ref-palette-primary-19: #3b2c00;
    --md-ref-palette-primary-20: #3e2e00;
    --md-ref-palette-primary-21: #403000;
    --md-ref-palette-primary-22: #433300;
    --md-ref-palette-primary-23: #463500;
    --md-ref-palette-primary-24: #483700;
    --md-ref-palette-primary-25: #4b3900;
    --md-ref-palette-primary-26: #4e3b00;
    --md-ref-palette-primary-27: #503d00;
    --md-ref-palette-primary-28: #533f00;
    --md-ref-palette-primary-29: #564200;
    --md-ref-palette-primary-30: #594400;
    --md-ref-palette-primary-31: #5c4600;
    --md-ref-palette-primary-32: #5e4800;
    --md-ref-palette-primary-33: #614b00;
    --md-ref-palette-primary-34: #644d00;
    --md-ref-palette-primary-35: #674f00;
    --md-ref-palette-primary-36: #6a5100;
    --md-ref-palette-primary-37: #6d5400;
    --md-ref-palette-primary-38: #705600;
    --md-ref-palette-primary-39: #725800;
    --md-ref-palette-primary-40: #755b00;
    --md-ref-palette-primary-41: #785d00;
    --md-ref-palette-primary-42: #7b5f00;
    --md-ref-palette-primary-43: #7e6200;
    --md-ref-palette-primary-44: #816400;
    --md-ref-palette-primary-45: #846700;
    --md-ref-palette-primary-46: #876900;
    --md-ref-palette-primary-47: #8a6b00;
    --md-ref-palette-primary-48: #8d6e00;
    --md-ref-palette-primary-49: #907000;
    --md-ref-palette-primary-50: #937300;
    --md-ref-palette-primary-51: #967500;
    --md-ref-palette-primary-52: #9a7800;
    --md-ref-palette-primary-53: #9d7a00;
    --md-ref-palette-primary-54: #a07c00;
    --md-ref-palette-primary-55: #a37f00;
    --md-ref-palette-primary-56: #a68100;
    --md-ref-palette-primary-57: #a98400;
    --md-ref-palette-primary-58: #ac8600;
    --md-ref-palette-primary-59: #af8900;
    --md-ref-palette-primary-60: #b38b01;
    --md-ref-palette-primary-61: #b58e06;
    --md-ref-palette-primary-62: #b8910b;
    --md-ref-palette-primary-63: #bb9310;
    --md-ref-palette-primary-64: #be9614;
    --md-ref-palette-primary-65: #c19918;
    --md-ref-palette-primary-66: #c49b1b;
    --md-ref-palette-primary-67: #c79e1f;
    --md-ref-palette-primary-68: #caa122;
    --md-ref-palette-primary-69: #cda325;
    --md-ref-palette-primary-70: #d0a628;
    --md-ref-palette-primary-71: #d3a92b;
    --md-ref-palette-primary-72: #d6ab2d;
    --md-ref-palette-primary-73: #d9ae30;
    --md-ref-palette-primary-74: #dcb133;
    --md-ref-palette-primary-75: #dfb335;
    --md-ref-palette-primary-76: #e2b638;
    --md-ref-palette-primary-77: #e5b93b;
    --md-ref-palette-primary-78: #e8bc3d;
    --md-ref-palette-primary-79: #ebbe40;
    --md-ref-palette-primary-80: #eec143;
    --md-ref-palette-primary-81: #f1c445;
    --md-ref-palette-primary-82: #f4c748;
    --md-ref-palette-primary-83: #f7c94a;
    --md-ref-palette-primary-84: #facc4d;
    --md-ref-palette-primary-85: #fdcf4f;
    --md-ref-palette-primary-86: #ffd256;
    --md-ref-palette-primary-87: #ffd567;
    --md-ref-palette-primary-88: #ffd976;
    --md-ref-palette-primary-89: #ffdc84;
    --md-ref-palette-primary-90: #ffdf92;
    --md-ref-palette-primary-91: #ffe39f;
    --md-ref-palette-primary-92: #ffe6ac;
    --md-ref-palette-primary-93: #ffe9b8;
    --md-ref-palette-primary-94: #ffecc4;
    --md-ref-palette-primary-95: #ffefcf;
    --md-ref-palette-primary-96: #fff2db;
    --md-ref-palette-primary-97: #fff5e6;
    --md-ref-palette-primary-98: #fff8f1;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #060300;
    --md-ref-palette-secondary-2: #0c0700;
    --md-ref-palette-secondary-3: #100a00;
    --md-ref-palette-secondary-4: #140d00;
    --md-ref-palette-secondary-5: #171000;
    --md-ref-palette-secondary-6: #1a1200;
    --md-ref-palette-secondary-7: #1d1400;
    --md-ref-palette-secondary-8: #201600;
    --md-ref-palette-secondary-9: #221800;
    --md-ref-palette-secondary-10: #241a00;
    --md-ref-palette-secondary-11: #271c00;
    --md-ref-palette-secondary-12: #291e00;
    --md-ref-palette-secondary-13: #2c2000;
    --md-ref-palette-secondary-14: #2e2200;
    --md-ref-palette-secondary-15: #312400;
    --md-ref-palette-secondary-16: #332600;
    --md-ref-palette-secondary-17: #362800;
    --md-ref-palette-secondary-18: #382a00;
    --md-ref-palette-secondary-19: #3b2c01;
    --md-ref-palette-secondary-20: #3d2e03;
    --md-ref-palette-secondary-21: #3f3104;
    --md-ref-palette-secondary-22: #423306;
    --md-ref-palette-secondary-23: #443508;
    --md-ref-palette-secondary-24: #47370a;
    --md-ref-palette-secondary-25: #49390c;
    --md-ref-palette-secondary-26: #4b3c0f;
    --md-ref-palette-secondary-27: #4e3e11;
    --md-ref-palette-secondary-28: #504013;
    --md-ref-palette-secondary-29: #534215;
    --md-ref-palette-secondary-30: #554517;
    --md-ref-palette-secondary-31: #584719;
    --md-ref-palette-secondary-32: #5a491b;
    --md-ref-palette-secondary-33: #5d4c1d;
    --md-ref-palette-secondary-34: #5f4e20;
    --md-ref-palette-secondary-35: #625022;
    --md-ref-palette-secondary-36: #645324;
    --md-ref-palette-secondary-37: #675526;
    --md-ref-palette-secondary-38: #695828;
    --md-ref-palette-secondary-39: #6c5a2a;
    --md-ref-palette-secondary-40: #6f5c2c;
    --md-ref-palette-secondary-41: #715f2f;
    --md-ref-palette-secondary-42: #746131;
    --md-ref-palette-secondary-43: #766433;
    --md-ref-palette-secondary-44: #796635;
    --md-ref-palette-secondary-45: #7c6937;
    --md-ref-palette-secondary-46: #7e6b3a;
    --md-ref-palette-secondary-47: #816d3c;
    --md-ref-palette-secondary-48: #84703e;
    --md-ref-palette-secondary-49: #867240;
    --md-ref-palette-secondary-50: #897542;
    --md-ref-palette-secondary-51: #8c7745;
    --md-ref-palette-secondary-52: #8e7a47;
    --md-ref-palette-secondary-53: #917d49;
    --md-ref-palette-secondary-54: #947f4c;
    --md-ref-palette-secondary-55: #96824e;
    --md-ref-palette-secondary-56: #998450;
    --md-ref-palette-secondary-57: #9c8752;
    --md-ref-palette-secondary-58: #9f8955;
    --md-ref-palette-secondary-59: #a18c57;
    --md-ref-palette-secondary-60: #a48f59;
    --md-ref-palette-secondary-61: #a7915c;
    --md-ref-palette-secondary-62: #aa945e;
    --md-ref-palette-secondary-63: #ac9661;
    --md-ref-palette-secondary-64: #af9963;
    --md-ref-palette-secondary-65: #b29c65;
    --md-ref-palette-secondary-66: #b59e68;
    --md-ref-palette-secondary-67: #b7a16a;
    --md-ref-palette-secondary-68: #baa46d;
    --md-ref-palette-secondary-69: #bda66f;
    --md-ref-palette-secondary-70: #c0a971;
    --md-ref-palette-secondary-71: #c3ac74;
    --md-ref-palette-secondary-72: #c6ae76;
    --md-ref-palette-secondary-73: #c8b179;
    --md-ref-palette-secondary-74: #cbb47b;
    --md-ref-palette-secondary-75: #ceb67e;
    --md-ref-palette-secondary-76: #d1b980;
    --md-ref-palette-secondary-77: #d4bc83;
    --md-ref-palette-secondary-78: #d7bf85;
    --md-ref-palette-secondary-79: #dac188;
    --md-ref-palette-secondary-80: #ddc48a;
    --md-ref-palette-secondary-81: #dfc78d;
    --md-ref-palette-secondary-82: #e2ca8f;
    --md-ref-palette-secondary-83: #e5cc92;
    --md-ref-palette-secondary-84: #e8cf94;
    --md-ref-palette-secondary-85: #ebd297;
    --md-ref-palette-secondary-86: #eed59a;
    --md-ref-palette-secondary-87: #f1d89c;
    --md-ref-palette-secondary-88: #f4da9f;
    --md-ref-palette-secondary-89: #f7dda1;
    --md-ref-palette-secondary-90: #fae0a4;
    --md-ref-palette-secondary-91: #fde3a7;
    --md-ref-palette-secondary-92: #ffe6ac;
    --md-ref-palette-secondary-93: #ffe9b8;
    --md-ref-palette-secondary-94: #ffecc4;
    --md-ref-palette-secondary-95: #ffefcf;
    --md-ref-palette-secondary-96: #fff2db;
    --md-ref-palette-secondary-97: #fff5e6;
    --md-ref-palette-secondary-98: #fff8f1;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000312;
    --md-ref-palette-tertiary-2: #00061d;
    --md-ref-palette-tertiary-3: #000925;
    --md-ref-palette-tertiary-4: #000c2b;
    --md-ref-palette-tertiary-5: #000f31;
    --md-ref-palette-tertiary-6: #001136;
    --md-ref-palette-tertiary-7: #00133a;
    --md-ref-palette-tertiary-8: #00153e;
    --md-ref-palette-tertiary-9: #001742;
    --md-ref-palette-tertiary-10: #001946;
    --md-ref-palette-tertiary-11: #001a4b;
    --md-ref-palette-tertiary-12: #001c4f;
    --md-ref-palette-tertiary-13: #001e53;
    --md-ref-palette-tertiary-14: #002057;
    --md-ref-palette-tertiary-15: #00225b;
    --md-ref-palette-tertiary-16: #002460;
    --md-ref-palette-tertiary-17: #002664;
    --md-ref-palette-tertiary-18: #002868;
    --md-ref-palette-tertiary-19: #002a6d;
    --md-ref-palette-tertiary-20: #002c71;
    --md-ref-palette-tertiary-21: #002e75;
    --md-ref-palette-tertiary-22: #00307a;
    --md-ref-palette-tertiary-23: #00327e;
    --md-ref-palette-tertiary-24: #003483;
    --md-ref-palette-tertiary-25: #033686;
    --md-ref-palette-tertiary-26: #083989;
    --md-ref-palette-tertiary-27: #0d3b8b;
    --md-ref-palette-tertiary-28: #113e8d;
    --md-ref-palette-tertiary-29: #154090;
    --md-ref-palette-tertiary-30: #194292;
    --md-ref-palette-tertiary-31: #1c4595;
    --md-ref-palette-tertiary-32: #1f4797;
    --md-ref-palette-tertiary-33: #234a9a;
    --md-ref-palette-tertiary-34: #264c9c;
    --md-ref-palette-tertiary-35: #294f9f;
    --md-ref-palette-tertiary-36: #2c51a1;
    --md-ref-palette-tertiary-37: #2e54a4;
    --md-ref-palette-tertiary-38: #3156a6;
    --md-ref-palette-tertiary-39: #3459a9;
    --md-ref-palette-tertiary-40: #375bac;
    --md-ref-palette-tertiary-41: #395eae;
    --md-ref-palette-tertiary-42: #3c60b1;
    --md-ref-palette-tertiary-43: #3f63b3;
    --md-ref-palette-tertiary-44: #4265b6;
    --md-ref-palette-tertiary-45: #4468b9;
    --md-ref-palette-tertiary-46: #476abb;
    --md-ref-palette-tertiary-47: #4a6dbe;
    --md-ref-palette-tertiary-48: #4c6fc1;
    --md-ref-palette-tertiary-49: #4f72c4;
    --md-ref-palette-tertiary-50: #5274c6;
    --md-ref-palette-tertiary-51: #5477c9;
    --md-ref-palette-tertiary-52: #5779cc;
    --md-ref-palette-tertiary-53: #5a7ccf;
    --md-ref-palette-tertiary-54: #5c7fd1;
    --md-ref-palette-tertiary-55: #5f81d4;
    --md-ref-palette-tertiary-56: #6284d7;
    --md-ref-palette-tertiary-57: #6486da;
    --md-ref-palette-tertiary-58: #6789dd;
    --md-ref-palette-tertiary-59: #6a8cdf;
    --md-ref-palette-tertiary-60: #6c8ee2;
    --md-ref-palette-tertiary-61: #6f91e5;
    --md-ref-palette-tertiary-62: #7294e8;
    --md-ref-palette-tertiary-63: #7496eb;
    --md-ref-palette-tertiary-64: #7799ee;
    --md-ref-palette-tertiary-65: #7a9cf1;
    --md-ref-palette-tertiary-66: #7c9ef3;
    --md-ref-palette-tertiary-67: #7fa1f6;
    --md-ref-palette-tertiary-68: #82a4f9;
    --md-ref-palette-tertiary-69: #84a6fc;
    --md-ref-palette-tertiary-70: #87a9ff;
    --md-ref-palette-tertiary-71: #8cacff;
    --md-ref-palette-tertiary-72: #90afff;
    --md-ref-palette-tertiary-73: #94b2ff;
    --md-ref-palette-tertiary-74: #98b4ff;
    --md-ref-palette-tertiary-75: #9cb7ff;
    --md-ref-palette-tertiary-76: #a1baff;
    --md-ref-palette-tertiary-77: #a5bdff;
    --md-ref-palette-tertiary-78: #a9c0ff;
    --md-ref-palette-tertiary-79: #adc3ff;
    --md-ref-palette-tertiary-80: #b1c5ff;
    --md-ref-palette-tertiary-81: #b5c8ff;
    --md-ref-palette-tertiary-82: #b9cbff;
    --md-ref-palette-tertiary-83: #bdceff;
    --md-ref-palette-tertiary-84: #c1d1ff;
    --md-ref-palette-tertiary-85: #c6d4ff;
    --md-ref-palette-tertiary-86: #cad6ff;
    --md-ref-palette-tertiary-87: #ced9ff;
    --md-ref-palette-tertiary-88: #d2dcff;
    --md-ref-palette-tertiary-89: #d6dfff;
    --md-ref-palette-tertiary-90: #dae2ff;
    --md-ref-palette-tertiary-91: #dee5ff;
    --md-ref-palette-tertiary-92: #e2e7ff;
    --md-ref-palette-tertiary-93: #e6eaff;
    --md-ref-palette-tertiary-94: #eaedff;
    --md-ref-palette-tertiary-95: #eef0ff;
    --md-ref-palette-tertiary-96: #f2f3ff;
    --md-ref-palette-tertiary-97: #f6f6ff;
    --md-ref-palette-tertiary-98: #faf8ff;
    --md-ref-palette-tertiary-99: #fefbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050401;
    --md-ref-palette-neutral-2: #0a0702;
    --md-ref-palette-neutral-3: #0e0b04;
    --md-ref-palette-neutral-4: #110e07;
    --md-ref-palette-neutral-5: #141109;
    --md-ref-palette-neutral-6: #16130b;
    --md-ref-palette-neutral-7: #19150d;
    --md-ref-palette-neutral-8: #1b170f;
    --md-ref-palette-neutral-9: #1d1911;
    --md-ref-palette-neutral-10: #1f1b13;
    --md-ref-palette-neutral-11: #211d15;
    --md-ref-palette-neutral-12: #231f17;
    --md-ref-palette-neutral-13: #252118;
    --md-ref-palette-neutral-14: #27231a;
    --md-ref-palette-neutral-15: #29251c;
    --md-ref-palette-neutral-16: #2c271e;
    --md-ref-palette-neutral-17: #2e2a20;
    --md-ref-palette-neutral-18: #302c22;
    --md-ref-palette-neutral-19: #322e25;
    --md-ref-palette-neutral-20: #343027;
    --md-ref-palette-neutral-21: #373229;
    --md-ref-palette-neutral-22: #39342b;
    --md-ref-palette-neutral-23: #3b362d;
    --md-ref-palette-neutral-24: #3d392f;
    --md-ref-palette-neutral-25: #403b31;
    --md-ref-palette-neutral-26: #423d33;
    --md-ref-palette-neutral-27: #443f35;
    --md-ref-palette-neutral-28: #474238;
    --md-ref-palette-neutral-29: #49443a;
    --md-ref-palette-neutral-30: #4b463c;
    --md-ref-palette-neutral-31: #4e483e;
    --md-ref-palette-neutral-32: #504b40;
    --md-ref-palette-neutral-33: #524d43;
    --md-ref-palette-neutral-34: #554f45;
    --md-ref-palette-neutral-35: #575247;
    --md-ref-palette-neutral-36: #5a544a;
    --md-ref-palette-neutral-37: #5c574c;
    --md-ref-palette-neutral-38: #5f594e;
    --md-ref-palette-neutral-39: #615b50;
    --md-ref-palette-neutral-40: #635e53;
    --md-ref-palette-neutral-41: #666055;
    --md-ref-palette-neutral-42: #686358;
    --md-ref-palette-neutral-43: #6b655a;
    --md-ref-palette-neutral-44: #6d675c;
    --md-ref-palette-neutral-45: #706a5f;
    --md-ref-palette-neutral-46: #726c61;
    --md-ref-palette-neutral-47: #756f63;
    --md-ref-palette-neutral-48: #787166;
    --md-ref-palette-neutral-49: #7a7468;
    --md-ref-palette-neutral-50: #7d766b;
    --md-ref-palette-neutral-51: #7f796d;
    --md-ref-palette-neutral-52: #827b70;
    --md-ref-palette-neutral-53: #847e72;
    --md-ref-palette-neutral-54: #878075;
    --md-ref-palette-neutral-55: #8a8377;
    --md-ref-palette-neutral-56: #8c867a;
    --md-ref-palette-neutral-57: #8f887c;
    --md-ref-palette-neutral-58: #928b7f;
    --md-ref-palette-neutral-59: #948d81;
    --md-ref-palette-neutral-60: #979084;
    --md-ref-palette-neutral-61: #9a9286;
    --md-ref-palette-neutral-62: #9c9589;
    --md-ref-palette-neutral-63: #9f988b;
    --md-ref-palette-neutral-64: #a29a8e;
    --md-ref-palette-neutral-65: #a49d90;
    --md-ref-palette-neutral-66: #a7a093;
    --md-ref-palette-neutral-67: #aaa296;
    --md-ref-palette-neutral-68: #aca598;
    --md-ref-palette-neutral-69: #afa89b;
    --md-ref-palette-neutral-70: #b2aa9d;
    --md-ref-palette-neutral-71: #b5ada0;
    --md-ref-palette-neutral-72: #b7b0a3;
    --md-ref-palette-neutral-73: #bab2a5;
    --md-ref-palette-neutral-74: #bdb5a8;
    --md-ref-palette-neutral-75: #c0b8ab;
    --md-ref-palette-neutral-76: #c3baad;
    --md-ref-palette-neutral-77: #c5bdb0;
    --md-ref-palette-neutral-78: #c8c0b3;
    --md-ref-palette-neutral-79: #cbc3b5;
    --md-ref-palette-neutral-80: #cec5b8;
    --md-ref-palette-neutral-81: #d1c8bb;
    --md-ref-palette-neutral-82: #d3cbbd;
    --md-ref-palette-neutral-83: #d6cec0;
    --md-ref-palette-neutral-84: #d9d1c3;
    --md-ref-palette-neutral-85: #dcd3c6;
    --md-ref-palette-neutral-86: #dfd6c8;
    --md-ref-palette-neutral-87: #e2d9cb;
    --md-ref-palette-neutral-88: #e5dcce;
    --md-ref-palette-neutral-89: #e7dfd1;
    --md-ref-palette-neutral-90: #eae1d3;
    --md-ref-palette-neutral-91: #ede4d6;
    --md-ref-palette-neutral-92: #f0e7d9;
    --md-ref-palette-neutral-93: #f3eadc;
    --md-ref-palette-neutral-94: #f6eddf;
    --md-ref-palette-neutral-95: #f9f0e1;
    --md-ref-palette-neutral-96: #fcf2e4;
    --md-ref-palette-neutral-97: #fff5e7;
    --md-ref-palette-neutral-98: #fff8f1;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #060300;
    --md-ref-palette-neutral-variant-2: #0b0701;
    --md-ref-palette-neutral-variant-3: #0f0a02;
    --md-ref-palette-neutral-variant-4: #130e03;
    --md-ref-palette-neutral-variant-5: #161004;
    --md-ref-palette-neutral-variant-6: #181306;
    --md-ref-palette-neutral-variant-7: #1a1507;
    --md-ref-palette-neutral-variant-8: #1d1709;
    --md-ref-palette-neutral-variant-9: #1f190b;
    --md-ref-palette-neutral-variant-10: #211b0d;
    --md-ref-palette-neutral-variant-11: #231d0e;
    --md-ref-palette-neutral-variant-12: #251f10;
    --md-ref-palette-neutral-variant-13: #272112;
    --md-ref-palette-neutral-variant-14: #292314;
    --md-ref-palette-neutral-variant-15: #2b2516;
    --md-ref-palette-neutral-variant-16: #2e2718;
    --md-ref-palette-neutral-variant-17: #30291a;
    --md-ref-palette-neutral-variant-18: #322b1c;
    --md-ref-palette-neutral-variant-19: #342e1e;
    --md-ref-palette-neutral-variant-20: #363020;
    --md-ref-palette-neutral-variant-21: #393222;
    --md-ref-palette-neutral-variant-22: #3b3424;
    --md-ref-palette-neutral-variant-23: #3d3626;
    --md-ref-palette-neutral-variant-24: #403828;
    --md-ref-palette-neutral-variant-25: #423b2a;
    --md-ref-palette-neutral-variant-26: #443d2c;
    --md-ref-palette-neutral-variant-27: #473f2e;
    --md-ref-palette-neutral-variant-28: #494130;
    --md-ref-palette-neutral-variant-29: #4b4433;
    --md-ref-palette-neutral-variant-30: #4e4635;
    --md-ref-palette-neutral-variant-31: #504837;
    --md-ref-palette-neutral-variant-32: #524b39;
    --md-ref-palette-neutral-variant-33: #554d3b;
    --md-ref-palette-neutral-variant-34: #574f3e;
    --md-ref-palette-neutral-variant-35: #5a5240;
    --md-ref-palette-neutral-variant-36: #5c5442;
    --md-ref-palette-neutral-variant-37: #5f5644;
    --md-ref-palette-neutral-variant-38: #615946;
    --md-ref-palette-neutral-variant-39: #645b49;
    --md-ref-palette-neutral-variant-40: #665e4b;
    --md-ref-palette-neutral-variant-41: #69604d;
    --md-ref-palette-neutral-variant-42: #6b6250;
    --md-ref-palette-neutral-variant-43: #6e6552;
    --md-ref-palette-neutral-variant-44: #706754;
    --md-ref-palette-neutral-variant-45: #736a57;
    --md-ref-palette-neutral-variant-46: #756c59;
    --md-ref-palette-neutral-variant-47: #786f5b;
    --md-ref-palette-neutral-variant-48: #7a715e;
    --md-ref-palette-neutral-variant-49: #7d7460;
    --md-ref-palette-neutral-variant-50: #7f7663;
    --md-ref-palette-neutral-variant-51: #827965;
    --md-ref-palette-neutral-variant-52: #857b67;
    --md-ref-palette-neutral-variant-53: #877e6a;
    --md-ref-palette-neutral-variant-54: #8a806c;
    --md-ref-palette-neutral-variant-55: #8d836f;
    --md-ref-palette-neutral-variant-56: #8f8571;
    --md-ref-palette-neutral-variant-57: #928874;
    --md-ref-palette-neutral-variant-58: #948a76;
    --md-ref-palette-neutral-variant-59: #978d79;
    --md-ref-palette-neutral-variant-60: #9a907b;
    --md-ref-palette-neutral-variant-61: #9c927e;
    --md-ref-palette-neutral-variant-62: #9f9580;
    --md-ref-palette-neutral-variant-63: #a29783;
    --md-ref-palette-neutral-variant-64: #a59a85;
    --md-ref-palette-neutral-variant-65: #a79d88;
    --md-ref-palette-neutral-variant-66: #aa9f8a;
    --md-ref-palette-neutral-variant-67: #ada28d;
    --md-ref-palette-neutral-variant-68: #b0a58f;
    --md-ref-palette-neutral-variant-69: #b2a792;
    --md-ref-palette-neutral-variant-70: #b5aa94;
    --md-ref-palette-neutral-variant-71: #b8ad97;
    --md-ref-palette-neutral-variant-72: #bbaf9a;
    --md-ref-palette-neutral-variant-73: #bdb29c;
    --md-ref-palette-neutral-variant-74: #c0b59f;
    --md-ref-palette-neutral-variant-75: #c3b8a1;
    --md-ref-palette-neutral-variant-76: #c6baa4;
    --md-ref-palette-neutral-variant-77: #c9bda7;
    --md-ref-palette-neutral-variant-78: #cbc0a9;
    --md-ref-palette-neutral-variant-79: #cec2ac;
    --md-ref-palette-neutral-variant-80: #d1c5af;
    --md-ref-palette-neutral-variant-81: #d4c8b1;
    --md-ref-palette-neutral-variant-82: #d7cbb4;
    --md-ref-palette-neutral-variant-83: #daceb7;
    --md-ref-palette-neutral-variant-84: #dcd0b9;
    --md-ref-palette-neutral-variant-85: #dfd3bc;
    --md-ref-palette-neutral-variant-86: #e2d6bf;
    --md-ref-palette-neutral-variant-87: #e5d9c1;
    --md-ref-palette-neutral-variant-88: #e8dcc4;
    --md-ref-palette-neutral-variant-89: #ebdec7;
    --md-ref-palette-neutral-variant-90: #eee1ca;
    --md-ref-palette-neutral-variant-91: #f1e4cc;
    --md-ref-palette-neutral-variant-92: #f4e7cf;
    --md-ref-palette-neutral-variant-93: #f6ead2;
    --md-ref-palette-neutral-variant-94: #f9edd5;
    --md-ref-palette-neutral-variant-95: #fcefd7;
    --md-ref-palette-neutral-variant-96: #fff2db;
    --md-ref-palette-neutral-variant-97: #fff5e6;
    --md-ref-palette-neutral-variant-98: #fff8f1;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
