:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060300;
    --md-ref-palette-primary-2: #0b0700;
    --md-ref-palette-primary-3: #100a00;
    --md-ref-palette-primary-4: #140d00;
    --md-ref-palette-primary-5: #171000;
    --md-ref-palette-primary-10: #241a00;
    --md-ref-palette-primary-20: #3d2e00;
    --md-ref-palette-primary-30: #584400;
    --md-ref-palette-primary-40: #755b00;
    --md-ref-palette-primary-50: #917318;
    --md-ref-palette-primary-60: #ad8d31;
    --md-ref-palette-primary-70: #caa749;
    --md-ref-palette-primary-80: #e7c361;
    --md-ref-palette-primary-90: #ffdf90;
    --md-ref-palette-primary-95: #ffefcf;
    --md-ref-palette-primary-96: #fff2da;
    --md-ref-palette-primary-97: #fff5e6;
    --md-ref-palette-primary-98: #fff8f1;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #060300;
    --md-ref-palette-secondary-2: #0b0700;
    --md-ref-palette-secondary-3: #100a00;
    --md-ref-palette-secondary-4: #140d00;
    --md-ref-palette-secondary-5: #171000;
    --md-ref-palette-secondary-10: #241a00;
    --md-ref-palette-secondary-20: #3b2f0d;
    --md-ref-palette-secondary-30: #534522;
    --md-ref-palette-secondary-40: #6c5d37;
    --md-ref-palette-secondary-50: #86754d;
    --md-ref-palette-secondary-60: #a18f65;
    --md-ref-palette-secondary-70: #bca97d;
    --md-ref-palette-secondary-80: #d9c596;
    --md-ref-palette-secondary-90: #f6e1b1;
    --md-ref-palette-secondary-95: #ffefcf;
    --md-ref-palette-secondary-96: #fff2da;
    --md-ref-palette-secondary-97: #fff5e6;
    --md-ref-palette-secondary-98: #fff8f1;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000315;
    --md-ref-palette-tertiary-2: #000521;
    --md-ref-palette-tertiary-3: #00082a;
    --md-ref-palette-tertiary-4: #000a31;
    --md-ref-palette-tertiary-5: #000d37;
    --md-ref-palette-tertiary-10: #00164e;
    --md-ref-palette-tertiary-20: #182c68;
    --md-ref-palette-tertiary-30: #314380;
    --md-ref-palette-tertiary-40: #495b99;
    --md-ref-palette-tertiary-50: #6274b4;
    --md-ref-palette-tertiary-60: #7c8ed0;
    --md-ref-palette-tertiary-70: #96a8ec;
    --md-ref-palette-tertiary-80: #b6c4ff;
    --md-ref-palette-tertiary-90: #dce1ff;
    --md-ref-palette-tertiary-95: #eff0ff;
    --md-ref-palette-tertiary-96: #f3f2ff;
    --md-ref-palette-tertiary-97: #f7f5ff;
    --md-ref-palette-tertiary-98: #faf8ff;
    --md-ref-palette-tertiary-99: #fefbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050401;
    --md-ref-palette-neutral-2: #090703;
    --md-ref-palette-neutral-3: #0d0b05;
    --md-ref-palette-neutral-4: #110e08;
    --md-ref-palette-neutral-5: #13110a;
    --md-ref-palette-neutral-10: #1e1b14;
    --md-ref-palette-neutral-20: #343029;
    --md-ref-palette-neutral-30: #4b463e;
    --md-ref-palette-neutral-40: #635e55;
    --md-ref-palette-neutral-50: #7c766d;
    --md-ref-palette-neutral-60: #969086;
    --md-ref-palette-neutral-70: #b1aaa0;
    --md-ref-palette-neutral-80: #cdc6bb;
    --md-ref-palette-neutral-90: #e9e1d6;
    --md-ref-palette-neutral-95: #f8f0e4;
    --md-ref-palette-neutral-96: #fbf2e7;
    --md-ref-palette-neutral-97: #fef5ea;
    --md-ref-palette-neutral-98: #fff8f1;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #060300;
    --md-ref-palette-neutral-variant-2: #0b0701;
    --md-ref-palette-neutral-variant-3: #0f0b02;
    --md-ref-palette-neutral-variant-4: #120e04;
    --md-ref-palette-neutral-variant-5: #151005;
    --md-ref-palette-neutral-variant-10: #201b0e;
    --md-ref-palette-neutral-variant-20: #363022;
    --md-ref-palette-neutral-variant-30: #4d4637;
    --md-ref-palette-neutral-variant-40: #655e4d;
    --md-ref-palette-neutral-variant-50: #7f7665;
    --md-ref-palette-neutral-variant-60: #99907e;
    --md-ref-palette-neutral-variant-70: #b4aa97;
    --md-ref-palette-neutral-variant-80: #d0c5b2;
    --md-ref-palette-neutral-variant-90: #ede1cd;
    --md-ref-palette-neutral-variant-95: #fbefda;
    --md-ref-palette-neutral-variant-96: #fef2dd;
    --md-ref-palette-neutral-variant-97: #fff5e6;
    --md-ref-palette-neutral-variant-98: #fff8f1;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
