:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060300;
    --md-ref-palette-primary-2: #0b0700;
    --md-ref-palette-primary-3: #100a00;
    --md-ref-palette-primary-4: #140d00;
    --md-ref-palette-primary-5: #171000;
    --md-ref-palette-primary-10: #241a00;
    --md-ref-palette-primary-20: #3d2e00;
    --md-ref-palette-primary-30: #584400;
    --md-ref-palette-primary-40: #755b00;
    --md-ref-palette-primary-50: #90741e;
    --md-ref-palette-primary-60: #ac8d36;
    --md-ref-palette-primary-70: #c8a84e;
    --md-ref-palette-primary-80: #e6c366;
    --md-ref-palette-primary-90: #ffdf90;
    --md-ref-palette-primary-95: #ffefcf;
    --md-ref-palette-primary-96: #fff2da;
    --md-ref-palette-primary-97: #fff5e6;
    --md-ref-palette-primary-98: #fff8f1;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #060300;
    --md-ref-palette-secondary-2: #0b0700;
    --md-ref-palette-secondary-3: #100a00;
    --md-ref-palette-secondary-4: #140d00;
    --md-ref-palette-secondary-5: #171000;
    --md-ref-palette-secondary-10: #241a00;
    --md-ref-palette-secondary-20: #3b2f0f;
    --md-ref-palette-secondary-30: #524523;
    --md-ref-palette-secondary-40: #6b5d39;
    --md-ref-palette-secondary-50: #85764f;
    --md-ref-palette-secondary-60: #a08f67;
    --md-ref-palette-secondary-70: #bcaa7f;
    --md-ref-palette-secondary-80: #d8c598;
    --md-ref-palette-secondary-90: #f5e1b3;
    --md-ref-palette-secondary-95: #ffefcf;
    --md-ref-palette-secondary-96: #fff2da;
    --md-ref-palette-secondary-97: #fff5e6;
    --md-ref-palette-secondary-98: #fff8f1;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000313;
    --md-ref-palette-tertiary-2: #00061e;
    --md-ref-palette-tertiary-3: #000926;
    --md-ref-palette-tertiary-4: #000c2d;
    --md-ref-palette-tertiary-5: #000e33;
    --md-ref-palette-tertiary-10: #001849;
    --md-ref-palette-tertiary-20: #152d65;
    --md-ref-palette-tertiary-30: #2f447d;
    --md-ref-palette-tertiary-40: #475c96;
    --md-ref-palette-tertiary-50: #6075b1;
    --md-ref-palette-tertiary-60: #7a8fcc;
    --md-ref-palette-tertiary-70: #95a9e9;
    --md-ref-palette-tertiary-80: #b3c5ff;
    --md-ref-palette-tertiary-90: #dae1ff;
    --md-ref-palette-tertiary-95: #eef0ff;
    --md-ref-palette-tertiary-96: #f2f3ff;
    --md-ref-palette-tertiary-97: #f6f6ff;
    --md-ref-palette-tertiary-98: #faf8ff;
    --md-ref-palette-tertiary-99: #fefbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050401;
    --md-ref-palette-neutral-2: #090703;
    --md-ref-palette-neutral-3: #0d0b06;
    --md-ref-palette-neutral-4: #100e08;
    --md-ref-palette-neutral-5: #13110b;
    --md-ref-palette-neutral-10: #1e1b15;
    --md-ref-palette-neutral-20: #343029;
    --md-ref-palette-neutral-30: #4a463e;
    --md-ref-palette-neutral-40: #625e55;
    --md-ref-palette-neutral-50: #7c766e;
    --md-ref-palette-neutral-60: #969087;
    --md-ref-palette-neutral-70: #b1aaa0;
    --md-ref-palette-neutral-80: #cdc6bb;
    --md-ref-palette-neutral-90: #e9e1d7;
    --md-ref-palette-neutral-95: #f8f0e5;
    --md-ref-palette-neutral-96: #faf2e8;
    --md-ref-palette-neutral-97: #fdf5ea;
    --md-ref-palette-neutral-98: #fff8f1;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #060300;
    --md-ref-palette-neutral-variant-2: #0b0701;
    --md-ref-palette-neutral-variant-3: #0f0b02;
    --md-ref-palette-neutral-variant-4: #120e04;
    --md-ref-palette-neutral-variant-5: #151006;
    --md-ref-palette-neutral-variant-10: #201b0f;
    --md-ref-palette-neutral-variant-20: #363022;
    --md-ref-palette-neutral-variant-30: #4d4637;
    --md-ref-palette-neutral-variant-40: #655e4e;
    --md-ref-palette-neutral-variant-50: #7e7665;
    --md-ref-palette-neutral-variant-60: #99907e;
    --md-ref-palette-neutral-variant-70: #b4aa98;
    --md-ref-palette-neutral-variant-80: #d0c5b2;
    --md-ref-palette-neutral-variant-90: #ece1cd;
    --md-ref-palette-neutral-variant-95: #fbefdb;
    --md-ref-palette-neutral-variant-96: #fef2de;
    --md-ref-palette-neutral-variant-97: #fff5e6;
    --md-ref-palette-neutral-variant-98: #fff8f1;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
