@layer material-design-system {

    :root {
        --md-sys-measurement-space0  : 0px;
        --md-sys-measurement-space25 : 2px;
        --md-sys-measurement-space50 : 4px;
        --md-sys-measurement-space75 : 6px;
        --md-sys-measurement-space100: 8px;
        --md-sys-measurement-space125: 10px;
        --md-sys-measurement-space150: 12px;
        --md-sys-measurement-space175: 14px;
        --md-sys-measurement-space200: 16px;
        --md-sys-measurement-space250: 20px;
        --md-sys-measurement-space300: 24px;
        --md-sys-measurement-space400: 32px;
        --md-sys-measurement-space450: 36px;
        --md-sys-measurement-space500: 40px;
        --md-sys-measurement-space600: 48px;
        --md-sys-measurement-space700: 56px;
        --md-sys-measurement-space800: 64px;
        --md-sys-measurement-space900: 72px;
    }

}
