@layer material-design-system.color.variable {
    :root {
        --md-sys-color-primary-palette-key-color: light-dark(#388647, #388647);
        --md-sys-color-secondary-palette-key-color: light-dark(#697c68, #697c68);
        --md-sys-color-tertiary-palette-key-color: light-dark(#527e86, #527e86);
        --md-sys-color-neutral-palette-key-color: light-dark(#777777, #777777);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#777777, #777777);
        --md-sys-color-background: light-dark(#f9f9f9, #131313);
        --md-sys-color-on-background: light-dark(#1b1b1b, #e2e2e2);
        --md-sys-color-surface: light-dark(#f9f9f9, #131313);
        --md-sys-color-surface-dim: light-dark(#dadada, #131313);
        --md-sys-color-surface-bright: light-dark(#f9f9f9, #393939);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0e0e0e);
        --md-sys-color-surface-container-low: light-dark(#f3f3f3, #1b1b1b);
        --md-sys-color-surface-container: light-dark(#eeeeee, #1f1f1f);
        --md-sys-color-surface-container-high: light-dark(#e8e8e8, #2a2a2a);
        --md-sys-color-surface-container-highest: light-dark(#e2e2e2, #353535);
        --md-sys-color-on-surface: light-dark(#1b1b1b, #e2e2e2);
        --md-sys-color-surface-variant: light-dark(#e2e2e2, #474747);
        --md-sys-color-on-surface-variant: light-dark(#474747, #c6c6c6);
        --md-sys-color-inverse-surface: light-dark(#303030, #e2e2e2);
        --md-sys-color-inverse-on-surface: light-dark(#f1f1f1, #303030);
        --md-sys-color-outline: light-dark(#777777, #919191);
        --md-sys-color-outline-variant: light-dark(#c6c6c6, #474747);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-surface-tint: light-dark(#1a6c31, #88d990);
        --md-sys-color-primary: light-dark(#1a6c31, #88d990);
        --md-sys-color-on-primary: light-dark(#ffffff, #003913);
        --md-sys-color-primary-container: light-dark(#a3f5aa, #00531f);
        --md-sys-color-on-primary-container: light-dark(#00531f, #a3f5aa);
        --md-sys-color-inverse-primary: light-dark(#88d990, #1a6c31);
        --md-sys-color-secondary: light-dark(#516351, #b8ccb5);
        --md-sys-color-on-secondary: light-dark(#ffffff, #243425);
        --md-sys-color-secondary-container: light-dark(#d4e8d1, #3a4b3a);
        --md-sys-color-on-secondary-container: light-dark(#3a4b3a, #d4e8d1);
        --md-sys-color-tertiary: light-dark(#39656c, #a1ced6);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #00363d);
        --md-sys-color-tertiary-container: light-dark(#bdeaf3, #1f4d54);
        --md-sys-color-on-tertiary-container: light-dark(#1f4d54, #bdeaf3);
        --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
        --md-sys-color-on-error: light-dark(#ffffff, #690005);
        --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
        --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
        --md-sys-color-primary-fixed: light-dark(#a3f5aa, #a3f5aa);
        --md-sys-color-primary-fixed-dim: light-dark(#88d990, #88d990);
        --md-sys-color-on-primary-fixed: light-dark(#002108, #002108);
        --md-sys-color-on-primary-fixed-variant: light-dark(#00531f, #00531f);
        --md-sys-color-secondary-fixed: light-dark(#d4e8d1, #d4e8d1);
        --md-sys-color-secondary-fixed-dim: light-dark(#b8ccb5, #b8ccb5);
        --md-sys-color-on-secondary-fixed: light-dark(#0f1f11, #0f1f11);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#3a4b3a, #3a4b3a);
        --md-sys-color-tertiary-fixed: light-dark(#bdeaf3, #bdeaf3);
        --md-sys-color-tertiary-fixed-dim: light-dark(#a1ced6, #a1ced6);
        --md-sys-color-on-tertiary-fixed: light-dark(#001f24, #001f24);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#1f4d54, #1f4d54);
    }

    :root:not([dark]) {
        color-scheme: light;
    }

    :root[dark] {
        color-scheme: dark;
    }
}

@layer material-design-system.color.text {
    .text-primary-palette-key-color {
        color: var(--md-sys-color-primary-palette-key-color);
    }

    .text-secondary-palette-key-color {
        color: var(--md-sys-color-secondary-palette-key-color);
    }

    .text-tertiary-palette-key-color {
        color: var(--md-sys-color-tertiary-palette-key-color);
    }

    .text-neutral-palette-key-color {
        color: var(--md-sys-color-neutral-palette-key-color);
    }

    .text-neutral-variant-palette-key-color {
        color: var(--md-sys-color-neutral-variant-palette-key-color);
    }

    .text-background {
        color: var(--md-sys-color-background);
    }

    .text-on-background {
        color: var(--md-sys-color-on-background);
    }

    .text-surface {
        color: var(--md-sys-color-surface);
    }

    .text-surface-dim {
        color: var(--md-sys-color-surface-dim);
    }

    .text-surface-bright {
        color: var(--md-sys-color-surface-bright);
    }

    .text-surface-container-lowest {
        color: var(--md-sys-color-surface-container-lowest);
    }

    .text-surface-container-low {
        color: var(--md-sys-color-surface-container-low);
    }

    .text-surface-container {
        color: var(--md-sys-color-surface-container);
    }

    .text-surface-container-high {
        color: var(--md-sys-color-surface-container-high);
    }

    .text-surface-container-highest {
        color: var(--md-sys-color-surface-container-highest);
    }

    .text-on-surface {
        color: var(--md-sys-color-on-surface);
    }

    .text-surface-variant {
        color: var(--md-sys-color-surface-variant);
    }

    .text-on-surface-variant {
        color: var(--md-sys-color-on-surface-variant);
    }

    .text-inverse-surface {
        color: var(--md-sys-color-inverse-surface);
    }

    .text-inverse-on-surface {
        color: var(--md-sys-color-inverse-on-surface);
    }

    .text-outline {
        color: var(--md-sys-color-outline);
    }

    .text-outline-variant {
        color: var(--md-sys-color-outline-variant);
    }

    .text-shadow {
        color: var(--md-sys-color-shadow);
    }

    .text-scrim {
        color: var(--md-sys-color-scrim);
    }

    .text-surface-tint {
        color: var(--md-sys-color-surface-tint);
    }

    .text-primary {
        color: var(--md-sys-color-primary);
    }

    .text-on-primary {
        color: var(--md-sys-color-on-primary);
    }

    .text-primary-container {
        color: var(--md-sys-color-primary-container);
    }

    .text-on-primary-container {
        color: var(--md-sys-color-on-primary-container);
    }

    .text-inverse-primary {
        color: var(--md-sys-color-inverse-primary);
    }

    .text-secondary {
        color: var(--md-sys-color-secondary);
    }

    .text-on-secondary {
        color: var(--md-sys-color-on-secondary);
    }

    .text-secondary-container {
        color: var(--md-sys-color-secondary-container);
    }

    .text-on-secondary-container {
        color: var(--md-sys-color-on-secondary-container);
    }

    .text-tertiary {
        color: var(--md-sys-color-tertiary);
    }

    .text-on-tertiary {
        color: var(--md-sys-color-on-tertiary);
    }

    .text-tertiary-container {
        color: var(--md-sys-color-tertiary-container);
    }

    .text-on-tertiary-container {
        color: var(--md-sys-color-on-tertiary-container);
    }

    .text-error {
        color: var(--md-sys-color-error);
    }

    .text-on-error {
        color: var(--md-sys-color-on-error);
    }

    .text-error-container {
        color: var(--md-sys-color-error-container);
    }

    .text-on-error-container {
        color: var(--md-sys-color-on-error-container);
    }

    .text-primary-fixed {
        color: var(--md-sys-color-primary-fixed);
    }

    .text-primary-fixed-dim {
        color: var(--md-sys-color-primary-fixed-dim);
    }

    .text-on-primary-fixed {
        color: var(--md-sys-color-on-primary-fixed);
    }

    .text-on-primary-fixed-variant {
        color: var(--md-sys-color-on-primary-fixed-variant);
    }

    .text-secondary-fixed {
        color: var(--md-sys-color-secondary-fixed);
    }

    .text-secondary-fixed-dim {
        color: var(--md-sys-color-secondary-fixed-dim);
    }

    .text-on-secondary-fixed {
        color: var(--md-sys-color-on-secondary-fixed);
    }

    .text-on-secondary-fixed-variant {
        color: var(--md-sys-color-on-secondary-fixed-variant);
    }

    .text-tertiary-fixed {
        color: var(--md-sys-color-tertiary-fixed);
    }

    .text-tertiary-fixed-dim {
        color: var(--md-sys-color-tertiary-fixed-dim);
    }

    .text-on-tertiary-fixed {
        color: var(--md-sys-color-on-tertiary-fixed);
    }

    .text-on-tertiary-fixed-variant {
        color: var(--md-sys-color-on-tertiary-fixed-variant);
    }
}

@layer material-design-system.color.background {
    .bg-primary-palette-key-color {
        background: var(--md-sys-color-primary-palette-key-color);
    }

    .bg-secondary-palette-key-color {
        background: var(--md-sys-color-secondary-palette-key-color);
    }

    .bg-tertiary-palette-key-color {
        background: var(--md-sys-color-tertiary-palette-key-color);
    }

    .bg-neutral-palette-key-color {
        background: var(--md-sys-color-neutral-palette-key-color);
    }

    .bg-neutral-variant-palette-key-color {
        background: var(--md-sys-color-neutral-variant-palette-key-color);
    }

    .bg-background {
        background: var(--md-sys-color-background);
    }

    .bg-on-background {
        background: var(--md-sys-color-on-background);
    }

    .bg-surface {
        background: var(--md-sys-color-surface);
    }

    .bg-surface-dim {
        background: var(--md-sys-color-surface-dim);
    }

    .bg-surface-bright {
        background: var(--md-sys-color-surface-bright);
    }

    .bg-surface-container-lowest {
        background: var(--md-sys-color-surface-container-lowest);
    }

    .bg-surface-container-low {
        background: var(--md-sys-color-surface-container-low);
    }

    .bg-surface-container {
        background: var(--md-sys-color-surface-container);
    }

    .bg-surface-container-high {
        background: var(--md-sys-color-surface-container-high);
    }

    .bg-surface-container-highest {
        background: var(--md-sys-color-surface-container-highest);
    }

    .bg-on-surface {
        background: var(--md-sys-color-on-surface);
    }

    .bg-surface-variant {
        background: var(--md-sys-color-surface-variant);
    }

    .bg-on-surface-variant {
        background: var(--md-sys-color-on-surface-variant);
    }

    .bg-inverse-surface {
        background: var(--md-sys-color-inverse-surface);
    }

    .bg-inverse-on-surface {
        background: var(--md-sys-color-inverse-on-surface);
    }

    .bg-outline {
        background: var(--md-sys-color-outline);
    }

    .bg-outline-variant {
        background: var(--md-sys-color-outline-variant);
    }

    .bg-shadow {
        background: var(--md-sys-color-shadow);
    }

    .bg-scrim {
        background: var(--md-sys-color-scrim);
    }

    .bg-surface-tint {
        background: var(--md-sys-color-surface-tint);
    }

    .bg-primary {
        background: var(--md-sys-color-primary);
    }

    .bg-on-primary {
        background: var(--md-sys-color-on-primary);
    }

    .bg-primary-container {
        background: var(--md-sys-color-primary-container);
    }

    .bg-on-primary-container {
        background: var(--md-sys-color-on-primary-container);
    }

    .bg-inverse-primary {
        background: var(--md-sys-color-inverse-primary);
    }

    .bg-secondary {
        background: var(--md-sys-color-secondary);
    }

    .bg-on-secondary {
        background: var(--md-sys-color-on-secondary);
    }

    .bg-secondary-container {
        background: var(--md-sys-color-secondary-container);
    }

    .bg-on-secondary-container {
        background: var(--md-sys-color-on-secondary-container);
    }

    .bg-tertiary {
        background: var(--md-sys-color-tertiary);
    }

    .bg-on-tertiary {
        background: var(--md-sys-color-on-tertiary);
    }

    .bg-tertiary-container {
        background: var(--md-sys-color-tertiary-container);
    }

    .bg-on-tertiary-container {
        background: var(--md-sys-color-on-tertiary-container);
    }

    .bg-error {
        background: var(--md-sys-color-error);
    }

    .bg-on-error {
        background: var(--md-sys-color-on-error);
    }

    .bg-error-container {
        background: var(--md-sys-color-error-container);
    }

    .bg-on-error-container {
        background: var(--md-sys-color-on-error-container);
    }

    .bg-primary-fixed {
        background: var(--md-sys-color-primary-fixed);
    }

    .bg-primary-fixed-dim {
        background: var(--md-sys-color-primary-fixed-dim);
    }

    .bg-on-primary-fixed {
        background: var(--md-sys-color-on-primary-fixed);
    }

    .bg-on-primary-fixed-variant {
        background: var(--md-sys-color-on-primary-fixed-variant);
    }

    .bg-secondary-fixed {
        background: var(--md-sys-color-secondary-fixed);
    }

    .bg-secondary-fixed-dim {
        background: var(--md-sys-color-secondary-fixed-dim);
    }

    .bg-on-secondary-fixed {
        background: var(--md-sys-color-on-secondary-fixed);
    }

    .bg-on-secondary-fixed-variant {
        background: var(--md-sys-color-on-secondary-fixed-variant);
    }

    .bg-tertiary-fixed {
        background: var(--md-sys-color-tertiary-fixed);
    }

    .bg-tertiary-fixed-dim {
        background: var(--md-sys-color-tertiary-fixed-dim);
    }

    .bg-on-tertiary-fixed {
        background: var(--md-sys-color-on-tertiary-fixed);
    }

    .bg-on-tertiary-fixed-variant {
        background: var(--md-sys-color-on-tertiary-fixed-variant);
    }
}

@layer material-design-system.color {
    .background {
        background: var(--md-sys-color-background);
    }

    .on-background {
        color: var(--md-sys-color-on-background);
    }

    .surface {
        background: var(--md-sys-color-surface);
    }

    .surface-dim {
        background: var(--md-sys-color-surface-dim);
    }

    .surface-bright {
        background: var(--md-sys-color-surface-bright);
    }

    .surface-container-lowest {
        background: var(--md-sys-color-surface-container-lowest);
    }

    .surface-container-low {
        background: var(--md-sys-color-surface-container-low);
    }

    .surface-container {
        background: var(--md-sys-color-surface-container);
    }

    .surface-container-high {
        background: var(--md-sys-color-surface-container-high);
    }

    .surface-container-highest {
        background: var(--md-sys-color-surface-container-highest);
    }

    .on-surface {
        color: var(--md-sys-color-on-surface);
    }

    .surface-variant {
        background: var(--md-sys-color-surface-variant);
    }

    .on-surface-variant {
        color: var(--md-sys-color-on-surface-variant);
    }

    .inverse-surface {
        background: var(--md-sys-color-inverse-surface);
    }

    .inverse-on-surface {
        color: var(--md-sys-color-inverse-on-surface);
    }

    .outline {
        outline-color: var(--md-sys-color-outline);
        border-color: var(--md-sys-color-outline);
    }

    .outline-variant {
        outline-color: var(--md-sys-color-outline-variant);
        border-color: var(--md-sys-color-outline-variant);
    }

    .shadow {
        background: var(--md-sys-color-shadow);
    }

    .scrim {
        background: var(--md-sys-color-scrim);
    }

    .surface-tint {
        background: var(--md-sys-color-surface-tint);
    }

    .primary {
        background: var(--md-sys-color-primary);
    }

    .on-primary {
        color: var(--md-sys-color-on-primary);
    }

    .primary-container {
        background: var(--md-sys-color-primary-container);
    }

    .on-primary-container {
        color: var(--md-sys-color-on-primary-container);
    }

    .inverse-primary {
        background: var(--md-sys-color-inverse-primary);
    }

    .secondary {
        background: var(--md-sys-color-secondary);
    }

    .on-secondary {
        color: var(--md-sys-color-on-secondary);
    }

    .secondary-container {
        background: var(--md-sys-color-secondary-container);
    }

    .on-secondary-container {
        color: var(--md-sys-color-on-secondary-container);
    }

    .tertiary {
        background: var(--md-sys-color-tertiary);
    }

    .on-tertiary {
        color: var(--md-sys-color-on-tertiary);
    }

    .tertiary-container {
        background: var(--md-sys-color-tertiary-container);
    }

    .on-tertiary-container {
        color: var(--md-sys-color-on-tertiary-container);
    }

    .error {
        background: var(--md-sys-color-error);
    }

    .on-error {
        color: var(--md-sys-color-on-error);
    }

    .error-container {
        background: var(--md-sys-color-error-container);
    }

    .on-error-container {
        color: var(--md-sys-color-on-error-container);
    }

    .primary-fixed {
        background: var(--md-sys-color-primary-fixed);
    }

    .primary-fixed-dim {
        background: var(--md-sys-color-primary-fixed-dim);
    }

    .on-primary-fixed {
        color: var(--md-sys-color-on-primary-fixed);
    }

    .on-primary-fixed-variant {
        color: var(--md-sys-color-on-primary-fixed-variant);
    }

    .secondary-fixed {
        background: var(--md-sys-color-secondary-fixed);
    }

    .secondary-fixed-dim {
        background: var(--md-sys-color-secondary-fixed-dim);
    }

    .on-secondary-fixed {
        color: var(--md-sys-color-on-secondary-fixed);
    }

    .on-secondary-fixed-variant {
        color: var(--md-sys-color-on-secondary-fixed-variant);
    }

    .tertiary-fixed {
        background: var(--md-sys-color-tertiary-fixed);
    }

    .tertiary-fixed-dim {
        background: var(--md-sys-color-tertiary-fixed-dim);
    }

    .on-tertiary-fixed {
        color: var(--md-sys-color-on-tertiary-fixed);
    }

    .on-tertiary-fixed-variant {
        color: var(--md-sys-color-on-tertiary-fixed-variant);
    }
}