@theme {
    --_animation-duration-short1     : var(--md-sys-motion-duration-short1, 50ms);
    --_animation-duration-short2     : var(--md-sys-motion-duration-short2, 100ms);
    --_animation-duration-short3     : var(--md-sys-motion-duration-short3, 150ms);
    --_animation-duration-short4     : var(--md-sys-motion-duration-short4, 200ms);
    --_animation-duration-medium1    : var(--md-sys-motion-duration-medium1, 250ms);
    --_animation-duration-medium2    : var(--md-sys-motion-duration-medium2, 300ms);
    --_animation-duration-medium3    : var(--md-sys-motion-duration-medium3, 350ms);
    --_animation-duration-medium4    : var(--md-sys-motion-duration-medium4, 400ms);
    --_animation-duration-long1      : var(--md-sys-motion-duration-long1, 450ms);
    --_animation-duration-long2      : var(--md-sys-motion-duration-long2, 500ms);
    --_animation-duration-long3      : var(--md-sys-motion-duration-long3, 550ms);
    --_animation-duration-long4      : var(--md-sys-motion-duration-long4, 600ms);
    --_animation-duration-extra-long1: var(--md-sys-motion-duration-extra-long1, 700ms);
    --_animation-duration-extra-long2: var(--md-sys-motion-duration-extra-long2, 800ms);
    --_animation-duration-extra-long3: var(--md-sys-motion-duration-extra-long3, 900ms);
    --_animation-duration-extra-long4: var(--md-sys-motion-duration-extra-long4, 1000ms);
}

@utility animation-duration-short1 {
    animation-duration: var(--_animation-duration-short1);
}
@utility animation-duration-short2 {
    animation-duration: var(--_animation-duration-short2);
}
@utility animation-duration-short3 {
    animation-duration: var(--_animation-duration-short3);
}
@utility animation-duration-short4 {
    animation-duration: var(--_animation-duration-short4);
}
@utility animation-duration-medium1 {
    animation-duration: var(--_animation-duration-medium1);
}
@utility animation-duration-medium2 {
    animation-duration: var(--_animation-duration-medium2);
}
@utility animation-duration-medium3 {
    animation-duration: var(--_animation-duration-medium3);
}
@utility animation-duration-medium4 {
    animation-duration: var(--_animation-duration-medium4);
}
@utility animation-duration-long1 {
    animation-duration: var(--_animation-duration-long1);
}
@utility animation-duration-long2 {
    animation-duration: var(--_animation-duration-long2);
}
@utility animation-duration-long3 {
    animation-duration: var(--_animation-duration-long3);
}
@utility animation-duration-long4 {
    animation-duration: var(--_animation-duration-long4);
}
@utility animation-duration-extra-long1 {
    animation-duration: var(--_animation-duration-extra-long1);
}
@utility animation-duration-extra-long2 {
    animation-duration: var(--_animation-duration-extra-long2);
}
@utility animation-duration-extra-long3 {
    animation-duration: var(--_animation-duration-extra-long3);
}
@utility animation-duration-extra-long4 {
    animation-duration: var(--_animation-duration-extra-long4);
}

@theme {
    --_animation-emphasized: var(--md-sys-motion-easing-emphasized ,cubic-bezier(0.2, 0.0, 0, 1.0));
    --_animation-emphasized-decelerate: var(--md-sys-motion-easing-emphasized-decelerate ,cubic-bezier(0.05, 0.7, 0.1, 1.0));
    --_animation-emphasized-accelerate: var(--md-sys-motion-easing-emphasized-accelerate ,cubic-bezier(0.3, 0.0, 0.8, 0.15));
    --_animation-standard: var(--md-sys-motion-easing-standard ,cubic-bezier(0.2, 0.0, 0, 1.0));
    --_animation-standard-decelerate: var(--md-sys-motion-easing-standard-decelerate ,cubic-bezier(0, 0, 0, 1));
    --_animation-standard-accelerate: var(--md-sys-motion-easing-standard-accelerate ,cubic-bezier(0.3, 0, 1, 1));
}

@utility animation-easing-emphasized {
    animation-timing-function: var(--_animation-emphasized);
}
@utility animation-easing-emphasized-decelerate {
    animation-timing-function: var(--_animation-emphasized-decelerate);
}
@utility animation-easing-emphasized-accelerate {
    animation-timing-function: var(--_animation-emphasized-accelerate);
}
@utility animation-easing-standard {
    animation-timing-function: var(--_animation-standard);
}
@utility animation-easing-standard-decelerate {
    animation-timing-function: var(--_animation-standard-decelerate);
}
@utility animation-easing-standard-accelerate {
    animation-timing-function: var(--_animation-standard-accelerate);
}

@theme {
    --_animation-easing-expressive-fast-spatial: cubic-bezier(0.42, 1.67, 0.21, 0.90);
    --_animation-easing-expressive-default-spatial: cubic-bezier(0.38, 1.21, 0.22, 1.00);
    --_animation-easing-expressive-slow-spatial: cubic-bezier(0.39, 1.29, 0.35, 0.98);
    --_animation-easing-expressive-fast-effects: cubic-bezier(0.31, 0.94, 0.34, 1.00);
    --_animation-easing-expressive-default-effects: cubic-bezier(0.34, 0.80, 0.34, 1.00);
    --_animation-easing-expressive-slow-effects: cubic-bezier(0.34, 0.88, 0.34, 1.00);
    --_animation-easing-standard-fast-spatial: cubic-bezier(0.27, 1.06, 0.18, 1.00);
    --_animation-easing-standard-default-spatial: cubic-bezier(0.27, 1.06, 0.18, 1.00);
    --_animation-easing-standard-slow-spatial: cubic-bezier(0.27, 1.06, 0.18, 1.00);
    --_animation-easing-standard-fast-effects: cubic-bezier(0.31, 0.94, 0.34, 1.00);
    --_animation-easing-standard-default-effects: cubic-bezier(0.34, 0.80, 0.34, 1.00);
    --_animation-easing-standard-slow-effects: cubic-bezier(0.34, 0.88, 0.34, 1.00);
    --_animation-duration-expressive-fast-spatial: 350ms;
    --_animation-duration-expressive-default-spatial: 500ms;
    --_animation-duration-expressive-slow-spatial: 650ms;
    --_animation-duration-expressive-fast-effects: 150ms;
    --_animation-duration-expressive-default-effects: 200ms;
    --_animation-duration-expressive-slow-effects: 300ms;
    --_animation-duration-standard-fast-spatial: 350ms;
    --_animation-duration-standard-default-spatial: 500ms;
    --_animation-duration-standard-slow-spatial: 750ms;
    --_animation-duration-standard-fast-effects: 150ms;
    --_animation-duration-standard-default-effects: 200ms;
    --_animation-duration-standard-slow-effects: 300ms;
}

@utility animation-easing-expressive-fast-spatial {
    animation-timing-function: var(--_animation-easing-expressive-fast-spatial);
}
@utility animation-easing-expressive-default-spatial {
    animation-timing-function: var(--_animation-easing-expressive-default-spatial);
}
@utility animation-easing-expressive-slow-spatial {
    animation-timing-function: var(--_animation-easing-expressive-slow-spatial);
}
@utility animation-easing-expressive-fast-effects {
    animation-timing-function: var(--_animation-easing-expressive-fast-effects);
}
@utility animation-easing-expressive-default-effects {
    animation-timing-function: var(--_animation-easing-expressive-default-effects);
}
@utility animation-easing-expressive-slow-effects {
    animation-timing-function: var(--_animation-easing-expressive-slow-effects);
}
@utility animation-easing-standard-fast-spatial {
    animation-timing-function: var(--_animation-easing-standard-fast-spatial);
}
@utility animation-easing-standard-default-spatial {
    animation-timing-function: var(--_animation-easing-standard-default-spatial);
}
@utility animation-easing-standard-slow-spatial {
    animation-timing-function: var(--_animation-easing-standard-slow-spatial);
}
@utility animation-easing-standard-fast-effects {
    animation-timing-function: var(--_animation-easing-standard-fast-effects);
}
@utility animation-easing-standard-default-effects {
    animation-timing-function: var(--_animation-easing-standard-default-effects);
}
@utility animation-easing-standard-slow-effects {
    animation-timing-function: var(--_animation-easing-standard-slow-effects);
}

@utility animation-duration-expressive-fast-spatial {
    animation-duration: var(--_animation-duration-expressive-fast-spatial);
}
@utility animation-duration-expressive-default-spatial {
    animation-duration: var(--_animation-duration-expressive-default-spatial);
}
@utility animation-duration-expressive-slow-spatial {
    animation-duration: var(--_animation-duration-expressive-slow-spatial);
}
@utility animation-duration-expressive-fast-effects {
    animation-duration: var(--_animation-duration-expressive-fast-effects);
}
@utility animation-duration-expressive-default-effects {
    animation-duration: var(--_animation-duration-expressive-default-effects);
}
@utility animation-duration-expressive-slow-effects {
    animation-duration: var(--_animation-duration-expressive-slow-effects);
}
@utility animation-duration-standard-fast-spatial {
    animation-duration: var(--_animation-duration-standard-fast-spatial);
}
@utility animation-duration-standard-default-spatial {
    animation-duration: var(--_animation-duration-standard-default-spatial);
}
@utility animation-duration-standard-slow-spatial {
    animation-duration: var(--_animation-duration-standard-slow-spatial);
}
@utility animation-duration-standard-fast-effects {
    animation-duration: var(--_animation-duration-standard-fast-effects);
}
@utility animation-duration-standard-default-effects {
    animation-duration: var(--_animation-duration-standard-default-effects);
}
@utility animation-duration-standard-slow-effects {
    animation-duration: var(--_animation-duration-standard-slow-effects);
}