:root {
    --md-sys-color-background: light-dark(#fbf9f6, #000000);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f2f0ed, #30312f);
    --md-sys-color-inverse-primary: light-dark(#bdcaba, #556254);
    --md-sys-color-inverse-surface: light-dark(#30312f, #e4e2df);
    --md-sys-color-neutral-palette-key-color: light-dark(#777775, #777775);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#777775, #777775);
    --md-sys-color-on-background: light-dark(#1b1c1a, #e4e2df);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #283328);
    --md-sys-color-on-primary-container: light-dark(#3e4a3d, #d9e6d5);
    --md-sys-color-on-primary-fixed: light-dark(#131e14, #131e14);
    --md-sys-color-on-primary-fixed-variant: light-dark(#3e4a3d, #3e4a3d);
    --md-sys-color-on-secondary: light-dark(#ffffff, #2b322b);
    --md-sys-color-on-secondary-container: light-dark(#424940, #dde5d9);
    --md-sys-color-on-secondary-fixed: light-dark(#171d16, #171d16);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#424940, #424940);
    --md-sys-color-on-surface: light-dark(#1b1c1a, #e4e2df);
    --md-sys-color-on-surface-variant: light-dark(#464745, #c7c6c3);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #243425);
    --md-sys-color-on-tertiary-container: light-dark(#3a4b3a, #d4e8d1);
    --md-sys-color-on-tertiary-fixed: light-dark(#0f1f11, #0f1f11);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#3a4b3a, #3a4b3a);
    --md-sys-color-outline: light-dark(#777775, #91918e);
    --md-sys-color-outline-variant: light-dark(#c7c6c3, #464745);
    --md-sys-color-primary: light-dark(#556254, #bdcaba);
    --md-sys-color-primary-container: light-dark(#d9e6d5, #3e4a3d);
    --md-sys-color-primary-fixed: light-dark(#d9e6d5, #d9e6d5);
    --md-sys-color-primary-fixed-dim: light-dark(#bdcaba, #bdcaba);
    --md-sys-color-primary-palette-key-color: light-dark(#6d7a6c, #6d7a6c);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#596058, #c1c9be);
    --md-sys-color-secondary-container: light-dark(#dde5d9, #424940);
    --md-sys-color-secondary-fixed: light-dark(#dde5d9, #dde5d9);
    --md-sys-color-secondary-fixed-dim: light-dark(#c1c9be, #c1c9be);
    --md-sys-color-secondary-palette-key-color: light-dark(#727970, #727970);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fbf9f6, #000000);
    --md-sys-color-surface-bright: light-dark(#fbf9f6, #393937);
    --md-sys-color-surface-container: light-dark(#efeeea, #1f201e);
    --md-sys-color-surface-container-high: light-dark(#eae8e5, #292a28);
    --md-sys-color-surface-container-highest: light-dark(#e4e2df, #343533);
    --md-sys-color-surface-container-low: light-dark(#f5f3f0, #1b1c1a);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#dbdad7, #131412);
    --md-sys-color-surface-tint: light-dark(#556254, #bdcaba);
    --md-sys-color-surface-variant: light-dark(#e4e2df, #464745);
    --md-sys-color-tertiary: light-dark(#516351, #b8ccb5);
    --md-sys-color-tertiary-container: light-dark(#d4e8d1, #3a4b3a);
    --md-sys-color-tertiary-fixed: light-dark(#d4e8d1, #d4e8d1);
    --md-sys-color-tertiary-fixed-dim: light-dark(#b8ccb5, #b8ccb5);
    --md-sys-color-tertiary-palette-key-color: light-dark(#697c68, #697c68);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fbf9f6, #000000);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#999896, #646462);
        --md-sys-color-inverse-primary: light-dark(#707d6f, #778475);
        --md-sys-color-inverse-surface: light-dark(#30312f, #e4e2df);
        --md-sys-color-neutral-palette-key-color: light-dark(#777775, #777775);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#777775, #777775);
        --md-sys-color-on-background: light-dark(#90908e, #626260);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#f7fff2, #212d21);
        --md-sys-color-on-primary-container: light-dark(#717d6f, #7b8879);
        --md-sys-color-on-primary-fixed: light-dark(#434f42, #bac8b7);
        --md-sys-color-on-primary-fixed-variant: light-dark(#5d6a5c, #97a494);
        --md-sys-color-on-secondary: light-dark(#f8fff3, #252b24);
        --md-sys-color-on-secondary-container: light-dark(#757c73, #7f867d);
        --md-sys-color-on-secondary-fixed: light-dark(#474e46, #bfc6bb);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#61685f, #9ba298);
        --md-sys-color-on-surface: light-dark(#5f5f5d, #a3a3a0);
        --md-sys-color-on-surface-variant: light-dark(#7b7b78, #838381);
        --md-sys-color-on-tertiary: light-dark(#f7fff2, #1d2e1e);
        --md-sys-color-on-tertiary-container: light-dark(#6c7f6b, #768975);
        --md-sys-color-on-tertiary-fixed: light-dark(#3f513f, #b6c9b3);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#596b58, #92a590);
        --md-sys-color-outline: light-dark(#b3b2af, #545452);
        --md-sys-color-outline-variant: light-dark(#dad9d6, #3a3a38);
        --md-sys-color-primary: light-dark(#6b786a, #879485);
        --md-sys-color-primary-container: light-dark(#cfddcc, #313d31);
        --md-sys-color-primary-fixed: light-dark(#cfddcc, #485447);
        --md-sys-color-primary-fixed-dim: light-dark(#b4c1b1, #313d31);
        --md-sys-color-primary-palette-key-color: light-dark(#6d7a6c, #6d7a6c);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#6f776d, #8b9389);
        --md-sys-color-secondary-container: light-dark(#d4dbd0, #353c34);
        --md-sys-color-secondary-fixed: light-dark(#d4dbd0, #4c534a);
        --md-sys-color-secondary-fixed-dim: light-dark(#b8bfb5, #353c34);
        --md-sys-color-secondary-palette-key-color: light-dark(#727970, #727970);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fbf9f6, #000000);
        --md-sys-color-surface-bright: light-dark(#fbf9f6, #393937);
        --md-sys-color-surface-container: light-dark(#efeeea, #1f201e);
        --md-sys-color-surface-container-high: light-dark(#eae8e5, #292a28);
        --md-sys-color-surface-container-highest: light-dark(#e4e2df, #343533);
        --md-sys-color-surface-container-low: light-dark(#f5f3f0, #1b1c1a);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#dbdad7, #131412);
        --md-sys-color-surface-tint: light-dark(#556254, #bdcaba);
        --md-sys-color-surface-variant: light-dark(#e4e2df, #464745);
        --md-sys-color-tertiary: light-dark(#677966, #839681);
        --md-sys-color-tertiary-container: light-dark(#cadec7, #2d3e2e);
        --md-sys-color-tertiary-fixed: light-dark(#cadec7, #445544);
        --md-sys-color-tertiary-fixed-dim: light-dark(#afc2ac, #2d3e2e);
        --md-sys-color-tertiary-palette-key-color: light-dark(#697c68, #697c68);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fbf9f6, #000000);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#bdcaba, #3f4b3e);
        --md-sys-color-inverse-surface: light-dark(#30312f, #e4e2df);
        --md-sys-color-neutral-palette-key-color: light-dark(#777775, #777775);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#777775, #777775);
        --md-sys-color-on-background: light-dark(#1b1c1a, #e4e2df);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #040e05);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #09140a);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #070d07);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #0c130c);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #020e03);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #051407);
        --md-sys-color-outline: light-dark(#2c2c2b, #f1f0ed);
        --md-sys-color-outline-variant: light-dark(#494947, #c4c2c0);
        --md-sys-color-primary: light-dark(#242f24, #e6f4e2);
        --md-sys-color-primary-container: light-dark(#404c40, #b9c6b6);
        --md-sys-color-primary-fixed: light-dark(#404c40, #d9e6d5);
        --md-sys-color-primary-fixed-dim: light-dark(#2a362a, #bdcaba);
        --md-sys-color-primary-palette-key-color: light-dark(#6d7a6c, #6d7a6c);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#272e26, #ebf2e7);
        --md-sys-color-secondary-container: light-dark(#444b43, #bdc5ba);
        --md-sys-color-secondary-fixed: light-dark(#444b43, #dde5d9);
        --md-sys-color-secondary-fixed-dim: light-dark(#2e342d, #c1c9be);
        --md-sys-color-secondary-palette-key-color: light-dark(#727970, #727970);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fbf9f6, #000000);
        --md-sys-color-surface-bright: light-dark(#fbf9f6, #50504e);
        --md-sys-color-surface-container: light-dark(#e4e2df, #30312f);
        --md-sys-color-surface-container-high: light-dark(#d6d4d1, #3b3c3a);
        --md-sys-color-surface-container-highest: light-dark(#c7c6c3, #464745);
        --md-sys-color-surface-container-low: light-dark(#f2f0ed, #1f201e);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#bab9b6, #131412);
        --md-sys-color-surface-tint: light-dark(#556254, #bdcaba);
        --md-sys-color-surface-variant: light-dark(#e4e2df, #464745);
        --md-sys-color-tertiary: light-dark(#203021, #e1f6de);
        --md-sys-color-tertiary-container: light-dark(#3c4d3c, #b4c8b2);
        --md-sys-color-tertiary-fixed: light-dark(#3c4d3c, #d4e8d1);
        --md-sys-color-tertiary-fixed-dim: light-dark(#263727, #b8ccb5);
        --md-sys-color-tertiary-palette-key-color: light-dark(#697c68, #697c68);
    }

}
