:root {
    --md-sys-color-background: light-dark(#fbf9f6, #0e0e0d);
    --md-sys-color-error: light-dark(#9e422c, #ed7f64);
    --md-sys-color-error-container: light-dark(#fe8b70, #7e2b17);
    --md-sys-color-error-dim: light-dark(#5c1202, #ba573f);
    --md-sys-color-error-palette-key-color: light-dark(#bd5941, #bd5941);
    --md-sys-color-inverse-on-surface: light-dark(#9e9d9b, #555553);
    --md-sys-color-inverse-primary: light-dark(#f4fcf0, #5a6158);
    --md-sys-color-inverse-surface: light-dark(#0e0e0d, #fbf9f6);
    --md-sys-color-neutral-palette-key-color: light-dark(#787775, #787775);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#767774, #767774);
    --md-sys-color-on-background: light-dark(#313330, #e6e6e1);
    --md-sys-color-on-error: light-dark(#fff7f6, #450900);
    --md-sys-color-on-error-container: light-dark(#742410, #ff9b82);
    --md-sys-color-on-primary: light-dark(#f3faee, #3b423a);
    --md-sys-color-on-primary-container: light-dark(#4c544b, #cbd2c7);
    --md-sys-color-on-primary-fixed: light-dark(#3a4139, #3a4139);
    --md-sys-color-on-primary-fixed-variant: light-dark(#565d55, #565d55);
    --md-sys-color-on-secondary: light-dark(#f8f9f4, #1e211d);
    --md-sys-color-on-secondary-container: light-dark(#50524e, #bec0ba);
    --md-sys-color-on-secondary-fixed: light-dark(#3d403c, #3d403c);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#5a5c58, #5a5c58);
    --md-sys-color-on-surface: light-dark(#313330, #e6e6e1);
    --md-sys-color-on-surface-variant: light-dark(#5e5f5c, #ababa7);
    --md-sys-color-on-tertiary: light-dark(#e7ffec, #496553);
    --md-sys-color-on-tertiary-container: light-dark(#466250, #415d4b);
    --md-sys-color-on-tertiary-fixed: light-dark(#34503e, #34503e);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#506d5a, #506d5a);
    --md-sys-color-outline: light-dark(#7a7b77, #757672);
    --md-sys-color-outline-variant: light-dark(#b2b2ae, #474845);
    --md-sys-color-primary: light-dark(#596058, #c1c9be);
    --md-sys-color-primary-container: light-dark(#dde5d9, #424940);
    --md-sys-color-primary-dim: light-dark(#4d544c, #b4bbb0);
    --md-sys-color-primary-fixed: light-dark(#dde5d9, #dde5d9);
    --md-sys-color-primary-fixed-dim: light-dark(#cfd7cb, #cfd7cb);
    --md-sys-color-primary-palette-key-color: light-dark(#727970, #727970);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#5d605b, #9d9e99);
    --md-sys-color-secondary-container: light-dark(#e2e3dd, #3a3c38);
    --md-sys-color-secondary-dim: light-dark(#515450, #9d9e99);
    --md-sys-color-secondary-fixed: light-dark(#e2e3dd, #e2e3dd);
    --md-sys-color-secondary-fixed-dim: light-dark(#d4d5cf, #d4d5cf);
    --md-sys-color-secondary-palette-key-color: light-dark(#767873, #767873);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fbf9f6, #0e0e0d);
    --md-sys-color-surface-bright: light-dark(#fbf9f6, #2b2d2a);
    --md-sys-color-surface-container: light-dark(#efeeea, #191a18);
    --md-sys-color-surface-container-high: light-dark(#e9e8e4, #1f201e);
    --md-sys-color-surface-container-highest: light-dark(#e3e3de, #242624);
    --md-sys-color-surface-container-low: light-dark(#f5f3f0, #131412);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#dadad5, #0e0e0d);
    --md-sys-color-surface-tint: light-dark(#596058, #c1c9be);
    --md-sys-color-surface-variant: light-dark(#e3e3de, #242624);
    --md-sys-color-tertiary: light-dark(#496553, #e9ffed);
    --md-sys-color-tertiary-container: light-dark(#dbfce3, #d3f3db);
    --md-sys-color-tertiary-dim: light-dark(#3d5947, #d3f3db);
    --md-sys-color-tertiary-fixed: light-dark(#dbfce3, #dbfce3);
    --md-sys-color-tertiary-fixed-dim: light-dark(#cdedd5, #cdedd5);
    --md-sys-color-tertiary-palette-key-color: light-dark(#617e6a, #617e6a);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fbf9f6, #0e0e0d);
        --md-sys-color-error: light-dark(#9e422c, #ed7f64);
        --md-sys-color-error-container: light-dark(#fe8b70, #7e2b17);
        --md-sys-color-error-dim: light-dark(#aa4b34, #ba573f);
        --md-sys-color-error-palette-key-color: light-dark(#bd5941, #bd5941);
        --md-sys-color-inverse-on-surface: light-dark(#9e9d9b, #555553);
        --md-sys-color-inverse-primary: light-dark(#8b9389, #5a6158);
        --md-sys-color-inverse-surface: light-dark(#0e0e0d, #fbf9f6);
        --md-sys-color-neutral-palette-key-color: light-dark(#787775, #787775);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#767774, #767774);
        --md-sys-color-on-background: light-dark(#313330, #e6e6e1);
        --md-sys-color-on-error: light-dark(#fff7f6, #450900);
        --md-sys-color-on-error-container: light-dark(#742410, #ff9b82);
        --md-sys-color-on-primary: light-dark(#f4fbef, #1b221b);
        --md-sys-color-on-primary-container: light-dark(#4c544b, #cbd2c7);
        --md-sys-color-on-primary-fixed: light-dark(#3a4139, #3a4139);
        --md-sys-color-on-primary-fixed-variant: light-dark(#565d55, #565d55);
        --md-sys-color-on-secondary: light-dark(#f8f9f4, #1e211d);
        --md-sys-color-on-secondary-container: light-dark(#50524e, #bec0ba);
        --md-sys-color-on-secondary-fixed: light-dark(#3d403c, #3d403c);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#5a5c58, #5a5c58);
        --md-sys-color-on-surface: light-dark(#313330, #e6e6e1);
        --md-sys-color-on-surface-variant: light-dark(#5e5f5c, #ababa7);
        --md-sys-color-on-tertiary: light-dark(#e7ffec, #092516);
        --md-sys-color-on-tertiary-container: light-dark(#466250, #415d4b);
        --md-sys-color-on-tertiary-fixed: light-dark(#34503e, #34503e);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#506d5a, #506d5a);
        --md-sys-color-outline: light-dark(#7a7b77, #757672);
        --md-sys-color-outline-variant: light-dark(#b2b2ae, #474845);
        --md-sys-color-primary: light-dark(#5a6158, #99a096);
        --md-sys-color-primary-container: light-dark(#dde5d9, #424940);
        --md-sys-color-primary-dim: light-dark(#636a61, #6f776d);
        --md-sys-color-primary-fixed: light-dark(#dde5d9, #dde5d9);
        --md-sys-color-primary-fixed-dim: light-dark(#cfd7cb, #cfd7cb);
        --md-sys-color-primary-palette-key-color: light-dark(#727970, #727970);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#5d605b, #9d9e99);
        --md-sys-color-secondary-container: light-dark(#e2e3dd, #3a3c38);
        --md-sys-color-secondary-dim: light-dark(#666964, #737571);
        --md-sys-color-secondary-fixed: light-dark(#e2e3dd, #e2e3dd);
        --md-sys-color-secondary-fixed-dim: light-dark(#d4d5cf, #d4d5cf);
        --md-sys-color-secondary-palette-key-color: light-dark(#767873, #767873);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fbf9f6, #0e0e0d);
        --md-sys-color-surface-bright: light-dark(#fbf9f6, #2b2d2a);
        --md-sys-color-surface-container: light-dark(#efeeea, #191a18);
        --md-sys-color-surface-container-high: light-dark(#e9e8e4, #1f201e);
        --md-sys-color-surface-container-highest: light-dark(#e3e3de, #242624);
        --md-sys-color-surface-container-low: light-dark(#f5f3f0, #131412);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#dadad5, #0e0e0d);
        --md-sys-color-surface-tint: light-dark(#5a6158, #99a096);
        --md-sys-color-surface-variant: light-dark(#e3e3de, #242624);
        --md-sys-color-tertiary: light-dark(#496553, #87a590);
        --md-sys-color-tertiary-container: light-dark(#dbfce3, #d3f3db);
        --md-sys-color-tertiary-dim: light-dark(#526e5b, #5e7b68);
        --md-sys-color-tertiary-fixed: light-dark(#dbfce3, #dbfce3);
        --md-sys-color-tertiary-fixed-dim: light-dark(#cdedd5, #cdedd5);
        --md-sys-color-tertiary-palette-key-color: light-dark(#617e6a, #617e6a);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fbf9f6, #0e0e0d);
        --md-sys-color-error: light-dark(#4c0a00, #ffded7);
        --md-sys-color-error-container: light-dark(#8d3621, #f48469);
        --md-sys-color-error-dim: light-dark(#390600, #ffc8bb);
        --md-sys-color-error-palette-key-color: light-dark(#bd5941, #bd5941);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#f4fcf0, #333a32);
        --md-sys-color-inverse-surface: light-dark(#0e0e0d, #fbf9f6);
        --md-sys-color-neutral-palette-key-color: light-dark(#787775, #787775);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#767774, #767774);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffcfc4, #591001);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#d5dcd1, #272e26);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #1a211a);
        --md-sys-color-on-secondary: light-dark(#d9dbd5, #2a2d29);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #1d201d);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#232422, #e6e6e1);
        --md-sys-color-on-tertiary: light-dark(#c2e2ca, #233e2d);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #1a3525);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #163122);
        --md-sys-color-outline: light-dark(#424340, #b9b9b5);
        --md-sys-color-outline-variant: light-dark(#51534f, #a3a4a0);
        --md-sys-color-primary: light-dark(#1f261e, #e0e8dc);
        --md-sys-color-primary-container: light-dark(#4d544c, #9ea69c);
        --md-sys-color-primary-dim: light-dark(#151b15, #cfd7cb);
        --md-sys-color-primary-fixed: light-dark(#4d544c, #dde5d9);
        --md-sys-color-primary-fixed-dim: light-dark(#414840, #cfd7cb);
        --md-sys-color-primary-palette-key-color: light-dark(#727970, #727970);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#222521, #e5e6e0);
        --md-sys-color-secondary-container: light-dark(#50534f, #a2a49f);
        --md-sys-color-secondary-dim: light-dark(#181a17, #d4d5cf);
        --md-sys-color-secondary-fixed: light-dark(#50534f, #e2e3dd);
        --md-sys-color-secondary-fixed-dim: light-dark(#454743, #d4d5cf);
        --md-sys-color-secondary-palette-key-color: light-dark(#767873, #767873);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fbf9f6, #0e0e0d);
        --md-sys-color-surface-bright: light-dark(#fbf9f6, #2b2d2a);
        --md-sys-color-surface-container: light-dark(#efeeea, #191a18);
        --md-sys-color-surface-container-high: light-dark(#e9e8e4, #1f201e);
        --md-sys-color-surface-container-highest: light-dark(#e3e3de, #242624);
        --md-sys-color-surface-container-low: light-dark(#f5f3f0, #131412);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#dadad5, #0e0e0d);
        --md-sys-color-surface-tint: light-dark(#1f261e, #e0e8dc);
        --md-sys-color-surface-variant: light-dark(#e3e3de, #242624);
        --md-sys-color-tertiary: light-dark(#0e291a, #e9ffed);
        --md-sys-color-tertiary-container: light-dark(#3c5846, #d3f3db);
        --md-sys-color-tertiary-dim: light-dark(#031f10, #d3f3db);
        --md-sys-color-tertiary-fixed: light-dark(#3c5846, #dbfce3);
        --md-sys-color-tertiary-fixed-dim: light-dark(#314c3b, #cdedd5);
        --md-sys-color-tertiary-palette-key-color: light-dark(#617e6a, #617e6a);
    }

}
