:root {
    --md-sys-color-background: light-dark(#fbf9f7, #000000);
    --md-sys-color-error: light-dark(#9f403d, #ee7d77);
    --md-sys-color-error-container: light-dark(#fe8983, #7f2927);
    --md-sys-color-error-dim: light-dark(#4e0309, #bb5551);
    --md-sys-color-error-palette-key-color: light-dark(#be5753, #be5753);
    --md-sys-color-inverse-on-surface: light-dark(#9e9d9c, #555554);
    --md-sys-color-inverse-primary: light-dark(#f4fffa, #57615e);
    --md-sys-color-inverse-surface: light-dark(#0e0e0e, #fbf9f7);
    --md-sys-color-neutral-palette-key-color: light-dark(#777776, #777776);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#757776, #757776);
    --md-sys-color-on-background: light-dark(#303332, #e5e6e4);
    --md-sys-color-on-error: light-dark(#fff7f6, #490106);
    --md-sys-color-on-error-container: light-dark(#752121, #ff9993);
    --md-sys-color-on-primary: light-dark(#f0faf5, #39423f);
    --md-sys-color-on-primary-container: light-dark(#4a5451, #c8d3ce);
    --md-sys-color-on-primary-fixed: light-dark(#38413e, #38413e);
    --md-sys-color-on-primary-fixed-variant: light-dark(#545e5a, #545e5a);
    --md-sys-color-on-secondary: light-dark(#f7f9f7, #1d2120);
    --md-sys-color-on-secondary-container: light-dark(#4f5251, #bdc0be);
    --md-sys-color-on-secondary-fixed: light-dark(#3c403f, #3c403f);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#595c5b, #595c5b);
    --md-sys-color-on-surface: light-dark(#303332, #e5e6e4);
    --md-sys-color-on-surface-variant: light-dark(#5d5f5e, #aaabaa);
    --md-sys-color-on-tertiary: light-dark(#ebffdf, #516449);
    --md-sys-color-on-tertiary-container: light-dark(#4b5e43, #495c41);
    --md-sys-color-on-tertiary-fixed: light-dark(#394b32, #394b32);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#55684c, #55684c);
    --md-sys-color-outline: light-dark(#797b7a, #747674);
    --md-sys-color-outline-variant: light-dark(#b1b2b0, #464847);
    --md-sys-color-primary: light-dark(#57605d, #bec9c5);
    --md-sys-color-primary-container: light-dark(#dbe5e0, #3f4946);
    --md-sys-color-primary-dim: light-dark(#4b5451, #b1bbb7);
    --md-sys-color-primary-fixed: light-dark(#dbe5e0, #dbe5e0);
    --md-sys-color-primary-fixed-dim: light-dark(#ccd7d2, #ccd7d2);
    --md-sys-color-primary-palette-key-color: light-dark(#6f7976, #6f7976);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#5c605e, #9b9f9c);
    --md-sys-color-secondary-container: light-dark(#e0e3e1, #393c3b);
    --md-sys-color-secondary-dim: light-dark(#505452, #9b9f9c);
    --md-sys-color-secondary-fixed: light-dark(#e0e3e1, #e0e3e1);
    --md-sys-color-secondary-fixed-dim: light-dark(#d2d5d3, #d2d5d3);
    --md-sys-color-secondary-palette-key-color: light-dark(#747876, #747876);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fbf9f7, #000000);
    --md-sys-color-surface-bright: light-dark(#fbf9f7, #2a2d2c);
    --md-sys-color-surface-container: light-dark(#eeeeec, #181a19);
    --md-sys-color-surface-container-high: light-dark(#e8e8e6, #1e201f);
    --md-sys-color-surface-container-highest: light-dark(#e2e3e1, #242625);
    --md-sys-color-surface-container-low: light-dark(#f5f3f2, #121413);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#d9dad8, #0e0e0e);
    --md-sys-color-surface-tint: light-dark(#57605d, #bec9c5);
    --md-sys-color-surface-variant: light-dark(#e2e3e1, #242625);
    --md-sys-color-tertiary: light-dark(#516449, #edffe1);
    --md-sys-color-tertiary-container: light-dark(#def5d1, #dcf2cf);
    --md-sys-color-tertiary-dim: light-dark(#45583e, #dcf2cf);
    --md-sys-color-tertiary-fixed: light-dark(#def5d1, #def5d1);
    --md-sys-color-tertiary-fixed-dim: light-dark(#d0e6c4, #d0e6c4);
    --md-sys-color-tertiary-palette-key-color: light-dark(#697d60, #697d60);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fbf9f7, #000000);
        --md-sys-color-error: light-dark(#9f403d, #ee7d77);
        --md-sys-color-error-container: light-dark(#fe8983, #7f2927);
        --md-sys-color-error-dim: light-dark(#aa4945, #bb5551);
        --md-sys-color-error-palette-key-color: light-dark(#be5753, #be5753);
        --md-sys-color-inverse-on-surface: light-dark(#9e9d9c, #555554);
        --md-sys-color-inverse-primary: light-dark(#89938f, #57615e);
        --md-sys-color-inverse-surface: light-dark(#0e0e0e, #fbf9f7);
        --md-sys-color-neutral-palette-key-color: light-dark(#777776, #777776);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#757776, #757776);
        --md-sys-color-on-background: light-dark(#303332, #e5e6e4);
        --md-sys-color-on-error: light-dark(#fff7f6, #490106);
        --md-sys-color-on-error-container: light-dark(#752121, #ff9993);
        --md-sys-color-on-primary: light-dark(#f1fbf7, #19221f);
        --md-sys-color-on-primary-container: light-dark(#4a5451, #c8d3ce);
        --md-sys-color-on-primary-fixed: light-dark(#38413e, #38413e);
        --md-sys-color-on-primary-fixed-variant: light-dark(#545e5a, #545e5a);
        --md-sys-color-on-secondary: light-dark(#f7f9f7, #1d2120);
        --md-sys-color-on-secondary-container: light-dark(#4f5251, #bdc0be);
        --md-sys-color-on-secondary-fixed: light-dark(#3c403f, #3c403f);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#595c5b, #595c5b);
        --md-sys-color-on-surface: light-dark(#303332, #e5e6e4);
        --md-sys-color-on-surface-variant: light-dark(#5d5f5e, #aaabaa);
        --md-sys-color-on-tertiary: light-dark(#ebffdf, #13240e);
        --md-sys-color-on-tertiary-container: light-dark(#4b5e43, #495c41);
        --md-sys-color-on-tertiary-fixed: light-dark(#394b32, #394b32);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#55684c, #55684c);
        --md-sys-color-outline: light-dark(#797b7a, #747674);
        --md-sys-color-outline-variant: light-dark(#b1b2b0, #464847);
        --md-sys-color-primary: light-dark(#57615e, #96a09c);
        --md-sys-color-primary-container: light-dark(#dbe5e0, #3f4946);
        --md-sys-color-primary-dim: light-dark(#606a67, #6d7773);
        --md-sys-color-primary-fixed: light-dark(#dbe5e0, #dbe5e0);
        --md-sys-color-primary-fixed-dim: light-dark(#ccd7d2, #ccd7d2);
        --md-sys-color-primary-palette-key-color: light-dark(#6f7976, #6f7976);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#5c605e, #9b9f9c);
        --md-sys-color-secondary-container: light-dark(#e0e3e1, #393c3b);
        --md-sys-color-secondary-dim: light-dark(#656967, #727573);
        --md-sys-color-secondary-fixed: light-dark(#e0e3e1, #e0e3e1);
        --md-sys-color-secondary-fixed-dim: light-dark(#d2d5d3, #d2d5d3);
        --md-sys-color-secondary-palette-key-color: light-dark(#747876, #747876);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fbf9f7, #000000);
        --md-sys-color-surface-bright: light-dark(#fbf9f7, #2a2d2c);
        --md-sys-color-surface-container: light-dark(#eeeeec, #181a19);
        --md-sys-color-surface-container-high: light-dark(#e8e8e6, #1e201f);
        --md-sys-color-surface-container-highest: light-dark(#e2e3e1, #242625);
        --md-sys-color-surface-container-low: light-dark(#f5f3f2, #121413);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#d9dad8, #0e0e0e);
        --md-sys-color-surface-tint: light-dark(#57615e, #96a09c);
        --md-sys-color-surface-variant: light-dark(#e2e3e1, #242625);
        --md-sys-color-tertiary: light-dark(#516449, #8fa485);
        --md-sys-color-tertiary-container: light-dark(#def5d1, #dcf2cf);
        --md-sys-color-tertiary-dim: light-dark(#5a6d51, #667a5d);
        --md-sys-color-tertiary-fixed: light-dark(#def5d1, #def5d1);
        --md-sys-color-tertiary-fixed-dim: light-dark(#d0e6c4, #d0e6c4);
        --md-sys-color-tertiary-palette-key-color: light-dark(#697d60, #697d60);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fbf9f7, #000000);
        --md-sys-color-error: light-dark(#4f0409, #ffdedb);
        --md-sys-color-error-container: light-dark(#8e3432, #f5827c);
        --md-sys-color-error-dim: light-dark(#3d0004, #ffc7c3);
        --md-sys-color-error-palette-key-color: light-dark(#be5753, #be5753);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#f4fffa, #313a37);
        --md-sys-color-inverse-surface: light-dark(#0e0e0e, #fbf9f7);
        --md-sys-color-neutral-palette-key-color: light-dark(#777776, #777776);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#757776, #757776);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffcfcb, #5a0d10);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#d2dcd8, #252e2b);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #18211f);
        --md-sys-color-on-secondary: light-dark(#d8dbd8, #292d2b);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #1d201f);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#222423, #e5e6e4);
        --md-sys-color-on-tertiary: light-dark(#cbe1be, #2b3d25);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #23341d);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #1b2c16);
        --md-sys-color-outline: light-dark(#414342, #b8b9b7);
        --md-sys-color-outline-variant: light-dark(#505351, #a2a4a2);
        --md-sys-color-primary: light-dark(#1d2623, #dde8e3);
        --md-sys-color-primary-container: light-dark(#4a5451, #9ca6a2);
        --md-sys-color-primary-dim: light-dark(#121c19, #ccd7d2);
        --md-sys-color-primary-fixed: light-dark(#4a5451, #dbe5e0);
        --md-sys-color-primary-fixed-dim: light-dark(#3f4945, #ccd7d2);
        --md-sys-color-primary-palette-key-color: light-dark(#6f7976, #6f7976);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#212523, #e3e6e4);
        --md-sys-color-secondary-container: light-dark(#4f5351, #a1a4a2);
        --md-sys-color-secondary-dim: light-dark(#171b19, #d2d5d3);
        --md-sys-color-secondary-fixed: light-dark(#4f5351, #e0e3e1);
        --md-sys-color-secondary-fixed-dim: light-dark(#444746, #d2d5d3);
        --md-sys-color-secondary-palette-key-color: light-dark(#747876, #747876);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fbf9f7, #000000);
        --md-sys-color-surface-bright: light-dark(#fbf9f7, #2a2d2c);
        --md-sys-color-surface-container: light-dark(#eeeeec, #181a19);
        --md-sys-color-surface-container-high: light-dark(#e8e8e6, #1e201f);
        --md-sys-color-surface-container-highest: light-dark(#e2e3e1, #242625);
        --md-sys-color-surface-container-low: light-dark(#f5f3f2, #121413);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#d9dad8, #0e0e0e);
        --md-sys-color-surface-tint: light-dark(#1d2623, #dde8e3);
        --md-sys-color-surface-variant: light-dark(#e2e3e1, #242625);
        --md-sys-color-tertiary: light-dark(#172812, #edffe1);
        --md-sys-color-tertiary-container: light-dark(#45573d, #dcf2cf);
        --md-sys-color-tertiary-dim: light-dark(#0d1e08, #dcf2cf);
        --md-sys-color-tertiary-fixed: light-dark(#45573d, #def5d1);
        --md-sys-color-tertiary-fixed-dim: light-dark(#394b32, #d0e6c4);
        --md-sys-color-tertiary-palette-key-color: light-dark(#697d60, #697d60);
    }

}
