:root {
    --md-sys-color-background: light-dark(#fef8f9, #0f0e0f);
    --md-sys-color-error: light-dark(#9e3f4e, #ec7c8a);
    --md-sys-color-error-container: light-dark(#ff8b9a, #7f2737);
    --md-sys-color-error-dim: light-dark(#4f0116, #b95463);
    --md-sys-color-error-palette-key-color: light-dark(#bd5665, #bd5665);
    --md-sys-color-inverse-on-surface: light-dark(#a09c9d, #575455);
    --md-sys-color-inverse-primary: light-dark(#feeff9, #665c64);
    --md-sys-color-inverse-surface: light-dark(#0f0e0f, #fef8f9);
    --md-sys-color-neutral-palette-key-color: light-dark(#7a7677, #7a7677);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7b7679, #7b7679);
    --md-sys-color-on-background: light-dark(#353134, #ebe3e6);
    --md-sys-color-on-error: light-dark(#fff7f7, #490013);
    --md-sys-color-on-error-container: light-dark(#782232, #ff97a3);
    --md-sys-color-on-primary: light-dark(#fff5fa, #463d45);
    --md-sys-color-on-primary-container: light-dark(#594f57, #daccd6);
    --md-sys-color-on-primary-fixed: light-dark(#463d44, #463d44);
    --md-sys-color-on-primary-fixed-variant: light-dark(#635960, #635960);
    --md-sys-color-on-secondary: light-dark(#fff7fa, #231f22);
    --md-sys-color-on-secondary-container: light-dark(#555054, #c5bdc1);
    --md-sys-color-on-secondary-fixed: light-dark(#433e41, #433e41);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#5f5a5d, #5f5a5d);
    --md-sys-color-on-surface: light-dark(#353134, #ebe3e6);
    --md-sys-color-on-surface-variant: light-dark(#625e60, #b0a9ac);
    --md-sys-color-on-tertiary: light-dark(#fff6fd, #61516b);
    --md-sys-color-on-tertiary-container: light-dark(#594862, #594862);
    --md-sys-color-on-tertiary-fixed: light-dark(#45364f, #45364f);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#63526c, #63526c);
    --md-sys-color-outline: light-dark(#7f797c, #797477);
    --md-sys-color-outline-variant: light-dark(#b7b0b3, #4b4749);
    --md-sys-color-primary: light-dark(#665b63, #d0c3cc);
    --md-sys-color-primary-container: light-dark(#eddee8, #4d444c);
    --md-sys-color-primary-dim: light-dark(#595057, #c2b5be);
    --md-sys-color-primary-fixed: light-dark(#eddee8, #eddee8);
    --md-sys-color-primary-fixed-dim: light-dark(#ded0da, #ded0da);
    --md-sys-color-primary-palette-key-color: light-dark(#7f747c, #7f747c);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#635d61, #a39ca0);
    --md-sys-color-secondary-container: light-dark(#e9e0e4, #3f3a3d);
    --md-sys-color-secondary-dim: light-dark(#575255, #a39ca0);
    --md-sys-color-secondary-fixed: light-dark(#e9e0e4, #e9e0e4);
    --md-sys-color-secondary-fixed-dim: light-dark(#dbd2d6, #dbd2d6);
    --md-sys-color-secondary-palette-key-color: light-dark(#7b7579, #7b7579);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fef8f9, #0f0e0f);
    --md-sys-color-surface-bright: light-dark(#fef8f9, #2f2b2e);
    --md-sys-color-surface-container: light-dark(#f3ecee, #1b191a);
    --md-sys-color-surface-container-high: light-dark(#ede6e9, #221f21);
    --md-sys-color-surface-container-highest: light-dark(#e8e1e3, #282527);
    --md-sys-color-surface-container-low: light-dark(#f8f2f3, #151314);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#e0d8db, #0f0e0f);
    --md-sys-color-surface-tint: light-dark(#665b63, #d0c3cc);
    --md-sys-color-surface-variant: light-dark(#e8e1e3, #282527);
    --md-sys-color-tertiary: light-dark(#6a5974, #f8e5ff);
    --md-sys-color-tertiary-container: light-dark(#ecd5f5, #ecd5f5);
    --md-sys-color-tertiary-dim: light-dark(#5e4d67, #ecd5f5);
    --md-sys-color-tertiary-fixed: light-dark(#ecd5f5, #ecd5f5);
    --md-sys-color-tertiary-fixed-dim: light-dark(#ddc7e7, #ddc7e7);
    --md-sys-color-tertiary-palette-key-color: light-dark(#83718d, #83718d);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fef8f9, #0f0e0f);
        --md-sys-color-error: light-dark(#9e3f4e, #ec7c8a);
        --md-sys-color-error-container: light-dark(#ff8b9a, #7f2737);
        --md-sys-color-error-dim: light-dark(#aa4856, #b95463);
        --md-sys-color-error-palette-key-color: light-dark(#bd5665, #bd5665);
        --md-sys-color-inverse-on-surface: light-dark(#a09c9d, #575455);
        --md-sys-color-inverse-primary: light-dark(#998d96, #665c64);
        --md-sys-color-inverse-surface: light-dark(#0f0e0f, #fef8f9);
        --md-sys-color-neutral-palette-key-color: light-dark(#7a7677, #7a7677);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7b7679, #7b7679);
        --md-sys-color-on-background: light-dark(#353134, #ebe3e6);
        --md-sys-color-on-error: light-dark(#fff7f7, #490013);
        --md-sys-color-on-error-container: light-dark(#782232, #ff97a3);
        --md-sys-color-on-primary: light-dark(#fff7fa, #251e25);
        --md-sys-color-on-primary-container: light-dark(#594f57, #daccd6);
        --md-sys-color-on-primary-fixed: light-dark(#463d44, #463d44);
        --md-sys-color-on-primary-fixed-variant: light-dark(#635960, #635960);
        --md-sys-color-on-secondary: light-dark(#fff7fa, #231f22);
        --md-sys-color-on-secondary-container: light-dark(#555054, #c5bdc1);
        --md-sys-color-on-secondary-fixed: light-dark(#433e41, #433e41);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#5f5a5d, #5f5a5d);
        --md-sys-color-on-surface: light-dark(#353134, #ebe3e6);
        --md-sys-color-on-surface-variant: light-dark(#625e60, #b0a9ac);
        --md-sys-color-on-tertiary: light-dark(#fff6fd, #281a32);
        --md-sys-color-on-tertiary-container: light-dark(#594862, #594862);
        --md-sys-color-on-tertiary-fixed: light-dark(#45364f, #45364f);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#63526c, #63526c);
        --md-sys-color-outline: light-dark(#7f797c, #797477);
        --md-sys-color-outline-variant: light-dark(#b7b0b3, #4b4749);
        --md-sys-color-primary: light-dark(#665c64, #a79aa3);
        --md-sys-color-primary-container: light-dark(#eddee8, #4d444c);
        --md-sys-color-primary-dim: light-dark(#6f656d, #7c717a);
        --md-sys-color-primary-fixed: light-dark(#eddee8, #eddee8);
        --md-sys-color-primary-fixed-dim: light-dark(#ded0da, #ded0da);
        --md-sys-color-primary-palette-key-color: light-dark(#7f747c, #7f747c);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#635d61, #a39ca0);
        --md-sys-color-secondary-container: light-dark(#e9e0e4, #3f3a3d);
        --md-sys-color-secondary-dim: light-dark(#6c666a, #797376);
        --md-sys-color-secondary-fixed: light-dark(#e9e0e4, #e9e0e4);
        --md-sys-color-secondary-fixed-dim: light-dark(#dbd2d6, #dbd2d6);
        --md-sys-color-secondary-palette-key-color: light-dark(#7b7579, #7b7579);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fef8f9, #0f0e0f);
        --md-sys-color-surface-bright: light-dark(#fef8f9, #2f2b2e);
        --md-sys-color-surface-container: light-dark(#f3ecee, #1b191a);
        --md-sys-color-surface-container-high: light-dark(#ede6e9, #221f21);
        --md-sys-color-surface-container-highest: light-dark(#e8e1e3, #282527);
        --md-sys-color-surface-container-low: light-dark(#f8f2f3, #151314);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#e0d8db, #0f0e0f);
        --md-sys-color-surface-tint: light-dark(#665c64, #a79aa3);
        --md-sys-color-surface-variant: light-dark(#e8e1e3, #282527);
        --md-sys-color-tertiary: light-dark(#6a5974, #ab97b4);
        --md-sys-color-tertiary-container: light-dark(#ecd5f5, #ecd5f5);
        --md-sys-color-tertiary-dim: light-dark(#73627d, #806e8a);
        --md-sys-color-tertiary-fixed: light-dark(#ecd5f5, #ecd5f5);
        --md-sys-color-tertiary-fixed-dim: light-dark(#ddc7e7, #ddc7e7);
        --md-sys-color-tertiary-palette-key-color: light-dark(#83718d, #83718d);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fef8f9, #0f0e0f);
        --md-sys-color-error: light-dark(#4f0116, #ffdddf);
        --md-sys-color-error-container: light-dark(#8e3242, #f38190);
        --md-sys-color-error-dim: light-dark(#3d000f, #ffc7cb);
        --md-sys-color-error-palette-key-color: light-dark(#bd5665, #bd5665);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#feeff9, #3e363d);
        --md-sys-color-inverse-surface: light-dark(#0f0e0f, #fef8f9);
        --md-sys-color-neutral-palette-key-color: light-dark(#7a7677, #7a7677);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7b7679, #7b7679);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffced2, #5b0a1e);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#e4d6e0, #322a31);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #251d24);
        --md-sys-color-on-secondary: light-dark(#e0d8dc, #2f2b2e);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #221e21);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#262325, #ebe3e6);
        --md-sys-color-on-tertiary: light-dark(#e9d2f2, #392a42);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #2f2038);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #22152c);
        --md-sys-color-outline: light-dark(#464244, #beb7ba);
        --md-sys-color-outline-variant: light-dark(#555153, #a8a2a5);
        --md-sys-color-primary: light-dark(#292228, #f0e1eb);
        --md-sys-color-primary-container: light-dark(#594f57, #ada0a9);
        --md-sys-color-primary-dim: light-dark(#1f181e, #ded0da);
        --md-sys-color-primary-fixed: light-dark(#594f57, #eddee8);
        --md-sys-color-primary-fixed-dim: light-dark(#4d444b, #ded0da);
        --md-sys-color-primary-palette-key-color: light-dark(#7f747c, #7f747c);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#272326, #ece3e7);
        --md-sys-color-secondary-container: light-dark(#565154, #a9a2a5);
        --md-sys-color-secondary-dim: light-dark(#1c191c, #dbd2d6);
        --md-sys-color-secondary-fixed: light-dark(#565154, #e9e0e4);
        --md-sys-color-secondary-fixed-dim: light-dark(#4a4548, #dbd2d6);
        --md-sys-color-secondary-palette-key-color: light-dark(#7b7579, #7b7579);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fef8f9, #0f0e0f);
        --md-sys-color-surface-bright: light-dark(#fef8f9, #2f2b2e);
        --md-sys-color-surface-container: light-dark(#f3ecee, #1b191a);
        --md-sys-color-surface-container-high: light-dark(#ede6e9, #221f21);
        --md-sys-color-surface-container-highest: light-dark(#e8e1e3, #282527);
        --md-sys-color-surface-container-low: light-dark(#f8f2f3, #151314);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#e0d8db, #0f0e0f);
        --md-sys-color-surface-tint: light-dark(#292228, #f0e1eb);
        --md-sys-color-surface-variant: light-dark(#e8e1e3, #282527);
        --md-sys-color-tertiary: light-dark(#2c1e36, #f8e5ff);
        --md-sys-color-tertiary-container: light-dark(#5d4c66, #ecd5f5);
        --md-sys-color-tertiary-dim: light-dark(#22142b, #ecd5f5);
        --md-sys-color-tertiary-fixed: light-dark(#5d4c66, #ecd5f5);
        --md-sys-color-tertiary-fixed-dim: light-dark(#50415a, #ddc7e7);
        --md-sys-color-tertiary-palette-key-color: light-dark(#83718d, #83718d);
    }

}
