@layer material-design-system.color.variable {
    :root {
        --md-sys-color-primary-key-color: #5c8051;
        --md-sys-color-secondary-key-color: #6c7b65;
        --md-sys-color-tertiary-key-color: #7b7a41;
        --md-sys-color-error-key-color: #c75236;
        --md-sys-color-neutral-key-color: #757871;
        --md-sys-color-neutral-variant-key-color: #73796e;
    }

    :root {
        --md-sys-color-background: light-dark(#f9faf2, #0c0f0b);
        --md-sys-color-on-background: light-dark(#2e342b, #e1e8da);
        --md-sys-color-surface: light-dark(#f9faf2, #0c0f0b);
        --md-sys-color-surface-dim: light-dark(#d6dcce, #0c0f0b);
        --md-sys-color-surface-bright: light-dark(#f9faf2, #282e25);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-container-low: light-dark(#f2f5eb, #11140f);
        --md-sys-color-surface-container: light-dark(#ebefe4, #161b14);
        --md-sys-color-surface-container-high: light-dark(#e5eade, #1c2119);
        --md-sys-color-surface-container-highest: light-dark(#dee5d7, #21271f);
        --md-sys-color-on-surface: light-dark(#2e342b, #e1e8da);
        --md-sys-color-on-surface-variant: light-dark(#5b6156, #a7ada0);
        --md-sys-color-outline: light-dark(#767d71, #71776c);
        --md-sys-color-outline-variant: light-dark(#aeb4a7, #434a40);
        --md-sys-color-inverse-surface: light-dark(#0c0f0b, #f9faf2);
        --md-sys-color-inverse-on-surface: light-dark(#9b9e97, #535650);
        --md-sys-color-primary: light-dark(#45683b, #b1cfa4);
        --md-sys-color-primary-dim: light-dark(#395b30, #a3c197);
        --md-sys-color-on-primary: light-dark(#ebffdf, #2d4626);
        --md-sys-color-primary-container: light-dark(#c5eeb6, #3f5937);
        --md-sys-color-on-primary-container: light-dark(#385a2f, #cdecbf);
        --md-sys-color-primary-fixed: light-dark(#c5eeb6, #ccecbe);
        --md-sys-color-primary-fixed-dim: light-dark(#b7e0a8, #beddb1);
        --md-sys-color-on-primary-fixed: light-dark(#26471e, #2c4625);
        --md-sys-color-on-primary-fixed-variant: light-dark(#416438, #48623f);
        --md-sys-color-inverse-primary: light-dark(#cef7be, #4b6642);
        --md-sys-color-secondary: light-dark(#54634e, #bbcbb2);
        --md-sys-color-secondary-dim: light-dark(#495743, #adbea4);
        --md-sys-color-on-secondary: light-dark(#edfee2, #364431);
        --md-sys-color-secondary-container: light-dark(#d7e8cd, #313f2c);
        --md-sys-color-on-secondary-container: light-dark(#475641, #b4c4ab);
        --md-sys-color-secondary-fixed: light-dark(#d7e8cd, #d7e8cd);
        --md-sys-color-secondary-fixed-dim: light-dark(#c9d9bf, #c9d9bf);
        --md-sys-color-on-secondary-fixed: light-dark(#354330, #354330);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#51604b, #51604b);
        --md-sys-color-tertiary: light-dark(#62612b, #fffcc6);
        --md-sys-color-tertiary-dim: light-dark(#565521, #e8e6a2);
        --md-sys-color-on-tertiary: light-dark(#fffcbb, #62612b);
        --md-sys-color-tertiary-container: light-dark(#f7f4af, #f1eeaa);
        --md-sys-color-on-tertiary-container: light-dark(#5d5c27, #5a5924);
        --md-sys-color-tertiary-fixed: light-dark(#f7f4af, #f7f4af);
        --md-sys-color-tertiary-fixed-dim: light-dark(#e8e6a2, #e8e6a2);
        --md-sys-color-on-tertiary-fixed: light-dark(#4b4a16, #4b4a16);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#686730, #686730);
        --md-sys-color-error: light-dark(#a73b21, #f97758);
        --md-sys-color-error-dim: light-dark(#791903, #c44f34);
        --md-sys-color-on-error: light-dark(#fff7f6, #450900);
        --md-sys-color-error-container: light-dark(#fd795a, #85230a);
        --md-sys-color-on-error-container: light-dark(#6e1400, #ff9b82);
    }
}
