@layer material-design-system.color.variable {
    :root {
        --md-sys-color-primary-key-color: #7073a5;
        --md-sys-color-secondary-key-color: #75758b;
        --md-sys-color-tertiary-key-color: #8c6c93;
        --md-sys-color-error-key-color: #c74d61;
        --md-sys-color-neutral-key-color: #78767c;
        --md-sys-color-neutral-variant-key-color: #777680;
    }

    :root {
        --md-sys-color-background: light-dark(#fbf8fe, #0e0e12);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-surface: light-dark(#fbf8fe, #0e0e12);
        --md-sys-color-surface-dim: light-dark(#dbd8e4, #0e0e12);
        --md-sys-color-surface-bright: light-dark(#fbf8fe, #2b2b34);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-container-low: light-dark(#f5f2fb, #131318);
        --md-sys-color-surface-container: light-dark(#efecf6, #191920);
        --md-sys-color-surface-container-high: light-dark(#e9e7f1, #1f1f26);
        --md-sys-color-surface-container-highest: light-dark(#e3e1ed, #25252e);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#23232c, #e6e4f0);
        --md-sys-color-outline: light-dark(#42424b, #b9b7c3);
        --md-sys-color-outline-variant: light-dark(#52515b, #a4a2ad);
        --md-sys-color-inverse-surface: light-dark(#0e0e12, #fbf8fe);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-primary: light-dark(#1c1f4c, #e4e3ff);
        --md-sys-color-primary-dim: light-dark(#111442, #d0d1fd);
        --md-sys-color-on-primary: light-dark(#d6d7ff, #26294b);
        --md-sys-color-primary-container: light-dark(#4b4e7e, #9fa0ca);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-primary-fixed: light-dark(#4b4e7e, #d0d1fd);
        --md-sys-color-primary-fixed-dim: light-dark(#3f4271, #c2c3ee);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #0b0d2f);
        --md-sys-color-inverse-primary: light-dark(#c2c5fd, #333558);
        --md-sys-color-secondary: light-dark(#212235, #e4e3fc);
        --md-sys-color-secondary-dim: light-dark(#17182a, #d6d5ee);
        --md-sys-color-on-secondary: light-dark(#d9d8f1, #292a3d);
        --md-sys-color-secondary-container: light-dark(#505065, #a2a2b9);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-secondary-fixed: light-dark(#505065, #e1e0f9);
        --md-sys-color-secondary-fixed-dim: light-dark(#444559, #d3d2eb);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #1d1e30);
        --md-sys-color-tertiary: light-dark(#34193b, #fde3ff);
        --md-sys-color-tertiary-dim: light-dark(#280f30, #f7d0fd);
        --md-sys-color-on-tertiary: light-dark(#f4cdfa, #402548);
        --md-sys-color-tertiary-container: light-dark(#65476c, #f7d0fd);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #361c3e);
        --md-sys-color-tertiary-fixed: light-dark(#65476c, #f7d0fd);
        --md-sys-color-tertiary-fixed-dim: light-dark(#593c60, #e8c2ee);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #291031);
        --md-sys-color-error: light-dark(#500016, #ffdddf);
        --md-sys-color-error-dim: light-dark(#3d000f, #ffc7cb);
        --md-sys-color-on-error: light-dark(#ffced2, #5f001c);
        --md-sys-color-error-container: light-dark(#97283e, #ff798c);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
    }
}
