:root {
    --md-sys-color-background: light-dark(#f6faf7, #000000);
    --md-sys-color-error: light-dark(#a83836, #fa746f);
    --md-sys-color-error-container: light-dark(#fa746f, #871f21);
    --md-sys-color-error-dim: light-dark(#67040d, #c54d4a);
    --md-sys-color-error-palette-key-color: light-dark(#c84f4c, #c84f4c);
    --md-sys-color-inverse-on-surface: light-dark(#999e9b, #515654);
    --md-sys-color-inverse-primary: light-dark(#b8ffed, #36685d);
    --md-sys-color-inverse-surface: light-dark(#0a0f0e, #f6faf7);
    --md-sys-color-neutral-palette-key-color: light-dark(#737876, #737876);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#6e7975, #6e7975);
    --md-sys-color-on-background: light-dark(#2a3532, #dde8e3);
    --md-sys-color-on-error: light-dark(#fff7f6, #490006);
    --md-sys-color-on-error-container: light-dark(#6e0a12, #ff9993);
    --md-sys-color-on-primary: light-dark(#e3fff6, #13483e);
    --md-sys-color-on-primary-container: light-dark(#0e5c4f, #b9eee0);
    --md-sys-color-on-primary-fixed: light-dark(#00483d, #12473d);
    --md-sys-color-on-primary-fixed-variant: light-dark(#1e6659, #326459);
    --md-sys-color-on-secondary: light-dark(#e3fff6, #2d453f);
    --md-sys-color-on-secondary-container: light-dark(#3e5750, #aac5bd);
    --md-sys-color-on-secondary-fixed: light-dark(#2c443e, #2c443e);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#48605a, #48605a);
    --md-sys-color-on-surface: light-dark(#2a3532, #dde8e3);
    --md-sys-color-on-surface-variant: light-dark(#57615e, #a2aea9);
    --md-sys-color-on-tertiary: light-dark(#f0fbff, #2c6170);
    --md-sys-color-on-tertiary-container: light-dark(#225867, #225867);
    --md-sys-color-on-tertiary-fixed: light-dark(#054654, #054654);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#2d6272, #2d6272);
    --md-sys-color-outline: light-dark(#727d79, #6d7874);
    --md-sys-color-outline-variant: light-dark(#a9b4b0, #404a47);
    --md-sys-color-primary: light-dark(#226a5c, #9dd1c3);
    --md-sys-color-primary-container: light-dark(#aaf0df, #295b50);
    --md-sys-color-primary-dim: light-dark(#105e51, #90c3b6);
    --md-sys-color-primary-fixed: light-dark(#aaf0df, #b9eddf);
    --md-sys-color-primary-fixed-dim: light-dark(#9de2d1, #abdfd1);
    --md-sys-color-primary-palette-key-color: light-dark(#3f8374, #4f8074);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#4b645d, #b1ccc4);
    --md-sys-color-secondary-container: light-dark(#cde8e0, #28403a);
    --md-sys-color-secondary-dim: light-dark(#3f5852, #a4beb6);
    --md-sys-color-secondary-fixed: light-dark(#cde8e0, #cde8e0);
    --md-sys-color-secondary-fixed-dim: light-dark(#bfdad2, #bfdad2);
    --md-sys-color-secondary-palette-key-color: light-dark(#637c75, #637c75);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f6faf7, #000000);
    --md-sys-color-surface-bright: light-dark(#f6faf7, #242e2b);
    --md-sys-color-surface-container: light-dark(#e7f0ec, #131b19);
    --md-sys-color-surface-container-high: light-dark(#e1eae6, #19211f);
    --md-sys-color-surface-container-highest: light-dark(#dae5e0, #1e2825);
    --md-sys-color-surface-container-low: light-dark(#eef5f1, #0e1513);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#d1ddd8, #0a0f0e);
    --md-sys-color-surface-tint: light-dark(#226a5c, #9dd1c3);
    --md-sys-color-surface-variant: light-dark(#dae5e0, #1e2825);
    --md-sys-color-tertiary: light-dark(#316675, #dbf5ff);
    --md-sys-color-tertiary-container: light-dark(#b6ebfd, #b6ebfd);
    --md-sys-color-tertiary-dim: light-dark(#235a69, #b6ebfd);
    --md-sys-color-tertiary-fixed: light-dark(#b6ebfd, #b6ebfd);
    --md-sys-color-tertiary-fixed-dim: light-dark(#a8dcee, #a8dcee);
    --md-sys-color-tertiary-palette-key-color: light-dark(#4b7e8e, #4b7e8e);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#f6faf7, #000000);
        --md-sys-color-error: light-dark(#a83836, #fa746f);
        --md-sys-color-error-container: light-dark(#fa746f, #871f21);
        --md-sys-color-error-dim: light-dark(#b4403e, #c54d4a);
        --md-sys-color-error-palette-key-color: light-dark(#c84f4c, #c84f4c);
        --md-sys-color-inverse-on-surface: light-dark(#999e9b, #515654);
        --md-sys-color-inverse-primary: light-dark(#599d8d, #36685d);
        --md-sys-color-inverse-surface: light-dark(#0a0f0e, #f6faf7);
        --md-sys-color-neutral-palette-key-color: light-dark(#737876, #737876);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#6e7975, #6e7975);
        --md-sys-color-on-background: light-dark(#2a3532, #dde8e3);
        --md-sys-color-on-error: light-dark(#fff7f6, #490006);
        --md-sys-color-on-error-container: light-dark(#6e0a12, #ff9993);
        --md-sys-color-on-primary: light-dark(#e3fff6, #00251f);
        --md-sys-color-on-primary-container: light-dark(#0e5c4f, #b9eee0);
        --md-sys-color-on-primary-fixed: light-dark(#00483d, #12473d);
        --md-sys-color-on-primary-fixed-variant: light-dark(#1e6659, #326459);
        --md-sys-color-on-secondary: light-dark(#e3fff6, #0b241f);
        --md-sys-color-on-secondary-container: light-dark(#3e5750, #aac5bd);
        --md-sys-color-on-secondary-fixed: light-dark(#2c443e, #2c443e);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#48605a, #48605a);
        --md-sys-color-on-surface: light-dark(#2a3532, #dde8e3);
        --md-sys-color-on-surface-variant: light-dark(#57615e, #a2aea9);
        --md-sys-color-on-tertiary: light-dark(#f0fbff, #00242d);
        --md-sys-color-on-tertiary-container: light-dark(#225867, #225867);
        --md-sys-color-on-tertiary-fixed: light-dark(#054654, #054654);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#2d6272, #2d6272);
        --md-sys-color-outline: light-dark(#727d79, #6d7874);
        --md-sys-color-outline-variant: light-dark(#a9b4b0, #404a47);
        --md-sys-color-primary: light-dark(#226a5c, #75a89b);
        --md-sys-color-primary-container: light-dark(#aaf0df, #295b50);
        --md-sys-color-primary-dim: light-dark(#2d7365, #4c7e72);
        --md-sys-color-primary-fixed: light-dark(#aaf0df, #b9eddf);
        --md-sys-color-primary-fixed-dim: light-dark(#9de2d1, #abdfd1);
        --md-sys-color-primary-palette-key-color: light-dark(#3f8374, #4f8074);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#4b645d, #89a39c);
        --md-sys-color-secondary-container: light-dark(#cde8e0, #28403a);
        --md-sys-color-secondary-dim: light-dark(#546d66, #607a73);
        --md-sys-color-secondary-fixed: light-dark(#cde8e0, #cde8e0);
        --md-sys-color-secondary-fixed-dim: light-dark(#bfdad2, #bfdad2);
        --md-sys-color-secondary-palette-key-color: light-dark(#637c75, #637c75);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f6faf7, #000000);
        --md-sys-color-surface-bright: light-dark(#f6faf7, #242e2b);
        --md-sys-color-surface-container: light-dark(#e7f0ec, #131b19);
        --md-sys-color-surface-container-high: light-dark(#e1eae6, #19211f);
        --md-sys-color-surface-container-highest: light-dark(#dae5e0, #1e2825);
        --md-sys-color-surface-container-low: light-dark(#eef5f1, #0e1513);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#d1ddd8, #0a0f0e);
        --md-sys-color-surface-tint: light-dark(#226a5c, #75a89b);
        --md-sys-color-surface-variant: light-dark(#dae5e0, #1e2825);
        --md-sys-color-tertiary: light-dark(#316675, #72a5b6);
        --md-sys-color-tertiary-container: light-dark(#b6ebfd, #b6ebfd);
        --md-sys-color-tertiary-dim: light-dark(#3b6f7f, #487c8c);
        --md-sys-color-tertiary-fixed: light-dark(#b6ebfd, #b6ebfd);
        --md-sys-color-tertiary-fixed-dim: light-dark(#a8dcee, #a8dcee);
        --md-sys-color-tertiary-palette-key-color: light-dark(#4b7e8e, #4b7e8e);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#f6faf7, #000000);
        --md-sys-color-error: light-dark(#510007, #ffdedb);
        --md-sys-color-error-container: light-dark(#972b2b, #ff7c76);
        --md-sys-color-error-dim: light-dark(#3d0004, #ffc7c3);
        --md-sys-color-error-palette-key-color: light-dark(#c84f4c, #c84f4c);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#b8ffed, #064036);
        --md-sys-color-inverse-surface: light-dark(#0a0f0e, #f6faf7);
        --md-sys-color-neutral-palette-key-color: light-dark(#737876, #737876);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#6e7975, #6e7975);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffcfcb, #60000a);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#a2e8d6, #00332a);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #00251e);
        --md-sys-color-on-secondary: light-dark(#c5e0d7, #18302b);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #0a241e);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#1c2623, #dde8e3);
        --md-sys-color-on-tertiary: light-dark(#aee2f4, #003945);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #002f3a);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #00232c);
        --md-sys-color-outline: light-dark(#3b4542, #b0bbb7);
        --md-sys-color-outline-variant: light-dark(#4a5451, #9ba6a2);
        --md-sys-color-primary: light-dark(#002a22, #bcf0e2);
        --md-sys-color-primary-container: light-dark(#0f5d50, #7baea1);
        --md-sys-color-primary-dim: light-dark(#001e19, #aee2d4);
        --md-sys-color-primary-fixed: light-dark(#0f5d50, #b9eddf);
        --md-sys-color-primary-fixed-dim: light-dark(#005044, #abdfd1);
        --md-sys-color-primary-palette-key-color: light-dark(#3f8374, #4f8074);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#0f2823, #d0ebe3);
        --md-sys-color-secondary-container: light-dark(#3e5751, #8fa9a1);
        --md-sys-color-secondary-dim: light-dark(#051e19, #c2ddd5);
        --md-sys-color-secondary-fixed: light-dark(#3e5751, #cde8e0);
        --md-sys-color-secondary-fixed-dim: light-dark(#334b45, #bfdad2);
        --md-sys-color-secondary-palette-key-color: light-dark(#637c75, #637c75);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f6faf7, #000000);
        --md-sys-color-surface-bright: light-dark(#f6faf7, #242e2b);
        --md-sys-color-surface-container: light-dark(#e7f0ec, #131b19);
        --md-sys-color-surface-container-high: light-dark(#e1eae6, #19211f);
        --md-sys-color-surface-container-highest: light-dark(#dae5e0, #1e2825);
        --md-sys-color-surface-container-low: light-dark(#eef5f1, #0e1513);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#d1ddd8, #0a0f0e);
        --md-sys-color-surface-tint: light-dark(#002a22, #bcf0e2);
        --md-sys-color-surface-variant: light-dark(#dae5e0, #1e2825);
        --md-sys-color-tertiary: light-dark(#002832, #dbf5ff);
        --md-sys-color-tertiary-container: light-dark(#225968, #b6ebfd);
        --md-sys-color-tertiary-dim: light-dark(#001d25, #b6ebfd);
        --md-sys-color-tertiary-fixed: light-dark(#225968, #b6ebfd);
        --md-sys-color-tertiary-fixed-dim: light-dark(#124d5c, #a8dcee);
        --md-sys-color-tertiary-palette-key-color: light-dark(#4b7e8e, #4b7e8e);
    }

}
