:root {
    --md-sys-color-background: light-dark(#faf8fe, #000000);
    --md-sys-color-error: light-dark(#a83836, #fa746f);
    --md-sys-color-error-container: light-dark(#fa746f, #871f21);
    --md-sys-color-error-dim: light-dark(#67040d, #c54d4a);
    --md-sys-color-error-palette-key-color: light-dark(#c84f4c, #c84f4c);
    --md-sys-color-inverse-on-surface: light-dark(#9d9ca2, #545559);
    --md-sys-color-inverse-primary: light-dark(#b4c5f9, #525e81);
    --md-sys-color-inverse-surface: light-dark(#0d0e12, #faf8fe);
    --md-sys-color-neutral-palette-key-color: light-dark(#77777c, #77777c);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#757781, #757781);
    --md-sys-color-on-background: light-dark(#30323b, #e4e5f0);
    --md-sys-color-on-error: light-dark(#fff7f6, #490006);
    --md-sys-color-on-error-container: light-dark(#6e0a12, #ff9993);
    --md-sys-color-on-primary: light-dark(#f9f8ff, #333f61);
    --md-sys-color-on-primary-container: light-dark(#2d3f6a, #dbe2ff);
    --md-sys-color-on-primary-fixed: light-dark(#182a55, #293556);
    --md-sys-color-on-primary-fixed-variant: light-dark(#374874, #455274);
    --md-sys-color-on-secondary: light-dark(#f9f8ff, #3a4052);
    --md-sys-color-on-secondary-container: light-dark(#4b5164, #b9bfd5);
    --md-sys-color-on-secondary-fixed: light-dark(#393f51, #393f51);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#555b6e, #555b6e);
    --md-sys-color-on-surface: light-dark(#30323b, #e4e5f0);
    --md-sys-color-on-surface-variant: light-dark(#5d5f68, #a9aab5);
    --md-sys-color-on-tertiary: light-dark(#fff6ff, #5c4870);
    --md-sys-color-on-tertiary-container: light-dark(#533f66, #533f66);
    --md-sys-color-on-tertiary-fixed: light-dark(#3f2c52, #3f2c52);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#5c4870, #5c4870);
    --md-sys-color-outline: light-dark(#787a84, #73757f);
    --md-sys-color-outline-variant: light-dark(#b0b1bc, #454850);
    --md-sys-color-primary: light-dark(#4d5e8b, #b9c6ee);
    --md-sys-color-primary-container: light-dark(#b4c5f9, #455274);
    --md-sys-color-primary-dim: light-dark(#41527f, #abb8e0);
    --md-sys-color-primary-fixed: light-dark(#b4c5f9, #c7d3fd);
    --md-sys-color-primary-fixed-dim: light-dark(#a6b8eb, #b9c6ee);
    --md-sys-color-primary-palette-key-color: light-dark(#6576a5, #6a769b);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#595f72, #c0c6dd);
    --md-sys-color-secondary-container: light-dark(#dce2f9, #353b4d);
    --md-sys-color-secondary-dim: light-dark(#4d5366, #b2b8ce);
    --md-sys-color-secondary-fixed: light-dark(#dce2f9, #dce2f9);
    --md-sys-color-secondary-fixed-dim: light-dark(#ced4eb, #ced4eb);
    --md-sys-color-secondary-palette-key-color: light-dark(#71778b, #71778b);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#faf8fe, #000000);
    --md-sys-color-surface-bright: light-dark(#faf8fe, #2a2c34);
    --md-sys-color-surface-container: light-dark(#ededf6, #18191f);
    --md-sys-color-surface-container-high: light-dark(#e7e7f1, #1d1f26);
    --md-sys-color-surface-container-highest: light-dark(#e1e2ed, #23262e);
    --md-sys-color-surface-container-low: light-dark(#f4f3fa, #121318);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#d8d9e4, #0d0e12);
    --md-sys-color-surface-tint: light-dark(#4d5e8b, #b9c6ee);
    --md-sys-color-surface-variant: light-dark(#e1e2ed, #23262e);
    --md-sys-color-tertiary: light-dark(#6b567f, #eed7ff);
    --md-sys-color-tertiary-container: light-dark(#e2c8f8, #e2c8f8);
    --md-sys-color-tertiary-dim: light-dark(#5f4b73, #e2c8f8);
    --md-sys-color-tertiary-fixed: light-dark(#e2c8f8, #e2c8f8);
    --md-sys-color-tertiary-fixed-dim: light-dark(#d3bae9, #d3bae9);
    --md-sys-color-tertiary-palette-key-color: light-dark(#846e99, #846e99);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#faf8fe, #000000);
        --md-sys-color-error: light-dark(#a83836, #fa746f);
        --md-sys-color-error-container: light-dark(#fa746f, #871f21);
        --md-sys-color-error-dim: light-dark(#b4403e, #c54d4a);
        --md-sys-color-error-palette-key-color: light-dark(#c84f4c, #c84f4c);
        --md-sys-color-inverse-on-surface: light-dark(#9d9ca2, #545559);
        --md-sys-color-inverse-primary: light-dark(#7e90c0, #525e81);
        --md-sys-color-inverse-surface: light-dark(#0d0e12, #faf8fe);
        --md-sys-color-neutral-palette-key-color: light-dark(#77777c, #77777c);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#757781, #757781);
        --md-sys-color-on-background: light-dark(#30323b, #e4e5f0);
        --md-sys-color-on-error: light-dark(#fff7f6, #490006);
        --md-sys-color-on-error-container: light-dark(#6e0a12, #ff9993);
        --md-sys-color-on-primary: light-dark(#f9f8ff, #111f3e);
        --md-sys-color-on-primary-container: light-dark(#2d3f6a, #dbe2ff);
        --md-sys-color-on-primary-fixed: light-dark(#182a55, #293556);
        --md-sys-color-on-primary-fixed-variant: light-dark(#374874, #455274);
        --md-sys-color-on-secondary: light-dark(#f9f8ff, #192031);
        --md-sys-color-on-secondary-container: light-dark(#4b5164, #b9bfd5);
        --md-sys-color-on-secondary-fixed: light-dark(#393f51, #393f51);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#555b6e, #555b6e);
        --md-sys-color-on-surface: light-dark(#30323b, #e4e5f0);
        --md-sys-color-on-surface-variant: light-dark(#5d5f68, #a9aab5);
        --md-sys-color-on-tertiary: light-dark(#fff6ff, #2a173c);
        --md-sys-color-on-tertiary-container: light-dark(#533f66, #533f66);
        --md-sys-color-on-tertiary-fixed: light-dark(#3f2c52, #3f2c52);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#5c4870, #5c4870);
        --md-sys-color-outline: light-dark(#787a84, #73757f);
        --md-sys-color-outline-variant: light-dark(#b0b1bc, #454850);
        --md-sys-color-primary: light-dark(#4d5e8b, #909dc4);
        --md-sys-color-primary-container: light-dark(#b4c5f9, #455274);
        --md-sys-color-primary-dim: light-dark(#566795, #677498);
        --md-sys-color-primary-fixed: light-dark(#b4c5f9, #c7d3fd);
        --md-sys-color-primary-fixed-dim: light-dark(#a6b8eb, #b9c6ee);
        --md-sys-color-primary-palette-key-color: light-dark(#6576a5, #6a769b);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#595f72, #979db3);
        --md-sys-color-secondary-container: light-dark(#dce2f9, #353b4d);
        --md-sys-color-secondary-dim: light-dark(#61677b, #6e7488);
        --md-sys-color-secondary-fixed: light-dark(#dce2f9, #dce2f9);
        --md-sys-color-secondary-fixed-dim: light-dark(#ced4eb, #ced4eb);
        --md-sys-color-secondary-palette-key-color: light-dark(#71778b, #71778b);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#faf8fe, #000000);
        --md-sys-color-surface-bright: light-dark(#faf8fe, #2a2c34);
        --md-sys-color-surface-container: light-dark(#ededf6, #18191f);
        --md-sys-color-surface-container-high: light-dark(#e7e7f1, #1d1f26);
        --md-sys-color-surface-container-highest: light-dark(#e1e2ed, #23262e);
        --md-sys-color-surface-container-low: light-dark(#f4f3fa, #121318);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#d8d9e4, #0d0e12);
        --md-sys-color-surface-tint: light-dark(#4d5e8b, #909dc4);
        --md-sys-color-surface-variant: light-dark(#e1e2ed, #23262e);
        --md-sys-color-tertiary: light-dark(#6b567f, #ac95c2);
        --md-sys-color-tertiary-container: light-dark(#e2c8f8, #e2c8f8);
        --md-sys-color-tertiary-dim: light-dark(#745f89, #826c96);
        --md-sys-color-tertiary-fixed: light-dark(#e2c8f8, #e2c8f8);
        --md-sys-color-tertiary-fixed-dim: light-dark(#d3bae9, #d3bae9);
        --md-sys-color-tertiary-palette-key-color: light-dark(#846e99, #846e99);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#faf8fe, #000000);
        --md-sys-color-error: light-dark(#510007, #ffdedb);
        --md-sys-color-error-container: light-dark(#972b2b, #ff7c76);
        --md-sys-color-error-dim: light-dark(#3d0004, #ffc7c3);
        --md-sys-color-error-palette-key-color: light-dark(#c84f4c, #c84f4c);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#b4c5f9, #2b3758);
        --md-sys-color-inverse-surface: light-dark(#0d0e12, #faf8fe);
        --md-sys-color-neutral-palette-key-color: light-dark(#77777c, #77777c);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#757781, #757781);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffcfcb, #60000a);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#ced9ff, #1e2b4b);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #020f2f);
        --md-sys-color-on-secondary: light-dark(#d4d9f1, #252c3d);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #191f30);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#21242c, #e4e5f0);
        --md-sys-color-on-tertiary: light-dark(#ead0ff, #362449);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #261439);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #160428);
        --md-sys-color-outline: light-dark(#40424b, #b7b8c3);
        --md-sys-color-outline-variant: light-dark(#50525b, #a2a3ad);
        --md-sys-color-primary: light-dark(#0e224c, #dee5ff);
        --md-sys-color-primary-container: light-dark(#40517e, #96a3ca);
        --md-sys-color-primary-dim: light-dark(#021742, #c7d3fd);
        --md-sys-color-primary-fixed: light-dark(#40517e, #c7d3fd);
        --md-sys-color-primary-fixed-dim: light-dark(#344571, #b9c6ee);
        --md-sys-color-primary-palette-key-color: light-dark(#6576a5, #6a769b);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#1d2335, #dfe5fc);
        --md-sys-color-secondary-container: light-dark(#4c5265, #9da3b9);
        --md-sys-color-secondary-dim: light-dark(#13192a, #d1d7ee);
        --md-sys-color-secondary-fixed: light-dark(#4c5265, #dce2f9);
        --md-sys-color-secondary-fixed-dim: light-dark(#404659, #ced4eb);
        --md-sys-color-secondary-palette-key-color: light-dark(#71778b, #71778b);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#faf8fe, #000000);
        --md-sys-color-surface-bright: light-dark(#faf8fe, #2a2c34);
        --md-sys-color-surface-container: light-dark(#ededf6, #18191f);
        --md-sys-color-surface-container-high: light-dark(#e7e7f1, #1d1f26);
        --md-sys-color-surface-container-highest: light-dark(#e1e2ed, #23262e);
        --md-sys-color-surface-container-low: light-dark(#f4f3fa, #121318);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#d8d9e4, #0d0e12);
        --md-sys-color-surface-tint: light-dark(#0e224c, #dee5ff);
        --md-sys-color-surface-variant: light-dark(#e1e2ed, #23262e);
        --md-sys-color-tertiary: light-dark(#2e1b40, #f2dfff);
        --md-sys-color-tertiary-container: light-dark(#5e4a72, #e2c8f8);
        --md-sys-color-tertiary-dim: light-dark(#231136, #e5cbfb);
        --md-sys-color-tertiary-fixed: light-dark(#5e4a72, #e2c8f8);
        --md-sys-color-tertiary-fixed-dim: light-dark(#523e65, #d3bae9);
        --md-sys-color-tertiary-palette-key-color: light-dark(#846e99, #846e99);
    }

}
