:root {
    --md-sys-color-background: light-dark(#fff8f6, #130d0b);
    --md-sys-color-error: light-dark(#a8364b, #f97386);
    --md-sys-color-error-container: light-dark(#f97386, #871c34);
    --md-sys-color-error-dim: light-dark(#6b0221, #c44b5f);
    --md-sys-color-error-palette-key-color: light-dark(#c74d61, #c74d61);
    --md-sys-color-inverse-on-surface: light-dark(#a79a97, #5d5351);
    --md-sys-color-inverse-primary: light-dark(#fdad9d, #855247);
    --md-sys-color-inverse-surface: light-dark(#130d0b, #fff8f6);
    --md-sys-color-neutral-palette-key-color: light-dark(#807472, #807472);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#86736f, #86736f);
    --md-sys-color-on-background: light-dark(#3e2f2c, #f9e0db);
    --md-sys-color-on-error: light-dark(#fff7f7, #490013);
    --md-sys-color-on-error-container: light-dark(#6e0523, #ff97a3);
    --md-sys-color-on-primary: light-dark(#fff7f6, #61342a);
    --md-sys-color-on-primary-container: light-dark(#622d22, #ffdbd4);
    --md-sys-color-on-primary-fixed: light-dark(#48190f, #4b221a);
    --md-sys-color-on-primary-fixed-variant: light-dark(#6d352a, #6e3e34);
    --md-sys-color-on-secondary: light-dark(#fff7f6, #563933);
    --md-sys-color-on-secondary-container: light-dark(#694a44, #dfb6ad);
    --md-sys-color-on-secondary-fixed: light-dark(#553832, #553832);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#74544d, #74544d);
    --md-sys-color-on-surface: light-dark(#3e2f2c, #f9e0db);
    --md-sys-color-on-surface-variant: light-dark(#6d5b57, #bca6a2);
    --md-sys-color-on-tertiary: light-dark(#fff8f2, #6d501d);
    --md-sys-color-on-tertiary-container: light-dark(#644715, #644715);
    --md-sys-color-on-tertiary-fixed: light-dark(#4f3503, #4f3503);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#6e511e, #6e511e);
    --md-sys-color-outline: light-dark(#8a7672, #84716d);
    --md-sys-color-outline-variant: light-dark(#c3ada9, #554441);
    --md-sys-color-primary: light-dark(#8c4e41, #f9b7a9);
    --md-sys-color-primary-container: light-dark(#fdad9d, #76453b);
    --md-sys-color-primary-dim: light-dark(#7e4236, #eaa99c);
    --md-sys-color-primary-fixed: light-dark(#fdad9d, #fcb9ac);
    --md-sys-color-primary-fixed-dim: light-dark(#eea090, #edac9e);
    --md-sys-color-primary-palette-key-color: light-dark(#a86557, #a0695d);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#785751, #e7bdb4);
    --md-sys-color-secondary-container: light-dark(#ffdad3, #51342e);
    --md-sys-color-secondary-dim: light-dark(#6b4b45, #d8afa7);
    --md-sys-color-secondary-fixed: light-dark(#ffdad3, #ffdad3);
    --md-sys-color-secondary-fixed-dim: light-dark(#f6cbc2, #f6cbc2);
    --md-sys-color-secondary-palette-key-color: light-dark(#926f68, #926f68);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f6, #130d0b);
    --md-sys-color-surface-bright: light-dark(#fff8f6, #372926);
    --md-sys-color-surface-container: light-dark(#ffe9e5, #221715);
    --md-sys-color-surface-container-high: light-dark(#fae3df, #291d1a);
    --md-sys-color-surface-container-highest: light-dark(#f6ddd8, #302220);
    --md-sys-color-surface-container-low: light-dark(#fff0ee, #1a110f);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#edd5d0, #130d0b);
    --md-sys-color-surface-tint: light-dark(#8c4e41, #f9b7a9);
    --md-sys-color-surface-variant: light-dark(#f6ddd8, #302220);
    --md-sys-color-tertiary: light-dark(#785a26, #ffe4c0);
    --md-sys-color-tertiary-container: light-dark(#fed494, #fed494);
    --md-sys-color-tertiary-dim: light-dark(#6b4e1b, #fed494);
    --md-sys-color-tertiary-fixed: light-dark(#fed494, #fed494);
    --md-sys-color-tertiary-fixed-dim: light-dark(#efc688, #efc688);
    --md-sys-color-tertiary-palette-key-color: light-dark(#93713b, #93713b);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff8f6, #130d0b);
        --md-sys-color-error: light-dark(#a8364b, #f97386);
        --md-sys-color-error-container: light-dark(#f97386, #871c34);
        --md-sys-color-error-dim: light-dark(#b43e53, #c44b5f);
        --md-sys-color-error-palette-key-color: light-dark(#c74d61, #c74d61);
        --md-sys-color-inverse-on-surface: light-dark(#a79a97, #5d5351);
        --md-sys-color-inverse-primary: light-dark(#c67e6f, #855247);
        --md-sys-color-inverse-surface: light-dark(#130d0b, #fff8f6);
        --md-sys-color-neutral-palette-key-color: light-dark(#807472, #807472);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#86736f, #86736f);
        --md-sys-color-on-background: light-dark(#3e2f2c, #f9e0db);
        --md-sys-color-on-error: light-dark(#fff7f7, #490013);
        --md-sys-color-on-error-container: light-dark(#6e0523, #ff97a3);
        --md-sys-color-on-primary: light-dark(#fff7f6, #3a150d);
        --md-sys-color-on-primary-container: light-dark(#622d22, #ffdbd4);
        --md-sys-color-on-primary-fixed: light-dark(#48190f, #4b221a);
        --md-sys-color-on-primary-fixed-variant: light-dark(#6d352a, #6e3e34);
        --md-sys-color-on-secondary: light-dark(#fff7f6, #321a15);
        --md-sys-color-on-secondary-container: light-dark(#694a44, #dfb6ad);
        --md-sys-color-on-secondary-fixed: light-dark(#553832, #553832);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#74544d, #74544d);
        --md-sys-color-on-surface: light-dark(#3e2f2c, #f9e0db);
        --md-sys-color-on-surface-variant: light-dark(#6d5b57, #bca6a2);
        --md-sys-color-on-tertiary: light-dark(#fff8f2, #2e1d00);
        --md-sys-color-on-tertiary-container: light-dark(#644715, #644715);
        --md-sys-color-on-tertiary-fixed: light-dark(#4f3503, #4f3503);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#6e511e, #6e511e);
        --md-sys-color-outline: light-dark(#8a7672, #84716d);
        --md-sys-color-outline-variant: light-dark(#c3ada9, #554441);
        --md-sys-color-primary: light-dark(#8c4e41, #cc8f82);
        --md-sys-color-primary-container: light-dark(#fdad9d, #76453b);
        --md-sys-color-primary-dim: light-dark(#975749, #9e675b);
        --md-sys-color-primary-fixed: light-dark(#fdad9d, #fcb9ac);
        --md-sys-color-primary-fixed-dim: light-dark(#eea090, #edac9e);
        --md-sys-color-primary-palette-key-color: light-dark(#a86557, #a0695d);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#785751, #bc958d);
        --md-sys-color-secondary-container: light-dark(#ffdad3, #51342e);
        --md-sys-color-secondary-dim: light-dark(#826059, #8f6c65);
        --md-sys-color-secondary-fixed: light-dark(#ffdad3, #ffdad3);
        --md-sys-color-secondary-fixed-dim: light-dark(#f6cbc2, #f6cbc2);
        --md-sys-color-secondary-palette-key-color: light-dark(#926f68, #926f68);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f6, #130d0b);
        --md-sys-color-surface-bright: light-dark(#fff8f6, #372926);
        --md-sys-color-surface-container: light-dark(#ffe9e5, #221715);
        --md-sys-color-surface-container-high: light-dark(#fae3df, #291d1a);
        --md-sys-color-surface-container-highest: light-dark(#f6ddd8, #302220);
        --md-sys-color-surface-container-low: light-dark(#fff0ee, #1a110f);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#edd5d0, #130d0b);
        --md-sys-color-surface-tint: light-dark(#8c4e41, #cc8f82);
        --md-sys-color-surface-variant: light-dark(#f6ddd8, #302220);
        --md-sys-color-tertiary: light-dark(#785a26, #bd985e);
        --md-sys-color-tertiary-container: light-dark(#fed494, #fed494);
        --md-sys-color-tertiary-dim: light-dark(#82622e, #906f39);
        --md-sys-color-tertiary-fixed: light-dark(#fed494, #fed494);
        --md-sys-color-tertiary-fixed-dim: light-dark(#efc688, #efc688);
        --md-sys-color-tertiary-palette-key-color: light-dark(#93713b, #93713b);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff8f6, #130d0b);
        --md-sys-color-error: light-dark(#500016, #ffdddf);
        --md-sys-color-error-container: light-dark(#97283e, #ff798c);
        --md-sys-color-error-dim: light-dark(#3d000f, #ffc7cb);
        --md-sys-color-error-palette-key-color: light-dark(#c74d61, #c74d61);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#ffb2a2, #572c23);
        --md-sys-color-inverse-surface: light-dark(#130d0b, #fff8f6);
        --md-sys-color-neutral-palette-key-color: light-dark(#807472, #807472);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#86736f, #86736f);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffced2, #5f001c);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#ffcfc6, #492018);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary: light-dark(#fcd0c7, #3f2520);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #311914);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#2e211e, #f9e0db);
        --md-sys-color-on-tertiary: light-dark(#fed494, #402900);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #332000);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #231500);
        --md-sys-color-outline: light-dark(#4f3f3c, #cbb4af);
        --md-sys-color-outline-variant: light-dark(#5f4e4b, #b59f9b);
        --md-sys-color-primary: light-dark(#43150c, #ffded8);
        --md-sys-color-primary-container: light-dark(#7d4235, #d39488);
        --md-sys-color-primary-dim: light-dark(#360b04, #ffc8bd);
        --md-sys-color-primary-fixed: light-dark(#7d4235, #fcb9ac);
        --md-sys-color-primary-fixed-dim: light-dark(#6e362b, #edac9e);
        --md-sys-color-primary-palette-key-color: light-dark(#a86557, #a0695d);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#361d18, #ffded8);
        --md-sys-color-secondary-container: light-dark(#6a4b44, #c29b93);
        --md-sys-color-secondary-dim: light-dark(#2a140f, #f9cec5);
        --md-sys-color-secondary-fixed: light-dark(#6a4b44, #ffdad3);
        --md-sys-color-secondary-fixed-dim: light-dark(#5d3f39, #f6cbc2);
        --md-sys-color-secondary-palette-key-color: light-dark(#926f68, #926f68);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f6, #130d0b);
        --md-sys-color-surface-bright: light-dark(#fff8f6, #372926);
        --md-sys-color-surface-container: light-dark(#ffe9e5, #221715);
        --md-sys-color-surface-container-high: light-dark(#fae3df, #291d1a);
        --md-sys-color-surface-container-highest: light-dark(#f6ddd8, #302220);
        --md-sys-color-surface-container-low: light-dark(#fff0ee, #1a110f);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#edd5d0, #130d0b);
        --md-sys-color-surface-tint: light-dark(#43150c, #ffded8);
        --md-sys-color-surface-variant: light-dark(#f6ddd8, #302220);
        --md-sys-color-tertiary: light-dark(#332000, #ffe4c0);
        --md-sys-color-tertiary-container: light-dark(#6a4d1a, #fed494);
        --md-sys-color-tertiary-dim: light-dark(#261700, #fed494);
        --md-sys-color-tertiary-fixed: light-dark(#6a4d1a, #fed494);
        --md-sys-color-tertiary-fixed-dim: light-dark(#5d410f, #efc688);
        --md-sys-color-tertiary-palette-key-color: light-dark(#93713b, #93713b);
    }

}
