:root {
    --md-sys-color-background: light-dark(#fff7fa, #110d11);
    --md-sys-color-error: light-dark(#a8364b, #f97386);
    --md-sys-color-error-container: light-dark(#f97386, #871c34);
    --md-sys-color-error-dim: light-dark(#6b0221, #c44b5f);
    --md-sys-color-error-palette-key-color: light-dark(#c74d61, #c74d61);
    --md-sys-color-inverse-on-surface: light-dark(#a39ba0, #5a5358);
    --md-sys-color-inverse-primary: light-dark(#f8c4f4, #755474);
    --md-sys-color-inverse-surface: light-dark(#110d11, #fff7fa);
    --md-sys-color-neutral-palette-key-color: light-dark(#7c757a, #7c757a);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7f747d, #7f747d);
    --md-sys-color-on-background: light-dark(#393037, #f0e1ec);
    --md-sys-color-on-error: light-dark(#fff7f7, #490013);
    --md-sys-color-on-error-container: light-dark(#6e0523, #ff97a3);
    --md-sys-color-on-primary: light-dark(#fff7fa, #543654);
    --md-sys-color-on-primary-container: light-dark(#623b63, #ffd7fb);
    --md-sys-color-on-primary-fixed: light-dark(#4d284f, #4d304d);
    --md-sys-color-on-primary-fixed-variant: light-dark(#6c446d, #6b4b6b);
    --md-sys-color-on-secondary: light-dark(#fff7fa, #4c3a4b);
    --md-sys-color-on-secondary-container: light-dark(#5f4c5d, #d1b8cd);
    --md-sys-color-on-secondary-fixed: light-dark(#4b3a4a, #4b3a4a);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#695567, #695567);
    --md-sys-color-on-surface: light-dark(#393037, #f0e1ec);
    --md-sys-color-on-surface-variant: light-dark(#675c64, #b5a7b1);
    --md-sys-color-on-tertiary: light-dark(#fff7f7, #6e3c44);
    --md-sys-color-on-tertiary-container: light-dark(#64333b, #64333b);
    --md-sys-color-on-tertiary-fixed: light-dark(#4c2028, #4c2028);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#6f3c44, #6f3c44);
    --md-sys-color-outline: light-dark(#837780, #7e727b);
    --md-sys-color-outline-variant: light-dark(#bcaeb8, #4f454d);
    --md-sys-color-primary: light-dark(#7a517a, #e3badf);
    --md-sys-color-primary-container: light-dark(#f8c4f4, #684867);
    --md-sys-color-primary-dim: light-dark(#6d456e, #d4acd1);
    --md-sys-color-primary-fixed: light-dark(#f8c4f4, #f7cdf3);
    --md-sys-color-primary-fixed-dim: light-dark(#e9b7e6, #e8bfe5);
    --md-sys-color-primary-palette-key-color: light-dark(#946994, #8f6c8d);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#6d596b, #d8bfd4);
    --md-sys-color-secondary-container: light-dark(#f5dbf0, #473646);
    --md-sys-color-secondary-dim: light-dark(#604d5f, #cab1c6);
    --md-sys-color-secondary-fixed: light-dark(#f5dbf0, #f5dbf0);
    --md-sys-color-secondary-fixed-dim: light-dark(#e7cde2, #e7cde2);
    --md-sys-color-secondary-palette-key-color: light-dark(#867184, #867184);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff7fa, #110d11);
    --md-sys-color-surface-bright: light-dark(#fff7fa, #322931);
    --md-sys-color-surface-container: light-dark(#f7eaf2, #1e181d);
    --md-sys-color-surface-container-high: light-dark(#f2e4ed, #241d24);
    --md-sys-color-surface-container-highest: light-dark(#eddee9, #2c232b);
    --md-sys-color-surface-container-low: light-dark(#fdf0f7, #171216);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#e5d6e0, #110d11);
    --md-sys-color-surface-tint: light-dark(#7a517a, #e3badf);
    --md-sys-color-surface-variant: light-dark(#eddee9, #2c232b);
    --md-sys-color-tertiary: light-dark(#865058, #ffcad0);
    --md-sys-color-tertiary-container: light-dark(#fdb7c0, #fdb7c0);
    --md-sys-color-tertiary-dim: light-dark(#78444c, #fdb7c0);
    --md-sys-color-tertiary-fixed: light-dark(#fdb7c0, #fdb7c0);
    --md-sys-color-tertiary-fixed-dim: light-dark(#edaab2, #edaab2);
    --md-sys-color-tertiary-palette-key-color: light-dark(#a1676f, #a1676f);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff7fa, #110d11);
        --md-sys-color-error: light-dark(#a8364b, #f97386);
        --md-sys-color-error-container: light-dark(#f97386, #871c34);
        --md-sys-color-error-dim: light-dark(#b43e53, #c44b5f);
        --md-sys-color-error-palette-key-color: light-dark(#c74d61, #c74d61);
        --md-sys-color-inverse-on-surface: light-dark(#a39ba0, #5a5358);
        --md-sys-color-inverse-primary: light-dark(#af82ae, #755474);
        --md-sys-color-inverse-surface: light-dark(#110d11, #fff7fa);
        --md-sys-color-neutral-palette-key-color: light-dark(#7c757a, #7c757a);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7f747d, #7f747d);
        --md-sys-color-on-background: light-dark(#393037, #f0e1ec);
        --md-sys-color-on-error: light-dark(#fff7f7, #490013);
        --md-sys-color-on-error-container: light-dark(#6e0523, #ff97a3);
        --md-sys-color-on-primary: light-dark(#fff7fa, #311632);
        --md-sys-color-on-primary-container: light-dark(#623b63, #ffd7fb);
        --md-sys-color-on-primary-fixed: light-dark(#4d284f, #4d304d);
        --md-sys-color-on-primary-fixed-variant: light-dark(#6c446d, #6b4b6b);
        --md-sys-color-on-secondary: light-dark(#fff7fa, #2a1b2a);
        --md-sys-color-on-secondary-container: light-dark(#5f4c5d, #d1b8cd);
        --md-sys-color-on-secondary-fixed: light-dark(#4b3a4a, #4b3a4a);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#695567, #695567);
        --md-sys-color-on-surface: light-dark(#393037, #f0e1ec);
        --md-sys-color-on-surface-variant: light-dark(#675c64, #b5a7b1);
        --md-sys-color-on-tertiary: light-dark(#fff7f7, #3b121a);
        --md-sys-color-on-tertiary-container: light-dark(#64333b, #64333b);
        --md-sys-color-on-tertiary-fixed: light-dark(#4c2028, #4c2028);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#6f3c44, #6f3c44);
        --md-sys-color-outline: light-dark(#837780, #7e727b);
        --md-sys-color-outline-variant: light-dark(#bcaeb8, #4f454d);
        --md-sys-color-primary: light-dark(#7a517a, #b892b5);
        --md-sys-color-primary-container: light-dark(#f8c4f4, #684867);
        --md-sys-color-primary-dim: light-dark(#845a83, #8c698b);
        --md-sys-color-primary-fixed: light-dark(#f8c4f4, #f7cdf3);
        --md-sys-color-primary-fixed-dim: light-dark(#e9b7e6, #e8bfe5);
        --md-sys-color-primary-palette-key-color: light-dark(#946994, #8f6c8d);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#6d596b, #ae97ab);
        --md-sys-color-secondary-container: light-dark(#f5dbf0, #473646);
        --md-sys-color-secondary-dim: light-dark(#766274, #836e81);
        --md-sys-color-secondary-fixed: light-dark(#f5dbf0, #f5dbf0);
        --md-sys-color-secondary-fixed-dim: light-dark(#e7cde2, #e7cde2);
        --md-sys-color-secondary-palette-key-color: light-dark(#867184, #867184);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff7fa, #110d11);
        --md-sys-color-surface-bright: light-dark(#fff7fa, #322931);
        --md-sys-color-surface-container: light-dark(#f7eaf2, #1e181d);
        --md-sys-color-surface-container-high: light-dark(#f2e4ed, #241d24);
        --md-sys-color-surface-container-highest: light-dark(#eddee9, #2c232b);
        --md-sys-color-surface-container-low: light-dark(#fdf0f7, #171216);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#e5d6e0, #110d11);
        --md-sys-color-surface-tint: light-dark(#7a517a, #b892b5);
        --md-sys-color-surface-variant: light-dark(#eddee9, #2c232b);
        --md-sys-color-tertiary: light-dark(#865058, #cd8d95);
        --md-sys-color-tertiary-container: light-dark(#fdb7c0, #fdb7c0);
        --md-sys-color-tertiary-dim: light-dark(#905860, #9e646d);
        --md-sys-color-tertiary-fixed: light-dark(#fdb7c0, #fdb7c0);
        --md-sys-color-tertiary-fixed-dim: light-dark(#edaab2, #edaab2);
        --md-sys-color-tertiary-palette-key-color: light-dark(#a1676f, #a1676f);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff7fa, #110d11);
        --md-sys-color-error: light-dark(#500016, #ffdddf);
        --md-sys-color-error-container: light-dark(#97283e, #ff798c);
        --md-sys-color-error-dim: light-dark(#3d000f, #ffc7cb);
        --md-sys-color-error-palette-key-color: light-dark(#c74d61, #c74d61);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#f8c4f4, #4b2e4c);
        --md-sys-color-inverse-surface: light-dark(#110d11, #fff7fa);
        --md-sys-color-neutral-palette-key-color: light-dark(#7c757a, #7c757a);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7f747d, #7f747d);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffced2, #5f001c);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#fecafa, #3e223f);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #270d29);
        --md-sys-color-on-secondary: light-dark(#ecd2e8, #372737);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #2a1a2a);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#2a2129, #f0e1ec);
        --md-sys-color-on-tertiary: light-dark(#ffced3, #4a1e26);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #2c070f);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-outline: light-dark(#4a4048, #c3b5bf);
        --md-sys-color-outline-variant: light-dark(#594f57, #ada0a9);
        --md-sys-color-primary: light-dark(#39163b, #ffdafb);
        --md-sys-color-primary-container: light-dark(#6c446d, #be98bb);
        --md-sys-color-primary-dim: light-dark(#2d0b30, #f4cbf0);
        --md-sys-color-primary-fixed: light-dark(#6c446d, #f7cdf3);
        --md-sys-color-primary-fixed-dim: light-dark(#5f3960, #e8bfe5);
        --md-sys-color-primary-palette-key-color: light-dark(#946994, #8f6c8d);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#2e1f2e, #f8def3);
        --md-sys-color-secondary-container: light-dark(#5f4c5e, #b49db1);
        --md-sys-color-secondary-dim: light-dark(#241524, #ead0e5);
        --md-sys-color-secondary-fixed: light-dark(#5f4c5e, #f5dbf0);
        --md-sys-color-secondary-fixed-dim: light-dark(#534152, #e7cde2);
        --md-sys-color-secondary-palette-key-color: light-dark(#867184, #867184);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff7fa, #110d11);
        --md-sys-color-surface-bright: light-dark(#fff7fa, #322931);
        --md-sys-color-surface-container: light-dark(#f7eaf2, #1e181d);
        --md-sys-color-surface-container-high: light-dark(#f2e4ed, #241d24);
        --md-sys-color-surface-container-highest: light-dark(#eddee9, #2c232b);
        --md-sys-color-surface-container-low: light-dark(#fdf0f7, #171216);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#e5d6e0, #110d11);
        --md-sys-color-surface-tint: light-dark(#39163b, #ffdafb);
        --md-sys-color-surface-variant: light-dark(#eddee9, #2c232b);
        --md-sys-color-tertiary: light-dark(#40161e, #ffdde0);
        --md-sys-color-tertiary-container: light-dark(#77434b, #fdb7c0);
        --md-sys-color-tertiary-dim: light-dark(#330c14, #ffc6cd);
        --md-sys-color-tertiary-fixed: light-dark(#77434b, #fdb7c0);
        --md-sys-color-tertiary-fixed-dim: light-dark(#693840, #edaab2);
        --md-sys-color-tertiary-palette-key-color: light-dark(#a1676f, #a1676f);
    }

}
