:root {
    --md-sys-color-background: light-dark(#fff8f1, #000000);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f9f0e2, #343027);
    --md-sys-color-inverse-primary: light-dark(#e4c36c, #745b0c);
    --md-sys-color-inverse-surface: light-dark(#343027, #eae1d4);
    --md-sys-color-neutral-palette-key-color: light-dark(#7c766b, #7c766b);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7e7667, #7e7667);
    --md-sys-color-on-background: light-dark(#1f1b13, #eae1d4);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #3d2e00);
    --md-sys-color-on-primary-container: light-dark(#584400, #ffdf90);
    --md-sys-color-on-primary-fixed: light-dark(#241a00, #241a00);
    --md-sys-color-on-primary-fixed-variant: light-dark(#584400, #584400);
    --md-sys-color-on-secondary: light-dark(#ffffff, #392f15);
    --md-sys-color-on-secondary-container: light-dark(#51462a, #f2e1bb);
    --md-sys-color-on-secondary-fixed: light-dark(#231b04, #231b04);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#51462a, #51462a);
    --md-sys-color-on-surface: light-dark(#1f1b13, #eae1d4);
    --md-sys-color-on-surface-variant: light-dark(#4c4639, #cfc5b4);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #1a361e);
    --md-sys-color-on-tertiary-container: light-dark(#304d33, #c9ecc8);
    --md-sys-color-on-tertiary-fixed: light-dark(#04210b, #04210b);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#304d33, #304d33);
    --md-sys-color-outline: light-dark(#7e7667, #989080);
    --md-sys-color-outline-variant: light-dark(#cfc5b4, #4c4639);
    --md-sys-color-primary: light-dark(#745b0c, #e4c36c);
    --md-sys-color-primary-container: light-dark(#ffdf90, #584400);
    --md-sys-color-primary-fixed: light-dark(#ffdf90, #ffdf90);
    --md-sys-color-primary-fixed-dim: light-dark(#e4c36c, #e4c36c);
    --md-sys-color-primary-palette-key-color: light-dark(#8f7426, #8f7426);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#695d3f, #d5c5a0);
    --md-sys-color-secondary-container: light-dark(#f2e1bb, #51462a);
    --md-sys-color-secondary-fixed: light-dark(#f2e1bb, #f2e1bb);
    --md-sys-color-secondary-fixed-dim: light-dark(#d5c5a0, #d5c5a0);
    --md-sys-color-secondary-palette-key-color: light-dark(#837656, #837656);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f1, #000000);
    --md-sys-color-surface-bright: light-dark(#fff8f1, #3d392f);
    --md-sys-color-surface-container: light-dark(#f6eddf, #231f17);
    --md-sys-color-surface-container-high: light-dark(#f0e7d9, #2e2a21);
    --md-sys-color-surface-container-highest: light-dark(#eae1d4, #39342b);
    --md-sys-color-surface-container-low: light-dark(#fbf2e5, #1f1b13);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#e1d9cc, #16130b);
    --md-sys-color-surface-tint: light-dark(#745b0c, #e4c36c);
    --md-sys-color-surface-variant: light-dark(#ece1cf, #4c4639);
    --md-sys-color-tertiary: light-dark(#476649, #adcfad);
    --md-sys-color-tertiary-container: light-dark(#c9ecc8, #304d33);
    --md-sys-color-tertiary-fixed: light-dark(#c9ecc8, #c9ecc8);
    --md-sys-color-tertiary-fixed-dim: light-dark(#adcfad, #adcfad);
    --md-sys-color-tertiary-palette-key-color: light-dark(#607f61, #607f61);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff8f1, #000000);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#9e978b, #696459);
        --md-sys-color-inverse-primary: light-dark(#927728, #997d2e);
        --md-sys-color-inverse-surface: light-dark(#343027, #eae1d4);
        --md-sys-color-neutral-palette-key-color: light-dark(#7c766b, #7c766b);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7e7667, #7e7667);
        --md-sys-color-on-background: light-dark(#968f83, #676257);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fffbff, #352800);
        --md-sys-color-on-primary-container: light-dark(#927728, #9d8131);
        --md-sys-color-on-primary-fixed: light-dark(#5f4900, #e1c16a);
        --md-sys-color-on-primary-fixed-variant: light-dark(#7d6315, #bb9d4a);
        --md-sys-color-on-secondary: light-dark(#fffbff, #32290f);
        --md-sys-color-on-secondary-container: light-dark(#867959, #918362);
        --md-sys-color-on-secondary-fixed: light-dark(#564b2f, #d3c29e);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#726547, #ae9f7c);
        --md-sys-color-on-surface: light-dark(#645e54, #a9a296);
        --md-sys-color-on-surface-variant: light-dark(#827a6b, #8a8273);
        --md-sys-color-on-tertiary: light-dark(#f7fff2, #133018);
        --md-sys-color-on-tertiary-container: light-dark(#628264, #6c8c6d);
        --md-sys-color-on-tertiary-fixed: light-dark(#365338, #abcdab);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#4f6e51, #88a888);
        --md-sys-color-outline: light-dark(#bab1a0, #5a5346);
        --md-sys-color-outline-variant: light-dark(#e2d8c6, #3f392d);
        --md-sys-color-primary: light-dark(#8c7123, #aa8d3d);
        --md-sys-color-primary-container: light-dark(#f8d57d, #493800);
        --md-sys-color-primary-fixed: light-dark(#f8d57d, #654e00);
        --md-sys-color-primary-fixed-dim: light-dark(#daba64, #493800);
        --md-sys-color-primary-palette-key-color: light-dark(#8f7426, #8f7426);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#807354, #9e8f6e);
        --md-sys-color-secondary-container: light-dark(#e8d7b2, #43391e);
        --md-sys-color-secondary-fixed: light-dark(#e8d7b2, #5b5033);
        --md-sys-color-secondary-fixed-dim: light-dark(#ccbc98, #43391e);
        --md-sys-color-secondary-palette-key-color: light-dark(#837656, #837656);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f1, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f1, #3d392f);
        --md-sys-color-surface-container: light-dark(#f6eddf, #231f17);
        --md-sys-color-surface-container-high: light-dark(#f0e7d9, #2e2a21);
        --md-sys-color-surface-container-highest: light-dark(#eae1d4, #39342b);
        --md-sys-color-surface-container-low: light-dark(#fbf2e5, #1f1b13);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#e1d9cc, #16130b);
        --md-sys-color-surface-tint: light-dark(#745b0c, #e4c36c);
        --md-sys-color-surface-variant: light-dark(#ece1cf, #4c4639);
        --md-sys-color-tertiary: light-dark(#5d7c5f, #799979);
        --md-sys-color-tertiary-container: light-dark(#c0e2bf, #244027);
        --md-sys-color-tertiary-fixed: light-dark(#c0e2bf, #3a583d);
        --md-sys-color-tertiary-fixed-dim: light-dark(#a4c6a4, #244027);
        --md-sys-color-tertiary-palette-key-color: light-dark(#607f61, #607f61);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff8f1, #000000);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#e4c36c, #5a4500);
        --md-sys-color-inverse-surface: light-dark(#343027, #eae1d4);
        --md-sys-color-neutral-palette-key-color: light-dark(#7c766b, #7c766b);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7e7667, #7e7667);
        --md-sys-color-on-background: light-dark(#1f1b13, #eae1d4);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #100a00);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #181000);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #100a00);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #181000);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #000f03);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #001504);
        --md-sys-color-outline: light-dark(#312c20, #f9efdc);
        --md-sys-color-outline-variant: light-dark(#4f493b, #cbc2b0);
        --md-sys-color-primary: light-dark(#382a00, #ffeecc);
        --md-sys-color-primary-container: light-dark(#5b4600, #e0bf69);
        --md-sys-color-primary-fixed: light-dark(#5b4600, #ffdf90);
        --md-sys-color-primary-fixed-dim: light-dark(#403100, #e4c36c);
        --md-sys-color-primary-palette-key-color: light-dark(#8f7426, #8f7426);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#352b12, #ffeecc);
        --md-sys-color-secondary-container: light-dark(#53482c, #d1c19d);
        --md-sys-color-secondary-fixed: light-dark(#53482c, #f2e1bb);
        --md-sys-color-secondary-fixed-dim: light-dark(#3b3217, #d5c5a0);
        --md-sys-color-secondary-palette-key-color: light-dark(#837656, #837656);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f1, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f1, #554f45);
        --md-sys-color-surface-container: light-dark(#eae1d4, #343027);
        --md-sys-color-surface-container-high: light-dark(#dcd3c6, #3f3b31);
        --md-sys-color-surface-container-highest: light-dark(#cdc5b9, #4b463c);
        --md-sys-color-surface-container-low: light-dark(#f9f0e2, #231f17);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#bfb8ab, #16130b);
        --md-sys-color-surface-tint: light-dark(#745b0c, #e4c36c);
        --md-sys-color-surface-variant: light-dark(#ece1cf, #4c4639);
        --md-sys-color-tertiary: light-dark(#15321a, #d6f9d5);
        --md-sys-color-tertiary-container: light-dark(#335035, #aacba9);
        --md-sys-color-tertiary-fixed: light-dark(#335035, #c9ecc8);
        --md-sys-color-tertiary-fixed-dim: light-dark(#1c3920, #adcfad);
        --md-sys-color-tertiary-palette-key-color: light-dark(#607f61, #607f61);
    }

}
