:root {
    --md-sys-color-background: light-dark(#f9f9f9, #131313);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f1f1f1, #303030);
    --md-sys-color-inverse-primary: light-dark(#ffb1c8, #984060);
    --md-sys-color-inverse-surface: light-dark(#303030, #e2e2e2);
    --md-sys-color-neutral-palette-key-color: light-dark(#777777, #777777);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#777777, #777777);
    --md-sys-color-on-background: light-dark(#1b1b1b, #e2e2e2);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #5e1132);
    --md-sys-color-on-primary-container: light-dark(#7b2949, #ffd9e2);
    --md-sys-color-on-primary-fixed: light-dark(#3e001d, #3e001d);
    --md-sys-color-on-primary-fixed-variant: light-dark(#7b2949, #7b2949);
    --md-sys-color-on-secondary: light-dark(#ffffff, #422931);
    --md-sys-color-on-secondary-container: light-dark(#5b3f47, #ffd9e2);
    --md-sys-color-on-secondary-fixed: light-dark(#2b151c, #2b151c);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#5b3f47, #5b3f47);
    --md-sys-color-on-surface: light-dark(#1b1b1b, #e2e2e2);
    --md-sys-color-on-surface-variant: light-dark(#474747, #c6c6c6);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #48290b);
    --md-sys-color-on-tertiary-container: light-dark(#613f20, #ffdcc1);
    --md-sys-color-on-tertiary-fixed: light-dark(#2e1500, #2e1500);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#613f20, #613f20);
    --md-sys-color-outline: light-dark(#777777, #919191);
    --md-sys-color-outline-variant: light-dark(#c6c6c6, #474747);
    --md-sys-color-primary: light-dark(#984060, #ffb1c8);
    --md-sys-color-primary-container: light-dark(#ffd9e2, #7b2949);
    --md-sys-color-primary-fixed: light-dark(#ffd9e2, #ffd9e2);
    --md-sys-color-primary-fixed-dim: light-dark(#ffb1c8, #ffb1c8);
    --md-sys-color-primary-palette-key-color: light-dark(#b75879, #b75879);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#74565f, #e3bdc6);
    --md-sys-color-secondary-container: light-dark(#ffd9e2, #5b3f47);
    --md-sys-color-secondary-fixed: light-dark(#ffd9e2, #ffd9e2);
    --md-sys-color-secondary-fixed-dim: light-dark(#e3bdc6, #e3bdc6);
    --md-sys-color-secondary-palette-key-color: light-dark(#8f6f77, #8f6f77);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f9f9f9, #131313);
    --md-sys-color-surface-bright: light-dark(#f9f9f9, #393939);
    --md-sys-color-surface-container: light-dark(#eeeeee, #1f1f1f);
    --md-sys-color-surface-container-high: light-dark(#e8e8e8, #2a2a2a);
    --md-sys-color-surface-container-highest: light-dark(#e2e2e2, #353535);
    --md-sys-color-surface-container-low: light-dark(#f3f3f3, #1b1b1b);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0e0e0e);
    --md-sys-color-surface-dim: light-dark(#dadada, #131313);
    --md-sys-color-surface-tint: light-dark(#984060, #ffb1c8);
    --md-sys-color-surface-variant: light-dark(#e2e2e2, #474747);
    --md-sys-color-tertiary: light-dark(#7c5635, #efbd94);
    --md-sys-color-tertiary-container: light-dark(#ffdcc1, #613f20);
    --md-sys-color-tertiary-fixed: light-dark(#ffdcc1, #ffdcc1);
    --md-sys-color-tertiary-fixed-dim: light-dark(#efbd94, #efbd94);
    --md-sys-color-tertiary-palette-key-color: light-dark(#986f4b, #986f4b);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#f9f9f9, #131313);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#989898, #646464);
        --md-sys-color-inverse-primary: light-dark(#ba5b7c, #c26183);
        --md-sys-color-inverse-surface: light-dark(#303030, #e2e2e2);
        --md-sys-color-neutral-palette-key-color: light-dark(#777777, #777777);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#777777, #777777);
        --md-sys-color-on-background: light-dark(#909090, #626262);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fffbff, #55082b);
        --md-sys-color-on-primary-container: light-dark(#ba5b7c, #c66586);
        --md-sys-color-on-primary-fixed: light-dark(#822e4e, #ffadc5);
        --md-sys-color-on-primary-fixed-variant: light-dark(#a24868, #e780a2);
        --md-sys-color-on-secondary: light-dark(#fffbff, #3b232a);
        --md-sys-color-on-secondary-container: light-dark(#92717a, #9c7b84);
        --md-sys-color-on-secondary-fixed: light-dark(#60454c, #e0bac4);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#7d5e66, #ba97a0);
        --md-sys-color-on-surface: light-dark(#5f5f5f, #a3a3a3);
        --md-sys-color-on-surface-variant: light-dark(#7b7b7b, #838383);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #402306);
        --md-sys-color-on-tertiary-container: light-dark(#9b714d, #a67b57);
        --md-sys-color-on-tertiary-fixed: light-dark(#684424, #ecba91);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#855e3c, #c59770);
        --md-sys-color-outline: light-dark(#b2b2b2, #545454);
        --md-sys-color-outline-variant: light-dark(#d9d9d9, #3a3a3a);
        --md-sys-color-primary: light-dark(#b45677, #d57193);
        --md-sys-color-primary-container: light-dark(#ffcbd9, #6b1b3c);
        --md-sys-color-primary-fixed: light-dark(#ffcbd9, #883353);
        --md-sys-color-primary-fixed-dim: light-dark(#ffa2bf, #6b1b3c);
        --md-sys-color-primary-palette-key-color: light-dark(#b75879, #b75879);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#8c6c75, #aa8891);
        --md-sys-color-secondary-container: light-dark(#f6cfd8, #4d333a);
        --md-sys-color-secondary-fixed: light-dark(#f6cfd8, #664951);
        --md-sys-color-secondary-fixed-dim: light-dark(#d9b4bd, #4d333a);
        --md-sys-color-secondary-palette-key-color: light-dark(#8f6f77, #8f6f77);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f9f9f9, #131313);
        --md-sys-color-surface-bright: light-dark(#f9f9f9, #393939);
        --md-sys-color-surface-container: light-dark(#eeeeee, #1f1f1f);
        --md-sys-color-surface-container-high: light-dark(#e8e8e8, #2a2a2a);
        --md-sys-color-surface-container-highest: light-dark(#e2e2e2, #353535);
        --md-sys-color-surface-container-low: light-dark(#f3f3f3, #1b1b1b);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0e0e0e);
        --md-sys-color-surface-dim: light-dark(#dadada, #131313);
        --md-sys-color-surface-tint: light-dark(#984060, #ffb1c8);
        --md-sys-color-surface-variant: light-dark(#e2e2e2, #474747);
        --md-sys-color-tertiary: light-dark(#956c49, #b48862);
        --md-sys-color-tertiary-container: light-dark(#ffd0aa, #533314);
        --md-sys-color-tertiary-fixed: light-dark(#ffd0aa, #6d4929);
        --md-sys-color-tertiary-fixed-dim: light-dark(#e5b38b, #533314);
        --md-sys-color-tertiary-palette-key-color: light-dark(#986f4b, #986f4b);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#f9f9f9, #131313);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#ffb1c8, #7c2a4a);
        --md-sys-color-inverse-surface: light-dark(#303030, #e2e2e2);
        --md-sys-color-neutral-palette-key-color: light-dark(#777777, #777777);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#777777, #777777);
        --md-sys-color-on-background: light-dark(#1b1b1b, #e2e2e2);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #20000c);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #2b0012);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #18060c);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #1f0b12);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #160800);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #1f0c00);
        --md-sys-color-outline: light-dark(#2c2c2c, #f0f0f0);
        --md-sys-color-outline-variant: light-dark(#494949, #c2c2c2);
        --md-sys-color-primary: light-dark(#580b2e, #ffebef);
        --md-sys-color-primary-container: light-dark(#7e2b4b, #ffabc4);
        --md-sys-color-primary-fixed: light-dark(#7e2b4b, #ffd9e2);
        --md-sys-color-primary-fixed-dim: light-dark(#611334, #ffb1c8);
        --md-sys-color-primary-palette-key-color: light-dark(#b75879, #b75879);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#3d252c, #ffebef);
        --md-sys-color-secondary-container: light-dark(#5d4249, #dfb9c2);
        --md-sys-color-secondary-fixed: light-dark(#5d4249, #ffd9e2);
        --md-sys-color-secondary-fixed-dim: light-dark(#452c33, #e3bdc6);
        --md-sys-color-secondary-palette-key-color: light-dark(#8f6f77, #8f6f77);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f9f9f9, #131313);
        --md-sys-color-surface-bright: light-dark(#f9f9f9, #505050);
        --md-sys-color-surface-container: light-dark(#e2e2e2, #303030);
        --md-sys-color-surface-container-high: light-dark(#d4d4d4, #3b3b3b);
        --md-sys-color-surface-container-highest: light-dark(#c6c6c6, #474747);
        --md-sys-color-surface-container-low: light-dark(#f1f1f1, #1f1f1f);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#b9b9b9, #131313);
        --md-sys-color-surface-tint: light-dark(#984060, #ffb1c8);
        --md-sys-color-surface-variant: light-dark(#e2e2e2, #474747);
        --md-sys-color-tertiary: light-dark(#432507, #ffede0);
        --md-sys-color-tertiary-container: light-dark(#644122, #eab990);
        --md-sys-color-tertiary-fixed: light-dark(#644122, #ffdcc1);
        --md-sys-color-tertiary-fixed-dim: light-dark(#4a2b0d, #efbd94);
        --md-sys-color-tertiary-palette-key-color: light-dark(#986f4b, #986f4b);
    }

}
