@theme inline {
    --color-primary-0          : var(--md-sys-palette-primary-0, #000000);
    --color-primary-1          : var(--md-sys-palette-primary-1, #020500);
    --color-primary-2          : var(--md-sys-palette-primary-2, #040900);
    --color-primary-3          : var(--md-sys-palette-primary-3, #060d00);
    --color-primary-4          : var(--md-sys-palette-primary-4, #081100);
    --color-primary-5          : var(--md-sys-palette-primary-5, #091400);
    --color-primary-6          : var(--md-sys-palette-primary-6, #0b1600);
    --color-primary-7          : var(--md-sys-palette-primary-7, #0d1900);
    --color-primary-8          : var(--md-sys-palette-primary-8, #0e1b00);
    --color-primary-9          : var(--md-sys-palette-primary-9, #101d00);
    --color-primary-10         : var(--md-sys-palette-primary-10, #111f00);
    --color-primary-11         : var(--md-sys-palette-primary-11, #132200);
    --color-primary-12         : var(--md-sys-palette-primary-12, #152400);
    --color-primary-13         : var(--md-sys-palette-primary-13, #162600);
    --color-primary-14         : var(--md-sys-palette-primary-14, #182800);
    --color-primary-15         : var(--md-sys-palette-primary-15, #192b00);
    --color-primary-16         : var(--md-sys-palette-primary-16, #1b2d00);
    --color-primary-17         : var(--md-sys-palette-primary-17, #1c2f00);
    --color-primary-18         : var(--md-sys-palette-primary-18, #1e3200);
    --color-primary-19         : var(--md-sys-palette-primary-19, #203400);
    --color-primary-20         : var(--md-sys-palette-primary-20, #213600);
    --color-primary-21         : var(--md-sys-palette-primary-21, #233900);
    --color-primary-22         : var(--md-sys-palette-primary-22, #253b00);
    --color-primary-23         : var(--md-sys-palette-primary-23, #263d00);
    --color-primary-24         : var(--md-sys-palette-primary-24, #284000);
    --color-primary-25         : var(--md-sys-palette-primary-25, #2a4200);
    --color-primary-26         : var(--md-sys-palette-primary-26, #2b4500);
    --color-primary-27         : var(--md-sys-palette-primary-27, #2d4700);
    --color-primary-28         : var(--md-sys-palette-primary-28, #2f4a00);
    --color-primary-29         : var(--md-sys-palette-primary-29, #304c00);
    --color-primary-30         : var(--md-sys-palette-primary-30, #324f00);
    --color-primary-31         : var(--md-sys-palette-primary-31, #345100);
    --color-primary-32         : var(--md-sys-palette-primary-32, #365400);
    --color-primary-33         : var(--md-sys-palette-primary-33, #375600);
    --color-primary-34         : var(--md-sys-palette-primary-34, #395900);
    --color-primary-35         : var(--md-sys-palette-primary-35, #3b5b00);
    --color-primary-36         : var(--md-sys-palette-primary-36, #3d5e00);
    --color-primary-37         : var(--md-sys-palette-primary-37, #3f6100);
    --color-primary-38         : var(--md-sys-palette-primary-38, #406300);
    --color-primary-39         : var(--md-sys-palette-primary-39, #426600);
    --color-primary-40         : var(--md-sys-palette-primary-40, #446900);
    --color-primary-41         : var(--md-sys-palette-primary-41, #466b00);
    --color-primary-42         : var(--md-sys-palette-primary-42, #486e00);
    --color-primary-43         : var(--md-sys-palette-primary-43, #4a7100);
    --color-primary-44         : var(--md-sys-palette-primary-44, #4b7300);
    --color-primary-45         : var(--md-sys-palette-primary-45, #4d7600);
    --color-primary-46         : var(--md-sys-palette-primary-46, #4f7900);
    --color-primary-47         : var(--md-sys-palette-primary-47, #517b00);
    --color-primary-48         : var(--md-sys-palette-primary-48, #537e00);
    --color-primary-49         : var(--md-sys-palette-primary-49, #558100);
    --color-primary-50         : var(--md-sys-palette-primary-50, #578400);
    --color-primary-51         : var(--md-sys-palette-primary-51, #598604);
    --color-primary-52         : var(--md-sys-palette-primary-52, #5c8908);
    --color-primary-53         : var(--md-sys-palette-primary-53, #5e8c0d);
    --color-primary-54         : var(--md-sys-palette-primary-54, #608e11);
    --color-primary-55         : var(--md-sys-palette-primary-55, #639114);
    --color-primary-56         : var(--md-sys-palette-primary-56, #659417);
    --color-primary-57         : var(--md-sys-palette-primary-57, #68961b);
    --color-primary-58         : var(--md-sys-palette-primary-58, #6a991e);
    --color-primary-59         : var(--md-sys-palette-primary-59, #6d9c21);
    --color-primary-60         : var(--md-sys-palette-primary-60, #6f9e23);
    --color-primary-61         : var(--md-sys-palette-primary-61, #72a126);
    --color-primary-62         : var(--md-sys-palette-primary-62, #74a429);
    --color-primary-63         : var(--md-sys-palette-primary-63, #77a72c);
    --color-primary-64         : var(--md-sys-palette-primary-64, #79a92e);
    --color-primary-65         : var(--md-sys-palette-primary-65, #7cac31);
    --color-primary-66         : var(--md-sys-palette-primary-66, #7eaf33);
    --color-primary-67         : var(--md-sys-palette-primary-67, #81b236);
    --color-primary-68         : var(--md-sys-palette-primary-68, #83b438);
    --color-primary-69         : var(--md-sys-palette-primary-69, #86b73b);
    --color-primary-70         : var(--md-sys-palette-primary-70, #89ba3d);
    --color-primary-71         : var(--md-sys-palette-primary-71, #8bbd40);
    --color-primary-72         : var(--md-sys-palette-primary-72, #8ec042);
    --color-primary-73         : var(--md-sys-palette-primary-73, #90c245);
    --color-primary-74         : var(--md-sys-palette-primary-74, #93c547);
    --color-primary-75         : var(--md-sys-palette-primary-75, #96c84a);
    --color-primary-76         : var(--md-sys-palette-primary-76, #98cb4c);
    --color-primary-77         : var(--md-sys-palette-primary-77, #9bce4f);
    --color-primary-78         : var(--md-sys-palette-primary-78, #9ed151);
    --color-primary-79         : var(--md-sys-palette-primary-79, #a0d354);
    --color-primary-80         : var(--md-sys-palette-primary-80, #a3d656);
    --color-primary-81         : var(--md-sys-palette-primary-81, #a6d959);
    --color-primary-82         : var(--md-sys-palette-primary-82, #a8dc5b);
    --color-primary-83         : var(--md-sys-palette-primary-83, #abdf5e);
    --color-primary-84         : var(--md-sys-palette-primary-84, #aee260);
    --color-primary-85         : var(--md-sys-palette-primary-85, #b0e563);
    --color-primary-86         : var(--md-sys-palette-primary-86, #b3e865);
    --color-primary-87         : var(--md-sys-palette-primary-87, #b6ea68);
    --color-primary-88         : var(--md-sys-palette-primary-88, #b8ed6a);
    --color-primary-89         : var(--md-sys-palette-primary-89, #bbf06d);
    --color-primary-90         : var(--md-sys-palette-primary-90, #bef36f);
    --color-primary-91         : var(--md-sys-palette-primary-91, #c1f672);
    --color-primary-92         : var(--md-sys-palette-primary-92, #c3f974);
    --color-primary-93         : var(--md-sys-palette-primary-93, #c6fc77);
    --color-primary-94         : var(--md-sys-palette-primary-94, #c9ff79);
    --color-primary-95         : var(--md-sys-palette-primary-95, #d4ff94);
    --color-primary-96         : var(--md-sys-palette-primary-96, #deffab);
    --color-primary-97         : var(--md-sys-palette-primary-97, #e8ffc1);
    --color-primary-98         : var(--md-sys-palette-primary-98, #f0ffd5);
    --color-primary-99         : var(--md-sys-palette-primary-99, #f9ffe7);
    --color-primary-100        : var(--md-sys-palette-primary-100, #ffffff);
    --color-secondary-0        : var(--md-sys-palette-secondary-0, #000000);
    --color-secondary-1        : var(--md-sys-palette-secondary-1, #020500);
    --color-secondary-2        : var(--md-sys-palette-secondary-2, #040900);
    --color-secondary-3        : var(--md-sys-palette-secondary-3, #060d00);
    --color-secondary-4        : var(--md-sys-palette-secondary-4, #081100);
    --color-secondary-5        : var(--md-sys-palette-secondary-5, #091400);
    --color-secondary-6        : var(--md-sys-palette-secondary-6, #0b1600);
    --color-secondary-7        : var(--md-sys-palette-secondary-7, #0d1900);
    --color-secondary-8        : var(--md-sys-palette-secondary-8, #0e1b00);
    --color-secondary-9        : var(--md-sys-palette-secondary-9, #101d00);
    --color-secondary-10       : var(--md-sys-palette-secondary-10, #111f00);
    --color-secondary-11       : var(--md-sys-palette-secondary-11, #132200);
    --color-secondary-12       : var(--md-sys-palette-secondary-12, #152400);
    --color-secondary-13       : var(--md-sys-palette-secondary-13, #162600);
    --color-secondary-14       : var(--md-sys-palette-secondary-14, #182800);
    --color-secondary-15       : var(--md-sys-palette-secondary-15, #1a2a01);
    --color-secondary-16       : var(--md-sys-palette-secondary-16, #1c2d02);
    --color-secondary-17       : var(--md-sys-palette-secondary-17, #1e2f04);
    --color-secondary-18       : var(--md-sys-palette-secondary-18, #203105);
    --color-secondary-19       : var(--md-sys-palette-secondary-19, #223307);
    --color-secondary-20       : var(--md-sys-palette-secondary-20, #243609);
    --color-secondary-21       : var(--md-sys-palette-secondary-21, #26380b);
    --color-secondary-22       : var(--md-sys-palette-secondary-22, #283a0d);
    --color-secondary-23       : var(--md-sys-palette-secondary-23, #2a3c0f);
    --color-secondary-24       : var(--md-sys-palette-secondary-24, #2d3f11);
    --color-secondary-25       : var(--md-sys-palette-secondary-25, #2f4114);
    --color-secondary-26       : var(--md-sys-palette-secondary-26, #314316);
    --color-secondary-27       : var(--md-sys-palette-secondary-27, #334618);
    --color-secondary-28       : var(--md-sys-palette-secondary-28, #35481a);
    --color-secondary-29       : var(--md-sys-palette-secondary-29, #384a1c);
    --color-secondary-30       : var(--md-sys-palette-secondary-30, #3a4d1e);
    --color-secondary-31       : var(--md-sys-palette-secondary-31, #3c4f20);
    --color-secondary-32       : var(--md-sys-palette-secondary-32, #3e5122);
    --color-secondary-33       : var(--md-sys-palette-secondary-33, #415424);
    --color-secondary-34       : var(--md-sys-palette-secondary-34, #435626);
    --color-secondary-35       : var(--md-sys-palette-secondary-35, #455929);
    --color-secondary-36       : var(--md-sys-palette-secondary-36, #485b2b);
    --color-secondary-37       : var(--md-sys-palette-secondary-37, #4a5d2d);
    --color-secondary-38       : var(--md-sys-palette-secondary-38, #4c602f);
    --color-secondary-39       : var(--md-sys-palette-secondary-39, #4f6231);
    --color-secondary-40       : var(--md-sys-palette-secondary-40, #516533);
    --color-secondary-41       : var(--md-sys-palette-secondary-41, #536736);
    --color-secondary-42       : var(--md-sys-palette-secondary-42, #566a38);
    --color-secondary-43       : var(--md-sys-palette-secondary-43, #586c3a);
    --color-secondary-44       : var(--md-sys-palette-secondary-44, #5a6f3c);
    --color-secondary-45       : var(--md-sys-palette-secondary-45, #5d713e);
    --color-secondary-46       : var(--md-sys-palette-secondary-46, #5f7441);
    --color-secondary-47       : var(--md-sys-palette-secondary-47, #627643);
    --color-secondary-48       : var(--md-sys-palette-secondary-48, #647945);
    --color-secondary-49       : var(--md-sys-palette-secondary-49, #677b48);
    --color-secondary-50       : var(--md-sys-palette-secondary-50, #697e4a);
    --color-secondary-51       : var(--md-sys-palette-secondary-51, #6c814c);
    --color-secondary-52       : var(--md-sys-palette-secondary-52, #6e834e);
    --color-secondary-53       : var(--md-sys-palette-secondary-53, #718651);
    --color-secondary-54       : var(--md-sys-palette-secondary-54, #738853);
    --color-secondary-55       : var(--md-sys-palette-secondary-55, #768b55);
    --color-secondary-56       : var(--md-sys-palette-secondary-56, #788e58);
    --color-secondary-57       : var(--md-sys-palette-secondary-57, #7b905a);
    --color-secondary-58       : var(--md-sys-palette-secondary-58, #7d935c);
    --color-secondary-59       : var(--md-sys-palette-secondary-59, #80955f);
    --color-secondary-60       : var(--md-sys-palette-secondary-60, #829861);
    --color-secondary-61       : var(--md-sys-palette-secondary-61, #859b64);
    --color-secondary-62       : var(--md-sys-palette-secondary-62, #889d66);
    --color-secondary-63       : var(--md-sys-palette-secondary-63, #8aa068);
    --color-secondary-64       : var(--md-sys-palette-secondary-64, #8da36b);
    --color-secondary-65       : var(--md-sys-palette-secondary-65, #8fa56d);
    --color-secondary-66       : var(--md-sys-palette-secondary-66, #92a870);
    --color-secondary-67       : var(--md-sys-palette-secondary-67, #95ab72);
    --color-secondary-68       : var(--md-sys-palette-secondary-68, #97ae75);
    --color-secondary-69       : var(--md-sys-palette-secondary-69, #9ab077);
    --color-secondary-70       : var(--md-sys-palette-secondary-70, #9db37a);
    --color-secondary-71       : var(--md-sys-palette-secondary-71, #9fb67c);
    --color-secondary-72       : var(--md-sys-palette-secondary-72, #a2b87e);
    --color-secondary-73       : var(--md-sys-palette-secondary-73, #a5bb81);
    --color-secondary-74       : var(--md-sys-palette-secondary-74, #a7be83);
    --color-secondary-75       : var(--md-sys-palette-secondary-75, #aac186);
    --color-secondary-76       : var(--md-sys-palette-secondary-76, #adc489);
    --color-secondary-77       : var(--md-sys-palette-secondary-77, #afc68b);
    --color-secondary-78       : var(--md-sys-palette-secondary-78, #b2c98e);
    --color-secondary-79       : var(--md-sys-palette-secondary-79, #b5cc90);
    --color-secondary-80       : var(--md-sys-palette-secondary-80, #b7cf93);
    --color-secondary-81       : var(--md-sys-palette-secondary-81, #bad195);
    --color-secondary-82       : var(--md-sys-palette-secondary-82, #bdd498);
    --color-secondary-83       : var(--md-sys-palette-secondary-83, #c0d79a);
    --color-secondary-84       : var(--md-sys-palette-secondary-84, #c2da9d);
    --color-secondary-85       : var(--md-sys-palette-secondary-85, #c5dda0);
    --color-secondary-86       : var(--md-sys-palette-secondary-86, #c8e0a2);
    --color-secondary-87       : var(--md-sys-palette-secondary-87, #cbe2a5);
    --color-secondary-88       : var(--md-sys-palette-secondary-88, #cee5a7);
    --color-secondary-89       : var(--md-sys-palette-secondary-89, #d0e8aa);
    --color-secondary-90       : var(--md-sys-palette-secondary-90, #d3ebad);
    --color-secondary-91       : var(--md-sys-palette-secondary-91, #d6eeaf);
    --color-secondary-92       : var(--md-sys-palette-secondary-92, #d9f1b2);
    --color-secondary-93       : var(--md-sys-palette-secondary-93, #dcf4b5);
    --color-secondary-94       : var(--md-sys-palette-secondary-94, #dff7b7);
    --color-secondary-95       : var(--md-sys-palette-secondary-95, #e1f9ba);
    --color-secondary-96       : var(--md-sys-palette-secondary-96, #e4fcbd);
    --color-secondary-97       : var(--md-sys-palette-secondary-97, #e8ffc1);
    --color-secondary-98       : var(--md-sys-palette-secondary-98, #f0ffd5);
    --color-secondary-99       : var(--md-sys-palette-secondary-99, #f9ffe7);
    --color-secondary-100      : var(--md-sys-palette-secondary-100, #ffffff);
    --color-tertiary-0         : var(--md-sys-palette-tertiary-0, #000000);
    --color-tertiary-1         : var(--md-sys-palette-tertiary-1, #000502);
    --color-tertiary-2         : var(--md-sys-palette-tertiary-2, #000a04);
    --color-tertiary-3         : var(--md-sys-palette-tertiary-3, #000e07);
    --color-tertiary-4         : var(--md-sys-palette-tertiary-4, #001209);
    --color-tertiary-5         : var(--md-sys-palette-tertiary-5, #00150b);
    --color-tertiary-6         : var(--md-sys-palette-tertiary-6, #00180d);
    --color-tertiary-7         : var(--md-sys-palette-tertiary-7, #001a0f);
    --color-tertiary-8         : var(--md-sys-palette-tertiary-8, #001c10);
    --color-tertiary-9         : var(--md-sys-palette-tertiary-9, #001f12);
    --color-tertiary-10        : var(--md-sys-palette-tertiary-10, #002114);
    --color-tertiary-11        : var(--md-sys-palette-tertiary-11, #002315);
    --color-tertiary-12        : var(--md-sys-palette-tertiary-12, #002517);
    --color-tertiary-13        : var(--md-sys-palette-tertiary-13, #002819);
    --color-tertiary-14        : var(--md-sys-palette-tertiary-14, #002a1a);
    --color-tertiary-15        : var(--md-sys-palette-tertiary-15, #002c1c);
    --color-tertiary-16        : var(--md-sys-palette-tertiary-16, #002f1e);
    --color-tertiary-17        : var(--md-sys-palette-tertiary-17, #00311f);
    --color-tertiary-18        : var(--md-sys-palette-tertiary-18, #003321);
    --color-tertiary-19        : var(--md-sys-palette-tertiary-19, #003623);
    --color-tertiary-20        : var(--md-sys-palette-tertiary-20, #003825);
    --color-tertiary-21        : var(--md-sys-palette-tertiary-21, #003b26);
    --color-tertiary-22        : var(--md-sys-palette-tertiary-22, #003d28);
    --color-tertiary-23        : var(--md-sys-palette-tertiary-23, #00402a);
    --color-tertiary-24        : var(--md-sys-palette-tertiary-24, #00422c);
    --color-tertiary-25        : var(--md-sys-palette-tertiary-25, #00452e);
    --color-tertiary-26        : var(--md-sys-palette-tertiary-26, #00472f);
    --color-tertiary-27        : var(--md-sys-palette-tertiary-27, #004a31);
    --color-tertiary-28        : var(--md-sys-palette-tertiary-28, #004c33);
    --color-tertiary-29        : var(--md-sys-palette-tertiary-29, #004f35);
    --color-tertiary-30        : var(--md-sys-palette-tertiary-30, #005237);
    --color-tertiary-31        : var(--md-sys-palette-tertiary-31, #005439);
    --color-tertiary-32        : var(--md-sys-palette-tertiary-32, #00573b);
    --color-tertiary-33        : var(--md-sys-palette-tertiary-33, #00593c);
    --color-tertiary-34        : var(--md-sys-palette-tertiary-34, #005c3e);
    --color-tertiary-35        : var(--md-sys-palette-tertiary-35, #005f40);
    --color-tertiary-36        : var(--md-sys-palette-tertiary-36, #006142);
    --color-tertiary-37        : var(--md-sys-palette-tertiary-37, #006444);
    --color-tertiary-38        : var(--md-sys-palette-tertiary-38, #006746);
    --color-tertiary-39        : var(--md-sys-palette-tertiary-39, #006948);
    --color-tertiary-40        : var(--md-sys-palette-tertiary-40, #006c4a);
    --color-tertiary-41        : var(--md-sys-palette-tertiary-41, #006f4c);
    --color-tertiary-42        : var(--md-sys-palette-tertiary-42, #00724e);
    --color-tertiary-43        : var(--md-sys-palette-tertiary-43, #007450);
    --color-tertiary-44        : var(--md-sys-palette-tertiary-44, #007752);
    --color-tertiary-45        : var(--md-sys-palette-tertiary-45, #007a54);
    --color-tertiary-46        : var(--md-sys-palette-tertiary-46, #007d56);
    --color-tertiary-47        : var(--md-sys-palette-tertiary-47, #008058);
    --color-tertiary-48        : var(--md-sys-palette-tertiary-48, #00825a);
    --color-tertiary-49        : var(--md-sys-palette-tertiary-49, #00855c);
    --color-tertiary-50        : var(--md-sys-palette-tertiary-50, #00885e);
    --color-tertiary-51        : var(--md-sys-palette-tertiary-51, #098b60);
    --color-tertiary-52        : var(--md-sys-palette-tertiary-52, #108d63);
    --color-tertiary-53        : var(--md-sys-palette-tertiary-53, #169065);
    --color-tertiary-54        : var(--md-sys-palette-tertiary-54, #1c9368);
    --color-tertiary-55        : var(--md-sys-palette-tertiary-55, #20956a);
    --color-tertiary-56        : var(--md-sys-palette-tertiary-56, #24986d);
    --color-tertiary-57        : var(--md-sys-palette-tertiary-57, #289b6f);
    --color-tertiary-58        : var(--md-sys-palette-tertiary-58, #2c9d71);
    --color-tertiary-59        : var(--md-sys-palette-tertiary-59, #30a074);
    --color-tertiary-60        : var(--md-sys-palette-tertiary-60, #33a376);
    --color-tertiary-61        : var(--md-sys-palette-tertiary-61, #37a579);
    --color-tertiary-62        : var(--md-sys-palette-tertiary-62, #3aa87b);
    --color-tertiary-63        : var(--md-sys-palette-tertiary-63, #3dab7e);
    --color-tertiary-64        : var(--md-sys-palette-tertiary-64, #41ae80);
    --color-tertiary-65        : var(--md-sys-palette-tertiary-65, #44b083);
    --color-tertiary-66        : var(--md-sys-palette-tertiary-66, #47b385);
    --color-tertiary-67        : var(--md-sys-palette-tertiary-67, #4ab688);
    --color-tertiary-68        : var(--md-sys-palette-tertiary-68, #4db98b);
    --color-tertiary-69        : var(--md-sys-palette-tertiary-69, #50bb8d);
    --color-tertiary-70        : var(--md-sys-palette-tertiary-70, #53be90);
    --color-tertiary-71        : var(--md-sys-palette-tertiary-71, #56c192);
    --color-tertiary-72        : var(--md-sys-palette-tertiary-72, #59c495);
    --color-tertiary-73        : var(--md-sys-palette-tertiary-73, #5cc797);
    --color-tertiary-74        : var(--md-sys-palette-tertiary-74, #5fc99a);
    --color-tertiary-75        : var(--md-sys-palette-tertiary-75, #62cc9d);
    --color-tertiary-76        : var(--md-sys-palette-tertiary-76, #65cf9f);
    --color-tertiary-77        : var(--md-sys-palette-tertiary-77, #67d2a2);
    --color-tertiary-78        : var(--md-sys-palette-tertiary-78, #6ad5a4);
    --color-tertiary-79        : var(--md-sys-palette-tertiary-79, #6dd8a7);
    --color-tertiary-80        : var(--md-sys-palette-tertiary-80, #70daaa);
    --color-tertiary-81        : var(--md-sys-palette-tertiary-81, #73ddac);
    --color-tertiary-82        : var(--md-sys-palette-tertiary-82, #76e0af);
    --color-tertiary-83        : var(--md-sys-palette-tertiary-83, #79e3b2);
    --color-tertiary-84        : var(--md-sys-palette-tertiary-84, #7ce6b4);
    --color-tertiary-85        : var(--md-sys-palette-tertiary-85, #7ee9b7);
    --color-tertiary-86        : var(--md-sys-palette-tertiary-86, #81ecba);
    --color-tertiary-87        : var(--md-sys-palette-tertiary-87, #84eebd);
    --color-tertiary-88        : var(--md-sys-palette-tertiary-88, #87f1bf);
    --color-tertiary-89        : var(--md-sys-palette-tertiary-89, #8af4c2);
    --color-tertiary-90        : var(--md-sys-palette-tertiary-90, #8df7c5);
    --color-tertiary-91        : var(--md-sys-palette-tertiary-91, #90fac7);
    --color-tertiary-92        : var(--md-sys-palette-tertiary-92, #92fdca);
    --color-tertiary-93        : var(--md-sys-palette-tertiary-93, #9bffce);
    --color-tertiary-94        : var(--md-sys-palette-tertiary-94, #adffd5);
    --color-tertiary-95        : var(--md-sys-palette-tertiary-95, #beffdc);
    --color-tertiary-96        : var(--md-sys-palette-tertiary-96, #cdffe3);
    --color-tertiary-97        : var(--md-sys-palette-tertiary-97, #dbffe9);
    --color-tertiary-98        : var(--md-sys-palette-tertiary-98, #e8fff0);
    --color-tertiary-99        : var(--md-sys-palette-tertiary-99, #f4fff6);
    --color-tertiary-100       : var(--md-sys-palette-tertiary-100, #ffffff);
    --color-error-0            : var(--md-sys-palette-error-0, #000000);
    --color-error-1            : var(--md-sys-palette-error-1, #100000);
    --color-error-2            : var(--md-sys-palette-error-2, #1a0000);
    --color-error-3            : var(--md-sys-palette-error-3, #210001);
    --color-error-4            : var(--md-sys-palette-error-4, #280001);
    --color-error-5            : var(--md-sys-palette-error-5, #2d0001);
    --color-error-6            : var(--md-sys-palette-error-6, #310001);
    --color-error-7            : var(--md-sys-palette-error-7, #360001);
    --color-error-8            : var(--md-sys-palette-error-8, #390001);
    --color-error-9            : var(--md-sys-palette-error-9, #3d0002);
    --color-error-10           : var(--md-sys-palette-error-10, #410002);
    --color-error-11           : var(--md-sys-palette-error-11, #450002);
    --color-error-12           : var(--md-sys-palette-error-12, #490002);
    --color-error-13           : var(--md-sys-palette-error-13, #4d0002);
    --color-error-14           : var(--md-sys-palette-error-14, #500003);
    --color-error-15           : var(--md-sys-palette-error-15, #540003);
    --color-error-16           : var(--md-sys-palette-error-16, #580003);
    --color-error-17           : var(--md-sys-palette-error-17, #5c0004);
    --color-error-18           : var(--md-sys-palette-error-18, #600004);
    --color-error-19           : var(--md-sys-palette-error-19, #640004);
    --color-error-20           : var(--md-sys-palette-error-20, #690005);
    --color-error-21           : var(--md-sys-palette-error-21, #6d0005);
    --color-error-22           : var(--md-sys-palette-error-22, #710005);
    --color-error-23           : var(--md-sys-palette-error-23, #750006);
    --color-error-24           : var(--md-sys-palette-error-24, #790006);
    --color-error-25           : var(--md-sys-palette-error-25, #7e0007);
    --color-error-26           : var(--md-sys-palette-error-26, #820007);
    --color-error-27           : var(--md-sys-palette-error-27, #860008);
    --color-error-28           : var(--md-sys-palette-error-28, #8a0008);
    --color-error-29           : var(--md-sys-palette-error-29, #8f0009);
    --color-error-30           : var(--md-sys-palette-error-30, #93000a);
    --color-error-31           : var(--md-sys-palette-error-31, #98000a);
    --color-error-32           : var(--md-sys-palette-error-32, #9c000b);
    --color-error-33           : var(--md-sys-palette-error-33, #a0000c);
    --color-error-34           : var(--md-sys-palette-error-34, #a4020d);
    --color-error-35           : var(--md-sys-palette-error-35, #a80710);
    --color-error-36           : var(--md-sys-palette-error-36, #ac0c12);
    --color-error-37           : var(--md-sys-palette-error-37, #af1014);
    --color-error-38           : var(--md-sys-palette-error-38, #b31416);
    --color-error-39           : var(--md-sys-palette-error-39, #b61718);
    --color-error-40           : var(--md-sys-palette-error-40, #ba1a1a);
    --color-error-41           : var(--md-sys-palette-error-41, #bd1e1d);
    --color-error-42           : var(--md-sys-palette-error-42, #c1211f);
    --color-error-43           : var(--md-sys-palette-error-43, #c52421);
    --color-error-44           : var(--md-sys-palette-error-44, #c82623);
    --color-error-45           : var(--md-sys-palette-error-45, #cc2925);
    --color-error-46           : var(--md-sys-palette-error-46, #cf2c27);
    --color-error-47           : var(--md-sys-palette-error-47, #d32f29);
    --color-error-48           : var(--md-sys-palette-error-48, #d7322c);
    --color-error-49           : var(--md-sys-palette-error-49, #da342e);
    --color-error-50           : var(--md-sys-palette-error-50, #de3730);
    --color-error-51           : var(--md-sys-palette-error-51, #e13a32);
    --color-error-52           : var(--md-sys-palette-error-52, #e53c34);
    --color-error-53           : var(--md-sys-palette-error-53, #e93f36);
    --color-error-54           : var(--md-sys-palette-error-54, #ec4139);
    --color-error-55           : var(--md-sys-palette-error-55, #f0443b);
    --color-error-56           : var(--md-sys-palette-error-56, #f3473d);
    --color-error-57           : var(--md-sys-palette-error-57, #f7493f);
    --color-error-58           : var(--md-sys-palette-error-58, #fb4c42);
    --color-error-59           : var(--md-sys-palette-error-59, #fe4e44);
    --color-error-60           : var(--md-sys-palette-error-60, #ff5449);
    --color-error-61           : var(--md-sys-palette-error-61, #ff5b4f);
    --color-error-62           : var(--md-sys-palette-error-62, #ff6154);
    --color-error-63           : var(--md-sys-palette-error-63, #ff665a);
    --color-error-64           : var(--md-sys-palette-error-64, #ff6c5f);
    --color-error-65           : var(--md-sys-palette-error-65, #ff7164);
    --color-error-66           : var(--md-sys-palette-error-66, #ff7669);
    --color-error-67           : var(--md-sys-palette-error-67, #ff7b6e);
    --color-error-68           : var(--md-sys-palette-error-68, #ff8073);
    --color-error-69           : var(--md-sys-palette-error-69, #ff8578);
    --color-error-70           : var(--md-sys-palette-error-70, #ff897d);
    --color-error-71           : var(--md-sys-palette-error-71, #ff8e82);
    --color-error-72           : var(--md-sys-palette-error-72, #ff9286);
    --color-error-73           : var(--md-sys-palette-error-73, #ff978b);
    --color-error-74           : var(--md-sys-palette-error-74, #ff9b90);
    --color-error-75           : var(--md-sys-palette-error-75, #ff9f94);
    --color-error-76           : var(--md-sys-palette-error-76, #ffa399);
    --color-error-77           : var(--md-sys-palette-error-77, #ffa89d);
    --color-error-78           : var(--md-sys-palette-error-78, #ffaca2);
    --color-error-79           : var(--md-sys-palette-error-79, #ffb0a6);
    --color-error-80           : var(--md-sys-palette-error-80, #ffb4ab);
    --color-error-81           : var(--md-sys-palette-error-81, #ffb8af);
    --color-error-82           : var(--md-sys-palette-error-82, #ffbcb3);
    --color-error-83           : var(--md-sys-palette-error-83, #ffbfb8);
    --color-error-84           : var(--md-sys-palette-error-84, #ffc3bc);
    --color-error-85           : var(--md-sys-palette-error-85, #ffc7c0);
    --color-error-86           : var(--md-sys-palette-error-86, #ffcbc5);
    --color-error-87           : var(--md-sys-palette-error-87, #ffcfc9);
    --color-error-88           : var(--md-sys-palette-error-88, #ffd3cd);
    --color-error-89           : var(--md-sys-palette-error-89, #ffd6d1);
    --color-error-90           : var(--md-sys-palette-error-90, #ffdad6);
    --color-error-91           : var(--md-sys-palette-error-91, #ffdeda);
    --color-error-92           : var(--md-sys-palette-error-92, #ffe2de);
    --color-error-93           : var(--md-sys-palette-error-93, #ffe5e2);
    --color-error-94           : var(--md-sys-palette-error-94, #ffe9e6);
    --color-error-95           : var(--md-sys-palette-error-95, #ffedea);
    --color-error-96           : var(--md-sys-palette-error-96, #fff0ee);
    --color-error-97           : var(--md-sys-palette-error-97, #fff4f2);
    --color-error-98           : var(--md-sys-palette-error-98, #fff8f7);
    --color-error-99           : var(--md-sys-palette-error-99, #fffbff);
    --color-error-100          : var(--md-sys-palette-error-100, #ffffff);
    --color-neutral-0          : var(--md-sys-palette-neutral-0, #000000);
    --color-neutral-1          : var(--md-sys-palette-neutral-1, #030401);
    --color-neutral-2          : var(--md-sys-palette-neutral-2, #060803);
    --color-neutral-3          : var(--md-sys-palette-neutral-3, #090c05);
    --color-neutral-4          : var(--md-sys-palette-neutral-4, #0c0f07);
    --color-neutral-5          : var(--md-sys-palette-neutral-5, #0f120a);
    --color-neutral-6          : var(--md-sys-palette-neutral-6, #11140c);
    --color-neutral-7          : var(--md-sys-palette-neutral-7, #14170e);
    --color-neutral-8          : var(--md-sys-palette-neutral-8, #161910);
    --color-neutral-9          : var(--md-sys-palette-neutral-9, #181b12);
    --color-neutral-10         : var(--md-sys-palette-neutral-10, #1a1d14);
    --color-neutral-11         : var(--md-sys-palette-neutral-11, #1c1f16);
    --color-neutral-12         : var(--md-sys-palette-neutral-12, #1e2118);
    --color-neutral-13         : var(--md-sys-palette-neutral-13, #20231a);
    --color-neutral-14         : var(--md-sys-palette-neutral-14, #22251c);
    --color-neutral-15         : var(--md-sys-palette-neutral-15, #24271e);
    --color-neutral-16         : var(--md-sys-palette-neutral-16, #262920);
    --color-neutral-17         : var(--md-sys-palette-neutral-17, #282b22);
    --color-neutral-18         : var(--md-sys-palette-neutral-18, #2a2d24);
    --color-neutral-19         : var(--md-sys-palette-neutral-19, #2c2f26);
    --color-neutral-20         : var(--md-sys-palette-neutral-20, #2e3228);
    --color-neutral-21         : var(--md-sys-palette-neutral-21, #31342a);
    --color-neutral-22         : var(--md-sys-palette-neutral-22, #33362c);
    --color-neutral-23         : var(--md-sys-palette-neutral-23, #35382e);
    --color-neutral-24         : var(--md-sys-palette-neutral-24, #373a30);
    --color-neutral-25         : var(--md-sys-palette-neutral-25, #393d33);
    --color-neutral-26         : var(--md-sys-palette-neutral-26, #3c3f35);
    --color-neutral-27         : var(--md-sys-palette-neutral-27, #3e4137);
    --color-neutral-28         : var(--md-sys-palette-neutral-28, #404339);
    --color-neutral-29         : var(--md-sys-palette-neutral-29, #42463b);
    --color-neutral-30         : var(--md-sys-palette-neutral-30, #45483e);
    --color-neutral-31         : var(--md-sys-palette-neutral-31, #474a40);
    --color-neutral-32         : var(--md-sys-palette-neutral-32, #494d42);
    --color-neutral-33         : var(--md-sys-palette-neutral-33, #4c4f44);
    --color-neutral-34         : var(--md-sys-palette-neutral-34, #4e5147);
    --color-neutral-35         : var(--md-sys-palette-neutral-35, #505449);
    --color-neutral-36         : var(--md-sys-palette-neutral-36, #53564b);
    --color-neutral-37         : var(--md-sys-palette-neutral-37, #55584d);
    --color-neutral-38         : var(--md-sys-palette-neutral-38, #585b50);
    --color-neutral-39         : var(--md-sys-palette-neutral-39, #5a5d52);
    --color-neutral-40         : var(--md-sys-palette-neutral-40, #5c6054);
    --color-neutral-41         : var(--md-sys-palette-neutral-41, #5f6257);
    --color-neutral-42         : var(--md-sys-palette-neutral-42, #616559);
    --color-neutral-43         : var(--md-sys-palette-neutral-43, #64675c);
    --color-neutral-44         : var(--md-sys-palette-neutral-44, #66695e);
    --color-neutral-45         : var(--md-sys-palette-neutral-45, #696c60);
    --color-neutral-46         : var(--md-sys-palette-neutral-46, #6b6e63);
    --color-neutral-47         : var(--md-sys-palette-neutral-47, #6e7165);
    --color-neutral-48         : var(--md-sys-palette-neutral-48, #707368);
    --color-neutral-49         : var(--md-sys-palette-neutral-49, #73766a);
    --color-neutral-50         : var(--md-sys-palette-neutral-50, #75786c);
    --color-neutral-51         : var(--md-sys-palette-neutral-51, #787b6f);
    --color-neutral-52         : var(--md-sys-palette-neutral-52, #7a7d71);
    --color-neutral-53         : var(--md-sys-palette-neutral-53, #7d8074);
    --color-neutral-54         : var(--md-sys-palette-neutral-54, #808376);
    --color-neutral-55         : var(--md-sys-palette-neutral-55, #828579);
    --color-neutral-56         : var(--md-sys-palette-neutral-56, #85887b);
    --color-neutral-57         : var(--md-sys-palette-neutral-57, #878a7e);
    --color-neutral-58         : var(--md-sys-palette-neutral-58, #8a8d80);
    --color-neutral-59         : var(--md-sys-palette-neutral-59, #8d8f83);
    --color-neutral-60         : var(--md-sys-palette-neutral-60, #8f9285);
    --color-neutral-61         : var(--md-sys-palette-neutral-61, #929588);
    --color-neutral-62         : var(--md-sys-palette-neutral-62, #94978b);
    --color-neutral-63         : var(--md-sys-palette-neutral-63, #979a8d);
    --color-neutral-64         : var(--md-sys-palette-neutral-64, #9a9d90);
    --color-neutral-65         : var(--md-sys-palette-neutral-65, #9c9f92);
    --color-neutral-66         : var(--md-sys-palette-neutral-66, #9fa295);
    --color-neutral-67         : var(--md-sys-palette-neutral-67, #a2a497);
    --color-neutral-68         : var(--md-sys-palette-neutral-68, #a4a79a);
    --color-neutral-69         : var(--md-sys-palette-neutral-69, #a7aa9d);
    --color-neutral-70         : var(--md-sys-palette-neutral-70, #aaad9f);
    --color-neutral-71         : var(--md-sys-palette-neutral-71, #adafa2);
    --color-neutral-72         : var(--md-sys-palette-neutral-72, #afb2a5);
    --color-neutral-73         : var(--md-sys-palette-neutral-73, #b2b5a7);
    --color-neutral-74         : var(--md-sys-palette-neutral-74, #b5b7aa);
    --color-neutral-75         : var(--md-sys-palette-neutral-75, #b7baad);
    --color-neutral-76         : var(--md-sys-palette-neutral-76, #babdaf);
    --color-neutral-77         : var(--md-sys-palette-neutral-77, #bdc0b2);
    --color-neutral-78         : var(--md-sys-palette-neutral-78, #c0c2b5);
    --color-neutral-79         : var(--md-sys-palette-neutral-79, #c3c5b7);
    --color-neutral-80         : var(--md-sys-palette-neutral-80, #c5c8ba);
    --color-neutral-81         : var(--md-sys-palette-neutral-81, #c8cbbd);
    --color-neutral-82         : var(--md-sys-palette-neutral-82, #cbcdbf);
    --color-neutral-83         : var(--md-sys-palette-neutral-83, #ced0c2);
    --color-neutral-84         : var(--md-sys-palette-neutral-84, #d1d3c5);
    --color-neutral-85         : var(--md-sys-palette-neutral-85, #d3d6c8);
    --color-neutral-86         : var(--md-sys-palette-neutral-86, #d6d9ca);
    --color-neutral-87         : var(--md-sys-palette-neutral-87, #d9dbcd);
    --color-neutral-88         : var(--md-sys-palette-neutral-88, #dcded0);
    --color-neutral-89         : var(--md-sys-palette-neutral-89, #dfe1d3);
    --color-neutral-90         : var(--md-sys-palette-neutral-90, #e2e4d5);
    --color-neutral-91         : var(--md-sys-palette-neutral-91, #e4e7d8);
    --color-neutral-92         : var(--md-sys-palette-neutral-92, #e7e9db);
    --color-neutral-93         : var(--md-sys-palette-neutral-93, #eaecde);
    --color-neutral-94         : var(--md-sys-palette-neutral-94, #edefe1);
    --color-neutral-95         : var(--md-sys-palette-neutral-95, #f0f2e3);
    --color-neutral-96         : var(--md-sys-palette-neutral-96, #f3f5e6);
    --color-neutral-97         : var(--md-sys-palette-neutral-97, #f6f8e9);
    --color-neutral-98         : var(--md-sys-palette-neutral-98, #f9fbec);
    --color-neutral-99         : var(--md-sys-palette-neutral-99, #fcfeef);
    --color-neutral-100        : var(--md-sys-palette-neutral-100, #ffffff);
    --color-neutral-variant-0  : var(--md-sys-palette-neutral-variant-0, #000000);
    --color-neutral-variant-1  : var(--md-sys-palette-neutral-variant-1, #020400);
    --color-neutral-variant-2  : var(--md-sys-palette-neutral-variant-2, #050901);
    --color-neutral-variant-3  : var(--md-sys-palette-neutral-variant-3, #080d03);
    --color-neutral-variant-4  : var(--md-sys-palette-neutral-variant-4, #0b1004);
    --color-neutral-variant-5  : var(--md-sys-palette-neutral-variant-5, #0d1306);
    --color-neutral-variant-6  : var(--md-sys-palette-neutral-variant-6, #101508);
    --color-neutral-variant-7  : var(--md-sys-palette-neutral-variant-7, #12170a);
    --color-neutral-variant-8  : var(--md-sys-palette-neutral-variant-8, #14190c);
    --color-neutral-variant-9  : var(--md-sys-palette-neutral-variant-9, #161b0e);
    --color-neutral-variant-10 : var(--md-sys-palette-neutral-variant-10, #181d10);
    --color-neutral-variant-11 : var(--md-sys-palette-neutral-variant-11, #1a1f11);
    --color-neutral-variant-12 : var(--md-sys-palette-neutral-variant-12, #1c2113);
    --color-neutral-variant-13 : var(--md-sys-palette-neutral-variant-13, #1e2415);
    --color-neutral-variant-14 : var(--md-sys-palette-neutral-variant-14, #202617);
    --color-neutral-variant-15 : var(--md-sys-palette-neutral-variant-15, #222819);
    --color-neutral-variant-16 : var(--md-sys-palette-neutral-variant-16, #242a1b);
    --color-neutral-variant-17 : var(--md-sys-palette-neutral-variant-17, #262c1d);
    --color-neutral-variant-18 : var(--md-sys-palette-neutral-variant-18, #282e1f);
    --color-neutral-variant-19 : var(--md-sys-palette-neutral-variant-19, #2b3021);
    --color-neutral-variant-20 : var(--md-sys-palette-neutral-variant-20, #2d3223);
    --color-neutral-variant-21 : var(--md-sys-palette-neutral-variant-21, #2f3525);
    --color-neutral-variant-22 : var(--md-sys-palette-neutral-variant-22, #313727);
    --color-neutral-variant-23 : var(--md-sys-palette-neutral-variant-23, #333929);
    --color-neutral-variant-24 : var(--md-sys-palette-neutral-variant-24, #353b2c);
    --color-neutral-variant-25 : var(--md-sys-palette-neutral-variant-25, #383d2e);
    --color-neutral-variant-26 : var(--md-sys-palette-neutral-variant-26, #3a4030);
    --color-neutral-variant-27 : var(--md-sys-palette-neutral-variant-27, #3c4232);
    --color-neutral-variant-28 : var(--md-sys-palette-neutral-variant-28, #3e4434);
    --color-neutral-variant-29 : var(--md-sys-palette-neutral-variant-29, #414736);
    --color-neutral-variant-30 : var(--md-sys-palette-neutral-variant-30, #434938);
    --color-neutral-variant-31 : var(--md-sys-palette-neutral-variant-31, #454b3b);
    --color-neutral-variant-32 : var(--md-sys-palette-neutral-variant-32, #484e3d);
    --color-neutral-variant-33 : var(--md-sys-palette-neutral-variant-33, #4a503f);
    --color-neutral-variant-34 : var(--md-sys-palette-neutral-variant-34, #4c5241);
    --color-neutral-variant-35 : var(--md-sys-palette-neutral-variant-35, #4f5544);
    --color-neutral-variant-36 : var(--md-sys-palette-neutral-variant-36, #515746);
    --color-neutral-variant-37 : var(--md-sys-palette-neutral-variant-37, #535948);
    --color-neutral-variant-38 : var(--md-sys-palette-neutral-variant-38, #565c4a);
    --color-neutral-variant-39 : var(--md-sys-palette-neutral-variant-39, #585e4d);
    --color-neutral-variant-40 : var(--md-sys-palette-neutral-variant-40, #5b614f);
    --color-neutral-variant-41 : var(--md-sys-palette-neutral-variant-41, #5d6351);
    --color-neutral-variant-42 : var(--md-sys-palette-neutral-variant-42, #5f6654);
    --color-neutral-variant-43 : var(--md-sys-palette-neutral-variant-43, #626856);
    --color-neutral-variant-44 : var(--md-sys-palette-neutral-variant-44, #646a58);
    --color-neutral-variant-45 : var(--md-sys-palette-neutral-variant-45, #676d5b);
    --color-neutral-variant-46 : var(--md-sys-palette-neutral-variant-46, #696f5d);
    --color-neutral-variant-47 : var(--md-sys-palette-neutral-variant-47, #6c725f);
    --color-neutral-variant-48 : var(--md-sys-palette-neutral-variant-48, #6e7462);
    --color-neutral-variant-49 : var(--md-sys-palette-neutral-variant-49, #717764);
    --color-neutral-variant-50 : var(--md-sys-palette-neutral-variant-50, #737967);
    --color-neutral-variant-51 : var(--md-sys-palette-neutral-variant-51, #767c69);
    --color-neutral-variant-52 : var(--md-sys-palette-neutral-variant-52, #787f6c);
    --color-neutral-variant-53 : var(--md-sys-palette-neutral-variant-53, #7b816e);
    --color-neutral-variant-54 : var(--md-sys-palette-neutral-variant-54, #7d8470);
    --color-neutral-variant-55 : var(--md-sys-palette-neutral-variant-55, #808673);
    --color-neutral-variant-56 : var(--md-sys-palette-neutral-variant-56, #838975);
    --color-neutral-variant-57 : var(--md-sys-palette-neutral-variant-57, #858b78);
    --color-neutral-variant-58 : var(--md-sys-palette-neutral-variant-58, #888e7a);
    --color-neutral-variant-59 : var(--md-sys-palette-neutral-variant-59, #8a917d);
    --color-neutral-variant-60 : var(--md-sys-palette-neutral-variant-60, #8d937f);
    --color-neutral-variant-61 : var(--md-sys-palette-neutral-variant-61, #909682);
    --color-neutral-variant-62 : var(--md-sys-palette-neutral-variant-62, #929884);
    --color-neutral-variant-63 : var(--md-sys-palette-neutral-variant-63, #959b87);
    --color-neutral-variant-64 : var(--md-sys-palette-neutral-variant-64, #989e8a);
    --color-neutral-variant-65 : var(--md-sys-palette-neutral-variant-65, #9aa08c);
    --color-neutral-variant-66 : var(--md-sys-palette-neutral-variant-66, #9da38f);
    --color-neutral-variant-67 : var(--md-sys-palette-neutral-variant-67, #a0a691);
    --color-neutral-variant-68 : var(--md-sys-palette-neutral-variant-68, #a2a894);
    --color-neutral-variant-69 : var(--md-sys-palette-neutral-variant-69, #a5ab96);
    --color-neutral-variant-70 : var(--md-sys-palette-neutral-variant-70, #a8ae99);
    --color-neutral-variant-71 : var(--md-sys-palette-neutral-variant-71, #aab09c);
    --color-neutral-variant-72 : var(--md-sys-palette-neutral-variant-72, #adb39e);
    --color-neutral-variant-73 : var(--md-sys-palette-neutral-variant-73, #b0b6a1);
    --color-neutral-variant-74 : var(--md-sys-palette-neutral-variant-74, #b2b9a3);
    --color-neutral-variant-75 : var(--md-sys-palette-neutral-variant-75, #b5bba6);
    --color-neutral-variant-76 : var(--md-sys-palette-neutral-variant-76, #b8bea9);
    --color-neutral-variant-77 : var(--md-sys-palette-neutral-variant-77, #bbc1ab);
    --color-neutral-variant-78 : var(--md-sys-palette-neutral-variant-78, #bdc4ae);
    --color-neutral-variant-79 : var(--md-sys-palette-neutral-variant-79, #c0c6b1);
    --color-neutral-variant-80 : var(--md-sys-palette-neutral-variant-80, #c3c9b3);
    --color-neutral-variant-81 : var(--md-sys-palette-neutral-variant-81, #c6ccb6);
    --color-neutral-variant-82 : var(--md-sys-palette-neutral-variant-82, #c9cfb9);
    --color-neutral-variant-83 : var(--md-sys-palette-neutral-variant-83, #cbd1bc);
    --color-neutral-variant-84 : var(--md-sys-palette-neutral-variant-84, #ced4be);
    --color-neutral-variant-85 : var(--md-sys-palette-neutral-variant-85, #d1d7c1);
    --color-neutral-variant-86 : var(--md-sys-palette-neutral-variant-86, #d4dac4);
    --color-neutral-variant-87 : var(--md-sys-palette-neutral-variant-87, #d7ddc6);
    --color-neutral-variant-88 : var(--md-sys-palette-neutral-variant-88, #d9dfc9);
    --color-neutral-variant-89 : var(--md-sys-palette-neutral-variant-89, #dce2cc);
    --color-neutral-variant-90 : var(--md-sys-palette-neutral-variant-90, #dfe5cf);
    --color-neutral-variant-91 : var(--md-sys-palette-neutral-variant-91, #e2e8d1);
    --color-neutral-variant-92 : var(--md-sys-palette-neutral-variant-92, #e5ebd4);
    --color-neutral-variant-93 : var(--md-sys-palette-neutral-variant-93, #e8eed7);
    --color-neutral-variant-94 : var(--md-sys-palette-neutral-variant-94, #ebf1da);
    --color-neutral-variant-95 : var(--md-sys-palette-neutral-variant-95, #eef3dc);
    --color-neutral-variant-96 : var(--md-sys-palette-neutral-variant-96, #f0f6df);
    --color-neutral-variant-97 : var(--md-sys-palette-neutral-variant-97, #f3f9e2);
    --color-neutral-variant-98 : var(--md-sys-palette-neutral-variant-98, #f6fce5);
    --color-neutral-variant-99 : var(--md-sys-palette-neutral-variant-99, #f9ffe8);
    --color-neutral-variant-100: var(--md-sys-palette-neutral-variant-100, #ffffff);
}