@theme inline {
    --color-primary-0          : var(--md-ref-palette-primary-0, #000000);
    --color-primary-1          : var(--md-ref-palette-primary-1, #000501);
    --color-primary-2          : var(--md-ref-palette-primary-2, #000a03);
    --color-primary-3          : var(--md-ref-palette-primary-3, #000e04);
    --color-primary-4          : var(--md-ref-palette-primary-4, #001205);
    --color-primary-5          : var(--md-ref-palette-primary-5, #001506);
    --color-primary-6          : var(--md-ref-palette-primary-6, #001808);
    --color-primary-7          : var(--md-ref-palette-primary-7, #001a09);
    --color-primary-8          : var(--md-ref-palette-primary-8, #001d0a);
    --color-primary-9          : var(--md-ref-palette-primary-9, #001f0b);
    --color-primary-10         : var(--md-ref-palette-primary-10, #00210d);
    --color-primary-11         : var(--md-ref-palette-primary-11, #00230e);
    --color-primary-12         : var(--md-ref-palette-primary-12, #00260f);
    --color-primary-13         : var(--md-ref-palette-primary-13, #002811);
    --color-primary-14         : var(--md-ref-palette-primary-14, #002a12);
    --color-primary-15         : var(--md-ref-palette-primary-15, #002d13);
    --color-primary-16         : var(--md-ref-palette-primary-16, #002f15);
    --color-primary-17         : var(--md-ref-palette-primary-17, #003216);
    --color-primary-18         : var(--md-ref-palette-primary-18, #003417);
    --color-primary-19         : var(--md-ref-palette-primary-19, #003619);
    --color-primary-20         : var(--md-ref-palette-primary-20, #00391a);
    --color-primary-21         : var(--md-ref-palette-primary-21, #003b1c);
    --color-primary-22         : var(--md-ref-palette-primary-22, #003e1d);
    --color-primary-23         : var(--md-ref-palette-primary-23, #00401e);
    --color-primary-24         : var(--md-ref-palette-primary-24, #004320);
    --color-primary-25         : var(--md-ref-palette-primary-25, #004521);
    --color-primary-26         : var(--md-ref-palette-primary-26, #004823);
    --color-primary-27         : var(--md-ref-palette-primary-27, #004b24);
    --color-primary-28         : var(--md-ref-palette-primary-28, #004d26);
    --color-primary-29         : var(--md-ref-palette-primary-29, #005027);
    --color-primary-30         : var(--md-ref-palette-primary-30, #005229);
    --color-primary-31         : var(--md-ref-palette-primary-31, #00552a);
    --color-primary-32         : var(--md-ref-palette-primary-32, #00582c);
    --color-primary-33         : var(--md-ref-palette-primary-33, #005a2d);
    --color-primary-34         : var(--md-ref-palette-primary-34, #005d2f);
    --color-primary-35         : var(--md-ref-palette-primary-35, #006030);
    --color-primary-36         : var(--md-ref-palette-primary-36, #006232);
    --color-primary-37         : var(--md-ref-palette-primary-37, #006533);
    --color-primary-38         : var(--md-ref-palette-primary-38, #006835);
    --color-primary-39         : var(--md-ref-palette-primary-39, #006a36);
    --color-primary-40         : var(--md-ref-palette-primary-40, #006d38);
    --color-primary-41         : var(--md-ref-palette-primary-41, #007039);
    --color-primary-42         : var(--md-ref-palette-primary-42, #00733b);
    --color-primary-43         : var(--md-ref-palette-primary-43, #00753d);
    --color-primary-44         : var(--md-ref-palette-primary-44, #00783e);
    --color-primary-45         : var(--md-ref-palette-primary-45, #007b40);
    --color-primary-46         : var(--md-ref-palette-primary-46, #007e41);
    --color-primary-47         : var(--md-ref-palette-primary-47, #008143);
    --color-primary-48         : var(--md-ref-palette-primary-48, #008444);
    --color-primary-49         : var(--md-ref-palette-primary-49, #008646);
    --color-primary-50         : var(--md-ref-palette-primary-50, #008948);
    --color-primary-51         : var(--md-ref-palette-primary-51, #008c49);
    --color-primary-52         : var(--md-ref-palette-primary-52, #008f4b);
    --color-primary-53         : var(--md-ref-palette-primary-53, #00924d);
    --color-primary-54         : var(--md-ref-palette-primary-54, #00954e);
    --color-primary-55         : var(--md-ref-palette-primary-55, #009850);
    --color-primary-56         : var(--md-ref-palette-primary-56, #009b52);
    --color-primary-57         : var(--md-ref-palette-primary-57, #039d54);
    --color-primary-58         : var(--md-ref-palette-primary-58, #0da056);
    --color-primary-59         : var(--md-ref-palette-primary-59, #14a358);
    --color-primary-60         : var(--md-ref-palette-primary-60, #1aa65b);
    --color-primary-61         : var(--md-ref-palette-primary-61, #20a85d);
    --color-primary-62         : var(--md-ref-palette-primary-62, #24ab5f);
    --color-primary-63         : var(--md-ref-palette-primary-63, #29ae62);
    --color-primary-64         : var(--md-ref-palette-primary-64, #2db164);
    --color-primary-65         : var(--md-ref-palette-primary-65, #31b367);
    --color-primary-66         : var(--md-ref-palette-primary-66, #34b669);
    --color-primary-67         : var(--md-ref-palette-primary-67, #38b96b);
    --color-primary-68         : var(--md-ref-palette-primary-68, #3bbc6e);
    --color-primary-69         : var(--md-ref-palette-primary-69, #3fbf70);
    --color-primary-70         : var(--md-ref-palette-primary-70, #42c173);
    --color-primary-71         : var(--md-ref-palette-primary-71, #46c475);
    --color-primary-72         : var(--md-ref-palette-primary-72, #49c778);
    --color-primary-73         : var(--md-ref-palette-primary-73, #4cca7a);
    --color-primary-74         : var(--md-ref-palette-primary-74, #4fcd7d);
    --color-primary-75         : var(--md-ref-palette-primary-75, #52d07f);
    --color-primary-76         : var(--md-ref-palette-primary-76, #55d282);
    --color-primary-77         : var(--md-ref-palette-primary-77, #58d584);
    --color-primary-78         : var(--md-ref-palette-primary-78, #5bd887);
    --color-primary-79         : var(--md-ref-palette-primary-79, #5edb89);
    --color-primary-80         : var(--md-ref-palette-primary-80, #61de8c);
    --color-primary-81         : var(--md-ref-palette-primary-81, #64e18e);
    --color-primary-82         : var(--md-ref-palette-primary-82, #67e491);
    --color-primary-83         : var(--md-ref-palette-primary-83, #6ae794);
    --color-primary-84         : var(--md-ref-palette-primary-84, #6dea96);
    --color-primary-85         : var(--md-ref-palette-primary-85, #70ec99);
    --color-primary-86         : var(--md-ref-palette-primary-86, #73ef9b);
    --color-primary-87         : var(--md-ref-palette-primary-87, #76f29e);
    --color-primary-88         : var(--md-ref-palette-primary-88, #79f5a1);
    --color-primary-89         : var(--md-ref-palette-primary-89, #7cf8a3);
    --color-primary-90         : var(--md-ref-palette-primary-90, #7ffba6);
    --color-primary-91         : var(--md-ref-palette-primary-91, #82fea8);
    --color-primary-92         : var(--md-ref-palette-primary-92, #91ffb0);
    --color-primary-93         : var(--md-ref-palette-primary-93, #a4ffbb);
    --color-primary-94         : var(--md-ref-palette-primary-94, #b4ffc5);
    --color-primary-95         : var(--md-ref-palette-primary-95, #c3ffce);
    --color-primary-96         : var(--md-ref-palette-primary-96, #d1ffd8);
    --color-primary-97         : var(--md-ref-palette-primary-97, #deffe1);
    --color-primary-98         : var(--md-ref-palette-primary-98, #eaffea);
    --color-primary-99         : var(--md-ref-palette-primary-99, #f5fff3);
    --color-primary-100        : var(--md-ref-palette-primary-100, #ffffff);
    --color-secondary-0        : var(--md-ref-palette-secondary-0, #000000);
    --color-secondary-1        : var(--md-ref-palette-secondary-1, #000501);
    --color-secondary-2        : var(--md-ref-palette-secondary-2, #000a03);
    --color-secondary-3        : var(--md-ref-palette-secondary-3, #000e04);
    --color-secondary-4        : var(--md-ref-palette-secondary-4, #001205);
    --color-secondary-5        : var(--md-ref-palette-secondary-5, #001506);
    --color-secondary-6        : var(--md-ref-palette-secondary-6, #001808);
    --color-secondary-7        : var(--md-ref-palette-secondary-7, #001a09);
    --color-secondary-8        : var(--md-ref-palette-secondary-8, #001d0a);
    --color-secondary-9        : var(--md-ref-palette-secondary-9, #001f0b);
    --color-secondary-10       : var(--md-ref-palette-secondary-10, #00210d);
    --color-secondary-11       : var(--md-ref-palette-secondary-11, #00230e);
    --color-secondary-12       : var(--md-ref-palette-secondary-12, #00260f);
    --color-secondary-13       : var(--md-ref-palette-secondary-13, #002811);
    --color-secondary-14       : var(--md-ref-palette-secondary-14, #002a12);
    --color-secondary-15       : var(--md-ref-palette-secondary-15, #002d13);
    --color-secondary-16       : var(--md-ref-palette-secondary-16, #002f15);
    --color-secondary-17       : var(--md-ref-palette-secondary-17, #023116);
    --color-secondary-18       : var(--md-ref-palette-secondary-18, #043418);
    --color-secondary-19       : var(--md-ref-palette-secondary-19, #07361a);
    --color-secondary-20       : var(--md-ref-palette-secondary-20, #0a381c);
    --color-secondary-21       : var(--md-ref-palette-secondary-21, #0d3a1e);
    --color-secondary-22       : var(--md-ref-palette-secondary-22, #0f3d21);
    --color-secondary-23       : var(--md-ref-palette-secondary-23, #123f23);
    --color-secondary-24       : var(--md-ref-palette-secondary-24, #154125);
    --color-secondary-25       : var(--md-ref-palette-secondary-25, #174427);
    --color-secondary-26       : var(--md-ref-palette-secondary-26, #1a4629);
    --color-secondary-27       : var(--md-ref-palette-secondary-27, #1c482b);
    --color-secondary-28       : var(--md-ref-palette-secondary-28, #1f4b2d);
    --color-secondary-29       : var(--md-ref-palette-secondary-29, #214d2f);
    --color-secondary-30       : var(--md-ref-palette-secondary-30, #244f31);
    --color-secondary-31       : var(--md-ref-palette-secondary-31, #265233);
    --color-secondary-32       : var(--md-ref-palette-secondary-32, #295436);
    --color-secondary-33       : var(--md-ref-palette-secondary-33, #2b5738);
    --color-secondary-34       : var(--md-ref-palette-secondary-34, #2d593a);
    --color-secondary-35       : var(--md-ref-palette-secondary-35, #305b3c);
    --color-secondary-36       : var(--md-ref-palette-secondary-36, #325e3e);
    --color-secondary-37       : var(--md-ref-palette-secondary-37, #356041);
    --color-secondary-38       : var(--md-ref-palette-secondary-38, #376343);
    --color-secondary-39       : var(--md-ref-palette-secondary-39, #396545);
    --color-secondary-40       : var(--md-ref-palette-secondary-40, #3c6847);
    --color-secondary-41       : var(--md-ref-palette-secondary-41, #3e6a4a);
    --color-secondary-42       : var(--md-ref-palette-secondary-42, #416d4c);
    --color-secondary-43       : var(--md-ref-palette-secondary-43, #436f4e);
    --color-secondary-44       : var(--md-ref-palette-secondary-44, #467251);
    --color-secondary-45       : var(--md-ref-palette-secondary-45, #487453);
    --color-secondary-46       : var(--md-ref-palette-secondary-46, #4a7755);
    --color-secondary-47       : var(--md-ref-palette-secondary-47, #4d7958);
    --color-secondary-48       : var(--md-ref-palette-secondary-48, #4f7c5a);
    --color-secondary-49       : var(--md-ref-palette-secondary-49, #527e5c);
    --color-secondary-50       : var(--md-ref-palette-secondary-50, #54815f);
    --color-secondary-51       : var(--md-ref-palette-secondary-51, #578461);
    --color-secondary-52       : var(--md-ref-palette-secondary-52, #598664);
    --color-secondary-53       : var(--md-ref-palette-secondary-53, #5c8966);
    --color-secondary-54       : var(--md-ref-palette-secondary-54, #5e8b68);
    --color-secondary-55       : var(--md-ref-palette-secondary-55, #618e6b);
    --color-secondary-56       : var(--md-ref-palette-secondary-56, #63916d);
    --color-secondary-57       : var(--md-ref-palette-secondary-57, #669370);
    --color-secondary-58       : var(--md-ref-palette-secondary-58, #689672);
    --color-secondary-59       : var(--md-ref-palette-secondary-59, #6b9975);
    --color-secondary-60       : var(--md-ref-palette-secondary-60, #6d9b77);
    --color-secondary-61       : var(--md-ref-palette-secondary-61, #709e7a);
    --color-secondary-62       : var(--md-ref-palette-secondary-62, #73a17c);
    --color-secondary-63       : var(--md-ref-palette-secondary-63, #75a37f);
    --color-secondary-64       : var(--md-ref-palette-secondary-64, #78a681);
    --color-secondary-65       : var(--md-ref-palette-secondary-65, #7aa984);
    --color-secondary-66       : var(--md-ref-palette-secondary-66, #7dab86);
    --color-secondary-67       : var(--md-ref-palette-secondary-67, #7fae89);
    --color-secondary-68       : var(--md-ref-palette-secondary-68, #82b18b);
    --color-secondary-69       : var(--md-ref-palette-secondary-69, #85b38e);
    --color-secondary-70       : var(--md-ref-palette-secondary-70, #87b690);
    --color-secondary-71       : var(--md-ref-palette-secondary-71, #8ab993);
    --color-secondary-72       : var(--md-ref-palette-secondary-72, #8dbc96);
    --color-secondary-73       : var(--md-ref-palette-secondary-73, #8fbe98);
    --color-secondary-74       : var(--md-ref-palette-secondary-74, #92c19b);
    --color-secondary-75       : var(--md-ref-palette-secondary-75, #95c49d);
    --color-secondary-76       : var(--md-ref-palette-secondary-76, #97c7a0);
    --color-secondary-77       : var(--md-ref-palette-secondary-77, #9acaa3);
    --color-secondary-78       : var(--md-ref-palette-secondary-78, #9dcca5);
    --color-secondary-79       : var(--md-ref-palette-secondary-79, #9fcfa8);
    --color-secondary-80       : var(--md-ref-palette-secondary-80, #a2d2ab);
    --color-secondary-81       : var(--md-ref-palette-secondary-81, #a5d5ad);
    --color-secondary-82       : var(--md-ref-palette-secondary-82, #a7d8b0);
    --color-secondary-83       : var(--md-ref-palette-secondary-83, #aadab3);
    --color-secondary-84       : var(--md-ref-palette-secondary-84, #adddb5);
    --color-secondary-85       : var(--md-ref-palette-secondary-85, #b0e0b8);
    --color-secondary-86       : var(--md-ref-palette-secondary-86, #b2e3bb);
    --color-secondary-87       : var(--md-ref-palette-secondary-87, #b5e6bd);
    --color-secondary-88       : var(--md-ref-palette-secondary-88, #b8e9c0);
    --color-secondary-89       : var(--md-ref-palette-secondary-89, #bbecc3);
    --color-secondary-90       : var(--md-ref-palette-secondary-90, #bdeec5);
    --color-secondary-91       : var(--md-ref-palette-secondary-91, #c0f1c8);
    --color-secondary-92       : var(--md-ref-palette-secondary-92, #c3f4cb);
    --color-secondary-93       : var(--md-ref-palette-secondary-93, #c6f7ce);
    --color-secondary-94       : var(--md-ref-palette-secondary-94, #c8fad0);
    --color-secondary-95       : var(--md-ref-palette-secondary-95, #cbfdd3);
    --color-secondary-96       : var(--md-ref-palette-secondary-96, #d1ffd8);
    --color-secondary-97       : var(--md-ref-palette-secondary-97, #deffe1);
    --color-secondary-98       : var(--md-ref-palette-secondary-98, #eaffea);
    --color-secondary-99       : var(--md-ref-palette-secondary-99, #f5fff3);
    --color-secondary-100      : var(--md-ref-palette-secondary-100, #ffffff);
    --color-tertiary-0         : var(--md-ref-palette-tertiary-0, #000000);
    --color-tertiary-1         : var(--md-ref-palette-tertiary-1, #0b0200);
    --color-tertiary-2         : var(--md-ref-palette-tertiary-2, #140300);
    --color-tertiary-3         : var(--md-ref-palette-tertiary-3, #1a0500);
    --color-tertiary-4         : var(--md-ref-palette-tertiary-4, #1f0700);
    --color-tertiary-5         : var(--md-ref-palette-tertiary-5, #230900);
    --color-tertiary-6         : var(--md-ref-palette-tertiary-6, #270a00);
    --color-tertiary-7         : var(--md-ref-palette-tertiary-7, #2b0c00);
    --color-tertiary-8         : var(--md-ref-palette-tertiary-8, #2e0d00);
    --color-tertiary-9         : var(--md-ref-palette-tertiary-9, #310f00);
    --color-tertiary-10        : var(--md-ref-palette-tertiary-10, #351000);
    --color-tertiary-11        : var(--md-ref-palette-tertiary-11, #381200);
    --color-tertiary-12        : var(--md-ref-palette-tertiary-12, #3b1300);
    --color-tertiary-13        : var(--md-ref-palette-tertiary-13, #3e1500);
    --color-tertiary-14        : var(--md-ref-palette-tertiary-14, #421600);
    --color-tertiary-15        : var(--md-ref-palette-tertiary-15, #451800);
    --color-tertiary-16        : var(--md-ref-palette-tertiary-16, #481900);
    --color-tertiary-17        : var(--md-ref-palette-tertiary-17, #4c1b00);
    --color-tertiary-18        : var(--md-ref-palette-tertiary-18, #4f1c00);
    --color-tertiary-19        : var(--md-ref-palette-tertiary-19, #521e01);
    --color-tertiary-20        : var(--md-ref-palette-tertiary-20, #552002);
    --color-tertiary-21        : var(--md-ref-palette-tertiary-21, #582303);
    --color-tertiary-22        : var(--md-ref-palette-tertiary-22, #5b2505);
    --color-tertiary-23        : var(--md-ref-palette-tertiary-23, #5d2706);
    --color-tertiary-24        : var(--md-ref-palette-tertiary-24, #602908);
    --color-tertiary-25        : var(--md-ref-palette-tertiary-25, #632b0a);
    --color-tertiary-26        : var(--md-ref-palette-tertiary-26, #662d0d);
    --color-tertiary-27        : var(--md-ref-palette-tertiary-27, #692f0f);
    --color-tertiary-28        : var(--md-ref-palette-tertiary-28, #6c3211);
    --color-tertiary-29        : var(--md-ref-palette-tertiary-29, #6f3413);
    --color-tertiary-30        : var(--md-ref-palette-tertiary-30, #723615);
    --color-tertiary-31        : var(--md-ref-palette-tertiary-31, #743817);
    --color-tertiary-32        : var(--md-ref-palette-tertiary-32, #773a19);
    --color-tertiary-33        : var(--md-ref-palette-tertiary-33, #7a3d1b);
    --color-tertiary-34        : var(--md-ref-palette-tertiary-34, #7d3f1d);
    --color-tertiary-35        : var(--md-ref-palette-tertiary-35, #804120);
    --color-tertiary-36        : var(--md-ref-palette-tertiary-36, #834322);
    --color-tertiary-37        : var(--md-ref-palette-tertiary-37, #864624);
    --color-tertiary-38        : var(--md-ref-palette-tertiary-38, #894826);
    --color-tertiary-39        : var(--md-ref-palette-tertiary-39, #8c4a28);
    --color-tertiary-40        : var(--md-ref-palette-tertiary-40, #8f4d2a);
    --color-tertiary-41        : var(--md-ref-palette-tertiary-41, #924f2c);
    --color-tertiary-42        : var(--md-ref-palette-tertiary-42, #95512e);
    --color-tertiary-43        : var(--md-ref-palette-tertiary-43, #985431);
    --color-tertiary-44        : var(--md-ref-palette-tertiary-44, #9b5633);
    --color-tertiary-45        : var(--md-ref-palette-tertiary-45, #9e5935);
    --color-tertiary-46        : var(--md-ref-palette-tertiary-46, #a05b37);
    --color-tertiary-47        : var(--md-ref-palette-tertiary-47, #a35d39);
    --color-tertiary-48        : var(--md-ref-palette-tertiary-48, #a6603b);
    --color-tertiary-49        : var(--md-ref-palette-tertiary-49, #a9623e);
    --color-tertiary-50        : var(--md-ref-palette-tertiary-50, #ac6540);
    --color-tertiary-51        : var(--md-ref-palette-tertiary-51, #af6742);
    --color-tertiary-52        : var(--md-ref-palette-tertiary-52, #b26944);
    --color-tertiary-53        : var(--md-ref-palette-tertiary-53, #b66c47);
    --color-tertiary-54        : var(--md-ref-palette-tertiary-54, #b96e49);
    --color-tertiary-55        : var(--md-ref-palette-tertiary-55, #bc714b);
    --color-tertiary-56        : var(--md-ref-palette-tertiary-56, #bf734d);
    --color-tertiary-57        : var(--md-ref-palette-tertiary-57, #c27650);
    --color-tertiary-58        : var(--md-ref-palette-tertiary-58, #c57852);
    --color-tertiary-59        : var(--md-ref-palette-tertiary-59, #c87b54);
    --color-tertiary-60        : var(--md-ref-palette-tertiary-60, #cb7d57);
    --color-tertiary-61        : var(--md-ref-palette-tertiary-61, #ce8059);
    --color-tertiary-62        : var(--md-ref-palette-tertiary-62, #d1825b);
    --color-tertiary-63        : var(--md-ref-palette-tertiary-63, #d4855e);
    --color-tertiary-64        : var(--md-ref-palette-tertiary-64, #d78860);
    --color-tertiary-65        : var(--md-ref-palette-tertiary-65, #da8a62);
    --color-tertiary-66        : var(--md-ref-palette-tertiary-66, #dd8d65);
    --color-tertiary-67        : var(--md-ref-palette-tertiary-67, #e08f67);
    --color-tertiary-68        : var(--md-ref-palette-tertiary-68, #e4926a);
    --color-tertiary-69        : var(--md-ref-palette-tertiary-69, #e7946c);
    --color-tertiary-70        : var(--md-ref-palette-tertiary-70, #ea976e);
    --color-tertiary-71        : var(--md-ref-palette-tertiary-71, #ed9a71);
    --color-tertiary-72        : var(--md-ref-palette-tertiary-72, #f09c73);
    --color-tertiary-73        : var(--md-ref-palette-tertiary-73, #f39f76);
    --color-tertiary-74        : var(--md-ref-palette-tertiary-74, #f6a278);
    --color-tertiary-75        : var(--md-ref-palette-tertiary-75, #f9a47b);
    --color-tertiary-76        : var(--md-ref-palette-tertiary-76, #fda77d);
    --color-tertiary-77        : var(--md-ref-palette-tertiary-77, #ffaa80);
    --color-tertiary-78        : var(--md-ref-palette-tertiary-78, #ffae87);
    --color-tertiary-79        : var(--md-ref-palette-tertiary-79, #ffb28d);
    --color-tertiary-80        : var(--md-ref-palette-tertiary-80, #ffb693);
    --color-tertiary-81        : var(--md-ref-palette-tertiary-81, #ffba99);
    --color-tertiary-82        : var(--md-ref-palette-tertiary-82, #ffbd9f);
    --color-tertiary-83        : var(--md-ref-palette-tertiary-83, #ffc1a4);
    --color-tertiary-84        : var(--md-ref-palette-tertiary-84, #ffc5aa);
    --color-tertiary-85        : var(--md-ref-palette-tertiary-85, #ffc9b0);
    --color-tertiary-86        : var(--md-ref-palette-tertiary-86, #ffccb6);
    --color-tertiary-87        : var(--md-ref-palette-tertiary-87, #ffd0bb);
    --color-tertiary-88        : var(--md-ref-palette-tertiary-88, #ffd4c1);
    --color-tertiary-89        : var(--md-ref-palette-tertiary-89, #ffd7c6);
    --color-tertiary-90        : var(--md-ref-palette-tertiary-90, #ffdbcc);
    --color-tertiary-91        : var(--md-ref-palette-tertiary-91, #ffdfd1);
    --color-tertiary-92        : var(--md-ref-palette-tertiary-92, #ffe2d6);
    --color-tertiary-93        : var(--md-ref-palette-tertiary-93, #ffe6dc);
    --color-tertiary-94        : var(--md-ref-palette-tertiary-94, #ffeae1);
    --color-tertiary-95        : var(--md-ref-palette-tertiary-95, #ffede6);
    --color-tertiary-96        : var(--md-ref-palette-tertiary-96, #fff1eb);
    --color-tertiary-97        : var(--md-ref-palette-tertiary-97, #fff4f1);
    --color-tertiary-98        : var(--md-ref-palette-tertiary-98, #fff8f6);
    --color-tertiary-99        : var(--md-ref-palette-tertiary-99, #fffbff);
    --color-tertiary-100       : var(--md-ref-palette-tertiary-100, #ffffff);
    --color-error-0            : var(--md-ref-palette-error-0, #000000);
    --color-error-1            : var(--md-ref-palette-error-1, #100000);
    --color-error-2            : var(--md-ref-palette-error-2, #1a0000);
    --color-error-3            : var(--md-ref-palette-error-3, #210001);
    --color-error-4            : var(--md-ref-palette-error-4, #280001);
    --color-error-5            : var(--md-ref-palette-error-5, #2d0001);
    --color-error-6            : var(--md-ref-palette-error-6, #310001);
    --color-error-7            : var(--md-ref-palette-error-7, #360001);
    --color-error-8            : var(--md-ref-palette-error-8, #390001);
    --color-error-9            : var(--md-ref-palette-error-9, #3d0002);
    --color-error-10           : var(--md-ref-palette-error-10, #410002);
    --color-error-11           : var(--md-ref-palette-error-11, #450002);
    --color-error-12           : var(--md-ref-palette-error-12, #490002);
    --color-error-13           : var(--md-ref-palette-error-13, #4d0002);
    --color-error-14           : var(--md-ref-palette-error-14, #500003);
    --color-error-15           : var(--md-ref-palette-error-15, #540003);
    --color-error-16           : var(--md-ref-palette-error-16, #580003);
    --color-error-17           : var(--md-ref-palette-error-17, #5c0004);
    --color-error-18           : var(--md-ref-palette-error-18, #600004);
    --color-error-19           : var(--md-ref-palette-error-19, #640004);
    --color-error-20           : var(--md-ref-palette-error-20, #690005);
    --color-error-21           : var(--md-ref-palette-error-21, #6d0005);
    --color-error-22           : var(--md-ref-palette-error-22, #710005);
    --color-error-23           : var(--md-ref-palette-error-23, #750006);
    --color-error-24           : var(--md-ref-palette-error-24, #790006);
    --color-error-25           : var(--md-ref-palette-error-25, #7e0007);
    --color-error-26           : var(--md-ref-palette-error-26, #820007);
    --color-error-27           : var(--md-ref-palette-error-27, #860008);
    --color-error-28           : var(--md-ref-palette-error-28, #8a0008);
    --color-error-29           : var(--md-ref-palette-error-29, #8f0009);
    --color-error-30           : var(--md-ref-palette-error-30, #93000a);
    --color-error-31           : var(--md-ref-palette-error-31, #98000a);
    --color-error-32           : var(--md-ref-palette-error-32, #9c000b);
    --color-error-33           : var(--md-ref-palette-error-33, #a0000c);
    --color-error-34           : var(--md-ref-palette-error-34, #a4020d);
    --color-error-35           : var(--md-ref-palette-error-35, #a80710);
    --color-error-36           : var(--md-ref-palette-error-36, #ac0c12);
    --color-error-37           : var(--md-ref-palette-error-37, #af1014);
    --color-error-38           : var(--md-ref-palette-error-38, #b31416);
    --color-error-39           : var(--md-ref-palette-error-39, #b61718);
    --color-error-40           : var(--md-ref-palette-error-40, #ba1a1a);
    --color-error-41           : var(--md-ref-palette-error-41, #bd1e1d);
    --color-error-42           : var(--md-ref-palette-error-42, #c1211f);
    --color-error-43           : var(--md-ref-palette-error-43, #c52421);
    --color-error-44           : var(--md-ref-palette-error-44, #c82623);
    --color-error-45           : var(--md-ref-palette-error-45, #cc2925);
    --color-error-46           : var(--md-ref-palette-error-46, #cf2c27);
    --color-error-47           : var(--md-ref-palette-error-47, #d32f29);
    --color-error-48           : var(--md-ref-palette-error-48, #d7322c);
    --color-error-49           : var(--md-ref-palette-error-49, #da342e);
    --color-error-50           : var(--md-ref-palette-error-50, #de3730);
    --color-error-51           : var(--md-ref-palette-error-51, #e13a32);
    --color-error-52           : var(--md-ref-palette-error-52, #e53c34);
    --color-error-53           : var(--md-ref-palette-error-53, #e93f36);
    --color-error-54           : var(--md-ref-palette-error-54, #ec4139);
    --color-error-55           : var(--md-ref-palette-error-55, #f0443b);
    --color-error-56           : var(--md-ref-palette-error-56, #f3473d);
    --color-error-57           : var(--md-ref-palette-error-57, #f7493f);
    --color-error-58           : var(--md-ref-palette-error-58, #fb4c42);
    --color-error-59           : var(--md-ref-palette-error-59, #fe4e44);
    --color-error-60           : var(--md-ref-palette-error-60, #ff5449);
    --color-error-61           : var(--md-ref-palette-error-61, #ff5b4f);
    --color-error-62           : var(--md-ref-palette-error-62, #ff6154);
    --color-error-63           : var(--md-ref-palette-error-63, #ff665a);
    --color-error-64           : var(--md-ref-palette-error-64, #ff6c5f);
    --color-error-65           : var(--md-ref-palette-error-65, #ff7164);
    --color-error-66           : var(--md-ref-palette-error-66, #ff7669);
    --color-error-67           : var(--md-ref-palette-error-67, #ff7b6e);
    --color-error-68           : var(--md-ref-palette-error-68, #ff8073);
    --color-error-69           : var(--md-ref-palette-error-69, #ff8578);
    --color-error-70           : var(--md-ref-palette-error-70, #ff897d);
    --color-error-71           : var(--md-ref-palette-error-71, #ff8e82);
    --color-error-72           : var(--md-ref-palette-error-72, #ff9286);
    --color-error-73           : var(--md-ref-palette-error-73, #ff978b);
    --color-error-74           : var(--md-ref-palette-error-74, #ff9b90);
    --color-error-75           : var(--md-ref-palette-error-75, #ff9f94);
    --color-error-76           : var(--md-ref-palette-error-76, #ffa399);
    --color-error-77           : var(--md-ref-palette-error-77, #ffa89d);
    --color-error-78           : var(--md-ref-palette-error-78, #ffaca2);
    --color-error-79           : var(--md-ref-palette-error-79, #ffb0a6);
    --color-error-80           : var(--md-ref-palette-error-80, #ffb4ab);
    --color-error-81           : var(--md-ref-palette-error-81, #ffb8af);
    --color-error-82           : var(--md-ref-palette-error-82, #ffbcb3);
    --color-error-83           : var(--md-ref-palette-error-83, #ffbfb8);
    --color-error-84           : var(--md-ref-palette-error-84, #ffc3bc);
    --color-error-85           : var(--md-ref-palette-error-85, #ffc7c0);
    --color-error-86           : var(--md-ref-palette-error-86, #ffcbc5);
    --color-error-87           : var(--md-ref-palette-error-87, #ffcfc9);
    --color-error-88           : var(--md-ref-palette-error-88, #ffd3cd);
    --color-error-89           : var(--md-ref-palette-error-89, #ffd6d1);
    --color-error-90           : var(--md-ref-palette-error-90, #ffdad6);
    --color-error-91           : var(--md-ref-palette-error-91, #ffdeda);
    --color-error-92           : var(--md-ref-palette-error-92, #ffe2de);
    --color-error-93           : var(--md-ref-palette-error-93, #ffe5e2);
    --color-error-94           : var(--md-ref-palette-error-94, #ffe9e6);
    --color-error-95           : var(--md-ref-palette-error-95, #ffedea);
    --color-error-96           : var(--md-ref-palette-error-96, #fff0ee);
    --color-error-97           : var(--md-ref-palette-error-97, #fff4f2);
    --color-error-98           : var(--md-ref-palette-error-98, #fff8f7);
    --color-error-99           : var(--md-ref-palette-error-99, #fffbff);
    --color-error-100          : var(--md-ref-palette-error-100, #ffffff);
    --color-neutral-0          : var(--md-ref-palette-neutral-0, #000000);
    --color-neutral-1          : var(--md-ref-palette-neutral-1, #010402);
    --color-neutral-2          : var(--md-ref-palette-neutral-2, #040905);
    --color-neutral-3          : var(--md-ref-palette-neutral-3, #070c08);
    --color-neutral-4          : var(--md-ref-palette-neutral-4, #09100a);
    --color-neutral-5          : var(--md-ref-palette-neutral-5, #0c120d);
    --color-neutral-6          : var(--md-ref-palette-neutral-6, #0e150f);
    --color-neutral-7          : var(--md-ref-palette-neutral-7, #111712);
    --color-neutral-8          : var(--md-ref-palette-neutral-8, #131914);
    --color-neutral-9          : var(--md-ref-palette-neutral-9, #151b16);
    --color-neutral-10         : var(--md-ref-palette-neutral-10, #171d17);
    --color-neutral-11         : var(--md-ref-palette-neutral-11, #191f19);
    --color-neutral-12         : var(--md-ref-palette-neutral-12, #1b211b);
    --color-neutral-13         : var(--md-ref-palette-neutral-13, #1d231d);
    --color-neutral-14         : var(--md-ref-palette-neutral-14, #1f251f);
    --color-neutral-15         : var(--md-ref-palette-neutral-15, #212721);
    --color-neutral-16         : var(--md-ref-palette-neutral-16, #232a23);
    --color-neutral-17         : var(--md-ref-palette-neutral-17, #252c25);
    --color-neutral-18         : var(--md-ref-palette-neutral-18, #272e28);
    --color-neutral-19         : var(--md-ref-palette-neutral-19, #29302a);
    --color-neutral-20         : var(--md-ref-palette-neutral-20, #2b322c);
    --color-neutral-21         : var(--md-ref-palette-neutral-21, #2d342e);
    --color-neutral-22         : var(--md-ref-palette-neutral-22, #303630);
    --color-neutral-23         : var(--md-ref-palette-neutral-23, #323932);
    --color-neutral-24         : var(--md-ref-palette-neutral-24, #343b34);
    --color-neutral-25         : var(--md-ref-palette-neutral-25, #363d37);
    --color-neutral-26         : var(--md-ref-palette-neutral-26, #383f39);
    --color-neutral-27         : var(--md-ref-palette-neutral-27, #3b423b);
    --color-neutral-28         : var(--md-ref-palette-neutral-28, #3d443d);
    --color-neutral-29         : var(--md-ref-palette-neutral-29, #3f463f);
    --color-neutral-30         : var(--md-ref-palette-neutral-30, #424942);
    --color-neutral-31         : var(--md-ref-palette-neutral-31, #444b44);
    --color-neutral-32         : var(--md-ref-palette-neutral-32, #464d46);
    --color-neutral-33         : var(--md-ref-palette-neutral-33, #485048);
    --color-neutral-34         : var(--md-ref-palette-neutral-34, #4b524b);
    --color-neutral-35         : var(--md-ref-palette-neutral-35, #4d544d);
    --color-neutral-36         : var(--md-ref-palette-neutral-36, #50574f);
    --color-neutral-37         : var(--md-ref-palette-neutral-37, #525952);
    --color-neutral-38         : var(--md-ref-palette-neutral-38, #545b54);
    --color-neutral-39         : var(--md-ref-palette-neutral-39, #575e56);
    --color-neutral-40         : var(--md-ref-palette-neutral-40, #596059);
    --color-neutral-41         : var(--md-ref-palette-neutral-41, #5c635b);
    --color-neutral-42         : var(--md-ref-palette-neutral-42, #5e655e);
    --color-neutral-43         : var(--md-ref-palette-neutral-43, #606860);
    --color-neutral-44         : var(--md-ref-palette-neutral-44, #636a62);
    --color-neutral-45         : var(--md-ref-palette-neutral-45, #656c65);
    --color-neutral-46         : var(--md-ref-palette-neutral-46, #686f67);
    --color-neutral-47         : var(--md-ref-palette-neutral-47, #6a716a);
    --color-neutral-48         : var(--md-ref-palette-neutral-48, #6d746c);
    --color-neutral-49         : var(--md-ref-palette-neutral-49, #6f766f);
    --color-neutral-50         : var(--md-ref-palette-neutral-50, #727971);
    --color-neutral-51         : var(--md-ref-palette-neutral-51, #747b74);
    --color-neutral-52         : var(--md-ref-palette-neutral-52, #777e76);
    --color-neutral-53         : var(--md-ref-palette-neutral-53, #798179);
    --color-neutral-54         : var(--md-ref-palette-neutral-54, #7c837b);
    --color-neutral-55         : var(--md-ref-palette-neutral-55, #7e867e);
    --color-neutral-56         : var(--md-ref-palette-neutral-56, #818880);
    --color-neutral-57         : var(--md-ref-palette-neutral-57, #848b83);
    --color-neutral-58         : var(--md-ref-palette-neutral-58, #868d85);
    --color-neutral-59         : var(--md-ref-palette-neutral-59, #899088);
    --color-neutral-60         : var(--md-ref-palette-neutral-60, #8b938a);
    --color-neutral-61         : var(--md-ref-palette-neutral-61, #8e958d);
    --color-neutral-62         : var(--md-ref-palette-neutral-62, #91988f);
    --color-neutral-63         : var(--md-ref-palette-neutral-63, #939b92);
    --color-neutral-64         : var(--md-ref-palette-neutral-64, #969d95);
    --color-neutral-65         : var(--md-ref-palette-neutral-65, #99a097);
    --color-neutral-66         : var(--md-ref-palette-neutral-66, #9ba29a);
    --color-neutral-67         : var(--md-ref-palette-neutral-67, #9ea59c);
    --color-neutral-68         : var(--md-ref-palette-neutral-68, #a1a89f);
    --color-neutral-69         : var(--md-ref-palette-neutral-69, #a3aaa2);
    --color-neutral-70         : var(--md-ref-palette-neutral-70, #a6ada4);
    --color-neutral-71         : var(--md-ref-palette-neutral-71, #a9b0a7);
    --color-neutral-72         : var(--md-ref-palette-neutral-72, #abb3aa);
    --color-neutral-73         : var(--md-ref-palette-neutral-73, #aeb5ac);
    --color-neutral-74         : var(--md-ref-palette-neutral-74, #b1b8af);
    --color-neutral-75         : var(--md-ref-palette-neutral-75, #b4bbb2);
    --color-neutral-76         : var(--md-ref-palette-neutral-76, #b6bdb4);
    --color-neutral-77         : var(--md-ref-palette-neutral-77, #b9c0b7);
    --color-neutral-78         : var(--md-ref-palette-neutral-78, #bcc3ba);
    --color-neutral-79         : var(--md-ref-palette-neutral-79, #bfc6bd);
    --color-neutral-80         : var(--md-ref-palette-neutral-80, #c1c8bf);
    --color-neutral-81         : var(--md-ref-palette-neutral-81, #c4cbc2);
    --color-neutral-82         : var(--md-ref-palette-neutral-82, #c7cec5);
    --color-neutral-83         : var(--md-ref-palette-neutral-83, #cad1c8);
    --color-neutral-84         : var(--md-ref-palette-neutral-84, #cdd4ca);
    --color-neutral-85         : var(--md-ref-palette-neutral-85, #cfd6cd);
    --color-neutral-86         : var(--md-ref-palette-neutral-86, #d2d9d0);
    --color-neutral-87         : var(--md-ref-palette-neutral-87, #d5dcd3);
    --color-neutral-88         : var(--md-ref-palette-neutral-88, #d8dfd5);
    --color-neutral-89         : var(--md-ref-palette-neutral-89, #dbe2d8);
    --color-neutral-90         : var(--md-ref-palette-neutral-90, #dde4db);
    --color-neutral-91         : var(--md-ref-palette-neutral-91, #e0e7de);
    --color-neutral-92         : var(--md-ref-palette-neutral-92, #e3eae1);
    --color-neutral-93         : var(--md-ref-palette-neutral-93, #e6ede3);
    --color-neutral-94         : var(--md-ref-palette-neutral-94, #e9f0e6);
    --color-neutral-95         : var(--md-ref-palette-neutral-95, #ecf3e9);
    --color-neutral-96         : var(--md-ref-palette-neutral-96, #eff6ec);
    --color-neutral-97         : var(--md-ref-palette-neutral-97, #f2f8ef);
    --color-neutral-98         : var(--md-ref-palette-neutral-98, #f4fbf1);
    --color-neutral-99         : var(--md-ref-palette-neutral-99, #f7fef4);
    --color-neutral-100        : var(--md-ref-palette-neutral-100, #ffffff);
    --color-neutral-variant-0  : var(--md-ref-palette-neutral-variant-0, #000000);
    --color-neutral-variant-1  : var(--md-ref-palette-neutral-variant-1, #000501);
    --color-neutral-variant-2  : var(--md-ref-palette-neutral-variant-2, #020904);
    --color-neutral-variant-3  : var(--md-ref-palette-neutral-variant-3, #040d06);
    --color-neutral-variant-4  : var(--md-ref-palette-neutral-variant-4, #061108);
    --color-neutral-variant-5  : var(--md-ref-palette-neutral-variant-5, #08130b);
    --color-neutral-variant-6  : var(--md-ref-palette-neutral-variant-6, #0b160d);
    --color-neutral-variant-7  : var(--md-ref-palette-neutral-variant-7, #0d180f);
    --color-neutral-variant-8  : var(--md-ref-palette-neutral-variant-8, #0f1a11);
    --color-neutral-variant-9  : var(--md-ref-palette-neutral-variant-9, #111c13);
    --color-neutral-variant-10 : var(--md-ref-palette-neutral-variant-10, #131e15);
    --color-neutral-variant-11 : var(--md-ref-palette-neutral-variant-11, #152017);
    --color-neutral-variant-12 : var(--md-ref-palette-neutral-variant-12, #172219);
    --color-neutral-variant-13 : var(--md-ref-palette-neutral-variant-13, #19241b);
    --color-neutral-variant-14 : var(--md-ref-palette-neutral-variant-14, #1b261d);
    --color-neutral-variant-15 : var(--md-ref-palette-neutral-variant-15, #1d281f);
    --color-neutral-variant-16 : var(--md-ref-palette-neutral-variant-16, #1f2b21);
    --color-neutral-variant-17 : var(--md-ref-palette-neutral-variant-17, #212d23);
    --color-neutral-variant-18 : var(--md-ref-palette-neutral-variant-18, #232f25);
    --color-neutral-variant-19 : var(--md-ref-palette-neutral-variant-19, #253127);
    --color-neutral-variant-20 : var(--md-ref-palette-neutral-variant-20, #273329);
    --color-neutral-variant-21 : var(--md-ref-palette-neutral-variant-21, #2a352b);
    --color-neutral-variant-22 : var(--md-ref-palette-neutral-variant-22, #2c382d);
    --color-neutral-variant-23 : var(--md-ref-palette-neutral-variant-23, #2e3a30);
    --color-neutral-variant-24 : var(--md-ref-palette-neutral-variant-24, #303c32);
    --color-neutral-variant-25 : var(--md-ref-palette-neutral-variant-25, #323e34);
    --color-neutral-variant-26 : var(--md-ref-palette-neutral-variant-26, #344136);
    --color-neutral-variant-27 : var(--md-ref-palette-neutral-variant-27, #374338);
    --color-neutral-variant-28 : var(--md-ref-palette-neutral-variant-28, #39453a);
    --color-neutral-variant-29 : var(--md-ref-palette-neutral-variant-29, #3b473d);
    --color-neutral-variant-30 : var(--md-ref-palette-neutral-variant-30, #3d4a3f);
    --color-neutral-variant-31 : var(--md-ref-palette-neutral-variant-31, #404c41);
    --color-neutral-variant-32 : var(--md-ref-palette-neutral-variant-32, #424e43);
    --color-neutral-variant-33 : var(--md-ref-palette-neutral-variant-33, #445146);
    --color-neutral-variant-34 : var(--md-ref-palette-neutral-variant-34, #475348);
    --color-neutral-variant-35 : var(--md-ref-palette-neutral-variant-35, #49564a);
    --color-neutral-variant-36 : var(--md-ref-palette-neutral-variant-36, #4b584d);
    --color-neutral-variant-37 : var(--md-ref-palette-neutral-variant-37, #4e5a4f);
    --color-neutral-variant-38 : var(--md-ref-palette-neutral-variant-38, #505d51);
    --color-neutral-variant-39 : var(--md-ref-palette-neutral-variant-39, #525f54);
    --color-neutral-variant-40 : var(--md-ref-palette-neutral-variant-40, #556256);
    --color-neutral-variant-41 : var(--md-ref-palette-neutral-variant-41, #576458);
    --color-neutral-variant-42 : var(--md-ref-palette-neutral-variant-42, #5a665b);
    --color-neutral-variant-43 : var(--md-ref-palette-neutral-variant-43, #5c695d);
    --color-neutral-variant-44 : var(--md-ref-palette-neutral-variant-44, #5f6b5f);
    --color-neutral-variant-45 : var(--md-ref-palette-neutral-variant-45, #616e62);
    --color-neutral-variant-46 : var(--md-ref-palette-neutral-variant-46, #637064);
    --color-neutral-variant-47 : var(--md-ref-palette-neutral-variant-47, #667367);
    --color-neutral-variant-48 : var(--md-ref-palette-neutral-variant-48, #687569);
    --color-neutral-variant-49 : var(--md-ref-palette-neutral-variant-49, #6b786c);
    --color-neutral-variant-50 : var(--md-ref-palette-neutral-variant-50, #6d7a6e);
    --color-neutral-variant-51 : var(--md-ref-palette-neutral-variant-51, #707d70);
    --color-neutral-variant-52 : var(--md-ref-palette-neutral-variant-52, #727f73);
    --color-neutral-variant-53 : var(--md-ref-palette-neutral-variant-53, #758275);
    --color-neutral-variant-54 : var(--md-ref-palette-neutral-variant-54, #778578);
    --color-neutral-variant-55 : var(--md-ref-palette-neutral-variant-55, #7a877a);
    --color-neutral-variant-56 : var(--md-ref-palette-neutral-variant-56, #7d8a7d);
    --color-neutral-variant-57 : var(--md-ref-palette-neutral-variant-57, #7f8c7f);
    --color-neutral-variant-58 : var(--md-ref-palette-neutral-variant-58, #828f82);
    --color-neutral-variant-59 : var(--md-ref-palette-neutral-variant-59, #849285);
    --color-neutral-variant-60 : var(--md-ref-palette-neutral-variant-60, #879487);
    --color-neutral-variant-61 : var(--md-ref-palette-neutral-variant-61, #89978a);
    --color-neutral-variant-62 : var(--md-ref-palette-neutral-variant-62, #8c998c);
    --color-neutral-variant-63 : var(--md-ref-palette-neutral-variant-63, #8f9c8f);
    --color-neutral-variant-64 : var(--md-ref-palette-neutral-variant-64, #919f91);
    --color-neutral-variant-65 : var(--md-ref-palette-neutral-variant-65, #94a194);
    --color-neutral-variant-66 : var(--md-ref-palette-neutral-variant-66, #97a497);
    --color-neutral-variant-67 : var(--md-ref-palette-neutral-variant-67, #99a799);
    --color-neutral-variant-68 : var(--md-ref-palette-neutral-variant-68, #9ca99c);
    --color-neutral-variant-69 : var(--md-ref-palette-neutral-variant-69, #9fac9e);
    --color-neutral-variant-70 : var(--md-ref-palette-neutral-variant-70, #a1afa1);
    --color-neutral-variant-71 : var(--md-ref-palette-neutral-variant-71, #a4b1a4);
    --color-neutral-variant-72 : var(--md-ref-palette-neutral-variant-72, #a7b4a6);
    --color-neutral-variant-73 : var(--md-ref-palette-neutral-variant-73, #a9b7a9);
    --color-neutral-variant-74 : var(--md-ref-palette-neutral-variant-74, #acbaac);
    --color-neutral-variant-75 : var(--md-ref-palette-neutral-variant-75, #afbcae);
    --color-neutral-variant-76 : var(--md-ref-palette-neutral-variant-76, #b1bfb1);
    --color-neutral-variant-77 : var(--md-ref-palette-neutral-variant-77, #b4c2b4);
    --color-neutral-variant-78 : var(--md-ref-palette-neutral-variant-78, #b7c5b6);
    --color-neutral-variant-79 : var(--md-ref-palette-neutral-variant-79, #bac7b9);
    --color-neutral-variant-80 : var(--md-ref-palette-neutral-variant-80, #bccabc);
    --color-neutral-variant-81 : var(--md-ref-palette-neutral-variant-81, #bfcdbf);
    --color-neutral-variant-82 : var(--md-ref-palette-neutral-variant-82, #c2d0c1);
    --color-neutral-variant-83 : var(--md-ref-palette-neutral-variant-83, #c5d2c4);
    --color-neutral-variant-84 : var(--md-ref-palette-neutral-variant-84, #c8d5c7);
    --color-neutral-variant-85 : var(--md-ref-palette-neutral-variant-85, #cad8c9);
    --color-neutral-variant-86 : var(--md-ref-palette-neutral-variant-86, #cddbcc);
    --color-neutral-variant-87 : var(--md-ref-palette-neutral-variant-87, #d0decf);
    --color-neutral-variant-88 : var(--md-ref-palette-neutral-variant-88, #d3e1d2);
    --color-neutral-variant-89 : var(--md-ref-palette-neutral-variant-89, #d6e3d5);
    --color-neutral-variant-90 : var(--md-ref-palette-neutral-variant-90, #d8e6d7);
    --color-neutral-variant-91 : var(--md-ref-palette-neutral-variant-91, #dbe9da);
    --color-neutral-variant-92 : var(--md-ref-palette-neutral-variant-92, #deecdd);
    --color-neutral-variant-93 : var(--md-ref-palette-neutral-variant-93, #e1efe0);
    --color-neutral-variant-94 : var(--md-ref-palette-neutral-variant-94, #e4f2e3);
    --color-neutral-variant-95 : var(--md-ref-palette-neutral-variant-95, #e7f5e5);
    --color-neutral-variant-96 : var(--md-ref-palette-neutral-variant-96, #eaf7e8);
    --color-neutral-variant-97 : var(--md-ref-palette-neutral-variant-97, #ecfaeb);
    --color-neutral-variant-98 : var(--md-ref-palette-neutral-variant-98, #effdee);
    --color-neutral-variant-99 : var(--md-ref-palette-neutral-variant-99, #f5fff3);
    --color-neutral-variant-100: var(--md-ref-palette-neutral-variant-100, #ffffff);
}
