:root {
    --md-sys-color-background: light-dark(#e9ffed, #000000);
    --md-sys-color-error: light-dark(#aa371c, #fe7453);
    --md-sys-color-error-container: light-dark(#fa7150, #881f05);
    --md-sys-color-error-dim: light-dark(#821a01, #c74c2f);
    --md-sys-color-error-palette-key-color: light-dark(#cb4f31, #cb4f31);
    --md-sys-color-inverse-on-surface: light-dark(#89a390, #48594d);
    --md-sys-color-inverse-primary: light-dark(#abfeb2, #376a3e);
    --md-sys-color-inverse-surface: light-dark(#001207, #eafeee);
    --md-sys-color-neutral-palette-key-color: light-dark(#647d6b, #697b6e);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#35855b, #4c8262);
    --md-sys-color-on-background: light-dark(#083a23, #c9eed4);
    --md-sys-color-on-error: light-dark(#fff7f6, #450900);
    --md-sys-color-on-error-container: light-dark(#671200, #ff9b82);
    --md-sys-color-on-primary: light-dark(#e9ffe6, #32653a);
    --md-sys-color-on-primary-container: light-dark(#035f26, #295c32);
    --md-sys-color-on-primary-fixed: light-dark(#004a1b, #144921);
    --md-sys-color-on-primary-fixed-variant: light-dark(#16692f, #33663b);
    --md-sys-color-on-secondary: light-dark(#fff7f5, #543a2b);
    --md-sys-color-on-secondary-container: light-dark(#71482f, #c09c88);
    --md-sys-color-on-secondary-fixed: light-dark(#5b361e, #53392a);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#7c5238, #725544);
    --md-sys-color-on-surface: light-dark(#083a23, #c9eed4);
    --md-sys-color-on-surface-variant: light-dark(#3a684d, #90b39b);
    --md-sys-color-on-tertiary: light-dark(#fff7f5, #6f2c00);
    --md-sys-color-on-tertiary-container: light-dark(#602500, #602500);
    --md-sys-color-on-tertiary-fixed: light-dark(#3c1400, #3c1400);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#6e2b00, #6e2b00);
    --md-sys-color-outline: light-dark(#568568, #5c7d67);
    --md-sys-color-outline-variant: light-dark(#8cbd9d, #2f4f3b);
    --md-sys-color-primary: light-dark(#1b6d32, #c6ffc7);
    --md-sys-color-primary-container: light-dark(#a3f5aa, #b7f1b9);
    --md-sys-color-primary-dim: light-dark(#056127, #b7f1b9);
    --md-sys-color-primary-fixed: light-dark(#a3f5aa, #b7f1b9);
    --md-sys-color-primary-fixed-dim: light-dark(#95e79d, #aae2ac);
    --md-sys-color-primary-palette-key-color: light-dark(#378647, #4f8355);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#80553b, #e5bfa9);
    --md-sys-color-secondary-container: light-dark(#ffdbc8, #372012);
    --md-sys-color-secondary-dim: light-dark(#724a30, #d7b19c);
    --md-sys-color-secondary-fixed: light-dark(#ffdbc8, #ffdbc8);
    --md-sys-color-secondary-fixed-dim: light-dark(#ffc9aa, #f4ccb7);
    --md-sys-color-secondary-palette-key-color: light-dark(#9b6d51, #90705e);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#e9ffed, #000000);
    --md-sys-color-surface-bright: light-dark(#e9ffed, #0d331f);
    --md-sys-color-surface-container: light-dark(#d0f7db, #061e11);
    --md-sys-color-surface-container-high: light-dark(#c6f3d3, #082516);
    --md-sys-color-surface-container-highest: light-dark(#bbeecc, #0a2c1a);
    --md-sys-color-surface-container-low: light-dark(#dafce3, #04170c);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#aee7c1, #031108);
    --md-sys-color-surface-tint: light-dark(#1b6d32, #c6ffc7);
    --md-sys-color-surface-variant: light-dark(#bbeecc, #0a2c1a);
    --md-sys-color-tertiary: light-dark(#994817, #ffb692);
    --md-sys-color-tertiary-container: light-dark(#ffa272, #ffa272);
    --md-sys-color-tertiary-dim: light-dark(#8a3c0b, #fe9660);
    --md-sys-color-tertiary-fixed: light-dark(#ffa272, #ffa272);
    --md-sys-color-tertiary-fixed-dim: light-dark(#f7915b, #f7915b);
    --md-sys-color-tertiary-palette-key-color: light-dark(#b75f2d, #b75f2d);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#e9ffed, #000000);
        --md-sys-color-error: light-dark(#aa371c, #fe7453);
        --md-sys-color-error-container: light-dark(#fa7150, #881f05);
        --md-sys-color-error-dim: light-dark(#b64024, #c74c2f);
        --md-sys-color-error-palette-key-color: light-dark(#cb4f31, #cb4f31);
        --md-sys-color-inverse-on-surface: light-dark(#89a390, #48594d);
        --md-sys-color-inverse-primary: light-dark(#52a15f, #376a3e);
        --md-sys-color-inverse-surface: light-dark(#001207, #eafeee);
        --md-sys-color-neutral-palette-key-color: light-dark(#647d6b, #697b6e);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#35855b, #4c8262);
        --md-sys-color-on-background: light-dark(#083a23, #c9eed4);
        --md-sys-color-on-error: light-dark(#fff7f6, #450900);
        --md-sys-color-on-error-container: light-dark(#671200, #ff9b82);
        --md-sys-color-on-primary: light-dark(#e9ffe6, #00270b);
        --md-sys-color-on-primary-container: light-dark(#035f26, #295c32);
        --md-sys-color-on-primary-fixed: light-dark(#004a1b, #144921);
        --md-sys-color-on-primary-fixed-variant: light-dark(#16692f, #33663b);
        --md-sys-color-on-secondary: light-dark(#fff7f5, #301b0d);
        --md-sys-color-on-secondary-container: light-dark(#71482f, #c09c88);
        --md-sys-color-on-secondary-fixed: light-dark(#5b361e, #53392a);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#7c5238, #725544);
        --md-sys-color-on-surface: light-dark(#083a23, #c9eed4);
        --md-sys-color-on-surface-variant: light-dark(#3a684d, #90b39b);
        --md-sys-color-on-tertiary: light-dark(#fff7f5, #3c1400);
        --md-sys-color-on-tertiary-container: light-dark(#602500, #602500);
        --md-sys-color-on-tertiary-fixed: light-dark(#3c1400, #3c1400);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#6e2b00, #6e2b00);
        --md-sys-color-outline: light-dark(#568568, #5c7d67);
        --md-sys-color-outline-variant: light-dark(#8cbd9d, #2f4f3b);
        --md-sys-color-primary: light-dark(#1b6d32, #75aa79);
        --md-sys-color-primary-container: light-dark(#a3f5aa, #b7f1b9);
        --md-sys-color-primary-dim: light-dark(#26763a, #4c8052);
        --md-sys-color-primary-fixed: light-dark(#a3f5aa, #b7f1b9);
        --md-sys-color-primary-fixed-dim: light-dark(#95e79d, #aae2ac);
        --md-sys-color-primary-palette-key-color: light-dark(#378647, #4f8355);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#80553b, #ba9783);
        --md-sys-color-secondary-container: light-dark(#ffdbc8, #372012);
        --md-sys-color-secondary-dim: light-dark(#8a5e43, #8e6e5c);
        --md-sys-color-secondary-fixed: light-dark(#ffdbc8, #ffdbc8);
        --md-sys-color-secondary-fixed-dim: light-dark(#ffc9aa, #f4ccb7);
        --md-sys-color-secondary-palette-key-color: light-dark(#9b6d51, #90705e);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#e9ffed, #000000);
        --md-sys-color-surface-bright: light-dark(#e9ffed, #0d331f);
        --md-sys-color-surface-container: light-dark(#d0f7db, #061e11);
        --md-sys-color-surface-container-high: light-dark(#c6f3d3, #082516);
        --md-sys-color-surface-container-highest: light-dark(#bbeecc, #0a2c1a);
        --md-sys-color-surface-container-low: light-dark(#dafce3, #04170c);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#aee7c1, #031108);
        --md-sys-color-surface-tint: light-dark(#1b6d32, #75aa79);
        --md-sys-color-surface-variant: light-dark(#bbeecc, #0a2c1a);
        --md-sys-color-tertiary: light-dark(#994817, #e7844f);
        --md-sys-color-tertiary-container: light-dark(#ffa272, #ffa272);
        --md-sys-color-tertiary-dim: light-dark(#a45020, #b45c2b);
        --md-sys-color-tertiary-fixed: light-dark(#ffa272, #ffa272);
        --md-sys-color-tertiary-fixed-dim: light-dark(#f7915b, #f7915b);
        --md-sys-color-tertiary-palette-key-color: light-dark(#b75f2d, #b75f2d);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#e9ffed, #000000);
        --md-sys-color-error: light-dark(#4c0a00, #ffded7);
        --md-sys-color-error-container: light-dark(#982b10, #ff7e5e);
        --md-sys-color-error-dim: light-dark(#390600, #ffc8bb);
        --md-sys-color-error-palette-key-color: light-dark(#cb4f31, #cb4f31);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#abfeb2, #0b411b);
        --md-sys-color-inverse-surface: light-dark(#001207, #eafeee);
        --md-sys-color-neutral-palette-key-color: light-dark(#647d6b, #697b6e);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#35855b, #4c8262);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffcfc4, #5a0e00);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#9beda3, #043c16);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #003210);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #00260a);
        --md-sys-color-on-secondary: light-dark(#ffd1b7, #3e2718);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #301a0d);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#002a17, #c9eed4);
        --md-sys-color-on-tertiary: light-dark(#ffd0bb, #4f1d00);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-outline: light-dark(#1d4b32, #9ec1a8);
        --md-sys-color-outline-variant: light-dark(#2d5b41, #89ac94);
        --md-sys-color-primary: light-dark(#002b0d, #c6ffc7);
        --md-sys-color-primary-container: light-dark(#036026, #b7f1b9);
        --md-sys-color-primary-dim: light-dark(#001f07, #b7f1b9);
        --md-sys-color-primary-fixed: light-dark(#036026, #b7f1b9);
        --md-sys-color-primary-fixed-dim: light-dark(#00521f, #aae2ac);
        --md-sys-color-primary-palette-key-color: light-dark(#378647, #4f8355);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#3b1c06, #ffdfce);
        --md-sys-color-secondary-container: light-dark(#71492f, #c09c88);
        --md-sys-color-secondary-dim: light-dark(#2e1201, #f7cfb9);
        --md-sys-color-secondary-fixed: light-dark(#71492f, #ffdbc8);
        --md-sys-color-secondary-fixed-dim: light-dark(#643d25, #f4ccb7);
        --md-sys-color-secondary-palette-key-color: light-dark(#9b6d51, #90705e);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#e9ffed, #000000);
        --md-sys-color-surface-bright: light-dark(#e9ffed, #0d331f);
        --md-sys-color-surface-container: light-dark(#d0f7db, #061e11);
        --md-sys-color-surface-container-high: light-dark(#c6f3d3, #082516);
        --md-sys-color-surface-container-highest: light-dark(#bbeecc, #0a2c1a);
        --md-sys-color-surface-container-low: light-dark(#dafce3, #04170c);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#aee7c1, #031108);
        --md-sys-color-surface-tint: light-dark(#002b0d, #c6ffc7);
        --md-sys-color-surface-variant: light-dark(#bbeecc, #0a2c1a);
        --md-sys-color-tertiary: light-dark(#421700, #ffdfd1);
        --md-sys-color-tertiary-container: light-dark(#883b0a, #ffa272);
        --md-sys-color-tertiary-dim: light-dark(#310f00, #ffc9b0);
        --md-sys-color-tertiary-fixed: light-dark(#883b0a, #ffa272);
        --md-sys-color-tertiary-fixed-dim: light-dark(#793000, #f7915b);
        --md-sys-color-tertiary-palette-key-color: light-dark(#b75f2d, #b75f2d);
    }

}
