:root {
    --md-sys-color-background: light-dark(#fff8f6, #000000);
    --md-sys-color-error: light-dark(#ac3149, #fd6f85);
    --md-sys-color-error-container: light-dark(#f76a80, #8a1632);
    --md-sys-color-error-dim: light-dark(#770326, #c8475d);
    --md-sys-color-error-palette-key-color: light-dark(#cb495f, #cb495f);
    --md-sys-color-inverse-on-surface: light-dark(#be9484, #6a4f45);
    --md-sys-color-inverse-primary: light-dark(#fb8c76, #904b3d);
    --md-sys-color-inverse-surface: light-dark(#1d0802, #fff8f6);
    --md-sys-color-neutral-palette-key-color: light-dark(#946e60, #8e7065);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#b26140, #a8674d);
    --md-sys-color-on-background: light-dark(#522613, #ffdfd3);
    --md-sys-color-on-error: light-dark(#fff7f7, #490013);
    --md-sys-color-on-error-container: light-dark(#68001f, #ff97a3);
    --md-sys-color-on-primary: light-dark(#fff7f6, #6a2e22);
    --md-sys-color-on-primary-container: light-dark(#6f2213, #5e2519);
    --md-sys-color-on-primary-fixed: light-dark(#520d03, #4b160c);
    --md-sys-color-on-primary-fixed-variant: light-dark(#7b2b1b, #713326);
    --md-sys-color-on-secondary: light-dark(#f3faff, #2f434d);
    --md-sys-color-on-secondary-container: light-dark(#325667, #92a7b3);
    --md-sys-color-on-secondary-fixed: light-dark(#1d4454, #354953);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#3c6072, #516570);
    --md-sys-color-on-surface: light-dark(#522613, #ffdfd3);
    --md-sys-color-on-surface-variant: light-dark(#87513b, #d49f8b);
    --md-sys-color-on-tertiary: light-dark(#f2faff, #004e62);
    --md-sys-color-on-tertiary-container: light-dark(#004457, #004457);
    --md-sys-color-on-tertiary-fixed: light-dark(#002e3c, #002e3c);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#004e62, #004e62);
    --md-sys-color-outline: light-dark(#a76c55, #996a58);
    --md-sys-color-outline-variant: light-dark(#e6a288, #653e2e);
    --md-sys-color-primary: light-dark(#9d4332, #ffb4a5);
    --md-sys-color-primary-container: light-dark(#ffac9b, #faa290);
    --md-sys-color-primary-dim: light-dark(#8d3827, #faa290);
    --md-sys-color-primary-fixed: light-dark(#ffac9b, #ffac9b);
    --md-sys-color-primary-fixed-dim: light-dark(#ff9782, #f49d8b);
    --md-sys-color-primary-palette-key-color: light-dark(#bb5a47, #ad6353);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#3f6475, #b4cad6);
    --md-sys-color-secondary-container: light-dark(#c2e8fd, #142832);
    --md-sys-color-secondary-dim: light-dark(#335869, #a7bcc8);
    --md-sys-color-secondary-fixed: light-dark(#c2e8fd, #dbf1fe);
    --md-sys-color-secondary-fixed-dim: light-dark(#b4daee, #cde3f0);
    --md-sys-color-secondary-palette-key-color: light-dark(#587c8e, #667a85);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f6, #000000);
    --md-sys-color-surface-bright: light-dark(#fff8f6, #472213);
    --md-sys-color-surface-container: light-dark(#ffe9e2, #2b1309);
    --md-sys-color-surface-container-high: light-dark(#ffe2d8, #34180c);
    --md-sys-color-surface-container-highest: light-dark(#ffdbce, #3d1d0f);
    --md-sys-color-surface-container-low: light-dark(#fff1ec, #220e06);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#ffd0be, #1b0904);
    --md-sys-color-surface-tint: light-dark(#9d4332, #ffb4a5);
    --md-sys-color-surface-variant: light-dark(#ffdbce, #3d1d0f);
    --md-sys-color-tertiary: light-dark(#006882, #85ddff);
    --md-sys-color-tertiary-container: light-dark(#5bd1fa, #5bd1fa);
    --md-sys-color-tertiary-dim: light-dark(#005b72, #5bd1fa);
    --md-sys-color-tertiary-fixed: light-dark(#5bd1fa, #5bd1fa);
    --md-sys-color-tertiary-fixed-dim: light-dark(#4ac3ec, #4ac3ec);
    --md-sys-color-tertiary-palette-key-color: light-dark(#00a0c7, #00a0c7);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff8f6, #000000);
        --md-sys-color-error: light-dark(#ac3149, #fd6f85);
        --md-sys-color-error-container: light-dark(#f76a80, #8a1632);
        --md-sys-color-error-dim: light-dark(#b73a51, #c8475d);
        --md-sys-color-error-palette-key-color: light-dark(#cb495f, #cb495f);
        --md-sys-color-inverse-on-surface: light-dark(#be9484, #6a4f45);
        --md-sys-color-inverse-primary: light-dark(#db735e, #904b3d);
        --md-sys-color-inverse-surface: light-dark(#1d0802, #fff8f6);
        --md-sys-color-neutral-palette-key-color: light-dark(#946e60, #8e7065);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#b26140, #a8674d);
        --md-sys-color-on-background: light-dark(#522613, #ffdfd3);
        --md-sys-color-on-error: light-dark(#fff7f7, #490013);
        --md-sys-color-on-error-container: light-dark(#68001f, #ff97a3);
        --md-sys-color-on-primary: light-dark(#fff7f6, #410e06);
        --md-sys-color-on-primary-container: light-dark(#6f2213, #5e2519);
        --md-sys-color-on-primary-fixed: light-dark(#520d03, #4b160c);
        --md-sys-color-on-primary-fixed-variant: light-dark(#7b2b1b, #713326);
        --md-sys-color-on-secondary: light-dark(#f3faff, #0e232c);
        --md-sys-color-on-secondary-container: light-dark(#325667, #92a7b3);
        --md-sys-color-on-secondary-fixed: light-dark(#1d4454, #354953);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#3c6072, #516570);
        --md-sys-color-on-surface: light-dark(#522613, #ffdfd3);
        --md-sys-color-on-surface-variant: light-dark(#87513b, #d49f8b);
        --md-sys-color-on-tertiary: light-dark(#f2faff, #00242f);
        --md-sys-color-on-tertiary-container: light-dark(#004457, #004457);
        --md-sys-color-on-tertiary-fixed: light-dark(#002e3c, #002e3c);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#004e62, #004e62);
        --md-sys-color-outline: light-dark(#a76c55, #996a58);
        --md-sys-color-outline-variant: light-dark(#e6a288, #653e2e);
        --md-sys-color-primary: light-dark(#9d4332, #db8877);
        --md-sys-color-primary-container: light-dark(#ffac9b, #faa290);
        --md-sys-color-primary-dim: light-dark(#a84c39, #aa6051);
        --md-sys-color-primary-fixed: light-dark(#ffac9b, #ffac9b);
        --md-sys-color-primary-fixed-dim: light-dark(#ff9782, #f49d8b);
        --md-sys-color-primary-palette-key-color: light-dark(#bb5a47, #ad6353);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#3f6475, #8ca1ad);
        --md-sys-color-secondary-container: light-dark(#c2e8fd, #142832);
        --md-sys-color-secondary-dim: light-dark(#486d7f, #637783);
        --md-sys-color-secondary-fixed: light-dark(#c2e8fd, #dbf1fe);
        --md-sys-color-secondary-fixed-dim: light-dark(#b4daee, #cde3f0);
        --md-sys-color-secondary-palette-key-color: light-dark(#587c8e, #667a85);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f6, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f6, #472213);
        --md-sys-color-surface-container: light-dark(#ffe9e2, #2b1309);
        --md-sys-color-surface-container-high: light-dark(#ffe2d8, #34180c);
        --md-sys-color-surface-container-highest: light-dark(#ffdbce, #3d1d0f);
        --md-sys-color-surface-container-low: light-dark(#fff1ec, #220e06);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#ffd0be, #1b0904);
        --md-sys-color-surface-tint: light-dark(#9d4332, #db8877);
        --md-sys-color-surface-variant: light-dark(#ffdbce, #3d1d0f);
        --md-sys-color-tertiary: light-dark(#006882, #23abd2);
        --md-sys-color-tertiary-container: light-dark(#5bd1fa, #5bd1fa);
        --md-sys-color-tertiary-dim: light-dark(#00718d, #007f9e);
        --md-sys-color-tertiary-fixed: light-dark(#5bd1fa, #5bd1fa);
        --md-sys-color-tertiary-fixed-dim: light-dark(#4ac3ec, #4ac3ec);
        --md-sys-color-tertiary-palette-key-color: light-dark(#00a0c7, #00a0c7);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff8f6, #000000);
        --md-sys-color-error: light-dark(#500016, #ffdddf);
        --md-sys-color-error-container: light-dark(#9a243d, #ff798c);
        --md-sys-color-error-dim: light-dark(#3d000f, #ffc7cb);
        --md-sys-color-error-palette-key-color: light-dark(#cb495f, #cb495f);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#ffb2a2, #60261a);
        --md-sys-color-inverse-surface: light-dark(#1d0802, #fff8f6);
        --md-sys-color-neutral-palette-key-color: light-dark(#946e60, #8e7065);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#b26140, #a8674d);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffced2, #5f001c);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#ffcfc6, #501a10);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary: light-dark(#bae0f4, #1a2f38);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #162b34);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#401807, #ffdfd3);
        --md-sys-color-on-tertiary: light-dark(#a1e4ff, #00313e);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #000f16);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-outline: light-dark(#663622, #e3ac98);
        --md-sys-color-outline-variant: light-dark(#784530, #cc9884);
        --md-sys-color-primary: light-dark(#4d0801, #ffded8);
        --md-sys-color-primary-container: light-dark(#8c3726, #faa290);
        --md-sys-color-primary-dim: light-dark(#3b0400, #ffc8bd);
        --md-sys-color-primary-fixed: light-dark(#8c3726, #ffac9b);
        --md-sys-color-primary-fixed-dim: light-dark(#7d2c1c, #f49d8b);
        --md-sys-color-primary-palette-key-color: light-dark(#bb5a47, #ad6353);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#002736, #d3e9f6);
        --md-sys-color-secondary-container: light-dark(#325768, #92a7b3);
        --md-sys-color-secondary-dim: light-dark(#001d28, #c5dbe7);
        --md-sys-color-secondary-fixed: light-dark(#325768, #dbf1fe);
        --md-sys-color-secondary-fixed-dim: light-dark(#254b5c, #cde3f0);
        --md-sys-color-secondary-palette-key-color: light-dark(#587c8e, #667a85);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f6, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f6, #472213);
        --md-sys-color-surface-container: light-dark(#ffe9e2, #2b1309);
        --md-sys-color-surface-container-high: light-dark(#ffe2d8, #34180c);
        --md-sys-color-surface-container-highest: light-dark(#ffdbce, #3d1d0f);
        --md-sys-color-surface-container-low: light-dark(#fff1ec, #220e06);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#ffd0be, #1b0904);
        --md-sys-color-surface-tint: light-dark(#4d0801, #ffded8);
        --md-sys-color-surface-variant: light-dark(#ffdbce, #3d1d0f);
        --md-sys-color-tertiary: light-dark(#002834, #c1ecff);
        --md-sys-color-tertiary-container: light-dark(#005a71, #5bd1fa);
        --md-sys-color-tertiary-dim: light-dark(#001d26, #90e0ff);
        --md-sys-color-tertiary-fixed: light-dark(#005a71, #5bd1fa);
        --md-sys-color-tertiary-fixed-dim: light-dark(#004d61, #4ac3ec);
        --md-sys-color-tertiary-palette-key-color: light-dark(#00a0c7, #00a0c7);
    }

}
