:root {
    --md-sys-color-background: light-dark(#fff8f4, #191209);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-dim: light-dark(#a80710, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#feeedd, #382f24);
    --md-sys-color-inverse-primary: light-dark(#d1bcff, #675395);
    --md-sys-color-inverse-surface: light-dark(#382f24, #f0e0cf);
    --md-sys-color-neutral-palette-key-color: light-dark(#817567, #817567);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#85745f, #85745f);
    --md-sys-color-on-background: light-dark(#221a10, #f0e0cf);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #372463);
    --md-sys-color-on-primary-container: light-dark(#4e3b7c, #e9ddff);
    --md-sys-color-on-primary-fixed: light-dark(#220b4e, #220b4e);
    --md-sys-color-on-primary-fixed-variant: light-dark(#4e3b7c, #4e3b7c);
    --md-sys-color-on-secondary: light-dark(#ffffff, #353107);
    --md-sys-color-on-secondary-container: light-dark(#4c481c, #ece4aa);
    --md-sys-color-on-secondary-fixed: light-dark(#1f1c00, #1f1c00);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#4c481c, #4c481c);
    --md-sys-color-on-surface: light-dark(#221a10, #f0e0cf);
    --md-sys-color-on-surface-variant: light-dark(#534432, #d8c3ab);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #422c00);
    --md-sys-color-on-tertiary-container: light-dark(#5e4102, #ffdeaa);
    --md-sys-color-on-tertiary-fixed: light-dark(#271900, #271900);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#5e4102, #5e4102);
    --md-sys-color-outline: light-dark(#85745f, #a08e77);
    --md-sys-color-outline-variant: light-dark(#d8c3ab, #534432);
    --md-sys-color-primary: light-dark(#675395, #d1bcff);
    --md-sys-color-primary-container: light-dark(#e9ddff, #4e3b7c);
    --md-sys-color-primary-dim: light-dark(#5a4788, #ccb5ff);
    --md-sys-color-primary-fixed: light-dark(#e9ddff, #e9ddff);
    --md-sys-color-primary-fixed-dim: light-dark(#d1bcff, #d1bcff);
    --md-sys-color-primary-palette-key-color: light-dark(#806cb0, #806cb0);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#656031, #d0c890);
    --md-sys-color-secondary-container: light-dark(#ece4aa, #4c481c);
    --md-sys-color-secondary-dim: light-dark(#585326, #ece4aa);
    --md-sys-color-secondary-fixed: light-dark(#ece4aa, #ece4aa);
    --md-sys-color-secondary-fixed-dim: light-dark(#d0c890, #d0c890);
    --md-sys-color-secondary-palette-key-color: light-dark(#7e7847, #7e7847);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f4, #191209);
    --md-sys-color-surface-bright: light-dark(#fff8f4, #41382c);
    --md-sys-color-surface-container: light-dark(#fbebda, #261e14);
    --md-sys-color-surface-container-high: light-dark(#f5e6d5, #31291e);
    --md-sys-color-surface-container-highest: light-dark(#f0e0cf, #3c3328);
    --md-sys-color-surface-container-low: light-dark(#fff1e4, #221a10);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #140d05);
    --md-sys-color-surface-dim: light-dark(#e7d8c7, #191209);
    --md-sys-color-surface-tint: light-dark(#675395, #d1bcff);
    --md-sys-color-surface-variant: light-dark(#f5dfc6, #534432);
    --md-sys-color-tertiary: light-dark(#79591b, #ebc078);
    --md-sys-color-tertiary-container: light-dark(#ffdeaa, #5e4102);
    --md-sys-color-tertiary-dim: light-dark(#6c4d0f, #face84);
    --md-sys-color-tertiary-fixed: light-dark(#ffdeaa, #ffdeaa);
    --md-sys-color-tertiary-fixed-dim: light-dark(#ebc078, #ebc078);
    --md-sys-color-tertiary-palette-key-color: light-dark(#957131, #957131);
}
:root[low-contrast] {
    --md-sys-color-background: light-dark(#fff8f4, #191209);
    --md-sys-color-error: light-dark(#da342e, #ff5449);
    --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
    --md-sys-color-error-dim: light-dark(#c82623, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#a39687, #6e6355);
    --md-sys-color-inverse-primary: light-dark(#836fb3, #8a75ba);
    --md-sys-color-inverse-surface: light-dark(#382f24, #f0e0cf);
    --md-sys-color-neutral-palette-key-color: light-dark(#817567, #817567);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#85745f, #85745f);
    --md-sys-color-on-background: light-dark(#9b8e7f, #6c6153);
    --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
    --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
    --md-sys-color-on-primary: light-dark(#fffbff, #311d5c);
    --md-sys-color-on-primary-container: light-dark(#836fb3, #8d79be);
    --md-sys-color-on-primary-fixed: light-dark(#544181, #ceb9ff);
    --md-sys-color-on-primary-fixed-variant: light-dark(#6f5b9e, #aa95dc);
    --md-sys-color-on-secondary: light-dark(#fffbff, #2e2a02);
    --md-sys-color-on-secondary-container: light-dark(#817b4a, #8c8553);
    --md-sys-color-on-secondary-fixed: light-dark(#524d21, #cdc68e);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#6d6838, #a8a26d);
    --md-sys-color-on-surface: light-dark(#685d50, #aea192);
    --md-sys-color-on-surface-variant: light-dark(#897863, #92806b);
    --md-sys-color-on-tertiary: light-dark(#fffbff, #3a2600);
    --md-sys-color-on-tertiary-container: light-dark(#987434, #a37e3d);
    --md-sys-color-on-tertiary-fixed: light-dark(#654708, #e8bd75);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#826122, #c19a56);
    --md-sys-color-outline: light-dark(#c3af97, #61523e);
    --md-sys-color-outline-variant: light-dark(#ebd6bc, #453826);
    --md-sys-color-primary: light-dark(#7d69ad, #9a85cc);
    --md-sys-color-primary-container: light-dark(#e1d2ff, #412e6e);
    --md-sys-color-primary-dim: light-dark(#705d9f, #9b86cc);
    --md-sys-color-primary-fixed: light-dark(#e1d2ff, #594687);
    --md-sys-color-primary-fixed-dim: light-dark(#c8b2fb, #412e6e);
    --md-sys-color-primary-palette-key-color: light-dark(#806cb0, #806cb0);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#7c7645, #98925f);
    --md-sys-color-secondary-container: light-dark(#e2daa1, #3f3b10);
    --md-sys-color-secondary-dim: light-dark(#6f693a, #99935f);
    --md-sys-color-secondary-fixed: light-dark(#e2daa1, #575225);
    --md-sys-color-secondary-fixed-dim: light-dark(#c6bf87, #3f3b10);
    --md-sys-color-secondary-palette-key-color: light-dark(#7e7847, #7e7847);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f4, #191209);
    --md-sys-color-surface-bright: light-dark(#fff8f4, #41382c);
    --md-sys-color-surface-container: light-dark(#fbebda, #261e14);
    --md-sys-color-surface-container-high: light-dark(#f5e6d5, #31291e);
    --md-sys-color-surface-container-highest: light-dark(#f0e0cf, #3c3328);
    --md-sys-color-surface-container-low: light-dark(#fff1e4, #221a10);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #140d05);
    --md-sys-color-surface-dim: light-dark(#e7d8c7, #191209);
    --md-sys-color-surface-tint: light-dark(#675395, #d1bcff);
    --md-sys-color-surface-variant: light-dark(#f5dfc6, #534432);
    --md-sys-color-tertiary: light-dark(#926f2f, #b18b48);
    --md-sys-color-tertiary-container: light-dark(#ffd288, #4f3500);
    --md-sys-color-tertiary-dim: light-dark(#846223, #b18b48);
    --md-sys-color-tertiary-fixed: light-dark(#ffd288, #6a4c0d);
    --md-sys-color-tertiary-fixed-dim: light-dark(#e1b76f, #4f3500);
    --md-sys-color-tertiary-palette-key-color: light-dark(#957131, #957131);
}
:root[high-contrast] {
    --md-sys-color-background: light-dark(#fff8f4, #191209);
    --md-sys-color-error: light-dark(#600004, #ffece9);
    --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
    --md-sys-color-error-dim: light-dark(#480002, #ffedea);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
    --md-sys-color-inverse-primary: light-dark(#d1bcff, #503c7d);
    --md-sys-color-inverse-surface: light-dark(#382f24, #f0e0cf);
    --md-sys-color-neutral-palette-key-color: light-dark(#817567, #817567);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#85745f, #85745f);
    --md-sys-color-on-background: light-dark(#221a10, #f0e0cf);
    --md-sys-color-on-error: light-dark(#ffffff, #000000);
    --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
    --md-sys-color-on-primary: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-container: light-dark(#ffffff, #100032);
    --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #170041);
    --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-container: light-dark(#ffffff, #0d0c00);
    --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #141100);
    --md-sys-color-on-surface: light-dark(#000000, #ffffff);
    --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-container: light-dark(#ffffff, #120a00);
    --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #1a0f00);
    --md-sys-color-outline: light-dark(#362a19, #ffedda);
    --md-sys-color-outline-variant: light-dark(#554734, #d4bfa7);
    --md-sys-color-primary: light-dark(#331f5f, #f5edff);
    --md-sys-color-primary-container: light-dark(#513e7e, #cdb7ff);
    --md-sys-color-primary-dim: light-dark(#261051, #f6edff);
    --md-sys-color-primary-fixed: light-dark(#513e7e, #e9ddff);
    --md-sys-color-primary-fixed-dim: light-dark(#3a2666, #d1bcff);
    --md-sys-color-primary-palette-key-color: light-dark(#806cb0, #806cb0);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#312d04, #faf2b6);
    --md-sys-color-secondary-container: light-dark(#4f4a1e, #ccc48c);
    --md-sys-color-secondary-dim: light-dark(#232000, #fbf2b7);
    --md-sys-color-secondary-fixed: light-dark(#4f4a1e, #ece4aa);
    --md-sys-color-secondary-fixed-dim: light-dark(#383309, #d0c890);
    --md-sys-color-secondary-palette-key-color: light-dark(#7e7847, #7e7847);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f4, #191209);
    --md-sys-color-surface-bright: light-dark(#fff8f4, #594e42);
    --md-sys-color-surface-container: light-dark(#f0e0cf, #382f24);
    --md-sys-color-surface-container-high: light-dark(#e1d2c2, #433a2e);
    --md-sys-color-surface-container-highest: light-dark(#d3c4b4, #4f4539);
    --md-sys-color-surface-container-low: light-dark(#feeedd, #261e14);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#c5b7a7, #191209);
    --md-sys-color-surface-tint: light-dark(#675395, #d1bcff);
    --md-sys-color-surface-variant: light-dark(#f5dfc6, #534432);
    --md-sys-color-tertiary: light-dark(#3d2800, #ffeed6);
    --md-sys-color-tertiary-container: light-dark(#614404, #e7bc74);
    --md-sys-color-tertiary-dim: light-dark(#2c1c00, #ffeed9);
    --md-sys-color-tertiary-fixed: light-dark(#614404, #ffdeaa);
    --md-sys-color-tertiary-fixed-dim: light-dark(#452e00, #ebc078);
    --md-sys-color-tertiary-palette-key-color: light-dark(#957131, #957131);
}
