:root {
    --md-sys-color-background: light-dark(#fff8f1, #000000);
    --md-sys-color-error: light-dark(#aa371c, #fe7453);
    --md-sys-color-error-container: light-dark(#fa7150, #881f05);
    --md-sys-color-error-dim: light-dark(#821a01, #c74c2f);
    --md-sys-color-error-palette-key-color: light-dark(#cb4f31, #cb4f31);
    --md-sys-color-inverse-on-surface: light-dark(#ac9b75, #5e543b);
    --md-sys-color-inverse-primary: light-dark(#fbcf54, #755c0c);
    --md-sys-color-inverse-surface: light-dark(#140d00, #fff8f1);
    --md-sys-color-neutral-palette-key-color: light-dark(#857652, #82765b);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#917311, #8d7430);
    --md-sys-color-on-background: light-dark(#403000, #fbe3ad);
    --md-sys-color-on-error: light-dark(#fff7f6, #450900);
    --md-sys-color-on-error-container: light-dark(#671200, #ff9b82);
    --md-sys-color-on-primary: light-dark(#fff8ef, #685000);
    --md-sys-color-on-primary-container: light-dark(#5b4600, #5d4800);
    --md-sys-color-on-primary-fixed: light-dark(#443400, #473600);
    --md-sys-color-on-primary-fixed-variant: light-dark(#674f00, #695100);
    --md-sys-color-on-secondary: light-dark(#fcf7ff, #403e52);
    --md-sys-color-on-secondary-container: light-dark(#514e70, #a5a1b9);
    --md-sys-color-on-secondary-fixed: light-dark(#3f3b5c, #434155);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#5b587a, #5f5d72);
    --md-sys-color-on-surface: light-dark(#403000, #fbe3ad);
    --md-sys-color-on-surface-variant: light-dark(#715d23, #bea977);
    --md-sys-color-on-tertiary: light-dark(#fbf7ff, #353688);
    --md-sys-color-on-tertiary-container: light-dark(#2b2b7e, #2b2b7e);
    --md-sys-color-on-tertiary-fixed: light-dark(#130f68, #130f68);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#353587, #353587);
    --md-sys-color-outline: light-dark(#8f783c, #857446);
    --md-sys-color-outline-variant: light-dark(#c9af6d, #55461e);
    --md-sys-color-primary: light-dark(#765c00, #ffe39d);
    --md-sys-color-primary-container: light-dark(#fbcf54, #f6d47b);
    --md-sys-color-primary-dim: light-dark(#675000, #f6d47b);
    --md-sys-color-primary-fixed: light-dark(#fbcf54, #f6d47b);
    --md-sys-color-primary-fixed-dim: light-dark(#ecc248, #e7c66f);
    --md-sys-color-primary-palette-key-color: light-dark(#ab8705, #8f7426);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#5f5b7e, #c8c3dc);
    --md-sys-color-secondary-container: light-dark(#e4dfff, #262436);
    --md-sys-color-secondary-dim: light-dark(#534f71, #bab6ce);
    --md-sys-color-secondary-fixed: light-dark(#e4dfff, #eae5ff);
    --md-sys-color-secondary-fixed-dim: light-dark(#d5d0f9, #dcd7f0);
    --md-sys-color-secondary-palette-key-color: light-dark(#777397, #77748b);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f1, #000000);
    --md-sys-color-surface-bright: light-dark(#fff8f1, #382a01);
    --md-sys-color-surface-container: light-dark(#ffecc3, #221801);
    --md-sys-color-surface-container-high: light-dark(#ffe6aa, #291e01);
    --md-sys-color-surface-container-highest: light-dark(#fce099, #302401);
    --md-sys-color-surface-container-low: light-dark(#fff2da, #1a1200);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#f6d78a, #140d00);
    --md-sys-color-surface-tint: light-dark(#765c00, #ffe39d);
    --md-sys-color-surface-variant: light-dark(#fce099, #302401);
    --md-sys-color-tertiary: light-dark(#5556a9, #c1c1ff);
    --md-sys-color-tertiary-container: light-dark(#b1b2ff, #b1b2ff);
    --md-sys-color-tertiary-dim: light-dark(#49499c, #a4a5ff);
    --md-sys-color-tertiary-fixed: light-dark(#b1b2ff, #b1b2ff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#a2a3fc, #a2a3fc);
    --md-sys-color-tertiary-palette-key-color: light-dark(#6d6ec3, #6d6ec3);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff8f1, #000000);
        --md-sys-color-error: light-dark(#aa371c, #fe7453);
        --md-sys-color-error-container: light-dark(#fa7150, #881f05);
        --md-sys-color-error-dim: light-dark(#b64024, #c74c2f);
        --md-sys-color-error-palette-key-color: light-dark(#cb4f31, #cb4f31);
        --md-sys-color-inverse-on-surface: light-dark(#ac9b75, #5e543b);
        --md-sys-color-inverse-primary: light-dark(#b18c0e, #755c0c);
        --md-sys-color-inverse-surface: light-dark(#140d00, #fff8f1);
        --md-sys-color-neutral-palette-key-color: light-dark(#857652, #82765b);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#917311, #8d7430);
        --md-sys-color-on-background: light-dark(#403000, #fbe3ad);
        --md-sys-color-on-error: light-dark(#fff7f6, #450900);
        --md-sys-color-on-error-container: light-dark(#671200, #ff9b82);
        --md-sys-color-on-primary: light-dark(#fff8ef, #2a1f00);
        --md-sys-color-on-primary-container: light-dark(#5b4600, #5d4800);
        --md-sys-color-on-primary-fixed: light-dark(#443400, #473600);
        --md-sys-color-on-primary-fixed-variant: light-dark(#674f00, #695100);
        --md-sys-color-on-secondary: light-dark(#fcf7ff, #201e30);
        --md-sys-color-on-secondary-container: light-dark(#514e70, #a5a1b9);
        --md-sys-color-on-secondary-fixed: light-dark(#3f3b5c, #434155);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#5b587a, #5f5d72);
        --md-sys-color-on-surface: light-dark(#403000, #fbe3ad);
        --md-sys-color-on-surface-variant: light-dark(#715d23, #bea977);
        --md-sys-color-on-tertiary: light-dark(#fbf7ff, #120e68);
        --md-sys-color-on-tertiary-container: light-dark(#2b2b7e, #2b2b7e);
        --md-sys-color-on-tertiary-fixed: light-dark(#130f68, #130f68);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#353587, #353587);
        --md-sys-color-outline: light-dark(#8f783c, #857446);
        --md-sys-color-outline-variant: light-dark(#c9af6d, #55461e);
        --md-sys-color-primary: light-dark(#765c00, #b99b48);
        --md-sys-color-primary-container: light-dark(#fbcf54, #f6d47b);
        --md-sys-color-primary-dim: light-dark(#806400, #8c7123);
        --md-sys-color-primary-fixed: light-dark(#fbcf54, #f6d47b);
        --md-sys-color-primary-fixed-dim: light-dark(#ecc248, #e7c66f);
        --md-sys-color-primary-palette-key-color: light-dark(#ab8705, #8f7426);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#5f5b7e, #9f9bb3);
        --md-sys-color-secondary-container: light-dark(#e4dfff, #262436);
        --md-sys-color-secondary-dim: light-dark(#686487, #757288);
        --md-sys-color-secondary-fixed: light-dark(#e4dfff, #eae5ff);
        --md-sys-color-secondary-fixed-dim: light-dark(#d5d0f9, #dcd7f0);
        --md-sys-color-secondary-palette-key-color: light-dark(#777397, #77748b);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f1, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f1, #382a01);
        --md-sys-color-surface-container: light-dark(#ffecc3, #221801);
        --md-sys-color-surface-container-high: light-dark(#ffe6aa, #291e01);
        --md-sys-color-surface-container-highest: light-dark(#fce099, #302401);
        --md-sys-color-surface-container-low: light-dark(#fff2da, #1a1200);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#f6d78a, #140d00);
        --md-sys-color-surface-tint: light-dark(#765c00, #b99b48);
        --md-sys-color-surface-variant: light-dark(#fce099, #302401);
        --md-sys-color-tertiary: light-dark(#5556a9, #9495ee);
        --md-sys-color-tertiary-container: light-dark(#b1b2ff, #b1b2ff);
        --md-sys-color-tertiary-dim: light-dark(#5e5fb3, #6b6cc1);
        --md-sys-color-tertiary-fixed: light-dark(#b1b2ff, #b1b2ff);
        --md-sys-color-tertiary-fixed-dim: light-dark(#a2a3fc, #a2a3fc);
        --md-sys-color-tertiary-palette-key-color: light-dark(#6d6ec3, #6d6ec3);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff8f1, #000000);
        --md-sys-color-error: light-dark(#4c0a00, #ffded7);
        --md-sys-color-error-container: light-dark(#982b10, #ff7e5e);
        --md-sys-color-error-dim: light-dark(#390600, #ffc8bb);
        --md-sys-color-error-palette-key-color: light-dark(#cb4f31, #cb4f31);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#fbcf54, #473600);
        --md-sys-color-inverse-surface: light-dark(#140d00, #fff8f1);
        --md-sys-color-neutral-palette-key-color: light-dark(#857652, #82765b);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#917311, #8d7430);
        --md-sys-color-on-background: light-dark(#000000, #ffffff);
        --md-sys-color-on-error: light-dark(#ffcfc4, #5a0e00);
        --md-sys-color-on-error-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary: light-dark(#ffd664, #382a00);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #2c2000);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #1c1300);
        --md-sys-color-on-secondary: light-dark(#dbd5fe, #2c2a3d);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #242234);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#2e2200, #fbe3ad);
        --md-sys-color-on-tertiary: light-dark(#d8d6ff, #201f73);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #000000);
        --md-sys-color-outline: light-dark(#534108, #ccb784);
        --md-sys-color-outline-variant: light-dark(#635017, #b6a270);
        --md-sys-color-primary: light-dark(#2e2200, #ffe39d);
        --md-sys-color-primary-container: light-dark(#664f00, #f6d47b);
        --md-sys-color-primary-dim: light-dark(#221800, #f6d47b);
        --md-sys-color-primary-fixed: light-dark(#664f00, #f6d47b);
        --md-sys-color-primary-fixed-dim: light-dark(#584400, #e7c66f);
        --md-sys-color-primary-palette-key-color: light-dark(#ab8705, #8f7426);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#23203f, #e7e2fc);
        --md-sys-color-secondary-container: light-dark(#524e70, #a5a1b9);
        --md-sys-color-secondary-dim: light-dark(#191634, #d9d4ee);
        --md-sys-color-secondary-fixed: light-dark(#524e70, #eae5ff);
        --md-sys-color-secondary-fixed-dim: light-dark(#464364, #dcd7f0);
        --md-sys-color-secondary-palette-key-color: light-dark(#777397, #77748b);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f1, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f1, #382a01);
        --md-sys-color-surface-container: light-dark(#ffecc3, #221801);
        --md-sys-color-surface-container-high: light-dark(#ffe6aa, #291e01);
        --md-sys-color-surface-container-highest: light-dark(#fce099, #302401);
        --md-sys-color-surface-container-low: light-dark(#fff2da, #1a1200);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#f6d78a, #140d00);
        --md-sys-color-surface-tint: light-dark(#2e2200, #ffe39d);
        --md-sys-color-surface-variant: light-dark(#fce099, #302401);
        --md-sys-color-tertiary: light-dark(#17146b, #e5e3ff);
        --md-sys-color-tertiary-container: light-dark(#48489b, #b1b2ff);
        --md-sys-color-tertiary-dim: light-dark(#0a0362, #d2d1ff);
        --md-sys-color-tertiary-fixed: light-dark(#48489b, #b1b2ff);
        --md-sys-color-tertiary-fixed-dim: light-dark(#3c3c8f, #a2a3fc);
        --md-sys-color-tertiary-palette-key-color: light-dark(#6d6ec3, #6d6ec3);
    }

}
