:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #0f0004;
    --md-ref-palette-primary-2: #190008;
    --md-ref-palette-primary-3: #20000c;
    --md-ref-palette-primary-4: #26000f;
    --md-ref-palette-primary-5: #2b0012;
    --md-ref-palette-primary-6: #2f0014;
    --md-ref-palette-primary-7: #330017;
    --md-ref-palette-primary-8: #370019;
    --md-ref-palette-primary-9: #3b001b;
    --md-ref-palette-primary-10: #3e001d;
    --md-ref-palette-primary-11: #42001f;
    --md-ref-palette-primary-12: #460021;
    --md-ref-palette-primary-13: #4a0023;
    --md-ref-palette-primary-14: #4d0025;
    --md-ref-palette-primary-15: #510028;
    --md-ref-palette-primary-16: #55002a;
    --md-ref-palette-primary-17: #59002c;
    --md-ref-palette-primary-18: #5d002e;
    --md-ref-palette-primary-19: #610030;
    --md-ref-palette-primary-20: #650033;
    --md-ref-palette-primary-21: #690035;
    --md-ref-palette-primary-22: #6d0037;
    --md-ref-palette-primary-23: #710039;
    --md-ref-palette-primary-24: #75003c;
    --md-ref-palette-primary-25: #79003e;
    --md-ref-palette-primary-26: #7d0040;
    --md-ref-palette-primary-27: #810043;
    --md-ref-palette-primary-28: #860045;
    --md-ref-palette-primary-29: #8a0047;
    --md-ref-palette-primary-30: #8e004a;
    --md-ref-palette-primary-31: #92004c;
    --md-ref-palette-primary-32: #96004e;
    --md-ref-palette-primary-33: #9a0451;
    --md-ref-palette-primary-34: #9d0953;
    --md-ref-palette-primary-35: #a00e56;
    --md-ref-palette-primary-36: #a41258;
    --md-ref-palette-primary-37: #a7165a;
    --md-ref-palette-primary-38: #aa1a5d;
    --md-ref-palette-primary-39: #ae1d5f;
    --md-ref-palette-primary-40: #b12062;
    --md-ref-palette-primary-41: #b42364;
    --md-ref-palette-primary-42: #b72667;
    --md-ref-palette-primary-43: #bb2969;
    --md-ref-palette-primary-44: #be2c6c;
    --md-ref-palette-primary-45: #c12f6e;
    --md-ref-palette-primary-46: #c53271;
    --md-ref-palette-primary-47: #c83473;
    --md-ref-palette-primary-48: #cb3776;
    --md-ref-palette-primary-49: #cf3a78;
    --md-ref-palette-primary-50: #d23d7b;
    --md-ref-palette-primary-51: #d53f7d;
    --md-ref-palette-primary-52: #d94280;
    --md-ref-palette-primary-53: #dc4582;
    --md-ref-palette-primary-54: #df4785;
    --md-ref-palette-primary-55: #e34a87;
    --md-ref-palette-primary-56: #e64d8a;
    --md-ref-palette-primary-57: #e94f8d;
    --md-ref-palette-primary-58: #ed528f;
    --md-ref-palette-primary-59: #f05492;
    --md-ref-palette-primary-60: #f35795;
    --md-ref-palette-primary-61: #f75a97;
    --md-ref-palette-primary-62: #fa5c9a;
    --md-ref-palette-primary-63: #fe5f9c;
    --md-ref-palette-primary-64: #ff649f;
    --md-ref-palette-primary-65: #ff69a1;
    --md-ref-palette-primary-66: #ff6fa4;
    --md-ref-palette-primary-67: #ff74a6;
    --md-ref-palette-primary-68: #ff7aa9;
    --md-ref-palette-primary-69: #ff7fab;
    --md-ref-palette-primary-70: #ff84ae;
    --md-ref-palette-primary-71: #ff89b0;
    --md-ref-palette-primary-72: #ff8db3;
    --md-ref-palette-primary-73: #ff92b6;
    --md-ref-palette-primary-74: #ff97b8;
    --md-ref-palette-primary-75: #ff9bbb;
    --md-ref-palette-primary-76: #ff9fbd;
    --md-ref-palette-primary-77: #ffa4c0;
    --md-ref-palette-primary-78: #ffa8c2;
    --md-ref-palette-primary-79: #ffacc5;
    --md-ref-palette-primary-80: #ffb1c8;
    --md-ref-palette-primary-81: #ffb5ca;
    --md-ref-palette-primary-82: #ffb9cd;
    --md-ref-palette-primary-83: #ffbdcf;
    --md-ref-palette-primary-84: #ffc1d2;
    --md-ref-palette-primary-85: #ffc5d5;
    --md-ref-palette-primary-86: #ffc9d7;
    --md-ref-palette-primary-87: #ffcdda;
    --md-ref-palette-primary-88: #ffd1dd;
    --md-ref-palette-primary-89: #ffd5df;
    --md-ref-palette-primary-90: #ffd9e2;
    --md-ref-palette-primary-91: #ffdde5;
    --md-ref-palette-primary-92: #ffe1e7;
    --md-ref-palette-primary-93: #ffe5ea;
    --md-ref-palette-primary-94: #ffe8ed;
    --md-ref-palette-primary-95: #ffecef;
    --md-ref-palette-primary-96: #fff0f2;
    --md-ref-palette-primary-97: #fff4f5;
    --md-ref-palette-primary-98: #fff8f8;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #0e0008;
    --md-ref-palette-secondary-2: #17000f;
    --md-ref-palette-secondary-3: #1e0015;
    --md-ref-palette-secondary-4: #240019;
    --md-ref-palette-secondary-5: #29001d;
    --md-ref-palette-secondary-6: #2d0020;
    --md-ref-palette-secondary-7: #310023;
    --md-ref-palette-secondary-8: #350026;
    --md-ref-palette-secondary-9: #380029;
    --md-ref-palette-secondary-10: #3c002c;
    --md-ref-palette-secondary-11: #3f002f;
    --md-ref-palette-secondary-12: #430031;
    --md-ref-palette-secondary-13: #460034;
    --md-ref-palette-secondary-14: #4a0037;
    --md-ref-palette-secondary-15: #4e003a;
    --md-ref-palette-secondary-16: #51003d;
    --md-ref-palette-secondary-17: #550040;
    --md-ref-palette-secondary-18: #590043;
    --md-ref-palette-secondary-19: #5d0046;
    --md-ref-palette-secondary-20: #600248;
    --md-ref-palette-secondary-21: #63054b;
    --md-ref-palette-secondary-22: #65094d;
    --md-ref-palette-secondary-23: #680c4f;
    --md-ref-palette-secondary-24: #6b1052;
    --md-ref-palette-secondary-25: #6e1354;
    --md-ref-palette-secondary-26: #711657;
    --md-ref-palette-secondary-27: #741959;
    --md-ref-palette-secondary-28: #771b5b;
    --md-ref-palette-secondary-29: #7a1e5e;
    --md-ref-palette-secondary-30: #7c2160;
    --md-ref-palette-secondary-31: #7f2363;
    --md-ref-palette-secondary-32: #822665;
    --md-ref-palette-secondary-33: #852868;
    --md-ref-palette-secondary-34: #882b6a;
    --md-ref-palette-secondary-35: #8b2d6d;
    --md-ref-palette-secondary-36: #8e306f;
    --md-ref-palette-secondary-37: #913372;
    --md-ref-palette-secondary-38: #943574;
    --md-ref-palette-secondary-39: #973777;
    --md-ref-palette-secondary-40: #9a3a79;
    --md-ref-palette-secondary-41: #9d3c7c;
    --md-ref-palette-secondary-42: #a03f7f;
    --md-ref-palette-secondary-43: #a34181;
    --md-ref-palette-secondary-44: #a64484;
    --md-ref-palette-secondary-45: #a84686;
    --md-ref-palette-secondary-46: #ab4989;
    --md-ref-palette-secondary-47: #ae4b8c;
    --md-ref-palette-secondary-48: #b14e8e;
    --md-ref-palette-secondary-49: #b45091;
    --md-ref-palette-secondary-50: #b75394;
    --md-ref-palette-secondary-51: #ba5596;
    --md-ref-palette-secondary-52: #be5899;
    --md-ref-palette-secondary-53: #c15a9c;
    --md-ref-palette-secondary-54: #c45d9e;
    --md-ref-palette-secondary-55: #c75fa1;
    --md-ref-palette-secondary-56: #ca62a4;
    --md-ref-palette-secondary-57: #cd65a6;
    --md-ref-palette-secondary-58: #d067a9;
    --md-ref-palette-secondary-59: #d36aac;
    --md-ref-palette-secondary-60: #d66cae;
    --md-ref-palette-secondary-61: #d96fb1;
    --md-ref-palette-secondary-62: #dc71b4;
    --md-ref-palette-secondary-63: #df74b7;
    --md-ref-palette-secondary-64: #e277b9;
    --md-ref-palette-secondary-65: #e579bc;
    --md-ref-palette-secondary-66: #e87cbf;
    --md-ref-palette-secondary-67: #eb7ec2;
    --md-ref-palette-secondary-68: #ef81c5;
    --md-ref-palette-secondary-69: #f284c7;
    --md-ref-palette-secondary-70: #f586ca;
    --md-ref-palette-secondary-71: #f889cd;
    --md-ref-palette-secondary-72: #fb8bd0;
    --md-ref-palette-secondary-73: #fe8ed3;
    --md-ref-palette-secondary-74: #ff92d4;
    --md-ref-palette-secondary-75: #ff97d5;
    --md-ref-palette-secondary-76: #ff9cd7;
    --md-ref-palette-secondary-77: #ffa1d8;
    --md-ref-palette-secondary-78: #ffa5d9;
    --md-ref-palette-secondary-79: #ffaadb;
    --md-ref-palette-secondary-80: #ffaedc;
    --md-ref-palette-secondary-81: #ffb2dd;
    --md-ref-palette-secondary-82: #ffb7df;
    --md-ref-palette-secondary-83: #ffbbe0;
    --md-ref-palette-secondary-84: #ffbfe2;
    --md-ref-palette-secondary-85: #ffc3e3;
    --md-ref-palette-secondary-86: #ffc8e5;
    --md-ref-palette-secondary-87: #ffcce6;
    --md-ref-palette-secondary-88: #ffd0e8;
    --md-ref-palette-secondary-89: #ffd4e9;
    --md-ref-palette-secondary-90: #ffd8eb;
    --md-ref-palette-secondary-91: #ffdced;
    --md-ref-palette-secondary-92: #ffe0ee;
    --md-ref-palette-secondary-93: #ffe4f0;
    --md-ref-palette-secondary-94: #ffe8f2;
    --md-ref-palette-secondary-95: #ffecf3;
    --md-ref-palette-secondary-96: #fff0f5;
    --md-ref-palette-secondary-97: #fff4f7;
    --md-ref-palette-secondary-98: #fff8f8;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #02001f;
    --md-ref-palette-tertiary-2: #04002e;
    --md-ref-palette-tertiary-3: #060039;
    --md-ref-palette-tertiary-4: #080042;
    --md-ref-palette-tertiary-5: #0a004a;
    --md-ref-palette-tertiary-6: #0b0051;
    --md-ref-palette-tertiary-7: #0d0057;
    --md-ref-palette-tertiary-8: #0f005d;
    --md-ref-palette-tertiary-9: #100062;
    --md-ref-palette-tertiary-10: #120068;
    --md-ref-palette-tertiary-11: #13006e;
    --md-ref-palette-tertiary-12: #150074;
    --md-ref-palette-tertiary-13: #160079;
    --md-ref-palette-tertiary-14: #18027d;
    --md-ref-palette-tertiary-15: #1b077f;
    --md-ref-palette-tertiary-16: #1d0c81;
    --md-ref-palette-tertiary-17: #1f1083;
    --md-ref-palette-tertiary-18: #221485;
    --md-ref-palette-tertiary-19: #241787;
    --md-ref-palette-tertiary-20: #271b89;
    --md-ref-palette-tertiary-21: #291e8b;
    --md-ref-palette-tertiary-22: #2b218d;
    --md-ref-palette-tertiary-23: #2e248f;
    --md-ref-palette-tertiary-24: #302691;
    --md-ref-palette-tertiary-25: #322994;
    --md-ref-palette-tertiary-26: #352c96;
    --md-ref-palette-tertiary-27: #372f98;
    --md-ref-palette-tertiary-28: #39319b;
    --md-ref-palette-tertiary-29: #3c349d;
    --md-ref-palette-tertiary-30: #3e379f;
    --md-ref-palette-tertiary-31: #4139a2;
    --md-ref-palette-tertiary-32: #433ca4;
    --md-ref-palette-tertiary-33: #453ea7;
    --md-ref-palette-tertiary-34: #4841a9;
    --md-ref-palette-tertiary-35: #4a43ac;
    --md-ref-palette-tertiary-36: #4d46ae;
    --md-ref-palette-tertiary-37: #4f48b1;
    --md-ref-palette-tertiary-38: #514bb4;
    --md-ref-palette-tertiary-39: #544eb6;
    --md-ref-palette-tertiary-40: #5650b9;
    --md-ref-palette-tertiary-41: #5953bb;
    --md-ref-palette-tertiary-42: #5b55be;
    --md-ref-palette-tertiary-43: #5e58c1;
    --md-ref-palette-tertiary-44: #605ac3;
    --md-ref-palette-tertiary-45: #635dc6;
    --md-ref-palette-tertiary-46: #655fc9;
    --md-ref-palette-tertiary-47: #6862cc;
    --md-ref-palette-tertiary-48: #6a65ce;
    --md-ref-palette-tertiary-49: #6d67d1;
    --md-ref-palette-tertiary-50: #706ad4;
    --md-ref-palette-tertiary-51: #726cd7;
    --md-ref-palette-tertiary-52: #756fd9;
    --md-ref-palette-tertiary-53: #7772dc;
    --md-ref-palette-tertiary-54: #7a74df;
    --md-ref-palette-tertiary-55: #7c77e2;
    --md-ref-palette-tertiary-56: #7f79e5;
    --md-ref-palette-tertiary-57: #827ce7;
    --md-ref-palette-tertiary-58: #847fea;
    --md-ref-palette-tertiary-59: #8781ed;
    --md-ref-palette-tertiary-60: #8984f0;
    --md-ref-palette-tertiary-61: #8c87f3;
    --md-ref-palette-tertiary-62: #8f89f6;
    --md-ref-palette-tertiary-63: #918cf9;
    --md-ref-palette-tertiary-64: #948ffb;
    --md-ref-palette-tertiary-65: #9791fe;
    --md-ref-palette-tertiary-66: #9a94ff;
    --md-ref-palette-tertiary-67: #9d97ff;
    --md-ref-palette-tertiary-68: #a09bff;
    --md-ref-palette-tertiary-69: #a39eff;
    --md-ref-palette-tertiary-70: #a6a1ff;
    --md-ref-palette-tertiary-71: #a9a4ff;
    --md-ref-palette-tertiary-72: #aca7ff;
    --md-ref-palette-tertiary-73: #afaaff;
    --md-ref-palette-tertiary-74: #b2adff;
    --md-ref-palette-tertiary-75: #b5b1ff;
    --md-ref-palette-tertiary-76: #b8b4ff;
    --md-ref-palette-tertiary-77: #bbb7ff;
    --md-ref-palette-tertiary-78: #bebaff;
    --md-ref-palette-tertiary-79: #c1bdff;
    --md-ref-palette-tertiary-80: #c4c0ff;
    --md-ref-palette-tertiary-81: #c7c3ff;
    --md-ref-palette-tertiary-82: #cac6ff;
    --md-ref-palette-tertiary-83: #cdc9ff;
    --md-ref-palette-tertiary-84: #d0ccff;
    --md-ref-palette-tertiary-85: #d3d0ff;
    --md-ref-palette-tertiary-86: #d6d3ff;
    --md-ref-palette-tertiary-87: #dad6ff;
    --md-ref-palette-tertiary-88: #ddd9ff;
    --md-ref-palette-tertiary-89: #e0dcff;
    --md-ref-palette-tertiary-90: #e3dfff;
    --md-ref-palette-tertiary-91: #e6e2ff;
    --md-ref-palette-tertiary-92: #e9e5ff;
    --md-ref-palette-tertiary-93: #ece8ff;
    --md-ref-palette-tertiary-94: #efebff;
    --md-ref-palette-tertiary-95: #f3eeff;
    --md-ref-palette-tertiary-96: #f6f2ff;
    --md-ref-palette-tertiary-97: #f9f5ff;
    --md-ref-palette-tertiary-98: #fcf8ff;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100002;
    --md-ref-palette-error-2: #1a0003;
    --md-ref-palette-error-3: #210005;
    --md-ref-palette-error-4: #270007;
    --md-ref-palette-error-5: #2c0008;
    --md-ref-palette-error-6: #31000a;
    --md-ref-palette-error-7: #35000c;
    --md-ref-palette-error-8: #39000d;
    --md-ref-palette-error-9: #3c000f;
    --md-ref-palette-error-10: #400010;
    --md-ref-palette-error-11: #440011;
    --md-ref-palette-error-12: #480013;
    --md-ref-palette-error-13: #4b0014;
    --md-ref-palette-error-14: #4f0016;
    --md-ref-palette-error-15: #530017;
    --md-ref-palette-error-16: #570019;
    --md-ref-palette-error-17: #5b001a;
    --md-ref-palette-error-18: #5f001c;
    --md-ref-palette-error-19: #63001e;
    --md-ref-palette-error-20: #67001f;
    --md-ref-palette-error-21: #6b0021;
    --md-ref-palette-error-22: #6f0022;
    --md-ref-palette-error-23: #730024;
    --md-ref-palette-error-24: #780025;
    --md-ref-palette-error-25: #7c0027;
    --md-ref-palette-error-26: #800029;
    --md-ref-palette-error-27: #84002a;
    --md-ref-palette-error-28: #88002c;
    --md-ref-palette-error-29: #8d002e;
    --md-ref-palette-error-30: #91002f;
    --md-ref-palette-error-31: #950031;
    --md-ref-palette-error-32: #9a0033;
    --md-ref-palette-error-33: #9e0034;
    --md-ref-palette-error-34: #a30036;
    --md-ref-palette-error-35: #a70138;
    --md-ref-palette-error-36: #aa063a;
    --md-ref-palette-error-37: #ae0b3c;
    --md-ref-palette-error-38: #b1103e;
    --md-ref-palette-error-39: #b51441;
    --md-ref-palette-error-40: #b81843;
    --md-ref-palette-error-41: #bc1b45;
    --md-ref-palette-error-42: #bf1f47;
    --md-ref-palette-error-43: #c3224a;
    --md-ref-palette-error-44: #c6254c;
    --md-ref-palette-error-45: #c9284e;
    --md-ref-palette-error-46: #cd2b50;
    --md-ref-palette-error-47: #d02e53;
    --md-ref-palette-error-48: #d43055;
    --md-ref-palette-error-49: #d73357;
    --md-ref-palette-error-50: #db365a;
    --md-ref-palette-error-51: #de395c;
    --md-ref-palette-error-52: #e23b5e;
    --md-ref-palette-error-53: #e53e61;
    --md-ref-palette-error-54: #e94163;
    --md-ref-palette-error-55: #ec4466;
    --md-ref-palette-error-56: #f04668;
    --md-ref-palette-error-57: #f3496a;
    --md-ref-palette-error-58: #f74b6d;
    --md-ref-palette-error-59: #fa4e6f;
    --md-ref-palette-error-60: #fe5172;
    --md-ref-palette-error-61: #ff5675;
    --md-ref-palette-error-62: #ff5d79;
    --md-ref-palette-error-63: #ff637d;
    --md-ref-palette-error-64: #ff6880;
    --md-ref-palette-error-65: #ff6e84;
    --md-ref-palette-error-66: #ff7388;
    --md-ref-palette-error-67: #ff788b;
    --md-ref-palette-error-68: #ff7d8f;
    --md-ref-palette-error-69: #ff8293;
    --md-ref-palette-error-70: #ff8796;
    --md-ref-palette-error-71: #ff8b9a;
    --md-ref-palette-error-72: #ff909d;
    --md-ref-palette-error-73: #ff94a1;
    --md-ref-palette-error-74: #ff99a4;
    --md-ref-palette-error-75: #ff9da8;
    --md-ref-palette-error-76: #ffa2ab;
    --md-ref-palette-error-77: #ffa6af;
    --md-ref-palette-error-78: #ffaab2;
    --md-ref-palette-error-79: #ffaeb6;
    --md-ref-palette-error-80: #ffb2b9;
    --md-ref-palette-error-81: #ffb6bd;
    --md-ref-palette-error-82: #ffbac0;
    --md-ref-palette-error-83: #ffbec4;
    --md-ref-palette-error-84: #ffc2c7;
    --md-ref-palette-error-85: #ffc6cb;
    --md-ref-palette-error-86: #ffcace;
    --md-ref-palette-error-87: #ffced2;
    --md-ref-palette-error-88: #ffd2d5;
    --md-ref-palette-error-89: #ffd6d8;
    --md-ref-palette-error-90: #ffdadc;
    --md-ref-palette-error-91: #ffdddf;
    --md-ref-palette-error-92: #ffe1e3;
    --md-ref-palette-error-93: #ffe5e6;
    --md-ref-palette-error-94: #ffe9e9;
    --md-ref-palette-error-95: #ffeced;
    --md-ref-palette-error-96: #fff0f0;
    --md-ref-palette-error-97: #fff4f4;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #0e0008;
    --md-ref-palette-neutral-2: #17000f;
    --md-ref-palette-neutral-3: #1d0114;
    --md-ref-palette-neutral-4: #210217;
    --md-ref-palette-neutral-5: #25041a;
    --md-ref-palette-neutral-6: #28061d;
    --md-ref-palette-neutral-7: #2a081f;
    --md-ref-palette-neutral-8: #2d0a21;
    --md-ref-palette-neutral-9: #2f0c23;
    --md-ref-palette-neutral-10: #320e26;
    --md-ref-palette-neutral-11: #341028;
    --md-ref-palette-neutral-12: #36122a;
    --md-ref-palette-neutral-13: #39152c;
    --md-ref-palette-neutral-14: #3b172e;
    --md-ref-palette-neutral-15: #3e1930;
    --md-ref-palette-neutral-16: #401b32;
    --md-ref-palette-neutral-17: #431d35;
    --md-ref-palette-neutral-18: #451f37;
    --md-ref-palette-neutral-19: #472139;
    --md-ref-palette-neutral-20: #4a233b;
    --md-ref-palette-neutral-21: #4c253d;
    --md-ref-palette-neutral-22: #4f2840;
    --md-ref-palette-neutral-23: #522a42;
    --md-ref-palette-neutral-24: #542c44;
    --md-ref-palette-neutral-25: #572e47;
    --md-ref-palette-neutral-26: #593049;
    --md-ref-palette-neutral-27: #5c334b;
    --md-ref-palette-neutral-28: #5e354e;
    --md-ref-palette-neutral-29: #613750;
    --md-ref-palette-neutral-30: #633952;
    --md-ref-palette-neutral-31: #663b55;
    --md-ref-palette-neutral-32: #693e57;
    --md-ref-palette-neutral-33: #6b4059;
    --md-ref-palette-neutral-34: #6e425c;
    --md-ref-palette-neutral-35: #70455e;
    --md-ref-palette-neutral-36: #734761;
    --md-ref-palette-neutral-37: #764963;
    --md-ref-palette-neutral-38: #784c66;
    --md-ref-palette-neutral-39: #7b4e68;
    --md-ref-palette-neutral-40: #7e506a;
    --md-ref-palette-neutral-41: #80536d;
    --md-ref-palette-neutral-42: #83556f;
    --md-ref-palette-neutral-43: #865772;
    --md-ref-palette-neutral-44: #895a74;
    --md-ref-palette-neutral-45: #8b5c77;
    --md-ref-palette-neutral-46: #8e5f7a;
    --md-ref-palette-neutral-47: #91617c;
    --md-ref-palette-neutral-48: #93647f;
    --md-ref-palette-neutral-49: #966681;
    --md-ref-palette-neutral-50: #996884;
    --md-ref-palette-neutral-51: #9c6b86;
    --md-ref-palette-neutral-52: #9e6d89;
    --md-ref-palette-neutral-53: #a1708b;
    --md-ref-palette-neutral-54: #a4728e;
    --md-ref-palette-neutral-55: #a77591;
    --md-ref-palette-neutral-56: #aa7793;
    --md-ref-palette-neutral-57: #ac7a96;
    --md-ref-palette-neutral-58: #af7c99;
    --md-ref-palette-neutral-59: #b27f9b;
    --md-ref-palette-neutral-60: #b5829e;
    --md-ref-palette-neutral-61: #b884a1;
    --md-ref-palette-neutral-62: #bb87a3;
    --md-ref-palette-neutral-63: #bd89a6;
    --md-ref-palette-neutral-64: #c08ca9;
    --md-ref-palette-neutral-65: #c38eab;
    --md-ref-palette-neutral-66: #c691ae;
    --md-ref-palette-neutral-67: #c994b1;
    --md-ref-palette-neutral-68: #cc96b3;
    --md-ref-palette-neutral-69: #cf99b6;
    --md-ref-palette-neutral-70: #d29bb9;
    --md-ref-palette-neutral-71: #d59ebc;
    --md-ref-palette-neutral-72: #d7a1be;
    --md-ref-palette-neutral-73: #daa3c1;
    --md-ref-palette-neutral-74: #dda6c4;
    --md-ref-palette-neutral-75: #e0a9c7;
    --md-ref-palette-neutral-76: #e3abc9;
    --md-ref-palette-neutral-77: #e6aecc;
    --md-ref-palette-neutral-78: #e9b1cf;
    --md-ref-palette-neutral-79: #ecb4d2;
    --md-ref-palette-neutral-80: #efb6d5;
    --md-ref-palette-neutral-81: #f2b9d7;
    --md-ref-palette-neutral-82: #f5bcda;
    --md-ref-palette-neutral-83: #f8bedd;
    --md-ref-palette-neutral-84: #fbc1e0;
    --md-ref-palette-neutral-85: #fec4e3;
    --md-ref-palette-neutral-86: #ffc8e5;
    --md-ref-palette-neutral-87: #ffcce6;
    --md-ref-palette-neutral-88: #ffd0e8;
    --md-ref-palette-neutral-89: #ffd4e9;
    --md-ref-palette-neutral-90: #ffd8eb;
    --md-ref-palette-neutral-91: #ffdced;
    --md-ref-palette-neutral-92: #ffe0ee;
    --md-ref-palette-neutral-93: #ffe4f0;
    --md-ref-palette-neutral-94: #ffe8f2;
    --md-ref-palette-neutral-95: #ffecf3;
    --md-ref-palette-neutral-96: #fff0f5;
    --md-ref-palette-neutral-97: #fff4f7;
    --md-ref-palette-neutral-98: #fff8f8;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #0e0008;
    --md-ref-palette-neutral-variant-2: #17000f;
    --md-ref-palette-neutral-variant-3: #1e0015;
    --md-ref-palette-neutral-variant-4: #240019;
    --md-ref-palette-neutral-variant-5: #29001d;
    --md-ref-palette-neutral-variant-6: #2d0020;
    --md-ref-palette-neutral-variant-7: #300222;
    --md-ref-palette-neutral-variant-8: #320325;
    --md-ref-palette-neutral-variant-9: #350527;
    --md-ref-palette-neutral-variant-10: #370729;
    --md-ref-palette-neutral-variant-11: #3a092b;
    --md-ref-palette-neutral-variant-12: #3c0b2d;
    --md-ref-palette-neutral-variant-13: #3f0e2f;
    --md-ref-palette-neutral-variant-14: #411032;
    --md-ref-palette-neutral-variant-15: #441234;
    --md-ref-palette-neutral-variant-16: #461536;
    --md-ref-palette-neutral-variant-17: #491738;
    --md-ref-palette-neutral-variant-18: #4b193a;
    --md-ref-palette-neutral-variant-19: #4e1b3d;
    --md-ref-palette-neutral-variant-20: #511d3f;
    --md-ref-palette-neutral-variant-21: #532041;
    --md-ref-palette-neutral-variant-22: #562243;
    --md-ref-palette-neutral-variant-23: #582446;
    --md-ref-palette-neutral-variant-24: #5b2648;
    --md-ref-palette-neutral-variant-25: #5e294a;
    --md-ref-palette-neutral-variant-26: #602b4d;
    --md-ref-palette-neutral-variant-27: #632d4f;
    --md-ref-palette-neutral-variant-28: #662f51;
    --md-ref-palette-neutral-variant-29: #683254;
    --md-ref-palette-neutral-variant-30: #6b3456;
    --md-ref-palette-neutral-variant-31: #6e3659;
    --md-ref-palette-neutral-variant-32: #70385b;
    --md-ref-palette-neutral-variant-33: #733b5d;
    --md-ref-palette-neutral-variant-34: #763d60;
    --md-ref-palette-neutral-variant-35: #783f62;
    --md-ref-palette-neutral-variant-36: #7b4265;
    --md-ref-palette-neutral-variant-37: #7e4467;
    --md-ref-palette-neutral-variant-38: #81466a;
    --md-ref-palette-neutral-variant-39: #83496c;
    --md-ref-palette-neutral-variant-40: #864b6f;
    --md-ref-palette-neutral-variant-41: #894d71;
    --md-ref-palette-neutral-variant-42: #8c5074;
    --md-ref-palette-neutral-variant-43: #8e5276;
    --md-ref-palette-neutral-variant-44: #915579;
    --md-ref-palette-neutral-variant-45: #94577b;
    --md-ref-palette-neutral-variant-46: #97597e;
    --md-ref-palette-neutral-variant-47: #9a5c80;
    --md-ref-palette-neutral-variant-48: #9c5e83;
    --md-ref-palette-neutral-variant-49: #9f6186;
    --md-ref-palette-neutral-variant-50: #a26388;
    --md-ref-palette-neutral-variant-51: #a5668b;
    --md-ref-palette-neutral-variant-52: #a8688d;
    --md-ref-palette-neutral-variant-53: #ab6b90;
    --md-ref-palette-neutral-variant-54: #ad6d93;
    --md-ref-palette-neutral-variant-55: #b07095;
    --md-ref-palette-neutral-variant-56: #b37298;
    --md-ref-palette-neutral-variant-57: #b6759b;
    --md-ref-palette-neutral-variant-58: #b9779d;
    --md-ref-palette-neutral-variant-59: #bc7aa0;
    --md-ref-palette-neutral-variant-60: #bf7ca3;
    --md-ref-palette-neutral-variant-61: #c27fa5;
    --md-ref-palette-neutral-variant-62: #c581a8;
    --md-ref-palette-neutral-variant-63: #c884ab;
    --md-ref-palette-neutral-variant-64: #ca86ad;
    --md-ref-palette-neutral-variant-65: #cd89b0;
    --md-ref-palette-neutral-variant-66: #d08cb3;
    --md-ref-palette-neutral-variant-67: #d38eb5;
    --md-ref-palette-neutral-variant-68: #d691b8;
    --md-ref-palette-neutral-variant-69: #d993bb;
    --md-ref-palette-neutral-variant-70: #dc96be;
    --md-ref-palette-neutral-variant-71: #df99c0;
    --md-ref-palette-neutral-variant-72: #e29bc3;
    --md-ref-palette-neutral-variant-73: #e59ec6;
    --md-ref-palette-neutral-variant-74: #e8a1c9;
    --md-ref-palette-neutral-variant-75: #eba3cc;
    --md-ref-palette-neutral-variant-76: #eea6ce;
    --md-ref-palette-neutral-variant-77: #f1a9d1;
    --md-ref-palette-neutral-variant-78: #f4abd4;
    --md-ref-palette-neutral-variant-79: #f7aed7;
    --md-ref-palette-neutral-variant-80: #fab1da;
    --md-ref-palette-neutral-variant-81: #fdb3dc;
    --md-ref-palette-neutral-variant-82: #ffb7df;
    --md-ref-palette-neutral-variant-83: #ffbbe0;
    --md-ref-palette-neutral-variant-84: #ffbfe2;
    --md-ref-palette-neutral-variant-85: #ffc3e3;
    --md-ref-palette-neutral-variant-86: #ffc8e5;
    --md-ref-palette-neutral-variant-87: #ffcce6;
    --md-ref-palette-neutral-variant-88: #ffd0e8;
    --md-ref-palette-neutral-variant-89: #ffd4e9;
    --md-ref-palette-neutral-variant-90: #ffd8eb;
    --md-ref-palette-neutral-variant-91: #ffdced;
    --md-ref-palette-neutral-variant-92: #ffe0ee;
    --md-ref-palette-neutral-variant-93: #ffe4f0;
    --md-ref-palette-neutral-variant-94: #ffe8f2;
    --md-ref-palette-neutral-variant-95: #ffecf3;
    --md-ref-palette-neutral-variant-96: #fff0f5;
    --md-ref-palette-neutral-variant-97: #fff4f7;
    --md-ref-palette-neutral-variant-98: #fff8f8;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
