:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #030400;
    --md-ref-palette-primary-2: #060800;
    --md-ref-palette-primary-3: #090c00;
    --md-ref-palette-primary-4: #0c1000;
    --md-ref-palette-primary-5: #0f1300;
    --md-ref-palette-primary-6: #111500;
    --md-ref-palette-primary-7: #131800;
    --md-ref-palette-primary-8: #151a00;
    --md-ref-palette-primary-9: #171c00;
    --md-ref-palette-primary-10: #181e00;
    --md-ref-palette-primary-11: #1a2000;
    --md-ref-palette-primary-12: #1c2200;
    --md-ref-palette-primary-13: #1e2400;
    --md-ref-palette-primary-14: #202700;
    --md-ref-palette-primary-15: #222900;
    --md-ref-palette-primary-16: #242b00;
    --md-ref-palette-primary-17: #262d00;
    --md-ref-palette-primary-18: #283000;
    --md-ref-palette-primary-19: #2a3200;
    --md-ref-palette-primary-20: #2c3400;
    --md-ref-palette-primary-21: #2e3600;
    --md-ref-palette-primary-22: #303900;
    --md-ref-palette-primary-23: #323b00;
    --md-ref-palette-primary-24: #343d00;
    --md-ref-palette-primary-25: #364000;
    --md-ref-palette-primary-26: #384200;
    --md-ref-palette-primary-27: #3a4400;
    --md-ref-palette-primary-28: #3c4700;
    --md-ref-palette-primary-29: #3e4900;
    --md-ref-palette-primary-30: #404c00;
    --md-ref-palette-primary-31: #424e00;
    --md-ref-palette-primary-32: #455100;
    --md-ref-palette-primary-33: #475300;
    --md-ref-palette-primary-34: #495600;
    --md-ref-palette-primary-35: #4b5800;
    --md-ref-palette-primary-36: #4d5b00;
    --md-ref-palette-primary-37: #4f5d00;
    --md-ref-palette-primary-38: #526000;
    --md-ref-palette-primary-39: #546200;
    --md-ref-palette-primary-40: #566500;
    --md-ref-palette-primary-41: #586700;
    --md-ref-palette-primary-42: #5b6a00;
    --md-ref-palette-primary-43: #5d6d00;
    --md-ref-palette-primary-44: #5f6f00;
    --md-ref-palette-primary-45: #617200;
    --md-ref-palette-primary-46: #647400;
    --md-ref-palette-primary-47: #667700;
    --md-ref-palette-primary-48: #687a00;
    --md-ref-palette-primary-49: #6b7c00;
    --md-ref-palette-primary-50: #6d7f00;
    --md-ref-palette-primary-51: #6f8200;
    --md-ref-palette-primary-52: #728400;
    --md-ref-palette-primary-53: #748700;
    --md-ref-palette-primary-54: #768a00;
    --md-ref-palette-primary-55: #798c00;
    --md-ref-palette-primary-56: #7b8f00;
    --md-ref-palette-primary-57: #7d9200;
    --md-ref-palette-primary-58: #809500;
    --md-ref-palette-primary-59: #829700;
    --md-ref-palette-primary-60: #859a00;
    --md-ref-palette-primary-61: #879d00;
    --md-ref-palette-primary-62: #8aa000;
    --md-ref-palette-primary-63: #8ca200;
    --md-ref-palette-primary-64: #8ea500;
    --md-ref-palette-primary-65: #91a800;
    --md-ref-palette-primary-66: #93ab00;
    --md-ref-palette-primary-67: #96ae00;
    --md-ref-palette-primary-68: #98b100;
    --md-ref-palette-primary-69: #9bb300;
    --md-ref-palette-primary-70: #9db600;
    --md-ref-palette-primary-71: #a0b900;
    --md-ref-palette-primary-72: #a2bc00;
    --md-ref-palette-primary-73: #a5bf00;
    --md-ref-palette-primary-74: #a7c200;
    --md-ref-palette-primary-75: #aac500;
    --md-ref-palette-primary-76: #acc800;
    --md-ref-palette-primary-77: #afca00;
    --md-ref-palette-primary-78: #b1cd00;
    --md-ref-palette-primary-79: #b4d000;
    --md-ref-palette-primary-80: #b6d300;
    --md-ref-palette-primary-81: #b9d600;
    --md-ref-palette-primary-82: #bbd900;
    --md-ref-palette-primary-83: #bedc00;
    --md-ref-palette-primary-84: #c1df07;
    --md-ref-palette-primary-85: #c4e210;
    --md-ref-palette-primary-86: #c6e516;
    --md-ref-palette-primary-87: #c9e81b;
    --md-ref-palette-primary-88: #cceb20;
    --md-ref-palette-primary-89: #cfed24;
    --md-ref-palette-primary-90: #d1f028;
    --md-ref-palette-primary-91: #d4f32c;
    --md-ref-palette-primary-92: #d7f62f;
    --md-ref-palette-primary-93: #daf933;
    --md-ref-palette-primary-94: #ddfc36;
    --md-ref-palette-primary-95: #e0ff3b;
    --md-ref-palette-primary-96: #e8ff79;
    --md-ref-palette-primary-97: #efffa1;
    --md-ref-palette-primary-98: #f6ffc1;
    --md-ref-palette-primary-99: #fbffe0;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #040400;
    --md-ref-palette-secondary-2: #090800;
    --md-ref-palette-secondary-3: #0d0b00;
    --md-ref-palette-secondary-4: #100f00;
    --md-ref-palette-secondary-5: #131100;
    --md-ref-palette-secondary-6: #161400;
    --md-ref-palette-secondary-7: #181600;
    --md-ref-palette-secondary-8: #1a1800;
    --md-ref-palette-secondary-9: #1d1a00;
    --md-ref-palette-secondary-10: #1f1c00;
    --md-ref-palette-secondary-11: #211e00;
    --md-ref-palette-secondary-12: #232000;
    --md-ref-palette-secondary-13: #252200;
    --md-ref-palette-secondary-14: #282400;
    --md-ref-palette-secondary-15: #2a2700;
    --md-ref-palette-secondary-16: #2c2900;
    --md-ref-palette-secondary-17: #2e2b00;
    --md-ref-palette-secondary-18: #312d00;
    --md-ref-palette-secondary-19: #332f00;
    --md-ref-palette-secondary-20: #353100;
    --md-ref-palette-secondary-21: #383400;
    --md-ref-palette-secondary-22: #3a3600;
    --md-ref-palette-secondary-23: #3c3800;
    --md-ref-palette-secondary-24: #3f3a00;
    --md-ref-palette-secondary-25: #413d00;
    --md-ref-palette-secondary-26: #443f00;
    --md-ref-palette-secondary-27: #464100;
    --md-ref-palette-secondary-28: #484300;
    --md-ref-palette-secondary-29: #4b4600;
    --md-ref-palette-secondary-30: #4d4800;
    --md-ref-palette-secondary-31: #504a00;
    --md-ref-palette-secondary-32: #524d00;
    --md-ref-palette-secondary-33: #554f00;
    --md-ref-palette-secondary-34: #575200;
    --md-ref-palette-secondary-35: #5a5400;
    --md-ref-palette-secondary-36: #5d5600;
    --md-ref-palette-secondary-37: #5f5900;
    --md-ref-palette-secondary-38: #625b00;
    --md-ref-palette-secondary-39: #645e00;
    --md-ref-palette-secondary-40: #676000;
    --md-ref-palette-secondary-41: #696300;
    --md-ref-palette-secondary-42: #6c6500;
    --md-ref-palette-secondary-43: #6f6700;
    --md-ref-palette-secondary-44: #716a00;
    --md-ref-palette-secondary-45: #746c00;
    --md-ref-palette-secondary-46: #776f00;
    --md-ref-palette-secondary-47: #797200;
    --md-ref-palette-secondary-48: #7c7400;
    --md-ref-palette-secondary-49: #7f7700;
    --md-ref-palette-secondary-50: #827900;
    --md-ref-palette-secondary-51: #847c00;
    --md-ref-palette-secondary-52: #877e00;
    --md-ref-palette-secondary-53: #8a8100;
    --md-ref-palette-secondary-54: #8c8300;
    --md-ref-palette-secondary-55: #8f8600;
    --md-ref-palette-secondary-56: #928900;
    --md-ref-palette-secondary-57: #958b00;
    --md-ref-palette-secondary-58: #988e00;
    --md-ref-palette-secondary-59: #9a9100;
    --md-ref-palette-secondary-60: #9d9300;
    --md-ref-palette-secondary-61: #a09600;
    --md-ref-palette-secondary-62: #a39900;
    --md-ref-palette-secondary-63: #a69b00;
    --md-ref-palette-secondary-64: #a99e00;
    --md-ref-palette-secondary-65: #aba100;
    --md-ref-palette-secondary-66: #aea300;
    --md-ref-palette-secondary-67: #b1a606;
    --md-ref-palette-secondary-68: #b4a90c;
    --md-ref-palette-secondary-69: #b7ab11;
    --md-ref-palette-secondary-70: #b9ae16;
    --md-ref-palette-secondary-71: #bcb11a;
    --md-ref-palette-secondary-72: #bfb41e;
    --md-ref-palette-secondary-73: #c2b621;
    --md-ref-palette-secondary-74: #c5b924;
    --md-ref-palette-secondary-75: #c8bc27;
    --md-ref-palette-secondary-76: #cabf2b;
    --md-ref-palette-secondary-77: #cdc12e;
    --md-ref-palette-secondary-78: #d0c430;
    --md-ref-palette-secondary-79: #d3c733;
    --md-ref-palette-secondary-80: #d6ca36;
    --md-ref-palette-secondary-81: #d9cd39;
    --md-ref-palette-secondary-82: #dccf3c;
    --md-ref-palette-secondary-83: #ded23e;
    --md-ref-palette-secondary-84: #e1d541;
    --md-ref-palette-secondary-85: #e4d844;
    --md-ref-palette-secondary-86: #e7db47;
    --md-ref-palette-secondary-87: #eade49;
    --md-ref-palette-secondary-88: #ede04c;
    --md-ref-palette-secondary-89: #f0e34e;
    --md-ref-palette-secondary-90: #f3e651;
    --md-ref-palette-secondary-91: #f6e954;
    --md-ref-palette-secondary-92: #f9ec56;
    --md-ref-palette-secondary-93: #fcef59;
    --md-ref-palette-secondary-94: #fff25b;
    --md-ref-palette-secondary-95: #fff481;
    --md-ref-palette-secondary-96: #fff6a5;
    --md-ref-palette-secondary-97: #fff8c5;
    --md-ref-palette-secondary-98: #fffae3;
    --md-ref-palette-secondary-99: #fffdf1;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #050400;
    --md-ref-palette-tertiary-2: #0b0700;
    --md-ref-palette-tertiary-3: #0f0b00;
    --md-ref-palette-tertiary-4: #130e00;
    --md-ref-palette-tertiary-5: #161000;
    --md-ref-palette-tertiary-6: #191300;
    --md-ref-palette-tertiary-7: #1b1500;
    --md-ref-palette-tertiary-8: #1e1700;
    --md-ref-palette-tertiary-9: #201900;
    --md-ref-palette-tertiary-10: #221b00;
    --md-ref-palette-tertiary-11: #251d00;
    --md-ref-palette-tertiary-12: #271f00;
    --md-ref-palette-tertiary-13: #292100;
    --md-ref-palette-tertiary-14: #2c2300;
    --md-ref-palette-tertiary-15: #2e2500;
    --md-ref-palette-tertiary-16: #312700;
    --md-ref-palette-tertiary-17: #332900;
    --md-ref-palette-tertiary-18: #362b00;
    --md-ref-palette-tertiary-19: #382d00;
    --md-ref-palette-tertiary-20: #3b2f00;
    --md-ref-palette-tertiary-21: #3d3200;
    --md-ref-palette-tertiary-22: #403400;
    --md-ref-palette-tertiary-23: #423600;
    --md-ref-palette-tertiary-24: #453800;
    --md-ref-palette-tertiary-25: #473a00;
    --md-ref-palette-tertiary-26: #4a3d00;
    --md-ref-palette-tertiary-27: #4d3f00;
    --md-ref-palette-tertiary-28: #4f4100;
    --md-ref-palette-tertiary-29: #524300;
    --md-ref-palette-tertiary-30: #554600;
    --md-ref-palette-tertiary-31: #574800;
    --md-ref-palette-tertiary-32: #5a4a00;
    --md-ref-palette-tertiary-33: #5d4c00;
    --md-ref-palette-tertiary-34: #5f4f00;
    --md-ref-palette-tertiary-35: #625100;
    --md-ref-palette-tertiary-36: #655300;
    --md-ref-palette-tertiary-37: #685600;
    --md-ref-palette-tertiary-38: #6b5800;
    --md-ref-palette-tertiary-39: #6d5a00;
    --md-ref-palette-tertiary-40: #705d00;
    --md-ref-palette-tertiary-41: #735f00;
    --md-ref-palette-tertiary-42: #766200;
    --md-ref-palette-tertiary-43: #796400;
    --md-ref-palette-tertiary-44: #7c6600;
    --md-ref-palette-tertiary-45: #7e6900;
    --md-ref-palette-tertiary-46: #816b00;
    --md-ref-palette-tertiary-47: #846e00;
    --md-ref-palette-tertiary-48: #877000;
    --md-ref-palette-tertiary-49: #8a7300;
    --md-ref-palette-tertiary-50: #8d7500;
    --md-ref-palette-tertiary-51: #907800;
    --md-ref-palette-tertiary-52: #937a00;
    --md-ref-palette-tertiary-53: #967d00;
    --md-ref-palette-tertiary-54: #997f00;
    --md-ref-palette-tertiary-55: #9c8200;
    --md-ref-palette-tertiary-56: #9f8400;
    --md-ref-palette-tertiary-57: #a28700;
    --md-ref-palette-tertiary-58: #a58900;
    --md-ref-palette-tertiary-59: #a88c00;
    --md-ref-palette-tertiary-60: #ab8e00;
    --md-ref-palette-tertiary-61: #ae9100;
    --md-ref-palette-tertiary-62: #b19400;
    --md-ref-palette-tertiary-63: #b49600;
    --md-ref-palette-tertiary-64: #b79900;
    --md-ref-palette-tertiary-65: #ba9b00;
    --md-ref-palette-tertiary-66: #bd9e00;
    --md-ref-palette-tertiary-67: #c0a100;
    --md-ref-palette-tertiary-68: #c3a300;
    --md-ref-palette-tertiary-69: #c7a600;
    --md-ref-palette-tertiary-70: #caa900;
    --md-ref-palette-tertiary-71: #cdab02;
    --md-ref-palette-tertiary-72: #d0ae08;
    --md-ref-palette-tertiary-73: #d3b10f;
    --md-ref-palette-tertiary-74: #d6b314;
    --md-ref-palette-tertiary-75: #d9b618;
    --md-ref-palette-tertiary-76: #dcb91c;
    --md-ref-palette-tertiary-77: #debc20;
    --md-ref-palette-tertiary-78: #e1be23;
    --md-ref-palette-tertiary-79: #e4c127;
    --md-ref-palette-tertiary-80: #e7c42a;
    --md-ref-palette-tertiary-81: #eac72d;
    --md-ref-palette-tertiary-82: #edca30;
    --md-ref-palette-tertiary-83: #f0cc33;
    --md-ref-palette-tertiary-84: #f3cf36;
    --md-ref-palette-tertiary-85: #f6d239;
    --md-ref-palette-tertiary-86: #f9d53c;
    --md-ref-palette-tertiary-87: #fcd83f;
    --md-ref-palette-tertiary-88: #ffda45;
    --md-ref-palette-tertiary-89: #ffde5d;
    --md-ref-palette-tertiary-90: #ffe172;
    --md-ref-palette-tertiary-91: #ffe484;
    --md-ref-palette-tertiary-92: #ffe795;
    --md-ref-palette-tertiary-93: #ffeaa5;
    --md-ref-palette-tertiary-94: #ffedb5;
    --md-ref-palette-tertiary-95: #fff0c4;
    --md-ref-palette-tertiary-96: #fff3d3;
    --md-ref-palette-tertiary-97: #fff6e1;
    --md-ref-palette-tertiary-98: #fff8ef;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #0e0100;
    --md-ref-palette-error-2: #180100;
    --md-ref-palette-error-3: #1f0200;
    --md-ref-palette-error-4: #250300;
    --md-ref-palette-error-5: #290300;
    --md-ref-palette-error-6: #2e0400;
    --md-ref-palette-error-7: #320500;
    --md-ref-palette-error-8: #350500;
    --md-ref-palette-error-9: #390600;
    --md-ref-palette-error-10: #3d0700;
    --md-ref-palette-error-11: #400800;
    --md-ref-palette-error-12: #440800;
    --md-ref-palette-error-13: #480900;
    --md-ref-palette-error-14: #4b0a00;
    --md-ref-palette-error-15: #4f0b00;
    --md-ref-palette-error-16: #530c00;
    --md-ref-palette-error-17: #570d00;
    --md-ref-palette-error-18: #5a0e00;
    --md-ref-palette-error-19: #5e0f00;
    --md-ref-palette-error-20: #621100;
    --md-ref-palette-error-21: #661200;
    --md-ref-palette-error-22: #6a1300;
    --md-ref-palette-error-23: #6e1400;
    --md-ref-palette-error-24: #721500;
    --md-ref-palette-error-25: #761600;
    --md-ref-palette-error-26: #7a1700;
    --md-ref-palette-error-27: #7e1800;
    --md-ref-palette-error-28: #821900;
    --md-ref-palette-error-29: #861a00;
    --md-ref-palette-error-30: #8a1b00;
    --md-ref-palette-error-31: #8f1c00;
    --md-ref-palette-error-32: #931e00;
    --md-ref-palette-error-33: #971f00;
    --md-ref-palette-error-34: #9b2000;
    --md-ref-palette-error-35: #9f2100;
    --md-ref-palette-error-36: #a42200;
    --md-ref-palette-error-37: #a82300;
    --md-ref-palette-error-38: #ac2400;
    --md-ref-palette-error-39: #b12600;
    --md-ref-palette-error-40: #b52700;
    --md-ref-palette-error-41: #b92902;
    --md-ref-palette-error-42: #bc2c05;
    --md-ref-palette-error-43: #c02e08;
    --md-ref-palette-error-44: #c3310b;
    --md-ref-palette-error-45: #c7330e;
    --md-ref-palette-error-46: #ca3611;
    --md-ref-palette-error-47: #ce3813;
    --md-ref-palette-error-48: #d13b16;
    --md-ref-palette-error-49: #d53d18;
    --md-ref-palette-error-50: #d9401b;
    --md-ref-palette-error-51: #dc421d;
    --md-ref-palette-error-52: #e04520;
    --md-ref-palette-error-53: #e34722;
    --md-ref-palette-error-54: #e74a24;
    --md-ref-palette-error-55: #ea4c27;
    --md-ref-palette-error-56: #ee4f29;
    --md-ref-palette-error-57: #f2512b;
    --md-ref-palette-error-58: #f5542e;
    --md-ref-palette-error-59: #f95630;
    --md-ref-palette-error-60: #fc5932;
    --md-ref-palette-error-61: #ff5c36;
    --md-ref-palette-error-62: #ff623d;
    --md-ref-palette-error-63: #ff6844;
    --md-ref-palette-error-64: #ff6d4b;
    --md-ref-palette-error-65: #ff7351;
    --md-ref-palette-error-66: #ff7857;
    --md-ref-palette-error-67: #ff7d5d;
    --md-ref-palette-error-68: #ff8163;
    --md-ref-palette-error-69: #ff8669;
    --md-ref-palette-error-70: #ff8b6f;
    --md-ref-palette-error-71: #ff8f74;
    --md-ref-palette-error-72: #ff9379;
    --md-ref-palette-error-73: #ff987f;
    --md-ref-palette-error-74: #ff9c84;
    --md-ref-palette-error-75: #ffa089;
    --md-ref-palette-error-76: #ffa48e;
    --md-ref-palette-error-77: #ffa894;
    --md-ref-palette-error-78: #ffac99;
    --md-ref-palette-error-79: #ffb09e;
    --md-ref-palette-error-80: #ffb4a3;
    --md-ref-palette-error-81: #ffb8a7;
    --md-ref-palette-error-82: #ffbcac;
    --md-ref-palette-error-83: #ffc0b1;
    --md-ref-palette-error-84: #ffc4b6;
    --md-ref-palette-error-85: #ffc8bb;
    --md-ref-palette-error-86: #ffcbbf;
    --md-ref-palette-error-87: #ffcfc4;
    --md-ref-palette-error-88: #ffd3c9;
    --md-ref-palette-error-89: #ffd7cd;
    --md-ref-palette-error-90: #ffdad2;
    --md-ref-palette-error-91: #ffded7;
    --md-ref-palette-error-92: #ffe2db;
    --md-ref-palette-error-93: #ffe6e0;
    --md-ref-palette-error-94: #ffe9e4;
    --md-ref-palette-error-95: #ffede9;
    --md-ref-palette-error-96: #fff0ed;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f6;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040400;
    --md-ref-palette-neutral-2: #090800;
    --md-ref-palette-neutral-3: #0d0b00;
    --md-ref-palette-neutral-4: #100f00;
    --md-ref-palette-neutral-5: #131100;
    --md-ref-palette-neutral-6: #161400;
    --md-ref-palette-neutral-7: #181600;
    --md-ref-palette-neutral-8: #1a1800;
    --md-ref-palette-neutral-9: #1d1a00;
    --md-ref-palette-neutral-10: #1f1c00;
    --md-ref-palette-neutral-11: #211e00;
    --md-ref-palette-neutral-12: #232000;
    --md-ref-palette-neutral-13: #252200;
    --md-ref-palette-neutral-14: #282400;
    --md-ref-palette-neutral-15: #2a2700;
    --md-ref-palette-neutral-16: #2c2900;
    --md-ref-palette-neutral-17: #2e2b00;
    --md-ref-palette-neutral-18: #312d00;
    --md-ref-palette-neutral-19: #332f00;
    --md-ref-palette-neutral-20: #353100;
    --md-ref-palette-neutral-21: #383401;
    --md-ref-palette-neutral-22: #3a3602;
    --md-ref-palette-neutral-23: #3c3804;
    --md-ref-palette-neutral-24: #3e3a06;
    --md-ref-palette-neutral-25: #413d08;
    --md-ref-palette-neutral-26: #433f0a;
    --md-ref-palette-neutral-27: #45410c;
    --md-ref-palette-neutral-28: #48430f;
    --md-ref-palette-neutral-29: #4a4611;
    --md-ref-palette-neutral-30: #4c4813;
    --md-ref-palette-neutral-31: #4f4a15;
    --md-ref-palette-neutral-32: #514d18;
    --md-ref-palette-neutral-33: #544f1a;
    --md-ref-palette-neutral-34: #56511c;
    --md-ref-palette-neutral-35: #58541e;
    --md-ref-palette-neutral-36: #5b5620;
    --md-ref-palette-neutral-37: #5d5922;
    --md-ref-palette-neutral-38: #605b25;
    --md-ref-palette-neutral-39: #625d27;
    --md-ref-palette-neutral-40: #656029;
    --md-ref-palette-neutral-41: #67622b;
    --md-ref-palette-neutral-42: #6a652d;
    --md-ref-palette-neutral-43: #6c672f;
    --md-ref-palette-neutral-44: #6f6a32;
    --md-ref-palette-neutral-45: #716c34;
    --md-ref-palette-neutral-46: #746f36;
    --md-ref-palette-neutral-47: #777138;
    --md-ref-palette-neutral-48: #79743b;
    --md-ref-palette-neutral-49: #7c763d;
    --md-ref-palette-neutral-50: #7e793f;
    --md-ref-palette-neutral-51: #817b41;
    --md-ref-palette-neutral-52: #837e44;
    --md-ref-palette-neutral-53: #868046;
    --md-ref-palette-neutral-54: #898348;
    --md-ref-palette-neutral-55: #8b864a;
    --md-ref-palette-neutral-56: #8e884d;
    --md-ref-palette-neutral-57: #918b4f;
    --md-ref-palette-neutral-58: #938d51;
    --md-ref-palette-neutral-59: #969054;
    --md-ref-palette-neutral-60: #999356;
    --md-ref-palette-neutral-61: #9b9558;
    --md-ref-palette-neutral-62: #9e985b;
    --md-ref-palette-neutral-63: #a19a5d;
    --md-ref-palette-neutral-64: #a39d5f;
    --md-ref-palette-neutral-65: #a6a062;
    --md-ref-palette-neutral-66: #a9a264;
    --md-ref-palette-neutral-67: #aca567;
    --md-ref-palette-neutral-68: #aea869;
    --md-ref-palette-neutral-69: #b1aa6b;
    --md-ref-palette-neutral-70: #b4ad6e;
    --md-ref-palette-neutral-71: #b7b070;
    --md-ref-palette-neutral-72: #b9b373;
    --md-ref-palette-neutral-73: #bcb575;
    --md-ref-palette-neutral-74: #bfb878;
    --md-ref-palette-neutral-75: #c2bb7a;
    --md-ref-palette-neutral-76: #c4be7d;
    --md-ref-palette-neutral-77: #c7c07f;
    --md-ref-palette-neutral-78: #cac382;
    --md-ref-palette-neutral-79: #cdc684;
    --md-ref-palette-neutral-80: #d0c987;
    --md-ref-palette-neutral-81: #d3cb89;
    --md-ref-palette-neutral-82: #d5ce8c;
    --md-ref-palette-neutral-83: #d8d18e;
    --md-ref-palette-neutral-84: #dbd491;
    --md-ref-palette-neutral-85: #ded793;
    --md-ref-palette-neutral-86: #e1d996;
    --md-ref-palette-neutral-87: #e4dc98;
    --md-ref-palette-neutral-88: #e7df9b;
    --md-ref-palette-neutral-89: #eae29e;
    --md-ref-palette-neutral-90: #ece5a0;
    --md-ref-palette-neutral-91: #efe8a3;
    --md-ref-palette-neutral-92: #f2eaa5;
    --md-ref-palette-neutral-93: #f5eda8;
    --md-ref-palette-neutral-94: #f8f0ab;
    --md-ref-palette-neutral-95: #fbf3ad;
    --md-ref-palette-neutral-96: #fef6b0;
    --md-ref-palette-neutral-97: #fff8c5;
    --md-ref-palette-neutral-98: #fffae3;
    --md-ref-palette-neutral-99: #fffdf1;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #040400;
    --md-ref-palette-neutral-variant-2: #090800;
    --md-ref-palette-neutral-variant-3: #0d0b00;
    --md-ref-palette-neutral-variant-4: #100f00;
    --md-ref-palette-neutral-variant-5: #131100;
    --md-ref-palette-neutral-variant-6: #161400;
    --md-ref-palette-neutral-variant-7: #181600;
    --md-ref-palette-neutral-variant-8: #1a1800;
    --md-ref-palette-neutral-variant-9: #1d1a00;
    --md-ref-palette-neutral-variant-10: #1f1c00;
    --md-ref-palette-neutral-variant-11: #211e00;
    --md-ref-palette-neutral-variant-12: #232000;
    --md-ref-palette-neutral-variant-13: #252200;
    --md-ref-palette-neutral-variant-14: #282400;
    --md-ref-palette-neutral-variant-15: #2a2700;
    --md-ref-palette-neutral-variant-16: #2c2900;
    --md-ref-palette-neutral-variant-17: #2e2b00;
    --md-ref-palette-neutral-variant-18: #312d00;
    --md-ref-palette-neutral-variant-19: #332f00;
    --md-ref-palette-neutral-variant-20: #353100;
    --md-ref-palette-neutral-variant-21: #383400;
    --md-ref-palette-neutral-variant-22: #3a3600;
    --md-ref-palette-neutral-variant-23: #3c3800;
    --md-ref-palette-neutral-variant-24: #3f3a00;
    --md-ref-palette-neutral-variant-25: #413d00;
    --md-ref-palette-neutral-variant-26: #443f00;
    --md-ref-palette-neutral-variant-27: #464100;
    --md-ref-palette-neutral-variant-28: #484300;
    --md-ref-palette-neutral-variant-29: #4b4600;
    --md-ref-palette-neutral-variant-30: #4d4800;
    --md-ref-palette-neutral-variant-31: #504a00;
    --md-ref-palette-neutral-variant-32: #524d00;
    --md-ref-palette-neutral-variant-33: #554f01;
    --md-ref-palette-neutral-variant-34: #575203;
    --md-ref-palette-neutral-variant-35: #5a5405;
    --md-ref-palette-neutral-variant-36: #5c5608;
    --md-ref-palette-neutral-variant-37: #5f590b;
    --md-ref-palette-neutral-variant-38: #615b0e;
    --md-ref-palette-neutral-variant-39: #645e11;
    --md-ref-palette-neutral-variant-40: #666014;
    --md-ref-palette-neutral-variant-41: #696216;
    --md-ref-palette-neutral-variant-42: #6b6519;
    --md-ref-palette-neutral-variant-43: #6e671b;
    --md-ref-palette-neutral-variant-44: #706a1d;
    --md-ref-palette-neutral-variant-45: #736c20;
    --md-ref-palette-neutral-variant-46: #756f22;
    --md-ref-palette-neutral-variant-47: #787124;
    --md-ref-palette-neutral-variant-48: #7b7427;
    --md-ref-palette-neutral-variant-49: #7d7629;
    --md-ref-palette-neutral-variant-50: #80792b;
    --md-ref-palette-neutral-variant-51: #827c2e;
    --md-ref-palette-neutral-variant-52: #857e30;
    --md-ref-palette-neutral-variant-53: #888132;
    --md-ref-palette-neutral-variant-54: #8a8335;
    --md-ref-palette-neutral-variant-55: #8d8637;
    --md-ref-palette-neutral-variant-56: #908839;
    --md-ref-palette-neutral-variant-57: #928b3c;
    --md-ref-palette-neutral-variant-58: #958e3e;
    --md-ref-palette-neutral-variant-59: #989040;
    --md-ref-palette-neutral-variant-60: #9a9343;
    --md-ref-palette-neutral-variant-61: #9d9645;
    --md-ref-palette-neutral-variant-62: #a09847;
    --md-ref-palette-neutral-variant-63: #a29b4a;
    --md-ref-palette-neutral-variant-64: #a59d4c;
    --md-ref-palette-neutral-variant-65: #a8a04e;
    --md-ref-palette-neutral-variant-66: #aba351;
    --md-ref-palette-neutral-variant-67: #ada653;
    --md-ref-palette-neutral-variant-68: #b0a855;
    --md-ref-palette-neutral-variant-69: #b3ab58;
    --md-ref-palette-neutral-variant-70: #b6ae5a;
    --md-ref-palette-neutral-variant-71: #b8b05c;
    --md-ref-palette-neutral-variant-72: #bbb35f;
    --md-ref-palette-neutral-variant-73: #beb661;
    --md-ref-palette-neutral-variant-74: #c1b964;
    --md-ref-palette-neutral-variant-75: #c3bb66;
    --md-ref-palette-neutral-variant-76: #c6be69;
    --md-ref-palette-neutral-variant-77: #c9c16b;
    --md-ref-palette-neutral-variant-78: #ccc46d;
    --md-ref-palette-neutral-variant-79: #cfc670;
    --md-ref-palette-neutral-variant-80: #d2c972;
    --md-ref-palette-neutral-variant-81: #d4cc75;
    --md-ref-palette-neutral-variant-82: #d7cf77;
    --md-ref-palette-neutral-variant-83: #dad17a;
    --md-ref-palette-neutral-variant-84: #ddd47c;
    --md-ref-palette-neutral-variant-85: #e0d77f;
    --md-ref-palette-neutral-variant-86: #e3da81;
    --md-ref-palette-neutral-variant-87: #e6dd84;
    --md-ref-palette-neutral-variant-88: #e9e086;
    --md-ref-palette-neutral-variant-89: #ebe289;
    --md-ref-palette-neutral-variant-90: #eee58b;
    --md-ref-palette-neutral-variant-91: #f1e88e;
    --md-ref-palette-neutral-variant-92: #f4eb90;
    --md-ref-palette-neutral-variant-93: #f7ee93;
    --md-ref-palette-neutral-variant-94: #faf195;
    --md-ref-palette-neutral-variant-95: #fdf498;
    --md-ref-palette-neutral-variant-96: #fff6a5;
    --md-ref-palette-neutral-variant-97: #fff8c5;
    --md-ref-palette-neutral-variant-98: #fffae3;
    --md-ref-palette-neutral-variant-99: #fffdf1;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
