:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #030400;
    --md-ref-palette-primary-2: #060800;
    --md-ref-palette-primary-3: #090c00;
    --md-ref-palette-primary-4: #0c1000;
    --md-ref-palette-primary-5: #0f1300;
    --md-ref-palette-primary-6: #111500;
    --md-ref-palette-primary-7: #131800;
    --md-ref-palette-primary-8: #151a00;
    --md-ref-palette-primary-9: #171c00;
    --md-ref-palette-primary-10: #181e00;
    --md-ref-palette-primary-11: #1a2000;
    --md-ref-palette-primary-12: #1c2200;
    --md-ref-palette-primary-13: #1e2400;
    --md-ref-palette-primary-14: #202700;
    --md-ref-palette-primary-15: #222900;
    --md-ref-palette-primary-16: #242b00;
    --md-ref-palette-primary-17: #262d00;
    --md-ref-palette-primary-18: #283000;
    --md-ref-palette-primary-19: #2a3200;
    --md-ref-palette-primary-20: #2c3400;
    --md-ref-palette-primary-21: #2e3600;
    --md-ref-palette-primary-22: #303900;
    --md-ref-palette-primary-23: #323b00;
    --md-ref-palette-primary-24: #343d00;
    --md-ref-palette-primary-25: #364000;
    --md-ref-palette-primary-26: #384200;
    --md-ref-palette-primary-27: #3a4400;
    --md-ref-palette-primary-28: #3c4700;
    --md-ref-palette-primary-29: #3e4900;
    --md-ref-palette-primary-30: #404c00;
    --md-ref-palette-primary-31: #424e00;
    --md-ref-palette-primary-32: #455100;
    --md-ref-palette-primary-33: #475300;
    --md-ref-palette-primary-34: #495600;
    --md-ref-palette-primary-35: #4b5800;
    --md-ref-palette-primary-36: #4d5b00;
    --md-ref-palette-primary-37: #4f5d00;
    --md-ref-palette-primary-38: #526000;
    --md-ref-palette-primary-39: #546200;
    --md-ref-palette-primary-40: #566500;
    --md-ref-palette-primary-41: #586700;
    --md-ref-palette-primary-42: #5b6a00;
    --md-ref-palette-primary-43: #5d6d00;
    --md-ref-palette-primary-44: #5f6f00;
    --md-ref-palette-primary-45: #617200;
    --md-ref-palette-primary-46: #647400;
    --md-ref-palette-primary-47: #667700;
    --md-ref-palette-primary-48: #687a00;
    --md-ref-palette-primary-49: #6b7c00;
    --md-ref-palette-primary-50: #6d7f00;
    --md-ref-palette-primary-51: #6f8200;
    --md-ref-palette-primary-52: #728400;
    --md-ref-palette-primary-53: #748700;
    --md-ref-palette-primary-54: #768a00;
    --md-ref-palette-primary-55: #798c00;
    --md-ref-palette-primary-56: #7b8f00;
    --md-ref-palette-primary-57: #7d9200;
    --md-ref-palette-primary-58: #809500;
    --md-ref-palette-primary-59: #829700;
    --md-ref-palette-primary-60: #859a00;
    --md-ref-palette-primary-61: #879d00;
    --md-ref-palette-primary-62: #8aa000;
    --md-ref-palette-primary-63: #8ca200;
    --md-ref-palette-primary-64: #8ea500;
    --md-ref-palette-primary-65: #91a800;
    --md-ref-palette-primary-66: #93ab00;
    --md-ref-palette-primary-67: #96ae00;
    --md-ref-palette-primary-68: #98b100;
    --md-ref-palette-primary-69: #9bb300;
    --md-ref-palette-primary-70: #9db600;
    --md-ref-palette-primary-71: #a0b900;
    --md-ref-palette-primary-72: #a2bc00;
    --md-ref-palette-primary-73: #a5bf00;
    --md-ref-palette-primary-74: #a7c200;
    --md-ref-palette-primary-75: #aac500;
    --md-ref-palette-primary-76: #acc800;
    --md-ref-palette-primary-77: #afca00;
    --md-ref-palette-primary-78: #b1cd00;
    --md-ref-palette-primary-79: #b4d000;
    --md-ref-palette-primary-80: #b6d300;
    --md-ref-palette-primary-81: #b9d600;
    --md-ref-palette-primary-82: #bbd900;
    --md-ref-palette-primary-83: #bedc00;
    --md-ref-palette-primary-84: #c1df00;
    --md-ref-palette-primary-85: #c3e200;
    --md-ref-palette-primary-86: #c6e500;
    --md-ref-palette-primary-87: #c8e800;
    --md-ref-palette-primary-88: #cbeb00;
    --md-ref-palette-primary-89: #ceee00;
    --md-ref-palette-primary-90: #d0f100;
    --md-ref-palette-primary-91: #d3f400;
    --md-ref-palette-primary-92: #d5f700;
    --md-ref-palette-primary-93: #d8fa00;
    --md-ref-palette-primary-94: #dbfd00;
    --md-ref-palette-primary-95: #e0ff3b;
    --md-ref-palette-primary-96: #e8ff79;
    --md-ref-palette-primary-97: #efffa1;
    --md-ref-palette-primary-98: #f6ffc1;
    --md-ref-palette-primary-99: #fbffe0;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #020500;
    --md-ref-palette-secondary-2: #030900;
    --md-ref-palette-secondary-3: #050e00;
    --md-ref-palette-secondary-4: #061100;
    --md-ref-palette-secondary-5: #081400;
    --md-ref-palette-secondary-6: #0a1700;
    --md-ref-palette-secondary-7: #0c1900;
    --md-ref-palette-secondary-8: #0e1b01;
    --md-ref-palette-secondary-9: #0f1d02;
    --md-ref-palette-secondary-10: #111f03;
    --md-ref-palette-secondary-11: #132104;
    --md-ref-palette-secondary-12: #152405;
    --md-ref-palette-secondary-13: #172607;
    --md-ref-palette-secondary-14: #192808;
    --md-ref-palette-secondary-15: #1b2a0a;
    --md-ref-palette-secondary-16: #1d2c0c;
    --md-ref-palette-secondary-17: #1f2e0e;
    --md-ref-palette-secondary-18: #223010;
    --md-ref-palette-secondary-19: #243312;
    --md-ref-palette-secondary-20: #263514;
    --md-ref-palette-secondary-21: #283716;
    --md-ref-palette-secondary-22: #2a3918;
    --md-ref-palette-secondary-23: #2c3c1a;
    --md-ref-palette-secondary-24: #2e3e1c;
    --md-ref-palette-secondary-25: #31401e;
    --md-ref-palette-secondary-26: #334220;
    --md-ref-palette-secondary-27: #354522;
    --md-ref-palette-secondary-28: #374724;
    --md-ref-palette-secondary-29: #394926;
    --md-ref-palette-secondary-30: #3c4c28;
    --md-ref-palette-secondary-31: #3e4e2b;
    --md-ref-palette-secondary-32: #40502d;
    --md-ref-palette-secondary-33: #42532f;
    --md-ref-palette-secondary-34: #455531;
    --md-ref-palette-secondary-35: #475833;
    --md-ref-palette-secondary-36: #495a35;
    --md-ref-palette-secondary-37: #4c5c38;
    --md-ref-palette-secondary-38: #4e5f3a;
    --md-ref-palette-secondary-39: #50613c;
    --md-ref-palette-secondary-40: #53643e;
    --md-ref-palette-secondary-41: #556640;
    --md-ref-palette-secondary-42: #586943;
    --md-ref-palette-secondary-43: #5a6b45;
    --md-ref-palette-secondary-44: #5c6e47;
    --md-ref-palette-secondary-45: #5f7049;
    --md-ref-palette-secondary-46: #61734c;
    --md-ref-palette-secondary-47: #64754e;
    --md-ref-palette-secondary-48: #667850;
    --md-ref-palette-secondary-49: #697a53;
    --md-ref-palette-secondary-50: #6b7d55;
    --md-ref-palette-secondary-51: #6e7f57;
    --md-ref-palette-secondary-52: #70825a;
    --md-ref-palette-secondary-53: #73855c;
    --md-ref-palette-secondary-54: #75875e;
    --md-ref-palette-secondary-55: #788a61;
    --md-ref-palette-secondary-56: #7a8c63;
    --md-ref-palette-secondary-57: #7d8f66;
    --md-ref-palette-secondary-58: #7f9268;
    --md-ref-palette-secondary-59: #82946a;
    --md-ref-palette-secondary-60: #84976d;
    --md-ref-palette-secondary-61: #87996f;
    --md-ref-palette-secondary-62: #8a9c72;
    --md-ref-palette-secondary-63: #8c9f74;
    --md-ref-palette-secondary-64: #8fa177;
    --md-ref-palette-secondary-65: #92a479;
    --md-ref-palette-secondary-66: #94a77c;
    --md-ref-palette-secondary-67: #97aa7e;
    --md-ref-palette-secondary-68: #99ac81;
    --md-ref-palette-secondary-69: #9caf83;
    --md-ref-palette-secondary-70: #9fb286;
    --md-ref-palette-secondary-71: #a1b488;
    --md-ref-palette-secondary-72: #a4b78b;
    --md-ref-palette-secondary-73: #a7ba8d;
    --md-ref-palette-secondary-74: #a9bd90;
    --md-ref-palette-secondary-75: #acbf92;
    --md-ref-palette-secondary-76: #afc295;
    --md-ref-palette-secondary-77: #b2c597;
    --md-ref-palette-secondary-78: #b4c89a;
    --md-ref-palette-secondary-79: #b7ca9d;
    --md-ref-palette-secondary-80: #bacd9f;
    --md-ref-palette-secondary-81: #bdd0a2;
    --md-ref-palette-secondary-82: #bfd3a4;
    --md-ref-palette-secondary-83: #c2d6a7;
    --md-ref-palette-secondary-84: #c5d8aa;
    --md-ref-palette-secondary-85: #c8dbac;
    --md-ref-palette-secondary-86: #cadeaf;
    --md-ref-palette-secondary-87: #cde1b2;
    --md-ref-palette-secondary-88: #d0e4b4;
    --md-ref-palette-secondary-89: #d3e7b7;
    --md-ref-palette-secondary-90: #d6e9ba;
    --md-ref-palette-secondary-91: #d8ecbc;
    --md-ref-palette-secondary-92: #dbefbf;
    --md-ref-palette-secondary-93: #def2c2;
    --md-ref-palette-secondary-94: #e1f5c4;
    --md-ref-palette-secondary-95: #e4f8c7;
    --md-ref-palette-secondary-96: #e7fbca;
    --md-ref-palette-secondary-97: #eafecd;
    --md-ref-palette-secondary-98: #f0ffd7;
    --md-ref-palette-secondary-99: #f9ffe9;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000500;
    --md-ref-palette-tertiary-2: #000a01;
    --md-ref-palette-tertiary-3: #000f01;
    --md-ref-palette-tertiary-4: #001201;
    --md-ref-palette-tertiary-5: #001501;
    --md-ref-palette-tertiary-6: #001802;
    --md-ref-palette-tertiary-7: #001b02;
    --md-ref-palette-tertiary-8: #001d02;
    --md-ref-palette-tertiary-9: #001f03;
    --md-ref-palette-tertiary-10: #002203;
    --md-ref-palette-tertiary-11: #002403;
    --md-ref-palette-tertiary-12: #012604;
    --md-ref-palette-tertiary-13: #032806;
    --md-ref-palette-tertiary-14: #042a07;
    --md-ref-palette-tertiary-15: #072d09;
    --md-ref-palette-tertiary-16: #092f0b;
    --md-ref-palette-tertiary-17: #0c310d;
    --md-ref-palette-tertiary-18: #0e330f;
    --md-ref-palette-tertiary-19: #113511;
    --md-ref-palette-tertiary-20: #133813;
    --md-ref-palette-tertiary-21: #153a15;
    --md-ref-palette-tertiary-22: #183c17;
    --md-ref-palette-tertiary-23: #1a3f19;
    --md-ref-palette-tertiary-24: #1c411b;
    --md-ref-palette-tertiary-25: #1f431d;
    --md-ref-palette-tertiary-26: #21461f;
    --md-ref-palette-tertiary-27: #234821;
    --md-ref-palette-tertiary-28: #254a23;
    --md-ref-palette-tertiary-29: #284d25;
    --md-ref-palette-tertiary-30: #2a4f28;
    --md-ref-palette-tertiary-31: #2c512a;
    --md-ref-palette-tertiary-32: #2f542c;
    --md-ref-palette-tertiary-33: #31562e;
    --md-ref-palette-tertiary-34: #335930;
    --md-ref-palette-tertiary-35: #365b32;
    --md-ref-palette-tertiary-36: #385e34;
    --md-ref-palette-tertiary-37: #3a6037;
    --md-ref-palette-tertiary-38: #3d6239;
    --md-ref-palette-tertiary-39: #3f653b;
    --md-ref-palette-tertiary-40: #41673d;
    --md-ref-palette-tertiary-41: #446a3f;
    --md-ref-palette-tertiary-42: #466c42;
    --md-ref-palette-tertiary-43: #486f44;
    --md-ref-palette-tertiary-44: #4b7146;
    --md-ref-palette-tertiary-45: #4d7449;
    --md-ref-palette-tertiary-46: #50764b;
    --md-ref-palette-tertiary-47: #52794d;
    --md-ref-palette-tertiary-48: #557c4f;
    --md-ref-palette-tertiary-49: #577e52;
    --md-ref-palette-tertiary-50: #598154;
    --md-ref-palette-tertiary-51: #5c8356;
    --md-ref-palette-tertiary-52: #5e8659;
    --md-ref-palette-tertiary-53: #61895b;
    --md-ref-palette-tertiary-54: #638b5d;
    --md-ref-palette-tertiary-55: #668e60;
    --md-ref-palette-tertiary-56: #689062;
    --md-ref-palette-tertiary-57: #6b9365;
    --md-ref-palette-tertiary-58: #6d9667;
    --md-ref-palette-tertiary-59: #709869;
    --md-ref-palette-tertiary-60: #729b6c;
    --md-ref-palette-tertiary-61: #759e6e;
    --md-ref-palette-tertiary-62: #78a071;
    --md-ref-palette-tertiary-63: #7aa373;
    --md-ref-palette-tertiary-64: #7da676;
    --md-ref-palette-tertiary-65: #7fa878;
    --md-ref-palette-tertiary-66: #82ab7b;
    --md-ref-palette-tertiary-67: #84ae7d;
    --md-ref-palette-tertiary-68: #87b180;
    --md-ref-palette-tertiary-69: #8ab382;
    --md-ref-palette-tertiary-70: #8cb685;
    --md-ref-palette-tertiary-71: #8fb987;
    --md-ref-palette-tertiary-72: #92bc8a;
    --md-ref-palette-tertiary-73: #94be8c;
    --md-ref-palette-tertiary-74: #97c18f;
    --md-ref-palette-tertiary-75: #99c491;
    --md-ref-palette-tertiary-76: #9cc794;
    --md-ref-palette-tertiary-77: #9fc997;
    --md-ref-palette-tertiary-78: #a1cc99;
    --md-ref-palette-tertiary-79: #a4cf9c;
    --md-ref-palette-tertiary-80: #a7d29e;
    --md-ref-palette-tertiary-81: #aad5a1;
    --md-ref-palette-tertiary-82: #acd7a4;
    --md-ref-palette-tertiary-83: #afdaa6;
    --md-ref-palette-tertiary-84: #b2dda9;
    --md-ref-palette-tertiary-85: #b4e0ab;
    --md-ref-palette-tertiary-86: #b7e3ae;
    --md-ref-palette-tertiary-87: #bae6b1;
    --md-ref-palette-tertiary-88: #bde9b3;
    --md-ref-palette-tertiary-89: #bfebb6;
    --md-ref-palette-tertiary-90: #c2eeb9;
    --md-ref-palette-tertiary-91: #c5f1bb;
    --md-ref-palette-tertiary-92: #c8f4be;
    --md-ref-palette-tertiary-93: #cbf7c1;
    --md-ref-palette-tertiary-94: #cdfac4;
    --md-ref-palette-tertiary-95: #d0fdc6;
    --md-ref-palette-tertiary-96: #d5ffcb;
    --md-ref-palette-tertiary-97: #e1ffd8;
    --md-ref-palette-tertiary-98: #ecffe4;
    --md-ref-palette-tertiary-99: #f6ffef;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030400;
    --md-ref-palette-neutral-2: #070801;
    --md-ref-palette-neutral-3: #0a0c03;
    --md-ref-palette-neutral-4: #0d0f04;
    --md-ref-palette-neutral-5: #101206;
    --md-ref-palette-neutral-6: #121408;
    --md-ref-palette-neutral-7: #15170a;
    --md-ref-palette-neutral-8: #17190c;
    --md-ref-palette-neutral-9: #191b0e;
    --md-ref-palette-neutral-10: #1b1d10;
    --md-ref-palette-neutral-11: #1d1f12;
    --md-ref-palette-neutral-12: #1f2113;
    --md-ref-palette-neutral-13: #212315;
    --md-ref-palette-neutral-14: #232517;
    --md-ref-palette-neutral-15: #252719;
    --md-ref-palette-neutral-16: #27291b;
    --md-ref-palette-neutral-17: #292b1d;
    --md-ref-palette-neutral-18: #2b2d1f;
    --md-ref-palette-neutral-19: #2d2f21;
    --md-ref-palette-neutral-20: #2f3223;
    --md-ref-palette-neutral-21: #323425;
    --md-ref-palette-neutral-22: #343627;
    --md-ref-palette-neutral-23: #363829;
    --md-ref-palette-neutral-24: #383a2c;
    --md-ref-palette-neutral-25: #3b3d2e;
    --md-ref-palette-neutral-26: #3d3f30;
    --md-ref-palette-neutral-27: #3f4132;
    --md-ref-palette-neutral-28: #414334;
    --md-ref-palette-neutral-29: #444636;
    --md-ref-palette-neutral-30: #464838;
    --md-ref-palette-neutral-31: #484a3b;
    --md-ref-palette-neutral-32: #4b4d3d;
    --md-ref-palette-neutral-33: #4d4f3f;
    --md-ref-palette-neutral-34: #4f5141;
    --md-ref-palette-neutral-35: #525444;
    --md-ref-palette-neutral-36: #545646;
    --md-ref-palette-neutral-37: #575948;
    --md-ref-palette-neutral-38: #595b4a;
    --md-ref-palette-neutral-39: #5b5d4d;
    --md-ref-palette-neutral-40: #5e604f;
    --md-ref-palette-neutral-41: #606251;
    --md-ref-palette-neutral-42: #636554;
    --md-ref-palette-neutral-43: #656756;
    --md-ref-palette-neutral-44: #686a58;
    --md-ref-palette-neutral-45: #6a6c5b;
    --md-ref-palette-neutral-46: #6d6e5d;
    --md-ref-palette-neutral-47: #6f7160;
    --md-ref-palette-neutral-48: #727362;
    --md-ref-palette-neutral-49: #747664;
    --md-ref-palette-neutral-50: #777867;
    --md-ref-palette-neutral-51: #797b69;
    --md-ref-palette-neutral-52: #7c7e6c;
    --md-ref-palette-neutral-53: #7e806e;
    --md-ref-palette-neutral-54: #818371;
    --md-ref-palette-neutral-55: #838573;
    --md-ref-palette-neutral-56: #868875;
    --md-ref-palette-neutral-57: #898a78;
    --md-ref-palette-neutral-58: #8b8d7a;
    --md-ref-palette-neutral-59: #8e907d;
    --md-ref-palette-neutral-60: #91927f;
    --md-ref-palette-neutral-61: #939582;
    --md-ref-palette-neutral-62: #969785;
    --md-ref-palette-neutral-63: #989a87;
    --md-ref-palette-neutral-64: #9b9d8a;
    --md-ref-palette-neutral-65: #9e9f8c;
    --md-ref-palette-neutral-66: #a0a28f;
    --md-ref-palette-neutral-67: #a3a591;
    --md-ref-palette-neutral-68: #a6a794;
    --md-ref-palette-neutral-69: #a9aa96;
    --md-ref-palette-neutral-70: #abad99;
    --md-ref-palette-neutral-71: #aeaf9c;
    --md-ref-palette-neutral-72: #b1b29e;
    --md-ref-palette-neutral-73: #b3b5a1;
    --md-ref-palette-neutral-74: #b6b7a4;
    --md-ref-palette-neutral-75: #b9baa6;
    --md-ref-palette-neutral-76: #bcbda9;
    --md-ref-palette-neutral-77: #bec0ab;
    --md-ref-palette-neutral-78: #c1c2ae;
    --md-ref-palette-neutral-79: #c4c5b1;
    --md-ref-palette-neutral-80: #c7c8b3;
    --md-ref-palette-neutral-81: #cacbb6;
    --md-ref-palette-neutral-82: #ccceb9;
    --md-ref-palette-neutral-83: #cfd0bc;
    --md-ref-palette-neutral-84: #d2d3be;
    --md-ref-palette-neutral-85: #d5d6c1;
    --md-ref-palette-neutral-86: #d8d9c4;
    --md-ref-palette-neutral-87: #dbdbc6;
    --md-ref-palette-neutral-88: #dddec9;
    --md-ref-palette-neutral-89: #e0e1cc;
    --md-ref-palette-neutral-90: #e3e4cf;
    --md-ref-palette-neutral-91: #e6e7d1;
    --md-ref-palette-neutral-92: #e9ead4;
    --md-ref-palette-neutral-93: #ececd7;
    --md-ref-palette-neutral-94: #efefda;
    --md-ref-palette-neutral-95: #f2f2dd;
    --md-ref-palette-neutral-96: #f4f5df;
    --md-ref-palette-neutral-97: #f7f8e2;
    --md-ref-palette-neutral-98: #fafbe5;
    --md-ref-palette-neutral-99: #fdfdf2;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030400;
    --md-ref-palette-neutral-variant-2: #060801;
    --md-ref-palette-neutral-variant-3: #0a0c02;
    --md-ref-palette-neutral-variant-4: #0d0f03;
    --md-ref-palette-neutral-variant-5: #101204;
    --md-ref-palette-neutral-variant-6: #121506;
    --md-ref-palette-neutral-variant-7: #141708;
    --md-ref-palette-neutral-variant-8: #161909;
    --md-ref-palette-neutral-variant-9: #181b0b;
    --md-ref-palette-neutral-variant-10: #1a1d0d;
    --md-ref-palette-neutral-variant-11: #1c1f0f;
    --md-ref-palette-neutral-variant-12: #1e2111;
    --md-ref-palette-neutral-variant-13: #202313;
    --md-ref-palette-neutral-variant-14: #222515;
    --md-ref-palette-neutral-variant-15: #242717;
    --md-ref-palette-neutral-variant-16: #272918;
    --md-ref-palette-neutral-variant-17: #292b1a;
    --md-ref-palette-neutral-variant-18: #2b2e1c;
    --md-ref-palette-neutral-variant-19: #2d301e;
    --md-ref-palette-neutral-variant-20: #2f3220;
    --md-ref-palette-neutral-variant-21: #313422;
    --md-ref-palette-neutral-variant-22: #343625;
    --md-ref-palette-neutral-variant-23: #363927;
    --md-ref-palette-neutral-variant-24: #383b29;
    --md-ref-palette-neutral-variant-25: #3a3d2b;
    --md-ref-palette-neutral-variant-26: #3c3f2d;
    --md-ref-palette-neutral-variant-27: #3f422f;
    --md-ref-palette-neutral-variant-28: #414431;
    --md-ref-palette-neutral-variant-29: #434633;
    --md-ref-palette-neutral-variant-30: #464835;
    --md-ref-palette-neutral-variant-31: #484b38;
    --md-ref-palette-neutral-variant-32: #4a4d3a;
    --md-ref-palette-neutral-variant-33: #4d4f3c;
    --md-ref-palette-neutral-variant-34: #4f523e;
    --md-ref-palette-neutral-variant-35: #515440;
    --md-ref-palette-neutral-variant-36: #545643;
    --md-ref-palette-neutral-variant-37: #565945;
    --md-ref-palette-neutral-variant-38: #595b47;
    --md-ref-palette-neutral-variant-39: #5b5e4a;
    --md-ref-palette-neutral-variant-40: #5d604c;
    --md-ref-palette-neutral-variant-41: #60634e;
    --md-ref-palette-neutral-variant-42: #626550;
    --md-ref-palette-neutral-variant-43: #656753;
    --md-ref-palette-neutral-variant-44: #676a55;
    --md-ref-palette-neutral-variant-45: #6a6c57;
    --md-ref-palette-neutral-variant-46: #6c6f5a;
    --md-ref-palette-neutral-variant-47: #6f715c;
    --md-ref-palette-neutral-variant-48: #71745f;
    --md-ref-palette-neutral-variant-49: #747661;
    --md-ref-palette-neutral-variant-50: #767963;
    --md-ref-palette-neutral-variant-51: #797b66;
    --md-ref-palette-neutral-variant-52: #7b7e68;
    --md-ref-palette-neutral-variant-53: #7e806b;
    --md-ref-palette-neutral-variant-54: #80836d;
    --md-ref-palette-neutral-variant-55: #83866f;
    --md-ref-palette-neutral-variant-56: #868872;
    --md-ref-palette-neutral-variant-57: #888b74;
    --md-ref-palette-neutral-variant-58: #8b8d77;
    --md-ref-palette-neutral-variant-59: #8d9079;
    --md-ref-palette-neutral-variant-60: #90937c;
    --md-ref-palette-neutral-variant-61: #93957e;
    --md-ref-palette-neutral-variant-62: #959881;
    --md-ref-palette-neutral-variant-63: #989a83;
    --md-ref-palette-neutral-variant-64: #9b9d86;
    --md-ref-palette-neutral-variant-65: #9da089;
    --md-ref-palette-neutral-variant-66: #a0a28b;
    --md-ref-palette-neutral-variant-67: #a3a58e;
    --md-ref-palette-neutral-variant-68: #a5a890;
    --md-ref-palette-neutral-variant-69: #a8aa93;
    --md-ref-palette-neutral-variant-70: #abad95;
    --md-ref-palette-neutral-variant-71: #aeb098;
    --md-ref-palette-neutral-variant-72: #b0b39b;
    --md-ref-palette-neutral-variant-73: #b3b59d;
    --md-ref-palette-neutral-variant-74: #b6b8a0;
    --md-ref-palette-neutral-variant-75: #b8bba2;
    --md-ref-palette-neutral-variant-76: #bbbda5;
    --md-ref-palette-neutral-variant-77: #bec0a8;
    --md-ref-palette-neutral-variant-78: #c1c3aa;
    --md-ref-palette-neutral-variant-79: #c4c6ad;
    --md-ref-palette-neutral-variant-80: #c6c8b0;
    --md-ref-palette-neutral-variant-81: #c9cbb2;
    --md-ref-palette-neutral-variant-82: #ccceb5;
    --md-ref-palette-neutral-variant-83: #cfd1b8;
    --md-ref-palette-neutral-variant-84: #d2d4ba;
    --md-ref-palette-neutral-variant-85: #d4d6bd;
    --md-ref-palette-neutral-variant-86: #d7d9c0;
    --md-ref-palette-neutral-variant-87: #dadcc2;
    --md-ref-palette-neutral-variant-88: #dddfc5;
    --md-ref-palette-neutral-variant-89: #e0e2c8;
    --md-ref-palette-neutral-variant-90: #e3e4cb;
    --md-ref-palette-neutral-variant-91: #e5e7cd;
    --md-ref-palette-neutral-variant-92: #e8ead0;
    --md-ref-palette-neutral-variant-93: #ebedd3;
    --md-ref-palette-neutral-variant-94: #eef0d6;
    --md-ref-palette-neutral-variant-95: #f1f3d8;
    --md-ref-palette-neutral-variant-96: #f4f6db;
    --md-ref-palette-neutral-variant-97: #f7f8de;
    --md-ref-palette-neutral-variant-98: #fafbe1;
    --md-ref-palette-neutral-variant-99: #fdfdf0;
    --md-ref-palette-neutral-variant-100: #ffffff;
}