:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #0c000e;
    --md-ref-palette-primary-2: #150018;
    --md-ref-palette-primary-3: #1b001f;
    --md-ref-palette-primary-4: #200025;
    --md-ref-palette-primary-5: #25002a;
    --md-ref-palette-primary-6: #29002e;
    --md-ref-palette-primary-7: #2c0032;
    --md-ref-palette-primary-8: #300036;
    --md-ref-palette-primary-9: #330039;
    --md-ref-palette-primary-10: #36003d;
    --md-ref-palette-primary-11: #3a0040;
    --md-ref-palette-primary-12: #3d0044;
    --md-ref-palette-primary-13: #400048;
    --md-ref-palette-primary-14: #44004c;
    --md-ref-palette-primary-15: #47004f;
    --md-ref-palette-primary-16: #4a0053;
    --md-ref-palette-primary-17: #4e0057;
    --md-ref-palette-primary-18: #51005b;
    --md-ref-palette-primary-19: #55005f;
    --md-ref-palette-primary-20: #580063;
    --md-ref-palette-primary-21: #5c0066;
    --md-ref-palette-primary-22: #60006a;
    --md-ref-palette-primary-23: #63006e;
    --md-ref-palette-primary-24: #670072;
    --md-ref-palette-primary-25: #6b0076;
    --md-ref-palette-primary-26: #6e007a;
    --md-ref-palette-primary-27: #72007f;
    --md-ref-palette-primary-28: #760083;
    --md-ref-palette-primary-29: #790087;
    --md-ref-palette-primary-30: #7d008b;
    --md-ref-palette-primary-31: #81008f;
    --md-ref-palette-primary-32: #850093;
    --md-ref-palette-primary-33: #890097;
    --md-ref-palette-primary-34: #8c009c;
    --md-ref-palette-primary-35: #9000a0;
    --md-ref-palette-primary-36: #9400a4;
    --md-ref-palette-primary-37: #9800a9;
    --md-ref-palette-primary-38: #9c00ad;
    --md-ref-palette-primary-39: #a000b1;
    --md-ref-palette-primary-40: #a400b6;
    --md-ref-palette-primary-41: #a800ba;
    --md-ref-palette-primary-42: #ac00be;
    --md-ref-palette-primary-43: #b000c3;
    --md-ref-palette-primary-44: #b400c7;
    --md-ref-palette-primary-45: #b800cc;
    --md-ref-palette-primary-46: #bc00d0;
    --md-ref-palette-primary-47: #c000d5;
    --md-ref-palette-primary-48: #c400d9;
    --md-ref-palette-primary-49: #c800de;
    --md-ref-palette-primary-50: #cd00e2;
    --md-ref-palette-primary-51: #d100e7;
    --md-ref-palette-primary-52: #d500eb;
    --md-ref-palette-primary-53: #d900f0;
    --md-ref-palette-primary-54: #dd00f5;
    --md-ref-palette-primary-55: #e100f9;
    --md-ref-palette-primary-56: #e600fe;
    --md-ref-palette-primary-57: #e817ff;
    --md-ref-palette-primary-58: #e927ff;
    --md-ref-palette-primary-59: #ea32ff;
    --md-ref-palette-primary-60: #eb3bff;
    --md-ref-palette-primary-61: #ed44ff;
    --md-ref-palette-primary-62: #ee4bff;
    --md-ref-palette-primary-63: #ef52ff;
    --md-ref-palette-primary-64: #f058ff;
    --md-ref-palette-primary-65: #f15eff;
    --md-ref-palette-primary-66: #f264ff;
    --md-ref-palette-primary-67: #f36aff;
    --md-ref-palette-primary-68: #f46fff;
    --md-ref-palette-primary-69: #f575ff;
    --md-ref-palette-primary-70: #f67aff;
    --md-ref-palette-primary-71: #f77fff;
    --md-ref-palette-primary-72: #f884ff;
    --md-ref-palette-primary-73: #f989ff;
    --md-ref-palette-primary-74: #fa8dff;
    --md-ref-palette-primary-75: #fb92ff;
    --md-ref-palette-primary-76: #fb97ff;
    --md-ref-palette-primary-77: #fc9bff;
    --md-ref-palette-primary-78: #fda0ff;
    --md-ref-palette-primary-79: #fea4ff;
    --md-ref-palette-primary-80: #fea9ff;
    --md-ref-palette-primary-81: #ffadff;
    --md-ref-palette-primary-82: #ffb2ff;
    --md-ref-palette-primary-83: #ffb7fe;
    --md-ref-palette-primary-84: #ffbbfd;
    --md-ref-palette-primary-85: #ffc0fd;
    --md-ref-palette-primary-86: #ffc4fc;
    --md-ref-palette-primary-87: #ffc9fc;
    --md-ref-palette-primary-88: #ffcdfc;
    --md-ref-palette-primary-89: #ffd2fb;
    --md-ref-palette-primary-90: #ffd6fb;
    --md-ref-palette-primary-91: #ffdafb;
    --md-ref-palette-primary-92: #ffdffa;
    --md-ref-palette-primary-93: #ffe3fa;
    --md-ref-palette-primary-94: #ffe7fa;
    --md-ref-palette-primary-95: #ffebfa;
    --md-ref-palette-primary-96: #ffeffa;
    --md-ref-palette-primary-97: #fff3fa;
    --md-ref-palette-primary-98: #fff7fa;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #0d000a;
    --md-ref-palette-secondary-2: #160111;
    --md-ref-palette-secondary-3: #1a0315;
    --md-ref-palette-secondary-4: #1e0518;
    --md-ref-palette-secondary-5: #21071b;
    --md-ref-palette-secondary-6: #24091e;
    --md-ref-palette-secondary-7: #270b20;
    --md-ref-palette-secondary-8: #290d22;
    --md-ref-palette-secondary-9: #2b0f24;
    --md-ref-palette-secondary-10: #2e1126;
    --md-ref-palette-secondary-11: #301328;
    --md-ref-palette-secondary-12: #32152a;
    --md-ref-palette-secondary-13: #35172c;
    --md-ref-palette-secondary-14: #37192f;
    --md-ref-palette-secondary-15: #391c31;
    --md-ref-palette-secondary-16: #3c1e33;
    --md-ref-palette-secondary-17: #3e2035;
    --md-ref-palette-secondary-18: #402237;
    --md-ref-palette-secondary-19: #43243a;
    --md-ref-palette-secondary-20: #45263c;
    --md-ref-palette-secondary-21: #48283e;
    --md-ref-palette-secondary-22: #4a2a40;
    --md-ref-palette-secondary-23: #4d2c43;
    --md-ref-palette-secondary-24: #4f2f45;
    --md-ref-palette-secondary-25: #523147;
    --md-ref-palette-secondary-26: #54334a;
    --md-ref-palette-secondary-27: #57354c;
    --md-ref-palette-secondary-28: #59374e;
    --md-ref-palette-secondary-29: #5c3a51;
    --md-ref-palette-secondary-30: #5e3c53;
    --md-ref-palette-secondary-31: #613e55;
    --md-ref-palette-secondary-32: #634158;
    --md-ref-palette-secondary-33: #66435a;
    --md-ref-palette-secondary-34: #68455c;
    --md-ref-palette-secondary-35: #6b475f;
    --md-ref-palette-secondary-36: #6d4a61;
    --md-ref-palette-secondary-37: #704c64;
    --md-ref-palette-secondary-38: #734e66;
    --md-ref-palette-secondary-39: #755169;
    --md-ref-palette-secondary-40: #78536b;
    --md-ref-palette-secondary-41: #7a566e;
    --md-ref-palette-secondary-42: #7d5870;
    --md-ref-palette-secondary-43: #805a73;
    --md-ref-palette-secondary-44: #825d75;
    --md-ref-palette-secondary-45: #855f78;
    --md-ref-palette-secondary-46: #88627a;
    --md-ref-palette-secondary-47: #8a647d;
    --md-ref-palette-secondary-48: #8d667f;
    --md-ref-palette-secondary-49: #906982;
    --md-ref-palette-secondary-50: #926b84;
    --md-ref-palette-secondary-51: #956e87;
    --md-ref-palette-secondary-52: #98708a;
    --md-ref-palette-secondary-53: #9b738c;
    --md-ref-palette-secondary-54: #9d758f;
    --md-ref-palette-secondary-55: #a07891;
    --md-ref-palette-secondary-56: #a37a94;
    --md-ref-palette-secondary-57: #a67d97;
    --md-ref-palette-secondary-58: #a87f99;
    --md-ref-palette-secondary-59: #ab829c;
    --md-ref-palette-secondary-60: #ae859f;
    --md-ref-palette-secondary-61: #b187a1;
    --md-ref-palette-secondary-62: #b48aa4;
    --md-ref-palette-secondary-63: #b68ca7;
    --md-ref-palette-secondary-64: #b98fa9;
    --md-ref-palette-secondary-65: #bc91ac;
    --md-ref-palette-secondary-66: #bf94af;
    --md-ref-palette-secondary-67: #c297b1;
    --md-ref-palette-secondary-68: #c599b4;
    --md-ref-palette-secondary-69: #c79cb7;
    --md-ref-palette-secondary-70: #ca9fba;
    --md-ref-palette-secondary-71: #cda1bc;
    --md-ref-palette-secondary-72: #d0a4bf;
    --md-ref-palette-secondary-73: #d3a6c2;
    --md-ref-palette-secondary-74: #d6a9c5;
    --md-ref-palette-secondary-75: #d9acc7;
    --md-ref-palette-secondary-76: #dcafca;
    --md-ref-palette-secondary-77: #deb1cd;
    --md-ref-palette-secondary-78: #e1b4d0;
    --md-ref-palette-secondary-79: #e4b7d2;
    --md-ref-palette-secondary-80: #e7b9d5;
    --md-ref-palette-secondary-81: #eabcd8;
    --md-ref-palette-secondary-82: #edbfdb;
    --md-ref-palette-secondary-83: #f0c2de;
    --md-ref-palette-secondary-84: #f3c4e1;
    --md-ref-palette-secondary-85: #f6c7e3;
    --md-ref-palette-secondary-86: #f9cae6;
    --md-ref-palette-secondary-87: #fccde9;
    --md-ref-palette-secondary-88: #ffcfec;
    --md-ref-palette-secondary-89: #ffd3ed;
    --md-ref-palette-secondary-90: #ffd7ee;
    --md-ref-palette-secondary-91: #ffdcf0;
    --md-ref-palette-secondary-92: #ffe0f1;
    --md-ref-palette-secondary-93: #ffe4f2;
    --md-ref-palette-secondary-94: #ffe8f3;
    --md-ref-palette-secondary-95: #ffecf5;
    --md-ref-palette-secondary-96: #fff0f6;
    --md-ref-palette-secondary-97: #fff4f7;
    --md-ref-palette-secondary-98: #fff8f9;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0f0005;
    --md-ref-palette-tertiary-2: #18000b;
    --md-ref-palette-tertiary-3: #1f000f;
    --md-ref-palette-tertiary-4: #250013;
    --md-ref-palette-tertiary-5: #280216;
    --md-ref-palette-tertiary-6: #2c0318;
    --md-ref-palette-tertiary-7: #2f051b;
    --md-ref-palette-tertiary-8: #31071d;
    --md-ref-palette-tertiary-9: #34081f;
    --md-ref-palette-tertiary-10: #360b21;
    --md-ref-palette-tertiary-11: #390d23;
    --md-ref-palette-tertiary-12: #3b0f25;
    --md-ref-palette-tertiary-13: #3e1127;
    --md-ref-palette-tertiary-14: #401329;
    --md-ref-palette-tertiary-15: #43152b;
    --md-ref-palette-tertiary-16: #45172d;
    --md-ref-palette-tertiary-17: #481930;
    --md-ref-palette-tertiary-18: #4b1c32;
    --md-ref-palette-tertiary-19: #4d1e34;
    --md-ref-palette-tertiary-20: #502036;
    --md-ref-palette-tertiary-21: #522238;
    --md-ref-palette-tertiary-22: #55243b;
    --md-ref-palette-tertiary-23: #58263d;
    --md-ref-palette-tertiary-24: #5a293f;
    --md-ref-palette-tertiary-25: #5d2b41;
    --md-ref-palette-tertiary-26: #602d44;
    --md-ref-palette-tertiary-27: #622f46;
    --md-ref-palette-tertiary-28: #653148;
    --md-ref-palette-tertiary-29: #68344b;
    --md-ref-palette-tertiary-30: #6a364d;
    --md-ref-palette-tertiary-31: #6d384f;
    --md-ref-palette-tertiary-32: #703a52;
    --md-ref-palette-tertiary-33: #723d54;
    --md-ref-palette-tertiary-34: #753f56;
    --md-ref-palette-tertiary-35: #784159;
    --md-ref-palette-tertiary-36: #7a445b;
    --md-ref-palette-tertiary-37: #7d465d;
    --md-ref-palette-tertiary-38: #804860;
    --md-ref-palette-tertiary-39: #834b62;
    --md-ref-palette-tertiary-40: #854d65;
    --md-ref-palette-tertiary-41: #884f67;
    --md-ref-palette-tertiary-42: #8b526a;
    --md-ref-palette-tertiary-43: #8e546c;
    --md-ref-palette-tertiary-44: #91566f;
    --md-ref-palette-tertiary-45: #935971;
    --md-ref-palette-tertiary-46: #965b74;
    --md-ref-palette-tertiary-47: #995e76;
    --md-ref-palette-tertiary-48: #9c6079;
    --md-ref-palette-tertiary-49: #9f637b;
    --md-ref-palette-tertiary-50: #a1657e;
    --md-ref-palette-tertiary-51: #a46780;
    --md-ref-palette-tertiary-52: #a76a83;
    --md-ref-palette-tertiary-53: #aa6c85;
    --md-ref-palette-tertiary-54: #ad6f88;
    --md-ref-palette-tertiary-55: #b0718b;
    --md-ref-palette-tertiary-56: #b3748d;
    --md-ref-palette-tertiary-57: #b57690;
    --md-ref-palette-tertiary-58: #b87992;
    --md-ref-palette-tertiary-59: #bb7b95;
    --md-ref-palette-tertiary-60: #be7e98;
    --md-ref-palette-tertiary-61: #c1809a;
    --md-ref-palette-tertiary-62: #c4839d;
    --md-ref-palette-tertiary-63: #c786a0;
    --md-ref-palette-tertiary-64: #ca88a2;
    --md-ref-palette-tertiary-65: #cd8ba5;
    --md-ref-palette-tertiary-66: #d08da8;
    --md-ref-palette-tertiary-67: #d390aa;
    --md-ref-palette-tertiary-68: #d693ad;
    --md-ref-palette-tertiary-69: #d995b0;
    --md-ref-palette-tertiary-70: #dc98b2;
    --md-ref-palette-tertiary-71: #de9ab5;
    --md-ref-palette-tertiary-72: #e19db8;
    --md-ref-palette-tertiary-73: #e4a0ba;
    --md-ref-palette-tertiary-74: #e7a2bd;
    --md-ref-palette-tertiary-75: #eaa5c0;
    --md-ref-palette-tertiary-76: #eda8c3;
    --md-ref-palette-tertiary-77: #f0aac5;
    --md-ref-palette-tertiary-78: #f3adc8;
    --md-ref-palette-tertiary-79: #f6b0cb;
    --md-ref-palette-tertiary-80: #fab2ce;
    --md-ref-palette-tertiary-81: #fdb5d1;
    --md-ref-palette-tertiary-82: #ffb8d3;
    --md-ref-palette-tertiary-83: #ffbcd5;
    --md-ref-palette-tertiary-84: #ffc0d8;
    --md-ref-palette-tertiary-85: #ffc4da;
    --md-ref-palette-tertiary-86: #ffc9dc;
    --md-ref-palette-tertiary-87: #ffcdde;
    --md-ref-palette-tertiary-88: #ffd1e1;
    --md-ref-palette-tertiary-89: #ffd5e3;
    --md-ref-palette-tertiary-90: #ffd9e5;
    --md-ref-palette-tertiary-91: #ffdce7;
    --md-ref-palette-tertiary-92: #ffe0ea;
    --md-ref-palette-tertiary-93: #ffe4ec;
    --md-ref-palette-tertiary-94: #ffe8ee;
    --md-ref-palette-tertiary-95: #ffecf1;
    --md-ref-palette-tertiary-96: #fff0f3;
    --md-ref-palette-tertiary-97: #fff4f6;
    --md-ref-palette-tertiary-98: #fff8f8;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #070207;
    --md-ref-palette-neutral-2: #0c050c;
    --md-ref-palette-neutral-3: #100810;
    --md-ref-palette-neutral-4: #140b14;
    --md-ref-palette-neutral-5: #170e16;
    --md-ref-palette-neutral-6: #191119;
    --md-ref-palette-neutral-7: #1c131b;
    --md-ref-palette-neutral-8: #1e151d;
    --md-ref-palette-neutral-9: #20171f;
    --md-ref-palette-neutral-10: #221921;
    --md-ref-palette-neutral-11: #241b23;
    --md-ref-palette-neutral-12: #261d25;
    --md-ref-palette-neutral-13: #281f27;
    --md-ref-palette-neutral-14: #2a212a;
    --md-ref-palette-neutral-15: #2d232c;
    --md-ref-palette-neutral-16: #2f252e;
    --md-ref-palette-neutral-17: #312730;
    --md-ref-palette-neutral-18: #332932;
    --md-ref-palette-neutral-19: #352b34;
    --md-ref-palette-neutral-20: #382d36;
    --md-ref-palette-neutral-21: #3a2f39;
    --md-ref-palette-neutral-22: #3c313b;
    --md-ref-palette-neutral-23: #3e343d;
    --md-ref-palette-neutral-24: #41363f;
    --md-ref-palette-neutral-25: #433842;
    --md-ref-palette-neutral-26: #453a44;
    --md-ref-palette-neutral-27: #483d46;
    --md-ref-palette-neutral-28: #4a3f49;
    --md-ref-palette-neutral-29: #4c414b;
    --md-ref-palette-neutral-30: #4f434d;
    --md-ref-palette-neutral-31: #51464f;
    --md-ref-palette-neutral-32: #544852;
    --md-ref-palette-neutral-33: #564a54;
    --md-ref-palette-neutral-34: #584c57;
    --md-ref-palette-neutral-35: #5b4f59;
    --md-ref-palette-neutral-36: #5d515b;
    --md-ref-palette-neutral-37: #60545e;
    --md-ref-palette-neutral-38: #625660;
    --md-ref-palette-neutral-39: #655863;
    --md-ref-palette-neutral-40: #675b65;
    --md-ref-palette-neutral-41: #6a5d67;
    --md-ref-palette-neutral-42: #6c5f6a;
    --md-ref-palette-neutral-43: #6f626c;
    --md-ref-palette-neutral-44: #71646f;
    --md-ref-palette-neutral-45: #746771;
    --md-ref-palette-neutral-46: #766974;
    --md-ref-palette-neutral-47: #796c76;
    --md-ref-palette-neutral-48: #7b6e79;
    --md-ref-palette-neutral-49: #7e717b;
    --md-ref-palette-neutral-50: #81737e;
    --md-ref-palette-neutral-51: #837681;
    --md-ref-palette-neutral-52: #867883;
    --md-ref-palette-neutral-53: #887b86;
    --md-ref-palette-neutral-54: #8b7d88;
    --md-ref-palette-neutral-55: #8e808b;
    --md-ref-palette-neutral-56: #90828d;
    --md-ref-palette-neutral-57: #938590;
    --md-ref-palette-neutral-58: #968793;
    --md-ref-palette-neutral-59: #988a95;
    --md-ref-palette-neutral-60: #9b8c98;
    --md-ref-palette-neutral-61: #9e8f9a;
    --md-ref-palette-neutral-62: #a0929d;
    --md-ref-palette-neutral-63: #a394a0;
    --md-ref-palette-neutral-64: #a697a2;
    --md-ref-palette-neutral-65: #a89aa5;
    --md-ref-palette-neutral-66: #ab9ca8;
    --md-ref-palette-neutral-67: #ae9faa;
    --md-ref-palette-neutral-68: #b1a1ad;
    --md-ref-palette-neutral-69: #b3a4b0;
    --md-ref-palette-neutral-70: #b6a7b2;
    --md-ref-palette-neutral-71: #b9a9b5;
    --md-ref-palette-neutral-72: #bcacb8;
    --md-ref-palette-neutral-73: #beafbb;
    --md-ref-palette-neutral-74: #c1b1bd;
    --md-ref-palette-neutral-75: #c4b4c0;
    --md-ref-palette-neutral-76: #c7b7c3;
    --md-ref-palette-neutral-77: #cabac6;
    --md-ref-palette-neutral-78: #ccbcc8;
    --md-ref-palette-neutral-79: #cfbfcb;
    --md-ref-palette-neutral-80: #d2c2ce;
    --md-ref-palette-neutral-81: #d5c5d1;
    --md-ref-palette-neutral-82: #d8c7d4;
    --md-ref-palette-neutral-83: #dbcad6;
    --md-ref-palette-neutral-84: #decdd9;
    --md-ref-palette-neutral-85: #e0d0dc;
    --md-ref-palette-neutral-86: #e3d2df;
    --md-ref-palette-neutral-87: #e6d5e2;
    --md-ref-palette-neutral-88: #e9d8e4;
    --md-ref-palette-neutral-89: #ecdbe7;
    --md-ref-palette-neutral-90: #efdeea;
    --md-ref-palette-neutral-91: #f2e0ed;
    --md-ref-palette-neutral-92: #f5e3f0;
    --md-ref-palette-neutral-93: #f8e6f3;
    --md-ref-palette-neutral-94: #fbe9f6;
    --md-ref-palette-neutral-95: #fdecf8;
    --md-ref-palette-neutral-96: #ffeffa;
    --md-ref-palette-neutral-97: #fff3fa;
    --md-ref-palette-neutral-98: #fff7fa;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #080208;
    --md-ref-palette-neutral-variant-2: #0d050e;
    --md-ref-palette-neutral-variant-3: #110812;
    --md-ref-palette-neutral-variant-4: #150b15;
    --md-ref-palette-neutral-variant-5: #180d18;
    --md-ref-palette-neutral-variant-6: #1a101a;
    --md-ref-palette-neutral-variant-7: #1d121c;
    --md-ref-palette-neutral-variant-8: #1f141f;
    --md-ref-palette-neutral-variant-9: #211621;
    --md-ref-palette-neutral-variant-10: #231823;
    --md-ref-palette-neutral-variant-11: #251a25;
    --md-ref-palette-neutral-variant-12: #271c27;
    --md-ref-palette-neutral-variant-13: #291e29;
    --md-ref-palette-neutral-variant-14: #2c202b;
    --md-ref-palette-neutral-variant-15: #2e222d;
    --md-ref-palette-neutral-variant-16: #30242f;
    --md-ref-palette-neutral-variant-17: #322631;
    --md-ref-palette-neutral-variant-18: #342834;
    --md-ref-palette-neutral-variant-19: #372a36;
    --md-ref-palette-neutral-variant-20: #392c38;
    --md-ref-palette-neutral-variant-21: #3b2f3a;
    --md-ref-palette-neutral-variant-22: #3d313c;
    --md-ref-palette-neutral-variant-23: #40333f;
    --md-ref-palette-neutral-variant-24: #423541;
    --md-ref-palette-neutral-variant-25: #443743;
    --md-ref-palette-neutral-variant-26: #473a45;
    --md-ref-palette-neutral-variant-27: #493c48;
    --md-ref-palette-neutral-variant-28: #4b3e4a;
    --md-ref-palette-neutral-variant-29: #4e404c;
    --md-ref-palette-neutral-variant-30: #50434f;
    --md-ref-palette-neutral-variant-31: #534551;
    --md-ref-palette-neutral-variant-32: #554753;
    --md-ref-palette-neutral-variant-33: #574956;
    --md-ref-palette-neutral-variant-34: #5a4c58;
    --md-ref-palette-neutral-variant-35: #5c4e5b;
    --md-ref-palette-neutral-variant-36: #5f505d;
    --md-ref-palette-neutral-variant-37: #61535f;
    --md-ref-palette-neutral-variant-38: #645562;
    --md-ref-palette-neutral-variant-39: #665764;
    --md-ref-palette-neutral-variant-40: #695a67;
    --md-ref-palette-neutral-variant-41: #6b5c69;
    --md-ref-palette-neutral-variant-42: #6e5f6c;
    --md-ref-palette-neutral-variant-43: #70616e;
    --md-ref-palette-neutral-variant-44: #736471;
    --md-ref-palette-neutral-variant-45: #756673;
    --md-ref-palette-neutral-variant-46: #786876;
    --md-ref-palette-neutral-variant-47: #7b6b78;
    --md-ref-palette-neutral-variant-48: #7d6d7b;
    --md-ref-palette-neutral-variant-49: #80707d;
    --md-ref-palette-neutral-variant-50: #827280;
    --md-ref-palette-neutral-variant-51: #857582;
    --md-ref-palette-neutral-variant-52: #887785;
    --md-ref-palette-neutral-variant-53: #8a7a87;
    --md-ref-palette-neutral-variant-54: #8d7c8a;
    --md-ref-palette-neutral-variant-55: #8f7f8d;
    --md-ref-palette-neutral-variant-56: #92818f;
    --md-ref-palette-neutral-variant-57: #958492;
    --md-ref-palette-neutral-variant-58: #978794;
    --md-ref-palette-neutral-variant-59: #9a8997;
    --md-ref-palette-neutral-variant-60: #9d8c9a;
    --md-ref-palette-neutral-variant-61: #9f8e9c;
    --md-ref-palette-neutral-variant-62: #a2919f;
    --md-ref-palette-neutral-variant-63: #a593a2;
    --md-ref-palette-neutral-variant-64: #a896a4;
    --md-ref-palette-neutral-variant-65: #aa99a7;
    --md-ref-palette-neutral-variant-66: #ad9baa;
    --md-ref-palette-neutral-variant-67: #b09eac;
    --md-ref-palette-neutral-variant-68: #b3a1af;
    --md-ref-palette-neutral-variant-69: #b5a3b2;
    --md-ref-palette-neutral-variant-70: #b8a6b4;
    --md-ref-palette-neutral-variant-71: #bba9b7;
    --md-ref-palette-neutral-variant-72: #beabba;
    --md-ref-palette-neutral-variant-73: #c0aebd;
    --md-ref-palette-neutral-variant-74: #c3b1bf;
    --md-ref-palette-neutral-variant-75: #c6b3c2;
    --md-ref-palette-neutral-variant-76: #c9b6c5;
    --md-ref-palette-neutral-variant-77: #ccb9c8;
    --md-ref-palette-neutral-variant-78: #cebbca;
    --md-ref-palette-neutral-variant-79: #d1becd;
    --md-ref-palette-neutral-variant-80: #d4c1d0;
    --md-ref-palette-neutral-variant-81: #d7c4d3;
    --md-ref-palette-neutral-variant-82: #dac6d6;
    --md-ref-palette-neutral-variant-83: #ddc9d8;
    --md-ref-palette-neutral-variant-84: #e0ccdb;
    --md-ref-palette-neutral-variant-85: #e2cfde;
    --md-ref-palette-neutral-variant-86: #e5d2e1;
    --md-ref-palette-neutral-variant-87: #e8d4e4;
    --md-ref-palette-neutral-variant-88: #ebd7e6;
    --md-ref-palette-neutral-variant-89: #eedae9;
    --md-ref-palette-neutral-variant-90: #f1ddec;
    --md-ref-palette-neutral-variant-91: #f4e0ef;
    --md-ref-palette-neutral-variant-92: #f7e2f2;
    --md-ref-palette-neutral-variant-93: #fae5f5;
    --md-ref-palette-neutral-variant-94: #fde8f8;
    --md-ref-palette-neutral-variant-95: #ffebfa;
    --md-ref-palette-neutral-variant-96: #ffeffa;
    --md-ref-palette-neutral-variant-97: #fff3fa;
    --md-ref-palette-neutral-variant-98: #fff7fa;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
