:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #0f0004;
    --md-ref-palette-primary-2: #190008;
    --md-ref-palette-primary-3: #20000c;
    --md-ref-palette-primary-4: #26000f;
    --md-ref-palette-primary-5: #2b0012;
    --md-ref-palette-primary-10: #3e001d;
    --md-ref-palette-primary-20: #650033;
    --md-ref-palette-primary-30: #8e004a;
    --md-ref-palette-primary-40: #b12062;
    --md-ref-palette-primary-50: #d23d7b;
    --md-ref-palette-primary-60: #f35795;
    --md-ref-palette-primary-70: #ff84ae;
    --md-ref-palette-primary-80: #ffb1c8;
    --md-ref-palette-primary-90: #ffd9e2;
    --md-ref-palette-primary-95: #ffecef;
    --md-ref-palette-primary-96: #fff0f2;
    --md-ref-palette-primary-97: #fff4f5;
    --md-ref-palette-primary-98: #fff8f8;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #0e0008;
    --md-ref-palette-secondary-2: #17000f;
    --md-ref-palette-secondary-3: #1e0015;
    --md-ref-palette-secondary-4: #240019;
    --md-ref-palette-secondary-5: #29001d;
    --md-ref-palette-secondary-10: #3c002c;
    --md-ref-palette-secondary-20: #600248;
    --md-ref-palette-secondary-30: #7c2160;
    --md-ref-palette-secondary-40: #9a3a79;
    --md-ref-palette-secondary-50: #b75394;
    --md-ref-palette-secondary-60: #d66cae;
    --md-ref-palette-secondary-70: #f586ca;
    --md-ref-palette-secondary-80: #ffaedc;
    --md-ref-palette-secondary-90: #ffd8eb;
    --md-ref-palette-secondary-95: #ffecf3;
    --md-ref-palette-secondary-96: #fff0f5;
    --md-ref-palette-secondary-97: #fff4f7;
    --md-ref-palette-secondary-98: #fff8f8;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #02001f;
    --md-ref-palette-tertiary-2: #04002e;
    --md-ref-palette-tertiary-3: #060039;
    --md-ref-palette-tertiary-4: #080042;
    --md-ref-palette-tertiary-5: #0a004a;
    --md-ref-palette-tertiary-10: #120068;
    --md-ref-palette-tertiary-20: #271b89;
    --md-ref-palette-tertiary-30: #3e379f;
    --md-ref-palette-tertiary-40: #5650b9;
    --md-ref-palette-tertiary-50: #706ad4;
    --md-ref-palette-tertiary-60: #8984f0;
    --md-ref-palette-tertiary-70: #a6a1ff;
    --md-ref-palette-tertiary-80: #c4c0ff;
    --md-ref-palette-tertiary-90: #e3dfff;
    --md-ref-palette-tertiary-95: #f3eeff;
    --md-ref-palette-tertiary-96: #f6f2ff;
    --md-ref-palette-tertiary-97: #f9f5ff;
    --md-ref-palette-tertiary-98: #fcf8ff;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100002;
    --md-ref-palette-error-2: #1a0003;
    --md-ref-palette-error-3: #210005;
    --md-ref-palette-error-4: #270007;
    --md-ref-palette-error-5: #2c0008;
    --md-ref-palette-error-10: #400010;
    --md-ref-palette-error-20: #67001f;
    --md-ref-palette-error-30: #91002f;
    --md-ref-palette-error-40: #b81843;
    --md-ref-palette-error-50: #db365a;
    --md-ref-palette-error-60: #fe5172;
    --md-ref-palette-error-70: #ff8796;
    --md-ref-palette-error-80: #ffb2b9;
    --md-ref-palette-error-90: #ffdadc;
    --md-ref-palette-error-95: #ffeced;
    --md-ref-palette-error-96: #fff0f0;
    --md-ref-palette-error-97: #fff4f4;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #0e0008;
    --md-ref-palette-neutral-2: #17000f;
    --md-ref-palette-neutral-3: #1d0114;
    --md-ref-palette-neutral-4: #210217;
    --md-ref-palette-neutral-5: #25041a;
    --md-ref-palette-neutral-10: #320e26;
    --md-ref-palette-neutral-20: #4a233b;
    --md-ref-palette-neutral-30: #633952;
    --md-ref-palette-neutral-40: #7e506a;
    --md-ref-palette-neutral-50: #996884;
    --md-ref-palette-neutral-60: #b5829e;
    --md-ref-palette-neutral-70: #d29bb9;
    --md-ref-palette-neutral-80: #efb6d5;
    --md-ref-palette-neutral-90: #ffd8eb;
    --md-ref-palette-neutral-95: #ffecf3;
    --md-ref-palette-neutral-96: #fff0f5;
    --md-ref-palette-neutral-97: #fff4f7;
    --md-ref-palette-neutral-98: #fff8f8;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #0e0008;
    --md-ref-palette-neutral-variant-2: #17000f;
    --md-ref-palette-neutral-variant-3: #1e0015;
    --md-ref-palette-neutral-variant-4: #240019;
    --md-ref-palette-neutral-variant-5: #29001d;
    --md-ref-palette-neutral-variant-10: #370729;
    --md-ref-palette-neutral-variant-20: #511d3f;
    --md-ref-palette-neutral-variant-30: #6b3456;
    --md-ref-palette-neutral-variant-40: #864b6f;
    --md-ref-palette-neutral-variant-50: #a26388;
    --md-ref-palette-neutral-variant-60: #bf7ca3;
    --md-ref-palette-neutral-variant-70: #dc96be;
    --md-ref-palette-neutral-variant-80: #fab1da;
    --md-ref-palette-neutral-variant-90: #ffd8eb;
    --md-ref-palette-neutral-variant-95: #ffecf3;
    --md-ref-palette-neutral-variant-96: #fff0f5;
    --md-ref-palette-neutral-variant-97: #fff4f7;
    --md-ref-palette-neutral-variant-98: #fff8f8;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
