:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #090200;
    --md-ref-palette-primary-2: #100500;
    --md-ref-palette-primary-3: #160700;
    --md-ref-palette-primary-4: #1b0a00;
    --md-ref-palette-primary-5: #1f0c00;
    --md-ref-palette-primary-6: #220e00;
    --md-ref-palette-primary-7: #251000;
    --md-ref-palette-primary-8: #281200;
    --md-ref-palette-primary-9: #2b1400;
    --md-ref-palette-primary-10: #2e1500;
    --md-ref-palette-primary-11: #311700;
    --md-ref-palette-primary-12: #341900;
    --md-ref-palette-primary-13: #371a00;
    --md-ref-palette-primary-14: #3a1c00;
    --md-ref-palette-primary-15: #3d1e00;
    --md-ref-palette-primary-16: #402000;
    --md-ref-palette-primary-17: #432200;
    --md-ref-palette-primary-18: #462300;
    --md-ref-palette-primary-19: #492500;
    --md-ref-palette-primary-20: #4c2700;
    --md-ref-palette-primary-21: #4f2900;
    --md-ref-palette-primary-22: #522b00;
    --md-ref-palette-primary-23: #552d00;
    --md-ref-palette-primary-24: #592f00;
    --md-ref-palette-primary-25: #5c3000;
    --md-ref-palette-primary-26: #5f3200;
    --md-ref-palette-primary-27: #623400;
    --md-ref-palette-primary-28: #663600;
    --md-ref-palette-primary-29: #693800;
    --md-ref-palette-primary-30: #6c3a00;
    --md-ref-palette-primary-31: #703c00;
    --md-ref-palette-primary-32: #733e00;
    --md-ref-palette-primary-33: #764000;
    --md-ref-palette-primary-34: #7a4200;
    --md-ref-palette-primary-35: #7d4400;
    --md-ref-palette-primary-36: #814600;
    --md-ref-palette-primary-37: #844800;
    --md-ref-palette-primary-38: #874a00;
    --md-ref-palette-primary-39: #8b4c00;
    --md-ref-palette-primary-40: #8e4e00;
    --md-ref-palette-primary-41: #925000;
    --md-ref-palette-primary-42: #955200;
    --md-ref-palette-primary-43: #995400;
    --md-ref-palette-primary-44: #9d5600;
    --md-ref-palette-primary-45: #a05800;
    --md-ref-palette-primary-46: #a45b00;
    --md-ref-palette-primary-47: #a75d00;
    --md-ref-palette-primary-48: #ab5f00;
    --md-ref-palette-primary-49: #ae6100;
    --md-ref-palette-primary-50: #b26300;
    --md-ref-palette-primary-51: #b66500;
    --md-ref-palette-primary-52: #b96700;
    --md-ref-palette-primary-53: #bd6a00;
    --md-ref-palette-primary-54: #c16c00;
    --md-ref-palette-primary-55: #c56e00;
    --md-ref-palette-primary-56: #c87000;
    --md-ref-palette-primary-57: #cc7200;
    --md-ref-palette-primary-58: #d07400;
    --md-ref-palette-primary-59: #d37700;
    --md-ref-palette-primary-60: #d77900;
    --md-ref-palette-primary-61: #db7b00;
    --md-ref-palette-primary-62: #df7d00;
    --md-ref-palette-primary-63: #e38000;
    --md-ref-palette-primary-64: #e68200;
    --md-ref-palette-primary-65: #ea8400;
    --md-ref-palette-primary-66: #ee8600;
    --md-ref-palette-primary-67: #f28900;
    --md-ref-palette-primary-68: #f68b00;
    --md-ref-palette-primary-69: #fa8d00;
    --md-ref-palette-primary-70: #fe8f00;
    --md-ref-palette-primary-71: #ff9317;
    --md-ref-palette-primary-72: #ff9729;
    --md-ref-palette-primary-73: #ff9c37;
    --md-ref-palette-primary-74: #ffa043;
    --md-ref-palette-primary-75: #ffa44d;
    --md-ref-palette-primary-76: #ffa857;
    --md-ref-palette-primary-77: #ffac60;
    --md-ref-palette-primary-78: #ffb069;
    --md-ref-palette-primary-79: #ffb471;
    --md-ref-palette-primary-80: #ffb779;
    --md-ref-palette-primary-81: #ffbb81;
    --md-ref-palette-primary-82: #ffbf89;
    --md-ref-palette-primary-83: #ffc390;
    --md-ref-palette-primary-84: #ffc697;
    --md-ref-palette-primary-85: #ffca9f;
    --md-ref-palette-primary-86: #ffcea6;
    --md-ref-palette-primary-87: #ffd1ad;
    --md-ref-palette-primary-88: #ffd5b4;
    --md-ref-palette-primary-89: #ffd8bb;
    --md-ref-palette-primary-90: #ffdcc1;
    --md-ref-palette-primary-91: #ffe0c8;
    --md-ref-palette-primary-92: #ffe3cf;
    --md-ref-palette-primary-93: #ffe7d5;
    --md-ref-palette-primary-94: #ffeadc;
    --md-ref-palette-primary-95: #ffeee2;
    --md-ref-palette-primary-96: #fff1e8;
    --md-ref-palette-primary-97: #fff4ef;
    --md-ref-palette-primary-98: #fff8f5;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #070300;
    --md-ref-palette-secondary-2: #0e0600;
    --md-ref-palette-secondary-3: #130900;
    --md-ref-palette-secondary-4: #170c00;
    --md-ref-palette-secondary-5: #1b0e00;
    --md-ref-palette-secondary-6: #1e1100;
    --md-ref-palette-secondary-7: #211300;
    --md-ref-palette-secondary-8: #241400;
    --md-ref-palette-secondary-9: #261600;
    --md-ref-palette-secondary-10: #291800;
    --md-ref-palette-secondary-11: #2c1a00;
    --md-ref-palette-secondary-12: #2e1c00;
    --md-ref-palette-secondary-13: #311e00;
    --md-ref-palette-secondary-14: #342000;
    --md-ref-palette-secondary-15: #362100;
    --md-ref-palette-secondary-16: #392300;
    --md-ref-palette-secondary-17: #3b2601;
    --md-ref-palette-secondary-18: #3e2803;
    --md-ref-palette-secondary-19: #402a04;
    --md-ref-palette-secondary-20: #432c06;
    --md-ref-palette-secondary-21: #452e07;
    --md-ref-palette-secondary-22: #483009;
    --md-ref-palette-secondary-23: #4a320c;
    --md-ref-palette-secondary-24: #4d350e;
    --md-ref-palette-secondary-25: #4f3710;
    --md-ref-palette-secondary-26: #523912;
    --md-ref-palette-secondary-27: #543b14;
    --md-ref-palette-secondary-28: #573d16;
    --md-ref-palette-secondary-29: #594018;
    --md-ref-palette-secondary-30: #5c421a;
    --md-ref-palette-secondary-31: #5f441c;
    --md-ref-palette-secondary-32: #61471e;
    --md-ref-palette-secondary-33: #644920;
    --md-ref-palette-secondary-34: #664b23;
    --md-ref-palette-secondary-35: #694d25;
    --md-ref-palette-secondary-36: #6b5027;
    --md-ref-palette-secondary-37: #6e5229;
    --md-ref-palette-secondary-38: #71552b;
    --md-ref-palette-secondary-39: #73572d;
    --md-ref-palette-secondary-40: #76592f;
    --md-ref-palette-secondary-41: #795c31;
    --md-ref-palette-secondary-42: #7b5e34;
    --md-ref-palette-secondary-43: #7e6036;
    --md-ref-palette-secondary-44: #816338;
    --md-ref-palette-secondary-45: #83653a;
    --md-ref-palette-secondary-46: #86683c;
    --md-ref-palette-secondary-47: #896a3f;
    --md-ref-palette-secondary-48: #8c6d41;
    --md-ref-palette-secondary-49: #8e6f43;
    --md-ref-palette-secondary-50: #917245;
    --md-ref-palette-secondary-51: #947448;
    --md-ref-palette-secondary-52: #97774a;
    --md-ref-palette-secondary-53: #99794c;
    --md-ref-palette-secondary-54: #9c7c4e;
    --md-ref-palette-secondary-55: #9f7e51;
    --md-ref-palette-secondary-56: #a28153;
    --md-ref-palette-secondary-57: #a48355;
    --md-ref-palette-secondary-58: #a78658;
    --md-ref-palette-secondary-59: #aa885a;
    --md-ref-palette-secondary-60: #ad8b5c;
    --md-ref-palette-secondary-61: #b08e5f;
    --md-ref-palette-secondary-62: #b29061;
    --md-ref-palette-secondary-63: #b59364;
    --md-ref-palette-secondary-64: #b89566;
    --md-ref-palette-secondary-65: #bb9868;
    --md-ref-palette-secondary-66: #be9b6b;
    --md-ref-palette-secondary-67: #c19d6d;
    --md-ref-palette-secondary-68: #c4a070;
    --md-ref-palette-secondary-69: #c6a372;
    --md-ref-palette-secondary-70: #c9a575;
    --md-ref-palette-secondary-71: #cca877;
    --md-ref-palette-secondary-72: #cfab79;
    --md-ref-palette-secondary-73: #d2ad7c;
    --md-ref-palette-secondary-74: #d5b07e;
    --md-ref-palette-secondary-75: #d8b381;
    --md-ref-palette-secondary-76: #dbb583;
    --md-ref-palette-secondary-77: #deb886;
    --md-ref-palette-secondary-78: #e1bb88;
    --md-ref-palette-secondary-79: #e3be8b;
    --md-ref-palette-secondary-80: #e6c08d;
    --md-ref-palette-secondary-81: #e9c390;
    --md-ref-palette-secondary-82: #ecc693;
    --md-ref-palette-secondary-83: #efc995;
    --md-ref-palette-secondary-84: #f2cb98;
    --md-ref-palette-secondary-85: #f5ce9a;
    --md-ref-palette-secondary-86: #f8d19d;
    --md-ref-palette-secondary-87: #fbd49f;
    --md-ref-palette-secondary-88: #fed6a2;
    --md-ref-palette-secondary-89: #ffdaa9;
    --md-ref-palette-secondary-90: #ffddb2;
    --md-ref-palette-secondary-91: #ffe1bb;
    --md-ref-palette-secondary-92: #ffe4c3;
    --md-ref-palette-secondary-93: #ffe7cb;
    --md-ref-palette-secondary-94: #ffebd4;
    --md-ref-palette-secondary-95: #ffeedc;
    --md-ref-palette-secondary-96: #fff1e4;
    --md-ref-palette-secondary-97: #fff5ec;
    --md-ref-palette-secondary-98: #fff8f4;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #060300;
    --md-ref-palette-tertiary-2: #0b0700;
    --md-ref-palette-tertiary-3: #100a00;
    --md-ref-palette-tertiary-4: #140d00;
    --md-ref-palette-tertiary-5: #171000;
    --md-ref-palette-tertiary-6: #1a1200;
    --md-ref-palette-tertiary-7: #1d1400;
    --md-ref-palette-tertiary-8: #1f1600;
    --md-ref-palette-tertiary-9: #221800;
    --md-ref-palette-tertiary-10: #241a00;
    --md-ref-palette-tertiary-11: #271c00;
    --md-ref-palette-tertiary-12: #291e00;
    --md-ref-palette-tertiary-13: #2c2000;
    --md-ref-palette-tertiary-14: #2e2200;
    --md-ref-palette-tertiary-15: #312400;
    --md-ref-palette-tertiary-16: #332600;
    --md-ref-palette-tertiary-17: #362800;
    --md-ref-palette-tertiary-18: #382a00;
    --md-ref-palette-tertiary-19: #3b2c00;
    --md-ref-palette-tertiary-20: #3d2e00;
    --md-ref-palette-tertiary-21: #403000;
    --md-ref-palette-tertiary-22: #433300;
    --md-ref-palette-tertiary-23: #453500;
    --md-ref-palette-tertiary-24: #483700;
    --md-ref-palette-tertiary-25: #4b3900;
    --md-ref-palette-tertiary-26: #4e3b00;
    --md-ref-palette-tertiary-27: #503d00;
    --md-ref-palette-tertiary-28: #534000;
    --md-ref-palette-tertiary-29: #564200;
    --md-ref-palette-tertiary-30: #584401;
    --md-ref-palette-tertiary-31: #5b4603;
    --md-ref-palette-tertiary-32: #5d4906;
    --md-ref-palette-tertiary-33: #604b08;
    --md-ref-palette-tertiary-34: #634d0b;
    --md-ref-palette-tertiary-35: #65500e;
    --md-ref-palette-tertiary-36: #685210;
    --md-ref-palette-tertiary-37: #6a5413;
    --md-ref-palette-tertiary-38: #6d5715;
    --md-ref-palette-tertiary-39: #705918;
    --md-ref-palette-tertiary-40: #725c1a;
    --md-ref-palette-tertiary-41: #755e1c;
    --md-ref-palette-tertiary-42: #77601f;
    --md-ref-palette-tertiary-43: #7a6321;
    --md-ref-palette-tertiary-44: #7d6523;
    --md-ref-palette-tertiary-45: #7f6825;
    --md-ref-palette-tertiary-46: #826a28;
    --md-ref-palette-tertiary-47: #856d2a;
    --md-ref-palette-tertiary-48: #876f2c;
    --md-ref-palette-tertiary-49: #8a722e;
    --md-ref-palette-tertiary-50: #8d7431;
    --md-ref-palette-tertiary-51: #907733;
    --md-ref-palette-tertiary-52: #927935;
    --md-ref-palette-tertiary-53: #957c37;
    --md-ref-palette-tertiary-54: #987e3a;
    --md-ref-palette-tertiary-55: #9b813c;
    --md-ref-palette-tertiary-56: #9d833e;
    --md-ref-palette-tertiary-57: #a08641;
    --md-ref-palette-tertiary-58: #a38943;
    --md-ref-palette-tertiary-59: #a68b45;
    --md-ref-palette-tertiary-60: #a88e47;
    --md-ref-palette-tertiary-61: #ab904a;
    --md-ref-palette-tertiary-62: #ae934c;
    --md-ref-palette-tertiary-63: #b1964e;
    --md-ref-palette-tertiary-64: #b49851;
    --md-ref-palette-tertiary-65: #b69b53;
    --md-ref-palette-tertiary-66: #b99e55;
    --md-ref-palette-tertiary-67: #bca058;
    --md-ref-palette-tertiary-68: #bfa35a;
    --md-ref-palette-tertiary-69: #c2a65d;
    --md-ref-palette-tertiary-70: #c5a85f;
    --md-ref-palette-tertiary-71: #c7ab61;
    --md-ref-palette-tertiary-72: #caae64;
    --md-ref-palette-tertiary-73: #cdb066;
    --md-ref-palette-tertiary-74: #d0b369;
    --md-ref-palette-tertiary-75: #d3b66b;
    --md-ref-palette-tertiary-76: #d6b96d;
    --md-ref-palette-tertiary-77: #d9bb70;
    --md-ref-palette-tertiary-78: #dcbe72;
    --md-ref-palette-tertiary-79: #dfc175;
    --md-ref-palette-tertiary-80: #e2c377;
    --md-ref-palette-tertiary-81: #e5c67a;
    --md-ref-palette-tertiary-82: #e7c97c;
    --md-ref-palette-tertiary-83: #eacc7f;
    --md-ref-palette-tertiary-84: #edcf81;
    --md-ref-palette-tertiary-85: #f0d184;
    --md-ref-palette-tertiary-86: #f3d486;
    --md-ref-palette-tertiary-87: #f6d789;
    --md-ref-palette-tertiary-88: #f9da8b;
    --md-ref-palette-tertiary-89: #fcdd8e;
    --md-ref-palette-tertiary-90: #ffdf91;
    --md-ref-palette-tertiary-91: #ffe39e;
    --md-ref-palette-tertiary-92: #ffe6ab;
    --md-ref-palette-tertiary-93: #ffe9b7;
    --md-ref-palette-tertiary-94: #ffecc3;
    --md-ref-palette-tertiary-95: #ffefcf;
    --md-ref-palette-tertiary-96: #fff2db;
    --md-ref-palette-tertiary-97: #fff5e6;
    --md-ref-palette-tertiary-98: #fff8f1;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #080300;
    --md-ref-palette-neutral-2: #0e0601;
    --md-ref-palette-neutral-3: #130902;
    --md-ref-palette-neutral-4: #160c04;
    --md-ref-palette-neutral-5: #190f06;
    --md-ref-palette-neutral-6: #1c1107;
    --md-ref-palette-neutral-7: #1f1309;
    --md-ref-palette-neutral-8: #21150b;
    --md-ref-palette-neutral-9: #23170d;
    --md-ref-palette-neutral-10: #25190f;
    --md-ref-palette-neutral-11: #271b11;
    --md-ref-palette-neutral-12: #2a1d13;
    --md-ref-palette-neutral-13: #2c1f14;
    --md-ref-palette-neutral-14: #2e2116;
    --md-ref-palette-neutral-15: #302318;
    --md-ref-palette-neutral-16: #32251a;
    --md-ref-palette-neutral-17: #35271c;
    --md-ref-palette-neutral-18: #37291e;
    --md-ref-palette-neutral-19: #392b20;
    --md-ref-palette-neutral-20: #3c2e22;
    --md-ref-palette-neutral-21: #3e3024;
    --md-ref-palette-neutral-22: #403226;
    --md-ref-palette-neutral-23: #433428;
    --md-ref-palette-neutral-24: #45362a;
    --md-ref-palette-neutral-25: #47392d;
    --md-ref-palette-neutral-26: #4a3b2f;
    --md-ref-palette-neutral-27: #4c3d31;
    --md-ref-palette-neutral-28: #4f3f33;
    --md-ref-palette-neutral-29: #514135;
    --md-ref-palette-neutral-30: #534437;
    --md-ref-palette-neutral-31: #564639;
    --md-ref-palette-neutral-32: #58483c;
    --md-ref-palette-neutral-33: #5b4b3e;
    --md-ref-palette-neutral-34: #5d4d40;
    --md-ref-palette-neutral-35: #604f42;
    --md-ref-palette-neutral-36: #625245;
    --md-ref-palette-neutral-37: #655447;
    --md-ref-palette-neutral-38: #675649;
    --md-ref-palette-neutral-39: #6a594b;
    --md-ref-palette-neutral-40: #6c5b4e;
    --md-ref-palette-neutral-41: #6f5d50;
    --md-ref-palette-neutral-42: #716052;
    --md-ref-palette-neutral-43: #746255;
    --md-ref-palette-neutral-44: #776557;
    --md-ref-palette-neutral-45: #796759;
    --md-ref-palette-neutral-46: #7c6a5c;
    --md-ref-palette-neutral-47: #7e6c5e;
    --md-ref-palette-neutral-48: #816f61;
    --md-ref-palette-neutral-49: #847163;
    --md-ref-palette-neutral-50: #867465;
    --md-ref-palette-neutral-51: #897668;
    --md-ref-palette-neutral-52: #8b796a;
    --md-ref-palette-neutral-53: #8e7b6d;
    --md-ref-palette-neutral-54: #917e6f;
    --md-ref-palette-neutral-55: #938072;
    --md-ref-palette-neutral-56: #968374;
    --md-ref-palette-neutral-57: #998577;
    --md-ref-palette-neutral-58: #9c8879;
    --md-ref-palette-neutral-59: #9e8a7b;
    --md-ref-palette-neutral-60: #a18d7e;
    --md-ref-palette-neutral-61: #a49081;
    --md-ref-palette-neutral-62: #a69283;
    --md-ref-palette-neutral-63: #a99586;
    --md-ref-palette-neutral-64: #ac9788;
    --md-ref-palette-neutral-65: #af9a8b;
    --md-ref-palette-neutral-66: #b19d8d;
    --md-ref-palette-neutral-67: #b49f90;
    --md-ref-palette-neutral-68: #b7a292;
    --md-ref-palette-neutral-69: #baa595;
    --md-ref-palette-neutral-70: #bda798;
    --md-ref-palette-neutral-71: #bfaa9a;
    --md-ref-palette-neutral-72: #c2ad9d;
    --md-ref-palette-neutral-73: #c5af9f;
    --md-ref-palette-neutral-74: #c8b2a2;
    --md-ref-palette-neutral-75: #cbb5a5;
    --md-ref-palette-neutral-76: #ceb7a7;
    --md-ref-palette-neutral-77: #d0baaa;
    --md-ref-palette-neutral-78: #d3bdad;
    --md-ref-palette-neutral-79: #d6c0af;
    --md-ref-palette-neutral-80: #d9c2b2;
    --md-ref-palette-neutral-81: #dcc5b5;
    --md-ref-palette-neutral-82: #dfc8b7;
    --md-ref-palette-neutral-83: #e2cbba;
    --md-ref-palette-neutral-84: #e4cdbd;
    --md-ref-palette-neutral-85: #e7d0bf;
    --md-ref-palette-neutral-86: #ead3c2;
    --md-ref-palette-neutral-87: #edd6c5;
    --md-ref-palette-neutral-88: #f0d9c8;
    --md-ref-palette-neutral-89: #f3dbca;
    --md-ref-palette-neutral-90: #f6decd;
    --md-ref-palette-neutral-91: #f9e1d0;
    --md-ref-palette-neutral-92: #fce4d3;
    --md-ref-palette-neutral-93: #ffe7d5;
    --md-ref-palette-neutral-94: #ffeadc;
    --md-ref-palette-neutral-95: #ffeee2;
    --md-ref-palette-neutral-96: #fff1e8;
    --md-ref-palette-neutral-97: #fff4ef;
    --md-ref-palette-neutral-98: #fff8f5;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #090200;
    --md-ref-palette-neutral-variant-2: #100500;
    --md-ref-palette-neutral-variant-3: #140801;
    --md-ref-palette-neutral-variant-4: #180b03;
    --md-ref-palette-neutral-variant-5: #1b0e04;
    --md-ref-palette-neutral-variant-6: #1e1005;
    --md-ref-palette-neutral-variant-7: #201307;
    --md-ref-palette-neutral-variant-8: #221508;
    --md-ref-palette-neutral-variant-9: #25170a;
    --md-ref-palette-neutral-variant-10: #27190c;
    --md-ref-palette-neutral-variant-11: #291a0e;
    --md-ref-palette-neutral-variant-12: #2b1c10;
    --md-ref-palette-neutral-variant-13: #2d1f12;
    --md-ref-palette-neutral-variant-14: #302113;
    --md-ref-palette-neutral-variant-15: #322315;
    --md-ref-palette-neutral-variant-16: #342517;
    --md-ref-palette-neutral-variant-17: #372719;
    --md-ref-palette-neutral-variant-18: #39291b;
    --md-ref-palette-neutral-variant-19: #3b2b1d;
    --md-ref-palette-neutral-variant-20: #3e2d1f;
    --md-ref-palette-neutral-variant-21: #402f21;
    --md-ref-palette-neutral-variant-22: #423123;
    --md-ref-palette-neutral-variant-23: #453425;
    --md-ref-palette-neutral-variant-24: #473627;
    --md-ref-palette-neutral-variant-25: #493829;
    --md-ref-palette-neutral-variant-26: #4c3a2c;
    --md-ref-palette-neutral-variant-27: #4e3c2e;
    --md-ref-palette-neutral-variant-28: #513f30;
    --md-ref-palette-neutral-variant-29: #534132;
    --md-ref-palette-neutral-variant-30: #564334;
    --md-ref-palette-neutral-variant-31: #584536;
    --md-ref-palette-neutral-variant-32: #5b4838;
    --md-ref-palette-neutral-variant-33: #5d4a3b;
    --md-ref-palette-neutral-variant-34: #604c3d;
    --md-ref-palette-neutral-variant-35: #624f3f;
    --md-ref-palette-neutral-variant-36: #655141;
    --md-ref-palette-neutral-variant-37: #675343;
    --md-ref-palette-neutral-variant-38: #6a5646;
    --md-ref-palette-neutral-variant-39: #6c5848;
    --md-ref-palette-neutral-variant-40: #6f5a4a;
    --md-ref-palette-neutral-variant-41: #715d4d;
    --md-ref-palette-neutral-variant-42: #745f4f;
    --md-ref-palette-neutral-variant-43: #776251;
    --md-ref-palette-neutral-variant-44: #796454;
    --md-ref-palette-neutral-variant-45: #7c6756;
    --md-ref-palette-neutral-variant-46: #7e6958;
    --md-ref-palette-neutral-variant-47: #816b5b;
    --md-ref-palette-neutral-variant-48: #846e5d;
    --md-ref-palette-neutral-variant-49: #86705f;
    --md-ref-palette-neutral-variant-50: #897362;
    --md-ref-palette-neutral-variant-51: #8c7564;
    --md-ref-palette-neutral-variant-52: #8e7867;
    --md-ref-palette-neutral-variant-53: #917a69;
    --md-ref-palette-neutral-variant-54: #947d6b;
    --md-ref-palette-neutral-variant-55: #967f6e;
    --md-ref-palette-neutral-variant-56: #998270;
    --md-ref-palette-neutral-variant-57: #9c8573;
    --md-ref-palette-neutral-variant-58: #9e8775;
    --md-ref-palette-neutral-variant-59: #a18a78;
    --md-ref-palette-neutral-variant-60: #a48c7a;
    --md-ref-palette-neutral-variant-61: #a78f7d;
    --md-ref-palette-neutral-variant-62: #a9917f;
    --md-ref-palette-neutral-variant-63: #ac9482;
    --md-ref-palette-neutral-variant-64: #af9784;
    --md-ref-palette-neutral-variant-65: #b29987;
    --md-ref-palette-neutral-variant-66: #b49c89;
    --md-ref-palette-neutral-variant-67: #b79f8c;
    --md-ref-palette-neutral-variant-68: #baa18e;
    --md-ref-palette-neutral-variant-69: #bda491;
    --md-ref-palette-neutral-variant-70: #c0a794;
    --md-ref-palette-neutral-variant-71: #c2a996;
    --md-ref-palette-neutral-variant-72: #c5ac99;
    --md-ref-palette-neutral-variant-73: #c8af9b;
    --md-ref-palette-neutral-variant-74: #cbb19e;
    --md-ref-palette-neutral-variant-75: #ceb4a1;
    --md-ref-palette-neutral-variant-76: #d1b7a3;
    --md-ref-palette-neutral-variant-77: #d4b9a6;
    --md-ref-palette-neutral-variant-78: #d6bca8;
    --md-ref-palette-neutral-variant-79: #d9bfab;
    --md-ref-palette-neutral-variant-80: #dcc2ae;
    --md-ref-palette-neutral-variant-81: #dfc4b0;
    --md-ref-palette-neutral-variant-82: #e2c7b3;
    --md-ref-palette-neutral-variant-83: #e5cab6;
    --md-ref-palette-neutral-variant-84: #e8cdb8;
    --md-ref-palette-neutral-variant-85: #ebcfbb;
    --md-ref-palette-neutral-variant-86: #eed2be;
    --md-ref-palette-neutral-variant-87: #f1d5c0;
    --md-ref-palette-neutral-variant-88: #f3d8c3;
    --md-ref-palette-neutral-variant-89: #f6dbc6;
    --md-ref-palette-neutral-variant-90: #f9ddc9;
    --md-ref-palette-neutral-variant-91: #fce0cb;
    --md-ref-palette-neutral-variant-92: #ffe3cf;
    --md-ref-palette-neutral-variant-93: #ffe7d5;
    --md-ref-palette-neutral-variant-94: #ffeadc;
    --md-ref-palette-neutral-variant-95: #ffeee2;
    --md-ref-palette-neutral-variant-96: #fff1e8;
    --md-ref-palette-neutral-variant-97: #fff4ef;
    --md-ref-palette-neutral-variant-98: #fff8f5;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}