:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #090200;
    --md-ref-palette-primary-2: #100500;
    --md-ref-palette-primary-3: #160700;
    --md-ref-palette-primary-4: #1b0a00;
    --md-ref-palette-primary-5: #1f0c00;
    --md-ref-palette-primary-10: #2e1500;
    --md-ref-palette-primary-20: #4c2700;
    --md-ref-palette-primary-30: #6c3a00;
    --md-ref-palette-primary-40: #8e4e00;
    --md-ref-palette-primary-50: #b26300;
    --md-ref-palette-primary-60: #d77900;
    --md-ref-palette-primary-70: #fe8f00;
    --md-ref-palette-primary-80: #ffb779;
    --md-ref-palette-primary-90: #ffdcc1;
    --md-ref-palette-primary-95: #ffeee2;
    --md-ref-palette-primary-96: #fff1e8;
    --md-ref-palette-primary-97: #fff4ef;
    --md-ref-palette-primary-98: #fff8f5;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #070300;
    --md-ref-palette-secondary-2: #0e0600;
    --md-ref-palette-secondary-3: #130900;
    --md-ref-palette-secondary-4: #170c00;
    --md-ref-palette-secondary-5: #1b0e00;
    --md-ref-palette-secondary-10: #291800;
    --md-ref-palette-secondary-20: #432c06;
    --md-ref-palette-secondary-30: #5c421a;
    --md-ref-palette-secondary-40: #76592f;
    --md-ref-palette-secondary-50: #917245;
    --md-ref-palette-secondary-60: #ad8b5c;
    --md-ref-palette-secondary-70: #c9a575;
    --md-ref-palette-secondary-80: #e6c08d;
    --md-ref-palette-secondary-90: #ffddb2;
    --md-ref-palette-secondary-95: #ffeedc;
    --md-ref-palette-secondary-96: #fff1e4;
    --md-ref-palette-secondary-97: #fff5ec;
    --md-ref-palette-secondary-98: #fff8f4;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #060300;
    --md-ref-palette-tertiary-2: #0b0700;
    --md-ref-palette-tertiary-3: #100a00;
    --md-ref-palette-tertiary-4: #140d00;
    --md-ref-palette-tertiary-5: #171000;
    --md-ref-palette-tertiary-10: #241a00;
    --md-ref-palette-tertiary-20: #3d2e00;
    --md-ref-palette-tertiary-30: #584401;
    --md-ref-palette-tertiary-40: #725c1a;
    --md-ref-palette-tertiary-50: #8d7431;
    --md-ref-palette-tertiary-60: #a88e47;
    --md-ref-palette-tertiary-70: #c5a85f;
    --md-ref-palette-tertiary-80: #e2c377;
    --md-ref-palette-tertiary-90: #ffdf91;
    --md-ref-palette-tertiary-95: #ffefcf;
    --md-ref-palette-tertiary-96: #fff2db;
    --md-ref-palette-tertiary-97: #fff5e6;
    --md-ref-palette-tertiary-98: #fff8f1;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #080300;
    --md-ref-palette-neutral-2: #0e0601;
    --md-ref-palette-neutral-3: #130902;
    --md-ref-palette-neutral-4: #160c04;
    --md-ref-palette-neutral-5: #190f06;
    --md-ref-palette-neutral-10: #25190f;
    --md-ref-palette-neutral-20: #3c2e22;
    --md-ref-palette-neutral-30: #534437;
    --md-ref-palette-neutral-40: #6c5b4e;
    --md-ref-palette-neutral-50: #867465;
    --md-ref-palette-neutral-60: #a18d7e;
    --md-ref-palette-neutral-70: #bda798;
    --md-ref-palette-neutral-80: #d9c2b2;
    --md-ref-palette-neutral-90: #f6decd;
    --md-ref-palette-neutral-95: #ffeee2;
    --md-ref-palette-neutral-96: #fff1e8;
    --md-ref-palette-neutral-97: #fff4ef;
    --md-ref-palette-neutral-98: #fff8f5;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #090200;
    --md-ref-palette-neutral-variant-2: #100500;
    --md-ref-palette-neutral-variant-3: #140801;
    --md-ref-palette-neutral-variant-4: #180b03;
    --md-ref-palette-neutral-variant-5: #1b0e04;
    --md-ref-palette-neutral-variant-10: #27190c;
    --md-ref-palette-neutral-variant-20: #3e2d1f;
    --md-ref-palette-neutral-variant-30: #564334;
    --md-ref-palette-neutral-variant-40: #6f5a4a;
    --md-ref-palette-neutral-variant-50: #897362;
    --md-ref-palette-neutral-variant-60: #a48c7a;
    --md-ref-palette-neutral-variant-70: #c0a794;
    --md-ref-palette-neutral-variant-80: #dcc2ae;
    --md-ref-palette-neutral-variant-90: #f9ddc9;
    --md-ref-palette-neutral-variant-95: #ffeee2;
    --md-ref-palette-neutral-variant-96: #fff1e8;
    --md-ref-palette-neutral-variant-97: #fff4ef;
    --md-ref-palette-neutral-variant-98: #fff8f5;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}