:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060300;
    --md-ref-palette-primary-2: #0b0700;
    --md-ref-palette-primary-3: #100a00;
    --md-ref-palette-primary-4: #140d00;
    --md-ref-palette-primary-5: #171000;
    --md-ref-palette-primary-10: #241a00;
    --md-ref-palette-primary-20: #3d2e00;
    --md-ref-palette-primary-30: #584400;
    --md-ref-palette-primary-40: #755b00;
    --md-ref-palette-primary-50: #937300;
    --md-ref-palette-primary-60: #b28c00;
    --md-ref-palette-primary-70: #d2a500;
    --md-ref-palette-primary-80: #f3c000;
    --md-ref-palette-primary-90: #ffdf90;
    --md-ref-palette-primary-95: #ffefcf;
    --md-ref-palette-primary-96: #fff2da;
    --md-ref-palette-primary-97: #fff5e6;
    --md-ref-palette-primary-98: #fff8f1;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #050400;
    --md-ref-palette-secondary-2: #0a0700;
    --md-ref-palette-secondary-3: #0e0b00;
    --md-ref-palette-secondary-4: #120e00;
    --md-ref-palette-secondary-5: #151100;
    --md-ref-palette-secondary-10: #211b00;
    --md-ref-palette-secondary-20: #383006;
    --md-ref-palette-secondary-30: #4f471b;
    --md-ref-palette-secondary-40: #685f30;
    --md-ref-palette-secondary-50: #817746;
    --md-ref-palette-secondary-60: #9c915d;
    --md-ref-palette-secondary-70: #b7ac75;
    --md-ref-palette-secondary-80: #d4c78e;
    --md-ref-palette-secondary-90: #f0e3a8;
    --md-ref-palette-secondary-95: #fff1b5;
    --md-ref-palette-secondary-96: #fff4c8;
    --md-ref-palette-secondary-97: #fff6da;
    --md-ref-palette-secondary-98: #fff9ec;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #040400;
    --md-ref-palette-tertiary-2: #080800;
    --md-ref-palette-tertiary-3: #0c0c00;
    --md-ref-palette-tertiary-4: #0f0f00;
    --md-ref-palette-tertiary-5: #121200;
    --md-ref-palette-tertiary-10: #1d1d00;
    --md-ref-palette-tertiary-20: #333200;
    --md-ref-palette-tertiary-30: #4a490b;
    --md-ref-palette-tertiary-40: #626122;
    --md-ref-palette-tertiary-50: #7b7a38;
    --md-ref-palette-tertiary-60: #95944f;
    --md-ref-palette-tertiary-70: #b0af67;
    --md-ref-palette-tertiary-80: #ccca7f;
    --md-ref-palette-tertiary-90: #e8e699;
    --md-ref-palette-tertiary-95: #f7f5a6;
    --md-ref-palette-tertiary-96: #faf8a8;
    --md-ref-palette-tertiary-97: #fdfaab;
    --md-ref-palette-tertiary-98: #fffcbf;
    --md-ref-palette-tertiary-99: #fffedf;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #060300;
    --md-ref-palette-neutral-2: #0b0701;
    --md-ref-palette-neutral-3: #0f0a02;
    --md-ref-palette-neutral-4: #120e03;
    --md-ref-palette-neutral-5: #151004;
    --md-ref-palette-neutral-10: #211b0d;
    --md-ref-palette-neutral-20: #363020;
    --md-ref-palette-neutral-30: #4d4635;
    --md-ref-palette-neutral-40: #665e4b;
    --md-ref-palette-neutral-50: #7f7663;
    --md-ref-palette-neutral-60: #9a907b;
    --md-ref-palette-neutral-70: #b5aa95;
    --md-ref-palette-neutral-80: #d1c5af;
    --md-ref-palette-neutral-90: #ede1ca;
    --md-ref-palette-neutral-95: #fcefd8;
    --md-ref-palette-neutral-96: #fff2db;
    --md-ref-palette-neutral-97: #fff5e6;
    --md-ref-palette-neutral-98: #fff8f1;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #060300;
    --md-ref-palette-neutral-variant-2: #0b0700;
    --md-ref-palette-neutral-variant-3: #100a01;
    --md-ref-palette-neutral-variant-4: #130d02;
    --md-ref-palette-neutral-variant-5: #161003;
    --md-ref-palette-neutral-variant-10: #211b0a;
    --md-ref-palette-neutral-variant-20: #37301d;
    --md-ref-palette-neutral-variant-30: #4f4631;
    --md-ref-palette-neutral-variant-40: #675d47;
    --md-ref-palette-neutral-variant-50: #80765f;
    --md-ref-palette-neutral-variant-60: #9b9077;
    --md-ref-palette-neutral-variant-70: #b6aa90;
    --md-ref-palette-neutral-variant-80: #d2c5aa;
    --md-ref-palette-neutral-variant-90: #efe1c5;
    --md-ref-palette-neutral-variant-95: #feefd3;
    --md-ref-palette-neutral-variant-96: #fff2da;
    --md-ref-palette-neutral-variant-97: #fff5e6;
    --md-ref-palette-neutral-variant-98: #fff8f1;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
