:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060300;
    --md-ref-palette-primary-2: #0b0700;
    --md-ref-palette-primary-3: #100a00;
    --md-ref-palette-primary-4: #140d00;
    --md-ref-palette-primary-5: #171000;
    --md-ref-palette-primary-6: #1a1200;
    --md-ref-palette-primary-7: #1d1400;
    --md-ref-palette-primary-8: #1f1600;
    --md-ref-palette-primary-9: #221800;
    --md-ref-palette-primary-10: #241a00;
    --md-ref-palette-primary-11: #271c00;
    --md-ref-palette-primary-12: #291e00;
    --md-ref-palette-primary-13: #2b2000;
    --md-ref-palette-primary-14: #2e2200;
    --md-ref-palette-primary-15: #302400;
    --md-ref-palette-primary-16: #332600;
    --md-ref-palette-primary-17: #362800;
    --md-ref-palette-primary-18: #382a00;
    --md-ref-palette-primary-19: #3b2c00;
    --md-ref-palette-primary-20: #3d2e00;
    --md-ref-palette-primary-21: #403100;
    --md-ref-palette-primary-22: #433300;
    --md-ref-palette-primary-23: #453500;
    --md-ref-palette-primary-24: #483700;
    --md-ref-palette-primary-25: #4b3900;
    --md-ref-palette-primary-26: #4d3b00;
    --md-ref-palette-primary-27: #503d00;
    --md-ref-palette-primary-28: #534000;
    --md-ref-palette-primary-29: #564200;
    --md-ref-palette-primary-30: #584400;
    --md-ref-palette-primary-31: #5b4600;
    --md-ref-palette-primary-32: #5e4900;
    --md-ref-palette-primary-33: #614b00;
    --md-ref-palette-primary-34: #644d00;
    --md-ref-palette-primary-35: #664f00;
    --md-ref-palette-primary-36: #695200;
    --md-ref-palette-primary-37: #6c5400;
    --md-ref-palette-primary-38: #6f5600;
    --md-ref-palette-primary-39: #725900;
    --md-ref-palette-primary-40: #755b00;
    --md-ref-palette-primary-41: #785d00;
    --md-ref-palette-primary-42: #7b6000;
    --md-ref-palette-primary-43: #7e6200;
    --md-ref-palette-primary-44: #816400;
    --md-ref-palette-primary-45: #846700;
    --md-ref-palette-primary-46: #876900;
    --md-ref-palette-primary-47: #8a6c00;
    --md-ref-palette-primary-48: #8d6e00;
    --md-ref-palette-primary-49: #907000;
    --md-ref-palette-primary-50: #937300;
    --md-ref-palette-primary-51: #967500;
    --md-ref-palette-primary-52: #997800;
    --md-ref-palette-primary-53: #9c7a00;
    --md-ref-palette-primary-54: #9f7d00;
    --md-ref-palette-primary-55: #a27f00;
    --md-ref-palette-primary-56: #a58200;
    --md-ref-palette-primary-57: #a88400;
    --md-ref-palette-primary-58: #ac8700;
    --md-ref-palette-primary-59: #af8900;
    --md-ref-palette-primary-60: #b28c00;
    --md-ref-palette-primary-61: #b58e00;
    --md-ref-palette-primary-62: #b89100;
    --md-ref-palette-primary-63: #bb9300;
    --md-ref-palette-primary-64: #bf9600;
    --md-ref-palette-primary-65: #c29800;
    --md-ref-palette-primary-66: #c59b00;
    --md-ref-palette-primary-67: #c89e00;
    --md-ref-palette-primary-68: #cba000;
    --md-ref-palette-primary-69: #cfa300;
    --md-ref-palette-primary-70: #d2a500;
    --md-ref-palette-primary-71: #d5a800;
    --md-ref-palette-primary-72: #d9ab00;
    --md-ref-palette-primary-73: #dcad00;
    --md-ref-palette-primary-74: #dfb000;
    --md-ref-palette-primary-75: #e2b300;
    --md-ref-palette-primary-76: #e6b500;
    --md-ref-palette-primary-77: #e9b800;
    --md-ref-palette-primary-78: #ecba00;
    --md-ref-palette-primary-79: #f0bd00;
    --md-ref-palette-primary-80: #f3c000;
    --md-ref-palette-primary-81: #f6c200;
    --md-ref-palette-primary-82: #fac500;
    --md-ref-palette-primary-83: #fdc800;
    --md-ref-palette-primary-84: #ffcb1f;
    --md-ref-palette-primary-85: #ffcf3d;
    --md-ref-palette-primary-86: #ffd252;
    --md-ref-palette-primary-87: #ffd563;
    --md-ref-palette-primary-88: #ffd973;
    --md-ref-palette-primary-89: #ffdc82;
    --md-ref-palette-primary-90: #ffdf90;
    --md-ref-palette-primary-91: #ffe39d;
    --md-ref-palette-primary-92: #ffe6aa;
    --md-ref-palette-primary-93: #ffe9b7;
    --md-ref-palette-primary-94: #ffecc3;
    --md-ref-palette-primary-95: #ffefcf;
    --md-ref-palette-primary-96: #fff2da;
    --md-ref-palette-primary-97: #fff5e6;
    --md-ref-palette-primary-98: #fff8f1;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #050400;
    --md-ref-palette-secondary-2: #0a0700;
    --md-ref-palette-secondary-3: #0e0b00;
    --md-ref-palette-secondary-4: #120e00;
    --md-ref-palette-secondary-5: #151100;
    --md-ref-palette-secondary-6: #181300;
    --md-ref-palette-secondary-7: #1a1500;
    --md-ref-palette-secondary-8: #1c1800;
    --md-ref-palette-secondary-9: #1f1900;
    --md-ref-palette-secondary-10: #211b00;
    --md-ref-palette-secondary-11: #231d00;
    --md-ref-palette-secondary-12: #251f00;
    --md-ref-palette-secondary-13: #282200;
    --md-ref-palette-secondary-14: #2a2400;
    --md-ref-palette-secondary-15: #2c2600;
    --md-ref-palette-secondary-16: #2f2800;
    --md-ref-palette-secondary-17: #312a00;
    --md-ref-palette-secondary-18: #342c00;
    --md-ref-palette-secondary-19: #362e00;
    --md-ref-palette-secondary-20: #383000;
    --md-ref-palette-secondary-21: #3b3200;
    --md-ref-palette-secondary-22: #3d3500;
    --md-ref-palette-secondary-23: #403700;
    --md-ref-palette-secondary-24: #423900;
    --md-ref-palette-secondary-25: #453b00;
    --md-ref-palette-secondary-26: #473e00;
    --md-ref-palette-secondary-27: #4a4000;
    --md-ref-palette-secondary-28: #4c4200;
    --md-ref-palette-secondary-29: #4f4400;
    --md-ref-palette-secondary-30: #524700;
    --md-ref-palette-secondary-31: #544900;
    --md-ref-palette-secondary-32: #574b00;
    --md-ref-palette-secondary-33: #594e00;
    --md-ref-palette-secondary-34: #5c5000;
    --md-ref-palette-secondary-35: #5f5200;
    --md-ref-palette-secondary-36: #615500;
    --md-ref-palette-secondary-37: #645700;
    --md-ref-palette-secondary-38: #675900;
    --md-ref-palette-secondary-39: #6a5c00;
    --md-ref-palette-secondary-40: #6c5e00;
    --md-ref-palette-secondary-41: #6f6100;
    --md-ref-palette-secondary-42: #726300;
    --md-ref-palette-secondary-43: #756600;
    --md-ref-palette-secondary-44: #776800;
    --md-ref-palette-secondary-45: #7a6a00;
    --md-ref-palette-secondary-46: #7d6d00;
    --md-ref-palette-secondary-47: #806f00;
    --md-ref-palette-secondary-48: #837200;
    --md-ref-palette-secondary-49: #857400;
    --md-ref-palette-secondary-50: #887700;
    --md-ref-palette-secondary-51: #8b7900;
    --md-ref-palette-secondary-52: #8e7c00;
    --md-ref-palette-secondary-53: #917e00;
    --md-ref-palette-secondary-54: #948100;
    --md-ref-palette-secondary-55: #978400;
    --md-ref-palette-secondary-56: #998600;
    --md-ref-palette-secondary-57: #9c8900;
    --md-ref-palette-secondary-58: #9f8b00;
    --md-ref-palette-secondary-59: #a28e00;
    --md-ref-palette-secondary-60: #a59100;
    --md-ref-palette-secondary-61: #a89300;
    --md-ref-palette-secondary-62: #ab9600;
    --md-ref-palette-secondary-63: #ae9800;
    --md-ref-palette-secondary-64: #b19b00;
    --md-ref-palette-secondary-65: #b49e00;
    --md-ref-palette-secondary-66: #b7a000;
    --md-ref-palette-secondary-67: #baa300;
    --md-ref-palette-secondary-68: #bda600;
    --md-ref-palette-secondary-69: #c0a800;
    --md-ref-palette-secondary-70: #c3ab06;
    --md-ref-palette-secondary-71: #c6ae0c;
    --md-ref-palette-secondary-72: #c9b012;
    --md-ref-palette-secondary-73: #ccb316;
    --md-ref-palette-secondary-74: #cfb61a;
    --md-ref-palette-secondary-75: #d1b91e;
    --md-ref-palette-secondary-76: #d4bb22;
    --md-ref-palette-secondary-77: #d7be25;
    --md-ref-palette-secondary-78: #dac128;
    --md-ref-palette-secondary-79: #ddc42c;
    --md-ref-palette-secondary-80: #e0c72f;
    --md-ref-palette-secondary-81: #e3c932;
    --md-ref-palette-secondary-82: #e6cc34;
    --md-ref-palette-secondary-83: #e9cf37;
    --md-ref-palette-secondary-84: #ecd23a;
    --md-ref-palette-secondary-85: #efd53d;
    --md-ref-palette-secondary-86: #f2d740;
    --md-ref-palette-secondary-87: #f5da42;
    --md-ref-palette-secondary-88: #f8dd45;
    --md-ref-palette-secondary-89: #fbe048;
    --md-ref-palette-secondary-90: #fee34b;
    --md-ref-palette-secondary-91: #ffe65c;
    --md-ref-palette-secondary-92: #ffe976;
    --md-ref-palette-secondary-93: #ffec8d;
    --md-ref-palette-secondary-94: #ffeea2;
    --md-ref-palette-secondary-95: #fff1b5;
    --md-ref-palette-secondary-96: #fff4c8;
    --md-ref-palette-secondary-97: #fff6da;
    --md-ref-palette-secondary-98: #fff9ec;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #040400;
    --md-ref-palette-tertiary-2: #070800;
    --md-ref-palette-tertiary-3: #0b0c00;
    --md-ref-palette-tertiary-4: #0e0f00;
    --md-ref-palette-tertiary-5: #111200;
    --md-ref-palette-tertiary-6: #131500;
    --md-ref-palette-tertiary-7: #151700;
    --md-ref-palette-tertiary-8: #171900;
    --md-ref-palette-tertiary-9: #191b00;
    --md-ref-palette-tertiary-10: #1b1d00;
    --md-ref-palette-tertiary-11: #1d1f00;
    --md-ref-palette-tertiary-12: #1f2100;
    --md-ref-palette-tertiary-13: #212400;
    --md-ref-palette-tertiary-14: #232600;
    --md-ref-palette-tertiary-15: #252800;
    --md-ref-palette-tertiary-16: #272a00;
    --md-ref-palette-tertiary-17: #2a2c00;
    --md-ref-palette-tertiary-18: #2c2e00;
    --md-ref-palette-tertiary-19: #2e3100;
    --md-ref-palette-tertiary-20: #303300;
    --md-ref-palette-tertiary-21: #323500;
    --md-ref-palette-tertiary-22: #343700;
    --md-ref-palette-tertiary-23: #373a00;
    --md-ref-palette-tertiary-24: #393c00;
    --md-ref-palette-tertiary-25: #3b3e00;
    --md-ref-palette-tertiary-26: #3d4100;
    --md-ref-palette-tertiary-27: #3f4300;
    --md-ref-palette-tertiary-28: #424500;
    --md-ref-palette-tertiary-29: #444800;
    --md-ref-palette-tertiary-30: #464a00;
    --md-ref-palette-tertiary-31: #494d00;
    --md-ref-palette-tertiary-32: #4b4f00;
    --md-ref-palette-tertiary-33: #4d5100;
    --md-ref-palette-tertiary-34: #4f5400;
    --md-ref-palette-tertiary-35: #525600;
    --md-ref-palette-tertiary-36: #545900;
    --md-ref-palette-tertiary-37: #575b00;
    --md-ref-palette-tertiary-38: #595e00;
    --md-ref-palette-tertiary-39: #5b6000;
    --md-ref-palette-tertiary-40: #5e6300;
    --md-ref-palette-tertiary-41: #606500;
    --md-ref-palette-tertiary-42: #636800;
    --md-ref-palette-tertiary-43: #656a00;
    --md-ref-palette-tertiary-44: #676d00;
    --md-ref-palette-tertiary-45: #6a7000;
    --md-ref-palette-tertiary-46: #6c7200;
    --md-ref-palette-tertiary-47: #6f7500;
    --md-ref-palette-tertiary-48: #717700;
    --md-ref-palette-tertiary-49: #747a00;
    --md-ref-palette-tertiary-50: #767d00;
    --md-ref-palette-tertiary-51: #797f00;
    --md-ref-palette-tertiary-52: #7b8200;
    --md-ref-palette-tertiary-53: #7e8400;
    --md-ref-palette-tertiary-54: #808700;
    --md-ref-palette-tertiary-55: #838a00;
    --md-ref-palette-tertiary-56: #858c00;
    --md-ref-palette-tertiary-57: #888f00;
    --md-ref-palette-tertiary-58: #8b9200;
    --md-ref-palette-tertiary-59: #8d9500;
    --md-ref-palette-tertiary-60: #909701;
    --md-ref-palette-tertiary-61: #929a06;
    --md-ref-palette-tertiary-62: #959d0c;
    --md-ref-palette-tertiary-63: #989f10;
    --md-ref-palette-tertiary-64: #9aa215;
    --md-ref-palette-tertiary-65: #9da518;
    --md-ref-palette-tertiary-66: #a0a71c;
    --md-ref-palette-tertiary-67: #a2aa1f;
    --md-ref-palette-tertiary-68: #a5ad22;
    --md-ref-palette-tertiary-69: #a8b025;
    --md-ref-palette-tertiary-70: #aab228;
    --md-ref-palette-tertiary-71: #adb52b;
    --md-ref-palette-tertiary-72: #b0b82e;
    --md-ref-palette-tertiary-73: #b3bb31;
    --md-ref-palette-tertiary-74: #b5bd34;
    --md-ref-palette-tertiary-75: #b8c036;
    --md-ref-palette-tertiary-76: #bbc339;
    --md-ref-palette-tertiary-77: #bec63c;
    --md-ref-palette-tertiary-78: #c0c93e;
    --md-ref-palette-tertiary-79: #c3cb41;
    --md-ref-palette-tertiary-80: #c6ce44;
    --md-ref-palette-tertiary-81: #c9d146;
    --md-ref-palette-tertiary-82: #ccd449;
    --md-ref-palette-tertiary-83: #ced74b;
    --md-ref-palette-tertiary-84: #d1da4e;
    --md-ref-palette-tertiary-85: #d4dc50;
    --md-ref-palette-tertiary-86: #d7df53;
    --md-ref-palette-tertiary-87: #dae255;
    --md-ref-palette-tertiary-88: #dde558;
    --md-ref-palette-tertiary-89: #dfe85b;
    --md-ref-palette-tertiary-90: #e2eb5d;
    --md-ref-palette-tertiary-91: #e5ee60;
    --md-ref-palette-tertiary-92: #e8f162;
    --md-ref-palette-tertiary-93: #ebf365;
    --md-ref-palette-tertiary-94: #eef667;
    --md-ref-palette-tertiary-95: #f1f96a;
    --md-ref-palette-tertiary-96: #f4fc6c;
    --md-ref-palette-tertiary-97: #f7ff73;
    --md-ref-palette-tertiary-98: #fbffab;
    --md-ref-palette-tertiary-99: #fdffd5;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #0e0100;
    --md-ref-palette-error-2: #180100;
    --md-ref-palette-error-3: #1f0200;
    --md-ref-palette-error-4: #250300;
    --md-ref-palette-error-5: #290300;
    --md-ref-palette-error-6: #2e0400;
    --md-ref-palette-error-7: #320500;
    --md-ref-palette-error-8: #350500;
    --md-ref-palette-error-9: #390600;
    --md-ref-palette-error-10: #3d0700;
    --md-ref-palette-error-11: #400800;
    --md-ref-palette-error-12: #440800;
    --md-ref-palette-error-13: #480900;
    --md-ref-palette-error-14: #4b0a00;
    --md-ref-palette-error-15: #4f0b00;
    --md-ref-palette-error-16: #530c00;
    --md-ref-palette-error-17: #570d00;
    --md-ref-palette-error-18: #5a0e00;
    --md-ref-palette-error-19: #5e0f00;
    --md-ref-palette-error-20: #621100;
    --md-ref-palette-error-21: #661200;
    --md-ref-palette-error-22: #6a1300;
    --md-ref-palette-error-23: #6e1400;
    --md-ref-palette-error-24: #721500;
    --md-ref-palette-error-25: #761600;
    --md-ref-palette-error-26: #7a1700;
    --md-ref-palette-error-27: #7e1800;
    --md-ref-palette-error-28: #821900;
    --md-ref-palette-error-29: #861a00;
    --md-ref-palette-error-30: #8a1b00;
    --md-ref-palette-error-31: #8f1c00;
    --md-ref-palette-error-32: #931e00;
    --md-ref-palette-error-33: #971f00;
    --md-ref-palette-error-34: #9b2000;
    --md-ref-palette-error-35: #9f2100;
    --md-ref-palette-error-36: #a42200;
    --md-ref-palette-error-37: #a82300;
    --md-ref-palette-error-38: #ac2400;
    --md-ref-palette-error-39: #b12600;
    --md-ref-palette-error-40: #b52700;
    --md-ref-palette-error-41: #b92902;
    --md-ref-palette-error-42: #bc2c05;
    --md-ref-palette-error-43: #c02e08;
    --md-ref-palette-error-44: #c3310b;
    --md-ref-palette-error-45: #c7330e;
    --md-ref-palette-error-46: #ca3611;
    --md-ref-palette-error-47: #ce3813;
    --md-ref-palette-error-48: #d13b16;
    --md-ref-palette-error-49: #d53d18;
    --md-ref-palette-error-50: #d9401b;
    --md-ref-palette-error-51: #dc421d;
    --md-ref-palette-error-52: #e04520;
    --md-ref-palette-error-53: #e34722;
    --md-ref-palette-error-54: #e74a24;
    --md-ref-palette-error-55: #ea4c27;
    --md-ref-palette-error-56: #ee4f29;
    --md-ref-palette-error-57: #f2512b;
    --md-ref-palette-error-58: #f5542e;
    --md-ref-palette-error-59: #f95630;
    --md-ref-palette-error-60: #fc5932;
    --md-ref-palette-error-61: #ff5c36;
    --md-ref-palette-error-62: #ff623d;
    --md-ref-palette-error-63: #ff6844;
    --md-ref-palette-error-64: #ff6d4b;
    --md-ref-palette-error-65: #ff7351;
    --md-ref-palette-error-66: #ff7857;
    --md-ref-palette-error-67: #ff7d5d;
    --md-ref-palette-error-68: #ff8163;
    --md-ref-palette-error-69: #ff8669;
    --md-ref-palette-error-70: #ff8b6f;
    --md-ref-palette-error-71: #ff8f74;
    --md-ref-palette-error-72: #ff9379;
    --md-ref-palette-error-73: #ff987f;
    --md-ref-palette-error-74: #ff9c84;
    --md-ref-palette-error-75: #ffa089;
    --md-ref-palette-error-76: #ffa48e;
    --md-ref-palette-error-77: #ffa894;
    --md-ref-palette-error-78: #ffac99;
    --md-ref-palette-error-79: #ffb09e;
    --md-ref-palette-error-80: #ffb4a3;
    --md-ref-palette-error-81: #ffb8a7;
    --md-ref-palette-error-82: #ffbcac;
    --md-ref-palette-error-83: #ffc0b1;
    --md-ref-palette-error-84: #ffc4b6;
    --md-ref-palette-error-85: #ffc8bb;
    --md-ref-palette-error-86: #ffcbbf;
    --md-ref-palette-error-87: #ffcfc4;
    --md-ref-palette-error-88: #ffd3c9;
    --md-ref-palette-error-89: #ffd7cd;
    --md-ref-palette-error-90: #ffdad2;
    --md-ref-palette-error-91: #ffded7;
    --md-ref-palette-error-92: #ffe2db;
    --md-ref-palette-error-93: #ffe6e0;
    --md-ref-palette-error-94: #ffe9e4;
    --md-ref-palette-error-95: #ffede9;
    --md-ref-palette-error-96: #fff0ed;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f6;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050400;
    --md-ref-palette-neutral-2: #0a0700;
    --md-ref-palette-neutral-3: #0e0b00;
    --md-ref-palette-neutral-4: #120e00;
    --md-ref-palette-neutral-5: #151100;
    --md-ref-palette-neutral-6: #181300;
    --md-ref-palette-neutral-7: #1a1500;
    --md-ref-palette-neutral-8: #1c1800;
    --md-ref-palette-neutral-9: #1f1900;
    --md-ref-palette-neutral-10: #211b00;
    --md-ref-palette-neutral-11: #231d00;
    --md-ref-palette-neutral-12: #251f00;
    --md-ref-palette-neutral-13: #282200;
    --md-ref-palette-neutral-14: #2a2400;
    --md-ref-palette-neutral-15: #2c2600;
    --md-ref-palette-neutral-16: #2f2800;
    --md-ref-palette-neutral-17: #312a00;
    --md-ref-palette-neutral-18: #342c00;
    --md-ref-palette-neutral-19: #362e00;
    --md-ref-palette-neutral-20: #383000;
    --md-ref-palette-neutral-21: #3b3200;
    --md-ref-palette-neutral-22: #3d3500;
    --md-ref-palette-neutral-23: #403702;
    --md-ref-palette-neutral-24: #423904;
    --md-ref-palette-neutral-25: #443b05;
    --md-ref-palette-neutral-26: #473e08;
    --md-ref-palette-neutral-27: #49400a;
    --md-ref-palette-neutral-28: #4b420c;
    --md-ref-palette-neutral-29: #4e440f;
    --md-ref-palette-neutral-30: #504711;
    --md-ref-palette-neutral-31: #534913;
    --md-ref-palette-neutral-32: #554b15;
    --md-ref-palette-neutral-33: #584e18;
    --md-ref-palette-neutral-34: #5a501a;
    --md-ref-palette-neutral-35: #5c531c;
    --md-ref-palette-neutral-36: #5f551e;
    --md-ref-palette-neutral-37: #615720;
    --md-ref-palette-neutral-38: #645a22;
    --md-ref-palette-neutral-39: #665c25;
    --md-ref-palette-neutral-40: #695f27;
    --md-ref-palette-neutral-41: #6c6129;
    --md-ref-palette-neutral-42: #6e632b;
    --md-ref-palette-neutral-43: #71662d;
    --md-ref-palette-neutral-44: #736830;
    --md-ref-palette-neutral-45: #766b32;
    --md-ref-palette-neutral-46: #786d34;
    --md-ref-palette-neutral-47: #7b7036;
    --md-ref-palette-neutral-48: #7e7238;
    --md-ref-palette-neutral-49: #80753b;
    --md-ref-palette-neutral-50: #83773d;
    --md-ref-palette-neutral-51: #857a3f;
    --md-ref-palette-neutral-52: #887c41;
    --md-ref-palette-neutral-53: #8b7f44;
    --md-ref-palette-neutral-54: #8d8246;
    --md-ref-palette-neutral-55: #908448;
    --md-ref-palette-neutral-56: #93874b;
    --md-ref-palette-neutral-57: #95894d;
    --md-ref-palette-neutral-58: #988c4f;
    --md-ref-palette-neutral-59: #9b8e51;
    --md-ref-palette-neutral-60: #9d9154;
    --md-ref-palette-neutral-61: #a09456;
    --md-ref-palette-neutral-62: #a39658;
    --md-ref-palette-neutral-63: #a6995b;
    --md-ref-palette-neutral-64: #a89c5d;
    --md-ref-palette-neutral-65: #ab9e60;
    --md-ref-palette-neutral-66: #aea162;
    --md-ref-palette-neutral-67: #b1a464;
    --md-ref-palette-neutral-68: #b3a667;
    --md-ref-palette-neutral-69: #b6a969;
    --md-ref-palette-neutral-70: #b9ac6c;
    --md-ref-palette-neutral-71: #bcae6e;
    --md-ref-palette-neutral-72: #bfb170;
    --md-ref-palette-neutral-73: #c1b473;
    --md-ref-palette-neutral-74: #c4b675;
    --md-ref-palette-neutral-75: #c7b978;
    --md-ref-palette-neutral-76: #cabc7a;
    --md-ref-palette-neutral-77: #cdbf7d;
    --md-ref-palette-neutral-78: #d0c17f;
    --md-ref-palette-neutral-79: #d2c482;
    --md-ref-palette-neutral-80: #d5c784;
    --md-ref-palette-neutral-81: #d8ca87;
    --md-ref-palette-neutral-82: #dbcd89;
    --md-ref-palette-neutral-83: #decf8c;
    --md-ref-palette-neutral-84: #e1d28e;
    --md-ref-palette-neutral-85: #e4d591;
    --md-ref-palette-neutral-86: #e6d893;
    --md-ref-palette-neutral-87: #e9db96;
    --md-ref-palette-neutral-88: #ecdd99;
    --md-ref-palette-neutral-89: #efe09b;
    --md-ref-palette-neutral-90: #f2e39e;
    --md-ref-palette-neutral-91: #f5e6a0;
    --md-ref-palette-neutral-92: #f8e9a3;
    --md-ref-palette-neutral-93: #fbeca5;
    --md-ref-palette-neutral-94: #feeea8;
    --md-ref-palette-neutral-95: #fff1b5;
    --md-ref-palette-neutral-96: #fff4c8;
    --md-ref-palette-neutral-97: #fff6da;
    --md-ref-palette-neutral-98: #fff9ec;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #050400;
    --md-ref-palette-neutral-variant-2: #0a0700;
    --md-ref-palette-neutral-variant-3: #0e0b00;
    --md-ref-palette-neutral-variant-4: #120e00;
    --md-ref-palette-neutral-variant-5: #151100;
    --md-ref-palette-neutral-variant-6: #181300;
    --md-ref-palette-neutral-variant-7: #1a1500;
    --md-ref-palette-neutral-variant-8: #1c1800;
    --md-ref-palette-neutral-variant-9: #1f1900;
    --md-ref-palette-neutral-variant-10: #211b00;
    --md-ref-palette-neutral-variant-11: #231d00;
    --md-ref-palette-neutral-variant-12: #251f00;
    --md-ref-palette-neutral-variant-13: #282200;
    --md-ref-palette-neutral-variant-14: #2a2400;
    --md-ref-palette-neutral-variant-15: #2c2600;
    --md-ref-palette-neutral-variant-16: #2f2800;
    --md-ref-palette-neutral-variant-17: #312a00;
    --md-ref-palette-neutral-variant-18: #342c00;
    --md-ref-palette-neutral-variant-19: #362e00;
    --md-ref-palette-neutral-variant-20: #383000;
    --md-ref-palette-neutral-variant-21: #3b3200;
    --md-ref-palette-neutral-variant-22: #3d3500;
    --md-ref-palette-neutral-variant-23: #403700;
    --md-ref-palette-neutral-variant-24: #423900;
    --md-ref-palette-neutral-variant-25: #453b00;
    --md-ref-palette-neutral-variant-26: #473e00;
    --md-ref-palette-neutral-variant-27: #4a4000;
    --md-ref-palette-neutral-variant-28: #4c4200;
    --md-ref-palette-neutral-variant-29: #4f4400;
    --md-ref-palette-neutral-variant-30: #524700;
    --md-ref-palette-neutral-variant-31: #544900;
    --md-ref-palette-neutral-variant-32: #574b00;
    --md-ref-palette-neutral-variant-33: #594e00;
    --md-ref-palette-neutral-variant-34: #5c5000;
    --md-ref-palette-neutral-variant-35: #5f5201;
    --md-ref-palette-neutral-variant-36: #615504;
    --md-ref-palette-neutral-variant-37: #645706;
    --md-ref-palette-neutral-variant-38: #665909;
    --md-ref-palette-neutral-variant-39: #695c0d;
    --md-ref-palette-neutral-variant-40: #6b5e0f;
    --md-ref-palette-neutral-variant-41: #6e6112;
    --md-ref-palette-neutral-variant-42: #716315;
    --md-ref-palette-neutral-variant-43: #736617;
    --md-ref-palette-neutral-variant-44: #76681a;
    --md-ref-palette-neutral-variant-45: #786b1c;
    --md-ref-palette-neutral-variant-46: #7b6d1f;
    --md-ref-palette-neutral-variant-47: #7e7021;
    --md-ref-palette-neutral-variant-48: #807224;
    --md-ref-palette-neutral-variant-49: #837526;
    --md-ref-palette-neutral-variant-50: #857728;
    --md-ref-palette-neutral-variant-51: #887a2b;
    --md-ref-palette-neutral-variant-52: #8b7c2d;
    --md-ref-palette-neutral-variant-53: #8d7f2f;
    --md-ref-palette-neutral-variant-54: #908132;
    --md-ref-palette-neutral-variant-55: #938434;
    --md-ref-palette-neutral-variant-56: #958736;
    --md-ref-palette-neutral-variant-57: #988938;
    --md-ref-palette-neutral-variant-58: #9b8c3b;
    --md-ref-palette-neutral-variant-59: #9e8e3d;
    --md-ref-palette-neutral-variant-60: #a0913f;
    --md-ref-palette-neutral-variant-61: #a39442;
    --md-ref-palette-neutral-variant-62: #a69644;
    --md-ref-palette-neutral-variant-63: #a99946;
    --md-ref-palette-neutral-variant-64: #ab9c49;
    --md-ref-palette-neutral-variant-65: #ae9e4b;
    --md-ref-palette-neutral-variant-66: #b1a14d;
    --md-ref-palette-neutral-variant-67: #b4a450;
    --md-ref-palette-neutral-variant-68: #b6a652;
    --md-ref-palette-neutral-variant-69: #b9a955;
    --md-ref-palette-neutral-variant-70: #bcac57;
    --md-ref-palette-neutral-variant-71: #bfae59;
    --md-ref-palette-neutral-variant-72: #c2b15c;
    --md-ref-palette-neutral-variant-73: #c5b45e;
    --md-ref-palette-neutral-variant-74: #c7b661;
    --md-ref-palette-neutral-variant-75: #cab963;
    --md-ref-palette-neutral-variant-76: #cdbc65;
    --md-ref-palette-neutral-variant-77: #d0bf68;
    --md-ref-palette-neutral-variant-78: #d3c16a;
    --md-ref-palette-neutral-variant-79: #d6c46d;
    --md-ref-palette-neutral-variant-80: #d9c76f;
    --md-ref-palette-neutral-variant-81: #dbca72;
    --md-ref-palette-neutral-variant-82: #decd74;
    --md-ref-palette-neutral-variant-83: #e1cf76;
    --md-ref-palette-neutral-variant-84: #e4d279;
    --md-ref-palette-neutral-variant-85: #e7d57b;
    --md-ref-palette-neutral-variant-86: #ead87e;
    --md-ref-palette-neutral-variant-87: #eddb80;
    --md-ref-palette-neutral-variant-88: #f0dd83;
    --md-ref-palette-neutral-variant-89: #f3e085;
    --md-ref-palette-neutral-variant-90: #f6e388;
    --md-ref-palette-neutral-variant-91: #f9e68a;
    --md-ref-palette-neutral-variant-92: #fce98d;
    --md-ref-palette-neutral-variant-93: #ffec90;
    --md-ref-palette-neutral-variant-94: #ffeea2;
    --md-ref-palette-neutral-variant-95: #fff1b5;
    --md-ref-palette-neutral-variant-96: #fff4c8;
    --md-ref-palette-neutral-variant-97: #fff6da;
    --md-ref-palette-neutral-variant-98: #fff9ec;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
