:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #030400;
    --md-ref-palette-primary-2: #060800;
    --md-ref-palette-primary-3: #090c00;
    --md-ref-palette-primary-4: #0c1000;
    --md-ref-palette-primary-5: #0f1300;
    --md-ref-palette-primary-6: #111500;
    --md-ref-palette-primary-7: #131800;
    --md-ref-palette-primary-8: #151a00;
    --md-ref-palette-primary-9: #171c00;
    --md-ref-palette-primary-10: #181e00;
    --md-ref-palette-primary-11: #1a2000;
    --md-ref-palette-primary-12: #1c2200;
    --md-ref-palette-primary-13: #1e2400;
    --md-ref-palette-primary-14: #202700;
    --md-ref-palette-primary-15: #222900;
    --md-ref-palette-primary-16: #242b00;
    --md-ref-palette-primary-17: #262d00;
    --md-ref-palette-primary-18: #283000;
    --md-ref-palette-primary-19: #2a3200;
    --md-ref-palette-primary-20: #2c3400;
    --md-ref-palette-primary-21: #2e3600;
    --md-ref-palette-primary-22: #303900;
    --md-ref-palette-primary-23: #323b00;
    --md-ref-palette-primary-24: #343d00;
    --md-ref-palette-primary-25: #364000;
    --md-ref-palette-primary-26: #384200;
    --md-ref-palette-primary-27: #3a4402;
    --md-ref-palette-primary-28: #3c4704;
    --md-ref-palette-primary-29: #3f4906;
    --md-ref-palette-primary-30: #414b08;
    --md-ref-palette-primary-31: #434e0b;
    --md-ref-palette-primary-32: #45500d;
    --md-ref-palette-primary-33: #485310;
    --md-ref-palette-primary-34: #4a5512;
    --md-ref-palette-primary-35: #4c5715;
    --md-ref-palette-primary-36: #4f5a17;
    --md-ref-palette-primary-37: #515c19;
    --md-ref-palette-primary-38: #535f1c;
    --md-ref-palette-primary-39: #56611e;
    --md-ref-palette-primary-40: #586420;
    --md-ref-palette-primary-41: #5b6622;
    --md-ref-palette-primary-42: #5d6925;
    --md-ref-palette-primary-43: #606b27;
    --md-ref-palette-primary-44: #626e29;
    --md-ref-palette-primary-45: #64702b;
    --md-ref-palette-primary-46: #67732e;
    --md-ref-palette-primary-47: #697530;
    --md-ref-palette-primary-48: #6c7832;
    --md-ref-palette-primary-49: #6e7a34;
    --md-ref-palette-primary-50: #717d37;
    --md-ref-palette-primary-51: #738039;
    --md-ref-palette-primary-52: #76823b;
    --md-ref-palette-primary-53: #78853d;
    --md-ref-palette-primary-54: #7b8740;
    --md-ref-palette-primary-55: #7d8a42;
    --md-ref-palette-primary-56: #808d44;
    --md-ref-palette-primary-57: #838f47;
    --md-ref-palette-primary-58: #859249;
    --md-ref-palette-primary-59: #88944b;
    --md-ref-palette-primary-60: #8a974e;
    --md-ref-palette-primary-61: #8d9a50;
    --md-ref-palette-primary-62: #909c52;
    --md-ref-palette-primary-63: #929f55;
    --md-ref-palette-primary-64: #95a257;
    --md-ref-palette-primary-65: #97a459;
    --md-ref-palette-primary-66: #9aa75c;
    --md-ref-palette-primary-67: #9daa5e;
    --md-ref-palette-primary-68: #9fad60;
    --md-ref-palette-primary-69: #a2af63;
    --md-ref-palette-primary-70: #a5b265;
    --md-ref-palette-primary-71: #a7b568;
    --md-ref-palette-primary-72: #aab76a;
    --md-ref-palette-primary-73: #adba6d;
    --md-ref-palette-primary-74: #b0bd6f;
    --md-ref-palette-primary-75: #b2c071;
    --md-ref-palette-primary-76: #b5c274;
    --md-ref-palette-primary-77: #b8c576;
    --md-ref-palette-primary-78: #bbc879;
    --md-ref-palette-primary-79: #bdcb7b;
    --md-ref-palette-primary-80: #c0ce7e;
    --md-ref-palette-primary-81: #c3d080;
    --md-ref-palette-primary-82: #c6d383;
    --md-ref-palette-primary-83: #c8d685;
    --md-ref-palette-primary-84: #cbd988;
    --md-ref-palette-primary-85: #cedc8a;
    --md-ref-palette-primary-86: #d1df8d;
    --md-ref-palette-primary-87: #d4e18f;
    --md-ref-palette-primary-88: #d6e492;
    --md-ref-palette-primary-89: #d9e794;
    --md-ref-palette-primary-90: #dcea97;
    --md-ref-palette-primary-91: #dfed9a;
    --md-ref-palette-primary-92: #e2f09c;
    --md-ref-palette-primary-93: #e5f39f;
    --md-ref-palette-primary-94: #e7f6a1;
    --md-ref-palette-primary-95: #eaf8a4;
    --md-ref-palette-primary-96: #edfba7;
    --md-ref-palette-primary-97: #f0fea9;
    --md-ref-palette-primary-98: #f6ffc1;
    --md-ref-palette-primary-99: #fbffe0;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #030400;
    --md-ref-palette-secondary-2: #060800;
    --md-ref-palette-secondary-3: #090c00;
    --md-ref-palette-secondary-4: #0c1001;
    --md-ref-palette-secondary-5: #0f1302;
    --md-ref-palette-secondary-6: #111503;
    --md-ref-palette-secondary-7: #141704;
    --md-ref-palette-secondary-8: #161905;
    --md-ref-palette-secondary-9: #181b06;
    --md-ref-palette-secondary-10: #1a1d08;
    --md-ref-palette-secondary-11: #1c1f09;
    --md-ref-palette-secondary-12: #1e210b;
    --md-ref-palette-secondary-13: #20240d;
    --md-ref-palette-secondary-14: #22260f;
    --md-ref-palette-secondary-15: #242811;
    --md-ref-palette-secondary-16: #262a13;
    --md-ref-palette-secondary-17: #282c15;
    --md-ref-palette-secondary-18: #2a2e17;
    --md-ref-palette-secondary-19: #2c3019;
    --md-ref-palette-secondary-20: #2e321b;
    --md-ref-palette-secondary-21: #31351d;
    --md-ref-palette-secondary-22: #33371f;
    --md-ref-palette-secondary-23: #353921;
    --md-ref-palette-secondary-24: #373b23;
    --md-ref-palette-secondary-25: #393e25;
    --md-ref-palette-secondary-26: #3c4027;
    --md-ref-palette-secondary-27: #3e4229;
    --md-ref-palette-secondary-28: #40442b;
    --md-ref-palette-secondary-29: #43472d;
    --md-ref-palette-secondary-30: #45492f;
    --md-ref-palette-secondary-31: #474b31;
    --md-ref-palette-secondary-32: #494e34;
    --md-ref-palette-secondary-33: #4c5036;
    --md-ref-palette-secondary-34: #4e5238;
    --md-ref-palette-secondary-35: #51553a;
    --md-ref-palette-secondary-36: #53573c;
    --md-ref-palette-secondary-37: #555a3f;
    --md-ref-palette-secondary-38: #585c41;
    --md-ref-palette-secondary-39: #5a5e43;
    --md-ref-palette-secondary-40: #5d6145;
    --md-ref-palette-secondary-41: #5f6348;
    --md-ref-palette-secondary-42: #61664a;
    --md-ref-palette-secondary-43: #64684c;
    --md-ref-palette-secondary-44: #666b4e;
    --md-ref-palette-secondary-45: #696d51;
    --md-ref-palette-secondary-46: #6b7053;
    --md-ref-palette-secondary-47: #6e7255;
    --md-ref-palette-secondary-48: #707558;
    --md-ref-palette-secondary-49: #73775a;
    --md-ref-palette-secondary-50: #757a5c;
    --md-ref-palette-secondary-51: #787c5f;
    --md-ref-palette-secondary-52: #7a7f61;
    --md-ref-palette-secondary-53: #7d8164;
    --md-ref-palette-secondary-54: #808466;
    --md-ref-palette-secondary-55: #828668;
    --md-ref-palette-secondary-56: #85896b;
    --md-ref-palette-secondary-57: #878c6d;
    --md-ref-palette-secondary-58: #8a8e70;
    --md-ref-palette-secondary-59: #8d9172;
    --md-ref-palette-secondary-60: #8f9375;
    --md-ref-palette-secondary-61: #929677;
    --md-ref-palette-secondary-62: #94997a;
    --md-ref-palette-secondary-63: #979b7c;
    --md-ref-palette-secondary-64: #9a9e7f;
    --md-ref-palette-secondary-65: #9ca181;
    --md-ref-palette-secondary-66: #9fa384;
    --md-ref-palette-secondary-67: #a2a686;
    --md-ref-palette-secondary-68: #a4a989;
    --md-ref-palette-secondary-69: #a7ab8b;
    --md-ref-palette-secondary-70: #aaae8e;
    --md-ref-palette-secondary-71: #adb190;
    --md-ref-palette-secondary-72: #afb393;
    --md-ref-palette-secondary-73: #b2b695;
    --md-ref-palette-secondary-74: #b5b998;
    --md-ref-palette-secondary-75: #b7bc9b;
    --md-ref-palette-secondary-76: #babe9d;
    --md-ref-palette-secondary-77: #bdc1a0;
    --md-ref-palette-secondary-78: #c0c4a2;
    --md-ref-palette-secondary-79: #c3c7a5;
    --md-ref-palette-secondary-80: #c5c9a8;
    --md-ref-palette-secondary-81: #c8ccaa;
    --md-ref-palette-secondary-82: #cbcfad;
    --md-ref-palette-secondary-83: #ced2b0;
    --md-ref-palette-secondary-84: #d1d5b2;
    --md-ref-palette-secondary-85: #d3d7b5;
    --md-ref-palette-secondary-86: #d6dab8;
    --md-ref-palette-secondary-87: #d9ddba;
    --md-ref-palette-secondary-88: #dce0bd;
    --md-ref-palette-secondary-89: #dfe3c0;
    --md-ref-palette-secondary-90: #e2e5c2;
    --md-ref-palette-secondary-91: #e4e8c5;
    --md-ref-palette-secondary-92: #e7ebc8;
    --md-ref-palette-secondary-93: #eaeecb;
    --md-ref-palette-secondary-94: #edf1cd;
    --md-ref-palette-secondary-95: #f0f4d0;
    --md-ref-palette-secondary-96: #f3f7d3;
    --md-ref-palette-secondary-97: #f6fad6;
    --md-ref-palette-secondary-98: #f9fcd8;
    --md-ref-palette-secondary-99: #fcfeec;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000503;
    --md-ref-palette-tertiary-2: #000a07;
    --md-ref-palette-tertiary-3: #000e0a;
    --md-ref-palette-tertiary-4: #00110d;
    --md-ref-palette-tertiary-5: #001410;
    --md-ref-palette-tertiary-6: #001712;
    --md-ref-palette-tertiary-7: #001a14;
    --md-ref-palette-tertiary-8: #001c16;
    --md-ref-palette-tertiary-9: #001e18;
    --md-ref-palette-tertiary-10: #00201a;
    --md-ref-palette-tertiary-11: #00231c;
    --md-ref-palette-tertiary-12: #00251e;
    --md-ref-palette-tertiary-13: #002720;
    --md-ref-palette-tertiary-14: #002922;
    --md-ref-palette-tertiary-15: #002c24;
    --md-ref-palette-tertiary-16: #002e26;
    --md-ref-palette-tertiary-17: #003028;
    --md-ref-palette-tertiary-18: #00332a;
    --md-ref-palette-tertiary-19: #02352c;
    --md-ref-palette-tertiary-20: #05372f;
    --md-ref-palette-tertiary-21: #083a31;
    --md-ref-palette-tertiary-22: #0b3c33;
    --md-ref-palette-tertiary-23: #0e3e35;
    --md-ref-palette-tertiary-24: #114037;
    --md-ref-palette-tertiary-25: #14433a;
    --md-ref-palette-tertiary-26: #17453c;
    --md-ref-palette-tertiary-27: #1a473e;
    --md-ref-palette-tertiary-28: #1c4a40;
    --md-ref-palette-tertiary-29: #1f4c42;
    --md-ref-palette-tertiary-30: #224e45;
    --md-ref-palette-tertiary-31: #245147;
    --md-ref-palette-tertiary-32: #275349;
    --md-ref-palette-tertiary-33: #29554c;
    --md-ref-palette-tertiary-34: #2c584e;
    --md-ref-palette-tertiary-35: #2e5a50;
    --md-ref-palette-tertiary-36: #315d53;
    --md-ref-palette-tertiary-37: #335f55;
    --md-ref-palette-tertiary-38: #356157;
    --md-ref-palette-tertiary-39: #38645a;
    --md-ref-palette-tertiary-40: #3a665c;
    --md-ref-palette-tertiary-41: #3d695f;
    --md-ref-palette-tertiary-42: #3f6b61;
    --md-ref-palette-tertiary-43: #426e63;
    --md-ref-palette-tertiary-44: #447066;
    --md-ref-palette-tertiary-45: #477368;
    --md-ref-palette-tertiary-46: #49756b;
    --md-ref-palette-tertiary-47: #4c786d;
    --md-ref-palette-tertiary-48: #4e7a70;
    --md-ref-palette-tertiary-49: #517d72;
    --md-ref-palette-tertiary-50: #537f75;
    --md-ref-palette-tertiary-51: #568277;
    --md-ref-palette-tertiary-52: #58857a;
    --md-ref-palette-tertiary-53: #5b877c;
    --md-ref-palette-tertiary-54: #5d8a7f;
    --md-ref-palette-tertiary-55: #608c81;
    --md-ref-palette-tertiary-56: #628f84;
    --md-ref-palette-tertiary-57: #659286;
    --md-ref-palette-tertiary-58: #689489;
    --md-ref-palette-tertiary-59: #6a978b;
    --md-ref-palette-tertiary-60: #6d998e;
    --md-ref-palette-tertiary-61: #6f9c91;
    --md-ref-palette-tertiary-62: #729f93;
    --md-ref-palette-tertiary-63: #74a196;
    --md-ref-palette-tertiary-64: #77a498;
    --md-ref-palette-tertiary-65: #7aa79b;
    --md-ref-palette-tertiary-66: #7caa9e;
    --md-ref-palette-tertiary-67: #7faca0;
    --md-ref-palette-tertiary-68: #81afa3;
    --md-ref-palette-tertiary-69: #84b2a6;
    --md-ref-palette-tertiary-70: #87b4a8;
    --md-ref-palette-tertiary-71: #89b7ab;
    --md-ref-palette-tertiary-72: #8cbaae;
    --md-ref-palette-tertiary-73: #8fbdb0;
    --md-ref-palette-tertiary-74: #91bfb3;
    --md-ref-palette-tertiary-75: #94c2b6;
    --md-ref-palette-tertiary-76: #97c5b8;
    --md-ref-palette-tertiary-77: #99c8bb;
    --md-ref-palette-tertiary-78: #9ccabe;
    --md-ref-palette-tertiary-79: #9fcdc1;
    --md-ref-palette-tertiary-80: #a2d0c3;
    --md-ref-palette-tertiary-81: #a4d3c6;
    --md-ref-palette-tertiary-82: #a7d6c9;
    --md-ref-palette-tertiary-83: #aad8cc;
    --md-ref-palette-tertiary-84: #acdbce;
    --md-ref-palette-tertiary-85: #afded1;
    --md-ref-palette-tertiary-86: #b2e1d4;
    --md-ref-palette-tertiary-87: #b5e4d7;
    --md-ref-palette-tertiary-88: #b7e7d9;
    --md-ref-palette-tertiary-89: #bae9dc;
    --md-ref-palette-tertiary-90: #bdecdf;
    --md-ref-palette-tertiary-91: #c0efe2;
    --md-ref-palette-tertiary-92: #c3f2e5;
    --md-ref-palette-tertiary-93: #c5f5e8;
    --md-ref-palette-tertiary-94: #c8f8ea;
    --md-ref-palette-tertiary-95: #cbfbed;
    --md-ref-palette-tertiary-96: #cefef0;
    --md-ref-palette-tertiary-97: #d7fff3;
    --md-ref-palette-tertiary-98: #e5fff7;
    --md-ref-palette-tertiary-99: #f3fffa;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030401;
    --md-ref-palette-neutral-2: #070803;
    --md-ref-palette-neutral-3: #0b0c06;
    --md-ref-palette-neutral-4: #0e0f08;
    --md-ref-palette-neutral-5: #10120a;
    --md-ref-palette-neutral-6: #13140d;
    --md-ref-palette-neutral-7: #15160f;
    --md-ref-palette-neutral-8: #171811;
    --md-ref-palette-neutral-9: #191a13;
    --md-ref-palette-neutral-10: #1b1c15;
    --md-ref-palette-neutral-11: #1d1e17;
    --md-ref-palette-neutral-12: #1f2019;
    --md-ref-palette-neutral-13: #21221a;
    --md-ref-palette-neutral-14: #23241c;
    --md-ref-palette-neutral-15: #25261e;
    --md-ref-palette-neutral-16: #282820;
    --md-ref-palette-neutral-17: #2a2b22;
    --md-ref-palette-neutral-18: #2c2d25;
    --md-ref-palette-neutral-19: #2e2f27;
    --md-ref-palette-neutral-20: #303129;
    --md-ref-palette-neutral-21: #32332b;
    --md-ref-palette-neutral-22: #35352d;
    --md-ref-palette-neutral-23: #37382f;
    --md-ref-palette-neutral-24: #393a31;
    --md-ref-palette-neutral-25: #3b3c33;
    --md-ref-palette-neutral-26: #3e3e35;
    --md-ref-palette-neutral-27: #404138;
    --md-ref-palette-neutral-28: #42433a;
    --md-ref-palette-neutral-29: #44453c;
    --md-ref-palette-neutral-30: #47473e;
    --md-ref-palette-neutral-31: #494a41;
    --md-ref-palette-neutral-32: #4b4c43;
    --md-ref-palette-neutral-33: #4e4e45;
    --md-ref-palette-neutral-34: #505147;
    --md-ref-palette-neutral-35: #53534a;
    --md-ref-palette-neutral-36: #55554c;
    --md-ref-palette-neutral-37: #57584e;
    --md-ref-palette-neutral-38: #5a5a51;
    --md-ref-palette-neutral-39: #5c5d53;
    --md-ref-palette-neutral-40: #5f5f55;
    --md-ref-palette-neutral-41: #616158;
    --md-ref-palette-neutral-42: #63645a;
    --md-ref-palette-neutral-43: #66665c;
    --md-ref-palette-neutral-44: #68695f;
    --md-ref-palette-neutral-45: #6b6b61;
    --md-ref-palette-neutral-46: #6d6e64;
    --md-ref-palette-neutral-47: #707066;
    --md-ref-palette-neutral-48: #727368;
    --md-ref-palette-neutral-49: #75756b;
    --md-ref-palette-neutral-50: #78786d;
    --md-ref-palette-neutral-51: #7a7a70;
    --md-ref-palette-neutral-52: #7d7d72;
    --md-ref-palette-neutral-53: #7f7f75;
    --md-ref-palette-neutral-54: #828277;
    --md-ref-palette-neutral-55: #84847a;
    --md-ref-palette-neutral-56: #87877c;
    --md-ref-palette-neutral-57: #8a897f;
    --md-ref-palette-neutral-58: #8c8c81;
    --md-ref-palette-neutral-59: #8f8f84;
    --md-ref-palette-neutral-60: #919186;
    --md-ref-palette-neutral-61: #949489;
    --md-ref-palette-neutral-62: #97968b;
    --md-ref-palette-neutral-63: #99998e;
    --md-ref-palette-neutral-64: #9c9c91;
    --md-ref-palette-neutral-65: #9f9e93;
    --md-ref-palette-neutral-66: #a1a196;
    --md-ref-palette-neutral-67: #a4a498;
    --md-ref-palette-neutral-68: #a7a69b;
    --md-ref-palette-neutral-69: #aaa99e;
    --md-ref-palette-neutral-70: #acaca0;
    --md-ref-palette-neutral-71: #afaea3;
    --md-ref-palette-neutral-72: #b2b1a6;
    --md-ref-palette-neutral-73: #b4b4a8;
    --md-ref-palette-neutral-74: #b7b7ab;
    --md-ref-palette-neutral-75: #bab9ae;
    --md-ref-palette-neutral-76: #bdbcb0;
    --md-ref-palette-neutral-77: #bfbfb3;
    --md-ref-palette-neutral-78: #c2c1b6;
    --md-ref-palette-neutral-79: #c5c4b8;
    --md-ref-palette-neutral-80: #c8c7bb;
    --md-ref-palette-neutral-81: #cbcabe;
    --md-ref-palette-neutral-82: #cdcdc0;
    --md-ref-palette-neutral-83: #d0cfc3;
    --md-ref-palette-neutral-84: #d3d2c6;
    --md-ref-palette-neutral-85: #d6d5c9;
    --md-ref-palette-neutral-86: #d9d8cb;
    --md-ref-palette-neutral-87: #dcdace;
    --md-ref-palette-neutral-88: #deddd1;
    --md-ref-palette-neutral-89: #e1e0d4;
    --md-ref-palette-neutral-90: #e4e3d6;
    --md-ref-palette-neutral-91: #e7e6d9;
    --md-ref-palette-neutral-92: #eae9dc;
    --md-ref-palette-neutral-93: #edebdf;
    --md-ref-palette-neutral-94: #f0eee2;
    --md-ref-palette-neutral-95: #f3f1e4;
    --md-ref-palette-neutral-96: #f5f4e7;
    --md-ref-palette-neutral-97: #f8f7ea;
    --md-ref-palette-neutral-98: #fbfaed;
    --md-ref-palette-neutral-99: #fdfdf6;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030401;
    --md-ref-palette-neutral-variant-2: #070802;
    --md-ref-palette-neutral-variant-3: #0a0c04;
    --md-ref-palette-neutral-variant-4: #0d0f06;
    --md-ref-palette-neutral-variant-5: #101208;
    --md-ref-palette-neutral-variant-6: #13140a;
    --md-ref-palette-neutral-variant-7: #15160d;
    --md-ref-palette-neutral-variant-8: #17180e;
    --md-ref-palette-neutral-variant-9: #191a10;
    --md-ref-palette-neutral-variant-10: #1b1c12;
    --md-ref-palette-neutral-variant-11: #1d1e14;
    --md-ref-palette-neutral-variant-12: #1f2016;
    --md-ref-palette-neutral-variant-13: #212318;
    --md-ref-palette-neutral-variant-14: #23251a;
    --md-ref-palette-neutral-variant-15: #25271c;
    --md-ref-palette-neutral-variant-16: #27291e;
    --md-ref-palette-neutral-variant-17: #292b20;
    --md-ref-palette-neutral-variant-18: #2b2d22;
    --md-ref-palette-neutral-variant-19: #2e2f24;
    --md-ref-palette-neutral-variant-20: #303126;
    --md-ref-palette-neutral-variant-21: #323428;
    --md-ref-palette-neutral-variant-22: #34362a;
    --md-ref-palette-neutral-variant-23: #36382c;
    --md-ref-palette-neutral-variant-24: #393a2e;
    --md-ref-palette-neutral-variant-25: #3b3c31;
    --md-ref-palette-neutral-variant-26: #3d3f33;
    --md-ref-palette-neutral-variant-27: #3f4135;
    --md-ref-palette-neutral-variant-28: #424337;
    --md-ref-palette-neutral-variant-29: #444539;
    --md-ref-palette-neutral-variant-30: #46483b;
    --md-ref-palette-neutral-variant-31: #494a3e;
    --md-ref-palette-neutral-variant-32: #4b4c40;
    --md-ref-palette-neutral-variant-33: #4d4f42;
    --md-ref-palette-neutral-variant-34: #505144;
    --md-ref-palette-neutral-variant-35: #525347;
    --md-ref-palette-neutral-variant-36: #555649;
    --md-ref-palette-neutral-variant-37: #57584b;
    --md-ref-palette-neutral-variant-38: #595b4e;
    --md-ref-palette-neutral-variant-39: #5c5d50;
    --md-ref-palette-neutral-variant-40: #5e5f52;
    --md-ref-palette-neutral-variant-41: #616255;
    --md-ref-palette-neutral-variant-42: #636457;
    --md-ref-palette-neutral-variant-43: #666759;
    --md-ref-palette-neutral-variant-44: #68695c;
    --md-ref-palette-neutral-variant-45: #6b6c5e;
    --md-ref-palette-neutral-variant-46: #6d6e60;
    --md-ref-palette-neutral-variant-47: #707163;
    --md-ref-palette-neutral-variant-48: #727365;
    --md-ref-palette-neutral-variant-49: #757668;
    --md-ref-palette-neutral-variant-50: #77786a;
    --md-ref-palette-neutral-variant-51: #7a7b6d;
    --md-ref-palette-neutral-variant-52: #7c7d6f;
    --md-ref-palette-neutral-variant-53: #7f8071;
    --md-ref-palette-neutral-variant-54: #818274;
    --md-ref-palette-neutral-variant-55: #848576;
    --md-ref-palette-neutral-variant-56: #878779;
    --md-ref-palette-neutral-variant-57: #898a7b;
    --md-ref-palette-neutral-variant-58: #8c8d7e;
    --md-ref-palette-neutral-variant-59: #8e8f80;
    --md-ref-palette-neutral-variant-60: #919283;
    --md-ref-palette-neutral-variant-61: #949485;
    --md-ref-palette-neutral-variant-62: #969788;
    --md-ref-palette-neutral-variant-63: #999a8b;
    --md-ref-palette-neutral-variant-64: #9c9c8d;
    --md-ref-palette-neutral-variant-65: #9e9f90;
    --md-ref-palette-neutral-variant-66: #a1a292;
    --md-ref-palette-neutral-variant-67: #a4a495;
    --md-ref-palette-neutral-variant-68: #a6a798;
    --md-ref-palette-neutral-variant-69: #a9aa9a;
    --md-ref-palette-neutral-variant-70: #acac9d;
    --md-ref-palette-neutral-variant-71: #aeaf9f;
    --md-ref-palette-neutral-variant-72: #b1b2a2;
    --md-ref-palette-neutral-variant-73: #b4b4a5;
    --md-ref-palette-neutral-variant-74: #b7b7a7;
    --md-ref-palette-neutral-variant-75: #b9baaa;
    --md-ref-palette-neutral-variant-76: #bcbcad;
    --md-ref-palette-neutral-variant-77: #bfbfaf;
    --md-ref-palette-neutral-variant-78: #c2c2b2;
    --md-ref-palette-neutral-variant-79: #c5c5b5;
    --md-ref-palette-neutral-variant-80: #c7c7b7;
    --md-ref-palette-neutral-variant-81: #cacaba;
    --md-ref-palette-neutral-variant-82: #cdcdbd;
    --md-ref-palette-neutral-variant-83: #d0d0bf;
    --md-ref-palette-neutral-variant-84: #d3d3c2;
    --md-ref-palette-neutral-variant-85: #d5d5c5;
    --md-ref-palette-neutral-variant-86: #d8d8c8;
    --md-ref-palette-neutral-variant-87: #dbdbca;
    --md-ref-palette-neutral-variant-88: #dedecd;
    --md-ref-palette-neutral-variant-89: #e1e1d0;
    --md-ref-palette-neutral-variant-90: #e4e3d3;
    --md-ref-palette-neutral-variant-91: #e6e6d5;
    --md-ref-palette-neutral-variant-92: #e9e9d8;
    --md-ref-palette-neutral-variant-93: #ececdb;
    --md-ref-palette-neutral-variant-94: #efefde;
    --md-ref-palette-neutral-variant-95: #f2f2e1;
    --md-ref-palette-neutral-variant-96: #f5f5e3;
    --md-ref-palette-neutral-variant-97: #f8f7e6;
    --md-ref-palette-neutral-variant-98: #fbfae9;
    --md-ref-palette-neutral-variant-99: #fdfdf4;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
