:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #030400;
    --md-ref-palette-primary-2: #060800;
    --md-ref-palette-primary-3: #090c00;
    --md-ref-palette-primary-4: #0c1000;
    --md-ref-palette-primary-5: #0f1300;
    --md-ref-palette-primary-6: #111500;
    --md-ref-palette-primary-7: #131800;
    --md-ref-palette-primary-8: #151a00;
    --md-ref-palette-primary-9: #171c00;
    --md-ref-palette-primary-10: #181e00;
    --md-ref-palette-primary-11: #1a2000;
    --md-ref-palette-primary-12: #1c2200;
    --md-ref-palette-primary-13: #1e2400;
    --md-ref-palette-primary-14: #202700;
    --md-ref-palette-primary-15: #222900;
    --md-ref-palette-primary-16: #242b00;
    --md-ref-palette-primary-17: #262d00;
    --md-ref-palette-primary-18: #283000;
    --md-ref-palette-primary-19: #2a3200;
    --md-ref-palette-primary-20: #2c3400;
    --md-ref-palette-primary-21: #2e3600;
    --md-ref-palette-primary-22: #303902;
    --md-ref-palette-primary-23: #323b03;
    --md-ref-palette-primary-24: #343d05;
    --md-ref-palette-primary-25: #363f07;
    --md-ref-palette-primary-26: #394209;
    --md-ref-palette-primary-27: #3b440c;
    --md-ref-palette-primary-28: #3d460e;
    --md-ref-palette-primary-29: #3f4910;
    --md-ref-palette-primary-30: #424b13;
    --md-ref-palette-primary-31: #444d15;
    --md-ref-palette-primary-32: #465017;
    --md-ref-palette-primary-33: #495219;
    --md-ref-palette-primary-34: #4b551c;
    --md-ref-palette-primary-35: #4d571e;
    --md-ref-palette-primary-36: #505920;
    --md-ref-palette-primary-37: #525c22;
    --md-ref-palette-primary-38: #545e24;
    --md-ref-palette-primary-39: #576126;
    --md-ref-palette-primary-40: #596329;
    --md-ref-palette-primary-41: #5c662b;
    --md-ref-palette-primary-42: #5e682d;
    --md-ref-palette-primary-43: #606b2f;
    --md-ref-palette-primary-44: #636d31;
    --md-ref-palette-primary-45: #657034;
    --md-ref-palette-primary-46: #687236;
    --md-ref-palette-primary-47: #6a7538;
    --md-ref-palette-primary-48: #6d773a;
    --md-ref-palette-primary-49: #6f7a3d;
    --md-ref-palette-primary-50: #727c3f;
    --md-ref-palette-primary-51: #747f41;
    --md-ref-palette-primary-52: #778143;
    --md-ref-palette-primary-53: #798446;
    --md-ref-palette-primary-54: #7c8748;
    --md-ref-palette-primary-55: #7e894a;
    --md-ref-palette-primary-56: #818c4c;
    --md-ref-palette-primary-57: #848f4f;
    --md-ref-palette-primary-58: #869151;
    --md-ref-palette-primary-59: #899453;
    --md-ref-palette-primary-60: #8b9656;
    --md-ref-palette-primary-61: #8e9958;
    --md-ref-palette-primary-62: #919c5b;
    --md-ref-palette-primary-63: #939e5d;
    --md-ref-palette-primary-64: #96a15f;
    --md-ref-palette-primary-65: #98a462;
    --md-ref-palette-primary-66: #9ba664;
    --md-ref-palette-primary-67: #9ea966;
    --md-ref-palette-primary-68: #a0ac69;
    --md-ref-palette-primary-69: #a3af6b;
    --md-ref-palette-primary-70: #a6b16e;
    --md-ref-palette-primary-71: #a8b470;
    --md-ref-palette-primary-72: #abb773;
    --md-ref-palette-primary-73: #aeb975;
    --md-ref-palette-primary-74: #b1bc78;
    --md-ref-palette-primary-75: #b3bf7a;
    --md-ref-palette-primary-76: #b6c27c;
    --md-ref-palette-primary-77: #b9c57f;
    --md-ref-palette-primary-78: #bcc781;
    --md-ref-palette-primary-79: #beca84;
    --md-ref-palette-primary-80: #c1cd86;
    --md-ref-palette-primary-81: #c4d089;
    --md-ref-palette-primary-82: #c7d28c;
    --md-ref-palette-primary-83: #c9d58e;
    --md-ref-palette-primary-84: #ccd891;
    --md-ref-palette-primary-85: #cfdb93;
    --md-ref-palette-primary-86: #d2de96;
    --md-ref-palette-primary-87: #d5e198;
    --md-ref-palette-primary-88: #d7e39b;
    --md-ref-palette-primary-89: #dae69d;
    --md-ref-palette-primary-90: #dde9a0;
    --md-ref-palette-primary-91: #e0eca3;
    --md-ref-palette-primary-92: #e3efa5;
    --md-ref-palette-primary-93: #e6f2a8;
    --md-ref-palette-primary-94: #e9f5aa;
    --md-ref-palette-primary-95: #ebf8ad;
    --md-ref-palette-primary-96: #eefab0;
    --md-ref-palette-primary-97: #f1fdb2;
    --md-ref-palette-primary-98: #f6ffc1;
    --md-ref-palette-primary-99: #fbffe0;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #030400;
    --md-ref-palette-secondary-2: #060800;
    --md-ref-palette-secondary-3: #090c00;
    --md-ref-palette-secondary-4: #0c1001;
    --md-ref-palette-secondary-5: #0f1302;
    --md-ref-palette-secondary-6: #111503;
    --md-ref-palette-secondary-7: #141704;
    --md-ref-palette-secondary-8: #161905;
    --md-ref-palette-secondary-9: #181b06;
    --md-ref-palette-secondary-10: #1a1d08;
    --md-ref-palette-secondary-11: #1c1f09;
    --md-ref-palette-secondary-12: #1e210b;
    --md-ref-palette-secondary-13: #20240d;
    --md-ref-palette-secondary-14: #22260f;
    --md-ref-palette-secondary-15: #242811;
    --md-ref-palette-secondary-16: #262a13;
    --md-ref-palette-secondary-17: #282c15;
    --md-ref-palette-secondary-18: #2a2e17;
    --md-ref-palette-secondary-19: #2c3019;
    --md-ref-palette-secondary-20: #2e321b;
    --md-ref-palette-secondary-21: #31351d;
    --md-ref-palette-secondary-22: #33371f;
    --md-ref-palette-secondary-23: #353921;
    --md-ref-palette-secondary-24: #373b23;
    --md-ref-palette-secondary-25: #393e25;
    --md-ref-palette-secondary-26: #3c4027;
    --md-ref-palette-secondary-27: #3e4229;
    --md-ref-palette-secondary-28: #40442b;
    --md-ref-palette-secondary-29: #43472d;
    --md-ref-palette-secondary-30: #45492f;
    --md-ref-palette-secondary-31: #474b31;
    --md-ref-palette-secondary-32: #494e34;
    --md-ref-palette-secondary-33: #4c5036;
    --md-ref-palette-secondary-34: #4e5238;
    --md-ref-palette-secondary-35: #51553a;
    --md-ref-palette-secondary-36: #53573c;
    --md-ref-palette-secondary-37: #555a3f;
    --md-ref-palette-secondary-38: #585c41;
    --md-ref-palette-secondary-39: #5a5e43;
    --md-ref-palette-secondary-40: #5d6145;
    --md-ref-palette-secondary-41: #5f6348;
    --md-ref-palette-secondary-42: #61664a;
    --md-ref-palette-secondary-43: #64684c;
    --md-ref-palette-secondary-44: #666b4e;
    --md-ref-palette-secondary-45: #696d51;
    --md-ref-palette-secondary-46: #6b7053;
    --md-ref-palette-secondary-47: #6e7255;
    --md-ref-palette-secondary-48: #707558;
    --md-ref-palette-secondary-49: #73775a;
    --md-ref-palette-secondary-50: #757a5c;
    --md-ref-palette-secondary-51: #787c5f;
    --md-ref-palette-secondary-52: #7a7f61;
    --md-ref-palette-secondary-53: #7d8164;
    --md-ref-palette-secondary-54: #808466;
    --md-ref-palette-secondary-55: #828668;
    --md-ref-palette-secondary-56: #85896b;
    --md-ref-palette-secondary-57: #878c6d;
    --md-ref-palette-secondary-58: #8a8e70;
    --md-ref-palette-secondary-59: #8d9172;
    --md-ref-palette-secondary-60: #8f9375;
    --md-ref-palette-secondary-61: #929677;
    --md-ref-palette-secondary-62: #94997a;
    --md-ref-palette-secondary-63: #979b7c;
    --md-ref-palette-secondary-64: #9a9e7f;
    --md-ref-palette-secondary-65: #9ca181;
    --md-ref-palette-secondary-66: #9fa384;
    --md-ref-palette-secondary-67: #a2a686;
    --md-ref-palette-secondary-68: #a4a989;
    --md-ref-palette-secondary-69: #a7ab8b;
    --md-ref-palette-secondary-70: #aaae8e;
    --md-ref-palette-secondary-71: #adb190;
    --md-ref-palette-secondary-72: #afb393;
    --md-ref-palette-secondary-73: #b2b695;
    --md-ref-palette-secondary-74: #b5b998;
    --md-ref-palette-secondary-75: #b7bc9b;
    --md-ref-palette-secondary-76: #babe9d;
    --md-ref-palette-secondary-77: #bdc1a0;
    --md-ref-palette-secondary-78: #c0c4a2;
    --md-ref-palette-secondary-79: #c3c7a5;
    --md-ref-palette-secondary-80: #c5c9a8;
    --md-ref-palette-secondary-81: #c8ccaa;
    --md-ref-palette-secondary-82: #cbcfad;
    --md-ref-palette-secondary-83: #ced2b0;
    --md-ref-palette-secondary-84: #d1d5b2;
    --md-ref-palette-secondary-85: #d3d7b5;
    --md-ref-palette-secondary-86: #d6dab8;
    --md-ref-palette-secondary-87: #d9ddba;
    --md-ref-palette-secondary-88: #dce0bd;
    --md-ref-palette-secondary-89: #dfe3c0;
    --md-ref-palette-secondary-90: #e2e5c2;
    --md-ref-palette-secondary-91: #e4e8c5;
    --md-ref-palette-secondary-92: #e7ebc8;
    --md-ref-palette-secondary-93: #eaeecb;
    --md-ref-palette-secondary-94: #edf1cd;
    --md-ref-palette-secondary-95: #f0f4d0;
    --md-ref-palette-secondary-96: #f3f7d3;
    --md-ref-palette-secondary-97: #f6fad6;
    --md-ref-palette-secondary-98: #f9fcd8;
    --md-ref-palette-secondary-99: #fcfeec;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #060300;
    --md-ref-palette-tertiary-2: #0c0700;
    --md-ref-palette-tertiary-3: #110a00;
    --md-ref-palette-tertiary-4: #140d00;
    --md-ref-palette-tertiary-5: #181000;
    --md-ref-palette-tertiary-6: #1b1200;
    --md-ref-palette-tertiary-7: #1e1400;
    --md-ref-palette-tertiary-8: #201600;
    --md-ref-palette-tertiary-9: #221800;
    --md-ref-palette-tertiary-10: #251a00;
    --md-ref-palette-tertiary-11: #271c00;
    --md-ref-palette-tertiary-12: #2a1e00;
    --md-ref-palette-tertiary-13: #2c2000;
    --md-ref-palette-tertiary-14: #2f2200;
    --md-ref-palette-tertiary-15: #312400;
    --md-ref-palette-tertiary-16: #342600;
    --md-ref-palette-tertiary-17: #372800;
    --md-ref-palette-tertiary-18: #392a00;
    --md-ref-palette-tertiary-19: #3c2c00;
    --md-ref-palette-tertiary-20: #3e2e00;
    --md-ref-palette-tertiary-21: #413000;
    --md-ref-palette-tertiary-22: #443200;
    --md-ref-palette-tertiary-23: #463400;
    --md-ref-palette-tertiary-24: #493602;
    --md-ref-palette-tertiary-25: #4b3903;
    --md-ref-palette-tertiary-26: #4e3b05;
    --md-ref-palette-tertiary-27: #503d07;
    --md-ref-palette-tertiary-28: #533f0a;
    --md-ref-palette-tertiary-29: #55420c;
    --md-ref-palette-tertiary-30: #58440e;
    --md-ref-palette-tertiary-31: #5a4611;
    --md-ref-palette-tertiary-32: #5d4913;
    --md-ref-palette-tertiary-33: #5f4b15;
    --md-ref-palette-tertiary-34: #624d17;
    --md-ref-palette-tertiary-35: #65501a;
    --md-ref-palette-tertiary-36: #67521c;
    --md-ref-palette-tertiary-37: #6a541e;
    --md-ref-palette-tertiary-38: #6c5720;
    --md-ref-palette-tertiary-39: #6f5922;
    --md-ref-palette-tertiary-40: #715c25;
    --md-ref-palette-tertiary-41: #745e27;
    --md-ref-palette-tertiary-42: #776029;
    --md-ref-palette-tertiary-43: #79632b;
    --md-ref-palette-tertiary-44: #7c652d;
    --md-ref-palette-tertiary-45: #7f6830;
    --md-ref-palette-tertiary-46: #816a32;
    --md-ref-palette-tertiary-47: #846d34;
    --md-ref-palette-tertiary-48: #876f36;
    --md-ref-palette-tertiary-49: #897238;
    --md-ref-palette-tertiary-50: #8c743b;
    --md-ref-palette-tertiary-51: #8f773d;
    --md-ref-palette-tertiary-52: #91793f;
    --md-ref-palette-tertiary-53: #947c41;
    --md-ref-palette-tertiary-54: #977e44;
    --md-ref-palette-tertiary-55: #9a8146;
    --md-ref-palette-tertiary-56: #9c8348;
    --md-ref-palette-tertiary-57: #9f864b;
    --md-ref-palette-tertiary-58: #a2894d;
    --md-ref-palette-tertiary-59: #a58b4f;
    --md-ref-palette-tertiary-60: #a78e51;
    --md-ref-palette-tertiary-61: #aa9054;
    --md-ref-palette-tertiary-62: #ad9356;
    --md-ref-palette-tertiary-63: #b09658;
    --md-ref-palette-tertiary-64: #b3985b;
    --md-ref-palette-tertiary-65: #b59b5d;
    --md-ref-palette-tertiary-66: #b89d60;
    --md-ref-palette-tertiary-67: #bba062;
    --md-ref-palette-tertiary-68: #bea364;
    --md-ref-palette-tertiary-69: #c1a567;
    --md-ref-palette-tertiary-70: #c4a869;
    --md-ref-palette-tertiary-71: #c6ab6c;
    --md-ref-palette-tertiary-72: #c9ad6e;
    --md-ref-palette-tertiary-73: #ccb070;
    --md-ref-palette-tertiary-74: #cfb373;
    --md-ref-palette-tertiary-75: #d2b675;
    --md-ref-palette-tertiary-76: #d5b878;
    --md-ref-palette-tertiary-77: #d8bb7a;
    --md-ref-palette-tertiary-78: #dbbe7d;
    --md-ref-palette-tertiary-79: #dec17f;
    --md-ref-palette-tertiary-80: #e0c382;
    --md-ref-palette-tertiary-81: #e3c684;
    --md-ref-palette-tertiary-82: #e6c987;
    --md-ref-palette-tertiary-83: #e9cc89;
    --md-ref-palette-tertiary-84: #ecce8c;
    --md-ref-palette-tertiary-85: #efd18e;
    --md-ref-palette-tertiary-86: #f2d491;
    --md-ref-palette-tertiary-87: #f5d793;
    --md-ref-palette-tertiary-88: #f8da96;
    --md-ref-palette-tertiary-89: #fbdc98;
    --md-ref-palette-tertiary-90: #fedf9b;
    --md-ref-palette-tertiary-91: #ffe2a4;
    --md-ref-palette-tertiary-92: #ffe6b0;
    --md-ref-palette-tertiary-93: #ffe9bb;
    --md-ref-palette-tertiary-94: #ffecc7;
    --md-ref-palette-tertiary-95: #ffefd2;
    --md-ref-palette-tertiary-96: #fff2dc;
    --md-ref-palette-tertiary-97: #fff5e7;
    --md-ref-palette-tertiary-98: #fff8f2;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #0e0100;
    --md-ref-palette-error-2: #180100;
    --md-ref-palette-error-3: #1f0200;
    --md-ref-palette-error-4: #250300;
    --md-ref-palette-error-5: #290300;
    --md-ref-palette-error-6: #2e0400;
    --md-ref-palette-error-7: #320500;
    --md-ref-palette-error-8: #350500;
    --md-ref-palette-error-9: #390600;
    --md-ref-palette-error-10: #3d0700;
    --md-ref-palette-error-11: #400800;
    --md-ref-palette-error-12: #440800;
    --md-ref-palette-error-13: #480900;
    --md-ref-palette-error-14: #4b0a00;
    --md-ref-palette-error-15: #4f0b00;
    --md-ref-palette-error-16: #530c00;
    --md-ref-palette-error-17: #570d00;
    --md-ref-palette-error-18: #5a0e00;
    --md-ref-palette-error-19: #5e0f00;
    --md-ref-palette-error-20: #621100;
    --md-ref-palette-error-21: #661200;
    --md-ref-palette-error-22: #6a1300;
    --md-ref-palette-error-23: #6e1400;
    --md-ref-palette-error-24: #721500;
    --md-ref-palette-error-25: #751701;
    --md-ref-palette-error-26: #791903;
    --md-ref-palette-error-27: #7c1c04;
    --md-ref-palette-error-28: #7f1e06;
    --md-ref-palette-error-29: #822008;
    --md-ref-palette-error-30: #85230a;
    --md-ref-palette-error-31: #89250d;
    --md-ref-palette-error-32: #8c270f;
    --md-ref-palette-error-33: #8f2a11;
    --md-ref-palette-error-34: #922c13;
    --md-ref-palette-error-35: #962e15;
    --md-ref-palette-error-36: #993118;
    --md-ref-palette-error-37: #9c331a;
    --md-ref-palette-error-38: #a0351c;
    --md-ref-palette-error-39: #a3381e;
    --md-ref-palette-error-40: #a63a20;
    --md-ref-palette-error-41: #a93c22;
    --md-ref-palette-error-42: #ad3f24;
    --md-ref-palette-error-43: #b04127;
    --md-ref-palette-error-44: #b34329;
    --md-ref-palette-error-45: #b7462b;
    --md-ref-palette-error-46: #ba482d;
    --md-ref-palette-error-47: #bd4b2f;
    --md-ref-palette-error-48: #c04d31;
    --md-ref-palette-error-49: #c44f34;
    --md-ref-palette-error-50: #c75236;
    --md-ref-palette-error-51: #ca5438;
    --md-ref-palette-error-52: #ce573a;
    --md-ref-palette-error-53: #d1593c;
    --md-ref-palette-error-54: #d45c3f;
    --md-ref-palette-error-55: #d85e41;
    --md-ref-palette-error-56: #db6043;
    --md-ref-palette-error-57: #de6345;
    --md-ref-palette-error-58: #e26548;
    --md-ref-palette-error-59: #e5684a;
    --md-ref-palette-error-60: #e86a4c;
    --md-ref-palette-error-61: #ec6d4e;
    --md-ref-palette-error-62: #ef6f51;
    --md-ref-palette-error-63: #f27253;
    --md-ref-palette-error-64: #f67455;
    --md-ref-palette-error-65: #f97758;
    --md-ref-palette-error-66: #fd795a;
    --md-ref-palette-error-67: #ff7d5d;
    --md-ref-palette-error-68: #ff8163;
    --md-ref-palette-error-69: #ff8669;
    --md-ref-palette-error-70: #ff8b6f;
    --md-ref-palette-error-71: #ff8f74;
    --md-ref-palette-error-72: #ff9379;
    --md-ref-palette-error-73: #ff987f;
    --md-ref-palette-error-74: #ff9c84;
    --md-ref-palette-error-75: #ffa089;
    --md-ref-palette-error-76: #ffa48e;
    --md-ref-palette-error-77: #ffa894;
    --md-ref-palette-error-78: #ffac99;
    --md-ref-palette-error-79: #ffb09e;
    --md-ref-palette-error-80: #ffb4a3;
    --md-ref-palette-error-81: #ffb8a7;
    --md-ref-palette-error-82: #ffbcac;
    --md-ref-palette-error-83: #ffc0b1;
    --md-ref-palette-error-84: #ffc4b6;
    --md-ref-palette-error-85: #ffc8bb;
    --md-ref-palette-error-86: #ffcbbf;
    --md-ref-palette-error-87: #ffcfc4;
    --md-ref-palette-error-88: #ffd3c9;
    --md-ref-palette-error-89: #ffd7cd;
    --md-ref-palette-error-90: #ffdad2;
    --md-ref-palette-error-91: #ffded7;
    --md-ref-palette-error-92: #ffe2db;
    --md-ref-palette-error-93: #ffe6e0;
    --md-ref-palette-error-94: #ffe9e4;
    --md-ref-palette-error-95: #ffede9;
    --md-ref-palette-error-96: #fff0ed;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f6;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030402;
    --md-ref-palette-neutral-2: #070804;
    --md-ref-palette-neutral-3: #0b0b06;
    --md-ref-palette-neutral-4: #0e0f09;
    --md-ref-palette-neutral-5: #11110c;
    --md-ref-palette-neutral-6: #13140e;
    --md-ref-palette-neutral-7: #151610;
    --md-ref-palette-neutral-8: #171812;
    --md-ref-palette-neutral-9: #191a14;
    --md-ref-palette-neutral-10: #1b1c16;
    --md-ref-palette-neutral-11: #1d1e18;
    --md-ref-palette-neutral-12: #1f201a;
    --md-ref-palette-neutral-13: #21221c;
    --md-ref-palette-neutral-14: #24241e;
    --md-ref-palette-neutral-15: #262620;
    --md-ref-palette-neutral-16: #282822;
    --md-ref-palette-neutral-17: #2a2a24;
    --md-ref-palette-neutral-18: #2c2d26;
    --md-ref-palette-neutral-19: #2e2f28;
    --md-ref-palette-neutral-20: #30312a;
    --md-ref-palette-neutral-21: #33332c;
    --md-ref-palette-neutral-22: #35352e;
    --md-ref-palette-neutral-23: #373730;
    --md-ref-palette-neutral-24: #393a33;
    --md-ref-palette-neutral-25: #3b3c35;
    --md-ref-palette-neutral-26: #3e3e37;
    --md-ref-palette-neutral-27: #404039;
    --md-ref-palette-neutral-28: #42433b;
    --md-ref-palette-neutral-29: #45453d;
    --md-ref-palette-neutral-30: #474740;
    --md-ref-palette-neutral-31: #494a42;
    --md-ref-palette-neutral-32: #4c4c44;
    --md-ref-palette-neutral-33: #4e4e47;
    --md-ref-palette-neutral-34: #505149;
    --md-ref-palette-neutral-35: #53534b;
    --md-ref-palette-neutral-36: #55554d;
    --md-ref-palette-neutral-37: #575850;
    --md-ref-palette-neutral-38: #5a5a52;
    --md-ref-palette-neutral-39: #5c5c54;
    --md-ref-palette-neutral-40: #5f5f57;
    --md-ref-palette-neutral-41: #616159;
    --md-ref-palette-neutral-42: #64645c;
    --md-ref-palette-neutral-43: #66665e;
    --md-ref-palette-neutral-44: #696960;
    --md-ref-palette-neutral-45: #6b6b63;
    --md-ref-palette-neutral-46: #6e6d65;
    --md-ref-palette-neutral-47: #707068;
    --md-ref-palette-neutral-48: #73726a;
    --md-ref-palette-neutral-49: #75756c;
    --md-ref-palette-neutral-50: #78776f;
    --md-ref-palette-neutral-51: #7a7a71;
    --md-ref-palette-neutral-52: #7d7c74;
    --md-ref-palette-neutral-53: #7f7f76;
    --md-ref-palette-neutral-54: #828279;
    --md-ref-palette-neutral-55: #85847b;
    --md-ref-palette-neutral-56: #87877e;
    --md-ref-palette-neutral-57: #8a8980;
    --md-ref-palette-neutral-58: #8c8c83;
    --md-ref-palette-neutral-59: #8f8e85;
    --md-ref-palette-neutral-60: #929188;
    --md-ref-palette-neutral-61: #94948b;
    --md-ref-palette-neutral-62: #97968d;
    --md-ref-palette-neutral-63: #9a9990;
    --md-ref-palette-neutral-64: #9c9c92;
    --md-ref-palette-neutral-65: #9f9e95;
    --md-ref-palette-neutral-66: #a2a198;
    --md-ref-palette-neutral-67: #a4a39a;
    --md-ref-palette-neutral-68: #a7a69d;
    --md-ref-palette-neutral-69: #aaa99f;
    --md-ref-palette-neutral-70: #acaca2;
    --md-ref-palette-neutral-71: #afaea5;
    --md-ref-palette-neutral-72: #b2b1a7;
    --md-ref-palette-neutral-73: #b5b4aa;
    --md-ref-palette-neutral-74: #b7b6ad;
    --md-ref-palette-neutral-75: #bab9af;
    --md-ref-palette-neutral-76: #bdbcb2;
    --md-ref-palette-neutral-77: #c0beb5;
    --md-ref-palette-neutral-78: #c2c1b7;
    --md-ref-palette-neutral-79: #c5c4ba;
    --md-ref-palette-neutral-80: #c8c7bd;
    --md-ref-palette-neutral-81: #cbcac0;
    --md-ref-palette-neutral-82: #ceccc2;
    --md-ref-palette-neutral-83: #d0cfc5;
    --md-ref-palette-neutral-84: #d3d2c8;
    --md-ref-palette-neutral-85: #d6d5cb;
    --md-ref-palette-neutral-86: #d9d7cd;
    --md-ref-palette-neutral-87: #dcdad0;
    --md-ref-palette-neutral-88: #dfddd3;
    --md-ref-palette-neutral-89: #e2e0d6;
    --md-ref-palette-neutral-90: #e4e3d8;
    --md-ref-palette-neutral-91: #e7e6db;
    --md-ref-palette-neutral-92: #eae8de;
    --md-ref-palette-neutral-93: #edebe1;
    --md-ref-palette-neutral-94: #f0eee4;
    --md-ref-palette-neutral-95: #f3f1e6;
    --md-ref-palette-neutral-96: #f6f4e9;
    --md-ref-palette-neutral-97: #f9f7ec;
    --md-ref-palette-neutral-98: #fcfaef;
    --md-ref-palette-neutral-99: #fefdf7;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030401;
    --md-ref-palette-neutral-variant-2: #070802;
    --md-ref-palette-neutral-variant-3: #0a0c04;
    --md-ref-palette-neutral-variant-4: #0d0f06;
    --md-ref-palette-neutral-variant-5: #101208;
    --md-ref-palette-neutral-variant-6: #13140a;
    --md-ref-palette-neutral-variant-7: #15160c;
    --md-ref-palette-neutral-variant-8: #17190e;
    --md-ref-palette-neutral-variant-9: #191b10;
    --md-ref-palette-neutral-variant-10: #1b1d12;
    --md-ref-palette-neutral-variant-11: #1d1f13;
    --md-ref-palette-neutral-variant-12: #1f2115;
    --md-ref-palette-neutral-variant-13: #212317;
    --md-ref-palette-neutral-variant-14: #232519;
    --md-ref-palette-neutral-variant-15: #25271b;
    --md-ref-palette-neutral-variant-16: #27291d;
    --md-ref-palette-neutral-variant-17: #292b1f;
    --md-ref-palette-neutral-variant-18: #2b2d21;
    --md-ref-palette-neutral-variant-19: #2e2f23;
    --md-ref-palette-neutral-variant-20: #303125;
    --md-ref-palette-neutral-variant-21: #323427;
    --md-ref-palette-neutral-variant-22: #343629;
    --md-ref-palette-neutral-variant-23: #36382c;
    --md-ref-palette-neutral-variant-24: #393a2e;
    --md-ref-palette-neutral-variant-25: #3b3c30;
    --md-ref-palette-neutral-variant-26: #3d3f32;
    --md-ref-palette-neutral-variant-27: #3f4134;
    --md-ref-palette-neutral-variant-28: #424336;
    --md-ref-palette-neutral-variant-29: #444638;
    --md-ref-palette-neutral-variant-30: #46483b;
    --md-ref-palette-neutral-variant-31: #494a3d;
    --md-ref-palette-neutral-variant-32: #4b4c3f;
    --md-ref-palette-neutral-variant-33: #4d4f41;
    --md-ref-palette-neutral-variant-34: #505144;
    --md-ref-palette-neutral-variant-35: #525346;
    --md-ref-palette-neutral-variant-36: #545648;
    --md-ref-palette-neutral-variant-37: #57584a;
    --md-ref-palette-neutral-variant-38: #595b4d;
    --md-ref-palette-neutral-variant-39: #5c5d4f;
    --md-ref-palette-neutral-variant-40: #5e5f51;
    --md-ref-palette-neutral-variant-41: #616254;
    --md-ref-palette-neutral-variant-42: #636456;
    --md-ref-palette-neutral-variant-43: #656758;
    --md-ref-palette-neutral-variant-44: #68695b;
    --md-ref-palette-neutral-variant-45: #6a6c5d;
    --md-ref-palette-neutral-variant-46: #6d6e60;
    --md-ref-palette-neutral-variant-47: #6f7162;
    --md-ref-palette-neutral-variant-48: #727364;
    --md-ref-palette-neutral-variant-49: #747667;
    --md-ref-palette-neutral-variant-50: #777869;
    --md-ref-palette-neutral-variant-51: #7a7b6c;
    --md-ref-palette-neutral-variant-52: #7c7d6e;
    --md-ref-palette-neutral-variant-53: #7f8071;
    --md-ref-palette-neutral-variant-54: #818273;
    --md-ref-palette-neutral-variant-55: #848576;
    --md-ref-palette-neutral-variant-56: #868778;
    --md-ref-palette-neutral-variant-57: #898a7b;
    --md-ref-palette-neutral-variant-58: #8c8d7d;
    --md-ref-palette-neutral-variant-59: #8e8f80;
    --md-ref-palette-neutral-variant-60: #919282;
    --md-ref-palette-neutral-variant-61: #949485;
    --md-ref-palette-neutral-variant-62: #969787;
    --md-ref-palette-neutral-variant-63: #999a8a;
    --md-ref-palette-neutral-variant-64: #9b9c8c;
    --md-ref-palette-neutral-variant-65: #9e9f8f;
    --md-ref-palette-neutral-variant-66: #a1a291;
    --md-ref-palette-neutral-variant-67: #a4a494;
    --md-ref-palette-neutral-variant-68: #a6a797;
    --md-ref-palette-neutral-variant-69: #a9aa99;
    --md-ref-palette-neutral-variant-70: #acac9c;
    --md-ref-palette-neutral-variant-71: #aeaf9e;
    --md-ref-palette-neutral-variant-72: #b1b2a1;
    --md-ref-palette-neutral-variant-73: #b4b4a4;
    --md-ref-palette-neutral-variant-74: #b7b7a6;
    --md-ref-palette-neutral-variant-75: #b9baa9;
    --md-ref-palette-neutral-variant-76: #bcbdac;
    --md-ref-palette-neutral-variant-77: #bfbfae;
    --md-ref-palette-neutral-variant-78: #c2c2b1;
    --md-ref-palette-neutral-variant-79: #c4c5b4;
    --md-ref-palette-neutral-variant-80: #c7c8b6;
    --md-ref-palette-neutral-variant-81: #cacab9;
    --md-ref-palette-neutral-variant-82: #cdcdbc;
    --md-ref-palette-neutral-variant-83: #d0d0be;
    --md-ref-palette-neutral-variant-84: #d2d3c1;
    --md-ref-palette-neutral-variant-85: #d5d6c4;
    --md-ref-palette-neutral-variant-86: #d8d8c7;
    --md-ref-palette-neutral-variant-87: #dbdbc9;
    --md-ref-palette-neutral-variant-88: #dedecc;
    --md-ref-palette-neutral-variant-89: #e1e1cf;
    --md-ref-palette-neutral-variant-90: #e4e4d2;
    --md-ref-palette-neutral-variant-91: #e6e6d4;
    --md-ref-palette-neutral-variant-92: #e9e9d7;
    --md-ref-palette-neutral-variant-93: #ececda;
    --md-ref-palette-neutral-variant-94: #efefdd;
    --md-ref-palette-neutral-variant-95: #f2f2e0;
    --md-ref-palette-neutral-variant-96: #f5f5e2;
    --md-ref-palette-neutral-variant-97: #f8f8e5;
    --md-ref-palette-neutral-variant-98: #fbfae8;
    --md-ref-palette-neutral-variant-99: #fdfdf4;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
