:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000503;
    --md-ref-palette-primary-2: #000a07;
    --md-ref-palette-primary-3: #000e0a;
    --md-ref-palette-primary-4: #00110d;
    --md-ref-palette-primary-5: #001410;
    --md-ref-palette-primary-10: #00201a;
    --md-ref-palette-primary-20: #00382f;
    --md-ref-palette-primary-30: #005144;
    --md-ref-palette-primary-40: #21695c;
    --md-ref-palette-primary-50: #3e8374;
    --md-ref-palette-primary-60: #599d8e;
    --md-ref-palette-primary-70: #74b8a8;
    --md-ref-palette-primary-80: #8fd4c3;
    --md-ref-palette-primary-90: #aaf0df;
    --md-ref-palette-primary-95: #b8ffed;
    --md-ref-palette-primary-96: #c7fff0;
    --md-ref-palette-primary-97: #d7fff3;
    --md-ref-palette-primary-98: #e5fff7;
    --md-ref-palette-primary-99: #f3fffa;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000503;
    --md-ref-palette-secondary-2: #000a07;
    --md-ref-palette-secondary-3: #000e0a;
    --md-ref-palette-secondary-4: #00110d;
    --md-ref-palette-secondary-5: #001410;
    --md-ref-palette-secondary-10: #06201b;
    --md-ref-palette-secondary-20: #1d352f;
    --md-ref-palette-secondary-30: #334b45;
    --md-ref-palette-secondary-40: #4a635d;
    --md-ref-palette-secondary-50: #637c75;
    --md-ref-palette-secondary-60: #7c968f;
    --md-ref-palette-secondary-70: #96b1a9;
    --md-ref-palette-secondary-80: #b1ccc4;
    --md-ref-palette-secondary-90: #cde8e0;
    --md-ref-palette-secondary-95: #dbf7ee;
    --md-ref-palette-secondary-96: #defaf1;
    --md-ref-palette-secondary-97: #e1fdf4;
    --md-ref-palette-secondary-98: #e5fff7;
    --md-ref-palette-secondary-99: #f3fffa;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000407;
    --md-ref-palette-tertiary-2: #00090d;
    --md-ref-palette-tertiary-3: #000d12;
    --md-ref-palette-tertiary-4: #001016;
    --md-ref-palette-tertiary-5: #001319;
    --md-ref-palette-tertiary-10: #001f27;
    --md-ref-palette-tertiary-20: #003642;
    --md-ref-palette-tertiary-30: #124d5c;
    --md-ref-palette-tertiary-40: #306575;
    --md-ref-palette-tertiary-50: #4b7e8e;
    --md-ref-palette-tertiary-60: #6598a9;
    --md-ref-palette-tertiary-70: #80b3c4;
    --md-ref-palette-tertiary-80: #9bcee0;
    --md-ref-palette-tertiary-90: #b6ebfd;
    --md-ref-palette-tertiary-95: #dbf5ff;
    --md-ref-palette-tertiary-96: #e3f7ff;
    --md-ref-palette-tertiary-97: #eaf9ff;
    --md-ref-palette-tertiary-98: #f1fbff;
    --md-ref-palette-tertiary-99: #f9fdff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0001;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #270002;
    --md-ref-palette-error-5: #2d0002;
    --md-ref-palette-error-10: #410004;
    --md-ref-palette-error-20: #67040d;
    --md-ref-palette-error-30: #871f21;
    --md-ref-palette-error-40: #a73736;
    --md-ref-palette-error-50: #c84f4c;
    --md-ref-palette-error-60: #e96863;
    --md-ref-palette-error-70: #ff8983;
    --md-ref-palette-error-80: #ffb3ae;
    --md-ref-palette-error-90: #ffdad7;
    --md-ref-palette-error-95: #ffedeb;
    --md-ref-palette-error-96: #fff0ef;
    --md-ref-palette-error-97: #fff4f3;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #020404;
    --md-ref-palette-neutral-2: #050807;
    --md-ref-palette-neutral-3: #070c0b;
    --md-ref-palette-neutral-4: #0a0f0e;
    --md-ref-palette-neutral-5: #0d1210;
    --md-ref-palette-neutral-10: #181d1b;
    --md-ref-palette-neutral-20: #2c3130;
    --md-ref-palette-neutral-30: #434846;
    --md-ref-palette-neutral-40: #5a5f5d;
    --md-ref-palette-neutral-50: #737876;
    --md-ref-palette-neutral-60: #8d928f;
    --md-ref-palette-neutral-70: #a7acaa;
    --md-ref-palette-neutral-80: #c3c7c5;
    --md-ref-palette-neutral-90: #dfe3e1;
    --md-ref-palette-neutral-95: #edf2ef;
    --md-ref-palette-neutral-96: #f0f5f2;
    --md-ref-palette-neutral-97: #f3f7f4;
    --md-ref-palette-neutral-98: #f6faf7;
    --md-ref-palette-neutral-99: #f9fdfa;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #000503;
    --md-ref-palette-neutral-variant-2: #020907;
    --md-ref-palette-neutral-variant-3: #040d0a;
    --md-ref-palette-neutral-variant-4: #06100e;
    --md-ref-palette-neutral-variant-5: #091310;
    --md-ref-palette-neutral-variant-10: #141e1b;
    --md-ref-palette-neutral-variant-20: #283230;
    --md-ref-palette-neutral-variant-30: #3e4946;
    --md-ref-palette-neutral-variant-40: #56615d;
    --md-ref-palette-neutral-variant-50: #6e7976;
    --md-ref-palette-neutral-variant-60: #88938f;
    --md-ref-palette-neutral-variant-70: #a2aea9;
    --md-ref-palette-neutral-variant-80: #bec9c5;
    --md-ref-palette-neutral-variant-90: #dae5e0;
    --md-ref-palette-neutral-variant-95: #e8f3ee;
    --md-ref-palette-neutral-variant-96: #ebf6f1;
    --md-ref-palette-neutral-variant-97: #eef9f4;
    --md-ref-palette-neutral-variant-98: #f1fcf7;
    --md-ref-palette-neutral-variant-99: #f4fffa;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
