:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000312;
    --md-ref-palette-primary-2: #00061d;
    --md-ref-palette-primary-3: #000925;
    --md-ref-palette-primary-4: #000c2c;
    --md-ref-palette-primary-5: #000f31;
    --md-ref-palette-primary-10: #031943;
    --md-ref-palette-primary-20: #1d2f59;
    --md-ref-palette-primary-30: #344571;
    --md-ref-palette-primary-40: #4c5d8b;
    --md-ref-palette-primary-50: #6576a5;
    --md-ref-palette-primary-60: #7e90c0;
    --md-ref-palette-primary-70: #99aadc;
    --md-ref-palette-primary-80: #b4c5f9;
    --md-ref-palette-primary-90: #dae2ff;
    --md-ref-palette-primary-95: #eef0ff;
    --md-ref-palette-primary-96: #f2f3ff;
    --md-ref-palette-primary-97: #f6f6ff;
    --md-ref-palette-primary-98: #faf8ff;
    --md-ref-palette-primary-99: #fefbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000311;
    --md-ref-palette-secondary-2: #020716;
    --md-ref-palette-secondary-3: #050a1a;
    --md-ref-palette-secondary-4: #070e1e;
    --md-ref-palette-secondary-5: #0a1021;
    --md-ref-palette-secondary-10: #151b2c;
    --md-ref-palette-secondary-20: #2a3042;
    --md-ref-palette-secondary-30: #404659;
    --md-ref-palette-secondary-40: #585e71;
    --md-ref-palette-secondary-50: #71778b;
    --md-ref-palette-secondary-60: #8a90a5;
    --md-ref-palette-secondary-70: #a5abc1;
    --md-ref-palette-secondary-80: #c0c6dd;
    --md-ref-palette-secondary-90: #dce2f9;
    --md-ref-palette-secondary-95: #eef0ff;
    --md-ref-palette-secondary-96: #f2f3ff;
    --md-ref-palette-secondary-97: #f6f6ff;
    --md-ref-palette-secondary-98: #faf8ff;
    --md-ref-palette-secondary-99: #fefbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #080016;
    --md-ref-palette-tertiary-2: #0f0022;
    --md-ref-palette-tertiary-3: #130226;
    --md-ref-palette-tertiary-4: #170529;
    --md-ref-palette-tertiary-5: #1a072c;
    --md-ref-palette-tertiary-10: #251337;
    --md-ref-palette-tertiary-20: #3b284e;
    --md-ref-palette-tertiary-30: #523e66;
    --md-ref-palette-tertiary-40: #6b567f;
    --md-ref-palette-tertiary-50: #846e99;
    --md-ref-palette-tertiary-60: #9f88b4;
    --md-ref-palette-tertiary-70: #baa2d0;
    --md-ref-palette-tertiary-80: #d6bdec;
    --md-ref-palette-tertiary-90: #f0dbff;
    --md-ref-palette-tertiary-95: #f9ecff;
    --md-ref-palette-tertiary-96: #fbf0ff;
    --md-ref-palette-tertiary-97: #fdf3ff;
    --md-ref-palette-tertiary-98: #fff7fe;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0001;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #270002;
    --md-ref-palette-error-5: #2d0002;
    --md-ref-palette-error-10: #410004;
    --md-ref-palette-error-20: #67040d;
    --md-ref-palette-error-30: #871f21;
    --md-ref-palette-error-40: #a73736;
    --md-ref-palette-error-50: #c84f4c;
    --md-ref-palette-error-60: #e96863;
    --md-ref-palette-error-70: #ff8983;
    --md-ref-palette-error-80: #ffb3ae;
    --md-ref-palette-error-90: #ffdad7;
    --md-ref-palette-error-95: #ffedeb;
    --md-ref-palette-error-96: #fff0ef;
    --md-ref-palette-error-97: #fff4f3;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030406;
    --md-ref-palette-neutral-2: #06070b;
    --md-ref-palette-neutral-3: #0a0b0f;
    --md-ref-palette-neutral-4: #0d0e12;
    --md-ref-palette-neutral-5: #101115;
    --md-ref-palette-neutral-10: #1a1b20;
    --md-ref-palette-neutral-20: #2f3035;
    --md-ref-palette-neutral-30: #46464b;
    --md-ref-palette-neutral-40: #5e5e63;
    --md-ref-palette-neutral-50: #77777c;
    --md-ref-palette-neutral-60: #909095;
    --md-ref-palette-neutral-70: #abaab0;
    --md-ref-palette-neutral-80: #c7c6cb;
    --md-ref-palette-neutral-90: #e3e2e7;
    --md-ref-palette-neutral-95: #f1f0f6;
    --md-ref-palette-neutral-96: #f4f3f9;
    --md-ref-palette-neutral-97: #f7f6fb;
    --md-ref-palette-neutral-98: #faf8fe;
    --md-ref-palette-neutral-99: #fefbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #020409;
    --md-ref-palette-neutral-variant-2: #05070e;
    --md-ref-palette-neutral-variant-3: #080b12;
    --md-ref-palette-neutral-variant-4: #0b0e15;
    --md-ref-palette-neutral-variant-5: #0e1118;
    --md-ref-palette-neutral-variant-10: #191b23;
    --md-ref-palette-neutral-variant-20: #2e3038;
    --md-ref-palette-neutral-variant-30: #44464f;
    --md-ref-palette-neutral-variant-40: #5c5e67;
    --md-ref-palette-neutral-variant-50: #757780;
    --md-ref-palette-neutral-variant-60: #8f909a;
    --md-ref-palette-neutral-variant-70: #a9abb5;
    --md-ref-palette-neutral-variant-80: #c5c6d1;
    --md-ref-palette-neutral-variant-90: #e1e2ed;
    --md-ref-palette-neutral-variant-95: #eff0fb;
    --md-ref-palette-neutral-variant-96: #f2f3fe;
    --md-ref-palette-neutral-variant-97: #f6f6ff;
    --md-ref-palette-neutral-variant-98: #faf8ff;
    --md-ref-palette-neutral-variant-99: #fefbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
