:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #090200;
    --md-ref-palette-primary-2: #100500;
    --md-ref-palette-primary-3: #160700;
    --md-ref-palette-primary-4: #1b0a00;
    --md-ref-palette-primary-5: #1f0c00;
    --md-ref-palette-primary-6: #220e00;
    --md-ref-palette-primary-7: #251000;
    --md-ref-palette-primary-8: #281200;
    --md-ref-palette-primary-9: #2b1400;
    --md-ref-palette-primary-10: #2e1500;
    --md-ref-palette-primary-11: #311700;
    --md-ref-palette-primary-12: #341900;
    --md-ref-palette-primary-13: #371a00;
    --md-ref-palette-primary-14: #3a1c00;
    --md-ref-palette-primary-15: #3d1e00;
    --md-ref-palette-primary-16: #402000;
    --md-ref-palette-primary-17: #432200;
    --md-ref-palette-primary-18: #462300;
    --md-ref-palette-primary-19: #492500;
    --md-ref-palette-primary-20: #4c2700;
    --md-ref-palette-primary-21: #4f2900;
    --md-ref-palette-primary-22: #522b00;
    --md-ref-palette-primary-23: #552d01;
    --md-ref-palette-primary-24: #582f03;
    --md-ref-palette-primary-25: #5a3104;
    --md-ref-palette-primary-26: #5d3306;
    --md-ref-palette-primary-27: #603608;
    --md-ref-palette-primary-28: #63380b;
    --md-ref-palette-primary-29: #653a0d;
    --md-ref-palette-primary-30: #683c0f;
    --md-ref-palette-primary-31: #6b3e11;
    --md-ref-palette-primary-32: #6e4114;
    --md-ref-palette-primary-33: #704316;
    --md-ref-palette-primary-34: #734518;
    --md-ref-palette-primary-35: #76481a;
    --md-ref-palette-primary-36: #794a1c;
    --md-ref-palette-primary-37: #7c4c1e;
    --md-ref-palette-primary-38: #7e4f21;
    --md-ref-palette-primary-39: #815123;
    --md-ref-palette-primary-40: #845325;
    --md-ref-palette-primary-41: #875627;
    --md-ref-palette-primary-42: #8a5829;
    --md-ref-palette-primary-43: #8c5a2b;
    --md-ref-palette-primary-44: #8f5d2e;
    --md-ref-palette-primary-45: #925f30;
    --md-ref-palette-primary-46: #956232;
    --md-ref-palette-primary-47: #986434;
    --md-ref-palette-primary-48: #9b6636;
    --md-ref-palette-primary-49: #9e6939;
    --md-ref-palette-primary-50: #a06b3b;
    --md-ref-palette-primary-51: #a36e3d;
    --md-ref-palette-primary-52: #a6703f;
    --md-ref-palette-primary-53: #a97342;
    --md-ref-palette-primary-54: #ac7544;
    --md-ref-palette-primary-55: #af7846;
    --md-ref-palette-primary-56: #b27a48;
    --md-ref-palette-primary-57: #b57d4b;
    --md-ref-palette-primary-58: #b87f4d;
    --md-ref-palette-primary-59: #bb824f;
    --md-ref-palette-primary-60: #be8452;
    --md-ref-palette-primary-61: #c18754;
    --md-ref-palette-primary-62: #c48a56;
    --md-ref-palette-primary-63: #c78c59;
    --md-ref-palette-primary-64: #ca8f5b;
    --md-ref-palette-primary-65: #cd915d;
    --md-ref-palette-primary-66: #d09460;
    --md-ref-palette-primary-67: #d39662;
    --md-ref-palette-primary-68: #d69964;
    --md-ref-palette-primary-69: #d99c67;
    --md-ref-palette-primary-70: #dc9e69;
    --md-ref-palette-primary-71: #dfa16c;
    --md-ref-palette-primary-72: #e2a46e;
    --md-ref-palette-primary-73: #e5a670;
    --md-ref-palette-primary-74: #e8a973;
    --md-ref-palette-primary-75: #ebac75;
    --md-ref-palette-primary-76: #eeae78;
    --md-ref-palette-primary-77: #f1b17a;
    --md-ref-palette-primary-78: #f4b47d;
    --md-ref-palette-primary-79: #f7b67f;
    --md-ref-palette-primary-80: #fab982;
    --md-ref-palette-primary-81: #fdbc84;
    --md-ref-palette-primary-82: #ffbf89;
    --md-ref-palette-primary-83: #ffc390;
    --md-ref-palette-primary-84: #ffc697;
    --md-ref-palette-primary-85: #ffca9f;
    --md-ref-palette-primary-86: #ffcea6;
    --md-ref-palette-primary-87: #ffd1ad;
    --md-ref-palette-primary-88: #ffd5b4;
    --md-ref-palette-primary-89: #ffd8bb;
    --md-ref-palette-primary-90: #ffdcc1;
    --md-ref-palette-primary-91: #ffe0c8;
    --md-ref-palette-primary-92: #ffe3cf;
    --md-ref-palette-primary-93: #ffe7d5;
    --md-ref-palette-primary-94: #ffeadc;
    --md-ref-palette-primary-95: #ffeee2;
    --md-ref-palette-primary-96: #fff1e8;
    --md-ref-palette-primary-97: #fff4ef;
    --md-ref-palette-primary-98: #fff8f5;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #090200;
    --md-ref-palette-secondary-2: #100500;
    --md-ref-palette-secondary-3: #160700;
    --md-ref-palette-secondary-4: #1a0a00;
    --md-ref-palette-secondary-5: #1d0d01;
    --md-ref-palette-secondary-6: #200f02;
    --md-ref-palette-secondary-7: #231203;
    --md-ref-palette-secondary-8: #251404;
    --md-ref-palette-secondary-9: #271505;
    --md-ref-palette-secondary-10: #2a1707;
    --md-ref-palette-secondary-11: #2c1908;
    --md-ref-palette-secondary-12: #2e1b0a;
    --md-ref-palette-secondary-13: #311d0c;
    --md-ref-palette-secondary-14: #331f0e;
    --md-ref-palette-secondary-15: #35210f;
    --md-ref-palette-secondary-16: #382311;
    --md-ref-palette-secondary-17: #3a2613;
    --md-ref-palette-secondary-18: #3c2815;
    --md-ref-palette-secondary-19: #3f2a17;
    --md-ref-palette-secondary-20: #412c19;
    --md-ref-palette-secondary-21: #442e1b;
    --md-ref-palette-secondary-22: #46301d;
    --md-ref-palette-secondary-23: #48321f;
    --md-ref-palette-secondary-24: #4b3421;
    --md-ref-palette-secondary-25: #4d3723;
    --md-ref-palette-secondary-26: #503925;
    --md-ref-palette-secondary-27: #523b27;
    --md-ref-palette-secondary-28: #553d29;
    --md-ref-palette-secondary-29: #57402b;
    --md-ref-palette-secondary-30: #5a422d;
    --md-ref-palette-secondary-31: #5c4430;
    --md-ref-palette-secondary-32: #5f4632;
    --md-ref-palette-secondary-33: #614934;
    --md-ref-palette-secondary-34: #644b36;
    --md-ref-palette-secondary-35: #674d38;
    --md-ref-palette-secondary-36: #69503a;
    --md-ref-palette-secondary-37: #6c523d;
    --md-ref-palette-secondary-38: #6e543f;
    --md-ref-palette-secondary-39: #715741;
    --md-ref-palette-secondary-40: #745943;
    --md-ref-palette-secondary-41: #765b46;
    --md-ref-palette-secondary-42: #795e48;
    --md-ref-palette-secondary-43: #7b604a;
    --md-ref-palette-secondary-44: #7e634c;
    --md-ref-palette-secondary-45: #81654f;
    --md-ref-palette-secondary-46: #836851;
    --md-ref-palette-secondary-47: #866a53;
    --md-ref-palette-secondary-48: #896d56;
    --md-ref-palette-secondary-49: #8b6f58;
    --md-ref-palette-secondary-50: #8e715a;
    --md-ref-palette-secondary-51: #91745d;
    --md-ref-palette-secondary-52: #94765f;
    --md-ref-palette-secondary-53: #967961;
    --md-ref-palette-secondary-54: #997b64;
    --md-ref-palette-secondary-55: #9c7e66;
    --md-ref-palette-secondary-56: #9e8169;
    --md-ref-palette-secondary-57: #a1836b;
    --md-ref-palette-secondary-58: #a4866d;
    --md-ref-palette-secondary-59: #a78870;
    --md-ref-palette-secondary-60: #aa8b72;
    --md-ref-palette-secondary-61: #ac8d75;
    --md-ref-palette-secondary-62: #af9077;
    --md-ref-palette-secondary-63: #b2937a;
    --md-ref-palette-secondary-64: #b5957c;
    --md-ref-palette-secondary-65: #b8987f;
    --md-ref-palette-secondary-66: #ba9a81;
    --md-ref-palette-secondary-67: #bd9d84;
    --md-ref-palette-secondary-68: #c0a086;
    --md-ref-palette-secondary-69: #c3a289;
    --md-ref-palette-secondary-70: #c6a58b;
    --md-ref-palette-secondary-71: #c9a88e;
    --md-ref-palette-secondary-72: #cbaa90;
    --md-ref-palette-secondary-73: #cead93;
    --md-ref-palette-secondary-74: #d1b096;
    --md-ref-palette-secondary-75: #d4b298;
    --md-ref-palette-secondary-76: #d7b59b;
    --md-ref-palette-secondary-77: #dab89d;
    --md-ref-palette-secondary-78: #ddbba0;
    --md-ref-palette-secondary-79: #e0bda3;
    --md-ref-palette-secondary-80: #e3c0a5;
    --md-ref-palette-secondary-81: #e5c3a8;
    --md-ref-palette-secondary-82: #e8c5aa;
    --md-ref-palette-secondary-83: #ebc8ad;
    --md-ref-palette-secondary-84: #eecbb0;
    --md-ref-palette-secondary-85: #f1ceb2;
    --md-ref-palette-secondary-86: #f4d1b5;
    --md-ref-palette-secondary-87: #f7d3b8;
    --md-ref-palette-secondary-88: #fad6ba;
    --md-ref-palette-secondary-89: #fdd9bd;
    --md-ref-palette-secondary-90: #ffdcc1;
    --md-ref-palette-secondary-91: #ffe0c8;
    --md-ref-palette-secondary-92: #ffe3cf;
    --md-ref-palette-secondary-93: #ffe7d5;
    --md-ref-palette-secondary-94: #ffeadc;
    --md-ref-palette-secondary-95: #ffeee2;
    --md-ref-palette-secondary-96: #fff1e8;
    --md-ref-palette-secondary-97: #fff4ef;
    --md-ref-palette-secondary-98: #fff8f5;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #040400;
    --md-ref-palette-tertiary-2: #080800;
    --md-ref-palette-tertiary-3: #0c0b00;
    --md-ref-palette-tertiary-4: #100f00;
    --md-ref-palette-tertiary-5: #131200;
    --md-ref-palette-tertiary-6: #151400;
    --md-ref-palette-tertiary-7: #181600;
    --md-ref-palette-tertiary-8: #1a1800;
    --md-ref-palette-tertiary-9: #1c1a00;
    --md-ref-palette-tertiary-10: #1e1c00;
    --md-ref-palette-tertiary-11: #201e00;
    --md-ref-palette-tertiary-12: #222100;
    --md-ref-palette-tertiary-13: #242300;
    --md-ref-palette-tertiary-14: #272500;
    --md-ref-palette-tertiary-15: #292700;
    --md-ref-palette-tertiary-16: #2b2900;
    --md-ref-palette-tertiary-17: #2d2b00;
    --md-ref-palette-tertiary-18: #2f2d00;
    --md-ref-palette-tertiary-19: #323000;
    --md-ref-palette-tertiary-20: #343200;
    --md-ref-palette-tertiary-21: #363402;
    --md-ref-palette-tertiary-22: #393603;
    --md-ref-palette-tertiary-23: #3b3805;
    --md-ref-palette-tertiary-24: #3d3b07;
    --md-ref-palette-tertiary-25: #3f3d09;
    --md-ref-palette-tertiary-26: #423f0b;
    --md-ref-palette-tertiary-27: #44410e;
    --md-ref-palette-tertiary-28: #464410;
    --md-ref-palette-tertiary-29: #494612;
    --md-ref-palette-tertiary-30: #4b4814;
    --md-ref-palette-tertiary-31: #4d4b16;
    --md-ref-palette-tertiary-32: #504d19;
    --md-ref-palette-tertiary-33: #524f1b;
    --md-ref-palette-tertiary-34: #55521d;
    --md-ref-palette-tertiary-35: #57541f;
    --md-ref-palette-tertiary-36: #595721;
    --md-ref-palette-tertiary-37: #5c5923;
    --md-ref-palette-tertiary-38: #5e5b25;
    --md-ref-palette-tertiary-39: #615e28;
    --md-ref-palette-tertiary-40: #63602a;
    --md-ref-palette-tertiary-41: #66632c;
    --md-ref-palette-tertiary-42: #68652e;
    --md-ref-palette-tertiary-43: #6b6830;
    --md-ref-palette-tertiary-44: #6d6a33;
    --md-ref-palette-tertiary-45: #706d35;
    --md-ref-palette-tertiary-46: #726f37;
    --md-ref-palette-tertiary-47: #757239;
    --md-ref-palette-tertiary-48: #77743b;
    --md-ref-palette-tertiary-49: #7a773e;
    --md-ref-palette-tertiary-50: #7d7940;
    --md-ref-palette-tertiary-51: #7f7c42;
    --md-ref-palette-tertiary-52: #827e44;
    --md-ref-palette-tertiary-53: #848147;
    --md-ref-palette-tertiary-54: #878349;
    --md-ref-palette-tertiary-55: #8a864b;
    --md-ref-palette-tertiary-56: #8c894e;
    --md-ref-palette-tertiary-57: #8f8b50;
    --md-ref-palette-tertiary-58: #928e52;
    --md-ref-palette-tertiary-59: #949055;
    --md-ref-palette-tertiary-60: #979357;
    --md-ref-palette-tertiary-61: #999659;
    --md-ref-palette-tertiary-62: #9c985c;
    --md-ref-palette-tertiary-63: #9f9b5e;
    --md-ref-palette-tertiary-64: #a29e60;
    --md-ref-palette-tertiary-65: #a4a063;
    --md-ref-palette-tertiary-66: #a7a365;
    --md-ref-palette-tertiary-67: #aaa668;
    --md-ref-palette-tertiary-68: #aca86a;
    --md-ref-palette-tertiary-69: #afab6c;
    --md-ref-palette-tertiary-70: #b2ae6f;
    --md-ref-palette-tertiary-71: #b5b071;
    --md-ref-palette-tertiary-72: #b7b374;
    --md-ref-palette-tertiary-73: #bab676;
    --md-ref-palette-tertiary-74: #bdb979;
    --md-ref-palette-tertiary-75: #c0bb7b;
    --md-ref-palette-tertiary-76: #c3be7e;
    --md-ref-palette-tertiary-77: #c5c180;
    --md-ref-palette-tertiary-78: #c8c483;
    --md-ref-palette-tertiary-79: #cbc685;
    --md-ref-palette-tertiary-80: #cec988;
    --md-ref-palette-tertiary-81: #d1cc8a;
    --md-ref-palette-tertiary-82: #d3cf8d;
    --md-ref-palette-tertiary-83: #d6d18f;
    --md-ref-palette-tertiary-84: #d9d492;
    --md-ref-palette-tertiary-85: #dcd794;
    --md-ref-palette-tertiary-86: #dfda97;
    --md-ref-palette-tertiary-87: #e2dd99;
    --md-ref-palette-tertiary-88: #e5e09c;
    --md-ref-palette-tertiary-89: #e7e29f;
    --md-ref-palette-tertiary-90: #eae5a1;
    --md-ref-palette-tertiary-91: #ede8a4;
    --md-ref-palette-tertiary-92: #f0eba6;
    --md-ref-palette-tertiary-93: #f3eea9;
    --md-ref-palette-tertiary-94: #f6f1ac;
    --md-ref-palette-tertiary-95: #f9f4ae;
    --md-ref-palette-tertiary-96: #fcf6b1;
    --md-ref-palette-tertiary-97: #fff9b4;
    --md-ref-palette-tertiary-98: #fffada;
    --md-ref-palette-tertiary-99: #fffded;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #0e0100;
    --md-ref-palette-error-2: #180100;
    --md-ref-palette-error-3: #1f0200;
    --md-ref-palette-error-4: #250300;
    --md-ref-palette-error-5: #290300;
    --md-ref-palette-error-6: #2e0400;
    --md-ref-palette-error-7: #320500;
    --md-ref-palette-error-8: #350500;
    --md-ref-palette-error-9: #390600;
    --md-ref-palette-error-10: #3d0700;
    --md-ref-palette-error-11: #400800;
    --md-ref-palette-error-12: #440800;
    --md-ref-palette-error-13: #480900;
    --md-ref-palette-error-14: #4b0a00;
    --md-ref-palette-error-15: #4f0b00;
    --md-ref-palette-error-16: #530c00;
    --md-ref-palette-error-17: #570d00;
    --md-ref-palette-error-18: #5a0e00;
    --md-ref-palette-error-19: #5e0f00;
    --md-ref-palette-error-20: #621100;
    --md-ref-palette-error-21: #661200;
    --md-ref-palette-error-22: #6a1300;
    --md-ref-palette-error-23: #6e1400;
    --md-ref-palette-error-24: #721500;
    --md-ref-palette-error-25: #751701;
    --md-ref-palette-error-26: #791903;
    --md-ref-palette-error-27: #7c1c04;
    --md-ref-palette-error-28: #7f1e06;
    --md-ref-palette-error-29: #822008;
    --md-ref-palette-error-30: #85230a;
    --md-ref-palette-error-31: #89250d;
    --md-ref-palette-error-32: #8c270f;
    --md-ref-palette-error-33: #8f2a11;
    --md-ref-palette-error-34: #922c13;
    --md-ref-palette-error-35: #962e15;
    --md-ref-palette-error-36: #993118;
    --md-ref-palette-error-37: #9c331a;
    --md-ref-palette-error-38: #a0351c;
    --md-ref-palette-error-39: #a3381e;
    --md-ref-palette-error-40: #a63a20;
    --md-ref-palette-error-41: #a93c22;
    --md-ref-palette-error-42: #ad3f24;
    --md-ref-palette-error-43: #b04127;
    --md-ref-palette-error-44: #b34329;
    --md-ref-palette-error-45: #b7462b;
    --md-ref-palette-error-46: #ba482d;
    --md-ref-palette-error-47: #bd4b2f;
    --md-ref-palette-error-48: #c04d31;
    --md-ref-palette-error-49: #c44f34;
    --md-ref-palette-error-50: #c75236;
    --md-ref-palette-error-51: #ca5438;
    --md-ref-palette-error-52: #ce573a;
    --md-ref-palette-error-53: #d1593c;
    --md-ref-palette-error-54: #d45c3f;
    --md-ref-palette-error-55: #d85e41;
    --md-ref-palette-error-56: #db6043;
    --md-ref-palette-error-57: #de6345;
    --md-ref-palette-error-58: #e26548;
    --md-ref-palette-error-59: #e5684a;
    --md-ref-palette-error-60: #e86a4c;
    --md-ref-palette-error-61: #ec6d4e;
    --md-ref-palette-error-62: #ef6f51;
    --md-ref-palette-error-63: #f27253;
    --md-ref-palette-error-64: #f67455;
    --md-ref-palette-error-65: #f97758;
    --md-ref-palette-error-66: #fd795a;
    --md-ref-palette-error-67: #ff7d5d;
    --md-ref-palette-error-68: #ff8163;
    --md-ref-palette-error-69: #ff8669;
    --md-ref-palette-error-70: #ff8b6f;
    --md-ref-palette-error-71: #ff8f74;
    --md-ref-palette-error-72: #ff9379;
    --md-ref-palette-error-73: #ff987f;
    --md-ref-palette-error-74: #ff9c84;
    --md-ref-palette-error-75: #ffa089;
    --md-ref-palette-error-76: #ffa48e;
    --md-ref-palette-error-77: #ffa894;
    --md-ref-palette-error-78: #ffac99;
    --md-ref-palette-error-79: #ffb09e;
    --md-ref-palette-error-80: #ffb4a3;
    --md-ref-palette-error-81: #ffb8a7;
    --md-ref-palette-error-82: #ffbcac;
    --md-ref-palette-error-83: #ffc0b1;
    --md-ref-palette-error-84: #ffc4b6;
    --md-ref-palette-error-85: #ffc8bb;
    --md-ref-palette-error-86: #ffcbbf;
    --md-ref-palette-error-87: #ffcfc4;
    --md-ref-palette-error-88: #ffd3c9;
    --md-ref-palette-error-89: #ffd7cd;
    --md-ref-palette-error-90: #ffdad2;
    --md-ref-palette-error-91: #ffded7;
    --md-ref-palette-error-92: #ffe2db;
    --md-ref-palette-error-93: #ffe6e0;
    --md-ref-palette-error-94: #ffe9e4;
    --md-ref-palette-error-95: #ffede9;
    --md-ref-palette-error-96: #fff0ed;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f6;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #060301;
    --md-ref-palette-neutral-2: #0b0704;
    --md-ref-palette-neutral-3: #0f0a06;
    --md-ref-palette-neutral-4: #130d09;
    --md-ref-palette-neutral-5: #16100b;
    --md-ref-palette-neutral-6: #18120d;
    --md-ref-palette-neutral-7: #1a1410;
    --md-ref-palette-neutral-8: #1d1612;
    --md-ref-palette-neutral-9: #1f1813;
    --md-ref-palette-neutral-10: #211a15;
    --md-ref-palette-neutral-11: #231c17;
    --md-ref-palette-neutral-12: #251e19;
    --md-ref-palette-neutral-13: #27201b;
    --md-ref-palette-neutral-14: #29221d;
    --md-ref-palette-neutral-15: #2b241f;
    --md-ref-palette-neutral-16: #2e2621;
    --md-ref-palette-neutral-17: #302923;
    --md-ref-palette-neutral-18: #322b25;
    --md-ref-palette-neutral-19: #342d27;
    --md-ref-palette-neutral-20: #362f29;
    --md-ref-palette-neutral-21: #39312c;
    --md-ref-palette-neutral-22: #3b332e;
    --md-ref-palette-neutral-23: #3d3530;
    --md-ref-palette-neutral-24: #3f3832;
    --md-ref-palette-neutral-25: #423a34;
    --md-ref-palette-neutral-26: #443c36;
    --md-ref-palette-neutral-27: #463e38;
    --md-ref-palette-neutral-28: #49413b;
    --md-ref-palette-neutral-29: #4b433d;
    --md-ref-palette-neutral-30: #4e453f;
    --md-ref-palette-neutral-31: #504741;
    --md-ref-palette-neutral-32: #524a44;
    --md-ref-palette-neutral-33: #554c46;
    --md-ref-palette-neutral-34: #574e48;
    --md-ref-palette-neutral-35: #5a514a;
    --md-ref-palette-neutral-36: #5c534d;
    --md-ref-palette-neutral-37: #5e554f;
    --md-ref-palette-neutral-38: #615851;
    --md-ref-palette-neutral-39: #635a54;
    --md-ref-palette-neutral-40: #665d56;
    --md-ref-palette-neutral-41: #685f59;
    --md-ref-palette-neutral-42: #6b615b;
    --md-ref-palette-neutral-43: #6d645d;
    --md-ref-palette-neutral-44: #706660;
    --md-ref-palette-neutral-45: #726962;
    --md-ref-palette-neutral-46: #756b64;
    --md-ref-palette-neutral-47: #786e67;
    --md-ref-palette-neutral-48: #7a7069;
    --md-ref-palette-neutral-49: #7d736c;
    --md-ref-palette-neutral-50: #7f756e;
    --md-ref-palette-neutral-51: #827871;
    --md-ref-palette-neutral-52: #847a73;
    --md-ref-palette-neutral-53: #877d76;
    --md-ref-palette-neutral-54: #8a7f78;
    --md-ref-palette-neutral-55: #8c827b;
    --md-ref-palette-neutral-56: #8f847d;
    --md-ref-palette-neutral-57: #928780;
    --md-ref-palette-neutral-58: #948982;
    --md-ref-palette-neutral-59: #978c85;
    --md-ref-palette-neutral-60: #9a8f87;
    --md-ref-palette-neutral-61: #9c918a;
    --md-ref-palette-neutral-62: #9f948c;
    --md-ref-palette-neutral-63: #a2968f;
    --md-ref-palette-neutral-64: #a49992;
    --md-ref-palette-neutral-65: #a79c94;
    --md-ref-palette-neutral-66: #aa9e97;
    --md-ref-palette-neutral-67: #ada199;
    --md-ref-palette-neutral-68: #afa49c;
    --md-ref-palette-neutral-69: #b2a69f;
    --md-ref-palette-neutral-70: #b5a9a1;
    --md-ref-palette-neutral-71: #b8aca4;
    --md-ref-palette-neutral-72: #baaea7;
    --md-ref-palette-neutral-73: #bdb1a9;
    --md-ref-palette-neutral-74: #c0b4ac;
    --md-ref-palette-neutral-75: #c3b6af;
    --md-ref-palette-neutral-76: #c5b9b1;
    --md-ref-palette-neutral-77: #c8bcb4;
    --md-ref-palette-neutral-78: #cbbfb7;
    --md-ref-palette-neutral-79: #cec1b9;
    --md-ref-palette-neutral-80: #d1c4bc;
    --md-ref-palette-neutral-81: #d4c7bf;
    --md-ref-palette-neutral-82: #d6cac2;
    --md-ref-palette-neutral-83: #d9ccc4;
    --md-ref-palette-neutral-84: #dccfc7;
    --md-ref-palette-neutral-85: #dfd2ca;
    --md-ref-palette-neutral-86: #e2d5cc;
    --md-ref-palette-neutral-87: #e5d8cf;
    --md-ref-palette-neutral-88: #e8dad2;
    --md-ref-palette-neutral-89: #eaddd5;
    --md-ref-palette-neutral-90: #ede0d8;
    --md-ref-palette-neutral-91: #f0e3da;
    --md-ref-palette-neutral-92: #f3e6dd;
    --md-ref-palette-neutral-93: #f6e8e0;
    --md-ref-palette-neutral-94: #f9ebe3;
    --md-ref-palette-neutral-95: #fceee6;
    --md-ref-palette-neutral-96: #fff1e8;
    --md-ref-palette-neutral-97: #fff4ef;
    --md-ref-palette-neutral-98: #fff8f5;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #080300;
    --md-ref-palette-neutral-variant-2: #0e0602;
    --md-ref-palette-neutral-variant-3: #120903;
    --md-ref-palette-neutral-variant-4: #150c05;
    --md-ref-palette-neutral-variant-5: #180f07;
    --md-ref-palette-neutral-variant-6: #1b1109;
    --md-ref-palette-neutral-variant-7: #1d140b;
    --md-ref-palette-neutral-variant-8: #20160d;
    --md-ref-palette-neutral-variant-9: #22170f;
    --md-ref-palette-neutral-variant-10: #241911;
    --md-ref-palette-neutral-variant-11: #261b13;
    --md-ref-palette-neutral-variant-12: #281d15;
    --md-ref-palette-neutral-variant-13: #2a1f16;
    --md-ref-palette-neutral-variant-14: #2d2118;
    --md-ref-palette-neutral-variant-15: #2f241a;
    --md-ref-palette-neutral-variant-16: #31261c;
    --md-ref-palette-neutral-variant-17: #33281e;
    --md-ref-palette-neutral-variant-18: #362a20;
    --md-ref-palette-neutral-variant-19: #382c22;
    --md-ref-palette-neutral-variant-20: #3a2e24;
    --md-ref-palette-neutral-variant-21: #3c3026;
    --md-ref-palette-neutral-variant-22: #3f3229;
    --md-ref-palette-neutral-variant-23: #41352b;
    --md-ref-palette-neutral-variant-24: #43372d;
    --md-ref-palette-neutral-variant-25: #46392f;
    --md-ref-palette-neutral-variant-26: #483b31;
    --md-ref-palette-neutral-variant-27: #4a3d33;
    --md-ref-palette-neutral-variant-28: #4d4035;
    --md-ref-palette-neutral-variant-29: #4f4238;
    --md-ref-palette-neutral-variant-30: #52443a;
    --md-ref-palette-neutral-variant-31: #54463c;
    --md-ref-palette-neutral-variant-32: #57493e;
    --md-ref-palette-neutral-variant-33: #594b40;
    --md-ref-palette-neutral-variant-34: #5b4d43;
    --md-ref-palette-neutral-variant-35: #5e5045;
    --md-ref-palette-neutral-variant-36: #605247;
    --md-ref-palette-neutral-variant-37: #635449;
    --md-ref-palette-neutral-variant-38: #65574c;
    --md-ref-palette-neutral-variant-39: #68594e;
    --md-ref-palette-neutral-variant-40: #6a5c50;
    --md-ref-palette-neutral-variant-41: #6d5e53;
    --md-ref-palette-neutral-variant-42: #6f6055;
    --md-ref-palette-neutral-variant-43: #726357;
    --md-ref-palette-neutral-variant-44: #75655a;
    --md-ref-palette-neutral-variant-45: #77685c;
    --md-ref-palette-neutral-variant-46: #7a6a5e;
    --md-ref-palette-neutral-variant-47: #7c6d61;
    --md-ref-palette-neutral-variant-48: #7f6f63;
    --md-ref-palette-neutral-variant-49: #827266;
    --md-ref-palette-neutral-variant-50: #847468;
    --md-ref-palette-neutral-variant-51: #87776b;
    --md-ref-palette-neutral-variant-52: #89796d;
    --md-ref-palette-neutral-variant-53: #8c7c6f;
    --md-ref-palette-neutral-variant-54: #8f7e72;
    --md-ref-palette-neutral-variant-55: #918174;
    --md-ref-palette-neutral-variant-56: #948377;
    --md-ref-palette-neutral-variant-57: #978679;
    --md-ref-palette-neutral-variant-58: #99887c;
    --md-ref-palette-neutral-variant-59: #9c8b7e;
    --md-ref-palette-neutral-variant-60: #9f8d81;
    --md-ref-palette-neutral-variant-61: #a29083;
    --md-ref-palette-neutral-variant-62: #a49386;
    --md-ref-palette-neutral-variant-63: #a79588;
    --md-ref-palette-neutral-variant-64: #aa988b;
    --md-ref-palette-neutral-variant-65: #ac9b8e;
    --md-ref-palette-neutral-variant-66: #af9d90;
    --md-ref-palette-neutral-variant-67: #b2a093;
    --md-ref-palette-neutral-variant-68: #b5a295;
    --md-ref-palette-neutral-variant-69: #b7a598;
    --md-ref-palette-neutral-variant-70: #baa89b;
    --md-ref-palette-neutral-variant-71: #bdaa9d;
    --md-ref-palette-neutral-variant-72: #c0ada0;
    --md-ref-palette-neutral-variant-73: #c3b0a2;
    --md-ref-palette-neutral-variant-74: #c5b3a5;
    --md-ref-palette-neutral-variant-75: #c8b5a8;
    --md-ref-palette-neutral-variant-76: #cbb8aa;
    --md-ref-palette-neutral-variant-77: #cebbad;
    --md-ref-palette-neutral-variant-78: #d1bdb0;
    --md-ref-palette-neutral-variant-79: #d4c0b2;
    --md-ref-palette-neutral-variant-80: #d6c3b5;
    --md-ref-palette-neutral-variant-81: #d9c6b8;
    --md-ref-palette-neutral-variant-82: #dcc8ba;
    --md-ref-palette-neutral-variant-83: #dfcbbd;
    --md-ref-palette-neutral-variant-84: #e2cec0;
    --md-ref-palette-neutral-variant-85: #e5d1c3;
    --md-ref-palette-neutral-variant-86: #e8d3c5;
    --md-ref-palette-neutral-variant-87: #ebd6c8;
    --md-ref-palette-neutral-variant-88: #eed9cb;
    --md-ref-palette-neutral-variant-89: #f0dccd;
    --md-ref-palette-neutral-variant-90: #f3dfd0;
    --md-ref-palette-neutral-variant-91: #f6e2d3;
    --md-ref-palette-neutral-variant-92: #f9e4d6;
    --md-ref-palette-neutral-variant-93: #fce7d9;
    --md-ref-palette-neutral-variant-94: #ffeadc;
    --md-ref-palette-neutral-variant-95: #ffeee2;
    --md-ref-palette-neutral-variant-96: #fff1e8;
    --md-ref-palette-neutral-variant-97: #fff4ef;
    --md-ref-palette-neutral-variant-98: #fff8f5;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
