:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060300;
    --md-ref-palette-primary-2: #0b0700;
    --md-ref-palette-primary-3: #100a00;
    --md-ref-palette-primary-4: #140d00;
    --md-ref-palette-primary-5: #171000;
    --md-ref-palette-primary-10: #241a00;
    --md-ref-palette-primary-20: #3d2e00;
    --md-ref-palette-primary-30: #584401;
    --md-ref-palette-primary-40: #725c1a;
    --md-ref-palette-primary-50: #8d7431;
    --md-ref-palette-primary-60: #a88e48;
    --md-ref-palette-primary-70: #c4a85f;
    --md-ref-palette-primary-80: #e1c477;
    --md-ref-palette-primary-90: #ffdf90;
    --md-ref-palette-primary-95: #ffefcf;
    --md-ref-palette-primary-96: #fff2da;
    --md-ref-palette-primary-97: #fff5e6;
    --md-ref-palette-primary-98: #fff8f1;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #060300;
    --md-ref-palette-secondary-2: #0b0700;
    --md-ref-palette-secondary-3: #100a00;
    --md-ref-palette-secondary-4: #140d00;
    --md-ref-palette-secondary-5: #171000;
    --md-ref-palette-secondary-10: #231b04;
    --md-ref-palette-secondary-20: #392f15;
    --md-ref-palette-secondary-30: #51462a;
    --md-ref-palette-secondary-40: #695d3f;
    --md-ref-palette-secondary-50: #837656;
    --md-ref-palette-secondary-60: #9e8f6e;
    --md-ref-palette-secondary-70: #b9aa87;
    --md-ref-palette-secondary-80: #d5c5a0;
    --md-ref-palette-secondary-90: #f2e1bb;
    --md-ref-palette-secondary-95: #ffefcf;
    --md-ref-palette-secondary-96: #fff2da;
    --md-ref-palette-secondary-97: #fff5e6;
    --md-ref-palette-secondary-98: #fff8f1;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #090200;
    --md-ref-palette-tertiary-2: #110500;
    --md-ref-palette-tertiary-3: #160700;
    --md-ref-palette-tertiary-4: #1b0a00;
    --md-ref-palette-tertiary-5: #1f0c00;
    --md-ref-palette-tertiary-10: #2f1500;
    --md-ref-palette-tertiary-20: #4b2805;
    --md-ref-palette-tertiary-30: #653d19;
    --md-ref-palette-tertiary-40: #81542e;
    --md-ref-palette-tertiary-50: #9d6d44;
    --md-ref-palette-tertiary-60: #ba865b;
    --md-ref-palette-tertiary-70: #d7a073;
    --md-ref-palette-tertiary-80: #f5ba8c;
    --md-ref-palette-tertiary-90: #ffdcc3;
    --md-ref-palette-tertiary-95: #ffede2;
    --md-ref-palette-tertiary-96: #fff1e9;
    --md-ref-palette-tertiary-97: #fff4ef;
    --md-ref-palette-tertiary-98: #fff8f5;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #0e0100;
    --md-ref-palette-error-2: #180100;
    --md-ref-palette-error-3: #1f0200;
    --md-ref-palette-error-4: #250300;
    --md-ref-palette-error-5: #290300;
    --md-ref-palette-error-10: #3d0700;
    --md-ref-palette-error-20: #621100;
    --md-ref-palette-error-30: #85230a;
    --md-ref-palette-error-40: #a63a20;
    --md-ref-palette-error-50: #c75236;
    --md-ref-palette-error-60: #e86a4c;
    --md-ref-palette-error-70: #ff8b6f;
    --md-ref-palette-error-80: #ffb4a3;
    --md-ref-palette-error-90: #ffdad2;
    --md-ref-palette-error-95: #ffede9;
    --md-ref-palette-error-96: #fff0ed;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f6;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050401;
    --md-ref-palette-neutral-2: #090703;
    --md-ref-palette-neutral-3: #0d0b05;
    --md-ref-palette-neutral-4: #110e08;
    --md-ref-palette-neutral-5: #13110a;
    --md-ref-palette-neutral-10: #1e1b14;
    --md-ref-palette-neutral-20: #343029;
    --md-ref-palette-neutral-30: #4a463e;
    --md-ref-palette-neutral-40: #635e55;
    --md-ref-palette-neutral-50: #7c766d;
    --md-ref-palette-neutral-60: #969086;
    --md-ref-palette-neutral-70: #b1aaa0;
    --md-ref-palette-neutral-80: #cdc6bb;
    --md-ref-palette-neutral-90: #e9e1d6;
    --md-ref-palette-neutral-95: #f8f0e4;
    --md-ref-palette-neutral-96: #fbf2e7;
    --md-ref-palette-neutral-97: #fef5ea;
    --md-ref-palette-neutral-98: #fff8f1;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #060300;
    --md-ref-palette-neutral-variant-2: #0a0701;
    --md-ref-palette-neutral-variant-3: #0f0b03;
    --md-ref-palette-neutral-variant-4: #120e04;
    --md-ref-palette-neutral-variant-5: #151006;
    --md-ref-palette-neutral-variant-10: #201b0f;
    --md-ref-palette-neutral-variant-20: #353023;
    --md-ref-palette-neutral-variant-30: #4d4638;
    --md-ref-palette-neutral-variant-40: #655e4e;
    --md-ref-palette-neutral-variant-50: #7e7666;
    --md-ref-palette-neutral-variant-60: #98907f;
    --md-ref-palette-neutral-variant-70: #b4aa98;
    --md-ref-palette-neutral-variant-80: #cfc5b3;
    --md-ref-palette-neutral-variant-90: #ece1ce;
    --md-ref-palette-neutral-variant-95: #fbefdc;
    --md-ref-palette-neutral-variant-96: #fef2de;
    --md-ref-palette-neutral-variant-97: #fff5e6;
    --md-ref-palette-neutral-variant-98: #fff8f1;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
