:root {
    --md-sys-color-background: light-dark(#eefdf7, #091613);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#e6f4ee, #26332f);
    --md-sys-color-inverse-primary: light-dark(#abd471, #466810);
    --md-sys-color-inverse-surface: light-dark(#26332f, #d7e6e0);
    --md-sys-color-neutral-palette-key-color: light-dark(#6c7a76, #6c7a76);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#637c75, #637c75);
    --md-sys-color-on-background: light-dark(#111e1b, #d7e6e0);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #213600);
    --md-sys-color-on-primary-container: light-dark(#324f00, #c6f08a);
    --md-sys-color-on-primary-fixed: light-dark(#111f00, #111f00);
    --md-sys-color-on-primary-fixed-variant: light-dark(#324f00, #324f00);
    --md-sys-color-on-secondary: light-dark(#ffffff, #213600);
    --md-sys-color-on-secondary-container: light-dark(#364e14, #cfeda2);
    --md-sys-color-on-secondary-fixed: light-dark(#111f00, #111f00);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#364e14, #364e14);
    --md-sys-color-on-surface: light-dark(#111e1b, #d7e6e0);
    --md-sys-color-on-surface-variant: light-dark(#334b45, #b1ccc4);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #00382f);
    --md-sys-color-on-tertiary-container: light-dark(#005144, #a0f2de);
    --md-sys-color-on-tertiary-fixed: light-dark(#00201a, #00201a);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#005144, #005144);
    --md-sys-color-outline: light-dark(#637c75, #7c968f);
    --md-sys-color-outline-variant: light-dark(#b1ccc4, #334b45);
    --md-sys-color-primary: light-dark(#466810, #abd471);
    --md-sys-color-primary-container: light-dark(#c6f08a, #324f00);
    --md-sys-color-primary-fixed: light-dark(#c6f08a, #c6f08a);
    --md-sys-color-primary-fixed-dim: light-dark(#abd471, #abd471);
    --md-sys-color-primary-palette-key-color: light-dark(#5e822a, #5e822a);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#4d662a, #b3d088);
    --md-sys-color-secondary-container: light-dark(#cfeda2, #364e14);
    --md-sys-color-secondary-fixed: light-dark(#cfeda2, #cfeda2);
    --md-sys-color-secondary-fixed-dim: light-dark(#b3d088, #b3d088);
    --md-sys-color-secondary-palette-key-color: light-dark(#657f40, #657f40);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#eefdf7, #091613);
    --md-sys-color-surface-bright: light-dark(#eefdf7, #2f3c38);
    --md-sys-color-surface-container: light-dark(#e3f1ec, #16221f);
    --md-sys-color-surface-container-high: light-dark(#ddebe6, #202c29);
    --md-sys-color-surface-container-highest: light-dark(#d7e6e0, #2b3734);
    --md-sys-color-surface-container-low: light-dark(#e8f7f1, #111e1b);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #05100e);
    --md-sys-color-surface-dim: light-dark(#cfddd8, #091613);
    --md-sys-color-surface-tint: light-dark(#466810, #abd471);
    --md-sys-color-surface-variant: light-dark(#cde8e0, #334b45);
    --md-sys-color-tertiary: light-dark(#056b5b, #84d6c2);
    --md-sys-color-tertiary-container: light-dark(#a0f2de, #005144);
    --md-sys-color-tertiary-fixed: light-dark(#a0f2de, #a0f2de);
    --md-sys-color-tertiary-fixed-dim: light-dark(#84d6c2, #84d6c2);
    --md-sys-color-tertiary-palette-key-color: light-dark(#2f8474, #2f8474);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#eefdf7, #091613);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#8d9b96, #5a6763);
        --md-sys-color-inverse-primary: light-dark(#61842c, #678b32);
        --md-sys-color-inverse-surface: light-dark(#26332f, #d7e6e0);
        --md-sys-color-neutral-palette-key-color: light-dark(#6c7a76, #6c7a76);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#637c75, #637c75);
        --md-sys-color-on-background: light-dark(#85938e, #586561);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#faffe9, #1c2f00);
        --md-sys-color-on-primary-container: light-dark(#61852c, #6b8f35);
        --md-sys-color-on-primary-fixed: light-dark(#365500, #a9d16f);
        --md-sys-color-on-primary-fixed-variant: light-dark(#4e7019, #86ac4f);
        --md-sys-color-on-secondary: light-dark(#faffe9, #1c2f00);
        --md-sys-color-on-secondary-container: light-dark(#688243, #728d4c);
        --md-sys-color-on-secondary-fixed: light-dark(#3c5319, #b1ce86);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#556e31, #8ea965);
        --md-sys-color-on-surface: light-dark(#55625e, #98a6a1);
        --md-sys-color-on-surface-variant: light-dark(#668079, #6f8881);
        --md-sys-color-on-tertiary: light-dark(#f4fffa, #003028);
        --md-sys-color-on-tertiary-container: light-dark(#338777, #3f9281);
        --md-sys-color-on-tertiary-fixed: light-dark(#00574a, #82d3c0);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#177363, #5dae9c);
        --md-sys-color-outline: light-dark(#9db8b0, #405953);
        --md-sys-color-outline-variant: light-dark(#c3dfd6, #263f39);
        --md-sys-color-primary: light-dark(#5c7f27, #779c41);
        --md-sys-color-primary-container: light-dark(#bde681, #284100);
        --md-sys-color-primary-fixed: light-dark(#bde681, #395a00);
        --md-sys-color-primary-fixed-dim: light-dark(#a2ca69, #284100);
        --md-sys-color-primary-palette-key-color: light-dark(#5e822a, #5e822a);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#637d3e, #7e9a57);
        --md-sys-color-secondary-container: light-dark(#c5e399, #2a4007);
        --md-sys-color-secondary-fixed: light-dark(#c5e399, #40581e);
        --md-sys-color-secondary-fixed-dim: light-dark(#aac780, #2a4007);
        --md-sys-color-secondary-palette-key-color: light-dark(#657f40, #657f40);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#eefdf7, #091613);
        --md-sys-color-surface-bright: light-dark(#eefdf7, #2f3c38);
        --md-sys-color-surface-container: light-dark(#e3f1ec, #16221f);
        --md-sys-color-surface-container-high: light-dark(#ddebe6, #202c29);
        --md-sys-color-surface-container-highest: light-dark(#d7e6e0, #2b3734);
        --md-sys-color-surface-container-low: light-dark(#e8f7f1, #111e1b);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #05100e);
        --md-sys-color-surface-dim: light-dark(#cfddd8, #091613);
        --md-sys-color-surface-tint: light-dark(#466810, #abd471);
        --md-sys-color-surface-variant: light-dark(#cde8e0, #334b45);
        --md-sys-color-tertiary: light-dark(#2c8271, #4d9f8d);
        --md-sys-color-tertiary-container: light-dark(#96e8d5, #004238);
        --md-sys-color-tertiary-fixed: light-dark(#96e8d5, #005c4e);
        --md-sys-color-tertiary-fixed-dim: light-dark(#7bccb9, #004238);
        --md-sys-color-tertiary-palette-key-color: light-dark(#2f8474, #2f8474);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#eefdf7, #091613);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#abd471, #335000);
        --md-sys-color-inverse-surface: light-dark(#26332f, #d7e6e0);
        --md-sys-color-neutral-palette-key-color: light-dark(#6c7a76, #6c7a76);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#637c75, #637c75);
        --md-sys-color-on-background: light-dark(#111e1b, #d7e6e0);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #060e00);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #091400);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #060e00);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #091400);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #000e0a);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #001510);
        --md-sys-color-outline: light-dark(#18302b, #daf6ed);
        --md-sys-color-outline-variant: light-dark(#354e48, #adc8c0);
        --md-sys-color-primary: light-dark(#1e3200, #d3fe96);
        --md-sys-color-primary-container: light-dark(#335100, #a7d06d);
        --md-sys-color-primary-fixed: light-dark(#335100, #c6f08a);
        --md-sys-color-primary-fixed-dim: light-dark(#233900, #abd471);
        --md-sys-color-primary-palette-key-color: light-dark(#5e822a, #5e822a);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#1e3200, #dcfbae);
        --md-sys-color-secondary-container: light-dark(#395016, #afcc85);
        --md-sys-color-secondary-fixed: light-dark(#395016, #cfeda2);
        --md-sys-color-secondary-fixed-dim: light-dark(#233901, #b3d088);
        --md-sys-color-secondary-palette-key-color: light-dark(#657f40, #657f40);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#eefdf7, #091613);
        --md-sys-color-surface-bright: light-dark(#eefdf7, #46534f);
        --md-sys-color-surface-container: light-dark(#d7e6e0, #26332f);
        --md-sys-color-surface-container-high: light-dark(#c9d8d2, #313e3a);
        --md-sys-color-surface-container-highest: light-dark(#bbcac4, #3c4946);
        --md-sys-color-surface-container-low: light-dark(#e6f4ee, #16221f);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#aebcb7, #091613);
        --md-sys-color-surface-tint: light-dark(#466810, #abd471);
        --md-sys-color-surface-variant: light-dark(#cde8e0, #334b45);
        --md-sys-color-tertiary: light-dark(#00332a, #b2ffec);
        --md-sys-color-tertiary-container: light-dark(#005347, #80d2bf);
        --md-sys-color-tertiary-fixed: light-dark(#005347, #a0f2de);
        --md-sys-color-tertiary-fixed-dim: light-dark(#003a31, #84d6c2);
        --md-sys-color-tertiary-palette-key-color: light-dark(#2f8474, #2f8474);
    }

}
