:root {
    --md-sys-color-background: light-dark(#f6faff, #0c141b);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-dim: light-dark(#a80710, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#e9f2fb, #293138);
    --md-sys-color-inverse-primary: light-dark(#50dbd0, #006a64);
    --md-sys-color-inverse-surface: light-dark(#293138, #dbe4ed);
    --md-sys-color-neutral-palette-key-color: light-dark(#6f7880, #6f7880);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#687987, #687987);
    --md-sys-color-on-background: light-dark(#141d23, #dbe4ed);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #003734);
    --md-sys-color-on-primary-container: light-dark(#00504b, #71f7ec);
    --md-sys-color-on-primary-fixed: light-dark(#00201e, #00201e);
    --md-sys-color-on-primary-fixed-variant: light-dark(#00504b, #00504b);
    --md-sys-color-on-secondary: light-dark(#ffffff, #003734);
    --md-sys-color-on-secondary-container: light-dark(#00504b, #9df2e9);
    --md-sys-color-on-secondary-fixed: light-dark(#00201e, #00201e);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#00504b, #00504b);
    --md-sys-color-on-surface: light-dark(#141d23, #dbe4ed);
    --md-sys-color-on-surface-variant: light-dark(#384956, #b7c9d8);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #00344d);
    --md-sys-color-on-tertiary-container: light-dark(#004c6d, #c8e6ff);
    --md-sys-color-on-tertiary-fixed: light-dark(#001e2e, #001e2e);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#004c6d, #004c6d);
    --md-sys-color-outline: light-dark(#687987, #8193a2);
    --md-sys-color-outline-variant: light-dark(#b7c9d8, #384956);
    --md-sys-color-primary: light-dark(#006a64, #50dbd0);
    --md-sys-color-primary-container: light-dark(#71f7ec, #00504b);
    --md-sys-color-primary-dim: light-dark(#005d57, #77fdf2);
    --md-sys-color-primary-fixed: light-dark(#71f7ec, #71f7ec);
    --md-sys-color-primary-fixed-dim: light-dark(#50dbd0, #50dbd0);
    --md-sys-color-primary-palette-key-color: light-dark(#0fb6ac, #0fb6ac);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#006a64, #81d5cd);
    --md-sys-color-secondary-container: light-dark(#9df2e9, #00504b);
    --md-sys-color-secondary-dim: light-dark(#005d57, #9df2e9);
    --md-sys-color-secondary-fixed: light-dark(#9df2e9, #9df2e9);
    --md-sys-color-secondary-fixed-dim: light-dark(#81d5cd, #81d5cd);
    --md-sys-color-secondary-palette-key-color: light-dark(#29847d, #29847d);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f6faff, #0c141b);
    --md-sys-color-surface-bright: light-dark(#f6faff, #313a41);
    --md-sys-color-surface-container: light-dark(#e6eff8, #182127);
    --md-sys-color-surface-container-high: light-dark(#e0e9f2, #222b32);
    --md-sys-color-surface-container-highest: light-dark(#dbe4ed, #2d363d);
    --md-sys-color-surface-container-low: light-dark(#ecf5fe, #141d23);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #070f15);
    --md-sys-color-surface-dim: light-dark(#d2dbe4, #0c141b);
    --md-sys-color-surface-tint: light-dark(#006a64, #50dbd0);
    --md-sys-color-surface-variant: light-dark(#d2e5f5, #384956);
    --md-sys-color-tertiary: light-dark(#246488, #94cdf6);
    --md-sys-color-tertiary-container: light-dark(#c8e6ff, #004c6d);
    --md-sys-color-tertiary-dim: light-dark(#11587c, #91caf4);
    --md-sys-color-tertiary-fixed: light-dark(#c8e6ff, #c8e6ff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#94cdf6, #94cdf6);
    --md-sys-color-tertiary-palette-key-color: light-dark(#427da3, #427da3);
}
:root[low-contrast] {
    --md-sys-color-background: light-dark(#f6faff, #0c141b);
    --md-sys-color-error: light-dark(#da342e, #ff5449);
    --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
    --md-sys-color-error-dim: light-dark(#c82623, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#9099a2, #5d656d);
    --md-sys-color-inverse-primary: light-dark(#008881, #009088);
    --md-sys-color-inverse-surface: light-dark(#293138, #dbe4ed);
    --md-sys-color-neutral-palette-key-color: light-dark(#6f7880, #6f7880);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#687987, #687987);
    --md-sys-color-on-background: light-dark(#88919a, #5a636b);
    --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
    --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
    --md-sys-color-on-primary: light-dark(#f3fffc, #00302d);
    --md-sys-color-on-primary-container: light-dark(#008981, #00948c);
    --md-sys-color-on-primary-fixed: light-dark(#005651, #4cd8ce);
    --md-sys-color-on-primary-fixed-variant: light-dark(#00736c, #00b3a9);
    --md-sys-color-on-secondary: light-dark(#f3fffc, #00302d);
    --md-sys-color-on-secondary-container: light-dark(#2d8780, #3a918a);
    --md-sys-color-on-secondary-fixed: light-dark(#005651, #7ed3ca);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#0b736c, #59aea6);
    --md-sys-color-on-surface: light-dark(#576068, #9ba4ac);
    --md-sys-color-on-surface-variant: light-dark(#6b7d8b, #748594);
    --md-sys-color-on-tertiary: light-dark(#fcfcff, #002d43);
    --md-sys-color-on-tertiary-container: light-dark(#4580a6, #508ab0);
    --md-sys-color-on-tertiary-fixed: light-dark(#025175, #91cbf4);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#2e6c91, #6da6ce);
    --md-sys-color-outline: light-dark(#a2b4c4, #455663);
    --md-sys-color-outline-variant: light-dark(#c9dbeb, #2b3c49);
    --md-sys-color-primary: light-dark(#00837b, #00a299);
    --md-sys-color-primary-container: light-dark(#66ede3, #00423e);
    --md-sys-color-primary-dim: light-dark(#00756e, #00a29a);
    --md-sys-color-primary-fixed: light-dark(#66ede3, #005b56);
    --md-sys-color-primary-fixed-dim: light-dark(#43d1c7, #00423e);
    --md-sys-color-primary-palette-key-color: light-dark(#0fb6ac, #0fb6ac);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#26817b, #489e97);
    --md-sys-color-secondary-container: light-dark(#93e8df, #00423e);
    --md-sys-color-secondary-dim: light-dark(#0f746e, #499f97);
    --md-sys-color-secondary-fixed: light-dark(#93e8df, #005b56);
    --md-sys-color-secondary-fixed-dim: light-dark(#77ccc4, #00423e);
    --md-sys-color-secondary-palette-key-color: light-dark(#29847d, #29847d);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f6faff, #0c141b);
    --md-sys-color-surface-bright: light-dark(#f6faff, #313a41);
    --md-sys-color-surface-container: light-dark(#e6eff8, #182127);
    --md-sys-color-surface-container-high: light-dark(#e0e9f2, #222b32);
    --md-sys-color-surface-container-highest: light-dark(#dbe4ed, #2d363d);
    --md-sys-color-surface-container-low: light-dark(#ecf5fe, #141d23);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #070f15);
    --md-sys-color-surface-dim: light-dark(#d2dbe4, #0c141b);
    --md-sys-color-surface-tint: light-dark(#006a64, #50dbd0);
    --md-sys-color-surface-variant: light-dark(#d2e5f5, #384956);
    --md-sys-color-tertiary: light-dark(#3f7aa0, #5d97be);
    --md-sys-color-tertiary-container: light-dark(#b3deff, #003e5b);
    --md-sys-color-tertiary-dim: light-dark(#306e92, #5d97be);
    --md-sys-color-tertiary-fixed: light-dark(#b3deff, #0e567a);
    --md-sys-color-tertiary-fixed-dim: light-dark(#8ac4ed, #003e5b);
    --md-sys-color-tertiary-palette-key-color: light-dark(#427da3, #427da3);
}
:root[high-contrast] {
    --md-sys-color-background: light-dark(#f6faff, #0c141b);
    --md-sys-color-error: light-dark(#600004, #ffece9);
    --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
    --md-sys-color-error-dim: light-dark(#480002, #ffedea);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
    --md-sys-color-inverse-primary: light-dark(#50dbd0, #00514c);
    --md-sys-color-inverse-surface: light-dark(#293138, #dbe4ed);
    --md-sys-color-neutral-palette-key-color: light-dark(#6f7880, #6f7880);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#687987, #687987);
    --md-sys-color-on-background: light-dark(#141d23, #dbe4ed);
    --md-sys-color-on-error: light-dark(#ffffff, #000000);
    --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
    --md-sys-color-on-primary: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-container: light-dark(#ffffff, #000e0d);
    --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #001413);
    --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-container: light-dark(#ffffff, #000e0d);
    --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #001413);
    --md-sys-color-on-surface: light-dark(#000000, #ffffff);
    --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-container: light-dark(#ffffff, #000d17);
    --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #00131f);
    --md-sys-color-outline: light-dark(#1d2e3a, #e4f2ff);
    --md-sys-color-outline-variant: light-dark(#3a4b58, #b3c5d4);
    --md-sys-color-primary: light-dark(#00322f, #acfff6);
    --md-sys-color-primary-container: light-dark(#00534e, #4bd7cc);
    --md-sys-color-primary-dim: light-dark(#002422, #b1fff7);
    --md-sys-color-primary-fixed: light-dark(#00534e, #71f7ec);
    --md-sys-color-primary-fixed-dim: light-dark(#003a36, #50dbd0);
    --md-sys-color-primary-palette-key-color: light-dark(#0fb6ac, #0fb6ac);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#00322f, #acfff6);
    --md-sys-color-secondary-container: light-dark(#00534e, #7dd1c9);
    --md-sys-color-secondary-dim: light-dark(#002422, #b1fff7);
    --md-sys-color-secondary-fixed: light-dark(#00534e, #9df2e9);
    --md-sys-color-secondary-fixed-dim: light-dark(#003a36, #81d5cd);
    --md-sys-color-secondary-palette-key-color: light-dark(#29847d, #29847d);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f6faff, #0c141b);
    --md-sys-color-surface-bright: light-dark(#f6faff, #485159);
    --md-sys-color-surface-container: light-dark(#dbe4ed, #293138);
    --md-sys-color-surface-container-high: light-dark(#ccd5de, #343c44);
    --md-sys-color-surface-container-highest: light-dark(#bfc8d0, #3f484f);
    --md-sys-color-surface-container-low: light-dark(#e9f2fb, #182127);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#b1bac3, #0c141b);
    --md-sys-color-surface-tint: light-dark(#006a64, #50dbd0);
    --md-sys-color-surface-variant: light-dark(#d2e5f5, #384956);
    --md-sys-color-tertiary: light-dark(#002f47, #e4f2ff);
    --md-sys-color-tertiary-container: light-dark(#004e71, #90c9f2);
    --md-sys-color-tertiary-dim: light-dark(#002234, #e5f2ff);
    --md-sys-color-tertiary-fixed: light-dark(#004e71, #c8e6ff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#003650, #94cdf6);
    --md-sys-color-tertiary-palette-key-color: light-dark(#427da3, #427da3);
}
