:root {
    --md-sys-color-background: light-dark(#fef7ff, #15121c);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f6eefd, #322f3a);
    --md-sys-color-inverse-primary: light-dark(#99cbff, #00629d);
    --md-sys-color-inverse-surface: light-dark(#322f3a, #e7e0ee);
    --md-sys-color-neutral-palette-key-color: light-dark(#7a7582, #7a7582);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7b738a, #7b738a);
    --md-sys-color-on-background: light-dark(#1d1a24, #e7e0ee);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #003355);
    --md-sys-color-on-primary-container: light-dark(#004a78, #cfe5ff);
    --md-sys-color-on-primary-fixed: light-dark(#001d34, #001d34);
    --md-sys-color-on-primary-fixed-variant: light-dark(#004a78, #004a78);
    --md-sys-color-on-secondary: light-dark(#ffffff, #003355);
    --md-sys-color-on-secondary-container: light-dark(#124a73, #cfe5ff);
    --md-sys-color-on-secondary-fixed: light-dark(#001d34, #001d34);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#124a73, #124a73);
    --md-sys-color-on-surface: light-dark(#1d1a24, #e7e0ee);
    --md-sys-color-on-surface-variant: light-dark(#4a4458, #ccc2db);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #37265d);
    --md-sys-color-on-tertiary-container: light-dark(#4e3d75, #e9ddff);
    --md-sys-color-on-tertiary-fixed: light-dark(#210f47, #210f47);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#4e3d75, #4e3d75);
    --md-sys-color-outline: light-dark(#7b738a, #958da4);
    --md-sys-color-outline-variant: light-dark(#ccc2db, #4a4458);
    --md-sys-color-primary: light-dark(#00629d, #99cbff);
    --md-sys-color-primary-container: light-dark(#cfe5ff, #004a78);
    --md-sys-color-primary-fixed: light-dark(#cfe5ff, #cfe5ff);
    --md-sys-color-primary-fixed-dim: light-dark(#99cbff, #99cbff);
    --md-sys-color-primary-palette-key-color: light-dark(#287cbc, #287cbc);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#31628d, #9dcbfb);
    --md-sys-color-secondary-container: light-dark(#cfe5ff, #124a73);
    --md-sys-color-secondary-fixed: light-dark(#cfe5ff, #cfe5ff);
    --md-sys-color-secondary-fixed-dim: light-dark(#9dcbfb, #9dcbfb);
    --md-sys-color-secondary-palette-key-color: light-dark(#4c7ba7, #4c7ba7);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fef7ff, #15121c);
    --md-sys-color-surface-bright: light-dark(#fef7ff, #3b3743);
    --md-sys-color-surface-container: light-dark(#f3ebfa, #211e28);
    --md-sys-color-surface-container-high: light-dark(#ede5f4, #2c2833);
    --md-sys-color-surface-container-highest: light-dark(#e7e0ee, #37333e);
    --md-sys-color-surface-container-low: light-dark(#f8f1ff, #1d1a24);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #100d16);
    --md-sys-color-surface-dim: light-dark(#dfd7e6, #15121c);
    --md-sys-color-surface-tint: light-dark(#00629d, #99cbff);
    --md-sys-color-surface-variant: light-dark(#e8def8, #4a4458);
    --md-sys-color-tertiary: light-dark(#66558e, #d0bcfe);
    --md-sys-color-tertiary-container: light-dark(#e9ddff, #4e3d75);
    --md-sys-color-tertiary-fixed: light-dark(#e9ddff, #e9ddff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#d0bcfe, #d0bcfe);
    --md-sys-color-tertiary-palette-key-color: light-dark(#7f6da9, #7f6da9);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fef7ff, #15121c);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#9c96a3, #67626f);
        --md-sys-color-inverse-primary: light-dark(#2c7ebf, #3685c6);
        --md-sys-color-inverse-surface: light-dark(#322f3a, #e7e0ee);
        --md-sys-color-neutral-palette-key-color: light-dark(#7a7582, #7a7582);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7b738a, #7b738a);
        --md-sys-color-on-background: light-dark(#948e9b, #65606d);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fdfcff, #002c4a);
        --md-sys-color-on-primary-container: light-dark(#2c7fbf, #3a89ca);
        --md-sys-color-on-primary-fixed: light-dark(#004f81, #94c9ff);
        --md-sys-color-on-primary-fixed-variant: light-dark(#016baa, #5ba5e8);
        --md-sys-color-on-secondary: light-dark(#fdfcff, #002c4a);
        --md-sys-color-on-secondary-container: light-dark(#4f7eaa, #5a88b5);
        --md-sys-color-on-secondary-fixed: light-dark(#1a4f79, #9ac8f9);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#3a6a95, #76a4d3);
        --md-sys-color-on-surface: light-dark(#625d69, #a7a0ae);
        --md-sys-color-on-surface-variant: light-dark(#7f778e, #877f96);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #301f56);
        --md-sys-color-on-tertiary-container: light-dark(#8270ac, #8c7ab7);
        --md-sys-color-on-tertiary-fixed: light-dark(#53437b, #cebafb);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#6e5d97, #a996d5);
        --md-sys-color-outline: light-dark(#b7aec6, #585166);
        --md-sys-color-outline-variant: light-dark(#dfd5ee, #3d374b);
        --md-sys-color-primary: light-dark(#2479b9, #4a96d8);
        --md-sys-color-primary-container: light-dark(#bddcff, #003d64);
        --md-sys-color-primary-fixed: light-dark(#bddcff, #005488);
        --md-sys-color-primary-fixed-dim: light-dark(#85c2ff, #003d64);
        --md-sys-color-primary-palette-key-color: light-dark(#287cbc, #287cbc);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#4a78a4, #6795c2);
        --md-sys-color-secondary-container: light-dark(#bddcff, #003d64);
        --md-sys-color-secondary-fixed: light-dark(#bddcff, #21547e);
        --md-sys-color-secondary-fixed-dim: light-dark(#93c1f2, #003d64);
        --md-sys-color-secondary-palette-key-color: light-dark(#4c7ba7, #4c7ba7);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fef7ff, #15121c);
        --md-sys-color-surface-bright: light-dark(#fef7ff, #3b3743);
        --md-sys-color-surface-container: light-dark(#f3ebfa, #211e28);
        --md-sys-color-surface-container-high: light-dark(#ede5f4, #2c2833);
        --md-sys-color-surface-container-highest: light-dark(#e7e0ee, #37333e);
        --md-sys-color-surface-container-low: light-dark(#f8f1ff, #1d1a24);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #100d16);
        --md-sys-color-surface-dim: light-dark(#dfd7e6, #15121c);
        --md-sys-color-surface-tint: light-dark(#00629d, #99cbff);
        --md-sys-color-surface-variant: light-dark(#e8def8, #4a4458);
        --md-sys-color-tertiary: light-dark(#7c6ba6, #9987c4);
        --md-sys-color-tertiary-container: light-dark(#e1d2ff, #413067);
        --md-sys-color-tertiary-fixed: light-dark(#e1d2ff, #584780);
        --md-sys-color-tertiary-fixed-dim: light-dark(#c7b3f4, #413067);
        --md-sys-color-tertiary-palette-key-color: light-dark(#7f6da9, #7f6da9);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fef7ff, #15121c);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#99cbff, #004b7a);
        --md-sys-color-inverse-surface: light-dark(#322f3a, #e7e0ee);
        --md-sys-color-neutral-palette-key-color: light-dark(#7a7582, #7a7582);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7b738a, #7b738a);
        --md-sys-color-on-background: light-dark(#1d1a24, #e7e0ee);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000c1a);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #001223);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000c1a);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #001223);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #100032);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #16033c);
        --md-sys-color-outline: light-dark(#2f293c, #f5edff);
        --md-sys-color-outline-variant: light-dark(#4c465a, #c8bed7);
        --md-sys-color-primary: light-dark(#002e4e, #e7f1ff);
        --md-sys-color-primary-container: light-dark(#004c7c, #91c7ff);
        --md-sys-color-primary-fixed: light-dark(#004c7c, #cfe5ff);
        --md-sys-color-primary-fixed-dim: light-dark(#003558, #99cbff);
        --md-sys-color-primary-palette-key-color: light-dark(#287cbc, #287cbc);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#002e4e, #e7f1ff);
        --md-sys-color-secondary-container: light-dark(#164c76, #99c7f7);
        --md-sys-color-secondary-fixed: light-dark(#164c76, #cfe5ff);
        --md-sys-color-secondary-fixed-dim: light-dark(#003558, #9dcbfb);
        --md-sys-color-secondary-palette-key-color: light-dark(#4c7ba7, #4c7ba7);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fef7ff, #15121c);
        --md-sys-color-surface-bright: light-dark(#fef7ff, #534e5a);
        --md-sys-color-surface-container: light-dark(#e7e0ee, #322f3a);
        --md-sys-color-surface-container-high: light-dark(#d9d2e0, #3e3a45);
        --md-sys-color-surface-container-highest: light-dark(#cbc4d2, #494551);
        --md-sys-color-surface-container-low: light-dark(#f6eefd, #211e28);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#bdb6c4, #15121c);
        --md-sys-color-surface-tint: light-dark(#00629d, #99cbff);
        --md-sys-color-surface-variant: light-dark(#e8def8, #4a4458);
        --md-sys-color-tertiary: light-dark(#322258, #f5edff);
        --md-sys-color-tertiary-container: light-dark(#504078, #ccb8fa);
        --md-sys-color-tertiary-fixed: light-dark(#504078, #e9ddff);
        --md-sys-color-tertiary-fixed-dim: light-dark(#39295f, #d0bcfe);
        --md-sys-color-tertiary-palette-key-color: light-dark(#7f6da9, #7f6da9);
    }

}
