:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #080300;
    --md-ref-palette-primary-2: #0f0600;
    --md-ref-palette-primary-3: #140800;
    --md-ref-palette-primary-4: #180b00;
    --md-ref-palette-primary-5: #1c0e00;
    --md-ref-palette-primary-10: #2a1700;
    --md-ref-palette-primary-20: #472a00;
    --md-ref-palette-primary-30: #653e00;
    --md-ref-palette-primary-40: #865300;
    --md-ref-palette-primary-50: #a76900;
    --md-ref-palette-primary-60: #c7821d;
    --md-ref-palette-primary-70: #e59c37;
    --md-ref-palette-primary-80: #ffb960;
    --md-ref-palette-primary-90: #ffddb8;
    --md-ref-palette-primary-95: #ffeede;
    --md-ref-palette-primary-96: #fff1e6;
    --md-ref-palette-primary-97: #fff5ed;
    --md-ref-palette-primary-98: #fff8f4;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #080300;
    --md-ref-palette-secondary-2: #0f0600;
    --md-ref-palette-secondary-3: #140800;
    --md-ref-palette-secondary-4: #180b00;
    --md-ref-palette-secondary-5: #1c0e00;
    --md-ref-palette-secondary-10: #2a1700;
    --md-ref-palette-secondary-20: #472a00;
    --md-ref-palette-secondary-30: #653e00;
    --md-ref-palette-secondary-40: #825513;
    --md-ref-palette-secondary-50: #9f6d2b;
    --md-ref-palette-secondary-60: #bc8642;
    --md-ref-palette-secondary-70: #daa059;
    --md-ref-palette-secondary-80: #f8bb71;
    --md-ref-palette-secondary-90: #ffddb8;
    --md-ref-palette-secondary-95: #ffeede;
    --md-ref-palette-secondary-96: #fff1e6;
    --md-ref-palette-secondary-97: #fff5ed;
    --md-ref-palette-secondary-98: #fff8f4;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #030400;
    --md-ref-palette-tertiary-2: #060800;
    --md-ref-palette-tertiary-3: #090c00;
    --md-ref-palette-tertiary-4: #0c1000;
    --md-ref-palette-tertiary-5: #0f1300;
    --md-ref-palette-tertiary-10: #181e00;
    --md-ref-palette-tertiary-20: #2c3400;
    --md-ref-palette-tertiary-30: #414b08;
    --md-ref-palette-tertiary-40: #586420;
    --md-ref-palette-tertiary-50: #717d37;
    --md-ref-palette-tertiary-60: #8a974e;
    --md-ref-palette-tertiary-70: #a5b265;
    --md-ref-palette-tertiary-80: #c0ce7e;
    --md-ref-palette-tertiary-90: #dcea97;
    --md-ref-palette-tertiary-95: #eaf8a4;
    --md-ref-palette-tertiary-96: #edfba7;
    --md-ref-palette-tertiary-97: #f0fea9;
    --md-ref-palette-tertiary-98: #f6ffc1;
    --md-ref-palette-tertiary-99: #fbffe0;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030400;
    --md-ref-palette-neutral-2: #070801;
    --md-ref-palette-neutral-3: #0a0c03;
    --md-ref-palette-neutral-4: #0d0f04;
    --md-ref-palette-neutral-5: #101206;
    --md-ref-palette-neutral-10: #1b1d10;
    --md-ref-palette-neutral-20: #2f3223;
    --md-ref-palette-neutral-30: #464838;
    --md-ref-palette-neutral-40: #5e604f;
    --md-ref-palette-neutral-50: #777867;
    --md-ref-palette-neutral-60: #91927f;
    --md-ref-palette-neutral-70: #abad99;
    --md-ref-palette-neutral-80: #c7c8b3;
    --md-ref-palette-neutral-90: #e3e4cf;
    --md-ref-palette-neutral-95: #f2f2dd;
    --md-ref-palette-neutral-96: #f4f5df;
    --md-ref-palette-neutral-97: #f7f8e2;
    --md-ref-palette-neutral-98: #fafbe5;
    --md-ref-palette-neutral-99: #fdfdf2;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030400;
    --md-ref-palette-neutral-variant-2: #060800;
    --md-ref-palette-neutral-variant-3: #090c00;
    --md-ref-palette-neutral-variant-4: #0c1001;
    --md-ref-palette-neutral-variant-5: #0f1302;
    --md-ref-palette-neutral-variant-10: #1a1d08;
    --md-ref-palette-neutral-variant-20: #2e321b;
    --md-ref-palette-neutral-variant-30: #45492f;
    --md-ref-palette-neutral-variant-40: #5d6145;
    --md-ref-palette-neutral-variant-50: #757a5c;
    --md-ref-palette-neutral-variant-60: #8f9375;
    --md-ref-palette-neutral-variant-70: #aaae8e;
    --md-ref-palette-neutral-variant-80: #c5c9a8;
    --md-ref-palette-neutral-variant-90: #e2e5c2;
    --md-ref-palette-neutral-variant-95: #f0f4d0;
    --md-ref-palette-neutral-variant-96: #f3f7d3;
    --md-ref-palette-neutral-variant-97: #f6fad6;
    --md-ref-palette-neutral-variant-98: #f9fcd8;
    --md-ref-palette-neutral-variant-99: #fcfeec;
    --md-ref-palette-neutral-variant-100: #ffffff;
}