:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000504;
    --md-ref-palette-primary-2: #000908;
    --md-ref-palette-primary-3: #000e0c;
    --md-ref-palette-primary-4: #001110;
    --md-ref-palette-primary-5: #001412;
    --md-ref-palette-primary-10: #00201e;
    --md-ref-palette-primary-20: #003734;
    --md-ref-palette-primary-30: #00504b;
    --md-ref-palette-primary-40: #006a64;
    --md-ref-palette-primary-50: #00857e;
    --md-ref-palette-primary-60: #00a299;
    --md-ref-palette-primary-70: #25beb5;
    --md-ref-palette-primary-80: #50dbd0;
    --md-ref-palette-primary-90: #71f7ec;
    --md-ref-palette-primary-95: #b1fff7;
    --md-ref-palette-primary-96: #c4fff8;
    --md-ref-palette-primary-97: #d4fff9;
    --md-ref-palette-primary-98: #e4fffb;
    --md-ref-palette-primary-99: #f2fffc;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000504;
    --md-ref-palette-secondary-2: #000908;
    --md-ref-palette-secondary-3: #000e0c;
    --md-ref-palette-secondary-4: #001110;
    --md-ref-palette-secondary-5: #001412;
    --md-ref-palette-secondary-10: #00201e;
    --md-ref-palette-secondary-20: #003734;
    --md-ref-palette-secondary-30: #00504b;
    --md-ref-palette-secondary-40: #006a64;
    --md-ref-palette-secondary-50: #29847d;
    --md-ref-palette-secondary-60: #489e97;
    --md-ref-palette-secondary-70: #65b9b2;
    --md-ref-palette-secondary-80: #81d5cd;
    --md-ref-palette-secondary-90: #9df2e9;
    --md-ref-palette-secondary-95: #b1fff7;
    --md-ref-palette-secondary-96: #c4fff8;
    --md-ref-palette-secondary-97: #d4fff9;
    --md-ref-palette-secondary-98: #e4fffb;
    --md-ref-palette-secondary-99: #f2fffc;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000409;
    --md-ref-palette-tertiary-2: #000811;
    --md-ref-palette-tertiary-3: #000c16;
    --md-ref-palette-tertiary-4: #00101b;
    --md-ref-palette-tertiary-5: #00131f;
    --md-ref-palette-tertiary-10: #001e2e;
    --md-ref-palette-tertiary-20: #00344d;
    --md-ref-palette-tertiary-30: #004c6d;
    --md-ref-palette-tertiary-40: #246488;
    --md-ref-palette-tertiary-50: #417da3;
    --md-ref-palette-tertiary-60: #5d97be;
    --md-ref-palette-tertiary-70: #78b2da;
    --md-ref-palette-tertiary-80: #94cdf6;
    --md-ref-palette-tertiary-90: #c8e6ff;
    --md-ref-palette-tertiary-95: #e5f2ff;
    --md-ref-palette-tertiary-96: #ebf5ff;
    --md-ref-palette-tertiary-97: #f0f7ff;
    --md-ref-palette-tertiary-98: #f6faff;
    --md-ref-palette-tertiary-99: #fbfcff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #000409;
    --md-ref-palette-neutral-2: #02080e;
    --md-ref-palette-neutral-3: #040c12;
    --md-ref-palette-neutral-4: #070f15;
    --md-ref-palette-neutral-5: #091218;
    --md-ref-palette-neutral-10: #141d23;
    --md-ref-palette-neutral-20: #293138;
    --md-ref-palette-neutral-30: #3f484f;
    --md-ref-palette-neutral-40: #575f67;
    --md-ref-palette-neutral-50: #6f7880;
    --md-ref-palette-neutral-60: #89929a;
    --md-ref-palette-neutral-70: #a3acb5;
    --md-ref-palette-neutral-80: #bfc8d0;
    --md-ref-palette-neutral-90: #dbe4ed;
    --md-ref-palette-neutral-95: #e9f2fb;
    --md-ref-palette-neutral-96: #ecf5fe;
    --md-ref-palette-neutral-97: #f0f7ff;
    --md-ref-palette-neutral-98: #f6faff;
    --md-ref-palette-neutral-99: #fbfcff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #000409;
    --md-ref-palette-neutral-variant-2: #000811;
    --md-ref-palette-neutral-variant-3: #000c16;
    --md-ref-palette-neutral-variant-4: #00101b;
    --md-ref-palette-neutral-variant-5: #02131e;
    --md-ref-palette-neutral-variant-10: #0b1d29;
    --md-ref-palette-neutral-variant-20: #21323f;
    --md-ref-palette-neutral-variant-30: #384956;
    --md-ref-palette-neutral-variant-40: #4f606e;
    --md-ref-palette-neutral-variant-50: #687987;
    --md-ref-palette-neutral-variant-60: #8193a2;
    --md-ref-palette-neutral-variant-70: #9cadbd;
    --md-ref-palette-neutral-variant-80: #b7c9d8;
    --md-ref-palette-neutral-variant-90: #d2e5f5;
    --md-ref-palette-neutral-variant-95: #e5f2ff;
    --md-ref-palette-neutral-variant-96: #ebf5ff;
    --md-ref-palette-neutral-variant-97: #f0f7ff;
    --md-ref-palette-neutral-variant-98: #f6faff;
    --md-ref-palette-neutral-variant-99: #fbfcff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}