:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000407;
    --md-ref-palette-primary-2: #00090d;
    --md-ref-palette-primary-3: #000d12;
    --md-ref-palette-primary-4: #001016;
    --md-ref-palette-primary-5: #001319;
    --md-ref-palette-primary-10: #001f27;
    --md-ref-palette-primary-20: #003642;
    --md-ref-palette-primary-30: #004e5e;
    --md-ref-palette-primary-40: #00677c;
    --md-ref-palette-primary-50: #00829c;
    --md-ref-palette-primary-60: #009ebd;
    --md-ref-palette-primary-70: #32badb;
    --md-ref-palette-primary-80: #58d5f8;
    --md-ref-palette-primary-90: #b2ebff;
    --md-ref-palette-primary-95: #dbf5ff;
    --md-ref-palette-primary-96: #e2f7ff;
    --md-ref-palette-primary-97: #eaf9ff;
    --md-ref-palette-primary-98: #f1fbff;
    --md-ref-palette-primary-99: #f9fdff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000407;
    --md-ref-palette-secondary-2: #00090d;
    --md-ref-palette-secondary-3: #000d12;
    --md-ref-palette-secondary-4: #001016;
    --md-ref-palette-secondary-5: #001319;
    --md-ref-palette-secondary-10: #001f27;
    --md-ref-palette-secondary-20: #003642;
    --md-ref-palette-secondary-30: #004e5e;
    --md-ref-palette-secondary-40: #00677c;
    --md-ref-palette-secondary-50: #2f8196;
    --md-ref-palette-secondary-60: #4e9bb1;
    --md-ref-palette-secondary-70: #6ab6cd;
    --md-ref-palette-secondary-80: #86d1e9;
    --md-ref-palette-secondary-90: #b2ebff;
    --md-ref-palette-secondary-95: #dbf5ff;
    --md-ref-palette-secondary-96: #e2f7ff;
    --md-ref-palette-secondary-97: #eaf9ff;
    --md-ref-palette-secondary-98: #f1fbff;
    --md-ref-palette-secondary-99: #f9fdff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000312;
    --md-ref-palette-tertiary-2: #00061d;
    --md-ref-palette-tertiary-3: #000925;
    --md-ref-palette-tertiary-4: #000c2c;
    --md-ref-palette-tertiary-5: #000f31;
    --md-ref-palette-tertiary-10: #001847;
    --md-ref-palette-tertiary-20: #172e60;
    --md-ref-palette-tertiary-30: #304578;
    --md-ref-palette-tertiary-40: #485d92;
    --md-ref-palette-tertiary-50: #6176ac;
    --md-ref-palette-tertiary-60: #7b8fc8;
    --md-ref-palette-tertiary-70: #95aae4;
    --md-ref-palette-tertiary-80: #b2c5ff;
    --md-ref-palette-tertiary-90: #dae2ff;
    --md-ref-palette-tertiary-95: #eef0ff;
    --md-ref-palette-tertiary-96: #f2f3ff;
    --md-ref-palette-tertiary-97: #f6f6ff;
    --md-ref-palette-tertiary-98: #faf8ff;
    --md-ref-palette-tertiary-99: #fefbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #02040a;
    --md-ref-palette-neutral-2: #050710;
    --md-ref-palette-neutral-3: #080b14;
    --md-ref-palette-neutral-4: #0b0e17;
    --md-ref-palette-neutral-5: #0e111a;
    --md-ref-palette-neutral-10: #181b25;
    --md-ref-palette-neutral-20: #2d303a;
    --md-ref-palette-neutral-30: #444651;
    --md-ref-palette-neutral-40: #5b5e69;
    --md-ref-palette-neutral-50: #747782;
    --md-ref-palette-neutral-60: #8e909c;
    --md-ref-palette-neutral-70: #a8abb7;
    --md-ref-palette-neutral-80: #c4c6d3;
    --md-ref-palette-neutral-90: #e0e2ef;
    --md-ref-palette-neutral-95: #eef0fe;
    --md-ref-palette-neutral-96: #f2f3ff;
    --md-ref-palette-neutral-97: #f6f6ff;
    --md-ref-palette-neutral-98: #faf8ff;
    --md-ref-palette-neutral-99: #fefbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #000311;
    --md-ref-palette-neutral-variant-2: #020716;
    --md-ref-palette-neutral-variant-3: #050a1a;
    --md-ref-palette-neutral-variant-4: #070e1e;
    --md-ref-palette-neutral-variant-5: #0a1021;
    --md-ref-palette-neutral-variant-10: #151b2c;
    --md-ref-palette-neutral-variant-20: #2a3042;
    --md-ref-palette-neutral-variant-30: #404659;
    --md-ref-palette-neutral-variant-40: #585e71;
    --md-ref-palette-neutral-variant-50: #71778b;
    --md-ref-palette-neutral-variant-60: #8a90a5;
    --md-ref-palette-neutral-variant-70: #a5abc1;
    --md-ref-palette-neutral-variant-80: #c0c6dd;
    --md-ref-palette-neutral-variant-90: #dce2f9;
    --md-ref-palette-neutral-variant-95: #eef0ff;
    --md-ref-palette-neutral-variant-96: #f2f3ff;
    --md-ref-palette-neutral-variant-97: #f6f6ff;
    --md-ref-palette-neutral-variant-98: #faf8ff;
    --md-ref-palette-neutral-variant-99: #fefbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
