:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #0d000a;
    --md-ref-palette-primary-2: #160013;
    --md-ref-palette-primary-3: #1d0019;
    --md-ref-palette-primary-4: #23001e;
    --md-ref-palette-primary-5: #270022;
    --md-ref-palette-primary-10: #3a0032;
    --md-ref-palette-primary-20: #57124c;
    --md-ref-palette-primary-30: #722b64;
    --md-ref-palette-primary-40: #8e437e;
    --md-ref-palette-primary-50: #ab5b98;
    --md-ref-palette-primary-60: #c875b3;
    --md-ref-palette-primary-70: #e68ecf;
    --md-ref-palette-primary-80: #fface7;
    --md-ref-palette-primary-90: #ffd7f0;
    --md-ref-palette-primary-95: #ffecf5;
    --md-ref-palette-primary-96: #fff0f6;
    --md-ref-palette-primary-97: #fff4f8;
    --md-ref-palette-primary-98: #fff7f9;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #0d000a;
    --md-ref-palette-secondary-2: #160013;
    --md-ref-palette-secondary-3: #1d0019;
    --md-ref-palette-secondary-4: #23001e;
    --md-ref-palette-secondary-5: #270022;
    --md-ref-palette-secondary-10: #35082e;
    --md-ref-palette-secondary-20: #4e1e44;
    --md-ref-palette-secondary-30: #68355c;
    --md-ref-palette-secondary-40: #834c75;
    --md-ref-palette-secondary-50: #9e648e;
    --md-ref-palette-secondary-60: #bb7da9;
    --md-ref-palette-secondary-70: #d897c4;
    --md-ref-palette-secondary-80: #f5b2e1;
    --md-ref-palette-secondary-90: #ffd7f0;
    --md-ref-palette-secondary-95: #ffecf5;
    --md-ref-palette-secondary-96: #fff0f6;
    --md-ref-palette-secondary-97: #fff4f8;
    --md-ref-palette-secondary-98: #fff7f9;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0f0000;
    --md-ref-palette-tertiary-2: #190100;
    --md-ref-palette-tertiary-3: #200100;
    --md-ref-palette-tertiary-4: #260200;
    --md-ref-palette-tertiary-5: #2b0200;
    --md-ref-palette-tertiary-10: #3a0a03;
    --md-ref-palette-tertiary-20: #561f14;
    --md-ref-palette-tertiary-30: #733428;
    --md-ref-palette-tertiary-40: #904b3d;
    --md-ref-palette-tertiary-50: #ad6353;
    --md-ref-palette-tertiary-60: #cc7b6b;
    --md-ref-palette-tertiary-70: #ea9584;
    --md-ref-palette-tertiary-80: #ffb4a5;
    --md-ref-palette-tertiary-90: #ffdad3;
    --md-ref-palette-tertiary-95: #ffede9;
    --md-ref-palette-tertiary-96: #fff0ee;
    --md-ref-palette-tertiary-97: #fff4f2;
    --md-ref-palette-tertiary-98: #fff8f6;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #0a0201;
    --md-ref-palette-neutral-2: #100503;
    --md-ref-palette-neutral-3: #140806;
    --md-ref-palette-neutral-4: #180b08;
    --md-ref-palette-neutral-5: #1b0d0b;
    --md-ref-palette-neutral-10: #271815;
    --md-ref-palette-neutral-20: #3d2c29;
    --md-ref-palette-neutral-30: #55423e;
    --md-ref-palette-neutral-40: #6f5a55;
    --md-ref-palette-neutral-50: #89726d;
    --md-ref-palette-neutral-60: #a48b86;
    --md-ref-palette-neutral-70: #bfa6a0;
    --md-ref-palette-neutral-80: #dcc1bb;
    --md-ref-palette-neutral-90: #f9dcd7;
    --md-ref-palette-neutral-95: #ffede9;
    --md-ref-palette-neutral-96: #fff0ee;
    --md-ref-palette-neutral-97: #fff4f2;
    --md-ref-palette-neutral-98: #fff8f6;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #0d0100;
    --md-ref-palette-neutral-variant-2: #140302;
    --md-ref-palette-neutral-variant-3: #190603;
    --md-ref-palette-neutral-variant-4: #1c0805;
    --md-ref-palette-neutral-variant-5: #200b07;
    --md-ref-palette-neutral-variant-10: #2c1510;
    --md-ref-palette-neutral-variant-20: #442a24;
    --md-ref-palette-neutral-variant-30: #5d3f39;
    --md-ref-palette-neutral-variant-40: #775750;
    --md-ref-palette-neutral-variant-50: #926f68;
    --md-ref-palette-neutral-variant-60: #ae8880;
    --md-ref-palette-neutral-variant-70: #caa29a;
    --md-ref-palette-neutral-variant-80: #e7bdb4;
    --md-ref-palette-neutral-variant-90: #ffdad3;
    --md-ref-palette-neutral-variant-95: #ffede9;
    --md-ref-palette-neutral-variant-96: #fff0ee;
    --md-ref-palette-neutral-variant-97: #fff4f2;
    --md-ref-palette-neutral-variant-98: #fff8f6;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}