:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #00011c;
    --md-ref-palette-primary-2: #00032a;
    --md-ref-palette-primary-3: #000434;
    --md-ref-palette-primary-4: #00053c;
    --md-ref-palette-primary-5: #000744;
    --md-ref-palette-primary-10: #000d60;
    --md-ref-palette-primary-20: #1a2678;
    --md-ref-palette-primary-30: #333f90;
    --md-ref-palette-primary-40: #4b57a9;
    --md-ref-palette-primary-50: #6570c4;
    --md-ref-palette-primary-60: #7e8ae0;
    --md-ref-palette-primary-70: #99a5fd;
    --md-ref-palette-primary-80: #bcc3ff;
    --md-ref-palette-primary-90: #dfe0ff;
    --md-ref-palette-primary-95: #f0efff;
    --md-ref-palette-primary-96: #f4f2ff;
    --md-ref-palette-primary-97: #f7f5ff;
    --md-ref-palette-primary-98: #fbf8ff;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #00011c;
    --md-ref-palette-secondary-2: #00032a;
    --md-ref-palette-secondary-3: #000434;
    --md-ref-palette-secondary-4: #00053c;
    --md-ref-palette-secondary-5: #010841;
    --md-ref-palette-secondary-10: #0d154b;
    --md-ref-palette-secondary-20: #242c61;
    --md-ref-palette-secondary-30: #3b4279;
    --md-ref-palette-secondary-40: #535a92;
    --md-ref-palette-secondary-50: #6b73ad;
    --md-ref-palette-secondary-60: #858dc8;
    --md-ref-palette-secondary-70: #a0a7e5;
    --md-ref-palette-secondary-80: #bcc3ff;
    --md-ref-palette-secondary-90: #dfe0ff;
    --md-ref-palette-secondary-95: #f0efff;
    --md-ref-palette-secondary-96: #f4f2ff;
    --md-ref-palette-secondary-97: #f7f5ff;
    --md-ref-palette-secondary-98: #fbf8ff;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0c000e;
    --md-ref-palette-tertiary-2: #150018;
    --md-ref-palette-tertiary-3: #1b001f;
    --md-ref-palette-tertiary-4: #200025;
    --md-ref-palette-tertiary-5: #25002a;
    --md-ref-palette-tertiary-10: #320936;
    --md-ref-palette-tertiary-20: #4a204c;
    --md-ref-palette-tertiary-30: #633664;
    --md-ref-palette-tertiary-40: #7d4e7d;
    --md-ref-palette-tertiary-50: #986698;
    --md-ref-palette-tertiary-60: #b37fb3;
    --md-ref-palette-tertiary-70: #d099ce;
    --md-ref-palette-tertiary-80: #edb4eb;
    --md-ref-palette-tertiary-90: #ffd6fb;
    --md-ref-palette-tertiary-95: #ffebfa;
    --md-ref-palette-tertiary-96: #ffeffa;
    --md-ref-palette-tertiary-97: #fff3fa;
    --md-ref-palette-tertiary-98: #fff7fa;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #070207;
    --md-ref-palette-neutral-2: #0c050c;
    --md-ref-palette-neutral-3: #100810;
    --md-ref-palette-neutral-4: #140b14;
    --md-ref-palette-neutral-5: #170e16;
    --md-ref-palette-neutral-10: #221921;
    --md-ref-palette-neutral-20: #382d36;
    --md-ref-palette-neutral-30: #4f434d;
    --md-ref-palette-neutral-40: #675b65;
    --md-ref-palette-neutral-50: #81737e;
    --md-ref-palette-neutral-60: #9b8c98;
    --md-ref-palette-neutral-70: #b6a7b2;
    --md-ref-palette-neutral-80: #d2c2ce;
    --md-ref-palette-neutral-90: #efdeea;
    --md-ref-palette-neutral-95: #fdecf8;
    --md-ref-palette-neutral-96: #ffeffa;
    --md-ref-palette-neutral-97: #fff3fa;
    --md-ref-palette-neutral-98: #fff7fa;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #0a010b;
    --md-ref-palette-neutral-variant-2: #0f0410;
    --md-ref-palette-neutral-variant-3: #140614;
    --md-ref-palette-neutral-variant-4: #170918;
    --md-ref-palette-neutral-variant-5: #1a0c1a;
    --md-ref-palette-neutral-variant-10: #261625;
    --md-ref-palette-neutral-variant-20: #3c2b3b;
    --md-ref-palette-neutral-variant-30: #534152;
    --md-ref-palette-neutral-variant-40: #6c586a;
    --md-ref-palette-neutral-variant-50: #867183;
    --md-ref-palette-neutral-variant-60: #a08a9e;
    --md-ref-palette-neutral-variant-70: #bca4b8;
    --md-ref-palette-neutral-variant-80: #d8bfd4;
    --md-ref-palette-neutral-variant-90: #f5dbf0;
    --md-ref-palette-neutral-variant-95: #ffebfa;
    --md-ref-palette-neutral-variant-96: #ffeffa;
    --md-ref-palette-neutral-variant-97: #fff3fa;
    --md-ref-palette-neutral-variant-98: #fff7fa;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}