:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #100002;
    --md-ref-palette-primary-2: #190004;
    --md-ref-palette-primary-3: #210006;
    --md-ref-palette-primary-4: #270008;
    --md-ref-palette-primary-5: #2c000a;
    --md-ref-palette-primary-10: #400012;
    --md-ref-palette-primary-20: #5f1125;
    --md-ref-palette-primary-30: #7d293a;
    --md-ref-palette-primary-40: #9b4051;
    --md-ref-palette-primary-50: #ba5869;
    --md-ref-palette-primary-60: #d97182;
    --md-ref-palette-primary-70: #f98a9b;
    --md-ref-palette-primary-80: #ffb2bc;
    --md-ref-palette-primary-90: #ffd9dd;
    --md-ref-palette-primary-95: #ffeced;
    --md-ref-palette-primary-96: #fff0f1;
    --md-ref-palette-primary-97: #fff4f4;
    --md-ref-palette-primary-98: #fff8f7;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #100002;
    --md-ref-palette-secondary-2: #190004;
    --md-ref-palette-secondary-3: #210006;
    --md-ref-palette-secondary-4: #270008;
    --md-ref-palette-secondary-5: #2c000a;
    --md-ref-palette-secondary-10: #3b0714;
    --md-ref-palette-secondary-20: #561d28;
    --md-ref-palette-secondary-30: #72333e;
    --md-ref-palette-secondary-40: #8e4954;
    --md-ref-palette-secondary-50: #ab616c;
    --md-ref-palette-secondary-60: #c97a85;
    --md-ref-palette-secondary-70: #e8949f;
    --md-ref-palette-secondary-80: #ffb2bc;
    --md-ref-palette-secondary-90: #ffd9dd;
    --md-ref-palette-secondary-95: #ffeced;
    --md-ref-palette-secondary-96: #fff0f1;
    --md-ref-palette-secondary-97: #fff4f4;
    --md-ref-palette-secondary-98: #fff8f7;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #090200;
    --md-ref-palette-tertiary-2: #100500;
    --md-ref-palette-tertiary-3: #160700;
    --md-ref-palette-tertiary-4: #1b0a00;
    --md-ref-palette-tertiary-5: #1f0c00;
    --md-ref-palette-tertiary-10: #2e1500;
    --md-ref-palette-tertiary-20: #4c2700;
    --md-ref-palette-tertiary-30: #6b3b04;
    --md-ref-palette-tertiary-40: #87521c;
    --md-ref-palette-tertiary-50: #a56a32;
    --md-ref-palette-tertiary-60: #c28349;
    --md-ref-palette-tertiary-70: #e09d60;
    --md-ref-palette-tertiary-80: #ffb779;
    --md-ref-palette-tertiary-90: #ffdcc1;
    --md-ref-palette-tertiary-95: #ffeee2;
    --md-ref-palette-tertiary-96: #fff1e8;
    --md-ref-palette-tertiary-97: #fff4ef;
    --md-ref-palette-tertiary-98: #fff8f5;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #080300;
    --md-ref-palette-neutral-2: #0e0601;
    --md-ref-palette-neutral-3: #130902;
    --md-ref-palette-neutral-4: #160c04;
    --md-ref-palette-neutral-5: #190f06;
    --md-ref-palette-neutral-10: #25190f;
    --md-ref-palette-neutral-20: #3c2e22;
    --md-ref-palette-neutral-30: #534437;
    --md-ref-palette-neutral-40: #6c5b4e;
    --md-ref-palette-neutral-50: #867465;
    --md-ref-palette-neutral-60: #a18d7e;
    --md-ref-palette-neutral-70: #bda798;
    --md-ref-palette-neutral-80: #d9c2b2;
    --md-ref-palette-neutral-90: #f6decd;
    --md-ref-palette-neutral-95: #ffeee2;
    --md-ref-palette-neutral-96: #fff1e8;
    --md-ref-palette-neutral-97: #fff4ef;
    --md-ref-palette-neutral-98: #fff8f5;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #090200;
    --md-ref-palette-neutral-variant-2: #100500;
    --md-ref-palette-neutral-variant-3: #160700;
    --md-ref-palette-neutral-variant-4: #1a0a00;
    --md-ref-palette-neutral-variant-5: #1d0d01;
    --md-ref-palette-neutral-variant-10: #2a1707;
    --md-ref-palette-neutral-variant-20: #412c19;
    --md-ref-palette-neutral-variant-30: #5a422d;
    --md-ref-palette-neutral-variant-40: #745943;
    --md-ref-palette-neutral-variant-50: #8e715a;
    --md-ref-palette-neutral-variant-60: #aa8b72;
    --md-ref-palette-neutral-variant-70: #c6a58b;
    --md-ref-palette-neutral-variant-80: #e3c0a5;
    --md-ref-palette-neutral-variant-90: #ffdcc1;
    --md-ref-palette-neutral-variant-95: #ffeee2;
    --md-ref-palette-neutral-variant-96: #fff1e8;
    --md-ref-palette-neutral-variant-97: #fff4ef;
    --md-ref-palette-neutral-variant-98: #fff8f5;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
