@theme {
    --_bg-color-primary-palette-key-color        : var(--md-sys-color-primary-palette-key-color, light-dark(#578400, #578400));
    --_bg-color-secondary-palette-key-color      : var(--md-sys-color-secondary-palette-key-color, light-dark(#697e4a, #697e4a));
    --_bg-color-tertiary-palette-key-color       : var(--md-sys-color-tertiary-palette-key-color, light-dark(#00885e, #00885e));
    --_bg-color-neutral-palette-key-color        : var(--md-sys-color-neutral-palette-key-color, light-dark(#75786c, #75786c));
    --_bg-color-neutral-variant-palette-key-color: var(--md-sys-color-neutral-variant-palette-key-color, light-dark(#737966, #737966));
    --_bg-color-background                       : var(--md-sys-color-background, light-dark(#f9fbec, #11140c));
    --_bg-color-on-background                    : var(--md-sys-color-on-background, light-dark(#1a1d14, #e2e4d5));
    --_bg-color-surface                          : var(--md-sys-color-surface, light-dark(#f9fbec, #11140c));
    --_bg-color-surface-dim                      : var(--md-sys-color-surface-dim, light-dark(#d9dbcd, #11140c));
    --_bg-color-surface-bright                   : var(--md-sys-color-surface-bright, light-dark(#f9fbec, #373a30));
    --_bg-color-surface-container-lowest         : var(--md-sys-color-surface-container-lowest, light-dark(#ffffff, #0c0f07));
    --_bg-color-surface-container-low            : var(--md-sys-color-surface-container-low, light-dark(#f3f5e6, #1a1d14));
    --_bg-color-surface-container                : var(--md-sys-color-surface-container, light-dark(#edefe1, #1e2118));
    --_bg-color-surface-container-high           : var(--md-sys-color-surface-container-high, light-dark(#e7e9db, #282b22));
    --_bg-color-surface-container-highest        : var(--md-sys-color-surface-container-highest, light-dark(#e2e4d5, #33362c));
    --_bg-color-on-surface                       : var(--md-sys-color-on-surface, light-dark(#1a1d14, #e2e4d5));
    --_bg-color-surface-variant                  : var(--md-sys-color-surface-variant, light-dark(#dfe5cf, #434938));
    --_bg-color-on-surface-variant               : var(--md-sys-color-on-surface-variant, light-dark(#434938, #c3c9b3));
    --_bg-color-inverse-surface                  : var(--md-sys-color-inverse-surface, light-dark(#2e3228, #e2e4d5));
    --_bg-color-inverse-on-surface               : var(--md-sys-color-inverse-on-surface, light-dark(#f0f2e3, #2e3228));
    --_bg-color-outline                          : var(--md-sys-color-outline, light-dark(#737967, #8d937f));
    --_bg-color-outline-variant                  : var(--md-sys-color-outline-variant, light-dark(#c3c9b3, #434938));
    --_bg-color-shadow                           : var(--md-sys-color-shadow, light-dark(#000000, #000000));
    --_bg-color-scrim                            : var(--md-sys-color-scrim, light-dark(#000000, #000000));
    --_bg-color-surface-tint                     : var(--md-sys-color-surface-tint, light-dark(#446900, #a3d656));
    --_bg-color-primary                          : var(--md-sys-color-primary, light-dark(#000000, #ffffff));
    --_bg-color-on-primary                       : var(--md-sys-color-on-primary, light-dark(#bef36f, #111f00));
    --_bg-color-primary-container                : var(--md-sys-color-primary-container, light-dark(#2a4200, #b0e563));
    --_bg-color-on-primary-container             : var(--md-sys-color-on-primary-container, light-dark(#ffffff, #000000));
    --_bg-color-inverse-primary                  : var(--md-sys-color-inverse-primary, light-dark(#a3d656, #446900));
    --_bg-color-secondary                        : var(--md-sys-color-secondary, light-dark(#516533, #b7cf93));
    --_bg-color-on-secondary                     : var(--md-sys-color-on-secondary, light-dark(#ffffff, #111f00));
    --_bg-color-secondary-container              : var(--md-sys-color-secondary-container, light-dark(#c5dda0, #3a4d1e));
    --_bg-color-on-secondary-container           : var(--md-sys-color-on-secondary-container, light-dark(#111f00, #d3ebad));
    --_bg-color-tertiary                         : var(--md-sys-color-tertiary, light-dark(#00452e, #8df7c5));
    --_bg-color-on-tertiary                      : var(--md-sys-color-on-tertiary, light-dark(#8df7c5, #002114));
    --_bg-color-tertiary-container               : var(--md-sys-color-tertiary-container, light-dark(#00855c, #33a376));
    --_bg-color-on-tertiary-container            : var(--md-sys-color-on-tertiary-container, light-dark(#ffffff, #000000));
    --_bg-color-error                            : var(--md-sys-color-error, light-dark(#ba1a1a, #ffb4ab));
    --_bg-color-on-error                         : var(--md-sys-color-on-error, light-dark(#ffffff, #690005));
    --_bg-color-error-container                  : var(--md-sys-color-error-container, light-dark(#ffdad6, #93000a));
    --_bg-color-on-error-container               : var(--md-sys-color-on-error-container, light-dark(#410002, #ffdad6));
    --_bg-color-primary-fixed                    : var(--md-sys-color-primary-fixed, light-dark(#446900, #446900));
    --_bg-color-primary-fixed-dim                : var(--md-sys-color-primary-fixed-dim, light-dark(#324f00, #324f00));
    --_bg-color-on-primary-fixed                 : var(--md-sys-color-on-primary-fixed, light-dark(#ffffff, #ffffff));
    --_bg-color-on-primary-fixed-variant         : var(--md-sys-color-on-primary-fixed-variant, light-dark(#bef36f, #bef36f));
    --_bg-color-secondary-fixed                  : var(--md-sys-color-secondary-fixed, light-dark(#b7cf93, #b7cf93));
    --_bg-color-secondary-fixed-dim              : var(--md-sys-color-secondary-fixed-dim, light-dark(#9db37a, #9db37a));
    --_bg-color-on-secondary-fixed               : var(--md-sys-color-on-secondary-fixed, light-dark(#111f00, #111f00));
    --_bg-color-on-secondary-fixed-variant       : var(--md-sys-color-on-secondary-fixed-variant, light-dark(#2f4114, #2f4114));
    --_bg-color-tertiary-fixed                   : var(--md-sys-color-tertiary-fixed, light-dark(#006c4a, #006c4a));
    --_bg-color-tertiary-fixed-dim               : var(--md-sys-color-tertiary-fixed-dim, light-dark(#005237, #005237));
    --_bg-color-on-tertiary-fixed                : var(--md-sys-color-on-tertiary-fixed, light-dark(#ffffff, #ffffff));
    --_bg-color-on-tertiary-fixed-variant        : var(--md-sys-color-on-tertiary-fixed-variant, light-dark(#8df7c5, #8df7c5));
}

@utility bg-primary-palette-key-color {background: var(--_bg-color-primary-palette-key-color);}
@utility bg-secondary-palette-key-color {background: var(--_bg-color-secondary-palette-key-color);}
@utility bg-tertiary-palette-key-color {background: var(--_bg-color-tertiary-palette-key-color);}
@utility bg-neutral-palette-key-color {background: var(--_bg-color-neutral-palette-key-color);}
@utility bg-neutral-variant-palette-key-color {background: var(--_bg-color-neutral-variant-palette-key-color);}
@utility bg-background {background: var(--_bg-color-background);}
@utility bg-on-background {background: var(--_bg-color-on-background);}
@utility bg-surface {background: var(--_bg-color-surface);}
@utility bg-surface-dim {background: var(--_bg-color-surface-dim);}
@utility bg-surface-bright {background: var(--_bg-color-surface-bright);}
@utility bg-surface-container-lowest {background: var(--_bg-color-surface-container-lowest);}
@utility bg-surface-container-low {background: var(--_bg-color-surface-container-low);}
@utility bg-surface-container {background: var(--_bg-color-surface-container);}
@utility bg-surface-container-high {background: var(--_bg-color-surface-container-high);}
@utility bg-surface-container-highest {background: var(--_bg-color-surface-container-highest);}
@utility bg-on-surface {background: var(--_bg-color-on-surface);}
@utility bg-surface-variant {background: var(--_bg-color-surface-variant);}
@utility bg-on-surface-variant {background: var(--_bg-color-on-surface-variant);}
@utility bg-inverse-surface {background: var(--_bg-color-inverse-surface);}
@utility bg-inverse-on-surface {background: var(--_bg-color-inverse-on-surface);}
@utility bg-outline {background: var(--_bg-color-outline);}
@utility bg-outline-variant {background: var(--_bg-color-outline-variant);}
@utility bg-shadow {background: var(--_bg-color-shadow);}
@utility bg-scrim {background: var(--_bg-color-scrim);}
@utility bg-surface-tint {background: var(--_bg-color-surface-tint);}
@utility bg-primary {background: var(--_bg-color-primary);}
@utility bg-on-primary {background: var(--_bg-color-on-primary);}
@utility bg-primary-container {background: var(--_bg-color-primary-container);}
@utility bg-on-primary-container {background: var(--_bg-color-on-primary-container);}
@utility bg-inverse-primary {background: var(--_bg-color-inverse-primary);}
@utility bg-secondary {background: var(--_bg-color-secondary);}
@utility bg-on-secondary {background: var(--_bg-color-on-secondary);}
@utility bg-secondary-container {background: var(--_bg-color-secondary-container);}
@utility bg-on-secondary-container {background: var(--_bg-color-on-secondary-container);}
@utility bg-tertiary {background: var(--_bg-color-tertiary);}
@utility bg-on-tertiary {background: var(--_bg-color-on-tertiary);}
@utility bg-tertiary-container {background: var(--_bg-color-tertiary-container);}
@utility bg-on-tertiary-container {background: var(--_bg-color-on-tertiary-container);}
@utility bg-error {background: var(--_bg-color-error);}
@utility bg-on-error {background: var(--_bg-color-on-error);}
@utility bg-error-container {background: var(--_bg-color-error-container);}
@utility bg-on-error-container {background: var(--_bg-color-on-error-container);}
@utility bg-primary-fixed {background: var(--_bg-color-primary-fixed);}
@utility bg-primary-fixed-dim {background: var(--_bg-color-primary-fixed-dim);}
@utility bg-on-primary-fixed {background: var(--_bg-color-on-primary-fixed);}
@utility bg-on-primary-fixed-variant {background: var(--_bg-color-on-primary-fixed-variant);}
@utility bg-secondary-fixed {background: var(--_bg-color-secondary-fixed);}
@utility bg-secondary-fixed-dim {background: var(--_bg-color-secondary-fixed-dim);}
@utility bg-on-secondary-fixed {background: var(--_bg-color-on-secondary-fixed);}
@utility bg-on-secondary-fixed-variant {background: var(--_bg-color-on-secondary-fixed-variant);}
@utility bg-tertiary-fixed {background: var(--_bg-color-tertiary-fixed);}
@utility bg-tertiary-fixed-dim {background: var(--_bg-color-tertiary-fixed-dim);}
@utility bg-on-tertiary-fixed {background: var(--_bg-color-on-tertiary-fixed);}
@utility bg-on-tertiary-fixed-variant {background: var(--_bg-color-on-tertiary-fixed-variant);}