:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000501;
    --md-ref-palette-primary-2: #000a02;
    --md-ref-palette-primary-3: #000e02;
    --md-ref-palette-primary-4: #001203;
    --md-ref-palette-primary-5: #001504;
    --md-ref-palette-primary-6: #001805;
    --md-ref-palette-primary-7: #001b06;
    --md-ref-palette-primary-8: #001d06;
    --md-ref-palette-primary-9: #001f07;
    --md-ref-palette-primary-10: #002108;
    --md-ref-palette-primary-11: #002409;
    --md-ref-palette-primary-12: #00260a;
    --md-ref-palette-primary-13: #00280b;
    --md-ref-palette-primary-14: #002b0c;
    --md-ref-palette-primary-15: #002d0e;
    --md-ref-palette-primary-16: #002f0f;
    --md-ref-palette-primary-17: #003210;
    --md-ref-palette-primary-18: #003411;
    --md-ref-palette-primary-19: #003712;
    --md-ref-palette-primary-20: #003913;
    --md-ref-palette-primary-21: #003c14;
    --md-ref-palette-primary-22: #003e16;
    --md-ref-palette-primary-23: #004117;
    --md-ref-palette-primary-24: #004318;
    --md-ref-palette-primary-25: #004619;
    --md-ref-palette-primary-26: #00481a;
    --md-ref-palette-primary-27: #004b1c;
    --md-ref-palette-primary-28: #004d1d;
    --md-ref-palette-primary-29: #00501e;
    --md-ref-palette-primary-30: #00531f;
    --md-ref-palette-primary-31: #005520;
    --md-ref-palette-primary-32: #005822;
    --md-ref-palette-primary-33: #005b23;
    --md-ref-palette-primary-34: #005d24;
    --md-ref-palette-primary-35: #046026;
    --md-ref-palette-primary-36: #096228;
    --md-ref-palette-primary-37: #0e652b;
    --md-ref-palette-primary-38: #12672d;
    --md-ref-palette-primary-39: #166a2f;
    --md-ref-palette-primary-40: #1a6c31;
    --md-ref-palette-primary-41: #1d6f33;
    --md-ref-palette-primary-42: #207236;
    --md-ref-palette-primary-43: #247438;
    --md-ref-palette-primary-44: #27773a;
    --md-ref-palette-primary-45: #29793c;
    --md-ref-palette-primary-46: #2c7c3f;
    --md-ref-palette-primary-47: #2f7e41;
    --md-ref-palette-primary-48: #328143;
    --md-ref-palette-primary-49: #358445;
    --md-ref-palette-primary-50: #388648;
    --md-ref-palette-primary-51: #3a894a;
    --md-ref-palette-primary-52: #3d8c4c;
    --md-ref-palette-primary-53: #408e4f;
    --md-ref-palette-primary-54: #429151;
    --md-ref-palette-primary-55: #459453;
    --md-ref-palette-primary-56: #489656;
    --md-ref-palette-primary-57: #4a9958;
    --md-ref-palette-primary-58: #4d9c5a;
    --md-ref-palette-primary-59: #509e5d;
    --md-ref-palette-primary-60: #52a15f;
    --md-ref-palette-primary-61: #55a461;
    --md-ref-palette-primary-62: #58a664;
    --md-ref-palette-primary-63: #5aa966;
    --md-ref-palette-primary-64: #5dac69;
    --md-ref-palette-primary-65: #60af6b;
    --md-ref-palette-primary-66: #62b16e;
    --md-ref-palette-primary-67: #65b470;
    --md-ref-palette-primary-68: #68b772;
    --md-ref-palette-primary-69: #6aba75;
    --md-ref-palette-primary-70: #6dbc77;
    --md-ref-palette-primary-71: #70bf7a;
    --md-ref-palette-primary-72: #72c27c;
    --md-ref-palette-primary-73: #75c57f;
    --md-ref-palette-primary-74: #78c881;
    --md-ref-palette-primary-75: #7aca84;
    --md-ref-palette-primary-76: #7dcd86;
    --md-ref-palette-primary-77: #80d089;
    --md-ref-palette-primary-78: #82d38b;
    --md-ref-palette-primary-79: #85d68e;
    --md-ref-palette-primary-80: #88d991;
    --md-ref-palette-primary-81: #8adb93;
    --md-ref-palette-primary-82: #8dde96;
    --md-ref-palette-primary-83: #90e198;
    --md-ref-palette-primary-84: #93e49b;
    --md-ref-palette-primary-85: #95e79d;
    --md-ref-palette-primary-86: #98eaa0;
    --md-ref-palette-primary-87: #9beda3;
    --md-ref-palette-primary-88: #9ef0a5;
    --md-ref-palette-primary-89: #a0f3a8;
    --md-ref-palette-primary-90: #a3f5aa;
    --md-ref-palette-primary-91: #a6f8ad;
    --md-ref-palette-primary-92: #a9fbb0;
    --md-ref-palette-primary-93: #abfeb2;
    --md-ref-palette-primary-94: #b8ffbc;
    --md-ref-palette-primary-95: #c6ffc7;
    --md-ref-palette-primary-96: #d3ffd2;
    --md-ref-palette-primary-97: #dfffdd;
    --md-ref-palette-primary-98: #ebffe7;
    --md-ref-palette-primary-99: #f6fff1;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #0a0200;
    --md-ref-palette-secondary-2: #120400;
    --md-ref-palette-secondary-3: #180600;
    --md-ref-palette-secondary-4: #1d0800;
    --md-ref-palette-secondary-5: #220a00;
    --md-ref-palette-secondary-6: #250c00;
    --md-ref-palette-secondary-7: #290e00;
    --md-ref-palette-secondary-8: #2c1000;
    --md-ref-palette-secondary-9: #2e1201;
    --md-ref-palette-secondary-10: #311302;
    --md-ref-palette-secondary-11: #331502;
    --md-ref-palette-secondary-12: #361703;
    --md-ref-palette-secondary-13: #381905;
    --md-ref-palette-secondary-14: #3b1b06;
    --md-ref-palette-secondary-15: #3d1d08;
    --md-ref-palette-secondary-16: #401f09;
    --md-ref-palette-secondary-17: #42210b;
    --md-ref-palette-secondary-18: #45240d;
    --md-ref-palette-secondary-19: #47260f;
    --md-ref-palette-secondary-20: #4a2811;
    --md-ref-palette-secondary-21: #4c2a13;
    --md-ref-palette-secondary-22: #4f2c15;
    --md-ref-palette-secondary-23: #522e17;
    --md-ref-palette-secondary-24: #543019;
    --md-ref-palette-secondary-25: #57321b;
    --md-ref-palette-secondary-26: #59351d;
    --md-ref-palette-secondary-27: #5c371f;
    --md-ref-palette-secondary-28: #5f3921;
    --md-ref-palette-secondary-29: #613b23;
    --md-ref-palette-secondary-30: #643d25;
    --md-ref-palette-secondary-31: #674027;
    --md-ref-palette-secondary-32: #694229;
    --md-ref-palette-secondary-33: #6c442b;
    --md-ref-palette-secondary-34: #6f472d;
    --md-ref-palette-secondary-35: #724930;
    --md-ref-palette-secondary-36: #744b32;
    --md-ref-palette-secondary-37: #774d34;
    --md-ref-palette-secondary-38: #7a5036;
    --md-ref-palette-secondary-39: #7c5238;
    --md-ref-palette-secondary-40: #7f553a;
    --md-ref-palette-secondary-41: #82573c;
    --md-ref-palette-secondary-42: #85593f;
    --md-ref-palette-secondary-43: #875c41;
    --md-ref-palette-secondary-44: #8a5e43;
    --md-ref-palette-secondary-45: #8d6045;
    --md-ref-palette-secondary-46: #906348;
    --md-ref-palette-secondary-47: #93654a;
    --md-ref-palette-secondary-48: #95684c;
    --md-ref-palette-secondary-49: #986a4e;
    --md-ref-palette-secondary-50: #9b6d51;
    --md-ref-palette-secondary-51: #9e6f53;
    --md-ref-palette-secondary-52: #a17255;
    --md-ref-palette-secondary-53: #a37458;
    --md-ref-palette-secondary-54: #a6775a;
    --md-ref-palette-secondary-55: #a9795c;
    --md-ref-palette-secondary-56: #ac7c5f;
    --md-ref-palette-secondary-57: #af7e61;
    --md-ref-palette-secondary-58: #b28164;
    --md-ref-palette-secondary-59: #b58366;
    --md-ref-palette-secondary-60: #b78668;
    --md-ref-palette-secondary-61: #ba886b;
    --md-ref-palette-secondary-62: #bd8b6d;
    --md-ref-palette-secondary-63: #c08d70;
    --md-ref-palette-secondary-64: #c39072;
    --md-ref-palette-secondary-65: #c69374;
    --md-ref-palette-secondary-66: #c99577;
    --md-ref-palette-secondary-67: #cc9879;
    --md-ref-palette-secondary-68: #cf9b7c;
    --md-ref-palette-secondary-69: #d29d7e;
    --md-ref-palette-secondary-70: #d5a081;
    --md-ref-palette-secondary-71: #d8a283;
    --md-ref-palette-secondary-72: #dba586;
    --md-ref-palette-secondary-73: #dea888;
    --md-ref-palette-secondary-74: #e1aa8b;
    --md-ref-palette-secondary-75: #e4ad8d;
    --md-ref-palette-secondary-76: #e7b090;
    --md-ref-palette-secondary-77: #eab293;
    --md-ref-palette-secondary-78: #edb595;
    --md-ref-palette-secondary-79: #f0b898;
    --md-ref-palette-secondary-80: #f3bb9a;
    --md-ref-palette-secondary-81: #f6bd9d;
    --md-ref-palette-secondary-82: #f9c09f;
    --md-ref-palette-secondary-83: #fcc3a2;
    --md-ref-palette-secondary-84: #ffc6a5;
    --md-ref-palette-secondary-85: #ffc9aa;
    --md-ref-palette-secondary-86: #ffcdb0;
    --md-ref-palette-secondary-87: #ffd0b6;
    --md-ref-palette-secondary-88: #ffd4bc;
    --md-ref-palette-secondary-89: #ffd8c2;
    --md-ref-palette-secondary-90: #ffdbc8;
    --md-ref-palette-secondary-91: #ffdfce;
    --md-ref-palette-secondary-92: #ffe3d4;
    --md-ref-palette-secondary-93: #ffe6d9;
    --md-ref-palette-secondary-94: #ffeadf;
    --md-ref-palette-secondary-95: #ffede5;
    --md-ref-palette-secondary-96: #fff1ea;
    --md-ref-palette-secondary-97: #fff4f0;
    --md-ref-palette-secondary-98: #fff8f5;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0b0200;
    --md-ref-palette-tertiary-2: #140400;
    --md-ref-palette-tertiary-3: #1a0500;
    --md-ref-palette-tertiary-4: #1f0700;
    --md-ref-palette-tertiary-5: #230900;
    --md-ref-palette-tertiary-6: #270b00;
    --md-ref-palette-tertiary-7: #2b0c00;
    --md-ref-palette-tertiary-8: #2e0e00;
    --md-ref-palette-tertiary-9: #310f00;
    --md-ref-palette-tertiary-10: #341100;
    --md-ref-palette-tertiary-11: #371200;
    --md-ref-palette-tertiary-12: #3b1400;
    --md-ref-palette-tertiary-13: #3e1500;
    --md-ref-palette-tertiary-14: #411700;
    --md-ref-palette-tertiary-15: #451800;
    --md-ref-palette-tertiary-16: #481a00;
    --md-ref-palette-tertiary-17: #4b1b00;
    --md-ref-palette-tertiary-18: #4f1d00;
    --md-ref-palette-tertiary-19: #521e00;
    --md-ref-palette-tertiary-20: #562000;
    --md-ref-palette-tertiary-21: #592200;
    --md-ref-palette-tertiary-22: #5c2300;
    --md-ref-palette-tertiary-23: #602500;
    --md-ref-palette-tertiary-24: #642600;
    --md-ref-palette-tertiary-25: #672800;
    --md-ref-palette-tertiary-26: #6b2a00;
    --md-ref-palette-tertiary-27: #6e2b00;
    --md-ref-palette-tertiary-28: #722d00;
    --md-ref-palette-tertiary-29: #762f00;
    --md-ref-palette-tertiary-30: #793000;
    --md-ref-palette-tertiary-31: #7c3301;
    --md-ref-palette-tertiary-32: #803503;
    --md-ref-palette-tertiary-33: #833705;
    --md-ref-palette-tertiary-34: #863908;
    --md-ref-palette-tertiary-35: #893b0a;
    --md-ref-palette-tertiary-36: #8c3e0d;
    --md-ref-palette-tertiary-37: #8f4010;
    --md-ref-palette-tertiary-38: #924212;
    --md-ref-palette-tertiary-39: #954514;
    --md-ref-palette-tertiary-40: #984717;
    --md-ref-palette-tertiary-41: #9b4919;
    --md-ref-palette-tertiary-42: #9e4c1b;
    --md-ref-palette-tertiary-43: #a14e1e;
    --md-ref-palette-tertiary-44: #a55020;
    --md-ref-palette-tertiary-45: #a85322;
    --md-ref-palette-tertiary-46: #ab5524;
    --md-ref-palette-tertiary-47: #ae5727;
    --md-ref-palette-tertiary-48: #b15a29;
    --md-ref-palette-tertiary-49: #b45c2b;
    --md-ref-palette-tertiary-50: #b75f2d;
    --md-ref-palette-tertiary-51: #ba6130;
    --md-ref-palette-tertiary-52: #be6332;
    --md-ref-palette-tertiary-53: #c16634;
    --md-ref-palette-tertiary-54: #c46836;
    --md-ref-palette-tertiary-55: #c76b38;
    --md-ref-palette-tertiary-56: #ca6d3b;
    --md-ref-palette-tertiary-57: #cd703d;
    --md-ref-palette-tertiary-58: #d1723f;
    --md-ref-palette-tertiary-59: #d47542;
    --md-ref-palette-tertiary-60: #d77744;
    --md-ref-palette-tertiary-61: #da7a46;
    --md-ref-palette-tertiary-62: #dd7c48;
    --md-ref-palette-tertiary-63: #e17f4b;
    --md-ref-palette-tertiary-64: #e4814d;
    --md-ref-palette-tertiary-65: #e7844f;
    --md-ref-palette-tertiary-66: #ea8652;
    --md-ref-palette-tertiary-67: #ed8954;
    --md-ref-palette-tertiary-68: #f18c56;
    --md-ref-palette-tertiary-69: #f48e59;
    --md-ref-palette-tertiary-70: #f7915b;
    --md-ref-palette-tertiary-71: #fa935d;
    --md-ref-palette-tertiary-72: #fe9660;
    --md-ref-palette-tertiary-73: #ff9a65;
    --md-ref-palette-tertiary-74: #ff9e6c;
    --md-ref-palette-tertiary-75: #ffa272;
    --md-ref-palette-tertiary-76: #ffa679;
    --md-ref-palette-tertiary-77: #ffaa7f;
    --md-ref-palette-tertiary-78: #ffae86;
    --md-ref-palette-tertiary-79: #ffb28c;
    --md-ref-palette-tertiary-80: #ffb692;
    --md-ref-palette-tertiary-81: #ffba98;
    --md-ref-palette-tertiary-82: #ffbd9e;
    --md-ref-palette-tertiary-83: #ffc1a4;
    --md-ref-palette-tertiary-84: #ffc5aa;
    --md-ref-palette-tertiary-85: #ffc9af;
    --md-ref-palette-tertiary-86: #ffccb5;
    --md-ref-palette-tertiary-87: #ffd0bb;
    --md-ref-palette-tertiary-88: #ffd4c0;
    --md-ref-palette-tertiary-89: #ffd7c6;
    --md-ref-palette-tertiary-90: #ffdbcb;
    --md-ref-palette-tertiary-91: #ffdfd1;
    --md-ref-palette-tertiary-92: #ffe2d6;
    --md-ref-palette-tertiary-93: #ffe6db;
    --md-ref-palette-tertiary-94: #ffeae1;
    --md-ref-palette-tertiary-95: #ffede6;
    --md-ref-palette-tertiary-96: #fff1eb;
    --md-ref-palette-tertiary-97: #fff4f0;
    --md-ref-palette-tertiary-98: #fff8f6;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #0e0100;
    --md-ref-palette-error-2: #180100;
    --md-ref-palette-error-3: #1f0200;
    --md-ref-palette-error-4: #250300;
    --md-ref-palette-error-5: #290300;
    --md-ref-palette-error-6: #2e0400;
    --md-ref-palette-error-7: #320500;
    --md-ref-palette-error-8: #350500;
    --md-ref-palette-error-9: #390600;
    --md-ref-palette-error-10: #3d0700;
    --md-ref-palette-error-11: #400800;
    --md-ref-palette-error-12: #440800;
    --md-ref-palette-error-13: #480900;
    --md-ref-palette-error-14: #4b0a00;
    --md-ref-palette-error-15: #4f0b00;
    --md-ref-palette-error-16: #530c00;
    --md-ref-palette-error-17: #570d00;
    --md-ref-palette-error-18: #5a0e00;
    --md-ref-palette-error-19: #5e0f00;
    --md-ref-palette-error-20: #621100;
    --md-ref-palette-error-21: #661200;
    --md-ref-palette-error-22: #6a1300;
    --md-ref-palette-error-23: #6e1400;
    --md-ref-palette-error-24: #721500;
    --md-ref-palette-error-25: #761600;
    --md-ref-palette-error-26: #7a1700;
    --md-ref-palette-error-27: #7e1800;
    --md-ref-palette-error-28: #821a01;
    --md-ref-palette-error-29: #851d03;
    --md-ref-palette-error-30: #881f05;
    --md-ref-palette-error-31: #8b2107;
    --md-ref-palette-error-32: #8f2409;
    --md-ref-palette-error-33: #92260b;
    --md-ref-palette-error-34: #95290e;
    --md-ref-palette-error-35: #992b10;
    --md-ref-palette-error-36: #9c2d12;
    --md-ref-palette-error-37: #9f3015;
    --md-ref-palette-error-38: #a33217;
    --md-ref-palette-error-39: #a63419;
    --md-ref-palette-error-40: #a9371b;
    --md-ref-palette-error-41: #ad391d;
    --md-ref-palette-error-42: #b03b20;
    --md-ref-palette-error-43: #b33e22;
    --md-ref-palette-error-44: #b74024;
    --md-ref-palette-error-45: #ba4326;
    --md-ref-palette-error-46: #bd4528;
    --md-ref-palette-error-47: #c1472a;
    --md-ref-palette-error-48: #c44a2d;
    --md-ref-palette-error-49: #c74c2f;
    --md-ref-palette-error-50: #cb4f31;
    --md-ref-palette-error-51: #ce5133;
    --md-ref-palette-error-52: #d25335;
    --md-ref-palette-error-53: #d55638;
    --md-ref-palette-error-54: #d8583a;
    --md-ref-palette-error-55: #dc5b3c;
    --md-ref-palette-error-56: #df5d3e;
    --md-ref-palette-error-57: #e26040;
    --md-ref-palette-error-58: #e66243;
    --md-ref-palette-error-59: #e96545;
    --md-ref-palette-error-60: #ed6747;
    --md-ref-palette-error-61: #f06a49;
    --md-ref-palette-error-62: #f36c4c;
    --md-ref-palette-error-63: #f76f4e;
    --md-ref-palette-error-64: #fa7150;
    --md-ref-palette-error-65: #fe7453;
    --md-ref-palette-error-66: #ff7857;
    --md-ref-palette-error-67: #ff7d5d;
    --md-ref-palette-error-68: #ff8163;
    --md-ref-palette-error-69: #ff8669;
    --md-ref-palette-error-70: #ff8b6f;
    --md-ref-palette-error-71: #ff8f74;
    --md-ref-palette-error-72: #ff9379;
    --md-ref-palette-error-73: #ff987f;
    --md-ref-palette-error-74: #ff9c84;
    --md-ref-palette-error-75: #ffa089;
    --md-ref-palette-error-76: #ffa48e;
    --md-ref-palette-error-77: #ffa894;
    --md-ref-palette-error-78: #ffac99;
    --md-ref-palette-error-79: #ffb09e;
    --md-ref-palette-error-80: #ffb4a3;
    --md-ref-palette-error-81: #ffb8a7;
    --md-ref-palette-error-82: #ffbcac;
    --md-ref-palette-error-83: #ffc0b1;
    --md-ref-palette-error-84: #ffc4b6;
    --md-ref-palette-error-85: #ffc8bb;
    --md-ref-palette-error-86: #ffcbbf;
    --md-ref-palette-error-87: #ffcfc4;
    --md-ref-palette-error-88: #ffd3c9;
    --md-ref-palette-error-89: #ffd7cd;
    --md-ref-palette-error-90: #ffdad2;
    --md-ref-palette-error-91: #ffded7;
    --md-ref-palette-error-92: #ffe2db;
    --md-ref-palette-error-93: #ffe6e0;
    --md-ref-palette-error-94: #ffe9e4;
    --md-ref-palette-error-95: #ffede9;
    --md-ref-palette-error-96: #fff0ed;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f6;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #000502;
    --md-ref-palette-neutral-2: #000a04;
    --md-ref-palette-neutral-3: #000e05;
    --md-ref-palette-neutral-4: #001207;
    --md-ref-palette-neutral-5: #001509;
    --md-ref-palette-neutral-6: #02170b;
    --md-ref-palette-neutral-7: #031a0d;
    --md-ref-palette-neutral-8: #051c0f;
    --md-ref-palette-neutral-9: #061e11;
    --md-ref-palette-neutral-10: #082013;
    --md-ref-palette-neutral-11: #0a2215;
    --md-ref-palette-neutral-12: #0d2417;
    --md-ref-palette-neutral-13: #0f2619;
    --md-ref-palette-neutral-14: #11281b;
    --md-ref-palette-neutral-15: #132a1d;
    --md-ref-palette-neutral-16: #152d1f;
    --md-ref-palette-neutral-17: #172f21;
    --md-ref-palette-neutral-18: #1a3123;
    --md-ref-palette-neutral-19: #1c3325;
    --md-ref-palette-neutral-20: #1e3527;
    --md-ref-palette-neutral-21: #203729;
    --md-ref-palette-neutral-22: #223a2b;
    --md-ref-palette-neutral-23: #253c2d;
    --md-ref-palette-neutral-24: #273e2f;
    --md-ref-palette-neutral-25: #294032;
    --md-ref-palette-neutral-26: #2b4334;
    --md-ref-palette-neutral-27: #2d4536;
    --md-ref-palette-neutral-28: #304738;
    --md-ref-palette-neutral-29: #324a3a;
    --md-ref-palette-neutral-30: #344c3d;
    --md-ref-palette-neutral-31: #364e3f;
    --md-ref-palette-neutral-32: #395141;
    --md-ref-palette-neutral-33: #3b5343;
    --md-ref-palette-neutral-34: #3d5546;
    --md-ref-palette-neutral-35: #405848;
    --md-ref-palette-neutral-36: #425a4a;
    --md-ref-palette-neutral-37: #445d4c;
    --md-ref-palette-neutral-38: #475f4f;
    --md-ref-palette-neutral-39: #496251;
    --md-ref-palette-neutral-40: #4b6453;
    --md-ref-palette-neutral-41: #4e6656;
    --md-ref-palette-neutral-42: #506958;
    --md-ref-palette-neutral-43: #536b5b;
    --md-ref-palette-neutral-44: #556e5d;
    --md-ref-palette-neutral-45: #57705f;
    --md-ref-palette-neutral-46: #5a7362;
    --md-ref-palette-neutral-47: #5c7564;
    --md-ref-palette-neutral-48: #5f7867;
    --md-ref-palette-neutral-49: #617a69;
    --md-ref-palette-neutral-50: #647d6b;
    --md-ref-palette-neutral-51: #66806e;
    --md-ref-palette-neutral-52: #698270;
    --md-ref-palette-neutral-53: #6b8573;
    --md-ref-palette-neutral-54: #6e8775;
    --md-ref-palette-neutral-55: #708a78;
    --md-ref-palette-neutral-56: #738c7a;
    --md-ref-palette-neutral-57: #758f7d;
    --md-ref-palette-neutral-58: #78927f;
    --md-ref-palette-neutral-59: #7a9482;
    --md-ref-palette-neutral-60: #7d9784;
    --md-ref-palette-neutral-61: #809a87;
    --md-ref-palette-neutral-62: #829c89;
    --md-ref-palette-neutral-63: #859f8c;
    --md-ref-palette-neutral-64: #87a18f;
    --md-ref-palette-neutral-65: #8aa491;
    --md-ref-palette-neutral-66: #8da794;
    --md-ref-palette-neutral-67: #8faa96;
    --md-ref-palette-neutral-68: #92ac99;
    --md-ref-palette-neutral-69: #94af9c;
    --md-ref-palette-neutral-70: #97b29e;
    --md-ref-palette-neutral-71: #9ab4a1;
    --md-ref-palette-neutral-72: #9cb7a4;
    --md-ref-palette-neutral-73: #9fbaa6;
    --md-ref-palette-neutral-74: #a2bda9;
    --md-ref-palette-neutral-75: #a4bfab;
    --md-ref-palette-neutral-76: #a7c2ae;
    --md-ref-palette-neutral-77: #aac5b1;
    --md-ref-palette-neutral-78: #adc8b3;
    --md-ref-palette-neutral-79: #afcab6;
    --md-ref-palette-neutral-80: #b2cdb9;
    --md-ref-palette-neutral-81: #b5d0bc;
    --md-ref-palette-neutral-82: #b7d3be;
    --md-ref-palette-neutral-83: #bad6c1;
    --md-ref-palette-neutral-84: #bdd8c4;
    --md-ref-palette-neutral-85: #c0dbc6;
    --md-ref-palette-neutral-86: #c2dec9;
    --md-ref-palette-neutral-87: #c5e1cc;
    --md-ref-palette-neutral-88: #c8e4cf;
    --md-ref-palette-neutral-89: #cbe6d2;
    --md-ref-palette-neutral-90: #cee9d4;
    --md-ref-palette-neutral-91: #d0ecd7;
    --md-ref-palette-neutral-92: #d3efda;
    --md-ref-palette-neutral-93: #d6f2dd;
    --md-ref-palette-neutral-94: #d9f5df;
    --md-ref-palette-neutral-95: #dcf8e2;
    --md-ref-palette-neutral-96: #dffbe5;
    --md-ref-palette-neutral-97: #e1fde8;
    --md-ref-palette-neutral-98: #e9ffed;
    --md-ref-palette-neutral-99: #f5fff4;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #000502;
    --md-ref-palette-neutral-variant-2: #000a04;
    --md-ref-palette-neutral-variant-3: #000e05;
    --md-ref-palette-neutral-variant-4: #001207;
    --md-ref-palette-neutral-variant-5: #001509;
    --md-ref-palette-neutral-variant-6: #00180b;
    --md-ref-palette-neutral-variant-7: #001a0c;
    --md-ref-palette-neutral-variant-8: #001d0e;
    --md-ref-palette-neutral-variant-9: #001f0f;
    --md-ref-palette-neutral-variant-10: #002111;
    --md-ref-palette-neutral-variant-11: #002312;
    --md-ref-palette-neutral-variant-12: #002614;
    --md-ref-palette-neutral-variant-13: #002815;
    --md-ref-palette-neutral-variant-14: #002a17;
    --md-ref-palette-neutral-variant-15: #002d18;
    --md-ref-palette-neutral-variant-16: #002f1a;
    --md-ref-palette-neutral-variant-17: #00311b;
    --md-ref-palette-neutral-variant-18: #00341d;
    --md-ref-palette-neutral-variant-19: #00361e;
    --md-ref-palette-neutral-variant-20: #003920;
    --md-ref-palette-neutral-variant-21: #003b22;
    --md-ref-palette-neutral-variant-22: #003e23;
    --md-ref-palette-neutral-variant-23: #004025;
    --md-ref-palette-neutral-variant-24: #004327;
    --md-ref-palette-neutral-variant-25: #004528;
    --md-ref-palette-neutral-variant-26: #00482a;
    --md-ref-palette-neutral-variant-27: #004a2c;
    --md-ref-palette-neutral-variant-28: #004d2d;
    --md-ref-palette-neutral-variant-29: #004f2f;
    --md-ref-palette-neutral-variant-30: #005231;
    --md-ref-palette-neutral-variant-31: #005432;
    --md-ref-palette-neutral-variant-32: #005734;
    --md-ref-palette-neutral-variant-33: #005a36;
    --md-ref-palette-neutral-variant-34: #005c37;
    --md-ref-palette-neutral-variant-35: #005f39;
    --md-ref-palette-neutral-variant-36: #00623b;
    --md-ref-palette-neutral-variant-37: #05643d;
    --md-ref-palette-neutral-variant-38: #0b673f;
    --md-ref-palette-neutral-variant-39: #106942;
    --md-ref-palette-neutral-variant-40: #156c44;
    --md-ref-palette-neutral-variant-41: #186e46;
    --md-ref-palette-neutral-variant-42: #1c7149;
    --md-ref-palette-neutral-variant-43: #20734b;
    --md-ref-palette-neutral-variant-44: #23764d;
    --md-ref-palette-neutral-variant-45: #26794f;
    --md-ref-palette-neutral-variant-46: #297b52;
    --md-ref-palette-neutral-variant-47: #2c7e54;
    --md-ref-palette-neutral-variant-48: #2f8056;
    --md-ref-palette-neutral-variant-49: #328359;
    --md-ref-palette-neutral-variant-50: #35855b;
    --md-ref-palette-neutral-variant-51: #38885e;
    --md-ref-palette-neutral-variant-52: #3b8b60;
    --md-ref-palette-neutral-variant-53: #3d8d62;
    --md-ref-palette-neutral-variant-54: #409065;
    --md-ref-palette-neutral-variant-55: #439367;
    --md-ref-palette-neutral-variant-56: #46956a;
    --md-ref-palette-neutral-variant-57: #48986c;
    --md-ref-palette-neutral-variant-58: #4b9b6e;
    --md-ref-palette-neutral-variant-59: #4e9d71;
    --md-ref-palette-neutral-variant-60: #51a073;
    --md-ref-palette-neutral-variant-61: #53a376;
    --md-ref-palette-neutral-variant-62: #56a578;
    --md-ref-palette-neutral-variant-63: #59a87b;
    --md-ref-palette-neutral-variant-64: #5bab7d;
    --md-ref-palette-neutral-variant-65: #5eae80;
    --md-ref-palette-neutral-variant-66: #61b082;
    --md-ref-palette-neutral-variant-67: #64b385;
    --md-ref-palette-neutral-variant-68: #66b687;
    --md-ref-palette-neutral-variant-69: #69b98a;
    --md-ref-palette-neutral-variant-70: #6cbb8c;
    --md-ref-palette-neutral-variant-71: #6ebe8f;
    --md-ref-palette-neutral-variant-72: #71c192;
    --md-ref-palette-neutral-variant-73: #74c494;
    --md-ref-palette-neutral-variant-74: #76c697;
    --md-ref-palette-neutral-variant-75: #79c999;
    --md-ref-palette-neutral-variant-76: #7ccc9c;
    --md-ref-palette-neutral-variant-77: #7fcf9f;
    --md-ref-palette-neutral-variant-78: #81d2a1;
    --md-ref-palette-neutral-variant-79: #84d5a4;
    --md-ref-palette-neutral-variant-80: #87d7a6;
    --md-ref-palette-neutral-variant-81: #89daa9;
    --md-ref-palette-neutral-variant-82: #8cddac;
    --md-ref-palette-neutral-variant-83: #8fe0ae;
    --md-ref-palette-neutral-variant-84: #92e3b1;
    --md-ref-palette-neutral-variant-85: #94e6b4;
    --md-ref-palette-neutral-variant-86: #97e9b6;
    --md-ref-palette-neutral-variant-87: #9aebb9;
    --md-ref-palette-neutral-variant-88: #9deebc;
    --md-ref-palette-neutral-variant-89: #9ff1be;
    --md-ref-palette-neutral-variant-90: #a2f4c1;
    --md-ref-palette-neutral-variant-91: #a5f7c4;
    --md-ref-palette-neutral-variant-92: #a8fac7;
    --md-ref-palette-neutral-variant-93: #abfdc9;
    --md-ref-palette-neutral-variant-94: #b1ffcd;
    --md-ref-palette-neutral-variant-95: #c0ffd6;
    --md-ref-palette-neutral-variant-96: #cfffdd;
    --md-ref-palette-neutral-variant-97: #dcffe5;
    --md-ref-palette-neutral-variant-98: #e9ffed;
    --md-ref-palette-neutral-variant-99: #f5fff4;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
