:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000501;
    --md-ref-palette-primary-2: #000a02;
    --md-ref-palette-primary-3: #000e02;
    --md-ref-palette-primary-4: #001203;
    --md-ref-palette-primary-5: #001504;
    --md-ref-palette-primary-10: #002108;
    --md-ref-palette-primary-20: #003913;
    --md-ref-palette-primary-30: #00531f;
    --md-ref-palette-primary-40: #1a6c31;
    --md-ref-palette-primary-50: #388648;
    --md-ref-palette-primary-60: #52a15f;
    --md-ref-palette-primary-70: #6dbc77;
    --md-ref-palette-primary-80: #88d991;
    --md-ref-palette-primary-90: #a3f5aa;
    --md-ref-palette-primary-95: #c6ffc7;
    --md-ref-palette-primary-96: #d3ffd2;
    --md-ref-palette-primary-97: #dfffdd;
    --md-ref-palette-primary-98: #ebffe7;
    --md-ref-palette-primary-99: #f6fff1;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #0a0200;
    --md-ref-palette-secondary-2: #120400;
    --md-ref-palette-secondary-3: #180600;
    --md-ref-palette-secondary-4: #1d0800;
    --md-ref-palette-secondary-5: #220a00;
    --md-ref-palette-secondary-10: #311302;
    --md-ref-palette-secondary-20: #4a2811;
    --md-ref-palette-secondary-30: #643d25;
    --md-ref-palette-secondary-40: #7f553a;
    --md-ref-palette-secondary-50: #9b6d51;
    --md-ref-palette-secondary-60: #b78668;
    --md-ref-palette-secondary-70: #d5a081;
    --md-ref-palette-secondary-80: #f3bb9a;
    --md-ref-palette-secondary-90: #ffdbc8;
    --md-ref-palette-secondary-95: #ffede5;
    --md-ref-palette-secondary-96: #fff1ea;
    --md-ref-palette-secondary-97: #fff4f0;
    --md-ref-palette-secondary-98: #fff8f5;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0b0200;
    --md-ref-palette-tertiary-2: #140400;
    --md-ref-palette-tertiary-3: #1a0500;
    --md-ref-palette-tertiary-4: #1f0700;
    --md-ref-palette-tertiary-5: #230900;
    --md-ref-palette-tertiary-10: #341100;
    --md-ref-palette-tertiary-20: #562000;
    --md-ref-palette-tertiary-30: #793000;
    --md-ref-palette-tertiary-40: #984717;
    --md-ref-palette-tertiary-50: #b75f2d;
    --md-ref-palette-tertiary-60: #d77744;
    --md-ref-palette-tertiary-70: #f7915b;
    --md-ref-palette-tertiary-80: #ffb692;
    --md-ref-palette-tertiary-90: #ffdbcb;
    --md-ref-palette-tertiary-95: #ffede6;
    --md-ref-palette-tertiary-96: #fff1eb;
    --md-ref-palette-tertiary-97: #fff4f0;
    --md-ref-palette-tertiary-98: #fff8f6;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #0e0100;
    --md-ref-palette-error-2: #180100;
    --md-ref-palette-error-3: #1f0200;
    --md-ref-palette-error-4: #250300;
    --md-ref-palette-error-5: #290300;
    --md-ref-palette-error-10: #3d0700;
    --md-ref-palette-error-20: #621100;
    --md-ref-palette-error-30: #881f05;
    --md-ref-palette-error-40: #a9371b;
    --md-ref-palette-error-50: #cb4f31;
    --md-ref-palette-error-60: #ed6747;
    --md-ref-palette-error-70: #ff8b6f;
    --md-ref-palette-error-80: #ffb4a3;
    --md-ref-palette-error-90: #ffdad2;
    --md-ref-palette-error-95: #ffede9;
    --md-ref-palette-error-96: #fff0ed;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f6;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #000502;
    --md-ref-palette-neutral-2: #000a04;
    --md-ref-palette-neutral-3: #000e05;
    --md-ref-palette-neutral-4: #001207;
    --md-ref-palette-neutral-5: #001509;
    --md-ref-palette-neutral-10: #082013;
    --md-ref-palette-neutral-20: #1e3527;
    --md-ref-palette-neutral-30: #344c3d;
    --md-ref-palette-neutral-40: #4b6453;
    --md-ref-palette-neutral-50: #647d6b;
    --md-ref-palette-neutral-60: #7d9784;
    --md-ref-palette-neutral-70: #97b29e;
    --md-ref-palette-neutral-80: #b2cdb9;
    --md-ref-palette-neutral-90: #cee9d4;
    --md-ref-palette-neutral-95: #dcf8e2;
    --md-ref-palette-neutral-96: #dffbe5;
    --md-ref-palette-neutral-97: #e1fde8;
    --md-ref-palette-neutral-98: #e9ffed;
    --md-ref-palette-neutral-99: #f5fff4;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #000502;
    --md-ref-palette-neutral-variant-2: #000a04;
    --md-ref-palette-neutral-variant-3: #000e05;
    --md-ref-palette-neutral-variant-4: #001207;
    --md-ref-palette-neutral-variant-5: #001509;
    --md-ref-palette-neutral-variant-10: #002111;
    --md-ref-palette-neutral-variant-20: #003920;
    --md-ref-palette-neutral-variant-30: #005231;
    --md-ref-palette-neutral-variant-40: #156c44;
    --md-ref-palette-neutral-variant-50: #35855b;
    --md-ref-palette-neutral-variant-60: #51a073;
    --md-ref-palette-neutral-variant-70: #6cbb8c;
    --md-ref-palette-neutral-variant-80: #87d7a6;
    --md-ref-palette-neutral-variant-90: #a2f4c1;
    --md-ref-palette-neutral-variant-95: #c0ffd6;
    --md-ref-palette-neutral-variant-96: #cfffdd;
    --md-ref-palette-neutral-variant-97: #dcffe5;
    --md-ref-palette-neutral-variant-98: #e9ffed;
    --md-ref-palette-neutral-variant-99: #f5fff4;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
