:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000501;
    --md-ref-palette-primary-2: #000a02;
    --md-ref-palette-primary-3: #000e02;
    --md-ref-palette-primary-4: #001203;
    --md-ref-palette-primary-5: #001504;
    --md-ref-palette-primary-6: #001805;
    --md-ref-palette-primary-7: #001b06;
    --md-ref-palette-primary-8: #001d06;
    --md-ref-palette-primary-9: #001f07;
    --md-ref-palette-primary-10: #002108;
    --md-ref-palette-primary-11: #002409;
    --md-ref-palette-primary-12: #00260a;
    --md-ref-palette-primary-13: #00280b;
    --md-ref-palette-primary-14: #002b0c;
    --md-ref-palette-primary-15: #002d0e;
    --md-ref-palette-primary-16: #002f0f;
    --md-ref-palette-primary-17: #003210;
    --md-ref-palette-primary-18: #003411;
    --md-ref-palette-primary-19: #003712;
    --md-ref-palette-primary-20: #003913;
    --md-ref-palette-primary-21: #003c14;
    --md-ref-palette-primary-22: #003e16;
    --md-ref-palette-primary-23: #004117;
    --md-ref-palette-primary-24: #004318;
    --md-ref-palette-primary-25: #02461a;
    --md-ref-palette-primary-26: #05481c;
    --md-ref-palette-primary-27: #094a1e;
    --md-ref-palette-primary-28: #0c4d20;
    --md-ref-palette-primary-29: #104f22;
    --md-ref-palette-primary-30: #135224;
    --md-ref-palette-primary-31: #165426;
    --md-ref-palette-primary-32: #195628;
    --md-ref-palette-primary-33: #1c592a;
    --md-ref-palette-primary-34: #1f5b2c;
    --md-ref-palette-primary-35: #215e2f;
    --md-ref-palette-primary-36: #246031;
    --md-ref-palette-primary-37: #276333;
    --md-ref-palette-primary-38: #296535;
    --md-ref-palette-primary-39: #2c6837;
    --md-ref-palette-primary-40: #2f6a3a;
    --md-ref-palette-primary-41: #316d3c;
    --md-ref-palette-primary-42: #346f3e;
    --md-ref-palette-primary-43: #367240;
    --md-ref-palette-primary-44: #397443;
    --md-ref-palette-primary-45: #3b7745;
    --md-ref-palette-primary-46: #3e7a47;
    --md-ref-palette-primary-47: #407c49;
    --md-ref-palette-primary-48: #437f4c;
    --md-ref-palette-primary-49: #45814e;
    --md-ref-palette-primary-50: #488450;
    --md-ref-palette-primary-51: #4a8653;
    --md-ref-palette-primary-52: #4d8955;
    --md-ref-palette-primary-53: #4f8c57;
    --md-ref-palette-primary-54: #528e5a;
    --md-ref-palette-primary-55: #55915c;
    --md-ref-palette-primary-56: #57945e;
    --md-ref-palette-primary-57: #5a9661;
    --md-ref-palette-primary-58: #5c9963;
    --md-ref-palette-primary-59: #5f9c66;
    --md-ref-palette-primary-60: #619e68;
    --md-ref-palette-primary-61: #64a16a;
    --md-ref-palette-primary-62: #66a46d;
    --md-ref-palette-primary-63: #69a66f;
    --md-ref-palette-primary-64: #6ca972;
    --md-ref-palette-primary-65: #6eac74;
    --md-ref-palette-primary-66: #71af77;
    --md-ref-palette-primary-67: #73b179;
    --md-ref-palette-primary-68: #76b47c;
    --md-ref-palette-primary-69: #79b77e;
    --md-ref-palette-primary-70: #7bba81;
    --md-ref-palette-primary-71: #7ebc83;
    --md-ref-palette-primary-72: #80bf86;
    --md-ref-palette-primary-73: #83c288;
    --md-ref-palette-primary-74: #86c58b;
    --md-ref-palette-primary-75: #88c88d;
    --md-ref-palette-primary-76: #8bca90;
    --md-ref-palette-primary-77: #8ecd92;
    --md-ref-palette-primary-78: #90d095;
    --md-ref-palette-primary-79: #93d398;
    --md-ref-palette-primary-80: #96d69a;
    --md-ref-palette-primary-81: #98d89d;
    --md-ref-palette-primary-82: #9bdb9f;
    --md-ref-palette-primary-83: #9edea2;
    --md-ref-palette-primary-84: #a1e1a5;
    --md-ref-palette-primary-85: #a3e4a7;
    --md-ref-palette-primary-86: #a6e7aa;
    --md-ref-palette-primary-87: #a9eaac;
    --md-ref-palette-primary-88: #acecaf;
    --md-ref-palette-primary-89: #aeefb2;
    --md-ref-palette-primary-90: #b1f2b4;
    --md-ref-palette-primary-91: #b4f5b7;
    --md-ref-palette-primary-92: #b7f8ba;
    --md-ref-palette-primary-93: #b9fbbc;
    --md-ref-palette-primary-94: #bcfebf;
    --md-ref-palette-primary-95: #c6ffc7;
    --md-ref-palette-primary-96: #d3ffd2;
    --md-ref-palette-primary-97: #dfffdd;
    --md-ref-palette-primary-98: #ebffe7;
    --md-ref-palette-primary-99: #f6fff1;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #0f0004;
    --md-ref-palette-secondary-2: #180108;
    --md-ref-palette-secondary-3: #1d020c;
    --md-ref-palette-secondary-4: #21040f;
    --md-ref-palette-secondary-5: #240612;
    --md-ref-palette-secondary-6: #270814;
    --md-ref-palette-secondary-7: #2a0a16;
    --md-ref-palette-secondary-8: #2c0c18;
    --md-ref-palette-secondary-9: #2f0e1a;
    --md-ref-palette-secondary-10: #31101c;
    --md-ref-palette-secondary-11: #34121e;
    --md-ref-palette-secondary-12: #361420;
    --md-ref-palette-secondary-13: #381622;
    --md-ref-palette-secondary-14: #3b1825;
    --md-ref-palette-secondary-15: #3d1b27;
    --md-ref-palette-secondary-16: #401d29;
    --md-ref-palette-secondary-17: #421f2b;
    --md-ref-palette-secondary-18: #45212d;
    --md-ref-palette-secondary-19: #47232f;
    --md-ref-palette-secondary-20: #4a2531;
    --md-ref-palette-secondary-21: #4c2733;
    --md-ref-palette-secondary-22: #4f2936;
    --md-ref-palette-secondary-23: #512b38;
    --md-ref-palette-secondary-24: #542d3a;
    --md-ref-palette-secondary-25: #56303c;
    --md-ref-palette-secondary-26: #59323f;
    --md-ref-palette-secondary-27: #5c3441;
    --md-ref-palette-secondary-28: #5e3643;
    --md-ref-palette-secondary-29: #613845;
    --md-ref-palette-secondary-30: #633b48;
    --md-ref-palette-secondary-31: #663d4a;
    --md-ref-palette-secondary-32: #693f4c;
    --md-ref-palette-secondary-33: #6b424f;
    --md-ref-palette-secondary-34: #6e4451;
    --md-ref-palette-secondary-35: #714653;
    --md-ref-palette-secondary-36: #734856;
    --md-ref-palette-secondary-37: #764b58;
    --md-ref-palette-secondary-38: #794d5a;
    --md-ref-palette-secondary-39: #7b4f5d;
    --md-ref-palette-secondary-40: #7e525f;
    --md-ref-palette-secondary-41: #815462;
    --md-ref-palette-secondary-42: #835664;
    --md-ref-palette-secondary-43: #865966;
    --md-ref-palette-secondary-44: #895b69;
    --md-ref-palette-secondary-45: #8b5e6b;
    --md-ref-palette-secondary-46: #8e606e;
    --md-ref-palette-secondary-47: #916370;
    --md-ref-palette-secondary-48: #946573;
    --md-ref-palette-secondary-49: #966775;
    --md-ref-palette-secondary-50: #996a78;
    --md-ref-palette-secondary-51: #9c6c7a;
    --md-ref-palette-secondary-52: #9f6f7d;
    --md-ref-palette-secondary-53: #a2717f;
    --md-ref-palette-secondary-54: #a47482;
    --md-ref-palette-secondary-55: #a77684;
    --md-ref-palette-secondary-56: #aa7987;
    --md-ref-palette-secondary-57: #ad7b8a;
    --md-ref-palette-secondary-58: #b07e8c;
    --md-ref-palette-secondary-59: #b2808f;
    --md-ref-palette-secondary-60: #b58391;
    --md-ref-palette-secondary-61: #b88594;
    --md-ref-palette-secondary-62: #bb8897;
    --md-ref-palette-secondary-63: #be8b99;
    --md-ref-palette-secondary-64: #c18d9c;
    --md-ref-palette-secondary-65: #c4909e;
    --md-ref-palette-secondary-66: #c692a1;
    --md-ref-palette-secondary-67: #c995a4;
    --md-ref-palette-secondary-68: #cc98a6;
    --md-ref-palette-secondary-69: #cf9aa9;
    --md-ref-palette-secondary-70: #d29dac;
    --md-ref-palette-secondary-71: #d59fae;
    --md-ref-palette-secondary-72: #d8a2b1;
    --md-ref-palette-secondary-73: #dba5b4;
    --md-ref-palette-secondary-74: #dea7b7;
    --md-ref-palette-secondary-75: #e1aab9;
    --md-ref-palette-secondary-76: #e4adbc;
    --md-ref-palette-secondary-77: #e7afbf;
    --md-ref-palette-secondary-78: #eab2c1;
    --md-ref-palette-secondary-79: #edb5c4;
    --md-ref-palette-secondary-80: #f0b8c7;
    --md-ref-palette-secondary-81: #f3baca;
    --md-ref-palette-secondary-82: #f6bdcd;
    --md-ref-palette-secondary-83: #f9c0cf;
    --md-ref-palette-secondary-84: #fcc2d2;
    --md-ref-palette-secondary-85: #ffc5d5;
    --md-ref-palette-secondary-86: #ffc9d8;
    --md-ref-palette-secondary-87: #ffcdda;
    --md-ref-palette-secondary-88: #ffd1dd;
    --md-ref-palette-secondary-89: #ffd5df;
    --md-ref-palette-secondary-90: #ffd9e2;
    --md-ref-palette-secondary-91: #ffdde5;
    --md-ref-palette-secondary-92: #ffe1e7;
    --md-ref-palette-secondary-93: #ffe4ea;
    --md-ref-palette-secondary-94: #ffe8ed;
    --md-ref-palette-secondary-95: #ffecf0;
    --md-ref-palette-secondary-96: #fff0f2;
    --md-ref-palette-secondary-97: #fff4f5;
    --md-ref-palette-secondary-98: #fff8f8;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #010020;
    --md-ref-palette-tertiary-2: #020030;
    --md-ref-palette-tertiary-3: #040333;
    --md-ref-palette-tertiary-4: #070636;
    --md-ref-palette-tertiary-5: #0a0939;
    --md-ref-palette-tertiary-6: #0c0c3b;
    --md-ref-palette-tertiary-7: #0f0f3d;
    --md-ref-palette-tertiary-8: #11113f;
    --md-ref-palette-tertiary-9: #131341;
    --md-ref-palette-tertiary-10: #151643;
    --md-ref-palette-tertiary-11: #171845;
    --md-ref-palette-tertiary-12: #191a47;
    --md-ref-palette-tertiary-13: #1b1c4a;
    --md-ref-palette-tertiary-14: #1e1e4c;
    --md-ref-palette-tertiary-15: #20204e;
    --md-ref-palette-tertiary-16: #222350;
    --md-ref-palette-tertiary-17: #242552;
    --md-ref-palette-tertiary-18: #262755;
    --md-ref-palette-tertiary-19: #282957;
    --md-ref-palette-tertiary-20: #2b2b59;
    --md-ref-palette-tertiary-21: #2d2e5c;
    --md-ref-palette-tertiary-22: #2f305e;
    --md-ref-palette-tertiary-23: #313260;
    --md-ref-palette-tertiary-24: #333463;
    --md-ref-palette-tertiary-25: #363765;
    --md-ref-palette-tertiary-26: #383968;
    --md-ref-palette-tertiary-27: #3a3b6a;
    --md-ref-palette-tertiary-28: #3d3d6c;
    --md-ref-palette-tertiary-29: #3f406f;
    --md-ref-palette-tertiary-30: #414271;
    --md-ref-palette-tertiary-31: #434474;
    --md-ref-palette-tertiary-32: #464776;
    --md-ref-palette-tertiary-33: #484979;
    --md-ref-palette-tertiary-34: #4b4b7b;
    --md-ref-palette-tertiary-35: #4d4e7e;
    --md-ref-palette-tertiary-36: #4f5080;
    --md-ref-palette-tertiary-37: #525383;
    --md-ref-palette-tertiary-38: #545586;
    --md-ref-palette-tertiary-39: #565788;
    --md-ref-palette-tertiary-40: #595a8b;
    --md-ref-palette-tertiary-41: #5b5c8d;
    --md-ref-palette-tertiary-42: #5e5f90;
    --md-ref-palette-tertiary-43: #606193;
    --md-ref-palette-tertiary-44: #636495;
    --md-ref-palette-tertiary-45: #656698;
    --md-ref-palette-tertiary-46: #68689a;
    --md-ref-palette-tertiary-47: #6a6b9d;
    --md-ref-palette-tertiary-48: #6d6da0;
    --md-ref-palette-tertiary-49: #6f70a2;
    --md-ref-palette-tertiary-50: #7272a5;
    --md-ref-palette-tertiary-51: #7475a8;
    --md-ref-palette-tertiary-52: #7777ab;
    --md-ref-palette-tertiary-53: #797aad;
    --md-ref-palette-tertiary-54: #7c7db0;
    --md-ref-palette-tertiary-55: #7f7fb3;
    --md-ref-palette-tertiary-56: #8182b5;
    --md-ref-palette-tertiary-57: #8484b8;
    --md-ref-palette-tertiary-58: #8687bb;
    --md-ref-palette-tertiary-59: #8989be;
    --md-ref-palette-tertiary-60: #8c8cc0;
    --md-ref-palette-tertiary-61: #8e8fc3;
    --md-ref-palette-tertiary-62: #9191c6;
    --md-ref-palette-tertiary-63: #9394c9;
    --md-ref-palette-tertiary-64: #9696cc;
    --md-ref-palette-tertiary-65: #9999ce;
    --md-ref-palette-tertiary-66: #9b9cd1;
    --md-ref-palette-tertiary-67: #9e9ed4;
    --md-ref-palette-tertiary-68: #a1a1d7;
    --md-ref-palette-tertiary-69: #a3a4da;
    --md-ref-palette-tertiary-70: #a6a6dd;
    --md-ref-palette-tertiary-71: #a9a9df;
    --md-ref-palette-tertiary-72: #acace2;
    --md-ref-palette-tertiary-73: #aeaee5;
    --md-ref-palette-tertiary-74: #b1b1e8;
    --md-ref-palette-tertiary-75: #b4b4eb;
    --md-ref-palette-tertiary-76: #b7b7ee;
    --md-ref-palette-tertiary-77: #b9b9f1;
    --md-ref-palette-tertiary-78: #bcbcf4;
    --md-ref-palette-tertiary-79: #bfbff7;
    --md-ref-palette-tertiary-80: #c2c2f9;
    --md-ref-palette-tertiary-81: #c4c4fc;
    --md-ref-palette-tertiary-82: #c7c7ff;
    --md-ref-palette-tertiary-83: #cacaff;
    --md-ref-palette-tertiary-84: #cecdff;
    --md-ref-palette-tertiary-85: #d1d0ff;
    --md-ref-palette-tertiary-86: #d4d3ff;
    --md-ref-palette-tertiary-87: #d7d6ff;
    --md-ref-palette-tertiary-88: #dbd9ff;
    --md-ref-palette-tertiary-89: #dedcff;
    --md-ref-palette-tertiary-90: #e1dfff;
    --md-ref-palette-tertiary-91: #e5e3ff;
    --md-ref-palette-tertiary-92: #e8e6ff;
    --md-ref-palette-tertiary-93: #ebe9ff;
    --md-ref-palette-tertiary-94: #eeecff;
    --md-ref-palette-tertiary-95: #f2efff;
    --md-ref-palette-tertiary-96: #f5f2ff;
    --md-ref-palette-tertiary-97: #f8f5ff;
    --md-ref-palette-tertiary-98: #fcf8ff;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030308;
    --md-ref-palette-neutral-2: #07070e;
    --md-ref-palette-neutral-3: #0a0a12;
    --md-ref-palette-neutral-4: #0d0d15;
    --md-ref-palette-neutral-5: #101018;
    --md-ref-palette-neutral-6: #13131a;
    --md-ref-palette-neutral-7: #15151c;
    --md-ref-palette-neutral-8: #17171f;
    --md-ref-palette-neutral-9: #191921;
    --md-ref-palette-neutral-10: #1b1b23;
    --md-ref-palette-neutral-11: #1d1d25;
    --md-ref-palette-neutral-12: #1f1f27;
    --md-ref-palette-neutral-13: #212129;
    --md-ref-palette-neutral-14: #23232b;
    --md-ref-palette-neutral-15: #25252d;
    --md-ref-palette-neutral-16: #27272f;
    --md-ref-palette-neutral-17: #2a2931;
    --md-ref-palette-neutral-18: #2c2b34;
    --md-ref-palette-neutral-19: #2e2d36;
    --md-ref-palette-neutral-20: #303038;
    --md-ref-palette-neutral-21: #32323a;
    --md-ref-palette-neutral-22: #34343c;
    --md-ref-palette-neutral-23: #37363f;
    --md-ref-palette-neutral-24: #393841;
    --md-ref-palette-neutral-25: #3b3a43;
    --md-ref-palette-neutral-26: #3d3d45;
    --md-ref-palette-neutral-27: #403f48;
    --md-ref-palette-neutral-28: #42414a;
    --md-ref-palette-neutral-29: #44444c;
    --md-ref-palette-neutral-30: #47464f;
    --md-ref-palette-neutral-31: #494851;
    --md-ref-palette-neutral-32: #4b4a53;
    --md-ref-palette-neutral-33: #4e4d56;
    --md-ref-palette-neutral-34: #504f58;
    --md-ref-palette-neutral-35: #52515b;
    --md-ref-palette-neutral-36: #55545d;
    --md-ref-palette-neutral-37: #57565f;
    --md-ref-palette-neutral-38: #5a5862;
    --md-ref-palette-neutral-39: #5c5b64;
    --md-ref-palette-neutral-40: #5e5d67;
    --md-ref-palette-neutral-41: #616069;
    --md-ref-palette-neutral-42: #63626c;
    --md-ref-palette-neutral-43: #66656e;
    --md-ref-palette-neutral-44: #686771;
    --md-ref-palette-neutral-45: #6b6973;
    --md-ref-palette-neutral-46: #6d6c76;
    --md-ref-palette-neutral-47: #706e78;
    --md-ref-palette-neutral-48: #72717b;
    --md-ref-palette-neutral-49: #75737d;
    --md-ref-palette-neutral-50: #777680;
    --md-ref-palette-neutral-51: #7a7882;
    --md-ref-palette-neutral-52: #7c7b85;
    --md-ref-palette-neutral-53: #7f7d87;
    --md-ref-palette-neutral-54: #82808a;
    --md-ref-palette-neutral-55: #84838c;
    --md-ref-palette-neutral-56: #87858f;
    --md-ref-palette-neutral-57: #898892;
    --md-ref-palette-neutral-58: #8c8a94;
    --md-ref-palette-neutral-59: #8f8d97;
    --md-ref-palette-neutral-60: #918f9a;
    --md-ref-palette-neutral-61: #94929c;
    --md-ref-palette-neutral-62: #97959f;
    --md-ref-palette-neutral-63: #9997a1;
    --md-ref-palette-neutral-64: #9c9aa4;
    --md-ref-palette-neutral-65: #9f9ca7;
    --md-ref-palette-neutral-66: #a19faa;
    --md-ref-palette-neutral-67: #a4a2ac;
    --md-ref-palette-neutral-68: #a7a4af;
    --md-ref-palette-neutral-69: #a9a7b2;
    --md-ref-palette-neutral-70: #acaab4;
    --md-ref-palette-neutral-71: #afacb7;
    --md-ref-palette-neutral-72: #b1afba;
    --md-ref-palette-neutral-73: #b4b2bc;
    --md-ref-palette-neutral-74: #b7b5bf;
    --md-ref-palette-neutral-75: #bab7c2;
    --md-ref-palette-neutral-76: #bdbac5;
    --md-ref-palette-neutral-77: #bfbdc7;
    --md-ref-palette-neutral-78: #c2bfca;
    --md-ref-palette-neutral-79: #c5c2cd;
    --md-ref-palette-neutral-80: #c8c5d0;
    --md-ref-palette-neutral-81: #cac8d3;
    --md-ref-palette-neutral-82: #cdcad5;
    --md-ref-palette-neutral-83: #d0cdd8;
    --md-ref-palette-neutral-84: #d3d0db;
    --md-ref-palette-neutral-85: #d6d3de;
    --md-ref-palette-neutral-86: #d9d6e1;
    --md-ref-palette-neutral-87: #dbd8e3;
    --md-ref-palette-neutral-88: #dedbe6;
    --md-ref-palette-neutral-89: #e1dee9;
    --md-ref-palette-neutral-90: #e4e1ec;
    --md-ref-palette-neutral-91: #e7e4ef;
    --md-ref-palette-neutral-92: #eae6f2;
    --md-ref-palette-neutral-93: #ede9f5;
    --md-ref-palette-neutral-94: #efecf7;
    --md-ref-palette-neutral-95: #f2effa;
    --md-ref-palette-neutral-96: #f5f2fd;
    --md-ref-palette-neutral-97: #f8f5ff;
    --md-ref-palette-neutral-98: #fcf8ff;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #03030c;
    --md-ref-palette-neutral-variant-2: #060612;
    --md-ref-palette-neutral-variant-3: #0a0a16;
    --md-ref-palette-neutral-variant-4: #0d0d19;
    --md-ref-palette-neutral-variant-5: #10101c;
    --md-ref-palette-neutral-variant-6: #12121e;
    --md-ref-palette-neutral-variant-7: #141421;
    --md-ref-palette-neutral-variant-8: #161623;
    --md-ref-palette-neutral-variant-9: #181825;
    --md-ref-palette-neutral-variant-10: #1a1a27;
    --md-ref-palette-neutral-variant-11: #1c1c29;
    --md-ref-palette-neutral-variant-12: #1e1e2b;
    --md-ref-palette-neutral-variant-13: #20202d;
    --md-ref-palette-neutral-variant-14: #23232f;
    --md-ref-palette-neutral-variant-15: #252532;
    --md-ref-palette-neutral-variant-16: #272734;
    --md-ref-palette-neutral-variant-17: #292936;
    --md-ref-palette-neutral-variant-18: #2b2b38;
    --md-ref-palette-neutral-variant-19: #2d2d3a;
    --md-ref-palette-neutral-variant-20: #2f2f3d;
    --md-ref-palette-neutral-variant-21: #31313f;
    --md-ref-palette-neutral-variant-22: #343341;
    --md-ref-palette-neutral-variant-23: #363643;
    --md-ref-palette-neutral-variant-24: #383846;
    --md-ref-palette-neutral-variant-25: #3a3a48;
    --md-ref-palette-neutral-variant-26: #3d3c4a;
    --md-ref-palette-neutral-variant-27: #3f3f4d;
    --md-ref-palette-neutral-variant-28: #41414f;
    --md-ref-palette-neutral-variant-29: #444351;
    --md-ref-palette-neutral-variant-30: #464554;
    --md-ref-palette-neutral-variant-31: #484856;
    --md-ref-palette-neutral-variant-32: #4b4a58;
    --md-ref-palette-neutral-variant-33: #4d4c5b;
    --md-ref-palette-neutral-variant-34: #4f4f5d;
    --md-ref-palette-neutral-variant-35: #525160;
    --md-ref-palette-neutral-variant-36: #545362;
    --md-ref-palette-neutral-variant-37: #565665;
    --md-ref-palette-neutral-variant-38: #595867;
    --md-ref-palette-neutral-variant-39: #5b5a69;
    --md-ref-palette-neutral-variant-40: #5e5d6c;
    --md-ref-palette-neutral-variant-41: #605f6e;
    --md-ref-palette-neutral-variant-42: #636271;
    --md-ref-palette-neutral-variant-43: #656473;
    --md-ref-palette-neutral-variant-44: #676776;
    --md-ref-palette-neutral-variant-45: #6a6978;
    --md-ref-palette-neutral-variant-46: #6c6c7b;
    --md-ref-palette-neutral-variant-47: #6f6e7e;
    --md-ref-palette-neutral-variant-48: #717080;
    --md-ref-palette-neutral-variant-49: #747383;
    --md-ref-palette-neutral-variant-50: #777585;
    --md-ref-palette-neutral-variant-51: #797888;
    --md-ref-palette-neutral-variant-52: #7c7a8a;
    --md-ref-palette-neutral-variant-53: #7e7d8d;
    --md-ref-palette-neutral-variant-54: #818090;
    --md-ref-palette-neutral-variant-55: #838292;
    --md-ref-palette-neutral-variant-56: #868595;
    --md-ref-palette-neutral-variant-57: #898797;
    --md-ref-palette-neutral-variant-58: #8b8a9a;
    --md-ref-palette-neutral-variant-59: #8e8c9d;
    --md-ref-palette-neutral-variant-60: #908f9f;
    --md-ref-palette-neutral-variant-61: #9392a2;
    --md-ref-palette-neutral-variant-62: #9694a5;
    --md-ref-palette-neutral-variant-63: #9897a7;
    --md-ref-palette-neutral-variant-64: #9b99aa;
    --md-ref-palette-neutral-variant-65: #9e9cad;
    --md-ref-palette-neutral-variant-66: #a09faf;
    --md-ref-palette-neutral-variant-67: #a3a1b2;
    --md-ref-palette-neutral-variant-68: #a6a4b5;
    --md-ref-palette-neutral-variant-69: #a8a7b8;
    --md-ref-palette-neutral-variant-70: #aba9ba;
    --md-ref-palette-neutral-variant-71: #aeacbd;
    --md-ref-palette-neutral-variant-72: #b1afc0;
    --md-ref-palette-neutral-variant-73: #b3b1c3;
    --md-ref-palette-neutral-variant-74: #b6b4c5;
    --md-ref-palette-neutral-variant-75: #b9b7c8;
    --md-ref-palette-neutral-variant-76: #bcbacb;
    --md-ref-palette-neutral-variant-77: #bebcce;
    --md-ref-palette-neutral-variant-78: #c1bfd0;
    --md-ref-palette-neutral-variant-79: #c4c2d3;
    --md-ref-palette-neutral-variant-80: #c7c5d6;
    --md-ref-palette-neutral-variant-81: #cac7d9;
    --md-ref-palette-neutral-variant-82: #cccadc;
    --md-ref-palette-neutral-variant-83: #cfcddf;
    --md-ref-palette-neutral-variant-84: #d2d0e1;
    --md-ref-palette-neutral-variant-85: #d5d2e4;
    --md-ref-palette-neutral-variant-86: #d8d5e7;
    --md-ref-palette-neutral-variant-87: #dad8ea;
    --md-ref-palette-neutral-variant-88: #dddbed;
    --md-ref-palette-neutral-variant-89: #e0def0;
    --md-ref-palette-neutral-variant-90: #e3e0f2;
    --md-ref-palette-neutral-variant-91: #e6e3f5;
    --md-ref-palette-neutral-variant-92: #e9e6f8;
    --md-ref-palette-neutral-variant-93: #ece9fb;
    --md-ref-palette-neutral-variant-94: #efecfe;
    --md-ref-palette-neutral-variant-95: #f2efff;
    --md-ref-palette-neutral-variant-96: #f5f2ff;
    --md-ref-palette-neutral-variant-97: #f8f5ff;
    --md-ref-palette-neutral-variant-98: #fcf8ff;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}