:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #06001a;
    --md-ref-palette-primary-2: #0b0028;
    --md-ref-palette-primary-3: #100031;
    --md-ref-palette-primary-4: #13003a;
    --md-ref-palette-primary-5: #170040;
    --md-ref-palette-primary-6: #1a0047;
    --md-ref-palette-primary-7: #1c004c;
    --md-ref-palette-primary-8: #1f0051;
    --md-ref-palette-primary-9: #210056;
    --md-ref-palette-primary-10: #23005c;
    --md-ref-palette-primary-11: #25025f;
    --md-ref-palette-primary-12: #280561;
    --md-ref-palette-primary-13: #2a0863;
    --md-ref-palette-primary-14: #2c0c65;
    --md-ref-palette-primary-15: #2e0f67;
    --md-ref-palette-primary-16: #301369;
    --md-ref-palette-primary-17: #32156b;
    --md-ref-palette-primary-18: #34186d;
    --md-ref-palette-primary-19: #371b70;
    --md-ref-palette-primary-20: #391e72;
    --md-ref-palette-primary-21: #3b2074;
    --md-ref-palette-primary-22: #3d2376;
    --md-ref-palette-primary-23: #402579;
    --md-ref-palette-primary-24: #42287b;
    --md-ref-palette-primary-25: #442a7d;
    --md-ref-palette-primary-26: #472d80;
    --md-ref-palette-primary-27: #492f82;
    --md-ref-palette-primary-28: #4b3285;
    --md-ref-palette-primary-29: #4e3487;
    --md-ref-palette-primary-30: #50378a;
    --md-ref-palette-primary-31: #52398c;
    --md-ref-palette-primary-32: #553c8f;
    --md-ref-palette-primary-33: #573e91;
    --md-ref-palette-primary-34: #5a4194;
    --md-ref-palette-primary-35: #5c4396;
    --md-ref-palette-primary-36: #5e4599;
    --md-ref-palette-primary-37: #61489c;
    --md-ref-palette-primary-38: #634a9e;
    --md-ref-palette-primary-39: #664da1;
    --md-ref-palette-primary-40: #684fa3;
    --md-ref-palette-primary-41: #6b52a6;
    --md-ref-palette-primary-42: #6d54a9;
    --md-ref-palette-primary-43: #7057ab;
    --md-ref-palette-primary-44: #7259ae;
    --md-ref-palette-primary-45: #755cb1;
    --md-ref-palette-primary-46: #775eb4;
    --md-ref-palette-primary-47: #7a61b6;
    --md-ref-palette-primary-48: #7c63b9;
    --md-ref-palette-primary-49: #7f66bc;
    --md-ref-palette-primary-50: #8268be;
    --md-ref-palette-primary-51: #846bc1;
    --md-ref-palette-primary-52: #876dc4;
    --md-ref-palette-primary-53: #8970c7;
    --md-ref-palette-primary-54: #8c73ca;
    --md-ref-palette-primary-55: #8f75cc;
    --md-ref-palette-primary-56: #9178cf;
    --md-ref-palette-primary-57: #947ad2;
    --md-ref-palette-primary-58: #977dd5;
    --md-ref-palette-primary-59: #997fd8;
    --md-ref-palette-primary-60: #9c82da;
    --md-ref-palette-primary-61: #9f85dd;
    --md-ref-palette-primary-62: #a187e0;
    --md-ref-palette-primary-63: #a48ae3;
    --md-ref-palette-primary-64: #a78de6;
    --md-ref-palette-primary-65: #a98fe9;
    --md-ref-palette-primary-66: #ac92ec;
    --md-ref-palette-primary-67: #af94ee;
    --md-ref-palette-primary-68: #b297f1;
    --md-ref-palette-primary-69: #b49af4;
    --md-ref-palette-primary-70: #b79cf7;
    --md-ref-palette-primary-71: #ba9ffa;
    --md-ref-palette-primary-72: #bda2fd;
    --md-ref-palette-primary-73: #bfa5ff;
    --md-ref-palette-primary-74: #c2a8ff;
    --md-ref-palette-primary-75: #c4abff;
    --md-ref-palette-primary-76: #c7afff;
    --md-ref-palette-primary-77: #c9b2ff;
    --md-ref-palette-primary-78: #ccb5ff;
    --md-ref-palette-primary-79: #ceb9ff;
    --md-ref-palette-primary-80: #d0bcff;
    --md-ref-palette-primary-81: #d3bfff;
    --md-ref-palette-primary-82: #d5c3ff;
    --md-ref-palette-primary-83: #d8c6ff;
    --md-ref-palette-primary-84: #dac9ff;
    --md-ref-palette-primary-85: #ddcdff;
    --md-ref-palette-primary-86: #dfd0ff;
    --md-ref-palette-primary-87: #e2d3ff;
    --md-ref-palette-primary-88: #e4d6ff;
    --md-ref-palette-primary-89: #e7daff;
    --md-ref-palette-primary-90: #e9ddff;
    --md-ref-palette-primary-91: #ece0ff;
    --md-ref-palette-primary-92: #eee4ff;
    --md-ref-palette-primary-93: #f1e7ff;
    --md-ref-palette-primary-94: #f3eaff;
    --md-ref-palette-primary-95: #f6edff;
    --md-ref-palette-primary-96: #f8f1ff;
    --md-ref-palette-primary-97: #fbf4ff;
    --md-ref-palette-primary-98: #fef7ff;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #010500;
    --md-ref-palette-secondary-2: #020900;
    --md-ref-palette-secondary-3: #040e00;
    --md-ref-palette-secondary-4: #051100;
    --md-ref-palette-secondary-5: #061400;
    --md-ref-palette-secondary-6: #081700;
    --md-ref-palette-secondary-7: #0a1901;
    --md-ref-palette-secondary-8: #0c1b02;
    --md-ref-palette-secondary-9: #0e1e03;
    --md-ref-palette-secondary-10: #0f2004;
    --md-ref-palette-secondary-11: #112205;
    --md-ref-palette-secondary-12: #132406;
    --md-ref-palette-secondary-13: #152608;
    --md-ref-palette-secondary-14: #17280a;
    --md-ref-palette-secondary-15: #1a2a0c;
    --md-ref-palette-secondary-16: #1c2c0e;
    --md-ref-palette-secondary-17: #1e2f10;
    --md-ref-palette-secondary-18: #203112;
    --md-ref-palette-secondary-19: #223314;
    --md-ref-palette-secondary-20: #243516;
    --md-ref-palette-secondary-21: #263718;
    --md-ref-palette-secondary-22: #283a1a;
    --md-ref-palette-secondary-23: #2a3c1c;
    --md-ref-palette-secondary-24: #2c3e1e;
    --md-ref-palette-secondary-25: #2f4020;
    --md-ref-palette-secondary-26: #314322;
    --md-ref-palette-secondary-27: #334524;
    --md-ref-palette-secondary-28: #354726;
    --md-ref-palette-secondary-29: #374a28;
    --md-ref-palette-secondary-30: #3a4c2a;
    --md-ref-palette-secondary-31: #3c4e2c;
    --md-ref-palette-secondary-32: #3e512e;
    --md-ref-palette-secondary-33: #415331;
    --md-ref-palette-secondary-34: #435633;
    --md-ref-palette-secondary-35: #455835;
    --md-ref-palette-secondary-36: #475a37;
    --md-ref-palette-secondary-37: #4a5d39;
    --md-ref-palette-secondary-38: #4c5f3b;
    --md-ref-palette-secondary-39: #4f623e;
    --md-ref-palette-secondary-40: #516440;
    --md-ref-palette-secondary-41: #536742;
    --md-ref-palette-secondary-42: #566944;
    --md-ref-palette-secondary-43: #586c47;
    --md-ref-palette-secondary-44: #5a6e49;
    --md-ref-palette-secondary-45: #5d714b;
    --md-ref-palette-secondary-46: #5f734e;
    --md-ref-palette-secondary-47: #627650;
    --md-ref-palette-secondary-48: #647852;
    --md-ref-palette-secondary-49: #677b54;
    --md-ref-palette-secondary-50: #697d57;
    --md-ref-palette-secondary-51: #6c8059;
    --md-ref-palette-secondary-52: #6e825c;
    --md-ref-palette-secondary-53: #71855e;
    --md-ref-palette-secondary-54: #738860;
    --md-ref-palette-secondary-55: #768a63;
    --md-ref-palette-secondary-56: #788d65;
    --md-ref-palette-secondary-57: #7b8f67;
    --md-ref-palette-secondary-58: #7d926a;
    --md-ref-palette-secondary-59: #80956c;
    --md-ref-palette-secondary-60: #82976f;
    --md-ref-palette-secondary-61: #859a71;
    --md-ref-palette-secondary-62: #889d74;
    --md-ref-palette-secondary-63: #8a9f76;
    --md-ref-palette-secondary-64: #8da279;
    --md-ref-palette-secondary-65: #8fa57b;
    --md-ref-palette-secondary-66: #92a77e;
    --md-ref-palette-secondary-67: #95aa80;
    --md-ref-palette-secondary-68: #97ad83;
    --md-ref-palette-secondary-69: #9aaf85;
    --md-ref-palette-secondary-70: #9db288;
    --md-ref-palette-secondary-71: #9fb58a;
    --md-ref-palette-secondary-72: #a2b78d;
    --md-ref-palette-secondary-73: #a5ba8f;
    --md-ref-palette-secondary-74: #a7bd92;
    --md-ref-palette-secondary-75: #aac094;
    --md-ref-palette-secondary-76: #adc297;
    --md-ref-palette-secondary-77: #afc59a;
    --md-ref-palette-secondary-78: #b2c89c;
    --md-ref-palette-secondary-79: #b5cb9f;
    --md-ref-palette-secondary-80: #b8cea1;
    --md-ref-palette-secondary-81: #bad0a4;
    --md-ref-palette-secondary-82: #bdd3a7;
    --md-ref-palette-secondary-83: #c0d6a9;
    --md-ref-palette-secondary-84: #c3d9ac;
    --md-ref-palette-secondary-85: #c5dcaf;
    --md-ref-palette-secondary-86: #c8deb1;
    --md-ref-palette-secondary-87: #cbe1b4;
    --md-ref-palette-secondary-88: #cee4b7;
    --md-ref-palette-secondary-89: #d1e7b9;
    --md-ref-palette-secondary-90: #d3eabc;
    --md-ref-palette-secondary-91: #d6edbf;
    --md-ref-palette-secondary-92: #d9f0c1;
    --md-ref-palette-secondary-93: #dcf2c4;
    --md-ref-palette-secondary-94: #dff5c7;
    --md-ref-palette-secondary-95: #e2f8c9;
    --md-ref-palette-secondary-96: #e4fbcc;
    --md-ref-palette-secondary-97: #e7fecf;
    --md-ref-palette-secondary-98: #efffdb;
    --md-ref-palette-secondary-99: #f8ffeb;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #020500;
    --md-ref-palette-tertiary-2: #040900;
    --md-ref-palette-tertiary-3: #060d00;
    --md-ref-palette-tertiary-4: #071100;
    --md-ref-palette-tertiary-5: #091400;
    --md-ref-palette-tertiary-6: #0b1600;
    --md-ref-palette-tertiary-7: #0d1900;
    --md-ref-palette-tertiary-8: #0e1b00;
    --md-ref-palette-tertiary-9: #101d00;
    --md-ref-palette-tertiary-10: #111f00;
    --md-ref-palette-tertiary-11: #132200;
    --md-ref-palette-tertiary-12: #142400;
    --md-ref-palette-tertiary-13: #162600;
    --md-ref-palette-tertiary-14: #182800;
    --md-ref-palette-tertiary-15: #192b00;
    --md-ref-palette-tertiary-16: #1b2d00;
    --md-ref-palette-tertiary-17: #1c2f00;
    --md-ref-palette-tertiary-18: #1e3200;
    --md-ref-palette-tertiary-19: #203400;
    --md-ref-palette-tertiary-20: #213600;
    --md-ref-palette-tertiary-21: #233900;
    --md-ref-palette-tertiary-22: #243b00;
    --md-ref-palette-tertiary-23: #263d00;
    --md-ref-palette-tertiary-24: #284000;
    --md-ref-palette-tertiary-25: #294200;
    --md-ref-palette-tertiary-26: #2b4500;
    --md-ref-palette-tertiary-27: #2d4700;
    --md-ref-palette-tertiary-28: #2f4a00;
    --md-ref-palette-tertiary-29: #304c00;
    --md-ref-palette-tertiary-30: #324f00;
    --md-ref-palette-tertiary-31: #345100;
    --md-ref-palette-tertiary-32: #365400;
    --md-ref-palette-tertiary-33: #375600;
    --md-ref-palette-tertiary-34: #395900;
    --md-ref-palette-tertiary-35: #3b5b01;
    --md-ref-palette-tertiary-36: #3d5e04;
    --md-ref-palette-tertiary-37: #406007;
    --md-ref-palette-tertiary-38: #42630a;
    --md-ref-palette-tertiary-39: #44650d;
    --md-ref-palette-tertiary-40: #476810;
    --md-ref-palette-tertiary-41: #496a13;
    --md-ref-palette-tertiary-42: #4b6d15;
    --md-ref-palette-tertiary-43: #4e7018;
    --md-ref-palette-tertiary-44: #50721b;
    --md-ref-palette-tertiary-45: #52751d;
    --md-ref-palette-tertiary-46: #557720;
    --md-ref-palette-tertiary-47: #577a22;
    --md-ref-palette-tertiary-48: #597c24;
    --md-ref-palette-tertiary-49: #5c7f27;
    --md-ref-palette-tertiary-50: #5e8229;
    --md-ref-palette-tertiary-51: #61842b;
    --md-ref-palette-tertiary-52: #63872e;
    --md-ref-palette-tertiary-53: #668930;
    --md-ref-palette-tertiary-54: #688c33;
    --md-ref-palette-tertiary-55: #6b8f35;
    --md-ref-palette-tertiary-56: #6d9137;
    --md-ref-palette-tertiary-57: #70943a;
    --md-ref-palette-tertiary-58: #72973c;
    --md-ref-palette-tertiary-59: #75993e;
    --md-ref-palette-tertiary-60: #779c41;
    --md-ref-palette-tertiary-61: #7a9f43;
    --md-ref-palette-tertiary-62: #7ca245;
    --md-ref-palette-tertiary-63: #7fa448;
    --md-ref-palette-tertiary-64: #81a74a;
    --md-ref-palette-tertiary-65: #84aa4c;
    --md-ref-palette-tertiary-66: #86ac4f;
    --md-ref-palette-tertiary-67: #89af51;
    --md-ref-palette-tertiary-68: #8cb253;
    --md-ref-palette-tertiary-69: #8eb556;
    --md-ref-palette-tertiary-70: #91b758;
    --md-ref-palette-tertiary-71: #93ba5b;
    --md-ref-palette-tertiary-72: #96bd5d;
    --md-ref-palette-tertiary-73: #99c060;
    --md-ref-palette-tertiary-74: #9bc362;
    --md-ref-palette-tertiary-75: #9ec564;
    --md-ref-palette-tertiary-76: #a1c867;
    --md-ref-palette-tertiary-77: #a3cb69;
    --md-ref-palette-tertiary-78: #a6ce6c;
    --md-ref-palette-tertiary-79: #a9d16e;
    --md-ref-palette-tertiary-80: #abd371;
    --md-ref-palette-tertiary-81: #aed673;
    --md-ref-palette-tertiary-82: #b1d976;
    --md-ref-palette-tertiary-83: #b3dc78;
    --md-ref-palette-tertiary-84: #b6df7b;
    --md-ref-palette-tertiary-85: #b9e27d;
    --md-ref-palette-tertiary-86: #bce580;
    --md-ref-palette-tertiary-87: #bee782;
    --md-ref-palette-tertiary-88: #c1ea85;
    --md-ref-palette-tertiary-89: #c4ed87;
    --md-ref-palette-tertiary-90: #c7f08a;
    --md-ref-palette-tertiary-91: #c9f38c;
    --md-ref-palette-tertiary-92: #ccf68f;
    --md-ref-palette-tertiary-93: #cff991;
    --md-ref-palette-tertiary-94: #d2fc94;
    --md-ref-palette-tertiary-95: #d5ff96;
    --md-ref-palette-tertiary-96: #deffac;
    --md-ref-palette-tertiary-97: #e8ffc1;
    --md-ref-palette-tertiary-98: #f0ffd5;
    --md-ref-palette-tertiary-99: #f9ffe7;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100002;
    --md-ref-palette-error-2: #1a0003;
    --md-ref-palette-error-3: #210005;
    --md-ref-palette-error-4: #270007;
    --md-ref-palette-error-5: #2c0008;
    --md-ref-palette-error-6: #31000a;
    --md-ref-palette-error-7: #35000c;
    --md-ref-palette-error-8: #39000d;
    --md-ref-palette-error-9: #3c000f;
    --md-ref-palette-error-10: #400010;
    --md-ref-palette-error-11: #440011;
    --md-ref-palette-error-12: #480013;
    --md-ref-palette-error-13: #4b0014;
    --md-ref-palette-error-14: #4f0016;
    --md-ref-palette-error-15: #530017;
    --md-ref-palette-error-16: #570019;
    --md-ref-palette-error-17: #5b001a;
    --md-ref-palette-error-18: #5f001c;
    --md-ref-palette-error-19: #63001e;
    --md-ref-palette-error-20: #67001f;
    --md-ref-palette-error-21: #6b0021;
    --md-ref-palette-error-22: #6f0022;
    --md-ref-palette-error-23: #730024;
    --md-ref-palette-error-24: #770326;
    --md-ref-palette-error-25: #7a0628;
    --md-ref-palette-error-26: #7d0a2a;
    --md-ref-palette-error-27: #800d2c;
    --md-ref-palette-error-28: #84102e;
    --md-ref-palette-error-29: #871330;
    --md-ref-palette-error-30: #8a1632;
    --md-ref-palette-error-31: #8d1935;
    --md-ref-palette-error-32: #911c37;
    --md-ref-palette-error-33: #941f39;
    --md-ref-palette-error-34: #97213b;
    --md-ref-palette-error-35: #9a243d;
    --md-ref-palette-error-36: #9e2640;
    --md-ref-palette-error-37: #a12942;
    --md-ref-palette-error-38: #a42c44;
    --md-ref-palette-error-39: #a72e46;
    --md-ref-palette-error-40: #ab3149;
    --md-ref-palette-error-41: #ae334b;
    --md-ref-palette-error-42: #b1364d;
    --md-ref-palette-error-43: #b4384f;
    --md-ref-palette-error-44: #b83b52;
    --md-ref-palette-error-45: #bb3d54;
    --md-ref-palette-error-46: #be3f56;
    --md-ref-palette-error-47: #c24259;
    --md-ref-palette-error-48: #c5445b;
    --md-ref-palette-error-49: #c8475d;
    --md-ref-palette-error-50: #cb4960;
    --md-ref-palette-error-51: #cf4c62;
    --md-ref-palette-error-52: #d24e65;
    --md-ref-palette-error-53: #d55167;
    --md-ref-palette-error-54: #d95369;
    --md-ref-palette-error-55: #dc566c;
    --md-ref-palette-error-56: #df586e;
    --md-ref-palette-error-57: #e35b71;
    --md-ref-palette-error-58: #e65d73;
    --md-ref-palette-error-59: #e96076;
    --md-ref-palette-error-60: #ed6278;
    --md-ref-palette-error-61: #f0657b;
    --md-ref-palette-error-62: #f3677d;
    --md-ref-palette-error-63: #f76a80;
    --md-ref-palette-error-64: #fa6d82;
    --md-ref-palette-error-65: #fd6f85;
    --md-ref-palette-error-66: #ff7388;
    --md-ref-palette-error-67: #ff788b;
    --md-ref-palette-error-68: #ff7d8f;
    --md-ref-palette-error-69: #ff8293;
    --md-ref-palette-error-70: #ff8796;
    --md-ref-palette-error-71: #ff8b9a;
    --md-ref-palette-error-72: #ff909d;
    --md-ref-palette-error-73: #ff94a1;
    --md-ref-palette-error-74: #ff99a4;
    --md-ref-palette-error-75: #ff9da8;
    --md-ref-palette-error-76: #ffa2ab;
    --md-ref-palette-error-77: #ffa6af;
    --md-ref-palette-error-78: #ffaab2;
    --md-ref-palette-error-79: #ffaeb6;
    --md-ref-palette-error-80: #ffb2b9;
    --md-ref-palette-error-81: #ffb6bd;
    --md-ref-palette-error-82: #ffbac0;
    --md-ref-palette-error-83: #ffbec4;
    --md-ref-palette-error-84: #ffc2c7;
    --md-ref-palette-error-85: #ffc6cb;
    --md-ref-palette-error-86: #ffcace;
    --md-ref-palette-error-87: #ffced2;
    --md-ref-palette-error-88: #ffd2d5;
    --md-ref-palette-error-89: #ffd6d8;
    --md-ref-palette-error-90: #ffdadc;
    --md-ref-palette-error-91: #ffdddf;
    --md-ref-palette-error-92: #ffe1e3;
    --md-ref-palette-error-93: #ffe5e6;
    --md-ref-palette-error-94: #ffe9e9;
    --md-ref-palette-error-95: #ffeced;
    --md-ref-palette-error-96: #fff0f0;
    --md-ref-palette-error-97: #fff4f4;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050213;
    --md-ref-palette-neutral-2: #090418;
    --md-ref-palette-neutral-3: #0d071c;
    --md-ref-palette-neutral-4: #110b1f;
    --md-ref-palette-neutral-5: #130d22;
    --md-ref-palette-neutral-6: #161025;
    --md-ref-palette-neutral-7: #181227;
    --md-ref-palette-neutral-8: #1a1429;
    --md-ref-palette-neutral-9: #1c162b;
    --md-ref-palette-neutral-10: #1e182d;
    --md-ref-palette-neutral-11: #201a2f;
    --md-ref-palette-neutral-12: #221c31;
    --md-ref-palette-neutral-13: #241e34;
    --md-ref-palette-neutral-14: #272036;
    --md-ref-palette-neutral-15: #292238;
    --md-ref-palette-neutral-16: #2b243a;
    --md-ref-palette-neutral-17: #2d263c;
    --md-ref-palette-neutral-18: #2f293f;
    --md-ref-palette-neutral-19: #312b41;
    --md-ref-palette-neutral-20: #342d43;
    --md-ref-palette-neutral-21: #362f45;
    --md-ref-palette-neutral-22: #383148;
    --md-ref-palette-neutral-23: #3a334a;
    --md-ref-palette-neutral-24: #3c364c;
    --md-ref-palette-neutral-25: #3f384f;
    --md-ref-palette-neutral-26: #413a51;
    --md-ref-palette-neutral-27: #433c53;
    --md-ref-palette-neutral-28: #463f56;
    --md-ref-palette-neutral-29: #484158;
    --md-ref-palette-neutral-30: #4a435b;
    --md-ref-palette-neutral-31: #4d455d;
    --md-ref-palette-neutral-32: #4f485f;
    --md-ref-palette-neutral-33: #514a62;
    --md-ref-palette-neutral-34: #544c64;
    --md-ref-palette-neutral-35: #564f67;
    --md-ref-palette-neutral-36: #595169;
    --md-ref-palette-neutral-37: #5b536c;
    --md-ref-palette-neutral-38: #5d566e;
    --md-ref-palette-neutral-39: #605871;
    --md-ref-palette-neutral-40: #625a73;
    --md-ref-palette-neutral-41: #655d76;
    --md-ref-palette-neutral-42: #675f78;
    --md-ref-palette-neutral-43: #6a627b;
    --md-ref-palette-neutral-44: #6c647d;
    --md-ref-palette-neutral-45: #6f6780;
    --md-ref-palette-neutral-46: #716982;
    --md-ref-palette-neutral-47: #746c85;
    --md-ref-palette-neutral-48: #766e88;
    --md-ref-palette-neutral-49: #79708a;
    --md-ref-palette-neutral-50: #7c738d;
    --md-ref-palette-neutral-51: #7e758f;
    --md-ref-palette-neutral-52: #817892;
    --md-ref-palette-neutral-53: #837b95;
    --md-ref-palette-neutral-54: #867d97;
    --md-ref-palette-neutral-55: #88809a;
    --md-ref-palette-neutral-56: #8b829d;
    --md-ref-palette-neutral-57: #8e859f;
    --md-ref-palette-neutral-58: #9087a2;
    --md-ref-palette-neutral-59: #938aa5;
    --md-ref-palette-neutral-60: #968ca7;
    --md-ref-palette-neutral-61: #988faa;
    --md-ref-palette-neutral-62: #9b92ad;
    --md-ref-palette-neutral-63: #9e94af;
    --md-ref-palette-neutral-64: #a097b2;
    --md-ref-palette-neutral-65: #a399b5;
    --md-ref-palette-neutral-66: #a69cb7;
    --md-ref-palette-neutral-67: #a89fba;
    --md-ref-palette-neutral-68: #aba1bd;
    --md-ref-palette-neutral-69: #aea4c0;
    --md-ref-palette-neutral-70: #b1a7c3;
    --md-ref-palette-neutral-71: #b3a9c5;
    --md-ref-palette-neutral-72: #b6acc8;
    --md-ref-palette-neutral-73: #b9afcb;
    --md-ref-palette-neutral-74: #bcb1ce;
    --md-ref-palette-neutral-75: #beb4d0;
    --md-ref-palette-neutral-76: #c1b7d3;
    --md-ref-palette-neutral-77: #c4bad6;
    --md-ref-palette-neutral-78: #c7bcd9;
    --md-ref-palette-neutral-79: #cabfdc;
    --md-ref-palette-neutral-80: #ccc2df;
    --md-ref-palette-neutral-81: #cfc5e1;
    --md-ref-palette-neutral-82: #d2c7e4;
    --md-ref-palette-neutral-83: #d5cae7;
    --md-ref-palette-neutral-84: #d8cdea;
    --md-ref-palette-neutral-85: #dbd0ed;
    --md-ref-palette-neutral-86: #ddd2f0;
    --md-ref-palette-neutral-87: #e0d5f3;
    --md-ref-palette-neutral-88: #e3d8f5;
    --md-ref-palette-neutral-89: #e6dbf8;
    --md-ref-palette-neutral-90: #e9defb;
    --md-ref-palette-neutral-91: #ece0fe;
    --md-ref-palette-neutral-92: #eee4ff;
    --md-ref-palette-neutral-93: #f1e7ff;
    --md-ref-palette-neutral-94: #f3eaff;
    --md-ref-palette-neutral-95: #f6edff;
    --md-ref-palette-neutral-96: #f8f1ff;
    --md-ref-palette-neutral-97: #fbf4ff;
    --md-ref-palette-neutral-98: #fef7ff;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #06001a;
    --md-ref-palette-neutral-variant-2: #0b0028;
    --md-ref-palette-neutral-variant-3: #100031;
    --md-ref-palette-neutral-variant-4: #13003a;
    --md-ref-palette-neutral-variant-5: #170040;
    --md-ref-palette-neutral-variant-6: #1a0047;
    --md-ref-palette-neutral-variant-7: #1c014a;
    --md-ref-palette-neutral-variant-8: #1e044c;
    --md-ref-palette-neutral-variant-9: #20074e;
    --md-ref-palette-neutral-variant-10: #220950;
    --md-ref-palette-neutral-variant-11: #240c52;
    --md-ref-palette-neutral-variant-12: #260f54;
    --md-ref-palette-neutral-variant-13: #281256;
    --md-ref-palette-neutral-variant-14: #2a1458;
    --md-ref-palette-neutral-variant-15: #2d175b;
    --md-ref-palette-neutral-variant-16: #2f195d;
    --md-ref-palette-neutral-variant-17: #311c5f;
    --md-ref-palette-neutral-variant-18: #331e61;
    --md-ref-palette-neutral-variant-19: #352163;
    --md-ref-palette-neutral-variant-20: #382366;
    --md-ref-palette-neutral-variant-21: #3a2568;
    --md-ref-palette-neutral-variant-22: #3c286a;
    --md-ref-palette-neutral-variant-23: #3e2a6d;
    --md-ref-palette-neutral-variant-24: #412c6f;
    --md-ref-palette-neutral-variant-25: #432f72;
    --md-ref-palette-neutral-variant-26: #453174;
    --md-ref-palette-neutral-variant-27: #483477;
    --md-ref-palette-neutral-variant-28: #4a3679;
    --md-ref-palette-neutral-variant-29: #4c387b;
    --md-ref-palette-neutral-variant-30: #4f3b7e;
    --md-ref-palette-neutral-variant-31: #513d80;
    --md-ref-palette-neutral-variant-32: #533f83;
    --md-ref-palette-neutral-variant-33: #564286;
    --md-ref-palette-neutral-variant-34: #584488;
    --md-ref-palette-neutral-variant-35: #5b478b;
    --md-ref-palette-neutral-variant-36: #5d498d;
    --md-ref-palette-neutral-variant-37: #5f4b90;
    --md-ref-palette-neutral-variant-38: #624e92;
    --md-ref-palette-neutral-variant-39: #645095;
    --md-ref-palette-neutral-variant-40: #675398;
    --md-ref-palette-neutral-variant-41: #69559a;
    --md-ref-palette-neutral-variant-42: #6c579d;
    --md-ref-palette-neutral-variant-43: #6e5aa0;
    --md-ref-palette-neutral-variant-44: #715ca2;
    --md-ref-palette-neutral-variant-45: #735fa5;
    --md-ref-palette-neutral-variant-46: #7661a8;
    --md-ref-palette-neutral-variant-47: #7864aa;
    --md-ref-palette-neutral-variant-48: #7b66ad;
    --md-ref-palette-neutral-variant-49: #7e69b0;
    --md-ref-palette-neutral-variant-50: #806bb2;
    --md-ref-palette-neutral-variant-51: #836eb5;
    --md-ref-palette-neutral-variant-52: #8570b8;
    --md-ref-palette-neutral-variant-53: #8873bb;
    --md-ref-palette-neutral-variant-54: #8b75bd;
    --md-ref-palette-neutral-variant-55: #8d78c0;
    --md-ref-palette-neutral-variant-56: #907bc3;
    --md-ref-palette-neutral-variant-57: #927dc6;
    --md-ref-palette-neutral-variant-58: #9580c8;
    --md-ref-palette-neutral-variant-59: #9882cb;
    --md-ref-palette-neutral-variant-60: #9a85ce;
    --md-ref-palette-neutral-variant-61: #9d88d1;
    --md-ref-palette-neutral-variant-62: #a08ad4;
    --md-ref-palette-neutral-variant-63: #a38dd7;
    --md-ref-palette-neutral-variant-64: #a58fd9;
    --md-ref-palette-neutral-variant-65: #a892dc;
    --md-ref-palette-neutral-variant-66: #ab95df;
    --md-ref-palette-neutral-variant-67: #ad97e2;
    --md-ref-palette-neutral-variant-68: #b09ae5;
    --md-ref-palette-neutral-variant-69: #b39de8;
    --md-ref-palette-neutral-variant-70: #b69feb;
    --md-ref-palette-neutral-variant-71: #b8a2ed;
    --md-ref-palette-neutral-variant-72: #bba5f0;
    --md-ref-palette-neutral-variant-73: #bea7f3;
    --md-ref-palette-neutral-variant-74: #c1aaf6;
    --md-ref-palette-neutral-variant-75: #c3adf9;
    --md-ref-palette-neutral-variant-76: #c6affc;
    --md-ref-palette-neutral-variant-77: #c9b2ff;
    --md-ref-palette-neutral-variant-78: #ccb5ff;
    --md-ref-palette-neutral-variant-79: #ceb9ff;
    --md-ref-palette-neutral-variant-80: #d0bcff;
    --md-ref-palette-neutral-variant-81: #d3bfff;
    --md-ref-palette-neutral-variant-82: #d5c3ff;
    --md-ref-palette-neutral-variant-83: #d8c6ff;
    --md-ref-palette-neutral-variant-84: #dac9ff;
    --md-ref-palette-neutral-variant-85: #ddcdff;
    --md-ref-palette-neutral-variant-86: #dfd0ff;
    --md-ref-palette-neutral-variant-87: #e2d3ff;
    --md-ref-palette-neutral-variant-88: #e4d6ff;
    --md-ref-palette-neutral-variant-89: #e7daff;
    --md-ref-palette-neutral-variant-90: #e9ddff;
    --md-ref-palette-neutral-variant-91: #ece0ff;
    --md-ref-palette-neutral-variant-92: #eee4ff;
    --md-ref-palette-neutral-variant-93: #f1e7ff;
    --md-ref-palette-neutral-variant-94: #f3eaff;
    --md-ref-palette-neutral-variant-95: #f6edff;
    --md-ref-palette-neutral-variant-96: #f8f1ff;
    --md-ref-palette-neutral-variant-97: #fbf4ff;
    --md-ref-palette-neutral-variant-98: #fef7ff;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
