:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #06001a;
    --md-ref-palette-primary-2: #0b0028;
    --md-ref-palette-primary-3: #100031;
    --md-ref-palette-primary-4: #13003a;
    --md-ref-palette-primary-5: #170040;
    --md-ref-palette-primary-10: #23005c;
    --md-ref-palette-primary-20: #391e72;
    --md-ref-palette-primary-30: #50378a;
    --md-ref-palette-primary-40: #684fa3;
    --md-ref-palette-primary-50: #8268be;
    --md-ref-palette-primary-60: #9c82da;
    --md-ref-palette-primary-70: #b79cf7;
    --md-ref-palette-primary-80: #d0bcff;
    --md-ref-palette-primary-90: #e9ddff;
    --md-ref-palette-primary-95: #f6edff;
    --md-ref-palette-primary-96: #f8f1ff;
    --md-ref-palette-primary-97: #fbf4ff;
    --md-ref-palette-primary-98: #fef7ff;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #010500;
    --md-ref-palette-secondary-2: #020900;
    --md-ref-palette-secondary-3: #040e00;
    --md-ref-palette-secondary-4: #051100;
    --md-ref-palette-secondary-5: #061400;
    --md-ref-palette-secondary-10: #0f2004;
    --md-ref-palette-secondary-20: #243516;
    --md-ref-palette-secondary-30: #3a4c2a;
    --md-ref-palette-secondary-40: #516440;
    --md-ref-palette-secondary-50: #697d57;
    --md-ref-palette-secondary-60: #82976f;
    --md-ref-palette-secondary-70: #9db288;
    --md-ref-palette-secondary-80: #b8cea1;
    --md-ref-palette-secondary-90: #d3eabc;
    --md-ref-palette-secondary-95: #e2f8c9;
    --md-ref-palette-secondary-96: #e4fbcc;
    --md-ref-palette-secondary-97: #e7fecf;
    --md-ref-palette-secondary-98: #efffdb;
    --md-ref-palette-secondary-99: #f8ffeb;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #020500;
    --md-ref-palette-tertiary-2: #040900;
    --md-ref-palette-tertiary-3: #060d00;
    --md-ref-palette-tertiary-4: #071100;
    --md-ref-palette-tertiary-5: #091400;
    --md-ref-palette-tertiary-10: #111f00;
    --md-ref-palette-tertiary-20: #213600;
    --md-ref-palette-tertiary-30: #324f00;
    --md-ref-palette-tertiary-40: #476810;
    --md-ref-palette-tertiary-50: #5e8229;
    --md-ref-palette-tertiary-60: #779c41;
    --md-ref-palette-tertiary-70: #91b758;
    --md-ref-palette-tertiary-80: #abd371;
    --md-ref-palette-tertiary-90: #c7f08a;
    --md-ref-palette-tertiary-95: #d5ff96;
    --md-ref-palette-tertiary-96: #deffac;
    --md-ref-palette-tertiary-97: #e8ffc1;
    --md-ref-palette-tertiary-98: #f0ffd5;
    --md-ref-palette-tertiary-99: #f9ffe7;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100002;
    --md-ref-palette-error-2: #1a0003;
    --md-ref-palette-error-3: #210005;
    --md-ref-palette-error-4: #270007;
    --md-ref-palette-error-5: #2c0008;
    --md-ref-palette-error-10: #400010;
    --md-ref-palette-error-20: #67001f;
    --md-ref-palette-error-30: #8a1632;
    --md-ref-palette-error-40: #ab3149;
    --md-ref-palette-error-50: #cb4960;
    --md-ref-palette-error-60: #ed6278;
    --md-ref-palette-error-70: #ff8796;
    --md-ref-palette-error-80: #ffb2b9;
    --md-ref-palette-error-90: #ffdadc;
    --md-ref-palette-error-95: #ffeced;
    --md-ref-palette-error-96: #fff0f0;
    --md-ref-palette-error-97: #fff4f4;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050213;
    --md-ref-palette-neutral-2: #090418;
    --md-ref-palette-neutral-3: #0d071c;
    --md-ref-palette-neutral-4: #110b1f;
    --md-ref-palette-neutral-5: #130d22;
    --md-ref-palette-neutral-10: #1e182d;
    --md-ref-palette-neutral-20: #342d43;
    --md-ref-palette-neutral-30: #4a435b;
    --md-ref-palette-neutral-40: #625a73;
    --md-ref-palette-neutral-50: #7c738d;
    --md-ref-palette-neutral-60: #968ca7;
    --md-ref-palette-neutral-70: #b1a7c3;
    --md-ref-palette-neutral-80: #ccc2df;
    --md-ref-palette-neutral-90: #e9defb;
    --md-ref-palette-neutral-95: #f6edff;
    --md-ref-palette-neutral-96: #f8f1ff;
    --md-ref-palette-neutral-97: #fbf4ff;
    --md-ref-palette-neutral-98: #fef7ff;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #06001a;
    --md-ref-palette-neutral-variant-2: #0b0028;
    --md-ref-palette-neutral-variant-3: #100031;
    --md-ref-palette-neutral-variant-4: #13003a;
    --md-ref-palette-neutral-variant-5: #170040;
    --md-ref-palette-neutral-variant-10: #220950;
    --md-ref-palette-neutral-variant-20: #382366;
    --md-ref-palette-neutral-variant-30: #4f3b7e;
    --md-ref-palette-neutral-variant-40: #675398;
    --md-ref-palette-neutral-variant-50: #806bb2;
    --md-ref-palette-neutral-variant-60: #9a85ce;
    --md-ref-palette-neutral-variant-70: #b69feb;
    --md-ref-palette-neutral-variant-80: #d0bcff;
    --md-ref-palette-neutral-variant-90: #e9ddff;
    --md-ref-palette-neutral-variant-95: #f6edff;
    --md-ref-palette-neutral-variant-96: #f8f1ff;
    --md-ref-palette-neutral-variant-97: #fbf4ff;
    --md-ref-palette-neutral-variant-98: #fef7ff;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
