:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000506;
    --md-ref-palette-primary-2: #00090b;
    --md-ref-palette-primary-3: #000d10;
    --md-ref-palette-primary-4: #001114;
    --md-ref-palette-primary-5: #001417;
    --md-ref-palette-primary-10: #001f24;
    --md-ref-palette-primary-20: #00363d;
    --md-ref-palette-primary-30: #004f58;
    --md-ref-palette-primary-40: #006874;
    --md-ref-palette-primary-50: #008392;
    --md-ref-palette-primary-60: #369eac;
    --md-ref-palette-primary-70: #56b9c8;
    --md-ref-palette-primary-80: #74d5e4;
    --md-ref-palette-primary-90: #98f0ff;
    --md-ref-palette-primary-95: #d0f8ff;
    --md-ref-palette-primary-96: #daf9ff;
    --md-ref-palette-primary-97: #e4fbff;
    --md-ref-palette-primary-98: #edfcff;
    --md-ref-palette-primary-99: #f6feff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #100001;
    --md-ref-palette-secondary-2: #180103;
    --md-ref-palette-secondary-3: #1d0305;
    --md-ref-palette-secondary-4: #220407;
    --md-ref-palette-secondary-5: #25060a;
    --md-ref-palette-secondary-10: #331014;
    --md-ref-palette-secondary-20: #4c2528;
    --md-ref-palette-secondary-30: #663b3d;
    --md-ref-palette-secondary-40: #815154;
    --md-ref-palette-secondary-50: #9d6a6c;
    --md-ref-palette-secondary-60: #b98385;
    --md-ref-palette-secondary-70: #d69c9f;
    --md-ref-palette-secondary-80: #f4b7ba;
    --md-ref-palette-secondary-90: #ffdada;
    --md-ref-palette-secondary-95: #ffedec;
    --md-ref-palette-secondary-96: #fff0f0;
    --md-ref-palette-secondary-97: #fff4f3;
    --md-ref-palette-secondary-98: #fff8f7;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #060300;
    --md-ref-palette-tertiary-2: #0c0700;
    --md-ref-palette-tertiary-3: #100a00;
    --md-ref-palette-tertiary-4: #140d00;
    --md-ref-palette-tertiary-5: #171000;
    --md-ref-palette-tertiary-10: #241a00;
    --md-ref-palette-tertiary-20: #3e2e00;
    --md-ref-palette-tertiary-30: #594401;
    --md-ref-palette-tertiary-40: #725c1a;
    --md-ref-palette-tertiary-50: #8d7431;
    --md-ref-palette-tertiary-60: #a98e47;
    --md-ref-palette-tertiary-70: #c5a85f;
    --md-ref-palette-tertiary-80: #e2c377;
    --md-ref-palette-tertiary-90: #ffdf92;
    --md-ref-palette-tertiary-95: #ffefcf;
    --md-ref-palette-tertiary-96: #fff2db;
    --md-ref-palette-tertiary-97: #fff5e6;
    --md-ref-palette-tertiary-98: #fff8f1;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #070205;
    --md-ref-palette-neutral-2: #0d0509;
    --md-ref-palette-neutral-3: #11090d;
    --md-ref-palette-neutral-4: #140c11;
    --md-ref-palette-neutral-5: #170e13;
    --md-ref-palette-neutral-10: #22191e;
    --md-ref-palette-neutral-20: #382d33;
    --md-ref-palette-neutral-30: #4f4449;
    --md-ref-palette-neutral-40: #685b61;
    --md-ref-palette-neutral-50: #81737a;
    --md-ref-palette-neutral-60: #9c8d93;
    --md-ref-palette-neutral-70: #b7a7ae;
    --md-ref-palette-neutral-80: #d3c2c9;
    --md-ref-palette-neutral-90: #f0dee5;
    --md-ref-palette-neutral-95: #feecf3;
    --md-ref-palette-neutral-96: #fff0f5;
    --md-ref-palette-neutral-97: #fff4f7;
    --md-ref-palette-neutral-98: #fff8f9;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #090206;
    --md-ref-palette-neutral-variant-2: #0f040b;
    --md-ref-palette-neutral-variant-3: #13070f;
    --md-ref-palette-neutral-variant-4: #170a12;
    --md-ref-palette-neutral-variant-5: #1a0d15;
    --md-ref-palette-neutral-variant-10: #251720;
    --md-ref-palette-neutral-variant-20: #3c2c35;
    --md-ref-palette-neutral-variant-30: #53424b;
    --md-ref-palette-neutral-variant-40: #6c5963;
    --md-ref-palette-neutral-variant-50: #86717c;
    --md-ref-palette-neutral-variant-60: #a18b96;
    --md-ref-palette-neutral-variant-70: #bca5b0;
    --md-ref-palette-neutral-variant-80: #d8c0cc;
    --md-ref-palette-neutral-variant-90: #f5dce8;
    --md-ref-palette-neutral-variant-95: #ffecf4;
    --md-ref-palette-neutral-variant-96: #fff0f5;
    --md-ref-palette-neutral-variant-97: #fff4f7;
    --md-ref-palette-neutral-variant-98: #fff8f9;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
