:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000409;
    --md-ref-palette-primary-2: #000811;
    --md-ref-palette-primary-3: #000c16;
    --md-ref-palette-primary-4: #00101b;
    --md-ref-palette-primary-5: #00131f;
    --md-ref-palette-primary-6: #001523;
    --md-ref-palette-primary-7: #001826;
    --md-ref-palette-primary-8: #001a29;
    --md-ref-palette-primary-9: #001c2c;
    --md-ref-palette-primary-10: #001e2f;
    --md-ref-palette-primary-11: #002031;
    --md-ref-palette-primary-12: #002234;
    --md-ref-palette-primary-13: #002437;
    --md-ref-palette-primary-14: #00273a;
    --md-ref-palette-primary-15: #00293d;
    --md-ref-palette-primary-16: #002b41;
    --md-ref-palette-primary-17: #002d44;
    --md-ref-palette-primary-18: #002f47;
    --md-ref-palette-primary-19: #00324a;
    --md-ref-palette-primary-20: #00344d;
    --md-ref-palette-primary-21: #003650;
    --md-ref-palette-primary-22: #003953;
    --md-ref-palette-primary-23: #003b57;
    --md-ref-palette-primary-24: #003d5a;
    --md-ref-palette-primary-25: #00405d;
    --md-ref-palette-primary-26: #004260;
    --md-ref-palette-primary-27: #004464;
    --md-ref-palette-primary-28: #004767;
    --md-ref-palette-primary-29: #00496a;
    --md-ref-palette-primary-30: #004c6e;
    --md-ref-palette-primary-31: #004e71;
    --md-ref-palette-primary-32: #005174;
    --md-ref-palette-primary-33: #005378;
    --md-ref-palette-primary-34: #00557b;
    --md-ref-palette-primary-35: #00587f;
    --md-ref-palette-primary-36: #005a82;
    --md-ref-palette-primary-37: #005d86;
    --md-ref-palette-primary-38: #006089;
    --md-ref-palette-primary-39: #06628c;
    --md-ref-palette-primary-40: #0d648e;
    --md-ref-palette-primary-41: #136791;
    --md-ref-palette-primary-42: #186994;
    --md-ref-palette-primary-43: #1c6c96;
    --md-ref-palette-primary-44: #206e99;
    --md-ref-palette-primary-45: #24719b;
    --md-ref-palette-primary-46: #28739e;
    --md-ref-palette-primary-47: #2b76a1;
    --md-ref-palette-primary-48: #2e78a3;
    --md-ref-palette-primary-49: #327ba6;
    --md-ref-palette-primary-50: #357ea9;
    --md-ref-palette-primary-51: #3880ac;
    --md-ref-palette-primary-52: #3b83ae;
    --md-ref-palette-primary-53: #3e85b1;
    --md-ref-palette-primary-54: #4188b4;
    --md-ref-palette-primary-55: #448ab6;
    --md-ref-palette-primary-56: #478db9;
    --md-ref-palette-primary-57: #4a90bc;
    --md-ref-palette-primary-58: #4d92bf;
    --md-ref-palette-primary-59: #5095c1;
    --md-ref-palette-primary-60: #5398c4;
    --md-ref-palette-primary-61: #559ac7;
    --md-ref-palette-primary-62: #589dca;
    --md-ref-palette-primary-63: #5ba0cd;
    --md-ref-palette-primary-64: #5ea2cf;
    --md-ref-palette-primary-65: #61a5d2;
    --md-ref-palette-primary-66: #64a8d5;
    --md-ref-palette-primary-67: #66aad8;
    --md-ref-palette-primary-68: #69addb;
    --md-ref-palette-primary-69: #6cb0dd;
    --md-ref-palette-primary-70: #6fb2e0;
    --md-ref-palette-primary-71: #72b5e3;
    --md-ref-palette-primary-72: #74b8e6;
    --md-ref-palette-primary-73: #77bbe9;
    --md-ref-palette-primary-74: #7abdec;
    --md-ref-palette-primary-75: #7dc0ef;
    --md-ref-palette-primary-76: #80c3f2;
    --md-ref-palette-primary-77: #82c6f4;
    --md-ref-palette-primary-78: #85c8f7;
    --md-ref-palette-primary-79: #88cbfa;
    --md-ref-palette-primary-80: #8bcefd;
    --md-ref-palette-primary-81: #8fd1ff;
    --md-ref-palette-primary-82: #96d3ff;
    --md-ref-palette-primary-83: #9dd5ff;
    --md-ref-palette-primary-84: #a3d8ff;
    --md-ref-palette-primary-85: #aadaff;
    --md-ref-palette-primary-86: #b0ddff;
    --md-ref-palette-primary-87: #b6dfff;
    --md-ref-palette-primary-88: #bce1ff;
    --md-ref-palette-primary-89: #c2e4ff;
    --md-ref-palette-primary-90: #c8e6ff;
    --md-ref-palette-primary-91: #cee9ff;
    --md-ref-palette-primary-92: #d4ebff;
    --md-ref-palette-primary-93: #daeeff;
    --md-ref-palette-primary-94: #dff0ff;
    --md-ref-palette-primary-95: #e5f2ff;
    --md-ref-palette-primary-96: #ebf5ff;
    --md-ref-palette-primary-97: #f0f7ff;
    --md-ref-palette-primary-98: #f6faff;
    --md-ref-palette-primary-99: #fbfcff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #0b0200;
    --md-ref-palette-secondary-2: #140400;
    --md-ref-palette-secondary-3: #1a0500;
    --md-ref-palette-secondary-4: #1f0700;
    --md-ref-palette-secondary-5: #230900;
    --md-ref-palette-secondary-6: #270b00;
    --md-ref-palette-secondary-7: #2a0d01;
    --md-ref-palette-secondary-8: #2c0f01;
    --md-ref-palette-secondary-9: #2f1102;
    --md-ref-palette-secondary-10: #311303;
    --md-ref-palette-secondary-11: #341504;
    --md-ref-palette-secondary-12: #361705;
    --md-ref-palette-secondary-13: #391907;
    --md-ref-palette-secondary-14: #3b1b09;
    --md-ref-palette-secondary-15: #3e1d0a;
    --md-ref-palette-secondary-16: #401f0c;
    --md-ref-palette-secondary-17: #43210e;
    --md-ref-palette-secondary-18: #462310;
    --md-ref-palette-secondary-19: #482512;
    --md-ref-palette-secondary-20: #4b2714;
    --md-ref-palette-secondary-21: #4d2916;
    --md-ref-palette-secondary-22: #502b18;
    --md-ref-palette-secondary-23: #522d1a;
    --md-ref-palette-secondary-24: #55301c;
    --md-ref-palette-secondary-25: #58321e;
    --md-ref-palette-secondary-26: #5a3420;
    --md-ref-palette-secondary-27: #5d3622;
    --md-ref-palette-secondary-28: #603824;
    --md-ref-palette-secondary-29: #623b26;
    --md-ref-palette-secondary-30: #653d28;
    --md-ref-palette-secondary-31: #683f2a;
    --md-ref-palette-secondary-32: #6a412c;
    --md-ref-palette-secondary-33: #6d442e;
    --md-ref-palette-secondary-34: #704630;
    --md-ref-palette-secondary-35: #724833;
    --md-ref-palette-secondary-36: #754a35;
    --md-ref-palette-secondary-37: #784d37;
    --md-ref-palette-secondary-38: #7b4f39;
    --md-ref-palette-secondary-39: #7d513b;
    --md-ref-palette-secondary-40: #80543d;
    --md-ref-palette-secondary-41: #835640;
    --md-ref-palette-secondary-42: #865942;
    --md-ref-palette-secondary-43: #885b44;
    --md-ref-palette-secondary-44: #8b5d46;
    --md-ref-palette-secondary-45: #8e6049;
    --md-ref-palette-secondary-46: #91624b;
    --md-ref-palette-secondary-47: #94654d;
    --md-ref-palette-secondary-48: #96674f;
    --md-ref-palette-secondary-49: #996952;
    --md-ref-palette-secondary-50: #9c6c54;
    --md-ref-palette-secondary-51: #9f6e56;
    --md-ref-palette-secondary-52: #a27159;
    --md-ref-palette-secondary-53: #a5735b;
    --md-ref-palette-secondary-54: #a7765d;
    --md-ref-palette-secondary-55: #aa7860;
    --md-ref-palette-secondary-56: #ad7b62;
    --md-ref-palette-secondary-57: #b07d65;
    --md-ref-palette-secondary-58: #b38067;
    --md-ref-palette-secondary-59: #b68269;
    --md-ref-palette-secondary-60: #b9856c;
    --md-ref-palette-secondary-61: #bc886e;
    --md-ref-palette-secondary-62: #be8a71;
    --md-ref-palette-secondary-63: #c18d73;
    --md-ref-palette-secondary-64: #c48f75;
    --md-ref-palette-secondary-65: #c79278;
    --md-ref-palette-secondary-66: #ca947a;
    --md-ref-palette-secondary-67: #cd977d;
    --md-ref-palette-secondary-68: #d09a7f;
    --md-ref-palette-secondary-69: #d39c82;
    --md-ref-palette-secondary-70: #d69f84;
    --md-ref-palette-secondary-71: #d9a287;
    --md-ref-palette-secondary-72: #dca489;
    --md-ref-palette-secondary-73: #dfa78c;
    --md-ref-palette-secondary-74: #e2aa8e;
    --md-ref-palette-secondary-75: #e5ac91;
    --md-ref-palette-secondary-76: #e8af94;
    --md-ref-palette-secondary-77: #ebb296;
    --md-ref-palette-secondary-78: #eeb499;
    --md-ref-palette-secondary-79: #f1b79b;
    --md-ref-palette-secondary-80: #f4ba9e;
    --md-ref-palette-secondary-81: #f7bca1;
    --md-ref-palette-secondary-82: #fabfa3;
    --md-ref-palette-secondary-83: #fdc2a6;
    --md-ref-palette-secondary-84: #ffc5a9;
    --md-ref-palette-secondary-85: #ffc9af;
    --md-ref-palette-secondary-86: #ffccb5;
    --md-ref-palette-secondary-87: #ffd0ba;
    --md-ref-palette-secondary-88: #ffd4c0;
    --md-ref-palette-secondary-89: #ffd7c6;
    --md-ref-palette-secondary-90: #ffdbcb;
    --md-ref-palette-secondary-91: #ffdfd1;
    --md-ref-palette-secondary-92: #ffe2d6;
    --md-ref-palette-secondary-93: #ffe6db;
    --md-ref-palette-secondary-94: #ffeae1;
    --md-ref-palette-secondary-95: #ffede6;
    --md-ref-palette-secondary-96: #fff1eb;
    --md-ref-palette-secondary-97: #fff4f0;
    --md-ref-palette-secondary-98: #fff8f6;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #030400;
    --md-ref-palette-tertiary-2: #060800;
    --md-ref-palette-tertiary-3: #090c00;
    --md-ref-palette-tertiary-4: #0c1000;
    --md-ref-palette-tertiary-5: #0e1300;
    --md-ref-palette-tertiary-6: #111500;
    --md-ref-palette-tertiary-7: #131800;
    --md-ref-palette-tertiary-8: #151a00;
    --md-ref-palette-tertiary-9: #161c00;
    --md-ref-palette-tertiary-10: #181e00;
    --md-ref-palette-tertiary-11: #1a2000;
    --md-ref-palette-tertiary-12: #1c2200;
    --md-ref-palette-tertiary-13: #1e2400;
    --md-ref-palette-tertiary-14: #202700;
    --md-ref-palette-tertiary-15: #222900;
    --md-ref-palette-tertiary-16: #242b00;
    --md-ref-palette-tertiary-17: #262d00;
    --md-ref-palette-tertiary-18: #283000;
    --md-ref-palette-tertiary-19: #2a3200;
    --md-ref-palette-tertiary-20: #2c3400;
    --md-ref-palette-tertiary-21: #2e3600;
    --md-ref-palette-tertiary-22: #303902;
    --md-ref-palette-tertiary-23: #323b03;
    --md-ref-palette-tertiary-24: #343d05;
    --md-ref-palette-tertiary-25: #363f07;
    --md-ref-palette-tertiary-26: #39420a;
    --md-ref-palette-tertiary-27: #3b440c;
    --md-ref-palette-tertiary-28: #3d460e;
    --md-ref-palette-tertiary-29: #3f4911;
    --md-ref-palette-tertiary-30: #424b13;
    --md-ref-palette-tertiary-31: #444d15;
    --md-ref-palette-tertiary-32: #465017;
    --md-ref-palette-tertiary-33: #485219;
    --md-ref-palette-tertiary-34: #4b551c;
    --md-ref-palette-tertiary-35: #4d571e;
    --md-ref-palette-tertiary-36: #4f5920;
    --md-ref-palette-tertiary-37: #525c22;
    --md-ref-palette-tertiary-38: #545e24;
    --md-ref-palette-tertiary-39: #576127;
    --md-ref-palette-tertiary-40: #596329;
    --md-ref-palette-tertiary-41: #5b662b;
    --md-ref-palette-tertiary-42: #5e682d;
    --md-ref-palette-tertiary-43: #606b2f;
    --md-ref-palette-tertiary-44: #636d31;
    --md-ref-palette-tertiary-45: #657034;
    --md-ref-palette-tertiary-46: #687236;
    --md-ref-palette-tertiary-47: #6a7538;
    --md-ref-palette-tertiary-48: #6d773a;
    --md-ref-palette-tertiary-49: #6f7a3d;
    --md-ref-palette-tertiary-50: #727c3f;
    --md-ref-palette-tertiary-51: #747f41;
    --md-ref-palette-tertiary-52: #778243;
    --md-ref-palette-tertiary-53: #798446;
    --md-ref-palette-tertiary-54: #7c8748;
    --md-ref-palette-tertiary-55: #7e894a;
    --md-ref-palette-tertiary-56: #818c4d;
    --md-ref-palette-tertiary-57: #838f4f;
    --md-ref-palette-tertiary-58: #869151;
    --md-ref-palette-tertiary-59: #899454;
    --md-ref-palette-tertiary-60: #8b9656;
    --md-ref-palette-tertiary-61: #8e9958;
    --md-ref-palette-tertiary-62: #909c5b;
    --md-ref-palette-tertiary-63: #939e5d;
    --md-ref-palette-tertiary-64: #96a15f;
    --md-ref-palette-tertiary-65: #98a462;
    --md-ref-palette-tertiary-66: #9ba664;
    --md-ref-palette-tertiary-67: #9ea967;
    --md-ref-palette-tertiary-68: #a0ac69;
    --md-ref-palette-tertiary-69: #a3af6b;
    --md-ref-palette-tertiary-70: #a6b16e;
    --md-ref-palette-tertiary-71: #a8b470;
    --md-ref-palette-tertiary-72: #abb773;
    --md-ref-palette-tertiary-73: #aeba75;
    --md-ref-palette-tertiary-74: #b0bc78;
    --md-ref-palette-tertiary-75: #b3bf7a;
    --md-ref-palette-tertiary-76: #b6c27d;
    --md-ref-palette-tertiary-77: #b9c57f;
    --md-ref-palette-tertiary-78: #bbc782;
    --md-ref-palette-tertiary-79: #beca84;
    --md-ref-palette-tertiary-80: #c1cd87;
    --md-ref-palette-tertiary-81: #c4d089;
    --md-ref-palette-tertiary-82: #c6d38c;
    --md-ref-palette-tertiary-83: #c9d58e;
    --md-ref-palette-tertiary-84: #ccd891;
    --md-ref-palette-tertiary-85: #cfdb93;
    --md-ref-palette-tertiary-86: #d2de96;
    --md-ref-palette-tertiary-87: #d4e198;
    --md-ref-palette-tertiary-88: #d7e39b;
    --md-ref-palette-tertiary-89: #dae69e;
    --md-ref-palette-tertiary-90: #dde9a0;
    --md-ref-palette-tertiary-91: #e0eca3;
    --md-ref-palette-tertiary-92: #e3efa5;
    --md-ref-palette-tertiary-93: #e6f2a8;
    --md-ref-palette-tertiary-94: #e8f5ab;
    --md-ref-palette-tertiary-95: #ebf8ad;
    --md-ref-palette-tertiary-96: #eefbb0;
    --md-ref-palette-tertiary-97: #f1fdb2;
    --md-ref-palette-tertiary-98: #f6ffc2;
    --md-ref-palette-tertiary-99: #fbffe1;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #080203;
    --md-ref-palette-neutral-2: #0e0506;
    --md-ref-palette-neutral-3: #120809;
    --md-ref-palette-neutral-4: #160b0c;
    --md-ref-palette-neutral-5: #190e0e;
    --md-ref-palette-neutral-6: #1c1011;
    --md-ref-palette-neutral-7: #1e1313;
    --md-ref-palette-neutral-8: #201515;
    --md-ref-palette-neutral-9: #221717;
    --md-ref-palette-neutral-10: #241819;
    --md-ref-palette-neutral-11: #271a1b;
    --md-ref-palette-neutral-12: #291c1d;
    --md-ref-palette-neutral-13: #2b1e1f;
    --md-ref-palette-neutral-14: #2d2021;
    --md-ref-palette-neutral-15: #2f2323;
    --md-ref-palette-neutral-16: #322525;
    --md-ref-palette-neutral-17: #342727;
    --md-ref-palette-neutral-18: #362929;
    --md-ref-palette-neutral-19: #382b2b;
    --md-ref-palette-neutral-20: #3b2d2d;
    --md-ref-palette-neutral-21: #3d2f2f;
    --md-ref-palette-neutral-22: #3f3132;
    --md-ref-palette-neutral-23: #423334;
    --md-ref-palette-neutral-24: #443636;
    --md-ref-palette-neutral-25: #463838;
    --md-ref-palette-neutral-26: #493a3a;
    --md-ref-palette-neutral-27: #4b3c3d;
    --md-ref-palette-neutral-28: #4d3f3f;
    --md-ref-palette-neutral-29: #504141;
    --md-ref-palette-neutral-30: #524343;
    --md-ref-palette-neutral-31: #554546;
    --md-ref-palette-neutral-32: #574848;
    --md-ref-palette-neutral-33: #5a4a4a;
    --md-ref-palette-neutral-34: #5c4c4d;
    --md-ref-palette-neutral-35: #5e4f4f;
    --md-ref-palette-neutral-36: #615151;
    --md-ref-palette-neutral-37: #635354;
    --md-ref-palette-neutral-38: #665656;
    --md-ref-palette-neutral-39: #685858;
    --md-ref-palette-neutral-40: #6b5a5b;
    --md-ref-palette-neutral-41: #6e5d5d;
    --md-ref-palette-neutral-42: #705f5f;
    --md-ref-palette-neutral-43: #736262;
    --md-ref-palette-neutral-44: #756464;
    --md-ref-palette-neutral-45: #786667;
    --md-ref-palette-neutral-46: #7a6969;
    --md-ref-palette-neutral-47: #7d6b6c;
    --md-ref-palette-neutral-48: #806e6e;
    --md-ref-palette-neutral-49: #827070;
    --md-ref-palette-neutral-50: #857373;
    --md-ref-palette-neutral-51: #877575;
    --md-ref-palette-neutral-52: #8a7878;
    --md-ref-palette-neutral-53: #8d7a7a;
    --md-ref-palette-neutral-54: #8f7d7d;
    --md-ref-palette-neutral-55: #927f80;
    --md-ref-palette-neutral-56: #958282;
    --md-ref-palette-neutral-57: #978485;
    --md-ref-palette-neutral-58: #9a8787;
    --md-ref-palette-neutral-59: #9d8a8a;
    --md-ref-palette-neutral-60: #9f8c8c;
    --md-ref-palette-neutral-61: #a28f8f;
    --md-ref-palette-neutral-62: #a59191;
    --md-ref-palette-neutral-63: #a89494;
    --md-ref-palette-neutral-64: #aa9797;
    --md-ref-palette-neutral-65: #ad9999;
    --md-ref-palette-neutral-66: #b09c9c;
    --md-ref-palette-neutral-67: #b39e9f;
    --md-ref-palette-neutral-68: #b5a1a1;
    --md-ref-palette-neutral-69: #b8a4a4;
    --md-ref-palette-neutral-70: #bba6a6;
    --md-ref-palette-neutral-71: #bea9a9;
    --md-ref-palette-neutral-72: #c0acac;
    --md-ref-palette-neutral-73: #c3aeaf;
    --md-ref-palette-neutral-74: #c6b1b1;
    --md-ref-palette-neutral-75: #c9b4b4;
    --md-ref-palette-neutral-76: #ccb7b7;
    --md-ref-palette-neutral-77: #cfb9b9;
    --md-ref-palette-neutral-78: #d1bcbc;
    --md-ref-palette-neutral-79: #d4bfbf;
    --md-ref-palette-neutral-80: #d7c1c1;
    --md-ref-palette-neutral-81: #dac4c4;
    --md-ref-palette-neutral-82: #ddc7c7;
    --md-ref-palette-neutral-83: #e0caca;
    --md-ref-palette-neutral-84: #e3cccc;
    --md-ref-palette-neutral-85: #e5cfcf;
    --md-ref-palette-neutral-86: #e8d2d2;
    --md-ref-palette-neutral-87: #ebd5d5;
    --md-ref-palette-neutral-88: #eed8d8;
    --md-ref-palette-neutral-89: #f1dada;
    --md-ref-palette-neutral-90: #f4dddd;
    --md-ref-palette-neutral-91: #f7e0e0;
    --md-ref-palette-neutral-92: #fae3e3;
    --md-ref-palette-neutral-93: #fde6e6;
    --md-ref-palette-neutral-94: #ffe9e9;
    --md-ref-palette-neutral-95: #ffedec;
    --md-ref-palette-neutral-96: #fff0f0;
    --md-ref-palette-neutral-97: #fff4f3;
    --md-ref-palette-neutral-98: #fff8f7;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #0b0202;
    --md-ref-palette-neutral-variant-2: #110405;
    --md-ref-palette-neutral-variant-3: #160708;
    --md-ref-palette-neutral-variant-4: #190a0b;
    --md-ref-palette-neutral-variant-5: #1c0c0d;
    --md-ref-palette-neutral-variant-6: #1f0f10;
    --md-ref-palette-neutral-variant-7: #221112;
    --md-ref-palette-neutral-variant-8: #241314;
    --md-ref-palette-neutral-variant-9: #261516;
    --md-ref-palette-neutral-variant-10: #281718;
    --md-ref-palette-neutral-variant-11: #2b191a;
    --md-ref-palette-neutral-variant-12: #2d1b1c;
    --md-ref-palette-neutral-variant-13: #2f1d1e;
    --md-ref-palette-neutral-variant-14: #311f20;
    --md-ref-palette-neutral-variant-15: #342122;
    --md-ref-palette-neutral-variant-16: #362324;
    --md-ref-palette-neutral-variant-17: #382526;
    --md-ref-palette-neutral-variant-18: #3b2728;
    --md-ref-palette-neutral-variant-19: #3d292a;
    --md-ref-palette-neutral-variant-20: #3f2b2c;
    --md-ref-palette-neutral-variant-21: #422d2e;
    --md-ref-palette-neutral-variant-22: #442f30;
    --md-ref-palette-neutral-variant-23: #463232;
    --md-ref-palette-neutral-variant-24: #493434;
    --md-ref-palette-neutral-variant-25: #4b3637;
    --md-ref-palette-neutral-variant-26: #4e3839;
    --md-ref-palette-neutral-variant-27: #503a3b;
    --md-ref-palette-neutral-variant-28: #533d3d;
    --md-ref-palette-neutral-variant-29: #553f40;
    --md-ref-palette-neutral-variant-30: #584142;
    --md-ref-palette-neutral-variant-31: #5a4344;
    --md-ref-palette-neutral-variant-32: #5c4646;
    --md-ref-palette-neutral-variant-33: #5f4849;
    --md-ref-palette-neutral-variant-34: #624a4b;
    --md-ref-palette-neutral-variant-35: #644d4d;
    --md-ref-palette-neutral-variant-36: #674f50;
    --md-ref-palette-neutral-variant-37: #695152;
    --md-ref-palette-neutral-variant-38: #6c5454;
    --md-ref-palette-neutral-variant-39: #6e5657;
    --md-ref-palette-neutral-variant-40: #715859;
    --md-ref-palette-neutral-variant-41: #735b5b;
    --md-ref-palette-neutral-variant-42: #765d5e;
    --md-ref-palette-neutral-variant-43: #796060;
    --md-ref-palette-neutral-variant-44: #7b6263;
    --md-ref-palette-neutral-variant-45: #7e6465;
    --md-ref-palette-neutral-variant-46: #806767;
    --md-ref-palette-neutral-variant-47: #83696a;
    --md-ref-palette-neutral-variant-48: #866c6c;
    --md-ref-palette-neutral-variant-49: #886e6f;
    --md-ref-palette-neutral-variant-50: #8b7171;
    --md-ref-palette-neutral-variant-51: #8e7374;
    --md-ref-palette-neutral-variant-52: #907676;
    --md-ref-palette-neutral-variant-53: #937879;
    --md-ref-palette-neutral-variant-54: #967b7b;
    --md-ref-palette-neutral-variant-55: #987d7e;
    --md-ref-palette-neutral-variant-56: #9b8080;
    --md-ref-palette-neutral-variant-57: #9e8283;
    --md-ref-palette-neutral-variant-58: #a18585;
    --md-ref-palette-neutral-variant-59: #a38788;
    --md-ref-palette-neutral-variant-60: #a68a8a;
    --md-ref-palette-neutral-variant-61: #a98d8d;
    --md-ref-palette-neutral-variant-62: #ac8f90;
    --md-ref-palette-neutral-variant-63: #ae9292;
    --md-ref-palette-neutral-variant-64: #b19495;
    --md-ref-palette-neutral-variant-65: #b49797;
    --md-ref-palette-neutral-variant-66: #b79a9a;
    --md-ref-palette-neutral-variant-67: #b99c9d;
    --md-ref-palette-neutral-variant-68: #bc9f9f;
    --md-ref-palette-neutral-variant-69: #bfa1a2;
    --md-ref-palette-neutral-variant-70: #c2a4a5;
    --md-ref-palette-neutral-variant-71: #c5a7a7;
    --md-ref-palette-neutral-variant-72: #c8a9aa;
    --md-ref-palette-neutral-variant-73: #caacad;
    --md-ref-palette-neutral-variant-74: #cdafaf;
    --md-ref-palette-neutral-variant-75: #d0b1b2;
    --md-ref-palette-neutral-variant-76: #d3b4b5;
    --md-ref-palette-neutral-variant-77: #d6b7b7;
    --md-ref-palette-neutral-variant-78: #d9baba;
    --md-ref-palette-neutral-variant-79: #dcbcbd;
    --md-ref-palette-neutral-variant-80: #dfbfbf;
    --md-ref-palette-neutral-variant-81: #e1c2c2;
    --md-ref-palette-neutral-variant-82: #e4c5c5;
    --md-ref-palette-neutral-variant-83: #e7c7c8;
    --md-ref-palette-neutral-variant-84: #eacaca;
    --md-ref-palette-neutral-variant-85: #edcdcd;
    --md-ref-palette-neutral-variant-86: #f0d0d0;
    --md-ref-palette-neutral-variant-87: #f3d2d3;
    --md-ref-palette-neutral-variant-88: #f6d5d6;
    --md-ref-palette-neutral-variant-89: #f9d8d8;
    --md-ref-palette-neutral-variant-90: #fcdbdb;
    --md-ref-palette-neutral-variant-91: #ffdede;
    --md-ref-palette-neutral-variant-92: #ffe1e1;
    --md-ref-palette-neutral-variant-93: #ffe5e5;
    --md-ref-palette-neutral-variant-94: #ffe9e9;
    --md-ref-palette-neutral-variant-95: #ffedec;
    --md-ref-palette-neutral-variant-96: #fff0f0;
    --md-ref-palette-neutral-variant-97: #fff4f3;
    --md-ref-palette-neutral-variant-98: #fff8f7;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
