:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #0c000e;
    --md-ref-palette-primary-2: #150018;
    --md-ref-palette-primary-3: #1b001f;
    --md-ref-palette-primary-4: #200024;
    --md-ref-palette-primary-5: #250029;
    --md-ref-palette-primary-6: #29002e;
    --md-ref-palette-primary-7: #2d0032;
    --md-ref-palette-primary-8: #300035;
    --md-ref-palette-primary-9: #320237;
    --md-ref-palette-primary-10: #340439;
    --md-ref-palette-primary-11: #37063b;
    --md-ref-palette-primary-12: #39093d;
    --md-ref-palette-primary-13: #3c0b40;
    --md-ref-palette-primary-14: #3e0e42;
    --md-ref-palette-primary-15: #401144;
    --md-ref-palette-primary-16: #431346;
    --md-ref-palette-primary-17: #451549;
    --md-ref-palette-primary-18: #48184b;
    --md-ref-palette-primary-19: #4a1a4d;
    --md-ref-palette-primary-20: #4d1c50;
    --md-ref-palette-primary-21: #4f1f52;
    --md-ref-palette-primary-22: #522154;
    --md-ref-palette-primary-23: #542357;
    --md-ref-palette-primary-24: #572659;
    --md-ref-palette-primary-25: #59285c;
    --md-ref-palette-primary-26: #5c2a5e;
    --md-ref-palette-primary-27: #5e2d60;
    --md-ref-palette-primary-28: #612f63;
    --md-ref-palette-primary-29: #643165;
    --md-ref-palette-primary-30: #663368;
    --md-ref-palette-primary-31: #69366a;
    --md-ref-palette-primary-32: #6b386d;
    --md-ref-palette-primary-33: #6e3a6f;
    --md-ref-palette-primary-34: #713d72;
    --md-ref-palette-primary-35: #733f74;
    --md-ref-palette-primary-36: #764277;
    --md-ref-palette-primary-37: #784479;
    --md-ref-palette-primary-38: #7b467c;
    --md-ref-palette-primary-39: #7e497e;
    --md-ref-palette-primary-40: #804b81;
    --md-ref-palette-primary-41: #834d84;
    --md-ref-palette-primary-42: #865086;
    --md-ref-palette-primary-43: #895289;
    --md-ref-palette-primary-44: #8b558b;
    --md-ref-palette-primary-45: #8e578e;
    --md-ref-palette-primary-46: #915a91;
    --md-ref-palette-primary-47: #935c93;
    --md-ref-palette-primary-48: #965f96;
    --md-ref-palette-primary-49: #996199;
    --md-ref-palette-primary-50: #9c639b;
    --md-ref-palette-primary-51: #9e669e;
    --md-ref-palette-primary-52: #a168a1;
    --md-ref-palette-primary-53: #a46ba3;
    --md-ref-palette-primary-54: #a76da6;
    --md-ref-palette-primary-55: #aa70a9;
    --md-ref-palette-primary-56: #ac72ab;
    --md-ref-palette-primary-57: #af75ae;
    --md-ref-palette-primary-58: #b278b1;
    --md-ref-palette-primary-59: #b57ab4;
    --md-ref-palette-primary-60: #b87db6;
    --md-ref-palette-primary-61: #ba7fb9;
    --md-ref-palette-primary-62: #bd82bc;
    --md-ref-palette-primary-63: #c084bf;
    --md-ref-palette-primary-64: #c387c1;
    --md-ref-palette-primary-65: #c68ac4;
    --md-ref-palette-primary-66: #c98cc7;
    --md-ref-palette-primary-67: #cc8fca;
    --md-ref-palette-primary-68: #cf91cd;
    --md-ref-palette-primary-69: #d194cf;
    --md-ref-palette-primary-70: #d497d2;
    --md-ref-palette-primary-71: #d799d5;
    --md-ref-palette-primary-72: #da9cd8;
    --md-ref-palette-primary-73: #dd9fdb;
    --md-ref-palette-primary-74: #e0a1de;
    --md-ref-palette-primary-75: #e3a4e1;
    --md-ref-palette-primary-76: #e6a7e3;
    --md-ref-palette-primary-77: #e9a9e6;
    --md-ref-palette-primary-78: #ecace9;
    --md-ref-palette-primary-79: #efafec;
    --md-ref-palette-primary-80: #f2b1ef;
    --md-ref-palette-primary-81: #f5b4f2;
    --md-ref-palette-primary-82: #f8b7f5;
    --md-ref-palette-primary-83: #fbbaf8;
    --md-ref-palette-primary-84: #febcfb;
    --md-ref-palette-primary-85: #ffc0fc;
    --md-ref-palette-primary-86: #ffc5fb;
    --md-ref-palette-primary-87: #ffc9fb;
    --md-ref-palette-primary-88: #ffcdfa;
    --md-ref-palette-primary-89: #ffd2fa;
    --md-ref-palette-primary-90: #ffd6fa;
    --md-ref-palette-primary-91: #ffdafa;
    --md-ref-palette-primary-92: #ffdffa;
    --md-ref-palette-primary-93: #ffe3fa;
    --md-ref-palette-primary-94: #ffe7fa;
    --md-ref-palette-primary-95: #ffebfa;
    --md-ref-palette-primary-96: #ffeffa;
    --md-ref-palette-primary-97: #fff3fa;
    --md-ref-palette-primary-98: #fff7fa;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #010500;
    --md-ref-palette-secondary-2: #020a00;
    --md-ref-palette-secondary-3: #030e00;
    --md-ref-palette-secondary-4: #051100;
    --md-ref-palette-secondary-5: #061400;
    --md-ref-palette-secondary-6: #071700;
    --md-ref-palette-secondary-7: #091901;
    --md-ref-palette-secondary-8: #0b1c02;
    --md-ref-palette-secondary-9: #0d1e03;
    --md-ref-palette-secondary-10: #0f2004;
    --md-ref-palette-secondary-11: #112205;
    --md-ref-palette-secondary-12: #132407;
    --md-ref-palette-secondary-13: #152608;
    --md-ref-palette-secondary-14: #17280a;
    --md-ref-palette-secondary-15: #192a0c;
    --md-ref-palette-secondary-16: #1b2c0e;
    --md-ref-palette-secondary-17: #1d2f10;
    --md-ref-palette-secondary-18: #1f3112;
    --md-ref-palette-secondary-19: #223314;
    --md-ref-palette-secondary-20: #243516;
    --md-ref-palette-secondary-21: #263718;
    --md-ref-palette-secondary-22: #283a1a;
    --md-ref-palette-secondary-23: #2a3c1c;
    --md-ref-palette-secondary-24: #2c3e1e;
    --md-ref-palette-secondary-25: #2e4020;
    --md-ref-palette-secondary-26: #314322;
    --md-ref-palette-secondary-27: #334524;
    --md-ref-palette-secondary-28: #354726;
    --md-ref-palette-secondary-29: #374a28;
    --md-ref-palette-secondary-30: #3a4c2a;
    --md-ref-palette-secondary-31: #3c4e2c;
    --md-ref-palette-secondary-32: #3e512f;
    --md-ref-palette-secondary-33: #405331;
    --md-ref-palette-secondary-34: #435633;
    --md-ref-palette-secondary-35: #455835;
    --md-ref-palette-secondary-36: #475a37;
    --md-ref-palette-secondary-37: #4a5d39;
    --md-ref-palette-secondary-38: #4c5f3c;
    --md-ref-palette-secondary-39: #4e623e;
    --md-ref-palette-secondary-40: #516440;
    --md-ref-palette-secondary-41: #536742;
    --md-ref-palette-secondary-42: #556945;
    --md-ref-palette-secondary-43: #586c47;
    --md-ref-palette-secondary-44: #5a6e49;
    --md-ref-palette-secondary-45: #5d714b;
    --md-ref-palette-secondary-46: #5f734e;
    --md-ref-palette-secondary-47: #627650;
    --md-ref-palette-secondary-48: #647852;
    --md-ref-palette-secondary-49: #667b55;
    --md-ref-palette-secondary-50: #697d57;
    --md-ref-palette-secondary-51: #6b8059;
    --md-ref-palette-secondary-52: #6e825c;
    --md-ref-palette-secondary-53: #70855e;
    --md-ref-palette-secondary-54: #738860;
    --md-ref-palette-secondary-55: #758a63;
    --md-ref-palette-secondary-56: #788d65;
    --md-ref-palette-secondary-57: #7b8f68;
    --md-ref-palette-secondary-58: #7d926a;
    --md-ref-palette-secondary-59: #80956d;
    --md-ref-palette-secondary-60: #82976f;
    --md-ref-palette-secondary-61: #859a71;
    --md-ref-palette-secondary-62: #879d74;
    --md-ref-palette-secondary-63: #8a9f76;
    --md-ref-palette-secondary-64: #8da279;
    --md-ref-palette-secondary-65: #8fa57b;
    --md-ref-palette-secondary-66: #92a77e;
    --md-ref-palette-secondary-67: #94aa80;
    --md-ref-palette-secondary-68: #97ad83;
    --md-ref-palette-secondary-69: #9aaf85;
    --md-ref-palette-secondary-70: #9cb288;
    --md-ref-palette-secondary-71: #9fb58a;
    --md-ref-palette-secondary-72: #a2b88d;
    --md-ref-palette-secondary-73: #a4ba90;
    --md-ref-palette-secondary-74: #a7bd92;
    --md-ref-palette-secondary-75: #aac095;
    --md-ref-palette-secondary-76: #acc397;
    --md-ref-palette-secondary-77: #afc59a;
    --md-ref-palette-secondary-78: #b2c89c;
    --md-ref-palette-secondary-79: #b5cb9f;
    --md-ref-palette-secondary-80: #b7cea2;
    --md-ref-palette-secondary-81: #bad0a4;
    --md-ref-palette-secondary-82: #bdd3a7;
    --md-ref-palette-secondary-83: #c0d6a9;
    --md-ref-palette-secondary-84: #c2d9ac;
    --md-ref-palette-secondary-85: #c5dcaf;
    --md-ref-palette-secondary-86: #c8dfb1;
    --md-ref-palette-secondary-87: #cbe1b4;
    --md-ref-palette-secondary-88: #cee4b7;
    --md-ref-palette-secondary-89: #d0e7b9;
    --md-ref-palette-secondary-90: #d3eabc;
    --md-ref-palette-secondary-91: #d6edbf;
    --md-ref-palette-secondary-92: #d9f0c2;
    --md-ref-palette-secondary-93: #dcf3c4;
    --md-ref-palette-secondary-94: #def5c7;
    --md-ref-palette-secondary-95: #e1f8ca;
    --md-ref-palette-secondary-96: #e4fbcc;
    --md-ref-palette-secondary-97: #e7fecf;
    --md-ref-palette-secondary-98: #efffdb;
    --md-ref-palette-secondary-99: #f8ffeb;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #040400;
    --md-ref-palette-tertiary-2: #080800;
    --md-ref-palette-tertiary-3: #0c0c00;
    --md-ref-palette-tertiary-4: #0f0f00;
    --md-ref-palette-tertiary-5: #121200;
    --md-ref-palette-tertiary-6: #151400;
    --md-ref-palette-tertiary-7: #171700;
    --md-ref-palette-tertiary-8: #191900;
    --md-ref-palette-tertiary-9: #1b1b00;
    --md-ref-palette-tertiary-10: #1d1d00;
    --md-ref-palette-tertiary-11: #1f1f00;
    --md-ref-palette-tertiary-12: #212100;
    --md-ref-palette-tertiary-13: #232300;
    --md-ref-palette-tertiary-14: #252500;
    --md-ref-palette-tertiary-15: #282700;
    --md-ref-palette-tertiary-16: #2a2900;
    --md-ref-palette-tertiary-17: #2c2c00;
    --md-ref-palette-tertiary-18: #2e2e00;
    --md-ref-palette-tertiary-19: #303000;
    --md-ref-palette-tertiary-20: #333200;
    --md-ref-palette-tertiary-21: #353400;
    --md-ref-palette-tertiary-22: #373700;
    --md-ref-palette-tertiary-23: #393900;
    --md-ref-palette-tertiary-24: #3c3b00;
    --md-ref-palette-tertiary-25: #3e3d00;
    --md-ref-palette-tertiary-26: #404002;
    --md-ref-palette-tertiary-27: #434204;
    --md-ref-palette-tertiary-28: #454406;
    --md-ref-palette-tertiary-29: #474708;
    --md-ref-palette-tertiary-30: #4a490b;
    --md-ref-palette-tertiary-31: #4c4b0d;
    --md-ref-palette-tertiary-32: #4e4e10;
    --md-ref-palette-tertiary-33: #515012;
    --md-ref-palette-tertiary-34: #535214;
    --md-ref-palette-tertiary-35: #565517;
    --md-ref-palette-tertiary-36: #585719;
    --md-ref-palette-tertiary-37: #5a5a1b;
    --md-ref-palette-tertiary-38: #5d5c1d;
    --md-ref-palette-tertiary-39: #5f5f20;
    --md-ref-palette-tertiary-40: #626122;
    --md-ref-palette-tertiary-41: #646324;
    --md-ref-palette-tertiary-42: #676626;
    --md-ref-palette-tertiary-43: #696829;
    --md-ref-palette-tertiary-44: #6c6b2b;
    --md-ref-palette-tertiary-45: #6e6d2d;
    --md-ref-palette-tertiary-46: #71702f;
    --md-ref-palette-tertiary-47: #737231;
    --md-ref-palette-tertiary-48: #767534;
    --md-ref-palette-tertiary-49: #787736;
    --md-ref-palette-tertiary-50: #7b7a38;
    --md-ref-palette-tertiary-51: #7e7d3a;
    --md-ref-palette-tertiary-52: #807f3d;
    --md-ref-palette-tertiary-53: #83823f;
    --md-ref-palette-tertiary-54: #858441;
    --md-ref-palette-tertiary-55: #888744;
    --md-ref-palette-tertiary-56: #8b8946;
    --md-ref-palette-tertiary-57: #8d8c48;
    --md-ref-palette-tertiary-58: #908f4a;
    --md-ref-palette-tertiary-59: #92914d;
    --md-ref-palette-tertiary-60: #95944f;
    --md-ref-palette-tertiary-61: #989751;
    --md-ref-palette-tertiary-62: #9a9954;
    --md-ref-palette-tertiary-63: #9d9c56;
    --md-ref-palette-tertiary-64: #a09f58;
    --md-ref-palette-tertiary-65: #a3a15b;
    --md-ref-palette-tertiary-66: #a5a45d;
    --md-ref-palette-tertiary-67: #a8a760;
    --md-ref-palette-tertiary-68: #aba962;
    --md-ref-palette-tertiary-69: #adac64;
    --md-ref-palette-tertiary-70: #b0af67;
    --md-ref-palette-tertiary-71: #b3b169;
    --md-ref-palette-tertiary-72: #b6b46c;
    --md-ref-palette-tertiary-73: #b8b76e;
    --md-ref-palette-tertiary-74: #bbba71;
    --md-ref-palette-tertiary-75: #bebc73;
    --md-ref-palette-tertiary-76: #c1bf75;
    --md-ref-palette-tertiary-77: #c3c278;
    --md-ref-palette-tertiary-78: #c6c57a;
    --md-ref-palette-tertiary-79: #c9c77d;
    --md-ref-palette-tertiary-80: #ccca7f;
    --md-ref-palette-tertiary-81: #cfcd82;
    --md-ref-palette-tertiary-82: #d2d084;
    --md-ref-palette-tertiary-83: #d4d387;
    --md-ref-palette-tertiary-84: #d7d589;
    --md-ref-palette-tertiary-85: #dad88c;
    --md-ref-palette-tertiary-86: #dddb8e;
    --md-ref-palette-tertiary-87: #e0de91;
    --md-ref-palette-tertiary-88: #e3e193;
    --md-ref-palette-tertiary-89: #e6e496;
    --md-ref-palette-tertiary-90: #e8e699;
    --md-ref-palette-tertiary-91: #ebe99b;
    --md-ref-palette-tertiary-92: #eeec9e;
    --md-ref-palette-tertiary-93: #f1efa0;
    --md-ref-palette-tertiary-94: #f4f2a3;
    --md-ref-palette-tertiary-95: #f7f5a6;
    --md-ref-palette-tertiary-96: #faf8a8;
    --md-ref-palette-tertiary-97: #fdfaab;
    --md-ref-palette-tertiary-98: #fffcbf;
    --md-ref-palette-tertiary-99: #fffedf;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040400;
    --md-ref-palette-neutral-2: #080802;
    --md-ref-palette-neutral-3: #0c0b03;
    --md-ref-palette-neutral-4: #100e05;
    --md-ref-palette-neutral-5: #121107;
    --md-ref-palette-neutral-6: #151409;
    --md-ref-palette-neutral-7: #17160b;
    --md-ref-palette-neutral-8: #19180d;
    --md-ref-palette-neutral-9: #1b1a0f;
    --md-ref-palette-neutral-10: #1d1c11;
    --md-ref-palette-neutral-11: #1f1e13;
    --md-ref-palette-neutral-12: #212015;
    --md-ref-palette-neutral-13: #232216;
    --md-ref-palette-neutral-14: #262418;
    --md-ref-palette-neutral-15: #28261a;
    --md-ref-palette-neutral-16: #2a281c;
    --md-ref-palette-neutral-17: #2c2a1e;
    --md-ref-palette-neutral-18: #2e2c20;
    --md-ref-palette-neutral-19: #302f22;
    --md-ref-palette-neutral-20: #323124;
    --md-ref-palette-neutral-21: #353326;
    --md-ref-palette-neutral-22: #373529;
    --md-ref-palette-neutral-23: #39372b;
    --md-ref-palette-neutral-24: #3b392d;
    --md-ref-palette-neutral-25: #3e3c2f;
    --md-ref-palette-neutral-26: #403e31;
    --md-ref-palette-neutral-27: #424033;
    --md-ref-palette-neutral-28: #454235;
    --md-ref-palette-neutral-29: #474537;
    --md-ref-palette-neutral-30: #49473a;
    --md-ref-palette-neutral-31: #4c493c;
    --md-ref-palette-neutral-32: #4e4c3e;
    --md-ref-palette-neutral-33: #504e40;
    --md-ref-palette-neutral-34: #535043;
    --md-ref-palette-neutral-35: #555345;
    --md-ref-palette-neutral-36: #585547;
    --md-ref-palette-neutral-37: #5a5749;
    --md-ref-palette-neutral-38: #5c5a4c;
    --md-ref-palette-neutral-39: #5f5c4e;
    --md-ref-palette-neutral-40: #615f50;
    --md-ref-palette-neutral-41: #646153;
    --md-ref-palette-neutral-42: #666355;
    --md-ref-palette-neutral-43: #696657;
    --md-ref-palette-neutral-44: #6b685a;
    --md-ref-palette-neutral-45: #6e6b5c;
    --md-ref-palette-neutral-46: #706d5e;
    --md-ref-palette-neutral-47: #737061;
    --md-ref-palette-neutral-48: #757263;
    --md-ref-palette-neutral-49: #787566;
    --md-ref-palette-neutral-50: #7a7768;
    --md-ref-palette-neutral-51: #7d7a6b;
    --md-ref-palette-neutral-52: #807c6d;
    --md-ref-palette-neutral-53: #827f6f;
    --md-ref-palette-neutral-54: #858172;
    --md-ref-palette-neutral-55: #878474;
    --md-ref-palette-neutral-56: #8a8777;
    --md-ref-palette-neutral-57: #8d8979;
    --md-ref-palette-neutral-58: #8f8c7c;
    --md-ref-palette-neutral-59: #928e7e;
    --md-ref-palette-neutral-60: #949181;
    --md-ref-palette-neutral-61: #979383;
    --md-ref-palette-neutral-62: #9a9686;
    --md-ref-palette-neutral-63: #9c9988;
    --md-ref-palette-neutral-64: #9f9b8b;
    --md-ref-palette-neutral-65: #a29e8e;
    --md-ref-palette-neutral-66: #a4a190;
    --md-ref-palette-neutral-67: #a7a393;
    --md-ref-palette-neutral-68: #aaa695;
    --md-ref-palette-neutral-69: #ada998;
    --md-ref-palette-neutral-70: #afab9b;
    --md-ref-palette-neutral-71: #b2ae9d;
    --md-ref-palette-neutral-72: #b5b1a0;
    --md-ref-palette-neutral-73: #b8b3a2;
    --md-ref-palette-neutral-74: #bab6a5;
    --md-ref-palette-neutral-75: #bdb9a8;
    --md-ref-palette-neutral-76: #c0bcaa;
    --md-ref-palette-neutral-77: #c3bead;
    --md-ref-palette-neutral-78: #c5c1b0;
    --md-ref-palette-neutral-79: #c8c4b2;
    --md-ref-palette-neutral-80: #cbc7b5;
    --md-ref-palette-neutral-81: #cec9b8;
    --md-ref-palette-neutral-82: #d1ccba;
    --md-ref-palette-neutral-83: #d4cfbd;
    --md-ref-palette-neutral-84: #d6d2c0;
    --md-ref-palette-neutral-85: #d9d4c3;
    --md-ref-palette-neutral-86: #dcd7c5;
    --md-ref-palette-neutral-87: #dfdac8;
    --md-ref-palette-neutral-88: #e2ddcb;
    --md-ref-palette-neutral-89: #e5e0ce;
    --md-ref-palette-neutral-90: #e8e2d0;
    --md-ref-palette-neutral-91: #eae5d3;
    --md-ref-palette-neutral-92: #ede8d6;
    --md-ref-palette-neutral-93: #f0ebd9;
    --md-ref-palette-neutral-94: #f3eedb;
    --md-ref-palette-neutral-95: #f6f1de;
    --md-ref-palette-neutral-96: #f9f4e1;
    --md-ref-palette-neutral-97: #fcf6e4;
    --md-ref-palette-neutral-98: #fff9e7;
    --md-ref-palette-neutral-99: #fffcf3;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #040400;
    --md-ref-palette-neutral-variant-2: #090800;
    --md-ref-palette-neutral-variant-3: #0d0b01;
    --md-ref-palette-neutral-variant-4: #100f02;
    --md-ref-palette-neutral-variant-5: #131103;
    --md-ref-palette-neutral-variant-6: #151404;
    --md-ref-palette-neutral-variant-7: #181606;
    --md-ref-palette-neutral-variant-8: #1a1807;
    --md-ref-palette-neutral-variant-9: #1c1a09;
    --md-ref-palette-neutral-variant-10: #1e1c0b;
    --md-ref-palette-neutral-variant-11: #201e0d;
    --md-ref-palette-neutral-variant-12: #22200e;
    --md-ref-palette-neutral-variant-13: #242210;
    --md-ref-palette-neutral-variant-14: #262412;
    --md-ref-palette-neutral-variant-15: #282614;
    --md-ref-palette-neutral-variant-16: #2a2816;
    --md-ref-palette-neutral-variant-17: #2d2a18;
    --md-ref-palette-neutral-variant-18: #2f2d1a;
    --md-ref-palette-neutral-variant-19: #312f1c;
    --md-ref-palette-neutral-variant-20: #33311e;
    --md-ref-palette-neutral-variant-21: #353320;
    --md-ref-palette-neutral-variant-22: #383522;
    --md-ref-palette-neutral-variant-23: #3a3724;
    --md-ref-palette-neutral-variant-24: #3c3a26;
    --md-ref-palette-neutral-variant-25: #3e3c28;
    --md-ref-palette-neutral-variant-26: #413e2a;
    --md-ref-palette-neutral-variant-27: #43402c;
    --md-ref-palette-neutral-variant-28: #45432e;
    --md-ref-palette-neutral-variant-29: #484531;
    --md-ref-palette-neutral-variant-30: #4a4733;
    --md-ref-palette-neutral-variant-31: #4c4a35;
    --md-ref-palette-neutral-variant-32: #4f4c37;
    --md-ref-palette-neutral-variant-33: #514e39;
    --md-ref-palette-neutral-variant-34: #54513b;
    --md-ref-palette-neutral-variant-35: #56533e;
    --md-ref-palette-neutral-variant-36: #585540;
    --md-ref-palette-neutral-variant-37: #5b5842;
    --md-ref-palette-neutral-variant-38: #5d5a44;
    --md-ref-palette-neutral-variant-39: #605c47;
    --md-ref-palette-neutral-variant-40: #625f49;
    --md-ref-palette-neutral-variant-41: #65614b;
    --md-ref-palette-neutral-variant-42: #67644e;
    --md-ref-palette-neutral-variant-43: #6a6650;
    --md-ref-palette-neutral-variant-44: #6c6952;
    --md-ref-palette-neutral-variant-45: #6f6b54;
    --md-ref-palette-neutral-variant-46: #716e57;
    --md-ref-palette-neutral-variant-47: #747059;
    --md-ref-palette-neutral-variant-48: #76735c;
    --md-ref-palette-neutral-variant-49: #79755e;
    --md-ref-palette-neutral-variant-50: #7b7860;
    --md-ref-palette-neutral-variant-51: #7e7a63;
    --md-ref-palette-neutral-variant-52: #807d65;
    --md-ref-palette-neutral-variant-53: #837f68;
    --md-ref-palette-neutral-variant-54: #86826a;
    --md-ref-palette-neutral-variant-55: #88846c;
    --md-ref-palette-neutral-variant-56: #8b876f;
    --md-ref-palette-neutral-variant-57: #8d8971;
    --md-ref-palette-neutral-variant-58: #908c74;
    --md-ref-palette-neutral-variant-59: #938f76;
    --md-ref-palette-neutral-variant-60: #959179;
    --md-ref-palette-neutral-variant-61: #98947b;
    --md-ref-palette-neutral-variant-62: #9b967e;
    --md-ref-palette-neutral-variant-63: #9d9980;
    --md-ref-palette-neutral-variant-64: #a09c83;
    --md-ref-palette-neutral-variant-65: #a39e85;
    --md-ref-palette-neutral-variant-66: #a6a188;
    --md-ref-palette-neutral-variant-67: #a8a48a;
    --md-ref-palette-neutral-variant-68: #aba68d;
    --md-ref-palette-neutral-variant-69: #aea98f;
    --md-ref-palette-neutral-variant-70: #b0ac92;
    --md-ref-palette-neutral-variant-71: #b3ae95;
    --md-ref-palette-neutral-variant-72: #b6b197;
    --md-ref-palette-neutral-variant-73: #b9b49a;
    --md-ref-palette-neutral-variant-74: #bbb79c;
    --md-ref-palette-neutral-variant-75: #beb99f;
    --md-ref-palette-neutral-variant-76: #c1bca2;
    --md-ref-palette-neutral-variant-77: #c4bfa4;
    --md-ref-palette-neutral-variant-78: #c7c1a7;
    --md-ref-palette-neutral-variant-79: #c9c4a9;
    --md-ref-palette-neutral-variant-80: #ccc7ac;
    --md-ref-palette-neutral-variant-81: #cfcaaf;
    --md-ref-palette-neutral-variant-82: #d2cdb1;
    --md-ref-palette-neutral-variant-83: #d5cfb4;
    --md-ref-palette-neutral-variant-84: #d7d2b7;
    --md-ref-palette-neutral-variant-85: #dad5b9;
    --md-ref-palette-neutral-variant-86: #ddd8bc;
    --md-ref-palette-neutral-variant-87: #e0dabf;
    --md-ref-palette-neutral-variant-88: #e3ddc2;
    --md-ref-palette-neutral-variant-89: #e6e0c4;
    --md-ref-palette-neutral-variant-90: #e9e3c7;
    --md-ref-palette-neutral-variant-91: #ece6ca;
    --md-ref-palette-neutral-variant-92: #eee9cc;
    --md-ref-palette-neutral-variant-93: #f1ebcf;
    --md-ref-palette-neutral-variant-94: #f4eed2;
    --md-ref-palette-neutral-variant-95: #f7f1d5;
    --md-ref-palette-neutral-variant-96: #faf4d7;
    --md-ref-palette-neutral-variant-97: #fdf7da;
    --md-ref-palette-neutral-variant-98: #fff9e5;
    --md-ref-palette-neutral-variant-99: #fffcf2;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
