:root {
    --md-sys-color-background: light-dark(#fff8f8, #161213);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f8efef, #342f30);
    --md-sys-color-inverse-primary: light-dark(#e9bac7, #79545f);
    --md-sys-color-inverse-surface: light-dark(#342f30, #e9e0e1);
    --md-sys-color-neutral-palette-key-color: light-dark(#7c7677, #7c7677);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#817477, #817477);
    --md-sys-color-on-background: light-dark(#1e1b1b, #e9e0e1);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #462731);
    --md-sys-color-on-primary-container: light-dark(#b88d99, #b88d99);
    --md-sys-color-on-primary-fixed: light-dark(#2e131c, #2e131c);
    --md-sys-color-on-primary-fixed-variant: light-dark(#5f3d47, #5f3d47);
    --md-sys-color-on-secondary: light-dark(#ffffff, #3c2c30);
    --md-sys-color-on-secondary-container: light-dark(#735f64, #c7afb5);
    --md-sys-color-on-secondary-fixed: light-dark(#26181c, #26181c);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#544247, #544247);
    --md-sys-color-on-surface: light-dark(#1e1b1b, #e9e0e1);
    --md-sys-color-on-surface-variant: light-dark(#4f4447, #d3c2c6);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #462916);
    --md-sys-color-on-tertiary-container: light-dark(#b98f75, #b98f75);
    --md-sys-color-on-tertiary-fixed: light-dark(#2e1505, #2e1505);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#603f2b, #603f2b);
    --md-sys-color-outline: light-dark(#817477, #9c8d90);
    --md-sys-color-outline-variant: light-dark(#d3c2c6, #4f4447);
    --md-sys-color-primary: light-dark(#2e131c, #e9bac7);
    --md-sys-color-primary-container: light-dark(#462731, #462731);
    --md-sys-color-primary-fixed: light-dark(#ffd9e2, #ffd9e2);
    --md-sys-color-primary-fixed-dim: light-dark(#e9bac7, #e9bac7);
    --md-sys-color-primary-palette-key-color: light-dark(#946c77, #946c77);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#6c595e, #d9c0c6);
    --md-sys-color-secondary-container: light-dark(#f6dce2, #544247);
    --md-sys-color-secondary-fixed: light-dark(#f6dce2, #f6dce2);
    --md-sys-color-secondary-fixed-dim: light-dark(#d9c0c6, #d9c0c6);
    --md-sys-color-secondary-palette-key-color: light-dark(#867277, #867277);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f8, #161213);
    --md-sys-color-surface-bright: light-dark(#fff8f8, #3d3839);
    --md-sys-color-surface-container: light-dark(#f5ecec, #221f1f);
    --md-sys-color-surface-container-high: light-dark(#efe6e7, #2d292a);
    --md-sys-color-surface-container-highest: light-dark(#e9e0e1, #383434);
    --md-sys-color-surface-container-low: light-dark(#fbf1f2, #1e1b1b);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #110d0e);
    --md-sys-color-surface-dim: light-dark(#e0d8d9, #161213);
    --md-sys-color-surface-tint: light-dark(#79545f, #e9bac7);
    --md-sys-color-surface-variant: light-dark(#f0dee1, #4f4447);
    --md-sys-color-tertiary: light-dark(#2d1504, #ecbda1);
    --md-sys-color-tertiary-container: light-dark(#462916, #462916);
    --md-sys-color-tertiary-fixed: light-dark(#ffdbc8, #ffdbc8);
    --md-sys-color-tertiary-fixed-dim: light-dark(#ecbda1, #ecbda1);
    --md-sys-color-tertiary-palette-key-color: light-dark(#462916, #462916);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff8f8, #161213);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#9d9697, #696364);
        --md-sys-color-inverse-primary: light-dark(#976f7a, #9e7581);
        --md-sys-color-inverse-surface: light-dark(#342f30, #e9e0e1);
        --md-sys-color-neutral-palette-key-color: light-dark(#7c7677, #7c7677);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#817477, #817477);
        --md-sys-color-on-background: light-dark(#958e8f, #676162);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fffbff, #3f212a);
        --md-sys-color-on-primary-container: light-dark(#976f7a, #a27985);
        --md-sys-color-on-primary-fixed: light-dark(#65424d, #e7b8c4);
        --md-sys-color-on-primary-fixed-variant: light-dark(#825c67, #c094a0);
        --md-sys-color-on-secondary: light-dark(#fffbff, #35262a);
        --md-sys-color-on-secondary-container: light-dark(#89757a, #947f84);
        --md-sys-color-on-secondary-fixed: light-dark(#59484c, #d6bec3);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#756166, #b19aa0);
        --md-sys-color-on-surface: light-dark(#635e5e, #a8a1a2);
        --md-sys-color-on-surface-variant: light-dark(#85777a, #8e8083);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #3f2310);
        --md-sys-color-on-tertiary-container: light-dark(#99715a, #a47b63);
        --md-sys-color-on-tertiary-fixed: light-dark(#66452f, #e9ba9f);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#835e48, #c2977d);
        --md-sys-color-outline: light-dark(#beaeb1, #5d5154);
        --md-sys-color-outline-variant: light-dark(#e6d5d8, #42373a);
        --md-sys-color-primary: light-dark(#916a75, #b08591);
        --md-sys-color-primary-container: light-dark(#fdccd9, #51313b);
        --md-sys-color-primary-fixed: light-dark(#fdccd9, #6b4752);
        --md-sys-color-primary-fixed-dim: light-dark(#dfb1bd, #51313b);
        --md-sys-color-primary-palette-key-color: light-dark(#946c77, #946c77);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#846f74, #a18b90);
        --md-sys-color-secondary-container: light-dark(#ecd3d8, #46363a);
        --md-sys-color-secondary-fixed: light-dark(#ecd3d8, #5e4c51);
        --md-sys-color-secondary-fixed-dim: light-dark(#cfb7bd, #46363a);
        --md-sys-color-secondary-palette-key-color: light-dark(#867277, #867277);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f8, #161213);
        --md-sys-color-surface-bright: light-dark(#fff8f8, #3d3839);
        --md-sys-color-surface-container: light-dark(#f5ecec, #221f1f);
        --md-sys-color-surface-container-high: light-dark(#efe6e7, #2d292a);
        --md-sys-color-surface-container-highest: light-dark(#e9e0e1, #383434);
        --md-sys-color-surface-container-low: light-dark(#fbf1f2, #1e1b1b);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #110d0e);
        --md-sys-color-surface-dim: light-dark(#e0d8d9, #161213);
        --md-sys-color-surface-tint: light-dark(#79545f, #e9bac7);
        --md-sys-color-surface-variant: light-dark(#f0dee1, #4f4447);
        --md-sys-color-tertiary: light-dark(#936c55, #b2886f);
        --md-sys-color-tertiary-container: light-dark(#ffcfb4, #52331f);
        --md-sys-color-tertiary-fixed: light-dark(#ffcfb4, #6c4934);
        --md-sys-color-tertiary-fixed-dim: light-dark(#e2b398, #52331f);
        --md-sys-color-tertiary-palette-key-color: light-dark(#462916, #462916);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff8f8, #161213);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#e9bac7, #613e49);
        --md-sys-color-inverse-surface: light-dark(#342f30, #e9e0e1);
        --md-sys-color-neutral-palette-key-color: light-dark(#7c7677, #7c7677);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#817477, #817477);
        --md-sys-color-on-background: light-dark(#1e1b1b, #e9e0e1);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffe6eb, #1b040c);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #220812);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #14080b);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #1a0d11);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffe7da, #190600);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #210b00);
        --md-sys-color-outline: light-dark(#342a2c, #feecef);
        --md-sys-color-outline-variant: light-dark(#524649, #cfbfc2);
        --md-sys-color-primary: light-dark(#2e131c, #ffebef);
        --md-sys-color-primary-container: light-dark(#462731, #e5b6c3);
        --md-sys-color-primary-fixed: light-dark(#623f4a, #ffd9e2);
        --md-sys-color-primary-fixed-dim: light-dark(#492933, #e9bac7);
        --md-sys-color-primary-palette-key-color: light-dark(#946c77, #946c77);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#37282c, #ffebef);
        --md-sys-color-secondary-container: light-dark(#564549, #d5bdc2);
        --md-sys-color-secondary-fixed: light-dark(#564549, #f6dce2);
        --md-sys-color-secondary-fixed-dim: light-dark(#3e2e33, #d9c0c6);
        --md-sys-color-secondary-palette-key-color: light-dark(#867277, #867277);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f8, #161213);
        --md-sys-color-surface-bright: light-dark(#fff8f8, #544f4f);
        --md-sys-color-surface-container: light-dark(#e9e0e1, #342f30);
        --md-sys-color-surface-container-high: light-dark(#dbd2d3, #3f3a3b);
        --md-sys-color-surface-container-highest: light-dark(#cdc5c5, #4a4546);
        --md-sys-color-surface-container-low: light-dark(#f8efef, #221f1f);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#bfb7b8, #161213);
        --md-sys-color-surface-tint: light-dark(#79545f, #e9bac7);
        --md-sys-color-surface-variant: light-dark(#f0dee1, #4f4447);
        --md-sys-color-tertiary: light-dark(#2d1504, #ffece3);
        --md-sys-color-tertiary-container: light-dark(#462916, #e8b99e);
        --md-sys-color-tertiary-fixed: light-dark(#63422d, #ffdbc8);
        --md-sys-color-tertiary-fixed-dim: light-dark(#492c18, #ecbda1);
        --md-sys-color-tertiary-palette-key-color: light-dark(#462916, #462916);
    }

}
