:root {
    --md-sys-color-background: light-dark(#fcfaef, #000000);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f3f1e6, #30312a);
    --md-sys-color-inverse-primary: light-dark(#c0ce75, #586416);
    --md-sys-color-inverse-surface: light-dark(#30312a, #e4e3d8);
    --md-sys-color-neutral-palette-key-color: light-dark(#78776f, #78776f);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#777868, #777868);
    --md-sys-color-on-background: light-dark(#1b1c16, #e4e3d8);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #2c3400);
    --md-sys-color-on-primary-container: light-dark(#d2e085, #d2e085);
    --md-sys-color-on-primary-fixed: light-dark(#191e00, #191e00);
    --md-sys-color-on-primary-fixed-variant: light-dark(#414c00, #414c00);
    --md-sys-color-on-secondary: light-dark(#ffffff, #2e3314);
    --md-sys-color-on-secondary-container: light-dark(#606642, #b3b98f);
    --md-sys-color-on-secondary-fixed: light-dark(#191e03, #191e03);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#444a29, #444a29);
    --md-sys-color-on-surface: light-dark(#1b1c16, #e4e3d8);
    --md-sys-color-on-surface-variant: light-dark(#46483a, #c7c8b5);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #003918);
    --md-sys-color-on-tertiary-container: light-dark(#a4e9af, #a4e9af);
    --md-sys-color-on-tertiary-fixed: light-dark(#00210b, #00210b);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#0a5227, #0a5227);
    --md-sys-color-outline: light-dark(#777868, #919281);
    --md-sys-color-outline-variant: light-dark(#c7c8b5, #46483a);
    --md-sys-color-primary: light-dark(#414c00, #c0ce75);
    --md-sys-color-primary-container: light-dark(#586416, #586416);
    --md-sys-color-primary-fixed: light-dark(#dceb8e, #dceb8e);
    --md-sys-color-primary-fixed-dim: light-dark(#c0ce75, #c0ce75);
    --md-sys-color-primary-palette-key-color: light-dark(#707d2e, #707d2e);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#5c613e, #c5caa0);
    --md-sys-color-secondary-container: light-dark(#dee3b7, #444a29);
    --md-sys-color-secondary-fixed: light-dark(#e1e6ba, #e1e6ba);
    --md-sys-color-secondary-fixed-dim: light-dark(#c5caa0, #c5caa0);
    --md-sys-color-secondary-palette-key-color: light-dark(#757a55, #757a55);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fcfaef, #000000);
    --md-sys-color-surface-bright: light-dark(#fcfaef, #393a33);
    --md-sys-color-surface-container: light-dark(#f0eee4, #1f201a);
    --md-sys-color-surface-container-high: light-dark(#eae8de, #2a2a24);
    --md-sys-color-surface-container-highest: light-dark(#e4e3d8, #35352e);
    --md-sys-color-surface-container-low: light-dark(#f6f4e9, #1b1c16);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#dcdad0, #13140e);
    --md-sys-color-surface-tint: light-dark(#586416, #c0ce75);
    --md-sys-color-surface-variant: light-dark(#e4e4d1, #46483a);
    --md-sys-color-tertiary: light-dark(#0b5227, #92d69e);
    --md-sys-color-tertiary-container: light-dark(#2a6b3d, #2a6b3d);
    --md-sys-color-tertiary-fixed: light-dark(#adf3b8, #adf3b8);
    --md-sys-color-tertiary-fixed-dim: light-dark(#92d69e, #92d69e);
    --md-sys-color-tertiary-palette-key-color: light-dark(#2a6b3d, #2a6b3d);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fcfaef, #000000);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#99998f, #65655d);
        --md-sys-color-inverse-primary: light-dark(#738030, #7a8736);
        --md-sys-color-inverse-surface: light-dark(#30312a, #e4e3d8);
        --md-sys-color-neutral-palette-key-color: light-dark(#78776f, #78776f);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#777868, #777868);
        --md-sys-color-on-background: light-dark(#919087, #63635b);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fdffe0, #262d00);
        --md-sys-color-on-primary-container: light-dark(#738030, #7e8b39);
        --md-sys-color-on-primary-fixed: light-dark(#465101, #bdcc72);
        --md-sys-color-on-primary-fixed-variant: light-dark(#606c1e, #99a752);
        --md-sys-color-on-secondary: light-dark(#fdffe0, #272c0e);
        --md-sys-color-on-secondary-container: light-dark(#787d58, #828761);
        --md-sys-color-on-secondary-fixed: light-dark(#4a4f2e, #c2c89d);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#646946, #9ea47b);
        --md-sys-color-on-surface: light-dark(#605f57, #a4a39a);
        --md-sys-color-on-surface-variant: light-dark(#7b7c6c, #838474);
        --md-sys-color-on-tertiary: light-dark(#f7fff3, #003114);
        --md-sys-color-on-tertiary-container: light-dark(#478756, #519260);
        --md-sys-color-on-tertiary-fixed: light-dark(#13582c, #90d39b);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#327344, #6daf7a);
        --md-sys-color-outline: light-dark(#b2b3a1, #545547);
        --md-sys-color-outline-variant: light-dark(#dadac7, #393b2e);
        --md-sys-color-primary: light-dark(#6e7b2b, #8a9745);
        --md-sys-color-primary-container: light-dark(#d2e185, #353e00);
        --md-sys-color-primary-fixed: light-dark(#d2e185, #4b5607);
        --md-sys-color-primary-fixed-dim: light-dark(#b6c56c, #353e00);
        --md-sys-color-primary-palette-key-color: light-dark(#707d2e, #707d2e);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#727853, #8f946d);
        --md-sys-color-secondary-container: light-dark(#d7ddb1, #383d1d);
        --md-sys-color-secondary-fixed: light-dark(#d7ddb1, #4f5432);
        --md-sys-color-secondary-fixed-dim: light-dark(#bbc197, #383d1d);
        --md-sys-color-secondary-palette-key-color: light-dark(#757a55, #757a55);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fcfaef, #000000);
        --md-sys-color-surface-bright: light-dark(#fcfaef, #393a33);
        --md-sys-color-surface-container: light-dark(#f0eee4, #1f201a);
        --md-sys-color-surface-container-high: light-dark(#eae8de, #2a2a24);
        --md-sys-color-surface-container-highest: light-dark(#e4e3d8, #35352e);
        --md-sys-color-surface-container-low: light-dark(#f6f4e9, #1b1c16);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#dcdad0, #13140e);
        --md-sys-color-surface-tint: light-dark(#586416, #c0ce75);
        --md-sys-color-surface-variant: light-dark(#e4e4d1, #46483a);
        --md-sys-color-tertiary: light-dark(#418251, #5d9f6b);
        --md-sys-color-tertiary-container: light-dark(#a4e9af, #00441d);
        --md-sys-color-tertiary-fixed: light-dark(#a4e9af, #1a5d30);
        --md-sys-color-tertiary-fixed-dim: light-dark(#89cc95, #00441d);
        --md-sys-color-tertiary-palette-key-color: light-dark(#2a6b3d, #2a6b3d);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fcfaef, #000000);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#c0ce75, #424d00);
        --md-sys-color-inverse-surface: light-dark(#30312a, #e4e3d8);
        --md-sys-color-neutral-palette-key-color: light-dark(#78776f, #78776f);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#777868, #777868);
        --md-sys-color-on-background: light-dark(#1b1c16, #e4e3d8);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #090d00);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #0f1300);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #090d00);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #0f1300);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #000f03);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #001506);
        --md-sys-color-outline: light-dark(#2b2d21, #f1f1de);
        --md-sys-color-outline-variant: light-dark(#494a3c, #c3c4b2);
        --md-sys-color-primary: light-dark(#282f00, #e9f89a);
        --md-sys-color-primary-container: light-dark(#434e00, #bcca71);
        --md-sys-color-primary-fixed: light-dark(#434e00, #dceb8e);
        --md-sys-color-primary-fixed-dim: light-dark(#2e3600, #c0ce75);
        --md-sys-color-primary-palette-key-color: light-dark(#707d2e, #707d2e);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#2a2f11, #eef4c7);
        --md-sys-color-secondary-container: light-dark(#474c2b, #c1c69c);
        --md-sys-color-secondary-fixed: light-dark(#474c2b, #e1e6ba);
        --md-sys-color-secondary-fixed-dim: light-dark(#303517, #c5caa0);
        --md-sys-color-secondary-palette-key-color: light-dark(#757a55, #757a55);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fcfaef, #000000);
        --md-sys-color-surface-bright: light-dark(#fcfaef, #505049);
        --md-sys-color-surface-container: light-dark(#e4e3d8, #30312a);
        --md-sys-color-surface-container-high: light-dark(#d6d5ca, #3c3c35);
        --md-sys-color-surface-container-highest: light-dark(#c8c7bd, #474740);
        --md-sys-color-surface-container-low: light-dark(#f3f1e6, #1f201a);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#bab9af, #13140e);
        --md-sys-color-surface-tint: light-dark(#586416, #c0ce75);
        --md-sys-color-surface-variant: light-dark(#e4e4d1, #46483a);
        --md-sys-color-tertiary: light-dark(#003415, #c0ffc9);
        --md-sys-color-tertiary-container: light-dark(#0e5429, #8ed29a);
        --md-sys-color-tertiary-fixed: light-dark(#0e5429, #adf3b8);
        --md-sys-color-tertiary-fixed-dim: light-dark(#003c19, #92d69e);
        --md-sys-color-tertiary-palette-key-color: light-dark(#2a6b3d, #2a6b3d);
    }

}
