:root {
    --md-sys-color-background: light-dark(#fbfbe7, #131409);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-dim: light-dark(#a80710, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f2f2df, #303125);
    --md-sys-color-inverse-primary: light-dark(#b7d300, #566500);
    --md-sys-color-inverse-surface: light-dark(#303125, #e3e4d1);
    --md-sys-color-neutral-palette-key-color: light-dark(#777868, #777868);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#767962, #767962);
    --md-sys-color-on-background: light-dark(#1b1d11, #e3e4d1);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #2c3400);
    --md-sys-color-on-primary-container: light-dark(#4b5800, #4b5800);
    --md-sys-color-on-primary-fixed: light-dark(#191e00, #191e00);
    --md-sys-color-on-primary-fixed-variant: light-dark(#414c00, #414c00);
    --md-sys-color-on-secondary: light-dark(#ffffff, #2c3400);
    --md-sys-color-on-secondary-container: light-dark(#5e6a1c, #b5c36b);
    --md-sys-color-on-secondary-fixed: light-dark(#191e00, #191e00);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#414c00, #414c00);
    --md-sys-color-on-surface: light-dark(#1b1d11, #e3e4d1);
    --md-sys-color-on-surface-variant: light-dark(#454934, #c6c9ae);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #003a02);
    --md-sys-color-on-tertiary-container: light-dark(#006107, #006107);
    --md-sys-color-on-tertiary-fixed: light-dark(#002201, #002201);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#005305, #005305);
    --md-sys-color-outline: light-dark(#767962, #90937a);
    --md-sys-color-outline-variant: light-dark(#c6c9ae, #454934);
    --md-sys-color-primary: light-dark(#566500, #d3f032);
    --md-sys-color-primary-container: light-dark(#b7d300, #b7d300);
    --md-sys-color-primary-dim: light-dark(#4b5800, #e1ff41);
    --md-sys-color-primary-fixed: light-dark(#d3f032, #d3f032);
    --md-sys-color-primary-fixed-dim: light-dark(#b7d300, #b7d300);
    --md-sys-color-primary-palette-key-color: light-dark(#b7d300, #b7d300);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#586416, #bfce75);
    --md-sys-color-secondary-container: light-dark(#dbeb8e, #455101);
    --md-sys-color-secondary-dim: light-dark(#4c5809, #dbeb8e);
    --md-sys-color-secondary-fixed: light-dark(#dbeb8e, #dbeb8e);
    --md-sys-color-secondary-fixed-dim: light-dark(#bfce75, #bfce75);
    --md-sys-color-secondary-palette-key-color: light-dark(#707d2e, #707d2e);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fbfbe7, #131409);
    --md-sys-color-surface-bright: light-dark(#fbfbe7, #393a2d);
    --md-sys-color-surface-container: light-dark(#efefdc, #1f2115);
    --md-sys-color-surface-container-high: light-dark(#e9e9d6, #292b1f);
    --md-sys-color-surface-container-highest: light-dark(#e3e4d1, #343629);
    --md-sys-color-surface-container-low: light-dark(#f5f5e1, #1b1d11);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0d0f05);
    --md-sys-color-surface-dim: light-dark(#dbdbc8, #131409);
    --md-sys-color-surface-tint: light-dark(#566500, #b7d300);
    --md-sys-color-surface-variant: light-dark(#e2e5c9, #454934);
    --md-sys-color-tertiary: light-dark(#006e09, #89fc78);
    --md-sys-color-tertiary-container: light-dark(#6ddf5f, #6ddf5f);
    --md-sys-color-tertiary-dim: light-dark(#006107, #80f370);
    --md-sys-color-tertiary-fixed: light-dark(#89fc78, #89fc78);
    --md-sys-color-tertiary-fixed-dim: light-dark(#6ddf5f, #6ddf5f);
    --md-sys-color-tertiary-palette-key-color: light-dark(#6ddf5f, #6ddf5f);
}
:root[low-contrast] {
    --md-sys-color-background: light-dark(#fbfbe7, #131409);
    --md-sys-color-error: light-dark(#da342e, #ff5449);
    --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
    --md-sys-color-error-dim: light-dark(#c82623, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#989988, #646656);
    --md-sys-color-inverse-primary: light-dark(#708200, #768900);
    --md-sys-color-inverse-surface: light-dark(#303125, #e3e4d1);
    --md-sys-color-neutral-palette-key-color: light-dark(#777868, #777868);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#767962, #767962);
    --md-sys-color-on-background: light-dark(#909181, #626354);
    --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
    --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
    --md-sys-color-on-primary: light-dark(#fdffe0, #262d00);
    --md-sys-color-on-primary-container: light-dark(#708200, #798d00);
    --md-sys-color-on-primary-fixed: light-dark(#465100, #b5d000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#5e6d00, #93aa00);
    --md-sys-color-on-secondary: light-dark(#fdffe0, #262d00);
    --md-sys-color-on-secondary-container: light-dark(#738030, #7d8b3a);
    --md-sys-color-on-secondary-fixed: light-dark(#465102, #bdcc73);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#606c1e, #99a753);
    --md-sys-color-on-surface: light-dark(#5f6051, #a3a493);
    --md-sys-color-on-surface-variant: light-dark(#7a7d65, #82856d);
    --md-sys-color-on-tertiary: light-dark(#f8fff0, #003202);
    --md-sys-color-on-tertiary-container: light-dark(#0e8e14, #219920);
    --md-sys-color-on-tertiary-fixed: light-dark(#005906, #6adc5d);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#00780a, #44b63c);
    --md-sys-color-outline: light-dark(#b1b49a, #535640);
    --md-sys-color-outline-variant: light-dark(#d9dbbf, #393c28);
    --md-sys-color-primary: light-dark(#6b7c00, #859a00);
    --md-sys-color-primary-container: light-dark(#c9e626, #353e00);
    --md-sys-color-primary-dim: light-dark(#5f6f00, #869a00);
    --md-sys-color-primary-fixed: light-dark(#c9e626, #4a5700);
    --md-sys-color-primary-fixed-dim: light-dark(#aec900, #353e00);
    --md-sys-color-primary-palette-key-color: light-dark(#b7d300, #b7d300);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#6e7b2c, #8a9845);
    --md-sys-color-secondary-container: light-dark(#d2e185, #353e00);
    --md-sys-color-secondary-dim: light-dark(#616e20, #8a9845);
    --md-sys-color-secondary-fixed: light-dark(#d2e185, #4a5607);
    --md-sys-color-secondary-fixed-dim: light-dark(#b6c56d, #353e00);
    --md-sys-color-secondary-palette-key-color: light-dark(#707d2e, #707d2e);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fbfbe7, #131409);
    --md-sys-color-surface-bright: light-dark(#fbfbe7, #393a2d);
    --md-sys-color-surface-container: light-dark(#efefdc, #1f2115);
    --md-sys-color-surface-container-high: light-dark(#e9e9d6, #292b1f);
    --md-sys-color-surface-container-highest: light-dark(#e3e4d1, #343629);
    --md-sys-color-surface-container-low: light-dark(#f5f5e1, #1b1d11);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0d0f05);
    --md-sys-color-surface-dim: light-dark(#dbdbc8, #131409);
    --md-sys-color-surface-tint: light-dark(#566500, #b7d300);
    --md-sys-color-surface-variant: light-dark(#e2e5c9, #454934);
    --md-sys-color-tertiary: light-dark(#00880e, #32a62d);
    --md-sys-color-tertiary-container: light-dark(#7ff26f, #004503);
    --md-sys-color-tertiary-dim: light-dark(#00790b, #33a62e);
    --md-sys-color-tertiary-fixed: light-dark(#7ff26f, #005f06);
    --md-sys-color-tertiary-fixed-dim: light-dark(#63d556, #004503);
    --md-sys-color-tertiary-palette-key-color: light-dark(#6ddf5f, #6ddf5f);
}
:root[high-contrast] {
    --md-sys-color-background: light-dark(#fbfbe7, #131409);
    --md-sys-color-error: light-dark(#600004, #ffece9);
    --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
    --md-sys-color-error-dim: light-dark(#480002, #ffedea);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
    --md-sys-color-inverse-primary: light-dark(#b7d300, #424d00);
    --md-sys-color-inverse-surface: light-dark(#303125, #e3e4d1);
    --md-sys-color-neutral-palette-key-color: light-dark(#777868, #777868);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#767962, #767962);
    --md-sys-color-on-background: light-dark(#1b1d11, #e3e4d1);
    --md-sys-color-on-error: light-dark(#ffffff, #000000);
    --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
    --md-sys-color-on-primary: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-container: light-dark(#ffffff, #0f1300);
    --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #0f1300);
    --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-container: light-dark(#ffffff, #090d00);
    --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #0f1300);
    --md-sys-color-on-surface: light-dark(#000000, #ffffff);
    --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-container: light-dark(#ffffff, #001600);
    --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #001600);
    --md-sys-color-outline: light-dark(#2b2e1b, #f0f2d6);
    --md-sys-color-outline-variant: light-dark(#484b36, #c2c5aa);
    --md-sys-color-primary: light-dark(#282f00, #e0fe40);
    --md-sys-color-primary-container: light-dark(#434e00, #b7d300);
    --md-sys-color-primary-dim: light-dark(#1c2200, #e1ff41);
    --md-sys-color-primary-fixed: light-dark(#434e00, #d3f032);
    --md-sys-color-primary-fixed-dim: light-dark(#2e3600, #b7d300);
    --md-sys-color-primary-palette-key-color: light-dark(#b7d300, #b7d300);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#282f00, #e9f89a);
    --md-sys-color-secondary-container: light-dark(#434e00, #bbca71);
    --md-sys-color-secondary-dim: light-dark(#1c2200, #eaf99b);
    --md-sys-color-secondary-fixed: light-dark(#434e00, #dbeb8e);
    --md-sys-color-secondary-fixed-dim: light-dark(#2e3600, #bfce75);
    --md-sys-color-secondary-palette-key-color: light-dark(#707d2e, #707d2e);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fbfbe7, #131409);
    --md-sys-color-surface-bright: light-dark(#fbfbe7, #505143);
    --md-sys-color-surface-container: light-dark(#e3e4d1, #303125);
    --md-sys-color-surface-container-high: light-dark(#d5d6c3, #3b3d2f);
    --md-sys-color-surface-container-highest: light-dark(#c7c8b5, #46483a);
    --md-sys-color-surface-container-low: light-dark(#f2f2df, #1f2115);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#b9baa8, #131409);
    --md-sys-color-surface-tint: light-dark(#566500, #b7d300);
    --md-sys-color-surface-variant: light-dark(#e2e5c9, #454934);
    --md-sys-color-tertiary: light-dark(#003502, #c7ffb6);
    --md-sys-color-tertiary-container: light-dark(#005605, #6ddf5f);
    --md-sys-color-tertiary-dim: light-dark(#002601, #caffba);
    --md-sys-color-tertiary-fixed: light-dark(#005605, #89fc78);
    --md-sys-color-tertiary-fixed-dim: light-dark(#003c02, #6ddf5f);
    --md-sys-color-tertiary-palette-key-color: light-dark(#6ddf5f, #6ddf5f);
}
