:root {
    --md-sys-color-background: light-dark(#f8faf3, #000000);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#eff2ea, #2e312d);
    --md-sys-color-inverse-primary: light-dark(#96d69a, #2f6a39);
    --md-sys-color-inverse-surface: light-dark(#2e312d, #e1e3dc);
    --md-sys-color-neutral-palette-key-color: light-dark(#757872, #757872);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#71796e, #71796e);
    --md-sys-color-on-background: light-dark(#191d18, #e1e3dc);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #003913);
    --md-sys-color-on-primary-container: light-dark(#a8e8aa, #a8e8aa);
    --md-sys-color-on-primary-fixed: light-dark(#002108, #002108);
    --md-sys-color-on-primary-fixed-variant: light-dark(#145224, #145224);
    --md-sys-color-on-secondary: light-dark(#ffffff, #1f3521);
    --md-sys-color-on-secondary-container: light-dark(#536a52, #a9c3a6);
    --md-sys-color-on-secondary-fixed: light-dark(#0a200e, #0a200e);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#364c36, #364c36);
    --md-sys-color-on-surface: light-dark(#191d18, #e1e3dc);
    --md-sys-color-on-surface-variant: light-dark(#414940, #c0c9bd);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #003353);
    --md-sys-color-on-tertiary-container: light-dark(#badbff, #badbff);
    --md-sys-color-on-tertiary-fixed: light-dark(#001d33, #001d33);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#004a76, #004a76);
    --md-sys-color-outline: light-dark(#71796f, #8a9388);
    --md-sys-color-outline-variant: light-dark(#c0c9bd, #414940);
    --md-sys-color-primary: light-dark(#145123, #96d69a);
    --md-sys-color-primary-container: light-dark(#2f6a39, #2f6a39);
    --md-sys-color-primary-fixed: light-dark(#b1f2b4, #b1f2b4);
    --md-sys-color-primary-fixed-dim: light-dark(#96d69a, #96d69a);
    --md-sys-color-primary-palette-key-color: light-dark(#498450, #498450);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#4d644d, #b3ceb1);
    --md-sys-color-secondary-container: light-dark(#cfeacc, #3a513b);
    --md-sys-color-secondary-fixed: light-dark(#cfeacc, #cfeacc);
    --md-sys-color-secondary-fixed-dim: light-dark(#b3ceb1, #b3ceb1);
    --md-sys-color-secondary-palette-key-color: light-dark(#657d64, #657d64);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f8faf3, #000000);
    --md-sys-color-surface-bright: light-dark(#f8faf3, #373a35);
    --md-sys-color-surface-container: light-dark(#ecefe8, #1d211c);
    --md-sys-color-surface-container-high: light-dark(#e7e9e2, #272b26);
    --md-sys-color-surface-container-highest: light-dark(#e1e3dc, #323631);
    --md-sys-color-surface-container-low: light-dark(#f2f4ed, #191d18);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#d8dbd4, #111410);
    --md-sys-color-surface-tint: light-dark(#2f6a39, #96d69a);
    --md-sys-color-surface-variant: light-dark(#dce5d8, #414940);
    --md-sys-color-tertiary: light-dark(#004a75, #96ccff);
    --md-sys-color-tertiary-container: light-dark(#216292, #216292);
    --md-sys-color-tertiary-fixed: light-dark(#cee5ff, #cee5ff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#96ccff, #96ccff);
    --md-sys-color-tertiary-palette-key-color: light-dark(#216292, #216292);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#f8faf3, #000000);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#969993, #626560);
        --md-sys-color-inverse-primary: light-dark(#4b8752, #528e59);
        --md-sys-color-inverse-surface: light-dark(#2e312d, #e1e3dc);
        --md-sys-color-neutral-palette-key-color: light-dark(#757872, #757872);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#71796e, #71796e);
        --md-sys-color-on-background: light-dark(#8e918b, #60635e);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#f7fff2, #00320f);
        --md-sys-color-on-primary-container: light-dark(#4b8752, #55915c);
        --md-sys-color-on-primary-fixed: light-dark(#1b5729, #94d397);
        --md-sys-color-on-primary-fixed-variant: light-dark(#387341, #71ae76);
        --md-sys-color-on-secondary: light-dark(#f7fff2, #192f1b);
        --md-sys-color-on-secondary-container: light-dark(#688067, #728a71);
        --md-sys-color-on-secondary-fixed: light-dark(#3b523b, #b1cbae);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#556c54, #8da78c);
        --md-sys-color-on-surface: light-dark(#5d605b, #a1a49d);
        --md-sys-color-on-surface-variant: light-dark(#747d72, #7d857b);
        --md-sys-color-on-tertiary: light-dark(#fdfcff, #002c49);
        --md-sys-color-on-tertiary-container: light-dark(#447eb0, #4f89bb);
        --md-sys-color-on-tertiary-fixed: light-dark(#00507e, #91c9ff);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#2c6b9b, #6ca5d9);
        --md-sys-color-outline: light-dark(#acb4a8, #4e564d);
        --md-sys-color-outline-variant: light-dark(#d3dbcf, #343c33);
        --md-sys-color-primary: light-dark(#46814e, #629e68);
        --md-sys-color-primary-container: light-dark(#a8e8ab, #014418);
        --md-sys-color-primary-fixed: light-dark(#a8e8ab, #215c2d);
        --md-sys-color-primary-fixed-dim: light-dark(#8dcc91, #014418);
        --md-sys-color-primary-palette-key-color: light-dark(#498450, #498450);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#627b62, #7e977d);
        --md-sys-color-secondary-container: light-dark(#c5e0c3, #293f2a);
        --md-sys-color-secondary-fixed: light-dark(#c5e0c3, #405740);
        --md-sys-color-secondary-fixed-dim: light-dark(#aac4a8, #293f2a);
        --md-sys-color-secondary-palette-key-color: light-dark(#657d64, #657d64);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f8faf3, #000000);
        --md-sys-color-surface-bright: light-dark(#f8faf3, #373a35);
        --md-sys-color-surface-container: light-dark(#ecefe8, #1d211c);
        --md-sys-color-surface-container-high: light-dark(#e7e9e2, #272b26);
        --md-sys-color-surface-container-highest: light-dark(#e1e3dc, #323631);
        --md-sys-color-surface-container-low: light-dark(#f2f4ed, #191d18);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#d8dbd4, #111410);
        --md-sys-color-surface-tint: light-dark(#2f6a39, #96d69a);
        --md-sys-color-surface-variant: light-dark(#dce5d8, #414940);
        --md-sys-color-tertiary: light-dark(#3e79aa, #5c95c8);
        --md-sys-color-tertiary-container: light-dark(#bcdcff, #003d62);
        --md-sys-color-tertiary-fixed: light-dark(#bcdcff, #095584);
        --md-sys-color-tertiary-fixed-dim: light-dark(#8ac2f8, #003d62);
        --md-sys-color-tertiary-palette-key-color: light-dark(#216292, #216292);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#f8faf3, #000000);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#96d69a, #165325);
        --md-sys-color-inverse-surface: light-dark(#2e312d, #e1e3dc);
        --md-sys-color-neutral-palette-key-color: light-dark(#757872, #757872);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#71796e, #71796e);
        --md-sys-color-on-background: light-dark(#191d18, #e1e3dc);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000f02);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #001504);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000f02);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #021505);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #000c19);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #001222);
        --md-sys-color-outline: light-dark(#262e26, #eaf3e5);
        --md-sys-color-outline-variant: light-dark(#434b42, #bcc5b9);
        --md-sys-color-primary: light-dark(#003410, #c2ffc3);
        --md-sys-color-primary-container: light-dark(#175426, #92d296);
        --md-sys-color-primary-fixed: light-dark(#175426, #b1f2b4);
        --md-sys-color-primary-fixed-dim: light-dark(#003c14, #96d69a);
        --md-sys-color-primary-palette-key-color: light-dark(#498450, #498450);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#1b311d, #dcf7d9);
        --md-sys-color-secondary-container: light-dark(#384f39, #afcaad);
        --md-sys-color-secondary-fixed: light-dark(#384f39, #cfeacc);
        --md-sys-color-secondary-fixed-dim: light-dark(#223823, #b3ceb1);
        --md-sys-color-secondary-palette-key-color: light-dark(#657d64, #657d64);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f8faf3, #000000);
        --md-sys-color-surface-bright: light-dark(#f8faf3, #4d514c);
        --md-sys-color-surface-container: light-dark(#e1e3dc, #2e312d);
        --md-sys-color-surface-container-high: light-dark(#d3d5ce, #393c38);
        --md-sys-color-surface-container-highest: light-dark(#c5c7c1, #444843);
        --md-sys-color-surface-container-low: light-dark(#eff2ea, #1d211c);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#b7bab3, #111410);
        --md-sys-color-surface-tint: light-dark(#2f6a39, #96d69a);
        --md-sys-color-surface-variant: light-dark(#dce5d8, #414940);
        --md-sys-color-tertiary: light-dark(#002f4c, #e7f1ff);
        --md-sys-color-tertiary-container: light-dark(#004d7a, #8fc8fe);
        --md-sys-color-tertiary-fixed: light-dark(#004d7a, #cee5ff);
        --md-sys-color-tertiary-fixed-dim: light-dark(#003557, #96ccff);
        --md-sys-color-tertiary-palette-key-color: light-dark(#216292, #216292);
    }

}
