:root {
    --md-sys-color-background: light-dark(#f9faf4, #121411);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-dim: light-dark(#a80710, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f0f1ec, #2f312e);
    --md-sys-color-inverse-primary: light-dark(#a5d2a6, #3f6743);
    --md-sys-color-inverse-surface: light-dark(#2f312e, #e2e3de);
    --md-sys-color-neutral-palette-key-color: light-dark(#767874, #767874);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#727970, #727970);
    --md-sys-color-on-background: light-dark(#1a1c19, #e2e3de);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #103819);
    --md-sys-color-on-primary-container: light-dark(#78a37a, #78a37a);
    --md-sys-color-on-primary-fixed: light-dark(#002108, #002108);
    --md-sys-color-on-primary-fixed-variant: light-dark(#284f2e, #284f2e);
    --md-sys-color-on-secondary: light-dark(#ffffff, #253425);
    --md-sys-color-on-secondary-container: light-dark(#586957, #abbda9);
    --md-sys-color-on-secondary-fixed: light-dark(#101f12, #101f12);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#3b4b3b, #3b4b3b);
    --md-sys-color-on-surface: light-dark(#1a1c19, #e2e3de);
    --md-sys-color-on-surface-variant: light-dark(#424941, #c2c9be);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #0b3253);
    --md-sys-color-on-tertiary-container: light-dark(#7b9bc1, #7b9bc1);
    --md-sys-color-on-tertiary-fixed: light-dark(#001d35, #001d35);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#27496b, #27496b);
    --md-sys-color-outline: light-dark(#727970, #8c9389);
    --md-sys-color-outline-variant: light-dark(#c2c9be, #424941);
    --md-sys-color-primary: light-dark(#002208, #a5d2a6);
    --md-sys-color-primary-container: light-dark(#103819, #103819);
    --md-sys-color-primary-dim: light-dark(#345b38, #cefdce);
    --md-sys-color-primary-fixed: light-dark(#c1eec0, #c1eec0);
    --md-sys-color-primary-fixed-dim: light-dark(#a5d2a6, #a5d2a6);
    --md-sys-color-primary-palette-key-color: light-dark(#58815b, #58815b);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#526351, #b9cbb6);
    --md-sys-color-secondary-container: light-dark(#d5e8d2, #3d4d3d);
    --md-sys-color-secondary-dim: light-dark(#465746, #d5e8d2);
    --md-sys-color-secondary-fixed: light-dark(#d5e8d2, #d5e8d2);
    --md-sys-color-secondary-fixed-dim: light-dark(#b9cbb6, #b9cbb6);
    --md-sys-color-secondary-palette-key-color: light-dark(#6b7c6a, #6b7c6a);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f9faf4, #121411);
    --md-sys-color-surface-bright: light-dark(#f9faf4, #373a36);
    --md-sys-color-surface-container: light-dark(#eeeee9, #1e201d);
    --md-sys-color-surface-container-high: light-dark(#e8e9e3, #282b27);
    --md-sys-color-surface-container-highest: light-dark(#e2e3de, #333532);
    --md-sys-color-surface-container-low: light-dark(#f3f4ef, #1a1c19);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0c0f0c);
    --md-sys-color-surface-dim: light-dark(#d9dad5, #121411);
    --md-sys-color-surface-tint: light-dark(#3f6743, #a5d2a6);
    --md-sys-color-surface-variant: light-dark(#dee5da, #424941);
    --md-sys-color-tertiary: light-dark(#001d35, #a9c9f2);
    --md-sys-color-tertiary-container: light-dark(#0b3253, #0b3253);
    --md-sys-color-tertiary-dim: light-dark(#345577, #b1d2fb);
    --md-sys-color-tertiary-fixed: light-dark(#d1e4ff, #d1e4ff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#a9c9f2, #a9c9f2);
    --md-sys-color-tertiary-palette-key-color: light-dark(#0b3253, #0b3253);
}
:root[low-contrast] {
    --md-sys-color-background: light-dark(#f9faf4, #121411);
    --md-sys-color-error: light-dark(#da342e, #ff5449);
    --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
    --md-sys-color-error-dim: light-dark(#c82623, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#979994, #636561);
    --md-sys-color-inverse-primary: light-dark(#5a835d, #618a63);
    --md-sys-color-inverse-surface: light-dark(#2f312e, #e2e3de);
    --md-sys-color-neutral-palette-key-color: light-dark(#767874, #767874);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#727970, #727970);
    --md-sys-color-on-background: light-dark(#8f918c, #61635f);
    --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
    --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
    --md-sys-color-on-primary: light-dark(#f7fff2, #073113);
    --md-sys-color-on-primary-container: light-dark(#5a845d, #648e67);
    --md-sys-color-on-primary-fixed: light-dark(#2d5533, #a3cfa3);
    --md-sys-color-on-primary-fixed-variant: light-dark(#47704b, #80ab81);
    --md-sys-color-on-secondary: light-dark(#f7fff2, #1e2d1f);
    --md-sys-color-on-secondary-container: light-dark(#6d7e6c, #778976);
    --md-sys-color-on-secondary-fixed: light-dark(#405040, #b7c9b4);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#5a6b59, #93a591);
    --md-sys-color-on-surface: light-dark(#5e605c, #a2a39f);
    --md-sys-color-on-surface-variant: light-dark(#767d73, #7e857c);
    --md-sys-color-on-tertiary: light-dark(#fdfcff, #012b4c);
    --md-sys-color-on-tertiary-container: light-dark(#5c7ca1, #6787ac);
    --md-sys-color-on-tertiary-fixed: light-dark(#2d4e71, #a6c7ef);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#49698d, #83a3ca);
    --md-sys-color-outline: light-dark(#adb4aa, #4f564e);
    --md-sys-color-outline-variant: light-dark(#d4dbd0, #353c34);
    --md-sys-color-primary: light-dark(#557e58, #719b73);
    --md-sys-color-primary-container: light-dark(#b7e4b7, #1b4222);
    --md-sys-color-primary-dim: light-dark(#49714c, #719b73);
    --md-sys-color-primary-fixed: light-dark(#b7e4b7, #325a37);
    --md-sys-color-primary-fixed-dim: light-dark(#9cc89d, #1b4222);
    --md-sys-color-primary-palette-key-color: light-dark(#58815b, #58815b);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#687967, #849582);
    --md-sys-color-secondary-container: light-dark(#ccdec8, #2e3e2f);
    --md-sys-color-secondary-dim: light-dark(#5b6c5b, #849683);
    --md-sys-color-secondary-fixed: light-dark(#ccdec8, #455545);
    --md-sys-color-secondary-fixed-dim: light-dark(#b0c2ad, #2e3e2f);
    --md-sys-color-secondary-palette-key-color: light-dark(#6b7c6a, #6b7c6a);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f9faf4, #121411);
    --md-sys-color-surface-bright: light-dark(#f9faf4, #373a36);
    --md-sys-color-surface-container: light-dark(#eeeee9, #1e201d);
    --md-sys-color-surface-container-high: light-dark(#e8e9e3, #282b27);
    --md-sys-color-surface-container-highest: light-dark(#e2e3de, #333532);
    --md-sys-color-surface-container-low: light-dark(#f3f4ef, #1a1c19);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0c0f0c);
    --md-sys-color-surface-dim: light-dark(#d9dad5, #121411);
    --md-sys-color-surface-tint: light-dark(#3f6743, #a5d2a6);
    --md-sys-color-surface-variant: light-dark(#dee5da, #424941);
    --md-sys-color-tertiary: light-dark(#57779c, #7393b9);
    --md-sys-color-tertiary-container: light-dark(#c0dbff, #193c5d);
    --md-sys-color-tertiary-dim: light-dark(#4a6a8e, #7494ba);
    --md-sys-color-tertiary-fixed: light-dark(#c0dbff, #325376);
    --md-sys-color-tertiary-fixed-dim: light-dark(#9fc0e8, #193c5d);
    --md-sys-color-tertiary-palette-key-color: light-dark(#0b3253, #0b3253);
}
:root[high-contrast] {
    --md-sys-color-background: light-dark(#f9faf4, #121411);
    --md-sys-color-error: light-dark(#600004, #ffece9);
    --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
    --md-sys-color-error-dim: light-dark(#480002, #ffedea);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
    --md-sys-color-inverse-primary: light-dark(#a5d2a6, #29502f);
    --md-sys-color-inverse-surface: light-dark(#2f312e, #e2e3de);
    --md-sys-color-neutral-palette-key-color: light-dark(#767874, #767874);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#727970, #727970);
    --md-sys-color-on-background: light-dark(#1a1c19, #e2e3de);
    --md-sys-color-on-error: light-dark(#ffffff, #000000);
    --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
    --md-sys-color-on-primary: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-container: light-dark(#caf8ca, #000f02);
    --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #001504);
    --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-container: light-dark(#ffffff, #020e04);
    --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #061408);
    --md-sys-color-on-surface: light-dark(#000000, #ffffff);
    --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-container: light-dark(#e1edff, #000c1b);
    --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #001225);
    --md-sys-color-outline: light-dark(#272e27, #ebf2e7);
    --md-sys-color-outline-variant: light-dark(#444b43, #bec5ba);
    --md-sys-color-primary: light-dark(#002208, #cefccd);
    --md-sys-color-primary-container: light-dark(#103819, #a1cea2);
    --md-sys-color-primary-dim: light-dark(#00260a, #cefdce);
    --md-sys-color-primary-fixed: light-dark(#2a5230, #c1eec0);
    --md-sys-color-primary-fixed-dim: light-dark(#123a1b, #a5d2a6);
    --md-sys-color-primary-palette-key-color: light-dark(#58815b, #58815b);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#213021, #e2f5df);
    --md-sys-color-secondary-container: light-dark(#3d4d3d, #b5c8b3);
    --md-sys-color-secondary-dim: light-dark(#142315, #e3f6e0);
    --md-sys-color-secondary-fixed: light-dark(#3d4d3d, #d5e8d2);
    --md-sys-color-secondary-fixed-dim: light-dark(#273627, #b9cbb6);
    --md-sys-color-secondary-palette-key-color: light-dark(#6b7c6a, #6b7c6a);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f9faf4, #121411);
    --md-sys-color-surface-bright: light-dark(#f9faf4, #4e514d);
    --md-sys-color-surface-container: light-dark(#e2e3de, #2f312e);
    --md-sys-color-surface-container-high: light-dark(#d4d5d0, #3a3c38);
    --md-sys-color-surface-container-highest: light-dark(#c6c7c2, #454744);
    --md-sys-color-surface-container-low: light-dark(#f0f1ec, #1e201d);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#b8b9b4, #121411);
    --md-sys-color-surface-tint: light-dark(#3f6743, #a5d2a6);
    --md-sys-color-surface-variant: light-dark(#dee5da, #424941);
    --md-sys-color-tertiary: light-dark(#001d35, #e8f1ff);
    --md-sys-color-tertiary-container: light-dark(#0b3253, #a5c5ee);
    --md-sys-color-tertiary-dim: light-dark(#00213c, #e9f1ff);
    --md-sys-color-tertiary-fixed: light-dark(#2a4b6e, #d1e4ff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#0f3456, #a9c9f2);
    --md-sys-color-tertiary-palette-key-color: light-dark(#0b3253, #0b3253);
}
