:root {
    --md-sys-color-background: light-dark(#f8faf7, #111413);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-dim: light-dark(#a80710, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#eff1ef, #2e3130);
    --md-sys-color-inverse-primary: light-dark(#94d3c3, #29695c);
    --md-sys-color-inverse-surface: light-dark(#2e3130, #e1e3e1);
    --md-sys-color-neutral-palette-key-color: light-dark(#757876, #757876);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#707976, #707976);
    --md-sys-color-on-background: light-dark(#191c1b, #e1e3e1);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #00382f);
    --md-sys-color-on-primary-container: light-dark(#1a5c50, #1a5c50);
    --md-sys-color-on-primary-fixed: light-dark(#00201a, #00201a);
    --md-sys-color-on-primary-fixed-variant: light-dark(#065044, #065044);
    --md-sys-color-on-secondary: light-dark(#ffffff, #1e352f);
    --md-sys-color-on-secondary-container: light-dark(#506761, #a5beb6);
    --md-sys-color-on-secondary-fixed: light-dark(#081f1b, #081f1b);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#354b45, #354b45);
    --md-sys-color-on-surface: light-dark(#191c1b, #e1e3e1);
    --md-sys-color-on-surface-variant: light-dark(#3f4946, #bfc9c5);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #312a55);
    --md-sys-color-on-tertiary-container: light-dark(#544d7a, #544d7a);
    --md-sys-color-on-tertiary-fixed: light-dark(#1c143f, #1c143f);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#48416d, #48416d);
    --md-sys-color-outline: light-dark(#707976, #89938f);
    --md-sys-color-outline-variant: light-dark(#bfc9c5, #3f4946);
    --md-sys-color-primary: light-dark(#29695c, #b0efdf);
    --md-sys-color-primary-container: light-dark(#94d3c3, #94d3c3);
    --md-sys-color-primary-dim: light-dark(#1a5c50, #bdfeed);
    --md-sys-color-primary-fixed: light-dark(#afefdf, #afefdf);
    --md-sys-color-primary-fixed-dim: light-dark(#94d3c3, #94d3c3);
    --md-sys-color-primary-palette-key-color: light-dark(#448274, #448274);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#4c635d, #b3ccc4);
    --md-sys-color-secondary-container: light-dark(#cce5dd, #374d48);
    --md-sys-color-secondary-dim: light-dark(#405751, #cfe8e0);
    --md-sys-color-secondary-fixed: light-dark(#cfe8e0, #cfe8e0);
    --md-sys-color-secondary-fixed-dim: light-dark(#b3ccc4, #b3ccc4);
    --md-sys-color-secondary-palette-key-color: light-dark(#647c75, #647c75);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f8faf7, #111413);
    --md-sys-color-surface-bright: light-dark(#f8faf7, #373a38);
    --md-sys-color-surface-container: light-dark(#eceeec, #1d201f);
    --md-sys-color-surface-container-high: light-dark(#e7e9e6, #272b29);
    --md-sys-color-surface-container-highest: light-dark(#e1e3e1, #323534);
    --md-sys-color-surface-container-low: light-dark(#f2f4f2, #191c1b);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0c0f0e);
    --md-sys-color-surface-dim: light-dark(#d8dad8, #111413);
    --md-sys-color-surface-tint: light-dark(#29695c, #94d3c3);
    --md-sys-color-surface-variant: light-dark(#dbe5e0, #3f4946);
    --md-sys-color-tertiary: light-dark(#605887, #e6deff);
    --md-sys-color-tertiary-container: light-dark(#cac0f5, #cac0f5);
    --md-sys-color-tertiary-dim: light-dark(#544c7a, #cfc5fb);
    --md-sys-color-tertiary-fixed: light-dark(#e6deff, #e6deff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#cac0f5, #cac0f5);
    --md-sys-color-tertiary-palette-key-color: light-dark(#cac0f5, #cac0f5);
}
:root[low-contrast] {
    --md-sys-color-background: light-dark(#f8faf7, #111413);
    --md-sys-color-error: light-dark(#da342e, #ff5449);
    --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
    --md-sys-color-error-dim: light-dark(#c82623, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#969997, #626563);
    --md-sys-color-inverse-primary: light-dark(#478577, #4e8c7d);
    --md-sys-color-inverse-surface: light-dark(#2e3130, #e1e3e1);
    --md-sys-color-neutral-palette-key-color: light-dark(#757876, #757876);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#707976, #707976);
    --md-sys-color-on-background: light-dark(#8e918f, #606361);
    --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
    --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
    --md-sys-color-on-primary: light-dark(#f4fffa, #003028);
    --md-sys-color-on-primary-container: light-dark(#478577, #528f81);
    --md-sys-color-on-primary-fixed: light-dark(#11564a, #91d0c0);
    --md-sys-color-on-primary-fixed-variant: light-dark(#327164, #6eac9d);
    --md-sys-color-on-secondary: light-dark(#f4fffa, #182e29);
    --md-sys-color-on-secondary-container: light-dark(#677f78, #718982);
    --md-sys-color-on-secondary-fixed: light-dark(#3a514b, #b0c9c2);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#546b65, #8da59e);
    --md-sys-color-on-surface: light-dark(#5d605e, #a1a3a1);
    --md-sys-color-on-surface-variant: light-dark(#737d79, #7c8582);
    --md-sys-color-on-tertiary: light-dark(#fffbff, #2b234e);
    --md-sys-color-on-tertiary-container: light-dark(#7c74a4, #867eaf);
    --md-sys-color-on-tertiary-fixed: light-dark(#4e4673, #c7bdf2);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#68608f, #a39acc);
    --md-sys-color-outline: light-dark(#aab4b0, #4d5653);
    --md-sys-color-outline-variant: light-dark(#d1dbd7, #333c39);
    --md-sys-color-primary: light-dark(#417f72, #5e9c8d);
    --md-sys-color-primary-container: light-dark(#a6e5d5, #004238);
    --md-sys-color-primary-dim: light-dark(#347265, #5f9c8e);
    --md-sys-color-primary-fixed: light-dark(#a6e5d5, #185b4e);
    --md-sys-color-primary-fixed-dim: light-dark(#8bc9ba, #004238);
    --md-sys-color-primary-palette-key-color: light-dark(#448274, #448274);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#627973, #7e968f);
    --md-sys-color-secondary-container: light-dark(#c5ded6, #283e39);
    --md-sys-color-secondary-dim: light-dark(#556d66, #7e968f);
    --md-sys-color-secondary-fixed: light-dark(#c5ded6, #3f564f);
    --md-sys-color-secondary-fixed-dim: light-dark(#aac2bb, #283e39);
    --md-sys-color-secondary-palette-key-color: light-dark(#647c75, #647c75);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f8faf7, #111413);
    --md-sys-color-surface-bright: light-dark(#f8faf7, #373a38);
    --md-sys-color-surface-container: light-dark(#eceeec, #1d201f);
    --md-sys-color-surface-container-high: light-dark(#e7e9e6, #272b29);
    --md-sys-color-surface-container-highest: light-dark(#e1e3e1, #323534);
    --md-sys-color-surface-container-low: light-dark(#f2f4f2, #191c1b);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0c0f0e);
    --md-sys-color-surface-dim: light-dark(#d8dad8, #111413);
    --md-sys-color-surface-tint: light-dark(#29695c, #94d3c3);
    --md-sys-color-surface-variant: light-dark(#dbe5e0, #3f4946);
    --md-sys-color-tertiary: light-dark(#776e9e, #938abc);
    --md-sys-color-tertiary-container: light-dark(#dcd3ff, #3b3460);
    --md-sys-color-tertiary-dim: light-dark(#6a6291, #948bbc);
    --md-sys-color-tertiary-fixed: light-dark(#dcd3ff, #534b78);
    --md-sys-color-tertiary-fixed-dim: light-dark(#c0b6eb, #3b3460);
    --md-sys-color-tertiary-palette-key-color: light-dark(#cac0f5, #cac0f5);
}
:root[high-contrast] {
    --md-sys-color-background: light-dark(#f8faf7, #111413);
    --md-sys-color-error: light-dark(#600004, #ffece9);
    --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
    --md-sys-color-error-dim: light-dark(#480002, #ffedea);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
    --md-sys-color-inverse-primary: light-dark(#94d3c3, #095145);
    --md-sys-color-inverse-surface: light-dark(#2e3130, #e1e3e1);
    --md-sys-color-neutral-palette-key-color: light-dark(#757876, #757876);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#707976, #707976);
    --md-sys-color-on-background: light-dark(#191c1b, #e1e3e1);
    --md-sys-color-on-error: light-dark(#ffffff, #000000);
    --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
    --md-sys-color-on-primary: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-container: light-dark(#ffffff, #001510);
    --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #001510);
    --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-container: light-dark(#ffffff, #000e0a);
    --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #001510);
    --md-sys-color-on-surface: light-dark(#000000, #ffffff);
    --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-container: light-dark(#ffffff, #120935);
    --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #120934);
    --md-sys-color-outline: light-dark(#252e2b, #e8f2ee);
    --md-sys-color-outline-variant: light-dark(#424b48, #bbc5c1);
    --md-sys-color-primary: light-dark(#00332a, #bdfdec);
    --md-sys-color-primary-container: light-dark(#0b5347, #94d3c3);
    --md-sys-color-primary-dim: light-dark(#00251e, #bdfeed);
    --md-sys-color-primary-fixed: light-dark(#0b5347, #afefdf);
    --md-sys-color-primary-fixed-dim: light-dark(#003a31, #94d3c3);
    --md-sys-color-primary-palette-key-color: light-dark(#448274, #448274);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#1a302b, #dcf6ed);
    --md-sys-color-secondary-container: light-dark(#374e48, #afc8c0);
    --md-sys-color-secondary-dim: light-dark(#0d231e, #ddf6ee);
    --md-sys-color-secondary-fixed: light-dark(#374e48, #cfe8e0);
    --md-sys-color-secondary-fixed-dim: light-dark(#213731, #b3ccc4);
    --md-sys-color-secondary-palette-key-color: light-dark(#647c75, #647c75);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f8faf7, #111413);
    --md-sys-color-surface-bright: light-dark(#f8faf7, #4e514f);
    --md-sys-color-surface-container: light-dark(#e1e3e1, #2e3130);
    --md-sys-color-surface-container-high: light-dark(#d3d5d3, #393c3b);
    --md-sys-color-surface-container-highest: light-dark(#c5c7c5, #444746);
    --md-sys-color-surface-container-low: light-dark(#eff1ef, #1d201f);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#b7b9b7, #111413);
    --md-sys-color-surface-tint: light-dark(#29695c, #94d3c3);
    --md-sys-color-surface-variant: light-dark(#dbe5e0, #3f4946);
    --md-sys-color-tertiary: light-dark(#2d2651, #f3edff);
    --md-sys-color-tertiary-container: light-dark(#4b4370, #cac0f5);
    --md-sys-color-tertiary-dim: light-dark(#201943, #f4eeff);
    --md-sys-color-tertiary-fixed: light-dark(#4b4370, #e6deff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#342c58, #cac0f5);
    --md-sys-color-tertiary-palette-key-color: light-dark(#cac0f5, #cac0f5);
}
