:root {
    --md-sys-color-background: light-dark(#faf9f7, #121413);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f1f1ef, #2f3130);
    --md-sys-color-inverse-primary: light-dark(#aacec3, #43655c);
    --md-sys-color-inverse-surface: light-dark(#2f3130, #e3e2e1);
    --md-sys-color-neutral-palette-key-color: light-dark(#767776, #767776);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#717976, #717976);
    --md-sys-color-on-background: light-dark(#1a1c1b, #e3e2e1);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #13362e);
    --md-sys-color-on-primary-container: light-dark(#bbe1d5, #bbe1d5);
    --md-sys-color-on-primary-fixed: light-dark(#00201a, #00201a);
    --md-sys-color-on-primary-fixed-variant: light-dark(#2b4d45, #2b4d45);
    --md-sys-color-on-secondary: light-dark(#ffffff, #26332f);
    --md-sys-color-on-secondary-container: light-dark(#5a6763, #adbcb6);
    --md-sys-color-on-secondary-fixed: light-dark(#111e1b, #111e1b);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#3c4945, #3c4945);
    --md-sys-color-on-surface: light-dark(#1a1c1b, #e3e2e1);
    --md-sys-color-on-surface-variant: light-dark(#414846, #c1c8c4);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #302d47);
    --md-sys-color-on-tertiary-container: light-dark(#d9d4f5, #d9d4f5);
    --md-sys-color-on-tertiary-fixed: light-dark(#1b1931, #1b1931);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#46445e, #46445e);
    --md-sys-color-outline: light-dark(#717976, #8b928f);
    --md-sys-color-outline-variant: light-dark(#c1c8c4, #414846);
    --md-sys-color-primary: light-dark(#2b4d45, #aacec3);
    --md-sys-color-primary-container: light-dark(#43655c, #43655c);
    --md-sys-color-primary-fixed: light-dark(#c5eadf, #c5eadf);
    --md-sys-color-primary-fixed-dim: light-dark(#aacec3, #aacec3);
    --md-sys-color-primary-palette-key-color: light-dark(#5b7e74, #5b7e74);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#54615d, #bbcac4);
    --md-sys-color-secondary-container: light-dark(#d7e6e0, #3f4c48);
    --md-sys-color-secondary-fixed: light-dark(#d7e6e0, #d7e6e0);
    --md-sys-color-secondary-fixed-dim: light-dark(#bbcac4, #bbcac4);
    --md-sys-color-secondary-palette-key-color: light-dark(#6c7a75, #6c7a75);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#faf9f7, #121413);
    --md-sys-color-surface-bright: light-dark(#faf9f7, #383938);
    --md-sys-color-surface-container: light-dark(#eeeeec, #1e201f);
    --md-sys-color-surface-container-high: light-dark(#e8e8e6, #292a29);
    --md-sys-color-surface-container-highest: light-dark(#e3e2e1, #333534);
    --md-sys-color-surface-container-low: light-dark(#f4f4f2, #1a1c1b);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0d0f0e);
    --md-sys-color-surface-dim: light-dark(#dadad8, #121413);
    --md-sys-color-surface-tint: light-dark(#43655c, #aacec3);
    --md-sys-color-surface-variant: light-dark(#dde4e0, #414846);
    --md-sys-color-tertiary: light-dark(#46445e, #c7c3e3);
    --md-sys-color-tertiary-container: light-dark(#5e5b77, #5e5b77);
    --md-sys-color-tertiary-fixed: light-dark(#e4dfff, #e4dfff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#c7c3e3, #c7c3e3);
    --md-sys-color-tertiary-palette-key-color: light-dark(#5e5b77, #5e5b77);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#faf9f7, #121413);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#989897, #636563);
        --md-sys-color-inverse-primary: light-dark(#5e8177, #65887e);
        --md-sys-color-inverse-surface: light-dark(#2f3130, #e3e2e1);
        --md-sys-color-neutral-palette-key-color: light-dark(#767776, #767776);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#717976, #717976);
        --md-sys-color-on-background: light-dark(#8f908f, #616261);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#f4fffa, #0b2f28);
        --md-sys-color-on-primary-container: light-dark(#5e8177, #688b81);
        --md-sys-color-on-primary-fixed: light-dark(#31524a, #a7ccc1);
        --md-sys-color-on-primary-fixed-variant: light-dark(#4b6d64, #84a79d);
        --md-sys-color-on-secondary: light-dark(#f4fffa, #202c29);
        --md-sys-color-on-secondary-container: light-dark(#6f7d78, #798782);
        --md-sys-color-on-secondary-fixed: light-dark(#424f4b, #b9c7c2);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#5c6965, #95a39e);
        --md-sys-color-on-surface: light-dark(#5e5f5e, #a2a3a1);
        --md-sys-color-on-surface-variant: light-dark(#757c79, #7d8582);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #292740);
        --md-sys-color-on-tertiary-container: light-dark(#7a7794, #84819f);
        --md-sys-color-on-tertiary-fixed: light-dark(#4c4964, #c5c0e1);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#666380, #a19dbc);
        --md-sys-color-outline: light-dark(#acb4b0, #4e5653);
        --md-sys-color-outline-variant: light-dark(#d3dbd7, #343c39);
        --md-sys-color-primary: light-dark(#597b72, #75988e);
        --md-sys-color-primary-container: light-dark(#bce1d5, #1e4038);
        --md-sys-color-primary-fixed: light-dark(#bce1d5, #36574f);
        --md-sys-color-primary-fixed-dim: light-dark(#a0c5ba, #1e4038);
        --md-sys-color-primary-palette-key-color: light-dark(#5b7e74, #5b7e74);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#6a7773, #86948f);
        --md-sys-color-secondary-container: light-dark(#cedcd6, #303d39);
        --md-sys-color-secondary-fixed: light-dark(#cedcd6, #475450);
        --md-sys-color-secondary-fixed-dim: light-dark(#b2c0bb, #303d39);
        --md-sys-color-secondary-palette-key-color: light-dark(#6c7a75, #6c7a75);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#faf9f7, #121413);
        --md-sys-color-surface-bright: light-dark(#faf9f7, #383938);
        --md-sys-color-surface-container: light-dark(#eeeeec, #1e201f);
        --md-sys-color-surface-container-high: light-dark(#e8e8e6, #292a29);
        --md-sys-color-surface-container-highest: light-dark(#e3e2e1, #333534);
        --md-sys-color-surface-container-low: light-dark(#f4f4f2, #1a1c1b);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0d0f0e);
        --md-sys-color-surface-dim: light-dark(#dadad8, #121413);
        --md-sys-color-surface-tint: light-dark(#43655c, #aacec3);
        --md-sys-color-surface-variant: light-dark(#dde4e0, #414846);
        --md-sys-color-tertiary: light-dark(#75718e, #918dac);
        --md-sys-color-tertiary-container: light-dark(#dad5f6, #3a3751);
        --md-sys-color-tertiary-fixed: light-dark(#dad5f6, #514e69);
        --md-sys-color-tertiary-fixed-dim: light-dark(#beb9da, #3a3751);
        --md-sys-color-tertiary-palette-key-color: light-dark(#5e5b77, #5e5b77);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#faf9f7, #121413);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#aacec3, #2c4e46);
        --md-sys-color-inverse-surface: light-dark(#2f3130, #e3e2e1);
        --md-sys-color-neutral-palette-key-color: light-dark(#767776, #767776);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#717976, #717976);
        --md-sys-color-on-background: light-dark(#1a1c1b, #e3e2e1);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000e0a);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #001510);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #030d0a);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #071310);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #0a0820);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #100e26);
        --md-sys-color-outline: light-dark(#262e2b, #eaf2ee);
        --md-sys-color-outline-variant: light-dark(#434b48, #bdc4c1);
        --md-sys-color-primary: light-dark(#0e322a, #d2f8ec);
        --md-sys-color-primary-container: light-dark(#2e4f47, #a6cabf);
        --md-sys-color-primary-fixed: light-dark(#2e4f47, #c5eadf);
        --md-sys-color-primary-fixed-dim: light-dark(#163831, #aacec3);
        --md-sys-color-primary-palette-key-color: light-dark(#5b7e74, #5b7e74);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#222f2b, #e5f3ed);
        --md-sys-color-secondary-container: light-dark(#3f4c48, #b7c6c0);
        --md-sys-color-secondary-fixed: light-dark(#3f4c48, #d7e6e0);
        --md-sys-color-secondary-fixed-dim: light-dark(#283531, #bbcac4);
        --md-sys-color-secondary-palette-key-color: light-dark(#6c7a75, #6c7a75);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#faf9f7, #121413);
        --md-sys-color-surface-bright: light-dark(#faf9f7, #4f504f);
        --md-sys-color-surface-container: light-dark(#e3e2e1, #2f3130);
        --md-sys-color-surface-container-high: light-dark(#d4d4d3, #3a3c3b);
        --md-sys-color-surface-container-highest: light-dark(#c6c7c5, #454746);
        --md-sys-color-surface-container-low: light-dark(#f1f1ef, #1e201f);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#b8b9b7, #121413);
        --md-sys-color-surface-tint: light-dark(#43655c, #aacec3);
        --md-sys-color-surface-variant: light-dark(#dde4e0, #414846);
        --md-sys-color-tertiary: light-dark(#2b2942, #f2edff);
        --md-sys-color-tertiary-container: light-dark(#494661, #c4bfdf);
        --md-sys-color-tertiary-fixed: light-dark(#494661, #e4dfff);
        --md-sys-color-tertiary-fixed-dim: light-dark(#323049, #c7c3e3);
        --md-sys-color-tertiary-palette-key-color: light-dark(#5e5b77, #5e5b77);
    }

}
