:root {
    --md-sys-color-background: light-dark(#f7f9fe, #101417);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-dim: light-dark(#a80710, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#eef1f6, #2d3135);
    --md-sys-color-inverse-primary: light-dark(#87ceff, #006590);
    --md-sys-color-inverse-surface: light-dark(#2d3135, #e0e3e7);
    --md-sys-color-neutral-palette-key-color: light-dark(#73777b, #73777b);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#6f7880, #6f7880);
    --md-sys-color-on-background: light-dark(#181c20, #e0e3e7);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #00344d);
    --md-sys-color-on-primary-container: light-dark(#fcfcff, #00070e);
    --md-sys-color-on-primary-fixed: light-dark(#001e2e, #001e2e);
    --md-sys-color-on-primary-fixed-variant: light-dark(#004c6d, #004c6d);
    --md-sys-color-on-secondary: light-dark(#ffffff, #123347);
    --md-sys-color-on-secondary-container: light-dark(#48667c, #9ab9d1);
    --md-sys-color-on-secondary-fixed: light-dark(#001e2e, #001e2e);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#2b4a5f, #2b4a5f);
    --md-sys-color-on-surface: light-dark(#181c20, #e0e3e7);
    --md-sys-color-on-surface-variant: light-dark(#3f484f, #bfc8d0);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #4a1862);
    --md-sys-color-on-tertiary-container: light-dark(#0e0018, #0e0018);
    --md-sys-color-on-tertiary-fixed: light-dark(#310048, #310048);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#63317a, #63317a);
    --md-sys-color-outline: light-dark(#6f7880, #89929a);
    --md-sys-color-outline-variant: light-dark(#bfc8d0, #3f484f);
    --md-sys-color-primary: light-dark(#00628c, #87ceff);
    --md-sys-color-primary-container: light-dark(#007cb0, #3899cf);
    --md-sys-color-primary-dim: light-dark(#00587e, #6bc4fd);
    --md-sys-color-primary-fixed: light-dark(#c8e6ff, #c8e6ff);
    --md-sys-color-primary-fixed-dim: light-dark(#87ceff, #87ceff);
    --md-sys-color-primary-palette-key-color: light-dark(#007fb4, #007fb4);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#446277, #abcae3);
    --md-sys-color-secondary-container: light-dark(#c4e4fd, #2b4a5f);
    --md-sys-color-secondary-dim: light-dark(#37566b, #c1e1fa);
    --md-sys-color-secondary-fixed: light-dark(#c8e6ff, #c8e6ff);
    --md-sys-color-secondary-fixed-dim: light-dark(#abcae3, #abcae3);
    --md-sys-color-secondary-palette-key-color: light-dark(#5d7b91, #5d7b91);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f7f9fe, #101417);
    --md-sys-color-surface-bright: light-dark(#f7f9fe, #363a3d);
    --md-sys-color-surface-container: light-dark(#ebeef3, #1c2024);
    --md-sys-color-surface-container-high: light-dark(#e5e8ed, #262a2e);
    --md-sys-color-surface-container-highest: light-dark(#e0e3e7, #313539);
    --md-sys-color-surface-container-low: light-dark(#f1f4f8, #181c20);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0b0f12);
    --md-sys-color-surface-dim: light-dark(#d7dadf, #101417);
    --md-sys-color-surface-tint: light-dark(#006590, #87ceff);
    --md-sys-color-surface-variant: light-dark(#dbe3ed, #3f484f);
    --md-sys-color-tertiary: light-dark(#7c4994, #e9b3ff);
    --md-sys-color-tertiary-container: light-dark(#9762af, #9762af);
    --md-sys-color-tertiary-dim: light-dark(#6f3d87, #e6abff);
    --md-sys-color-tertiary-fixed: light-dark(#f7d8ff, #f7d8ff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#e9b3ff, #e9b3ff);
    --md-sys-color-tertiary-palette-key-color: light-dark(#9762af, #9762af);
}
:root[low-contrast] {
    --md-sys-color-background: light-dark(#f7f9fe, #101417);
    --md-sys-color-error: light-dark(#da342e, #ff5449);
    --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
    --md-sys-color-error-dim: light-dark(#c82623, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#95999d, #616569);
    --md-sys-color-inverse-primary: light-dark(#0a82b7, #1d88be);
    --md-sys-color-inverse-surface: light-dark(#2d3135, #e0e3e7);
    --md-sys-color-neutral-palette-key-color: light-dark(#73777b, #73777b);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#6f7880, #6f7880);
    --md-sys-color-on-background: light-dark(#8d9095, #5f6367);
    --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
    --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
    --md-sys-color-on-primary: light-dark(#fcfcff, #002d43);
    --md-sys-color-on-primary-container: light-dark(#0b82b7, #248cc2);
    --md-sys-color-on-primary-fixed: light-dark(#005175, #81ccff);
    --md-sys-color-on-primary-fixed-variant: light-dark(#006d9b, #4ca9e0);
    --md-sys-color-on-secondary: light-dark(#fcfcff, #092d40);
    --md-sys-color-on-secondary-container: light-dark(#5f7e94, #69889f);
    --md-sys-color-on-secondary-fixed: light-dark(#314f64, #a9c8e1);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#4c6a80, #85a4bc);
    --md-sys-color-on-surface: light-dark(#5b5f64, #a0a3a8);
    --md-sys-color-on-surface-variant: light-dark(#737c84, #7b848c);
    --md-sys-color-on-tertiary: light-dark(#fffbff, #420f5b);
    --md-sys-color-on-tertiary-container: light-dark(#9a65b2, #a56fbd);
    --md-sys-color-on-tertiary-fixed: light-dark(#693780, #e8afff);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#85519d, #c38bdb);
    --md-sys-color-outline: light-dark(#aab3bc, #4c555d);
    --md-sys-color-outline-variant: light-dark(#d1dae3, #323b42);
    --md-sys-color-primary: light-dark(#007cb0, #3899cf);
    --md-sys-color-primary-container: light-dark(#b3deff, #003e5b);
    --md-sys-color-primary-dim: light-dark(#006f9e, #3899d0);
    --md-sys-color-primary-fixed: light-dark(#b3deff, #00577c);
    --md-sys-color-primary-fixed-dim: light-dark(#6dc6ff, #003e5b);
    --md-sys-color-primary-palette-key-color: light-dark(#007fb4, #007fb4);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#5a788e, #7694ac);
    --md-sys-color-secondary-container: light-dark(#bdddf6, #1e3d51);
    --md-sys-color-secondary-dim: light-dark(#4d6b81, #7695ac);
    --md-sys-color-secondary-fixed: light-dark(#bdddf6, #365469);
    --md-sys-color-secondary-fixed-dim: light-dark(#a2c1da, #1e3d51);
    --md-sys-color-secondary-palette-key-color: light-dark(#5d7b91, #5d7b91);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f7f9fe, #101417);
    --md-sys-color-surface-bright: light-dark(#f7f9fe, #363a3d);
    --md-sys-color-surface-container: light-dark(#ebeef3, #1c2024);
    --md-sys-color-surface-container-high: light-dark(#e5e8ed, #262a2e);
    --md-sys-color-surface-container-highest: light-dark(#e0e3e7, #313539);
    --md-sys-color-surface-container-low: light-dark(#f1f4f8, #181c20);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0b0f12);
    --md-sys-color-surface-dim: light-dark(#d7dadf, #101417);
    --md-sys-color-surface-tint: light-dark(#006590, #87ceff);
    --md-sys-color-surface-variant: light-dark(#dbe3ed, #3f484f);
    --md-sys-color-tertiary: light-dark(#9460ac, #b37ccb);
    --md-sys-color-tertiary-container: light-dark(#f2ccff, #55236d);
    --md-sys-color-tertiary-dim: light-dark(#87539f, #b37ccb);
    --md-sys-color-tertiary-fixed: light-dark(#f2ccff, #6e3c86);
    --md-sys-color-tertiary-fixed-dim: light-dark(#e2a7fa, #55236d);
    --md-sys-color-tertiary-palette-key-color: light-dark(#9762af, #9762af);
}
:root[high-contrast] {
    --md-sys-color-background: light-dark(#f7f9fe, #101417);
    --md-sys-color-error: light-dark(#600004, #ffece9);
    --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
    --md-sys-color-error-dim: light-dark(#480002, #ffedea);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
    --md-sys-color-inverse-primary: light-dark(#87ceff, #004d6f);
    --md-sys-color-inverse-surface: light-dark(#2d3135, #e0e3e7);
    --md-sys-color-neutral-palette-key-color: light-dark(#73777b, #73777b);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#6f7880, #6f7880);
    --md-sys-color-on-background: light-dark(#181c20, #e0e3e7);
    --md-sys-color-on-error: light-dark(#ffffff, #000000);
    --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
    --md-sys-color-on-primary: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-container: light-dark(#ffffff, #00070e);
    --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #00131f);
    --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-container: light-dark(#ffffff, #000d17);
    --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #00131f);
    --md-sys-color-on-surface: light-dark(#000000, #ffffff);
    --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-container: light-dark(#ffffff, #0e0018);
    --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #210032);
    --md-sys-color-outline: light-dark(#252d34, #e8f1fa);
    --md-sys-color-outline-variant: light-dark(#424a51, #bbc4cc);
    --md-sys-color-primary: light-dark(#002f47, #e4f2ff);
    --md-sys-color-primary-container: light-dark(#004e71, #7dcbff);
    --md-sys-color-primary-dim: light-dark(#002234, #e5f2ff);
    --md-sys-color-primary-fixed: light-dark(#004e71, #c8e6ff);
    --md-sys-color-primary-fixed-dim: light-dark(#003650, #87ceff);
    --md-sys-color-primary-palette-key-color: light-dark(#007fb4, #007fb4);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#0d2f43, #e4f2ff);
    --md-sys-color-secondary-container: light-dark(#2e4c61, #a7c7df);
    --md-sys-color-secondary-dim: light-dark(#002234, #e5f2ff);
    --md-sys-color-secondary-fixed: light-dark(#2e4c61, #c8e6ff);
    --md-sys-color-secondary-fixed-dim: light-dark(#153649, #abcae3);
    --md-sys-color-secondary-palette-key-color: light-dark(#5d7b91, #5d7b91);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f7f9fe, #101417);
    --md-sys-color-surface-bright: light-dark(#f7f9fe, #4c5054);
    --md-sys-color-surface-container: light-dark(#e0e3e7, #2d3135);
    --md-sys-color-surface-container-high: light-dark(#d1d5d9, #383c40);
    --md-sys-color-surface-container-highest: light-dark(#c3c7cb, #43474b);
    --md-sys-color-surface-container-low: light-dark(#eef1f6, #1c2024);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#b6b9be, #101417);
    --md-sys-color-surface-tint: light-dark(#006590, #87ceff);
    --md-sys-color-surface-variant: light-dark(#dbe3ed, #3f484f);
    --md-sys-color-tertiary: light-dark(#45135d, #fdeaff);
    --md-sys-color-tertiary-container: light-dark(#65337d, #e7adff);
    --md-sys-color-tertiary-dim: light-dark(#370050, #fdebff);
    --md-sys-color-tertiary-fixed: light-dark(#65337d, #f7d8ff);
    --md-sys-color-tertiary-fixed-dim: light-dark(#4c1b65, #e9b3ff);
    --md-sys-color-tertiary-palette-key-color: light-dark(#9762af, #9762af);
}
