:root {
    --md-sys-color-background: light-dark(#fcf8fb, #131315);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f3f0f2, #303032);
    --md-sys-color-inverse-primary: light-dark(#bec6e4, #565e78);
    --md-sys-color-inverse-surface: light-dark(#303032, #e4e2e4);
    --md-sys-color-neutral-palette-key-color: light-dark(#777678, #777678);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#76777e, #76777e);
    --md-sys-color-on-background: light-dark(#1b1b1d, #e4e2e4);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #283047);
    --md-sys-color-on-primary-container: light-dark(#212940, #212940);
    --md-sys-color-on-primary-fixed: light-dark(#121b31, #121b31);
    --md-sys-color-on-primary-fixed-variant: light-dark(#3e465f, #3e465f);
    --md-sys-color-on-secondary: light-dark(#ffffff, #2d303a);
    --md-sys-color-on-secondary-container: light-dark(#60626e, #b6b8c5);
    --md-sys-color-on-secondary-fixed: light-dark(#181b25, #181b25);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#444651, #444651);
    --md-sys-color-on-surface: light-dark(#1b1b1d, #e4e2e4);
    --md-sys-color-on-surface-variant: light-dark(#45464d, #c6c6ce);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #41283c);
    --md-sys-color-on-tertiary-container: light-dark(#fffbff, #392235);
    --md-sys-color-on-tertiary-fixed: light-dark(#2a1427, #2a1427);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#593e53, #593e53);
    --md-sys-color-outline: light-dark(#76777e, #909097);
    --md-sys-color-outline-variant: light-dark(#c6c6ce, #45464d);
    --md-sys-color-primary: light-dark(#565e78, #bec6e4);
    --md-sys-color-primary-container: light-dark(#8890ac, #8890ac);
    --md-sys-color-primary-fixed: light-dark(#dae2ff, #dae2ff);
    --md-sys-color-primary-fixed-dim: light-dark(#bec6e4, #bec6e4);
    --md-sys-color-primary-palette-key-color: light-dark(#6e7691, #6e7691);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#5b5e69, #c4c6d3);
    --md-sys-color-secondary-container: light-dark(#dddfec, #464954);
    --md-sys-color-secondary-fixed: light-dark(#e0e2ef, #e0e2ef);
    --md-sys-color-secondary-fixed-dim: light-dark(#c4c6d3, #c4c6d3);
    --md-sys-color-secondary-palette-key-color: light-dark(#747682, #747682);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fcf8fb, #131315);
    --md-sys-color-surface-bright: light-dark(#fcf8fb, #39393b);
    --md-sys-color-surface-container: light-dark(#f0edef, #1f1f21);
    --md-sys-color-surface-container-high: light-dark(#eae7ea, #2a2a2c);
    --md-sys-color-surface-container-highest: light-dark(#e4e2e4, #353436);
    --md-sys-color-surface-container-low: light-dark(#f6f3f5, #1b1b1d);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0e0e10);
    --md-sys-color-surface-dim: light-dark(#dcd9db, #131315);
    --md-sys-color-surface-tint: light-dark(#565e78, #bec6e4);
    --md-sys-color-surface-variant: light-dark(#e2e2ea, #45464d);
    --md-sys-color-tertiary: light-dark(#6f5369, #e0bcd6);
    --md-sys-color-tertiary-container: light-dark(#896b82, #a7879f);
    --md-sys-color-tertiary-fixed: light-dark(#fdd8f2, #fdd8f2);
    --md-sys-color-tertiary-fixed-dim: light-dark(#e0bcd6, #e0bcd6);
    --md-sys-color-tertiary-palette-key-color: light-dark(#a7879f, #a7879f);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fcf8fb, #131315);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#99989a, #656466);
        --md-sys-color-inverse-primary: light-dark(#717994, #78809b);
        --md-sys-color-inverse-surface: light-dark(#303032, #e4e2e4);
        --md-sys-color-neutral-palette-key-color: light-dark(#777678, #777678);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#76777e, #76777e);
        --md-sys-color-on-background: light-dark(#918f92, #636264);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fefcff, #212940);
        --md-sys-color-on-primary-container: light-dark(#717994, #7b839f);
        --md-sys-color-on-primary-fixed: light-dark(#434b64, #bbc3e1);
        --md-sys-color-on-primary-fixed-variant: light-dark(#5e6680, #979fbc);
        --md-sys-color-on-secondary: light-dark(#fefcff, #272933);
        --md-sys-color-on-secondary-container: light-dark(#777985, #818490);
        --md-sys-color-on-secondary-fixed: light-dark(#494c57, #c2c3d0);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#636671, #9d9fac);
        --md-sys-color-on-surface: light-dark(#5f5f61, #a4a2a4);
        --md-sys-color-on-surface-variant: light-dark(#7a7a81, #82838a);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #392235);
        --md-sys-color-on-tertiary-container: light-dark(#8f7188, #9a7b92);
        --md-sys-color-on-tertiary-fixed: light-dark(#5f4459, #ddbad3);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#7a5e74, #b796af);
        --md-sys-color-outline: light-dark(#b1b1b9, #53545a);
        --md-sys-color-outline-variant: light-dark(#d9d8e0, #393a40);
        --md-sys-color-primary: light-dark(#6c748f, #8890ac);
        --md-sys-color-primary-container: light-dark(#d0d8f7, #313951);
        --md-sys-color-primary-fixed: light-dark(#d0d8f7, #48506a);
        --md-sys-color-primary-fixed-dim: light-dark(#b4bcda, #313951);
        --md-sys-color-primary-palette-key-color: light-dark(#6e7691, #6e7691);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#727480, #8e909c);
        --md-sys-color-secondary-container: light-dark(#d7d8e6, #373a44);
        --md-sys-color-secondary-fixed: light-dark(#d7d8e6, #4e515c);
        --md-sys-color-secondary-fixed-dim: light-dark(#bbbcc9, #373a44);
        --md-sys-color-secondary-palette-key-color: light-dark(#747682, #747682);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fcf8fb, #131315);
        --md-sys-color-surface-bright: light-dark(#fcf8fb, #39393b);
        --md-sys-color-surface-container: light-dark(#f0edef, #1f1f21);
        --md-sys-color-surface-container-high: light-dark(#eae7ea, #2a2a2c);
        --md-sys-color-surface-container-highest: light-dark(#e4e2e4, #353436);
        --md-sys-color-surface-container-low: light-dark(#f6f3f5, #1b1b1d);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0e0e10);
        --md-sys-color-surface-dim: light-dark(#dcd9db, #131315);
        --md-sys-color-surface-tint: light-dark(#565e78, #bec6e4);
        --md-sys-color-surface-variant: light-dark(#e2e2ea, #45464d);
        --md-sys-color-tertiary: light-dark(#896b82, #a7879f);
        --md-sys-color-tertiary-container: light-dark(#f3cee9, #4b3246);
        --md-sys-color-tertiary-fixed: light-dark(#f3cee9, #64495e);
        --md-sys-color-tertiary-fixed-dim: light-dark(#d6b3cc, #4b3246);
        --md-sys-color-tertiary-palette-key-color: light-dark(#a7879f, #a7879f);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fcf8fb, #131315);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#bec6e4, #3f4760);
        --md-sys-color-inverse-surface: light-dark(#303032, #e4e2e4);
        --md-sys-color-neutral-palette-key-color: light-dark(#777678, #777678);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#76777e, #76777e);
        --md-sys-color-on-background: light-dark(#1b1b1d, #e4e2e4);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #030a20);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #071026);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #080b14);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #0e111a);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #170416);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #1e091c);
        --md-sys-color-outline: light-dark(#2a2c32, #f0eff7);
        --md-sys-color-outline-variant: light-dark(#48494f, #c2c2ca);
        --md-sys-color-primary: light-dark(#232b43, #edefff);
        --md-sys-color-primary-container: light-dark(#404861, #bac2e0);
        --md-sys-color-primary-fixed: light-dark(#404861, #dae2ff);
        --md-sys-color-primary-fixed-dim: light-dark(#2a324a, #bec6e4);
        --md-sys-color-primary-palette-key-color: light-dark(#6e7691, #6e7691);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#292c36, #eeeffd);
        --md-sys-color-secondary-container: light-dark(#464954, #c0c2cf);
        --md-sys-color-secondary-fixed: light-dark(#464954, #e0e2ef);
        --md-sys-color-secondary-fixed-dim: light-dark(#2f323d, #c4c6d3);
        --md-sys-color-secondary-palette-key-color: light-dark(#747682, #747682);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fcf8fb, #131315);
        --md-sys-color-surface-bright: light-dark(#fcf8fb, #505052);
        --md-sys-color-surface-container: light-dark(#e4e2e4, #303032);
        --md-sys-color-surface-container-high: light-dark(#d6d4d6, #3b3b3d);
        --md-sys-color-surface-container-highest: light-dark(#c8c6c8, #474648);
        --md-sys-color-surface-container-low: light-dark(#f3f0f2, #1f1f21);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#bab8ba, #131315);
        --md-sys-color-surface-tint: light-dark(#565e78, #bec6e4);
        --md-sys-color-surface-variant: light-dark(#e2e2ea, #45464d);
        --md-sys-color-tertiary: light-dark(#3c2438, #ffeaf7);
        --md-sys-color-tertiary-container: light-dark(#5b4156, #dcb8d2);
        --md-sys-color-tertiary-fixed: light-dark(#5b4156, #fdd8f2);
        --md-sys-color-tertiary-fixed-dim: light-dark(#432b3f, #e0bcd6);
        --md-sys-color-tertiary-palette-key-color: light-dark(#a7879f, #a7879f);
    }

}
