:root {
    --md-sys-color-background: light-dark(#fff8f6, #1b110f);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ffede9, #3a2d2b);
    --md-sys-color-inverse-primary: light-dark(#ffb4a5, #a63925);
    --md-sys-color-inverse-surface: light-dark(#3a2d2b, #f4ded9);
    --md-sys-color-neutral-palette-key-color: light-dark(#847370, #847370);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#8b716c, #8b716c);
    --md-sys-color-on-background: light-dark(#241917, #f4ded9);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #650a00);
    --md-sys-color-on-primary-container: light-dark(#ffccc2, #ffccc2);
    --md-sys-color-on-primary-fixed: light-dark(#3f0400, #3f0400);
    --md-sys-color-on-primary-fixed-variant: light-dark(#862210, #862210);
    --md-sys-color-on-secondary: light-dark(#ffffff, #512219);
    --md-sys-color-on-secondary-container: light-dark(#794136, #eca394);
    --md-sys-color-on-secondary-fixed: light-dark(#370e07, #370e07);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#6d382d, #6d382d);
    --md-sys-color-on-surface: light-dark(#241917, #f4ded9);
    --md-sys-color-on-surface-variant: light-dark(#57423d, #dfc0ba);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #402d00);
    --md-sys-color-on-tertiary-container: light-dark(#ffd275, #ffd275);
    --md-sys-color-on-tertiary-fixed: light-dark(#261a00, #261a00);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#5c4300, #5c4300);
    --md-sys-color-outline: light-dark(#8b716c, #a68a85);
    --md-sys-color-outline-variant: light-dark(#dfc0ba, #57423d);
    --md-sys-color-primary: light-dark(#852210, #ffb4a5);
    --md-sys-color-primary-container: light-dark(#a63925, #a63925);
    --md-sys-color-primary-fixed: light-dark(#ffdad3, #ffdad3);
    --md-sys-color-primary-fixed-dim: light-dark(#ffb4a5, #ffb4a5);
    --md-sys-color-primary-palette-key-color: light-dark(#c7513b, #c7513b);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#894f43, #ffb4a5);
    --md-sys-color-secondary-container: light-dark(#fdb1a2, #6d382d);
    --md-sys-color-secondary-fixed: light-dark(#ffdad3, #ffdad3);
    --md-sys-color-secondary-fixed-dim: light-dark(#ffb4a5, #ffb4a5);
    --md-sys-color-secondary-palette-key-color: light-dark(#a6675a, #a6675a);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f6, #1b110f);
    --md-sys-color-surface-bright: light-dark(#fff8f6, #443633);
    --md-sys-color-surface-container: light-dark(#ffe9e5, #291d1a);
    --md-sys-color-surface-container-high: light-dark(#fae3df, #342725);
    --md-sys-color-surface-container-highest: light-dark(#f4ded9, #3f322f);
    --md-sys-color-surface-container-low: light-dark(#fff0ee, #241917);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #160c0a);
    --md-sys-color-surface-dim: light-dark(#ebd5d1, #1b110f);
    --md-sys-color-surface-tint: light-dark(#a63925, #ffb4a5);
    --md-sys-color-surface-variant: light-dark(#fcdbd5, #57423d);
    --md-sys-color-tertiary: light-dark(#5c4300, #ecc165);
    --md-sys-color-tertiary-container: light-dark(#795900, #795900);
    --md-sys-color-tertiary-fixed: light-dark(#ffdfa0, #ffdfa0);
    --md-sys-color-tertiary-fixed-dim: light-dark(#ecc165, #ecc165);
    --md-sys-color-tertiary-palette-key-color: light-dark(#795900, #795900);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff8f6, #1b110f);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#a79490, #71615d);
        --md-sys-color-inverse-primary: light-dark(#cb543d, #d45a43);
        --md-sys-color-inverse-surface: light-dark(#3a2d2b, #f4ded9);
        --md-sys-color-neutral-palette-key-color: light-dark(#847370, #847370);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#8b716c, #8b716c);
        --md-sys-color-on-background: light-dark(#9f8c88, #6f5f5b);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fffbff, #590800);
        --md-sys-color-on-primary-container: light-dark(#cb543d, #d85e46);
        --md-sys-color-on-primary-fixed: light-dark(#8d2715, #ffb1a1);
        --md-sys-color-on-primary-fixed-variant: light-dark(#b1412c, #fc785f);
        --md-sys-color-on-secondary: light-dark(#fffbff, #491c13);
        --md-sys-color-on-secondary-container: light-dark(#a9695d, #b57366);
        --md-sys-color-on-secondary-fixed: light-dark(#733d32, #fdb1a2);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#92564a, #d58e80);
        --md-sys-color-on-surface: light-dark(#6b5b58, #b29f9b);
        --md-sys-color-on-surface-variant: light-dark(#8f7570, #987d78);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #372700);
        --md-sys-color-on-tertiary-container: light-dark(#987520, #a37f2a);
        --md-sys-color-on-tertiary-fixed: light-dark(#624800, #e9be63);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#82610a, #c29a44);
        --md-sys-color-outline: light-dark(#c9aba5, #664f4a);
        --md-sys-color-outline-variant: light-dark(#f2d2cc, #4a3531);
        --md-sys-color-primary: light-dark(#c44f39, #e96a51);
        --md-sys-color-primary-container: light-dark(#ffcec4, #741505);
        --md-sys-color-primary-fixed: light-dark(#ffcec4, #942c1a);
        --md-sys-color-primary-fixed-dim: light-dark(#ffa695, #741505);
        --md-sys-color-primary-palette-key-color: light-dark(#c7513b, #c7513b);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#a36457, #c37f72);
        --md-sys-color-secondary-container: light-dark(#ffcec4, #5d2c22);
        --md-sys-color-secondary-fixed: light-dark(#ffcec4, #794237);
        --md-sys-color-secondary-fixed-dim: light-dark(#f5ab9c, #5d2c22);
        --md-sys-color-secondary-palette-key-color: light-dark(#a6675a, #a6675a);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f6, #1b110f);
        --md-sys-color-surface-bright: light-dark(#fff8f6, #443633);
        --md-sys-color-surface-container: light-dark(#ffe9e5, #291d1a);
        --md-sys-color-surface-container-high: light-dark(#fae3df, #342725);
        --md-sys-color-surface-container-highest: light-dark(#f4ded9, #3f322f);
        --md-sys-color-surface-container-low: light-dark(#fff0ee, #241917);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #160c0a);
        --md-sys-color-surface-dim: light-dark(#ebd5d1, #1b110f);
        --md-sys-color-surface-tint: light-dark(#a63925, #ffb4a5);
        --md-sys-color-surface-variant: light-dark(#fcdbd5, #57423d);
        --md-sys-color-tertiary: light-dark(#926f1b, #b18b36);
        --md-sys-color-tertiary-container: light-dark(#ffd377, #4c3700);
        --md-sys-color-tertiary-fixed: light-dark(#ffd377, #694c00);
        --md-sys-color-tertiary-fixed-dim: light-dark(#e1b75d, #4c3700);
        --md-sys-color-tertiary-palette-key-color: light-dark(#795900, #795900);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff8f6, #1b110f);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#ffb4a5, #882311);
        --md-sys-color-inverse-surface: light-dark(#3a2d2b, #f4ded9);
        --md-sys-color-neutral-palette-key-color: light-dark(#847370, #847370);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#8b716c, #8b716c);
        --md-sys-color-on-background: light-dark(#241917, #f4ded9);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #200100);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #2b0200);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #200100);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #290401);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #110a00);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #191000);
        --md-sys-color-outline: light-dark(#3b2724, #ffece8);
        --md-sys-color-outline-variant: light-dark(#5a4440, #dabcb6);
        --md-sys-color-primary: light-dark(#5d0900, #ffece8);
        --md-sys-color-primary-container: light-dark(#892413, #ffaf9e);
        --md-sys-color-primary-fixed: light-dark(#892413, #ffdad3);
        --md-sys-color-primary-fixed-dim: light-dark(#690c00, #ffb4a5);
        --md-sys-color-primary-palette-key-color: light-dark(#c7513b, #c7513b);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#4c1e15, #ffece8);
        --md-sys-color-secondary-container: light-dark(#703a2f, #fbb0a1);
        --md-sys-color-secondary-fixed: light-dark(#703a2f, #ffdad3);
        --md-sys-color-secondary-fixed-dim: light-dark(#54241b, #ffb4a5);
        --md-sys-color-secondary-palette-key-color: light-dark(#a6675a, #a6675a);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f6, #1b110f);
        --md-sys-color-surface-bright: light-dark(#fff8f6, #5c4d4a);
        --md-sys-color-surface-container: light-dark(#f4ded9, #3a2d2b);
        --md-sys-color-surface-container-high: light-dark(#e5d0cc, #463835);
        --md-sys-color-surface-container-highest: light-dark(#d7c2be, #524341);
        --md-sys-color-surface-container-low: light-dark(#ffede9, #291d1a);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#c9b4b0, #1b110f);
        --md-sys-color-surface-tint: light-dark(#a63925, #ffb4a5);
        --md-sys-color-surface-variant: light-dark(#fcdbd5, #57423d);
        --md-sys-color-tertiary: light-dark(#3a2900, #ffeed2);
        --md-sys-color-tertiary-container: light-dark(#5f4500, #e7bd62);
        --md-sys-color-tertiary-fixed: light-dark(#5f4500, #ffdfa0);
        --md-sys-color-tertiary-fixed-dim: light-dark(#433000, #ecc165);
        --md-sys-color-tertiary-palette-key-color: light-dark(#795900, #795900);
    }

}
