:root {
    --md-sys-color-background: light-dark(#fff8f6, #000000);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f8efed, #342f2e);
    --md-sys-color-inverse-primary: light-dark(#eebbaf, #7c554c);
    --md-sys-color-inverse-surface: light-dark(#342f2e, #eae0df);
    --md-sys-color-neutral-palette-key-color: light-dark(#7d7674, #7d7674);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#837471, #837471);
    --md-sys-color-on-background: light-dark(#1f1b1a, #eae0df);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #482821);
    --md-sys-color-on-primary-container: light-dark(#41211b, #41211b);
    --md-sys-color-on-primary-fixed: light-dark(#2f130d, #2f130d);
    --md-sys-color-on-primary-fixed-variant: light-dark(#623d36, #623d36);
    --md-sys-color-on-secondary: light-dark(#ffffff, #3d2c29);
    --md-sys-color-on-secondary-container: light-dark(#75605b, #c9afaa);
    --md-sys-color-on-secondary-fixed: light-dark(#271815, #271815);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#55423e, #55423e);
    --md-sys-color-on-surface: light-dark(#1f1b1a, #eae0df);
    --md-sys-color-on-surface-variant: light-dark(#514441, #d5c2bf);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #3b2f0e);
    --md-sys-color-on-tertiary-container: light-dark(#4b3e1c, #4b3e1c);
    --md-sys-color-on-tertiary-fixed: light-dark(#241a00, #241a00);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#524522, #524522);
    --md-sys-color-outline: light-dark(#837471, #9d8d8a);
    --md-sys-color-outline-variant: light-dark(#d5c2bf, #514441);
    --md-sys-color-primary: light-dark(#7c554c, #eebbaf);
    --md-sys-color-primary-container: light-dark(#b4867c, #b4867c);
    --md-sys-color-primary-fixed: light-dark(#ffdad3, #ffdad3);
    --md-sys-color-primary-fixed-dim: light-dark(#eebbaf, #eebbaf);
    --md-sys-color-primary-palette-key-color: light-dark(#986d64, #986d64);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#6e5a55, #dcc1bb);
    --md-sys-color-secondary-container: light-dark(#f9dcd6, #55423e);
    --md-sys-color-secondary-fixed: light-dark(#f9dcd6, #f9dcd6);
    --md-sys-color-secondary-fixed-dim: light-dark(#dcc1bb, #dcc1bb);
    --md-sys-color-secondary-palette-key-color: light-dark(#88726d, #88726d);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f6, #000000);
    --md-sys-color-surface-bright: light-dark(#fff8f6, #3d3837);
    --md-sys-color-surface-container: light-dark(#f5ecea, #231f1e);
    --md-sys-color-surface-container-high: light-dark(#f0e6e4, #2d2928);
    --md-sys-color-surface-container-highest: light-dark(#eae0df, #393433);
    --md-sys-color-surface-container-low: light-dark(#fbf1f0, #1f1b1a);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#e1d8d6, #161212);
    --md-sys-color-surface-tint: light-dark(#7c554c, #eebbaf);
    --md-sys-color-surface-variant: light-dark(#f2deda, #514441);
    --md-sys-color-tertiary: light-dark(#6b5d37, #d8c597);
    --md-sys-color-tertiary-container: light-dark(#bcaa7e, #bcaa7e);
    --md-sys-color-tertiary-fixed: light-dark(#f5e1b1, #f5e1b1);
    --md-sys-color-tertiary-fixed-dim: light-dark(#d8c597, #d8c597);
    --md-sys-color-tertiary-palette-key-color: light-dark(#bcaa7e, #bcaa7e);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff8f6, #000000);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#9e9795, #696362);
        --md-sys-color-inverse-primary: light-dark(#9b6f66, #a2766c);
        --md-sys-color-inverse-surface: light-dark(#342f2e, #eae0df);
        --md-sys-color-neutral-palette-key-color: light-dark(#7d7674, #7d7674);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#837471, #837471);
        --md-sys-color-on-background: light-dark(#968e8d, #676160);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fffbff, #40211a);
        --md-sys-color-on-primary-container: light-dark(#9b6f66, #a67970);
        --md-sys-color-on-primary-fixed: light-dark(#68433b, #ebb8ad);
        --md-sys-color-on-primary-fixed-variant: light-dark(#855c53, #c5958b);
        --md-sys-color-on-secondary: light-dark(#fffbff, #362622);
        --md-sys-color-on-secondary-container: light-dark(#8b7570, #967f7a);
        --md-sys-color-on-secondary-fixed: light-dark(#5b4844, #d9beb8);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#77625d, #b39b95);
        --md-sys-color-on-surface: light-dark(#645e5c, #a9a1a0);
        --md-sys-color-on-surface-variant: light-dark(#877774, #8f807c);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #332808);
        --md-sys-color-on-tertiary-container: light-dark(#887850, #93835a);
        --md-sys-color-on-tertiary-fixed: light-dark(#584b27, #d5c295);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#74653f, #b09f73);
        --md-sys-color-outline: light-dark(#c0aeaa, #5f514e);
        --md-sys-color-outline-variant: light-dark(#e8d5d1, #433735);
        --md-sys-color-primary: light-dark(#956a61, #b4867c);
        --md-sys-color-primary-container: light-dark(#ffcec3, #53312a);
        --md-sys-color-primary-fixed: light-dark(#ffcec3, #6d473f);
        --md-sys-color-primary-fixed-dim: light-dark(#e4b1a6, #53312a);
        --md-sys-color-primary-palette-key-color: light-dark(#986d64, #986d64);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#86706b, #a38b86);
        --md-sys-color-secondary-container: light-dark(#efd3cd, #483632);
        --md-sys-color-secondary-fixed: light-dark(#efd3cd, #604c48);
        --md-sys-color-secondary-fixed-dim: light-dark(#d2b7b2, #483632);
        --md-sys-color-secondary-palette-key-color: light-dark(#88726d, #88726d);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f6, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f6, #3d3837);
        --md-sys-color-surface-container: light-dark(#f5ecea, #231f1e);
        --md-sys-color-surface-container-high: light-dark(#f0e6e4, #2d2928);
        --md-sys-color-surface-container-highest: light-dark(#eae0df, #393433);
        --md-sys-color-surface-container-low: light-dark(#fbf1f0, #1f1b1a);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#e1d8d6, #161212);
        --md-sys-color-surface-tint: light-dark(#7c554c, #eebbaf);
        --md-sys-color-surface-variant: light-dark(#f2deda, #514441);
        --md-sys-color-tertiary: light-dark(#83734b, #a08f65);
        --md-sys-color-tertiary-container: light-dark(#ebd7a8, #453917);
        --md-sys-color-tertiary-fixed: light-dark(#ebd7a8, #5d502b);
        --md-sys-color-tertiary-fixed-dim: light-dark(#cebb8e, #453917);
        --md-sys-color-tertiary-palette-key-color: light-dark(#bcaa7e, #bcaa7e);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff8f6, #000000);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#eebbaf, #633f37);
        --md-sys-color-inverse-surface: light-dark(#342f2e, #eae0df);
        --md-sys-color-neutral-palette-key-color: light-dark(#7d7674, #7d7674);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#837471, #837471);
        --md-sys-color-on-background: light-dark(#1f1b1a, #eae0df);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #1b0502);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #230905);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #140806);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #1b0e0b);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #100a00);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #171000);
        --md-sys-color-outline: light-dark(#352a27, #ffece8);
        --md-sys-color-outline-variant: light-dark(#534644, #d1bfbb);
        --md-sys-color-primary: light-dark(#43241d, #ffece8);
        --md-sys-color-primary-container: light-dark(#644038, #eab7ac);
        --md-sys-color-primary-fixed: light-dark(#644038, #ffdad3);
        --md-sys-color-primary-fixed-dim: light-dark(#4b2a23, #eebbaf);
        --md-sys-color-primary-palette-key-color: light-dark(#986d64, #986d64);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#392825, #ffece8);
        --md-sys-color-secondary-container: light-dark(#584541, #d7bdb7);
        --md-sys-color-secondary-fixed: light-dark(#584541, #f9dcd6);
        --md-sys-color-secondary-fixed-dim: light-dark(#402f2b, #dcc1bb);
        --md-sys-color-secondary-palette-key-color: light-dark(#88726d, #88726d);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f6, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f6, #544f4e);
        --md-sys-color-surface-container: light-dark(#eae0df, #342f2e);
        --md-sys-color-surface-container-high: light-dark(#dbd2d1, #3f3a39);
        --md-sys-color-surface-container-highest: light-dark(#cdc5c3, #4b4644);
        --md-sys-color-surface-container-low: light-dark(#f8efed, #231f1e);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#bfb7b5, #161212);
        --md-sys-color-surface-tint: light-dark(#7c554c, #eebbaf);
        --md-sys-color-surface-variant: light-dark(#f2deda, #514441);
        --md-sys-color-tertiary: light-dark(#362b0a, #ffefcb);
        --md-sys-color-tertiary-container: light-dark(#554824, #d4c193);
        --md-sys-color-tertiary-fixed: light-dark(#554824, #f5e1b1);
        --md-sys-color-tertiary-fixed-dim: light-dark(#3d3110, #d8c597);
        --md-sys-color-tertiary-palette-key-color: light-dark(#bcaa7e, #bcaa7e);
    }

}
