:root {
    --md-sys-color-background: light-dark(#fff8f8, #000000);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#fcedef, #362e30);
    --md-sys-color-inverse-primary: light-dark(#ffb1c8, #904660);
    --md-sys-color-inverse-surface: light-dark(#362e30, #eddfe1);
    --md-sys-color-neutral-palette-key-color: light-dark(#7f7476, #7f7476);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#857276, #857276);
    --md-sys-color-on-background: light-dark(#211a1b, #eddfe1);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #581932);
    --md-sys-color-on-primary-container: light-dark(#d47f9a, #d47f9a);
    --md-sys-color-on-primary-fixed: light-dark(#3d031d, #3d031d);
    --md-sys-color-on-primary-fixed-variant: light-dark(#742f48, #742f48);
    --md-sys-color-on-secondary: light-dark(#ffffff, #462731);
    --md-sys-color-on-secondary-container: light-dark(#7a555f, #daacb8);
    --md-sys-color-on-secondary-fixed: light-dark(#2e131c, #2e131c);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#5f3d47, #5f3d47);
    --md-sys-color-on-surface: light-dark(#211a1b, #eddfe1);
    --md-sys-color-on-surface-variant: light-dark(#524347, #d7c1c6);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #562000);
    --md-sys-color-on-tertiary-container: light-dark(#d6845b, #d6845b);
    --md-sys-color-on-tertiary-fixed: light-dark(#341100, #341100);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#733512, #733512);
    --md-sys-color-outline: light-dark(#857277, #9f8c90);
    --md-sys-color-outline-variant: light-dark(#d7c1c6, #524347);
    --md-sys-color-primary: light-dark(#3d031d, #ffb1c8);
    --md-sys-color-primary-container: light-dark(#581932, #581932);
    --md-sys-color-primary-fixed: light-dark(#ffd9e2, #ffd9e2);
    --md-sys-color-primary-fixed-dim: light-dark(#ffb1c8, #ffb1c8);
    --md-sys-color-primary-palette-key-color: light-dark(#ae5e79, #ae5e79);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#79545f, #e9bac7);
    --md-sys-color-secondary-container: light-dark(#fecdda, #623f4a);
    --md-sys-color-secondary-fixed: light-dark(#ffd9e2, #ffd9e2);
    --md-sys-color-secondary-fixed-dim: light-dark(#e9bac7, #e9bac7);
    --md-sys-color-secondary-palette-key-color: light-dark(#946c77, #946c77);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f8, #000000);
    --md-sys-color-surface-bright: light-dark(#fff8f8, #3f3739);
    --md-sys-color-surface-container: light-dark(#f9eaec, #251e1f);
    --md-sys-color-surface-container-high: light-dark(#f3e5e7, #30282a);
    --md-sys-color-surface-container-highest: light-dark(#eddfe1, #3b3334);
    --md-sys-color-surface-container-low: light-dark(#fff0f2, #211a1b);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#e5d7d9, #181213);
    --md-sys-color-surface-tint: light-dark(#904660, #ffb1c8);
    --md-sys-color-surface-variant: light-dark(#f4dde1, #524347);
    --md-sys-color-tertiary: light-dark(#351100, #ffb692);
    --md-sys-color-tertiary-container: light-dark(#562000, #562000);
    --md-sys-color-tertiary-fixed: light-dark(#ffdbcb, #ffdbcb);
    --md-sys-color-tertiary-fixed-dim: light-dark(#ffb692, #ffb692);
    --md-sys-color-tertiary-palette-key-color: light-dark(#562000, #562000);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff8f8, #000000);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#a19597, #6c6264);
        --md-sys-color-inverse-primary: light-dark(#b1617b, #b96882);
        --md-sys-color-inverse-surface: light-dark(#362e30, #eddfe1);
        --md-sys-color-neutral-palette-key-color: light-dark(#7f7476, #7f7476);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#857276, #857276);
        --md-sys-color-on-background: light-dark(#998d8f, #6a6062);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fffbff, #4f122b);
        --md-sys-color-on-primary-container: light-dark(#b1617c, #bd6b86);
        --md-sys-color-on-primary-fixed: light-dark(#7a354e, #ffadc5);
        --md-sys-color-on-primary-fixed-variant: light-dark(#9a4e68, #dd86a2);
        --md-sys-color-on-secondary: light-dark(#fffbff, #3f212a);
        --md-sys-color-on-secondary-container: light-dark(#976f7a, #a27984);
        --md-sys-color-on-secondary-fixed: light-dark(#65424d, #e7b8c4);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#825c67, #c094a0);
        --md-sys-color-on-surface: light-dark(#675d5f, #aca0a2);
        --md-sys-color-on-surface-variant: light-dark(#89767a, #917e83);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #4b1b00);
        --md-sys-color-on-tertiary-container: light-dark(#b16740, #bd7149);
        --md-sys-color-on-tertiary-fixed: light-dark(#793b17, #ffb28d);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#9a542f, #df8c62);
        --md-sys-color-outline: light-dark(#c2adb1, #605054);
        --md-sys-color-outline-variant: light-dark(#ead3d8, #45363a);
        --md-sys-color-primary: light-dark(#ab5c76, #cb7792);
        --md-sys-color-primary-container: light-dark(#ffcbd9, #64233c);
        --md-sys-color-primary-fixed: light-dark(#ffcbd9, #803953);
        --md-sys-color-primary-fixed-dim: light-dark(#fea2bf, #64233c);
        --md-sys-color-primary-palette-key-color: light-dark(#ae5e79, #ae5e79);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#916a75, #b08591);
        --md-sys-color-secondary-container: light-dark(#fdccd9, #51313b);
        --md-sys-color-secondary-fixed: light-dark(#fdccd9, #6b4751);
        --md-sys-color-secondary-fixed-dim: light-dark(#dfb1bd, #51313b);
        --md-sys-color-secondary-palette-key-color: light-dark(#946c77, #946c77);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f8, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f8, #3f3739);
        --md-sys-color-surface-container: light-dark(#f9eaec, #251e1f);
        --md-sys-color-surface-container-high: light-dark(#f3e5e7, #30282a);
        --md-sys-color-surface-container-highest: light-dark(#eddfe1, #3b3334);
        --md-sys-color-surface-container-low: light-dark(#fff0f2, #211a1b);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#e5d7d9, #181213);
        --md-sys-color-surface-tint: light-dark(#904660, #ffb1c8);
        --md-sys-color-surface-variant: light-dark(#f4dde1, #524347);
        --md-sys-color-tertiary: light-dark(#ab613b, #cc7d54);
        --md-sys-color-tertiary-container: light-dark(#ffcfb9, #622906);
        --md-sys-color-tertiary-fixed: light-dark(#ffcfb9, #7f3f1c);
        --md-sys-color-tertiary-fixed-dim: light-dark(#ffa87d, #622906);
        --md-sys-color-tertiary-palette-key-color: light-dark(#562000, #562000);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff8f8, #000000);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#ffb1c8, #75314a);
        --md-sys-color-inverse-surface: light-dark(#362e30, #eddfe1);
        --md-sys-color-neutral-palette-key-color: light-dark(#7f7476, #7f7476);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#857276, #857276);
        --md-sys-color-on-background: light-dark(#211a1b, #eddfe1);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffe6eb, #20000c);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #2b0012);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #1b040c);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #220812);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffe8de, #1a0500);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #240900);
        --md-sys-color-outline: light-dark(#36282c, #ffebef);
        --md-sys-color-outline-variant: light-dark(#554549, #d3bdc2);
        --md-sys-color-primary: light-dark(#3d031d, #ffebef);
        --md-sys-color-primary-container: light-dark(#581932, #ffabc4);
        --md-sys-color-primary-fixed: light-dark(#77324b, #ffd9e2);
        --md-sys-color-primary-fixed-dim: light-dark(#5b1b34, #ffb1c8);
        --md-sys-color-primary-palette-key-color: light-dark(#ae5e79, #ae5e79);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#41232d, #ffebef);
        --md-sys-color-secondary-container: light-dark(#623f4a, #e5b6c3);
        --md-sys-color-secondary-fixed: light-dark(#623f4a, #ffd9e2);
        --md-sys-color-secondary-fixed-dim: light-dark(#492933, #e9bac7);
        --md-sys-color-secondary-palette-key-color: light-dark(#946c77, #946c77);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f8, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f8, #574e50);
        --md-sys-color-surface-container: light-dark(#eddfe1, #362e30);
        --md-sys-color-surface-container-high: light-dark(#dfd1d3, #42393b);
        --md-sys-color-surface-container-highest: light-dark(#d1c3c5, #4d4446);
        --md-sys-color-surface-container-low: light-dark(#fcedef, #251e1f);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#c3b6b8, #181213);
        --md-sys-color-surface-tint: light-dark(#904660, #ffb1c8);
        --md-sys-color-surface-variant: light-dark(#f4dde1, #524347);
        --md-sys-color-tertiary: light-dark(#351100, #ffece5);
        --md-sys-color-tertiary-container: light-dark(#562000, #ffb08a);
        --md-sys-color-tertiary-fixed: light-dark(#763814, #ffdbcb);
        --md-sys-color-tertiary-fixed-dim: light-dark(#592201, #ffb692);
        --md-sys-color-tertiary-palette-key-color: light-dark(#562000, #562000);
    }

}
