:root {
    --md-sys-color-background: light-dark(#fff8f5, #000000);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#fdeee4, #372f29);
    --md-sys-color-inverse-primary: light-dark(#ffb77a, #8f4e00);
    --md-sys-color-inverse-surface: light-dark(#372f29, #eee0d6);
    --md-sys-color-neutral-palette-key-color: light-dark(#80756d, #80756d);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#867466, #867466);
    --md-sys-color-on-background: light-dark(#211a15, #eee0d6);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #4c2700);
    --md-sys-color-on-primary-container: light-dark(#ffd0aa, #ffd0aa);
    --md-sys-color-on-primary-fixed: light-dark(#2e1500, #2e1500);
    --md-sys-color-on-primary-fixed-variant: light-dark(#6d3a00, #6d3a00);
    --md-sys-color-on-secondary: light-dark(#ffffff, #462a0f);
    --md-sys-color-on-secondary-container: light-dark(#795637, #ddaf8a);
    --md-sys-color-on-secondary-fixed: light-dark(#2e1500, #2e1500);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#604023, #604023);
    --md-sys-color-on-surface: light-dark(#211a15, #eee0d6);
    --md-sys-color-on-surface-variant: light-dark(#534438, #d8c2b3);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #2d3400);
    --md-sys-color-on-tertiary-container: light-dark(#d3e177, #d3e177);
    --md-sys-color-on-tertiary-fixed: light-dark(#191e00, #191e00);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#434b00, #434b00);
    --md-sys-color-outline: light-dark(#867466, #a08d7f);
    --md-sys-color-outline-variant: light-dark(#d8c2b3, #534438);
    --md-sys-color-primary: light-dark(#6d3a00, #ffb77a);
    --md-sys-color-primary-container: light-dark(#8f4e00, #8f4e00);
    --md-sys-color-primary-fixed: light-dark(#ffdcc2, #ffdcc2);
    --md-sys-color-primary-fixed-dim: light-dark(#ffb77a, #ffb77a);
    --md-sys-color-primary-palette-key-color: light-dark(#ad661d, #ad661d);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#7b5738, #edbd97);
    --md-sys-color-secondary-container: light-dark(#ffcea7, #634225);
    --md-sys-color-secondary-fixed: light-dark(#ffdcc2, #ffdcc2);
    --md-sys-color-secondary-fixed-dim: light-dark(#edbd97, #edbd97);
    --md-sys-color-secondary-palette-key-color: light-dark(#966f4e, #966f4e);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f5, #000000);
    --md-sys-color-surface-bright: light-dark(#fff8f5, #403831);
    --md-sys-color-surface-container: light-dark(#faebe2, #261e18);
    --md-sys-color-surface-container-high: light-dark(#f4e5dc, #302822);
    --md-sys-color-surface-container-highest: light-dark(#eee0d6, #3c332d);
    --md-sys-color-surface-container-low: light-dark(#fff1e8, #211a15);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#e6d7ce, #19120d);
    --md-sys-color-surface-tint: light-dark(#8f4e00, #ffb77a);
    --md-sys-color-surface-variant: light-dark(#f5dece, #534438);
    --md-sys-color-tertiary: light-dark(#434b00, #c1ce68);
    --md-sys-color-tertiary-container: light-dark(#596401, #596401);
    --md-sys-color-tertiary-fixed: light-dark(#ddeb80, #ddeb80);
    --md-sys-color-tertiary-fixed-dim: light-dark(#c1ce68, #c1ce68);
    --md-sys-color-tertiary-palette-key-color: light-dark(#596401, #596401);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff8f5, #000000);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#a2968e, #6d625b);
        --md-sys-color-inverse-primary: light-dark(#b0681f, #b86f26);
        --md-sys-color-inverse-surface: light-dark(#372f29, #eee0d6);
        --md-sys-color-neutral-palette-key-color: light-dark(#80756d, #80756d);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#867466, #867466);
        --md-sys-color-on-background: light-dark(#9a8e86, #6b6059);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fffbff, #432100);
        --md-sys-color-on-primary-container: light-dark(#b0691f, #bd7229);
        --md-sys-color-on-primary-fixed: light-dark(#743e00, #ffb473);
        --md-sys-color-on-primary-fixed-variant: light-dark(#99560a, #de8e42);
        --md-sys-color-on-secondary: light-dark(#fffbff, #3f2308);
        --md-sys-color-on-secondary-container: light-dark(#997251, #a47c5a);
        --md-sys-color-on-secondary-fixed: light-dark(#664528, #eabb95);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#845f3f, #c39774);
        --md-sys-color-on-surface: light-dark(#675d56, #ada098);
        --md-sys-color-on-surface-variant: light-dark(#8a776a, #928072);
        --md-sys-color-on-tertiary: light-dark(#fdffdd, #272d00);
        --md-sys-color-on-tertiary-container: light-dark(#748022, #7f8b2c);
        --md-sys-color-on-tertiary-fixed: light-dark(#485100, #becc65);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#616c0c, #9ba745);
        --md-sys-color-outline: light-dark(#c3ae9f, #615145);
        --md-sys-color-outline-variant: light-dark(#ebd5c5, #46372c);
        --md-sys-color-primary: light-dark(#aa631a, #cc7f35);
        --md-sys-color-primary-container: light-dark(#ffd0aa, #5a2f00);
        --md-sys-color-primary-fixed: light-dark(#ffd0aa, #7b4300);
        --md-sys-color-primary-fixed-dim: light-dark(#ffaa5d, #5a2f00);
        --md-sys-color-primary-palette-key-color: light-dark(#ad661d, #ad661d);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#936d4c, #b28866);
        --md-sys-color-secondary-container: light-dark(#ffd0aa, #523317);
        --md-sys-color-secondary-fixed: light-dark(#ffd0aa, #6c4a2c);
        --md-sys-color-secondary-fixed-dim: light-dark(#e2b48f, #523317);
        --md-sys-color-secondary-palette-key-color: light-dark(#966f4e, #966f4e);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f5, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f5, #403831);
        --md-sys-color-surface-container: light-dark(#faebe2, #261e18);
        --md-sys-color-surface-container-high: light-dark(#f4e5dc, #302822);
        --md-sys-color-surface-container-highest: light-dark(#eee0d6, #3c332d);
        --md-sys-color-surface-container-low: light-dark(#fff1e8, #211a15);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#e6d7ce, #19120d);
        --md-sys-color-surface-tint: light-dark(#8f4e00, #ffb77a);
        --md-sys-color-surface-variant: light-dark(#f5dece, #534438);
        --md-sys-color-tertiary: light-dark(#6f7b1c, #8b9837);
        --md-sys-color-tertiary-container: light-dark(#d3e178, #363e00);
        --md-sys-color-tertiary-fixed: light-dark(#d3e178, #4c5600);
        --md-sys-color-tertiary-fixed-dim: light-dark(#b8c55f, #363e00);
        --md-sys-color-tertiary-palette-key-color: light-dark(#596401, #596401);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff8f5, #000000);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#ffb77a, #6e3b00);
        --md-sys-color-inverse-surface: light-dark(#372f29, #eee0d6);
        --md-sys-color-neutral-palette-key-color: light-dark(#80756d, #80756d);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#867466, #867466);
        --md-sys-color-on-background: light-dark(#211a15, #eee0d6);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #160800);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #1f0c00);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #160800);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #1f0c00);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #0a0d00);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #101300);
        --md-sys-color-outline: light-dark(#37291f, #ffede0);
        --md-sys-color-outline-variant: light-dark(#56463a, #d4bfaf);
        --md-sys-color-primary: light-dark(#462300, #ffede0);
        --md-sys-color-primary-container: light-dark(#703c00, #ffb26e);
        --md-sys-color-primary-fixed: light-dark(#703c00, #ffdcc2);
        --md-sys-color-primary-fixed-dim: light-dark(#4f2900, #ffb77a);
        --md-sys-color-primary-palette-key-color: light-dark(#ad661d, #ad661d);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#41260b, #ffede0);
        --md-sys-color-secondary-container: light-dark(#634225, #e8b994);
        --md-sys-color-secondary-fixed: light-dark(#634225, #ffdcc2);
        --md-sys-color-secondary-fixed-dim: light-dark(#492c11, #edbd97);
        --md-sys-color-secondary-palette-key-color: light-dark(#966f4e, #966f4e);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f5, #000000);
        --md-sys-color-surface-bright: light-dark(#fff8f5, #584e47);
        --md-sys-color-surface-container: light-dark(#eee0d6, #372f29);
        --md-sys-color-surface-container-high: light-dark(#e0d2c9, #433a33);
        --md-sys-color-surface-container-highest: light-dark(#d2c4bb, #4e453e);
        --md-sys-color-surface-container-low: light-dark(#fdeee4, #261e18);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#c4b6ad, #19120d);
        --md-sys-color-surface-tint: light-dark(#8f4e00, #ffb77a);
        --md-sys-color-surface-variant: light-dark(#f5dece, #534438);
        --md-sys-color-tertiary: light-dark(#292f00, #eaf98c);
        --md-sys-color-tertiary-container: light-dark(#454e00, #bdcb64);
        --md-sys-color-tertiary-fixed: light-dark(#454e00, #ddeb80);
        --md-sys-color-tertiary-fixed-dim: light-dark(#2f3600, #c1ce68);
        --md-sys-color-tertiary-palette-key-color: light-dark(#596401, #596401);
    }

}
