:root {
    --md-sys-color-background: light-dark(#fff8f5, #161310);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f8efeb, #34302d);
    --md-sys-color-inverse-primary: light-dark(#e8be9c, #78583c);
    --md-sys-color-inverse-surface: light-dark(#34302d, #e9e1dc);
    --md-sys-color-neutral-palette-key-color: light-dark(#7c7673, #7c7673);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#81756c, #81756c);
    --md-sys-color-on-background: light-dark(#1e1b18, #e9e1dc);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #442b12);
    --md-sys-color-on-primary-container: light-dark(#fcd1ad, #fcd1ad);
    --md-sys-color-on-primary-fixed: light-dark(#2c1602, #2c1602);
    --md-sys-color-on-primary-fixed-variant: light-dark(#5e4126, #5e4126);
    --md-sys-color-on-secondary: light-dark(#ffffff, #3c2e22);
    --md-sys-color-on-secondary-container: light-dark(#726153, #cab4a4);
    --md-sys-color-on-secondary-fixed: light-dark(#25190f, #25190f);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#534437, #534437);
    --md-sys-color-on-surface: light-dark(#1e1b18, #e9e1dc);
    --md-sys-color-on-surface-variant: light-dark(#4f453d, #d3c4b9);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #2f3314);
    --md-sys-color-on-tertiary-container: light-dark(#d8dcb0, #d8dcb0);
    --md-sys-color-on-tertiary-fixed: light-dark(#1a1d03, #1a1d03);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#454928, #454928);
    --md-sys-color-outline: light-dark(#81756c, #9c8e85);
    --md-sys-color-outline-variant: light-dark(#d3c4b9, #4f453d);
    --md-sys-color-primary: light-dark(#5e4127, #e8be9c);
    --md-sys-color-primary-container: light-dark(#78583c, #78583c);
    --md-sys-color-primary-fixed: light-dark(#ffdcc1, #ffdcc1);
    --md-sys-color-primary-fixed-dim: light-dark(#e8be9c, #e8be9c);
    --md-sys-color-primary-palette-key-color: light-dark(#937052, #937052);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#6c5b4e, #d9c2b2);
    --md-sys-color-secondary-container: light-dark(#f6decd, #564639);
    --md-sys-color-secondary-fixed: light-dark(#f6decd, #f6decd);
    --md-sys-color-secondary-fixed-dim: light-dark(#d9c2b2, #d9c2b2);
    --md-sys-color-secondary-palette-key-color: light-dark(#867465, #867465);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f5, #161310);
    --md-sys-color-surface-bright: light-dark(#fff8f5, #3d3835);
    --md-sys-color-surface-container: light-dark(#f5ece8, #221f1c);
    --md-sys-color-surface-container-high: light-dark(#efe6e2, #2d2927);
    --md-sys-color-surface-container-highest: light-dark(#e9e1dc, #383431);
    --md-sys-color-surface-container-low: light-dark(#fbf2ed, #1e1b18);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #110e0b);
    --md-sys-color-surface-dim: light-dark(#e1d8d4, #161310);
    --md-sys-color-surface-tint: light-dark(#78583c, #e8be9c);
    --md-sys-color-surface-variant: light-dark(#f0dfd4, #4f453d);
    --md-sys-color-tertiary: light-dark(#454928, #c6ca9f);
    --md-sys-color-tertiary-container: light-dark(#5d613e, #5d613e);
    --md-sys-color-tertiary-fixed: light-dark(#e2e6ba, #e2e6ba);
    --md-sys-color-tertiary-fixed-dim: light-dark(#c6ca9f, #c6ca9f);
    --md-sys-color-tertiary-palette-key-color: light-dark(#5d613e, #5d613e);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff8f5, #161310);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#9e9793, #696360);
        --md-sys-color-inverse-primary: light-dark(#967355, #9d795b);
        --md-sys-color-inverse-surface: light-dark(#34302d, #e9e1dc);
        --md-sys-color-neutral-palette-key-color: light-dark(#7c7673, #7c7673);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#81756c, #81756c);
        --md-sys-color-on-background: light-dark(#958f8b, #67615e);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fffbff, #3d240c);
        --md-sys-color-on-primary-container: light-dark(#967355, #a17d5e);
        --md-sys-color-on-primary-fixed: light-dark(#64462b, #e6bc9a);
        --md-sys-color-on-primary-fixed-variant: light-dark(#816043, #bf9978);
        --md-sys-color-on-secondary: light-dark(#fffbff, #34271c);
        --md-sys-color-on-secondary-container: light-dark(#897668, #948172);
        --md-sys-color-on-secondary-fixed: light-dark(#59493c, #d6c0af);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#756355, #b19c8d);
        --md-sys-color-on-surface: light-dark(#635e5b, #a8a19e);
        --md-sys-color-on-surface-variant: light-dark(#85786f, #8e8177);
        --md-sys-color-on-tertiary: light-dark(#fdffdd, #282c0e);
        --md-sys-color-on-tertiary-container: light-dark(#797d58, #838761);
        --md-sys-color-on-tertiary-fixed: light-dark(#4b4f2d, #c4c79d);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#656945, #9fa37b);
        --md-sys-color-outline: light-dark(#beafa5, #5d524a);
        --md-sys-color-outline-variant: light-dark(#e6d6cb, #423831);
        --md-sys-color-primary: light-dark(#906e50, #af896a);
        --md-sys-color-primary-container: light-dark(#fcd1ad, #4f341b);
        --md-sys-color-primary-fixed: light-dark(#fcd1ad, #694b30);
        --md-sys-color-primary-fixed-dim: light-dark(#deb593, #4f341b);
        --md-sys-color-primary-palette-key-color: light-dark(#937052, #937052);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#837163, #a18d7e);
        --md-sys-color-secondary-container: light-dark(#ecd5c4, #46372b);
        --md-sys-color-secondary-fixed: light-dark(#ecd5c4, #5e4e41);
        --md-sys-color-secondary-fixed-dim: light-dark(#cfb9a9, #46372b);
        --md-sys-color-secondary-palette-key-color: light-dark(#867465, #867465);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f5, #161310);
        --md-sys-color-surface-bright: light-dark(#fff8f5, #3d3835);
        --md-sys-color-surface-container: light-dark(#f5ece8, #221f1c);
        --md-sys-color-surface-container-high: light-dark(#efe6e2, #2d2927);
        --md-sys-color-surface-container-highest: light-dark(#e9e1dc, #383431);
        --md-sys-color-surface-container-low: light-dark(#fbf2ed, #1e1b18);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #110e0b);
        --md-sys-color-surface-dim: light-dark(#e1d8d4, #161310);
        --md-sys-color-surface-tint: light-dark(#78583c, #e8be9c);
        --md-sys-color-surface-variant: light-dark(#f0dfd4, #4f453d);
        --md-sys-color-tertiary: light-dark(#737753, #90946d);
        --md-sys-color-tertiary-container: light-dark(#d9dcb0, #393c1d);
        --md-sys-color-tertiary-fixed: light-dark(#d9dcb0, #505432);
        --md-sys-color-tertiary-fixed-dim: light-dark(#bdc096, #393c1d);
        --md-sys-color-tertiary-palette-key-color: light-dark(#5d613e, #5d613e);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff8f5, #161310);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#e8be9c, #5f4228);
        --md-sys-color-inverse-surface: light-dark(#34302d, #e9e1dc);
        --md-sys-color-neutral-palette-key-color: light-dark(#7c7673, #7c7673);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#81756c, #81756c);
        --md-sys-color-on-background: light-dark(#1e1b18, #e9e1dc);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #160800);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #1f0d00);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #130903);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #1a0f06);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #0a0c00);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #101300);
        --md-sys-color-outline: light-dark(#332a23, #feede2);
        --md-sys-color-outline-variant: light-dark(#52473f, #cfc0b5);
        --md-sys-color-primary: light-dark(#3f260e, #ffede0);
        --md-sys-color-primary-container: light-dark(#604329, #e4bb98);
        --md-sys-color-primary-fixed: light-dark(#604329, #ffdcc1);
        --md-sys-color-primary-fixed-dim: light-dark(#472d14, #e8be9c);
        --md-sys-color-primary-palette-key-color: light-dark(#937052, #937052);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#37291e, #ffede0);
        --md-sys-color-secondary-container: light-dark(#564639, #d5bfae);
        --md-sys-color-secondary-fixed: light-dark(#564639, #f6decd);
        --md-sys-color-secondary-fixed-dim: light-dark(#3e3024, #d9c2b2);
        --md-sys-color-secondary-palette-key-color: light-dark(#867465, #867465);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f5, #161310);
        --md-sys-color-surface-bright: light-dark(#fff8f5, #544f4c);
        --md-sys-color-surface-container: light-dark(#e9e1dc, #34302d);
        --md-sys-color-surface-container-high: light-dark(#dbd3cf, #3f3b38);
        --md-sys-color-surface-container-highest: light-dark(#cdc5c1, #4a4643);
        --md-sys-color-surface-container-low: light-dark(#f8efeb, #221f1c);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#bfb7b3, #161310);
        --md-sys-color-surface-tint: light-dark(#78583c, #e8be9c);
        --md-sys-color-surface-variant: light-dark(#f0dfd4, #4f453d);
        --md-sys-color-tertiary: light-dark(#2b2e10, #f0f4c6);
        --md-sys-color-tertiary-container: light-dark(#484c2b, #c2c69b);
        --md-sys-color-tertiary-fixed: light-dark(#484c2b, #e2e6ba);
        --md-sys-color-tertiary-fixed-dim: light-dark(#313516, #c6ca9f);
        --md-sys-color-tertiary-palette-key-color: light-dark(#5d613e, #5d613e);
    }

}
