:root {
    --md-sys-color-background: light-dark(#fff8f1, #16130b);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f9f0e1, #343027);
    --md-sys-color-inverse-primary: light-dark(#eec143, #755b00);
    --md-sys-color-inverse-surface: light-dark(#343027, #eae1d3);
    --md-sys-color-neutral-palette-key-color: light-dark(#7d766b, #7d766b);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7f7662, #7f7662);
    --md-sys-color-on-background: light-dark(#1f1b13, #eae1d3);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #3e2e00);
    --md-sys-color-on-primary-container: light-dark(#fffbff, #352700);
    --md-sys-color-on-primary-fixed: light-dark(#241a00, #241a00);
    --md-sys-color-on-primary-fixed-variant: light-dark(#594400, #594400);
    --md-sys-color-on-secondary: light-dark(#ffffff, #3d2e03);
    --md-sys-color-on-secondary-container: light-dark(#736130, #cab37a);
    --md-sys-color-on-secondary-fixed: light-dark(#241a00, #241a00);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#554517, #554517);
    --md-sys-color-on-surface: light-dark(#1f1b13, #eae1d3);
    --md-sys-color-on-surface-variant: light-dark(#4e4635, #d1c5af);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #263500);
    --md-sys-color-on-tertiary-container: light-dark(#fbffe6, #202e00);
    --md-sys-color-on-tertiary-fixed: light-dark(#151f00, #151f00);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#394d00, #394d00);
    --md-sys-color-outline: light-dark(#7f7663, #9a907b);
    --md-sys-color-outline-variant: light-dark(#d1c5af, #4e4635);
    --md-sys-color-primary: light-dark(#725800, #eec143);
    --md-sys-color-primary-container: light-dark(#907000, #b38b01);
    --md-sys-color-primary-fixed: light-dark(#ffdf92, #ffdf92);
    --md-sys-color-primary-fixed-dim: light-dark(#eec143, #eec143);
    --md-sys-color-primary-palette-key-color: light-dark(#b28b01, #b28b01);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#6f5c2c, #ddc48a);
    --md-sys-color-secondary-container: light-dark(#f7dda1, #554517);
    --md-sys-color-secondary-fixed: light-dark(#fae0a4, #fae0a4);
    --md-sys-color-secondary-fixed-dim: light-dark(#ddc48a, #ddc48a);
    --md-sys-color-secondary-palette-key-color: light-dark(#897543, #897543);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f1, #16130b);
    --md-sys-color-surface-bright: light-dark(#fff8f1, #3d392f);
    --md-sys-color-surface-container: light-dark(#f6eddf, #231f17);
    --md-sys-color-surface-container-high: light-dark(#f0e7d9, #2e2a20);
    --md-sys-color-surface-container-highest: light-dark(#eae1d3, #39342b);
    --md-sys-color-surface-container-low: light-dark(#fcf2e4, #1f1b13);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #110e07);
    --md-sys-color-surface-dim: light-dark(#e2d9cb, #16130b);
    --md-sys-color-surface-tint: light-dark(#755b00, #eec143);
    --md-sys-color-surface-variant: light-dark(#eee1ca, #4e4635);
    --md-sys-color-tertiary: light-dark(#4a6400, #b2d267);
    --md-sys-color-tertiary-container: light-dark(#627e1c, #7d9b37);
    --md-sys-color-tertiary-fixed: light-dark(#cdef80, #cdef80);
    --md-sys-color-tertiary-fixed-dim: light-dark(#b2d267, #b2d267);
    --md-sys-color-tertiary-palette-key-color: light-dark(#7d9b37, #7d9b37);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fff8f1, #16130b);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#9f978b, #6a6459);
        --md-sys-color-inverse-primary: light-dark(#977500, #9f7c00);
        --md-sys-color-inverse-surface: light-dark(#343027, #eae1d3);
        --md-sys-color-neutral-palette-key-color: light-dark(#7d766b, #7d766b);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7f7662, #7f7662);
        --md-sys-color-on-background: light-dark(#968f83, #676257);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fffbff, #352800);
        --md-sys-color-on-primary-container: light-dark(#977500, #a37f00);
        --md-sys-color-on-primary-fixed: light-dark(#5f4900, #ebbf40);
        --md-sys-color-on-primary-fixed-variant: light-dark(#7f6300, #c39b1b);
        --md-sys-color-on-secondary: light-dark(#fffbff, #352800);
        --md-sys-color-on-secondary-container: light-dark(#8c7845, #97824e);
        --md-sys-color-on-secondary-fixed: light-dark(#5b4a1c, #dac288);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#776434, #b49e67);
        --md-sys-color-on-surface: light-dark(#645e53, #a9a295);
        --md-sys-color-on-surface-variant: light-dark(#837a66, #8c826e);
        --md-sys-color-on-tertiary: light-dark(#fbffe6, #202e00);
        --md-sys-color-on-tertiary-container: light-dark(#678421, #718e2b);
        --md-sys-color-on-tertiary-fixed: light-dark(#3d5300, #afd065);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#546f0b, #8cab45);
        --md-sys-color-outline: light-dark(#bcb19b, #5b5341);
        --md-sys-color-outline-variant: light-dark(#e4d8c0, #403929);
        --md-sys-color-primary: light-dark(#907000, #b38b01);
        --md-sys-color-primary-container: light-dark(#ffd460, #493800);
        --md-sys-color-primary-fixed: light-dark(#ffd460, #654e00);
        --md-sys-color-primary-fixed-dim: light-dark(#e3b83a, #493800);
        --md-sys-color-primary-palette-key-color: light-dark(#b28b01, #b28b01);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#867240, #a48f59);
        --md-sys-color-secondary-container: light-dark(#f0d69b, #48380b);
        --md-sys-color-secondary-fixed: light-dark(#f0d69b, #604f20);
        --md-sys-color-secondary-fixed-dim: light-dark(#d3bb82, #48380b);
        --md-sys-color-secondary-palette-key-color: light-dark(#897543, #897543);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f1, #16130b);
        --md-sys-color-surface-bright: light-dark(#fff8f1, #3d392f);
        --md-sys-color-surface-container: light-dark(#f6eddf, #231f17);
        --md-sys-color-surface-container-high: light-dark(#f0e7d9, #2e2a20);
        --md-sys-color-surface-container-highest: light-dark(#eae1d3, #39342b);
        --md-sys-color-surface-container-low: light-dark(#fcf2e4, #1f1b13);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #110e07);
        --md-sys-color-surface-dim: light-dark(#e2d9cb, #16130b);
        --md-sys-color-surface-tint: light-dark(#755b00, #eec143);
        --md-sys-color-surface-variant: light-dark(#eee1ca, #4e4635);
        --md-sys-color-tertiary: light-dark(#627e1c, #7d9b37);
        --md-sys-color-tertiary-container: light-dark(#c4e578, #2e4000);
        --md-sys-color-tertiary-fixed: light-dark(#c4e578, #415900);
        --md-sys-color-tertiary-fixed-dim: light-dark(#a8c95f, #2e4000);
        --md-sys-color-tertiary-palette-key-color: light-dark(#7d9b37, #7d9b37);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fff8f1, #16130b);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#eec143, #5a4500);
        --md-sys-color-inverse-surface: light-dark(#343027, #eae1d3);
        --md-sys-color-neutral-palette-key-color: light-dark(#7d766b, #7d766b);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7f7662, #7f7662);
        --md-sys-color-on-background: light-dark(#1f1b13, #eae1d3);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #110a00);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #181000);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #110a00);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #181000);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #070d00);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #0c1400);
        --md-sys-color-outline: light-dark(#322b1c, #fcefd7);
        --md-sys-color-outline-variant: light-dark(#504837, #cdc1ab);
        --md-sys-color-primary: light-dark(#382a00, #ffeecc);
        --md-sys-color-primary-container: light-dark(#5c4600, #e9bd3f);
        --md-sys-color-primary-fixed: light-dark(#5c4600, #ffdf92);
        --md-sys-color-primary-fixed-dim: light-dark(#403000, #eec143);
        --md-sys-color-primary-palette-key-color: light-dark(#b28b01, #b28b01);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#382a00, #ffeecc);
        --md-sys-color-secondary-container: light-dark(#584719, #d8c087);
        --md-sys-color-secondary-fixed: light-dark(#584719, #fae0a4);
        --md-sys-color-secondary-fixed-dim: light-dark(#403104, #ddc48a);
        --md-sys-color-secondary-palette-key-color: light-dark(#897543, #897543);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fff8f1, #16130b);
        --md-sys-color-surface-bright: light-dark(#fff8f1, #554f45);
        --md-sys-color-surface-container: light-dark(#eae1d3, #343027);
        --md-sys-color-surface-container-high: light-dark(#dcd3c6, #403b31);
        --md-sys-color-surface-container-highest: light-dark(#cec5b8, #4b463c);
        --md-sys-color-surface-container-low: light-dark(#f9f0e1, #231f17);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#c0b8ab, #16130b);
        --md-sys-color-surface-tint: light-dark(#755b00, #eec143);
        --md-sys-color-surface-variant: light-dark(#eee1ca, #4e4635);
        --md-sys-color-tertiary: light-dark(#223100, #dafd8c);
        --md-sys-color-tertiary-container: light-dark(#3b5000, #aece64);
        --md-sys-color-tertiary-fixed: light-dark(#3b5000, #cdef80);
        --md-sys-color-tertiary-fixed-dim: light-dark(#283800, #b2d267);
        --md-sys-color-tertiary-palette-key-color: light-dark(#7d9b37, #7d9b37);
    }

}
