:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #0f0004;
    --md-ref-palette-primary-2: #150208;
    --md-ref-palette-primary-3: #1a040c;
    --md-ref-palette-primary-4: #1e060f;
    --md-ref-palette-primary-5: #220812;
    --md-ref-palette-primary-10: #2e131c;
    --md-ref-palette-primary-20: #462731;
    --md-ref-palette-primary-30: #5f3d47;
    --md-ref-palette-primary-40: #79545f;
    --md-ref-palette-primary-50: #946c78;
    --md-ref-palette-primary-60: #b08591;
    --md-ref-palette-primary-70: #cc9fac;
    --md-ref-palette-primary-80: #e9bac7;
    --md-ref-palette-primary-90: #ffd9e2;
    --md-ref-palette-primary-95: #ffecf0;
    --md-ref-palette-primary-96: #fff0f2;
    --md-ref-palette-primary-97: #fff4f5;
    --md-ref-palette-primary-98: #fff8f8;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #090204;
    --md-ref-palette-secondary-2: #0f0508;
    --md-ref-palette-secondary-3: #13080b;
    --md-ref-palette-secondary-4: #170b0e;
    --md-ref-palette-secondary-5: #1a0d11;
    --md-ref-palette-secondary-10: #26181c;
    --md-ref-palette-secondary-20: #3c2c30;
    --md-ref-palette-secondary-30: #544247;
    --md-ref-palette-secondary-40: #6c595e;
    --md-ref-palette-secondary-50: #867277;
    --md-ref-palette-secondary-60: #a18b90;
    --md-ref-palette-secondary-70: #bda5ab;
    --md-ref-palette-secondary-80: #d9c0c6;
    --md-ref-palette-secondary-90: #f6dce2;
    --md-ref-palette-secondary-95: #ffecf0;
    --md-ref-palette-secondary-96: #fff0f2;
    --md-ref-palette-secondary-97: #fff4f5;
    --md-ref-palette-secondary-98: #fff8f8;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0a0200;
    --md-ref-palette-tertiary-2: #120400;
    --md-ref-palette-tertiary-3: #180600;
    --md-ref-palette-tertiary-4: #1d0800;
    --md-ref-palette-tertiary-5: #210b00;
    --md-ref-palette-tertiary-10: #2e1505;
    --md-ref-palette-tertiary-20: #462916;
    --md-ref-palette-tertiary-30: #603f2b;
    --md-ref-palette-tertiary-40: #7a5640;
    --md-ref-palette-tertiary-50: #966f57;
    --md-ref-palette-tertiary-60: #b2886f;
    --md-ref-palette-tertiary-70: #cfa288;
    --md-ref-palette-tertiary-80: #ecbda1;
    --md-ref-palette-tertiary-90: #ffdbc8;
    --md-ref-palette-tertiary-95: #ffede5;
    --md-ref-palette-tertiary-96: #fff1ea;
    --md-ref-palette-tertiary-97: #fff4f0;
    --md-ref-palette-tertiary-98: #fff8f5;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050304;
    --md-ref-palette-neutral-2: #090707;
    --md-ref-palette-neutral-3: #0d0a0b;
    --md-ref-palette-neutral-4: #110d0e;
    --md-ref-palette-neutral-5: #131011;
    --md-ref-palette-neutral-10: #1e1b1b;
    --md-ref-palette-neutral-20: #342f30;
    --md-ref-palette-neutral-30: #4a4546;
    --md-ref-palette-neutral-40: #635d5e;
    --md-ref-palette-neutral-50: #7c7676;
    --md-ref-palette-neutral-60: #968f90;
    --md-ref-palette-neutral-70: #b1a9aa;
    --md-ref-palette-neutral-80: #cdc5c5;
    --md-ref-palette-neutral-90: #e9e0e1;
    --md-ref-palette-neutral-95: #f8efef;
    --md-ref-palette-neutral-96: #fbf1f2;
    --md-ref-palette-neutral-97: #fdf4f5;
    --md-ref-palette-neutral-98: #fff8f8;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #070304;
    --md-ref-palette-neutral-variant-2: #0c0607;
    --md-ref-palette-neutral-variant-3: #11090b;
    --md-ref-palette-neutral-variant-4: #140c0e;
    --md-ref-palette-neutral-variant-5: #170f11;
    --md-ref-palette-neutral-variant-10: #22191c;
    --md-ref-palette-neutral-variant-20: #382e30;
    --md-ref-palette-neutral-variant-30: #4f4447;
    --md-ref-palette-neutral-variant-40: #685b5e;
    --md-ref-palette-neutral-variant-50: #817477;
    --md-ref-palette-neutral-variant-60: #9c8d90;
    --md-ref-palette-neutral-variant-70: #b7a7aa;
    --md-ref-palette-neutral-variant-80: #d3c2c6;
    --md-ref-palette-neutral-variant-90: #f0dee1;
    --md-ref-palette-neutral-variant-95: #feecf0;
    --md-ref-palette-neutral-variant-96: #fff0f2;
    --md-ref-palette-neutral-variant-97: #fff4f5;
    --md-ref-palette-neutral-variant-98: #fff8f8;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
