:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000506;
    --md-ref-palette-primary-2: #00090b;
    --md-ref-palette-primary-3: #000d10;
    --md-ref-palette-primary-4: #001114;
    --md-ref-palette-primary-5: #001417;
    --md-ref-palette-primary-6: #00161a;
    --md-ref-palette-primary-7: #00191c;
    --md-ref-palette-primary-8: #001b1f;
    --md-ref-palette-primary-9: #001d21;
    --md-ref-palette-primary-10: #001f24;
    --md-ref-palette-primary-11: #002226;
    --md-ref-palette-primary-12: #002428;
    --md-ref-palette-primary-13: #00262b;
    --md-ref-palette-primary-14: #02282d;
    --md-ref-palette-primary-15: #042a2f;
    --md-ref-palette-primary-16: #072c31;
    --md-ref-palette-primary-17: #0a2f33;
    --md-ref-palette-primary-18: #0d3136;
    --md-ref-palette-primary-19: #0f3338;
    --md-ref-palette-primary-20: #12353a;
    --md-ref-palette-primary-21: #15373c;
    --md-ref-palette-primary-22: #173a3f;
    --md-ref-palette-primary-23: #1a3c41;
    --md-ref-palette-primary-24: #1c3e43;
    --md-ref-palette-primary-25: #1f4045;
    --md-ref-palette-primary-26: #214348;
    --md-ref-palette-primary-27: #23454a;
    --md-ref-palette-primary-28: #26474c;
    --md-ref-palette-primary-29: #28494f;
    --md-ref-palette-primary-30: #2b4c51;
    --md-ref-palette-primary-31: #2d4e53;
    --md-ref-palette-primary-32: #2f5056;
    --md-ref-palette-primary-33: #325358;
    --md-ref-palette-primary-34: #34555a;
    --md-ref-palette-primary-35: #37585d;
    --md-ref-palette-primary-36: #395a5f;
    --md-ref-palette-primary-37: #3b5c62;
    --md-ref-palette-primary-38: #3e5f64;
    --md-ref-palette-primary-39: #406167;
    --md-ref-palette-primary-40: #436469;
    --md-ref-palette-primary-41: #45666c;
    --md-ref-palette-primary-42: #48696e;
    --md-ref-palette-primary-43: #4a6b70;
    --md-ref-palette-primary-44: #4c6e73;
    --md-ref-palette-primary-45: #4f7075;
    --md-ref-palette-primary-46: #517278;
    --md-ref-palette-primary-47: #54757b;
    --md-ref-palette-primary-48: #56787d;
    --md-ref-palette-primary-49: #597a80;
    --md-ref-palette-primary-50: #5b7d82;
    --md-ref-palette-primary-51: #5e7f85;
    --md-ref-palette-primary-52: #608287;
    --md-ref-palette-primary-53: #63848a;
    --md-ref-palette-primary-54: #65878c;
    --md-ref-palette-primary-55: #68898f;
    --md-ref-palette-primary-56: #6a8c92;
    --md-ref-palette-primary-57: #6d8f94;
    --md-ref-palette-primary-58: #709197;
    --md-ref-palette-primary-59: #72949a;
    --md-ref-palette-primary-60: #75969c;
    --md-ref-palette-primary-61: #77999f;
    --md-ref-palette-primary-62: #7a9ca1;
    --md-ref-palette-primary-63: #7c9ea4;
    --md-ref-palette-primary-64: #7fa1a7;
    --md-ref-palette-primary-65: #82a4aa;
    --md-ref-palette-primary-66: #84a6ac;
    --md-ref-palette-primary-67: #87a9af;
    --md-ref-palette-primary-68: #8aacb2;
    --md-ref-palette-primary-69: #8caeb4;
    --md-ref-palette-primary-70: #8fb1b7;
    --md-ref-palette-primary-71: #92b4ba;
    --md-ref-palette-primary-72: #94b7bc;
    --md-ref-palette-primary-73: #97b9bf;
    --md-ref-palette-primary-74: #9abcc2;
    --md-ref-palette-primary-75: #9cbfc5;
    --md-ref-palette-primary-76: #9fc2c7;
    --md-ref-palette-primary-77: #a2c4ca;
    --md-ref-palette-primary-78: #a4c7cd;
    --md-ref-palette-primary-79: #a7cad0;
    --md-ref-palette-primary-80: #aacdd3;
    --md-ref-palette-primary-81: #adcfd5;
    --md-ref-palette-primary-82: #afd2d8;
    --md-ref-palette-primary-83: #b2d5db;
    --md-ref-palette-primary-84: #b5d8de;
    --md-ref-palette-primary-85: #b8dbe1;
    --md-ref-palette-primary-86: #badde4;
    --md-ref-palette-primary-87: #bde0e6;
    --md-ref-palette-primary-88: #c0e3e9;
    --md-ref-palette-primary-89: #c3e6ec;
    --md-ref-palette-primary-90: #c5e9ef;
    --md-ref-palette-primary-91: #c8ecf2;
    --md-ref-palette-primary-92: #cbeef5;
    --md-ref-palette-primary-93: #cef1f8;
    --md-ref-palette-primary-94: #d1f4fa;
    --md-ref-palette-primary-95: #d3f7fd;
    --md-ref-palette-primary-96: #d9f9ff;
    --md-ref-palette-primary-97: #e3fbff;
    --md-ref-palette-primary-98: #edfcff;
    --md-ref-palette-primary-99: #f6feff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000506;
    --md-ref-palette-secondary-2: #01090b;
    --md-ref-palette-secondary-3: #030d0f;
    --md-ref-palette-secondary-4: #051012;
    --md-ref-palette-secondary-5: #071315;
    --md-ref-palette-secondary-6: #091517;
    --md-ref-palette-secondary-7: #0b1719;
    --md-ref-palette-secondary-8: #0d1a1b;
    --md-ref-palette-secondary-9: #0f1b1d;
    --md-ref-palette-secondary-10: #111d1f;
    --md-ref-palette-secondary-11: #131f21;
    --md-ref-palette-secondary-12: #152224;
    --md-ref-palette-secondary-13: #182426;
    --md-ref-palette-secondary-14: #1a2628;
    --md-ref-palette-secondary-15: #1c282a;
    --md-ref-palette-secondary-16: #1e2a2c;
    --md-ref-palette-secondary-17: #202c2e;
    --md-ref-palette-secondary-18: #222e30;
    --md-ref-palette-secondary-19: #243032;
    --md-ref-palette-secondary-20: #263235;
    --md-ref-palette-secondary-21: #283537;
    --md-ref-palette-secondary-22: #2b3739;
    --md-ref-palette-secondary-23: #2d393b;
    --md-ref-palette-secondary-24: #2f3b3d;
    --md-ref-palette-secondary-25: #313e40;
    --md-ref-palette-secondary-26: #334042;
    --md-ref-palette-secondary-27: #364244;
    --md-ref-palette-secondary-28: #384446;
    --md-ref-palette-secondary-29: #3a4749;
    --md-ref-palette-secondary-30: #3d494b;
    --md-ref-palette-secondary-31: #3f4b4d;
    --md-ref-palette-secondary-32: #414e50;
    --md-ref-palette-secondary-33: #435052;
    --md-ref-palette-secondary-34: #465254;
    --md-ref-palette-secondary-35: #485557;
    --md-ref-palette-secondary-36: #4a5759;
    --md-ref-palette-secondary-37: #4d595c;
    --md-ref-palette-secondary-38: #4f5c5e;
    --md-ref-palette-secondary-39: #525e60;
    --md-ref-palette-secondary-40: #546163;
    --md-ref-palette-secondary-41: #566365;
    --md-ref-palette-secondary-42: #596568;
    --md-ref-palette-secondary-43: #5b686a;
    --md-ref-palette-secondary-44: #5e6a6d;
    --md-ref-palette-secondary-45: #606d6f;
    --md-ref-palette-secondary-46: #636f72;
    --md-ref-palette-secondary-47: #657274;
    --md-ref-palette-secondary-48: #677477;
    --md-ref-palette-secondary-49: #6a7779;
    --md-ref-palette-secondary-50: #6c797c;
    --md-ref-palette-secondary-51: #6f7c7e;
    --md-ref-palette-secondary-52: #727e81;
    --md-ref-palette-secondary-53: #748183;
    --md-ref-palette-secondary-54: #778486;
    --md-ref-palette-secondary-55: #798688;
    --md-ref-palette-secondary-56: #7c898b;
    --md-ref-palette-secondary-57: #7e8b8e;
    --md-ref-palette-secondary-58: #818e90;
    --md-ref-palette-secondary-59: #839093;
    --md-ref-palette-secondary-60: #869395;
    --md-ref-palette-secondary-61: #899698;
    --md-ref-palette-secondary-62: #8b989b;
    --md-ref-palette-secondary-63: #8e9b9d;
    --md-ref-palette-secondary-64: #909ea0;
    --md-ref-palette-secondary-65: #93a0a3;
    --md-ref-palette-secondary-66: #96a3a5;
    --md-ref-palette-secondary-67: #98a6a8;
    --md-ref-palette-secondary-68: #9ba8ab;
    --md-ref-palette-secondary-69: #9eabad;
    --md-ref-palette-secondary-70: #a0aeb0;
    --md-ref-palette-secondary-71: #a3b0b3;
    --md-ref-palette-secondary-72: #a6b3b5;
    --md-ref-palette-secondary-73: #a8b6b8;
    --md-ref-palette-secondary-74: #abb8bb;
    --md-ref-palette-secondary-75: #aebbbd;
    --md-ref-palette-secondary-76: #b1bec0;
    --md-ref-palette-secondary-77: #b3c1c3;
    --md-ref-palette-secondary-78: #b6c3c6;
    --md-ref-palette-secondary-79: #b9c6c8;
    --md-ref-palette-secondary-80: #bcc9cb;
    --md-ref-palette-secondary-81: #beccce;
    --md-ref-palette-secondary-82: #c1ced1;
    --md-ref-palette-secondary-83: #c4d1d4;
    --md-ref-palette-secondary-84: #c7d4d6;
    --md-ref-palette-secondary-85: #c9d7d9;
    --md-ref-palette-secondary-86: #ccdadc;
    --md-ref-palette-secondary-87: #cfdcdf;
    --md-ref-palette-secondary-88: #d2dfe2;
    --md-ref-palette-secondary-89: #d5e2e4;
    --md-ref-palette-secondary-90: #d8e5e7;
    --md-ref-palette-secondary-91: #dae8ea;
    --md-ref-palette-secondary-92: #ddebed;
    --md-ref-palette-secondary-93: #e0edf0;
    --md-ref-palette-secondary-94: #e3f0f3;
    --md-ref-palette-secondary-95: #e6f3f6;
    --md-ref-palette-secondary-96: #e9f6f8;
    --md-ref-palette-secondary-97: #ebf9fb;
    --md-ref-palette-secondary-98: #eefcfe;
    --md-ref-palette-secondary-99: #f6feff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #060113;
    --md-ref-palette-tertiary-2: #0b0418;
    --md-ref-palette-tertiary-3: #0f071c;
    --md-ref-palette-tertiary-4: #130920;
    --md-ref-palette-tertiary-5: #150c23;
    --md-ref-palette-tertiary-6: #180f25;
    --md-ref-palette-tertiary-7: #1a1128;
    --md-ref-palette-tertiary-8: #1c132a;
    --md-ref-palette-tertiary-9: #1e152c;
    --md-ref-palette-tertiary-10: #20172e;
    --md-ref-palette-tertiary-11: #221930;
    --md-ref-palette-tertiary-12: #251b32;
    --md-ref-palette-tertiary-13: #271d34;
    --md-ref-palette-tertiary-14: #291f36;
    --md-ref-palette-tertiary-15: #2b2139;
    --md-ref-palette-tertiary-16: #2d233b;
    --md-ref-palette-tertiary-17: #2f263d;
    --md-ref-palette-tertiary-18: #31283f;
    --md-ref-palette-tertiary-19: #342a42;
    --md-ref-palette-tertiary-20: #362c44;
    --md-ref-palette-tertiary-21: #382e46;
    --md-ref-palette-tertiary-22: #3a3048;
    --md-ref-palette-tertiary-23: #3d324b;
    --md-ref-palette-tertiary-24: #3f354d;
    --md-ref-palette-tertiary-25: #41374f;
    --md-ref-palette-tertiary-26: #433952;
    --md-ref-palette-tertiary-27: #463b54;
    --md-ref-palette-tertiary-28: #483e57;
    --md-ref-palette-tertiary-29: #4a4059;
    --md-ref-palette-tertiary-30: #4d425b;
    --md-ref-palette-tertiary-31: #4f445e;
    --md-ref-palette-tertiary-32: #524760;
    --md-ref-palette-tertiary-33: #544963;
    --md-ref-palette-tertiary-34: #564b65;
    --md-ref-palette-tertiary-35: #594e68;
    --md-ref-palette-tertiary-36: #5b506a;
    --md-ref-palette-tertiary-37: #5e526c;
    --md-ref-palette-tertiary-38: #60556f;
    --md-ref-palette-tertiary-39: #635771;
    --md-ref-palette-tertiary-40: #655974;
    --md-ref-palette-tertiary-41: #685c77;
    --md-ref-palette-tertiary-42: #6a5e79;
    --md-ref-palette-tertiary-43: #6d617c;
    --md-ref-palette-tertiary-44: #6f637e;
    --md-ref-palette-tertiary-45: #726681;
    --md-ref-palette-tertiary-46: #746883;
    --md-ref-palette-tertiary-47: #776a86;
    --md-ref-palette-tertiary-48: #796d88;
    --md-ref-palette-tertiary-49: #7c6f8b;
    --md-ref-palette-tertiary-50: #7e728e;
    --md-ref-palette-tertiary-51: #817490;
    --md-ref-palette-tertiary-52: #847793;
    --md-ref-palette-tertiary-53: #867995;
    --md-ref-palette-tertiary-54: #897c98;
    --md-ref-palette-tertiary-55: #8b7f9b;
    --md-ref-palette-tertiary-56: #8e819d;
    --md-ref-palette-tertiary-57: #9184a0;
    --md-ref-palette-tertiary-58: #9386a3;
    --md-ref-palette-tertiary-59: #9689a5;
    --md-ref-palette-tertiary-60: #998ba8;
    --md-ref-palette-tertiary-61: #9b8eab;
    --md-ref-palette-tertiary-62: #9e91ae;
    --md-ref-palette-tertiary-63: #a193b0;
    --md-ref-palette-tertiary-64: #a396b3;
    --md-ref-palette-tertiary-65: #a698b6;
    --md-ref-palette-tertiary-66: #a99bb8;
    --md-ref-palette-tertiary-67: #ab9ebb;
    --md-ref-palette-tertiary-68: #aea0be;
    --md-ref-palette-tertiary-69: #b1a3c1;
    --md-ref-palette-tertiary-70: #b4a6c3;
    --md-ref-palette-tertiary-71: #b6a8c6;
    --md-ref-palette-tertiary-72: #b9abc9;
    --md-ref-palette-tertiary-73: #bcaecc;
    --md-ref-palette-tertiary-74: #bfb0cf;
    --md-ref-palette-tertiary-75: #c2b3d1;
    --md-ref-palette-tertiary-76: #c4b6d4;
    --md-ref-palette-tertiary-77: #c7b8d7;
    --md-ref-palette-tertiary-78: #cabbda;
    --md-ref-palette-tertiary-79: #cdbedd;
    --md-ref-palette-tertiary-80: #d0c1e0;
    --md-ref-palette-tertiary-81: #d2c3e2;
    --md-ref-palette-tertiary-82: #d5c6e5;
    --md-ref-palette-tertiary-83: #d8c9e8;
    --md-ref-palette-tertiary-84: #dbcceb;
    --md-ref-palette-tertiary-85: #deceee;
    --md-ref-palette-tertiary-86: #e1d1f1;
    --md-ref-palette-tertiary-87: #e3d4f4;
    --md-ref-palette-tertiary-88: #e6d7f6;
    --md-ref-palette-tertiary-89: #e9daf9;
    --md-ref-palette-tertiary-90: #ecdcfc;
    --md-ref-palette-tertiary-91: #efdfff;
    --md-ref-palette-tertiary-92: #f1e3ff;
    --md-ref-palette-tertiary-93: #f3e6ff;
    --md-ref-palette-tertiary-94: #f6e9ff;
    --md-ref-palette-tertiary-95: #f8edff;
    --md-ref-palette-tertiary-96: #faf0ff;
    --md-ref-palette-tertiary-97: #fcf4ff;
    --md-ref-palette-tertiary-98: #fef7ff;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030404;
    --md-ref-palette-neutral-2: #060808;
    --md-ref-palette-neutral-3: #0a0b0c;
    --md-ref-palette-neutral-4: #0d0e0f;
    --md-ref-palette-neutral-5: #0f1112;
    --md-ref-palette-neutral-6: #121414;
    --md-ref-palette-neutral-7: #141616;
    --md-ref-palette-neutral-8: #161818;
    --md-ref-palette-neutral-9: #181a1a;
    --md-ref-palette-neutral-10: #1a1c1c;
    --md-ref-palette-neutral-11: #1c1e1e;
    --md-ref-palette-neutral-12: #1e2020;
    --md-ref-palette-neutral-13: #202222;
    --md-ref-palette-neutral-14: #222424;
    --md-ref-palette-neutral-15: #242626;
    --md-ref-palette-neutral-16: #262828;
    --md-ref-palette-neutral-17: #292a2a;
    --md-ref-palette-neutral-18: #2b2c2d;
    --md-ref-palette-neutral-19: #2d2e2f;
    --md-ref-palette-neutral-20: #2f3131;
    --md-ref-palette-neutral-21: #313333;
    --md-ref-palette-neutral-22: #333535;
    --md-ref-palette-neutral-23: #363737;
    --md-ref-palette-neutral-24: #38393a;
    --md-ref-palette-neutral-25: #3a3c3c;
    --md-ref-palette-neutral-26: #3c3e3e;
    --md-ref-palette-neutral-27: #3f4040;
    --md-ref-palette-neutral-28: #414243;
    --md-ref-palette-neutral-29: #434545;
    --md-ref-palette-neutral-30: #464747;
    --md-ref-palette-neutral-31: #484949;
    --md-ref-palette-neutral-32: #4a4c4c;
    --md-ref-palette-neutral-33: #4d4e4e;
    --md-ref-palette-neutral-34: #4f5050;
    --md-ref-palette-neutral-35: #515353;
    --md-ref-palette-neutral-36: #545555;
    --md-ref-palette-neutral-37: #565757;
    --md-ref-palette-neutral-38: #585a5a;
    --md-ref-palette-neutral-39: #5b5c5c;
    --md-ref-palette-neutral-40: #5d5e5f;
    --md-ref-palette-neutral-41: #606161;
    --md-ref-palette-neutral-42: #626363;
    --md-ref-palette-neutral-43: #656666;
    --md-ref-palette-neutral-44: #676868;
    --md-ref-palette-neutral-45: #6a6b6b;
    --md-ref-palette-neutral-46: #6c6d6d;
    --md-ref-palette-neutral-47: #6f7070;
    --md-ref-palette-neutral-48: #717272;
    --md-ref-palette-neutral-49: #747575;
    --md-ref-palette-neutral-50: #767777;
    --md-ref-palette-neutral-51: #797a7a;
    --md-ref-palette-neutral-52: #7b7c7c;
    --md-ref-palette-neutral-53: #7e7f7f;
    --md-ref-palette-neutral-54: #808181;
    --md-ref-palette-neutral-55: #838484;
    --md-ref-palette-neutral-56: #868686;
    --md-ref-palette-neutral-57: #888989;
    --md-ref-palette-neutral-58: #8b8b8c;
    --md-ref-palette-neutral-59: #8d8e8e;
    --md-ref-palette-neutral-60: #909191;
    --md-ref-palette-neutral-61: #939393;
    --md-ref-palette-neutral-62: #959696;
    --md-ref-palette-neutral-63: #989999;
    --md-ref-palette-neutral-64: #9b9b9b;
    --md-ref-palette-neutral-65: #9d9e9e;
    --md-ref-palette-neutral-66: #a0a0a1;
    --md-ref-palette-neutral-67: #a3a3a3;
    --md-ref-palette-neutral-68: #a5a6a6;
    --md-ref-palette-neutral-69: #a8a8a8;
    --md-ref-palette-neutral-70: #ababab;
    --md-ref-palette-neutral-71: #aeaeae;
    --md-ref-palette-neutral-72: #b0b1b1;
    --md-ref-palette-neutral-73: #b3b3b3;
    --md-ref-palette-neutral-74: #b6b6b6;
    --md-ref-palette-neutral-75: #b8b9b9;
    --md-ref-palette-neutral-76: #bbbbbb;
    --md-ref-palette-neutral-77: #bebebe;
    --md-ref-palette-neutral-78: #c1c1c1;
    --md-ref-palette-neutral-79: #c4c4c4;
    --md-ref-palette-neutral-80: #c6c6c6;
    --md-ref-palette-neutral-81: #c9c9c9;
    --md-ref-palette-neutral-82: #cccccc;
    --md-ref-palette-neutral-83: #cfcfcf;
    --md-ref-palette-neutral-84: #d2d1d1;
    --md-ref-palette-neutral-85: #d4d4d4;
    --md-ref-palette-neutral-86: #d7d7d7;
    --md-ref-palette-neutral-87: #dadada;
    --md-ref-palette-neutral-88: #dddddd;
    --md-ref-palette-neutral-89: #e0dfdf;
    --md-ref-palette-neutral-90: #e3e2e2;
    --md-ref-palette-neutral-91: #e5e5e5;
    --md-ref-palette-neutral-92: #e8e8e8;
    --md-ref-palette-neutral-93: #ebebeb;
    --md-ref-palette-neutral-94: #eeeeee;
    --md-ref-palette-neutral-95: #f1f0f0;
    --md-ref-palette-neutral-96: #f4f3f3;
    --md-ref-palette-neutral-97: #f7f6f6;
    --md-ref-palette-neutral-98: #faf9f9;
    --md-ref-palette-neutral-99: #fdfcfc;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #010405;
    --md-ref-palette-neutral-variant-2: #030809;
    --md-ref-palette-neutral-variant-3: #060c0d;
    --md-ref-palette-neutral-variant-4: #090f10;
    --md-ref-palette-neutral-variant-5: #0b1213;
    --md-ref-palette-neutral-variant-6: #0e1416;
    --md-ref-palette-neutral-variant-7: #101718;
    --md-ref-palette-neutral-variant-8: #12191a;
    --md-ref-palette-neutral-variant-9: #141b1c;
    --md-ref-palette-neutral-variant-10: #161d1e;
    --md-ref-palette-neutral-variant-11: #181f20;
    --md-ref-palette-neutral-variant-12: #1a2122;
    --md-ref-palette-neutral-variant-13: #1c2324;
    --md-ref-palette-neutral-variant-14: #1e2526;
    --md-ref-palette-neutral-variant-15: #202728;
    --md-ref-palette-neutral-variant-16: #22292a;
    --md-ref-palette-neutral-variant-17: #242b2c;
    --md-ref-palette-neutral-variant-18: #262d2e;
    --md-ref-palette-neutral-variant-19: #292f31;
    --md-ref-palette-neutral-variant-20: #2b3233;
    --md-ref-palette-neutral-variant-21: #2d3435;
    --md-ref-palette-neutral-variant-22: #2f3637;
    --md-ref-palette-neutral-variant-23: #313839;
    --md-ref-palette-neutral-variant-24: #333a3c;
    --md-ref-palette-neutral-variant-25: #363d3e;
    --md-ref-palette-neutral-variant-26: #383f40;
    --md-ref-palette-neutral-variant-27: #3a4142;
    --md-ref-palette-neutral-variant-28: #3c4345;
    --md-ref-palette-neutral-variant-29: #3f4647;
    --md-ref-palette-neutral-variant-30: #414849;
    --md-ref-palette-neutral-variant-31: #434a4b;
    --md-ref-palette-neutral-variant-32: #464d4e;
    --md-ref-palette-neutral-variant-33: #484f50;
    --md-ref-palette-neutral-variant-34: #4a5152;
    --md-ref-palette-neutral-variant-35: #4d5455;
    --md-ref-palette-neutral-variant-36: #4f5657;
    --md-ref-palette-neutral-variant-37: #51585a;
    --md-ref-palette-neutral-variant-38: #545b5c;
    --md-ref-palette-neutral-variant-39: #565d5e;
    --md-ref-palette-neutral-variant-40: #596061;
    --md-ref-palette-neutral-variant-41: #5b6263;
    --md-ref-palette-neutral-variant-42: #5d6466;
    --md-ref-palette-neutral-variant-43: #606768;
    --md-ref-palette-neutral-variant-44: #62696b;
    --md-ref-palette-neutral-variant-45: #656c6d;
    --md-ref-palette-neutral-variant-46: #676e70;
    --md-ref-palette-neutral-variant-47: #6a7172;
    --md-ref-palette-neutral-variant-48: #6c7374;
    --md-ref-palette-neutral-variant-49: #6f7677;
    --md-ref-palette-neutral-variant-50: #71787a;
    --md-ref-palette-neutral-variant-51: #747b7c;
    --md-ref-palette-neutral-variant-52: #767d7f;
    --md-ref-palette-neutral-variant-53: #798081;
    --md-ref-palette-neutral-variant-54: #7b8284;
    --md-ref-palette-neutral-variant-55: #7e8586;
    --md-ref-palette-neutral-variant-56: #818889;
    --md-ref-palette-neutral-variant-57: #838a8b;
    --md-ref-palette-neutral-variant-58: #868d8e;
    --md-ref-palette-neutral-variant-59: #888f91;
    --md-ref-palette-neutral-variant-60: #8b9293;
    --md-ref-palette-neutral-variant-61: #8e9596;
    --md-ref-palette-neutral-variant-62: #909798;
    --md-ref-palette-neutral-variant-63: #939a9b;
    --md-ref-palette-neutral-variant-64: #959c9e;
    --md-ref-palette-neutral-variant-65: #989fa0;
    --md-ref-palette-neutral-variant-66: #9ba2a3;
    --md-ref-palette-neutral-variant-67: #9da4a6;
    --md-ref-palette-neutral-variant-68: #a0a7a8;
    --md-ref-palette-neutral-variant-69: #a3aaab;
    --md-ref-palette-neutral-variant-70: #a5acae;
    --md-ref-palette-neutral-variant-71: #a8afb0;
    --md-ref-palette-neutral-variant-72: #abb2b3;
    --md-ref-palette-neutral-variant-73: #aeb5b6;
    --md-ref-palette-neutral-variant-74: #b0b7b8;
    --md-ref-palette-neutral-variant-75: #b3babb;
    --md-ref-palette-neutral-variant-76: #b6bdbe;
    --md-ref-palette-neutral-variant-77: #b9bfc1;
    --md-ref-palette-neutral-variant-78: #bbc2c3;
    --md-ref-palette-neutral-variant-79: #bec5c6;
    --md-ref-palette-neutral-variant-80: #c1c8c9;
    --md-ref-palette-neutral-variant-81: #c4cacc;
    --md-ref-palette-neutral-variant-82: #c6cdce;
    --md-ref-palette-neutral-variant-83: #c9d0d1;
    --md-ref-palette-neutral-variant-84: #ccd3d4;
    --md-ref-palette-neutral-variant-85: #cfd6d7;
    --md-ref-palette-neutral-variant-86: #d2d8da;
    --md-ref-palette-neutral-variant-87: #d4dbdc;
    --md-ref-palette-neutral-variant-88: #d7dedf;
    --md-ref-palette-neutral-variant-89: #dae1e2;
    --md-ref-palette-neutral-variant-90: #dde4e5;
    --md-ref-palette-neutral-variant-91: #e0e6e8;
    --md-ref-palette-neutral-variant-92: #e3e9eb;
    --md-ref-palette-neutral-variant-93: #e5eced;
    --md-ref-palette-neutral-variant-94: #e8eff0;
    --md-ref-palette-neutral-variant-95: #ebf2f3;
    --md-ref-palette-neutral-variant-96: #eef5f6;
    --md-ref-palette-neutral-variant-97: #f1f8f9;
    --md-ref-palette-neutral-variant-98: #f4fbfc;
    --md-ref-palette-neutral-variant-99: #f7fdff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
