:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000506;
    --md-ref-palette-primary-2: #00090b;
    --md-ref-palette-primary-3: #000d10;
    --md-ref-palette-primary-4: #001114;
    --md-ref-palette-primary-5: #001417;
    --md-ref-palette-primary-6: #00161a;
    --md-ref-palette-primary-7: #00191d;
    --md-ref-palette-primary-8: #001b1f;
    --md-ref-palette-primary-9: #001d22;
    --md-ref-palette-primary-10: #001f24;
    --md-ref-palette-primary-11: #002226;
    --md-ref-palette-primary-12: #002429;
    --md-ref-palette-primary-13: #00262b;
    --md-ref-palette-primary-14: #00282e;
    --md-ref-palette-primary-15: #002b30;
    --md-ref-palette-primary-16: #002d33;
    --md-ref-palette-primary-17: #002f35;
    --md-ref-palette-primary-18: #003138;
    --md-ref-palette-primary-19: #00343b;
    --md-ref-palette-primary-20: #00363d;
    --md-ref-palette-primary-21: #003940;
    --md-ref-palette-primary-22: #003b42;
    --md-ref-palette-primary-23: #003d45;
    --md-ref-palette-primary-24: #004048;
    --md-ref-palette-primary-25: #00424a;
    --md-ref-palette-primary-26: #00454d;
    --md-ref-palette-primary-27: #004750;
    --md-ref-palette-primary-28: #004a53;
    --md-ref-palette-primary-29: #004c55;
    --md-ref-palette-primary-30: #004f58;
    --md-ref-palette-primary-31: #00515b;
    --md-ref-palette-primary-32: #00545e;
    --md-ref-palette-primary-33: #005661;
    --md-ref-palette-primary-34: #005963;
    --md-ref-palette-primary-35: #005b66;
    --md-ref-palette-primary-36: #005e69;
    --md-ref-palette-primary-37: #00606c;
    --md-ref-palette-primary-38: #00636f;
    --md-ref-palette-primary-39: #006672;
    --md-ref-palette-primary-40: #006875;
    --md-ref-palette-primary-41: #006b78;
    --md-ref-palette-primary-42: #006e7b;
    --md-ref-palette-primary-43: #00707d;
    --md-ref-palette-primary-44: #007380;
    --md-ref-palette-primary-45: #007683;
    --md-ref-palette-primary-46: #007886;
    --md-ref-palette-primary-47: #007b89;
    --md-ref-palette-primary-48: #007e8c;
    --md-ref-palette-primary-49: #00818f;
    --md-ref-palette-primary-50: #008392;
    --md-ref-palette-primary-51: #008696;
    --md-ref-palette-primary-52: #008999;
    --md-ref-palette-primary-53: #008c9c;
    --md-ref-palette-primary-54: #008e9f;
    --md-ref-palette-primary-55: #0091a2;
    --md-ref-palette-primary-56: #0094a5;
    --md-ref-palette-primary-57: #0097a8;
    --md-ref-palette-primary-58: #009aab;
    --md-ref-palette-primary-59: #009dae;
    --md-ref-palette-primary-60: #029fb1;
    --md-ref-palette-primary-61: #0ea2b4;
    --md-ref-palette-primary-62: #17a5b7;
    --md-ref-palette-primary-63: #1da7ba;
    --md-ref-palette-primary-64: #23aabc;
    --md-ref-palette-primary-65: #28adbf;
    --md-ref-palette-primary-66: #2db0c2;
    --md-ref-palette-primary-67: #31b2c5;
    --md-ref-palette-primary-68: #36b5c7;
    --md-ref-palette-primary-69: #3ab8ca;
    --md-ref-palette-primary-70: #3ebbcd;
    --md-ref-palette-primary-71: #41bdd0;
    --md-ref-palette-primary-72: #45c0d3;
    --md-ref-palette-primary-73: #49c3d5;
    --md-ref-palette-primary-74: #4cc6d8;
    --md-ref-palette-primary-75: #50c8db;
    --md-ref-palette-primary-76: #53cbde;
    --md-ref-palette-primary-77: #56cee1;
    --md-ref-palette-primary-78: #5ad1e4;
    --md-ref-palette-primary-79: #5dd4e6;
    --md-ref-palette-primary-80: #60d6e9;
    --md-ref-palette-primary-81: #63d9ec;
    --md-ref-palette-primary-82: #67dcef;
    --md-ref-palette-primary-83: #6adff2;
    --md-ref-palette-primary-84: #6de2f5;
    --md-ref-palette-primary-85: #70e5f8;
    --md-ref-palette-primary-86: #73e7fb;
    --md-ref-palette-primary-87: #76eafe;
    --md-ref-palette-primary-88: #7fedff;
    --md-ref-palette-primary-89: #8deeff;
    --md-ref-palette-primary-90: #9af0ff;
    --md-ref-palette-primary-91: #a7f1ff;
    --md-ref-palette-primary-92: #b2f3ff;
    --md-ref-palette-primary-93: #bdf4ff;
    --md-ref-palette-primary-94: #c7f6ff;
    --md-ref-palette-primary-95: #d1f7ff;
    --md-ref-palette-primary-96: #dbf9ff;
    --md-ref-palette-primary-97: #e4fbff;
    --md-ref-palette-primary-98: #edfcff;
    --md-ref-palette-primary-99: #f6fdff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000506;
    --md-ref-palette-secondary-2: #00090b;
    --md-ref-palette-secondary-3: #000d10;
    --md-ref-palette-secondary-4: #001114;
    --md-ref-palette-secondary-5: #001417;
    --md-ref-palette-secondary-6: #00161a;
    --md-ref-palette-secondary-7: #00191d;
    --md-ref-palette-secondary-8: #001b1f;
    --md-ref-palette-secondary-9: #001d22;
    --md-ref-palette-secondary-10: #001f24;
    --md-ref-palette-secondary-11: #002226;
    --md-ref-palette-secondary-12: #002429;
    --md-ref-palette-secondary-13: #00262b;
    --md-ref-palette-secondary-14: #00282e;
    --md-ref-palette-secondary-15: #002b30;
    --md-ref-palette-secondary-16: #002d33;
    --md-ref-palette-secondary-17: #002f35;
    --md-ref-palette-secondary-18: #023138;
    --md-ref-palette-secondary-19: #04343a;
    --md-ref-palette-secondary-20: #07363c;
    --md-ref-palette-secondary-21: #0b383e;
    --md-ref-palette-secondary-22: #0e3a41;
    --md-ref-palette-secondary-23: #113c43;
    --md-ref-palette-secondary-24: #143f45;
    --md-ref-palette-secondary-25: #174148;
    --md-ref-palette-secondary-26: #1a434a;
    --md-ref-palette-secondary-27: #1c464c;
    --md-ref-palette-secondary-28: #1f484f;
    --md-ref-palette-secondary-29: #214a51;
    --md-ref-palette-secondary-30: #244c53;
    --md-ref-palette-secondary-31: #274f56;
    --md-ref-palette-secondary-32: #295158;
    --md-ref-palette-secondary-33: #2c545a;
    --md-ref-palette-secondary-34: #2e565d;
    --md-ref-palette-secondary-35: #31585f;
    --md-ref-palette-secondary-36: #335b62;
    --md-ref-palette-secondary-37: #365d64;
    --md-ref-palette-secondary-38: #386066;
    --md-ref-palette-secondary-39: #3a6269;
    --md-ref-palette-secondary-40: #3d646b;
    --md-ref-palette-secondary-41: #3f676e;
    --md-ref-palette-secondary-42: #426970;
    --md-ref-palette-secondary-43: #446c73;
    --md-ref-palette-secondary-44: #476e75;
    --md-ref-palette-secondary-45: #497178;
    --md-ref-palette-secondary-46: #4c737a;
    --md-ref-palette-secondary-47: #4e767d;
    --md-ref-palette-secondary-48: #517880;
    --md-ref-palette-secondary-49: #537b82;
    --md-ref-palette-secondary-50: #567d85;
    --md-ref-palette-secondary-51: #588087;
    --md-ref-palette-secondary-52: #5b828a;
    --md-ref-palette-secondary-53: #5d858c;
    --md-ref-palette-secondary-54: #60888f;
    --md-ref-palette-secondary-55: #638a92;
    --md-ref-palette-secondary-56: #658d94;
    --md-ref-palette-secondary-57: #688f97;
    --md-ref-palette-secondary-58: #6a9299;
    --md-ref-palette-secondary-59: #6d959c;
    --md-ref-palette-secondary-60: #6f979f;
    --md-ref-palette-secondary-61: #729aa1;
    --md-ref-palette-secondary-62: #759da4;
    --md-ref-palette-secondary-63: #779fa7;
    --md-ref-palette-secondary-64: #7aa2a9;
    --md-ref-palette-secondary-65: #7ca5ac;
    --md-ref-palette-secondary-66: #7fa7af;
    --md-ref-palette-secondary-67: #82aab2;
    --md-ref-palette-secondary-68: #84adb4;
    --md-ref-palette-secondary-69: #87afb7;
    --md-ref-palette-secondary-70: #8ab2ba;
    --md-ref-palette-secondary-71: #8cb5bc;
    --md-ref-palette-secondary-72: #8fb7bf;
    --md-ref-palette-secondary-73: #92bac2;
    --md-ref-palette-secondary-74: #94bdc5;
    --md-ref-palette-secondary-75: #97c0c7;
    --md-ref-palette-secondary-76: #9ac2ca;
    --md-ref-palette-secondary-77: #9cc5cd;
    --md-ref-palette-secondary-78: #9fc8d0;
    --md-ref-palette-secondary-79: #a2cbd3;
    --md-ref-palette-secondary-80: #a4ced5;
    --md-ref-palette-secondary-81: #a7d0d8;
    --md-ref-palette-secondary-82: #aad3db;
    --md-ref-palette-secondary-83: #add6de;
    --md-ref-palette-secondary-84: #afd9e1;
    --md-ref-palette-secondary-85: #b2dce4;
    --md-ref-palette-secondary-86: #b5dee6;
    --md-ref-palette-secondary-87: #b8e1e9;
    --md-ref-palette-secondary-88: #bae4ec;
    --md-ref-palette-secondary-89: #bde7ef;
    --md-ref-palette-secondary-90: #c0eaf2;
    --md-ref-palette-secondary-91: #c3edf5;
    --md-ref-palette-secondary-92: #c6eff8;
    --md-ref-palette-secondary-93: #c8f2fa;
    --md-ref-palette-secondary-94: #cbf5fd;
    --md-ref-palette-secondary-95: #d1f7ff;
    --md-ref-palette-secondary-96: #dbf9ff;
    --md-ref-palette-secondary-97: #e4fbff;
    --md-ref-palette-secondary-98: #edfcff;
    --md-ref-palette-secondary-99: #f6fdff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #090014;
    --md-ref-palette-tertiary-2: #11001f;
    --md-ref-palette-tertiary-3: #170028;
    --md-ref-palette-tertiary-4: #1c002f;
    --md-ref-palette-tertiary-5: #200034;
    --md-ref-palette-tertiary-6: #23003a;
    --md-ref-palette-tertiary-7: #27003e;
    --md-ref-palette-tertiary-8: #2a0043;
    --md-ref-palette-tertiary-9: #2c0047;
    --md-ref-palette-tertiary-10: #2f004b;
    --md-ref-palette-tertiary-11: #32024e;
    --md-ref-palette-tertiary-12: #340450;
    --md-ref-palette-tertiary-13: #360752;
    --md-ref-palette-tertiary-14: #390a55;
    --md-ref-palette-tertiary-15: #3b0d57;
    --md-ref-palette-tertiary-16: #3d1059;
    --md-ref-palette-tertiary-17: #3f135b;
    --md-ref-palette-tertiary-18: #42165e;
    --md-ref-palette-tertiary-19: #441860;
    --md-ref-palette-tertiary-20: #461b62;
    --md-ref-palette-tertiary-21: #491d65;
    --md-ref-palette-tertiary-22: #4b2067;
    --md-ref-palette-tertiary-23: #4e2269;
    --md-ref-palette-tertiary-24: #50256c;
    --md-ref-palette-tertiary-25: #52276e;
    --md-ref-palette-tertiary-26: #552a71;
    --md-ref-palette-tertiary-27: #572c73;
    --md-ref-palette-tertiary-28: #5a2f76;
    --md-ref-palette-tertiary-29: #5c3178;
    --md-ref-palette-tertiary-30: #5f337b;
    --md-ref-palette-tertiary-31: #61367d;
    --md-ref-palette-tertiary-32: #643880;
    --md-ref-palette-tertiary-33: #663b82;
    --md-ref-palette-tertiary-34: #693d85;
    --md-ref-palette-tertiary-35: #6b3f87;
    --md-ref-palette-tertiary-36: #6e428a;
    --md-ref-palette-tertiary-37: #70448c;
    --md-ref-palette-tertiary-38: #73478f;
    --md-ref-palette-tertiary-39: #764992;
    --md-ref-palette-tertiary-40: #784b94;
    --md-ref-palette-tertiary-41: #7b4e97;
    --md-ref-palette-tertiary-42: #7d509a;
    --md-ref-palette-tertiary-43: #80539c;
    --md-ref-palette-tertiary-44: #83559f;
    --md-ref-palette-tertiary-45: #8558a2;
    --md-ref-palette-tertiary-46: #885aa4;
    --md-ref-palette-tertiary-47: #8b5da7;
    --md-ref-palette-tertiary-48: #8d5faa;
    --md-ref-palette-tertiary-49: #9062ac;
    --md-ref-palette-tertiary-50: #9364af;
    --md-ref-palette-tertiary-51: #9567b2;
    --md-ref-palette-tertiary-52: #9869b5;
    --md-ref-palette-tertiary-53: #9b6cb7;
    --md-ref-palette-tertiary-54: #9d6eba;
    --md-ref-palette-tertiary-55: #a071bd;
    --md-ref-palette-tertiary-56: #a373c0;
    --md-ref-palette-tertiary-57: #a676c2;
    --md-ref-palette-tertiary-58: #a879c5;
    --md-ref-palette-tertiary-59: #ab7bc8;
    --md-ref-palette-tertiary-60: #ae7ecb;
    --md-ref-palette-tertiary-61: #b180ce;
    --md-ref-palette-tertiary-62: #b383d0;
    --md-ref-palette-tertiary-63: #b686d3;
    --md-ref-palette-tertiary-64: #b988d6;
    --md-ref-palette-tertiary-65: #bc8bd9;
    --md-ref-palette-tertiary-66: #bf8ddc;
    --md-ref-palette-tertiary-67: #c190df;
    --md-ref-palette-tertiary-68: #c493e1;
    --md-ref-palette-tertiary-69: #c795e4;
    --md-ref-palette-tertiary-70: #ca98e7;
    --md-ref-palette-tertiary-71: #cd9bea;
    --md-ref-palette-tertiary-72: #d09ded;
    --md-ref-palette-tertiary-73: #d2a0f0;
    --md-ref-palette-tertiary-74: #d5a3f3;
    --md-ref-palette-tertiary-75: #d8a5f6;
    --md-ref-palette-tertiary-76: #dba8f9;
    --md-ref-palette-tertiary-77: #deabfc;
    --md-ref-palette-tertiary-78: #e1adff;
    --md-ref-palette-tertiary-79: #e3b1ff;
    --md-ref-palette-tertiary-80: #e4b5ff;
    --md-ref-palette-tertiary-81: #e6b8ff;
    --md-ref-palette-tertiary-82: #e7bcff;
    --md-ref-palette-tertiary-83: #e9c0ff;
    --md-ref-palette-tertiary-84: #ebc3ff;
    --md-ref-palette-tertiary-85: #ecc7ff;
    --md-ref-palette-tertiary-86: #eecbff;
    --md-ref-palette-tertiary-87: #efceff;
    --md-ref-palette-tertiary-88: #f1d2ff;
    --md-ref-palette-tertiary-89: #f2d6ff;
    --md-ref-palette-tertiary-90: #f4d9ff;
    --md-ref-palette-tertiary-91: #f6ddff;
    --md-ref-palette-tertiary-92: #f7e1ff;
    --md-ref-palette-tertiary-93: #f9e4ff;
    --md-ref-palette-tertiary-94: #fae8ff;
    --md-ref-palette-tertiary-95: #fcecff;
    --md-ref-palette-tertiary-96: #fdefff;
    --md-ref-palette-tertiary-97: #fff3ff;
    --md-ref-palette-tertiary-98: #fff7fc;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #020405;
    --md-ref-palette-neutral-2: #040809;
    --md-ref-palette-neutral-3: #070c0d;
    --md-ref-palette-neutral-4: #0a0f10;
    --md-ref-palette-neutral-5: #0c1213;
    --md-ref-palette-neutral-6: #0f1415;
    --md-ref-palette-neutral-7: #111618;
    --md-ref-palette-neutral-8: #13191a;
    --md-ref-palette-neutral-9: #151a1c;
    --md-ref-palette-neutral-10: #171c1e;
    --md-ref-palette-neutral-11: #191e20;
    --md-ref-palette-neutral-12: #1b2122;
    --md-ref-palette-neutral-13: #1d2324;
    --md-ref-palette-neutral-14: #1f2526;
    --md-ref-palette-neutral-15: #212728;
    --md-ref-palette-neutral-16: #23292a;
    --md-ref-palette-neutral-17: #252b2c;
    --md-ref-palette-neutral-18: #272d2e;
    --md-ref-palette-neutral-19: #2a2f30;
    --md-ref-palette-neutral-20: #2c3132;
    --md-ref-palette-neutral-21: #2e3435;
    --md-ref-palette-neutral-22: #303637;
    --md-ref-palette-neutral-23: #323839;
    --md-ref-palette-neutral-24: #353a3b;
    --md-ref-palette-neutral-25: #373c3d;
    --md-ref-palette-neutral-26: #393f40;
    --md-ref-palette-neutral-27: #3b4142;
    --md-ref-palette-neutral-28: #3e4344;
    --md-ref-palette-neutral-29: #404547;
    --md-ref-palette-neutral-30: #424849;
    --md-ref-palette-neutral-31: #444a4b;
    --md-ref-palette-neutral-32: #474c4d;
    --md-ref-palette-neutral-33: #494f50;
    --md-ref-palette-neutral-34: #4b5152;
    --md-ref-palette-neutral-35: #4e5354;
    --md-ref-palette-neutral-36: #505657;
    --md-ref-palette-neutral-37: #535859;
    --md-ref-palette-neutral-38: #555a5c;
    --md-ref-palette-neutral-39: #575d5e;
    --md-ref-palette-neutral-40: #5a5f60;
    --md-ref-palette-neutral-41: #5c6263;
    --md-ref-palette-neutral-42: #5f6465;
    --md-ref-palette-neutral-43: #616768;
    --md-ref-palette-neutral-44: #63696a;
    --md-ref-palette-neutral-45: #666c6d;
    --md-ref-palette-neutral-46: #686e6f;
    --md-ref-palette-neutral-47: #6b7072;
    --md-ref-palette-neutral-48: #6d7374;
    --md-ref-palette-neutral-49: #707577;
    --md-ref-palette-neutral-50: #727879;
    --md-ref-palette-neutral-51: #757b7c;
    --md-ref-palette-neutral-52: #777d7e;
    --md-ref-palette-neutral-53: #7a8081;
    --md-ref-palette-neutral-54: #7d8283;
    --md-ref-palette-neutral-55: #7f8586;
    --md-ref-palette-neutral-56: #828788;
    --md-ref-palette-neutral-57: #848a8b;
    --md-ref-palette-neutral-58: #878c8e;
    --md-ref-palette-neutral-59: #8a8f90;
    --md-ref-palette-neutral-60: #8c9293;
    --md-ref-palette-neutral-61: #8f9495;
    --md-ref-palette-neutral-62: #919798;
    --md-ref-palette-neutral-63: #94999b;
    --md-ref-palette-neutral-64: #979c9d;
    --md-ref-palette-neutral-65: #999fa0;
    --md-ref-palette-neutral-66: #9ca1a3;
    --md-ref-palette-neutral-67: #9fa4a5;
    --md-ref-palette-neutral-68: #a1a7a8;
    --md-ref-palette-neutral-69: #a4a9ab;
    --md-ref-palette-neutral-70: #a7acad;
    --md-ref-palette-neutral-71: #a9afb0;
    --md-ref-palette-neutral-72: #acb1b3;
    --md-ref-palette-neutral-73: #afb4b5;
    --md-ref-palette-neutral-74: #b2b7b8;
    --md-ref-palette-neutral-75: #b4babb;
    --md-ref-palette-neutral-76: #b7bcbd;
    --md-ref-palette-neutral-77: #babfc0;
    --md-ref-palette-neutral-78: #bdc2c3;
    --md-ref-palette-neutral-79: #bfc5c6;
    --md-ref-palette-neutral-80: #c2c7c8;
    --md-ref-palette-neutral-81: #c5cacb;
    --md-ref-palette-neutral-82: #c8cdce;
    --md-ref-palette-neutral-83: #cad0d1;
    --md-ref-palette-neutral-84: #cdd2d4;
    --md-ref-palette-neutral-85: #d0d5d6;
    --md-ref-palette-neutral-86: #d3d8d9;
    --md-ref-palette-neutral-87: #d6dbdc;
    --md-ref-palette-neutral-88: #d9dedf;
    --md-ref-palette-neutral-89: #dbe0e2;
    --md-ref-palette-neutral-90: #dee3e4;
    --md-ref-palette-neutral-91: #e1e6e7;
    --md-ref-palette-neutral-92: #e4e9ea;
    --md-ref-palette-neutral-93: #e7eced;
    --md-ref-palette-neutral-94: #eaeff0;
    --md-ref-palette-neutral-95: #edf2f3;
    --md-ref-palette-neutral-96: #eff4f5;
    --md-ref-palette-neutral-97: #f2f7f8;
    --md-ref-palette-neutral-98: #f5fafb;
    --md-ref-palette-neutral-99: #f8fdfe;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #000506;
    --md-ref-palette-neutral-variant-2: #01090b;
    --md-ref-palette-neutral-variant-3: #030d0f;
    --md-ref-palette-neutral-variant-4: #051012;
    --md-ref-palette-neutral-variant-5: #071315;
    --md-ref-palette-neutral-variant-6: #0a1517;
    --md-ref-palette-neutral-variant-7: #0c1719;
    --md-ref-palette-neutral-variant-8: #0e191c;
    --md-ref-palette-neutral-variant-9: #101b1e;
    --md-ref-palette-neutral-variant-10: #121d20;
    --md-ref-palette-neutral-variant-11: #141f22;
    --md-ref-palette-neutral-variant-12: #162124;
    --md-ref-palette-neutral-variant-13: #182326;
    --md-ref-palette-neutral-variant-14: #1a2628;
    --md-ref-palette-neutral-variant-15: #1c282a;
    --md-ref-palette-neutral-variant-16: #1e2a2c;
    --md-ref-palette-neutral-variant-17: #202c2e;
    --md-ref-palette-neutral-variant-18: #222e30;
    --md-ref-palette-neutral-variant-19: #253032;
    --md-ref-palette-neutral-variant-20: #273235;
    --md-ref-palette-neutral-variant-21: #293537;
    --md-ref-palette-neutral-variant-22: #2b3739;
    --md-ref-palette-neutral-variant-23: #2d393b;
    --md-ref-palette-neutral-variant-24: #2f3b3d;
    --md-ref-palette-neutral-variant-25: #323d40;
    --md-ref-palette-neutral-variant-26: #344042;
    --md-ref-palette-neutral-variant-27: #364244;
    --md-ref-palette-neutral-variant-28: #384446;
    --md-ref-palette-neutral-variant-29: #3b4649;
    --md-ref-palette-neutral-variant-30: #3d494b;
    --md-ref-palette-neutral-variant-31: #3f4b4d;
    --md-ref-palette-neutral-variant-32: #424d50;
    --md-ref-palette-neutral-variant-33: #445052;
    --md-ref-palette-neutral-variant-34: #465254;
    --md-ref-palette-neutral-variant-35: #495457;
    --md-ref-palette-neutral-variant-36: #4b5759;
    --md-ref-palette-neutral-variant-37: #4d595c;
    --md-ref-palette-neutral-variant-38: #505c5e;
    --md-ref-palette-neutral-variant-39: #525e60;
    --md-ref-palette-neutral-variant-40: #546063;
    --md-ref-palette-neutral-variant-41: #576365;
    --md-ref-palette-neutral-variant-42: #596568;
    --md-ref-palette-neutral-variant-43: #5c686a;
    --md-ref-palette-neutral-variant-44: #5e6a6d;
    --md-ref-palette-neutral-variant-45: #616d6f;
    --md-ref-palette-neutral-variant-46: #636f72;
    --md-ref-palette-neutral-variant-47: #657274;
    --md-ref-palette-neutral-variant-48: #687477;
    --md-ref-palette-neutral-variant-49: #6a7779;
    --md-ref-palette-neutral-variant-50: #6d797c;
    --md-ref-palette-neutral-variant-51: #6f7c7e;
    --md-ref-palette-neutral-variant-52: #727e81;
    --md-ref-palette-neutral-variant-53: #758183;
    --md-ref-palette-neutral-variant-54: #778386;
    --md-ref-palette-neutral-variant-55: #7a8688;
    --md-ref-palette-neutral-variant-56: #7c898b;
    --md-ref-palette-neutral-variant-57: #7f8b8e;
    --md-ref-palette-neutral-variant-58: #818e90;
    --md-ref-palette-neutral-variant-59: #849093;
    --md-ref-palette-neutral-variant-60: #869395;
    --md-ref-palette-neutral-variant-61: #899698;
    --md-ref-palette-neutral-variant-62: #8c989b;
    --md-ref-palette-neutral-variant-63: #8e9b9d;
    --md-ref-palette-neutral-variant-64: #919da0;
    --md-ref-palette-neutral-variant-65: #94a0a3;
    --md-ref-palette-neutral-variant-66: #96a3a5;
    --md-ref-palette-neutral-variant-67: #99a5a8;
    --md-ref-palette-neutral-variant-68: #9ca8ab;
    --md-ref-palette-neutral-variant-69: #9eabad;
    --md-ref-palette-neutral-variant-70: #a1adb0;
    --md-ref-palette-neutral-variant-71: #a4b0b3;
    --md-ref-palette-neutral-variant-72: #a6b3b5;
    --md-ref-palette-neutral-variant-73: #a9b6b8;
    --md-ref-palette-neutral-variant-74: #acb8bb;
    --md-ref-palette-neutral-variant-75: #aebbbe;
    --md-ref-palette-neutral-variant-76: #b1bec0;
    --md-ref-palette-neutral-variant-77: #b4c0c3;
    --md-ref-palette-neutral-variant-78: #b7c3c6;
    --md-ref-palette-neutral-variant-79: #b9c6c9;
    --md-ref-palette-neutral-variant-80: #bcc9cb;
    --md-ref-palette-neutral-variant-81: #bfccce;
    --md-ref-palette-neutral-variant-82: #c2ced1;
    --md-ref-palette-neutral-variant-83: #c4d1d4;
    --md-ref-palette-neutral-variant-84: #c7d4d6;
    --md-ref-palette-neutral-variant-85: #cad7d9;
    --md-ref-palette-neutral-variant-86: #cdd9dc;
    --md-ref-palette-neutral-variant-87: #d0dcdf;
    --md-ref-palette-neutral-variant-88: #d2dfe2;
    --md-ref-palette-neutral-variant-89: #d5e2e5;
    --md-ref-palette-neutral-variant-90: #d8e5e7;
    --md-ref-palette-neutral-variant-91: #dbe8ea;
    --md-ref-palette-neutral-variant-92: #deeaed;
    --md-ref-palette-neutral-variant-93: #e1edf0;
    --md-ref-palette-neutral-variant-94: #e3f0f3;
    --md-ref-palette-neutral-variant-95: #e6f3f6;
    --md-ref-palette-neutral-variant-96: #e9f6f9;
    --md-ref-palette-neutral-variant-97: #ecf9fb;
    --md-ref-palette-neutral-variant-98: #effcfe;
    --md-ref-palette-neutral-variant-99: #f6fdff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
