:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000409;
    --md-ref-palette-primary-2: #000811;
    --md-ref-palette-primary-3: #000c16;
    --md-ref-palette-primary-4: #00101b;
    --md-ref-palette-primary-5: #00131f;
    --md-ref-palette-primary-6: #001522;
    --md-ref-palette-primary-7: #001826;
    --md-ref-palette-primary-8: #001a29;
    --md-ref-palette-primary-9: #001c2b;
    --md-ref-palette-primary-10: #001e2e;
    --md-ref-palette-primary-11: #002031;
    --md-ref-palette-primary-12: #002234;
    --md-ref-palette-primary-13: #002437;
    --md-ref-palette-primary-14: #00273a;
    --md-ref-palette-primary-15: #00293d;
    --md-ref-palette-primary-16: #002b40;
    --md-ref-palette-primary-17: #002d43;
    --md-ref-palette-primary-18: #002f46;
    --md-ref-palette-primary-19: #00324a;
    --md-ref-palette-primary-20: #00344d;
    --md-ref-palette-primary-21: #003650;
    --md-ref-palette-primary-22: #003953;
    --md-ref-palette-primary-23: #003b56;
    --md-ref-palette-primary-24: #003d59;
    --md-ref-palette-primary-25: #00405d;
    --md-ref-palette-primary-26: #004260;
    --md-ref-palette-primary-27: #004463;
    --md-ref-palette-primary-28: #004767;
    --md-ref-palette-primary-29: #00496a;
    --md-ref-palette-primary-30: #004c6d;
    --md-ref-palette-primary-31: #004e71;
    --md-ref-palette-primary-32: #005174;
    --md-ref-palette-primary-33: #005377;
    --md-ref-palette-primary-34: #00567b;
    --md-ref-palette-primary-35: #00587e;
    --md-ref-palette-primary-36: #005b82;
    --md-ref-palette-primary-37: #005d85;
    --md-ref-palette-primary-38: #006089;
    --md-ref-palette-primary-39: #00628c;
    --md-ref-palette-primary-40: #006590;
    --md-ref-palette-primary-41: #006793;
    --md-ref-palette-primary-42: #006a97;
    --md-ref-palette-primary-43: #006c9a;
    --md-ref-palette-primary-44: #006f9e;
    --md-ref-palette-primary-45: #0072a1;
    --md-ref-palette-primary-46: #0074a5;
    --md-ref-palette-primary-47: #0077a9;
    --md-ref-palette-primary-48: #007aac;
    --md-ref-palette-primary-49: #007cb0;
    --md-ref-palette-primary-50: #007fb4;
    --md-ref-palette-primary-51: #0082b7;
    --md-ref-palette-primary-52: #0084bb;
    --md-ref-palette-primary-53: #0087bf;
    --md-ref-palette-primary-54: #008ac2;
    --md-ref-palette-primary-55: #008cc6;
    --md-ref-palette-primary-56: #008fca;
    --md-ref-palette-primary-57: #0092ce;
    --md-ref-palette-primary-58: #0094d1;
    --md-ref-palette-primary-59: #0097d5;
    --md-ref-palette-primary-60: #009ad9;
    --md-ref-palette-primary-61: #0d9ddc;
    --md-ref-palette-primary-62: #179fdf;
    --md-ref-palette-primary-63: #1ea2e1;
    --md-ref-palette-primary-64: #24a5e4;
    --md-ref-palette-primary-65: #29a7e7;
    --md-ref-palette-primary-66: #2eaaea;
    --md-ref-palette-primary-67: #33aded;
    --md-ref-palette-primary-68: #37b0f0;
    --md-ref-palette-primary-69: #3bb2f3;
    --md-ref-palette-primary-70: #3fb5f6;
    --md-ref-palette-primary-71: #43b8f8;
    --md-ref-palette-primary-72: #47bbfb;
    --md-ref-palette-primary-73: #4bbdfe;
    --md-ref-palette-primary-74: #54c0ff;
    --md-ref-palette-primary-75: #5ec2ff;
    --md-ref-palette-primary-76: #67c5ff;
    --md-ref-palette-primary-77: #70c7ff;
    --md-ref-palette-primary-78: #78c9ff;
    --md-ref-palette-primary-79: #80ccff;
    --md-ref-palette-primary-80: #87ceff;
    --md-ref-palette-primary-81: #8ed1ff;
    --md-ref-palette-primary-82: #95d3ff;
    --md-ref-palette-primary-83: #9cd6ff;
    --md-ref-palette-primary-84: #a3d8ff;
    --md-ref-palette-primary-85: #a9daff;
    --md-ref-palette-primary-86: #afddff;
    --md-ref-palette-primary-87: #b6dfff;
    --md-ref-palette-primary-88: #bce2ff;
    --md-ref-palette-primary-89: #c2e4ff;
    --md-ref-palette-primary-90: #c8e6ff;
    --md-ref-palette-primary-91: #cee9ff;
    --md-ref-palette-primary-92: #d4ebff;
    --md-ref-palette-primary-93: #daeeff;
    --md-ref-palette-primary-94: #dff0ff;
    --md-ref-palette-primary-95: #e5f2ff;
    --md-ref-palette-primary-96: #ebf5ff;
    --md-ref-palette-primary-97: #f0f7ff;
    --md-ref-palette-primary-98: #f6faff;
    --md-ref-palette-primary-99: #fbfcff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000409;
    --md-ref-palette-secondary-2: #000811;
    --md-ref-palette-secondary-3: #000c16;
    --md-ref-palette-secondary-4: #00101b;
    --md-ref-palette-secondary-5: #00131f;
    --md-ref-palette-secondary-6: #001522;
    --md-ref-palette-secondary-7: #001826;
    --md-ref-palette-secondary-8: #001a29;
    --md-ref-palette-secondary-9: #001c2b;
    --md-ref-palette-secondary-10: #001e2e;
    --md-ref-palette-secondary-11: #002031;
    --md-ref-palette-secondary-12: #002234;
    --md-ref-palette-secondary-13: #002437;
    --md-ref-palette-secondary-14: #00273a;
    --md-ref-palette-secondary-15: #00293d;
    --md-ref-palette-secondary-16: #002b40;
    --md-ref-palette-secondary-17: #002d43;
    --md-ref-palette-secondary-18: #022f46;
    --md-ref-palette-secondary-19: #053248;
    --md-ref-palette-secondary-20: #08344a;
    --md-ref-palette-secondary-21: #0c364d;
    --md-ref-palette-secondary-22: #0f384f;
    --md-ref-palette-secondary-23: #123a51;
    --md-ref-palette-secondary-24: #153d54;
    --md-ref-palette-secondary-25: #183f56;
    --md-ref-palette-secondary-26: #1b4158;
    --md-ref-palette-secondary-27: #1d445b;
    --md-ref-palette-secondary-28: #20465d;
    --md-ref-palette-secondary-29: #224860;
    --md-ref-palette-secondary-30: #254a62;
    --md-ref-palette-secondary-31: #284d65;
    --md-ref-palette-secondary-32: #2a4f67;
    --md-ref-palette-secondary-33: #2d5169;
    --md-ref-palette-secondary-34: #2f546c;
    --md-ref-palette-secondary-35: #32566e;
    --md-ref-palette-secondary-36: #345971;
    --md-ref-palette-secondary-37: #375b73;
    --md-ref-palette-secondary-38: #395d76;
    --md-ref-palette-secondary-39: #3c6078;
    --md-ref-palette-secondary-40: #3e627b;
    --md-ref-palette-secondary-41: #41657d;
    --md-ref-palette-secondary-42: #436780;
    --md-ref-palette-secondary-43: #466a83;
    --md-ref-palette-secondary-44: #486c85;
    --md-ref-palette-secondary-45: #4b6f88;
    --md-ref-palette-secondary-46: #4d718a;
    --md-ref-palette-secondary-47: #50748d;
    --md-ref-palette-secondary-48: #527690;
    --md-ref-palette-secondary-49: #557992;
    --md-ref-palette-secondary-50: #577b95;
    --md-ref-palette-secondary-51: #5a7e97;
    --md-ref-palette-secondary-52: #5c809a;
    --md-ref-palette-secondary-53: #5f839d;
    --md-ref-palette-secondary-54: #62859f;
    --md-ref-palette-secondary-55: #6488a2;
    --md-ref-palette-secondary-56: #678ba5;
    --md-ref-palette-secondary-57: #698da7;
    --md-ref-palette-secondary-58: #6c90aa;
    --md-ref-palette-secondary-59: #6e92ad;
    --md-ref-palette-secondary-60: #7195b0;
    --md-ref-palette-secondary-61: #7498b2;
    --md-ref-palette-secondary-62: #769ab5;
    --md-ref-palette-secondary-63: #799db8;
    --md-ref-palette-secondary-64: #7ba0ba;
    --md-ref-palette-secondary-65: #7ea2bd;
    --md-ref-palette-secondary-66: #81a5c0;
    --md-ref-palette-secondary-67: #83a8c3;
    --md-ref-palette-secondary-68: #86aac6;
    --md-ref-palette-secondary-69: #89adc8;
    --md-ref-palette-secondary-70: #8bb0cb;
    --md-ref-palette-secondary-71: #8eb2ce;
    --md-ref-palette-secondary-72: #91b5d1;
    --md-ref-palette-secondary-73: #93b8d4;
    --md-ref-palette-secondary-74: #96bbd6;
    --md-ref-palette-secondary-75: #99bdd9;
    --md-ref-palette-secondary-76: #9bc0dc;
    --md-ref-palette-secondary-77: #9ec3df;
    --md-ref-palette-secondary-78: #a1c6e2;
    --md-ref-palette-secondary-79: #a4c8e5;
    --md-ref-palette-secondary-80: #a6cbe7;
    --md-ref-palette-secondary-81: #a9ceea;
    --md-ref-palette-secondary-82: #acd1ed;
    --md-ref-palette-secondary-83: #afd3f0;
    --md-ref-palette-secondary-84: #b1d6f3;
    --md-ref-palette-secondary-85: #b4d9f6;
    --md-ref-palette-secondary-86: #b7dcf9;
    --md-ref-palette-secondary-87: #badffc;
    --md-ref-palette-secondary-88: #bce2ff;
    --md-ref-palette-secondary-89: #c2e4ff;
    --md-ref-palette-secondary-90: #c8e6ff;
    --md-ref-palette-secondary-91: #cee9ff;
    --md-ref-palette-secondary-92: #d4ebff;
    --md-ref-palette-secondary-93: #daeeff;
    --md-ref-palette-secondary-94: #dff0ff;
    --md-ref-palette-secondary-95: #e5f2ff;
    --md-ref-palette-secondary-96: #ebf5ff;
    --md-ref-palette-secondary-97: #f0f7ff;
    --md-ref-palette-secondary-98: #f6faff;
    --md-ref-palette-secondary-99: #fbfcff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0a0013;
    --md-ref-palette-tertiary-2: #12001e;
    --md-ref-palette-tertiary-3: #180026;
    --md-ref-palette-tertiary-4: #1d002c;
    --md-ref-palette-tertiary-5: #210032;
    --md-ref-palette-tertiary-6: #250037;
    --md-ref-palette-tertiary-7: #28003b;
    --md-ref-palette-tertiary-8: #2b0040;
    --md-ref-palette-tertiary-9: #2e0044;
    --md-ref-palette-tertiary-10: #310048;
    --md-ref-palette-tertiary-11: #34004c;
    --md-ref-palette-tertiary-12: #370050;
    --md-ref-palette-tertiary-13: #3b0054;
    --md-ref-palette-tertiary-14: #3e0059;
    --md-ref-palette-tertiary-15: #41005d;
    --md-ref-palette-tertiary-16: #440260;
    --md-ref-palette-tertiary-17: #460563;
    --md-ref-palette-tertiary-18: #480965;
    --md-ref-palette-tertiary-19: #4b0c67;
    --md-ref-palette-tertiary-20: #4d106a;
    --md-ref-palette-tertiary-21: #50136c;
    --md-ref-palette-tertiary-22: #52166e;
    --md-ref-palette-tertiary-23: #551971;
    --md-ref-palette-tertiary-24: #571c73;
    --md-ref-palette-tertiary-25: #5a1f76;
    --md-ref-palette-tertiary-26: #5c2178;
    --md-ref-palette-tertiary-27: #5f247a;
    --md-ref-palette-tertiary-28: #61277d;
    --md-ref-palette-tertiary-29: #64297f;
    --md-ref-palette-tertiary-30: #662c82;
    --md-ref-palette-tertiary-31: #692e85;
    --md-ref-palette-tertiary-32: #6b3187;
    --md-ref-palette-tertiary-33: #6e338a;
    --md-ref-palette-tertiary-34: #70368c;
    --md-ref-palette-tertiary-35: #73388f;
    --md-ref-palette-tertiary-36: #763b91;
    --md-ref-palette-tertiary-37: #783d94;
    --md-ref-palette-tertiary-38: #7b4097;
    --md-ref-palette-tertiary-39: #7e4299;
    --md-ref-palette-tertiary-40: #80459c;
    --md-ref-palette-tertiary-41: #83479f;
    --md-ref-palette-tertiary-42: #854aa1;
    --md-ref-palette-tertiary-43: #884da4;
    --md-ref-palette-tertiary-44: #8b4fa7;
    --md-ref-palette-tertiary-45: #8d52a9;
    --md-ref-palette-tertiary-46: #9054ac;
    --md-ref-palette-tertiary-47: #9357af;
    --md-ref-palette-tertiary-48: #9659b1;
    --md-ref-palette-tertiary-49: #985cb4;
    --md-ref-palette-tertiary-50: #9b5eb7;
    --md-ref-palette-tertiary-51: #9e61ba;
    --md-ref-palette-tertiary-52: #a163bc;
    --md-ref-palette-tertiary-53: #a366bf;
    --md-ref-palette-tertiary-54: #a668c2;
    --md-ref-palette-tertiary-55: #a96bc5;
    --md-ref-palette-tertiary-56: #ac6dc8;
    --md-ref-palette-tertiary-57: #ae70ca;
    --md-ref-palette-tertiary-58: #b173cd;
    --md-ref-palette-tertiary-59: #b475d0;
    --md-ref-palette-tertiary-60: #b778d3;
    --md-ref-palette-tertiary-61: #ba7ad6;
    --md-ref-palette-tertiary-62: #bc7dd8;
    --md-ref-palette-tertiary-63: #bf80db;
    --md-ref-palette-tertiary-64: #c282de;
    --md-ref-palette-tertiary-65: #c585e1;
    --md-ref-palette-tertiary-66: #c888e4;
    --md-ref-palette-tertiary-67: #cb8ae7;
    --md-ref-palette-tertiary-68: #ce8dea;
    --md-ref-palette-tertiary-69: #d08fed;
    --md-ref-palette-tertiary-70: #d392ef;
    --md-ref-palette-tertiary-71: #d695f2;
    --md-ref-palette-tertiary-72: #d997f5;
    --md-ref-palette-tertiary-73: #dc9af8;
    --md-ref-palette-tertiary-74: #df9dfb;
    --md-ref-palette-tertiary-75: #e2a0fe;
    --md-ref-palette-tertiary-76: #e4a3ff;
    --md-ref-palette-tertiary-77: #e5a7ff;
    --md-ref-palette-tertiary-78: #e7abff;
    --md-ref-palette-tertiary-79: #e8afff;
    --md-ref-palette-tertiary-80: #e9b3ff;
    --md-ref-palette-tertiary-81: #ebb6ff;
    --md-ref-palette-tertiary-82: #ecbaff;
    --md-ref-palette-tertiary-83: #eebeff;
    --md-ref-palette-tertiary-84: #efc2ff;
    --md-ref-palette-tertiary-85: #f0c6ff;
    --md-ref-palette-tertiary-86: #f2c9ff;
    --md-ref-palette-tertiary-87: #f3cdff;
    --md-ref-palette-tertiary-88: #f4d1ff;
    --md-ref-palette-tertiary-89: #f6d5ff;
    --md-ref-palette-tertiary-90: #f7d8ff;
    --md-ref-palette-tertiary-91: #f8dcff;
    --md-ref-palette-tertiary-92: #f9e0ff;
    --md-ref-palette-tertiary-93: #fbe4ff;
    --md-ref-palette-tertiary-94: #fce7ff;
    --md-ref-palette-tertiary-95: #fdebff;
    --md-ref-palette-tertiary-96: #ffefff;
    --md-ref-palette-tertiary-97: #fff3fe;
    --md-ref-palette-tertiary-98: #fff7fc;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #020406;
    --md-ref-palette-neutral-2: #04080b;
    --md-ref-palette-neutral-3: #070c0f;
    --md-ref-palette-neutral-4: #0a0f12;
    --md-ref-palette-neutral-5: #0d1115;
    --md-ref-palette-neutral-6: #0f1418;
    --md-ref-palette-neutral-7: #11161a;
    --md-ref-palette-neutral-8: #13181c;
    --md-ref-palette-neutral-9: #151a1e;
    --md-ref-palette-neutral-10: #171c20;
    --md-ref-palette-neutral-11: #191e22;
    --md-ref-palette-neutral-12: #1b2024;
    --md-ref-palette-neutral-13: #1d2226;
    --md-ref-palette-neutral-14: #1f2428;
    --md-ref-palette-neutral-15: #21262a;
    --md-ref-palette-neutral-16: #24282d;
    --md-ref-palette-neutral-17: #262b2f;
    --md-ref-palette-neutral-18: #282d31;
    --md-ref-palette-neutral-19: #2a2f33;
    --md-ref-palette-neutral-20: #2c3135;
    --md-ref-palette-neutral-21: #2e3337;
    --md-ref-palette-neutral-22: #30353a;
    --md-ref-palette-neutral-23: #33383c;
    --md-ref-palette-neutral-24: #353a3e;
    --md-ref-palette-neutral-25: #373c40;
    --md-ref-palette-neutral-26: #393e43;
    --md-ref-palette-neutral-27: #3c4045;
    --md-ref-palette-neutral-28: #3e4347;
    --md-ref-palette-neutral-29: #404549;
    --md-ref-palette-neutral-30: #42474c;
    --md-ref-palette-neutral-31: #454a4e;
    --md-ref-palette-neutral-32: #474c50;
    --md-ref-palette-neutral-33: #494e53;
    --md-ref-palette-neutral-34: #4c5155;
    --md-ref-palette-neutral-35: #4e5358;
    --md-ref-palette-neutral-36: #50555a;
    --md-ref-palette-neutral-37: #53585c;
    --md-ref-palette-neutral-38: #555a5f;
    --md-ref-palette-neutral-39: #585c61;
    --md-ref-palette-neutral-40: #5a5f64;
    --md-ref-palette-neutral-41: #5d6166;
    --md-ref-palette-neutral-42: #5f6468;
    --md-ref-palette-neutral-43: #61666b;
    --md-ref-palette-neutral-44: #64696d;
    --md-ref-palette-neutral-45: #666b70;
    --md-ref-palette-neutral-46: #696e72;
    --md-ref-palette-neutral-47: #6b7075;
    --md-ref-palette-neutral-48: #6e7377;
    --md-ref-palette-neutral-49: #70757a;
    --md-ref-palette-neutral-50: #73787c;
    --md-ref-palette-neutral-51: #757a7f;
    --md-ref-palette-neutral-52: #787d81;
    --md-ref-palette-neutral-53: #7a7f84;
    --md-ref-palette-neutral-54: #7d8287;
    --md-ref-palette-neutral-55: #808489;
    --md-ref-palette-neutral-56: #82878c;
    --md-ref-palette-neutral-57: #85898e;
    --md-ref-palette-neutral-58: #878c91;
    --md-ref-palette-neutral-59: #8a8f94;
    --md-ref-palette-neutral-60: #8d9196;
    --md-ref-palette-neutral-61: #8f9499;
    --md-ref-palette-neutral-62: #92969b;
    --md-ref-palette-neutral-63: #94999e;
    --md-ref-palette-neutral-64: #979ca1;
    --md-ref-palette-neutral-65: #9a9ea3;
    --md-ref-palette-neutral-66: #9ca1a6;
    --md-ref-palette-neutral-67: #9fa4a9;
    --md-ref-palette-neutral-68: #a2a6ab;
    --md-ref-palette-neutral-69: #a4a9ae;
    --md-ref-palette-neutral-70: #a7acb1;
    --md-ref-palette-neutral-71: #aaaeb3;
    --md-ref-palette-neutral-72: #adb1b6;
    --md-ref-palette-neutral-73: #afb4b9;
    --md-ref-palette-neutral-74: #b2b6bc;
    --md-ref-palette-neutral-75: #b5b9be;
    --md-ref-palette-neutral-76: #b8bcc1;
    --md-ref-palette-neutral-77: #babfc4;
    --md-ref-palette-neutral-78: #bdc1c7;
    --md-ref-palette-neutral-79: #c0c4c9;
    --md-ref-palette-neutral-80: #c3c7cc;
    --md-ref-palette-neutral-81: #c5cacf;
    --md-ref-palette-neutral-82: #c8ccd2;
    --md-ref-palette-neutral-83: #cbcfd5;
    --md-ref-palette-neutral-84: #ced2d7;
    --md-ref-palette-neutral-85: #d1d5da;
    --md-ref-palette-neutral-86: #d3d8dd;
    --md-ref-palette-neutral-87: #d6dae0;
    --md-ref-palette-neutral-88: #d9dde3;
    --md-ref-palette-neutral-89: #dce0e5;
    --md-ref-palette-neutral-90: #dfe3e8;
    --md-ref-palette-neutral-91: #e2e6eb;
    --md-ref-palette-neutral-92: #e4e8ee;
    --md-ref-palette-neutral-93: #e7ebf1;
    --md-ref-palette-neutral-94: #eaeef4;
    --md-ref-palette-neutral-95: #edf1f7;
    --md-ref-palette-neutral-96: #f0f4f9;
    --md-ref-palette-neutral-97: #f3f7fc;
    --md-ref-palette-neutral-98: #f6faff;
    --md-ref-palette-neutral-99: #fbfcff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #000409;
    --md-ref-palette-neutral-variant-2: #02080f;
    --md-ref-palette-neutral-variant-3: #040c13;
    --md-ref-palette-neutral-variant-4: #060f16;
    --md-ref-palette-neutral-variant-5: #081219;
    --md-ref-palette-neutral-variant-6: #0b141b;
    --md-ref-palette-neutral-variant-7: #0d171d;
    --md-ref-palette-neutral-variant-8: #0f1920;
    --md-ref-palette-neutral-variant-9: #111b22;
    --md-ref-palette-neutral-variant-10: #131d24;
    --md-ref-palette-neutral-variant-11: #151f26;
    --md-ref-palette-neutral-variant-12: #172128;
    --md-ref-palette-neutral-variant-13: #19232a;
    --md-ref-palette-neutral-variant-14: #1b252c;
    --md-ref-palette-neutral-variant-15: #1d272e;
    --md-ref-palette-neutral-variant-16: #202930;
    --md-ref-palette-neutral-variant-17: #222b32;
    --md-ref-palette-neutral-variant-18: #242d35;
    --md-ref-palette-neutral-variant-19: #262f37;
    --md-ref-palette-neutral-variant-20: #283239;
    --md-ref-palette-neutral-variant-21: #2a343b;
    --md-ref-palette-neutral-variant-22: #2c363d;
    --md-ref-palette-neutral-variant-23: #2f3840;
    --md-ref-palette-neutral-variant-24: #313a42;
    --md-ref-palette-neutral-variant-25: #333d44;
    --md-ref-palette-neutral-variant-26: #353f46;
    --md-ref-palette-neutral-variant-27: #384149;
    --md-ref-palette-neutral-variant-28: #3a434b;
    --md-ref-palette-neutral-variant-29: #3c464d;
    --md-ref-palette-neutral-variant-30: #3e4850;
    --md-ref-palette-neutral-variant-31: #414a52;
    --md-ref-palette-neutral-variant-32: #434d54;
    --md-ref-palette-neutral-variant-33: #454f57;
    --md-ref-palette-neutral-variant-34: #485159;
    --md-ref-palette-neutral-variant-35: #4a545c;
    --md-ref-palette-neutral-variant-36: #4c565e;
    --md-ref-palette-neutral-variant-37: #4f5860;
    --md-ref-palette-neutral-variant-38: #515b63;
    --md-ref-palette-neutral-variant-39: #535d65;
    --md-ref-palette-neutral-variant-40: #566068;
    --md-ref-palette-neutral-variant-41: #58626a;
    --md-ref-palette-neutral-variant-42: #5b646d;
    --md-ref-palette-neutral-variant-43: #5d676f;
    --md-ref-palette-neutral-variant-44: #606972;
    --md-ref-palette-neutral-variant-45: #626c74;
    --md-ref-palette-neutral-variant-46: #646e77;
    --md-ref-palette-neutral-variant-47: #677179;
    --md-ref-palette-neutral-variant-48: #69737c;
    --md-ref-palette-neutral-variant-49: #6c767e;
    --md-ref-palette-neutral-variant-50: #6e7881;
    --md-ref-palette-neutral-variant-51: #717b83;
    --md-ref-palette-neutral-variant-52: #747d86;
    --md-ref-palette-neutral-variant-53: #768089;
    --md-ref-palette-neutral-variant-54: #79828b;
    --md-ref-palette-neutral-variant-55: #7b858e;
    --md-ref-palette-neutral-variant-56: #7e8890;
    --md-ref-palette-neutral-variant-57: #808a93;
    --md-ref-palette-neutral-variant-58: #838d96;
    --md-ref-palette-neutral-variant-59: #858f98;
    --md-ref-palette-neutral-variant-60: #88929b;
    --md-ref-palette-neutral-variant-61: #8b959d;
    --md-ref-palette-neutral-variant-62: #8d97a0;
    --md-ref-palette-neutral-variant-63: #909aa3;
    --md-ref-palette-neutral-variant-64: #939ca5;
    --md-ref-palette-neutral-variant-65: #959fa8;
    --md-ref-palette-neutral-variant-66: #98a2ab;
    --md-ref-palette-neutral-variant-67: #9aa4ae;
    --md-ref-palette-neutral-variant-68: #9da7b0;
    --md-ref-palette-neutral-variant-69: #a0aab3;
    --md-ref-palette-neutral-variant-70: #a3acb6;
    --md-ref-palette-neutral-variant-71: #a5afb8;
    --md-ref-palette-neutral-variant-72: #a8b2bb;
    --md-ref-palette-neutral-variant-73: #abb4be;
    --md-ref-palette-neutral-variant-74: #adb7c1;
    --md-ref-palette-neutral-variant-75: #b0bac3;
    --md-ref-palette-neutral-variant-76: #b3bdc6;
    --md-ref-palette-neutral-variant-77: #b6bfc9;
    --md-ref-palette-neutral-variant-78: #b8c2cc;
    --md-ref-palette-neutral-variant-79: #bbc5ce;
    --md-ref-palette-neutral-variant-80: #bec8d1;
    --md-ref-palette-neutral-variant-81: #c1cad4;
    --md-ref-palette-neutral-variant-82: #c3cdd7;
    --md-ref-palette-neutral-variant-83: #c6d0da;
    --md-ref-palette-neutral-variant-84: #c9d3dc;
    --md-ref-palette-neutral-variant-85: #ccd6df;
    --md-ref-palette-neutral-variant-86: #cfd8e2;
    --md-ref-palette-neutral-variant-87: #d1dbe5;
    --md-ref-palette-neutral-variant-88: #d4dee8;
    --md-ref-palette-neutral-variant-89: #d7e1eb;
    --md-ref-palette-neutral-variant-90: #dae4ed;
    --md-ref-palette-neutral-variant-91: #dde6f0;
    --md-ref-palette-neutral-variant-92: #dfe9f3;
    --md-ref-palette-neutral-variant-93: #e2ecf6;
    --md-ref-palette-neutral-variant-94: #e5eff9;
    --md-ref-palette-neutral-variant-95: #e8f2fc;
    --md-ref-palette-neutral-variant-96: #ebf5ff;
    --md-ref-palette-neutral-variant-97: #f0f7ff;
    --md-ref-palette-neutral-variant-98: #f6faff;
    --md-ref-palette-neutral-variant-99: #fbfcff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
