:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000409;
    --md-ref-palette-primary-2: #000811;
    --md-ref-palette-primary-3: #000c16;
    --md-ref-palette-primary-4: #00101b;
    --md-ref-palette-primary-5: #00131f;
    --md-ref-palette-primary-10: #001e2f;
    --md-ref-palette-primary-20: #00344d;
    --md-ref-palette-primary-30: #204b65;
    --md-ref-palette-primary-40: #3a637e;
    --md-ref-palette-primary-50: #547b98;
    --md-ref-palette-primary-60: #6e95b2;
    --md-ref-palette-primary-70: #88b0ce;
    --md-ref-palette-primary-80: #a3cbea;
    --md-ref-palette-primary-90: #c8e6ff;
    --md-ref-palette-primary-95: #e5f2ff;
    --md-ref-palette-primary-96: #ebf5ff;
    --md-ref-palette-primary-97: #f0f7ff;
    --md-ref-palette-primary-98: #f6faff;
    --md-ref-palette-primary-99: #fbfcff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000409;
    --md-ref-palette-secondary-2: #000811;
    --md-ref-palette-secondary-3: #010c16;
    --md-ref-palette-secondary-4: #021019;
    --md-ref-palette-secondary-5: #04121c;
    --md-ref-palette-secondary-10: #0f1d27;
    --md-ref-palette-secondary-20: #24323d;
    --md-ref-palette-secondary-30: #3a4854;
    --md-ref-palette-secondary-40: #52606c;
    --md-ref-palette-secondary-50: #6a7985;
    --md-ref-palette-secondary-60: #84939f;
    --md-ref-palette-secondary-70: #9eadba;
    --md-ref-palette-secondary-80: #b9c8d6;
    --md-ref-palette-secondary-90: #d5e4f2;
    --md-ref-palette-secondary-95: #e5f2ff;
    --md-ref-palette-secondary-96: #ebf5ff;
    --md-ref-palette-secondary-97: #f0f7ff;
    --md-ref-palette-secondary-98: #f6faff;
    --md-ref-palette-secondary-99: #fbfcff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0a0013;
    --md-ref-palette-tertiary-2: #12001e;
    --md-ref-palette-tertiary-3: #170124;
    --md-ref-palette-tertiary-4: #1a0327;
    --md-ref-palette-tertiary-5: #1d062a;
    --md-ref-palette-tertiary-10: #291135;
    --md-ref-palette-tertiary-20: #3f264b;
    --md-ref-palette-tertiary-30: #573d63;
    --md-ref-palette-tertiary-40: #70547c;
    --md-ref-palette-tertiary-50: #8a6c96;
    --md-ref-palette-tertiary-60: #a586b1;
    --md-ref-palette-tertiary-70: #c1a0cd;
    --md-ref-palette-tertiary-80: #ddbbe9;
    --md-ref-palette-tertiary-90: #f6d9ff;
    --md-ref-palette-tertiary-95: #fdebff;
    --md-ref-palette-tertiary-96: #feefff;
    --md-ref-palette-tertiary-97: #fff3fe;
    --md-ref-palette-tertiary-98: #fff7fc;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030405;
    --md-ref-palette-neutral-2: #060809;
    --md-ref-palette-neutral-3: #090b0d;
    --md-ref-palette-neutral-4: #0c0e10;
    --md-ref-palette-neutral-5: #0f1113;
    --md-ref-palette-neutral-10: #1a1c1e;
    --md-ref-palette-neutral-20: #2f3133;
    --md-ref-palette-neutral-30: #454749;
    --md-ref-palette-neutral-40: #5d5e61;
    --md-ref-palette-neutral-50: #767779;
    --md-ref-palette-neutral-60: #909193;
    --md-ref-palette-neutral-70: #aaabad;
    --md-ref-palette-neutral-80: #c6c6c9;
    --md-ref-palette-neutral-90: #e2e2e5;
    --md-ref-palette-neutral-95: #f1f0f3;
    --md-ref-palette-neutral-96: #f3f3f6;
    --md-ref-palette-neutral-97: #f6f6f8;
    --md-ref-palette-neutral-98: #f9f9fb;
    --md-ref-palette-neutral-99: #fcfcfe;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #010407;
    --md-ref-palette-neutral-variant-2: #04080c;
    --md-ref-palette-neutral-variant-3: #060c10;
    --md-ref-palette-neutral-variant-4: #090f13;
    --md-ref-palette-neutral-variant-5: #0c1216;
    --md-ref-palette-neutral-variant-10: #161c21;
    --md-ref-palette-neutral-variant-20: #2b3136;
    --md-ref-palette-neutral-variant-30: #42474d;
    --md-ref-palette-neutral-variant-40: #595f65;
    --md-ref-palette-neutral-variant-50: #72787d;
    --md-ref-palette-neutral-variant-60: #8c9197;
    --md-ref-palette-neutral-variant-70: #a6acb2;
    --md-ref-palette-neutral-variant-80: #c2c7cd;
    --md-ref-palette-neutral-variant-90: #dee3e9;
    --md-ref-palette-neutral-variant-95: #ecf1f8;
    --md-ref-palette-neutral-variant-96: #eff4fb;
    --md-ref-palette-neutral-variant-97: #f2f7fe;
    --md-ref-palette-neutral-variant-98: #f6faff;
    --md-ref-palette-neutral-variant-99: #fbfcff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
