:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000409;
    --md-ref-palette-primary-2: #000811;
    --md-ref-palette-primary-3: #000c16;
    --md-ref-palette-primary-4: #00101b;
    --md-ref-palette-primary-5: #00131f;
    --md-ref-palette-primary-6: #001522;
    --md-ref-palette-primary-7: #001826;
    --md-ref-palette-primary-8: #001a29;
    --md-ref-palette-primary-9: #001c2b;
    --md-ref-palette-primary-10: #001e2e;
    --md-ref-palette-primary-11: #002031;
    --md-ref-palette-primary-12: #002234;
    --md-ref-palette-primary-13: #002437;
    --md-ref-palette-primary-14: #00273a;
    --md-ref-palette-primary-15: #00293d;
    --md-ref-palette-primary-16: #002b40;
    --md-ref-palette-primary-17: #002d43;
    --md-ref-palette-primary-18: #002f46;
    --md-ref-palette-primary-19: #00324a;
    --md-ref-palette-primary-20: #00344d;
    --md-ref-palette-primary-21: #003650;
    --md-ref-palette-primary-22: #003953;
    --md-ref-palette-primary-23: #003b56;
    --md-ref-palette-primary-24: #003d59;
    --md-ref-palette-primary-25: #00405d;
    --md-ref-palette-primary-26: #004260;
    --md-ref-palette-primary-27: #004463;
    --md-ref-palette-primary-28: #004767;
    --md-ref-palette-primary-29: #00496a;
    --md-ref-palette-primary-30: #004c6d;
    --md-ref-palette-primary-31: #004e71;
    --md-ref-palette-primary-32: #005174;
    --md-ref-palette-primary-33: #005377;
    --md-ref-palette-primary-34: #00567b;
    --md-ref-palette-primary-35: #00587e;
    --md-ref-palette-primary-36: #005b82;
    --md-ref-palette-primary-37: #005d85;
    --md-ref-palette-primary-38: #006089;
    --md-ref-palette-primary-39: #00628c;
    --md-ref-palette-primary-40: #006590;
    --md-ref-palette-primary-41: #076792;
    --md-ref-palette-primary-42: #0e6a95;
    --md-ref-palette-primary-43: #146c98;
    --md-ref-palette-primary-44: #196f9a;
    --md-ref-palette-primary-45: #1d719d;
    --md-ref-palette-primary-46: #22749f;
    --md-ref-palette-primary-47: #2576a2;
    --md-ref-palette-primary-48: #2979a5;
    --md-ref-palette-primary-49: #2d7ba7;
    --md-ref-palette-primary-50: #307eaa;
    --md-ref-palette-primary-51: #3380ad;
    --md-ref-palette-primary-52: #3783b0;
    --md-ref-palette-primary-53: #3a86b2;
    --md-ref-palette-primary-54: #3d88b5;
    --md-ref-palette-primary-55: #408bb8;
    --md-ref-palette-primary-56: #438dba;
    --md-ref-palette-primary-57: #4690bd;
    --md-ref-palette-primary-58: #4993c0;
    --md-ref-palette-primary-59: #4c95c3;
    --md-ref-palette-primary-60: #4f98c6;
    --md-ref-palette-primary-61: #529bc8;
    --md-ref-palette-primary-62: #559dcb;
    --md-ref-palette-primary-63: #58a0ce;
    --md-ref-palette-primary-64: #5aa3d1;
    --md-ref-palette-primary-65: #5da5d4;
    --md-ref-palette-primary-66: #60a8d6;
    --md-ref-palette-primary-67: #63abd9;
    --md-ref-palette-primary-68: #66addc;
    --md-ref-palette-primary-69: #69b0df;
    --md-ref-palette-primary-70: #6bb3e2;
    --md-ref-palette-primary-71: #6eb5e5;
    --md-ref-palette-primary-72: #71b8e7;
    --md-ref-palette-primary-73: #74bbea;
    --md-ref-palette-primary-74: #77beed;
    --md-ref-palette-primary-75: #7ac0f0;
    --md-ref-palette-primary-76: #7cc3f3;
    --md-ref-palette-primary-77: #7fc6f6;
    --md-ref-palette-primary-78: #82c9f9;
    --md-ref-palette-primary-79: #85cbfc;
    --md-ref-palette-primary-80: #88ceff;
    --md-ref-palette-primary-81: #8ed1ff;
    --md-ref-palette-primary-82: #95d3ff;
    --md-ref-palette-primary-83: #9cd6ff;
    --md-ref-palette-primary-84: #a3d8ff;
    --md-ref-palette-primary-85: #a9daff;
    --md-ref-palette-primary-86: #afddff;
    --md-ref-palette-primary-87: #b6dfff;
    --md-ref-palette-primary-88: #bce2ff;
    --md-ref-palette-primary-89: #c2e4ff;
    --md-ref-palette-primary-90: #c8e6ff;
    --md-ref-palette-primary-91: #cee9ff;
    --md-ref-palette-primary-92: #d4ebff;
    --md-ref-palette-primary-93: #daeeff;
    --md-ref-palette-primary-94: #dff0ff;
    --md-ref-palette-primary-95: #e5f2ff;
    --md-ref-palette-primary-96: #ebf5ff;
    --md-ref-palette-primary-97: #f0f7ff;
    --md-ref-palette-primary-98: #f6faff;
    --md-ref-palette-primary-99: #fbfcff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000409;
    --md-ref-palette-secondary-2: #000811;
    --md-ref-palette-secondary-3: #000c16;
    --md-ref-palette-secondary-4: #00101b;
    --md-ref-palette-secondary-5: #00131f;
    --md-ref-palette-secondary-6: #001522;
    --md-ref-palette-secondary-7: #001826;
    --md-ref-palette-secondary-8: #001a29;
    --md-ref-palette-secondary-9: #001c2b;
    --md-ref-palette-secondary-10: #021e2e;
    --md-ref-palette-secondary-11: #032030;
    --md-ref-palette-secondary-12: #052232;
    --md-ref-palette-secondary-13: #082434;
    --md-ref-palette-secondary-14: #0b2636;
    --md-ref-palette-secondary-15: #0d2838;
    --md-ref-palette-secondary-16: #102a3b;
    --md-ref-palette-secondary-17: #122c3d;
    --md-ref-palette-secondary-18: #152f3f;
    --md-ref-palette-secondary-19: #173141;
    --md-ref-palette-secondary-20: #193343;
    --md-ref-palette-secondary-21: #1c3546;
    --md-ref-palette-secondary-22: #1e3748;
    --md-ref-palette-secondary-23: #203a4a;
    --md-ref-palette-secondary-24: #233c4d;
    --md-ref-palette-secondary-25: #253e4f;
    --md-ref-palette-secondary-26: #274051;
    --md-ref-palette-secondary-27: #2a4354;
    --md-ref-palette-secondary-28: #2c4556;
    --md-ref-palette-secondary-29: #2e4758;
    --md-ref-palette-secondary-30: #314a5b;
    --md-ref-palette-secondary-31: #334c5d;
    --md-ref-palette-secondary-32: #364e60;
    --md-ref-palette-secondary-33: #385162;
    --md-ref-palette-secondary-34: #3a5365;
    --md-ref-palette-secondary-35: #3d5567;
    --md-ref-palette-secondary-36: #3f5869;
    --md-ref-palette-secondary-37: #415a6c;
    --md-ref-palette-secondary-38: #445c6e;
    --md-ref-palette-secondary-39: #465f71;
    --md-ref-palette-secondary-40: #496173;
    --md-ref-palette-secondary-41: #4b6476;
    --md-ref-palette-secondary-42: #4d6678;
    --md-ref-palette-secondary-43: #50697b;
    --md-ref-palette-secondary-44: #526b7e;
    --md-ref-palette-secondary-45: #556e80;
    --md-ref-palette-secondary-46: #577083;
    --md-ref-palette-secondary-47: #5a7385;
    --md-ref-palette-secondary-48: #5c7588;
    --md-ref-palette-secondary-49: #5f788a;
    --md-ref-palette-secondary-50: #617a8d;
    --md-ref-palette-secondary-51: #647d90;
    --md-ref-palette-secondary-52: #667f92;
    --md-ref-palette-secondary-53: #698295;
    --md-ref-palette-secondary-54: #6b8497;
    --md-ref-palette-secondary-55: #6e879a;
    --md-ref-palette-secondary-56: #70899d;
    --md-ref-palette-secondary-57: #738c9f;
    --md-ref-palette-secondary-58: #768fa2;
    --md-ref-palette-secondary-59: #7891a5;
    --md-ref-palette-secondary-60: #7b94a7;
    --md-ref-palette-secondary-61: #7d96aa;
    --md-ref-palette-secondary-62: #8099ad;
    --md-ref-palette-secondary-63: #829cb0;
    --md-ref-palette-secondary-64: #859eb2;
    --md-ref-palette-secondary-65: #88a1b5;
    --md-ref-palette-secondary-66: #8aa4b8;
    --md-ref-palette-secondary-67: #8da6ba;
    --md-ref-palette-secondary-68: #90a9bd;
    --md-ref-palette-secondary-69: #92acc0;
    --md-ref-palette-secondary-70: #95aec3;
    --md-ref-palette-secondary-71: #98b1c6;
    --md-ref-palette-secondary-72: #9ab4c8;
    --md-ref-palette-secondary-73: #9db7cb;
    --md-ref-palette-secondary-74: #a0b9ce;
    --md-ref-palette-secondary-75: #a2bcd1;
    --md-ref-palette-secondary-76: #a5bfd3;
    --md-ref-palette-secondary-77: #a8c2d6;
    --md-ref-palette-secondary-78: #aac4d9;
    --md-ref-palette-secondary-79: #adc7dc;
    --md-ref-palette-secondary-80: #b0cadf;
    --md-ref-palette-secondary-81: #b3cde2;
    --md-ref-palette-secondary-82: #b5cfe4;
    --md-ref-palette-secondary-83: #b8d2e7;
    --md-ref-palette-secondary-84: #bbd5ea;
    --md-ref-palette-secondary-85: #bed8ed;
    --md-ref-palette-secondary-86: #c1dbf0;
    --md-ref-palette-secondary-87: #c3ddf3;
    --md-ref-palette-secondary-88: #c6e0f6;
    --md-ref-palette-secondary-89: #c9e3f9;
    --md-ref-palette-secondary-90: #cce6fb;
    --md-ref-palette-secondary-91: #cfe9fe;
    --md-ref-palette-secondary-92: #d4ebff;
    --md-ref-palette-secondary-93: #daeeff;
    --md-ref-palette-secondary-94: #dff0ff;
    --md-ref-palette-secondary-95: #e5f2ff;
    --md-ref-palette-secondary-96: #ebf5ff;
    --md-ref-palette-secondary-97: #f0f7ff;
    --md-ref-palette-secondary-98: #f6faff;
    --md-ref-palette-secondary-99: #fbfcff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0a0013;
    --md-ref-palette-tertiary-2: #12001d;
    --md-ref-palette-tertiary-3: #180025;
    --md-ref-palette-tertiary-4: #1d002c;
    --md-ref-palette-tertiary-5: #210032;
    --md-ref-palette-tertiary-6: #250037;
    --md-ref-palette-tertiary-7: #28003b;
    --md-ref-palette-tertiary-8: #2b003f;
    --md-ref-palette-tertiary-9: #2e0241;
    --md-ref-palette-tertiary-10: #300444;
    --md-ref-palette-tertiary-11: #320746;
    --md-ref-palette-tertiary-12: #340948;
    --md-ref-palette-tertiary-13: #370c4a;
    --md-ref-palette-tertiary-14: #390f4c;
    --md-ref-palette-tertiary-15: #3b114f;
    --md-ref-palette-tertiary-16: #3e1451;
    --md-ref-palette-tertiary-17: #401653;
    --md-ref-palette-tertiary-18: #421955;
    --md-ref-palette-tertiary-19: #451b58;
    --md-ref-palette-tertiary-20: #471e5a;
    --md-ref-palette-tertiary-21: #49205c;
    --md-ref-palette-tertiary-22: #4c225f;
    --md-ref-palette-tertiary-23: #4e2561;
    --md-ref-palette-tertiary-24: #512764;
    --md-ref-palette-tertiary-25: #532966;
    --md-ref-palette-tertiary-26: #552c68;
    --md-ref-palette-tertiary-27: #582e6b;
    --md-ref-palette-tertiary-28: #5a306d;
    --md-ref-palette-tertiary-29: #5d3370;
    --md-ref-palette-tertiary-30: #5f3572;
    --md-ref-palette-tertiary-31: #623775;
    --md-ref-palette-tertiary-32: #643a77;
    --md-ref-palette-tertiary-33: #673c7a;
    --md-ref-palette-tertiary-34: #693f7c;
    --md-ref-palette-tertiary-35: #6c417f;
    --md-ref-palette-tertiary-36: #6f4382;
    --md-ref-palette-tertiary-37: #714684;
    --md-ref-palette-tertiary-38: #744887;
    --md-ref-palette-tertiary-39: #764b89;
    --md-ref-palette-tertiary-40: #794d8c;
    --md-ref-palette-tertiary-41: #7c4f8f;
    --md-ref-palette-tertiary-42: #7e5291;
    --md-ref-palette-tertiary-43: #815494;
    --md-ref-palette-tertiary-44: #835796;
    --md-ref-palette-tertiary-45: #865999;
    --md-ref-palette-tertiary-46: #895c9c;
    --md-ref-palette-tertiary-47: #8b5e9e;
    --md-ref-palette-tertiary-48: #8e61a1;
    --md-ref-palette-tertiary-49: #9163a4;
    --md-ref-palette-tertiary-50: #9365a7;
    --md-ref-palette-tertiary-51: #9668a9;
    --md-ref-palette-tertiary-52: #996bac;
    --md-ref-palette-tertiary-53: #9c6daf;
    --md-ref-palette-tertiary-54: #9e70b1;
    --md-ref-palette-tertiary-55: #a172b4;
    --md-ref-palette-tertiary-56: #a475b7;
    --md-ref-palette-tertiary-57: #a677ba;
    --md-ref-palette-tertiary-58: #a97abc;
    --md-ref-palette-tertiary-59: #ac7cbf;
    --md-ref-palette-tertiary-60: #af7fc2;
    --md-ref-palette-tertiary-61: #b281c5;
    --md-ref-palette-tertiary-62: #b484c8;
    --md-ref-palette-tertiary-63: #b787ca;
    --md-ref-palette-tertiary-64: #ba89cd;
    --md-ref-palette-tertiary-65: #bd8cd0;
    --md-ref-palette-tertiary-66: #c08ed3;
    --md-ref-palette-tertiary-67: #c291d6;
    --md-ref-palette-tertiary-68: #c594d8;
    --md-ref-palette-tertiary-69: #c896db;
    --md-ref-palette-tertiary-70: #cb99de;
    --md-ref-palette-tertiary-71: #ce9ce1;
    --md-ref-palette-tertiary-72: #d19ee4;
    --md-ref-palette-tertiary-73: #d4a1e7;
    --md-ref-palette-tertiary-74: #d6a4ea;
    --md-ref-palette-tertiary-75: #d9a6ed;
    --md-ref-palette-tertiary-76: #dca9ef;
    --md-ref-palette-tertiary-77: #dfacf2;
    --md-ref-palette-tertiary-78: #e2aef5;
    --md-ref-palette-tertiary-79: #e5b1f8;
    --md-ref-palette-tertiary-80: #e8b4fb;
    --md-ref-palette-tertiary-81: #ebb7fe;
    --md-ref-palette-tertiary-82: #edbaff;
    --md-ref-palette-tertiary-83: #eebeff;
    --md-ref-palette-tertiary-84: #efc2ff;
    --md-ref-palette-tertiary-85: #f1c5ff;
    --md-ref-palette-tertiary-86: #f2c9ff;
    --md-ref-palette-tertiary-87: #f3cdff;
    --md-ref-palette-tertiary-88: #f5d1ff;
    --md-ref-palette-tertiary-89: #f6d5ff;
    --md-ref-palette-tertiary-90: #f7d8ff;
    --md-ref-palette-tertiary-91: #f8dcff;
    --md-ref-palette-tertiary-92: #fae0ff;
    --md-ref-palette-tertiary-93: #fbe4ff;
    --md-ref-palette-tertiary-94: #fce7ff;
    --md-ref-palette-tertiary-95: #fdebff;
    --md-ref-palette-tertiary-96: #ffefff;
    --md-ref-palette-tertiary-97: #fff3fd;
    --md-ref-palette-tertiary-98: #fff7fb;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #020406;
    --md-ref-palette-neutral-2: #05080a;
    --md-ref-palette-neutral-3: #080b0e;
    --md-ref-palette-neutral-4: #0b0f11;
    --md-ref-palette-neutral-5: #0e1114;
    --md-ref-palette-neutral-6: #101417;
    --md-ref-palette-neutral-7: #131619;
    --md-ref-palette-neutral-8: #15181b;
    --md-ref-palette-neutral-9: #171a1d;
    --md-ref-palette-neutral-10: #191c1f;
    --md-ref-palette-neutral-11: #1b1e21;
    --md-ref-palette-neutral-12: #1d2023;
    --md-ref-palette-neutral-13: #1f2225;
    --md-ref-palette-neutral-14: #212427;
    --md-ref-palette-neutral-15: #232629;
    --md-ref-palette-neutral-16: #25282b;
    --md-ref-palette-neutral-17: #272a2d;
    --md-ref-palette-neutral-18: #292c30;
    --md-ref-palette-neutral-19: #2b2f32;
    --md-ref-palette-neutral-20: #2d3134;
    --md-ref-palette-neutral-21: #303336;
    --md-ref-palette-neutral-22: #323538;
    --md-ref-palette-neutral-23: #34373a;
    --md-ref-palette-neutral-24: #363a3d;
    --md-ref-palette-neutral-25: #383c3f;
    --md-ref-palette-neutral-26: #3b3e41;
    --md-ref-palette-neutral-27: #3d4043;
    --md-ref-palette-neutral-28: #3f4246;
    --md-ref-palette-neutral-29: #414548;
    --md-ref-palette-neutral-30: #44474a;
    --md-ref-palette-neutral-31: #46494d;
    --md-ref-palette-neutral-32: #484c4f;
    --md-ref-palette-neutral-33: #4b4e51;
    --md-ref-palette-neutral-34: #4d5054;
    --md-ref-palette-neutral-35: #4f5356;
    --md-ref-palette-neutral-36: #525558;
    --md-ref-palette-neutral-37: #54575b;
    --md-ref-palette-neutral-38: #575a5d;
    --md-ref-palette-neutral-39: #595c60;
    --md-ref-palette-neutral-40: #5b5f62;
    --md-ref-palette-neutral-41: #5e6165;
    --md-ref-palette-neutral-42: #606367;
    --md-ref-palette-neutral-43: #636669;
    --md-ref-palette-neutral-44: #65686c;
    --md-ref-palette-neutral-45: #686b6e;
    --md-ref-palette-neutral-46: #6a6d71;
    --md-ref-palette-neutral-47: #6d7073;
    --md-ref-palette-neutral-48: #6f7276;
    --md-ref-palette-neutral-49: #727578;
    --md-ref-palette-neutral-50: #74777b;
    --md-ref-palette-neutral-51: #777a7d;
    --md-ref-palette-neutral-52: #797c80;
    --md-ref-palette-neutral-53: #7c7f82;
    --md-ref-palette-neutral-54: #7e8185;
    --md-ref-palette-neutral-55: #818488;
    --md-ref-palette-neutral-56: #84878a;
    --md-ref-palette-neutral-57: #86898d;
    --md-ref-palette-neutral-58: #898c8f;
    --md-ref-palette-neutral-59: #8b8e92;
    --md-ref-palette-neutral-60: #8e9195;
    --md-ref-palette-neutral-61: #919397;
    --md-ref-palette-neutral-62: #93969a;
    --md-ref-palette-neutral-63: #96999c;
    --md-ref-palette-neutral-64: #999b9f;
    --md-ref-palette-neutral-65: #9b9ea2;
    --md-ref-palette-neutral-66: #9ea1a4;
    --md-ref-palette-neutral-67: #a1a3a7;
    --md-ref-palette-neutral-68: #a3a6aa;
    --md-ref-palette-neutral-69: #a6a9ac;
    --md-ref-palette-neutral-70: #a9abaf;
    --md-ref-palette-neutral-71: #abaeb2;
    --md-ref-palette-neutral-72: #aeb1b4;
    --md-ref-palette-neutral-73: #b1b3b7;
    --md-ref-palette-neutral-74: #b4b6ba;
    --md-ref-palette-neutral-75: #b6b9bd;
    --md-ref-palette-neutral-76: #b9bcbf;
    --md-ref-palette-neutral-77: #bcbec2;
    --md-ref-palette-neutral-78: #bfc1c5;
    --md-ref-palette-neutral-79: #c1c4c8;
    --md-ref-palette-neutral-80: #c4c7ca;
    --md-ref-palette-neutral-81: #c7c9cd;
    --md-ref-palette-neutral-82: #caccd0;
    --md-ref-palette-neutral-83: #cdcfd3;
    --md-ref-palette-neutral-84: #cfd2d6;
    --md-ref-palette-neutral-85: #d2d4d8;
    --md-ref-palette-neutral-86: #d5d7db;
    --md-ref-palette-neutral-87: #d8dade;
    --md-ref-palette-neutral-88: #dbdde1;
    --md-ref-palette-neutral-89: #dee0e4;
    --md-ref-palette-neutral-90: #e0e2e6;
    --md-ref-palette-neutral-91: #e3e5e9;
    --md-ref-palette-neutral-92: #e6e8ec;
    --md-ref-palette-neutral-93: #e9ebef;
    --md-ref-palette-neutral-94: #eceef2;
    --md-ref-palette-neutral-95: #eff1f5;
    --md-ref-palette-neutral-96: #f2f4f8;
    --md-ref-palette-neutral-97: #f5f6fa;
    --md-ref-palette-neutral-98: #f7f9fd;
    --md-ref-palette-neutral-99: #fbfcff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #010408;
    --md-ref-palette-neutral-variant-2: #03080d;
    --md-ref-palette-neutral-variant-3: #050c11;
    --md-ref-palette-neutral-variant-4: #070f15;
    --md-ref-palette-neutral-variant-5: #0a1217;
    --md-ref-palette-neutral-variant-6: #0d141a;
    --md-ref-palette-neutral-variant-7: #0f161c;
    --md-ref-palette-neutral-variant-8: #11191e;
    --md-ref-palette-neutral-variant-9: #131a20;
    --md-ref-palette-neutral-variant-10: #151c22;
    --md-ref-palette-neutral-variant-11: #171e24;
    --md-ref-palette-neutral-variant-12: #192026;
    --md-ref-palette-neutral-variant-13: #1b2328;
    --md-ref-palette-neutral-variant-14: #1d252b;
    --md-ref-palette-neutral-variant-15: #1f272d;
    --md-ref-palette-neutral-variant-16: #21292f;
    --md-ref-palette-neutral-variant-17: #232b31;
    --md-ref-palette-neutral-variant-18: #252d33;
    --md-ref-palette-neutral-variant-19: #272f35;
    --md-ref-palette-neutral-variant-20: #2a3138;
    --md-ref-palette-neutral-variant-21: #2c333a;
    --md-ref-palette-neutral-variant-22: #2e363c;
    --md-ref-palette-neutral-variant-23: #30383e;
    --md-ref-palette-neutral-variant-24: #323a40;
    --md-ref-palette-neutral-variant-25: #353c43;
    --md-ref-palette-neutral-variant-26: #373f45;
    --md-ref-palette-neutral-variant-27: #394147;
    --md-ref-palette-neutral-variant-28: #3b434a;
    --md-ref-palette-neutral-variant-29: #3e454c;
    --md-ref-palette-neutral-variant-30: #40484e;
    --md-ref-palette-neutral-variant-31: #424a51;
    --md-ref-palette-neutral-variant-32: #454c53;
    --md-ref-palette-neutral-variant-33: #474f55;
    --md-ref-palette-neutral-variant-34: #495158;
    --md-ref-palette-neutral-variant-35: #4c535a;
    --md-ref-palette-neutral-variant-36: #4e565d;
    --md-ref-palette-neutral-variant-37: #50585f;
    --md-ref-palette-neutral-variant-38: #535a61;
    --md-ref-palette-neutral-variant-39: #555d64;
    --md-ref-palette-neutral-variant-40: #575f66;
    --md-ref-palette-neutral-variant-41: #5a6269;
    --md-ref-palette-neutral-variant-42: #5c646b;
    --md-ref-palette-neutral-variant-43: #5f676e;
    --md-ref-palette-neutral-variant-44: #616970;
    --md-ref-palette-neutral-variant-45: #646c73;
    --md-ref-palette-neutral-variant-46: #666e75;
    --md-ref-palette-neutral-variant-47: #697078;
    --md-ref-palette-neutral-variant-48: #6b737a;
    --md-ref-palette-neutral-variant-49: #6e757d;
    --md-ref-palette-neutral-variant-50: #70787f;
    --md-ref-palette-neutral-variant-51: #737b82;
    --md-ref-palette-neutral-variant-52: #757d84;
    --md-ref-palette-neutral-variant-53: #788087;
    --md-ref-palette-neutral-variant-54: #7a8289;
    --md-ref-palette-neutral-variant-55: #7d858c;
    --md-ref-palette-neutral-variant-56: #7f878f;
    --md-ref-palette-neutral-variant-57: #828a91;
    --md-ref-palette-neutral-variant-58: #858c94;
    --md-ref-palette-neutral-variant-59: #878f96;
    --md-ref-palette-neutral-variant-60: #8a9299;
    --md-ref-palette-neutral-variant-61: #8c949c;
    --md-ref-palette-neutral-variant-62: #8f979e;
    --md-ref-palette-neutral-variant-63: #9299a1;
    --md-ref-palette-neutral-variant-64: #949ca4;
    --md-ref-palette-neutral-variant-65: #979fa6;
    --md-ref-palette-neutral-variant-66: #9aa1a9;
    --md-ref-palette-neutral-variant-67: #9ca4ac;
    --md-ref-palette-neutral-variant-68: #9fa7ae;
    --md-ref-palette-neutral-variant-69: #a2a9b1;
    --md-ref-palette-neutral-variant-70: #a4acb4;
    --md-ref-palette-neutral-variant-71: #a7afb7;
    --md-ref-palette-neutral-variant-72: #aab1b9;
    --md-ref-palette-neutral-variant-73: #acb4bc;
    --md-ref-palette-neutral-variant-74: #afb7bf;
    --md-ref-palette-neutral-variant-75: #b2bac1;
    --md-ref-palette-neutral-variant-76: #b5bcc4;
    --md-ref-palette-neutral-variant-77: #b7bfc7;
    --md-ref-palette-neutral-variant-78: #bac2ca;
    --md-ref-palette-neutral-variant-79: #bdc5cd;
    --md-ref-palette-neutral-variant-80: #c0c7cf;
    --md-ref-palette-neutral-variant-81: #c2cad2;
    --md-ref-palette-neutral-variant-82: #c5cdd5;
    --md-ref-palette-neutral-variant-83: #c8d0d8;
    --md-ref-palette-neutral-variant-84: #cbd2db;
    --md-ref-palette-neutral-variant-85: #ced5dd;
    --md-ref-palette-neutral-variant-86: #d0d8e0;
    --md-ref-palette-neutral-variant-87: #d3dbe3;
    --md-ref-palette-neutral-variant-88: #d6dee6;
    --md-ref-palette-neutral-variant-89: #d9e0e9;
    --md-ref-palette-neutral-variant-90: #dce3eb;
    --md-ref-palette-neutral-variant-91: #dee6ee;
    --md-ref-palette-neutral-variant-92: #e1e9f1;
    --md-ref-palette-neutral-variant-93: #e4ecf4;
    --md-ref-palette-neutral-variant-94: #e7eff7;
    --md-ref-palette-neutral-variant-95: #eaf2fa;
    --md-ref-palette-neutral-variant-96: #edf4fd;
    --md-ref-palette-neutral-variant-97: #f0f7ff;
    --md-ref-palette-neutral-variant-98: #f6faff;
    --md-ref-palette-neutral-variant-99: #fbfcff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
