:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000312;
    --md-ref-palette-primary-2: #00061d;
    --md-ref-palette-primary-3: #000925;
    --md-ref-palette-primary-4: #000c2b;
    --md-ref-palette-primary-5: #000f31;
    --md-ref-palette-primary-10: #001847;
    --md-ref-palette-primary-20: #002c72;
    --md-ref-palette-primary-30: #234389;
    --md-ref-palette-primary-40: #3e5ca3;
    --md-ref-palette-primary-50: #5775be;
    --md-ref-palette-primary-60: #728fd9;
    --md-ref-palette-primary-70: #8ca9f6;
    --md-ref-palette-primary-80: #b1c5ff;
    --md-ref-palette-primary-90: #dae2ff;
    --md-ref-palette-primary-95: #eef0ff;
    --md-ref-palette-primary-96: #f2f3ff;
    --md-ref-palette-primary-97: #f6f6ff;
    --md-ref-palette-primary-98: #faf8ff;
    --md-ref-palette-primary-99: #fefbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000312;
    --md-ref-palette-secondary-2: #00061d;
    --md-ref-palette-secondary-3: #010923;
    --md-ref-palette-secondary-4: #030d27;
    --md-ref-palette-secondary-5: #051029;
    --md-ref-palette-secondary-10: #101b35;
    --md-ref-palette-secondary-20: #25304b;
    --md-ref-palette-secondary-30: #3c4662;
    --md-ref-palette-secondary-40: #535e7b;
    --md-ref-palette-secondary-50: #6c7695;
    --md-ref-palette-secondary-60: #8690b0;
    --md-ref-palette-secondary-70: #a0aacb;
    --md-ref-palette-secondary-80: #bbc6e8;
    --md-ref-palette-secondary-90: #dae2ff;
    --md-ref-palette-secondary-95: #eef0ff;
    --md-ref-palette-secondary-96: #f2f3ff;
    --md-ref-palette-secondary-97: #f6f6ff;
    --md-ref-palette-secondary-98: #faf8ff;
    --md-ref-palette-secondary-99: #fefbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0a0012;
    --md-ref-palette-tertiary-2: #13001c;
    --md-ref-palette-tertiary-3: #190024;
    --md-ref-palette-tertiary-4: #1e002b;
    --md-ref-palette-tertiary-5: #220030;
    --md-ref-palette-tertiary-10: #320046;
    --md-ref-palette-tertiary-20: #4a195d;
    --md-ref-palette-tertiary-30: #633276;
    --md-ref-palette-tertiary-40: #7d4a90;
    --md-ref-palette-tertiary-50: #9863aa;
    --md-ref-palette-tertiary-60: #b47cc6;
    --md-ref-palette-tertiary-70: #d096e2;
    --md-ref-palette-tertiary-80: #edb1ff;
    --md-ref-palette-tertiary-90: #f9d8ff;
    --md-ref-palette-tertiary-95: #feebff;
    --md-ref-palette-tertiary-96: #ffeffe;
    --md-ref-palette-tertiary-97: #fff3fd;
    --md-ref-palette-tertiary-98: #fff7fb;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030406;
    --md-ref-palette-neutral-2: #06070b;
    --md-ref-palette-neutral-3: #090b0f;
    --md-ref-palette-neutral-4: #0d0e13;
    --md-ref-palette-neutral-5: #0f1115;
    --md-ref-palette-neutral-10: #1a1b20;
    --md-ref-palette-neutral-20: #2f3035;
    --md-ref-palette-neutral-30: #46464c;
    --md-ref-palette-neutral-40: #5d5e64;
    --md-ref-palette-neutral-50: #76777c;
    --md-ref-palette-neutral-60: #909096;
    --md-ref-palette-neutral-70: #ababb1;
    --md-ref-palette-neutral-80: #c6c6cc;
    --md-ref-palette-neutral-90: #e3e2e8;
    --md-ref-palette-neutral-95: #f1f0f7;
    --md-ref-palette-neutral-96: #f4f3fa;
    --md-ref-palette-neutral-97: #f7f6fc;
    --md-ref-palette-neutral-98: #faf8ff;
    --md-ref-palette-neutral-99: #fefbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #02040a;
    --md-ref-palette-neutral-variant-2: #05070f;
    --md-ref-palette-neutral-variant-3: #080b13;
    --md-ref-palette-neutral-variant-4: #0b0e17;
    --md-ref-palette-neutral-variant-5: #0e1119;
    --md-ref-palette-neutral-variant-10: #181b24;
    --md-ref-palette-neutral-variant-20: #2d303a;
    --md-ref-palette-neutral-variant-30: #444651;
    --md-ref-palette-neutral-variant-40: #5b5e69;
    --md-ref-palette-neutral-variant-50: #747782;
    --md-ref-palette-neutral-variant-60: #8e909c;
    --md-ref-palette-neutral-variant-70: #a9abb7;
    --md-ref-palette-neutral-variant-80: #c4c6d2;
    --md-ref-palette-neutral-variant-90: #e0e2ef;
    --md-ref-palette-neutral-variant-95: #eff0fd;
    --md-ref-palette-neutral-variant-96: #f2f3ff;
    --md-ref-palette-neutral-variant-97: #f6f6ff;
    --md-ref-palette-neutral-variant-98: #faf8ff;
    --md-ref-palette-neutral-variant-99: #fefbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}