:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000312;
    --md-ref-palette-primary-2: #00061c;
    --md-ref-palette-primary-3: #020a1f;
    --md-ref-palette-primary-4: #040d23;
    --md-ref-palette-primary-5: #071025;
    --md-ref-palette-primary-10: #121b31;
    --md-ref-palette-primary-20: #273047;
    --md-ref-palette-primary-30: #3d465e;
    --md-ref-palette-primary-40: #555e77;
    --md-ref-palette-primary-50: #6e7791;
    --md-ref-palette-primary-60: #8790ab;
    --md-ref-palette-primary-70: #a2abc7;
    --md-ref-palette-primary-80: #bdc6e3;
    --md-ref-palette-primary-90: #d9e2ff;
    --md-ref-palette-primary-95: #eef0ff;
    --md-ref-palette-primary-96: #f2f3ff;
    --md-ref-palette-primary-97: #f6f6ff;
    --md-ref-palette-primary-98: #faf8ff;
    --md-ref-palette-primary-99: #fefbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #02040a;
    --md-ref-palette-secondary-2: #05070f;
    --md-ref-palette-secondary-3: #080b13;
    --md-ref-palette-secondary-4: #0b0e17;
    --md-ref-palette-secondary-5: #0d111a;
    --md-ref-palette-secondary-10: #181b25;
    --md-ref-palette-secondary-20: #2d303a;
    --md-ref-palette-secondary-30: #434651;
    --md-ref-palette-secondary-40: #5b5e69;
    --md-ref-palette-secondary-50: #747782;
    --md-ref-palette-secondary-60: #8e909c;
    --md-ref-palette-secondary-70: #a8abb7;
    --md-ref-palette-secondary-80: #c4c6d3;
    --md-ref-palette-secondary-90: #e0e2ef;
    --md-ref-palette-secondary-95: #eef0fd;
    --md-ref-palette-secondary-96: #f2f3ff;
    --md-ref-palette-secondary-97: #f6f6ff;
    --md-ref-palette-secondary-98: #faf8ff;
    --md-ref-palette-secondary-99: #fefbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0c000b;
    --md-ref-palette-tertiary-2: #130211;
    --md-ref-palette-tertiary-3: #170415;
    --md-ref-palette-tertiary-4: #1b0718;
    --md-ref-palette-tertiary-5: #1e091b;
    --md-ref-palette-tertiary-10: #2a1426;
    --md-ref-palette-tertiary-20: #40293c;
    --md-ref-palette-tertiary-30: #593f53;
    --md-ref-palette-tertiary-40: #72566b;
    --md-ref-palette-tertiary-50: #8c6e84;
    --md-ref-palette-tertiary-60: #a7879e;
    --md-ref-palette-tertiary-70: #c3a1b9;
    --md-ref-palette-tertiary-80: #dfbcd5;
    --md-ref-palette-tertiary-90: #fdd8f1;
    --md-ref-palette-tertiary-95: #ffebf7;
    --md-ref-palette-tertiary-96: #ffeff7;
    --md-ref-palette-tertiary-97: #fff3f8;
    --md-ref-palette-tertiary-98: #fff7f9;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #030405;
    --md-ref-palette-neutral-2: #070709;
    --md-ref-palette-neutral-3: #0b0b0d;
    --md-ref-palette-neutral-4: #0e0e10;
    --md-ref-palette-neutral-5: #111113;
    --md-ref-palette-neutral-10: #1b1b1d;
    --md-ref-palette-neutral-20: #303032;
    --md-ref-palette-neutral-30: #474648;
    --md-ref-palette-neutral-40: #5f5e60;
    --md-ref-palette-neutral-50: #787779;
    --md-ref-palette-neutral-60: #929092;
    --md-ref-palette-neutral-70: #acaaad;
    --md-ref-palette-neutral-80: #c8c6c8;
    --md-ref-palette-neutral-90: #e4e2e4;
    --md-ref-palette-neutral-95: #f3f0f2;
    --md-ref-palette-neutral-96: #f6f3f5;
    --md-ref-palette-neutral-97: #f9f6f8;
    --md-ref-palette-neutral-98: #fbf8fb;
    --md-ref-palette-neutral-99: #fefbfe;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #030407;
    --md-ref-palette-neutral-variant-2: #06070c;
    --md-ref-palette-neutral-variant-3: #090b10;
    --md-ref-palette-neutral-variant-4: #0c0e13;
    --md-ref-palette-neutral-variant-5: #0f1116;
    --md-ref-palette-neutral-variant-10: #1a1b21;
    --md-ref-palette-neutral-variant-20: #2f3036;
    --md-ref-palette-neutral-variant-30: #45464d;
    --md-ref-palette-neutral-variant-40: #5d5e65;
    --md-ref-palette-neutral-variant-50: #76777e;
    --md-ref-palette-neutral-variant-60: #909097;
    --md-ref-palette-neutral-variant-70: #aaabb2;
    --md-ref-palette-neutral-variant-80: #c6c6cd;
    --md-ref-palette-neutral-variant-90: #e2e2ea;
    --md-ref-palette-neutral-variant-95: #f0f0f8;
    --md-ref-palette-neutral-variant-96: #f3f3fb;
    --md-ref-palette-neutral-variant-97: #f6f6fe;
    --md-ref-palette-neutral-variant-98: #faf8ff;
    --md-ref-palette-neutral-variant-99: #fefbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
