:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #05001a;
    --md-ref-palette-primary-2: #0b0028;
    --md-ref-palette-primary-3: #0f0032;
    --md-ref-palette-primary-4: #13003a;
    --md-ref-palette-primary-5: #160041;
    --md-ref-palette-primary-10: #23005c;
    --md-ref-palette-primary-20: #3c0091;
    --md-ref-palette-primary-30: #5600ca;
    --md-ref-palette-primary-40: #6f32e5;
    --md-ref-palette-primary-50: #8851ff;
    --md-ref-palette-primary-60: #a078ff;
    --md-ref-palette-primary-70: #b89bff;
    --md-ref-palette-primary-80: #d0bcff;
    --md-ref-palette-primary-90: #e9ddff;
    --md-ref-palette-primary-95: #f6edff;
    --md-ref-palette-primary-96: #f8f1ff;
    --md-ref-palette-primary-97: #fbf4ff;
    --md-ref-palette-primary-98: #fef7ff;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #05001a;
    --md-ref-palette-secondary-2: #0b0028;
    --md-ref-palette-secondary-3: #0f0032;
    --md-ref-palette-secondary-4: #13003a;
    --md-ref-palette-secondary-5: #160041;
    --md-ref-palette-secondary-10: #230259;
    --md-ref-palette-secondary-20: #38206e;
    --md-ref-palette-secondary-30: #4f3886;
    --md-ref-palette-secondary-40: #6850a0;
    --md-ref-palette-secondary-50: #8169bb;
    --md-ref-palette-secondary-60: #9b83d7;
    --md-ref-palette-secondary-70: #b69df4;
    --md-ref-palette-secondary-80: #d0bcff;
    --md-ref-palette-secondary-90: #e9ddff;
    --md-ref-palette-secondary-95: #f6edff;
    --md-ref-palette-secondary-96: #f8f1ff;
    --md-ref-palette-secondary-97: #fbf4ff;
    --md-ref-palette-secondary-98: #fef7ff;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0e000a;
    --md-ref-palette-tertiary-2: #170012;
    --md-ref-palette-tertiary-3: #1e0017;
    --md-ref-palette-tertiary-4: #23001c;
    --md-ref-palette-tertiary-5: #280020;
    --md-ref-palette-tertiary-10: #3a0030;
    --md-ref-palette-tertiary-20: #5f0050;
    --md-ref-palette-tertiary-30: #860071;
    --md-ref-palette-tertiary-40: #ab1691;
    --md-ref-palette-tertiary-50: #ca38ac;
    --md-ref-palette-tertiary-60: #ea55c8;
    --md-ref-palette-tertiary-70: #ff7cdc;
    --md-ref-palette-tertiary-80: #ffade4;
    --md-ref-palette-tertiary-90: #ffd7ee;
    --md-ref-palette-tertiary-95: #ffecf5;
    --md-ref-palette-tertiary-96: #fff0f6;
    --md-ref-palette-tertiary-97: #fff4f7;
    --md-ref-palette-tertiary-98: #fff8f9;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040309;
    --md-ref-palette-neutral-2: #08060f;
    --md-ref-palette-neutral-3: #0c0913;
    --md-ref-palette-neutral-4: #0f0d16;
    --md-ref-palette-neutral-5: #120f19;
    --md-ref-palette-neutral-10: #1d1a24;
    --md-ref-palette-neutral-20: #322f39;
    --md-ref-palette-neutral-30: #494550;
    --md-ref-palette-neutral-40: #615c68;
    --md-ref-palette-neutral-50: #7a7581;
    --md-ref-palette-neutral-60: #948e9b;
    --md-ref-palette-neutral-70: #afa9b6;
    --md-ref-palette-neutral-80: #cbc4d2;
    --md-ref-palette-neutral-90: #e7e0ee;
    --md-ref-palette-neutral-95: #f6eefc;
    --md-ref-palette-neutral-96: #f8f1ff;
    --md-ref-palette-neutral-97: #fbf4ff;
    --md-ref-palette-neutral-98: #fef7ff;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #05020e;
    --md-ref-palette-neutral-variant-2: #090513;
    --md-ref-palette-neutral-variant-3: #0d0917;
    --md-ref-palette-neutral-variant-4: #100c1a;
    --md-ref-palette-neutral-variant-5: #130f1d;
    --md-ref-palette-neutral-variant-10: #1e1928;
    --md-ref-palette-neutral-variant-20: #332e3e;
    --md-ref-palette-neutral-variant-30: #4a4455;
    --md-ref-palette-neutral-variant-40: #625b6d;
    --md-ref-palette-neutral-variant-50: #7b7487;
    --md-ref-palette-neutral-variant-60: #958da1;
    --md-ref-palette-neutral-variant-70: #b0a8bc;
    --md-ref-palette-neutral-variant-80: #cbc3d8;
    --md-ref-palette-neutral-variant-90: #e8dff4;
    --md-ref-palette-neutral-variant-95: #f6edff;
    --md-ref-palette-neutral-variant-96: #f8f1ff;
    --md-ref-palette-neutral-variant-97: #fbf4ff;
    --md-ref-palette-neutral-variant-98: #fef7ff;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}