:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #0c000e;
    --md-ref-palette-primary-2: #150018;
    --md-ref-palette-primary-3: #1b001f;
    --md-ref-palette-primary-4: #1f0222;
    --md-ref-palette-primary-5: #220425;
    --md-ref-palette-primary-10: #2e0e30;
    --md-ref-palette-primary-20: #462447;
    --md-ref-palette-primary-30: #5e3a5e;
    --md-ref-palette-primary-40: #785177;
    --md-ref-palette-primary-50: #936a91;
    --md-ref-palette-primary-60: #ae83ac;
    --md-ref-palette-primary-70: #ca9dc7;
    --md-ref-palette-primary-80: #e7b8e3;
    --md-ref-palette-primary-90: #ffd6fa;
    --md-ref-palette-primary-95: #ffebfa;
    --md-ref-palette-primary-96: #ffeffa;
    --md-ref-palette-primary-97: #fff3fa;
    --md-ref-palette-primary-98: #fff7fa;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #09010a;
    --md-ref-palette-secondary-2: #0f040f;
    --md-ref-palette-secondary-3: #130713;
    --md-ref-palette-secondary-4: #170917;
    --md-ref-palette-secondary-5: #1a0c1a;
    --md-ref-palette-secondary-10: #251725;
    --md-ref-palette-secondary-20: #3b2b3a;
    --md-ref-palette-secondary-30: #534151;
    --md-ref-palette-secondary-40: #6b5969;
    --md-ref-palette-secondary-50: #857182;
    --md-ref-palette-secondary-60: #a08a9c;
    --md-ref-palette-secondary-70: #bba5b7;
    --md-ref-palette-secondary-80: #d7bfd3;
    --md-ref-palette-secondary-90: #f4dbef;
    --md-ref-palette-secondary-95: #ffebfa;
    --md-ref-palette-secondary-96: #ffeffa;
    --md-ref-palette-secondary-97: #fff3fa;
    --md-ref-palette-secondary-98: #fff7fa;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #100001;
    --md-ref-palette-tertiary-2: #1a0003;
    --md-ref-palette-tertiary-3: #210005;
    --md-ref-palette-tertiary-4: #250107;
    --md-ref-palette-tertiary-5: #290309;
    --md-ref-palette-tertiary-10: #370c13;
    --md-ref-palette-tertiary-20: #522127;
    --md-ref-palette-tertiary-30: #6d363c;
    --md-ref-palette-tertiary-40: #894d53;
    --md-ref-palette-tertiary-50: #a5656b;
    --md-ref-palette-tertiary-60: #c27e84;
    --md-ref-palette-tertiary-70: #e0989e;
    --md-ref-palette-tertiary-80: #ffb2b8;
    --md-ref-palette-tertiary-90: #ffdadb;
    --md-ref-palette-tertiary-95: #ffeced;
    --md-ref-palette-tertiary-96: #fff0f0;
    --md-ref-palette-tertiary-97: #fff4f4;
    --md-ref-palette-tertiary-98: #fff8f7;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050305;
    --md-ref-palette-neutral-2: #090709;
    --md-ref-palette-neutral-3: #0d0a0d;
    --md-ref-palette-neutral-4: #100d10;
    --md-ref-palette-neutral-5: #131013;
    --md-ref-palette-neutral-10: #1e1a1d;
    --md-ref-palette-neutral-20: #332f32;
    --md-ref-palette-neutral-30: #4a4548;
    --md-ref-palette-neutral-40: #625d60;
    --md-ref-palette-neutral-50: #7b7579;
    --md-ref-palette-neutral-60: #958f92;
    --md-ref-palette-neutral-70: #b0a9ad;
    --md-ref-palette-neutral-80: #ccc4c8;
    --md-ref-palette-neutral-90: #e9e0e4;
    --md-ref-palette-neutral-95: #f7eef2;
    --md-ref-palette-neutral-96: #faf1f5;
    --md-ref-palette-neutral-97: #fdf4f8;
    --md-ref-palette-neutral-98: #fff7fa;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #060306;
    --md-ref-palette-neutral-variant-2: #0b060b;
    --md-ref-palette-neutral-variant-3: #0f090f;
    --md-ref-palette-neutral-variant-4: #130c12;
    --md-ref-palette-neutral-variant-5: #150f15;
    --md-ref-palette-neutral-variant-10: #211920;
    --md-ref-palette-neutral-variant-20: #362e35;
    --md-ref-palette-neutral-variant-30: #4d444b;
    --md-ref-palette-neutral-variant-40: #655b63;
    --md-ref-palette-neutral-variant-50: #7f747c;
    --md-ref-palette-neutral-variant-60: #998d96;
    --md-ref-palette-neutral-variant-70: #b4a8b0;
    --md-ref-palette-neutral-variant-80: #d0c3cc;
    --md-ref-palette-neutral-variant-90: #eddfe8;
    --md-ref-palette-neutral-variant-95: #fbedf6;
    --md-ref-palette-neutral-variant-96: #fef0f9;
    --md-ref-palette-neutral-variant-97: #fff3fa;
    --md-ref-palette-neutral-variant-98: #fff7fa;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}