:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #0f0004;
    --md-ref-palette-primary-2: #190008;
    --md-ref-palette-primary-3: #20000c;
    --md-ref-palette-primary-4: #26000f;
    --md-ref-palette-primary-5: #2a0112;
    --md-ref-palette-primary-6: #2d0214;
    --md-ref-palette-primary-7: #300417;
    --md-ref-palette-primary-8: #330519;
    --md-ref-palette-primary-9: #36071b;
    --md-ref-palette-primary-10: #38091d;
    --md-ref-palette-primary-11: #3b0b1f;
    --md-ref-palette-primary-12: #3d0d21;
    --md-ref-palette-primary-13: #401023;
    --md-ref-palette-primary-14: #421225;
    --md-ref-palette-primary-15: #451427;
    --md-ref-palette-primary-16: #481629;
    --md-ref-palette-primary-17: #4a182b;
    --md-ref-palette-primary-18: #4d1a2d;
    --md-ref-palette-primary-19: #501c30;
    --md-ref-palette-primary-20: #521e32;
    --md-ref-palette-primary-21: #552134;
    --md-ref-palette-primary-22: #582336;
    --md-ref-palette-primary-23: #5a2538;
    --md-ref-palette-primary-24: #5d273b;
    --md-ref-palette-primary-25: #60293d;
    --md-ref-palette-primary-26: #622c3f;
    --md-ref-palette-primary-27: #652e41;
    --md-ref-palette-primary-28: #683044;
    --md-ref-palette-primary-29: #6b3246;
    --md-ref-palette-primary-30: #6d3448;
    --md-ref-palette-primary-31: #70374a;
    --md-ref-palette-primary-32: #73394d;
    --md-ref-palette-primary-33: #763b4f;
    --md-ref-palette-primary-34: #783e51;
    --md-ref-palette-primary-35: #7b4054;
    --md-ref-palette-primary-36: #7e4256;
    --md-ref-palette-primary-37: #814459;
    --md-ref-palette-primary-38: #83475b;
    --md-ref-palette-primary-39: #86495d;
    --md-ref-palette-primary-40: #894b60;
    --md-ref-palette-primary-41: #8c4e62;
    --md-ref-palette-primary-42: #8f5065;
    --md-ref-palette-primary-43: #915367;
    --md-ref-palette-primary-44: #945569;
    --md-ref-palette-primary-45: #97576c;
    --md-ref-palette-primary-46: #9a5a6e;
    --md-ref-palette-primary-47: #9d5c71;
    --md-ref-palette-primary-48: #a05f73;
    --md-ref-palette-primary-49: #a36176;
    --md-ref-palette-primary-50: #a56378;
    --md-ref-palette-primary-51: #a8667b;
    --md-ref-palette-primary-52: #ab687d;
    --md-ref-palette-primary-53: #ae6b80;
    --md-ref-palette-primary-54: #b16d83;
    --md-ref-palette-primary-55: #b47085;
    --md-ref-palette-primary-56: #b77288;
    --md-ref-palette-primary-57: #ba758a;
    --md-ref-palette-primary-58: #bd778d;
    --md-ref-palette-primary-59: #c07a8f;
    --md-ref-palette-primary-60: #c37c92;
    --md-ref-palette-primary-61: #c67f95;
    --md-ref-palette-primary-62: #c88197;
    --md-ref-palette-primary-63: #cb849a;
    --md-ref-palette-primary-64: #ce879d;
    --md-ref-palette-primary-65: #d1899f;
    --md-ref-palette-primary-66: #d48ca2;
    --md-ref-palette-primary-67: #d78ea4;
    --md-ref-palette-primary-68: #da91a7;
    --md-ref-palette-primary-69: #dd94aa;
    --md-ref-palette-primary-70: #e096ac;
    --md-ref-palette-primary-71: #e399af;
    --md-ref-palette-primary-72: #e69bb2;
    --md-ref-palette-primary-73: #e99eb5;
    --md-ref-palette-primary-74: #eca1b7;
    --md-ref-palette-primary-75: #efa3ba;
    --md-ref-palette-primary-76: #f2a6bd;
    --md-ref-palette-primary-77: #f5a9bf;
    --md-ref-palette-primary-78: #f9abc2;
    --md-ref-palette-primary-79: #fcaec5;
    --md-ref-palette-primary-80: #ffb1c8;
    --md-ref-palette-primary-81: #ffb5ca;
    --md-ref-palette-primary-82: #ffb9cd;
    --md-ref-palette-primary-83: #ffbdd0;
    --md-ref-palette-primary-84: #ffc1d2;
    --md-ref-palette-primary-85: #ffc5d5;
    --md-ref-palette-primary-86: #ffc9d7;
    --md-ref-palette-primary-87: #ffcdda;
    --md-ref-palette-primary-88: #ffd1dd;
    --md-ref-palette-primary-89: #ffd5df;
    --md-ref-palette-primary-90: #ffd9e2;
    --md-ref-palette-primary-91: #ffdde5;
    --md-ref-palette-primary-92: #ffe1e7;
    --md-ref-palette-primary-93: #ffe4ea;
    --md-ref-palette-primary-94: #ffe8ed;
    --md-ref-palette-primary-95: #ffecef;
    --md-ref-palette-primary-96: #fff0f2;
    --md-ref-palette-primary-97: #fff4f5;
    --md-ref-palette-primary-98: #fff8f8;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #0d0104;
    --md-ref-palette-secondary-2: #130308;
    --md-ref-palette-secondary-3: #18050b;
    --md-ref-palette-secondary-4: #1c080f;
    --md-ref-palette-secondary-5: #1f0a11;
    --md-ref-palette-secondary-6: #220c14;
    --md-ref-palette-secondary-7: #250f16;
    --md-ref-palette-secondary-8: #271118;
    --md-ref-palette-secondary-9: #29131a;
    --md-ref-palette-secondary-10: #2b151c;
    --md-ref-palette-secondary-11: #2e171e;
    --md-ref-palette-secondary-12: #301820;
    --md-ref-palette-secondary-13: #321a22;
    --md-ref-palette-secondary-14: #351d24;
    --md-ref-palette-secondary-15: #371f26;
    --md-ref-palette-secondary-16: #392128;
    --md-ref-palette-secondary-17: #3c232a;
    --md-ref-palette-secondary-18: #3e252d;
    --md-ref-palette-secondary-19: #40272f;
    --md-ref-palette-secondary-20: #432931;
    --md-ref-palette-secondary-21: #452b33;
    --md-ref-palette-secondary-22: #482d35;
    --md-ref-palette-secondary-23: #4a2f37;
    --md-ref-palette-secondary-24: #4d323a;
    --md-ref-palette-secondary-25: #4f343c;
    --md-ref-palette-secondary-26: #51363e;
    --md-ref-palette-secondary-27: #543840;
    --md-ref-palette-secondary-28: #563a43;
    --md-ref-palette-secondary-29: #593d45;
    --md-ref-palette-secondary-30: #5b3f47;
    --md-ref-palette-secondary-31: #5e4149;
    --md-ref-palette-secondary-32: #60434c;
    --md-ref-palette-secondary-33: #63464e;
    --md-ref-palette-secondary-34: #664850;
    --md-ref-palette-secondary-35: #684a53;
    --md-ref-palette-secondary-36: #6b4d55;
    --md-ref-palette-secondary-37: #6d4f57;
    --md-ref-palette-secondary-38: #70515a;
    --md-ref-palette-secondary-39: #72545c;
    --md-ref-palette-secondary-40: #75565f;
    --md-ref-palette-secondary-41: #785861;
    --md-ref-palette-secondary-42: #7a5b63;
    --md-ref-palette-secondary-43: #7d5d66;
    --md-ref-palette-secondary-44: #806068;
    --md-ref-palette-secondary-45: #82626b;
    --md-ref-palette-secondary-46: #85646d;
    --md-ref-palette-secondary-47: #886770;
    --md-ref-palette-secondary-48: #8a6972;
    --md-ref-palette-secondary-49: #8d6c75;
    --md-ref-palette-secondary-50: #906e77;
    --md-ref-palette-secondary-51: #92717a;
    --md-ref-palette-secondary-52: #95737c;
    --md-ref-palette-secondary-53: #98767f;
    --md-ref-palette-secondary-54: #9a7881;
    --md-ref-palette-secondary-55: #9d7b84;
    --md-ref-palette-secondary-56: #a07d86;
    --md-ref-palette-secondary-57: #a38089;
    --md-ref-palette-secondary-58: #a5828c;
    --md-ref-palette-secondary-59: #a8858e;
    --md-ref-palette-secondary-60: #ab8791;
    --md-ref-palette-secondary-61: #ae8a93;
    --md-ref-palette-secondary-62: #b18d96;
    --md-ref-palette-secondary-63: #b38f99;
    --md-ref-palette-secondary-64: #b6929b;
    --md-ref-palette-secondary-65: #b9949e;
    --md-ref-palette-secondary-66: #bc97a0;
    --md-ref-palette-secondary-67: #bf9aa3;
    --md-ref-palette-secondary-68: #c19ca6;
    --md-ref-palette-secondary-69: #c49fa8;
    --md-ref-palette-secondary-70: #c7a1ab;
    --md-ref-palette-secondary-71: #caa4ae;
    --md-ref-palette-secondary-72: #cda7b0;
    --md-ref-palette-secondary-73: #d0a9b3;
    --md-ref-palette-secondary-74: #d3acb6;
    --md-ref-palette-secondary-75: #d5afb9;
    --md-ref-palette-secondary-76: #d8b1bb;
    --md-ref-palette-secondary-77: #dbb4be;
    --md-ref-palette-secondary-78: #deb7c1;
    --md-ref-palette-secondary-79: #e1bac4;
    --md-ref-palette-secondary-80: #e4bcc6;
    --md-ref-palette-secondary-81: #e7bfc9;
    --md-ref-palette-secondary-82: #eac2cc;
    --md-ref-palette-secondary-83: #edc5cf;
    --md-ref-palette-secondary-84: #f0c7d1;
    --md-ref-palette-secondary-85: #f3cad4;
    --md-ref-palette-secondary-86: #f6cdd7;
    --md-ref-palette-secondary-87: #f9d0da;
    --md-ref-palette-secondary-88: #fbd2dd;
    --md-ref-palette-secondary-89: #fed5df;
    --md-ref-palette-secondary-90: #ffd9e2;
    --md-ref-palette-secondary-91: #ffdde5;
    --md-ref-palette-secondary-92: #ffe1e7;
    --md-ref-palette-secondary-93: #ffe4ea;
    --md-ref-palette-secondary-94: #ffe8ed;
    --md-ref-palette-secondary-95: #ffecef;
    --md-ref-palette-secondary-96: #fff0f2;
    --md-ref-palette-secondary-97: #fff4f5;
    --md-ref-palette-secondary-98: #fff8f8;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #090200;
    --md-ref-palette-tertiary-2: #100500;
    --md-ref-palette-tertiary-3: #160700;
    --md-ref-palette-tertiary-4: #1b0a00;
    --md-ref-palette-tertiary-5: #1e0c00;
    --md-ref-palette-tertiary-6: #220e00;
    --md-ref-palette-tertiary-7: #251000;
    --md-ref-palette-tertiary-8: #281200;
    --md-ref-palette-tertiary-9: #2b1400;
    --md-ref-palette-tertiary-10: #2e1500;
    --md-ref-palette-tertiary-11: #311700;
    --md-ref-palette-tertiary-12: #341900;
    --md-ref-palette-tertiary-13: #371b00;
    --md-ref-palette-tertiary-14: #3a1c00;
    --md-ref-palette-tertiary-15: #3d1e00;
    --md-ref-palette-tertiary-16: #402000;
    --md-ref-palette-tertiary-17: #432200;
    --md-ref-palette-tertiary-18: #462300;
    --md-ref-palette-tertiary-19: #492500;
    --md-ref-palette-tertiary-20: #4c2700;
    --md-ref-palette-tertiary-21: #4f2900;
    --md-ref-palette-tertiary-22: #522b00;
    --md-ref-palette-tertiary-23: #552d00;
    --md-ref-palette-tertiary-24: #592f00;
    --md-ref-palette-tertiary-25: #5c3100;
    --md-ref-palette-tertiary-26: #5e3302;
    --md-ref-palette-tertiary-27: #613504;
    --md-ref-palette-tertiary-28: #643706;
    --md-ref-palette-tertiary-29: #673908;
    --md-ref-palette-tertiary-30: #693c0a;
    --md-ref-palette-tertiary-31: #6c3e0d;
    --md-ref-palette-tertiary-32: #6f400f;
    --md-ref-palette-tertiary-33: #724212;
    --md-ref-palette-tertiary-34: #754514;
    --md-ref-palette-tertiary-35: #774716;
    --md-ref-palette-tertiary-36: #7a4918;
    --md-ref-palette-tertiary-37: #7d4c1a;
    --md-ref-palette-tertiary-38: #804e1d;
    --md-ref-palette-tertiary-39: #83501f;
    --md-ref-palette-tertiary-40: #855321;
    --md-ref-palette-tertiary-41: #885523;
    --md-ref-palette-tertiary-42: #8b5725;
    --md-ref-palette-tertiary-43: #8e5a28;
    --md-ref-palette-tertiary-44: #915c2a;
    --md-ref-palette-tertiary-45: #945e2c;
    --md-ref-palette-tertiary-46: #97612e;
    --md-ref-palette-tertiary-47: #9a6330;
    --md-ref-palette-tertiary-48: #9c6633;
    --md-ref-palette-tertiary-49: #9f6835;
    --md-ref-palette-tertiary-50: #a26b37;
    --md-ref-palette-tertiary-51: #a56d39;
    --md-ref-palette-tertiary-52: #a8703b;
    --md-ref-palette-tertiary-53: #ab723e;
    --md-ref-palette-tertiary-54: #ae7540;
    --md-ref-palette-tertiary-55: #b17742;
    --md-ref-palette-tertiary-56: #b47a44;
    --md-ref-palette-tertiary-57: #b77c47;
    --md-ref-palette-tertiary-58: #ba7f49;
    --md-ref-palette-tertiary-59: #bd814b;
    --md-ref-palette-tertiary-60: #c0844e;
    --md-ref-palette-tertiary-61: #c38650;
    --md-ref-palette-tertiary-62: #c68952;
    --md-ref-palette-tertiary-63: #c98b55;
    --md-ref-palette-tertiary-64: #cc8e57;
    --md-ref-palette-tertiary-65: #cf9159;
    --md-ref-palette-tertiary-66: #d2935c;
    --md-ref-palette-tertiary-67: #d5965e;
    --md-ref-palette-tertiary-68: #d89860;
    --md-ref-palette-tertiary-69: #db9b63;
    --md-ref-palette-tertiary-70: #de9e65;
    --md-ref-palette-tertiary-71: #e1a068;
    --md-ref-palette-tertiary-72: #e4a36a;
    --md-ref-palette-tertiary-73: #e7a66c;
    --md-ref-palette-tertiary-74: #eaa86f;
    --md-ref-palette-tertiary-75: #edab71;
    --md-ref-palette-tertiary-76: #f0ae74;
    --md-ref-palette-tertiary-77: #f3b076;
    --md-ref-palette-tertiary-78: #f6b379;
    --md-ref-palette-tertiary-79: #f9b67b;
    --md-ref-palette-tertiary-80: #fcb87d;
    --md-ref-palette-tertiary-81: #ffbb81;
    --md-ref-palette-tertiary-82: #ffbf88;
    --md-ref-palette-tertiary-83: #ffc390;
    --md-ref-palette-tertiary-84: #ffc697;
    --md-ref-palette-tertiary-85: #ffca9e;
    --md-ref-palette-tertiary-86: #ffcea6;
    --md-ref-palette-tertiary-87: #ffd1ad;
    --md-ref-palette-tertiary-88: #ffd5b4;
    --md-ref-palette-tertiary-89: #ffd8ba;
    --md-ref-palette-tertiary-90: #ffdcc1;
    --md-ref-palette-tertiary-91: #ffe0c8;
    --md-ref-palette-tertiary-92: #ffe3ce;
    --md-ref-palette-tertiary-93: #ffe7d5;
    --md-ref-palette-tertiary-94: #ffeadb;
    --md-ref-palette-tertiary-95: #ffeee2;
    --md-ref-palette-tertiary-96: #fff1e8;
    --md-ref-palette-tertiary-97: #fff4ef;
    --md-ref-palette-tertiary-98: #fff8f5;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #060304;
    --md-ref-palette-neutral-2: #0b0607;
    --md-ref-palette-neutral-3: #0f0a0b;
    --md-ref-palette-neutral-4: #120d0e;
    --md-ref-palette-neutral-5: #151011;
    --md-ref-palette-neutral-6: #171213;
    --md-ref-palette-neutral-7: #1a1415;
    --md-ref-palette-neutral-8: #1c1617;
    --md-ref-palette-neutral-9: #1e1819;
    --md-ref-palette-neutral-10: #201a1b;
    --md-ref-palette-neutral-11: #221c1d;
    --md-ref-palette-neutral-12: #241e1f;
    --md-ref-palette-neutral-13: #262021;
    --md-ref-palette-neutral-14: #282223;
    --md-ref-palette-neutral-15: #2b2426;
    --md-ref-palette-neutral-16: #2d2628;
    --md-ref-palette-neutral-17: #2f282a;
    --md-ref-palette-neutral-18: #312a2c;
    --md-ref-palette-neutral-19: #332d2e;
    --md-ref-palette-neutral-20: #352f30;
    --md-ref-palette-neutral-21: #383132;
    --md-ref-palette-neutral-22: #3a3334;
    --md-ref-palette-neutral-23: #3c3537;
    --md-ref-palette-neutral-24: #3e3739;
    --md-ref-palette-neutral-25: #413a3b;
    --md-ref-palette-neutral-26: #433c3d;
    --md-ref-palette-neutral-27: #453e40;
    --md-ref-palette-neutral-28: #484042;
    --md-ref-palette-neutral-29: #4a4344;
    --md-ref-palette-neutral-30: #4c4546;
    --md-ref-palette-neutral-31: #4f4749;
    --md-ref-palette-neutral-32: #51494b;
    --md-ref-palette-neutral-33: #544c4d;
    --md-ref-palette-neutral-34: #564e50;
    --md-ref-palette-neutral-35: #585052;
    --md-ref-palette-neutral-36: #5b5354;
    --md-ref-palette-neutral-37: #5d5557;
    --md-ref-palette-neutral-38: #605759;
    --md-ref-palette-neutral-39: #625a5b;
    --md-ref-palette-neutral-40: #655c5e;
    --md-ref-palette-neutral-41: #675f60;
    --md-ref-palette-neutral-42: #6a6163;
    --md-ref-palette-neutral-43: #6c6365;
    --md-ref-palette-neutral-44: #6f6667;
    --md-ref-palette-neutral-45: #71686a;
    --md-ref-palette-neutral-46: #746b6c;
    --md-ref-palette-neutral-47: #766d6f;
    --md-ref-palette-neutral-48: #797071;
    --md-ref-palette-neutral-49: #7b7274;
    --md-ref-palette-neutral-50: #7e7576;
    --md-ref-palette-neutral-51: #817779;
    --md-ref-palette-neutral-52: #837a7b;
    --md-ref-palette-neutral-53: #867c7e;
    --md-ref-palette-neutral-54: #887f80;
    --md-ref-palette-neutral-55: #8b8183;
    --md-ref-palette-neutral-56: #8e8486;
    --md-ref-palette-neutral-57: #908788;
    --md-ref-palette-neutral-58: #93898b;
    --md-ref-palette-neutral-59: #968c8d;
    --md-ref-palette-neutral-60: #988e90;
    --md-ref-palette-neutral-61: #9b9192;
    --md-ref-palette-neutral-62: #9e9395;
    --md-ref-palette-neutral-63: #a09698;
    --md-ref-palette-neutral-64: #a3999a;
    --md-ref-palette-neutral-65: #a69b9d;
    --md-ref-palette-neutral-66: #a89ea0;
    --md-ref-palette-neutral-67: #aba1a2;
    --md-ref-palette-neutral-68: #aea3a5;
    --md-ref-palette-neutral-69: #b1a6a7;
    --md-ref-palette-neutral-70: #b3a9aa;
    --md-ref-palette-neutral-71: #b6abad;
    --md-ref-palette-neutral-72: #b9aeb0;
    --md-ref-palette-neutral-73: #bcb1b2;
    --md-ref-palette-neutral-74: #beb3b5;
    --md-ref-palette-neutral-75: #c1b6b8;
    --md-ref-palette-neutral-76: #c4b9ba;
    --md-ref-palette-neutral-77: #c7bbbd;
    --md-ref-palette-neutral-78: #cabec0;
    --md-ref-palette-neutral-79: #ccc1c3;
    --md-ref-palette-neutral-80: #cfc4c5;
    --md-ref-palette-neutral-81: #d2c6c8;
    --md-ref-palette-neutral-82: #d5c9cb;
    --md-ref-palette-neutral-83: #d8ccce;
    --md-ref-palette-neutral-84: #dbcfd0;
    --md-ref-palette-neutral-85: #ddd2d3;
    --md-ref-palette-neutral-86: #e0d4d6;
    --md-ref-palette-neutral-87: #e3d7d9;
    --md-ref-palette-neutral-88: #e6dadb;
    --md-ref-palette-neutral-89: #e9ddde;
    --md-ref-palette-neutral-90: #ece0e1;
    --md-ref-palette-neutral-91: #efe2e4;
    --md-ref-palette-neutral-92: #f2e5e7;
    --md-ref-palette-neutral-93: #f5e8ea;
    --md-ref-palette-neutral-94: #f7ebec;
    --md-ref-palette-neutral-95: #faeeef;
    --md-ref-palette-neutral-96: #fdf1f2;
    --md-ref-palette-neutral-97: #fff4f5;
    --md-ref-palette-neutral-98: #fff8f8;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #080204;
    --md-ref-palette-neutral-variant-2: #0e0507;
    --md-ref-palette-neutral-variant-3: #12080b;
    --md-ref-palette-neutral-variant-4: #150b0e;
    --md-ref-palette-neutral-variant-5: #180e11;
    --md-ref-palette-neutral-variant-6: #1b1013;
    --md-ref-palette-neutral-variant-7: #1d1316;
    --md-ref-palette-neutral-variant-8: #201518;
    --md-ref-palette-neutral-variant-9: #22171a;
    --md-ref-palette-neutral-variant-10: #24181c;
    --md-ref-palette-neutral-variant-11: #261a1e;
    --md-ref-palette-neutral-variant-12: #281c20;
    --md-ref-palette-neutral-variant-13: #2a1e22;
    --md-ref-palette-neutral-variant-14: #2c2124;
    --md-ref-palette-neutral-variant-15: #2f2326;
    --md-ref-palette-neutral-variant-16: #312528;
    --md-ref-palette-neutral-variant-17: #33272a;
    --md-ref-palette-neutral-variant-18: #35292c;
    --md-ref-palette-neutral-variant-19: #382b2e;
    --md-ref-palette-neutral-variant-20: #3a2d30;
    --md-ref-palette-neutral-variant-21: #3c2f32;
    --md-ref-palette-neutral-variant-22: #3e3135;
    --md-ref-palette-neutral-variant-23: #413337;
    --md-ref-palette-neutral-variant-24: #433639;
    --md-ref-palette-neutral-variant-25: #45383b;
    --md-ref-palette-neutral-variant-26: #483a3e;
    --md-ref-palette-neutral-variant-27: #4a3c40;
    --md-ref-palette-neutral-variant-28: #4d3f42;
    --md-ref-palette-neutral-variant-29: #4f4144;
    --md-ref-palette-neutral-variant-30: #514347;
    --md-ref-palette-neutral-variant-31: #544549;
    --md-ref-palette-neutral-variant-32: #56484b;
    --md-ref-palette-neutral-variant-33: #594a4d;
    --md-ref-palette-neutral-variant-34: #5b4c50;
    --md-ref-palette-neutral-variant-35: #5d4f52;
    --md-ref-palette-neutral-variant-36: #605155;
    --md-ref-palette-neutral-variant-37: #625357;
    --md-ref-palette-neutral-variant-38: #655659;
    --md-ref-palette-neutral-variant-39: #67585c;
    --md-ref-palette-neutral-variant-40: #6a5a5e;
    --md-ref-palette-neutral-variant-41: #6c5d60;
    --md-ref-palette-neutral-variant-42: #6f5f63;
    --md-ref-palette-neutral-variant-43: #726265;
    --md-ref-palette-neutral-variant-44: #746468;
    --md-ref-palette-neutral-variant-45: #77666a;
    --md-ref-palette-neutral-variant-46: #79696d;
    --md-ref-palette-neutral-variant-47: #7c6b6f;
    --md-ref-palette-neutral-variant-48: #7e6e72;
    --md-ref-palette-neutral-variant-49: #817074;
    --md-ref-palette-neutral-variant-50: #847377;
    --md-ref-palette-neutral-variant-51: #867579;
    --md-ref-palette-neutral-variant-52: #89787c;
    --md-ref-palette-neutral-variant-53: #8b7a7e;
    --md-ref-palette-neutral-variant-54: #8e7d81;
    --md-ref-palette-neutral-variant-55: #917f83;
    --md-ref-palette-neutral-variant-56: #938286;
    --md-ref-palette-neutral-variant-57: #968588;
    --md-ref-palette-neutral-variant-58: #99878b;
    --md-ref-palette-neutral-variant-59: #9b8a8e;
    --md-ref-palette-neutral-variant-60: #9e8c90;
    --md-ref-palette-neutral-variant-61: #a18f93;
    --md-ref-palette-neutral-variant-62: #a49195;
    --md-ref-palette-neutral-variant-63: #a69498;
    --md-ref-palette-neutral-variant-64: #a9979b;
    --md-ref-palette-neutral-variant-65: #ac999d;
    --md-ref-palette-neutral-variant-66: #af9ca0;
    --md-ref-palette-neutral-variant-67: #b19fa2;
    --md-ref-palette-neutral-variant-68: #b4a1a5;
    --md-ref-palette-neutral-variant-69: #b7a4a8;
    --md-ref-palette-neutral-variant-70: #baa6aa;
    --md-ref-palette-neutral-variant-71: #bca9ad;
    --md-ref-palette-neutral-variant-72: #bfacb0;
    --md-ref-palette-neutral-variant-73: #c2afb3;
    --md-ref-palette-neutral-variant-74: #c5b1b5;
    --md-ref-palette-neutral-variant-75: #c8b4b8;
    --md-ref-palette-neutral-variant-76: #cab7bb;
    --md-ref-palette-neutral-variant-77: #cdb9bd;
    --md-ref-palette-neutral-variant-78: #d0bcc0;
    --md-ref-palette-neutral-variant-79: #d3bfc3;
    --md-ref-palette-neutral-variant-80: #d6c2c6;
    --md-ref-palette-neutral-variant-81: #d9c4c8;
    --md-ref-palette-neutral-variant-82: #dbc7cb;
    --md-ref-palette-neutral-variant-83: #decace;
    --md-ref-palette-neutral-variant-84: #e1cdd1;
    --md-ref-palette-neutral-variant-85: #e4cfd3;
    --md-ref-palette-neutral-variant-86: #e7d2d6;
    --md-ref-palette-neutral-variant-87: #ead5d9;
    --md-ref-palette-neutral-variant-88: #edd8dc;
    --md-ref-palette-neutral-variant-89: #f0dadf;
    --md-ref-palette-neutral-variant-90: #f3dde1;
    --md-ref-palette-neutral-variant-91: #f6e0e4;
    --md-ref-palette-neutral-variant-92: #f8e3e7;
    --md-ref-palette-neutral-variant-93: #fbe6ea;
    --md-ref-palette-neutral-variant-94: #fee9ed;
    --md-ref-palette-neutral-variant-95: #ffecef;
    --md-ref-palette-neutral-variant-96: #fff0f2;
    --md-ref-palette-neutral-variant-97: #fff4f5;
    --md-ref-palette-neutral-variant-98: #fff8f8;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}