:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #090200;
    --md-ref-palette-primary-2: #100500;
    --md-ref-palette-primary-3: #160700;
    --md-ref-palette-primary-4: #1b0a00;
    --md-ref-palette-primary-5: #1f0c00;
    --md-ref-palette-primary-10: #2e1500;
    --md-ref-palette-primary-20: #4c2700;
    --md-ref-palette-primary-30: #6d3a00;
    --md-ref-palette-primary-40: #8f4e00;
    --md-ref-palette-primary-50: #ad661d;
    --md-ref-palette-primary-60: #cc7f35;
    --md-ref-palette-primary-70: #eb984c;
    --md-ref-palette-primary-80: #ffb77a;
    --md-ref-palette-primary-90: #ffdcc2;
    --md-ref-palette-primary-95: #ffeee2;
    --md-ref-palette-primary-96: #fff1e8;
    --md-ref-palette-primary-97: #fff4ef;
    --md-ref-palette-primary-98: #fff8f5;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #090200;
    --md-ref-palette-secondary-2: #100500;
    --md-ref-palette-secondary-3: #160700;
    --md-ref-palette-secondary-4: #1b0a00;
    --md-ref-palette-secondary-5: #1f0c00;
    --md-ref-palette-secondary-10: #2e1500;
    --md-ref-palette-secondary-20: #462a0f;
    --md-ref-palette-secondary-30: #604023;
    --md-ref-palette-secondary-40: #7b5738;
    --md-ref-palette-secondary-50: #966f4e;
    --md-ref-palette-secondary-60: #b28866;
    --md-ref-palette-secondary-70: #cfa27e;
    --md-ref-palette-secondary-80: #edbd97;
    --md-ref-palette-secondary-90: #ffdcc2;
    --md-ref-palette-secondary-95: #ffeee2;
    --md-ref-palette-secondary-96: #fff1e8;
    --md-ref-palette-secondary-97: #fff4ef;
    --md-ref-palette-secondary-98: #fff8f5;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #030400;
    --md-ref-palette-tertiary-2: #060800;
    --md-ref-palette-tertiary-3: #0a0c00;
    --md-ref-palette-tertiary-4: #0d1000;
    --md-ref-palette-tertiary-5: #0f1200;
    --md-ref-palette-tertiary-10: #191e00;
    --md-ref-palette-tertiary-20: #2d3400;
    --md-ref-palette-tertiary-30: #434b00;
    --md-ref-palette-tertiary-40: #596401;
    --md-ref-palette-tertiary-50: #727d1f;
    --md-ref-palette-tertiary-60: #8b9837;
    --md-ref-palette-tertiary-70: #a6b34f;
    --md-ref-palette-tertiary-80: #c1ce68;
    --md-ref-palette-tertiary-90: #ddeb80;
    --md-ref-palette-tertiary-95: #ebf98d;
    --md-ref-palette-tertiary-96: #eefc90;
    --md-ref-palette-tertiary-97: #f1ff95;
    --md-ref-palette-tertiary-98: #f7ffbb;
    --md-ref-palette-tertiary-99: #fbffdd;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #060301;
    --md-ref-palette-neutral-2: #0c0603;
    --md-ref-palette-neutral-3: #100a06;
    --md-ref-palette-neutral-4: #130d08;
    --md-ref-palette-neutral-5: #16100a;
    --md-ref-palette-neutral-10: #211a15;
    --md-ref-palette-neutral-20: #372f29;
    --md-ref-palette-neutral-30: #4e453e;
    --md-ref-palette-neutral-40: #675c55;
    --md-ref-palette-neutral-50: #80756d;
    --md-ref-palette-neutral-60: #9b8e86;
    --md-ref-palette-neutral-70: #b6a9a0;
    --md-ref-palette-neutral-80: #d2c4bb;
    --md-ref-palette-neutral-90: #eee0d6;
    --md-ref-palette-neutral-95: #fdeee4;
    --md-ref-palette-neutral-96: #fff1e8;
    --md-ref-palette-neutral-97: #fff4ef;
    --md-ref-palette-neutral-98: #fff8f5;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #080300;
    --md-ref-palette-neutral-variant-2: #0e0601;
    --md-ref-palette-neutral-variant-3: #130903;
    --md-ref-palette-neutral-variant-4: #160c04;
    --md-ref-palette-neutral-variant-5: #190f06;
    --md-ref-palette-neutral-variant-10: #25190f;
    --md-ref-palette-neutral-variant-20: #3b2e23;
    --md-ref-palette-neutral-variant-30: #534438;
    --md-ref-palette-neutral-variant-40: #6c5b4f;
    --md-ref-palette-neutral-variant-50: #867466;
    --md-ref-palette-neutral-variant-60: #a08d7f;
    --md-ref-palette-neutral-variant-70: #bca798;
    --md-ref-palette-neutral-variant-80: #d8c2b3;
    --md-ref-palette-neutral-variant-90: #f5dece;
    --md-ref-palette-neutral-variant-95: #ffeee2;
    --md-ref-palette-neutral-variant-96: #fff1e8;
    --md-ref-palette-neutral-variant-97: #fff4ef;
    --md-ref-palette-neutral-variant-98: #fff8f5;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
