:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #090300;
    --md-ref-palette-primary-2: #100500;
    --md-ref-palette-primary-3: #160800;
    --md-ref-palette-primary-4: #1a0a00;
    --md-ref-palette-primary-5: #1e0c00;
    --md-ref-palette-primary-6: #220e00;
    --md-ref-palette-primary-7: #251000;
    --md-ref-palette-primary-8: #271201;
    --md-ref-palette-primary-9: #2a1401;
    --md-ref-palette-primary-10: #2c1602;
    --md-ref-palette-primary-11: #2e1803;
    --md-ref-palette-primary-12: #311a04;
    --md-ref-palette-primary-13: #331c06;
    --md-ref-palette-primary-14: #361e07;
    --md-ref-palette-primary-15: #382009;
    --md-ref-palette-primary-16: #3b220b;
    --md-ref-palette-primary-17: #3d240d;
    --md-ref-palette-primary-18: #3f260e;
    --md-ref-palette-primary-19: #422910;
    --md-ref-palette-primary-20: #442b12;
    --md-ref-palette-primary-21: #472d14;
    --md-ref-palette-primary-22: #492f16;
    --md-ref-palette-primary-23: #4c3118;
    --md-ref-palette-primary-24: #4e331a;
    --md-ref-palette-primary-25: #51351c;
    --md-ref-palette-primary-26: #53381e;
    --md-ref-palette-primary-27: #563a20;
    --md-ref-palette-primary-28: #583c22;
    --md-ref-palette-primary-29: #5b3e24;
    --md-ref-palette-primary-30: #5e4126;
    --md-ref-palette-primary-31: #604329;
    --md-ref-palette-primary-32: #63452b;
    --md-ref-palette-primary-33: #65472d;
    --md-ref-palette-primary-34: #684a2f;
    --md-ref-palette-primary-35: #6b4c31;
    --md-ref-palette-primary-36: #6d4e33;
    --md-ref-palette-primary-37: #705135;
    --md-ref-palette-primary-38: #725337;
    --md-ref-palette-primary-39: #75553a;
    --md-ref-palette-primary-40: #78583c;
    --md-ref-palette-primary-41: #7a5a3e;
    --md-ref-palette-primary-42: #7d5d40;
    --md-ref-palette-primary-43: #805f42;
    --md-ref-palette-primary-44: #836145;
    --md-ref-palette-primary-45: #856447;
    --md-ref-palette-primary-46: #886649;
    --md-ref-palette-primary-47: #8b694c;
    --md-ref-palette-primary-48: #8d6b4e;
    --md-ref-palette-primary-49: #906e50;
    --md-ref-palette-primary-50: #937052;
    --md-ref-palette-primary-51: #967355;
    --md-ref-palette-primary-52: #987557;
    --md-ref-palette-primary-53: #9b7859;
    --md-ref-palette-primary-54: #9e7a5c;
    --md-ref-palette-primary-55: #a17d5e;
    --md-ref-palette-primary-56: #a37f60;
    --md-ref-palette-primary-57: #a68263;
    --md-ref-palette-primary-58: #a98465;
    --md-ref-palette-primary-59: #ac8768;
    --md-ref-palette-primary-60: #af896a;
    --md-ref-palette-primary-61: #b28c6c;
    --md-ref-palette-primary-62: #b48f6f;
    --md-ref-palette-primary-63: #b79171;
    --md-ref-palette-primary-64: #ba9474;
    --md-ref-palette-primary-65: #bd9676;
    --md-ref-palette-primary-66: #c09979;
    --md-ref-palette-primary-67: #c39c7b;
    --md-ref-palette-primary-68: #c59e7e;
    --md-ref-palette-primary-69: #c8a180;
    --md-ref-palette-primary-70: #cba483;
    --md-ref-palette-primary-71: #cea685;
    --md-ref-palette-primary-72: #d1a988;
    --md-ref-palette-primary-73: #d4ac8a;
    --md-ref-palette-primary-74: #d7ae8d;
    --md-ref-palette-primary-75: #dab18f;
    --md-ref-palette-primary-76: #ddb492;
    --md-ref-palette-primary-77: #e0b694;
    --md-ref-palette-primary-78: #e3b997;
    --md-ref-palette-primary-79: #e6bc9a;
    --md-ref-palette-primary-80: #e8be9c;
    --md-ref-palette-primary-81: #ebc19f;
    --md-ref-palette-primary-82: #eec4a1;
    --md-ref-palette-primary-83: #f1c7a4;
    --md-ref-palette-primary-84: #f4c9a7;
    --md-ref-palette-primary-85: #f7cca9;
    --md-ref-palette-primary-86: #facfac;
    --md-ref-palette-primary-87: #fdd2ae;
    --md-ref-palette-primary-88: #ffd5b3;
    --md-ref-palette-primary-89: #ffd8ba;
    --md-ref-palette-primary-90: #ffdcc1;
    --md-ref-palette-primary-91: #ffe0c7;
    --md-ref-palette-primary-92: #ffe3ce;
    --md-ref-palette-primary-93: #ffe7d5;
    --md-ref-palette-primary-94: #ffeadb;
    --md-ref-palette-primary-95: #ffeee2;
    --md-ref-palette-primary-96: #fff1e8;
    --md-ref-palette-primary-97: #fff4ee;
    --md-ref-palette-primary-98: #fff8f5;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #080300;
    --md-ref-palette-secondary-2: #0e0601;
    --md-ref-palette-secondary-3: #130902;
    --md-ref-palette-secondary-4: #160c04;
    --md-ref-palette-secondary-5: #190f06;
    --md-ref-palette-secondary-6: #1c1107;
    --md-ref-palette-secondary-7: #1f1309;
    --md-ref-palette-secondary-8: #21150b;
    --md-ref-palette-secondary-9: #23170d;
    --md-ref-palette-secondary-10: #25190f;
    --md-ref-palette-secondary-11: #271b11;
    --md-ref-palette-secondary-12: #291d12;
    --md-ref-palette-secondary-13: #2c1f14;
    --md-ref-palette-secondary-14: #2e2116;
    --md-ref-palette-secondary-15: #302318;
    --md-ref-palette-secondary-16: #32251a;
    --md-ref-palette-secondary-17: #35271c;
    --md-ref-palette-secondary-18: #37291e;
    --md-ref-palette-secondary-19: #392c20;
    --md-ref-palette-secondary-20: #3c2e22;
    --md-ref-palette-secondary-21: #3e3024;
    --md-ref-palette-secondary-22: #403226;
    --md-ref-palette-secondary-23: #433428;
    --md-ref-palette-secondary-24: #45362a;
    --md-ref-palette-secondary-25: #47392c;
    --md-ref-palette-secondary-26: #4a3b2f;
    --md-ref-palette-secondary-27: #4c3d31;
    --md-ref-palette-secondary-28: #4e3f33;
    --md-ref-palette-secondary-29: #514235;
    --md-ref-palette-secondary-30: #534437;
    --md-ref-palette-secondary-31: #564639;
    --md-ref-palette-secondary-32: #58483c;
    --md-ref-palette-secondary-33: #5b4b3e;
    --md-ref-palette-secondary-34: #5d4d40;
    --md-ref-palette-secondary-35: #604f42;
    --md-ref-palette-secondary-36: #625245;
    --md-ref-palette-secondary-37: #655447;
    --md-ref-palette-secondary-38: #675649;
    --md-ref-palette-secondary-39: #6a594b;
    --md-ref-palette-secondary-40: #6c5b4e;
    --md-ref-palette-secondary-41: #6f5e50;
    --md-ref-palette-secondary-42: #716052;
    --md-ref-palette-secondary-43: #746255;
    --md-ref-palette-secondary-44: #766557;
    --md-ref-palette-secondary-45: #796759;
    --md-ref-palette-secondary-46: #7c6a5c;
    --md-ref-palette-secondary-47: #7e6c5e;
    --md-ref-palette-secondary-48: #816f60;
    --md-ref-palette-secondary-49: #837163;
    --md-ref-palette-secondary-50: #867465;
    --md-ref-palette-secondary-51: #897668;
    --md-ref-palette-secondary-52: #8b796a;
    --md-ref-palette-secondary-53: #8e7b6d;
    --md-ref-palette-secondary-54: #917e6f;
    --md-ref-palette-secondary-55: #938071;
    --md-ref-palette-secondary-56: #968374;
    --md-ref-palette-secondary-57: #998576;
    --md-ref-palette-secondary-58: #9b8879;
    --md-ref-palette-secondary-59: #9e8a7b;
    --md-ref-palette-secondary-60: #a18d7e;
    --md-ref-palette-secondary-61: #a49080;
    --md-ref-palette-secondary-62: #a69283;
    --md-ref-palette-secondary-63: #a99585;
    --md-ref-palette-secondary-64: #ac9788;
    --md-ref-palette-secondary-65: #af9a8b;
    --md-ref-palette-secondary-66: #b19d8d;
    --md-ref-palette-secondary-67: #b49f90;
    --md-ref-palette-secondary-68: #b7a292;
    --md-ref-palette-secondary-69: #baa595;
    --md-ref-palette-secondary-70: #bca797;
    --md-ref-palette-secondary-71: #bfaa9a;
    --md-ref-palette-secondary-72: #c2ad9d;
    --md-ref-palette-secondary-73: #c5af9f;
    --md-ref-palette-secondary-74: #c8b2a2;
    --md-ref-palette-secondary-75: #cbb5a4;
    --md-ref-palette-secondary-76: #cdb7a7;
    --md-ref-palette-secondary-77: #d0baaa;
    --md-ref-palette-secondary-78: #d3bdac;
    --md-ref-palette-secondary-79: #d6c0af;
    --md-ref-palette-secondary-80: #d9c2b2;
    --md-ref-palette-secondary-81: #dcc5b4;
    --md-ref-palette-secondary-82: #dfc8b7;
    --md-ref-palette-secondary-83: #e1cbba;
    --md-ref-palette-secondary-84: #e4cdbd;
    --md-ref-palette-secondary-85: #e7d0bf;
    --md-ref-palette-secondary-86: #ead3c2;
    --md-ref-palette-secondary-87: #edd6c5;
    --md-ref-palette-secondary-88: #f0d9c7;
    --md-ref-palette-secondary-89: #f3dbca;
    --md-ref-palette-secondary-90: #f6decd;
    --md-ref-palette-secondary-91: #f9e1d0;
    --md-ref-palette-secondary-92: #fce4d2;
    --md-ref-palette-secondary-93: #ffe7d5;
    --md-ref-palette-secondary-94: #ffeadb;
    --md-ref-palette-secondary-95: #ffeee2;
    --md-ref-palette-secondary-96: #fff1e8;
    --md-ref-palette-secondary-97: #fff4ee;
    --md-ref-palette-secondary-98: #fff8f5;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #030400;
    --md-ref-palette-tertiary-2: #070800;
    --md-ref-palette-tertiary-3: #0a0c00;
    --md-ref-palette-tertiary-4: #0d1000;
    --md-ref-palette-tertiary-5: #101200;
    --md-ref-palette-tertiary-6: #121500;
    --md-ref-palette-tertiary-7: #141700;
    --md-ref-palette-tertiary-8: #161901;
    --md-ref-palette-tertiary-9: #181b02;
    --md-ref-palette-tertiary-10: #1a1d03;
    --md-ref-palette-tertiary-11: #1c1f04;
    --md-ref-palette-tertiary-12: #1e2205;
    --md-ref-palette-tertiary-13: #202407;
    --md-ref-palette-tertiary-14: #222608;
    --md-ref-palette-tertiary-15: #24280a;
    --md-ref-palette-tertiary-16: #262a0c;
    --md-ref-palette-tertiary-17: #282c0e;
    --md-ref-palette-tertiary-18: #2b2e10;
    --md-ref-palette-tertiary-19: #2d3012;
    --md-ref-palette-tertiary-20: #2f3314;
    --md-ref-palette-tertiary-21: #313516;
    --md-ref-palette-tertiary-22: #333718;
    --md-ref-palette-tertiary-23: #36391a;
    --md-ref-palette-tertiary-24: #383c1c;
    --md-ref-palette-tertiary-25: #3a3e1e;
    --md-ref-palette-tertiary-26: #3c4020;
    --md-ref-palette-tertiary-27: #3e4222;
    --md-ref-palette-tertiary-28: #414524;
    --md-ref-palette-tertiary-29: #434726;
    --md-ref-palette-tertiary-30: #454928;
    --md-ref-palette-tertiary-31: #484c2b;
    --md-ref-palette-tertiary-32: #4a4e2d;
    --md-ref-palette-tertiary-33: #4c502f;
    --md-ref-palette-tertiary-34: #4f5331;
    --md-ref-palette-tertiary-35: #515533;
    --md-ref-palette-tertiary-36: #535735;
    --md-ref-palette-tertiary-37: #565a37;
    --md-ref-palette-tertiary-38: #585c3a;
    --md-ref-palette-tertiary-39: #5b5f3c;
    --md-ref-palette-tertiary-40: #5d613e;
    --md-ref-palette-tertiary-41: #606440;
    --md-ref-palette-tertiary-42: #626643;
    --md-ref-palette-tertiary-43: #646845;
    --md-ref-palette-tertiary-44: #676b47;
    --md-ref-palette-tertiary-45: #696d49;
    --md-ref-palette-tertiary-46: #6c704c;
    --md-ref-palette-tertiary-47: #6e724e;
    --md-ref-palette-tertiary-48: #717550;
    --md-ref-palette-tertiary-49: #737753;
    --md-ref-palette-tertiary-50: #767a55;
    --md-ref-palette-tertiary-51: #797d57;
    --md-ref-palette-tertiary-52: #7b7f5a;
    --md-ref-palette-tertiary-53: #7e825c;
    --md-ref-palette-tertiary-54: #80845e;
    --md-ref-palette-tertiary-55: #838761;
    --md-ref-palette-tertiary-56: #858963;
    --md-ref-palette-tertiary-57: #888c65;
    --md-ref-palette-tertiary-58: #8b8f68;
    --md-ref-palette-tertiary-59: #8d916a;
    --md-ref-palette-tertiary-60: #90946d;
    --md-ref-palette-tertiary-61: #92966f;
    --md-ref-palette-tertiary-62: #959972;
    --md-ref-palette-tertiary-63: #989c74;
    --md-ref-palette-tertiary-64: #9a9e77;
    --md-ref-palette-tertiary-65: #9da179;
    --md-ref-palette-tertiary-66: #a0a47b;
    --md-ref-palette-tertiary-67: #a2a67e;
    --md-ref-palette-tertiary-68: #a5a980;
    --md-ref-palette-tertiary-69: #a8ac83;
    --md-ref-palette-tertiary-70: #abae85;
    --md-ref-palette-tertiary-71: #adb188;
    --md-ref-palette-tertiary-72: #b0b48b;
    --md-ref-palette-tertiary-73: #b3b78d;
    --md-ref-palette-tertiary-74: #b5b990;
    --md-ref-palette-tertiary-75: #b8bc92;
    --md-ref-palette-tertiary-76: #bbbf95;
    --md-ref-palette-tertiary-77: #bec297;
    --md-ref-palette-tertiary-78: #c0c49a;
    --md-ref-palette-tertiary-79: #c3c79d;
    --md-ref-palette-tertiary-80: #c6ca9f;
    --md-ref-palette-tertiary-81: #c9cda2;
    --md-ref-palette-tertiary-82: #cccfa4;
    --md-ref-palette-tertiary-83: #ced2a7;
    --md-ref-palette-tertiary-84: #d1d5aa;
    --md-ref-palette-tertiary-85: #d4d8ac;
    --md-ref-palette-tertiary-86: #d7dbaf;
    --md-ref-palette-tertiary-87: #daddb2;
    --md-ref-palette-tertiary-88: #dde0b4;
    --md-ref-palette-tertiary-89: #dfe3b7;
    --md-ref-palette-tertiary-90: #e2e6ba;
    --md-ref-palette-tertiary-91: #e5e9bc;
    --md-ref-palette-tertiary-92: #e8ecbf;
    --md-ref-palette-tertiary-93: #ebefc2;
    --md-ref-palette-tertiary-94: #eef1c4;
    --md-ref-palette-tertiary-95: #f1f4c7;
    --md-ref-palette-tertiary-96: #f4f7ca;
    --md-ref-palette-tertiary-97: #f6facc;
    --md-ref-palette-tertiary-98: #f9fdcf;
    --md-ref-palette-tertiary-99: #fcfee7;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050302;
    --md-ref-palette-neutral-2: #090705;
    --md-ref-palette-neutral-3: #0d0a08;
    --md-ref-palette-neutral-4: #110e0b;
    --md-ref-palette-neutral-5: #13100e;
    --md-ref-palette-neutral-6: #161310;
    --md-ref-palette-neutral-7: #181513;
    --md-ref-palette-neutral-8: #1a1715;
    --md-ref-palette-neutral-9: #1c1917;
    --md-ref-palette-neutral-10: #1e1b18;
    --md-ref-palette-neutral-11: #201d1a;
    --md-ref-palette-neutral-12: #221f1c;
    --md-ref-palette-neutral-13: #25211e;
    --md-ref-palette-neutral-14: #272320;
    --md-ref-palette-neutral-15: #292522;
    --md-ref-palette-neutral-16: #2b2724;
    --md-ref-palette-neutral-17: #2d2927;
    --md-ref-palette-neutral-18: #2f2b29;
    --md-ref-palette-neutral-19: #312d2b;
    --md-ref-palette-neutral-20: #34302d;
    --md-ref-palette-neutral-21: #36322f;
    --md-ref-palette-neutral-22: #383431;
    --md-ref-palette-neutral-23: #3a3633;
    --md-ref-palette-neutral-24: #3d3835;
    --md-ref-palette-neutral-25: #3f3b38;
    --md-ref-palette-neutral-26: #413d3a;
    --md-ref-palette-neutral-27: #433f3c;
    --md-ref-palette-neutral-28: #46413e;
    --md-ref-palette-neutral-29: #484441;
    --md-ref-palette-neutral-30: #4a4643;
    --md-ref-palette-neutral-31: #4d4845;
    --md-ref-palette-neutral-32: #4f4a47;
    --md-ref-palette-neutral-33: #524d4a;
    --md-ref-palette-neutral-34: #544f4c;
    --md-ref-palette-neutral-35: #56514e;
    --md-ref-palette-neutral-36: #595451;
    --md-ref-palette-neutral-37: #5b5653;
    --md-ref-palette-neutral-38: #5e5955;
    --md-ref-palette-neutral-39: #605b58;
    --md-ref-palette-neutral-40: #635d5a;
    --md-ref-palette-neutral-41: #65605c;
    --md-ref-palette-neutral-42: #68625f;
    --md-ref-palette-neutral-43: #6a6561;
    --md-ref-palette-neutral-44: #6d6764;
    --md-ref-palette-neutral-45: #6f6966;
    --md-ref-palette-neutral-46: #726c69;
    --md-ref-palette-neutral-47: #746e6b;
    --md-ref-palette-neutral-48: #77716d;
    --md-ref-palette-neutral-49: #797370;
    --md-ref-palette-neutral-50: #7c7672;
    --md-ref-palette-neutral-51: #7e7875;
    --md-ref-palette-neutral-52: #817b77;
    --md-ref-palette-neutral-53: #847d7a;
    --md-ref-palette-neutral-54: #86807c;
    --md-ref-palette-neutral-55: #89837f;
    --md-ref-palette-neutral-56: #8b8581;
    --md-ref-palette-neutral-57: #8e8884;
    --md-ref-palette-neutral-58: #918a87;
    --md-ref-palette-neutral-59: #938d89;
    --md-ref-palette-neutral-60: #968f8c;
    --md-ref-palette-neutral-61: #99928e;
    --md-ref-palette-neutral-62: #9b9591;
    --md-ref-palette-neutral-63: #9e9793;
    --md-ref-palette-neutral-64: #a19a96;
    --md-ref-palette-neutral-65: #a39c99;
    --md-ref-palette-neutral-66: #a69f9b;
    --md-ref-palette-neutral-67: #a9a29e;
    --md-ref-palette-neutral-68: #aba4a1;
    --md-ref-palette-neutral-69: #aea7a3;
    --md-ref-palette-neutral-70: #b1aaa6;
    --md-ref-palette-neutral-71: #b4aca9;
    --md-ref-palette-neutral-72: #b6afab;
    --md-ref-palette-neutral-73: #b9b2ae;
    --md-ref-palette-neutral-74: #bcb5b1;
    --md-ref-palette-neutral-75: #bfb7b3;
    --md-ref-palette-neutral-76: #c1bab6;
    --md-ref-palette-neutral-77: #c4bdb9;
    --md-ref-palette-neutral-78: #c7bfbb;
    --md-ref-palette-neutral-79: #cac2be;
    --md-ref-palette-neutral-80: #cdc5c1;
    --md-ref-palette-neutral-81: #cfc8c4;
    --md-ref-palette-neutral-82: #d2cac6;
    --md-ref-palette-neutral-83: #d5cdc9;
    --md-ref-palette-neutral-84: #d8d0cc;
    --md-ref-palette-neutral-85: #dbd3cf;
    --md-ref-palette-neutral-86: #ded6d1;
    --md-ref-palette-neutral-87: #e1d8d4;
    --md-ref-palette-neutral-88: #e3dbd7;
    --md-ref-palette-neutral-89: #e6deda;
    --md-ref-palette-neutral-90: #e9e1dc;
    --md-ref-palette-neutral-91: #ece4df;
    --md-ref-palette-neutral-92: #efe6e2;
    --md-ref-palette-neutral-93: #f2e9e5;
    --md-ref-palette-neutral-94: #f5ece8;
    --md-ref-palette-neutral-95: #f8efeb;
    --md-ref-palette-neutral-96: #fbf2ed;
    --md-ref-palette-neutral-97: #fef5f0;
    --md-ref-palette-neutral-98: #fff8f5;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #070301;
    --md-ref-palette-neutral-variant-2: #0c0603;
    --md-ref-palette-neutral-variant-3: #100a05;
    --md-ref-palette-neutral-variant-4: #140d07;
    --md-ref-palette-neutral-variant-5: #170f09;
    --md-ref-palette-neutral-variant-6: #19120c;
    --md-ref-palette-neutral-variant-7: #1c140e;
    --md-ref-palette-neutral-variant-8: #1e1610;
    --md-ref-palette-neutral-variant-9: #201811;
    --md-ref-palette-neutral-variant-10: #221a13;
    --md-ref-palette-neutral-variant-11: #241c15;
    --md-ref-palette-neutral-variant-12: #261e17;
    --md-ref-palette-neutral-variant-13: #282019;
    --md-ref-palette-neutral-variant-14: #2b221b;
    --md-ref-palette-neutral-variant-15: #2d241d;
    --md-ref-palette-neutral-variant-16: #2f261f;
    --md-ref-palette-neutral-variant-17: #312821;
    --md-ref-palette-neutral-variant-18: #332a23;
    --md-ref-palette-neutral-variant-19: #362c25;
    --md-ref-palette-neutral-variant-20: #382f27;
    --md-ref-palette-neutral-variant-21: #3a3129;
    --md-ref-palette-neutral-variant-22: #3d332b;
    --md-ref-palette-neutral-variant-23: #3f352e;
    --md-ref-palette-neutral-variant-24: #413730;
    --md-ref-palette-neutral-variant-25: #433a32;
    --md-ref-palette-neutral-variant-26: #463c34;
    --md-ref-palette-neutral-variant-27: #483e36;
    --md-ref-palette-neutral-variant-28: #4a4038;
    --md-ref-palette-neutral-variant-29: #4d423b;
    --md-ref-palette-neutral-variant-30: #4f453d;
    --md-ref-palette-neutral-variant-31: #52473f;
    --md-ref-palette-neutral-variant-32: #544941;
    --md-ref-palette-neutral-variant-33: #564c43;
    --md-ref-palette-neutral-variant-34: #594e46;
    --md-ref-palette-neutral-variant-35: #5b5048;
    --md-ref-palette-neutral-variant-36: #5e534a;
    --md-ref-palette-neutral-variant-37: #60554d;
    --md-ref-palette-neutral-variant-38: #63574f;
    --md-ref-palette-neutral-variant-39: #655a51;
    --md-ref-palette-neutral-variant-40: #685c54;
    --md-ref-palette-neutral-variant-41: #6a5f56;
    --md-ref-palette-neutral-variant-42: #6d6158;
    --md-ref-palette-neutral-variant-43: #6f635b;
    --md-ref-palette-neutral-variant-44: #72665d;
    --md-ref-palette-neutral-variant-45: #74685f;
    --md-ref-palette-neutral-variant-46: #776b62;
    --md-ref-palette-neutral-variant-47: #7a6d64;
    --md-ref-palette-neutral-variant-48: #7c7067;
    --md-ref-palette-neutral-variant-49: #7f7269;
    --md-ref-palette-neutral-variant-50: #81756c;
    --md-ref-palette-neutral-variant-51: #84776e;
    --md-ref-palette-neutral-variant-52: #877a70;
    --md-ref-palette-neutral-variant-53: #897c73;
    --md-ref-palette-neutral-variant-54: #8c7f75;
    --md-ref-palette-neutral-variant-55: #8e8178;
    --md-ref-palette-neutral-variant-56: #91847a;
    --md-ref-palette-neutral-variant-57: #94867d;
    --md-ref-palette-neutral-variant-58: #96897f;
    --md-ref-palette-neutral-variant-59: #998c82;
    --md-ref-palette-neutral-variant-60: #9c8e85;
    --md-ref-palette-neutral-variant-61: #9e9187;
    --md-ref-palette-neutral-variant-62: #a1938a;
    --md-ref-palette-neutral-variant-63: #a4968c;
    --md-ref-palette-neutral-variant-64: #a7998f;
    --md-ref-palette-neutral-variant-65: #a99b91;
    --md-ref-palette-neutral-variant-66: #ac9e94;
    --md-ref-palette-neutral-variant-67: #afa197;
    --md-ref-palette-neutral-variant-68: #b2a399;
    --md-ref-palette-neutral-variant-69: #b4a69c;
    --md-ref-palette-neutral-variant-70: #b7a99e;
    --md-ref-palette-neutral-variant-71: #baaba1;
    --md-ref-palette-neutral-variant-72: #bdaea4;
    --md-ref-palette-neutral-variant-73: #bfb1a6;
    --md-ref-palette-neutral-variant-74: #c2b3a9;
    --md-ref-palette-neutral-variant-75: #c5b6ac;
    --md-ref-palette-neutral-variant-76: #c8b9ae;
    --md-ref-palette-neutral-variant-77: #cbbbb1;
    --md-ref-palette-neutral-variant-78: #cdbeb4;
    --md-ref-palette-neutral-variant-79: #d0c1b6;
    --md-ref-palette-neutral-variant-80: #d3c4b9;
    --md-ref-palette-neutral-variant-81: #d6c6bc;
    --md-ref-palette-neutral-variant-82: #d9c9be;
    --md-ref-palette-neutral-variant-83: #dcccc1;
    --md-ref-palette-neutral-variant-84: #dfcfc4;
    --md-ref-palette-neutral-variant-85: #e1d1c7;
    --md-ref-palette-neutral-variant-86: #e4d4c9;
    --md-ref-palette-neutral-variant-87: #e7d7cc;
    --md-ref-palette-neutral-variant-88: #eadacf;
    --md-ref-palette-neutral-variant-89: #edddd2;
    --md-ref-palette-neutral-variant-90: #f0dfd4;
    --md-ref-palette-neutral-variant-91: #f3e2d7;
    --md-ref-palette-neutral-variant-92: #f6e5da;
    --md-ref-palette-neutral-variant-93: #f9e8dd;
    --md-ref-palette-neutral-variant-94: #fcebe0;
    --md-ref-palette-neutral-variant-95: #ffeee2;
    --md-ref-palette-neutral-variant-96: #fff1e8;
    --md-ref-palette-neutral-variant-97: #fff4ee;
    --md-ref-palette-neutral-variant-98: #fff8f5;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
