:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060300;
    --md-ref-palette-primary-2: #0c0700;
    --md-ref-palette-primary-3: #100a00;
    --md-ref-palette-primary-4: #140d00;
    --md-ref-palette-primary-5: #181000;
    --md-ref-palette-primary-10: #251a00;
    --md-ref-palette-primary-20: #3e2e00;
    --md-ref-palette-primary-30: #584408;
    --md-ref-palette-primary-40: #725c20;
    --md-ref-palette-primary-50: #8c7436;
    --md-ref-palette-primary-60: #a88e4d;
    --md-ref-palette-primary-70: #c4a865;
    --md-ref-palette-primary-80: #e1c37d;
    --md-ref-palette-primary-90: #fedf96;
    --md-ref-palette-primary-95: #ffefd0;
    --md-ref-palette-primary-96: #fff2db;
    --md-ref-palette-primary-97: #fff5e6;
    --md-ref-palette-primary-98: #fff8f1;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #060300;
    --md-ref-palette-secondary-2: #0c0700;
    --md-ref-palette-secondary-3: #100a00;
    --md-ref-palette-secondary-4: #140d00;
    --md-ref-palette-secondary-5: #171000;
    --md-ref-palette-secondary-10: #231b05;
    --md-ref-palette-secondary-20: #392f17;
    --md-ref-palette-secondary-30: #50462c;
    --md-ref-palette-secondary-40: #695d42;
    --md-ref-palette-secondary-50: #837658;
    --md-ref-palette-secondary-60: #9d8f70;
    --md-ref-palette-secondary-70: #b9aa89;
    --md-ref-palette-secondary-80: #d5c5a3;
    --md-ref-palette-secondary-90: #f2e1be;
    --md-ref-palette-secondary-95: #ffefd0;
    --md-ref-palette-secondary-96: #fff2db;
    --md-ref-palette-secondary-97: #fff5e6;
    --md-ref-palette-secondary-98: #fff8f1;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #020400;
    --md-ref-palette-tertiary-2: #040900;
    --md-ref-palette-tertiary-3: #060d00;
    --md-ref-palette-tertiary-4: #091100;
    --md-ref-palette-tertiary-5: #0b1400;
    --md-ref-palette-tertiary-10: #131f00;
    --md-ref-palette-tertiary-20: #263509;
    --md-ref-palette-tertiary-30: #3c4c1e;
    --md-ref-palette-tertiary-40: #536433;
    --md-ref-palette-tertiary-50: #6b7d49;
    --md-ref-palette-tertiary-60: #859861;
    --md-ref-palette-tertiary-70: #9fb279;
    --md-ref-palette-tertiary-80: #bace92;
    --md-ref-palette-tertiary-90: #d6eaac;
    --md-ref-palette-tertiary-95: #e4f9b9;
    --md-ref-palette-tertiary-96: #e7fcbc;
    --md-ref-palette-tertiary-97: #eaffbf;
    --md-ref-palette-tertiary-98: #f1ffd1;
    --md-ref-palette-tertiary-99: #f9ffe6;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050402;
    --md-ref-palette-neutral-2: #090704;
    --md-ref-palette-neutral-3: #0d0b07;
    --md-ref-palette-neutral-4: #100e09;
    --md-ref-palette-neutral-5: #13110c;
    --md-ref-palette-neutral-10: #1e1b16;
    --md-ref-palette-neutral-20: #33302b;
    --md-ref-palette-neutral-30: #4a4640;
    --md-ref-palette-neutral-40: #625e57;
    --md-ref-palette-neutral-50: #7b7670;
    --md-ref-palette-neutral-60: #959089;
    --md-ref-palette-neutral-70: #b0aaa3;
    --md-ref-palette-neutral-80: #ccc6be;
    --md-ref-palette-neutral-90: #e8e1d9;
    --md-ref-palette-neutral-95: #f7f0e7;
    --md-ref-palette-neutral-96: #faf2ea;
    --md-ref-palette-neutral-97: #fdf5ed;
    --md-ref-palette-neutral-98: #fff8f1;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #060300;
    --md-ref-palette-neutral-variant-2: #0a0702;
    --md-ref-palette-neutral-variant-3: #0e0b03;
    --md-ref-palette-neutral-variant-4: #120e05;
    --md-ref-palette-neutral-variant-5: #151007;
    --md-ref-palette-neutral-variant-10: #201b10;
    --md-ref-palette-neutral-variant-20: #353024;
    --md-ref-palette-neutral-variant-30: #4c4639;
    --md-ref-palette-neutral-variant-40: #655e50;
    --md-ref-palette-neutral-variant-50: #7e7668;
    --md-ref-palette-neutral-variant-60: #989080;
    --md-ref-palette-neutral-variant-70: #b3aa9a;
    --md-ref-palette-neutral-variant-80: #cfc5b4;
    --md-ref-palette-neutral-variant-90: #ece1d0;
    --md-ref-palette-neutral-variant-95: #faefde;
    --md-ref-palette-neutral-variant-96: #fdf2e0;
    --md-ref-palette-neutral-variant-97: #fff5e6;
    --md-ref-palette-neutral-variant-98: #fff8f1;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}