:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060300;
    --md-ref-palette-primary-2: #0c0700;
    --md-ref-palette-primary-3: #100a00;
    --md-ref-palette-primary-4: #140d00;
    --md-ref-palette-primary-5: #181000;
    --md-ref-palette-primary-10: #251a00;
    --md-ref-palette-primary-20: #3e2e00;
    --md-ref-palette-primary-30: #574414;
    --md-ref-palette-primary-40: #705c29;
    --md-ref-palette-primary-50: #8a753f;
    --md-ref-palette-primary-60: #a68e56;
    --md-ref-palette-primary-70: #c2a96e;
    --md-ref-palette-primary-80: #dec487;
    --md-ref-palette-primary-90: #fce0a0;
    --md-ref-palette-primary-95: #ffefd1;
    --md-ref-palette-primary-96: #fff2dc;
    --md-ref-palette-primary-97: #fff5e7;
    --md-ref-palette-primary-98: #fff8f1;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #060300;
    --md-ref-palette-secondary-2: #0c0700;
    --md-ref-palette-secondary-3: #100a00;
    --md-ref-palette-secondary-4: #140d01;
    --md-ref-palette-secondary-5: #171002;
    --md-ref-palette-secondary-10: #221b08;
    --md-ref-palette-secondary-20: #382f1b;
    --md-ref-palette-secondary-30: #50462f;
    --md-ref-palette-secondary-40: #685d45;
    --md-ref-palette-secondary-50: #82765c;
    --md-ref-palette-secondary-60: #9c8f75;
    --md-ref-palette-secondary-70: #b8aa8e;
    --md-ref-palette-secondary-80: #d4c5a8;
    --md-ref-palette-secondary-90: #f1e1c2;
    --md-ref-palette-secondary-95: #ffefd1;
    --md-ref-palette-secondary-96: #fff2dc;
    --md-ref-palette-secondary-97: #fff5e7;
    --md-ref-palette-secondary-98: #fff8f1;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #020500;
    --md-ref-palette-tertiary-2: #030900;
    --md-ref-palette-tertiary-3: #050d00;
    --md-ref-palette-tertiary-4: #071100;
    --md-ref-palette-tertiary-5: #091400;
    --md-ref-palette-tertiary-10: #112001;
    --md-ref-palette-tertiary-20: #253510;
    --md-ref-palette-tertiary-30: #3b4c25;
    --md-ref-palette-tertiary-40: #52643a;
    --md-ref-palette-tertiary-50: #6a7d51;
    --md-ref-palette-tertiary-60: #849768;
    --md-ref-palette-tertiary-70: #9eb281;
    --md-ref-palette-tertiary-80: #b9ce9a;
    --md-ref-palette-tertiary-90: #d5eab5;
    --md-ref-palette-tertiary-95: #e3f8c2;
    --md-ref-palette-tertiary-96: #e6fbc5;
    --md-ref-palette-tertiary-97: #e9fec7;
    --md-ref-palette-tertiary-98: #f0ffd6;
    --md-ref-palette-tertiary-99: #f9ffe8;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #050402;
    --md-ref-palette-neutral-2: #090704;
    --md-ref-palette-neutral-3: #0d0b07;
    --md-ref-palette-neutral-4: #100e0a;
    --md-ref-palette-neutral-5: #13110d;
    --md-ref-palette-neutral-10: #1e1b17;
    --md-ref-palette-neutral-20: #33302b;
    --md-ref-palette-neutral-30: #4a4641;
    --md-ref-palette-neutral-40: #625e58;
    --md-ref-palette-neutral-50: #7b7670;
    --md-ref-palette-neutral-60: #95908a;
    --md-ref-palette-neutral-70: #b0aaa4;
    --md-ref-palette-neutral-80: #ccc6bf;
    --md-ref-palette-neutral-90: #e8e1da;
    --md-ref-palette-neutral-95: #f6f0e8;
    --md-ref-palette-neutral-96: #f9f2eb;
    --md-ref-palette-neutral-97: #fcf5ee;
    --md-ref-palette-neutral-98: #fff8f1;
    --md-ref-palette-neutral-99: #fffbff;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #050300;
    --md-ref-palette-neutral-variant-2: #0a0702;
    --md-ref-palette-neutral-variant-3: #0e0b04;
    --md-ref-palette-neutral-variant-4: #120e05;
    --md-ref-palette-neutral-variant-5: #151007;
    --md-ref-palette-neutral-variant-10: #201b11;
    --md-ref-palette-neutral-variant-20: #353025;
    --md-ref-palette-neutral-variant-30: #4c463a;
    --md-ref-palette-neutral-variant-40: #645e51;
    --md-ref-palette-neutral-variant-50: #7e7669;
    --md-ref-palette-neutral-variant-60: #989081;
    --md-ref-palette-neutral-variant-70: #b3aa9b;
    --md-ref-palette-neutral-variant-80: #cfc5b6;
    --md-ref-palette-neutral-variant-90: #ebe1d1;
    --md-ref-palette-neutral-variant-95: #faefdf;
    --md-ref-palette-neutral-variant-96: #fdf2e1;
    --md-ref-palette-neutral-variant-97: #fff5e7;
    --md-ref-palette-neutral-variant-98: #fff8f1;
    --md-ref-palette-neutral-variant-99: #fffbff;
    --md-ref-palette-neutral-variant-100: #ffffff;
}