:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #000312;
    --md-ref-palette-primary-2: #00061d;
    --md-ref-palette-primary-3: #000925;
    --md-ref-palette-primary-4: #000c2c;
    --md-ref-palette-primary-5: #000f31;
    --md-ref-palette-primary-6: #001136;
    --md-ref-palette-primary-7: #00133b;
    --md-ref-palette-primary-8: #00153f;
    --md-ref-palette-primary-9: #001743;
    --md-ref-palette-primary-10: #001847;
    --md-ref-palette-primary-11: #001a4b;
    --md-ref-palette-primary-12: #001c4f;
    --md-ref-palette-primary-13: #001e54;
    --md-ref-palette-primary-14: #002058;
    --md-ref-palette-primary-15: #00225c;
    --md-ref-palette-primary-16: #002460;
    --md-ref-palette-primary-17: #002665;
    --md-ref-palette-primary-18: #002869;
    --md-ref-palette-primary-19: #002a6d;
    --md-ref-palette-primary-20: #002c72;
    --md-ref-palette-primary-21: #002e76;
    --md-ref-palette-primary-22: #00307b;
    --md-ref-palette-primary-23: #01327f;
    --md-ref-palette-primary-24: #063481;
    --md-ref-palette-primary-25: #0b3783;
    --md-ref-palette-primary-26: #0f3986;
    --md-ref-palette-primary-27: #133b88;
    --md-ref-palette-primary-28: #173e8a;
    --md-ref-palette-primary-29: #1a408d;
    --md-ref-palette-primary-30: #1d438f;
    --md-ref-palette-primary-31: #204592;
    --md-ref-palette-primary-32: #234894;
    --md-ref-palette-primary-33: #264a97;
    --md-ref-palette-primary-34: #294c99;
    --md-ref-palette-primary-35: #2c4f9c;
    --md-ref-palette-primary-36: #2f519e;
    --md-ref-palette-primary-37: #3254a1;
    --md-ref-palette-primary-38: #3456a4;
    --md-ref-palette-primary-39: #3759a6;
    --md-ref-palette-primary-40: #3a5ba9;
    --md-ref-palette-primary-41: #3c5eab;
    --md-ref-palette-primary-42: #3f60ae;
    --md-ref-palette-primary-43: #4263b1;
    --md-ref-palette-primary-44: #4465b3;
    --md-ref-palette-primary-45: #4768b6;
    --md-ref-palette-primary-46: #4a6ab9;
    --md-ref-palette-primary-47: #4c6dbb;
    --md-ref-palette-primary-48: #4f6fbe;
    --md-ref-palette-primary-49: #5272c1;
    --md-ref-palette-primary-50: #5474c4;
    --md-ref-palette-primary-51: #5777c6;
    --md-ref-palette-primary-52: #5979c9;
    --md-ref-palette-primary-53: #5c7ccc;
    --md-ref-palette-primary-54: #5f7fcf;
    --md-ref-palette-primary-55: #6181d1;
    --md-ref-palette-primary-56: #6484d4;
    --md-ref-palette-primary-57: #6786d7;
    --md-ref-palette-primary-58: #6989da;
    --md-ref-palette-primary-59: #6c8cdd;
    --md-ref-palette-primary-60: #6f8edf;
    --md-ref-palette-primary-61: #7191e2;
    --md-ref-palette-primary-62: #7494e5;
    --md-ref-palette-primary-63: #7796e8;
    --md-ref-palette-primary-64: #7999eb;
    --md-ref-palette-primary-65: #7c9cee;
    --md-ref-palette-primary-66: #7f9ef1;
    --md-ref-palette-primary-67: #81a1f3;
    --md-ref-palette-primary-68: #84a4f6;
    --md-ref-palette-primary-69: #87a6f9;
    --md-ref-palette-primary-70: #89a9fc;
    --md-ref-palette-primary-71: #8cacff;
    --md-ref-palette-primary-72: #90afff;
    --md-ref-palette-primary-73: #95b1ff;
    --md-ref-palette-primary-74: #99b4ff;
    --md-ref-palette-primary-75: #9db7ff;
    --md-ref-palette-primary-76: #a1baff;
    --md-ref-palette-primary-77: #a5bdff;
    --md-ref-palette-primary-78: #a9c0ff;
    --md-ref-palette-primary-79: #adc2ff;
    --md-ref-palette-primary-80: #b2c5ff;
    --md-ref-palette-primary-81: #b6c8ff;
    --md-ref-palette-primary-82: #bacbff;
    --md-ref-palette-primary-83: #beceff;
    --md-ref-palette-primary-84: #c2d1ff;
    --md-ref-palette-primary-85: #c6d3ff;
    --md-ref-palette-primary-86: #cad6ff;
    --md-ref-palette-primary-87: #ced9ff;
    --md-ref-palette-primary-88: #d2dcff;
    --md-ref-palette-primary-89: #d6dfff;
    --md-ref-palette-primary-90: #dae2ff;
    --md-ref-palette-primary-91: #dee4ff;
    --md-ref-palette-primary-92: #e2e7ff;
    --md-ref-palette-primary-93: #e6eaff;
    --md-ref-palette-primary-94: #eaedff;
    --md-ref-palette-primary-95: #eef0ff;
    --md-ref-palette-primary-96: #f2f3ff;
    --md-ref-palette-primary-97: #f6f6ff;
    --md-ref-palette-primary-98: #faf8ff;
    --md-ref-palette-primary-99: #fefbff;
    --md-ref-palette-primary-100: #ffffff;
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #000311;
    --md-ref-palette-secondary-2: #020716;
    --md-ref-palette-secondary-3: #050a1a;
    --md-ref-palette-secondary-4: #070e1e;
    --md-ref-palette-secondary-5: #0a1021;
    --md-ref-palette-secondary-6: #0c1323;
    --md-ref-palette-secondary-7: #0f1525;
    --md-ref-palette-secondary-8: #111728;
    --md-ref-palette-secondary-9: #13192a;
    --md-ref-palette-secondary-10: #151b2c;
    --md-ref-palette-secondary-11: #171d2e;
    --md-ref-palette-secondary-12: #191f30;
    --md-ref-palette-secondary-13: #1b2132;
    --md-ref-palette-secondary-14: #1d2334;
    --md-ref-palette-secondary-15: #1f2536;
    --md-ref-palette-secondary-16: #212739;
    --md-ref-palette-secondary-17: #232a3b;
    --md-ref-palette-secondary-18: #262c3d;
    --md-ref-palette-secondary-19: #282e3f;
    --md-ref-palette-secondary-20: #2a3042;
    --md-ref-palette-secondary-21: #2c3244;
    --md-ref-palette-secondary-22: #2e3446;
    --md-ref-palette-secondary-23: #303748;
    --md-ref-palette-secondary-24: #33394b;
    --md-ref-palette-secondary-25: #353b4d;
    --md-ref-palette-secondary-26: #373d4f;
    --md-ref-palette-secondary-27: #393f52;
    --md-ref-palette-secondary-28: #3c4254;
    --md-ref-palette-secondary-29: #3e4457;
    --md-ref-palette-secondary-30: #404659;
    --md-ref-palette-secondary-31: #43495b;
    --md-ref-palette-secondary-32: #454b5e;
    --md-ref-palette-secondary-33: #474d60;
    --md-ref-palette-secondary-34: #4a5063;
    --md-ref-palette-secondary-35: #4c5265;
    --md-ref-palette-secondary-36: #4e5468;
    --md-ref-palette-secondary-37: #51576a;
    --md-ref-palette-secondary-38: #53596c;
    --md-ref-palette-secondary-39: #555b6f;
    --md-ref-palette-secondary-40: #585e71;
    --md-ref-palette-secondary-41: #5a6074;
    --md-ref-palette-secondary-42: #5d6376;
    --md-ref-palette-secondary-43: #5f6579;
    --md-ref-palette-secondary-44: #62687c;
    --md-ref-palette-secondary-45: #646a7e;
    --md-ref-palette-secondary-46: #676d81;
    --md-ref-palette-secondary-47: #696f83;
    --md-ref-palette-secondary-48: #6c7286;
    --md-ref-palette-secondary-49: #6e7488;
    --md-ref-palette-secondary-50: #71778b;
    --md-ref-palette-secondary-51: #73798e;
    --md-ref-palette-secondary-52: #767c90;
    --md-ref-palette-secondary-53: #787e93;
    --md-ref-palette-secondary-54: #7b8195;
    --md-ref-palette-secondary-55: #7d8398;
    --md-ref-palette-secondary-56: #80869b;
    --md-ref-palette-secondary-57: #82889d;
    --md-ref-palette-secondary-58: #858ba0;
    --md-ref-palette-secondary-59: #888da3;
    --md-ref-palette-secondary-60: #8a90a5;
    --md-ref-palette-secondary-61: #8d93a8;
    --md-ref-palette-secondary-62: #8f95ab;
    --md-ref-palette-secondary-63: #9298ad;
    --md-ref-palette-secondary-64: #959bb0;
    --md-ref-palette-secondary-65: #979db3;
    --md-ref-palette-secondary-66: #9aa0b6;
    --md-ref-palette-secondary-67: #9da3b8;
    --md-ref-palette-secondary-68: #9fa5bb;
    --md-ref-palette-secondary-69: #a2a8be;
    --md-ref-palette-secondary-70: #a5abc1;
    --md-ref-palette-secondary-71: #a7adc3;
    --md-ref-palette-secondary-72: #aab0c6;
    --md-ref-palette-secondary-73: #adb3c9;
    --md-ref-palette-secondary-74: #b0b5cc;
    --md-ref-palette-secondary-75: #b2b8ce;
    --md-ref-palette-secondary-76: #b5bbd1;
    --md-ref-palette-secondary-77: #b8bdd4;
    --md-ref-palette-secondary-78: #bbc0d7;
    --md-ref-palette-secondary-79: #bdc3da;
    --md-ref-palette-secondary-80: #c0c6dd;
    --md-ref-palette-secondary-81: #c3c8df;
    --md-ref-palette-secondary-82: #c6cbe2;
    --md-ref-palette-secondary-83: #c8cee5;
    --md-ref-palette-secondary-84: #cbd1e8;
    --md-ref-palette-secondary-85: #ced4eb;
    --md-ref-palette-secondary-86: #d1d6ee;
    --md-ref-palette-secondary-87: #d4d9f0;
    --md-ref-palette-secondary-88: #d7dcf3;
    --md-ref-palette-secondary-89: #d9dff6;
    --md-ref-palette-secondary-90: #dce2f9;
    --md-ref-palette-secondary-91: #dfe4fc;
    --md-ref-palette-secondary-92: #e2e7ff;
    --md-ref-palette-secondary-93: #e6eaff;
    --md-ref-palette-secondary-94: #eaedff;
    --md-ref-palette-secondary-95: #eef0ff;
    --md-ref-palette-secondary-96: #f2f3ff;
    --md-ref-palette-secondary-97: #f6f6ff;
    --md-ref-palette-secondary-98: #faf8ff;
    --md-ref-palette-secondary-99: #fefbff;
    --md-ref-palette-secondary-100: #ffffff;
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0c000e;
    --md-ref-palette-tertiary-2: #130116;
    --md-ref-palette-tertiary-3: #18031a;
    --md-ref-palette-tertiary-4: #1b051d;
    --md-ref-palette-tertiary-5: #1f0820;
    --md-ref-palette-tertiary-6: #210a23;
    --md-ref-palette-tertiary-7: #240c25;
    --md-ref-palette-tertiary-8: #260e27;
    --md-ref-palette-tertiary-9: #281029;
    --md-ref-palette-tertiary-10: #2b122c;
    --md-ref-palette-tertiary-11: #2d142e;
    --md-ref-palette-tertiary-12: #2f1630;
    --md-ref-palette-tertiary-13: #311932;
    --md-ref-palette-tertiary-14: #341b34;
    --md-ref-palette-tertiary-15: #361d36;
    --md-ref-palette-tertiary-16: #381f39;
    --md-ref-palette-tertiary-17: #3a213b;
    --md-ref-palette-tertiary-18: #3d233d;
    --md-ref-palette-tertiary-19: #3f253f;
    --md-ref-palette-tertiary-20: #412742;
    --md-ref-palette-tertiary-21: #442944;
    --md-ref-palette-tertiary-22: #462c46;
    --md-ref-palette-tertiary-23: #492e48;
    --md-ref-palette-tertiary-24: #4b304b;
    --md-ref-palette-tertiary-25: #4d324d;
    --md-ref-palette-tertiary-26: #50344f;
    --md-ref-palette-tertiary-27: #523752;
    --md-ref-palette-tertiary-28: #553954;
    --md-ref-palette-tertiary-29: #573b57;
    --md-ref-palette-tertiary-30: #5a3d59;
    --md-ref-palette-tertiary-31: #5c405b;
    --md-ref-palette-tertiary-32: #5f425e;
    --md-ref-palette-tertiary-33: #614460;
    --md-ref-palette-tertiary-34: #644663;
    --md-ref-palette-tertiary-35: #664965;
    --md-ref-palette-tertiary-36: #694b68;
    --md-ref-palette-tertiary-37: #6b4d6a;
    --md-ref-palette-tertiary-38: #6e506c;
    --md-ref-palette-tertiary-39: #70526f;
    --md-ref-palette-tertiary-40: #735471;
    --md-ref-palette-tertiary-41: #755774;
    --md-ref-palette-tertiary-42: #785977;
    --md-ref-palette-tertiary-43: #7b5c79;
    --md-ref-palette-tertiary-44: #7d5e7c;
    --md-ref-palette-tertiary-45: #80617e;
    --md-ref-palette-tertiary-46: #826381;
    --md-ref-palette-tertiary-47: #856583;
    --md-ref-palette-tertiary-48: #886886;
    --md-ref-palette-tertiary-49: #8a6a88;
    --md-ref-palette-tertiary-50: #8d6d8b;
    --md-ref-palette-tertiary-51: #906f8e;
    --md-ref-palette-tertiary-52: #927290;
    --md-ref-palette-tertiary-53: #957493;
    --md-ref-palette-tertiary-54: #987796;
    --md-ref-palette-tertiary-55: #9a7998;
    --md-ref-palette-tertiary-56: #9d7c9b;
    --md-ref-palette-tertiary-57: #a07e9d;
    --md-ref-palette-tertiary-58: #a381a0;
    --md-ref-palette-tertiary-59: #a583a3;
    --md-ref-palette-tertiary-60: #a886a5;
    --md-ref-palette-tertiary-61: #ab89a8;
    --md-ref-palette-tertiary-62: #ae8bab;
    --md-ref-palette-tertiary-63: #b08eae;
    --md-ref-palette-tertiary-64: #b390b0;
    --md-ref-palette-tertiary-65: #b693b3;
    --md-ref-palette-tertiary-66: #b996b6;
    --md-ref-palette-tertiary-67: #bc98b8;
    --md-ref-palette-tertiary-68: #be9bbb;
    --md-ref-palette-tertiary-69: #c19dbe;
    --md-ref-palette-tertiary-70: #c4a0c1;
    --md-ref-palette-tertiary-71: #c7a3c3;
    --md-ref-palette-tertiary-72: #caa5c6;
    --md-ref-palette-tertiary-73: #cca8c9;
    --md-ref-palette-tertiary-74: #cfabcc;
    --md-ref-palette-tertiary-75: #d2adcf;
    --md-ref-palette-tertiary-76: #d5b0d1;
    --md-ref-palette-tertiary-77: #d8b3d4;
    --md-ref-palette-tertiary-78: #dbb6d7;
    --md-ref-palette-tertiary-79: #deb8da;
    --md-ref-palette-tertiary-80: #e1bbdd;
    --md-ref-palette-tertiary-81: #e3bee0;
    --md-ref-palette-tertiary-82: #e6c0e2;
    --md-ref-palette-tertiary-83: #e9c3e5;
    --md-ref-palette-tertiary-84: #ecc6e8;
    --md-ref-palette-tertiary-85: #efc9eb;
    --md-ref-palette-tertiary-86: #f2cbee;
    --md-ref-palette-tertiary-87: #f5cef1;
    --md-ref-palette-tertiary-88: #f8d1f4;
    --md-ref-palette-tertiary-89: #fbd4f6;
    --md-ref-palette-tertiary-90: #fed7f9;
    --md-ref-palette-tertiary-91: #ffdafa;
    --md-ref-palette-tertiary-92: #ffdffa;
    --md-ref-palette-tertiary-93: #ffe3fa;
    --md-ref-palette-tertiary-94: #ffe7fa;
    --md-ref-palette-tertiary-95: #ffebfa;
    --md-ref-palette-tertiary-96: #ffeffa;
    --md-ref-palette-tertiary-97: #fff3fa;
    --md-ref-palette-tertiary-98: #fff7fa;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-6: #310001;
    --md-ref-palette-error-7: #360001;
    --md-ref-palette-error-8: #390001;
    --md-ref-palette-error-9: #3d0002;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-11: #450002;
    --md-ref-palette-error-12: #490002;
    --md-ref-palette-error-13: #4d0002;
    --md-ref-palette-error-14: #500003;
    --md-ref-palette-error-15: #540003;
    --md-ref-palette-error-16: #580003;
    --md-ref-palette-error-17: #5c0004;
    --md-ref-palette-error-18: #600004;
    --md-ref-palette-error-19: #640004;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-21: #6d0005;
    --md-ref-palette-error-22: #710005;
    --md-ref-palette-error-23: #750006;
    --md-ref-palette-error-24: #790006;
    --md-ref-palette-error-25: #7e0007;
    --md-ref-palette-error-26: #820007;
    --md-ref-palette-error-27: #860008;
    --md-ref-palette-error-28: #8a0008;
    --md-ref-palette-error-29: #8f0009;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-31: #98000a;
    --md-ref-palette-error-32: #9c000b;
    --md-ref-palette-error-33: #a0000c;
    --md-ref-palette-error-34: #a4020d;
    --md-ref-palette-error-35: #a80710;
    --md-ref-palette-error-36: #ac0c12;
    --md-ref-palette-error-37: #af1014;
    --md-ref-palette-error-38: #b31416;
    --md-ref-palette-error-39: #b61718;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-41: #bd1e1d;
    --md-ref-palette-error-42: #c1211f;
    --md-ref-palette-error-43: #c52421;
    --md-ref-palette-error-44: #c82623;
    --md-ref-palette-error-45: #cc2925;
    --md-ref-palette-error-46: #cf2c27;
    --md-ref-palette-error-47: #d32f29;
    --md-ref-palette-error-48: #d7322c;
    --md-ref-palette-error-49: #da342e;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-51: #e13a32;
    --md-ref-palette-error-52: #e53c34;
    --md-ref-palette-error-53: #e93f36;
    --md-ref-palette-error-54: #ec4139;
    --md-ref-palette-error-55: #f0443b;
    --md-ref-palette-error-56: #f3473d;
    --md-ref-palette-error-57: #f7493f;
    --md-ref-palette-error-58: #fb4c42;
    --md-ref-palette-error-59: #fe4e44;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-61: #ff5b4f;
    --md-ref-palette-error-62: #ff6154;
    --md-ref-palette-error-63: #ff665a;
    --md-ref-palette-error-64: #ff6c5f;
    --md-ref-palette-error-65: #ff7164;
    --md-ref-palette-error-66: #ff7669;
    --md-ref-palette-error-67: #ff7b6e;
    --md-ref-palette-error-68: #ff8073;
    --md-ref-palette-error-69: #ff8578;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-71: #ff8e82;
    --md-ref-palette-error-72: #ff9286;
    --md-ref-palette-error-73: #ff978b;
    --md-ref-palette-error-74: #ff9b90;
    --md-ref-palette-error-75: #ff9f94;
    --md-ref-palette-error-76: #ffa399;
    --md-ref-palette-error-77: #ffa89d;
    --md-ref-palette-error-78: #ffaca2;
    --md-ref-palette-error-79: #ffb0a6;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-81: #ffb8af;
    --md-ref-palette-error-82: #ffbcb3;
    --md-ref-palette-error-83: #ffbfb8;
    --md-ref-palette-error-84: #ffc3bc;
    --md-ref-palette-error-85: #ffc7c0;
    --md-ref-palette-error-86: #ffcbc5;
    --md-ref-palette-error-87: #ffcfc9;
    --md-ref-palette-error-88: #ffd3cd;
    --md-ref-palette-error-89: #ffd6d1;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-91: #ffdeda;
    --md-ref-palette-error-92: #ffe2de;
    --md-ref-palette-error-93: #ffe5e2;
    --md-ref-palette-error-94: #ffe9e6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040404;
    --md-ref-palette-neutral-2: #070707;
    --md-ref-palette-neutral-3: #0b0b0b;
    --md-ref-palette-neutral-4: #0e0e0e;
    --md-ref-palette-neutral-5: #111111;
    --md-ref-palette-neutral-6: #131313;
    --md-ref-palette-neutral-7: #151515;
    --md-ref-palette-neutral-8: #181818;
    --md-ref-palette-neutral-9: #191919;
    --md-ref-palette-neutral-10: #1b1b1b;
    --md-ref-palette-neutral-11: #1d1d1d;
    --md-ref-palette-neutral-12: #1f1f1f;
    --md-ref-palette-neutral-13: #222222;
    --md-ref-palette-neutral-14: #242424;
    --md-ref-palette-neutral-15: #262626;
    --md-ref-palette-neutral-16: #282828;
    --md-ref-palette-neutral-17: #2a2a2a;
    --md-ref-palette-neutral-18: #2c2c2c;
    --md-ref-palette-neutral-19: #2e2e2e;
    --md-ref-palette-neutral-20: #303030;
    --md-ref-palette-neutral-21: #323232;
    --md-ref-palette-neutral-22: #353535;
    --md-ref-palette-neutral-23: #373737;
    --md-ref-palette-neutral-24: #393939;
    --md-ref-palette-neutral-25: #3b3b3b;
    --md-ref-palette-neutral-26: #3e3e3e;
    --md-ref-palette-neutral-27: #404040;
    --md-ref-palette-neutral-28: #424242;
    --md-ref-palette-neutral-29: #444444;
    --md-ref-palette-neutral-30: #474747;
    --md-ref-palette-neutral-31: #494949;
    --md-ref-palette-neutral-32: #4b4b4b;
    --md-ref-palette-neutral-33: #4e4e4e;
    --md-ref-palette-neutral-34: #505050;
    --md-ref-palette-neutral-35: #525252;
    --md-ref-palette-neutral-36: #555555;
    --md-ref-palette-neutral-37: #575757;
    --md-ref-palette-neutral-38: #595959;
    --md-ref-palette-neutral-39: #5c5c5c;
    --md-ref-palette-neutral-40: #5e5e5e;
    --md-ref-palette-neutral-41: #616161;
    --md-ref-palette-neutral-42: #636363;
    --md-ref-palette-neutral-43: #666666;
    --md-ref-palette-neutral-44: #686868;
    --md-ref-palette-neutral-45: #6a6a6a;
    --md-ref-palette-neutral-46: #6d6d6d;
    --md-ref-palette-neutral-47: #6f6f6f;
    --md-ref-palette-neutral-48: #727272;
    --md-ref-palette-neutral-49: #747474;
    --md-ref-palette-neutral-50: #777777;
    --md-ref-palette-neutral-51: #797979;
    --md-ref-palette-neutral-52: #7c7c7c;
    --md-ref-palette-neutral-53: #7f7f7f;
    --md-ref-palette-neutral-54: #818181;
    --md-ref-palette-neutral-55: #848484;
    --md-ref-palette-neutral-56: #868686;
    --md-ref-palette-neutral-57: #898989;
    --md-ref-palette-neutral-58: #8b8b8b;
    --md-ref-palette-neutral-59: #8e8e8e;
    --md-ref-palette-neutral-60: #919191;
    --md-ref-palette-neutral-61: #939393;
    --md-ref-palette-neutral-62: #969696;
    --md-ref-palette-neutral-63: #989898;
    --md-ref-palette-neutral-64: #9b9b9b;
    --md-ref-palette-neutral-65: #9e9e9e;
    --md-ref-palette-neutral-66: #a0a0a0;
    --md-ref-palette-neutral-67: #a3a3a3;
    --md-ref-palette-neutral-68: #a6a6a6;
    --md-ref-palette-neutral-69: #a8a8a8;
    --md-ref-palette-neutral-70: #ababab;
    --md-ref-palette-neutral-71: #aeaeae;
    --md-ref-palette-neutral-72: #b0b0b0;
    --md-ref-palette-neutral-73: #b3b3b3;
    --md-ref-palette-neutral-74: #b6b6b6;
    --md-ref-palette-neutral-75: #b9b9b9;
    --md-ref-palette-neutral-76: #bbbbbb;
    --md-ref-palette-neutral-77: #bebebe;
    --md-ref-palette-neutral-78: #c1c1c1;
    --md-ref-palette-neutral-79: #c4c4c4;
    --md-ref-palette-neutral-80: #c6c6c6;
    --md-ref-palette-neutral-81: #c9c9c9;
    --md-ref-palette-neutral-82: #cccccc;
    --md-ref-palette-neutral-83: #cfcfcf;
    --md-ref-palette-neutral-84: #d1d1d1;
    --md-ref-palette-neutral-85: #d4d4d4;
    --md-ref-palette-neutral-86: #d7d7d7;
    --md-ref-palette-neutral-87: #dadada;
    --md-ref-palette-neutral-88: #dddddd;
    --md-ref-palette-neutral-89: #dfdfdf;
    --md-ref-palette-neutral-90: #e2e2e2;
    --md-ref-palette-neutral-91: #e5e5e5;
    --md-ref-palette-neutral-92: #e8e8e8;
    --md-ref-palette-neutral-93: #ebebeb;
    --md-ref-palette-neutral-94: #eeeeee;
    --md-ref-palette-neutral-95: #f1f1f1;
    --md-ref-palette-neutral-96: #f3f3f3;
    --md-ref-palette-neutral-97: #f6f6f6;
    --md-ref-palette-neutral-98: #f9f9f9;
    --md-ref-palette-neutral-99: #fcfcfc;
    --md-ref-palette-neutral-100: #ffffff;
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #040404;
    --md-ref-palette-neutral-variant-2: #070707;
    --md-ref-palette-neutral-variant-3: #0b0b0b;
    --md-ref-palette-neutral-variant-4: #0e0e0e;
    --md-ref-palette-neutral-variant-5: #111111;
    --md-ref-palette-neutral-variant-6: #131313;
    --md-ref-palette-neutral-variant-7: #151515;
    --md-ref-palette-neutral-variant-8: #181818;
    --md-ref-palette-neutral-variant-9: #191919;
    --md-ref-palette-neutral-variant-10: #1b1b1b;
    --md-ref-palette-neutral-variant-11: #1d1d1d;
    --md-ref-palette-neutral-variant-12: #1f1f1f;
    --md-ref-palette-neutral-variant-13: #222222;
    --md-ref-palette-neutral-variant-14: #242424;
    --md-ref-palette-neutral-variant-15: #262626;
    --md-ref-palette-neutral-variant-16: #282828;
    --md-ref-palette-neutral-variant-17: #2a2a2a;
    --md-ref-palette-neutral-variant-18: #2c2c2c;
    --md-ref-palette-neutral-variant-19: #2e2e2e;
    --md-ref-palette-neutral-variant-20: #303030;
    --md-ref-palette-neutral-variant-21: #323232;
    --md-ref-palette-neutral-variant-22: #353535;
    --md-ref-palette-neutral-variant-23: #373737;
    --md-ref-palette-neutral-variant-24: #393939;
    --md-ref-palette-neutral-variant-25: #3b3b3b;
    --md-ref-palette-neutral-variant-26: #3e3e3e;
    --md-ref-palette-neutral-variant-27: #404040;
    --md-ref-palette-neutral-variant-28: #424242;
    --md-ref-palette-neutral-variant-29: #444444;
    --md-ref-palette-neutral-variant-30: #474747;
    --md-ref-palette-neutral-variant-31: #494949;
    --md-ref-palette-neutral-variant-32: #4b4b4b;
    --md-ref-palette-neutral-variant-33: #4e4e4e;
    --md-ref-palette-neutral-variant-34: #505050;
    --md-ref-palette-neutral-variant-35: #525252;
    --md-ref-palette-neutral-variant-36: #555555;
    --md-ref-palette-neutral-variant-37: #575757;
    --md-ref-palette-neutral-variant-38: #595959;
    --md-ref-palette-neutral-variant-39: #5c5c5c;
    --md-ref-palette-neutral-variant-40: #5e5e5e;
    --md-ref-palette-neutral-variant-41: #616161;
    --md-ref-palette-neutral-variant-42: #636363;
    --md-ref-palette-neutral-variant-43: #666666;
    --md-ref-palette-neutral-variant-44: #686868;
    --md-ref-palette-neutral-variant-45: #6a6a6a;
    --md-ref-palette-neutral-variant-46: #6d6d6d;
    --md-ref-palette-neutral-variant-47: #6f6f6f;
    --md-ref-palette-neutral-variant-48: #727272;
    --md-ref-palette-neutral-variant-49: #747474;
    --md-ref-palette-neutral-variant-50: #777777;
    --md-ref-palette-neutral-variant-51: #797979;
    --md-ref-palette-neutral-variant-52: #7c7c7c;
    --md-ref-palette-neutral-variant-53: #7f7f7f;
    --md-ref-palette-neutral-variant-54: #818181;
    --md-ref-palette-neutral-variant-55: #848484;
    --md-ref-palette-neutral-variant-56: #868686;
    --md-ref-palette-neutral-variant-57: #898989;
    --md-ref-palette-neutral-variant-58: #8b8b8b;
    --md-ref-palette-neutral-variant-59: #8e8e8e;
    --md-ref-palette-neutral-variant-60: #919191;
    --md-ref-palette-neutral-variant-61: #939393;
    --md-ref-palette-neutral-variant-62: #969696;
    --md-ref-palette-neutral-variant-63: #989898;
    --md-ref-palette-neutral-variant-64: #9b9b9b;
    --md-ref-palette-neutral-variant-65: #9e9e9e;
    --md-ref-palette-neutral-variant-66: #a0a0a0;
    --md-ref-palette-neutral-variant-67: #a3a3a3;
    --md-ref-palette-neutral-variant-68: #a6a6a6;
    --md-ref-palette-neutral-variant-69: #a8a8a8;
    --md-ref-palette-neutral-variant-70: #ababab;
    --md-ref-palette-neutral-variant-71: #aeaeae;
    --md-ref-palette-neutral-variant-72: #b0b0b0;
    --md-ref-palette-neutral-variant-73: #b3b3b3;
    --md-ref-palette-neutral-variant-74: #b6b6b6;
    --md-ref-palette-neutral-variant-75: #b9b9b9;
    --md-ref-palette-neutral-variant-76: #bbbbbb;
    --md-ref-palette-neutral-variant-77: #bebebe;
    --md-ref-palette-neutral-variant-78: #c1c1c1;
    --md-ref-palette-neutral-variant-79: #c4c4c4;
    --md-ref-palette-neutral-variant-80: #c6c6c6;
    --md-ref-palette-neutral-variant-81: #c9c9c9;
    --md-ref-palette-neutral-variant-82: #cccccc;
    --md-ref-palette-neutral-variant-83: #cfcfcf;
    --md-ref-palette-neutral-variant-84: #d1d1d1;
    --md-ref-palette-neutral-variant-85: #d4d4d4;
    --md-ref-palette-neutral-variant-86: #d7d7d7;
    --md-ref-palette-neutral-variant-87: #dadada;
    --md-ref-palette-neutral-variant-88: #dddddd;
    --md-ref-palette-neutral-variant-89: #dfdfdf;
    --md-ref-palette-neutral-variant-90: #e2e2e2;
    --md-ref-palette-neutral-variant-91: #e5e5e5;
    --md-ref-palette-neutral-variant-92: #e8e8e8;
    --md-ref-palette-neutral-variant-93: #ebebeb;
    --md-ref-palette-neutral-variant-94: #eeeeee;
    --md-ref-palette-neutral-variant-95: #f1f1f1;
    --md-ref-palette-neutral-variant-96: #f3f3f3;
    --md-ref-palette-neutral-variant-97: #f6f6f6;
    --md-ref-palette-neutral-variant-98: #f9f9f9;
    --md-ref-palette-neutral-variant-99: #fcfcfc;
    --md-ref-palette-neutral-variant-100: #ffffff;
}
