:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #0c000e;
    --md-ref-palette-primary-2: #150018;
    --md-ref-palette-primary-3: #1b001f;
    --md-ref-palette-primary-4: #200025;
    --md-ref-palette-primary-5: #25002a;
    --md-ref-palette-primary-10: #36003d;
    --md-ref-palette-primary-20: #521458;
    --md-ref-palette-primary-30: #6c2d71;
    --md-ref-palette-primary-40: #87458a;
    --md-ref-palette-primary-50: #a25ea5;
    --md-ref-palette-primary-60: #bf77c0;
    --md-ref-palette-primary-70: #dc91dd;
    --md-ref-palette-primary-80: #faacf9;
    --md-ref-palette-primary-90: #ffd6fb;
    --md-ref-palette-primary-95: #ffebfa;
    --md-ref-palette-primary-96: #ffeffa;
    --md-ref-palette-primary-97: #fff3fa;
    --md-ref-palette-primary-98: #fff7fa;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #0a010b;
    --md-ref-palette-secondary-2: #0f0410;
    --md-ref-palette-secondary-3: #140614;
    --md-ref-palette-secondary-4: #170918;
    --md-ref-palette-secondary-5: #1a0c1a;
    --md-ref-palette-secondary-10: #261625;
    --md-ref-palette-secondary-20: #3c2b3b;
    --md-ref-palette-secondary-30: #534152;
    --md-ref-palette-secondary-40: #6c586a;
    --md-ref-palette-secondary-50: #867183;
    --md-ref-palette-secondary-60: #a08a9e;
    --md-ref-palette-secondary-70: #bca4b8;
    --md-ref-palette-secondary-80: #d8bfd4;
    --md-ref-palette-secondary-90: #f5dbf0;
    --md-ref-palette-secondary-95: #ffebfa;
    --md-ref-palette-secondary-96: #ffeffa;
    --md-ref-palette-secondary-97: #fff3fa;
    --md-ref-palette-secondary-98: #fff7fa;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #0f0000;
    --md-ref-palette-tertiary-2: #180100;
    --md-ref-palette-tertiary-3: #1d0301;
    --md-ref-palette-tertiary-4: #210502;
    --md-ref-palette-tertiary-5: #250703;
    --md-ref-palette-tertiary-10: #33110b;
    --md-ref-palette-tertiary-20: #4c261e;
    --md-ref-palette-tertiary-30: #673b32;
    --md-ref-palette-tertiary-40: #825249;
    --md-ref-palette-tertiary-50: #9e6a60;
    --md-ref-palette-tertiary-60: #ba8378;
    --md-ref-palette-tertiary-70: #d89d91;
    --md-ref-palette-tertiary-80: #f6b8ab;
    --md-ref-palette-tertiary-90: #ffdad3;
    --md-ref-palette-tertiary-95: #ffede9;
    --md-ref-palette-tertiary-96: #fff0ee;
    --md-ref-palette-tertiary-97: #fff4f2;
    --md-ref-palette-tertiary-98: #fff8f6;
    --md-ref-palette-tertiary-99: #fffbff;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040404;
    --md-ref-palette-neutral-2: #070707;
    --md-ref-palette-neutral-3: #0b0b0b;
    --md-ref-palette-neutral-4: #0e0e0e;
    --md-ref-palette-neutral-5: #111111;
    --md-ref-palette-neutral-10: #1b1b1b;
    --md-ref-palette-neutral-20: #303030;
    --md-ref-palette-neutral-30: #474747;
    --md-ref-palette-neutral-40: #5e5e5e;
    --md-ref-palette-neutral-50: #777777;
    --md-ref-palette-neutral-60: #919191;
    --md-ref-palette-neutral-70: #ababab;
    --md-ref-palette-neutral-80: #c6c6c6;
    --md-ref-palette-neutral-90: #e2e2e2;
    --md-ref-palette-neutral-95: #f1f1f1;
    --md-ref-palette-neutral-96: #f3f3f3;
    --md-ref-palette-neutral-97: #f6f6f6;
    --md-ref-palette-neutral-98: #f9f9f9;
    --md-ref-palette-neutral-99: #fcfcfc;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #040404;
    --md-ref-palette-neutral-variant-2: #070707;
    --md-ref-palette-neutral-variant-3: #0b0b0b;
    --md-ref-palette-neutral-variant-4: #0e0e0e;
    --md-ref-palette-neutral-variant-5: #111111;
    --md-ref-palette-neutral-variant-10: #1b1b1b;
    --md-ref-palette-neutral-variant-20: #303030;
    --md-ref-palette-neutral-variant-30: #474747;
    --md-ref-palette-neutral-variant-40: #5e5e5e;
    --md-ref-palette-neutral-variant-50: #777777;
    --md-ref-palette-neutral-variant-60: #919191;
    --md-ref-palette-neutral-variant-70: #ababab;
    --md-ref-palette-neutral-variant-80: #c6c6c6;
    --md-ref-palette-neutral-variant-90: #e2e2e2;
    --md-ref-palette-neutral-variant-95: #f1f1f1;
    --md-ref-palette-neutral-variant-96: #f3f3f3;
    --md-ref-palette-neutral-variant-97: #f6f6f6;
    --md-ref-palette-neutral-variant-98: #f9f9f9;
    --md-ref-palette-neutral-variant-99: #fcfcfc;
    --md-ref-palette-neutral-variant-100: #ffffff;
}