:root {
    --md-ref-palette-primary-0: #000000;
    --md-ref-palette-primary-1: #060300;
    --md-ref-palette-primary-2: #0b0700;
    --md-ref-palette-primary-3: #100a00;
    --md-ref-palette-primary-4: #140d00;
    --md-ref-palette-primary-5: #171000;
    --md-ref-palette-primary-10: #241a00;
    --md-ref-palette-primary-20: #3d2e00;
    --md-ref-palette-primary-30: #584400;
    --md-ref-palette-primary-40: #755b00;
    --md-ref-palette-primary-50: #937300;
    --md-ref-palette-primary-60: #b18c0e;
    --md-ref-palette-primary-70: #cea62e;
    --md-ref-palette-primary-80: #ecc248;
    --md-ref-palette-primary-90: #ffdf90;
    --md-ref-palette-primary-95: #ffefcf;
    --md-ref-palette-primary-96: #fff2da;
    --md-ref-palette-primary-97: #fff5e6;
    --md-ref-palette-primary-98: #fff8f1;
    --md-ref-palette-primary-99: #fffbff;
    --md-ref-palette-primary-100: #ffffff;
}
:root {
    --md-ref-palette-secondary-0: #000000;
    --md-ref-palette-secondary-1: #060300;
    --md-ref-palette-secondary-2: #0b0700;
    --md-ref-palette-secondary-3: #100a00;
    --md-ref-palette-secondary-4: #140d00;
    --md-ref-palette-secondary-5: #171000;
    --md-ref-palette-secondary-10: #231b04;
    --md-ref-palette-secondary-20: #392f15;
    --md-ref-palette-secondary-30: #51462a;
    --md-ref-palette-secondary-40: #695d3f;
    --md-ref-palette-secondary-50: #837656;
    --md-ref-palette-secondary-60: #9e8f6e;
    --md-ref-palette-secondary-70: #b9aa87;
    --md-ref-palette-secondary-80: #d5c5a0;
    --md-ref-palette-secondary-90: #f2e1bb;
    --md-ref-palette-secondary-95: #ffefcf;
    --md-ref-palette-secondary-96: #fff2da;
    --md-ref-palette-secondary-97: #fff5e6;
    --md-ref-palette-secondary-98: #fff8f1;
    --md-ref-palette-secondary-99: #fffbff;
    --md-ref-palette-secondary-100: #ffffff;
}
:root {
    --md-ref-palette-tertiary-0: #000000;
    --md-ref-palette-tertiary-1: #000501;
    --md-ref-palette-tertiary-2: #000a02;
    --md-ref-palette-tertiary-3: #000e03;
    --md-ref-palette-tertiary-4: #001203;
    --md-ref-palette-tertiary-5: #001504;
    --md-ref-palette-tertiary-10: #04210b;
    --md-ref-palette-tertiary-20: #1a361e;
    --md-ref-palette-tertiary-30: #304d33;
    --md-ref-palette-tertiary-40: #476649;
    --md-ref-palette-tertiary-50: #607f61;
    --md-ref-palette-tertiary-60: #799979;
    --md-ref-palette-tertiary-70: #93b493;
    --md-ref-palette-tertiary-80: #adcfad;
    --md-ref-palette-tertiary-90: #c9ecc8;
    --md-ref-palette-tertiary-95: #d7fad6;
    --md-ref-palette-tertiary-96: #dafdd8;
    --md-ref-palette-tertiary-97: #dfffdd;
    --md-ref-palette-tertiary-98: #ebffe7;
    --md-ref-palette-tertiary-99: #f6fff1;
    --md-ref-palette-tertiary-100: #ffffff;
}
:root {
    --md-ref-palette-error-0: #000000;
    --md-ref-palette-error-1: #100000;
    --md-ref-palette-error-2: #1a0000;
    --md-ref-palette-error-3: #210001;
    --md-ref-palette-error-4: #280001;
    --md-ref-palette-error-5: #2d0001;
    --md-ref-palette-error-10: #410002;
    --md-ref-palette-error-20: #690005;
    --md-ref-palette-error-30: #93000a;
    --md-ref-palette-error-40: #ba1a1a;
    --md-ref-palette-error-50: #de3730;
    --md-ref-palette-error-60: #ff5449;
    --md-ref-palette-error-70: #ff897d;
    --md-ref-palette-error-80: #ffb4ab;
    --md-ref-palette-error-90: #ffdad6;
    --md-ref-palette-error-95: #ffedea;
    --md-ref-palette-error-96: #fff0ee;
    --md-ref-palette-error-97: #fff4f2;
    --md-ref-palette-error-98: #fff8f7;
    --md-ref-palette-error-99: #fffbff;
    --md-ref-palette-error-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-0: #000000;
    --md-ref-palette-neutral-1: #040404;
    --md-ref-palette-neutral-2: #070707;
    --md-ref-palette-neutral-3: #0b0b0b;
    --md-ref-palette-neutral-4: #0e0e0e;
    --md-ref-palette-neutral-5: #111111;
    --md-ref-palette-neutral-10: #1b1b1b;
    --md-ref-palette-neutral-20: #303030;
    --md-ref-palette-neutral-30: #474747;
    --md-ref-palette-neutral-40: #5e5e5e;
    --md-ref-palette-neutral-50: #777777;
    --md-ref-palette-neutral-60: #919191;
    --md-ref-palette-neutral-70: #ababab;
    --md-ref-palette-neutral-80: #c6c6c6;
    --md-ref-palette-neutral-90: #e2e2e2;
    --md-ref-palette-neutral-95: #f1f1f1;
    --md-ref-palette-neutral-96: #f3f3f3;
    --md-ref-palette-neutral-97: #f6f6f6;
    --md-ref-palette-neutral-98: #f9f9f9;
    --md-ref-palette-neutral-99: #fcfcfc;
    --md-ref-palette-neutral-100: #ffffff;
}
:root {
    --md-ref-palette-neutral-variant-0: #000000;
    --md-ref-palette-neutral-variant-1: #040404;
    --md-ref-palette-neutral-variant-2: #070707;
    --md-ref-palette-neutral-variant-3: #0b0b0b;
    --md-ref-palette-neutral-variant-4: #0e0e0e;
    --md-ref-palette-neutral-variant-5: #111111;
    --md-ref-palette-neutral-variant-10: #1b1b1b;
    --md-ref-palette-neutral-variant-20: #303030;
    --md-ref-palette-neutral-variant-30: #474747;
    --md-ref-palette-neutral-variant-40: #5e5e5e;
    --md-ref-palette-neutral-variant-50: #777777;
    --md-ref-palette-neutral-variant-60: #919191;
    --md-ref-palette-neutral-variant-70: #ababab;
    --md-ref-palette-neutral-variant-80: #c6c6c6;
    --md-ref-palette-neutral-variant-90: #e2e2e2;
    --md-ref-palette-neutral-variant-95: #f1f1f1;
    --md-ref-palette-neutral-variant-96: #f3f3f3;
    --md-ref-palette-neutral-variant-97: #f6f6f6;
    --md-ref-palette-neutral-variant-98: #f9f9f9;
    --md-ref-palette-neutral-variant-99: #fcfcfc;
    --md-ref-palette-neutral-variant-100: #ffffff;
}