:root {
    --md-sys-color-background: light-dark(#fff8f8, #171213);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-dim: light-dark(#a80710, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#faeeef, #352f30);
    --md-sys-color-inverse-primary: light-dark(#f9b3c8, #854e60);
    --md-sys-color-inverse-surface: light-dark(#352f30, #ebe0e1);
    --md-sys-color-neutral-palette-key-color: light-dark(#7d7576, #7d7576);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#837377, #837377);
    --md-sys-color-on-background: light-dark(#201a1b, #ebe0e1);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #4f2132);
    --md-sys-color-on-primary-container: light-dark(#774254, #774254);
    --md-sys-color-on-primary-fixed: light-dark(#360c1d, #360c1d);
    --md-sys-color-on-primary-fixed-variant: light-dark(#6a3749, #6a3749);
    --md-sys-color-on-secondary: light-dark(#ffffff, #412a31);
    --md-sys-color-on-secondary-container: light-dark(#775b63, #d2afb8);
    --md-sys-color-on-secondary-fixed: light-dark(#2a151c, #2a151c);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#594047, #594047);
    --md-sys-color-on-surface: light-dark(#201a1b, #ebe0e1);
    --md-sys-color-on-surface-variant: light-dark(#514347, #d5c2c6);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #133816);
    --md-sys-color-on-tertiary-container: light-dark(#365b35, #365b35);
    --md-sys-color-on-tertiary-fixed: light-dark(#002105, #002105);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#2a4f2b, #2a4f2b);
    --md-sys-color-outline: light-dark(#837377, #9d8c90);
    --md-sys-color-outline-variant: light-dark(#d5c2c6, #514347);
    --md-sys-color-primary: light-dark(#854e60, #ffd9e2);
    --md-sys-color-primary-container: light-dark(#f9b3c8, #f9b3c8);
    --md-sys-color-primary-dim: light-dark(#774254, #f9b3c8);
    --md-sys-color-primary-fixed: light-dark(#ffd9e2, #ffd9e2);
    --md-sys-color-primary-fixed-dim: light-dark(#f9b3c8, #f9b3c8);
    --md-sys-color-primary-palette-key-color: light-dark(#a16679, #a16679);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#73575f, #e1bdc7);
    --md-sys-color-secondary-container: light-dark(#fbd6e0, #5c424a);
    --md-sys-color-secondary-dim: light-dark(#664b53, #fbd6e0);
    --md-sys-color-secondary-fixed: light-dark(#fed9e2, #fed9e2);
    --md-sys-color-secondary-fixed-dim: light-dark(#e1bdc7, #e1bdc7);
    --md-sys-color-secondary-palette-key-color: light-dark(#8d6f77, #8d6f77);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f8, #171213);
    --md-sys-color-surface-bright: light-dark(#fff8f8, #3e3839);
    --md-sys-color-surface-container: light-dark(#f7ebec, #241e1f);
    --md-sys-color-surface-container-high: light-dark(#f1e5e7, #2e282a);
    --md-sys-color-surface-container-highest: light-dark(#ebe0e1, #393334);
    --md-sys-color-surface-container-low: light-dark(#fdf1f2, #201a1b);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #120d0e);
    --md-sys-color-surface-dim: light-dark(#e2d7d9, #171213);
    --md-sys-color-surface-tint: light-dark(#854e60, #f9b3c8);
    --md-sys-color-surface-variant: light-dark(#f2dee2, #514347);
    --md-sys-color-tertiary: light-dark(#426741, #c2edbd);
    --md-sys-color-tertiary-container: light-dark(#a7d1a2, #a7d1a2);
    --md-sys-color-tertiary-dim: light-dark(#365b36, #cbf7c5);
    --md-sys-color-tertiary-fixed: light-dark(#c3eebd, #c3eebd);
    --md-sys-color-tertiary-fixed-dim: light-dark(#a7d1a2, #a7d1a2);
    --md-sys-color-tertiary-palette-key-color: light-dark(#a7d1a2, #a7d1a2);
}
:root[low-contrast] {
    --md-sys-color-background: light-dark(#fff8f8, #171213);
    --md-sys-color-error: light-dark(#da342e, #ff5449);
    --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
    --md-sys-color-error-dim: light-dark(#c82623, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#9f9697, #6a6264);
    --md-sys-color-inverse-primary: light-dark(#a4687c, #ac6f82);
    --md-sys-color-inverse-surface: light-dark(#352f30, #ebe0e1);
    --md-sys-color-neutral-palette-key-color: light-dark(#7d7576, #7d7576);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#837377, #837377);
    --md-sys-color-on-background: light-dark(#978e8f, #686062);
    --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
    --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
    --md-sys-color-on-primary: light-dark(#fffbff, #471a2b);
    --md-sys-color-on-primary-container: light-dark(#a4697c, #b07286);
    --md-sys-color-on-primary-fixed: light-dark(#703c4e, #f6b1c6);
    --md-sys-color-on-primary-fixed-variant: light-dark(#8e5668, #cf8ea2);
    --md-sys-color-on-secondary: light-dark(#fffbff, #3a232a);
    --md-sys-color-on-secondary-container: light-dark(#90727a, #9b7c84);
    --md-sys-color-on-secondary-fixed: light-dark(#5f454d, #debbc4);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#7b5f67, #b998a0);
    --md-sys-color-on-surface: light-dark(#655d5f, #aaa0a2);
    --md-sys-color-on-surface-variant: light-dark(#87777a, #8f7f83);
    --md-sys-color-on-tertiary: light-dark(#f7fff1, #0c3110);
    --md-sys-color-on-tertiary-container: light-dark(#5d835a, #678e64);
    --md-sys-color-on-tertiary-fixed: light-dark(#305430, #a5cfa0);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#4a6f48, #82aa7e);
    --md-sys-color-outline: light-dark(#c0adb1, #5f5054);
    --md-sys-color-outline-variant: light-dark(#e8d4d8, #43373a);
    --md-sys-color-primary: light-dark(#9e6376, #be7f92);
    --md-sys-color-primary-container: light-dark(#ffcbda, #5b2a3c);
    --md-sys-color-primary-dim: light-dark(#90576a, #be7f93);
    --md-sys-color-primary-fixed: light-dark(#ffcbda, #764153);
    --md-sys-color-primary-fixed-dim: light-dark(#efaabf, #5b2a3c);
    --md-sys-color-primary-palette-key-color: light-dark(#a16679, #a16679);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#8a6d75, #a88891);
    --md-sys-color-secondary-container: light-dark(#f4d0d9, #4c333b);
    --md-sys-color-secondary-dim: light-dark(#7d6068, #a98991);
    --md-sys-color-secondary-fixed: light-dark(#f4d0d9, #644a51);
    --md-sys-color-secondary-fixed-dim: light-dark(#d7b4bd, #4c333b);
    --md-sys-color-secondary-palette-key-color: light-dark(#8d6f77, #8d6f77);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f8, #171213);
    --md-sys-color-surface-bright: light-dark(#fff8f8, #3e3839);
    --md-sys-color-surface-container: light-dark(#f7ebec, #241e1f);
    --md-sys-color-surface-container-high: light-dark(#f1e5e7, #2e282a);
    --md-sys-color-surface-container-highest: light-dark(#ebe0e1, #393334);
    --md-sys-color-surface-container-low: light-dark(#fdf1f2, #201a1b);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #120d0e);
    --md-sys-color-surface-dim: light-dark(#e2d7d9, #171213);
    --md-sys-color-surface-tint: light-dark(#854e60, #f9b3c8);
    --md-sys-color-surface-variant: light-dark(#f2dee2, #514347);
    --md-sys-color-tertiary: light-dark(#577e55, #739b70);
    --md-sys-color-tertiary-container: light-dark(#b9e4b4, #1e421f);
    --md-sys-color-tertiary-dim: light-dark(#4b7149, #739b70);
    --md-sys-color-tertiary-fixed: light-dark(#b9e4b4, #355934);
    --md-sys-color-tertiary-fixed-dim: light-dark(#9ec89a, #1e421f);
    --md-sys-color-tertiary-palette-key-color: light-dark(#a7d1a2, #a7d1a2);
}
:root[high-contrast] {
    --md-sys-color-background: light-dark(#fff8f8, #171213);
    --md-sys-color-error: light-dark(#600004, #ffece9);
    --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
    --md-sys-color-error-dim: light-dark(#480002, #ffedea);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
    --md-sys-color-inverse-primary: light-dark(#f9b3c8, #6b384a);
    --md-sys-color-inverse-surface: light-dark(#352f30, #ebe0e1);
    --md-sys-color-neutral-palette-key-color: light-dark(#7d7576, #7d7576);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#837377, #837377);
    --md-sys-color-on-background: light-dark(#201a1b, #ebe0e1);
    --md-sys-color-on-error: light-dark(#ffffff, #000000);
    --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
    --md-sys-color-on-primary: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-container: light-dark(#ffffff, #280312);
    --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #280313);
    --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-container: light-dark(#ffffff, #17060c);
    --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #1e0b12);
    --md-sys-color-on-surface: light-dark(#000000, #ffffff);
    --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-container: light-dark(#ffffff, #001502);
    --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #001602);
    --md-sys-color-outline: light-dark(#35292c, #ffebef);
    --md-sys-color-outline-variant: light-dark(#534649, #d1bec2);
    --md-sys-color-primary: light-dark(#4a1d2e, #ffebef);
    --md-sys-color-primary-container: light-dark(#6d394b, #f9b3c8);
    --md-sys-color-primary-dim: light-dark(#3b1021, #ffecf0);
    --md-sys-color-primary-fixed: light-dark(#6d394b, #ffd9e2);
    --md-sys-color-primary-fixed-dim: light-dark(#522334, #f9b3c8);
    --md-sys-color-primary-palette-key-color: light-dark(#a16679, #a16679);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#3c262d, #ffebef);
    --md-sys-color-secondary-container: light-dark(#5c424a, #ddbac3);
    --md-sys-color-secondary-dim: light-dark(#2e1920, #ffecf0);
    --md-sys-color-secondary-fixed: light-dark(#5c424a, #fed9e2);
    --md-sys-color-secondary-fixed-dim: light-dark(#442c33, #e1bdc7);
    --md-sys-color-secondary-palette-key-color: light-dark(#8d6f77, #8d6f77);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fff8f8, #171213);
    --md-sys-color-surface-bright: light-dark(#fff8f8, #554e50);
    --md-sys-color-surface-container: light-dark(#ebe0e1, #352f30);
    --md-sys-color-surface-container-high: light-dark(#ddd2d3, #403a3b);
    --md-sys-color-surface-container-highest: light-dark(#cfc4c5, #4c4546);
    --md-sys-color-surface-container-low: light-dark(#faeeef, #241e1f);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#c0b6b8, #171213);
    --md-sys-color-surface-tint: light-dark(#854e60, #f9b3c8);
    --md-sys-color-surface-variant: light-dark(#f2dee2, #514347);
    --md-sys-color-tertiary: light-dark(#0e3312, #d0fcca);
    --md-sys-color-tertiary-container: light-dark(#2d512d, #a7d1a2);
    --md-sys-color-tertiary-dim: light-dark(#012607, #d1fcca);
    --md-sys-color-tertiary-fixed: light-dark(#2d512d, #c3eebd);
    --md-sys-color-tertiary-fixed-dim: light-dark(#163a18, #a7d1a2);
    --md-sys-color-tertiary-palette-key-color: light-dark(#a7d1a2, #a7d1a2);
}
