:root {
    --md-sys-color-background: light-dark(#f5fbf0, #0f150f);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ecf3e8, #2c322b);
    --md-sys-color-inverse-primary: light-dark(#6fdd81, #006e2c);
    --md-sys-color-inverse-surface: light-dark(#2c322b, #dee4da);
    --md-sys-color-neutral-palette-key-color: light-dark(#727970, #727970);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#6e7a6c, #6e7a6c);
    --md-sys-color-on-background: light-dark(#171d17, #dee4da);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #003913);
    --md-sys-color-on-primary-container: light-dark(#003210, #003210);
    --md-sys-color-on-primary-fixed: light-dark(#002108, #002108);
    --md-sys-color-on-primary-fixed-variant: light-dark(#00531f, #00531f);
    --md-sys-color-on-secondary: light-dark(#ffffff, #103819);
    --md-sys-color-on-secondary-container: light-dark(#456d49, #98c398);
    --md-sys-color-on-secondary-fixed: light-dark(#002108, #002108);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#284f2e, #284f2e);
    --md-sys-color-on-surface: light-dark(#171d17, #dee4da);
    --md-sys-color-on-surface-variant: light-dark(#3e4a3e, #bdcaba);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #660029);
    --md-sys-color-on-tertiary-container: light-dark(#5a0023, #5a0023);
    --md-sys-color-on-tertiary-fixed: light-dark(#3f0017, #3f0017);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#871b3e, #871b3e);
    --md-sys-color-outline: light-dark(#6e7a6d, #889486);
    --md-sys-color-outline-variant: light-dark(#bdcaba, #3e4a3e);
    --md-sys-color-primary: light-dark(#006e2c, #6fdd81);
    --md-sys-color-primary-container: light-dark(#34a551, #34a551);
    --md-sys-color-primary-fixed: light-dark(#8bfa9b, #8bfa9b);
    --md-sys-color-primary-fixed-dim: light-dark(#6fdd81, #6fdd81);
    --md-sys-color-primary-palette-key-color: light-dark(#078a3a, #078a3a);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#406743, #a5d2a6);
    --md-sys-color-secondary-container: light-dark(#c1eec0, #2a5130);
    --md-sys-color-secondary-fixed: light-dark(#c1eec0, #c1eec0);
    --md-sys-color-secondary-fixed-dim: light-dark(#a5d2a6, #a5d2a6);
    --md-sys-color-secondary-palette-key-color: light-dark(#58815b, #58815b);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f5fbf0, #0f150f);
    --md-sys-color-surface-bright: light-dark(#f5fbf0, #343b34);
    --md-sys-color-surface-container: light-dark(#e9f0e5, #1b211b);
    --md-sys-color-surface-container-high: light-dark(#e4eadf, #252c25);
    --md-sys-color-surface-container-highest: light-dark(#dee4da, #30362f);
    --md-sys-color-surface-container-low: light-dark(#eff6eb, #171d17);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0a100a);
    --md-sys-color-surface-dim: light-dark(#d6dcd1, #0f150f);
    --md-sys-color-surface-tint: light-dark(#006e2c, #6fdd81);
    --md-sys-color-surface-variant: light-dark(#d9e6d6, #3e4a3e);
    --md-sys-color-tertiary: light-dark(#a63456, #ffb1c0);
    --md-sys-color-tertiary-container: light-dark(#e76687, #e76687);
    --md-sys-color-tertiary-fixed: light-dark(#ffd9df, #ffd9df);
    --md-sys-color-tertiary-fixed-dim: light-dark(#ffb1c0, #ffb1c0);
    --md-sys-color-tertiary-palette-key-color: light-dark(#e76687, #e76687);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#f5fbf0, #0f150f);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#939a91, #60665e);
        --md-sys-color-inverse-primary: light-dark(#0e8c3c, #1c9442);
        --md-sys-color-inverse-surface: light-dark(#2c322b, #dee4da);
        --md-sys-color-neutral-palette-key-color: light-dark(#727970, #727970);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#6e7a6c, #6e7a6c);
        --md-sys-color-on-background: light-dark(#8b9289, #5d645c);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#f7fff2, #003210);
        --md-sys-color-on-primary-container: light-dark(#0e8d3c, #229745);
        --md-sys-color-on-primary-fixed: light-dark(#005922, #6cda7f);
        --md-sys-color-on-primary-fixed-variant: light-dark(#007730, #46b55f);
        --md-sys-color-on-secondary: light-dark(#f7fff2, #083113);
        --md-sys-color-on-secondary-container: light-dark(#5b845d, #658e67);
        --md-sys-color-on-secondary-fixed: light-dark(#2d5533, #a3cfa3);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#47704b, #80ab81);
        --md-sys-color-on-surface: light-dark(#5a6159, #9ea59b);
        --md-sys-color-on-surface-variant: light-dark(#727e70, #7a8678);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #5a0023);
        --md-sys-color-on-tertiary-container: light-dark(#ca4f70, #d7597a);
        --md-sys-color-on-tertiary-fixed: light-dark(#8e2144, #ffaebe);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#b13c5d, #fa7596);
        --md-sys-color-outline: light-dark(#a9b5a6, #4c574b);
        --md-sys-color-outline-variant: light-dark(#d0dccc, #323d31);
        --md-sys-color-primary: light-dark(#008738, #34a551);
        --md-sys-color-primary-container: light-dark(#81f092, #004418);
        --md-sys-color-primary-fixed: light-dark(#81f092, #005e25);
        --md-sys-color-primary-fixed-dim: light-dark(#65d379, #004418);
        --md-sys-color-primary-palette-key-color: light-dark(#078a3a, #078a3a);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#557e58, #719b73);
        --md-sys-color-secondary-container: light-dark(#b7e4b7, #1b4222);
        --md-sys-color-secondary-fixed: light-dark(#b7e4b7, #325a37);
        --md-sys-color-secondary-fixed-dim: light-dark(#9cc89d, #1b4222);
        --md-sys-color-secondary-palette-key-color: light-dark(#58815b, #58815b);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f5fbf0, #0f150f);
        --md-sys-color-surface-bright: light-dark(#f5fbf0, #343b34);
        --md-sys-color-surface-container: light-dark(#e9f0e5, #1b211b);
        --md-sys-color-surface-container-high: light-dark(#e4eadf, #252c25);
        --md-sys-color-surface-container-highest: light-dark(#dee4da, #30362f);
        --md-sys-color-surface-container-low: light-dark(#eff6eb, #171d17);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0a100a);
        --md-sys-color-surface-dim: light-dark(#d6dcd1, #0f150f);
        --md-sys-color-surface-tint: light-dark(#006e2c, #6fdd81);
        --md-sys-color-surface-variant: light-dark(#d9e6d6, #3e4a3e);
        --md-sys-color-tertiary: light-dark(#c34a6b, #e76687);
        --md-sys-color-tertiary-container: light-dark(#ffccd4, #750a32);
        --md-sys-color-tertiary-fixed: light-dark(#ffccd4, #942648);
        --md-sys-color-tertiary-fixed-dim: light-dark(#ffa3b6, #750a32);
        --md-sys-color-tertiary-palette-key-color: light-dark(#e76687, #e76687);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#f5fbf0, #0f150f);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#6fdd81, #005420);
        --md-sys-color-inverse-surface: light-dark(#2c322b, #dee4da);
        --md-sys-color-neutral-palette-key-color: light-dark(#727970, #727970);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#6e7a6c, #6e7a6c);
        --md-sys-color-on-background: light-dark(#171d17, #dee4da);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000f02);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #001504);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000f02);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #001504);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #210008);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #2c000d);
        --md-sys-color-outline: light-dark(#242f24, #e7f4e3);
        --md-sys-color-outline-variant: light-dark(#414c40, #bac6b6);
        --md-sys-color-primary: light-dark(#003411, #c2ffc4);
        --md-sys-color-primary-container: light-dark(#005520, #6bd97e);
        --md-sys-color-primary-fixed: light-dark(#005520, #8bfa9b);
        --md-sys-color-primary-fixed-dim: light-dark(#003c14, #6fdd81);
        --md-sys-color-primary-palette-key-color: light-dark(#078a3a, #078a3a);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#0b3315, #cefccd);
        --md-sys-color-secondary-container: light-dark(#2a5130, #a2cea2);
        --md-sys-color-secondary-fixed: light-dark(#2a5130, #c1eec0);
        --md-sys-color-secondary-fixed-dim: light-dark(#133a1b, #a5d2a6);
        --md-sys-color-secondary-palette-key-color: light-dark(#58815b, #58815b);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f5fbf0, #0f150f);
        --md-sys-color-surface-bright: light-dark(#f5fbf0, #4b524a);
        --md-sys-color-surface-container: light-dark(#dee4da, #2c322b);
        --md-sys-color-surface-container-high: light-dark(#d0d6cc, #373d36);
        --md-sys-color-surface-container-highest: light-dark(#c2c8be, #424841);
        --md-sys-color-surface-container-low: light-dark(#ecf3e8, #1b211b);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#b4bbb1, #0f150f);
        --md-sys-color-surface-tint: light-dark(#006e2c, #6fdd81);
        --md-sys-color-surface-variant: light-dark(#d9e6d6, #3e4a3e);
        --md-sys-color-tertiary: light-dark(#5e0025, #ffebed);
        --md-sys-color-tertiary-container: light-dark(#8a1d41, #ffacbc);
        --md-sys-color-tertiary-fixed: light-dark(#8a1d41, #ffd9df);
        --md-sys-color-tertiary-fixed-dim: light-dark(#6a002b, #ffb1c0);
        --md-sys-color-tertiary-palette-key-color: light-dark(#e76687, #e76687);
    }

}
