:root {
    --md-sys-color-background: light-dark(#f8faf3, #000000);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#eff2ea, #2e312d);
    --md-sys-color-inverse-primary: light-dark(#96d69a, #2f6a3a);
    --md-sys-color-inverse-surface: light-dark(#2e312d, #e1e3dc);
    --md-sys-color-neutral-palette-key-color: light-dark(#757872, #757872);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#71796f, #71796f);
    --md-sys-color-on-background: light-dark(#191d18, #e1e3dc);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #003913);
    --md-sys-color-on-primary-container: light-dark(#f7fff2, #003110);
    --md-sys-color-on-primary-fixed: light-dark(#002108, #002108);
    --md-sys-color-on-primary-fixed-variant: light-dark(#135224, #135224);
    --md-sys-color-on-secondary: light-dark(#ffffff, #1f3521);
    --md-sys-color-on-secondary-container: light-dark(#526a53, #a5bfa4);
    --md-sys-color-on-secondary-fixed: light-dark(#0a200e, #0a200e);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#354c37, #354c37);
    --md-sys-color-on-surface: light-dark(#191d18, #e1e3dc);
    --md-sys-color-on-surface-variant: light-dark(#414940, #c0c9bd);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #581930);
    --md-sys-color-on-tertiary-container: light-dark(#fffbff, #4f1229);
    --md-sys-color-on-tertiary-fixed: light-dark(#3c031c, #3c031c);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#743047, #743047);
    --md-sys-color-outline: light-dark(#71796f, #8a9388);
    --md-sys-color-outline-variant: light-dark(#c0c9bd, #414940);
    --md-sys-color-primary: light-dark(#2c6838, #96d69a);
    --md-sys-color-primary-container: light-dark(#45814e, #619e68);
    --md-sys-color-primary-fixed: light-dark(#b1f2b5, #b1f2b5);
    --md-sys-color-primary-fixed-dim: light-dark(#96d69a, #96d69a);
    --md-sys-color-primary-palette-key-color: light-dark(#488451, #488451);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#4d644d, #b3ceb1);
    --md-sys-color-secondary-container: light-dark(#cfeacc, #384f39);
    --md-sys-color-secondary-fixed: light-dark(#cfeacc, #cfeacc);
    --md-sys-color-secondary-fixed-dim: light-dark(#b3ceb1, #b3ceb1);
    --md-sys-color-secondary-palette-key-color: light-dark(#657d65, #657d65);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#f8faf3, #000000);
    --md-sys-color-surface-bright: light-dark(#f8faf3, #373a35);
    --md-sys-color-surface-container: light-dark(#ecefe8, #1d211c);
    --md-sys-color-surface-container-high: light-dark(#e6e9e2, #272b26);
    --md-sys-color-surface-container-highest: light-dark(#e1e3dc, #323631);
    --md-sys-color-surface-container-low: light-dark(#f2f4ed, #191d18);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#d8dbd4, #111410);
    --md-sys-color-surface-tint: light-dark(#2f6a3a, #96d69a);
    --md-sys-color-surface-variant: light-dark(#dce5d8, #414940);
    --md-sys-color-tertiary: light-dark(#8e445c, #ffb1c6);
    --md-sys-color-tertiary-container: light-dark(#ab5c74, #cc7891);
    --md-sys-color-tertiary-fixed: light-dark(#ffd9e1, #ffd9e1);
    --md-sys-color-tertiary-fixed-dim: light-dark(#ffb1c6, #ffb1c6);
    --md-sys-color-tertiary-palette-key-color: light-dark(#cb7790, #cb7790);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#f8faf3, #000000);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#969993, #626560);
        --md-sys-color-inverse-primary: light-dark(#4b8753, #518e59);
        --md-sys-color-inverse-surface: light-dark(#2e312d, #e1e3dc);
        --md-sys-color-neutral-palette-key-color: light-dark(#757872, #757872);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#71796f, #71796f);
        --md-sys-color-on-background: light-dark(#8e918b, #60635e);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#f7fff2, #003210);
        --md-sys-color-on-primary-container: light-dark(#4b8753, #55915d);
        --md-sys-color-on-primary-fixed: light-dark(#1a5729, #93d398);
        --md-sys-color-on-primary-fixed-variant: light-dark(#377341, #70ae77);
        --md-sys-color-on-secondary: light-dark(#f7fff2, #192f1b);
        --md-sys-color-on-secondary-container: light-dark(#688067, #728a71);
        --md-sys-color-on-secondary-fixed: light-dark(#3b523c, #b1cbaf);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#546c55, #8da78c);
        --md-sys-color-on-surface: light-dark(#5d605b, #a1a49e);
        --md-sys-color-on-surface-variant: light-dark(#747d72, #7d867b);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #4f122a);
        --md-sys-color-on-tertiary-container: light-dark(#b1617a, #bd6b84);
        --md-sys-color-on-tertiary-fixed: light-dark(#7a354c, #ffadc3);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#9a4e66, #dd86a0);
        --md-sys-color-outline: light-dark(#acb4a9, #4e564d);
        --md-sys-color-outline-variant: light-dark(#d3dbcf, #343c33);
        --md-sys-color-primary: light-dark(#45814e, #619e68);
        --md-sys-color-primary-container: light-dark(#a8e8ac, #004419);
        --md-sys-color-primary-fixed: light-dark(#a8e8ac, #205c2e);
        --md-sys-color-primary-fixed-dim: light-dark(#8dcc92, #004419);
        --md-sys-color-primary-palette-key-color: light-dark(#488451, #488451);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#627b62, #7e977d);
        --md-sys-color-secondary-container: light-dark(#c5e0c3, #293f2b);
        --md-sys-color-secondary-fixed: light-dark(#c5e0c3, #3f5740);
        --md-sys-color-secondary-fixed-dim: light-dark(#aac4a8, #293f2b);
        --md-sys-color-secondary-palette-key-color: light-dark(#657d65, #657d65);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f8faf3, #000000);
        --md-sys-color-surface-bright: light-dark(#f8faf3, #373a35);
        --md-sys-color-surface-container: light-dark(#ecefe8, #1d211c);
        --md-sys-color-surface-container-high: light-dark(#e6e9e2, #272b26);
        --md-sys-color-surface-container-highest: light-dark(#e1e3dc, #323631);
        --md-sys-color-surface-container-low: light-dark(#f2f4ed, #191d18);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#d8dbd4, #111410);
        --md-sys-color-surface-tint: light-dark(#2f6a3a, #96d69a);
        --md-sys-color-surface-variant: light-dark(#dce5d8, #414940);
        --md-sys-color-tertiary: light-dark(#ab5c74, #cc7891);
        --md-sys-color-tertiary-container: light-dark(#ffccd8, #64233a);
        --md-sys-color-tertiary-fixed: light-dark(#ffccd8, #803a51);
        --md-sys-color-tertiary-fixed-dim: light-dark(#fea3bd, #64233a);
        --md-sys-color-tertiary-palette-key-color: light-dark(#cb7790, #cb7790);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#f8faf3, #000000);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#96d69a, #155325);
        --md-sys-color-inverse-surface: light-dark(#2e312d, #e1e3dc);
        --md-sys-color-neutral-palette-key-color: light-dark(#757872, #757872);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#71796f, #71796f);
        --md-sys-color-on-background: light-dark(#191d18, #e1e3dc);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000f03);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #001504);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000f03);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #021505);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #20000b);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #2b0011);
        --md-sys-color-outline: light-dark(#262e26, #eaf3e6);
        --md-sys-color-outline-variant: light-dark(#434b42, #bcc5b9);
        --md-sys-color-primary: light-dark(#003411, #c2ffc4);
        --md-sys-color-primary-container: light-dark(#165426, #92d297);
        --md-sys-color-primary-fixed: light-dark(#165426, #b1f2b5);
        --md-sys-color-primary-fixed-dim: light-dark(#003c15, #96d69a);
        --md-sys-color-primary-palette-key-color: light-dark(#488451, #488451);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#1b311d, #dcf7d9);
        --md-sys-color-secondary-container: light-dark(#384f39, #afcaad);
        --md-sys-color-secondary-fixed: light-dark(#384f39, #cfeacc);
        --md-sys-color-secondary-fixed-dim: light-dark(#223824, #b3ceb1);
        --md-sys-color-secondary-palette-key-color: light-dark(#657d65, #657d65);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#f8faf3, #000000);
        --md-sys-color-surface-bright: light-dark(#f8faf3, #4d514c);
        --md-sys-color-surface-container: light-dark(#e1e3dc, #2e312d);
        --md-sys-color-surface-container-high: light-dark(#d3d5ce, #393c38);
        --md-sys-color-surface-container-highest: light-dark(#c5c7c1, #444843);
        --md-sys-color-surface-container-low: light-dark(#eff2ea, #1d211c);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#b7bab3, #111410);
        --md-sys-color-surface-tint: light-dark(#2f6a3a, #96d69a);
        --md-sys-color-surface-variant: light-dark(#dce5d8, #414940);
        --md-sys-color-tertiary: light-dark(#52152c, #ffebee);
        --md-sys-color-tertiary-container: light-dark(#773249, #ffabc2);
        --md-sys-color-tertiary-fixed: light-dark(#773249, #ffd9e1);
        --md-sys-color-tertiary-fixed-dim: light-dark(#5b1c33, #ffb1c6);
        --md-sys-color-tertiary-palette-key-color: light-dark(#cb7790, #cb7790);
    }

}
