:root {
    --md-sys-color-background: light-dark(#faf9f7, #000000);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f1f1ef, #2f3130);
    --md-sys-color-inverse-primary: light-dark(#aacec4, #43655d);
    --md-sys-color-inverse-surface: light-dark(#2f3130, #e3e2e1);
    --md-sys-color-neutral-palette-key-color: light-dark(#767776, #767776);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#717976, #717976);
    --md-sys-color-on-background: light-dark(#1a1c1b, #e3e2e1);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #14362f);
    --md-sys-color-on-primary-container: light-dark(#375951, #375951);
    --md-sys-color-on-primary-fixed: light-dark(#00201b, #00201b);
    --md-sys-color-on-primary-fixed-variant: light-dark(#2c4d45, #2c4d45);
    --md-sys-color-on-secondary: light-dark(#ffffff, #263330);
    --md-sys-color-on-secondary-container: light-dark(#5a6763, #adbbb7);
    --md-sys-color-on-secondary-fixed: light-dark(#121e1b, #121e1b);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#3d4946, #3d4946);
    --md-sys-color-on-surface: light-dark(#1a1c1b, #e3e2e1);
    --md-sys-color-on-surface-variant: light-dark(#414846, #c1c8c5);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #482822);
    --md-sys-color-on-tertiary-container: light-dark(#6f4842, #6f4842);
    --md-sys-color-on-tertiary-fixed: light-dark(#30130f, #30130f);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#623d37, #623d37);
    --md-sys-color-outline: light-dark(#717976, #8b928f);
    --md-sys-color-outline-variant: light-dark(#c1c8c5, #414846);
    --md-sys-color-primary: light-dark(#43655d, #c6eae0);
    --md-sys-color-primary-container: light-dark(#aacec4, #aacec4);
    --md-sys-color-primary-fixed: light-dark(#c6eae0, #c6eae0);
    --md-sys-color-primary-fixed-dim: light-dark(#aacec4, #aacec4);
    --md-sys-color-primary-palette-key-color: light-dark(#5c7e75, #5c7e75);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#54615d, #bccac5);
    --md-sys-color-secondary-container: light-dark(#d7e6e0, #3f4c48);
    --md-sys-color-secondary-fixed: light-dark(#d7e6e0, #d7e6e0);
    --md-sys-color-secondary-fixed-dim: light-dark(#bccac5, #bccac5);
    --md-sys-color-secondary-palette-key-color: light-dark(#6c7a76, #6c7a76);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#faf9f7, #000000);
    --md-sys-color-surface-bright: light-dark(#faf9f7, #383939);
    --md-sys-color-surface-container: light-dark(#eeeeec, #1e201f);
    --md-sys-color-surface-container-high: light-dark(#e8e8e6, #292a29);
    --md-sys-color-surface-container-highest: light-dark(#e3e2e1, #333534);
    --md-sys-color-surface-container-low: light-dark(#f4f4f2, #1a1c1b);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#dadad8, #121413);
    --md-sys-color-surface-tint: light-dark(#43655d, #aacec4);
    --md-sys-color-surface-variant: light-dark(#dde4e1, #414846);
    --md-sys-color-tertiary: light-dark(#7d544d, #ffdad3);
    --md-sys-color-tertiary-container: light-dark(#eebab1, #eebab1);
    --md-sys-color-tertiary-fixed: light-dark(#ffdad4, #ffdad4);
    --md-sys-color-tertiary-fixed-dim: light-dark(#eebab1, #eebab1);
    --md-sys-color-tertiary-palette-key-color: light-dark(#eebab1, #eebab1);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#faf9f7, #000000);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#989897, #636563);
        --md-sys-color-inverse-primary: light-dark(#5e8078, #65877f);
        --md-sys-color-inverse-surface: light-dark(#2f3130, #e3e2e1);
        --md-sys-color-neutral-palette-key-color: light-dark(#767776, #767776);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#717976, #717976);
        --md-sys-color-on-background: light-dark(#8f908f, #616261);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#f4fffa, #0c2f29);
        --md-sys-color-on-primary-container: light-dark(#5f8178, #698b82);
        --md-sys-color-on-primary-fixed: light-dark(#31524b, #a8ccc2);
        --md-sys-color-on-primary-fixed-variant: light-dark(#4b6d65, #84a79e);
        --md-sys-color-on-secondary: light-dark(#f4fffa, #202c29);
        --md-sys-color-on-secondary-container: light-dark(#6f7d79, #798783);
        --md-sys-color-on-secondary-fixed: light-dark(#424f4b, #b9c7c2);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#5c6965, #95a39e);
        --md-sys-color-on-surface: light-dark(#5e5f5e, #a2a3a1);
        --md-sys-color-on-surface-variant: light-dark(#757c79, #7d8582);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #41211c);
        --md-sys-color-on-tertiary-container: light-dark(#9b6f68, #a67971);
        --md-sys-color-on-tertiary-fixed: light-dark(#68433c, #ecb8af);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#855c55, #c5958c);
        --md-sys-color-outline: light-dark(#acb4b0, #4e5653);
        --md-sys-color-outline-variant: light-dark(#d3dbd7, #343c39);
        --md-sys-color-primary: light-dark(#597b73, #75988f);
        --md-sys-color-primary-container: light-dark(#bce1d6, #1f4039);
        --md-sys-color-primary-fixed: light-dark(#bce1d6, #36574f);
        --md-sys-color-primary-fixed-dim: light-dark(#a1c5bb, #1f4039);
        --md-sys-color-primary-palette-key-color: light-dark(#5c7e75, #5c7e75);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#6a7773, #86948f);
        --md-sys-color-secondary-container: light-dark(#cedcd7, #303d39);
        --md-sys-color-secondary-fixed: light-dark(#cedcd7, #475450);
        --md-sys-color-secondary-fixed-dim: light-dark(#b2c0bb, #303d39);
        --md-sys-color-secondary-palette-key-color: light-dark(#6c7a76, #6c7a76);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#faf9f7, #000000);
        --md-sys-color-surface-bright: light-dark(#faf9f7, #383939);
        --md-sys-color-surface-container: light-dark(#eeeeec, #1e201f);
        --md-sys-color-surface-container-high: light-dark(#e8e8e6, #292a29);
        --md-sys-color-surface-container-highest: light-dark(#e3e2e1, #333534);
        --md-sys-color-surface-container-low: light-dark(#f4f4f2, #1a1c1b);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#dadad8, #121413);
        --md-sys-color-surface-tint: light-dark(#43655d, #aacec4);
        --md-sys-color-surface-variant: light-dark(#dde4e1, #414846);
        --md-sys-color-tertiary: light-dark(#956a62, #b4867d);
        --md-sys-color-tertiary-container: light-dark(#ffcec5, #53312b);
        --md-sys-color-tertiary-fixed: light-dark(#ffcec5, #6e4741);
        --md-sys-color-tertiary-fixed-dim: light-dark(#e4b1a8, #53312b);
        --md-sys-color-tertiary-palette-key-color: light-dark(#eebab1, #eebab1);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#faf9f7, #000000);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#aacec4, #2d4e46);
        --md-sys-color-inverse-surface: light-dark(#2f3130, #e3e2e1);
        --md-sys-color-neutral-palette-key-color: light-dark(#767776, #767776);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#717976, #717976);
        --md-sys-color-on-background: light-dark(#1a1c1b, #e3e2e1);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #001510);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #001510);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #030d0b);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #071311);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #220905);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #230906);
        --md-sys-color-outline: light-dark(#272e2b, #eaf2ee);
        --md-sys-color-outline-variant: light-dark(#434b48, #bdc4c1);
        --md-sys-color-primary: light-dark(#0f322b, #d3f8ed);
        --md-sys-color-primary-container: light-dark(#2e4f48, #aacec4);
        --md-sys-color-primary-fixed: light-dark(#2e4f48, #c6eae0);
        --md-sys-color-primary-fixed-dim: light-dark(#163831, #aacec4);
        --md-sys-color-primary-palette-key-color: light-dark(#5c7e75, #5c7e75);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#222f2b, #e5f3ee);
        --md-sys-color-secondary-container: light-dark(#3f4c48, #b8c6c1);
        --md-sys-color-secondary-fixed: light-dark(#3f4c48, #d7e6e0);
        --md-sys-color-secondary-fixed-dim: light-dark(#293532, #bccac5);
        --md-sys-color-secondary-palette-key-color: light-dark(#6c7a76, #6c7a76);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#faf9f7, #000000);
        --md-sys-color-surface-bright: light-dark(#faf9f7, #4f504f);
        --md-sys-color-surface-container: light-dark(#e3e2e1, #2f3130);
        --md-sys-color-surface-container-high: light-dark(#d4d4d3, #3a3c3b);
        --md-sys-color-surface-container-highest: light-dark(#c6c6c5, #464746);
        --md-sys-color-surface-container-low: light-dark(#f1f1ef, #1e201f);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#b8b9b7, #121413);
        --md-sys-color-surface-tint: light-dark(#43655d, #aacec4);
        --md-sys-color-surface-variant: light-dark(#dde4e1, #414846);
        --md-sys-color-tertiary: light-dark(#43231e, #ffece8);
        --md-sys-color-tertiary-container: light-dark(#654039, #eebab1);
        --md-sys-color-tertiary-fixed: light-dark(#654039, #ffdad4);
        --md-sys-color-tertiary-fixed-dim: light-dark(#4b2a24, #eebab1);
        --md-sys-color-tertiary-palette-key-color: light-dark(#eebab1, #eebab1);
    }

}
