:root {
    --md-sys-color-background: light-dark(#faf8ff, #11131a);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f0f0fb, #2e3038);
    --md-sys-color-inverse-primary: light-dark(#b1c5ff, #0156d0);
    --md-sys-color-inverse-surface: light-dark(#2e3038, #e1e2ec);
    --md-sys-color-neutral-palette-key-color: light-dark(#757780, #757780);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#737786, #737786);
    --md-sys-color-on-background: light-dark(#191b23, #e1e2ec);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #002c72);
    --md-sys-color-on-primary-container: light-dark(#cbd7ff, #cbd7ff);
    --md-sys-color-on-primary-fixed: light-dark(#001847, #001847);
    --md-sys-color-on-primary-fixed-variant: light-dark(#0040a0, #0040a0);
    --md-sys-color-on-secondary: light-dark(#ffffff, #1b2e5c);
    --md-sys-color-on-secondary-container: light-dark(#415382, #a2b4ea);
    --md-sys-color-on-secondary-fixed: light-dark(#011946, #011946);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#334574, #334574);
    --md-sys-color-on-surface: light-dark(#191b23, #e1e2ec);
    --md-sys-color-on-surface-variant: light-dark(#424654, #c3c6d6);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #5b1b00);
    --md-sys-color-on-tertiary-container: light-dark(#ffcebd, #ffcebd);
    --md-sys-color-on-tertiary-fixed: light-dark(#380d00, #380d00);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#802a00, #802a00);
    --md-sys-color-outline: light-dark(#737785, #8d90a0);
    --md-sys-color-outline-variant: light-dark(#c3c6d6, #424654);
    --md-sys-color-primary: light-dark(#00409f, #b1c5ff);
    --md-sys-color-primary-container: light-dark(#0056d0, #0056d0);
    --md-sys-color-primary-fixed: light-dark(#dae2ff, #dae2ff);
    --md-sys-color-primary-fixed-dim: light-dark(#b1c5ff, #b1c5ff);
    --md-sys-color-primary-palette-key-color: light-dark(#3571eb, #3571eb);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#4b5d8d, #b3c5fc);
    --md-sys-color-secondary-container: light-dark(#b6c8ff, #334574);
    --md-sys-color-secondary-fixed: light-dark(#dae2ff, #dae2ff);
    --md-sys-color-secondary-fixed-dim: light-dark(#b3c5fc, #b3c5fc);
    --md-sys-color-secondary-palette-key-color: light-dark(#6476a8, #6476a8);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#faf8ff, #11131a);
    --md-sys-color-surface-bright: light-dark(#faf8ff, #373941);
    --md-sys-color-surface-container: light-dark(#ededf8, #1d1f27);
    --md-sys-color-surface-container-high: light-dark(#e7e7f2, #282a31);
    --md-sys-color-surface-container-highest: light-dark(#e1e2ec, #32343d);
    --md-sys-color-surface-container-low: light-dark(#f2f3fd, #191b23);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0c0e15);
    --md-sys-color-surface-dim: light-dark(#d9d9e4, #11131a);
    --md-sys-color-surface-tint: light-dark(#0156d0, #b1c5ff);
    --md-sys-color-surface-variant: light-dark(#dfe2f3, #424654);
    --md-sys-color-tertiary: light-dark(#802a00, #ffb59a);
    --md-sys-color-tertiary-container: light-dark(#a83900, #a83900);
    --md-sys-color-tertiary-fixed: light-dark(#ffdbcf, #ffdbcf);
    --md-sys-color-tertiary-fixed-dim: light-dark(#ffb59a, #ffb59a);
    --md-sys-color-tertiary-palette-key-color: light-dark(#a83900, #a83900);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#faf8ff, #11131a);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#9698a1, #62646d);
        --md-sys-color-inverse-primary: light-dark(#3873ed, #417af5);
        --md-sys-color-inverse-surface: light-dark(#2e3038, #e1e2ec);
        --md-sys-color-neutral-palette-key-color: light-dark(#757780, #757780);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#737786, #737786);
        --md-sys-color-on-background: light-dark(#8e8f99, #60626b);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fefcff, #002664);
        --md-sys-color-on-primary-container: light-dark(#3874ee, #457ef9);
        --md-sys-color-on-primary-fixed: light-dark(#0045ab, #aec3ff);
        --md-sys-color-on-primary-fixed-variant: light-dark(#195fd9, #769dff);
        --md-sys-color-on-secondary: light-dark(#fefcff, #132855);
        --md-sys-color-on-secondary-container: light-dark(#6679ab, #7183b5);
        --md-sys-color-on-secondary-fixed: light-dark(#384b79, #b0c3f9);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#536596, #8d9fd3);
        --md-sys-color-on-surface: light-dark(#5d5f67, #a1a2ac);
        --md-sys-color-on-surface-variant: light-dark(#767a89, #7f8392);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #4f1700);
        --md-sys-color-on-tertiary-container: light-dark(#cd531e, #db5d28);
        --md-sys-color-on-tertiary-fixed: light-dark(#892d00, #ffb295);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#b34109, #ff7841);
        --md-sys-color-outline: light-dark(#aeb1c1, #505462);
        --md-sys-color-outline-variant: light-dark(#d5d8e9, #363a47);
        --md-sys-color-primary: light-dark(#316ee8, #5a8cff);
        --md-sys-color-primary-container: light-dark(#ccd8ff, #003586);
        --md-sys-color-primary-fixed: light-dark(#ccd8ff, #004ab5);
        --md-sys-color-primary-fixed-dim: light-dark(#a4bcff, #003586);
        --md-sys-color-primary-palette-key-color: light-dark(#3571eb, #3571eb);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#6173a5, #7d90c3);
        --md-sys-color-secondary-container: light-dark(#ccd8ff, #253866);
        --md-sys-color-secondary-fixed: light-dark(#ccd8ff, #3d507f);
        --md-sys-color-secondary-fixed-dim: light-dark(#aabcf2, #253866);
        --md-sys-color-secondary-palette-key-color: light-dark(#6476a8, #6476a8);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#faf8ff, #11131a);
        --md-sys-color-surface-bright: light-dark(#faf8ff, #373941);
        --md-sys-color-surface-container: light-dark(#ededf8, #1d1f27);
        --md-sys-color-surface-container-high: light-dark(#e7e7f2, #282a31);
        --md-sys-color-surface-container-highest: light-dark(#e1e2ec, #32343d);
        --md-sys-color-surface-container-low: light-dark(#f2f3fd, #191b23);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0c0e15);
        --md-sys-color-surface-dim: light-dark(#d9d9e4, #11131a);
        --md-sys-color-surface-tint: light-dark(#0156d0, #b1c5ff);
        --md-sys-color-surface-variant: light-dark(#dfe2f3, #424654);
        --md-sys-color-tertiary: light-dark(#c64e19, #eb6933);
        --md-sys-color-tertiary-container: light-dark(#ffcebd, #6b2100);
        --md-sys-color-tertiary-fixed: light-dark(#ffcebd, #923000);
        --md-sys-color-tertiary-fixed-dim: light-dark(#ffa887, #6b2100);
        --md-sys-color-tertiary-palette-key-color: light-dark(#a83900, #a83900);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#faf8ff, #11131a);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#b1c5ff, #0041a2);
        --md-sys-color-inverse-surface: light-dark(#2e3038, #e1e2ec);
        --md-sys-color-neutral-palette-key-color: light-dark(#757780, #757780);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#737786, #737786);
        --md-sys-color-on-background: light-dark(#191b23, #e1e2ec);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #000926);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #000f32);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #000926);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #000f32);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #1c0400);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #260700);
        --md-sys-color-outline: light-dark(#282c38, #edefff);
        --md-sys-color-outline-variant: light-dark(#454956, #bfc2d2);
        --md-sys-color-primary: light-dark(#002869, #edefff);
        --md-sys-color-primary-container: light-dark(#0043a5, #acc1ff);
        --md-sys-color-primary-fixed: light-dark(#0043a5, #dae2ff);
        --md-sys-color-primary-fixed-dim: light-dark(#002e76, #b1c5ff);
        --md-sys-color-primary-palette-key-color: light-dark(#3571eb, #3571eb);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#162a57, #edefff);
        --md-sys-color-secondary-container: light-dark(#354876, #afc1f8);
        --md-sys-color-secondary-fixed: light-dark(#354876, #dae2ff);
        --md-sys-color-secondary-fixed-dim: light-dark(#1d315e, #b3c5fc);
        --md-sys-color-secondary-palette-key-color: light-dark(#6476a8, #6476a8);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#faf8ff, #11131a);
        --md-sys-color-surface-bright: light-dark(#faf8ff, #4e5058);
        --md-sys-color-surface-container: light-dark(#e1e2ec, #2e3038);
        --md-sys-color-surface-container-high: light-dark(#d3d4de, #393b43);
        --md-sys-color-surface-container-highest: light-dark(#c5c6d0, #44464f);
        --md-sys-color-surface-container-low: light-dark(#f0f0fb, #1d1f27);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#b7b8c2, #11131a);
        --md-sys-color-surface-tint: light-dark(#0156d0, #b1c5ff);
        --md-sys-color-surface-variant: light-dark(#dfe2f3, #424654);
        --md-sys-color-tertiary: light-dark(#531800, #ffece6);
        --md-sys-color-tertiary-container: light-dark(#842b00, #ffb092);
        --md-sys-color-tertiary-fixed: light-dark(#842b00, #ffdbcf);
        --md-sys-color-tertiary-fixed-dim: light-dark(#5e1c00, #ffb59a);
        --md-sys-color-tertiary-palette-key-color: light-dark(#a83900, #a83900);
    }

}
