:root {
    --md-sys-color-background: light-dark(#fbf8fc, #131316);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-dim: light-dark(#a80710, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f2f0f4, #303033);
    --md-sys-color-inverse-primary: light-dark(#b6c5f5, #4e5d87);
    --md-sys-color-inverse-surface: light-dark(#303033, #e4e2e6);
    --md-sys-color-neutral-palette-key-color: light-dark(#77777a, #77777a);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#757780, #757780);
    --md-sys-color-on-background: light-dark(#1b1b1e, #e4e2e6);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #1f2f56);
    --md-sys-color-on-primary-container: light-dark(#8897c5, #8897c5);
    --md-sys-color-on-primary-fixed: light-dark(#071940, #071940);
    --md-sys-color-on-primary-fixed-variant: light-dark(#36466e, #36466e);
    --md-sys-color-on-secondary: light-dark(#ffffff, #2a3040);
    --md-sys-color-on-secondary-container: light-dark(#5d6274, #afb4c9);
    --md-sys-color-on-secondary-fixed: light-dark(#161b2b, #161b2b);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#414658, #414658);
    --md-sys-color-on-surface: light-dark(#1b1b1e, #e4e2e6);
    --md-sys-color-on-surface-variant: light-dark(#45464e, #c5c6cf);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #462b00);
    --md-sys-color-on-tertiary-container: light-dark(#ba915c, #ba915c);
    --md-sys-color-on-tertiary-fixed: light-dark(#2a1800, #2a1800);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#5f4113, #5f4113);
    --md-sys-color-outline: light-dark(#75777f, #8f9099);
    --md-sys-color-outline-variant: light-dark(#c5c6cf, #45464e);
    --md-sys-color-primary: light-dark(#071a40, #b6c5f5);
    --md-sys-color-primary-container: light-dark(#1f2f56, #1f2f56);
    --md-sys-color-primary-dim: light-dark(#42517a, #bbcbfb);
    --md-sys-color-primary-fixed: light-dark(#dae2ff, #dae2ff);
    --md-sys-color-primary-fixed-dim: light-dark(#b6c5f5, #b6c5f5);
    --md-sys-color-primary-palette-key-color: light-dark(#6776a1, #6776a1);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#585e70, #c1c6db);
    --md-sys-color-secondary-container: light-dark(#dadff4, #414658);
    --md-sys-color-secondary-dim: light-dark(#4d5264, #dde2f7);
    --md-sys-color-secondary-fixed: light-dark(#dde2f7, #dde2f7);
    --md-sys-color-secondary-fixed-dim: light-dark(#c1c6db, #c1c6db);
    --md-sys-color-secondary-palette-key-color: light-dark(#71778a, #71778a);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fbf8fc, #131316);
    --md-sys-color-surface-bright: light-dark(#fbf8fc, #39393c);
    --md-sys-color-surface-container: light-dark(#efedf1, #1f1f22);
    --md-sys-color-surface-container-high: light-dark(#e9e7eb, #292a2d);
    --md-sys-color-surface-container-highest: light-dark(#e4e2e6, #343438);
    --md-sys-color-surface-container-low: light-dark(#f5f3f7, #1b1b1e);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0d0e11);
    --md-sys-color-surface-dim: light-dark(#dbd9dd, #131316);
    --md-sys-color-surface-tint: light-dark(#4e5d87, #b6c5f5);
    --md-sys-color-surface-variant: light-dark(#e1e2ec, #45464e);
    --md-sys-color-tertiary: light-dark(#2a1800, #ecbf86);
    --md-sys-color-tertiary-container: light-dark(#462b00, #462b00);
    --md-sys-color-tertiary-dim: light-dark(#6c4c1e, #fbcd92);
    --md-sys-color-tertiary-fixed: light-dark(#ffddb5, #ffddb5);
    --md-sys-color-tertiary-fixed-dim: light-dark(#ecbf86, #ecbf86);
    --md-sys-color-tertiary-palette-key-color: light-dark(#462b00, #462b00);
}
:root[low-contrast] {
    --md-sys-color-background: light-dark(#fbf8fc, #131316);
    --md-sys-color-error: light-dark(#da342e, #ff5449);
    --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
    --md-sys-color-error-dim: light-dark(#c82623, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#99989b, #646467);
    --md-sys-color-inverse-primary: light-dark(#6979a4, #7080ab);
    --md-sys-color-inverse-surface: light-dark(#303033, #e4e2e6);
    --md-sys-color-neutral-palette-key-color: light-dark(#77777a, #77777a);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#757780, #757780);
    --md-sys-color-on-background: light-dark(#908f93, #626265);
    --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
    --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
    --md-sys-color-on-primary: light-dark(#fefcff, #18284f);
    --md-sys-color-on-primary-container: light-dark(#6a79a4, #7483af);
    --md-sys-color-on-primary-fixed: light-dark(#3c4b74, #b3c3f3);
    --md-sys-color-on-primary-fixed-variant: light-dark(#566590, #909fcd);
    --md-sys-color-on-secondary: light-dark(#fefcff, #242939);
    --md-sys-color-on-secondary-container: light-dark(#74798c, #7e8497);
    --md-sys-color-on-secondary-fixed: light-dark(#464c5d, #bec3d8);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#616678, #9a9fb4);
    --md-sys-color-on-surface: light-dark(#5f5f62, #a3a2a6);
    --md-sys-color-on-surface-variant: light-dark(#797a83, #81838b);
    --md-sys-color-on-tertiary: light-dark(#fffbff, #3d2500);
    --md-sys-color-on-tertiary-container: light-dark(#987341, #a47d4a);
    --md-sys-color-on-tertiary-fixed: light-dark(#654618, #e9bc83);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#836030, #c29963);
    --md-sys-color-outline: light-dark(#b1b1bb, #52545c);
    --md-sys-color-outline-variant: light-dark(#d8d8e2, #383a41);
    --md-sys-color-primary: light-dark(#64749f, #8090bd);
    --md-sys-color-primary-container: light-dark(#ccd8ff, #293960);
    --md-sys-color-primary-dim: light-dark(#586791, #8190bd);
    --md-sys-color-primary-fixed: light-dark(#ccd8ff, #415079);
    --md-sys-color-primary-fixed-dim: light-dark(#adbceb, #293960);
    --md-sys-color-primary-palette-key-color: light-dark(#6776a1, #6776a1);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#6f7487, #8b90a4);
    --md-sys-color-secondary-container: light-dark(#d3d8ee, #343a4a);
    --md-sys-color-secondary-dim: light-dark(#62677a, #8b91a4);
    --md-sys-color-secondary-fixed: light-dark(#d3d8ee, #4b5162);
    --md-sys-color-secondary-fixed-dim: light-dark(#b7bcd1, #343a4a);
    --md-sys-color-secondary-palette-key-color: light-dark(#71778a, #71778a);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fbf8fc, #131316);
    --md-sys-color-surface-bright: light-dark(#fbf8fc, #39393c);
    --md-sys-color-surface-container: light-dark(#efedf1, #1f1f22);
    --md-sys-color-surface-container-high: light-dark(#e9e7eb, #292a2d);
    --md-sys-color-surface-container-highest: light-dark(#e4e2e6, #343438);
    --md-sys-color-surface-container-low: light-dark(#f5f3f7, #1b1b1e);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0d0e11);
    --md-sys-color-surface-dim: light-dark(#dbd9dd, #131316);
    --md-sys-color-surface-tint: light-dark(#4e5d87, #b6c5f5);
    --md-sys-color-surface-variant: light-dark(#e1e2ec, #45464e);
    --md-sys-color-tertiary: light-dark(#936e3c, #b18a55);
    --md-sys-color-tertiary-container: light-dark(#ffd198, #513407);
    --md-sys-color-tertiary-dim: light-dark(#846131, #b28a56);
    --md-sys-color-tertiary-fixed: light-dark(#ffd198, #6b4b1c);
    --md-sys-color-tertiary-fixed-dim: light-dark(#e2b67d, #513407);
    --md-sys-color-tertiary-palette-key-color: light-dark(#462b00, #462b00);
}
:root[high-contrast] {
    --md-sys-color-background: light-dark(#fbf8fc, #131316);
    --md-sys-color-error: light-dark(#600004, #ffece9);
    --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
    --md-sys-color-error-dim: light-dark(#480002, #ffedea);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
    --md-sys-color-inverse-primary: light-dark(#b6c5f5, #37476f);
    --md-sys-color-inverse-surface: light-dark(#303033, #e4e2e6);
    --md-sys-color-neutral-palette-key-color: light-dark(#77777a, #77777a);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#757780, #757780);
    --md-sys-color-on-background: light-dark(#1b1b1e, #e4e2e6);
    --md-sys-color-on-error: light-dark(#ffffff, #000000);
    --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
    --md-sys-color-on-primary: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-container: light-dark(#e8ebff, #000926);
    --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #000f32);
    --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-container: light-dark(#ffffff, #060b19);
    --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #0b1120);
    --md-sys-color-on-surface: light-dark(#000000, #ffffff);
    --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-container: light-dark(#ffe9d2, #140900);
    --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #1c0e00);
    --md-sys-color-outline: light-dark(#2a2c33, #efeff9);
    --md-sys-color-outline-variant: light-dark(#474951, #c1c2cb);
    --md-sys-color-primary: light-dark(#071a40, #edefff);
    --md-sys-color-primary-container: light-dark(#1f2f56, #b2c2f1);
    --md-sys-color-primary-dim: light-dark(#0c1e44, #eef0ff);
    --md-sys-color-primary-fixed: light-dark(#394870, #dae2ff);
    --md-sys-color-primary-fixed-dim: light-dark(#213158, #b6c5f5);
    --md-sys-color-primary-palette-key-color: light-dark(#6776a1, #6776a1);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#262c3c, #edefff);
    --md-sys-color-secondary-container: light-dark(#43495a, #bdc2d7);
    --md-sys-color-secondary-dim: light-dark(#191f2f, #eef0ff);
    --md-sys-color-secondary-fixed: light-dark(#43495a, #dde2f7);
    --md-sys-color-secondary-fixed-dim: light-dark(#2d3243, #c1c6db);
    --md-sys-color-secondary-palette-key-color: light-dark(#71778a, #71778a);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fbf8fc, #131316);
    --md-sys-color-surface-bright: light-dark(#fbf8fc, #505053);
    --md-sys-color-surface-container: light-dark(#e4e2e6, #303033);
    --md-sys-color-surface-container-high: light-dark(#d5d4d7, #3b3b3e);
    --md-sys-color-surface-container-highest: light-dark(#c7c6ca, #46464a);
    --md-sys-color-surface-container-low: light-dark(#f2f0f4, #1f1f22);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#bab8bc, #131316);
    --md-sys-color-surface-tint: light-dark(#4e5d87, #b6c5f5);
    --md-sys-color-surface-variant: light-dark(#e1e2ec, #45464e);
    --md-sys-color-tertiary: light-dark(#2a1800, #ffeddb);
    --md-sys-color-tertiary-container: light-dark(#462b00, #e8bb82);
    --md-sys-color-tertiary-dim: light-dark(#2f1b00, #ffeedd);
    --md-sys-color-tertiary-fixed: light-dark(#624315, #ffddb5);
    --md-sys-color-tertiary-fixed-dim: light-dark(#482d01, #ecbf86);
    --md-sys-color-tertiary-palette-key-color: light-dark(#462b00, #462b00);
}
