:root {
    --md-sys-color-background: light-dark(#fdf8fc, #141316);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-dim: light-dark(#a80710, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f4eff4, #323033);
    --md-sys-color-inverse-primary: light-dark(#cfbef2, #645784);
    --md-sys-color-inverse-surface: light-dark(#323033, #e6e1e5);
    --md-sys-color-neutral-palette-key-color: light-dark(#79767a, #79767a);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a757f, #7a757f);
    --md-sys-color-on-background: light-dark(#1c1b1e, #e6e1e5);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #352953);
    --md-sys-color-on-primary-container: light-dark(#fffbff, #090024);
    --md-sys-color-on-primary-fixed: light-dark(#20143d, #20143d);
    --md-sys-color-on-primary-fixed-variant: light-dark(#4c406b, #4c406b);
    --md-sys-color-on-secondary: light-dark(#ffffff, #332e3f);
    --md-sys-color-on-secondary-container: light-dark(#686175, #bdb5cb);
    --md-sys-color-on-secondary-fixed: light-dark(#1e192a, #1e192a);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#4a4456, #4a4456);
    --md-sys-color-on-surface: light-dark(#1c1b1e, #e6e1e5);
    --md-sys-color-on-surface-variant: light-dark(#49454e, #cac4cf);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #363100);
    --md-sys-color-on-tertiary-container: light-dark(#464005, #464005);
    --md-sys-color-on-tertiary-fixed: light-dark(#1f1c00, #1f1c00);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#4e480c, #4e480c);
    --md-sys-color-outline: light-dark(#7a757f, #948f99);
    --md-sys-color-outline-variant: light-dark(#cac4cf, #49454e);
    --md-sys-color-primary: light-dark(#625582, #cfbef2);
    --md-sys-color-primary-container: light-dark(#7b6d9c, #9889ba);
    --md-sys-color-primary-dim: light-dark(#584b78, #dac9fe);
    --md-sys-color-primary-fixed: light-dark(#e9ddff, #e9ddff);
    --md-sys-color-primary-fixed-dim: light-dark(#cfbef2, #cfbef2);
    --md-sys-color-primary-palette-key-color: light-dark(#7e709f, #7e709f);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#625b6f, #ccc3da);
    --md-sys-color-secondary-container: light-dark(#e8def6, #4c4659);
    --md-sys-color-secondary-dim: light-dark(#564f63, #e8def6);
    --md-sys-color-secondary-fixed: light-dark(#e8def6, #e8def6);
    --md-sys-color-secondary-fixed-dim: light-dark(#ccc3da, #ccc3da);
    --md-sys-color-secondary-palette-key-color: light-dark(#7b7488, #7b7488);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fdf8fc, #141316);
    --md-sys-color-surface-bright: light-dark(#fdf8fc, #3a383c);
    --md-sys-color-surface-container: light-dark(#f2ecf1, #201f22);
    --md-sys-color-surface-container-high: light-dark(#ece7eb, #2b292d);
    --md-sys-color-surface-container-highest: light-dark(#e6e1e5, #363437);
    --md-sys-color-surface-container-low: light-dark(#f7f2f6, #1c1b1e);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0f0e11);
    --md-sys-color-surface-dim: light-dark(#ddd8dd, #141316);
    --md-sys-color-surface-tint: light-dark(#645784, #cfbef2);
    --md-sys-color-surface-variant: light-dark(#e7e0eb, #49454e);
    --md-sys-color-tertiary: light-dark(#666023, #d2c880);
    --md-sys-color-tertiary-container: light-dark(#b6ad68, #b6ad68);
    --md-sys-color-tertiary-dim: light-dark(#5a5318, #fdf3a7);
    --md-sys-color-tertiary-fixed: light-dark(#efe49a, #efe49a);
    --md-sys-color-tertiary-fixed-dim: light-dark(#d2c880, #d2c880);
    --md-sys-color-tertiary-palette-key-color: light-dark(#b6ad68, #b6ad68);
}
:root[low-contrast] {
    --md-sys-color-background: light-dark(#fdf8fc, #141316);
    --md-sys-color-error: light-dark(#da342e, #ff5449);
    --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
    --md-sys-color-error-dim: light-dark(#c82623, #ff554a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#9b979b, #666367);
    --md-sys-color-inverse-primary: light-dark(#8072a1, #8779a9);
    --md-sys-color-inverse-surface: light-dark(#323033, #e6e1e5);
    --md-sys-color-neutral-palette-key-color: light-dark(#79767a, #79767a);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a757f, #7a757f);
    --md-sys-color-on-background: light-dark(#928f93, #646165);
    --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
    --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
    --md-sys-color-on-primary: light-dark(#fffbff, #2f224c);
    --md-sys-color-on-primary-container: light-dark(#8173a2, #8b7dac);
    --md-sys-color-on-primary-fixed: light-dark(#524571, #ccbcf0);
    --md-sys-color-on-primary-fixed-variant: light-dark(#6d5f8d, #a898ca);
    --md-sys-color-on-secondary: light-dark(#fffbff, #2c2738);
    --md-sys-color-on-secondary-container: light-dark(#7e778b, #888196);
    --md-sys-color-on-secondary-fixed: light-dark(#4f495c, #c9c0d7);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#6a6377, #a59cb2);
    --md-sys-color-on-surface: light-dark(#615e62, #a6a2a6);
    --md-sys-color-on-surface-variant: light-dark(#7d7982, #86818b);
    --md-sys-color-on-tertiary: light-dark(#fffbff, #2f2a00);
    --md-sys-color-on-tertiary-container: light-dark(#837b3c, #8e8645);
    --md-sys-color-on-tertiary-fixed: light-dark(#544d12, #cfc67e);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#6f682a, #aaa25e);
    --md-sys-color-outline: light-dark(#b5b0ba, #56525b);
    --md-sys-color-outline-variant: light-dark(#ddd7e1, #3c3941);
    --md-sys-color-primary: light-dark(#7b6d9c, #9889ba);
    --md-sys-color-primary-container: light-dark(#e1d2ff, #3f335e);
    --md-sys-color-primary-dim: light-dark(#6e618f, #988aba);
    --md-sys-color-primary-fixed: light-dark(#e1d2ff, #574a76);
    --md-sys-color-primary-fixed-dim: light-dark(#c5b5e9, #3f335e);
    --md-sys-color-primary-palette-key-color: light-dark(#7e709f, #7e709f);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#787186, #958da3);
    --md-sys-color-secondary-container: light-dark(#ded5ec, #3d3749);
    --md-sys-color-secondary-dim: light-dark(#6b6579, #958ea3);
    --md-sys-color-secondary-fixed: light-dark(#ded5ec, #544e61);
    --md-sys-color-secondary-fixed-dim: light-dark(#c2b9d0, #3d3749);
    --md-sys-color-secondary-palette-key-color: light-dark(#7b7488, #7b7488);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fdf8fc, #141316);
    --md-sys-color-surface-bright: light-dark(#fdf8fc, #3a383c);
    --md-sys-color-surface-container: light-dark(#f2ecf1, #201f22);
    --md-sys-color-surface-container-high: light-dark(#ece7eb, #2b292d);
    --md-sys-color-surface-container-highest: light-dark(#e6e1e5, #363437);
    --md-sys-color-surface-container-low: light-dark(#f7f2f6, #1c1b1e);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #0f0e11);
    --md-sys-color-surface-dim: light-dark(#ddd8dd, #141316);
    --md-sys-color-surface-tint: light-dark(#645784, #cfbef2);
    --md-sys-color-surface-variant: light-dark(#e7e0eb, #49454e);
    --md-sys-color-tertiary: light-dark(#7d7637, #9b9250);
    --md-sys-color-tertiary-container: light-dark(#e5db91, #413b01);
    --md-sys-color-tertiary-dim: light-dark(#70692c, #9b9351);
    --md-sys-color-tertiary-fixed: light-dark(#e5db91, #595217);
    --md-sys-color-tertiary-fixed-dim: light-dark(#c8bf78, #413b01);
    --md-sys-color-tertiary-palette-key-color: light-dark(#b6ad68, #b6ad68);
}
:root[high-contrast] {
    --md-sys-color-background: light-dark(#fdf8fc, #141316);
    --md-sys-color-error: light-dark(#600004, #ffece9);
    --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
    --md-sys-color-error-dim: light-dark(#480002, #ffedea);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
    --md-sys-color-inverse-primary: light-dark(#cfbef2, #4d416c);
    --md-sys-color-inverse-surface: light-dark(#323033, #e6e1e5);
    --md-sys-color-neutral-palette-key-color: light-dark(#79767a, #79767a);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a757f, #7a757f);
    --md-sys-color-on-background: light-dark(#1c1b1e, #e6e1e5);
    --md-sys-color-on-error: light-dark(#ffffff, #000000);
    --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
    --md-sys-color-on-primary: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-container: light-dark(#ffffff, #090024);
    --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #150832);
    --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-container: light-dark(#ffffff, #0d0918);
    --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #130e1f);
    --md-sys-color-on-surface: light-dark(#000000, #ffffff);
    --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-container: light-dark(#ffffff, #0e0b00);
    --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #141100);
    --md-sys-color-outline: light-dark(#2e2b33, #f4eef9);
    --md-sys-color-outline-variant: light-dark(#4b4850, #c6c0cb);
    --md-sys-color-primary: light-dark(#31254f, #f5edff);
    --md-sys-color-primary-container: light-dark(#4f426e, #cbbbee);
    --md-sys-color-primary-dim: light-dark(#241841, #f6edff);
    --md-sys-color-primary-fixed: light-dark(#4f426e, #e9ddff);
    --md-sys-color-primary-fixed-dim: light-dark(#382b56, #cfbef2);
    --md-sys-color-primary-palette-key-color: light-dark(#7e709f, #7e709f);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#2f293b, #f5edff);
    --md-sys-color-secondary-container: light-dark(#4c4659, #c8bfd6);
    --md-sys-color-secondary-dim: light-dark(#221d2e, #f6edff);
    --md-sys-color-secondary-fixed: light-dark(#4c4659, #e8def6);
    --md-sys-color-secondary-fixed-dim: light-dark(#353042, #ccc3da);
    --md-sys-color-secondary-palette-key-color: light-dark(#7b7488, #7b7488);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fdf8fc, #141316);
    --md-sys-color-surface-bright: light-dark(#fdf8fc, #524f53);
    --md-sys-color-surface-container: light-dark(#e6e1e5, #323033);
    --md-sys-color-surface-container-high: light-dark(#d8d3d7, #3d3b3e);
    --md-sys-color-surface-container-highest: light-dark(#cac5c9, #48464a);
    --md-sys-color-surface-container-low: light-dark(#f4eff4, #201f22);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#bcb7bc, #141316);
    --md-sys-color-surface-tint: light-dark(#645784, #cfbef2);
    --md-sys-color-surface-variant: light-dark(#e7e0eb, #49454e);
    --md-sys-color-tertiary: light-dark(#312d00, #fdf2a6);
    --md-sys-color-tertiary-container: light-dark(#504a0f, #cec47d);
    --md-sys-color-tertiary-dim: light-dark(#242000, #fdf3a7);
    --md-sys-color-tertiary-fixed: light-dark(#504a0f, #efe49a);
    --md-sys-color-tertiary-fixed-dim: light-dark(#393300, #d2c880);
    --md-sys-color-tertiary-palette-key-color: light-dark(#b6ad68, #b6ad68);
}
