:root {
    --md-sys-color-background: light-dark(#fdf7fe, #000000);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f5eff5, #322f34);
    --md-sys-color-inverse-primary: light-dark(#d0bcff, #675396);
    --md-sys-color-inverse-surface: light-dark(#322f34, #e6e1e7);
    --md-sys-color-neutral-palette-key-color: light-dark(#79767c, #79767c);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a7580, #7a7580);
    --md-sys-color-on-background: light-dark(#1d1b1f, #e6e1e7);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #372464);
    --md-sys-color-on-primary-container: light-dark(#fffbff, #301c5d);
    --md-sys-color-on-primary-fixed: light-dark(#220b4e, #220b4e);
    --md-sys-color-on-primary-fixed-variant: light-dark(#4e3b7c, #4e3b7c);
    --md-sys-color-on-secondary: light-dark(#ffffff, #342c46);
    --md-sys-color-on-secondary-container: light-dark(#69607c, #bbb0d0);
    --md-sys-color-on-secondary-fixed: light-dark(#1f1730, #1f1730);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#4b425d, #4b425d);
    --md-sys-color-on-surface: light-dark(#1d1b1f, #e6e1e7);
    --md-sys-color-on-surface-variant: light-dark(#49454f, #cbc4d1);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #353100);
    --md-sys-color-on-tertiary-container: light-dark(#454100, #454100);
    --md-sys-color-on-tertiary-fixed: light-dark(#1f1c00, #1f1c00);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#4d4800, #4d4800);
    --md-sys-color-outline: light-dark(#7a7580, #948e9a);
    --md-sys-color-outline-variant: light-dark(#cbc4d1, #49454f);
    --md-sys-color-primary: light-dark(#645193, #d0bcff);
    --md-sys-color-primary-container: light-dark(#7d69ae, #9a85cc);
    --md-sys-color-primary-fixed: light-dark(#e9ddff, #e9ddff);
    --md-sys-color-primary-fixed-dim: light-dark(#d0bcff, #d0bcff);
    --md-sys-color-primary-palette-key-color: light-dark(#806cb1, #806cb1);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#635a76, #cdc1e2);
    --md-sys-color-secondary-container: light-dark(#e9ddff, #4b425d);
    --md-sys-color-secondary-fixed: light-dark(#e9ddff, #e9ddff);
    --md-sys-color-secondary-fixed-dim: light-dark(#cdc1e2, #cdc1e2);
    --md-sys-color-secondary-palette-key-color: light-dark(#7c7290, #7c7290);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fdf7fe, #000000);
    --md-sys-color-surface-bright: light-dark(#fdf7fe, #3b383d);
    --md-sys-color-surface-container: light-dark(#f2ecf3, #211f23);
    --md-sys-color-surface-container-high: light-dark(#ece6ed, #2b292e);
    --md-sys-color-surface-container-highest: light-dark(#e6e1e7, #363439);
    --md-sys-color-surface-container-low: light-dark(#f8f2f8, #1d1b1f);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#ded8df, #141317);
    --md-sys-color-surface-tint: light-dark(#675396, #d0bcff);
    --md-sys-color-surface-variant: light-dark(#e7e0ed, #49454f);
    --md-sys-color-tertiary: light-dark(#666001, #d2ca67);
    --md-sys-color-tertiary-container: light-dark(#b6ae4f, #b6ae4f);
    --md-sys-color-tertiary-fixed: light-dark(#efe680, #efe680);
    --md-sys-color-tertiary-fixed-dim: light-dark(#d2c967, #d2c967);
    --md-sys-color-tertiary-palette-key-color: light-dark(#b6ae4f, #b6ae4f);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fdf7fe, #000000);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#9b979d, #666369);
        --md-sys-color-inverse-primary: light-dark(#836eb4, #8a75bb);
        --md-sys-color-inverse-surface: light-dark(#322f34, #e6e1e7);
        --md-sys-color-neutral-palette-key-color: light-dark(#79767c, #79767c);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a7580, #7a7580);
        --md-sys-color-on-background: light-dark(#938f95, #646167);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fffbff, #311c5d);
        --md-sys-color-on-primary-container: light-dark(#836fb4, #8d79bf);
        --md-sys-color-on-primary-fixed: light-dark(#544182, #ceb9ff);
        --md-sys-color-on-primary-fixed-variant: light-dark(#6f5b9f, #aa95dd);
        --md-sys-color-on-secondary: light-dark(#fffbff, #2d263f);
        --md-sys-color-on-secondary-container: light-dark(#7f7593, #897f9e);
        --md-sys-color-on-secondary-fixed: light-dark(#504863, #cabfe0);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#6b627f, #a69bba);
        --md-sys-color-on-surface: light-dark(#615e63, #a6a1a7);
        --md-sys-color-on-surface-variant: light-dark(#7e7984, #86818d);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #2e2b00);
        --md-sys-color-on-tertiary-container: light-dark(#837c22, #8e862c);
        --md-sys-color-on-tertiary-fixed: light-dark(#534e00, #cfc765);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#6f680c, #aaa345);
        --md-sys-color-outline: light-dark(#b6afbc, #56525d);
        --md-sys-color-outline-variant: light-dark(#ddd6e3, #3c3842);
        --md-sys-color-primary: light-dark(#7d69ae, #9a85cc);
        --md-sys-color-primary-container: light-dark(#e1d2ff, #412e6f);
        --md-sys-color-primary-fixed: light-dark(#e1d2ff, #594687);
        --md-sys-color-primary-fixed-dim: light-dark(#c8b1fc, #412e6f);
        --md-sys-color-primary-palette-key-color: light-dark(#806cb1, #806cb1);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#79708d, #968cab);
        --md-sys-color-secondary-container: light-dark(#e0d3f5, #3e3650);
        --md-sys-color-secondary-fixed: light-dark(#e0d3f5, #554d68);
        --md-sys-color-secondary-fixed-dim: light-dark(#c3b8d8, #3e3650);
        --md-sys-color-secondary-palette-key-color: light-dark(#7c7290, #7c7290);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fdf7fe, #000000);
        --md-sys-color-surface-bright: light-dark(#fdf7fe, #3b383d);
        --md-sys-color-surface-container: light-dark(#f2ecf3, #211f23);
        --md-sys-color-surface-container-high: light-dark(#ece6ed, #2b292e);
        --md-sys-color-surface-container-highest: light-dark(#e6e1e7, #363439);
        --md-sys-color-surface-container-low: light-dark(#f8f2f8, #1d1b1f);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#ded8df, #141317);
        --md-sys-color-surface-tint: light-dark(#675396, #d0bcff);
        --md-sys-color-surface-variant: light-dark(#e7e0ed, #49454f);
        --md-sys-color-tertiary: light-dark(#7d771c, #9b9337);
        --md-sys-color-tertiary-container: light-dark(#e5dc77, #3f3b00);
        --md-sys-color-tertiary-fixed: light-dark(#e5dc77, #585300);
        --md-sys-color-tertiary-fixed-dim: light-dark(#c8c05f, #3f3b00);
        --md-sys-color-tertiary-palette-key-color: light-dark(#b6ae4f, #b6ae4f);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fdf7fe, #000000);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#d0bcff, #503c7e);
        --md-sys-color-inverse-surface: light-dark(#322f34, #e6e1e7);
        --md-sys-color-neutral-palette-key-color: light-dark(#79767c, #79767c);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a7580, #7a7580);
        --md-sys-color-on-background: light-dark(#1d1b1f, #e6e1e7);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #100032);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #170041);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #0e071f);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #140d25);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #0d0c00);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #131200);
        --md-sys-color-outline: light-dark(#2e2b34, #f5edfb);
        --md-sys-color-outline-variant: light-dark(#4b4752, #c7c0cd);
        --md-sys-color-primary: light-dark(#331f60, #f5edff);
        --md-sys-color-primary-container: light-dark(#513e7f, #cdb7ff);
        --md-sys-color-primary-fixed: light-dark(#513e7f, #e9ddff);
        --md-sys-color-primary-fixed-dim: light-dark(#3a2667, #d0bcff);
        --md-sys-color-primary-palette-key-color: light-dark(#806cb1, #806cb1);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#302841, #f5edff);
        --md-sys-color-secondary-container: light-dark(#4d4560, #c9bdde);
        --md-sys-color-secondary-fixed: light-dark(#4d4560, #e9ddff);
        --md-sys-color-secondary-fixed-dim: light-dark(#362f48, #cdc1e2);
        --md-sys-color-secondary-palette-key-color: light-dark(#7c7290, #7c7290);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fdf7fe, #000000);
        --md-sys-color-surface-bright: light-dark(#fdf7fe, #524f54);
        --md-sys-color-surface-container: light-dark(#e6e1e7, #322f34);
        --md-sys-color-surface-container-high: light-dark(#d8d3d9, #3d3a3f);
        --md-sys-color-surface-container-highest: light-dark(#cac5cb, #48464b);
        --md-sys-color-surface-container-low: light-dark(#f5eff5, #211f23);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#bcb7bd, #141317);
        --md-sys-color-surface-tint: light-dark(#675396, #d0bcff);
        --md-sys-color-surface-variant: light-dark(#e7e0ed, #49454f);
        --md-sys-color-tertiary: light-dark(#302d00, #fdf38c);
        --md-sys-color-tertiary-container: light-dark(#504b00, #cec664);
        --md-sys-color-tertiary-fixed: light-dark(#504b00, #efe680);
        --md-sys-color-tertiary-fixed-dim: light-dark(#373400, #d2c967);
        --md-sys-color-tertiary-palette-key-color: light-dark(#b6ae4f, #b6ae4f);
    }

}
