:root {
    --md-sys-color-background: light-dark(#fef7ff, #000000);
    --md-sys-color-error: light-dark(#ba1a1a, #ffb4ab);
    --md-sys-color-error-container: light-dark(#ffdad6, #93000a);
    --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
    --md-sys-color-inverse-on-surface: light-dark(#f5eef9, #322f37);
    --md-sys-color-inverse-primary: light-dark(#d1bcff, #6b47bb);
    --md-sys-color-inverse-surface: light-dark(#322f37, #e7e0eb);
    --md-sys-color-neutral-palette-key-color: light-dark(#7a757e, #7a757e);
    --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a7483, #7a7483);
    --md-sys-color-on-background: light-dark(#1d1a22, #e7e0eb);
    --md-sys-color-on-error: light-dark(#ffffff, #690005);
    --md-sys-color-on-error-container: light-dark(#93000a, #ffdad6);
    --md-sys-color-on-primary: light-dark(#ffffff, #3c088b);
    --md-sys-color-on-primary-container: light-dark(#e0d1ff, #e0d1ff);
    --md-sys-color-on-primary-fixed: light-dark(#23005b, #23005b);
    --md-sys-color-on-primary-fixed-variant: light-dark(#532ca2, #532ca2);
    --md-sys-color-on-secondary: light-dark(#ffffff, #362954);
    --md-sys-color-on-secondary-container: light-dark(#605280, #bdade1);
    --md-sys-color-on-secondary-fixed: light-dark(#20133d, #20133d);
    --md-sys-color-on-secondary-fixed-variant: light-dark(#4d3f6c, #4d3f6c);
    --md-sys-color-on-surface: light-dark(#1d1a22, #e7e0eb);
    --md-sys-color-on-surface-variant: light-dark(#494452, #cbc3d4);
    --md-sys-color-on-tertiary: light-dark(#ffffff, #472a00);
    --md-sys-color-on-tertiary-container: light-dark(#ffd09a, #ffd09a);
    --md-sys-color-on-tertiary-fixed: light-dark(#2a1700, #2a1700);
    --md-sys-color-on-tertiary-fixed-variant: light-dark(#653e00, #653e00);
    --md-sys-color-outline: light-dark(#7a7484, #948e9e);
    --md-sys-color-outline-variant: light-dark(#cbc3d4, #494452);
    --md-sys-color-primary: light-dark(#532ca2, #d1bcff);
    --md-sys-color-primary-container: light-dark(#6b47bb, #6b47bb);
    --md-sys-color-primary-fixed: light-dark(#e9ddff, #e9ddff);
    --md-sys-color-primary-fixed-dim: light-dark(#d1bcff, #d1bcff);
    --md-sys-color-primary-palette-key-color: light-dark(#8561d6, #8561d6);
    --md-sys-color-scrim: light-dark(#000000, #000000);
    --md-sys-color-secondary: light-dark(#655785, #cfbef3);
    --md-sys-color-secondary-container: light-dark(#dac9fe, #4d3f6c);
    --md-sys-color-secondary-fixed: light-dark(#e9ddff, #e9ddff);
    --md-sys-color-secondary-fixed-dim: light-dark(#cfbef3, #cfbef3);
    --md-sys-color-secondary-palette-key-color: light-dark(#7e709f, #7e709f);
    --md-sys-color-shadow: light-dark(#000000, #000000);
    --md-sys-color-surface: light-dark(#fef7ff, #000000);
    --md-sys-color-surface-bright: light-dark(#fef7ff, #3b3840);
    --md-sys-color-surface-container: light-dark(#f2ebf6, #211e26);
    --md-sys-color-surface-container-high: light-dark(#ede6f0, #2b2930);
    --md-sys-color-surface-container-highest: light-dark(#e7e0eb, #36333b);
    --md-sys-color-surface-container-low: light-dark(#f8f1fc, #1d1a22);
    --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
    --md-sys-color-surface-dim: light-dark(#ded8e2, #151219);
    --md-sys-color-surface-tint: light-dark(#6b47bb, #d1bcff);
    --md-sys-color-surface-variant: light-dark(#e8dff1, #494452);
    --md-sys-color-tertiary: light-dark(#653e00, #fdb965);
    --md-sys-color-tertiary-container: light-dark(#855300, #855300);
    --md-sys-color-tertiary-fixed: light-dark(#ffddb8, #ffddb8);
    --md-sys-color-tertiary-fixed-dim: light-dark(#fdb965, #fdb965);
    --md-sys-color-tertiary-palette-key-color: light-dark(#855300, #855300);
}
@media (prefers-contrast: less) {
    :root {
        --md-sys-color-background: light-dark(#fef7ff, #000000);
        --md-sys-color-error: light-dark(#da342e, #ff5449);
        --md-sys-color-error-container: light-dark(#ffcdc7, #7b0007);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#9b96a0, #67636c);
        --md-sys-color-inverse-primary: light-dark(#8764d9, #8e6be1);
        --md-sys-color-inverse-surface: light-dark(#322f37, #e7e0eb);
        --md-sys-color-neutral-palette-key-color: light-dark(#7a757e, #7a757e);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a7483, #7a7483);
        --md-sys-color-on-background: light-dark(#938e98, #656169);
        --md-sys-color-on-error: light-dark(#fffbff, #5c0003);
        --md-sys-color-on-error-container: light-dark(#e23a32, #f0443b);
        --md-sys-color-on-primary: light-dark(#fffbff, #34007f);
        --md-sys-color-on-primary-container: light-dark(#8864d9, #926fe5);
        --md-sys-color-on-primary-fixed: light-dark(#5833a7, #ceb9ff);
        --md-sys-color-on-primary-fixed-variant: light-dark(#7350c4, #ae8cff);
        --md-sys-color-on-secondary: light-dark(#fffbff, #2f224c);
        --md-sys-color-on-secondary-container: light-dark(#8172a2, #8b7cad);
        --md-sys-color-on-secondary-fixed: light-dark(#524571, #cdbcf0);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#6d5f8d, #a898ca);
        --md-sys-color-on-surface: light-dark(#615d66, #a6a1ab);
        --md-sys-color-on-surface-variant: light-dark(#7e7887, #878090);
        --md-sys-color-on-tertiary: light-dark(#fffbff, #3e2400);
        --md-sys-color-on-tertiary-container: light-dark(#a66e20, #b1782a);
        --md-sys-color-on-tertiary-fixed: light-dark(#6d4300, #fab763);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#8f5b0a, #d19443);
        --md-sys-color-outline: light-dark(#b6afc0, #575260);
        --md-sys-color-outline-variant: light-dark(#ded6e7, #3c3845);
        --md-sys-color-primary: light-dark(#825fd3, #9f7cf2);
        --md-sys-color-primary-container: light-dark(#e1d2ff, #461b94);
        --md-sys-color-primary-fixed: light-dark(#e1d2ff, #5d38ad);
        --md-sys-color-primary-fixed-dim: light-dark(#c8b1ff, #461b94);
        --md-sys-color-primary-palette-key-color: light-dark(#8561d6, #8561d6);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#7b6d9c, #9889ba);
        --md-sys-color-secondary-container: light-dark(#e1d2ff, #40335e);
        --md-sys-color-secondary-fixed: light-dark(#e1d2ff, #574a77);
        --md-sys-color-secondary-fixed-dim: light-dark(#c5b5e9, #40335e);
        --md-sys-color-secondary-palette-key-color: light-dark(#7e709f, #7e709f);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fef7ff, #000000);
        --md-sys-color-surface-bright: light-dark(#fef7ff, #3b3840);
        --md-sys-color-surface-container: light-dark(#f2ebf6, #211e26);
        --md-sys-color-surface-container-high: light-dark(#ede6f0, #2b2930);
        --md-sys-color-surface-container-highest: light-dark(#e7e0eb, #36333b);
        --md-sys-color-surface-container-low: light-dark(#f8f1fc, #1d1a22);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#ded8e2, #151219);
        --md-sys-color-surface-tint: light-dark(#6b47bb, #d1bcff);
        --md-sys-color-surface-variant: light-dark(#e8dff1, #494452);
        --md-sys-color-tertiary: light-dark(#9f691b, #c08535);
        --md-sys-color-tertiary-container: light-dark(#ffd19c, #543300);
        --md-sys-color-tertiary-fixed: light-dark(#ffd19c, #734700);
        --md-sys-color-tertiary-fixed-dim: light-dark(#f2b05d, #543300);
        --md-sys-color-tertiary-palette-key-color: light-dark(#855300, #855300);
    }

}
@media (prefers-contrast: more) {
    :root {
        --md-sys-color-background: light-dark(#fef7ff, #000000);
        --md-sys-color-error: light-dark(#600004, #ffece9);
        --md-sys-color-error-container: light-dark(#98000a, #ffaea4);
        --md-sys-color-error-palette-key-color: light-dark(#de3730, #de3730);
        --md-sys-color-inverse-on-surface: light-dark(#ffffff, #000000);
        --md-sys-color-inverse-primary: light-dark(#d1bcff, #542ea3);
        --md-sys-color-inverse-surface: light-dark(#322f37, #e7e0eb);
        --md-sys-color-neutral-palette-key-color: light-dark(#7a757e, #7a757e);
        --md-sys-color-neutral-variant-palette-key-color: light-dark(#7a7483, #7a7483);
        --md-sys-color-on-background: light-dark(#1d1a22, #e7e0eb);
        --md-sys-color-on-error: light-dark(#ffffff, #000000);
        --md-sys-color-on-error-container: light-dark(#ffffff, #220001);
        --md-sys-color-on-primary: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-container: light-dark(#ffffff, #100032);
        --md-sys-color-on-primary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-primary-fixed-variant: light-dark(#ffffff, #170041);
        --md-sys-color-on-secondary: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-container: light-dark(#ffffff, #0f022d);
        --md-sys-color-on-secondary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-secondary-fixed-variant: light-dark(#ffffff, #160832);
        --md-sys-color-on-surface: light-dark(#000000, #ffffff);
        --md-sys-color-on-surface-variant: light-dark(#000000, #ffffff);
        --md-sys-color-on-tertiary: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-container: light-dark(#ffffff, #140900);
        --md-sys-color-on-tertiary-fixed: light-dark(#ffffff, #000000);
        --md-sys-color-on-tertiary-fixed-variant: light-dark(#ffffff, #1c0e00);
        --md-sys-color-outline: light-dark(#2e2a37, #f5edfe);
        --md-sys-color-outline-variant: light-dark(#4c4755, #c7c0d0);
        --md-sys-color-primary: light-dark(#370085, #f5edff);
        --md-sys-color-primary-container: light-dark(#552fa4, #cdb7ff);
        --md-sys-color-primary-fixed: light-dark(#552fa4, #e9ddff);
        --md-sys-color-primary-fixed-dim: light-dark(#3e0e8d, #d1bcff);
        --md-sys-color-primary-palette-key-color: light-dark(#8561d6, #8561d6);
        --md-sys-color-scrim: light-dark(#000000, #000000);
        --md-sys-color-secondary: light-dark(#31254f, #f5edff);
        --md-sys-color-secondary-container: light-dark(#4f426e, #cbbaef);
        --md-sys-color-secondary-fixed: light-dark(#4f426e, #e9ddff);
        --md-sys-color-secondary-fixed-dim: light-dark(#382b56, #cfbef3);
        --md-sys-color-secondary-palette-key-color: light-dark(#7e709f, #7e709f);
        --md-sys-color-shadow: light-dark(#000000, #000000);
        --md-sys-color-surface: light-dark(#fef7ff, #000000);
        --md-sys-color-surface-bright: light-dark(#fef7ff, #524e57);
        --md-sys-color-surface-container: light-dark(#e7e0eb, #322f37);
        --md-sys-color-surface-container-high: light-dark(#d8d2dd, #3d3a42);
        --md-sys-color-surface-container-highest: light-dark(#cac4cf, #49454e);
        --md-sys-color-surface-container-low: light-dark(#f5eef9, #211e26);
        --md-sys-color-surface-container-lowest: light-dark(#ffffff, #000000);
        --md-sys-color-surface-dim: light-dark(#bcb7c1, #151219);
        --md-sys-color-surface-tint: light-dark(#6b47bb, #d1bcff);
        --md-sys-color-surface-variant: light-dark(#e8dff1, #494452);
        --md-sys-color-tertiary: light-dark(#412600, #ffeddc);
        --md-sys-color-tertiary-container: light-dark(#694000, #f9b661);
        --md-sys-color-tertiary-fixed: light-dark(#694000, #ffddb8);
        --md-sys-color-tertiary-fixed-dim: light-dark(#4a2c00, #fdb965);
        --md-sys-color-tertiary-palette-key-color: light-dark(#855300, #855300);
    }

}
